<div class="container">
    <div class="row d-flex align-items-stretch p-3 justify-content-center">
        <div class="card col-3 m-2 text-center">
            <img
                src="/images/asl-sign-language.jpeg"
                class="card-img-top"
                alt="abc"
            />
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">
                    Some quick example text to build on the card title and make
                    up the bulk of the card's content.
                </p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
        <div class="card col-3 m-2 text-center">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">
                    Some quick example text to build on the card title and make
                    up the bulk of the card's content.
                </p>
                <a href="/lessons" class="btn btn-primary">Lessons</a>
            </div>
        </div>
        <div class="card col-3 m-2 text-center">
            <img
                src="/workspace/aslu/src/assets/gifs/abc-ha.gif"
                class="card-img-top"
                alt="abc"
            />
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">
                    Some quick example text to build on the card title and make
                    up the bulk of the card's content.
                </p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
</div>
