---
import Unit from "~/components/content/coursepages/Unit.astro";
const { course_num } = Astro.props;
---

<h1>Course: ASL {course_num}</h1>
<Unit course_num={course_num} unit_num={course_num * 3 - 2} />
<Unit course_num={course_num} unit_num={course_num * 3 - 1} />
<Unit course_num={course_num} unit_num={course_num * 3} />
