---
const { course_num, unit_num } = Astro.props;
const number_of_lessons = 5;
const lesson_list = [...Array(number_of_lessons).keys()].map(
  (i) => ++i + (unit_num - 1) * number_of_lessons
);
---

<div class="my-container">
  <h2>{`Unit ${unit_num}`}</h2>
  <ul class="list-group list-group-flush">
    {
      lesson_list.map((lesson_num) => (
        <li class="list-group-item">
          <a
            class="btn btn-secondary"
            href={`/lessons/lesson-${lesson_num}`}
          >{`Lesson ${lesson_num}`}</a>
        </li>
      ))
    }
  </ul>
</div>
<style>
  .my-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
</style>
