---
import { SITE } from "~/config.mjs";
import LessonLayout from "~/layouts/LessonLayout.astro";

const title = `${SITE.org} | Lesson-1`;
const description = `Lesson 1 from ${SITE.org}`;
const canonical = new URL(`lesson-1`, Astro.site);
---

<LessonLayout meta={{ title, description, canonical }}>
    <main></main>
</LessonLayout>
