---
import { SITE } from "~/config.mjs";
import {
  IconTwitter,
  IconInstagram,
  IconFacebook,
  IconArrowRight,
  IconRSS,
} from "~/components/icons";
---

<footer
  class="d-flex flex-grow flex-grow-1 justify-content-center align-items-center p-3"
  style="background-color:antiquewhite "
>
  <div class="col-2">
    <div class="row">
      <a class="" href="#">{SITE.org}</a>
    </div>
    <div class="row">
      <a href="#">Terms</a>
    </div>
    <div class="row"></div>
    <a href="#">Privacy Policy</a>
  </div>
  <div class="col-2`">
    <div class="row">
      <div class="foot-header">Products</div>
      <ul class="nav nav-list flex-column">
        <li class="mb-2">
          <a href="#">Web Studio</a>
        </li>
        <li class="mb-2">
          <a href="#">DynamicBox Flex</a>
        </li>
        <li class="mb-2">
          <a href="#">Programming Forms</a>
        </li>
        <li class="mb-2">
          <a href="#">Integrations</a>
        </li>
        <li class="mb-2">
          <a href="#">Command-line</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-2">
    <div class="row">
      <div class="foot-header">Resources</div>
      <ul class="nav nav-list flex-column">
        <li class="mb-2">
          <a href="#">Documentation</a>
        </li>
        <li class="mb-2">
          <a href="#">Tutorials &amp; Guides</a>
        </li>
        <li class="mb-2">
          <a href="#">Blog</a>
        </li>
        <li class="mb-2">
          <a href="#">Support Center</a>
        </li>
        <li class="mb-2">
          <a href="#">Partners</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="col-2">
    <div class="foot-header">Company</div>
      <div class="row">
        <ul class="nav nav-list flex-column">
          <li class="mb-2">
            <a href="#">Home</a>
          </li>
          <li class="mb-2">
            <a href="#">About us</a>
          </li>
          <li class="mb-2">
            <a href="#">Company values</a>
          </li>
          <li class="mb-2">
            <a href="#">Pricing</a>
          </li>
          <li class="mb-2">
            <a href="#">Privacy Policy</a>
          </li>
        </ul>
      </div>
  </div>

  <div class="col-3">
    <ul class="inline-flex nav nav-list">
      <li>
        <a aria-label="Twitter" href="#">
          <IconTwitter />
        </a>
      </li>
      <li class="ml-4">
        <a aria-label="Instagram" href="#">
          <IconInstagram />
        </a>
      </li>
      <li class="ml-4">
        <a aria-label="Facebook" href="#">
          <IconFacebook />
        </a>
      </li>
      <li class="ml-4">
        <a aria-label="Twitter" href="/rss.xml">
          <IconRSS />
        </a>
      </li>
    </ul>
  </div>
</footer>
