---
import { IconSun, IconGithub, IconMenu, IconRSS } from "~/components/icons";
import Logo from "~/components/widgets/Logo.astro";
const {} = Astro.props;
---

<header class="">
  <nav class="navbar navbar-expand-lg navbar-fixed-top p-3" style="background-color: #e3f2fd;">
    <a class="navbar-brand" href="#">
      <Logo />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"> </span>
    </button>
    <button
      class="btn btn-primary-outline"
      aria-label="Toggle between Dark and Light mode"
      data-aw-toggle-color-scheme
    >
      <span><IconSun /></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link inline-flex" href=""
            >Home <span class="sr-only"></span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link inline-flex" href="lessons"> Lessons</a>
        </li>
        <li class="nav-item">
          <a class="nav-link inline-flex" href="#"> Pages</a>
        </li>
        <li class="nav-item">
          <a class="nav-link inline-flex" href="#"> Resources</a>
        </li>
        <li>
          <a class="nav-link inline-flex" href="blog"> Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link inline-flex" href="#">
            <span><IconGithub /></span> Github
          </a>
        </li>
      </ul>
    </div>
  </nav>
</header>

