---
const { label, link, current } = Astro.props;
var state = ""
var new_label = ""
if (Astro.url.pathname == link) {
    state = "active";
}

---
<li class="nav-item">
    <a class={"nav-link " + state} href={link}>{label}</a>
</li>
