---
---

<p>
    Hello ASL Heroes!<br />
    Great to meet you!
    <br />
</p>
<p>
    I'm president and owner of the Lifeprint Institute, a consultation business
    focusing on technology-enhanced delivery of ASL Instruction, excursion-based
    instruction (trips to amusement parks), occasional "hyper-immersions"
    (intense one-week, semi-private, residency-based immersions), and occasional
    "ASL Linguistics" and/or "Train the ASL Trainer" workshops. <br />
</p>
<p>
    For many years I was a full-time, tenured, (full) Professor of American Sign
    Language and Deaf Studies at California State University, Sacramento (a.k.a.
    "Sac State").<br />
</p>
<p>
    I was born hard of hearing and have become progressively more Deaf. I
    married a Deaf woman, work in the field of Deaf-Studies, hang out people who
    can sign, watch only movies that have captions, have a daughter who attended
    the Utah School for the Deaf preschool program, attend only Deaf churches,
    use an interpreter for work meetings, have a text-only phone, and devote my
    time to developing ASL-related resources for students, teachers,
    interpreters, and parents of Deaf children.<br />
    <br />
    Forgive this next bit of information (I share it because some people want to
    know their instructor's qualifications).<br />
</p>
<p>
    Some of my degrees and certifications (past and/or present) include:<br />
    <br />
    A doctorate in Deaf Studies &amp; Deaf Education from
    <a href="http://www.lamar.edu" style="text-decoration: none"
        >Lamar University</a
    >
    (accredited), a masters in Deaf Education (accredited), MCSE (Microsoft Certified
    Systems Engineer), MCT (Microsoft Certified Trainer), A+ (COMPTia Computer Technician),
    N+ (Network Technician), ASLTA certification (American Sign Language Teachers
    Association), and "EdNet" (Distance Education Certificate). Most of which have
    probably expired (except the degrees, last I checked they don't have an expiration
    date).<br />
</p>
<p>Some of my current and/or past experiences and qualifications include:</p>
<p>
    <br />
    - Decades of experience as a university-level ASL instructor including workshops
    presented internationally<br />
    - Authored and self-published "Sign Me Up!" <font size="1">
        (Which was a really cool 212-page ASL Guide and activity book that <b
            >sold out</b
        > all 3,000 copies. Eventually I turned it into the Lifeprint website.)</font
    ><br />
    - Directed an 18-month Interpreter Training program (twice)<br />
    - Co-chaired the Disability Law Center's Consumer Advisory Council (UT)<br
    />
    - Served a term as an <i>elected</i> board member of the Utah Association for
    the Deaf<br />
    - Parent of a child who attended the Utah State School for the Deaf pre-school
    program<br />
    - Set up and directed a not-for-profit a 501(c)(3) organization to improve Deaf
    access to services (the precursor to ASL University)<br />
    - Served as advisor to the Sign Language Association (ASL Club) at Weber State
    University (an award winning organization)<br />
    - As far as I know, I was the first ASL instructor from Utah to earn certification
    from the American Sign Language Teachers Association. A bit of nostalgia for
    you -- way back when I first joined ASLTA they called themselves S.I.G.N. (Sign
    Instructors Guidance Network). <i>Hooyah</i>! (I live in California as of
    this writing).<br />
    <br />
    Yadda, yadda, yadda... and a bunch of other fun stuff.<br />
</p>
<p>
    For around two decades I've taught in the ASL and Deaf Studies Program at
    California State University, Sacramento. In addition to the basics I also
    teach variety of Deaf Studies courses and topics including ASL linguistics,
    Classifiers (depictive signing), and special topics like "Medical Signing,"
    "Technology Signs," etc. I served quite a few years as the "Program
    Coordinator." Don't let the "coordinator" title impress you. It is just code
    for "work harder with no extra pay." <br />
</p>
<p>
    For many years I've enjoyed being married to a wonderful person named
    Belinda who likes to go by "Bee."<br />
    <br />
    We have four terrific orangutans, er, kids.
    <br />
    [Update: They all grew up and moved out.] <br />
    [Update: They all take turns moving back in.]<br />
</p>
<p>
    My wife, Bee, also teaches ASL. <br />
    (She's probably a better ASL teacher than I am -- but at least I tell better
    jokes.) [Update: She's gotten funnier over the years and now tells better jokes
    too. Dang.]<br />
</p>
<p>
    She was born deaf as a result of the rubella epidemic of ____. (I deleted
    the year for safety reasons. My safety. She might kill me while I sleep if I
    go around telling people her age.) She attended a day-program for the Deaf
    in Bakersfield, California. She learned ASL prior to learning how to talk.
    She has taught college ASL classes and numerous community education ASL
    courses for many years. She's a wonderful mom, and is
    <i>rumored</i> to be a great cook. Once in a while I <i>let</i> her beat me in
    Scrabble.(It is good for her self-esteem.)<br />
</p>
<p>People ask us if our children are Deaf.</p>
<p>
    I tell them my kids are "hard of <i>listening</i>" (heh). [That <i>isn't</i>
    a technical term folks.]<br />
    <br />
    The older three kids have normal hearing when it is time to eat and seem to be
    somewhat hard of hearing when it is time to take out the garbage. They understand
    ASL quite well and sign fairly well when they <i>want</i> something.<br />
    <br />
    The youngest, Sarah, is Deaf (hh). She also has Apert's syndrome.She is a bundle
    of joy and energy. (She's a brave, spunky kid I'll tell you.) She attended the
    Utah State School for the Deaf pre-school day-program. [Update: Somehow she grew
    up and currently she alternates between working, attending college, and creating
    art.]<br />
</p>
<p>
    We share a home in Sacramento, California with several small furry
    creatures, (that's pets. The <i>pets</i> are furry, not the kids). <br />
    <br />
    - William G. Vicars, EdD.
</p>
<p>
    <br />
    * Naming conventions:<br />
    My online students tend to call me "Dr. Bill."<br />
    My in-person and/or college students tend to call me "Dr. V."<br />
    My family of origination still call me "Billy." (Ha!)<br />
    What my wife calls me depends on a number of factors.
</p>
