---
import { SITE } from "~/config.mjs";
import PageLayout from "~/layouts/PageLayout.astro";
import Lorem from "~/components/content/lorem.astro";

const title = `${SITE.org} | Dictionary`;
const description = `Dictionary page`;
const canonical = new URL("", Astro.site);
---

<PageLayout meta={{ title, description, canonical }}>
    <main>
        
    </main>
</PageLayout>