---
import { SITE } from "~/config.mjs";
import PageLayout from "~/layouts/PageLayout.astro";
import HomePage from "~/components/content/homepage/HomePage.astro";

const meta = {
  title: `${SITE.org} | Home`,
  description: `Home site of ${SITE.org}`,
  canonical: new URL("", Astro.site),
};
---

<PageLayout meta={meta}>
  <main>
    <HomePage />
  </main>
</PageLayout>
