<html>
 <body>
  <blockquote>
   <font face="Arial">
    The letter "A" in American Sign 
Language (ASL).
   </font>
   <br/>
   <font face="Arial">
    <p style="margin-top: 0; margin-bottom: 0">
     A:
     <br/>
     <a href="/images/a.gif">
      <img alt="a.gif (156187 bytes)" border="2" height="358" src="/images/a.gif" width="357"/>
     </a>
     <br/>
     (Click for a larger version.)
     <br/>
     <br/>
     Tip:  If your screen goes "white" it is because the larger 
			version is so large that you are only seeing the upper left-hand 
			corner of the graphic.
     <br/>
     For more letters and handshapes, see:
     <a href="/dictionary/index" target="_top">
      Fingerspelling 
Art
     </a>
     <br/>
    </p>
   </font>
   <p>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <b>
     Dr. Bill's Notes
    </b>
    :
    <br/>
    <font face="Arial">
     While there is a handshape that 
represents the fingerspelled letter "A" it is important to realize that American 
Sign Language doesn't use the English letter "A" as a word the same way it is 
used in spoken or written English.
     <br/>
     <br/>
     Let's consider for a moment the difference in English between the words "a" and 
"the." 
When we use the word "a" in a sentence in English it tends to be so we can 
introduce a previously unidentified concept into the conversation.
     <br/>
     <br/>
     For example, if I use the phrase "a cat" then I'm probably bringing up the topic 
of a previously unidentified cat.
     <br/>
     <br/>
     If I use the phrase "the cat" it generally means I'm referring to a previously 
identified cat.
     <br/>
     <br/>
     Thus "a" and "the" are "reference" words. We use them to refer to a topic in 
this case, "a cat."
     <br/>
     <br/>
     In ASL to refer to a previously unidentified cat you would not use the 
fingerspelled letter "A" but instead you might sign:
     <br/>
     <br/>
     I NOTICE NEW CAT...
     <br/>
     <br/>
     NEW CAT show-UP ...
     <br/>
     HAPPEN STRANGE CAT ...
     <br/>
     CAT I NEVER SEE BEFORE ...
     <br/>
     CAT I not-YET SEE ...
     <br/>
     CAT I DON'T-KNOW ...
     <br/>
     SOMETHING CAT ...
     <br/>
     So we can see that to express the concept of "a" in ASL we would use one of the 
following signs or a similar approach:
     <br/>
     <br/>
     SOMETHING
     <br/>
     <br/>
     STRANGE
     <br/>
     DON'T-KNOW
     <br/>
     INVENTED / "came up with" / "created or made up in the mind"
     <br/>
     NEW
     <br/>
     <br/>
     To express the concept of "the" as in "the woman," we would use phrases such as:
     <br/>
     <br/>
     INDEX-(point) WOMAN
     <br/>
     THAT WOMAN
     <br/>
     (Directional head-thrust) WOMAN
     <br/>
     [Location of WOMAN]  (We establish the idea that there is a woman a certain 
location and then refer to that location as if the woman were there. For 
example, we mention that there is "a" woman. Then immediately after that we 
point our index finger to a some direction in space (usually off to our dominant 
side) and make a comment of some sort. It is understood that we are referring to 
"the woman" as if we were actually pointing at her. We can even do certain 
directional verbs (indicating verbs) such as GIVE in the direction of the 
location where the woman is "established" and the sign GIVE will take on the 
meaning of "give it to the woman" or a similar meaning.
    </font>
   </p>
   <!--webbot bot="Include" U-Include="../../topics/adsense4.htm" TAG="BODY" startspan -->
   <hr/>
   <br/>
   <!-- 728x15_link_ads_adsense1_bottom -->
   <ins class="adsbygoogle" data-ad-client="ca-pub-2513564923850231" data-ad-slot="2289748297" style="display:inline-block;width:728px;height:15px">
   </ins>
   <br/>
   <!-- 728x15_link_ads_adsense1_bottom -->
   <ins class="adsbygoogle" data-ad-client="ca-pub-2513564923850231" data-ad-slot="2289748297" style="display:inline-block;width:728px;height:15px">
   </ins>
   <br/>
   <!-- 728x15_link_ads_adsense1_bottom -->
   <ins class="adsbygoogle" data-ad-client="ca-pub-2513564923850231" data-ad-slot="2289748297" style="display:inline-block;width:728px;height:15px">
   </ins>
   <br/>
   <br/>
   <!-- 728x90-leaderboard -->
   <ins class="adsbygoogle" data-ad-client="ca-pub-2513564923850231" data-ad-slot="7543121294" style="display:inline-block;width:728px;height:90px">
   </ins>
   <!--webbot bot="Include" i-checksum="54972" endspan -->
   <br/>
   <br/>
   <hr align="left" color="#000000" size="1"/>
   <font face="Arial" size="1">
   </font>
   <input name="cmd" type="hidden" value="_s-xclick"/>
   <input name="hosted_button_id" type="hidden" value="AVN6HZ7MF9WVS"/>
  </blockquote>
 </body>
</html>