<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   <p>
    ABBREVIATE:
    <br/>
    The hands move in from the sides (not the front).
    <br/>
    <img border="0" height="317" src="/images/abbreviate-13.jpg" width="337"/>
    <img border="0" height="317" src="/images/abbreviate-14.jpg" width="337"/>
    <img border="0" height="317" src="/images/abbreviate-15.jpg" width="337"/>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1" width="50%"/>
   <p style="margin-top: 0; margin-bottom: 0">
    Notes:
    <br/>
    This is not the same sign as "get." The sign GET starts away from 
			the body and moves closer to the body.  The sign ABBREVIATE 
			starts with the hands a bit to the side and they move in toward the 
			center as they change into "S" hands.
    <br/>
    <br/>
    See:
    <a href="/dictionary/get">
     GET
    </a>
    <br/>
    See:
    <a href="/dictionary/summarize">
     SUMMARIZE
    </a>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>