<blockquote>
 <hr align="left" color="#000000" size="1"/>
 <p style="margin-top: 0; margin-bottom: 0">
  The sign for "accept" starts with loose hands held in front of the 
	body. Move your hands backward to your chest.
  <br/>
  <br/>
  ACCEPT:
  <p style="margin-top: 0; margin-bottom: 0">
   <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/pHBb2dnUoEY?rel=0" width="560">
   </iframe>
   <br/>
   <font face="Arial">
    <img border="0" height="237" src="/images/accept.gif" width="220"/>
   </font>
   <font face="Arial">
    <hr align="left" color="#000000" size="1" width="50%"/>
   </font>
   <p style="margin-top: 0; margin-bottom: 0">
    <img border="0" height="238" src="/images/accept37.jpg" width="279"/>
    <img border="0" height="238" src="/images/accept38.jpg" width="279"/>
    <img border="0" height="238" src="/images/accept39.jpg" width="279"/>
    <p style="margin-top: 0; margin-bottom: 0">
     <br/>
     Memory aid:
     <font face="Arial">
      Imagine you are shopping for a dress and the final position of this sign 
	looks as if you are holding a the dress up to your chest and looking in the 
	mirror to see if it is an
      <b>
       <i>
        acceptable
       </i>
      </b>
      color.
      <font size="2">
       (Note: Don't mention to Belinda (my wife) my expertise in 
	shopping for dresses. Wouldn't want to mess up her manly image of me now 
	would we?)
      </font>
     </font>
    </p>
    <font face="Arial">
     <hr align="left" color="#000000" size="1"/>
    </font>
    <p style="margin-top: 0; margin-bottom: 0">
     <br/>
     Sample sentence: SOME BOSS ACCEPT BAD WORK, WHY?
     <br/>
    </p>
    <p style="margin-top: 0; margin-bottom: 0">
     <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/8EnnqokS6Oc?rel=0" width="560">
     </iframe>
    </p>
    <font face="Arial">
     <hr align="left" color="#000000" size="1"/>
    </font>
   </p>
  </p>
 </p>
</blockquote>
