<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   The concept of "acquire" can be signed several different ways 
			depending on what you mean.
   <br/>
   <p>
    <font face="Arial">
     If you mean "get" (as in "receive") see:
     <a href="/dictionary/get">
      GET
     </a>
     <br/>
     <br/>
     If you mean "develop," see:
     <a href="/dictionary/develop">
      DEVELOP
     </a>
     <br/>
     <br/>
     If you mean "learn," see:
     <a href="/dictionary/learn">
      LEARN
     </a>
     <br/>
     <br/>
     If you mean "steal" see:
     <a href="/dictionary/steal">
      STEAL
     </a>
    </font>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1" width="50%"/>
   <p style="margin-top: 0; margin-bottom: 0">
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>