<html>
 <body>
  <blockquote>
   <h1 style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     <span style="font-weight: 400">
      <font size="5">
       American Sign Language: "active"
      </font>
     </span>
     <br/>
    </font>
   </h1>
   <blockquote>
    <hr align="left" color="#000000" size="1"/>
    <span style="font-weight: 400">
     "DO" / DOING / "I was doing..."
     <br/>
     If you are describing a situation or telling a story in which you want to 
	indicate that general action was taking place, then here is a general 
	version of "DO."  General activity can be shown with this sign. 
			You hold your hands out in front of you and move them sort of like 
			as if you were kneading dough, but you don't flex the fingers. The 
			movement is all in your shoulders and elbows. (Not the wrists and 
			fingers).
     <br/>
     <br/>
     <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/8ZBfz7-5w54?rel=0&autoplay=1" width="560">
     </iframe>
    </span>
    <p style="margin-top: 0; margin-bottom: 0">
     <img border="0" height="320" src="/images/active18.jpg" width="356"/>
     <img border="0" height="320" src="/images/active19.jpg" width="356"/>
     <img border="0" height="320" src="/images/active20.jpg" width="356"/>
     <br/>
     <br/>
     Here is another version. It means more along the lines of "actions."
     <br/>
     <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/fHAIkNdVyfo?rel=0" width="560">
     </iframe>
    </p>
    <hr align="left" color="#000000" size="1" width="50%"/>
    <p style="margin-top: 0; margin-bottom: 0">
     Also see: "
     <a href="/dictionary/do">
      DO
     </a>
     "
    </p>
   </blockquote>
   <hr align="left" color="#000000" size="1"/>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1"/>
   <hr align="left" color="#000000" size="1"/>
   <hr color="#000000" size="1"/>
   <p>
   </p>
  </blockquote>
 </body>
</html>