<html>
 <body>
  <blockquote>
   <h1 style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     <span style="font-weight: 400">
      <font size="5">
       ASL: "addict"
      </font>
     </span>
     <br/>
    </font>
   </h1>
   <p>
    <br/>
    <span style="font-weight: 400">
     <p style="margin-top: 0; margin-bottom: 0">
      ADDICTED / hooked
      <br/>
      Note: I'm not sticking my finger in my mouth.  I'm just pressing the tip of 
an "X" handshape into my cheek near the corner of my mouth. Then I pull my head 
to the side as if representing a fish that has been "hooked."
      <br/>
      <br/>
      <img border="0" height="240" src="/images/addicted-01.jpg" width="253"/>
      <img border="0" height="240" src="/images/addicted-02.jpg" width="253"/>
      <br/>
     </p>
     <p align="left" style="margin-top: 0; margin-bottom: 0">
     </p>
     <p align="left" style="margin-top: 0; margin-bottom: 0">
      <br/>
     </p>
     <hr align="left" color="#000000" size="1" width="50%"/>
     <p align="left" style="margin-top: 0; margin-bottom: 0">
      ADDICT:
      <br/>
      To turn the sign "addicted" into "addict," just add the "person" sign after the 
sign "addicted."
      <br/>
      <img border="0" height="240" src="/images/addicted-01.jpg" width="253"/>
      <img border="0" height="240" src="/images/addicted-02.jpg" width="253"/>
      <img border="0" height="240" src="/images/addict-03.jpg" width="257"/>
      <img border="0" height="240" src="/images/addict-04.jpg" width="257"/>
     </p>
    </span>
   </p>
   <p>
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p>
    Notes:
    <br/>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1"/>
   <hr align="left" color="#000000" size="1"/>
   <hr align="left" color="#000000" size="1"/>
   <hr color="#000000" size="1"/>
   <p>
   </p>
  </blockquote>
 </body>
</html>