<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   <span style="font-weight: 400">
    <font face="Arial">
     <p style="margin-top: 0; margin-bottom: 0">
      There are several "right" ways to 
sign "AFTER." The right choice depends on the situation. Make sure to learn the 
first two main versions:"ACROSS/over/after" and "AFTER/from-then-on."
     </p>
     <hr align="left" color="#000000" size="1"/>
     <p style="margin-top: 0; margin-bottom: 0">
     </p>
     <p style="margin-top: 0; margin-bottom: 0">
      The main version of the sign AFTER has mutated to be done exactly like the sign "ACROSS."  
You will see a lot of people signing phrases like: "ACROSS WORK I GO STORE. NEED 
ANYTHING?" to mean "I'm going to be stopping at the store after work. 
Do you need anything?"
      <br/>
      <br/>
      So, you really should learn the "ACROSS" version of "after" because it is very 
commonly used by most adult native Deaf ASL signers.
      <br/>
      <br/>
      Both hands are in "flat" handshapes. The base hand is palm down and doesn't 
move. The dominant hand is thumb-side up and slides over the top of the base 
hand.
      <br/>
     </p>
     <p style="margin-top: 0; margin-bottom: 0">
      ACROSS / over / after:
      <br/>
      <img border="0" height="236" src="/images/after-across-over1.jpg" width="237"/>
      <img border="0" height="236" src="/images/after-across-over2.jpg" width="246"/>
      <img border="0" height="236" src="/images/after-across-over4.jpg" width="231"/>
     </p>
     <p style="margin-top: 0; margin-bottom: 0">
      <br/>
      ACROSS / AFTER:
     </p>
     <p style="margin-top: 0; margin-bottom: 0">
      <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/AZqgw-USe2I?rel=0&autoplay=1" width="560">
      </iframe>
     </p>
     <p style="margin-top: 0; margin-bottom: 0">
     </p>
     <p style="margin-top: 0; margin-bottom: 0">
      Also see: "
      <a href="/dictionary/across">
       ACROSS
      </a>
      "
      <br/>
     </p>
     <hr align="left" color="#000000" size="1"/>
     <p style="margin-top: 0; margin-bottom: 0">
      <br/>
      AFTER: "From then on." / "From a certain point onward."
     </p>
     <p style="margin-top: 0; margin-bottom: 0">
      This is a good version to use when you are discussing timelines and scheduling.
      <br/>
      The dominant hand moves forward. The base hand is stationary.
      <br/>
      <br/>
      AFTER:
     </p>
     <p style="margin-top: 0; margin-bottom: 0">
      <img border="0" height="180" src="/images/after_revised.gif" width="300"/>
      <br/>
      <img border="0" height="239" src="/images/after-fromthenon1.jpg" width="236"/>
      <img border="0" height="239" src="/images/after-fromthenon2.jpg" width="237"/>
      <img border="0" height="239" src="/images/after-fromthenon3.jpg" width="238"/>
     </p>
     <p style="margin-top: 0; margin-bottom: 0">
      <br/>
      This version of "after" is good for concepts like "from now on," "from then on," 
or "ever after." I notice that for those concepts I modify the sign "AFTER" by 
putting a small downward and back up arc in the forward movement.
      <br/>
      <br/>
      FROM-NOW-ON:
      <br/>
      <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/nEGhuagav-w?rel=0" width="560">
      </iframe>
     </p>
     <p style="margin-top: 0; margin-bottom: 0">
     </p>
     <p style="margin-top: 0; margin-bottom: 0">
      Sample sentence: YESTERDAY, SCHOOL 
FINISH AFTER-[FROM-THEN-ON] what-DO YOU? (What did you do after school 
yesterday?)
      <br/>
      <br/>
      <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/aXtUXP-Pd8A?rel=0" width="560">
      </iframe>
      <br/>
      <br/>
     </p>
     <hr color="#000000" size="1"/>
     <p style="margin-top: 0; margin-bottom: 0">
      <br/>
      Of course, you could (and often should) just sign "
      <a href="/dictionary/finish">
       FINISH
      </a>
      " 
in many sentences involving the concept of "after."  For example, "WORK 
FINISH,
      <a href="/dictionary/do-do">
       #DO-DO
      </a>
      YOU?" Would be an ASL way of saying, "What are you doing after work?"
      <br/>
      <br/>
      FINISH:
      <br/>
      <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/7xQE2N0z7gM?rel=0" width="560">
      </iframe>
     </p>
     <p style="margin-top: 0; margin-bottom: 0">
      <img border="0" height="237" src="/images/finish1.jpg" width="308"/>
      <img border="0" height="237" src="/images/finish3.jpg" width="308"/>
      <img border="0" height="237" src="/images/finish4.jpg" width="308"/>
      <br/>
      <br/>
     </p>
    </font>
   </span>
  </blockquote>
 </body>
</html>