<html>
 <body>
  <blockquote>
   <h1 style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     <span style="font-weight: 400">
      <font size="5">
       ASL: "again / do over / 
		repeat"
      </font>
     </span>
     <br/>
    </font>
   </h1>
   <p>
    <br/>
    The concept of "AGAIN" can also be used to mean "repeat" or do over.
   </p>
   <p>
    To 
sign "AGAIN" bend your dominant hand at the large knuckles and then move your 
hand in a bit of an arc and touch the palm of your non-dominant (flat) hand with 
the fingertips of your (bent) dominant hand.
    <br/>
    <br/>
    AGAIN / do over / repeat
   </p>
   <p>
    <img border="0" height="466" src="/images/again.gif" style="max-width: 100%; " width="462"/>
    <br/>
    <span style="font-weight: 400">
     <img border="0" height="221" src="/images/again1.jpg" width="229"/>
     <img border="0" height="221" src="/images/again2.jpg" width="229"/>
     <img border="0" height="221" src="/images/again3.jpg" width="229"/>
    </span>
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p>
    Notes:
    <br/>
    <br/>
    Handshape: Right hand = "bent-hand" Left hand = "flat hand"
    <br/>
    Location: Neutral signing area in front of the body
    <br/>
    Palm Orientation: Right hand = starts facing up or at a "10 o'clock" position. 
Left hand = varies: palm up, palm right, or "neutral 2 o'clock position"
    <br/>
    Movement:  Right hand moves in an arc until the fingertips touch the left palm.
    <br/>
    Non-Manual Marker: neutral
   </p>
   <p>
   </p>
   <p align="right">
    <a href="/dictionary/deaf">
     NEXT SIGN IN LESSON ONE
    </a>
   </p>
   <p>
   </p>
   <hr align="left" color="#000000" size="1"/>
   <hr align="left" color="#000000" size="1"/>
   <hr align="left" color="#000000" size="1"/>
   <hr color="#000000" size="1"/>
   <p>
   </p>
  </blockquote>
 </body>
</html>