<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   <p style="margin-top: 0; margin-bottom: 0">
    The sign for "aide" or "assistant" in general uses the dominant 
	"L" hand to lift the base "A" hand. It is also common to see this sign 
	done with both hands in an "A" handshape. If you are right-handed, tap the 
	tip of the thumb of the right "L" hand twice on the bottom of the left "A" hand.
    <br/>
    <br/>
   </p>
   <p>
    AIDE / ASSISTANT:  ("L-hand" version)
    <br/>
    <img border="0" src="/images/aide.gif" style="max-width: 100%; height: auto" width="480"/>
   </p>
   <p>
    <img border="0" height="300" src="/images/aide.h1.jpg" width="282"/>
    <br/>
    <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/lGa3EU5ifHk?rel=0" width="560">
    </iframe>
    <font face="Arial" size="2">
     <br/>
    </font>
   </p>
   <hr/>
   <p>
    Note:  I was at a faculty meeting at my day job and my terp signed 
	"ASSISTANT D-E-A-N" (using the "L"-hand version of ASSISTANT and then 
	spelling the word "dean") to refer to the "Associate Dean" of the college. 
	In my mind I thought, "Wow -- great sign choice!" (And I've adopted it ever 
	since for "associate dean."
    <br/>
    <br/>
    At the local Deaf church I see the ASSISTANT sign used to refer to "1st 
	Counselor" which is the second highest in local leadership of that 
	particular congregation. Thus the "ASSISTANT" sign can mean such things as 
	"second in command."
    <br/>
    <br/>
    Also of interest is in that organization there is a "Second Counselor" who 
	is functionally the third highest in leadership. For that position the sign 
	ASSISTANT is commonly done using a "3"-handshape on the dominant hand 
	(instead of an "L" handshape).
    <br/>
   </p>
   <font face="Arial" size="2">
    <hr align="left" color="#000000" size="1"/>
    <p>
     The AIDE or ASSISTANT sign does not mean "assistance" if you mean 
	"assistance" then just do the sign for
     <font size="2">
      <a href="/dictionary/help">
       HELP
      </a>
      .
     </font>
    </p>
    <hr align="left" color="#000000" size="1"/>
   </font>
   <p>
    <br/>
    You may on occasion still see an initialized version of the sign for "aide" or "assistant."  This version 
	is what you would call an "initialized" sign. It uses the initial of the 
	English word "aide" as the handshape for the ASL concept "aide/assistant."   
	I no longer think this version is "okay" I don't consider it a good version.  I encourage you instead to use the "L" hand version (above).
    <br/>
    <br/>
    ASSISTANT (version) (not recommended)
   </p>
   <p>
    <img border="0" height="236" src="/images/assistant1.jpg" width="211"/>
    <img border="0" height="236" src="/images/assistant2.jpg" width="211"/>
    <img border="0" height="236" src="/images/assistant3.jpg" width="211"/>
    <img border="0" height="236" src="/images/assistant4.jpg" width="211"/>
    <img border="0" height="236" src="/images/assistant5.jpg" width="211"/>
    <br/>
   </p>
   <font face="Arial" size="2">
    <hr align="left" color="#000000" size="1"/>
   </font>
   <p style="margin-top: 0; margin-bottom: 0">
    <font face="Arial" size="2">
     <br/>
     Notes:
     <br/>
     As time goes on it seems to me that I'm seeing more and more people do this 
	sign with an "L" hand using a double tap and no "person" ending.
     <br/>
     Why?  Well, one reason is that it takes less effort.  Doing the 
	very small double tap of the "L" hand takes less effort than adding the 
	"person" ending to the "A" hand version.
     <br/>
     Another reason, and maybe this is just me -- but doing this sign with an "A" 
	hand on the dominant hand feels weirdly close to doing the sign for "poop." 
	(Sorry, too much information, I know.)
     <br/>
     <br/>
     The sign for AIDE / ASSISTANT is based on the sign "HELP."   You 
	could express the concept of "aide" or "assistant" by signing HELP-PERSON 
	which would mean "helper" which is more or less equal in meaning to 
	"assistant."
     <br/>
    </font>
   </p>
   <font face="Arial" size="2">
    <hr align="left" color="#000000" size="1"/>
   </font>
   <p style="margin-top: 0; margin-bottom: 0">
    <font size="2">
     See:
     <a href="/dictionary/help">
      HELP
     </a>
    </font>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>