<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1" width="50%"/>
   <p style="margin-top: 0; margin-bottom: 0">
    AIR:
    <br/>
    The sign for "air" depends on the situation. Generally I just spell it.
   </p>
   <p align="left">
    <img border="0" height="130" src="/images/air1.jpg" width="132"/>
    <img border="0" height="130" src="/images/air2.jpg" width="132"/>
    <img border="0" height="130" src="/images/air3.jpg" width="132"/>
   </p>
   <hr color="#800080"/>
   <p>
    WIND:
    <br/>
    You can use variations of the sign for "wind" to show what air is doing.  
	When you do this you generally puff out your cheeks and blow out some air.
    <br/>
    <br/>
    Notice, I'm not using much facial expression here, but if I wanted to show the 
	wind was blowing really hard I would use more facial expression, puff out my 
	cheeks and look like I was blowing out a birthday cake.
   </p>
   <p>
    <img border="0" height="222" src="/images/wind1.jpg" width="320"/>
    <img border="0" height="222" src="/images/wind2.jpg" width="320"/>
    <br/>
    <img border="0" height="222" src="/images/wind3.jpg" width="320"/>
    <img border="0" height="222" src="/images/wind4.jpg" width="320"/>
    <br/>
    <img border="0" height="222" src="/images/wind5.jpg" width="320"/>
   </p>
   <hr color="#800080"/>
   <p>
    Discussion:  "AIR"
   </p>
   <div>
    <div>
     In a message dated 4/8/2007 11:20:04 PM Pacific Daylight Time, a 
			mother writes:
    </div>
    <blockquote style="PADDING-LEFT: 5px; MARGIN-LEFT: 5px; BORDER-LEFT: blue 2px solid">
     <font color="#000000" face="Arial" size="2" style="BACKGROUND-COLOR: transparent">
      <div>
       Hello!
      </div>
      <div>
       I use your website almost every day as I am learning ASL and 
				teaching it to my 14 month old hearing daughter. It's been a 
				wonderful and positive experience for us! She signs about 50 
				signs now. My question: What is the sign for "air." This morning 
				she heard the heating kick in and she signed 'hot' and then blew 
				onto her hand, meaning hot air, I gather. I was a bit blown away 
				and am wondering if she indeed signed 'air' correctly? If so, 
				I'm not sure where she learned it!
      </div>
      <div>
       Very curiously yours,
      </div>
      <div>
       --Lisa P
      </div>
      <div>
       Oakland, CA
      </div>
     </font>
    </blockquote>
   </div>
   <br/>
   Lisa,
   <br/>
   There is no widely established sign for "air."
   <br/>
   Usually we just spell it.
   <br/>
   Sometimes we sign "WIND."
   <br/>
   Often we simply show what the air is doing: filling a balloon, a tire 
		going flat, blowing trees, etc.  We use a lot of puffed-cheek 
		facial expressions and hold our hands up in loose "five" handshapes and 
		flutter them to show how the air is moving.
   <br/>
   Thus the "sign" your daughter did is really neat.  She is 
		definitely on her way to being an awesome signer.
   <br/>
   Her
   <i>
    version
   </i>
   of air is going to certainly be considered one of my 
		favorites from here on out.
   <br/>
   Cordially,
   <br/>
   Dr. Bill Vicars
   <font face="Arial">
    <hr align="left" color="#000000" size="1" width="50%"/>
   </font>
   <p style="margin-top: 0; margin-bottom: 0">
    Also see: "
    <a href="/dictionary/fly" style="text-decoration: none">
     airplane 
	/ fly
    </a>
    "
   </p>
   <hr align="left" color="#000000" size="1" width="50%"/>
   <p style="margin-top: 0; margin-bottom: 0">
   </p>
  </blockquote>
 </body>
</html>