<html>
 <body>
  <blockquote>
   <font face="Arial">
    <h2 style="margin-top: 0; margin-bottom: 0">
     <span style="font-weight: 400">
      American Sign Language:  
		"Alcoholic"
     </span>
    </h2>
    <blockquote>
     <hr color="#000000" size="1"/>
     <p style="margin-top: 0; margin-bottom: 0">
      <span style="font-weight: 400">
       Also see: "
       <a href="/dictionary/alcohol" style="text-decoration: none">
        Alcohol
       </a>
       "
      </span>
     </p>
     <hr color="#000000" size="1"/>
     <p style="margin-top: 0; margin-bottom: 0">
      <span style="font-weight: 400">
       Quite a few people just spell "A A" to mean alcoholic.
      </span>
     </p>
     <hr color="#000000" size="1"/>
     <p style="margin-top: 0; margin-bottom: 0">
     </p>
     <p style="margin-top: 0; margin-bottom: 0">
      <span style="font-weight: 400">
       Alcoholic:
      </span>
     </p>
     <p style="margin-top: 0; margin-bottom: 0">
      <span style="font-weight: 400">
       The general sign for alcoholic is to use an "A" hand.  Pretend it is a bottle.  Hold 
    it up and move it down and toward your mouth as if you were going to take a 
    drink but missed. Then change your hands into "flat hands" and show the 
    "person ending."
      </span>
     </p>
     <p style="margin-top: 0; margin-bottom: 0">
     </p>
     <p style="margin-top: 0; margin-bottom: 0">
     </p>
     <p style="margin-top: 0; margin-bottom: 0">
      Let's take a look at this sign frame by frame:
     </p>
     <p style="margin-top: 0; margin-bottom: 0">
     </p>
     <p style="margin-top: 0; margin-bottom: 0">
      <img border="0" height="288" src="/images/alcoho1.jpg" width="320"/>
      <img border="0" height="288" src="/images/alcoho2.jpg" width="320"/>
      <img border="0" height="288" src="/images/alcoho3.jpg" width="320"/>
      <img border="0" height="288" src="/images/alcoho4.jpg" width="320"/>
      <img border="0" height="288" src="/images/alcoho5.jpg" width="320"/>
      <img border="0" height="288" src="/images/alcoho6.jpg" width="320"/>
      <img border="0" height="288" src="/images/alcoho7.jpg" width="320"/>
     </p>
     <p style="margin-top: 0; margin-bottom: 0">
     </p>
     <p style="margin-top: 0; margin-bottom: 0">
     </p>
     <hr align="left" color="#000000" size="1" width="50%"/>
     <p style="margin-top: 0; margin-bottom: 0">
      Notes:
      <br/>
      Question:  Are there other ways to sign "alcoholic?"
      <br/>
      Answer:  Well, there are almost always other ways to sign anything. You 
    might see this sign done with a "Y" handshape instead of the "A" handshape.
     </p>
     <p style="margin-top: 0; margin-bottom: 0">
     </p>
     <hr align="left" color="#000000" size="1" width="50%"/>
    </blockquote>
    <hr align="left" color="#000000" size="1"/>
    <hr align="left" color="#000000" size="1"/>
   </font>
   <b>
    <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=XHRNABERKJT4N" rel="nofollow" style="text-decoration: none" target="_blank">
     <u>
      DONATE
     </u>
    </a>
   </b>
   <font size="2">
    (
    <i>
     Thanks!
    </i>
    )
   </font>
   <br/>
   <br/>
   <font face="Arial">
    *
   </font>
   Another way to help is to buy something from Dr. Bill's "
   <b>
    <a href="/dictionary/bookstore" style="text-decoration: none">
     <u>
      Bookstore
     </u>
    </a>
   </b>
   ."
   <hr align="left" color="#000000" size="1"/>
   <hr color="#000000" size="1"/>
   <p>
   </p>
  </blockquote>
 </body>
</html>