<html>
 <body>
  <blockquote>
   <h1 style="margin-top: 0; margin-bottom: 0">
    <span style="font-weight: 400">
     <font face="Arial" size="5">
      Amazon: The 
		American Sign Language (ASL) sign for "Amazon"
     </font>
    </span>
    <font face="Arial">
     <br/>
    </font>
   </h1>
   <p>
    In regard to Amazon as in "Amazon (dot) com), there are several signs used in 
the Deaf community.
    <br/>
    <br/>
    For a long time one of the most common signs was to sign SMILE using an "A" 
handshape.
    <br/>
    Some working at Amazon condensed and quickened this sign by doing it slightly 
more to the side (of the mouth area) and doing more of a line and less of an 
arc).  Such reductions are common in how signs (or even spoken words) are 
articulated or pronounced.
    <br/>
    <br/>
    Another method of signing Amazon that came into use was to sign a Z-path 
movement using and "A" handshape and then doing the THROW sign.
    <br/>
    <br/>
    As of the 2020's decade and beyond we will probably continue to see various ways 
to sign Amazon for quite a while.
    <br/>
    <br/>
    1. "A"-(smile movement)
    <br/>
    2. "A"-(Z-movement)-THROW
    <br/>
    3. "A"-THROW
    <br/>
    <br/>
    My prediction?
    <br/>
    The "A"-(Z-movement)-THROW sign will continue to spread and will compress to:
    <br/>
    "A"-THROW.
    <br/>
    <br/>
    Why? Languages evolve toward simplicity of articulation.
    <br/>
    The "Z" movement takes too long.
    <br/>
    The THROW sign is one of two very common signs for "send."
    <br/>
   </p>
   <p>
   </p>
   <hr/>
   <p>
    <br/>
    If you want to sign Amazon to refer to the Amazon river, I recommend you just 
fingerspell it.
    <br/>
    You could perhaps look up an indigenous sign for "Amazon river" online -- that 
would be great -- just remember that each time you use it with a new audience 
you will need to introduce and explain the sign.
   </p>
   <p>
   </p>
   <p>
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p>
    Notes:
    <br/>
    From time to time you may see people become adamant and make a video declaring 
that they are showing you THE right sign for a concept.
    <br/>
    For example suppose see a video of someone who used to work at Amazon many years 
ago declaring you should do the sign a certain way.
    <br/>
    Think of that as being:  You now have a "vote" from a "former" employee as 
to how to do the sign.
    <br/>
    <br/>
    Such opinions are worth considering, sure, but perhaps carry slightly less 
weight than the opinion of current Deaf employees at Amazon.
    <br/>
    <br/>
    <a href="/dictionary/index-old">
     index-old.htm
    </a>
   </p>
   <p>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <a href="/dictionary/_matrix">
     matrix-for-sign-pages (_matrix.htm)
    </a>
   </p>
   <hr align="left" color="#000000" size="1"/>
   <hr align="left" color="#000000" size="1"/>
   <hr align="left" color="#000000" size="1"/>
   <hr color="#000000" size="1"/>
   <p>
   </p>
  </blockquote>
 </body>
</html>