<html>
 <body>
  <blockquote>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
    <p>
     <br/>
    </p>
    <p>
     Think of log cabins or log fences.
     <br/>
     Interlock your fingers and then move your hands in a circle. The movement is
  as if you stirring soup in a pot.  (A melting pot, heh.)
    </p>
    <p>
     <br/>
     America:
    </p>
    <p>
     <img border="0" height="220" src="/images/american1.jpg" width="225"/>
     <img border="0" height="220" src="/images/american2.jpg" width="225"/>
     <img border="0" height="220" src="/images/american3.jpg" width="225"/>
     <img border="0" height="220" src="/images/american4.jpg" width="225"/>
     <img border="0" height="220" src="/images/american5.jpg" width="225"/>
     <img border="0" height="220" src="/images/american6.jpg" width="225"/>
     <img border="0" height="220" src="/images/american7.jpg" width="225"/>
    </p>
    <p>
    </p>
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>