<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   <p>
    For the sign for "animal" see:
    <font face="Arial">
     <a href="/dictionary/animal">
      ANIMAL
     </a>
    </font>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
   <p>
    <font face="Arial">
     <br/>
     Animals Lesson 01:
    </font>
   </p>
   <p>
    <a href="/dictionary/bear">
     BEAR
    </a>
    <br/>
    <a href="/dictionary/bee">
     BEE
    </a>
    <br/>
    <a href="/dictionary/caribou">
     CARIBOU
    </a>
    <br/>
    <a href="/dictionary/chicken">
     CHICKEN
    </a>
    <br/>
    <a href="/dictionary/deer">
     DEER
    </a>
    <br/>
    <a href="/dictionary/donkey">
     DONKEY
    </a>
    -[stubborn]
    <br/>
    <a href="/dictionary/duck">
     DUCK
    </a>
    <br/>
    <a href="/dictionary/eagle">
     EAGLE
    </a>
    <br/>
    <a href="/dictionary/elephant">
     ELEPHANT
    </a>
    <br/>
    <a href="/dictionary/fly">
     FLY
    </a>
    <br/>
    <a href="/dictionary/fox">
     FOX
    </a>
   </p>
   <p>
    <a href="/dictionary/goat">
     GOAT
    </a>
    <br/>
    <a href="/dictionary/lion">
     LION
    </a>
    <br/>
    <a href="/dictionary/monkey">
     MONKEY
    </a>
    <br/>
    <a href="/dictionary/moose">
     MOOSE
    </a>
   </p>
   <p>
    <a href="/dictionary/mouse">
     MOUSE
    </a>
    <br/>
    <a href="/dictionary/pig">
     PIG
    </a>
    <br/>
    <a href="/dictionary/sheep">
     SHEEP
    </a>
    <br/>
    <a href="/dictionary/snake">
     SNAKE
    </a>
    <br/>
    <a href="/dictionary/tiger">
     TIGER
    </a>
    <br/>
    <a href="/dictionary/turtle">
     TURTLE
    </a>
    <br/>
    <a href="/dictionary/spider">
     SPIDER
    </a>
    <br/>
    <a href="/dictionary/wolf">
     WOLF
    </a>
    <br/>
    <br/>
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p>
    Practice sheet .A
    <br/>
    01.  BEAR SLEEP DURING WINTER?
    <br/>
    02.  DONKEY EASY PRACTICE-(train)-[initialized]?
    <br/>
    03.  ELEPHANT CAN REMEMBER MANY YEARS?
    <br/>
    04.  GOAT EAT ANY-THING?
    <br/>
    05.  LION LIVE IN OCEAN?
   </p>
   <p>
   </p>
   <p>
    Practice sheet .B
    <br/>
    06.  MONKEY CAN CLIMB TREE?
    <br/>
    07.  MOUSE CAN SCARE ELEPHANT?
    <br/>
    08.  PIG CAN CLIMB TREE?
    <br/>
    09.  SHEEP TASTE GOOD?
    <br/>
    10.  SNAKE CAN SWIM?
    <br/>
    <br/>
    Practice sheet .C
    <br/>
    11.  TIGER HAVE SPOTS?
    <br/>
    12.  TURTLE FAST, SLOW, WHICH?
    <br/>
    13.  SPIDER, YOU AFRAID YOU?
    <br/>
    14.  BEE STING YOU BEFORE?
    <br/>
    15.  ROAD, CHICKEN, CL :bent-v-"cross the road," WHY?
   </p>
   <p>
   </p>
   <p>
    Practice sheet .D
    <br/>
    16.  DEER LIVE CLUSTER, ALONE, WHICH?
    <br/>
    17.  DUCK CAN SWIM?
    <br/>
    18.  EAGLE EAT MOUSE?
    <br/>
    19.  FLY-(insect) FAST SLOW WHICH?
    <br/>
    20.  FOX  CAN FLY-(wings)?
   </p>
   <p>
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p>
   </p>
   <p>
    Animals Lesson 02?
   </p>
   <a href="/dictionary/giraffe">
    GIRAFFE
   </a>
   <br/>
   <a href="/dictionary/gorilla">
    GORILLA
   </a>
   <br/>
   <a href="/dictionary/hippopotamus">
    HIPPOPOTAMUS
   </a>
   <br/>
   <a href="/dictionary/mosquito">
    MOSQUITO
   </a>
   <br/>
   <a href="/dictionary/owl">
    OWL
   </a>
   <br/>
   <a href="/dictionary/rabbit">
    RABBIT
   </a>
   <br/>
   <a href="/dictionary/rat">
    RAT
   </a>
   <br/>
   <a href="/dictionary/squirrel">
    SQUIRREL
   </a>
   <br/>
   <a href="/dictionary/wolf">
    WOLF
   </a>
   <br/>
   <a href="/dictionary/worm">
    WORM
   </a>
   <br/>
   <a href="/dictionary/zebra">
    ZEBRA
   </a>
   <br/>
   <a href="/dictionary/alligator">
    ALLIGATOR
   </a>
   <br/>
   <a href="/dictionary/butterfly">
    BUTTERFLY
   </a>
   <br/>
   <a href="/dictionary/dinosaur">
    DINOSAUR
   </a>
   <br/>
   <a href="/dictionary/frog">
    FROG
   </a>
   <br/>
   <a href="/dictionary/raccoon">
    RACCOON
   </a>
   <br/>
   <a href="/dictionary/skunk">
    SKUNK
   </a>
   <br/>
   <br/>
   <hr align="left" color="#000000" size="1"/>
   <p>
    Practice sheet .A
    <br/>
    01.  GIRAFFE CAN HOW TALL?
    <br/>
    02.  GORILLA EAT GRASS?
    <br/>
    03.  HIPPOPOTAMUS WEIGH HOW MUCH?
    <br/>
    04.  MOSQUITO EAT WHAT?
    <br/>
    05.  OWL CAN SEE FAR?
   </p>
   <p>
   </p>
   <p>
    Practice sheet .
    <br/>
    06.   RACCOON THEY BORN EGG?
    <br/>
    07.  RAT SMART, DUMB, WHICH?
    <br/>
    08.  YOU THINK SQUIRREL CUTE?
    <br/>
    09.  WOLF SLEEP DURING WINTER?
    <br/>
    10.  WORM CAN SEE FAR?
    <br/>
    <br/>
    Practice sheet .C
    <br/>
    11.  ZEBRA HAVE SPOTS?
    <br/>
    12.  ALLIGATOR, YOU WANT FOR PET?
    <br/>
    13.  BUTTERFLY YOU COLLECT YOU?
    <br/>
    14.  DINOSAUR ALL DEAD?
    <br/>
    15.  FROG, CAN JUMP HOW FAR?
   </p>
   <p>
   </p>
   <p>
    Practice sheet .D
    <br/>
    16.  SKUNK SMELL BAD?
    <br/>
    17.  RABBIT TASTE GOOD?
    <br/>
    18.  COW EAT GRASS?
    <br/>
    19.  HORSE YOU BEFORE RIDE-ON?
    <br/>
    20.  KNOW DOG HAVE SPOTS? THAT DOG what-NAME?
   </p>
   <p>
   </p>
  </blockquote>
 </body>
</html>