<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   <span style="font-weight: 400">
    <font face="Arial">
     <p>
      ANXIOUS / restless / squirming in chair:
      <br/>
      The sign "SIT" can be modified to show someone squirming in their chair.  
  This can be used to mean "anxiety" and similar concepts. This sign doesn't 
exactly mean nervous, it means "restless" or perhaps "ants in the pants."
     </p>
     <p>
      <img border="0" height="219" src="/images/chair.5.jpg" width="223"/>
      <img border="0" height="219" src="/images/chair.6.jpg" width="223"/>
      <img border="0" height="219" src="/images/chair.7.jpg" width="223"/>
      <img border="0" height="219" src="/images/chair.8.jpg" width="223"/>
     </p>
     <p>
      <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/nVDFsl5hR44?rel=0" width="560">
      </iframe>
     </p>
     <p style="margin-top: 0; margin-bottom: 0">
      Think of the right hand as 
representing the legs of a person. If you were to show that person shifting 
uneasily from side to side in a "chair" it would mean "anxious."  Do this 
sign by holding your hands like you do for the sign "SIT," then twist your 
dominant hand to the right and  then to the left so that your index and 
middle finger alternate being lifted off of the left "H" (palm down) hand a 
couple of times.
      <br/>
      <br/>
      <font size="3">
       Example sentence:
       <br/>
       YOU FEEL ANXIOUS, WHEN? (When do you feel anxious?)
      </font>
     </p>
     <p style="margin-top: 0; margin-bottom: 0">
      <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/HCUx0LzZeTQ?rel=0" width="560">
      </iframe>
      <br/>
     </p>
     <hr align="left" color="#000000" size="1" width="50%"/>
     <p style="margin-top: 0; margin-bottom: 0">
      Notes:
     </p>
     <p style="margin-top: 0; margin-bottom: 0">
      The sign "anxious" could modified 
	to function as a classifier (CL:V-bent) representing "legs." The normal sign 
	"anxious" is a lexicalized classifier.  But if you modify and use the 
	movement of the sign to show
      <i>
       how
      </i>
      the individual is sitting (perhaps 
	he or she got spanked recently and is sitting "gingerly?") the sign would 
	then be considered a regular classifier.
     </p>
     <p style="margin-top: 0; margin-bottom: 0">
     </p>
     <hr align="left" color="#000000" size="1"/>
     <p style="margin-top: 0; margin-bottom: 0">
      Also see:
      <a href="/dictionary/nervous">
       NERVOUS
      </a>
     </p>
     <hr align="left" color="#000000" size="1"/>
     <p style="margin-top: 0; margin-bottom: 0">
     </p>
    </font>
   </span>
   <font face="Arial">
   </font>
  </blockquote>
 </body>
</html>