<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   <font face="Arial">
    Just fingerspell "A-P-T."
    <br/>
   </font>
   <br/>
   APARTMENT:
   <p style="margin-top: 0; margin-bottom: 0">
    <img border="0" src="/images/apartment.gif" style="max-width: 100%; height: auto" width="480"/>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     <img border="0" height="219" src="/images/apt1.jpg" width="220"/>
     <img border="0" height="219" src="/images/apt2.jpg" width="220"/>
     <img border="0" height="219" src="/images/apt3.jpg" width="220"/>
    </font>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1" width="50%"/>
   <p style="margin-top: 0; margin-bottom: 0">
    <br/>
    Sample sentence:  
			"Do you live in an apartment?"
    <br/>
    <br/>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
    <p style="margin-top: 0; margin-bottom: 0">
     <br/>
     NOTES:
    </p>
   </font>
   <p style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     Once in a while I see people initialize the sign "room" with "A" handshapes 
	as the sign
  for "apartment," but that is
     <b>
      not
     </b>
     recommended.  Skilled 
			adult native Deaf signers just spell "A-P-T" in a
     <i>
      fraction
     </i>
     of 
			the time and effort that it takes to do a two handed initialized 
			sign.
    </font>
    <br/>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
    <p style="margin-top: 0; margin-bottom: 0">
     See:
     <a href="/dictionary/house">
      HOUSE
     </a>
    </p>
    <hr align="left" color="#000000" size="1"/>
    <p style="margin-top: 0; margin-bottom: 0">
     See:
     <a href="/dictionary/dorm">
      DORM
     </a>
    </p>
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>