<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   <font face="Arial">
    <font size="+1">
     T
    </font>
    he sign for "apple"
is made by closing your hand and placing the knuckle of your right index
finger against your cheek. 
At the same time, pivot the hand back and forth.
    <p>
     APPLE:
    </p>
    <p>
     <img border="0" src="/images/apple.gif" style="max-width: 100%; height: auto" width="480"/>
     <img height="217" src="/images/apple.gif" width="235"/>
    </p>
    <p>
     <iframe allow="autoplay; encrypted-media" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/3wIiujOP6Ag?rel=0" width="560">
     </iframe>
    </p>
   </font>
   <br/>
   <br/>
   "Do you like to eat green apples?" = APPLE GREEN YOU LIKE EAT?
   <br/>
   <br/>
   <font face="Arial">
    <iframe allow="autoplay; encrypted-media" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/tXd06Sqi-60" width="560">
    </iframe>
    <br/>
    <img border="0" height="211" src="/images/apple1.jpg" width="207"/>
    <img border="0" height="211" src="/images/apple2.jpg" width="207"/>
    <img border="0" height="211" src="/images/apple3.jpg" width="207"/>
    <img border="0" height="211" src="/images/apple4.jpg" width="207"/>
    <br/>
    <b>
     Memory aid:
    </b>
    think of someone's red cheeks.
    <img height="50" src="/images/applepic.gif" width="42"/>
   </font>
   <p style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p style="margin-top: 0; margin-bottom: 0">
    <br/>
    <font face="Arial">
     <font size="+1">
      Note:
     </font>
     Some people use an "A" handshape instead 
	of an "X" handshape. I consider that to be "Signed English."
     <br/>
     <br/>
     APPLE ("A" handshape variation) (not recommended)
     <br/>
     <img border="0" height="211" src="/images/appleb1.jpg" width="207"/>
     <img border="0" height="211" src="/images/appleb2.jpg" width="207"/>
     <img border="0" height="211" src="/images/appleb3.jpg" width="207"/>
     <img border="0" height="211" src="/images/appleb4.jpg" width="207"/>
    </font>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
    <p style="margin-top: 0; margin-bottom: 0">
     <br/>
     Not needed for class but for further personal exploration of the sign for 
	"apple" see:
     <a href="/dictionary/apple-advanced">
      APPLE (advanced discussion)
     </a>
    </p>
   </font>
  </blockquote>
 </body>
</html>