<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1" width="50%"/>
   <span style="font-weight: 400">
    <font face="Arial">
     <p style="margin-top: 0; margin-bottom: 0">
      APPOINTMENT:
     </p>
     This sign circles (horizontally, counterclockwise) the right "A"
  hand above the stationary left "A" hand then brings it down on top
  of the left "A" hand.  (If you are left handed, switch the 
roles.)
     <p>
      Circle the dominant "A" hand over the base "A" hand. 
	Then bring the dominant hand down onto the base hand.
	Think of circling a date and locking it in.
	Note: Some people use this sign to mean "assignment."
      <br/>
     </p>
     <p>
      <img border="0" height="231" src="/images/appoin4.jpg" width="247"/>
      <img border="0" height="231" src="/images/appoin5.jpg" width="247"/>
      <img border="0" height="231" src="/images/appoin6.jpg" width="247"/>
      <img border="0" height="231" src="/images/appoin7.jpg" width="247"/>
      <br/>
      <br/>
     </p>
     <p>
      <br/>
      <br/>
      Sample sentence: "Do you have a doctor's appointment?"  = DOCTOR 
APPOINTMENT, YOU HAVE?
      <br/>
     </p>
     <p>
      <br/>
      <br/>
      Also see:
      <a href="/dictionary/doctor">
       DOCTOR
      </a>
      for the main (non-initialized) 
version of the sign for "doctor."
      <br/>
     </p>
     <hr color="#800080"/>
     <p>
      <br/>
      RESERVATION:
      <br/>
      This version of "appointment" could be used as
  "reserve,"  "to make a reservation," or "I have
  a reservation."  Use a slight rotational movement of the upper hand 
	and change it from a claw hand into a modified "A" hand (the thumb is 
	slightly wrapped) or a full "S" hand.
     </p>
     <p>
      <br/>
      <img border="0" height="220" src="/images/appointment-reservation1.jpg" width="221"/>
      <img border="0" height="220" src="/images/appointment-reservation2.jpg" width="221"/>
      <img border="0" height="220" src="/images/appointment-reservation3.jpg" width="221"/>
      <img border="0" height="220" src="/images/appointment-reservation4.jpg" width="221"/>
      <img border="0" height="220" src="/images/appointment-reservation5.jpg" width="221"/>
     </p>
    </font>
   </span>
  </blockquote>
 </body>
</html>