<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   <br/>
   For the sign "approximately" draw a circle in the air with your 
			dominant "5-hand" while using a
  facial expression that looks like you are estimating something in your mind.
   <p>
   </p>
   <p>
    APPROXIMATELY / about / around / -ish:
   </p>
   <p>
    <img border="0" src="/images/approximately.gif" style="max-width: 100%; height: auto" width="480"/>
   </p>
   <p>
    <img border="0" height="223" src="/images/about-approximately1.jpg" width="230"/>
    <img border="0" height="223" src="/images/about-approximately2.jpg" width="230"/>
    <img border="0" height="223" src="/images/about-approximately3.jpg" width="230"/>
    <img border="0" height="223" src="/images/about-approximately4.jpg" width="230"/>
    <img border="0" height="223" src="/images/about-approximately5.jpg" width="230"/>
    <img border="0" height="223" src="/images/about-approximately6.jpg" width="230"/>
   </p>
   <hr align="left" color="#000000" size="1" width="50%"/>
   <p style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
    </font>
    <br/>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1" width="50%"/>
    <p style="margin-top: 0; margin-bottom: 0">
     Also see: "
     <a href="/dictionary/about">
      ABOUT
     </a>
     "
     <br/>
     Also see: "
     <a href="/dictionary/-ish">
      -ISH
     </a>
     "
    </p>
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>