<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   Think of how people point fingers at each other when they argue.
   <br/>
   <p>
    <br/>
    ARGUE:
    <br/>
    Version 1:  The fingers go up and down together:
   </p>
   <p>
    <img border="0" height="216" src="/images/arguea1.jpg" width="317"/>
    <img border="0" height="216" src="/images/arguea2.jpg" width="317"/>
    <img border="0" height="216" src="/images/arguea3.jpg" width="317"/>
    <img border="0" height="216" src="/images/arguea4.jpg" width="317"/>
    <img border="0" height="216" src="/images/arguea5.jpg" width="317"/>
    <img border="0" height="216" src="/images/arguea6.jpg" width="317"/>
    <br/>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
   <p>
    <br/>
    Version 2:  The fingers uses an alternating movement.
    <br/>
    <img border="0" height="218" src="/images/argueb1.jpg" width="320"/>
    <img border="0" height="218" src="/images/argueb2.jpg" width="320"/>
    <img border="0" height="218" src="/images/argueb3.jpg" width="320"/>
    <img border="0" height="218" src="/images/argueb4.jpg" width="320"/>
    <br/>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
   <p>
    <br/>
    Notes:
   </p>
   <p>
    Interesting -- I found that when I signed version 2 to myself
  "
    <i>
     off camera
    </i>
    " I tended to open my mouth (a bit) and cover my bottom
  teeth with my tongue.  (Which is to say, my tongue was touching the
  back/inner part of my lower lip but not protruding out of my mouth.  But
  I didn't use the tongue in the first version.  I'll have to video other
  people signing these two versions and see if anyone else does that.
    <br/>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>