<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1" width="50%"/>
   <p style="margin-top: 0; margin-bottom: 0">
    <span style="font-weight: 400">
     <font face="Arial">
      <br/>
      To do the sign for "Arizona," touch the thumb of your dominant "A" hand to 
	one side 
	and then the other side of the chin. Since I'm right handed I start on the 
	right side of my chin.  Note: You don't have to touch the chin. You can 
	just put the hand up close to each side of the chin.  Also, I tend to 
	do a slight downward movement on each side of the chin.
      <br/>
      <br/>
      ARIZONA:
      <br/>
     </font>
    </span>
    <img border="0" height="219" src="/images/arizona1.jpg" width="188"/>
    <img border="0" height="219" src="/images/arizona2.jpg" width="188"/>
    <br/>
   </p>
   <hr align="left" color="#000000" size="1" width="50%"/>
   <p style="margin-top: 0; margin-bottom: 0">
    <span style="font-weight: 400">
     <br/>
     Many people do the sign Arizona by using two downward strokes to either side 
	of the chin.
     <br/>
     The faster a person is signing, the less likely you'll see such large 
	movements in this sign.  Since Byron is "modeling" the sign in 
	isolation he is doing it with big, careful movements. If he were to use 
	ARIZONA in a sentence while signing quickly, the movement would be much 
	smaller.
     <br/>
     <br/>
     ARIZONA:
    </span>
    <br/>
    <img border="0" src="/images/arizona-5.jpg"/>
    <img border="0" src="/images/arizona-6.jpg"/>
    <img border="0" src="/images/arizona-7.jpg"/>
    <img border="0" src="/images/arizona-8.jpg"/>
    <br/>
    <span style="font-weight: 400">
     <font face="Arial">
      Model: Byron Cantrell 
	(Native Deaf, Deaf School/Georgia, Deaf wife, Deaf kids, long-time ASL 
	instructor.)
     </font>
    </span>
    <br/>
    <br/>
    <font size="1">
     <br/>
     (Byron Cantrell)
    </font>
   </p>
  </blockquote>
 </body>
</html>