<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   <p style="margin-top: 0; margin-bottom: 0">
    <br/>
    The sign for "arthritis" shakes an "A" handshape.
    <br/>
    <br/>
    ARTHRITIS:
    <br/>
    <img border="0" src="/images/arthritis-11.jpg"/>
    <img border="0" src="/images/arthritis-12.jpg"/>
    <img border="0" src="/images/arthritis-13.jpg"/>
   </p>
   <hr align="left" color="#000000" size="1" width="50%"/>
   <p style="margin-top: 0; margin-bottom: 0">
    Aniimated example:
    <br/>
    <img border="0" height="320" src="/images/arthritis.gif" width="296"/>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
   <p style="margin-top: 0; margin-bottom: 0">
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    In a message dated 11/10/2011 
	10:58:23 A.M. Pacific Standard Time, Marie writes:
    <br/>
    <br/>
    I have Rheumatiod Arthritis (RA) and Psoriatic Arthritis (PsA). They both 
	make it difficult to sign sometimes and I have had people ask me if I am a 
	beginner because I sign slowly. I am more of an intermediate then beginner. 
	I usually spell out arthritis but I was wondering if there is a sign for it? 
	It would make explaining it much easier.
    <br/>
    Thanks for your time,
    <br/>
    -- Marie
    <br/>
    <br/>
    Marie,
    <br/>
    Yes, there is a common sign for arthritis. You simply shake an "A" hand a 
	couple times side to side a couple of inches.
    <br/>
    One of my students who had arthritis told me that she had her doctor write 
	out a prescription for her to learn ASL as a therapeutic approach to dealing 
	with her arthritis. By writing out a "prescription" it allowed her to deduct 
	the cost of the class as a medical expense.  (Note: Ha! Don't take that 
	as
    <i>
     either
    </i>
    medical or legal advice. I just thought it was a rather 
	clever way one person saved a bit of money come tax time.)
    <br/>
    - Dr. Bill
    <br/>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>