<html>
 <body>
  <blockquote>
   <h1 style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     <font size="5">
      <span style="font-weight: 400">
       American Sign Language: 
		"ask"
      </span>
     </font>
     <br/>
    </font>
   </h1>
   <blockquote>
    <hr align="left" color="#000000" size="1"/>
    <p style="margin-top: 0; margin-bottom: 0">
     The sign for "ask" has a couple of different versions.
    </p>
    <p style="margin-top: 0; margin-bottom: 0">
    </p>
    <p style="margin-top: 0; margin-bottom: 0">
     The "ASK-to" version of the 
	sign is good for everyday general questions such as "ask that person."
     <br/>
     This version of "ask" is transitive. That means it generally uses an object 
	as in "ask somebody." This version of "ask" is "directional." That means the 
	direction of the sign can establish who is the subject and who is the 
	object.  You do this sign in the direction of the object (the person 
	being asked).
     <br/>
     <br/>
     "ASK-to" 
	starts as an index finger and changes into an "X" hand shape as it moves 
	toward the person being asked.
     <br/>
     <br/>
     I/me-ASK-you
     <br/>
     <font face="Arial" size="2">
      Movement is forward. Starts in an "index" shape and ends in an "x" 
handshape.
     </font>
    </p>
    <p style="margin-top: 0; margin-bottom: 0">
     <iframe allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/GtzG1RpF_E4?rel=0" width="560">
     </iframe>
     <br/>
     <br/>
     <img border="0" height="222" src="/images/askto1.jpg" width="237"/>
     <img border="0" height="222" src="/images/askto2.jpg" width="237"/>
     <img border="0" height="222" src="/images/askto3.jpg" width="237"/>
    </p>
    <p style="margin-top: 0; margin-bottom: 0">
    </p>
    <p style="margin-top: 0; margin-bottom: 0">
     you-ASK-me
    </p>
    <p style="margin-top: 0; margin-bottom: 0">
     <img border="0" src="/images/ask-me.gif" style="max-width: 100%; height: auto" width="480"/>
    </p>
    <p style="margin-top: 0; margin-bottom: 0">
     <br/>
    </p>
    <hr align="left" color="#000000" size="1"/>
    <p style="margin-top: 0; margin-bottom: 0">
     <br/>
     I/me-ASK-him
    </p>
    <div>
     he-ASK-me would start off to the side (or the direction of your referent 
		if established) and would move toward you. The palm is toward the person 
		who is being asked (in this case, you), so the palm would face the 
		signer (you) in the statement "he-ASK-me."
    </div>
    <div>
     <div>
      In a message dated 2/10/2012 1:11:51 P.M. Pacific Standard Time, 
			day.frank@comcast.net writes:
     </div>
     <blockquote style="BORDER-LEFT: blue 2px solid; PADDING-LEFT: 5px; MARGIN-LEFT: 5px">
      <font color="#000000" face="Arial" size="2" style="BACKGROUND-COLOR: transparent">
       Dr. Bill,
       <br/>
       <br/>
       lifeprint.com is a wonderful tool that's been helping me with ASL. 
			thank
       <br/>
       you so much for its content.
       <br/>
       <br/>
       quick question for "ASK-to" sign. if signing "he-ASK-me", would you
       <br/>
       still have the palm facing out (away) and bring the sign back to
       <br/>
       yourself as you switch to the 'x' handshape? or do you face the palm 
			to
       <br/>
       yourself and bring the sign towards yourself?
       <br/>
       <br/>
       thank you again,
       <br/>
       <br/>
       david
      </font>
     </blockquote>
    </div>
    <p style="margin-top: 0; margin-bottom: 0">
     <br/>
     This sign is directional.  You can do it in the direction of the person
whom is being asked.
     <br/>
    </p>
    <p style="margin-top: 0; margin-bottom: 0">
     pro.1-ASK-pro.3
     <br/>
     <iframe allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/7vb1keBnzwg?rel=0" width="560">
     </iframe>
    </p>
    <p style="margin-top: 0; margin-bottom: 0">
    </p>
    <p style="margin-top: 0; margin-bottom: 0">
     <img border="0" height="223" src="/images/askhim1.jpg" width="302"/>
     <img border="0" height="223" src="/images/askhim2.jpg" width="302"/>
     <img border="0" height="223" src="/images/askhim3.jpg" width="302"/>
     <br/>
    </p>
    <p style="margin-top: 0; margin-bottom: 0">
     Also see:
     <a href="/dictionary/ask-to">
      ASK-TO
     </a>
    </p>
    <hr align="left" color="#000000" size="1"/>
    <p style="margin-top: 0; margin-bottom: 0">
     ASK-[advanced versions]:
    </p>
    <p style="margin-top: 0; margin-bottom: 0">
     These two following versions 
	start with a cocked-index finger and end with a straight index finger.
    </p>
    <p style="margin-top: 0; margin-bottom: 0">
    </p>
    <p style="margin-top: 0; margin-bottom: 0">
     I/me-ASK-you-[version]
    </p>
    <p style="margin-top: 0; margin-bottom: 0">
     <img border="0" src="/images/ask-you.gif" style="max-width: 100%; height: auto" width="480"/>
    </p>
    <p style="margin-top: 0; margin-bottom: 0">
    </p>
    <p style="margin-top: 0; margin-bottom: 0">
     ASK-to-[version]
    </p>
    <p style="margin-top: 0; margin-bottom: 0">
     <img border="0" src="/images/ask-to-1.gif" style="max-width: 100%; height: auto" width="480"/>
    </p>
    <p style="margin-top: 0; margin-bottom: 0">
    </p>
    <hr align="left" color="#000000" size="1"/>
    <p style="margin-top: 0; margin-bottom: 0">
     <br/>
     There is a more formal version of the sign for "ask." The more formal version is 
good for such concepts as "request."
     <br/>
     The "REQUEST-[ask]" is not directional.  It can mean "a request / the 
request." It can be used in context to mean "PRAY." (For example, if you are in 
a church and see this sign it might mean "pray/" or praying, especially if it 
has small, partially repeated movement.
     <br/>
     <br/>
     REQUEST:
    </p>
    <p style="margin-top: 0; margin-bottom: 0">
     <br/>
     <img border="0" height="326" src="/images/ask.gif" width="300"/>
    </p>
    <p style="margin-top: 0; margin-bottom: 0">
     <img border="0" height="223" src="/images/ask1.jpg" width="212"/>
     <img border="0" height="223" src="/images/ask2.jpg" width="212"/>
     <img border="0" height="223" src="/images/ask3.jpg" width="212"/>
     <br/>
     <br/>
     Notes:
    </p>
    <p style="margin-top: 0; margin-bottom: 0">
     If you do the sign "REQUEST" a little smaller and use a double motion, it 
	can mean praying, or--with a plaintive facial expression--pleading.  If 
	you do the sign REQUEST and hold it at the end while using a hopeful facial 
	express as you look at the other person this sign can be used as a quaint 
way to sign the concept of  "oh please do this for me."
     <br/>
    </p>
    <p style="margin-top: 0; margin-bottom: 0">
    </p>
    <hr align="left" color="#000000" size="1"/>
    <p align="center" style="margin-top: 0; margin-bottom: 0">
    </p>
    <p align="center" style="margin-top: 0; margin-bottom: 0">
    </p>
    <hr align="left" color="#000000" size="1"/>
    <p style="margin-top: 0; margin-bottom: 0">
     <span style="background-color: #FFFF00">
      Additional OPTIONAL reading:
     </span>
    </p>
    <hr align="left" color="#000000" size="1"/>
    <p align="left" style="margin-top: 0; margin-bottom: 0">
    </p>
    <div>
     <blockquote style="PADDING-LEFT: 5px; MARGIN-LEFT: 5px; BORDER-LEFT: blue 2px solid">
      <font color="#000000" face="Arial" size="2" style="BACKGROUND-COLOR: transparent">
       <blockquote dir="ltr" style="PADDING-RIGHT: 0px; PADDING-LEFT: 5px; MARGIN-LEFT: 5px; BORDER-LEFT: #800080 2px solid; MARGIN-RIGHT: 0px">
        <font color="#000000" face="Arial" size="2">
         <div>
          <div>
           <p style="margin-top: 0; margin-bottom: 0">
            In a message dated 8/19/2005 5:12:45 AM Pacific Daylight 
					Time,@goeaston.net writes:
           </p>
          </div>
          <blockquote style="PADDING-LEFT: 5px; MARGIN-LEFT: 5px; BORDER-LEFT: blue 2px solid">
           <p style="margin-top: 0; margin-bottom: 0">
            <font color="#800080" face="Arial Black" size="3" style="BACKGROUND-COLOR: transparent">
             When would you use 'ask' (two hands together) versus 'ask'  
					index finger?
             <br/>
             - Linda
            </font>
           </p>
          </blockquote>
         </div>
         <div>
          <p style="margin-top: 0; margin-bottom: 0">
           Linda,
           <br/>
           Let's call the two handed version "ASK" and the one-handed 
				version "ASK-to."
          </p>
         </div>
         <div>
          <p style="margin-top: 0; margin-bottom: 0">
           The one handed version (ASK-to) is much more "directional."  You 
				can inflect (change) the direction of the movement of the sign 
				and the palm orientation of the sign to establish who is the 
				subject and who is the object of your sentence.
          </p>
         </div>
         <div>
          <p style="margin-top: 0; margin-bottom: 0">
           I use the "two handed" ASK version in more formal situations and 
				occasionally as a noun.  The two handed version is similar in 
				usage to the English word "request."  "Request" can be used as a 
				noun or as a verb.
          </p>
         </div>
         <div>
          <p style="margin-top: 0; margin-bottom: 0">
           The ASK sign is less transitive than ASK-to. By transitive I 
				mean "referring to an object."
          </p>
         </div>
         <div>
          <p style="margin-top: 0; margin-bottom: 0">
           For example in the sentence, "Go ask your mom," the object is 
				"mom."  You would sign, "ASK-to MOM" with one hand. You would do 
				the sign in the direction of the child's mother if she is 
				around.
          </p>
         </div>
         <div>
          <p style="margin-top: 0; margin-bottom: 0">
           Compare that with the sentence "He has a request."  This would 
				generally be signed "HE HAVE ASK."  Or more likely, "HE WANT 
				FAVOR" or "HE WANT KNOW, YOU-MIND..."
          </p>
         </div>
         <div>
          <p style="margin-top: 0; margin-bottom: 0">
           By the way, if you wanted to sign, "He has a question," you 
				might use "HE HAVE QUESTION-MARK," (using the variation that 
				draws a question mark in the air).
          </p>
         </div>
         <div>
          <p style="margin-top: 0; margin-bottom: 0">
           Bill
          </p>
         </div>
        </font>
       </blockquote>
      </font>
     </blockquote>
    </div>
    <div>
    </div>
    <div>
     <p style="margin-top: 0; margin-bottom: 0">
      In a message dated 8/24/2005 4:16:14 A.M. Pacific Daylight Time, 
	@goeaston.net writes:
     </p>
    </div>
    <blockquote style="PADDING-LEFT: 5px; MARGIN-LEFT: 5px; BORDER-LEFT: blue 2px solid">
     <font color="#000000" face="Arial" size="2" style="BACKGROUND-COLOR: transparent">
      <div>
       <p style="margin-top: 0; margin-bottom: 0">
        <font color="#800080" face="Arial Black">
         so in a sentence "he asked me 
		for money" would it be 2 hands, like a request? Or, "I asked him not to 
		go out" 2 hands?  Or, " I'll ask him to stop at your house"  Or "I asked 
		her to baby-sit"... I'm still not sure... does it matter?  Is the 2 
		handed ask used less frequently?  Sorry to be dense.
         <br/>
         - Linda
        </font>
       </p>
      </div>
     </font>
    </blockquote>
    <div>
     <p style="margin-top: 0; margin-bottom: 0">
      Linda,
     </p>
    </div>
    <div>
     <p style="margin-top: 0; margin-bottom: 0">
      These are two different signs. Each has it's own meanings and usage.
     </p>
    </div>
    <div>
     <p style="margin-top: 0; margin-bottom: 0">
      I've actually seen the sign REQUEST used to mean "pretty please."  For 
	example, "John" might ask Mary for a favor.  Then as she is thinking about 
	it, John does the sign "request" and holds it with a pleading look on his 
	face.  The sign REQUEST, when done with a double movement, actually means 
	"pray" or "plead with."
     </p>
    </div>
    <div>
     <p style="margin-top: 0; margin-bottom: 0">
      The sign ASK-TO is not used in that manner.
     </p>
    </div>
    <div>
     <p style="margin-top: 0; margin-bottom: 0">
      In the sentences you listed if you used the sign ASK-TO the meaning 
	would be "casual and straightforward."  If you used the sign REQUEST 
	the meaning would be more serious, formal, or pleading.
     </p>
    </div>
    <div>
     <p style="margin-top: 0; margin-bottom: 0">
      Additionally, the sign REQUEST, when done at the end of a prayer can mean 
	"amen."  ("REQUEST" is one of four popular ways to sign AMEN.)
     </p>
    </div>
    <div>
     <p style="margin-top: 0; margin-bottom: 0">
      Bill
      <br/>
     </p>
    </div>
    <meta content="MSHTML 6.00.2900.2722" name="GENERATOR"/>
    <style>
    </style>
    <div>
     <p style="margin-top: 0; margin-bottom: 0">
      <font color="#800080" face="Arial Black">
       ahh, the lightbulb is starting to 
	flicker - so if I said "when I go to work I will ask for time off" that 
	would be 2 hands? But if I said "the boys were wild so I asked them to 
	leave" it would be one hand?
       <br/>
       - Linda
      </font>
     </p>
    </div>
    <div>
     <div>
      <div>
       <div>
        <p style="margin-top: 0; margin-bottom: 0">
         Linda,
         <br/>
         Telling someone that you are going to seek time off work would 
				indeed lean toward using the sign REQUEST rather than the sign 
				ASK-TO.  It could go either way though depending on the 
				relationship between the employee and the boss, the level of 
				confidence of the employee, the difficulty of the process of 
				asking (while passing in the hall or while sitting down in the 
				boss's office).
        </p>
       </div>
       <div>
        <p style="margin-top: 0; margin-bottom: 0">
         Now, your second sentence would actually use the sign "TOLD."  
				You are using a hearing euphemism.  "I asked them to leave" is a 
				polite Hearing way of saying that you
         <strong>
          told
         </strong>
         them 
				to leave.  In ASL we are more direct. You wouldn't inform your 
				friend that you asked two rowdy boys to leave.  You'd inform 
				your friend that you
         <strong>
          told
         </strong>
         two rowdy boys to 
				leave. You did not really
         <strong>
          ask
         </strong>
         them did you?  
				You did not have your eyebrows up in a yes / no question 
				expression as you "asked them to leave." You did not wait at the 
				end of your sentence for them to reply "yes, no, or we'll think 
				about it."  Instead you had your face in a stern facial 
				expression with tight lips and a furrowed brow and you told them 
				leave.
         <br/>
         -Bill
         <br/>
        </p>
       </div>
      </div>
     </div>
    </div>
    <p style="margin-top: 0; margin-bottom: 0">
     <font color="#800080" face="Arial Black">
      oh, wow... you've given me allot to 
think about - it's really hard to think of those things when I'm signing to my 
friend in conversational English... I'm concentrating on the signs rather than 
the concept... of course she understands what I'm trying to say, but I wish I 
could get it right.  It's hard when I only spend an hour here or there with her, 
every few days... thanks again for all the time you've taken to explain to me.
      <br/>
      -Linda
     </font>
    </p>
    <hr align="left" color="#000000" size="1"/>
    <p style="margin-top: 0; margin-bottom: 0">
     <br/>
     David asks:
     <br/>
     <br/>
     Quick question regarding the "ASK-to" sign. If I'm signing "he-ASK-me", 
	would I still have the palm facing out (away) and bring the sign back to 
	myself as I switch to the 'x' handshape? Or do I face the palm toward myself 
	and bring the sign towards myself?
     <br/>
     Thanks,
     <br/>
     - David
     <br/>
     <br/>
     Dear David,
     <br/>
     For the sign "he-ASK-me" you always point the palm toward the person who is 
	being asked (in this case, you), so the palm would face the signer (you) 
	when making the statement "he-ASK-me." (He asked me.)
     <br/>
     To do the sign

"he-ASK-me" you would start off to the side (or the direction of your 
	referent if established) with the palm facing yourself, and would move the 
	sign back toward your body as you change it from an "index" to an "x"-hand.
     <br/>
     - Dr. Bill
     <br/>
    </p>
    <hr align="left" color="#000000" size="1"/>
    <p style="margin-top: 0; margin-bottom: 0">
     <br/>
     In a message dated 7/7/2012, a 12-year-old from the east coast writes:
     <br/>
     <br/>
     "I wanted to know the difference between the ASK sign and the sign for 
	NEED."
     <br/>
     Thanks,
     <br/>
     - Devon
     <br/>
     <br/>
     Dear Devon,
     <br/>
     ASK: Starts as a straight index finger that turns into an "X" as it moves 
	toward the person being asked.
     <br/>
     <a href="/dictionary/need">
      NEED
     </a>
     : Starts as an "X" and bends at the wrist.
     <br/>
     - Dr. Bill
    </p>
   </blockquote>
   <hr align="left" color="#000000" size="1"/>
   <hr align="left" color="#000000" size="1"/>
   <hr align="left" color="#000000" size="1"/>
   <hr color="#000000" size="1"/>
   <p>
   </p>
  </blockquote>
 </body>
</html>