<html>
 <body>
  <blockquote>
   <font face="Arial">
    <h2 style="margin-top: 0; margin-bottom: 0">
     <span style="font-weight: 400">
      American Sign Language:  "asterisk"
     </span>
    </h2>
    <blockquote>
     <hr align="left" color="#000000" size="1" width="50%"/>
     <span style="font-weight: 400">
      <p style="margin-top: 0; margin-bottom: 0">
       ASTERISK:
      </p>
      <p style="margin-top: 0; margin-bottom: 0">
       There is no widely used or recognized 
sign for asterisk.
       <br/>
       One strategy for indicating an asterisk would be be to draw an asterisk in the 
air using your index finger.
      </p>
      <hr align="left" color="#000000" size="1" width="50%"/>
      <p style="margin-top: 0; margin-bottom: 0">
       <br/>
       ASTERISK:
       <br/>
       <img border="0" height="300" src="/images/asterisk.jpg" width="322"/>
      </p>
      <p style="margin-top: 0; margin-bottom: 0">
      </p>
      <hr align="left" color="#000000" size="1" width="50%"/>
      <p style="margin-top: 0; margin-bottom: 0">
       Note: Another approach to conveying 
the meaning of "asterisk" would be to use the sign "
       <a href="/dictionary/star" style="text-decoration: none">
        STAR
       </a>
       ."   
The context of your conversation would influence the interpretation of the sign. 
For example, if you were discussing typography or fonts and you did the sign for 
"STAR" the other person would assume you were referring to an asterisk, (not a 
distant sun).
       <br/>
       See: "
       <a href="/dictionary/star" style="text-decoration: none">
        STAR
       </a>
       "
      </p>
     </span>
    </blockquote>
    <p style="margin-top: 0; margin-bottom: 0">
    </p>
    <hr align="left" color="#000000" size="1"/>
    <hr align="left" color="#000000" size="1"/>
   </font>
   <b>
    <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=XHRNABERKJT4N" rel="nofollow" target="_blank">
     <u>
      DONATE
     </u>
    </a>
   </b>
   <font size="2">
    (
    <i>
     Thanks!
    </i>
    )
   </font>
   <br/>
   <br/>
   <font face="Arial">
    *
   </font>
   Another way to help is to buy something from Dr. Bill's "
   <b>
    <a href="/dictionary/bookstore">
     <u>
      Bookstore
     </u>
    </a>
   </b>
   ."
   <hr align="left" color="#000000" size="1"/>
   <hr color="#000000" size="1"/>
   <p>
   </p>
  </blockquote>
 </body>
</html>