<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   <font face="Arial">
    Touch the thumb of your right "A" hand to the left half of your
  chest, then move it to the right side.  The thumb doesn't drag along your
  chest. It touches at the beginning of the sign then at the end.  Also it
  doesn't even need to touch. You can just bring the hand near the chest as if
  you were going to touch it. If I'm signing slow and carefully, I make contact,
  if I'm signing quickly and casually I don't make contact.
    <br/>
    <p>
    </p>
    <p>
     ATLANTA:
    </p>
    <p>
     <img border="0" height="222" src="/images/atlanta1.jpg" width="228"/>
     <img border="0" height="222" src="/images/atlanta2.jpg" width="228"/>
    </p>
    <p>
    </p>
    <hr align="left" color="#000000" size="1"/>
    <p>
     <br/>
     Here is Byron showing that you may see the sign Atlanta starting on 
			the right and moving to the left.
     <br/>
     <br/>
     ATLANTA (Version 2)
    </p>
    <p>
     <img border="0" height="296" src="/images/atlanta-9.jpg" width="296"/>
     <img border="0" height="296" src="/images/atlanta-10.jpg" width="296"/>
     <img border="0" height="296" src="/images/atlanta-11.jpg" width="296"/>
     <br/>
     Model:
     <b>
      Byron Cantrell
     </b>
     (Native Deaf, Deaf School/Georgia, Deaf 
			wife, Deaf kids, long-time ASL instructor.)
     <br/>
    </p>
    <p>
    </p>
    <p>
    </p>
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>