<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   <p>
    The sign for average is done with the dominant hand in a 
			"flat-hand" shape and the non-dominant hand in an "open-B-hand" 
			shape.  The dominant hand taps the non-dominant hand twice at 
			the midpoint between the non-dominant hand's thumb and fingertips. 
			(The non-dominant hand doesn't move in this sign.)
    <br/>
    <br/>
    AVERAGE:
    <br/>
    <img border="0" height="320" src="/images/average-1.jpg" width="285"/>
    <img border="0" height="320" src="/images/average-2.jpg" width="285"/>
    <font face="Arial">
     <img border="0" height="320" src="/images/average-1.jpg" width="285"/>
     <img border="0" height="320" src="/images/average-2.jpg" width="285"/>
    </font>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1" width="50%"/>
   <p style="margin-top: 0; margin-bottom: 0">
    Also see:
    <a href="/dictionary/about">
     ABOUT
    </a>
    <br/>
    Also see:
    <a href="/dictionary/approximately">
     APPROXIMATELY
    </a>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>