<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   <p style="margin-top: 0; margin-bottom: 0">
    There are several variations of backpack.
    <br/>
    Check with your local Deaf or your local instructor for the variation used 
	in your area.
    <font face="Arial">
     <hr align="left" color="#000000" size="1"/>
    </font>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    BACKPACK ("A" version)
    <br/>
    <font face="Arial">
     Use "A" hands.  Hold them a couple of inches in front of your 
	chest with the thumbs pointing up, palm-sides facing each other, about 8 
	inches apart.  (It sort of looks as if you are holding onto the straps 
	of a backpack.) Move your hands backward twice using a thumping motion on 
	the chest.
    </font>
    <font face="Arial">
     <p style="margin-top: 0; margin-bottom: 0">
      <img border="0" src="/images/backpack-A.gif" style="max-width: 100%; height: auto" width="480"/>
     </p>
     <p style="margin-top: 0; margin-bottom: 0">
      <img border="0" height="300" src="/images/backpack-a-1.jpg" width="273"/>
      <img border="0" height="300" src="/images/backpack-a-2.jpg" width="273"/>
      <img border="0" height="300" src="/images/backpack-a-1.jpg" width="273"/>
      <img border="0" height="300" src="/images/backpack-a-2.jpg" width="273"/>
      <br/>
     </p>
     <hr align="left" color="#000000" size="1"/>
    </font>
   </p>
  </blockquote>
 </body>
</html>