<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   <font face="Arial">
    <p>
     The verb "bake" uses a single motion representing the placing of food in an
  oven.
     <br/>
     <br/>
     BAKE:
     <br/>
     <img border="0" height="240" src="/images/bake1.jpg" width="250"/>
     <img border="0" height="240" src="/images/bake2.jpg" width="250"/>
    </p>
    <p>
     <br/>
     <br/>
     Use a double motion to turn the verb "BAKE" into the noun
  "OVEN."
     <br/>
     [However, usually I just spell "O-V-E-N."]
     <br/>
     <br/>
     OVEN or "baking"
     <br/>
     <img border="0" height="238" src="/images/oven1.jpg" width="262"/>
     <img border="0" height="238" src="/images/oven2.jpg" width="262"/>
     <img border="0" height="238" src="/images/oven3.jpg" width="262"/>
     <br/>
     <img border="0" height="238" src="/images/oven4.jpg" width="262"/>
     <br/>
    </p>
    <p>
    </p>
    <p>
     See:
     <a href="/images/ovenanimation.gif">
      animation
     </a>
     <br/>
    </p>
    <hr color="#000000" size="1"/>
    <p>
     Also see:
     <a href="/dictionary/stove">
      STOVE
     </a>
     <br/>
     Also see:
     <a href="/dictionary/cook">
      COOK
     </a>
    </p>
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>