<html>
 <body>
  <blockquote>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
    <p>
     The "right" sign for "ball" depends on what kind of 
			ball you are talking about.
     <br/>
     If you are talking about "a ball" as in "a dance" then you might 
			sign "DANCE" or just spell B-A-L-L.
     <br/>
     If you are talking about a large ball then you will need to do the 
			sign larger.
     <br/>
    </p>
    <p>
     The generic sign for BALL can (in context" be interpreted as meaning "
     <a href="/dictionary/softball">
      softball
     </a>
     ."
     <br/>
     <br/>
    </p>
    <p>
     BALL (generic)
    </p>
    <p>
     <img border="0" height="215" src="/images/ball1.jpg" width="207"/>
     <img border="0" height="215" src="/images/ball2.jpg" width="207"/>
     <img border="0" height="215" src="/images/ball3.jpg" width="207"/>
     <img border="0" height="215" src="/images/ball4.jpg" width="207"/>
    </p>
    <p>
     <br/>
    </p>
    <hr align="left" color="#000000" size="1" width="50%"/>
    <p>
     Note: The concept of BALL is often just spelled B-A-L-L.
    </p>
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>