<html>
 <body>
  <blockquote>
   <font face="Arial">
    <h2 style="margin-top: 0; margin-bottom: 0">
     <span style="font-weight: 400">
      American Sign Language:  "balloon"
     </span>
    </h2>
    <blockquote>
     <p style="margin-top: 0; margin-bottom: 0">
      <span style="font-weight: 400">
       The sign for 
"balloon" is done in ASL by miming the action of blowing up a balloon.
      </span>
     </p>
     <hr align="left" color="#000000" size="1" width="50%"/>
     <span style="font-weight: 400">
      <p align="left" style="margin-top: 0; margin-bottom: 0">
       BALLOON:
      </p>
      <p align="left" style="margin-top: 0; margin-bottom: 0">
       <img border="0" height="320" src="/images/balloon.gif" width="320"/>
      </p>
      <hr align="left" color="#000000" size="1" width="50%"/>
      <p style="margin-top: 0; margin-bottom: 0">
       Discussion:
       <br/>
       The "noun" form of the sign BALLOON is done smaller and quicker than the verb 
form. The verb form is done larger and (a bit) slower -- as if you were actually 
blowing up a balloon. The sentence will also provide context. If you use a sign 
like HAVE or MY prior to the sign for BALLOON it will be fairly obvious that you 
are talking about the thing and not the process of blowing up a balloon.
      </p>
      <p style="margin-top: 0; margin-bottom: 0">
      </p>
      <hr align="left" color="#000000" size="1"/>
     </span>
    </blockquote>
   </font>
   <b>
    <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=XHRNABERKJT4N" rel="nofollow" style="text-decoration: none" target="_blank">
     <u>
      DONATE
     </u>
    </a>
   </b>
   <font size="2">
    (
    <i>
     Thanks!
    </i>
    )
   </font>
   <br/>
   <br/>
   <font face="Arial">
    *
   </font>
   Another way to help is to buy something from Dr. Bill's "
   <b>
    <a href="/dictionary/bookstore" style="text-decoration: none">
     <u>
      Bookstore
     </u>
    </a>
   </b>
   ."
   <hr align="left" color="#000000" size="1"/>
   <hr color="#000000" size="1"/>
   <p>
   </p>
  </blockquote>
 </body>
</html>