<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1" width="50%"/>
   <span style="font-weight: 400">
    <font face="Arial">
     <p style="margin-top: 0; margin-bottom: 0">
      BANANA: 
Show the peeling of a banana.
     </p>
     <p>
      <img border="0" height="216" src="/images/banana1.jpg" width="214"/>
      <img border="0" height="216" src="/images/banana2.jpg" width="214"/>
      <img border="0" height="216" src="/images/banana3.jpg" width="214"/>
      <img border="0" height="216" src="/images/banana4.jpg" width="214"/>
     </p>
     <p>
      Note: You will see various handshapes for the dominant hand: "modified O," 
"F," or even and "X."
      <br/>
      Here is an example of me using the "F" handshape version in the sentence:
      <br/>
      <br/>
      "Do you like bananas in your cereal?"
      <br/>
      <br/>
     </p>
     <p style="margin-top: 0; margin-bottom: 0">
      <br/>
     </p>
     <hr align="left" color="#000000" size="1" width="50%"/>
    </font>
   </span>
  </blockquote>
 </body>
</html>