<html>
 <body>
  <blockquote>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
    <p>
     The sign for "bandage" will vary depending on what is 
			being bandaged.
     <br/>
    </p>
    <p>
     If you are talking about applying a simple "Band-Aid" type bandage or 
	asking someone if they have a "Band-Aid" then use this generic "bandage" 
	sign.
     <br/>
     <br/>
     The dominant "H-hand" is used to show a bandage on the back of the 
	non-dominant
  hand.
    </p>
    <p>
     <br/>
     BANDAGE: (as in a "Band-Aid" type)
    </p>
    <p>
     <img border="0" height="216" src="/images/bandage1.jpg" width="211"/>
     <img border="0" height="216" src="/images/bandage2.jpg" width="211"/>
     <img border="0" height="216" src="/images/bandage3.jpg" width="211"/>
    </p>
    <p>
     <br/>
    </p>
    <hr align="left" color="#000000" size="1" width="50%"/>
    <p>
     If you are talking about bandaging someone's head or arm then you 
			can use the dominant hand in a "B" handshape and make large wrapping 
			motions around the body part that is being bandaged.
     <br/>
     If you are taking about bandaging a leg or a foot, you can use the 
			non-dominant arm or hand as a proxy to represent the leg or foot.
    </p>
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>