<html>
 <body>
  <blockquote>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
    <p>
     To sign "baseball" just pretend you are holding a bat and take a couple of mini-swings.
     <br/>
    </p>
    <p>
     <br/>
     BASEBALL:
    </p>
    <p>
     <img border="0" height="216" src="/images/baseball1.jpg" width="209"/>
     <img border="0" height="216" src="/images/baseball2.jpg" width="209"/>
     <img border="0" height="216" src="/images/baseball3.jpg" width="209"/>
     <img border="0" height="216" src="/images/baseball4.jpg" width="209"/>
    </p>
    <p>
     <br/>
    </p>
    <hr align="left" color="#000000" size="1" width="50%"/>
    <p>
    </p>
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>