<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   <p style="margin-top: 0; margin-bottom: 0">
    The sign for "basket" uses "C" handshapes.  The "C" handshapes
in this sign are functioning as "classifiers" or what might be written
as "C:CL" or "
    <a href="/dictionary/clc">
     CL:C
    </a>
    ."  What it is classifying is a whole
range of large cylindrical objects like telephone poles, garbage cans, or (in my
home) laundry baskets.  We use tall round laundry baskets for dirty clothes
and the shorter/wider baskets for clean clothes.
    <br/>
    <font face="Arial">
     <hr align="left" color="#000000" size="1"/>
    </font>
   </p>
   <p>
    Note:  The "typical" sign for basket would use slightly curved
"B" palms (with the thumbs alongside rather than across the palm), to
show the shape of the basket--starting from the bottom center to the top sides.
   </p>
   <p>
    <img border="0" src="/images/basket-bowl.gif" style="max-width: 100%; height: auto" width="480"/>
   </p>
   <p>
    <img border="0" height="237" src="/images/basketb1.jpg" width="341"/>
    <img border="0" height="237" src="/images/basketb2.jpg" width="341"/>
    <img border="0" height="237" src="/images/basketb3.jpg" width="341"/>
    <img border="0" height="237" src="/images/basketb4.jpg" width="341"/>
    <img border="0" height="237" src="/images/basketb5.jpg" width="341"/>
    <img border="0" height="237" src="/images/basketb6.jpg" width="341"/>
   </p>
   <p>
    You can also add a handle to the basket:
   </p>
   <p>
    <font face="Arial">
     <img border="0" src="/images/basket-canister-1.gif" style="max-width: 100%; height: auto" width="480"/>
    </font>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
   <p>
    Large, tall, cylindrical object:
    <br/>
    <font face="Arial">
     <img border="0" src="/images/basket-tall.gif" style="max-width: 100%; height: auto" width="480"/>
    </font>
    <img border="0" height="221" src="/images/basket1.jpg" width="228"/>
    <img border="0" height="221" src="/images/basket2.jpg" width="228"/>
    <img border="0" height="221" src="/images/basket3.jpg" width="228"/>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
   <p>
    You can adjust the size of your basket.  Here I'm showing a somewhat 
larger "hamper."  Also, I'm sitting down as I sign this so the sign seems 
higher than if I were signing while standing up:
    <br/>
    <br/>
    <img border="0" height="240" src="/images/basket-cylinder1.jpg" width="352"/>
    <img border="0" height="240" src="/images/basket-cylinder2.jpg" width="352"/>
    <img border="0" height="240" src="/images/basket-cylinder3.jpg" width="352"/>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
   <p>
    <b>
     Student
    </b>
    : Does the default meaning for the sign "basket" tend to be 
"garbage"? If I wanted to sign "basket", would people first assume I meant 
"garbage"? Or is this one of those matters-of-context?
   </p>
   <p>
    <b>
     Dr. Bill
    </b>
    :  No.  I don't use basket for garbage.  I might use the 
basket/cylinder sign after the sign garbage to mean "garbage CAN."
    <a href="/dictionary/garbage">
     GARBAGE
    </a>
    has its own sign.
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>