<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   <p>
    How do you sign "bassoon?"
    <br/>
   </p>
   <font face="Arial">
    <p style="margin-top: 0; margin-bottom: 0">
     In a message dated 2/10/2013 9:26:25 A.M. Pacific Standard Time, 
	laurfriend2009 writes:
     <br/>
     "I was wondering how to sign both bassoon and bass clarinet. I play both and 
	would like to know how to sign them."
     <br/>
     <br/>
     Dear Laur,
     <br/>
     ASL doesn't have
     <i>
      specific
     </i>
     signs for those items.
     <br/>
     In the Deaf Community we rarely discuss musical instruments. When we do 
	discuss instruments we tend to use abbreviated mime versions of what it 
	looks like to play the instrument. Some examples include: PIANO, GUITAR, 
	FLUTE, VIOLIN, DRUM, CYMBALS, BAGPIPES, and XYLOPHONE. Thus if the musical 
	instrument is "commonly recognized in general society" and has an obvious 
	movement then you can do an abbreviated mime version of playing the 
	instrument as your "sign" for that instrument.
     <br/>
     The typical "Hearing" American doesn't even know what a "bassoon" is. If you do a survey on 
	the street I suspect you might get more than a few people who think that a 
	bassoon is a type of monkey.
     <br/>
    </p>
    <p style="margin-top: 0; margin-bottom: 0">
     My suggestion for how to discuss a "bassoon" in the Deaf Community would be to 
	spell it and then do a mime of how you play it and (depending on the 
	circumstances) you could describe the length and shape of a bassoon.  
	Also, you could hand your cell phone to someone and have them use it to take 
	a picture of you playing your bassoon. Then if you are interacting with a 
	new Deaf acquaintance and want to tell him/her that you play the bassoon you 
	can point to yourself, mime playing a bassoon, spell B-A-S-S-O-O-N, and then 
	whip out your cell phone and show him/her a picture of you playing it.
     <br/>
     Cordially,
    </p>
    <p style="margin-top: 0; margin-bottom: 0">
     Dr. Bill
     <br/>
    </p>
   </font>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>