<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   <p style="margin-top: 0; margin-bottom: 0">
    To express the concept of "bathtub" do
    <font face="Arial">
     the sign for "bath" then spell "tub."  "Bath" is a form of the sign "
     <a href="/dictionary/wash">
      WASH
     </a>
     ."  
	You use "A" hands, and move them up the body twice.
    </font>
    <br/>
    <br/>
    BATHTUB:
    <br/>
    <img border="0" src="/images/bathtub.gif" style="max-width: 100%; height: auto" width="480"/>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <img border="0" height="240" src="/images/bathtub1.jpg" width="270"/>
    <img border="0" height="240" src="/images/bathtub3.jpg" width="270"/>
    <img border="0" height="240" src="/images/bathtub5.jpg" width="270"/>
    <img border="0" height="240" src="/images/bathtub6.jpg" width="270"/>
    <img border="0" height="240" src="/images/bathtub7.jpg" width="270"/>
    <img border="0" height="240" src="/images/bathtub8.jpg" width="270"/>
    <img border="0" height="240" src="/images/bathtub9.jpg" width="270"/>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/HCOkhtgWKxs?rel=0" width="560">
    </iframe>
    <br/>
    <font face="Arial">
     <hr align="left" color="#000000" size="1" width="50%"/>
    </font>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <br/>
    Does your bathroom have a tub?
    <br/>
    <br/>
    <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/FDExRDeWiVw?rel=0" width="560">
    </iframe>
    <br/>
    <font face="Arial">
     <hr align="left" color="#000000" size="1" width="50%"/>
    </font>
   </p>
   <p>
    Which do you prefer, bathing or showering?
    <br/>
    <br/>
    <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/n9FZcucx89c?rel=0" width="560">
    </iframe>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>