<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   <p style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     <img align="right" height="225" src="/images/bathroom.gif" width="150"/>
     <font size="+1">
      T
     </font>
     he sign for "bathroom"
is made by forming the right hand into the letter "t."  The palm side 
is facing away from you. Shake your hand side to side a couple times. Some 
people use a twisting movement instead of the side to side shake.  Either 
is fine.
    </font>
    <br/>
    <br/>
    BATHROOM:
    <br/>
    <img border="0" src="/images/bathroom.gif" style="max-width: 100%; height: auto" width="480"/>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <iframe allow="autoplay; encrypted-media" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/2xdhyJEgXdI?rel=0" width="560">
    </iframe>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <img border="0" height="480" src="/images/bathroom-01.jpg" width="480"/>
    <img border="0" height="480" src="/images/bathroom-02.jpg" width="480"/>
    <img border="0" height="480" src="/images/bathroom-03.jpg" width="480"/>
    <img border="0" height="480" src="/images/bathroom-04.jpg" width="480"/>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
    </font>
    <font face="Arial">
     <hr align="left" color="#000000" size="1" width="50%"/>
    </font>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <br/>
    "How many bathrooms do you have in your house?"
    <br/>
    = YOUR HOUSE, BATHROOM
    <font face="Arial">
     HOW-MANY
    </font>
    ?
    <br/>
    <iframe allow="autoplay; encrypted-media" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/hNZhHC6NcxI?rel=0" width="560">
    </iframe>
    <br/>
   </p>
   <hr align="left" color="#000000" size="1" width="50%"/>
   <p style="margin-top: 0; margin-bottom: 0">
    <br/>
    <font face="Arial">
     Note:
     <br/>
     A frequent question in households with children and/or developmentally 
	disabled folks is, "Do you need to go to the bathroom?"  This can be 
	signed easily by simply doing the sign for bathroom while at the same time 
	tilting your head forward a bit and raising your eyebrows.
     <br/>
     <br/>
     "Do you need to go to the
     <b>
      bathroom
     </b>
     ?"
     <br/>
     <br/>
     <img border="0" height="216" src="/images/bathro1.jpg" width="196"/>
     <img border="0" height="216" src="/images/bathro3.jpg" width="196"/>
     <img border="0" height="216" src="/images/bathro2.jpg" width="196"/>
     <br/>
     <br/>
     Note: You might be wondering why the sign "BATHROOM" uses a "T" handshape.  
It is probably because this sign can also be interpreted to mean "toilet."  
Most of the time though the sign should be interpreted as "
     <b>
      bathroom
     </b>
     ."
     <br/>
    </font>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
   <p style="margin-top: 0; margin-bottom: 0">
    Also see:
    <a href="/dictionary/restroom">
     RESTROOM
    </a>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>