<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   <p style="margin-top: 0; margin-bottom: 0">
    The sign for "become" uses "flat hands. Keep them pressed 
	together as you reverse the orientation using one smooth movement.
    <br/>
    <br/>
    BECOME:
    <br/>
    <img border="0" height="225" src="/images/become1.jpg" width="226"/>
    <img border="0" height="225" src="/images/become2.jpg" width="226"/>
    <img border="0" height="225" src="/images/become3.jpg" width="226"/>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/moCca94sHsU?rel=0" width="560">
    </iframe>
    <br/>
    <font face="Arial">
     <hr align="left" color="#000000" size="1" width="50%"/>
    </font>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <br/>
    Sample sentence: "Do you want to become an interpreter?"
    <br/>
    <br/>
    <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/ah6sbCwgk0w?rel=0" width="560">
    </iframe>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>