<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   Show the concept of being stung on the cheek then swatting the bee 
			away.
   <br/>
   <p>
    <br/>
    BEE:
   </p>
   <p>
    <img border="0" height="218" src="/images/bee1.jpg" width="196"/>
    <img border="0" height="218" src="/images/bee2.jpg" width="196"/>
    <img border="0" height="218" src="/images/bee3.jpg" width="196"/>
    <img border="0" height="218" src="/images/bee4.jpg" width="196"/>
    <img border="0" height="218" src="/images/bee5.jpg" width="196"/>
   </p>
   <p>
    <br/>
    Also see:
    <a href="/dictionary/mosquito">
     MOSQUITO
    </a>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>