<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1" width="50%"/>
   <span style="font-weight: 400">
    <font face="Arial">
     There are several ways to sign this concept depending on the meaning you want to convey.
     <br/>
     <hr align="left" color="#000000" size="1" width="50%"/>
     <p>
      BEFORE-(past)
      <br/>
      This version means:
      <br/>
      "In the past."
      <br/>
      "Previous to now"
      <br/>
      "Last" as in "last-night"
      <br/>
      "Ever" as in "Have you ever...?"
      <br/>
      "Once upon a time..."
     </p>
     <p>
     </p>
     <p>
      <img border="0" height="237" src="/images/before-past-b1.jpg" width="275"/>
      <img border="0" height="237" src="/images/before-past-b2.jpg" width="275"/>
      <img border="0" height="237" src="/images/before-past-b3.jpg" width="275"/>
     </p>
     <hr color="#800080"/>
     <p style="margin-top: 0; margin-bottom: 0">
      Animation:
      <a href="/images/past.gif">
       BEFORE or PAST
      </a>
      (previous, "last" as 
  in "last Monday" which means "previous Monday."
     </p>
     <hr color="#800080"/>
     <p style="margin-top: 0; margin-bottom: 0">
      BEFORE-(prior to)
      <br/>
      This version is means
  "prior to," "happened earlier than,"  and
  "previous to an event."
      <br/>
      NOTE:  The left hand isn't moving. The right hand is moving back toward 
  the body. Both hands are slightly bent at the knuckles.
      <br/>
      <br/>
      <img border="0" height="240" src="/images/before-priorto1.jpg" width="352"/>
      <img border="0" height="240" src="/images/before-priorto2.jpg" width="352"/>
      <br/>
      <img border="0" height="240" src="/images/before-priorto3.jpg" width="352"/>
      <img border="0" height="240" src="/images/before-priorto4.jpg" width="352"/>
     </p>
     <hr/>
     <p>
      BEFORE-(prior to)
     </p>
     <p>
      Here is another version. This version means:
      <br/>
      "Prior to"
      <br/>
      "Happened earlier than"
      <br/>
      "Previous to an event"
     </p>
     <p>
      NOTE:  The left hand isn't moving. The right hand is moving back 
  toward the body.
      <br/>
      <img border="0" height="235" src="/images/before-previous-b1.jpg" width="250"/>
      <img border="0" height="235" src="/images/before-previous-b2.jpg" width="250"/>
      <img border="0" height="235" src="/images/before-previous-b3.jpg" width="250"/>
      <img border="0" height="235" src="/images/before-previous-b4.jpg" width="250"/>
     </p>
     <p>
     </p>
     <hr align="left" color="#000000" size="1" width="50%"/>
     <p style="margin-top: 0; margin-bottom: 0">
     </p>
     <p style="margin-top: 0; margin-bottom: 0">
      PAST / BEFORE / "back when" / "used 
to be" / "a while back"
     </p>
     <p style="margin-top: 0; margin-bottom: 0">
     </p>
     <hr align="left" color="#000000" size="1" width="50%"/>
     <p style="margin-top: 0; margin-bottom: 0">
      PAST: "way back" / distant past / a 
long, long time ago /
     </p>
     <p style="margin-top: 0; margin-bottom: 0">
     </p>
     <p style="margin-top: 0; margin-bottom: 0">
     </p>
     <p style="margin-top: 0; margin-bottom: 0">
      Also see:
      <a href="/dictionary/yesterday">
       YESTERDAY
      </a>
     </p>
     <p style="margin-top: 0; margin-bottom: 0">
     </p>
    </font>
   </span>
  </blockquote>
 </body>
</html>