<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   The sign for begin uses an index finger to represent a type of 
			"key."
   <br/>
   <br/>
   <p>
    Hold your non-dominant hand out in a flat handshape with the 
			fingers together except for the middle and index finger. Place the 
			dominant index finger at the base of the non-dominant index and 
			middle fingers and twist the dominant index hand.
    <font face="Arial">
     Think of starting a car by turning a key.
    </font>
    <br/>
   </p>
   <p>
    BEGIN  or START:
   </p>
   <p>
    <img border="0" height="220" src="/images/begin1.jpg" width="234"/>
    <img border="0" height="220" src="/images/begin2.jpg" width="234"/>
    <img border="0" height="220" src="/images/begin3.jpg" width="234"/>
   </p>
   <hr align="left" color="#000000" size="1"/>
   Animation:
   <br/>
   <img border="0" height="79" src="/images/start.gif" width="103"/>
   <p>
    For another animation 
  see:
    <a href="/images/begin.gif">
     BEGIN
    </a>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <br/>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>