<html>
 <body>
  <blockquote>
   <p style="margin-top: 0; margin-bottom: 0">
    <span style="font-weight: 400">
     <font face="Arial">
     </font>
    </span>
   </p>
   <hr align="left" color="#000000" size="1" width="50%"/>
   <span style="font-weight: 400">
    <font face="Arial">
     <p style="margin-top: 0; margin-bottom: 0">
      Also see:
      <a href="/dictionary/behavior">
       BEHAVIOR
      </a>
     </p>
     <hr align="left" color="#000000" size="1" width="50%"/>
     <p style="margin-top: 0; margin-bottom: 0">
      <br/>
      BEHAVE:
      <br/>
      <br/>
      <br/>
      <img border="0" height="300" src="/images/behavior1.jpg" width="347"/>
      <img border="0" height="300" src="/images/behavior2.jpg" width="347"/>
      <img border="0" height="300" src="/images/behavior3.jpg" width="347"/>
      <img border="0" height="300" src="/images/behavior2.jpg" width="347"/>
      <img border="0" height="300" src="/images/behavior4.jpg" width="347"/>
     </p>
     <hr align="left" color="#000000" size="1" width="50%"/>
     <p style="margin-top: 0; margin-bottom: 0">
      <br/>
     </p>
    </font>
   </span>
   <font face="Arial">
   </font>
  </blockquote>
 </body>
</html>