<html>
 <body>
  <blockquote>
   <h2 style="margin-top: 0; margin-bottom: 0">
    <span style="font-weight: 400">
     <font face="Arial">
      American Sign Language:  "behavior"
     </font>
    </span>
   </h2>
   <blockquote>
    <hr align="left" color="#000000" size="1" width="50%"/>
    <span style="font-weight: 400">
     <font face="Arial">
      <p style="margin-top: 0; margin-bottom: 0">
       DO / ACTION / BEHAVIOR
       <br/>
       The way a person acts is considered to be their behavior.  Thus we use the 
sign DO-(action) to mean "behavior."  There are several versions of the 
sign "DO."  This version moves side to side.
       <br/>
      </p>
      <p style="margin-top: 0; margin-bottom: 0">
      </p>
      <p style="margin-top: 0; margin-bottom: 0">
       <br/>
       In my mind, I'm referencing the fact that when we talk about "behavior" we are 
often talking about bad behavior, hence my serious somewhat frowning expression 
(below). But, really, your expression whether neutral or otherwise for this sign 
depends on the type of behavior.
       <br/>
      </p>
      <p style="margin-top: 0; margin-bottom: 0">
       <img border="0" height="300" src="/images/behavi7.jpg" width="341"/>
       <img border="0" height="300" src="/images/behavi8.jpg" width="341"/>
       <img border="0" height="300" src="/images/behavi9.jpg" width="341"/>
       <img border="0" height="300" src="/images/behavi10.jpg" width="341"/>
       <img border="0" height="300" src="/images/behavi11.jpg" width="341"/>
      </p>
      <p style="margin-top: 0; margin-bottom: 0">
      </p>
     </font>
    </span>
    <hr align="left" color="#000000" size="1" width="50%"/>
    <span style="font-weight: 400">
     <font face="Arial">
      <hr align="left" color="#000000" size="1" width="50%"/>
      <p style="margin-top: 0; margin-bottom: 0">
       <br/>
       BEHAVE:
       <br/>
       There is also a very specific "initialized" sign for "behave" or "behavior."
       <br/>
       This sign is produced by initializing one of the versions of the sign "DO" with 
a "B" handshape.
       <br/>
       <br/>
      </p>
      <p style="margin-top: 0; margin-bottom: 0">
       <img border="0" height="300" src="/images/behavior1.jpg" width="347"/>
       <img border="0" height="300" src="/images/behavior2.jpg" width="347"/>
       <img border="0" height="300" src="/images/behavior3.jpg" width="347"/>
       <img border="0" height="300" src="/images/behavior2.jpg" width="347"/>
       <img border="0" height="300" src="/images/behavior4.jpg" width="347"/>
      </p>
      <p style="margin-top: 0; margin-bottom: 0">
      </p>
      <hr align="left" color="#000000" size="1" width="50%"/>
      <hr align="left" color="#000000" size="1" width="50%"/>
      <p style="margin-top: 0; margin-bottom: 0">
       <br/>
       AGGRESSIVE-BEHAVIOR:
       <br/>
       This sign uses a movement that is the opposite of the sign ACT.  In the 
sign "aggressive, the hands move in circles that move up, out, down, in.  
When the right hand is up, the left hand is down, when the right hand is back, 
the left hand is out.  Try to use an aggressive facial expression.  I 
was tired when I did this photo-shoot.  (Long day, what can I say?)
      </p>
      <p style="margin-top: 0; margin-bottom: 0">
       <br/>
      </p>
     </font>
    </span>
    <font face="Arial">
    </font>
    <img border="0" height="300" src="/images/aggressive1.jpg" width="315"/>
    <img border="0" height="300" src="/images/aggressive2.jpg" width="296"/>
    <br/>
    <span style="font-weight: 400">
     <font face="Arial">
      AGGRESSIVE / ASSERTIVE:
      <br/>
     </font>
    </span>
   </blockquote>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
    <hr align="left" color="#000000" size="1"/>
   </font>
   <b>
    <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=XHRNABERKJT4N" rel="nofollow" target="_blank">
     <u>
      DONATE
     </u>
    </a>
   </b>
   <font size="2">
    (
    <i>
     Thanks!
    </i>
    )
   </font>
   <br/>
   <br/>
   <font face="Arial">
    *
   </font>
   Another way to help is to buy something from Dr. Bill's "
   <b>
    <a href="/dictionary/bookstore">
     <u>
      Bookstore
     </u>
    </a>
   </b>
   ."
   <hr align="left" color="#000000" size="1"/>
   <hr color="#000000" size="1"/>
   <p>
   </p>
  </blockquote>
 </body>
</html>