<html>
 <body>
  <blockquote>
   <h1 style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     <span style="font-weight: 400">
      <font size="5">
       American Sign Language: "bell 
		/ ringing / alarm"
      </font>
     </span>
     <br/>
    </font>
   </h1>
   <p>
   </p>
   <hr align="left" color="#000000" size="1" width="50%"/>
   <p>
    Notes:  The "thing" that hangs down in the middle of a bell is called a 
"clapper."  Think of this sign as showing the clapper striking the inside 
wall of the bell.  Use a single larger movement to mean "ring" and change 
the wiggle the clapper as you pull it away from the bell to indicate the nature 
of the ringing. If it is a quick, shrill ringing, then repeat the movement many 
times using a fast, small movement.  If it is a loud sound then use a more 
forceful bang against your hand. If the sound of the bell "resonates for a 
while"-- you can show this after the initial "clap" against the hand by dragging 
the clapper through the air off to the right while shaking the "Q"-handshape a 
couple times.
   </p>
   <p>
    A version of this sign is done with the
    <b>
     index finger pointing up instead 
of down
    </b>
    .  That version can also be used to indicate general "ringing" 
or an "alarm."
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p style="margin-top: 0; margin-bottom: 0">
    <b>
     Sign
    </b>
    : BELL
    <br/>
    <br/>
    <img border="0" height="240" src="/images/bell.h9.jpg" width="352"/>
    <img border="0" height="240" src="/images/bell.h10.jpg" width="352"/>
    <img border="0" height="240" src="/images/bell.h9.jpg" width="352"/>
    <br/>
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p style="margin-top: 0; margin-bottom: 0">
    <br/>
    A colleague writes:
   </p>
   <div>
    <blockquote style="PADDING-LEFT: 5px; MARGIN-LEFT: 5px; BORDER-LEFT: blue 2px solid">
     <font color="#000000" face="Arial" size="2" style="BACKGROUND-COLOR: transparent">
      <div>
       "... in preparation for a performance party with my ASL 3 students, 
			I am having them do "I Heard the Bells"... an old Christmas favorite 
			of mine. ... [The song has the word] "BELL"   followed immediately 
			by "RINGING"... how  is the best way to handle this?
      </div>
     </font>
    </blockquote>
   </div>
   <p>
    Reply:
    <br/>
    Show the inital clap of the bell, and then drag the clapper through the air a 
	bit showing the reverberation of the ringing in the air.
    <br/>
    (Sort of like the 
	sign "green" heh).
    <br/>
    Here is an animated gif example:
    <br/>
    <br/>
    <img border="0" height="240" src="/images/bellringing.gif" width="320"/>
    <br/>
    <br/>
    --modify the ringing to meet your needs.  For example, you could do a 
double clap of the ringer for "bells" and then do the reverberation for ringing 
and time it to match the tempo of the song.
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p style="margin-top: 0; margin-bottom: 0">
    Remember:  The "
    <b>
     alarm
    </b>
    " 
version points the
    <b>
     index finger up
    </b>
    , not down, and uses several quick movements.
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1"/>
   <hr align="left" color="#000000" size="1"/>
   <hr color="#000000" size="1"/>
   <p>
   </p>
  </blockquote>
 </body>
</html>