<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   <p style="margin-top: 0; margin-bottom: 0">
    The sign for "belt" uses "H" hands to show how a belt looks 
	on your waist.
    <br/>
    <br/>
    BELT:
    <br/>
    <img border="0" src="/images/belt.gif" style="max-width: 100%; height: auto" width="480"/>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <img border="0" height="219" src="/images/belt1.jpg" width="248"/>
    <img border="0" height="219" src="/images/belt2.jpg" width="248"/>
    <img border="0" height="219" src="/images/belt3.jpg" width="248"/>
    <br/>
    <font face="Arial">
     <hr align="left" color="#000000" size="1"/>
    </font>
   </p>
  </blockquote>
 </body>
</html>