<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   <p>
    Hold "C" hands up in front of your eyes (as if holding onto 
			a pair of binoculars).
    <br/>
    Twist both hands out, in, and out again (as if adjusting your 
			binoculars).
    <br/>
   </p>
  </blockquote>
 </body>
</html>