<html>
 <body>
  <blockquote>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
    <p>
     The sign for "birth" can be done a couple of ways. Both 
			signs mean "birth" or "born." One is based on the idea of a baby 
			"coming out" and the other is based on the idea of a baby 
			"arriving."
    </p>
    <hr align="left" color="#000000" size="1"/>
    <p>
     <br/>
     Version 1:
     <br/>
     The palm of
  the right hand is held near the stomach.  The left hand is coving the
  right hand. The right slips downward and outward representing the motion of a
  baby out of a womb.
     <br/>
     <br/>
     BIRTH or BORN:
    </p>
    <p>
     <img border="0" height="219" src="/images/birthb1.jpg" width="213"/>
     <img border="0" height="219" src="/images/birthb2.jpg" width="213"/>
     <br/>
     <br/>
     Note: In the picture I'm holding my hand against my stomach because I'm 
	over-posing. In real life this sign tends to be done a few inches away from 
	the stomach so as to allow for high speed signing.
     <br/>
     <br/>
     Note: While the above sign is great for discussing the birthing process, I 
	don't recommend it for use in the sign for "birthday." It wouldn't be 
	"wrong" -- just a bit weird (as if you said "birthing day."  If you 
	want to sign "birthday" then either use the specific sign used in your 
	region (ask your local Deaf friends) or see "arriving baby" version below.  
	Also see "
     <a href="/dictionary/birthday">
      BIRTHDAY
     </a>
     ."
     <br/>
    </p>
    <hr align="left" color="#000000" size="1"/>
    <p>
     <br/>
     "Birth / born" Version 2:
    </p>
    <p>
     <br/>
     This version is based on the idea of a baby "arriving."  Hold your right hand palm on your belly.  Hold your left hand, palm up 
in front of your lower belly area.
     <br/>
     Bring your right hand forward and down until it lands on your left palm.
     <br/>
    </p>
    <p>
     The right hand starts at the belly and moves to the left hand.  
			This sign looks a lot like the sign for arrive, except that "birth" 
			is done closer to the belly.
     <br/>
     <br/>
     BIRTH:
     <br/>
     <img border="0" height="228" src="/images/birth1.jpg" width="235"/>
     <img border="0" height="228" src="/images/birth2.jpg" width="235"/>
     <img border="0" height="228" src="/images/birth3.jpg" width="235"/>
     <img border="0" height="234" src="/images/born.gif" width="300"/>
     <br/>
    </p>
    <hr align="left" color="#000000" size="1" width="50%"/>
    <p>
     Also see:
     <a href="/dictionary/day">
      DAY
     </a>
    </p>
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>