<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   I kid you not -- there are over a
   <i>
    dozen
   </i>
   ways to sign birthday.  
			Your best bet is to interact with plenty of native Deaf adults in 
			your local region and see which version
   <i>
    they
   </i>
   are signing.
   <br/>
   Until you discover which version of birthday is most popular in your 
			area (there might be several versions used in the same region) a 
			fairly safe way is to just combine the signs "
   <a href="/dictionary/birth">
    BIRTH
   </a>
   " and "
   <a href="/dictionary/day">
    DAY
   </a>
   ." 
			If and when you get "corrected" just smile and thank them for 
			letting you know.
   <br/>
   <hr color="#000000" size="1"/>
   <p>
    <br/>
    But hey, since you asked
    <i>
     me
    </i>
    , I'll show you how I sign "birthday."  
	I touch the tip of my middle finger to my chin, then I touch it to
  my heart.
    <br/>
    <br/>
    BIRTHDAY:
   </p>
   <p>
    <img border="0" height="219" src="/images/birthday2.jpg" width="213"/>
    <img border="0" height="219" src="/images/birthday3.jpg" width="213"/>
    <img border="0" height="219" src="/images/birthday4.jpg" width="213"/>
    <br/>
   </p>
   <font face="Arial">
    <hr color="#000000" size="1"/>
   </font>
   <p>
    <br/>
    NOTES:
    <br/>
    P
    <font face="Arial">
     eople who are left hand dominant ("lefties") can do a mirror image. 
			They don't have to end "over the heart." They can end on the other 
			side of the chest.
     <br/>
     <br/>
    </font>
    As a student or newbie you should NOT argue with your local Deaf 
			regarding how to do this sign. And certainly don't argue with your 
			local ASL instructor (unless you want a bad grade eh?).  Just 
			be flexible and "When in Rome do as the Romans do."
    <br/>
   </p>
   <font face="Arial">
    <hr color="#000000" size="1"/>
   </font>
   <p>
    <br/>
    The generic version of "birthday" is to just combine one of the 
			versions of "BIRTH" with one of the versions of "DAY."
    <br/>
    <br/>
    BIRTHDAY: BIRTH + DAY:
   </p>
   <p>
    <font face="Arial">
     <img border="0" height="228" src="/images/birth1.jpg" width="235"/>
     <img border="0" height="228" src="/images/birth2.jpg" width="235"/>
     <img border="0" height="228" src="/images/birth3.jpg" width="235"/>
    </font>
    <img border="0" height="320" src="/images/day.ht1.jpg" width="299"/>
    <br/>
   </p>
   <hr color="#000000" size="1"/>
   Also see:
   <a href="/dictionary/birth">
    BIRTH
   </a>
   <font face="Arial">
    <br/>
    Also see:
    <a href="/dictionary/day">
     DAY
    </a>
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>