<html>
 <body>
  <blockquote>
   <h1 style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     <span style="font-weight: 400">
      <font size="5">
       American Sign Language: "block," 
		"blocks," or "wood blocks"
      </font>
     </span>
     <br/>
    </font>
   </h1>
   <p>
    <br/>
    Dear Dr. Bill,
    <br/>
    I came across your web address while searching for ASL signs. I am in hopes
    <br/>
    that you can help me. 
	I am attempting to teach my 20 month old son sign language to promote his
	severely delayed speech and so that we can communicate. Do you know of a
	comprehensive dictionary for use with children? Through internet and
	dictionary searches, I have yet to find signs for yogurt or
	block (noun). 
	As a beginner trying to put together a 'dictionary' for my son, I am
	frustrated.
    <br/>
    Many thanks,
    <br/>
    Pam C.
    <br/>
   </p>
   <hr align="left" color="#000000" size="1" width="25%"/>
   <p>
    <br/>
    Pam,
    <br/>
    You will be hard pressed to find a "printed" dictionary that is truly 
comprehensive since some concepts like "
    <a href="/dictionary/yogurt">
     yogurt
    </a>
    " 
and BLOCKS-(toy) do not have widely 
	established signs in ASL and are often just spelled or described.
    <br/>
    <br/>
    Some people invent signs for such concepts, but often these "invented" signs 
	are generally not accepted by the Deaf Community. Or at least, not at first. Like any 
	living language, ASL acquires new vocabulary as time goes on.
    <br/>
    <br/>
    For example, you can sign "yogurt" like you do ice-cream but instead of an 
	"S" hand use a "Y" hand. While some Deaf are open minded about that idea 
	(initializing the sign "ice-cream" to mean yogurt), many others will reject 
	it immediately and state that it should be fingerspelled. Perhaps later it 
	will become accepted by the majority if and when enough people use the sign 
	that it would be difficult to claim it is not a sign.
    <br/>
    <br/>
    To express the concept of "block" or "blocks" you can use the sign "
    <a href="/dictionary/room">
     box
    </a>
    " and an indication of the 
	size of the block. After it is established in context you can use just the 
	sign "box" to mean blocks.
    <br/>
    You may see some folks modify the BOX sign by doing it with "H"-handshapes (or 
modified "H" handshapes) as a way of indicating that they are talking about 
"small blocks."
    <br/>
    <br/>
    A few suggestions:
    <br/>
    In addition to your web searches, you may wish to also visit your local library and check out an armload of 
ASL dictionaries and videos.
    <br/>
    <br/>
    Keep in mind though that the best ASL dictionary is a living breathing 
member of the Deaf Community (one who is skilled at ASL and preferably attended 
a residential school for the Deaf).
    <br/>
    Make friends with Deaf people and invite them over. You can ask them how to 
	sign things.
    <br/>
    <br/>
    I would also like to mention that in the Deaf world we use fingerspelling with 
our children.  We simply spell "blocks" to our kids. Over time our kids 
start doing hand movements that look sort of like "mashed up" fingerspelling. We 
use context and the general shape and movements to discern (figure out) what our 
kids are saying.  I recall one time my daughter (age 3 at the time) doing a 
sign that looked like a wiggly combination of a "K"-handshape with an 
"I"-handshape. What she meant was "vitamin." (The "K" was actually a mutated 
combination of the "V" and the "T").  It didn't matter that she had no clue 
that those handshapes "mapped" to English letters.
    <br/>
    Cordially,
    <br/>
    Dr. Bill
    <br/>
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p>
   </p>
   <p>
    BLOCK (as in "a small box")
    <br/>
    Use "H"-hands to show the sides and then front & back of a small box or block.
    <br/>
    <a href="../../signjpegs/b/box-(modified-h)-01.jpg">
     <img alt="box-(modified-h)-01.jpg (86998 bytes)" border="0" height="320" src="/images/box-(modified-h)-01_small.jpg" width="320" xthumbnail-orig-image="../../signjpegs/b/box-(modified-h)-01.jpg"/>
    </a>
    <a href="../../signjpegs/b/box-(modified-h)-02.jpg">
     <img alt="box-(modified-h)-02.jpg (89511 bytes)" border="0" height="320" src="/images/box-(modified-h)-02_small.jpg" width="320" xthumbnail-orig-image="../../signjpegs/b/box-(modified-h)-02.jpg"/>
    </a>
    <a href="../../signjpegs/b/box-(modified-h)-03.jpg">
     <img alt="box-(modified-h)-03.jpg (87564 bytes)" border="0" height="320" src="/images/box-(modified-h)-03_small.jpg" width="320" xthumbnail-orig-image="../../signjpegs/b/box-(modified-h)-03.jpg"/>
    </a>
    <a href="../../signjpegs/b/box-(modified-h)-04.jpg">
     <img alt="box-(modified-h)-04.jpg (93648 bytes)" border="0" height="320" src="/images/box-(modified-h)-04_small.jpg" width="320" xthumbnail-orig-image="../../signjpegs/b/box-(modified-h)-04.jpg"/>
    </a>
   </p>
   <p>
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p>
    <br/>
    BLOCK-(distance)
    <br/>
    If you mean "block" as in the distance from one street to another then you 
should generally just sign the number and then fingerspell B-L-O-C-K-S.  
Some people deal with this concept by instead referring to "intersections. See:
    <a href="/dictionary/intersection">
     INTERSECTION
    </a>
    <br/>
    <br/>
    BLOCK-(geographical-area)
    <br/>
    If you mean "block" as in an area bounded by four streets in a city or suburb 
then you could use the tips of your index fingers to draw a horizontal square in 
the neutral signing space in front of you.  Alternately, you could use "L" 
hands (palm down) to indicate a "square-area" that in context could mean "a 
block" or "that block."
    <br/>
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p>
    Also see:
    <a href="/dictionary/box">
     BOX
    </a>
    <br/>
    Also see:
    <a href="/dictionary/wood">
     WOOD
    </a>
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p>
    Notes:
    <br/>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1"/>
   <hr align="left" color="#000000" size="1"/>
   <hr align="left" color="#000000" size="1"/>
   <hr color="#000000" size="1"/>
   <p>
   </p>
  </blockquote>
 </body>
</html>