<html>
 <body>
  <blockquote>
   <h1 style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     <span style="font-weight: 400">
      <font size="5">
       American Sign Language: 
		blow-dry / blow-dryer / hair-dryer
      </font>
     </span>
     <br/>
    </font>
   </h1>
   <p>
    <br/>
    To sign "blow dry" or "blow-dryer" just mime using an "L" hand as if it were a 
blow-dryer.
    <br/>
    I personally don't get much use out of this sign.
    <br/>
    <br/>
    <span style="font-weight: 400">
     BLOW DRY / BLOW-DRYER / HAIR-DRYER:
     <br/>
     <img border="0" height="360" src="/images/blowdryer-01.jpg" width="360"/>
     <img border="0" height="360" src="/images/blowdryer-02.jpg" width="360"/>
    </span>
    <br/>
    <br/>
    For the "verb" form do the sign a bit larger = blow dry.
    <br/>
    For the "noun" form, do the sign smaller and use a sign like MY or YOUR before 
the sign and don't use the puckered lips.  Example: MY BLOW-DRY WHERE? = 
Where is my blow-dryer?
    <br/>
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p>
    Notes:
    <br/>
    Also see:
    <a href="/dictionary/hairdryer">
     HAIRDRYER
    </a>
    [it is the same sign]
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1"/>
   <hr align="left" color="#000000" size="1"/>
   <hr align="left" color="#000000" size="1"/>
   <hr color="#000000" size="1"/>
   <p>
   </p>
  </blockquote>
 </body>
</html>