<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   The sign for blue-ray as in "a blue-ray disk" is generally done by 
			signing "BLUE" and then fingerspelling "R-A-Y."
   <br/>
   <br/>
   BLUE-RAY:
   <br/>
   <span style="font-weight: 400">
    <font face="Arial">
     <img border="0" height="232" src="/images/blue1.jpg" width="254"/>
     <img border="0" height="232" src="/images/blue2.jpg" width="254"/>
     <img border="0" height="232" src="/images/blue3.jpg" width="254"/>
     <img border="0" height="232" src="/images/blue4.jpg" width="254"/>
    </font>
   </span>
   <font face="Arial">
    <img height="100" src="/images/r_small.gif" width="100"/>
    <img height="100" src="/images/a_small.gif" width="100"/>
    <img height="100" src="/images/y_small.gif" width="100"/>
    <br/>
    <br/>
    Note: Since this is a compound sign -- the tendency is to drop the 
			second movement of the sign for BLUE:
    <br/>
    <span style="font-weight: 400">
     <img border="0" height="232" src="/images/blue1.jpg" width="254"/>
     <img border="0" height="232" src="/images/blue2.jpg" width="254"/>
    </span>
    <img height="100" src="/images/r_small.gif" width="100"/>
    <img height="100" src="/images/a_small.gif" width="100"/>
    <img height="100" src="/images/y_small.gif" width="100"/>
    <br/>
   </font>
   <hr align="left" color="#000000" size="1" width="50%"/>
   <p style="margin-top: 0; margin-bottom: 0">
    Also see:
    <a href="/dictionary/blue">
     BLUE
    </a>
    <br/>
    Also see:
    <a href="/dictionary/dvd">
     DVD
    </a>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>