<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1" width="50%"/>
   <span style="font-weight: 400">
    <font face="Arial">
     <p style="margin-top: 0; margin-bottom: 0">
      BLUE:
      <br/>
      The sign for "blue" is made by forming the letter "b" with your right hand.
      <br/>
      Twist/shake your hand from the elbow (the wrist doesn't bend on this sign).
      <br/>
      <br/>
      <img border="0" src="/images/blue-1.gif" style="max-width: 100%; height: auto" width="480"/>
     </p>
     <p style="margin-top: 0; margin-bottom: 0">
      <img border="0" height="232" src="/images/blue1.jpg" width="254"/>
      <img border="0" height="232" src="/images/blue2.jpg" width="254"/>
      <img border="0" height="232" src="/images/blue3.jpg" width="254"/>
      <img border="0" height="232" src="/images/blue4.jpg" width="254"/>
     </p>
     <p style="margin-top: 0; margin-bottom: 0">
      <br/>
     </p>
     <hr align="left" color="#000000" size="1" width="50%"/>
     <p style="margin-top: 0; margin-bottom: 0">
      <br/>
      Here is an example of BLUE:  YOUR DAD EYES BLUE? (Are your dad's eyes 
blue?)
      <br/>
      <br/>
      <iframe allow="autoplay; encrypted-media" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/rKtYSjkBB84?rel=0" width="560">
      </iframe>
      <br/>
     </p>
     <hr align="left" color="#000000" size="1" width="50%"/>
     <p style="margin-top: 0; margin-bottom: 0">
      BLUE (variation)
      <br/>
      You might also see this sign done pointing upward more than forward.
      <br/>
      Both versions are okay.  The sign isn't necessarily forward or upward, it 
is just a "B" hand held at a comfortable angle and the forearm twisted twice.
     </p>
     <p style="margin-top: 0; margin-bottom: 0">
      <img height="175" src="/images/blue.gif" width="134"/>
      <br/>
     </p>
     <hr align="left" color="#000000" size="1" width="50%"/>
     <p style="margin-top: 0; margin-bottom: 0">
      Signing note: You would NOT use the 
sign "BLUE" to mean "
      <a href="/dictionary/depressed">
       depressed
      </a>
      ."
     </p>
     <hr align="left" color="#000000" size="1" width="50%"/>
     <p style="margin-top: 0; margin-bottom: 0">
      Related sign:
      <a href="/dictionary/blue-ray">
       BLUE-RAY
      </a>
     </p>
     <hr align="left" color="#000000" size="1" width="50%"/>
    </font>
   </span>
  </blockquote>
 </body>
</html>