<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   Less commonly used words such as "bo" are often spelled out. 
			Especially when they are so short (in this case, just two letters). 
			But just because you "spell" something doesn't mean that the other 
			person knows what it means. Thus it is helpful to know how to 
			describe "bo staff."
   <br/>
   <br/>
   The sign for "bo staff" would consist of depicting the 
			staff using "C" handshapes and then (if needed) using "S" handshapes 
			to show how the bo staff can be used.
   <br/>
   You can show a thinner staff by using "F" handshapes but most bo 
			staffs are a bit more substantial than a broomstick, so the "C" 
			hands are more appropriate for the general concept of a "bo."
   <br/>
   <br/>
   BO STAFF:
   <br/>
   <img border="0" height="320" src="/images/bo-staff-42.jpg" width="353"/>
   <img border="0" height="320" src="/images/bo-staff-43.jpg" width="353"/>
   <img border="0" height="320" src="/images/bo-staff-44.jpg" width="353"/>
   <br/>
   <br/>
   <img border="0" height="320" src="/images/bo-staff-45.jpg" width="353"/>
   <img border="0" height="320" src="/images/bo-staff-46.jpg" width="353"/>
   <img border="0" height="320" src="/images/bo-staff-47.jpg" width="353"/>
   <img border="0" height="320" src="/images/bo-staff-48.jpg" width="353"/>
   <br/>
   <br/>
   Dr. Bill: Why, yes, indeed I
   <i>
    do
   </i>
   hold a black belt. It is in a 
			rare branch of the martial arts known as "
   <i>
    ASL-FU
   </i>
   ."
   <br/>
   Dr. Bill: Um, no, I don't hire out as a body-guard, but thanks for 
			asking.
   <br/>
   <br/>
   Also see:
   <a href="/dictionary/pole">
    POLE
   </a>
   <font face="Arial">
    <br/>
    Also see:
    <a href="/dictionary/wood">
     WOOD
    </a>
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>