<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   Touch your hands to the upper part of your torso, then touch your hands to the
  lower part of your torso.
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
   <p>
    body:
   </p>
   <p>
    <img border="0" height="221" src="/images/body1.jpg" width="261"/>
    <img border="0" height="221" src="/images/body2.jpg" width="261"/>
    <img border="0" height="221" src="/images/body3.jpg" width="261"/>
    <img border="0" height="221" src="/images/body4.jpg" width="261"/>
   </p>
   <p>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
   Also see:
   <p>
    <a href="/dictionary/foot">
     FOOT
    </a>
    <br/>
    <a href="/dictionary/hair">
     HAIR
    </a>
    <br/>
    <a href="/dictionary/eyes">
     EYES
    </a>
    <br/>
    <a href="/dictionary/face">
     FACE
    </a>
    <br/>
    <a href="/dictionary/heart">
     heart
    </a>
    <br/>
    <a href="/dictionary/back">
     back
    </a>
    <br/>
    <a href="/dictionary/bald">
     bald
    </a>
    <br/>
    <a href="/dictionary/body-parts">
     body-parts: ARM, HANDS, LEG
    </a>
    <br/>
    <a href="/dictionary/ears">
     ears
    </a>
    <br/>
    <a href="/dictionary/stomach">
     stomach
    </a>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
    <p>
     Suppose you mean body as in "a body of work as a whole," see: "
     <a href="/dictionary/cluster">
      CLUSTER
     </a>
     "
    </p>
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>