<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   <p style="margin-top: 0; margin-bottom: 0">
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    The sign for "bold" varies depending on what you mean.
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <br/>
    A very common way to sign "bold" is to touch your forehead with your index 
	finger and then form both hands into "S" hands and "whack" your non-dominant 
	hand with the dominant hand with a downward glancing blow.
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1" width="50%"/>
   <font face="Arial">
    <p style="margin-top: 0; margin-bottom: 0">
     If you mean bold as in "brave" 
	then see:
     <a href="/dictionary/brave">
      BRAVE
     </a>
    </p>
    <hr align="left" color="#000000" size="1" width="50%"/>
    <p style="margin-top: 0; margin-bottom: 0">
     <br/>
     The other day I was at a meeting (oh the joy) and my interpreter signed 
	"thick" while mouthing the word "bold." This particular interpreter is one 
	of the best in the Sacramento region and her signing is consistently 
	excellent. I replayed her last few signs in my mind and realized that the 
	speaker had been talking about some sort of document and that she was 
	referring to "bold" as in "
     <b>
      bold
     </b>
     typeface."  Looking back I don't 
	recall a thing about what was discussed in the meeting (heh) but I certainly 
	remember such a clever use of the sign "THICK."
     <br/>
     <br/>
     THICK-(general_version) + "context" = "
     <b>
      bold
     </b>
     face type"
    </p>
   </font>
   <p style="margin-top: 0; margin-bottom: 0">
    <img border="0" height="298" src="/images/bold.h1.jpg" width="243"/>
    <img border="0" height="298" src="/images/bold.h2.jpg" width="243"/>
    <img border="0" height="298" src="/images/bold.h3.jpg" width="243"/>
    <br/>
    Note: Make sure to use a "claw" hand so as to distinguish this sign from
    <a href="/dictionary/cellphone">
     CELL
    </a>
    phone. Doing THICK a bit lower on the 
	cheek also helps distinguish it. And notice my mouth?  I'm actually 
	forming  my teeth and tongue as if I were to make
    <font face="Arial">
     the "TH" sound (
    </font>
    such mouth phonemes and morphemes are very common -- 
	even required in many ASL signs. They are not Englishisms but rather the 
	result of living in a diglosic society.).
    <br/>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
    <p style="margin-top: 0; margin-bottom: 0">
     Notes:
     <br/>
     There are quite a few other ways to sign "bold" and eventually I'll get 
	around to posting them. (If you need to know a certain "version" feel free 
	to donate a "bold" amount of money so as to free up my time.)
     <br/>
     <br/>
     There is a 
	version that points to the temple (forehead) and adds the sign
     <a href="/dictionary/proceed">
      PROCEED
     </a>
     .  The sign PROCEED (in this use) 
	is modified by doing a very strong, fast movement.
     <br/>
     <br/>
     Another way to sign "bold" is to use the sign for "GUTS" which is done by 
	using a bent hand (palm up and/or towards your stomach) and poking your guts 
	twice (just under the ribcage). When I do that version of "bold" I tend to 
	do an "ooh" mouth shape with an extended jaw and a slight shake of the head 
	as if thinking "oh wow
     <i>
      that
     </i>
     takes a lot of guts."
     <br/>
    </p>
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>