<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   <p style="margin-top: 0; margin-bottom: 0">
    <br/>
    Note:  Don't give in to habit. For this sign your finger goes to the
    <i>
     <b>
      outside
     </b>
    </i>
    of your nose.
    <br/>
    If you use a double twist it means "boring."
    <br/>
    <br/>
    BORED
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     <img border="0" height="268" src="/images/boring.gif" width="304"/>
    </font>
    <br/>
   </p>
   <p align="center">
   </p>
   <p>
    <img border="0" height="227" src="/images/bored1.jpg" width="239"/>
    <img border="0" height="227" src="/images/bored2.jpg" width="239"/>
    <img border="0" height="227" src="/images/bored3.jpg" width="239"/>
    <img border="0" height="227" src="/images/bored4.jpg" width="239"/>
   </p>
   <hr align="left" color="#000000" size="1" width="50%"/>
   <p style="margin-top: 0; margin-bottom: 0">
    <br/>
    Sample sentence:
YOU THINK SCHOOL BORING? (Do you think school is boring?)
    <br/>
    <br/>
    <br/>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
    <p style="margin-top: 0; margin-bottom: 0">
     Notes:
     <br/>
     A double twist means "boring" in general.  A single twist after 
pointing to yourself means "I'm bored."  A single twist that starts at 
the side of the nose and moves out away from the face 12 or so inches with a 
big movement means "I am
bored spitless."
    </p>
   </font>
  </blockquote>
 </body>
</html>