<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   The sign for bouquet is done by first signing "FLOWER" and then 
			using a classifier type sign to show the flowers bunched together at 
			the base and sticking up into the air.
   <br/>
   <br/>
   BOUQUET:
   <br/>
   <img border="0" height="320" src="/images/flower-10.jpg" width="275"/>
   <img border="0" height="320" src="/images/flower-11.jpg" width="275"/>
   <img border="0" height="320" src="/images/flower-12.jpg" width="275"/>
   <p>
    <img border="0" height="320" src="/images/bouquet-01.jpg" width="275"/>
    <img border="0" height="320" src="/images/bouquet-02.jpg" width="275"/>
    <img border="0" height="320" src="/images/bouquet-03.jpg" width="275"/>
    <br/>
    Note: That facial expression can vary. Heh. I'm using a bit of a 
			dopey facial expression as my way of showing a light hearted 
			offering of flowers.
    <br/>
    <font face="Arial">
    </font>
   </p>
   <hr align="left" color="#000000" size="1"/>
  </blockquote>
 </body>
</html>