<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   <br/>
   The sign for brain is done by tapping your forehead twice with the 
			tip of your index finger.
   <br/>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
    <p>
     You can say that someone is very smart by calling him or her "big 
			brained" by holding an tight "C" hand near your forehead and then 
			quickly expanding it into a large, loose, C-hand.
     <br/>
     <br/>
     BIG-BRAINED:
     <br/>
    </p>
   </font>
   <img border="0" height="320" src="/images/brain-big-brained.11.jpg" width="307"/>
   <img border="0" height="320" src="/images/brain-big-brained.12.jpg" width="307"/>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
    <p style="margin-top: 0; margin-bottom: 0">
     <br/>
     There is a sign that if interpreted literally would mean "double 
			brained."  It is intended as a complement or a statement of 
			awe, admiration, or respect toward a person's genius or mental 
			prowess. What you do is you hold loose "S" hands
    </p>
   </font>
   or semi-closed "C" hands in front of your head. One of the hands needs to 
			be in front of the other. It doesn't really matter which one is in 
			front, but I hold my dominant hand closer to my head and put my 
			non-dominant hand further out. Then you make a quick forward 
			movement with both hands, expanding them into fully open "loose" "C" 
			hands. As you do the movement it helps to move your mouth as if you 
			were saying "CHA" (which infers the idea of "very" large brained).
   <br/>
   <br/>
   DOUBLE-BRAINED:
   <br/>
   <img border="0" height="320" src="/images/brain-double-brained-09.jpg" width="357"/>
   <img border="0" height="320" src="/images/brain-double-brained-.10.jpg" width="357"/>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>