<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   <p>
    BREAD:
    <br/>
    Pretend your left hand is a loaf of bread. Use the right hand fingertips to 
slice the loaf a couple times.
    <br/>
    <br/>
    <img border="0" height="219" src="/images/bread.10.jpg" width="214"/>
    <img border="0" height="219" src="/images/bread.11.jpg" width="214"/>
    <img border="0" height="219" src="/images/bread.12.jpg" width="214"/>
    <img border="0" height="219" src="/images/bread.10.jpg" width="214"/>
    <img border="0" height="219" src="/images/bread.11.jpg" width="214"/>
    <img border="0" height="219" src="/images/bread.12.jpg" width="214"/>
    <br/>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
   <p style="margin-top: 0; margin-bottom: 0">
    BREAD:  (side view, animated)
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <img border="0" height="83" src="/images/breadsideview.gif" width="89"/>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
    <p style="margin-top: 0; margin-bottom: 0">
     <br/>
     Sample sentence: "Do you like the smell of fresh bread?" (BREAD, 
			NEW, YOU LIKE SMELL?)
     <br/>
    </p>
    <p style="margin-top: 0; margin-bottom: 0">
     <br/>
    </p>
    <hr align="left" color="#000000" size="1"/>
   </font>
   <p style="margin-top: 0; margin-bottom: 0">
    <br/>
    BREAD:  (version 2)
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    I don't do it this way, but you might 
see some people doing the slicing with their pinkie instead of the tips of their 
fingers.
    <br/>
    <img border="0" height="316" src="/images/bread.gif" width="300"/>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <br/>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>