<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   Both hands use "5"-hands.  The hands move forward away
  from the chest, and then back to the chest--representing the swelling and
  contraction of the chest during breathing.  You don't actually have to 
			touch your chest. You can start and inch or so out from your chest.
   <br/>
   <p>
    <br/>
    BREATHE:
   </p>
   <p>
    <img border="0" height="217" src="/images/breathe1.jpg" width="262"/>
    <img border="0" height="217" src="/images/breathe3.jpg" width="262"/>
    <img border="0" height="217" src="/images/breathe5.jpg" width="262"/>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1" width="50%"/>
   <font face="Arial">
    <p style="margin-top: 0; margin-bottom: 0">
     Also see:
     <a href="/dictionary/short-of-breath">
      SHORT-OF-BREATH
     </a>
     <br/>
     Also see:
     <a href="/dictionary/inhale">
      INHALE
     </a>
    </p>
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>