<html>
 <body>
  <blockquote>
   <h1 style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     <span style="font-weight: 400">
      <font size="5">
       ASL: "break-up"
      </font>
     </span>
     <br/>
    </font>
   </h1>
   <p>
    <br/>
    Discussion:  The sign for "break up" has several versions based on a 
combination of the sign for BREAK and the fingerspelling of the word "up."
    <br/>
   </p>
   <p>
    BREAK-UP [version 1]
   </p>
   <p>
    <img border="0" height="320" src="/images/break-up-1.jpg" width="320"/>
    <img border="0" height="320" src="/images/break-up-2.jpg" width="320"/>
    <img border="0" height="320" src="/images/break-up-3.jpg" width="320"/>
    <img border="0" height="320" src="/images/break-up-4.jpg" width="320"/>
   </p>
   <p>
   </p>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p>
    Notes:
    <br/>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1"/>
   <hr align="left" color="#000000" size="1"/>
   <hr align="left" color="#000000" size="1"/>
   <hr color="#000000" size="1"/>
   <p>
   </p>
  </blockquote>
 </body>
</html>