<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   The word "bright" has several meanings. If what you mean is "smart" 
			then you should visit the "smart" page. See: "
   <a href="/dictionary/smart">
    SMART
   </a>
   ."
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
   <p>
    <br/>
    The version of the sign that means "bright," as in "lots of light" can also mean, 
	"clear," or "obvious." You adjust your facial expression to match your 
	intent.  Squint and use a slightly pained expression if you mean that 
	something is "blinding."
    <br/>
    <br/>
    BRIGHT / clear / obvious:
   </p>
   <p>
    <img border="0" height="208" src="/images/light-bright1.jpg" width="235"/>
    <img border="0" height="208" src="/images/light-bright2.jpg" width="235"/>
    <img border="0" height="208" src="/images/light-bright3.jpg" width="235"/>
    <img border="0" height="208" src="/images/light-bright4.jpg" width="235"/>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1" width="50%"/>
   <p style="margin-top: 0; margin-bottom: 0">
    Also see:
    <a href="/dictionary/clear">
     CLEAR
    </a>
    <br/>
    <font face="Arial">
     Also see:
     <a href="/dictionary/smart">
      SMART
     </a>
    </font>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>