<html>
 <body>
  <blockquote>
   <h1 style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     <span style="font-weight: 400">
      <font size="5">
       ASL: "bronchiectasis"
      </font>
     </span>
     <br/>
    </font>
   </h1>
   <p>
    <br/>
    Discussion:
   </p>
   <p>
    * bronchiectasis:
    <br/>
    Origin: late 19th century: from
    <br/>
    Greek bronkhia (denoting the branches of the main bronchi)
    <br/>
    +
    <br/>
    ektasis ‘dilatation’
    <br/>
    (* Source: https://en.oxforddictionaries.com/definition/bronchiectasis )
   </p>
   <p>
    <br/>
    Thus in ASL sign bronchiectasis by doing the sign for DILATE-["S""O"-version] 
near the bronchi (lungs).
    <br/>
    (You hold an "S" hand near your lungs and then change it into an "O" hand.)
    <br/>
    <br/>
    At which point someone will smugly respond: "People won't know what that means!"
    <br/>
    And then you respond, "They don't know what the fetch 'bronchiectasis' means in 
English either until they learn it from study or being told."
    <br/>
    <br/>
    ASL gets the same right to do the same linguistic creating (via compounding) as 
English. Some doctor or biologist somewhere back in the old days looked at 
someone with bronchiectasis and thought, "Gee, this person has dilated air 
passages in their lungs. Hmmm what should we call that? I know! Let's call it: 
'lung passage dilation!' But let's do it in Greek so it sounds impressive and we 
can charge higher fees!" **
    <br/>
   </p>
   <p>
    ** Or perhaps using Greek is just more efficient.
    <br/>
    See:  https://en.wikipedia.org/wiki/Medical_terminology
   </p>
   <p>
   </p>
   <p>
    <br/>
    Fellow nerds:  According to Wikipedia:
    <br/>
    "René Laennec, the man who invented the stethoscope, used his invention to first 
discover bronchiectasis in 1819."
    <br/>
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p>
    Notes:
    <br/>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1"/>
   <hr align="left" color="#000000" size="1"/>
   <hr align="left" color="#000000" size="1"/>
   <hr color="#000000" size="1"/>
   <p>
   </p>
  </blockquote>
 </body>
</html>