<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   <font face="Arial">
    <p align="left">
     <font size="+1">
      T
     </font>
     he sign for "brown"
is made by forming the letter "b" with your right hand. 
Move your right hand down the side of your right cheek. Your index finger should be close to your face.
    </p>
    <img border="0" src="/images/brown.gif" style="max-width: 100%; height: auto" width="480"/>
    <img height="289" src="/images/brown.gif" width="170"/>
    <br/>
    <br/>
    BROWN:
    <br/>
    <img border="0" height="233" src="/images/brown1.jpg" width="216"/>
    <img border="0" height="233" src="/images/brown2.jpg" width="216"/>
    <img border="0" height="233" src="/images/brown3.jpg" width="216"/>
   </font>
   <br/>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
   <p style="margin-top: 0; margin-bottom: 0">
    There is an older way to sign 
	"brown" that I don't recommend, but if you'd like to see it you can visit:
    <a href="/dictionary/brown-2">
     BROWN-(old_version)
    </a>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>