<html>
 <body>
  <blockquote>
   <h1 style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     <span style="font-weight: 400">
      <font size="5">
       ASL: "build"
      </font>
     </span>
     <br/>
    </font>
   </h1>
   <blockquote>
    <hr align="left" color="#000000" size="1" width="50%"/>
    <span style="font-weight: 400">
     <p style="margin-top: 0; margin-bottom: 0">
      <br/>
      BUILD /
building /
a building / construction:
      <br/>
      Use "bent hands" and alternately layer them upon each other moving upward.
      <br/>
      <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/Ytt6YIYV6qs?rel=0" width="560">
      </iframe>
      <img border="0" height="255" src="/images/build.gif" width="300"/>
      <br/>
      <br/>
      Sample sentence: Do you want to build your own house?
     </p>
     <p style="margin-top: 0; margin-bottom: 0">
      <br/>
      <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/NVcjaZTLpRg?rel=0" width="560">
      </iframe>
     </p>
     <p>
      <img border="0" height="227" src="/images/buildc1.jpg" width="246"/>
      <img border="0" height="227" src="/images/buildc2.jpg" width="246"/>
      <img border="0" height="227" src="/images/buildc3.jpg" width="246"/>
      <img border="0" height="227" src="/images/buildc4.jpg" width="246"/>
      <img border="0" height="227" src="/images/buildc5.jpg" width="246"/>
      <img border="0" height="227" src="/images/buildc6.jpg" width="246"/>
      <img border="0" height="227" src="/images/buildc7.jpg" width="246"/>
      <img border="0" height="227" src="/images/buildc8.jpg" width="246"/>
      <img border="0" height="227" src="/images/buildc9.jpg" width="246"/>
      <img border="0" height="227" src="/images/buildc10.jpg" width="246"/>
      <img border="0" height="227" src="/images/buildc11.jpg" width="246"/>
      <br/>
     </p>
     <hr color="#800080"/>
     <p>
      Here is a variation of "build" that uses "H" handshapes:
     </p>
     <p>
      <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/_UAPcbyeN_I?rel=0" width="560">
      </iframe>
     </p>
     <p>
      <img border="0" height="227" src="/images/buildd1.jpg" width="246"/>
      <img border="0" height="227" src="/images/buildd2.jpg" width="246"/>
      <img border="0" height="227" src="/images/buildd3.jpg" width="246"/>
      <img border="0" height="227" src="/images/buildd4.jpg" width="246"/>
      <img border="0" height="227" src="/images/buildd5.jpg" width="246"/>
      <img border="0" height="227" src="/images/buildd6.jpg" width="246"/>
      <img border="0" height="227" src="/images/buildd7.jpg" width="246"/>
      <img border="0" height="227" src="/images/buildd8.jpg" width="246"/>
     </p>
     <hr align="left" color="#000000" size="1" width="50%"/>
    </span>
    <p>
     <span style="font-weight: 400">
      Also see:
      <a href="/dictionary/building">
       BUILDING
      </a>
     </span>
    </p>
    <span style="font-weight: 400">
     <hr align="left" color="#000000" size="1" width="50%"/>
    </span>
   </blockquote>
   <p>
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1"/>
   <hr align="left" color="#000000" size="1"/>
   <hr align="left" color="#000000" size="1"/>
   <hr color="#000000" size="1"/>
   <p>
   </p>
  </blockquote>
 </body>
</html>