<html>
 <body>
  <blockquote>
   <h2 style="margin-top: 0; margin-bottom: 0">
    <span style="font-weight: 400">
     <font face="Arial">
      American Sign Language:  "burrito"
     </font>
    </span>
   </h2>
   <blockquote>
    <hr align="left" color="#000000" size="1" width="50%"/>
    <span style="font-weight: 400">
     <font face="Arial">
      <p style="margin-top: 0; margin-bottom: 0">
      </p>
      <p style="margin-top: 0; margin-bottom: 0">
       BURRITO:
       <br/>
       This concept is commonly fingerspelled.
       <br/>
       <br/>
       <a href="/images/b.gif" style="text-decoration: none">
        <img alt="b.gif (461540 bytes)" border="2" height="100" src="/images/b_small.gif" width="100" xthumbnail-orig-image="../../fingerspelling/abc-gifs/b.gif"/>
       </a>
       <a href="/images/u.gif" style="text-decoration: none">
        <img alt="u.gif (225798 bytes)" border="2" height="100" src="/images/u_small.gif" width="100" xthumbnail-orig-image="../../fingerspelling/abc-gifs/u.gif"/>
       </a>
       <a href="/images/r.gif" style="text-decoration: none">
        <img alt="r.gif (298585 bytes)" border="2" height="100" src="/images/r_small.gif" width="100" xthumbnail-orig-image="../../fingerspelling/abc-gifs/r.gif"/>
        <img alt="r.gif (298585 bytes)" border="2" height="100" src="/images/r_small.gif" width="100" xthumbnail-orig-image="../../fingerspelling/abc-gifs/r.gif"/>
       </a>
       <a href="/images/i.gif" style="text-decoration: none">
        <img alt="i.gif (217459 bytes)" border="2" height="100" src="/images/i_small.gif" width="100" xthumbnail-orig-image="../../fingerspelling/abc-gifs/i.gif"/>
       </a>
       <a href="/images/t.gif" style="text-decoration: none">
        <img alt="t.gif (209020 bytes)" border="2" height="100" src="/images/t_small.gif" width="100" xthumbnail-orig-image="../../fingerspelling/abc-gifs/t.gif"/>
       </a>
       <a href="/images/o.gif" style="text-decoration: none">
        <img alt="o.gif (401307 bytes)" border="2" height="100" src="/images/o_small.gif" width="100" xthumbnail-orig-image="../../fingerspelling/abc-gifs/o.gif"/>
       </a>
       <br/>
       <br/>
       Notes:
       <br/>
       There is no
       <i>
        widespread
       </i>
       sign for "burrito" in American Sign Language.
       <br/>
       There are a few lesser known variations but I recommend you simply fingerspell 
this concept.
      </p>
     </font>
    </span>
   </blockquote>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
    <hr align="left" color="#000000" size="1"/>
   </font>
   <b>
    <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=XHRNABERKJT4N" rel="nofollow" target="_blank">
     <u>
      DONATE
     </u>
    </a>
   </b>
   <font size="2">
    (
    <i>
     Thanks!
    </i>
    )
   </font>
   <br/>
   <br/>
   <font face="Arial">
    *
   </font>
   Another way to help is to buy something from Dr. Bill's "
   <b>
    <a href="/dictionary/bookstore">
     <u>
      Bookstore
     </u>
    </a>
   </b>
   ."
   <hr align="left" color="#000000" size="1"/>
   <hr color="#000000" size="1"/>
   <p>
   </p>
  </blockquote>
 </body>
</html>