<html>
 <body>
  <blockquote>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
    <p>
     The sign for "butterfly" crosses two flat hands in 
			front of you at the wrists, palms facing backwards.
     <br/>
     Bend the hands at the large knuckles twice in the manner of a 
			butterfly flapping its wings.
    </p>
    <p>
     <br/>
     BUTTERFLY:
    </p>
    <p>
     <img border="0" height="208" src="/images/butterfly1.jpg" width="200"/>
     <img border="0" height="208" src="/images/butterfly2.jpg" width="200"/>
     <img border="0" height="208" src="/images/butterfly3.jpg" width="200"/>
     <img border="0" height="208" src="/images/butterfly4.jpg" width="200"/>
     <img border="0" height="208" src="/images/butterfly5.jpg" width="200"/>
     <img border="0" height="208" src="/images/butterfly6.jpg" width="200"/>
     <br/>
    </p>
    <hr align="left" color="#000000" size="1"/>
    <br/>
    Here is a different view:
    <p>
     <img border="0" height="160" src="/images/butter21.jpg" width="171"/>
     <img border="0" height="160" src="/images/butter22.jpg" width="171"/>
     <img border="0" height="160" src="/images/butter23.jpg" width="171"/>
     <img border="0" height="160" src="/images/butter22.jpg" width="171"/>
     <img border="0" height="160" src="/images/butter21.jpg" width="171"/>
     <img border="0" height="160" src="/images/butter22.jpg" width="171"/>
     <img border="0" height="160" src="/images/butter23.jpg" width="171"/>
    </p>
    <p>
     <br/>
    </p>
    <hr align="left" color="#000000" size="1" width="50%"/>
    <p>
     Also see:
     <a href="/dictionary/moth">
      MOTH
     </a>
    </p>
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>