<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   <p style="margin-top: 0; margin-bottom: 0">
    The sign for butter uses 
			a modified "H" handshape. Or a modified "U" handshape eh? But notice 
			that the thumb on the dominant hand is along side and not tucked in.  
			In my case that is my right hand.
    <br/>
    <br/>
    Pull the fingertips of your index and middle fingers across the 
palm of your non-dominant hand. Use a double movement.
    <br/>
    <br/>
    <font face="Arial">
     BUTTER:
    </font>
    <br/>
    <font face="Arial">
     <img border="0" height="240" src="/images/butter.gif" width="300"/>
    </font>
    <img border="0" height="219" src="/images/butter13.jpg" width="214"/>
    <img border="0" height="219" src="/images/butter14.jpg" width="214"/>
    <img border="0" height="219" src="/images/butter15.jpg" width="214"/>
    <img border="0" height="219" src="/images/butter13.jpg" width="214"/>
    <img border="0" height="219" src="/images/butter14.jpg" width="214"/>
    <img border="0" height="219" src="/images/butter15.jpg" width="214"/>
    <font face="Arial">
     <img border="0" height="219" src="/images/butter.gif" width="214"/>
     <br/>
    </font>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
   <p style="margin-top: 0; margin-bottom: 0">
    <br/>
    Sample sentence: Do you like bread with butter?  (BREAD WITH 
			BUTTER YOU LIKE?)
    <br/>
    <br/>
    <br/>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
   <p style="margin-top: 0; margin-bottom: 0">
    Also see:
    <a href="/dictionary/bread">
     BREAD
    </a>
    <br/>
    Also see:
    <a href="/dictionary/peanut-butter">
     PEANUT-BUTTER
    </a>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>