<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   <p style="margin-top: 0; margin-bottom: 0">
    The sign for "buy" looks like you are taking money from your 
hand and placing it in someone else's hand.
   </p>
   <p>
    <br/>
    BUY:
   </p>
   <p>
    <img border="0" height="211" src="/images/buy1.jpg" width="209"/>
    <img border="0" height="211" src="/images/buy2.jpg" width="209"/>
    <img border="0" height="211" src="/images/buy3.jpg" width="209"/>
    <img border="0" height="211" src="/images/buy4.jpg" width="209"/>
    <br/>
    <br/>
    Sentence: Everyday you buy what?
   </p>
   <p>
    <br/>
    <br/>
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p>
    <b>
     Notes:
     <br/>
     <br/>
    </b>
    SHOPPING:  To sign "shopping" do a repeated version of the sign 
buy.  Use a smaller movement but do it twice. Start the right hand from a 
position behind and above the left hand. Then bring it forward and down so it 
brushes along the left palm and continues forward out in front of the left 
hand.
    <br/>
   </p>
   <hr align="left" color="#000000" size="1"/>
   <font face="Arial">
    Also see:
    <a href="/dictionary/money">
     MONEY
    </a>
    <hr align="left" color="#000000" size="1"/>
    Also see:
    <a href="/dictionary/pay">
     PAY
    </a>
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>