<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   <font face="Arial">
    To sign "cafeteria" touch a "C" handshape to the 
corner of your chin, then touch it to the other corner of your chin.
    <br/>
   </font>
   <br/>
   <p>
    CAFETERIA:
   </p>
   <p>
    <img border="0" height="206" src="/images/cafeteria1.jpg" width="223"/>
    <img border="0" height="206" src="/images/cafeteria2.jpg" width="223"/>
    <br/>
   </p>
   <p>
    cafeteria animation:
    <br/>
    <img border="0" height="69" src="/images/cafeteria.gif" width="86"/>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     <hr align="left" color="#000000" size="1"/>
    </font>
   </p>
   <p>
    <br/>
    RESTAURANT:
   </p>
   <p>
    <img border="0" height="206" src="/images/restaurant1.jpg" width="223"/>
    <img border="0" height="206" src="/images/restaurant2.jpg" width="223"/>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <br/>
    Sample sentence:
"What is the name of a restaurant you like to eat at?" = RESTAURANT 
YOU LIKE EAT, (what)-NAME?
    <br/>
    <br/>
    <br/>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
    <p style="margin-top: 0; margin-bottom: 0">
     See:
     <a href="/dictionary/restaurant">
      RESTAURANT
     </a>
    </p>
    <hr align="left" color="#000000" size="1"/>
   </font>
   <p style="margin-top: 0; margin-bottom: 0">
    <br/>
    Notes:
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <br/>
    BACHELOR: You can initialize the sign "CAFETERIA" with a "B" to mean 
"Bachelor"
    <br/>
    <br/>
    ARIZONA: If you do this sign with an "A"-handshape it can mean "Arizona."
    <br/>
    <br/>
    SENIOR CITIZEN:
If you do the sign starting with an "S" and then change it to a "C" it can 
mean "senior citizen."
    <br/>
    <br/>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>