<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   <p style="margin-top: 0; margin-bottom: 0">
    The right sign for "call" depends on your meaning.
    <font face="Arial">
     <hr align="left" color="#000000" size="1"/>
    </font>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <br/>
    The general sign for "make a phone call" uses a "Y" handshape that starts 
	near the side of the head and moves outward a few inches. This sign 
	specifically refers to making a voice phone call.
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <br/>
    CALL-(by phone using voice)
    <br/>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <img border="0" src="/images/call-hearing.gif" style="max-width: 100%; height: auto" width="480"/>
    <img border="0" height="234" src="/images/phone-voicecall%20.jpg" width="234"/>
    <img border="0" height="234" src="/images/phone-voicecall2.jpg" width="234"/>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/xQCWPv-PrVM?rel=0" width="560">
    </iframe>
    <br/>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1" width="50%"/>
   </font>
  </blockquote>
 </body>
</html>