<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   <p style="margin-top: 0; margin-bottom: 0">
    The sign for "car" has many variations.
    <br/>
    One of the more 
	common versions is to fingerspell it.
    <font face="Arial">
     <p>
      CAR
      <br/>
      I recommend you just spell this concept. Seriously. It only takes three 
	letters
     </p>
     <p>
      <img alt="c.gif (438798 bytes)" border="2" height="100" src="/images/c_small.gif" width="100" xthumbnail-orig-image="../../fingerspelling/abc-gifs/c.gif"/>
      <img alt="a.gif (156187 bytes)" border="2" height="100" src="/images/a_small.gif" width="100" xthumbnail-orig-image="../../fingerspelling/abc-gifs/a.gif"/>
      <img alt="r.gif (298585 bytes)" border="2" height="100" src="/images/r_small.gif" width="100" xthumbnail-orig-image="../../fingerspelling/abc-gifs/r.gif"/>
      <br/>
      Note: The fingerspelling of the word car becomes somewhat lexicalized (sign 
	like). For example, when you fingerspell "C-A-R" at high speed you may 
	notice that your thumb on the tends to "hang out" when you get to the letter 
	"R" (instead of wrapping around).
     </p>
     <hr align="left" color="#000000" size="1"/>
     <p>
      CAR:
      <br/>
      Of course you will also see the classic "steering wheel" version of the sign for car.
      <br/>
      Use a small quick movement that looks as if you were turning a 
	small steering wheel side to side.
      <br/>
     </p>
     <p>
      <img height="222" src="/images/cardrive.gif" width="236"/>
      <span style="font-weight: 400">
       <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" height="315" name="I3" src="https://www.youtube.com/embed/YfwGL0ZIBqE?rel=0" width="560">
       </iframe>
      </span>
     </p>
     <hr align="left" color="#000000" size="1"/>
     <p>
      DRIVE-to:
      <br/>
      <br/>
      <span style="font-weight: 400">
       <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" height="315" name="I1" src="https://www.youtube.com/embed/_fYdWJp5-to?rel=0" width="560">
       </iframe>
      </span>
     </p>
     <hr align="left" color="#000000" size="1"/>
     <p>
      The sign DRIVE can be modified to mean "drive to here."
      <br/>
      <br/>
      DRIVE-to-here:
      <br/>
      <span style="font-weight: 400">
       <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" height="315" name="I2" src="https://www.youtube.com/embed/hgImSdRJwug?rel=0" width="560">
       </iframe>
      </span>
     </p>
     <hr align="left" color="#000000" size="1"/>
     <p>
      DRIVING:  (Version)
      <br/>
      When telling a story about someone driving you can use a large movement and 
	corresponding facial expressions to show how you would look if you were actually 
	manipulating a steering wheel.
      <br/>
      <img border="0" height="220" src="/images/driveb1.jpg" width="226"/>
      <img border="0" height="220" src="/images/driveb2.jpg" width="226"/>
      <img border="0" height="220" src="/images/driveb3.jpg" width="226"/>
      <img border="0" height="220" src="/images/driveb4.jpg" width="226"/>
      <br/>
      Yes, yes, I know -- I look like a
      <b>
       <i>
        bum
       </i>
      </b>
      in these pics.
      <b>
       <i>
        These
       </i>
      </b>
      are 
	the pics that inspired me to start
      <i>
       shaving my head bald
      </i>
      and wearing a
      <i>
       black dress shirt
      </i>
      for future pictures.
     </p>
     <hr align="left" color="#000000" size="1"/>
     <p>
      There are many ways to express the concept of "driving."
	To sign "DRIVE-TO" you'd just 
	use a single forward movement.
	To sign "I was driving along" the hands move forward, back, and forward a second time (using 
	a couple of short quick 
	movements).  If it was a "long drive" then you can modify the sign by 
	using a larger forward movement.
      <br/>
      <br/>
      DRIVING (version) "cruising" / "I was driving along..."
      <br/>
      <img border="0" height="214" src="/images/drive1.jpg" width="225"/>
      <img border="0" height="214" src="/images/drive2.jpg" width="225"/>
      <img border="0" height="214" src="/images/drive3.jpg" width="225"/>
      <img border="0" height="214" src="/images/drive4.jpg" width="225"/>
     </p>
     <hr align="left" color="#000000" size="1"/>
     <p>
      Signed English version:
      <br/>
      You might see "car" signed with two "C" hands, hitting one on top of the 
	other (the pinky of the top "C" hits against the index finger of the bottom 
	"C").  That version is quite common in the Deaf Community but I don't 
	recommend you do it on an ASL test.
     </p>
     <hr align="left" color="#000000" size="1"/>
     Also see:
     <a href="/dictionary/cardrive">
      CAR/DRIVE
     </a>
     <hr align="left" color="#000000" size="1"/>
     <p style="margin-top: 0; margin-bottom: 0">
      Also see:
      <a href="/dictionary/drive">
       DRIVE
      </a>
     </p>
     <hr align="left" color="#000000" size="1"/>
    </font>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    Also see:
    <a href="/dictionary/truck">
     TRUCK
    </a>
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p style="margin-top: 0; margin-bottom: 0">
    Also see:
    <a href="/dictionary/limousine">
     LIMOUSINE
    </a>
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p>
    NOTES:
    <br/>
    <br/>
    In a message dated 10/29/____ 3:26:29 PM Pacific Standard Time, 
  ___________@hotmail.com writes:
    <br/>
    <br/>
    Hello Dr. Bill,
    <br/>
    I am a 13 year old who wants to learn ASL and your website has helped me 
  tremendously. I also had a question on signing "drive" when your hands are in 
  "C" handshapes doesn't that mean "car" and when you have your hands in "D" 
	handshapes doesn't that mean "drive"? Or have I gotten mixed up with something 
  else.
    <br/>
    Thanx :)
    <br/>
    - Chickie
    <br/>
    <br/>
    Dear Chickie,
    <br/>
    What you are talking about is called "initialization." 
  Initialization is the practice of using the initial letter of the English 
  translation of a sign as the the handshape for that sign.
  While it is true that quite a few signs are "initialized," initialization is
    <i>
     not
    </i>
    something that applies to the majority of signs in ASL.  It is 
  also true that most Deaf people are bilingual (know two languages).  Here 
  in America, most "culturally Deaf" people know both ASL and English.  
  Quite often that knowledge of English influences a Deaf person's use of ASL.  
  But whether or not an influence from English becomes an accepted part of ASL 
  depends on how many users
    <i>
     adopt
    </i>
    the innovation (the new sign or method of 
  signing).  So, back to your question about the signs for drive and car:  
	"Drive" is 
  a verb and is signed larger and or in a more "mime-like" fashion than 
	"car."  CAR is signed smaller, quicker and in a less iconic way (that 
	means it doesn't look so 
  much like you are holding the wheel of an actual car). Both signs use "S" 
  hands.
    <br/>
    If your local sign language instructor has taught you to sign "DRIVE" using 
	"D" hands, just file that away in the back of your mind that you have "one 
	vote" for an initialized version of "DRIVE."  Then, as you get out in 
	the Deaf world and interact with
    <i>
     skilled
    </i>
    ,
    <i>
     native
    </i>
    users of ASL 
	you will start getting many, many votes for the non-initialized version (using 
	"S" handshapes).  In any case, set a goal to always be polite and open 
	minded about such discussions (and it seems you are indeed a such a person) 
	since language changes over time and from region to region. My
    <i>
     strong
    </i>
    recommendation however is to stick with the "S" hand version.
    <br/>
    Dr.
	Bill
   </p>
  </blockquote>
 </body>
</html>