<html>
 <body>
  <blockquote style="PADDING-LEFT: 5px; MARGIN-LEFT: 5px; BORDER-LEFT: blue 2px solid">
   <font color="#000000" face="Arial" size="2" style="BACKGROUND-COLOR: transparent">
    I'm working on lesson 21 in ASL 1.  I am confused about the sign 
			"Carpenter - [do woodwork]".  It looks similar to "Credit Card."  
			What is the difference?
   </font>
  </blockquote>
 </body>
</html>