<html>
 <body>
  <blockquote>
   <font face="Arial">
    <h2 style="margin-top: 0; margin-bottom: 0">
     <span style="font-weight: 400">
      American Sign Language:  "cartoon"
     </span>
    </h2>
    <blockquote>
     <p style="margin-top: 0; margin-bottom: 0">
      <span style="font-weight: 400">
      </span>
     </p>
     <hr align="left" color="#000000" size="1" width="50%"/>
     <span style="font-weight: 400">
      <p class="MsoNormal">
       Judy Staub, a Teacher of the Deaf at East Lyme High School, 
emailed me to ask:
      </p>
      <p class="MsoNormal">
       "What’s the sign for ‘cartoon’?”
       <br/>
       <br/>
       -----------
      </p>
      <p style="margin-top: 0; margin-bottom: 0">
       Hello Judy,
       <br/>
       You could sign "cartoon" in several ways.
       <br/>
       An ASL approach would be to spell it on first usage and then sign the word 
"FUNNY" - thus establishing the sign "FUNNY" as meaning "cartoon" for the rest 
of that conversation.
       <br/>
       <br/>
       But what if you want to talk about how funny a cartoon was?  Some people 
choose to initialize the sign FUNNY with a "C." I wouldn't use that on an ASL 
test, but it is out there in the community.
       <br/>
       <br/>
       If the "cartoon" is in printed format and it is a single picture, you could sign 
"PICTURE" to mean cartoon.  Or if it is a cartoon strip, you could use the 
sign "rectangle" to refer to the cartoon.
       <br/>
       <br/>
       Each of those signs "FUNNY, PICTURE, and RECTANGLE" end up functioning somewhat 
like a pronoun. They are "not" the equivalent, to a full-fledged "noun" but they 
function as a proxy for a previously identified concept.  So, in ASL you 
would identify that you are talking about a "cartoon" either by spelling it or 
by contextual information and then you would use a "proxy" sign to refer back to 
it.
       <br/>
       <br/>
       Sometimes the actual word "cartoon" is simply irrelevant. For example, suppose 
you started talking to someone about a 90-minue-long cartoon that was being 
shown in the theater you might spell the title of the movie with your eyebrows 
up (as if asking, "Do you know the one I'm talking about?") and then your 
conversation partner might nods that he/she is familiar with the movie to which 
you are referring. Since he is familiar with the movie that means he
       <i>
        already 
knows it is a cartoon
       </i>
       . After which you would simply sign "movie" to refer to 
the cartoon.
       <br/>
       -- Cordially,
       <br/>
       Bill
       <br/>
      </p>
      <hr align="left" color="#000000" size="1" width="50%"/>
     </span>
    </blockquote>
   </font>
   <b>
    <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=XHRNABERKJT4N" rel="nofollow" style="text-decoration: none" target="_blank">
     <u>
      DONATE
     </u>
    </a>
   </b>
   <font size="2">
    (
    <i>
     Thanks!
    </i>
    )
   </font>
   <br/>
   <br/>
   <font face="Arial">
    *
   </font>
   Another way to help is to buy something from Dr. Bill's "
   <b>
    <a href="/dictionary/bookstore" style="text-decoration: none">
     <u>
      Bookstore
     </u>
    </a>
   </b>
   ."
   <hr align="left" color="#000000" size="1"/>
   <hr color="#000000" size="1"/>
   <p>
   </p>
  </blockquote>
 </body>
</html>