<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1" width="50%"/>
   <p style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     <br/>
     CAT (version)
     <br/>
    </font>
    <span style="font-weight: 400">
     <font face="Arial">
      <img border="0" height="320" src="/images/cat-02.gif" width="320"/>
     </font>
    </span>
    <font face="Arial">
     <span style="font-weight: 400">
      <img border="0" height="211" src="/images/cat.ht2.gif" width="221"/>
     </span>
    </font>
   </p>
   <hr align="left" color="#000000" size="1" width="50%"/>
   <p style="margin-top: 0; margin-bottom: 0">
    <img border="0" height="320" src="/images/cat-01.jpg" width="320"/>
    <img border="0" height="320" src="/images/cat-02.jpg" width="320"/>
    <img border="0" height="320" src="/images/cat-03.jpg" width="320"/>
   </p>
   <font face="Arial">
    <p style="margin-top: 0; margin-bottom: 0">
     <br/>
     The general version of the sign for cat starts with an "open F."  
This handshape looks like a normal "F" except that the index finger
and thumb are separated by about an inch.
    </p>
    <p align="left">
     Place the "open F" handshape near the bottom of your nose and
move it out to the side while changing it to
a normal "F" handshape
     <br/>
    </p>
    <hr align="left" color="#000000" size="1"/>
    <p align="left">
     The sign "cat" can be done using a "G" handshape that starts
near the bottom right of the nose and moves out to the right while changing from
a normal "G" handshape to a "closed G" handshape:
     <br/>
    </p>
    <p style="margin-top: 0; margin-bottom: 0">
     CAT ("G" version)
     <br/>
     <img border="0" height="222" src="/images/catb1.jpg" width="186"/>
     <img border="0" height="222" src="/images/catb2.jpg" width="186"/>
     <br/>
     ●
     <a href="/images/catbanimation.gif" style="text-decoration: none">
      animation
     </a>
    </p>
    <p style="margin-top: 0; margin-bottom: 0">
    </p>
    <hr align="left" color="#000000" size="1"/>
    <p style="margin-top: 0; margin-bottom: 0">
     <br/>
     CAT ("8" version)
     <br/>
     The sign for cat can even be done using an "8" handshape (instead of an "F" 
or a "G.")
     <br/>
     That version starts with an "open 8" and moves to the side and closes into a 
normal 8 handshape.
     <br/>
    </p>
    <hr align="left" color="#000000" size="1"/>
   </font>
   <p style="margin-top: 0; margin-bottom: 0">
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     CAT (old version) (not recommended)
     <br/>
     The sign CAT uses just one hand for most everyday conversation.
     <br/>
     I sometimes use two hands when I'm feeling dramatic and/or signing stories to young children 
but that is about it.
    </font>
    <br/>
    <font face="Arial">
     <span style="font-weight: 400">
      <img height="212" src="/images/cat.gif" width="286"/>
      <br/>
     </span>
    </font>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
    <p style="margin-top: 0; margin-bottom: 0">
     Also see: "
     <a href="/dictionary/kitten" style="text-decoration: none">
      KITTEN
     </a>
     "
    </p>
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>