<html>
 <body>
  <blockquote>
   <font face="Arial">
    <h1>
     <span style="font-weight: 400">
      <font size="5">
       American Sign Language: "white in the face" 
		(Caucasian) (pale)
      </font>
     </span>
     <br/>
    </h1>
    <blockquote>
     <hr align="left" color="#000000" size="1"/>
     <p style="margin-top: 0; margin-bottom: 0">
      The sign for "white in the face" can be used to mean 
	"Caucasian" and/or "pale."
     </p>
     <hr align="left" color="#000000" size="1"/>
     <p align="left">
      To sign "Caucasian" or "pale," you do the sign "WHITE" 


	then you throw the whiteness in your face.
      <br/>
      <br/>
      CAUCASIAN  (white faced / pale)
     </p>
     <p>
      <img border="0" height="239" src="/images/whiteperson1.jpg" width="260"/>
      <img border="0" height="239" src="/images/whiteperson2.jpg" width="260"/>
      <img border="0" height="239" src="/images/whiteperson3.jpg" width="260"/>
      <img border="0" height="239" src="/images/whiteperson4.jpg" width="260"/>
      <img border="0" height="239" src="/images/whiteperson5.jpg" width="260"/>
     </p>
     <hr align="left" color="#000000" size="1" width="50%"/>
     <p style="margin-top: 0; margin-bottom: 0">
      Here's a view from an angle so you can see the back side of 
  the hand:
      <br/>
      <img border="0" height="73" src="/images/whiteside1.jpg" width="101"/>
     </p>
    </blockquote>
    <hr align="left" color="#000000" size="1"/>
    <hr align="left" color="#000000" size="1"/>
   </font>
   <b>
    <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=XHRNABERKJT4N" rel="nofollow" target="_blank">
     <u>
      DONATE
     </u>
    </a>
   </b>
   <font size="2">
    (
    <i>
     Thanks!
    </i>
    )
   </font>
   <br/>
   <br/>
   <font face="Arial">
    *
   </font>
   Another way to help is to buy something from Dr. Bill's "
   <b>
    <a href="/dictionary/bookstore">
     <u>
      Bookstore
     </u>
    </a>
   </b>
   ."
   <hr align="left" color="#000000" size="1"/>
   <hr color="#000000" size="1"/>
   <p>
   </p>
  </blockquote>
 </body>
</html>