<html>
 <body>
  <blockquote>
   <font face="Arial">
    <h2 style="margin-top: 0; margin-bottom: 0">
     <span style="font-weight: 400">
      American Sign Language:  "cell 
phone"
     </span>
    </h2>
    <blockquote>
     <p style="margin-top: 0; margin-bottom: 0">
      <span style="font-weight: 400">
      </span>
     </p>
     <hr align="left" color="#000000" size="1" width="50%"/>
     <span style="font-weight: 400">
      <p style="margin-top: 0; margin-bottom: 0">
       The sign for cell-phone is done by tapping a "c" hand to the upper cheek (near the ear) twice.
       <br/>
       Many people just spell "C-E-L-L" because it is so short and easy to spell.
      </p>
      <p style="margin-top: 0; margin-bottom: 0">
       You should check with your local Deaf regarding how "cell phone" is signed in your area. 
(Actually you should always "check" with your local Deaf regarding any and every 
sign -- but emerging or relatively new signs are especially important to double 
check.
      </p>
      <p style="margin-top: 0; margin-bottom: 0">
      </p>
      <p style="margin-top: 0; margin-bottom: 0">
       CELL PHONE (version)
       <br/>
       <br/>
       <img border="0" height="241" src="/images/cell-phone.jpg" width="244"/>
       <br/>
      </p>
      <p style="margin-top: 0; margin-bottom: 0">
       The slightly compressed "C" handshape tapping twice on the side of the cheek version of cell-phone started 
becoming popular in 2008 and seems to be spreading and becoming more 
popular as time goes on.
       <br/>
      </p>
     </span>
     <span style="font-weight: 400">
      <hr align="left" color="#000000" size="1" width="50%"/>
      <p style="margin-top: 0; margin-bottom: 0">
      </p>
      <p style="margin-top: 0; margin-bottom: 0">
       Discussion:
       <br/>
       <br/>
       A student asks:  "Can you explain to me the difference between the sign for 
"cell phone" & the sign for "THICK" (the one done on the cheek). They look the 
same to me. "
       <br/>
       <br/>
       Response: 
The sign THICK (when done on the cheek) uses a strong single movement, and a 
strong contact that is held just slightly longer than a typical contact-hold. 
The handshape for the sign "THICK" is a "claw-like" "C" shape. The sign THICK 
also tends to use puffed cheeks. Also, on rare occasion I've seen the sign THICK 
done with two hands (one on each cheek).
       <br/>
       <br/>
       The sign CELL phone, tends to use a double movement and makes two soft contacts 
(although when signed quickly as part of a sentence it can certainly be done 
with a single movement). The handshape uses a slightly compressed "C" handshape 
(not a claw). The modern sign "CELL-phone" uses only one hand.
       <br/>
      </p>
      <hr align="left" color="#000000" size="1" width="50%"/>
      <p style="margin-top: 0; margin-bottom: 0">
       Also see:
       <a href="/dictionary/phone" style="text-decoration: none">
        PHONE
       </a>
      </p>
      <hr align="left" color="#000000" size="1" width="50%"/>
      <p style="margin-top: 0; margin-bottom: 0">
       Also see:
       <a href="/dictionary/call" style="text-decoration: none">
        CALL
       </a>
      </p>
      <hr align="left" color="#000000" size="1" width="50%"/>
     </span>
    </blockquote>
    <hr align="left" color="#000000" size="1"/>
    <hr align="left" color="#000000" size="1"/>
   </font>
   <b>
    <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=XHRNABERKJT4N" rel="nofollow" target="_blank">
     <u>
      DONATE
     </u>
    </a>
   </b>
   <font size="2">
    (
    <i>
     Thanks!
    </i>
    )
   </font>
   <br/>
   <br/>
   <font face="Arial">
    *
   </font>
   Another way to help is to buy something from Dr. Bill's "
   <b>
    <a href="/dictionary/bookstore">
     <u>
      Bookstore
     </u>
    </a>
   </b>
   ."
   <hr align="left" color="#000000" size="1"/>
   <hr color="#000000" size="1"/>
   <p>
   </p>
  </blockquote>
 </body>
</html>