<html>
 <body>
  <blockquote>
   <p>
    <span style="font-weight: 400">
     <font face="Arial">
      There are a couple of different ways to sign "center."
     </font>
    </span>
   </p>
   <span style="font-weight: 400">
    <font face="Arial">
     <hr align="left" color="#000000" size="1"/>
     <p style="margin-top: 0; margin-bottom: 0">
      <br/>
      CENTER:
(bent middle finger variation)
      <br/>
      <br/>
     </p>
     <hr align="left" color="#000000" size="1"/>
     <p style="margin-top: 0; margin-bottom: 0">
      Center or Middle (flat hand 
variation)
      <br/>
      You can do the dominant handshape with either a flat hand or you can use a 
	middle finger bent forward from the large knuckle. 
  This sign is can be combined with DEAF to mean "Deaf Center."
     </p>
     <p>
      <img border="0" height="234" src="/images/center-d1.jpg" width="263"/>
      <img border="0" height="234" src="/images/middle11.jpg" width="263"/>
      <img border="0" height="234" src="/images/center-d10.jpg" width="263"/>
     </p>
     <p>
     </p>
     <hr align="left" color="#000000" size="1"/>
     <p>
      <a href="/dictionary/middle">
       MIDDLE
      </a>
      :
      <br/>
      Here is a lesser used variation of "middle."  I wouldn't use this for 
	"center."
      <br/>
      This version means more along the lines of "the middle of a series" or 
	"middle name."
      <br/>
      <br/>
      <img border="0" height="235" src="/images/middleofseries-b1.jpg" width="224"/>
      <img border="0" height="235" src="/images/middleofseries-b2.jpg" width="224"/>
      <img border="0" height="235" src="/images/middleofseries-b3.jpg" width="224"/>
      <img border="0" height="235" src="/images/middleofseries-b4.jpg" width="224"/>
     </p>
    </font>
   </span>
  </blockquote>
 </body>
</html>