<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   <br/>
   The sign for "chain" is based on the "connect" sign (which also 
			means such things as "of," "join," "member of," and "link.")
   <br/>
   <br/>
   CHAIN / links / Olympics:
   <p>
    <img border="0" height="300" src="/images/chain.6.jpg" width="300"/>
    <img border="0" height="300" src="/images/chain.7.jpg" width="300"/>
    <img border="0" height="300" src="/images/chain.8.jpg" width="300"/>
    <img border="0" height="300" src="/images/chain.9.jpg" width="300"/>
    <br/>
    <br/>
    Notes:
    <br/>
    <font face="Arial">
     In normal everyday usage in a sentence signed between two fluent 
			adults you only use "two" links (or "two" movements"). Sometimes you 
			might see this sign done with three links but generally three links 
			would be used only on first reference to introduce the topic to the 
			conversation. For example, visualize an elementary school teacher 
			getting the attention of her students and then excitedly signing "We 
			are going to make a paper chain today!"  (TODAY MAKE PAPER 
			CHAIN!)  Upon second reference there would be no point in 
			wasting the effort to make three movements.
     <br/>
    </font>
   </p>
   <hr align="left" color="#000000" size="1" width="50%"/>
   <p style="margin-top: 0; margin-bottom: 0">
    Also see:
    <a href="/dictionary/fence">
     FENCE
    </a>
    <br/>
    Also see:
    <a href="/dictionary/connect">
     CONNECT
    </a>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>