<html>
 <body>
  <blockquote>
   <h1 style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     <span style="font-weight: 400">
      <font size="5">
       ASL: "Chance"
      </font>
     </span>
     <br/>
    </font>
   </h1>
   <p>
    <br/>
    Discussion:
    <br/>
    <iframe allow="autoplay; encrypted-media" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/w8jjz_R6GaI?rel=0" width="560">
    </iframe>
    <br/>
    The general sign for CHANCE:
    <br/>
    <img border="0" height="239" src="/images/chance1.jpg" width="237"/>
    <img border="0" height="239" src="/images/chance2.jpg" width="237"/>
    <img border="0" height="239" src="/images/chance3.jpg" width="237"/>
   </p>
   <p>
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p>
    Notes:
    <br/>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1"/>
   <hr align="left" color="#000000" size="1"/>
   <hr align="left" color="#000000" size="1"/>
   <hr color="#000000" size="1"/>
   <p>
   </p>
  </blockquote>
 </body>
</html>