<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   <img border="0" height="81" src="/images/chase.gif" width="287"/>
   <br/>
   <p style="margin-top: 0; margin-bottom: 0">
    The 
			dominant hand chases the non-dominant hand.  The
    <font face="Arial">
     non-dominant
    </font>
    hand makes a smooth gliding 
  motion as it travels forward and to the side.  The
    <font face="Arial">
     dominant
    </font>
    hand makes a 
  frantic spiraling forward motion as it tries to catch up to the
    <font face="Arial">
     non-dominant
    </font>
    hand but never 
  succeeds.
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <img border="0" height="300" src="/images/chase.1.jpg" width="295"/>
    <img border="0" height="300" src="/images/chase.2.jpg" width="295"/>
    <img border="0" height="300" src="/images/chase.3.jpg" width="295"/>
    <img border="0" height="300" src="/images/chase.4.jpg" width="300"/>
    <img border="0" height="300" src="/images/chase.5.jpg" width="298"/>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1" width="50%"/>
   <p style="margin-top: 0; margin-bottom: 0">
    <br/>
    <font face="Arial">
     Sample sentence: 
			Why do dogs chase cats? = "DOG CHASE CAT, WHY?"
    </font>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
   </p>
   <font face="Arial">
    <p style="margin-top: 0; margin-bottom: 0">
     Sample sentence: 
			Name something that a dog chases.
    </p>
    <p style="margin-top: 0; margin-bottom: 0">
    </p>
   </font>
   <p style="margin-top: 0; margin-bottom: 0">
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
   <p style="margin-top: 0; margin-bottom: 0">
    Also see:
    <a href="/dictionary/withadvanced">
     WITH
    </a>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>