<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   <p style="margin-top: 0; margin-bottom: 0">
    The sign for "chat" has a couple of versions.
    <font face="Arial">
     <hr align="left" color="#000000" size="1"/>
    </font>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <br/>
    <font face="Arial">
     CHAT (version 1)
     <br/>
     <img border="0" height="237" src="/images/chat-with-a1.jpg" width="315"/>
     <img border="0" height="237" src="/images/chat-with-a2.jpg" width="315"/>
     <img border="0" height="237" src="/images/chat-with-a3.jpg" width="315"/>
     <img border="0" height="237" src="/images/chat-with-a4.jpg" width="315"/>
     <img border="0" height="237" src="/images/chat-with-a5.jpg" width="315"/>
     <img border="0" height="237" src="/images/chat-with-a6.jpg" width="315"/>
     <br/>
     <br/>
     Sample sentence: Do you like to chat with Deaf people?
     <br/>
     <br/>
     <br/>
     <hr align="left" color="#000000" size="1"/>
     <p style="margin-top: 0; margin-bottom: 0">
      <br/>
      There is another way to sign "chat." This other version uses an alternating 
	up and down movement.
      <br/>
      <br/>
      CHAT (version 2)
      <br/>
      <img border="0" height="237" src="/images/chat-with-b2.jpg" width="319"/>
      <img border="0" height="237" src="/images/chat-with-b1.jpg" width="319"/>
      <img border="0" height="237" src="/images/chat-with-b3.jpg" width="319"/>
      <img border="0" height="237" src="/images/chat-with-b4.jpg" width="319"/>
      <br/>
     </p>
     <hr align="left" color="#000000" size="1"/>
     <p style="margin-top: 0; margin-bottom: 0">
      <br/>
      Notes:
      <br/>
      There are two popular versions of the sign for "chat."  (See the 
	examples above.)
      <br/>
      I honestly believe there is a slight difference in meaning between these two
  signs.  Sort of like the difference in taste between Pepsi and a no-name
  brand cola.  The difference is there, but it is not so much of a
  difference as to matter in everyday usage. To me, version one is more laid 
  back and casual.  Version two is more active more involved. I don't see either 
  as being "formal" though. I also don't consider one to be more clear or 
  used more frequently than the other. For some reason, if I am talking about 
  	Hearing people chatting, I tend to use version one. I could also use version 
  one for Deaf chatting, but would be less inclined to use version two for Hearing 
  people chatting. But that is just me. I doubt you'd get much consensus on 
  these signs, but it would be interesting to ask around. I'll have to do that 
  one of these days.
      <br/>
      -- Dr. Bill
      <br/>
     </p>
     <hr align="left" color="#000000" size="1" width="25%"/>
    </font>
   </p>
   <div>
    <div>
     <p style="margin-top: 0; margin-bottom: 0">
      <br/>
      In a message dated 6/6/2006 11:26:18 AM Pacific Daylight Time, 
		johnnyarkoosh@____ writes:
     </p>
    </div>
    <blockquote style="PADDING-LEFT: 5px; MARGIN-LEFT: 5px; BORDER-LEFT: blue 2px solid">
     <font color="#000000" face="Arial" size="2" style="BACKGROUND-COLOR: transparent">
      <div class="Section1">
       <p class="MsoNormal" style="margin-top: 0; margin-bottom: 0">
        <span class="EmailStyle15">
         D
         <font color="black" face="Arial" size="2">
          <span style="font-size: 10pt; font-family: Arial">
           r. 
			Bill,
           <?xml:namespace prefix = o ns = "urn:schemas-microsoft-com:office:office" 
/>
          </span>
         </font>
        </span>
       </p>
       <p class="MsoNormal" style="margin-top: 0; margin-bottom: 0">
        <span class="EmailStyle15">
         <font color="black" face="Arial" size="2">
          <span style="font-size: 10pt; font-family: Arial">
           Thanks for the 
			website.  I don’t know if you still update it regularly or not, but 
			nonetheless I appreciate it.
          </span>
         </font>
        </span>
       </p>
       <p class="MsoNormal" style="margin-top: 0; margin-bottom: 0">
        <span class="EmailStyle15">
         <font color="black" face="Arial" size="2">
          <span style="font-size: 10pt; font-family: Arial">
           I just wanted to 
			comment on the “chat” sign version 2.
          </span>
         </font>
        </span>
       </p>
       <p class="MsoNormal" style="margin-top: 0; margin-bottom: 0">
        <span class="EmailStyle15">
         <font color="black" face="Arial" size="2">
          <span style="font-size: 10pt; font-family: Arial">
           I agree that 
			version 2 is primarily a “Deaf chat” and would not find myself using 
			it concerning Hearing people.  I do not know why that is either, but 
			I did notice in chat version 2 you have on a more “Deaf face” which 
			helps lend to the idea that it is a Deaf conversation.
          </span>
         </font>
        </span>
       </p>
       <p class="MsoNormal" style="margin-top: 0; margin-bottom: 0">
        <span class="EmailStyle15">
         <font color="black" face="Arial" size="2">
          <span style="font-size: 10pt; font-family: Arial">
           I don’t know how 
			to explain what I am seeing, but the version 2 face is not a face I 
			would make in relation to hearing people conversing.  It is also a 
			face much more closely related to version 2 than version 1.  I don’t 
			think, regardless of circumstance that I make that particular face 
			when I use version one, just something that really struck me.
          </span>
         </font>
        </span>
       </p>
       <p class="MsoNormal" style="margin-top: 0; margin-bottom: 0">
        <span class="EmailStyle15">
         <font color="black" face="Arial" size="2">
          <span style="font-size: 10pt; font-family: Arial">
           Anyway, thanks 
			again.
          </span>
         </font>
        </span>
       </p>
       <p class="MsoNormal" style="margin-top: 0; margin-bottom: 0">
        <span class="EmailStyle15">
         <font color="black" face="Arial" size="2">
          <span style="font-size: 10pt; font-family: Arial">
           ~ Johnny Arkoosh
          </span>
         </font>
        </span>
       </p>
      </div>
     </font>
    </blockquote>
   </div>
   <div>
    <p style="margin-top: 0; margin-bottom: 0">
     Johnny,
     <br/>
     Hey, thanks for the interesting observation.
     <br/>
     I appreciate your comment.
     <br/>
     -- Dr. Bill
     <font face="Arial">
      <hr align="left" color="#000000" size="1"/>
      <p style="margin-top: 0; margin-bottom: 0">
       <br/>
       7/29/2014:  A community member writes:
       <br/>
       I have some comments in response to your dictionary entry for CHAT. 
		In relation to the comment by Johnny on 6.6.06 about your use of "a more 
		‘Deaf face’” with version 2, I can say that I’ve only known version 1, 
		and have learned to expect and use that “Deaf face” mouth shape with 
		that sign. (Maybe there’s a more correct term for “mouth shape”?) I have 
		seen Deaf people use version 1 in relation to Deaf people chatting with 
		each other, but maybe you’re right that it gets used less for that than 
		version 2 does. Maybe I’ve been exposed less to version 2 because I’m 
		not Deaf and have had fewer conversations about Deaf-only chatting. I 
		don’t know or remember if that mouth shape has a name, but I’ve learned 
		it to imply a casual attitude. I expect you’re aware of that, but maybe 
		some of your readers wouldn’t be (maybe including Johnny, since he said 
		he didn’t know how to explain what he was seeing). I use it in relation 
		to signs about casually walking around or casually looking around too, 
		for example. I do think of version 1 mainly in relation to chatting in 
		ASL, but I have used it in relation to people chatting in English too. 
		Since chatting is casual by definition, I’ve used that mouth shape in 
		that context too in order to more fully express that. I’m intrigued by 
		the distinctions you and Johnny perceive between the two versions of 
		CHAT, and look forward to exploring those possibilities further.
       <br/>
       - [a person who wishes to remain anonymous]
       <br/>
       <br/>
       Later that same day (7/29/2014) "Anon" writes:
       <br/>
       <br/>
       I remembered the term “mouth morpheme” and did a keyword search on your 
		site to see if you used it. Found lots of good stuff about that, and 
		about other morphemes too. I look forward to reading more of it all. 
		This was particularly relevant to my previous comments:
       <br/>
       <br/>
       <font color="#000080">
        Mouth morphemes are a part of ASL. This means 
		certain mouth movements are intrinsic to being able to accurately 
		represent ASL. Making a "th" -type of mouth shape is used to indicate 
		recklessness or carelessness. Using an "mm" mouth shape is used to show 
		that something is ordinary, uneventful, and being done or taking place 
		in a regular manner.
       </font>
       <br/>
       <br/>
       So I see that my using the term “mouth shape” in that context was 
		correct, and have learned or (probably) relearned from that passage that 
		that particular mouth shape I mentioned can be referred to as the “mm” 
		one. I appreciate your expanded definition of the meaning of the “mm” 
		mouth shape too. I expect that “mouth shape” is used in ASL linguistics 
		in a way similar to “handshape.”
       <br/>
       - Anon
       <br/>
      </p>
      <hr align="left" color="#000000" size="1"/>
      <p style="margin-top: 0; margin-bottom: 0">
       <br/>
       <font color="#000000" face="Arial" id="role_document">
        <strong>
         Question
        </strong>
        :  Is 
		there a more correct term for “mouth shape”?
        <br/>
        <br/>
        <strong>
         Answer
        </strong>
        : Some people use the term "mouth
        <i>
         morpheme
        </i>
        " 
		but technically a mouth can have a shape that conveys has no specific 
		meaning. In linguistics (the study of language) the term "morpheme" 
		tends to mean something along the lines of: "A meaningful unit of 
		language that can't be broken down smaller without losing meaning."  
		The
        <i>
         shape
        </i>
        of the mouth is literally how the mouth, jaw, lips, and 
		tongue are all arranged. If that arrangement is intended to convey a
        <i>
         specific meaning
        </i>
        it is considered to be a "mouth morpheme."
       </font>
      </p>
      <div>
       <br/>
       [ All of which is
       <em>
        secondary
       </em>
       to the question of whether or 
			not it is
       <em>
        my
       </em>
       mouth and if there is food in it and whether 
			that food is yummy or not. - Dr. Bill ]
      </div>
     </font>
    </p>
    <p style="margin-top: 0; margin-bottom: 0">
    </p>
    <hr align="left" color="#000000" size="1"/>
    <p style="margin-top: 0; margin-bottom: 0">
     Also see:
     <a href="/dictionary/talk">
      TALK
     </a>
    </p>
    <hr align="left" color="#000000" size="1"/>
   </div>
  </blockquote>
 </body>
</html>