<html>
 <body>
  <blockquote>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
    <p>
     The sign for "cheat" has quite a few variations.
     <br/>
     <br/>
     In this first (and recommended version) the handshape on the 
			non-dominant arm isn't important. It could be a loose hand, a fist, 
			or a flat hand. Here I'm showing it with a "horns"-handshape.  
			The dominant hand is in a horns handshape.  Hold the 
			non-dominant arm up in front of you and brush the index-finger side 
			of the dominant hand down along the side of the non-dominant forearm 
			near the elbow. Use either one or two movements. The movement is a 
			thrusting movement that glances off the side of the arm.
    </p>
    <p>
     <br/>
     CHEAT (version 1)
     <br/>
     <img border="0" height="226" src="/images/cheat.7.jpg" width="228"/>
     <img border="0" height="226" src="/images/cheat.8.jpg" width="228"/>
     <img border="0" height="226" src="/images/cheat.9.jpg" width="228"/>
     <br/>
    </p>
    <hr align="left" color="#000000" size="1"/>
    <p>
     <br/>
     Version 2:
     <br/>
     Do the same version as above but on the dominant hand use a "1"-handshape 
	and for the non-dominant hand just use a flat hand, loose hand, or a fist 
	(but not a "horns"-handshape.
    </p>
    <p>
    </p>
    <hr align="left" color="#000000" size="1"/>
    <p>
     <br/>
     There is another way to sign "cheat" that is based on the idea of 
	"straddling the fence."
    </p>
    <p>
     Hold up a non-dominant flat hand. Jam your dominant V-hand down 
			twice onto the flat hand.
     <br/>
     <br/>
     CHEAT (version 3)
     <br/>
     <img border="0" height="215" src="/images/cheat.57.jpg" width="213"/>
     <img border="0" height="215" src="/images/cheat.58.jpg" width="213"/>
     <img border="0" height="215" src="/images/cheat.59.jpg" width="213"/>
     <img border="0" height="215" src="/images/cheat.60.jpg" width="213"/>
    </p>
    <br/>
    <img border="0" height="60" src="/images/cheat.gif" width="154"/>
    <p>
    </p>
    <hr align="left" color="#000000" size="1"/>
    <p>
     <br/>
     There are other ways to sign "cheat." It seems that "cheat" is one of those 
	signs that have a dozen versions.  I'll show you one more version here, 
	but really, you should check with your local Deaf and/or stick with the main 
	version I show at the top of the page.)
    </p>
    <p>
     <br/>
     In this next version of "cheat" the right "P" hand pivots forward and back on the
     <i>
      SIDE
     </i>
     of the nose. (Careful here, wouldn't want to 
			accidentally do any body-part signs eh?)
     <br/>
     <br/>
     CHEAT (version 4) (NOT recommended)  (Regional variation.)
     <br/>
     (Do not learn version. I won't test on it).
     <br/>
     <img border="0" height="231" src="/images/cheat.10.jpg" width="246"/>
     <img border="0" height="231" src="/images/cheat.11.jpg" width="246"/>
     <br/>
     <br/>
     I include the "P to the side of the nose" version merely to point 
			out that there are many ways to sign
     <i>
      cheat
     </i>
     . Check with your 
			local Deaf or your local instructor to see what is used in your 
			area.
    </p>
    <p>
     <br/>
    </p>
    <hr align="left" color="#000000" size="1" width="50%"/>
    <p>
     Note: If you cheat in my class I will give you an "F."
    </p>
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>