<html>
 <body>
  <blockquote>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
    <p>
     The sign for "cheap" uses "flat hands."
     <br/>
    </p>
    <p>
     <br/>
     CHEAP:
     <br/>
     <img border="0" height="217" src="/images/cheap.53.jpg" width="200"/>
     <img border="0" height="217" src="/images/cheap.54.jpg" width="200"/>
     <img border="0" height="217" src="/images/cheap.55.jpg" width="200"/>
     <img border="0" height="217" src="/images/cheap.56.jpg" width="200"/>
    </p>
    <hr align="left" color="#000000" size="1"/>
    Animation:  "cheap"
    <br/>
    <img border="0" height="217" src="/images/cheap.gif" width="200"/>
    <br/>
    <hr align="left" color="#000000" size="1"/>
    <p>
     Notes:
     <br/>
     If you use a "W"-handshape on the dominant hand this sign becomes 
			one of the two versions of the sign for "Wal-Mart." (For more 
			information on Wal-Mart, see the notes for the sign "
     <a href="/dictionary/cough">
      COUGH
     </a>
     ")
    </p>
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>