<html>
 <body>
  <blockquote style="PADDING-LEFT: 5px; MARGIN-LEFT: 5px; BORDER-LEFT: blue 2px solid">
   <font color="#000000" face="Verdana" size="2" style="BACKGROUND-COLOR: transparent">
    Oh, oh...I am also using your
    <span class="correction" id="">
     website
    </span>
    words for my high school class.  Once a week I pass out 10 of your sign 
			descriptions (your test) so the students and the staff can try to determine the sign.  It's a good reading
    <span class="correction" id="">
     exercise
    </span>
    for the students and good practice for the interpreters.  Interesting, 
			that while the "deafer" students know the signs better, the "hearer" students get more correct.  It's a reading 
			thing.  "Butt of the left hand" on number 9 got some.  They thought the sign must be "dog" because you slapped your 
			butt when you sign "dog".  [Editor's note:  I do NOT slap my butt when signing "DOG."  I snap my fingers 
			and/or slap my thigh.  heh]So, we learned what the butt of the hand is.  Also...number 6...most of us put "chew" 
			instead of "wash".  Is there a difference?
   </font>
  </blockquote>
 </body>
</html>