<html>
 <body>
  <blockquote>
   <h1 style="margin-top: 0; margin-bottom: 0">
    <font face="Arial" size="5">
     CHICAGO
    </font>
    <font face="Arial">
     <span style="font-weight: 400">
      <font size="5">
       : 
		The ASL sign for "Chicago"
      </font>
     </span>
    </font>
   </h1>
   <p>
    CHICAGO:  Draw a seven in the air with your dominant "C" hand. 
	Do the downward movement fairly quickly.
    <br/>
    <img border="0" height="213" src="/images/chicag68.jpg" width="218"/>
    <img border="0" height="213" src="/images/chicag69.jpg" width="218"/>
    <img border="0" height="213" src="/images/chicag71.jpg" width="218"/>
    <img border="0" height="213" src="/images/chicag73.jpg" width="218"/>
   </p>
   <hr align="left" color="#000000" size="1" width="50%"/>
   <img border="0" height="213" src="/images/chicago.gif" width="218"/>
   <br/>
   <br/>
   <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube-nocookie.com/embed/4DAmao9Thks?rel=0" width="560">
   </iframe>
   <br/>
   <hr align="left" color="#000000" size="1"/>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p>
    Notes:
    <br/>
    Also see: "Seven Shaped Movement Path" (discussion)
    <br/>
    <br/>
    CHICAGO: Here's another example of the sign for Chicago:
    <br/>
    <img border="0" height="296" src="/images/chicago-24.jpg" width="296"/>
    <img border="0" height="296" src="/images/chicago-25.jpg" width="296"/>
    <img border="0" height="296" src="/images/chicago-26.jpg" width="296"/>
    <font size="1">
     <br/>
    </font>
    <font face="Arial" size="1">
     Model:
     <b>
      Byron Cantrell
     </b>
     (Native Deaf, Deaf School/Georgia, Deaf 
			wife, Deaf kids, long-time ASL instructor.)
    </font>
   </p>
   <hr align="left" color="#000000" size="1"/>
   <hr align="left" color="#000000" size="1"/>
   <hr align="left" color="#000000" size="1"/>
   <hr color="#000000" size="1"/>
   <p>
   </p>
  </blockquote>
 </body>
</html>