<html>
 <body>
  <blockquote>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
    <p>
     In context, the sign for "chicken" uses the same sign 
			as "
     <a href="/dictionary/bird">
      BIRD
     </a>
     ."
     <br/>
    </p>
    <p>
     <br/>
     CHICKEN = BIRD:
     <br/>
     <img border="0" height="212" src="/images/chicke1.jpg" width="208"/>
     <img border="0" height="212" src="/images/chicke2.jpg" width="208"/>
     <img border="0" height="212" src="/images/chicke3.jpg" width="208"/>
     <img border="0" height="212" src="/images/chicke4.jpg" width="208"/>
     <br/>
    </p>
    <hr align="left" color="#000000" size="1"/>
    <b>
     Notes
    </b>
    :
    <p>
     Even though CHICKEN tends to use the same sign as "BIRD" 
			-- the difference in meaning is 
			usually quite obvious from the 
  context.  If someone asks you your favorite food and you respond by 
			signing "BIRD" -- your conversation partner will assume you mean 
			"chicken."
     <br/>
     <br/>
     If you have to show a difference between "chicken" and "bird," (for example, if you are interpreting a 
			lecture regarding different types of birds -- one of which is a 
			chicken) you can do the "beak" 
			sign with your right hand and hold your left flat hand palm up in 
			front of you.  Then bring the "beak" down to the left hand to 
			represent a chicken pecking for seeds on the ground.
     <br/>
     - Dr. Bill
     <br/>
    </p>
    <p>
     Version of Chicken:
    </p>
    <p>
     <img border="0" height="270" src="/images/chicken-11.jpg" width="276"/>
     <img border="0" height="270" src="/images/chicken-12.jpg" width="276"/>
     <img border="0" height="270" src="/images/chicken-13.jpg" width="276"/>
     <br/>
     Note: The above version can be thought of as representing the beak 
			of the chicken followed by the chicken pecking at food the ground 
			with its beak.
     <br/>
    </p>
    <hr align="left" color="#000000" size="1"/>
    <p>
     Notes:
     <br/>
     <br/>
     <i>
      <b>
       Lyn W.
      </b>
     </i>
     writes:
     <br/>
     "For years I have used three different signs to convey the concept of 
	'chicken.'
     <br/>
     I use one of two signs to mean 'a chicken' (the bird).
     <br/>
     I sign: bird.  Or, I sign:  "bird" and then my left flat palm faces up and 
	is held stationary. Then, the fingertips of my right Flat V hand shape touch 
	the left palm - and then immediately and quickly are crooked, two, time (to 
	represent a chicken scratching in the dirt, I suppose).
     <br/>
     I use a very different sign to mean 'chicken that we eat.'
     <br/>
     To mean 'chicken that we eat' I hold my right G hand shape (I am right 
	handed) at my right cheek, fingers point to the left; using two quick wrist 
	actions I 'swing' the hand forward, two times, so my thumb and index finger 
	point at slight outward-angle to the left.
     <br/>
     ... Do you, personally, use the sign I described above for 'chicken that we 
	eat?'  Or not?  If not, do you use some other sign to convey that concept?  
	I have a feeling my sign is mid-west-regional (but I'm not sure about 
	that)...
     <br/>
     Thanks for your input and time!
     <br/>
     - Lyn
     <br/>
     <br/>
     Lyn,
     <br/>
     I think your sign for "chicken that we eat" is somewhat similar to the sign 
	I typically use for "turkey"-(that we eat). It is done by holding a "Q" 
	under, on, or near your chin.
     <span class="Apple-converted-space">
     </span>
     <b>
      Wiggle 
	it
     </b>
     <span class="Apple-converted-space">
     </span>
     a couple times as if it 
	were a "wattle."
     <br/>
     Your other sign for "chicken" (the one that scratches on the ground) 
	is legit but not used by many.
     <br/>
     Just last week I was doing some video work an my model did the 
	"BIRD-peck-on-the-ground" version of "chicken." (The one that signs "BIRD" 
	then touches the beak to the flat upturned palm once or twice).
     <br/>
     - Bill
     <br/>
     <br/>
     TURKEY-(bird)
     <br/>
     <img border="0" height="271" src="/images/chicken-01.jpg" width="264"/>
     <img border="0" height="271" src="/images/chicken-02.jpg" width="264"/>
     <img border="0" height="271" src="/images/chicken-01.jpg" width="264"/>
     <img border="0" height="271" src="/images/chicken-02.jpg" width="264"/>
     <img border="0" height="230" src="/images/turkey.gif" width="219"/>
    </p>
    <p>
    </p>
    <hr align="left" color="#000000" size="1" width="25%"/>
    <p>
     <br/>
     Version of Chicken:
    </p>
    <p>
     <img border="0" height="320" src="/images/chicken-05.jpg" width="308"/>
     <img border="0" height="320" src="/images/chicken-06.jpg" width="308"/>
     <img border="0" height="320" src="/images/chicken-07.jpg" width="308"/>
     <img border="0" height="320" src="/images/chicken-08.jpg" width="308"/>
     <br/>
     Note: The above version can be thought of as representing the beak 
			of the chicken followed by the chicken scratching at the ground with 
			its foot.
     <br/>
     This version isn't used very widely but I could see it perhaps being 
			used as part of a children's story.
    </p>
    <p>
    </p>
    <hr align="left" color="#000000" size="1"/>
    <p>
    </p>
    <p>
     In a message dated 9/3/2009 1:54:02 P.M. Pacific Daylight Time, Rmellis5 
	writes:
     <br/>
     Dr. Vicars,
     <br/>
     I am confused about the
     <i>
      <b>
       chicken
      </b>
     </i>
     sign. In SC I have seen a different sign 
	used. Can you tell me if you have seen it and if it is correct? The thumb of 
	the right hand touches the chin and the first two fingers are sticking up 
	but slightly crooked and the last two fingers stay bent into the palm. There 
	is also a tapping of this sign on the chin. Please help.
     <br/>
     Thanks, Melanie Ellis
     <br/>
     <br/>
     Melanie,
     <br/>
     Yes, I've seen that version.
     <br/>
     I generally use that to mean "hen." I do my version of hen using a "three" 
	handshape (the index and middle are not bent) and tap it on the chin twice.
     <br/>
     To do rooster, I do that sign on the head.
     <br/>
     So, I can certainly see how in your region that the "hen" sign would come to 
	be used to mean "chicken."
     <br/>
     -- Bill
    </p>
    <p>
    </p>
    <p>
     ROOSTER:
     <br/>
     <img border="0" height="333" src="/images/rooster01.jpg" width="320"/>
    </p>
    <hr align="left" color="#000000" size="1" width="25%"/>
    <p>
     <br/>
     HEN  (or in some regions "chicken")
     <br/>
     <img border="0" height="371" src="/images/hen-chicken.jpg" width="320"/>
    </p>
    <hr align="left" color="#000000" size="1"/>
    <p>
     <br/>
     In a message dated 8/30/2014 3:12:35 P.M. Pacific Daylight Time, Lyn 
			W. writes:
     <br/>
     Now I just had a thought about 'chickens' and various signs related 
			to the concept of a 'chicken.' You might add to your chicken-page, 
			the fact that the sign for 'chicken' can also mean 'cowardly, or 
			"You chicken!' Or perhaps that is regional and not widely used? And 
			how would you sign 'chicken-coop? Chicken, house? I have friends who 
			raise chickens, thus all the questions.
     <br/>
     -  Lyn
     <br/>
     <br/>
     Dear Lyn,
     <br/>
     Hello :)
     <br/>
     Heh, if I'm going to sign that someone is "chicken" (as in afraid) I 
			stick my thumbs in my armpits and flap my elbows and really make a 
			spectacle of it.  If you are going to borrow from English you 
			might as well have fun doing it.
     <br/>
     Thus I wouldn't sign "bird" to mean that someone is "chicken" as in 
			"afraid."
     <br/>
     For "chicken coop" I'd sign BIRD (while mouthing the first syllable 
			of chicken) and then I'd fingerspell C-O-O-P.  If needed I 
			could sign FENCE-four-sides or I could do the sign for HOUSE (I'd do 
			it rather small).
     <br/>
     - Dr. Bill
     <br/>
    </p>
    <hr align="left" color="#000000" size="1"/>
    <p>
     Also see:
     <a href="/dictionary/turkey">
      TURKEY
     </a>
    </p>
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>