<html>
 <body>
  <blockquote style="PADDING-LEFT: 5px; MARGIN-LEFT: 5px; BORDER-LEFT: blue 2px solid">
   <font color="#000000" face="Arial" size="2" style="BACKGROUND-COLOR: transparent">
    <div>
     <font face="Arial" size="2">
      Hello,
     </font>
    </div>
    <div>
     <font face="Arial" size="2">
      My daughter is hearing impaired and trying to teach my grandsons sign language. They 
				will be 3 and 4 years old in August. They love chicken nuggets and we can't find a sign for nuggets anywhere. Do 
				you know of one or does it just have to be fingerspelled? I feel stupid asking this question and taking up your 
				time, but I told my daughter that I would try to find out for her.
     </font>
    </div>
    <div>
    </div>
    <div>
     <font face="Arial" size="2">
      Thank You,
     </font>
    </div>
    <div>
     <font face="Arial" size="2">
      Nelly S. Briggs
      <br/>
     </font>
    </div>
   </font>
  </blockquote>
 </body>
</html>