<html>
 <body>
  <blockquote>
   <h1 style="margin-top: 0; margin-bottom: 0">
    <font face="Arial" size="5">
     CHINA
    </font>
    <font face="Arial">
     <span style="font-weight: 400">
      <font size="5">
       : 
		The ASL sign for "China"
      </font>
     </span>
    </font>
   </h1>
   <p style="margin-top: 0; margin-bottom: 0">
    CHINA:  Point at your upper 
  left chest area (if you are right handed) then draw a large  (backward) 7.  (Note: your finger doesn't actually 
  have to touch your body on this sign.)
  Memory hint: Think of the buttons on certain styles of Chinese clothing.
    <br/>
    <br/>
    CHINA:
    <br/>
    <img border="0" height="214" src="/images/china.9.jpg" width="203"/>
    <img border="0" height="214" src="/images/china.10.jpg" width="203"/>
    <img border="0" height="214" src="/images/china.11.jpg" width="203"/>
    <br/>
    Note:  This sign is a "loan sign."
    <font face="Arial">
     It 
			is a newer, politically correct version of the sign for China that 
			replaced the older sign for China which consisted of twisting the 
			tip of a "1-hand" near the corner of the eye.
    </font>
    <font face="Arial">
     This newer version was borrowed (adopted) from 
  Chinese Sign Language.  Many ASL signers feel it is more respectful to Chinese 
  people to use their sign when referring to China. This sign is becoming 
  increasingly popular in America.
     <br/>
     <br/>
     CHINA:
     <br/>
     <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/yLX_qaQY6B8?rel=0" width="560">
     </iframe>
     <br/>
    </font>
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p style="margin-top: 0; margin-bottom: 0">
    <a href="/images/chinanew.gif" style="text-decoration: none">
     See animation of China
    </a>
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p>
    <br/>
    There is an older variation of the sign for CHINA (Chinese) that many people 
	still use. You point to the side of the eye and twist your hand twice. Quite 
	a few people consider this sign to be "rude." (On the other hand though, 
	quite a few people think of it as THE sign for China and if you do the other 
	"newer" version those people will wonder what the heck you are signing.)  
	Hmmm, what to do?  When in Rome (or China) do as the Romans (or 
	Chinese) do.  If you local Deaf friend or Teacher uses/prefers one 
	version or the other then stick with that version until you find a 
	compelling reason to sign otherwise.
    <br/>
    <br/>
    CHINESE / CHINA (legacy version)
   </p>
   <p>
    <img border="0" height="215" src="/images/china.5.jpg" width="202"/>
    <img border="0" height="215" src="/images/china.6.jpg" width="202"/>
    <img border="0" height="215" src="/images/china.7.jpg" width="202"/>
    <img border="0" height="215" src="/images/china.8.jpg" width="202"/>
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p>
    Animation:  Traditional version of CHINA:
    <br/>
    <img border="0" height="114" src="/images/chineseold.gif" width="131"/>
   </p>
   <p>
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p>
    <span style="font-weight: 700; background-color: #FFFF00">
     <br/>
     OPTIONAL
    </span>
    <span style="font-weight: 700; ">
     ADDITIONAL READING:
     <font color="#008000">
      Information below is not needed for a typical ASL class.
     </font>
     <br/>
    </span>
    The version below is not recommended for communication in ASL and is presented here 
	in response to a question from an ASL teacher in Hawaii.
   </p>
   <p>
    <img border="0" height="273" src="/images/chinakanjichina.jpg" width="215"/>
    <br/>
    Discussion:
    <br/>
    CHINA:  Emerging Variation in the Hawaii area?
   </p>
   <div>
    In a message dated 2/1/2010 2:48:52 P.M. Pacific Standard Time, 
		an ASL instructor from Hawaii (makbeth19) writes:
   </div>
   <blockquote style="BORDER-LEFT: blue 2px solid; PADDING-LEFT: 5px; MARGIN-LEFT: 5px">
    <font color="#000000" face="Arial" size="2" style="BACKGROUND-COLOR: transparent">
     <div>
      Aloha Dr. V.
     </div>
     <div>
      For my class tomorrow, can you tell me whether the sign for "China" 
			has been changed again on the Mainland?  Here in the islands we no 
			longer use the clothing sign for China/Chinese, although it was 
			common here for several years ... now we use a representation of the 
			kanji for China ... non-dominant hand makes "G", and the dominant 
			hand taps that with a "1."  I've attached a jpeg of the kanji as 
			well as me signing it to try and give you an idea of what the sign 
			is going for.  Hope it helps.  This is the common sign for "China" 
			here.  Have you ever seen it used on the Mainland?
     </div>
     <div>
      Mahalo no kokua,
      <br/>
     </div>
     <div>
      Beth
     </div>
    </font>
    <img border="0" height="300" src="/images/chinakanjisignsmall.jpg" width="442"/>
   </blockquote>
   <div>
    <br/>
    Beth,
    <br/>
    Just last week [Edit: This was back in 2010] I was giving a presentation (regarding "online ASL 
		classes) and one of the participants (a Deaf, highly experienced ASL 
		instructor) brought up the CHINA sign.  This person was adamant 
		about not accepting the "borrowed" version of the CHINA sign based on 
		the "buttons/clothing" of the military uniform. This person
    <i>
     <b>
      exclusively
     </b>
    </i>
    uses the old "index finger twist at the side of the eye" version of the 
		sign for CHINA.
    <br/>
    <br/>
    Thus I can tell you that as of early 2010 you will see both the "clothing based" 
		sign and the "eye based" both still being used in mainland America. 
		Your mentioning the Kanji sign is the first I've heard of it here. So 
		I'm going to make a note of it at Lifeprint under the "China" page 
		mention the Kanji version as a variation seen in 
		Hawaii.
    <br/>
    Cordially,
    <br/>
    - Dr.
		Bill
    <br/>
    <br/>
    [Update: I purchased a Chinese Dictionary of Chinese Sign Language while 
		I was in Taipei attending the Deaflympics. Later, as I was 
		reviewing the book, I came across the sign mentioned by Beth (above). The 
		Chinese dictionary listed this sign as referring to "
    <b>
     Taichung
    </b>
    " 
		which is actually a very large city in Taiwan. Thus I do not think that 
		this sign means "China" in general in Chinese Sign Language. However 
		this particular kanji character in
    <i>
     Japanese
    </i>
    writing is sometimes used as 
		an abbreviation for "China" so next time I interact with some Deaf 
		Japanese I'll certainly ask them to elaborate.]
    <br/>
    <hr align="left" color="#000000" size="1"/>
    <div>
     <div>
      In a message dated 1/6/2013 12:29:01 A.M. Pacific Standard 
					Time, ryanerwin writes:
     </div>
     <blockquote style="BORDER-LEFT: blue 2px solid; PADDING-LEFT: 5px; MARGIN-LEFT: 5px">
      <font color="#000000" face="Arial" size="2" style="BACKGROUND-COLOR: transparent">
       Dr Bill,
       <br/>
       I'm American, from Seattle, but I've been stationed in China 
					for seven years. I'm fluent in spoken Mandarin and in 
					written Simplified Chinese. My relatives in the US have been 
					talking about Baby Sign Language, so I've been looking into 
					it. Particularly, if Baby Sign Language would work in China, 
					it's very rare here in China.
       <br/>
       <br/>
       I'm writing since I noticed that on your LifePrint ASL 
					"China" page (http://lifeprint.com/asl101/pages-signs/c/china.htm) 
					you wrote:
       <br/>
       Update: I purchased a Chinese Dictionary of Chinese Sign 
					Language while I was in Taipei attending the Deaflympics. 
					Later, as I was reviewing the book, I came across the sign 
					mentioned by Beth (above). The Chinese dictionary listed 
					this sign as referring to "Taichung" which is actually a 
					very large city in Taiwan. Thus I do not think that this 
					sign means "China" in general in Chinese Sign Language. 
					However this particular kanji character in Japanese writing 
					is sometimes used as an abbreviation for "China" so next 
					time I interact with some Deaf Japanese I'll certainly ask 
					them to elaborate.
       <br/>
       <br/>
       Thought I would provide some clarification for you. In 
					Taiwan, there's a city called 台中 (i.e. "middle of 
					Taiwan) 
					that would be transliterated in Taiwan as "Taichung" or 
					transliterated in Mainland China as "Taizhong". It's 
					conceivable that someone in Taiwan may think "中" referred to 
					"Taichung", but it would depend a lot on the context. "中" 
					could mean "on target", "middle", or most commonly "China."  
					When you seen China described in English as the "Middle 
					Kingdom," people are just literally translating China's 
					name: 中国. 中 = middle 国 = country. Like 美国 (USA), 美 = 
					beautiful, 国 = country.
       <br/>
       <br/>
       Also interesting, the limited Baby Sign Language that is 
					used in China seems to be based on ASL rather than on 
					Chinese Sign Language.
       <br/>
       <br/>
       Best,
       <br/>
       - Ryan in Shanghai=
      </font>
     </blockquote>
    </div>
   </div>
   <hr align="left" color="#000000" size="1"/>
   <hr align="left" color="#000000" size="1"/>
   <hr align="left" color="#000000" size="1"/>
   <hr color="#000000" size="1"/>
   <p>
   </p>
  </blockquote>
 </body>
</html>