<html>
 <body>
  <blockquote>
   <font face="Arial">
    <h2 style="margin-top: 0; margin-bottom: 0">
     <span style="font-weight: 400">
      American Sign Language:  "Christ"
     </span>
    </h2>
    <blockquote>
     <p style="margin-top: 0; margin-bottom: 0">
      <span style="font-weight: 400">
      </span>
     </p>
     <hr align="left" color="#000000" size="1" width="50%"/>
     <span style="font-weight: 400">
      <p style="margin-top: 0; margin-bottom: 0">
       Christ:
       <br/>
       Form your hand into a "C."  Either hold it near or touch it to your upper 
chest (near the upper left side if you are right handed, do a mirror image if 
you are left handed) and move it in an arc down to the lower right side of your 
abdomen).
       <br/>
       Memory aide: Think of the ribbon worn by some royal personages -- it goes from 
the shoulder to the hip.
       <br/>
       Note: This sign doesn't "slide down the body." It makes a slight arc in front of 
the body and only touches (if you choose to touch at all) at the beginning and 
end of the sign. Plus, it doesn't "have to" touch.  Most advanced signers 
while doing this sign quickly in a sentence do
      </p>
     </span>
     not
     <span style="font-weight: 400">
      actually contact the chest or the 
stomach/hip.
     </span>
     <p style="margin-top: 0; margin-bottom: 0">
      <img border="0" height="300" src="/images/christ1b.jpg" width="293"/>
      <img border="0" height="300" src="/images/christ2b.jpg" width="293"/>
      <img border="0" height="300" src="/images/christ3b.jpg" width="293"/>
      <br/>
     </p>
     <hr align="left" color="#000000" size="1" width="50%"/>
     <p style="margin-top: 0; margin-bottom: 0">
      <font size="4">
       "The peace of the 
living Christ be with you."
      </font>
     </p>
     <p style="margin-top: 0; margin-bottom: 0">
     </p>
     <p style="margin-top: 0; margin-bottom: 0">
      In a message dated 11/4/2010 12:05:53 
A.M. Pacific Daylight Time, shumcpastor@ writes:
      <br/>
      Hello Dr. Bill,
      <br/>
      My name is Elmar De Ocera and pastor of a church here in Hayward, CA.
      <br/>
      I am trying to teach our children, hopefully even the adults of the church to 
sign language the phrase, "The peace of the living Christ be with you." Our 
children do the passing of the peace every Sunday and it would indeed be a 
blessing for the church to learn this phrase in sign language.
      <br/>
      Thank you.
      <br/>
      Grace and peace,
      <br/>
      Elmar De Ocera
      <br/>
      Pastor, South Hayward United Methodist Church
      <br/>
      Hayward, CA 94544
      <br/>
      <br/>
      Pastor, (Elmar)
      <br/>
      I would sign it as:
      <br/>
      CHRIST HIS PEACE OFFER-to-you INSPIRE.
      <br/>
      To sign "LIVE" in this circumstance would be redundant and reduce the message.
      <br/>
      You don't want to use the signs BE or WITH you because they connote the wrong 
meanings in this situation and are not the best choices for a "true" 
interpretation.
      <br/>
      The sign INSPIRE is the equivalent (in this circumstance) of "be with you." In 
this sentence it would be more like "infuse your being."
      <br/>
      However, you could also just do the :CHRIST HIS PEACE OFFER-to-you" and that 
would be a very simple yet elegant phrase which could, in context, convey the 
meaning you are seeking to convey.
      <br/>
      Cordially,
      <br/>
      - Bill
      <br/>
     </p>
     <p style="margin-top: 0; margin-bottom: 0">
      "The peace of the living Christ be 
with you."
      <br/>
      (CHRIST HIS PEACE OFFER-to-you INSPIRE)
      <br/>
      <br/>
     </p>
     <p style="margin-top: 0; margin-bottom: 0">
     </p>
     <hr align="left" color="#000000" size="1" width="50%"/>
     <p style="margin-top: 0; margin-bottom: 0">
      "The peace of the living Christ be 
with you."
      <br/>
      (CHRIST HIS PEACE OFFER-to-you)
      <br/>
     </p>
     <p style="margin-top: 0; margin-bottom: 0">
     </p>
    </blockquote>
    <hr align="left" color="#000000" size="1"/>
    <hr align="left" color="#000000" size="1"/>
   </font>
   <b>
    <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=XHRNABERKJT4N" rel="nofollow" target="_blank">
     <u>
      DONATE
     </u>
    </a>
   </b>
   <font size="2">
    (
    <i>
     Thanks!
    </i>
    )
   </font>
   <br/>
   <br/>
   <font face="Arial">
    *
   </font>
   Another way to help is to buy something from Dr. Bill's "
   <b>
    <a href="/dictionary/bookstore">
     <u>
      Bookstore
     </u>
    </a>
   </b>
   ."
   <hr align="left" color="#000000" size="1"/>
   <hr color="#000000" size="1"/>
   <p>
   </p>
  </blockquote>
 </body>
</html>