<html>
 <body>
  <blockquote>
   <p>
    Also can mean: "bright" or (with the right facial expression) 
			"obvious"
    <br/>
   </p>
   <hr align="left" color="#000000" size="1"/>
   <br/>
   <img border="0" height="320" src="/images/clear.1.jpg" width="347"/>
   <img border="0" height="320" src="/images/clear.2.jpg" width="347"/>
   <img border="0" height="320" src="/images/clear.3.jpg" width="347"/>
   <hr align="left" color="#000000" size="1" width="50%"/>
   <p style="margin-top: 0; margin-bottom: 0">
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    Also see:
    <a href="/dictionary/light">
     LIGHT
    </a>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    Also see:
    <a href="/dictionary/bright">
     BRIGHT
    </a>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
   <p style="margin-top: 0; margin-bottom: 0">
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    Notes:
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <br/>
    A student writes:
    <br/>
    In the song "We Are," there is a phrase "We are the
    <span style="background-color: #FFFF00">
     light of the 
			world
    </span>
    ..." I contacted my instructor to ask which one I should use 
			and she said, "For that song...we use the sign that is the same as 
			"clear" because it indicates a broader shining of the light which is 
			what that song intends."
    <br/>
    Thank you!
    <br/>
    Ty
    <br/>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>