<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   <p style="margin-top: 0; margin-bottom: 0">
    The concept of "close" can be expressed a number of different ways in 
	ASL depending on your meaning.
    <br/>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    CLOSE as in "near by."
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <img border="0" height="216" src="/images/close.by1.jpg" width="213"/>
    <img border="0" height="216" src="/images/close.by2.jpg" width="213"/>
    <br/>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
    <p style="margin-top: 0; margin-bottom: 0">
    </p>
   </font>
   <p style="margin-top: 0; margin-bottom: 0">
    CLOSE as in "close the cupboard."
    <br/>
    <img border="0" height="206" src="/images/open4.jpg" width="222"/>
    <img border="0" height="205" src="/images/open3.jpg" width="217"/>
    <img border="0" height="204" src="/images/open2.jpg" width="204"/>
    <img border="0" height="205" src="/images/open1.jpg" width="203"/>
    <br/>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
   <p style="margin-top: 0; margin-bottom: 0">
    Also see "
    <a href="/dictionary/open">
     open
    </a>
    "
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
    <p style="margin-top: 0; margin-bottom: 0">
    </p>
   </font>
   <p style="margin-top: 0; margin-bottom: 0">
    CLOSE-by:
    <br/>
    If you mean close as in "not far" 
  you can use either the sign "near" or you can also use the sign "not-FAR."
    <br/>
    Form your right hand into an "F" handshape.  Touch the tip of your index 
  and thumb fingers to the tip of your nose.  Pull your hand out away from 
  your face then sharply downward.
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    not-FAR / CLOSE-by / NEAR-by / 
	"just a short ways away"
    <br/>
    <img border="0" height="220" src="/images/far.ht47.jpg" width="197"/>
    <img border="0" height="220" src="/images/far.ht48.jpg" width="197"/>
    <img border="0" height="220" src="/images/far.ht49.jpg" width="197"/>
    <img border="0" height="220" src="/images/far.ht50.jpg" width="197"/>
    <br/>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    For an animation of "not far," 
  visit the "
    <a href="/dictionary/far">
     FAR
    </a>
    " page and scroll down.
    <br/>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
    <p style="margin-top: 0; margin-bottom: 0">
    </p>
   </font>
   <p style="margin-top: 0; margin-bottom: 0">
    If you mean close as in "a small 
  amount of difference" visit the "
    <a href="/dictionary/small">
     SMALL
    </a>
    " 
	page and check out the "small amount version."
    <br/>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
   <p style="margin-top: 0; margin-bottom: 0">
    <br/>
    CLOSE as in "By a hair!"  
  "Whew boy, that was a close one!" "I almost..."
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    The motion is similar to quickly 
  pulling out a hair then moving the hand downward a few inches. This sign is 
  done very quickly.  The movement path is somewhat of a rounded seven.
    <br/>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <img border="0" height="231" src="/images/close.51.jpg" width="229"/>
    <img border="0" height="231" src="/images/close.52.jpg" width="229"/>
    <img border="0" height="231" src="/images/close.53.jpg" width="229"/>
    <img border="0" height="231" src="/images/close.54.jpg" width="229"/>
   </p>
   <font face="Arial">
    <p style="margin-top: 0; margin-bottom: 0">
    </p>
    <hr align="left" color="#000000" size="1"/>
    <p style="margin-top: 0; margin-bottom: 0">
     If you mean close as in near, see:
     <a href="/dictionary/near" style="text-decoration: none">
      NEAR
     </a>
    </p>
    <hr align="left" color="#000000" size="1" width="50%"/>
    <p style="margin-top: 0; margin-bottom: 0">
     If you mean close as in "small 
  amount of difference" visit the "
     <a href="/dictionary/small" style="text-decoration: none">
      SMALL
     </a>
     " page.
    </p>
    <hr align="left" color="#000000" size="1" width="50%"/>
    <p style="margin-top: 0; margin-bottom: 0">
     If you mean close as in "not far" 
  see the "
     <a href="/dictionary/far" style="text-decoration: none">
      FAR
     </a>
     " page and scroll down to "not far."
    </p>
   </font>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>