<html>
 <body>
  <blockquote>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
    <p>
     The sign "close-by-a-hair" means: "That was a close 
			one!"
     <br/>
    </p>
    <p>
     Reach up and grab an imaginary hair on the side of your upper forehead.  
  Using and extremely quick arching movement pull the hair out and then move it 
  downward a few inches.
    </p>
    <p>
     <img border="0" height="239" src="/images/close-1.jpg" width="241"/>
     <img border="0" height="239" src="/images/close-2.jpg" width="241"/>
     <img border="0" height="239" src="/images/close-3.jpg" width="241"/>
     <img border="0" height="239" src="/images/close-4.jpg" width="241"/>
     <img border="0" height="239" src="/images/close-5.jpg" width="241"/>
    </p>
    <p>
    </p>
    <hr align="left" color="#000000" size="1" width="50%"/>
    <p>
     "BY-A-HAIR" is an "
     <a href="/dictionary/idioms">
      ASL 
			idiom
     </a>
     ." The sign appears to depict the "pulling of a hair" but 
			in actuality conveys the meaning of "nearly," "almost," "that was a 
			close one," and "narrowly escaped a negative happening."
    </p>
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>