<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1" width="50%"/>
   <p style="margin-top: 0; margin-bottom: 0">
    <span style="font-weight: 400">
     <font face="Arial">
      The sign for coffee:
     </font>
    </span>
   </p>
   <blockquote>
    <p>
     <span style="font-weight: 400">
      Think of the movement of an old coffee 
grinder. The
     </span>
     bottom hand stays still
     <span style="font-weight: 400">
      while 
the top hand turns the crank.
     </span>
    </p>
    <p>
     <img border="0" height="372" src="/images/coffee.gif" width="300"/>
     <span style="font-weight: 400">
      <img alt='Loading..."coffee animated gif file"' border="0" height="217" src="/images/coffee.gif" width="212"/>
      <br/>
      <br/>
      Sample sentence: "Do you take sugar in your coffee?" = "YOUR COFFEE, YOU LIKE 
SUGAR?"
      <br/>
      <br/>
     </span>
     <br/>
    </p>
   </blockquote>
   <hr align="left" color="#000000" size="1" width="50%"/>
   <div>
    <div>
     <font size="4">
      <span style="background-color: #FFFF00">
       OPTIONAL
      </span>
     </font>
     <span style="font-weight: 400">
      READING:
      <br/>
      In a message dated 8/18/2006 9:10:56 PM Pacific Daylight Time, tnslefler@ 
		writes:
     </span>
    </div>
    <blockquote style="PADDING-LEFT: 5px; MARGIN-LEFT: 5px; BORDER-LEFT: blue 2px solid">
     <font color="#000000" face="Arial" size="2" style="BACKGROUND-COLOR: transparent; font-weight:400">
      Hi, I'm Sherri Lefler. I'm a coda and one of my five children is Deaf. 
		I'm
		an interpreter working on a project to better serve our Deaf clients 
		with
		the Michigan Rehabilitation Department of Labor and Economics. Our 
		program
		offers certificates in several different trades. Most of which there or 
		no
		specific specialized signs for names of machinery and equipment that are
		accepted as a standard. There are several interpreters that for years 
		have
		been stuck in the same trade area due to experience and familiarity with 
		the
		jargon and sign set-ups. Due to high demand and interest in keeping
		interpreters flexible and able to cover each other I have begun to 
		develop a
		standardized vocabulary for these specialized trades to be used within 
		our
		school.  I have used your site as a reference many times to see how some 
		of
		the most standard signs compare to our region here in Michigan. I am 
		curious
		if you have signs for Latte and Cappuccino to go along with our Culinary
		Arts department?
      <br/>
      Thanks for you time.
      <br/>
      <br/>
      Sherri Lefler
      <br/>
      Sign Language Interpreter
      <br/>
      tnslefler@
      <br/>
      (269) 492-____ mobile
      <br/>
      (269) 343-____ tty/voice
     </font>
    </blockquote>
   </div>
   <div>
    <span style="font-weight: 400">
     <br/>
     Sherri,
     <br/>
     I asked one of my friends who is a coffee connoisseur what she signs for 
	those concepts.  Below is her reply.
     <br/>
     Cordially,
     <br/>
     Bill
     <br/>
    </span>
    <div>
     <div>
      <span style="font-weight: 400">
       In a message dated 8/18/2006 11:33:29 PM Pacific Daylight Time, 
			Sandra Thrapp (Deaf) writes:
      </span>
     </div>
     <blockquote style="PADDING-LEFT: 5px; MARGIN-LEFT: 5px; BORDER-LEFT: blue 2px solid">
      <font color="#000000" face="Arial" size="2" style="BACKGROUND-COLOR: transparent; font-weight:400">
       There is no sign for Latte (most of my Deaf friends fingerspell that
			word).
       <br/>
       Cappuccino - we sign "coffee small strong"  (handshape "F" holding 
			the
			coffee mug handle)
      </font>
     </blockquote>
    </div>
   </div>
   <hr/>
   <p style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     <span style="font-weight: 400">
      <br/>
      Kevin Jackson, a communications specialist at a group 
home in Humboldt County serving youth with development delays, writes:
      <br/>
      <br/>
      Hello Dr. Vicars,
      <br/>
      My name is Kevin.
      <br/>
      I ... frequently attend get-togethers and gatherings with the Deaf Community in 
Santa Rosa ... my friends and I have signs for
     </span>
     Latte
     <span style="font-weight: 400">
      and
     </span>
     Mocha
     <span style="font-weight: 400">
      [that are] 
similar to [the sign for] "coffee" except that instead of a closed fist on top 
we use an M for mocha and L for latte. I noticed on the "coffee page" that a 
person suggested that there is no sign for latte or mocha).
      <br/>
      - Kevin Jackson
     </span>
    </font>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     <span style="font-weight: 400">
      <br/>
      Kevin,
      <br/>
      Hello :)
      <br/>
      Do any of your
      <i>
       Deaf
      </i>
      friends use 
those signs? Where did you learn them? Did you come up with them yourself?
      <br/>
      Cordially,
      <br/>
      - Bill
     </span>
    </font>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     <span style="font-weight: 400">
      <br/>
      Bill,
      <br/>
      I came up with the signs while in discussion with my [Deaf] friends in Humboldt 
County, at Starbucks coincidentally. I had asked them how to sign Mocha and they 
told me that they just fingerspell it or sign CHOCOLATE+COFFEE, Latte was 
fingerspelled also, if they just wanted a plain latte. If they wanted a flavored 
latte they were always inclined to write the whole drink order on a piece of 
paper and then give it to the barista. I was simply trying to bridge a gap 
between the barista and the Deaf customer, we're still working on it. But now 
everyone at this Starbucks knows the signs for mocha, latte, coffee, sugar, milk 
etc. This star bucks also holds a gathering of Deaf folk every Sunday, its a 
small group usually between 6-10 people at a time.
      <br/>
      - Kevin
      <br/>
      <br/>
      Kevin,
     </span>
    </font>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <span style="font-weight: 400">
     <font face="Arial">
      The signs you and your friends 
have invented there at that Starbucks
     </font>
    </span>
    <font face="Arial">
     <span style="font-weight: 400">
      in Humbolt County are "initialized" signs.  You have used 
the initial of the English word as one of the handshapes of the sign.
      <br/>
      <br/>
      My thoughts:
      <br/>
     </span>
    </font>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     <span style="font-weight: 400">
      Starbucks is a "overlap" place. By that I mean 
that on Sunday evenings when your Deaf group gathers for coffee Starbucks 
becomes a bilingual / bicultural environment filled with people from two 
different cultures and two different languages.  What happens in such a 
place is the two cultures and languages (Hearing/Deaf & English/ASL) overlap 
which tends to result in the development of a form of communication called 
"contact signing." (Formerly called "pidgin signed English in some texts.)  
Contact signing by its very definition is not ASL. Which isn't to say that it 
isn't useful.  "Contact communication" is useful in those situations during 
which two cultures are "in contact." But when those cultures are no longer in 
contact there is no need for contact-communication.
      <br/>
      <br/>
      It is a matter of efficiency:
      <br/>
      Two Hearing English speakers: Efficient = spoken English
      <br/>
      Two Deaf ASL signers: Efficient = ASL
      <br/>
      One Hearing English speaker & one Deaf ASL signer: Efficient = contact signing
      <br/>
      <br/>
      Note that contact-signing in general is not more efficient than either ASL or 
spoken English. But when two cultures come into contact for whatever reason 
(Hearing people to sell coffee / Deaf people to buy coffee) they tend to meet 
half way since it is "more efficient" than learning "all of" the other person's 
language.
      <br/>
      <br/>
      So, while efficient and useful in mixed settings -- your invented signs are not 
"ASL."
      <br/>
      <br/>
      It is possible that the initialized signs "mocha" and "latte" might spread and 
be adopted for use by many Deaf coffee-shop gathering attendees but there are 
two factors that will impede the widespread use of those signs the Deaf 
Community:
      <br/>
      <br/>
      1.  The word mocha basically means "put chocolate in coffee." Thus the ASL 
sign for mocha is to sign "chocolate"
      <i>
       while ordering coffee
      </i>
      .  Note 
that I said "while ordering coffee."  Thus we have a sign for "mocha" but 
that sign only "exists" when the circumstances are right.
      <br/>
      <br/>
      2. The word "latte" can be spelled in approximately one second with one hand.  
To initialize the sign "coffee" with an "L" takes more time, and "twice as many 
hands."
      <br/>
      <br/>
      The reason why using an initialized sign for "latte" appeals to coffee shop 
attendees and employees is because Hearing people are "fingerspelling-impaired."  
They can't spell or read fingerspelling as fast as Deaf people. Thus signing 
"L"-coffee is an accommodation or crutch requested by Hearing people (via 
"invention") and acquiesced to by Deaf people for the sake of efficiency in 
mixed environments.
     </span>
    </font>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <br/>
    <span style="font-weight: 400">
     <font face="Arial">
      When the environment is no 
longer mixed, (the Deaf finish ordering and walk away from the counter and the 
Hearing students get eye-strain and go home) the need for the "crutch" 
disappears and Deaf people go back to spelling "latte" at high speed amongst 
themselves.
     </font>
    </span>
    <span style="font-weight: 400">
     <font face="Arial">
      <br/>
     </font>
    </span>
   </p>
   <hr align="left" color="#000000" size="1" width="50%"/>
   <span style="font-weight: 400">
    <p style="margin-top: 0; margin-bottom: 0">
     <font face="Arial">
      <br/>
      <br/>
      In a message dated 4/24/2011 1:22:53 P.M. Pacific Daylight Time, noojon 
	(Fred) writes:
      <br/>
      <br/>
      Bill -
      <br/>
      Thanks for your help way back when. I asked my Deaf barista how to sign 
	various things, and she was quite helpful. It was a lot of fun for a while, 
	but then our schedules changed or something, because I stopped seeing her 
	there.
      <br/>
      <br/>
      Anyway, the sign for "espresso" is the motion like someone pantomiming 
	sipping from an espresso cup: a squished O hand tipped up at the mouth. You 
	can extend one or more of the lower fingers a bit for accent. Most people 
	don't extend any fingers, exactly, so much as the
      <br/>
      lower fingers don't have to be touching.
      <br/>
      <br/>
      For "double espresso", I would do "espresso" + "double" (back-and-forth 2 
	hand drawn away from the body). she understood that instantly. similarly for 
	"single espresso".
      <br/>
      <br/>
      "Iced coffee" is "I-C-E" + "coffee."
      <br/>
      <br/>
      "Cappucino" is "C-A-P."
      <br/>
      <br/>
      I forget what she said for "latte". maybe just "L"? it's probably "L-A-T" -- 
	not sure how to keep from confusing "L" for "a pound of coffee beans." I 
	guess people who care enough to buy beans tend to drink it black (rather 
	than obliterate the taste with milk). So the people who sign one or the 
	other may be different groups. also, people frequently order lattes by 
	specifying hot vs iced (at least in Texas), which would preclude the 
	interpretation of meaning coffee beans.
      <br/>
      <br/>
      Hot coffees are generally assumed except during the worst
      <br/>
      parts of summer (at least in Texas), but some people are weird. It can go 
	either way all year round.
      <br/>
      <br/>
      Anything more complicated than that is generally given a name that changes 
	from coffee shop to coffee shop, which would be signed out word by word or 
	letter by letter until it's unique and meaningful.
      <br/>
      <br/>
      For instance, everyone creates some pun based on the name of the business 
	for a hot coffee with a shot of espresso:
      <br/>
      Creek tweak (Bouldin Creek Coffeehouse)
      <br/>
      Spider Bite (Spider House)
      <br/>
      Depth Charge (???)
      <br/>
      Big O (Ohm's), etc.
      <br/>
      I used to have a long list of these names I kept for fun.
      <br/>
      <br/>
      That said, her coffeeshop has what they call an "espresso affogato," which 
	is a double espresso poured over a scoop of ice cream. I tried to spell out 
	"affogato" and she didn't catch on. When i signed "espresso" + "ice cream", 
	though, she got it instantly. I think part of the problem is that no one 
	ever orders that--even the hearing baristas (who do more taking of orders) 
	don't know how to ring it up, and the owner always thinks they're asking how 
	to ring up "espresso avocado!"
      <br/>
      <br/>
      That's as far as we got in just our few visits. i didn't confirm the signs 
	with anyone else -- I don't know any other coffee-signing experts--but both 
	the signs and the signing confusion feel universal.
      <br/>
      <br/>
      We live in Austin, next to the Texas school for the Deaf.
      <br/>
      <br/>
      I hope that wasn't too pedantic, I don't know how much you frequent local 
	coffee shops, or how much the cultures change from city to city!
      <br/>
      Thanks again for your help!
      <br/>
      <br/>
      - Fred
     </font>
    </p>
   </span>
  </blockquote>
 </body>
</html>