<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   If it were me, I'd just spell "coin."
   <br/>
   Sure,
   <font face="Arial">
    the "F" handshape can be used to show small round objects (like a small pole,
  buttons, or
   </font>
   <a href="/dictionary/coins" style="text-decoration: none">
    COINS
   </a>
   <font face="Arial">
    ).
    <br/>
    The "F" handshape can even show movements of your eyeballs. Yes 
			indeed, that "classifier F" handshape is flexible and can show 
			pretty much any small round hole.
    <br/>
    Ahem, and therein lies the problem.  The "F" handshape could be 
			held up and the "circle" could be used to represent a single coin -- 
			but it could also be used to refer to someone's [cough] ...er...rectum 
			hole. So, you've been warned.  Make sure you establish plenty 
			of context before you go waiving around your um, hole. (So as to not 
			be misunderstood.)
    <br/>
    <hr align="left" color="#000000" size="1"/>
    <p>
     CL:F
     <br/>
     <img border="0" height="230" src="/images/f.jpg" width="198"/>
    </p>
   </font>
   <p style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1" width="50%"/>
   <p style="margin-top: 0; margin-bottom: 0">
    Also see:
    <font face="Arial">
     <a href="/dictionary/coins" style="text-decoration: none">
      COINS
     </a>
    </font>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>