<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   <p>
    <br/>
    The sign for "collect" can also mean "gather" or "gather up." Both hands are 
	in "flat handshapes."  The non-dominant hand is held-palm up in front 
	of you as if representing holding an arm-load of stuff.  The dominant 
	hand makes horizontal scooping movements as if pulling or sweeping more 
	items toward you.  Only do two sweeping movements unless you are 
	inflecting the sign as part of a story about someone "busily gathering up" 
	something.
    <br/>
    <br/>
    COLLECT / gather:
    <br/>
    <img border="0" height="212" src="/images/collec30.jpg" width="211"/>
    <img border="0" height="212" src="/images/collec31.jpg" width="211"/>
    <img border="0" height="212" src="/images/collec32.jpg" width="211"/>
    <img border="0" height="212" src="/images/collec33.jpg" width="211"/>
    <br/>
   </p>
   Animation: COLLECT:
   <br/>
   <img border="0" height="212" src="/images/collect.gif" width="211"/>
   <br/>
   <br/>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>