<html>
 <body>
  <blockquote>
   <p align="right">
    <img alt="back.gif (1674 bytes)" border="0" height="28" onclick="history.go(-1)" src="/images/back.gif" width="54"/>
   </p>
   <h1 style="margin-top: 0; margin-bottom: 0">
    <br/>
    Coloring
   </h1>
   <hr color="#800080"/>
   <font color="#000000" id="role_document">
    <p style="margin-top: 0; margin-bottom: 0">
     Also see:
     <a href="/dictionary/color">
      COLOR
     </a>
    </p>
   </font>
   <font color="#000000" face="Arial" id="role_document" size="2">
    <hr color="#800080"/>
    <div>
     <div>
      In a message dated 5/8/2007 6:19:12 P.M. Pacific Daylight Time, melcwwm@ 
		writes:
     </div>
     <blockquote style="PADDING-LEFT: 5px; MARGIN-LEFT: 5px; BORDER-LEFT: blue 2px solid">
      <font color="#000000" face="Arial" size="2" style="BACKGROUND-COLOR: transparent">
       <div>
        I scoured your Lifeprint ASLU website for how to sign the word 
			"color", but only found it in the noun form (finger wiggle by the 
			chin).  I would like to know how to sign it as a verb as in, "Color 
			the picture green".  I have seen it as a similar finger wiggle on 
			the hand (same general idea as the sign "write", but I can't tell if 
			it should have a movement or not so as not to confuse it with the 
			sign "study".
       </div>
       <div>
        Thanks for your time...
       </div>
       <div>
        MaryEllen
       </div>
      </font>
     </blockquote>
    </div>
    <div>
     The verb form of color would be to sign "COLOR" and then sign "WRITE" using 
	a side to side movement as if filling in a coloring in a book. I would NOT 
	use a "4" handshape to the palm of the base hand for the exact reason you 
	mention--it would be confused with "study."
     <br/>
     --Bill
    </div>
   </font>
   <hr color="#800080"/>
   <div>
    <div>
     In a message dated 5/20/2007 2:21:15 P.M. Pacific Daylight Time, melcwwm@ 
		writes:
    </div>
    <blockquote style="PADDING-LEFT: 5px; MARGIN-LEFT: 5px; BORDER-LEFT: blue 2px solid">
     <font color="#000000" face="Arial" size="2" style="BACKGROUND-COLOR: transparent">
      <div>
       Dr. Vicars,
      </div>
      <div>
       I recently emailed you on how to perform the sign for "color" as a 
			verb and you replied that I should use the signs for "color" (noun) 
			followed by the sign for "write".  Since then it has come to my 
			attention that the word "crayon" is signed the same way.  Is there a 
			separate sign for the word "crayon" or is the same combination of 
			signs used with emphasis on the context to distinguish between the 
			two words?
      </div>
      <div>
       Thanks, in advance, for your time:
      </div>
      <div>
       MaryEllen
      </div>
     </font>
    </blockquote>
   </div>
   <div>
    MaryEllen,
    <br/>
    One approach to this would be to sign "coloring" as COLOR-WRITE.
    <br/>
    And then sign "Crayon" as a combination of "COLOR" and a modified version of 
	the sign ART.
    <br/>
    This modified version of the sign "ART" uses the same "I" handshape as "ART" 
	but the palm orientation is dominant hand palm-down instead of palm-back.  
	The pad of the pinkie finger's fingerprint area is touched to the palm of 
	the base hand and is "rubbed" side to side as if the pinkie itself were a 
	crayon being used to color on a piece of paper.
    <br/>
    Please do let me know if you come across any other variations.
    <br/>
    I have seen people initialize the sign WRITE using a "C" handshape to mean 
	"Crayon" but I would not recommend using that variation.
    <br/>
    My wife signs "coloring" without using the base hand. She just signs COLOR 
	and then does a writing movement in the air. (I don't recommend that either, 
	but hey don't tell her I said anything).  If I sign COLOR and then do 
	the movement in the air I'd interpret that as meaning, "color on a wall, or 
	on the (white) board."
    <br/>
    Cordially,
    <br/>
    Dr. Bill
   </div>
   <hr color="#800080"/>
   <hr color="#800080"/>
   <hr color="#800080"/>
   <p align="right">
    <img alt="back.gif (1674 bytes)" border="0" height="28" onclick="history.go(-1)" src="/images/back.gif" width="54"/>
    <br/>
    <br/>
   </p>
   <p>
   </p>
  </blockquote>
 </body>
</html>