<html>
 <body>
  <blockquote>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
    <p style="margin-top: 0; margin-bottom: 0">
     <span style="font-weight: 400">
      <a href="/dictionary/white" style="text-decoration: none">
       WHITE
      </a>
      /
      <a href="/dictionary/black">
       BLACK
      </a>
      /
      <a href="/dictionary/red">
       RED
      </a>
      /
      <a href="/dictionary/green">
       GREEN
      </a>
      /
      <a href="/dictionary/blue">
       BLUE
      </a>
      /
      <a href="/dictionary/brown">
       BROWN
      </a>
      /
      <a href="/dictionary/yellow">
       YELLOW
      </a>
      / GRAY /
      <a href="/dictionary/gold">
       GOLD
      </a>
      /
      <a href="/dictionary/pink">
       PINK
      </a>
      /
      <a href="/dictionary/orange">
       ORANGE
      </a>
      /
      <a href="/dictionary/purple">
       PURPLE
      </a>
      /
     </span>
    </p>
   </font>
  </blockquote>
 </body>
</html>