<html>
 <body>
  <blockquote>
   <font face="Arial">
    <h2 style="margin-top: 0; margin-bottom: 0">
     <span style="font-weight: 400">
      American Sign Language:  "comb"
     </span>
    </h2>
    <blockquote>
     <p style="margin-top: 0; margin-bottom: 0">
      <span style="font-weight: 400">
       Ah yes, don't be jealous, but 
this is one little chore I do not have to worry about.
      </span>
     </p>
     <hr align="left" color="#000000" size="1" width="50%"/>
     <span style="font-weight: 400">
      <p style="margin-top: 0; margin-bottom: 0">
       COMB:
       <br/>
       The sign for comb uses a "claw hand" to make a few combing movements at the side 
of your head.
       <br/>
       <img border="0" height="320" src="/images/comb.gif" width="320"/>
      </p>
      <p style="margin-top: 0; margin-bottom: 0">
      </p>
      <hr align="left" color="#000000" size="1" width="50%"/>
     </span>
     <p style="margin-top: 0; margin-bottom: 0">
      <span style="font-weight: 400">
       Question: Is there a difference between the sign for "a comb" (noun) vs "to 
comb" (verb)?
       <br/>
       Answer:  In general the noun form tends to use two small quick movements 
and the verb form uses a single larger movement. The concept of "combing" is a 
process and will use a couple of larger movements.
      </span>
     </p>
     <span style="font-weight: 400">
      <hr align="left" color="#000000" size="1" width="50%"/>
      <p style="margin-top: 0; margin-bottom: 0">
      </p>
      <hr align="left" color="#000000" size="1" width="50%"/>
     </span>
     <p style="margin-top: 0; margin-bottom: 0">
      <span style="font-weight: 400">
       Also 
see:
       <a href="/dictionary/brush" style="text-decoration: none">
        BRUSH
       </a>
      </span>
     </p>
     <span style="font-weight: 400">
      <hr align="left" color="#000000" size="1" width="50%"/>
     </span>
    </blockquote>
    <hr align="left" color="#000000" size="1"/>
    <hr align="left" color="#000000" size="1"/>
   </font>
   <b>
    <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=XHRNABERKJT4N" rel="nofollow" target="_blank">
     <u>
      DONATE
     </u>
    </a>
   </b>
   <font size="2">
    (
    <i>
     Thanks!
    </i>
    )
   </font>
   <br/>
   <br/>
   <font face="Arial">
    *
   </font>
   Another way to help is to buy something from Dr. Bill's "
   <b>
    <a href="/dictionary/bookstore">
     <u>
      Bookstore
     </u>
    </a>
   </b>
   ."
   <hr align="left" color="#000000" size="1"/>
   <hr color="#000000" size="1"/>
   <p>
   </p>
  </blockquote>
 </body>
</html>