<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   <p style="margin-top: 0; margin-bottom: 0">
    The sign for "communication" uses "C" handshapes.
    <font face="Arial">
    </font>
    <font face="Arial" size="2">
     Alternate moving the "C" hands forward and backward from near the mouth:
    </font>
    <br/>
    <br/>
    <font face="Arial">
     COMMUNICATE / communication
     <br/>
    </font>
    <img border="0" height="239" src="/images/communication1.jpg" width="265"/>
    <img border="0" height="239" src="/images/communication2.jpg" width="265"/>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
    </font>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     COMMUNICATION (video clip)
     <br/>
    </font>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     <br/>
    </font>
   </p>
   <hr align="left" color="#000000" size="1" width="50%"/>
   <p style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     <br/>
     Notes:
    </font>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     "COMMUNICATION / COMMUNICATE"
    </font>
    is an initialized version of the sign 
"talking with."
    <br/>
    See:
    <a href="/dictionary/talk-with">
     TALK-WITH
    </a>
    .
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <br/>
    INTERVIEW:  If you initialize the sign "TALK-WITH" by using "I" hands instead of "index
fingers" the sign will mean "interview."
    <br/>
    See:
    <a href="/dictionary/interview">
     INTERVIEW
    </a>
   </p>
  </blockquote>
 </body>
</html>