<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   <p style="margin-top: 0; margin-bottom: 0">
    The sign for "cool" as in the temperature, waves your hands 
	backwards towards your face a couple times as if they were "fans" and you 
	were cooling yourself.
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <br/>
    COOL
    <br/>
    <img border="0" src="/images/cool.gif" style="max-width: 100%; height: auto" width="480"/>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <img border="0" height="238" src="/images/cool1.jpg" width="265"/>
    <img border="0" height="238" src="/images/cool2.jpg" width="265"/>
    <img border="0" height="238" src="/images/cool3.jpg" width="265"/>
    <img border="0" height="238" src="/images/cool4.jpg" width="265"/>
   </p>
   <hr align="left" color="#000000" size="1" width="50%"/>
   <p style="margin-top: 0; margin-bottom: 0">
    <br/>
    Sample sentence:
	"Do you like going for a stroll in a cool autumn breeze?"
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    =
    <font face="Arial">
     AUTUMN, WIND-[light], COOL, YOU LIKE CL:1-"go for a stroll"?
    </font>
    <br/>
    <br/>
    <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/vXTjHezSB0w?rel=0" width="560">
    </iframe>
    <br/>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>