<html>
 <body>
  <blockquote>
   <p>
    COPY
    <br/>
    Here's the general sign:
   </p>
   <p>
    <img border="0" height="249" src="/images/copy.gif" width="300"/>
   </p>
   <hr/>
   <p>
    COPY:  (General sign)
    <br/>
    <img border="0" height="217" src="/images/copy.h13.jpg" width="203"/>
    <img border="0" height="217" src="/images/copy.h14.jpg" width="203"/>
    <img border="0" height="217" src="/images/copy.h15.jpg" width="203"/>
    <img border="0" height="217" src="/images/copy.h16.jpg" width="203"/>
   </p>
   <hr color="#800080"/>
   <p>
    COPY-(from someone on your right)
    <br/>
    This sign is "directional." That means you can show who is copying what by the 
direction and location of the sign.
    <br/>
    <img border="0" height="215" src="/images/copy.h17.jpg" width="285"/>
    <img border="0" height="215" src="/images/copy.h18.jpg" width="285"/>
    <img border="0" height="215" src="/images/copy.h19.jpg" width="285"/>
   </p>
   <font face="Arial">
    <hr color="#800080"/>
    <p>
     COPY-me:
     <br/>
     <img border="0" height="333" src="/images/copy-me-1.jpg" width="333"/>
     <img border="0" height="333" src="/images/copy-me-2.jpg" width="333"/>
     <br/>
     The above version (copy-me) is sometimes used in ASL classes by the 
			instructor telling students to copy his/her signs.
    </p>
   </font>
   <hr color="#800080"/>
   <p>
    PHOTOCOPY:   As in the sentence, "I need a (photo)copy of this."  
Or, "Do you have a copy?"
    <br/>
    <img border="0" height="217" src="/images/copy.h20.jpg" width="202"/>
    <img border="0" height="217" src="/images/copy.h21.jpg" width="202"/>
   </p>
   <hr color="#800080"/>
   <p>
    COPY (I tend to use this for the equivalent of the English word 
"photocopied")
   </p>
   <p>
    <img border="0" height="217" src="/images/copy.h22.jpg" width="202"/>
    <img border="0" height="217" src="/images/copy.h20.jpg" width="202"/>
    <img border="0" height="217" src="/images/copy.h21.jpg" width="202"/>
   </p>
   <hr color="#800080"/>
   <p>
    Here's a version of "copy" that means "Xerox or photocopy."  As in "I 
need to copy my syllabus for my class."
    <br/>
    <img border="0" height="219" src="/images/copy.h23.jpg" width="200"/>
    <img border="0" height="219" src="/images/copy.h24.jpg" width="200"/>
    <img border="0" height="219" src="/images/copy.h25.jpg" width="200"/>
   </p>
   <hr color="#800080"/>
   <p>
    COPY-from-wall:
    <br/>
    <img border="0" height="238" src="/images/copy.h1.jpg" width="223"/>
    <img border="0" height="238" src="/images/copy.h2.jpg" width="223"/>
    <img border="0" height="238" src="/images/copy.h3.jpg" width="223"/>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <br/>
   </p>
   <!--webbot bot="Include" U-Include="../../topics/adsense4.htm" TAG="BODY" startspan -->
   <hr/>
   <br/>
   <!-- 728x15_link_ads_adsense1_bottom -->
   <ins class="adsbygoogle" data-ad-client="ca-pub-2513564923850231" data-ad-slot="2289748297" style="display:inline-block;width:728px;height:15px">
   </ins>
   <br/>
   <!-- 728x15_link_ads_adsense1_bottom -->
   <ins class="adsbygoogle" data-ad-client="ca-pub-2513564923850231" data-ad-slot="2289748297" style="display:inline-block;width:728px;height:15px">
   </ins>
   <br/>
   <!-- 728x15_link_ads_adsense1_bottom -->
   <ins class="adsbygoogle" data-ad-client="ca-pub-2513564923850231" data-ad-slot="2289748297" style="display:inline-block;width:728px;height:15px">
   </ins>
   <br/>
   <br/>
   <!-- 728x90-leaderboard -->
   <ins class="adsbygoogle" data-ad-client="ca-pub-2513564923850231" data-ad-slot="7543121294" style="display:inline-block;width:728px;height:90px">
   </ins>
   <!--webbot bot="Include" i-checksum="54972" endspan -->
   <br/>
   <hr align="left" color="#000000" size="1"/>
   <font face="Arial" size="1">
   </font>
   <input name="cmd" type="hidden" value="_s-xclick"/>
   <input name="hosted_button_id" type="hidden" value="AVN6HZ7MF9WVS"/>
  </blockquote>
 </body>
</html>