<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   <font face="Arial">
    <font size="+1">
     T
    </font>
    he sign for "cost" is
made by extending your non-dominant hand in front of you in a "flat" handshape.
    <br/>
    Make the letter "X" with your dominant hand (palm back).  Strike the 
palm of your non-dominant hand with the top of your "x" finger using a 
downward
movement.
   </font>
   <br/>
   <br/>
   COST:
   <br/>
   <font face="Arial">
    <img height="175" src="/images/cost.gif" width="127"/>
   </font>
   <p>
    What 
costs 25 cents?
    <br/>
    <font face="Arial">
    </font>
   </p>
   <hr align="left" color="#000000" size="1"/>
  </blockquote>
 </body>
</html>