<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   <p style="margin-top: 0; margin-bottom: 0">
    The sign for "couch" starts with the sign for "sit" then uses classifier "c" handshapes
  to show the relative size and shape of the couch.
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <br/>
    COUCH:
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <img border="0" src="/images/couch.gif" style="max-width: 100%; height: auto" width="480"/>
    <img border="0" height="233" src="/images/couch2.jpg" width="256"/>
    <img border="0" height="233" src="/images/couch3.jpg" width="256"/>
    <img border="0" height="233" src="/images/couch4.jpg" width="256"/>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/ZcJGws8g8uE?rel=0" width="560">
    </iframe>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1" width="50%"/>
    <p style="margin-top: 0; margin-bottom: 0">
     <br/>
     Sample sentence: "What color is your couch?" = "YOUR COUCH, what-COLOR?"
     <br/>
     <br/>
     <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/Yw6CGi9riWw?rel=0" width="560">
     </iframe>
     <br/>
    </p>
    <hr align="left" color="#000000" size="1" width="50%"/>
   </font>
   <p align="left" style="margin-top: 0; margin-bottom: 0">
    <br/>
    Notes:
    <br/>
    <font face="Arial">
     After you've established that you are talking about a couch, you can drop the first
  part of the sign.  Or, if you are already talking about furnishings in
  your living room you generally don't need the first part of the for "couch."  
	Here is an animation of me just showing the hands sliding apart:
     <a href="/images/couchanimation.gif">
      Couch
  	(animated .gif)
     </a>
     <br/>
    </font>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1" width="50%"/>
   </font>
   <p style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     Also see:
     <a href="/dictionary/chair">
      CHAIR
     </a>
    </font>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>