<html>
 <body>
  <blockquote>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
    <p>
     There are at least three ways to do the sign for "cough."  In my opinion, neither 
  is more correct than the other. Personally I do version 1. My friend Roy tends to do version 2.
     <br/>
    </p>
    <p>
     COUGH:  Version 1:
    </p>
    <p>
     <img border="0" height="214" src="/images/cough.1.jpg" width="209"/>
     <img border="0" height="214" src="/images/cough.2.jpg" width="209"/>
     <img border="0" height="214" src="/images/cough.3.jpg" width="209"/>
     <img border="0" height="214" src="/images/cough.4.jpg" width="209"/>
    </p>
    <p>
     <img border="0" height="214" src="/images/cough.gif" width="209"/>
     <br/>
     <br/>
     Animation: Cough:
     <br/>
     <img border="0" height="214" src="/images/cough.gif" width="209"/>
     <br/>
    </p>
    <hr align="left" color="#000000" size="1"/>
    <p>
     <br/>
     COUGH (version 2)
     <br/>
     <img border="0" height="217" src="/images/cough.5.jpg" width="221"/>
     <img border="0" height="217" src="/images/cough.6.jpg" width="221"/>
     <img border="0" height="217" src="/images/cough.7.jpg" width="221"/>
     <img border="0" height="217" src="/images/cough.8.jpg" width="221"/>
     <img border="0" height="217" src="/images/cough.9.jpg" width="221"/>
     <img border="0" height="217" src="/images/cough.10.jpg" width="221"/>
     <img border="0" height="217" src="/images/cough.11.jpg" width="221"/>
     <br/>
    </p>
    <p>
     Animation: Cough Version 2
     <br/>
     <img border="0" height="217" src="/images/cough2.gif" width="221"/>
     <br/>
    </p>
    <hr align="left" color="#000000" size="1"/>
    <p>
     <br/>
     COUGH (version 3)
     <br/>
     or "cough cough"
    </p>
    <p>
     <img border="0" height="216" src="/images/cough.12.jpg" width="214"/>
     <img border="0" height="216" src="/images/cough.13.jpg" width="214"/>
     <img border="0" height="216" src="/images/cough.14.jpg" width="214"/>
     <img border="0" height="216" src="/images/cough.15.jpg" width="214"/>
     <img border="0" height="216" src="/images/cough.16.jpg" width="214"/>
     <img border="0" height="216" src="/images/cough.17.jpg" width="214"/>
    </p>
    <p>
    </p>
    <p>
     Animation:  COUGH Version 3
     <br/>
     <img border="0" height="216" src="/images/cough3.gif" width="214"/>
    </p>
    <p>
     <br/>
     Note:  Version 3, the one where you hit your chest with the 
			thumb-side of your fist a couple times, is sometimes used as a 
			snarky comment to mean that a thing is of questionable quality.
     <br/>
     If you tell people about your wonderful new idea or your cool new 
			purchase and someone in the group looks at someone else or rolls his 
			eyes and signs "cough cough" -- it means you might want to curb your 
			enthusiasm a bit.
     <br/>
     <br/>
     An interesting example of this derogatory meaning is shown in how 
			the "COUGH COUGH" sign has mutated into a joke sign for Walmart 
			wherein a person touches a W to his or her chin (as if doing the 
			sign for WATER) and then moves the hand down and strikes the chest 
			with an "M" similar to how how a person might strike their chest if 
			they were coughing. For Wal-Mart just use a single movement. Also 
			see:
     <a href="/dictionary/cheap">
      CHEAP
     </a>
     <br/>
    </p>
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>