<html>
 <body>
  <blockquote>
   <h1 style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     <span style="font-weight: 400">
      <font size="5">
       ASL: "COUNT"
      </font>
     </span>
     <br/>
    </font>
   </h1>
   <p style="margin-top: 0; margin-bottom: 0">
    <br/>
    The sign for "count" uses an "F" handshape on the 
	dominant hand.  The base hand is in a
  "flat" handshape.  If you are right handed, the tip of the right index finger and thumb touch 
  the palm of the left hand (near the heel of the palm) and then slide forward 
  twice.
    <br/>
    <br/>
    COUNT:
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/fYyFjRyF_QQ?rel=0&autoplay=1" width="560">
    </iframe>
   </p>
   <p>
    <img border="0" height="218" src="/images/count1.jpg" width="219"/>
    <img border="0" height="218" src="/images/count2.jpg" width="219"/>
    <img border="0" height="218" src="/images/count3.jpg" width="219"/>
   </p>
   <hr align="left" color="#000000" size="1" width="50%"/>
   <p>
    Here is a side view of that sign:
    <br/>
    <br/>
    <img border="0" height="206" src="/images/countsideview1.jpg" width="229"/>
    <img border="0" height="206" src="/images/countsideview2.jpg" width="229"/>
    <img border="0" height="206" src="/images/countsideview3.jpg" width="229"/>
   </p>
   <hr align="left" color="#000000" size="1" width="50%"/>
   <p style="margin-top: 0; margin-bottom: 0">
    <br/>
    <br/>
    ACCOUNTANT:
    <br/>
    If you add the "
    <a href="/dictionary/agent">
     person affix
    </a>
    " at
  the end of this sign it means "accountant."
    <br/>
    <br/>
    DEPEND:
    <br/>
    If you mean, "I can count on her" -- see "
    <a href="/dictionary/count-on">
     count on
    </a>
    " 
	or "
    <a href="/dictionary/depend">
     depend
    </a>
    ."
    <br/>
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p>
    Notes:
    <br/>
    The sign COUNT (which is typically used to mean "to count numbers") has been 
used in a very popular ASL newscast (the Daily Moth) by a very skilled signer to 
mean "a separate charge in an indictment" in the context of: "John is currently 
in the San Diego jail on one
    <b>
     <i>
      count
     </i>
    </b>
    of ..."
    <br/>
    Source:  https://youtu.be/wH3lJm0Typ0?t=259
    <br/>
    <br/>
    I point this out because all too often "experts" (note the quotes) try to tell 
others that you can't use some particular sign to mean "some specific meaning." 
While I appreciate and agree that it is important to use signs how they should 
be used -- I find that some people are overzealous in their limiting of the 
range of meanings for certain signs.
    <br/>
    <br/>
    Just because the sign COUNT typically or traditionally has been used to refer to 
the counting of numbers doesn't mean that we Deaf (and other signers) can't also 
use it to refer to "a separate charge in a indictment" in a legal setting.  
However, be aware that if you are a beginning-level student and you use a sign 
in a slightly non-standard way chances are someone will challenge you on it. 
That may be a good thing since it may help shape your signing to be more 
reflective of the type of signing done by adult native Deaf signers.
    <br/>
    <br/>
    Another example of the "multiple meaning" status of the COUNT sign occurred in a 
humorous video satirizing the importance of washing one's hands.  A man was 
eager to pick up a baby. A woman nearby told him to wash his hands. He did so 
and then touched a doorknob.  She made him wash his hands again.  This 
scene repeated itself again and again with various contaminations of his hands. 
At one point he coughed into his elbow and she told him to go wash his hands 
again.  He protested that he didn't cough on his hands.  She replied 
"STILL COUNT, GO (wash your hands again)." (Source: "The Endless Show"  
https://www.facebook.com/TheEndlessShow/videos/3064292456943834/  [0:37s 
mark]).
    <br/>
    <br/>
    This provides another example that the sign for COUNT is not limited in ASL to 
"just" being used to "count numbers." The sign is also is being used to mean 
"still qualifies as" or "is still regarded as."
    <br/>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1"/>
   <hr align="left" color="#000000" size="1"/>
   <hr align="left" color="#000000" size="1"/>
   <hr color="#000000" size="1"/>
   <p>
   </p>
  </blockquote>
 </body>
</html>