<html>
 <body>
  <blockquote>
   <h1 style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     <span style="font-weight: 400">
      <font size="5">
       American Sign Language: "count 
		on" / "rely on"
      </font>
     </span>
     <br/>
    </font>
   </h1>
   <p>
    <br/>
    <br/>
    A student writes:
    <br/>
    <br/>
    Hi Dr. Bill,
    <br/>
    I just wondered how to sign the idiom "count on" which means to rely or to 
depend on someone or something. In this case, do I use the sign for count (as in 
counting money) with your F-handshape sliding forward your base hand in a flat 
handshape? or should I use the sign for "depend on / rely" instead?
    <br/>
    - Jose
    <br/>
    <br/>
    Jose,
    <br/>
    For sure you should use
    <a href="/dictionary/depend">
     DEPEND
    </a>
    to mean "count on."  
The
    <a href="/dictionary/count">
     COUNT
    </a>
    sign doesn't mean or indicate "reliability" at 
all.
    <br/>
    - Dr. Bill
    <br/>
    <br/>
    DEPEND-ON / rely on / count on:
    <br/>
    <img border="0" height="360" src="/images/depend-01.jpg" width="360"/>
    <img border="0" height="360" src="/images/depend-02.jpg" width="360"/>
    <br/>
    <span style="font-weight: 400">
    </span>
    <br/>
    See:
    <a href="/dictionary/depend">
     DEPEND
    </a>
    <br/>
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p>
    Notes:
    <br/>
    Also see:
    <a href="/dictionary/count">
     COUNT
    </a>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1"/>
   <hr align="left" color="#000000" size="1"/>
   <hr align="left" color="#000000" size="1"/>
   <hr color="#000000" size="1"/>
   <p>
   </p>
  </blockquote>
 </body>
</html>