<html>
 <body>
  <blockquote>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
    <p>
     To express the sign for "crack" just show your crack.
     <br/>
     Er....let me rephrase that.
     <br/>
     <br/>
    </p>
    <p>
     What I mean is show what the crack to which you are referring looks like.
     <br/>
     <br/>
     For example, for a crack in a wall or the side of a mountain you could sign:
    </p>
    <p>
     <img border="0" height="212" src="/images/crack.25.jpg" width="206"/>
     <img border="0" height="212" src="/images/crack.26.jpg" width="206"/>
     <img border="0" height="212" src="/images/crack.27.jpg" width="206"/>
     <img border="0" height="212" src="/images/crack.28.jpg" width="206"/>
     <img border="0" height="212" src="/images/crack.29.jpg" width="206"/>
     <br/>
     Note: If it is a "large crack" then use more facial expression eh?
     <br/>
    </p>
    <p>
     <img border="0" height="209" src="/images/crack.gif" width="74"/>
     <br/>
    </p>
    <hr align="left" color="#000000" size="1"/>
    <p style="margin-top: 0; margin-bottom: 0">
     Here is a good general sign for 
	"crack."  The non-dominant hand really isn't necessary. It is just 
	there to show that it is a flat surface that has a crack in it.
    </p>
    <p style="margin-top: 0; margin-bottom: 0">
     <br/>
     CRACK
     <br/>
     <img border="0" height="231" src="/images/crack.1.jpg" width="235"/>
     <img border="0" height="231" src="/images/crack.2.jpg" width="235"/>
     <img border="0" height="231" src="/images/crack.3.jpg" width="235"/>
     <img border="0" height="231" src="/images/crack.4.jpg" width="235"/>
     <img border="0" height="231" src="/images/crack.5.jpg" width="235"/>
     <img border="0" height="231" src="/images/crack.6.jpg" width="235"/>
     <img border="0" height="231" src="/images/crack.7.jpg" width="235"/>
    </p>
    <p style="margin-top: 0; margin-bottom: 0">
    </p>
    <p style="margin-top: 0; margin-bottom: 0">
     See:
     <a href="/images/crack2.gif">
      Crack (Version 2) animation
     </a>
     <br/>
     <br/>
     Note:
     <br/>
    </p>
    <p style="margin-top: 0; margin-bottom: 0">
     If it were a small crack you would use a smaller movement.  For a small crack in something you would just use your index finger to 
  trace the crack.  If it were a "very" small crack (such as a "hairline" crack) 
	then you would use your pinkie to trace the crack.
    </p>
    <p style="margin-top: 0; margin-bottom: 0">
    </p>
    <hr align="left" color="#000000" size="1"/>
    <p>
     <br/>
     Suppose you mean "crack an egg?"  Just mime the activity.
     <br/>
     Here I'm showing striking an egg (in my dominant hand which is in a bent-3 
	claw shape) on a flat surface (represented by my non-dominant hand). Then 
	grabbing the egg in both hands and pulling it apart so the insides fall out.
     <br/>
     <br/>
     CRACK-egg
     <br/>
     <img border="0" height="212" src="/images/crack.8.jpg" width="261"/>
     <img border="0" height="212" src="/images/crack.9.jpg" width="261"/>
     <img border="0" height="212" src="/images/crack.10.jpg" width="261"/>
     <img border="0" height="212" src="/images/crack.11.jpg" width="261"/>
     <img border="0" height="212" src="/images/crack.12.jpg" width="261"/>
     <img border="0" height="212" src="/images/crack.13.jpg" width="261"/>
     <img border="0" height="212" src="/images/crack.14.jpg" width="261"/>
    </p>
    <p>
     See:
     <a href="/images/crackegg.gif">
      Crack an egg animation
     </a>
     <br/>
    </p>
    <hr align="left" color="#000000" size="1"/>
    <p>
     <br/>
     Notes:
     <br/>
     For you druggies out there who are wondering how to sign "crack" as 
			in cocaine -- the last I checked that sign is done by using an "A" 
			hand and touching the tip of the "A-hand"-thumb to one nostril while 
			making a sniffing movement. But, hey
     <i>
      dude
     </i>
     , "drug" signs 
			change from time to time and take myriad forms so as to fool those 
			pesky fellows with badges and guns. So if you want the straight dope 
			on signs for dope then contact your local Deaf druggie and ask. 
			Except they won't talk to you since they suspect you are a cop. Oh 
			well, time to check yourself into a rehab center anyway eh?
     <br/>
    </p>
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>