<html>
 <body>
  <blockquote>
   <span style="font-weight: 400">
    <font face="Arial">
     <hr align="left" color="#000000" size="1"/>
     <p>
      <i>
       This one sign means "cancel," "correct," and "criticize."  It 
means "correct" as in to "Correct someone's paper by putting X's next to the 
wrong answers."  (It doesn't mean correct as in "right."  For that use 
the appropriate version of the sign "
       <a href="/dictionary/right">
        right
       </a>
       ."
      </i>
     </p>
     <hr align="left" color="#000000" size="1"/>
     <p>
      CANCEL / CORRECT / CRITICIZE:
      <br/>
      Use the tip of your index finger to draw an "X" on the palm of your weak hand.
      <br/>
      I start at the top right of the palm and move toward the bottom left.  Then 
I "draw" a line from the top left of the palm toward the bottom right of the 
palm.
      <br/>
      <br/>
      <img border="0" height="226" src="/images/cancel5.jpg" width="239"/>
      <img border="0" height="226" src="/images/cancel6.jpg" width="239"/>
      <img border="0" height="226" src="/images/cancel7.jpg" width="239"/>
      <img border="0" height="226" src="/images/cancel8.jpg" width="239"/>
      <img border="0" height="226" src="/images/cancel9.jpg" width="239"/>
      <img border="0" height="226" src="/images/cancel10.jpg" width="239"/>
     </p>
     <hr align="left" color="#000000" size="1" width="50%"/>
     <p style="margin-top: 0; margin-bottom: 0">
      See:
      <a href="/dictionary/cancel">
       CANCEL
      </a>
      <br/>
     </p>
    </font>
   </span>
   <font face="Arial">
   </font>
  </blockquote>
 </body>
</html>