<html>
 <body>
  <blockquote>
   <font face="Arial">
    <h2 style="margin-top: 0; margin-bottom: 0">
     <span style="font-weight: 400">
      American Sign Language:  
		"cupcake"
     </span>
    </h2>
    <blockquote>
     <p style="margin-top: 0; margin-bottom: 0">
      <span style="font-weight: 400">
       There are lots of opinions 
    regarding the sign for "cupcake."
       <br/>
       I'll show you what I use. Plus I'll show you a couple of the main versions 
    you might see out there.
       <p style="margin-top: 0; margin-bottom: 0">
       </p>
       <hr align="left" color="#000000" size="1" width="50%"/>
       <p style="margin-top: 0; margin-bottom: 0">
        See also:  [
        <a href="/dictionary/cake" style="text-decoration: none">
         CAKE
        </a>
        ]
       </p>
       <hr align="left" color="#000000" size="1" width="50%"/>
       <p style="margin-top: 0; margin-bottom: 0">
       </p>
       <p style="margin-top: 0; margin-bottom: 0">
        CUPCAKE: Cake, muffin, pastry...
        <br/>
        I tend to use this version to mean "muffin," "cupcake," or small pastries.
        <br/>
        The sign uses a "double movement."
        <br/>
       </p>
       <p style="margin-top: 0; margin-bottom: 0">
       </p>
       <p style="margin-top: 0; margin-bottom: 0">
        <img border="0" height="300" src="/images/cake.h25.jpg" width="287"/>
        <img border="0" height="300" src="/images/cake.h26.jpg" width="287"/>
       </p>
       <p style="margin-top: 0; margin-bottom: 0">
       </p>
       <hr align="left" color="#000000" size="1" width="50%"/>
       <p style="margin-top: 0; margin-bottom: 0">
        CUPCAKE:  "hybrid version"
        <br/>
        Some people spell "cup" then sign cake. Or they sign cup and spell cake.
        <br/>
        <br/>
        <a href="/images/c.gif" style="text-decoration: none">
         <img alt="c.gif (438798 bytes)" border="2" height="100" src="/images/c_small.gif" width="100" xthumbnail-orig-image="../../fingerspelling/abc-gifs/c.gif"/>
         <img alt="c.gif (438798 bytes)" border="2" height="100" src="/images/u_small.gif" width="100"/>
         <img alt="c.gif (438798 bytes)" border="2" height="100" src="/images/p_small.gif" width="100"/>
        </a>
        <br/>
        <a href="/images/c.gif" style="text-decoration: none">
         <img alt="c.gif (438798 bytes)" border="2" height="100" src="/images/c_small.gif" width="100" xthumbnail-orig-image="../../fingerspelling/abc-gifs/c.gif"/>
         <img alt="c.gif (438798 bytes)" border="2" height="100" src="/images/a_small.gif" width="100"/>
         <img alt="c.gif (438798 bytes)" border="2" height="100" src="/images/k_small.gif" width="100"/>
         <img alt="c.gif (438798 bytes)" border="2" height="100" src="/images/e_small.gif" width="100"/>
        </a>
       </p>
       <p style="margin-top: 0; margin-bottom: 0">
       </p>
       <hr align="left" color="#000000" size="1" width="50%"/>
       <p style="margin-top: 0; margin-bottom: 0">
        CUPCAKE:  (CUP+CAKE 
    version)
        <br/>
        This version does the sign for CUP and the 
    sign for CAKE.
        <br/>
        As with most compound signs, this sign gets drops any double movement of the 
    individual signs.
       </p>
       <p style="margin-top: 0; margin-bottom: 0">
        <br/>
        <img border="0" height="300" src="/images/cup01.jpg" width="290"/>
        <img border="0" height="300" src="/images/cup02.jpg" width="290"/>
        <br/>
        <img border="0" height="300" src="/images/cake.h25.jpg" width="287"/>
        <img border="0" height="300" src="/images/cake.h26.jpg" width="287"/>
       </p>
      </span>
     </p>
    </blockquote>
    <hr align="left" color="#000000" size="1"/>
    <hr align="left" color="#000000" size="1"/>
   </font>
   <b>
    <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=XHRNABERKJT4N" rel="nofollow" target="_blank">
     <u>
      DONATE
     </u>
    </a>
   </b>
   <font size="2">
    (
    <i>
     Thanks!
    </i>
    )
   </font>
   <br/>
   <br/>
   <font face="Arial">
    *
   </font>
   Another way to help is to buy something from Dr. Bill's "
   <b>
    <a href="/dictionary/bookstore">
     <u>
      Bookstore
     </u>
    </a>
   </b>
   ."
   <hr align="left" color="#000000" size="1"/>
   <hr color="#000000" size="1"/>
   <p>
   </p>
  </blockquote>
 </body>
</html>