<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   <p>
    <br/>
    CURLY- hair:  Show the curls:
   </p>
   <p>
    <br/>
    <br/>
   </p>
   <p>
    <img border="0" height="233" src="/images/haircurley1.jpg" width="289"/>
    <img border="0" height="233" src="/images/haircurley2.jpg" width="289"/>
    <img border="0" height="233" src="/images/haircurley3.jpg" width="289"/>
    <img border="0" height="233" src="/images/haircurley4.jpg" width="289"/>
    <img border="0" height="233" src="/images/haircurley5.jpg" width="289"/>
    <img border="0" height="233" src="/images/haircurley6.jpg" width="289"/>
    <img border="0" height="233" src="/images/haircurley7.jpg" width="289"/>
    <img border="0" height="233" src="/images/haircurley8.jpg" width="289"/>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
    Also
see:
    <a href="/dictionary/hair">
     HAIR
    </a>
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>