<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   <p style="margin-top: 0; margin-bottom: 0">
    The sign for "cute" uses the same handshape, location, movement 
and palm orientation as a version of the sign "sugar." The main difference 
between the two signs is the facial expression.  Sugar tends to be two 
movements. "Cute" can either be one or two movements. If you are talking 
about a cute
baby or a kitty (or something similar) you can use a double motion
and increased facial expression for emphasis of the "cuteness."
    <br/>
    <br/>
    CUTE:
    <br/>
    <img border="0" height="300" src="/images/cute.h6.jpg" width="231"/>
    <img border="0" height="300" src="/images/cute.h7.jpg" width="231"/>
    <br/>
    CUTE:
   </p>
   <p>
    <font face="Arial">
     <img border="0" height="299" src="/images/cute.gif" width="300"/>
    </font>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
    <p>
     Sample sentence: "Who do you think is cute?" (YOU THINK CUTE, WHO?")
     <br/>
     <br/>
    </p>
   </font>
   <hr align="left" color="#000000" size="1"/>
   <p>
    <br/>
    Students ask me why it is that they sometimes see the sign CUTE done with a 
double movement and sometimes they see it done with a single movement.
    <br/>
    <br/>
    <font face="Arial">
     The sign CUTE is
     <i>
      generally
     </i>
     done with a single movement. The single 
movement version is good for concepts such as: sexy, "hot," attractive, and so 
forth.
     <br/>
     <br/>
     For example, the single movement version would work well for a sentence such as, 
"Oh wow, check out that
     <i>
      cute
     </i>
     fox!"
     <br/>
     <img border="0" height="222" src="/images/cute-attraction1.jpg" width="238"/>
     <img border="0" height="222" src="/images/cute-attraction2.jpg" width="238"/>
     <br/>
    </font>
    <br/>
    When you want to indicate something is cute as in "adorable," "sweet," 
"innocent," or "motherese" (child directed talk) you use a double movement.  
For example suppose you are talking about a "baby."
    <br/>
    <br/>
    "Aww, that baby is sooooo cuuuuute!"
   </p>
   <p>
    <img border="0" height="222" src="/images/cute-baby1.jpg" width="238"/>
    <img border="0" height="222" src="/images/cute-baby2.jpg" width="238"/>
    <img border="0" height="222" src="/images/cute-baby3.jpg" width="238"/>
    <img border="0" height="222" src="/images/cute-baby4.jpg" width="238"/>
    <img border="0" height="222" src="/images/cute-baby5.jpg" width="238"/>
    <br/>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
    <p>
     Also see:
     <a href="/dictionary/sugar">
      SUGAR
     </a>
    </p>
   </font>
   <hr align="left" color="#000000" size="1"/>
   <p>
    Also see:
    <a href="/dictionary/sweet">
     SWEET
    </a>
   </p>
  </blockquote>
 </body>
</html>