<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1" width="50%"/>
   <span style="font-weight: 400">
    <font face="Arial">
     <p style="margin-top: 0; margin-bottom: 0">
      DANCE:
      <br/>
      <img border="0" height="224" src="/images/dancer1.jpg" width="239"/>
      <img border="0" height="224" src="/images/dancer2.jpg" width="239"/>
      <img border="0" height="224" src="/images/dancer3.jpg" width="239"/>
      <img border="0" height="224" src="/images/dancer4.jpg" width="239"/>
      <img border="0" height="224" src="/images/dancer5.jpg" width="239"/>
     </p>
     <hr align="left" color="#000000" size="1" width="50%"/>
     <p style="margin-top: 0; margin-bottom: 0">
      <br/>
      DANCER:
      <br/>
      To sign dancer, combine "DANCE + AGENT"
      <br/>
      <img border="0" height="224" src="/images/dancer1.jpg" width="239"/>
      <img border="0" height="224" src="/images/dancer2.jpg" width="239"/>
      <img border="0" height="224" src="/images/dancer3.jpg" width="239"/>
      <img border="0" height="224" src="/images/dancer4.jpg" width="239"/>
      <img border="0" height="224" src="/images/dancer5.jpg" width="239"/>
      <img border="0" height="224" src="/images/dancer6.jpg" width="239"/>
      <img border="0" height="224" src="/images/dancer7.jpg" width="239"/>
     </p>
    </font>
   </span>
  </blockquote>
 </body>
</html>