<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   <br/>
   Think of this sign as representing someone coming at you with a knife and you 
block it.  
That would be a pretty
   <i>
    dangerous
   </i>
   situation eh?  Use a double 
movement.
   <br/>
   <img border="0" height="222" src="/images/danger1.jpg" width="252"/>
   <img border="0" height="222" src="/images/danger2.jpg" width="252"/>
   <img border="0" height="222" src="/images/danger1.jpg" width="252"/>
   <img border="0" height="222" src="/images/danger2.jpg" width="252"/>
   <br/>
   <br/>
   <br/>
   DANGER (animation)
   <br/>
   <p style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1" width="50%"/>
   <p style="margin-top: 0; margin-bottom: 0">
    <br/>
    The concept of "threat" or "risk" (involving potential pain or loss) 
			can be expressed by using the DANGER sign.
    <br/>
    If you want to express the noun form " a threat" or the plural form 
			"threats" you tend to do it twice. If you want to express the verb 
			form "to threaten" "was threatened" then just do it once.
    <br/>
    <br/>
    THREATEN or RISK:
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <img border="0" height="320" src="/images/threat-10.jpg" width="289"/>
    <img border="0" height="320" src="/images/threat-11.jpg" width="289"/>
    <img border="0" height="320" src="/images/threat-12.jpg" width="289"/>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>