<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   <p>
    DARK:
    <br/>
    <br/>
    <img border="0" height="226" src="/images/dark.h5.gif" width="293"/>
    <img border="0" height="226" src="/images/dark.h9.gif" width="293"/>
    <img border="0" height="226" src="/images/dark.h11.gif" width="293"/>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1" width="25%"/>
   </font>
   <p>
    <font face="Arial">
     <img border="0" height="226" src="/images/dark.gif" width="293"/>
    </font>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <br/>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>