<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   <p>
    <br/>
    This version of the sign is good if you mean "date" as in the concept of two 
people getting together to develop their relationship as in, "Do you want to go 
on a date?" 
Start with your hands slightly apart,
    <font face="Arial">
     palms facing each other, hands
    </font>
    in "D" shapes.  Bring the hands 
together to touch at the fingertips, then pull apart about an inch-and-a-half 
then bring together again.  Use a small quick movement.
   </p>
   <p>
    <font face="Arial">
     <br/>
     DATE:
     <br/>
     <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/8nnjt1pp4-s" width="560">
     </iframe>
    </font>
    <img border="0" height="282" src="/images/datesmall.gif" width="300"/>
   </p>
   <p>
    <img border="0" height="215" src="/images/date.h1.jpg" width="209"/>
    <img border="0" height="215" src="/images/date.h2.jpg" width="209"/>
    <img border="0" height="215" src="/images/date.h1.jpg" width="209"/>
    <img border="0" height="215" src="/images/date.h2.jpg" width="209"/>
    <br/>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
    <p>
     <br/>
     If you mean "date" as in a specific day that something will happen, 
			then either spell the letters D-A-T-E, or construct your sentence to 
			not need the word "date." For example, "YOUR BIRTHDAY PARTY, [what] 
			DAY?" [Raise your eyebrows a bit on the signs YOUR and BIRTHDAY, 
			then furrow your eyebrows a bit on the sign DAY.]
     <br/>
     <br/>
     See:
     <a href="/dictionary/day">
      DAY
     </a>
     <br/>
     See:
     <a href="/dictionary/birthday">
      BIRTHDAY
     </a>
     <br/>
    </p>
    <hr align="left" color="#000000" size="1"/>
    <p>
     <br/>
     In a message dated 1/31/2014 10:57:22 A.M. Pacific Standard Time, 
			Richard writes:
     <br/>
     <br/>
     Hello Dr Bill,
     <br/>
     I am in need of some clarification on two signs if you wouldn't mind 
			helping. In reviewing "DESSERT" it seems to be two D hands coming 
			together at the belly of the D. But, I have come across the phrase 
			"TO DATE" and it seems to be that same description. I am confused by 
			this and in context it may get a little weird.
     <br/>
     Thank you for your help,
     <br/>
     Richard Almager
     <br/>
     <br/>
     Richard,
     <br/>
     Hello :)
     <br/>
     DATE is upright, DESSERT is horizontal.
     <br/>
     By that I mean, the index fingers of the "D" hands in the sign for 
			DATE are pointing upward. Whereas the index fingers of the "D" hands 
			in the sign DESERT are pointing (generally) forward.
     <br/>
     - Dr. Bill
    </p>
    <hr align="left" color="#000000" size="1"/>
   </font>
   <p style="margin-top: 0; margin-bottom: 0">
    See:
    <a href="/dictionary/dessert">
     DESSERT
    </a>
    <br/>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>