<html>
 <body>
  <blockquote>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
    <p>
     The sign for "deer" shows the antlers.
     <br/>
     Touch the thumb-tips of your open 5-hands 
			the top of your head.
     <br/>
    </p>
    <p>
     <br/>
     DEER:
     <br/>
     <img border="0" height="320" src="/images/deer-version-01-small.gif" width="417"/>
     <img border="0" height="228" src="/images/deer.h1.jpg" width="267"/>
     <img border="0" height="228" src="/images/deer.h2.jpg" width="267"/>
     <br/>
    </p>
    <hr align="left" color="#000000" size="1"/>
    <p>
    </p>
    <p>
     Another way to sign DEER is to start with your hands on your head 
			and move them
     <i>
      off
     </i>
     of your head:
     <br/>
     <img border="0" height="320" src="/images/deer.gif" width="522"/>
     <img border="0" height="228" src="/images/deer.h2.jpg" width="267"/>
     <img border="0" height="228" src="/images/deer.h1.jpg" width="267"/>
     <br/>
    </p>
    <hr align="left" color="#000000" size="1"/>
    <p>
     Also see:
     <a href="/dictionary/animal">
      ANIMAL
     </a>
    </p>
    <p>
     Also see:
     <a href="/dictionary/caribou">
      CARIBOU
     </a>
    </p>
    <p>
     Also see:
     <a href="/dictionary/moose">
      MOOSE
     </a>
     <br/>
     Also see:
     <a href="/dictionary/fox">
      FOX
     </a>
    </p>
    <p>
     Also see:
     <a href="/dictionary/rabbit">
      RABBIT
     </a>
    </p>
    <p>
     Also see:
     <a href="/dictionary/bear">
      BEAR
     </a>
    </p>
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>