<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   <p style="margin-top: 0; margin-bottom: 0">
    The general sign for "dentist" combines the sign TOOTH and 
	PERSON-agent.
    <br/>
   </p>
   <p>
    <br/>
    DENTIST (TOOTH + PERSON-agent)
   </p>
   <p>
    <img border="0" height="225" src="/images/dentist1.jpg" width="198"/>
    <img border="0" height="225" src="/images/dentist2.jpg" width="198"/>
    <img border="0" height="225" src="/images/dentist3.jpg" width="198"/>
    <img border="0" height="225" src="/images/dentist4.jpg" width="198"/>
   </p>
   <p>
    <br/>
    Note: In context you can drop the "PERSON-agent" sign and just sign "TOOTH."  
	You use a double motion as if tapping your tooth twice -- but you don't 
	actually make contact with the tooth.  For example, if you sign "I/me 
	GO TOOTH" it is obvious that you are saying that you are going to the 
	"dentist."
    <br/>
    <br/>
    Note: A lot of people "initialize" the sign DENTIST by doing it with a "D" 
	hand. If you do that version, you should not add the PERSON-agent sign.  
	I don't recommend using the initialized version since the traditional ASL 
	sign is very easily recognized.
    <br/>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
   <p>
    <br/>
    Another version of "dentist" is to hit (lightly) the side of your mouth a couple times with the pinkie-side of
  your fist.
    <br/>
    <img border="0" height="226" src="/images/dentistc1.jpg" width="202"/>
    <img border="0" height="226" src="/images/dentistc2.jpg" width="202"/>
    <img border="0" height="226" src="/images/dentistc3.jpg" width="202"/>
    <img border="0" height="226" src="/images/dentistc4.jpg" width="202"/>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <br/>
    Sample sentence:
	"How often do you go to the dentist?" = YOU GO DENTIST HOW OFTEN?"
    <br/>
    <br/>
    <br/>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>