<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   To sign "deny," form both hands into open-"A"-hands.  What that 
			means is make "A" hands but stick the thumbs out.
   <br/>
   Hold both thumbs under your chin with the pad of each thumb touching 
			the underside of the chin.  Quickly move both hands forward.
   <br/>
   This sign is very close to the sign for "NOT" except that the NOT 
			sign only uses the dominant hand.
   <br/>
   <br/>
   DENY:
   <br/>
   <img border="0" height="359" src="/images/deny-01.jpg" width="393"/>
   <img border="0" height="359" src="/images/deny-02.jpg" width="393"/>
   <br/>
   <hr align="left" color="#000000" size="1" width="50%"/>
   <font face="Arial">
    <p style="margin-top: 0; margin-bottom: 0">
     Also see:
     <a href="/dictionary/not">
      NOT
     </a>
    </p>
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>