<html>
 <body>
  <blockquote>
   <h1 style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     <span style="font-weight: 400">
      <font size="5">
       American Sign Language: "depend" 
		/ "depends" / "depend on" / "count on" / "contingent upon"
      </font>
     </span>
     <br/>
    </font>
   </h1>
   <p>
    <br/>
    <br/>
    DEPEND-ON / rely on / count on:
    <br/>
    <img border="0" height="360" src="/images/depend-01.jpg" width="360"/>
    <img border="0" height="360" src="/images/depend-02.jpg" width="360"/>
    <br/>
   </p>
   <p>
    The single movement tends to function as a transitive verb or verb 
phrase such as "depend on" or "rely on."  By "transitive verb" what I mean 
is you tend to also need an object. For example, "I/ME CAN DEPEND HIM/HER" (I 
can depend on him.)
    <br/>
    <br/>
    You will also see this sign done with a double movement and start taking on 
meanings more along the lines of "it depends," "depending on," or "that 
depends."  Example:
    <br/>
    Signer A:  YOU GO PARTY YOU?
    <br/>
    Signer B:  DEPENDS. I/ME MAYBE START NEW JOB. (It depends.  I might be 
starting a new job.)
    <br/>
    <br/>
    DEPENDS / it depends / depending on
    <br/>
    <img border="0" height="360" src="/images/depend.gif" width="360"/>
    <br/>
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p>
    Notes:
    <br/>
    In advanced signing if a signer has established an absent referent off to the 
side (for example you have identified "Bob" and he is represented by pointing 
off to the signer's right) the signer can do the sign "depend on" a bit off to 
his or her right-side and it would mean "depend on Bob."  I don't see this 
done very often and would generally not try to make this sign "directional."  
However it can be done.
    <br/>
    <br/>
    Also see "
    <a href="/dictionary/count-on">
     count on
    </a>
    ."
    <br/>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1"/>
   <hr align="left" color="#000000" size="1"/>
   <hr align="left" color="#000000" size="1"/>
   <hr color="#000000" size="1"/>
   <p>
   </p>
  </blockquote>
 </body>
</html>