<html>
 <body>
  <blockquote>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
    <p>
     The sign for "destroy" starts with open "5"-hands and 
			changes them into "S"-hands (or modified "A"-hands).
    </p>
    <p>
     <br/>
     DESTROY:
    </p>
    <p>
     <img border="0" height="212" src="/images/destro1.jpg" width="264"/>
     <img border="0" height="212" src="/images/destro2.jpg" width="264"/>
     <img border="0" height="212" src="/images/destro3.jpg" width="264"/>
     <img border="0" height="212" src="/images/destro4.jpg" width="264"/>
     <img border="0" height="212" src="/images/destro5.jpg" width="264"/>
    </p>
    <hr align="left" color="#000000" size="1"/>
    animation: destroy:
    <p>
     <img border="0" height="212" src="/images/destroy.gif" width="264"/>
    </p>
    <p>
    </p>
    <p>
    </p>
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>