<html>
 <body>
  <blockquote>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
    <p>
     The sign for Detroit traces a "7" in the air using a "D" hand.
     <br/>
     <br/>
     DETROIT:
     <br/>
     <img border="0" height="217" src="/images/detroi2.jpg" width="219"/>
     <img border="0" height="217" src="/images/detroi3.jpg" width="219"/>
     <img border="0" height="217" src="/images/detroi4.jpg" width="219"/>
    </p>
    <hr align="left" color="#000000" size="1"/>
    Animation:
    <a href="/images/detroit.gif">
     Detroit
    </a>
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>