<html>
 <body>
  <blockquote>
   <h1 style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     <span style="font-weight: 400">
      <font size="5">
       American Sign Language: 
		"diabetes"
      </font>
     </span>
     <br/>
    </font>
   </h1>
   <p>
   </p>
   <hr align="left" color="#000000" size="1" width="50%"/>
   <span style="font-weight: 400">
    <font color="#000000" face="Arial" id="role_document" size="2">
     <p class="MsoNormal" style="MARGIN: 0in 0in 0pt">
      <span style="font-size: 14pt">
       <font size="3">
        In a message dated 8/2/2007 
		6:47:12 AM Pacific Daylight Time, dumbledorenj04@ writes:
       </font>
      </span>
     </p>
     <p class="MsoNormal" style="MARGIN: 0in 0in 0pt">
      <span style="font-size: 14pt">
       <font size="3">
        Dr. Bill,
       </font>
      </span>
     </p>
     <p class="MsoNormal" style="MARGIN: 0in 0in 0pt">
      <font size="3">
       I attend 
		an informal class in a friends home and we are confused.  Diabetes, 
		sugar, cute, sweet.  The differences?
      </font>
     </p>
     <p class="MsoNormal" style="MARGIN: 0in 0in 0pt">
      <span style="font-size: 14pt">
       <font size="3">
        Thank you!
       </font>
      </span>
     </p>
     <p class="MsoNormal" style="MARGIN: 0in 0in 0pt">
      <span style="font-size: 14pt">
       <font size="3">
        Gary, J.
        <br/>
        <br/>
       </font>
      </span>
     </p>
     <p class="MsoNormal" style="MARGIN: 0in 0in 0pt">
      <font size="3">
       Gary,
      </font>
     </p>
     <p class="MsoNormal" style="MARGIN: 0in 0in 0pt">
      <span style="font-size: 14pt">
       <font size="3">
        Some signs are more 
		encompassing than other signs.  Which is to say, certain signs are more 
		general, they have more interpretations, and depend more on context (the 
		signs or sentences preceding or following the sign), syntax (the word 
		order of the sentence), or pragmatics (the environment or  situation in 
		which the communication takes place) to determine their meaning.  
		"SWEET" is such a sign.
        <br/>
        The "flat hand" that rubs/bends twice downward on the chin is can be 
		interpreted as:
        <br/>
        SWEET-taste
        <br/>
        SWEET-(nice_personality)
        <br/>
        SUGAR
        <br/>
        DIABETES
        <br/>
        SWEETS
        <br/>
        and, when combined with the sign "SOUP," can be interpreted as 
		"pudding."
       </font>
      </span>
     </p>
     <p class="MsoNormal" style="MARGIN: 0in 0in 0pt">
      <span style="font-size: 14pt">
       <br/>
       <font size="3">
        It seems to me that "older" people use the SWEET sign to 
		also mean "sugar."  Coffee drinkers often use the SWEET sign to mean 
		"sugar" too.  (Just like they use the sign "MILK" to mean "cream.")
       </font>
      </span>
     </p>
     <p class="MsoNormal" style="MARGIN: 0in 0in 0pt">
     </p>
     <font face="Arial">
      <hr align="left" color="#000000" size="1" width="50%"/>
     </font>
     <p class="MsoNormal" style="MARGIN: 0in 0in 0pt">
      <span style="font-size: 14pt">
       <font size="3">
        The modified "U/H" handshape (thumb alongside) that rubs/bends twice 
		downward on the chin can be interpreted as:
        <br/>
        CUTE
        <br/>
        SUGAR
        <br/>
        CANDY-(rare_version: off the chin or cheek using a "U-handshape)
        <br/>
        Note:  If a guy or girl is "hot" as in "very good looking" the above 
		sign can be modified to use a single downward movement that is much more 
		exaggerated and held longer at the end of the sign than the standard 
		sign for CUTE.  If used, the facial expression tends to look as if you 
		were doing a "whistle."  I'm sure that expression is simply how your 
		lips look when you pronounce the letter "U."
       </font>
      </span>
     </p>
     <span style="font-size: 14pt">
      <font size="3">
       Much of the time however, 
		CUTE is done with a double movement. Sometimes the only difference 
		between "cute" and "sugar" is your facial expression.  "Sugar" is 
		neutral.  "Cute" tends to use an much more facial expression (imagine 
		how you look when looking at a baby in a stroller).
       <br/>
       Notes:
       <br/>
       "Diabetes" has a second and third variation is also often done with a 
		"D" twisting on the neck, or a "D" rubbing downward twice on the upper 
		right chest area (if you are right handed).  The movement.
       <br/>
      </font>
     </span>
    </font>
    <font color="#000000" face="Arial" id="role_document">
     <p>
      Also see:
      <a href="/dictionary/sweet">
       SWEET
      </a>
     </p>
    </font>
    <p>
    </p>
   </span>
   <hr align="left" color="#000000" size="1"/>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1"/>
   <hr align="left" color="#000000" size="1"/>
   <hr color="#000000" size="1"/>
   <p>
   </p>
  </blockquote>
 </body>
</html>