<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   <br/>
   The right sign for "
   <b>
    didn't
   </b>
   " depends on the situation.
   <br/>
   <p>
    <font face="Arial">
     ●  Often the concept of "
     <b>
      didn't"
     </b>
     is 
			expressed via a
     <i>
      <b>
       negative shake of the head
      </b>
     </i>
     while 
			signing that which you didn't do or which didn't happen.
     <br/>
     <br/>
     For example, to sign, "
     <b>
      I didn't go
     </b>
     " --  you would shake 
			your head negatively while signing "GO."
     <br/>
     This is sometimes written (glossed) as "PRO-1 GO-[neg]"
     <br/>
     That "PRO-1" can be thought of as meaning "first person pronoun" 
			which means "I or me."
    </font>
    <br/>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     ●
    </font>
    In addition to using the
    <b>
     negative head shake
    </b>
    you can 
			add the "NOT" sign to your sentence.
    <br/>
    For example: "PRO-1 NOT GO-[neg]."
    <br/>
    <br/>
    <font face="Arial">
     ●
    </font>
    Sometimes the concept of "didn't" 
			is incorporated into the movement of the sign. This happens with the 
			following signs:
    <br/>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <b>
     WANT
    </b>
    + a reversal 
			of orientation becomes "don't-WANT" -- which can be included in such 
			sentences as: "PRO-3 don't-WANT GO" -- which could be interpreted 
			as, "He (or she) didn't want to go."
    <br/>
    <br/>
    <b>
     KNOW
    </b>
    <font face="Arial">
     + a reversal of orientation 
			becomes "don't-KNOW"
    </font>
    <font face="Arial">
     -- which can be included in such sentences as: "PRO-3 don't-KNOW 
			HOW" -- which could be interpreted as, "He (or she) didn't know 
			how."
    </font>
    <br/>
    <br/>
    <b>
     LIKE
    </b>
    <font face="Arial">
     + a reversal of orientation 
			becomes "don't-LIKE"-- which can be included in such sentences as: 
			"PRO-3 don't-LIKE I-T" -- which could be interpreted as, "He (or 
			she) didn't like it."
    </font>
    <br/>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     ● Another 
			way the "didn't" concept might come up is in the sign for 
			"don't-MIND."  If asked if you found something annoying 
			(BOTHER), you might reply "I don't-MIND" which could be interpreted 
			as "I didn't mind it."
     <br/>
    </font>
   </p>
   <hr/>
   <p style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     Some 
			examples:
     <br/>
     https://www.youtube.com/watch?v=B_J3PgQ6GZI
     <br/>
     https://www.youtube.com/watch?v=MGiLPwMUquI
     <br/>
     https://www.youtube.com/watch?v=rVzafnAfFr0
     <br/>
     See: https://www.youtube.com/watch?v=MxlUs6u0C04
     <br/>
     https://www.youtube.com/watch?v=9i-gc1CHjtY
     <br/>
     <br/>
    </font>
    <br/>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>