<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   <p>
    <br/>
    The sign for dinosaur uses a flattened "O" handshape to show a dinosaur walking past. The arm bounces up and 
  down a bit (as if taking steps)
      
  as it travels in front of you.
   </p>
   <p>
    <br/>
    DINOSAUR:
    <br/>
    <img border="0" height="240" src="/images/dinosaur-01.jpg" width="240"/>
    <img border="0" height="240" src="/images/dinosaur-02.jpg" width="240"/>
    <img border="0" height="240" src="/images/dinosaur-03.jpg" width="240"/>
    <br/>
    <font size="2">
     [Special thanks to ASL Model: Christopher Palaia, 
			Native ASL Deaf Signer / Deaf Interpreter / Advanced ASL instructor]
    </font>
    <br/>
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p>
    <br/>
    Just as some dinosaurs evolved and others died out -- some signs 
			evolve and others die out.
    <br/>
    <br/>
    Over time ASL has been evolving
    <b>
     away from
    </b>
    overlaps with "Signed English."  
			One such evolution is discontinuing the use of unnecessary 
			"initialization" of signs.  An "initialized" sign uses the 
			initial letter of an English word as the handshape of a sign.
    <br/>
    <br/>
    For example, when I grew up (not quite in the dinosaur time period) 
			it was common to initialize the sign for dinosaur with a "D" 
			handshape.  Below is an example of an older sign for "dinosaur" 
			which uses a "D" hand (or a 
			flattened "O"-hand) to show a dinosaur walking past. The arm bounces up and 
  down a bit (as if taking steps)
      
  as it travels in front of you from one side toward the other while using a 
			facial expression that conveys something big, heavy, and ominous 
			walking by.
   </p>
   <p>
    <br/>
    DINOSAUR-[initialized-version]-[no-longer-recommended]
    <br/>
    <img border="0" height="207" src="/images/dinosa18.jpg" width="232"/>
    <img border="0" height="207" src="/images/dinosa19.jpg" width="232"/>
    <img border="0" height="207" src="/images/dinosa20.jpg" width="232"/>
    <br/>
    <br/>
    A common comment in the second decade of the 2K millennium hurled at 
			(some) older initialized signs is "That's Signed English!"   
			However, let me share this bit of insight with you.  Thirty 
			years ago (mid-1980's as of this writing) the initialized version of 
			the sign for "dinosaur"
    <b>
     <i>
      wasn't
     </i>
    </b>
    Signed English -- it was just how 
			most of us
    <i>
     <b>
      Deaf
     </b>
    </i>
    people signed it.  Now, decades 
			later the movement in the Deaf Community away from initialization has 
			caused many signs to shift from being considered "typical everyday ASL" 
			to instead being considered "Signed English."  That is why it 
			is nice to be able to update an ASL dictionary "online" as the 
			language evolves. - Dr. Bill
    <br/>
   </p>
   <hr align="left" color="#000000" size="1"/>
   Animation:
   <a href="/images/dinosaur.gif">
    dinosaur
   </a>
   -[old/initialized-version]
   <hr align="left" color="#000000" size="1"/>
   <p>
    <br/>
    Notes:
   </p>
   <div>
    <div>
     In a message dated 2/22/2005 12:49:59 PM Pacific Daylight Time, kputski@_______ 
		writes:
    </div>
    <blockquote style="PADDING-LEFT: 5px; MARGIN-LEFT: 5px; BORDER-LEFT: blue 2px solid">
     <font color="#800080" face="Arial" style="BACKGROUND-COLOR: transparent">
      <div>
       <font face="Arial">
        Dr. Bill,
       </font>
      </div>
     </font>
     <font color="#000000" face="Arial" size="2" style="BACKGROUND-COLOR: transparent">
      <div>
      </div>
     </font>
     <font color="#800080" face="Arial" style="BACKGROUND-COLOR: transparent">
      <div>
       <font face="Arial">
        I have seen two variations on the sign 
			for dinosaur that are different from the one you use. One has the 
			dominant hand's elbow resting on the down-facing, non-dominant hand. 
			The dominant hand has the fingers on the thumb  like a closed, 
			flattened "c" formation, but the "head" sways from side to side.
       </font>
      </div>
      <font face="Arial">
       The other variation that I saw was where 
			the dominant hand makes a "d" shape, then bounces several times 
			across the top of the head front to back like making "spikes" on the 
			head.
			 
				Are these widely-accepted variations, or 
			more regional variations?
       <br/>
       <br/>
       Thanks,
       <br/>
       Kim
      </font>
     </font>
    </blockquote>
   </div>
  </blockquote>
 </body>
</html>