<html>
 <body>
  <blockquote>
   <h1 style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     <span style="font-weight: 400">
      <font size="5">
       American Sign Language: "disappear"
      </font>
     </span>
     <br/>
    </font>
   </h1>
   <p>
   </p>
   <hr align="left" color="#000000" size="1" width="50%"/>
   <p>
   </p>
   <p>
    DISAPPEAR:  This sign is the opposite of "show-up."
   </p>
   <p>
    <img border="0" height="204" src="/images/show.h6.jpg" width="264"/>
    <img border="0" height="204" src="/images/show.h5.jpg" width="264"/>
   </p>
   <p>
    <iframe allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/wg3MSASSmCo?rel=0" width="560">
    </iframe>
   </p>
   <p>
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p>
    DISAPPEAR
   </p>
   <p>
    <img border="0" height="365" src="/images/disappear.gif" width="360"/>
   </p>
   <p>
    DISAPPEAR (version):
   </p>
   <p>
    <iframe allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/q9VxLF5shUw?rel=0" width="560">
    </iframe>
   </p>
   <p>
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1"/>
   <hr align="left" color="#000000" size="1"/>
   <hr color="#000000" size="1"/>
   <p>
   </p>
  </blockquote>
 </body>
</html>