<html>
 <body>
  <blockquote>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
    <p>
     <br/>
     To sign "discuss," bring the side of the dominant index finger down onto the palm of the 
	non-dominant palm.  
  Repeat at least once. The movement is relatively quick.
     <br/>
     <br/>
     DISCUSS:
    </p>
    <p>
     <img border="0" height="210" src="/images/discus5.gif" width="215"/>
     <img border="0" height="210" src="/images/discus6.gif" width="215"/>
     <img border="0" height="210" src="/images/discus5.gif" width="215"/>
     <img border="0" height="210" src="/images/discus6.gif" width="215"/>
    </p>
    <hr align="left" color="#000000" size="1"/>
    Animated:  "discuss"
    <br/>
    <img border="0" height="210" src="/images/discuss.gif" width="215"/>
    <p>
    </p>
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>