<html>
 <body>
  <blockquote>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
    <p>
    </p>
    <p style="margin-top: 0; margin-bottom: 0">
     The sign for "disgust" also means 
	"nauseous." 
  Make a claw hand.  The movement is as if you were scratching you belly in 
  a circular fashion.  The knuckles stay bent in the same position 
  throughout the duration of the sign.  The facial expression is one of 
  disgust.
     <br/>
     <br/>
     DISGUSTED:
    </p>
    <p>
     <img border="0" height="216" src="/images/disgus12.gif" width="192"/>
     <img border="0" height="216" src="/images/disgus13.gif" width="192"/>
     <br/>
    </p>
    <hr align="left" color="#000000" size="1"/>
    Animation: Disgusted
    <p>
     <img border="0" height="216" src="/images/disgusted.gif" width="192"/>
    </p>
    <hr align="left" color="#000000" size="1" width="50%"/>
    <p>
    </p>
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>