<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   <span style="font-weight: 400">
    <font face="Arial">
     <p style="margin-top: 0; margin-bottom: 0">
      Also see:
      <a href="/dictionary/disney-signing">
       Disney Signing
      </a>
     </p>
     <hr align="left" color="#000000" size="1"/>
     <p style="margin-top: 0; margin-bottom: 0">
      The sign for "Disneyland" twists a 
"D" on the side of your chin, twice.
      <br/>
      <br/>
      DISNEYLAND:
      <br/>
      <img border="0" height="296" src="/images/disneyland-41.jpg" width="296"/>
      <img border="0" height="296" src="/images/disneyland-42.jpg" width="296"/>
      <img border="0" height="296" src="/images/disneyland-43.jpg" width="296"/>
      <img border="0" height="296" src="/images/disneyland-44.jpg" width="296"/>
      <br/>
      <font face="Arial" size="1">
       Model:
       <b>
        Byron Cantrell
       </b>
       (Native Deaf, Deaf School/Georgia, Deaf wife, Deaf 
kids, long-time ASL instructor.)
      </font>
      <br/>
     </p>
     <hr align="left" color="#000000" size="1"/>
     <p style="margin-top: 0; margin-bottom: 0">
      <br/>
     </p>
     <p style="margin-top: 0; margin-bottom: 0">
     </p>
     <p style="margin-top: 0; margin-bottom: 0">
      Notes:
      <br/>
      Also see:
      <br/>
      https://usatoday30.usatoday.com/travel/destinations/2008-07-14-disney-sign-language_N.htm
     </p>
    </font>
   </span>
  </blockquote>
 </body>
</html>