<html>
 <body>
  <blockquote>
   <h1 style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     <span style="font-weight: 400">
      <font size="5">
       American Sign Language: "divide"
      </font>
     </span>
     <br/>
    </font>
   </h1>
   <blockquote>
    <hr align="left" color="#000000" size="1"/>
    <p>
     DIVIDE:  At first the left hand is stationary.  The right hand 
comes down an inch or two and contacts the left hand. Then both hands move 
downward and to the sides.
    </p>
    <p>
     <img border="0" height="292" src="/images/divide.gif" width="300"/>
    </p>
    <p>
     <img border="0" height="233" src="/images/divide1.jpg" width="285"/>
     <img border="0" height="233" src="/images/divide2.jpg" width="285"/>
     <img border="0" height="233" src="/images/divide3.jpg" width="285"/>
     <img border="0" height="233" src="/images/divide4.jpg" width="285"/>
     <img border="0" height="233" src="/images/divide5.jpg" width="285"/>
    </p>
    <p>
     <iframe allowfullscreen="" frameborder="0" height="315" name="I1" src="https://www.youtube.com/embed/uppo_DVyQ7w?rel=0" width="560">
     </iframe>
    </p>
    <p>
    </p>
    <hr align="left" color="#000000" size="1"/>
    <p>
     <br/>
     Notes:
     <br/>
     The general sign for divide works just fine for math concepts. It is also good 
for concepts like "split."
     <br/>
    </p>
    <p>
     Suppose for some crazy reason you needed to sign the phrase, 
			"We've got to divide the division problems from the multiplication 
			problems."
     <br/>
     <br/>
     In that circumstance you could use a highly specific version of the 
			sign "DIVIDE" that is specifically related to mathematical problems.
     <br/>
     <br/>
     DIVIDE-(high context math situations) (not recommended for everyday 
			use).
    </p>
    <p>
     <img border="0" height="237" src="/images/divideb1.jpg" width="277"/>
     <img border="0" height="237" src="/images/divideb2.jpg" width="277"/>
     <img border="0" height="237" src="/images/divideb3.jpg" width="277"/>
     <img border="0" height="237" src="/images/divideb4.jpg" width="277"/>
     <img border="0" height="237" src="/images/divideb5.jpg" width="277"/>
     <img border="0" height="237" src="/images/divideb6.jpg" width="277"/>
    </p>
   </blockquote>
   <hr align="left" color="#000000" size="1"/>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1"/>
   <hr align="left" color="#000000" size="1"/>
   <hr color="#000000" size="1"/>
   <p>
   </p>
  </blockquote>
 </body>
</html>