<html>
 <body>
  <blockquote>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
    <p>
     The sign for "dizzy" is done by moving a claw hand in a circle near the top/front/right area of your 
			head.
    </p>
    <p>
     It helps to use a "dizzy" facial expression.
     <br/>
     <br/>
     DIZZY:
    </p>
    <p>
     <img border="0" height="214" src="/images/dizzy.gif" width="214"/>
    </p>
    <p>
     <br/>
    </p>
    <hr align="left" color="#000000" size="1" width="50%"/>
    <p>
    </p>
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>