<html>
 <body>
  <blockquote>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
    <p>
     The concept of "doll" is often just fingerspelled 
			"D-O-L-L."
     <br/>
    </p>
    <p>
     <br/>
     To sign "doll" slide an X down your nose twice.
     <br/>
     <br/>
     DOLL:
     <br/>
     <img border="0" height="209" src="/images/doll.h5.jpg" width="192"/>
     <img border="0" height="209" src="/images/doll.h6.jpg" width="192"/>
     <img border="0" height="209" src="/images/doll.h7.jpg" width="192"/>
     <img border="0" height="209" src="/images/doll.h8.jpg" width="192"/>
    </p>
    <br/>
    Animation: DOLL
    <br/>
    <img border="0" height="209" src="/images/doll.gif" width="192"/>
    <p>
    </p>
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>