<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1" width="50%"/>
   <span style="font-weight: 400">
    <font face="Arial">
     The concept of "dollar" is generally incorporated into the numbers
  1-9 by showing the number with the palm facing forward (or slightly to the
  left), then quickly twisting the sign so that it is palm back.  If someone asks you how much movie tickets cost, you could respond
  "6-(twist), 75-(palm-forward) to mean $6.75.
  Starting at $10 and up, you would sign "10" then sign dollar.
     <br/>
     <br/>
     $1 through $15:
     <br/>
     <br/>
     <br/>
     <hr color="#800080"/>
     <p>
      DOLLAR:
      <br/>
      version 1:
     </p>
     <p>
      <img border="0" height="218" src="/images/dollard1.jpg" width="219"/>
      <img border="0" height="218" src="/images/dollard2.jpg" width="219"/>
      <img border="0" height="218" src="/images/dollard3.jpg" width="219"/>
     </p>
     <hr color="#800080"/>
     <p>
      DOLLAR version 2:
     </p>
     <p>
      <img border="0" height="217" src="/images/dollarc1.jpg" width="214"/>
      <img border="0" height="217" src="/images/dollarc2.jpg" width="214"/>
     </p>
    </font>
   </span>
  </blockquote>
 </body>
</html>