<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   <p style="margin-top: 0; margin-bottom: 0">
    The sign for "don't care" starts as a somewhat flattened "O" hand 
	shape near the nose and then changes into a into a claw hand with relatively 
	straight fingers.
    <br/>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <br/>
    DON'T-CARE:
    <br/>
    <img border="0" height="204" src="/images/dontcare.gif" width="207"/>
    <br/>
    <br/>
    Memory aid: Think, "I don't give a snot." (heh)
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <img border="0" height="204" src="/images/dont-c10.gif" width="207"/>
    <img border="0" height="204" src="/images/dont-c11.gif" width="207"/>
    <img border="0" height="204" src="/images/dont-c12.gif" width="207"/>
    <img border="0" height="204" src="/images/dont-c13.gif" width="207"/>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>