<html>
 <body>
  <blockquote>
   <p align="right" style="margin-top: 0; margin-bottom: 0">
    <font color="#330066" face="Arial" size="2">
     <a href="/dictionary/index" style="text-decoration: none" target="_top" title="American Sign Language (ASL)">
      ASL University ►
     </a>
    </font>
   </p>
   <hr color="#000000" size="6" style="border-style: ridge; border-width: 2; padding-left: 0; padding-right: 0; padding-top: 1; padding-bottom: 1"/>
   <table border="0" id="table1" width="100%">
    <tr>
     <th align="left" valign="top">
      <h2 style="margin-top: 0; margin-bottom: 0">
       <span style="font-weight: 400">
        <font face="Arial">
         American Sign Language:  "door"
        </font>
       </span>
      </h2>
      <blockquote>
       <hr align="left" color="#000000" size="1" width="50%"/>
       <font face="Arial">
        <span style="font-weight: 400">
         <p style="margin-top: 0; margin-bottom: 0">
          DOOR:
          <br/>
          Concepts to understand:
         </p>
         <p style="margin-top: 0; margin-bottom: 0">
          <font face="Times New Roman">
           <font size="4">
            •
           </font>
          </font>
          DOOR:  
Only the dominant hand moves during this sign.  This sign uses two 
movements. The dominant hand opens then closes. It is a combination of the signs 
"open-door" and "close-door."
          <br/>
          <font face="Times New Roman" size="4">
           •
          </font>
          <font face="Times New Roman">
          </font>
          OPEN:  Both hands move during this sign.
          <br/>
          <font face="Times New Roman" size="4">
           •
          </font>
          <font face="Times New Roman">
          </font>
          OPEN-DOOR: Only the dominant hand moves during this sign.
          <br/>
          <font face="Times New Roman" size="4">
           •
          </font>
          <font face="Times New Roman">
          </font>
          CLOSE-DOOR: Only the dominant hand moves during this sign.
          <br/>
          <font face="Times New Roman" size="4">
           •
          </font>
          <font face="Times New Roman">
          </font>
          CLOSED:  Both hands move during this sign.
         </p>
         <hr align="left" color="#000000" size="1"/>
         <p style="margin-top: 0; margin-bottom: 0">
          <br/>
          The sign "door" uses an open and close motion. Just move the dominant hand. 
Imagine the hinges are on your pinkie.
          <br/>
          <br/>
          DOOR:
          <br/>
          <br/>
          <img border="0" height="240" src="/images/dooranimation.gif" width="270"/>
          <img border="0" height="210" src="/images/door.gif" width="300"/>
          <img border="0" height="145" src="/images/door-close.gif" width="281"/>
          <br/>
         </p>
         <hr align="left" color="#000000" size="1"/>
         <p style="margin-top: 0; margin-bottom: 0">
          <b>
           <br/>
           OPEN
          </b>
          -DOOR:  Uses a single "open" movement.
          <br/>
          <img border="0" src="/images/door.gif" style="max-width: 100%; height: auto" width="480"/>
          <img border="0" height="258" src="/images/door.gif" width="364"/>
          <br/>
         </p>
         <hr align="left" color="#000000" size="1"/>
         <p style="margin-top: 0; margin-bottom: 0">
         </p>
         <p style="margin-top: 0; margin-bottom: 0">
          <b>
           CLOSE
          </b>
          -DOOR:  Uses a single "close" movement.
          <br/>
          <br/>
          <img border="0" height="194" src="/images/door-close.gif" width="377"/>
         </p>
         <p style="margin-top: 0; margin-bottom: 0">
          <img border="0" height="236" src="/images/door-close1.jpg" width="260"/>
          <img border="0" height="236" src="/images/door-close2.jpg" width="260"/>
          <br/>
          <img border="0" height="332" src="/images/door-close-1.jpg" width="332"/>
          <img border="0" height="332" src="/images/door-close-2.jpg" width="332"/>
          <img border="0" height="332" src="/images/door-close-3.jpg" width="332"/>
         </p>
         <p style="margin-top: 0; margin-bottom: 0">
          <br/>
         </p>
         <hr align="left" color="#000000" size="1"/>
         <p style="margin-top: 0; margin-bottom: 0">
          <br/>
          To sign "open" as in the phrase, "Dr. Bill, please open the expensive gift I 
gave you," - start with your hands together, (palms forward for things like 
"doors" and palms somewhat downward for things like gifts) and then swing both 
hands backward (toward yourself) as if showing the opening of double doors.
          <br/>
          <br/>
          OPEN:
          <br/>
          <img border="0" height="206" src="/images/open-small.gif" width="393"/>
          <br/>
         </p>
         <hr align="left" color="#000000" size="1"/>
         <p style="margin-top: 0; margin-bottom: 0">
          <br/>
          To sign "close" as in "shut," start with flat hands, fingers 
pointing up, palms facing, a few inches apart, and then swing both hands forward 
as if closing double doors.
          <br/>
          <br/>
          CLOSE (general sign)
          <br/>
          <img border="0" height="209" src="/images/close-small.gif" width="393"/>
         </p>
         <hr color="#800080"/>
         <p style="margin-top: 0; margin-bottom: 0">
          <b>
           <br/>
          </b>
          open-DOOR:
         </p>
         <p style="margin-top: 0; margin-bottom: 0">
          <img border="0" height="236" src="/images/door-open1.jpg" width="260"/>
          <img border="0" height="236" src="/images/door-open2.jpg" width="260"/>
          <br/>
         </p>
         <hr align="left" color="#000000" size="1"/>
         <p style="margin-top: 0; margin-bottom: 0">
          <br/>
          <br/>
         </p>
         <hr align="left" color="#000000" size="1"/>
         <p style="margin-top: 0; margin-bottom: 0">
          <br/>
          DOOR:
          <br/>
          The right hand pivots open and then closes. The left hand stays stationary.  
This sign can also mean, depending on the rest of your sentence, "closet" or 
"cupboard."
          <br/>
         </p>
         <p style="margin-top: 0; margin-bottom: 0">
          <img border="0" height="240" src="/images/door1.jpg" width="270"/>
          <img border="0" height="240" src="/images/door2.jpg" width="270"/>
          <img border="0" height="240" src="/images/door3.jpg" width="270"/>
          <img border="0" height="240" src="/images/door4.jpg" width="270"/>
          <img border="0" height="240" src="/images/door5.jpg" width="270"/>
          <br/>
         </p>
         <hr align="left" color="#000000" size="1"/>
         <p style="margin-top: 0; margin-bottom: 0">
          <br/>
          Notes:
          <br/>
          Still with me reading this far?
          <br/>
          Good for you, that means you now get to learn the secret cool insider 
information about this sign.
          <br/>
          Truth be told, in addition to such concepts as "open" and "close" the sign DOOR 
can
         </p>
        </span>
        <i>
         also
        </i>
        <span style="font-weight: 400">
         be used to mean: cupboard, closet, cabinet, 
cellar, etc. 
The conveyed meaning depends on your context.
         <p style="margin-top: 0; margin-bottom: 0">
          <br/>
          <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/Knbs0MwdQvg?rel=0" width="560">
          </iframe>
         </p>
         <hr align="left" color="#000000" size="1" width="50%"/>
         <p style="margin-top: 0; margin-bottom: 0">
          <br/>
          <img border="0" height="275" src="/images/locker2.jpg" width="303"/>
          <img border="0" height="275" src="/images/locker1.jpg" width="305"/>
          <img border="0" height="275" src="/images/locker2.jpg" width="303"/>
         </p>
        </span>
       </font>
       <span style="font-weight: 400">
       </span>
      </blockquote>
      <!--webbot bot="Include" U-Include="../../topics/adsense1.htm" TAG="BODY" startspan -->
      <hr/>
      <p style="margin-top: 0; margin-bottom: 0">
      </p>
      <!-- 728x90-leaderboard -->
      <ins class="adsbygoogle" data-ad-client="ca-pub-2513564923850231" data-ad-slot="7543121294" style="display:inline-block;width:728px;height:90px">
      </ins>
      <br/>
      <!--webbot bot="Include" i-checksum="30181" endspan -->
     </th>
     <td align="right" valign="top" width="160">
      <!--webbot bot="Include" U-Include="../../topics/adsense2.htm" TAG="BODY" startspan -->
      <!--webbot bot="Include" i-checksum="96" endspan -->
     </td>
    </tr>
   </table>
   <p align="right" style="margin-top: 0; margin-bottom: 0">
    <img alt="back.gif (1674 bytes)" border="0" height="28" onclick="history.go(-1)" src="/images/back.gif" width="54"/>
   </p>
  </blockquote>
 </body>
</html>