<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   This sign is an initialized version of the sign for "
   <a href="/dictionary/home">
    HOME
   </a>
   ."
   <br/>
   <hr align="left" color="#000000" size="1"/>
   <p>
    <br/>
    DORM:  Touch the cheek near your mouth.  Then touch the cheek 
  near your ear.
    <br/>
    <br/>
    <img border="0" height="210" src="/images/dorm1.jpg" width="280"/>
    <img border="0" height="210" src="/images/dorm2.jpg" width="280"/>
    <img border="0" height="210" src="/images/dorm3.jpg" width="280"/>
    <br/>
    <br/>
    Sample sentence:
			Do you live in a dorm?
    <br/>
    <br/>
    <br/>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
    See "
    <a href="/dictionary/home">
     HOME
    </a>
    ."
    <hr align="left" color="#000000" size="1"/>
   </font>
   <p>
    <br/>
    <br/>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>