<html>
 <body>
  <blockquote>
   <h1 style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     <span style="font-weight: 400">
      <font size="5">
       ASL: "drawer"
      </font>
     </span>
     <br/>
    </font>
   </h1>
   <p>
    <br/>
   </p>
   <p>
    Mime pulling a drawer out and pushing it back in. Use "A" or "S" handshapes, 
  palms up. Once back, once forward.
   </p>
   <p>
    This sign can be used to mean "dresser."
   </p>
   <p>
    If you do a single movement pulling it toward you, it means "open the 
  drawer."
   </p>
   <p>
    <br/>
   </p>
   <p>
    DRAWER:
   </p>
   <p>
    <img border="0" height="207" src="/images/drawer10.jpg" width="232"/>
    <img border="0" height="207" src="/images/drawer11.jpg" width="232"/>
    <img border="0" height="207" src="/images/drawer10.jpg" width="232"/>
   </p>
   <p>
    <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/5wrl6AtW4oc" width="560">
    </iframe>
   </p>
   <hr align="left" color="#000000" size="1"/>
   Animated: Drawer
   <p>
    <img border="0" height="207" src="/images/drawer.gif" width="232"/>
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p>
    close-DRAWER:  (use the sign "push")
    <br/>
    <img border="0" height="209" src="/images/push.h29.jpg" width="232"/>
    <img border="0" height="209" src="/images/push.h30.jpg" width="232"/>
    <br/>
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1"/>
   <hr align="left" color="#000000" size="1"/>
   <hr align="left" color="#000000" size="1"/>
   <hr align="left" color="#000000" size="1"/>
   <hr color="#000000" size="1"/>
   <p>
   </p>
  </blockquote>
 </body>
</html>