<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   <p style="margin-top: 0; margin-bottom: 0">
    The sign for "dresser" just mimes pulling out and pushing in 
	a dresser drawer.
    <br/>
    <br/>
    DRESSER:
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <img border="0" src="/images/dresser-drawer.gif" style="max-width: 100%; height: auto" width="480"/>
    <img border="0" height="236" src="/images/dresser1.jpg" width="260"/>
    <img border="0" height="236" src="/images/dresser2.jpg" width="260"/>
    <img border="0" height="236" src="/images/dresser3.jpg" width="260"/>
    <font face="Arial">
     <br/>
     <br/>
     Animated .gif file:
     <a href="/images/dresseranimation.gif">
      DRESSER
     </a>
    </font>
    <br/>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
   <p style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     <br/>
     Sample sentence:  Do you put your pants in a dresser or do you hang 
	them up?
     <br/>
     = YOUR PANTS, YOU PUT DRESSER [bodyshift]-OR HANG-up, WHICH?
     <br/>
     <br/>
    </font>
    <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/VfGs2yY1nEw?rel=0" width="560">
    </iframe>
    <br/>
   </p>
   <hr align="left" color="#000000" size="1" width="50%"/>
   <p style="margin-top: 0; margin-bottom: 0">
    <br/>
    Notes:
    <br/>
    <font face="Arial">
     If you need to specifically talk about the
     <i>
      <b>
       drawers
      </b>
     </i>
     in a 
	dresser, you can do the same movement but at different heights.  For 
	example, you could do sign the sign "drawer" a second time a little bit 
	lower.  You can also number them.
     <br/>
    </font>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>