<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   <font face="Arial">
    <font size="+1">
     T
    </font>
    he sign for "drink"
is made by forming your right hand into the letter "C."  Move the hand to your mouth in a short arc.
   </font>
   <p style="margin-top: 0; margin-bottom: 0">
    <br/>
    DRINK:
    <br/>
    <img border="0" src="/images/drink-c.gif" style="max-width: 100%; height: auto" width="480"/>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     <img height="208" src="/images/drink.gif" width="245"/>
    </font>
    <font face="Arial">
     <img border="0" height="204" src="/images/drink.12.jpg" width="201"/>
     <img border="0" height="204" src="/images/drink.13.jpg" width="201"/>
    </font>
    <br/>
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p style="margin-top: 0; margin-bottom: 0">
    <br/>
    <font face="Arial">
     You can modify the sign DRINK to show the manner in which someone is 
	drinking something.
Here is an exaggeration of how the sign DRINK can be modified to indicate
different meanings. This variation would mean to "drink every drop"
or, if you held the sign a little longer while doing a series of swallowing
movements, it would mean to "chug."
     <br/>
     <br/>
     DRINK (variation: "drink up" or "chug")
     <br/>
     <br/>
     <img border="0" height="237" src="/images/drink-up1.jpg" width="238"/>
     <img border="0" height="237" src="/images/drink-up2.jpg" width="238"/>
     <img border="0" height="237" src="/images/drink-up3.jpg" width="238"/>
    </font>
   </p>
   <font face="Arial">
    <p style="margin-top: 0; margin-bottom: 0">
    </p>
    <hr align="left" color="#000000" size="1"/>
    <p style="margin-top: 0; margin-bottom: 0">
     <br/>
     "Drink alcohol"
     <br/>
     If you are talking about "drinking alcohol" then you should change the "C" 
	hand into a "Y" hand.
    </p>
   </font>
   <p style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     <img border="0" src="/images/drink-y.gif" style="max-width: 100%; height: auto" width="480"/>
    </font>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    "Drink alcohol"
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    Change the "C" hand into a "G" 
	hand for a shot of alcohol or small other cups.
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     <img border="0" src="/images/drink-L-curved.gif" style="max-width: 100%; height: auto" width="480"/>
    </font>
   </p>
  </blockquote>
 </body>
</html>