<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   <br/>
   <p>
    DROP: As in, "I dropped my physics course."
    <br/>
    <img border="0" height="407" src="/images/drop-small.gif" width="400"/>
    <img border="0" height="300" src="/images/drop.h4.jpg" width="311"/>
    <img border="0" height="300" src="/images/drop.h5.jpg" width="311"/>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
   <p>
    <br/>
    DROP: As in "I dropped the doggie treat into the kennel."
    <br/>
    <img border="0" height="200" src="/images/drop.h7.jpg" width="217"/>
    <img border="0" height="200" src="/images/drop.h8.jpg" width="217"/>
    <img border="0" height="200" src="/images/drop.h9.jpg" width="217"/>
   </p>
   <font face="Arial">
    <p>
     <br/>
    </p>
    <hr align="left" color="#000000" size="1"/>
   </font>
   <p>
    <br/>
    DROP: animated
    <br/>
    <img border="0" height="200" src="/images/drop.gif" width="217"/>
   </p>
  </blockquote>
 </body>
</html>