<html>
 <body>
  <blockquote>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
    <p>
     The sign for "duck" opens and closes a "bill" twice as 
			if you were quacking twice.
     <br/>
    </p>
    <p style="margin-top: 0; margin-bottom: 0">
     This version uses a 
  handshape consisting of extending the index finger, middle finger, and thumb.
    </p>
    <p style="margin-top: 0; margin-bottom: 0">
    </p>
    <p style="margin-top: 0; margin-bottom: 0">
     DUCK (version 1)
    </p>
    <p style="margin-top: 0; margin-bottom: 0">
     <img border="0" height="227" src="/images/duck.h16.jpg" width="256"/>
     <img border="0" height="227" src="/images/duck.h17.jpg" width="256"/>
     <img border="0" height="227" src="/images/duck.h16.jpg" width="256"/>
     <img border="0" height="227" src="/images/duck.h17.jpg" width="256"/>
    </p>
    <p>
     <br/>
    </p>
    <hr align="left" color="#000000" size="1"/>
    <p>
     <br/>
    </p>
    <p>
     You might also see people do the sign for "duck" using the whole hand (all 
	of the fingers extended and the thumb.
    </p>
    <p>
     <br/>
     DUCK (version 2)
     <br/>
     <img border="0" height="212" src="/images/duck.h6.jpg" width="205"/>
     <img border="0" height="212" src="/images/duck.h7.jpg" width="205"/>
     <img border="0" height="212" src="/images/duck.h8.jpg" width="205"/>
     <br/>
     <img border="0" height="212" src="/images/duck.h7.jpg" width="205"/>
     <img border="0" height="212" src="/images/duck.h6.jpg" width="205"/>
     <img border="0" height="212" src="/images/duck.h7.jpg" width="205"/>
     <br/>
     <img border="0" height="212" src="/images/duck.h8.jpg" width="205"/>
     <img border="0" height="212" src="/images/duck.h7.jpg" width="205"/>
     <img border="0" height="212" src="/images/duck.h6.jpg" width="205"/>
    </p>
    <p style="margin-top: 0; margin-bottom: 0">
     <br/>
     Animation: DUCK
     <br/>
     <img border="0" height="212" src="/images/duck.gif" width="205"/>
     <br/>
    </p>
    <hr align="left" color="#000000" size="1"/>
    <p>
     Notes:
     <br/>
     The sign for "bird" is similar to "duck" except that the sign for 
			"BIRD" uses a "G"-handshape (just the index finger and the thumb).
     <br/>
     See:
     <a href="/dictionary/bird">
      BIRD
     </a>
     <br/>
    </p>
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>