<html>
 <body>
  <blockquote>
   <h1 style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     <span style="font-weight: 400">
      <font size="5">
       How do you sign "dude" in 
		ASL?
      </font>
     </span>
    </font>
   </h1>
   <p>
    <br/>
    "Dude" is an American English word that tends to refer to an individual male 
person.
    <br/>
    <br/>
    There is no widespread, commonly used, specific sign that is the equivalent of 
"dude."
    <br/>
    <br/>
    If for some reason you need to convey the specific concept of "dude" in American 
Sign Language with little or no room for misinterpretation then go ahead and 
spell the word "dude." If the word is spelled often or at high speeds you may 
notice the individual letters morphing (changing).  The second "D" may 
circle just the middle finger and thumb. The "E" on the end may rest the tips of 
just the index finger and middle finger on the distal phalange of the thumb. 
These changes are part of the lexicalization process and are a natural result of 
co-articulation.
    <br/>
    <br/>
    You may see various protologisms (signs or words that are in the beginning 
stages of spreading and usage) used for the various meanings of "dude." For 
example, if you mean "dude" as in "Bro!" you can use one of the "BRO!" 
protologisms such as of beating your heart once or twice with the thumb side of 
your fist and then pointing at the person, giving them a thumb up, going in for 
a hug, and/or holding your fist out for a bump. But remember "protologisms" are 
not recognized or accepted by everyone. Protologisms are new and still 
struggling for acceptance or eventual extinction.
    <br/>
    <br/>
    Other ways to express the concept of dude include but are not limited to:
    <br/>
    <br/>
    1.  Point at the person to whom you are referring.
    <br/>
    2.  Point to an absent referent location representing the person to whom 
you are referring.
    <br/>
    3.  Use the sign MAN.
    <br/>
    4.  Use the sign SOMEONE/something/single
    <br/>
    5.  Use the PERSON-[non-initialized] sign.
    <br/>
    6.  If your intent is to use "dude" as an exclamation such as "d_mn!"-- 
then choose the appropriate sign from existing ASL exclamations.
    <br/>
    7.  If you mean "dude" as in "Neat!" then use the NEAT sign.
    <br/>
    8.  If you mean "dude" as in "Cool!" then use either the NEAT sign or use 
the COOL-[fluttering-fingers-version-of-FINE] sign.
    <br/>
    9.  If you mean "dude" as in you approve of something, use the "THUMB-UP" 
sign.
    <br/>
    10.  If you want to use dude to add emphasis to your message then instead 
of trying to think of a specific sign for dude just sign your message in a more 
emphatic (impassioned) way.
    <br/>
    11.  If you are using dude as an attention getting device then consider 
signing "HEY."  If the person is standing right next to you then just elbow 
them (Do it gently dude! Don't break a rib).
    <br/>
    12.  If you mean "dude" as in an expression of bewilderment then hold your 
loose-hands palm up and slightly out to the sides (in sort of a "WHAT"? type of 
sign and show bewilderment on your face (by raising one eyebrow) and/or spell "WTF?!"
    <br/>
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p>
    Notes:
    <br/>
    Additional notes:
    <br/>
    You may also see a variety of ill-advised approaches to signing "dude" done by 
semi-skilled (conversely they are thus semi-unskilled) bilinguals attempting to 
map ASL to English. For example, someone might sign the letter "D" and then sign 
MAN. (Again, such approaches are not advised and not recommended).
   </p>
   <hr align="left" color="#000000" size="1"/>
   <hr align="left" color="#000000" size="1"/>
   <hr align="left" color="#000000" size="1"/>
   <hr color="#000000" size="1"/>
   <p>
   </p>
  </blockquote>
 </body>
</html>