<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   <p style="margin-top: 0; margin-bottom: 0">
    The sign for "during" is the same sign as "while."  
	"During" can also mean parallel, meanwhile, or alongside.
    <br/>
    <font face="Arial">
     <p style="margin-top: 0; margin-bottom: 0">
      The sign for "during" uses "1" handshapes, palm down, starting near your 
	chest, and moves forward six to 12 inches.
      <br/>
     </p>
    </font>
   </p>
   <p>
    DURING / while:
   </p>
   <p>
    <img border="0" height="227" src="/images/during-along1.jpg" width="209"/>
    <img border="0" height="227" src="/images/during-along2.jpg" width="209"/>
    <img border="0" height="227" src="/images/during-along3.jpg" width="209"/>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1" width="50%"/>
   </font>
   <p>
    <img border="0" height="227" src="/images/during-along.gif" width="209"/>
    <br/>
   </p>
   <p>
    Sample sentence: Do you study over summer break? = DURING SUMMER VACATION 
	YOU STUDY YOU?
    <br/>
    <br/>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>