<html>
 <body>
  <blockquote>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
    <p>
     The sign for "ears" is done a couple of different ways.
     <br/>
     <br/>
     The most basic way is to just point at 
  your ear.
     <br/>
     <img border="0" height="215" src="/images/ears.h3.jpg" width="207"/>
     <br/>
    </p>
    <hr align="left" color="#000000" size="1"/>
    <p>
     <br/>
     To be very specific you can grab your ear and wiggle it just a bit.
     <br/>
     <img border="0" height="211" src="/images/ears.h13.jpg" width="199"/>
     <br/>
    </p>
    <hr align="left" color="#000000" size="1"/>
    <p>
    </p>
    <p>
     EAR / SOUND: In this version you tap your ear twice.  This sign can 
	mean ear but it can also mean 
	"sound."
    </p>
    <p>
     <img border="0" height="215" src="/images/ears.h2.jpg" width="207"/>
     <img border="0" height="215" src="/images/ears.h3.jpg" width="207"/>
     <img border="0" height="215" src="/images/ears.h2.jpg" width="207"/>
     <img border="0" height="215" src="/images/ears.h3.jpg" width="207"/>
    </p>
    <p>
    </p>
    <hr align="left" color="#000000" size="1"/>
    <p>
     Also see:
     <a href="/dictionary/earrings">
      "EARRINGS"
     </a>
    </p>
    <hr align="left" color="#000000" size="1"/>
    <p>
    </p>
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>