<html>
 <body>
  <blockquote>
   <h1 style="margin-top: 0; margin-bottom: 0">
    <span style="font-weight: 400">
     <font face="Arial" size="5">
      easy: The 
		American Sign Language (ASL) sign for "easy"
     </font>
    </span>
    <font face="Arial">
     <br/>
    </font>
   </h1>
   <p>
    Compare with:
    <a href="/dictionary/almost">
     ALMOST
    </a>
    <br/>
    <br/>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    When doing the sign for easy (if you are right handed) the right hand brushes up twice against the left hand fingers. The left hand doesn't move.  Let me say that again, 
the left hand is stationary.  The only movement in the left hand is a 
slight bending of the fingers as the right hand brushes upward against it.  
	See: Easy:
    <a href="https://youtu.be/HD10hA6FKFs">
     https://youtu.be/HD10hA6FKFs
    </a>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <br/>
    EASY:
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <img border="0" src="/images/easy.gif" style="max-width: 100%; height: auto" width="480"/>
    <img border="0" height="349" src="/images/easy.gif" width="400"/>
    <br/>
    Sample sentence: Do you think this class is easy?
    <br/>
    <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" height="315" name="I1" src="https://www.youtube.com/embed/W0aWT_zR8aQ?rel=0" width="560">
    </iframe>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <br/>
    <img border="0" height="239" src="/images/easy1.jpg" width="216"/>
    <img border="0" height="239" src="/images/easy2.jpg" width="216"/>
    <img border="0" height="239" src="/images/easy3.jpg" width="216"/>
    <img border="0" height="239" src="/images/easy4.jpg" width="216"/>
    <img border="0" height="239" src="/images/easy5.jpg" width="216"/>
    <img border="0" height="239" src="/images/easy6.jpg" width="216"/>
    <img border="0" height="239" src="/images/easy7.jpg" width="216"/>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" height="315" name="I2" src="https://www.youtube.com/embed/HD10hA6FKFs?rel=0" width="560">
    </iframe>
    <br/>
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p style="margin-top: 0; margin-bottom: 0">
    <br/>
    Notes:
    <br/>
    If you do this sign with a single motion this sign will mean "almost."
    <br/>
    See:
    <a href="/dictionary/almost">
     ALMOST
    </a>
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p style="margin-top: 0; margin-bottom: 0">
    Also see:
    <a href="/dictionary/simple">
     SIMPLE
    </a>
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p>
    Topic: "EASIER"
    <br/>
    <br/>
    <b>
     QUESTION
    </b>
    :
    <br/>
    Dr. Bill -
    <br/>
    I am just learning ASL at age 62. I feel like I'm doing well, considering social 
isolation and my age! This question has come up and there is no one to ask...
    <br/>
    The current situation is bad - it may never get easy, but we hope it will get 
easier. In that sentence, the difference between "easy" and "easier" is 
important but I can't seem to find "easier" on your site or any other. I've seen 
moving a thumb to point over your right shoulder to make a word sort of more, 
but I don't know if that works here.
    <br/>
    - Debra
    <br/>
    <br/>
    <b>
     ANSWER
    </b>
    :
    <br/>
    Hello Debra!
    <br/>
    You are seeking the ASL equivalent of the word "easier" which is a comparative 
adjective form of the word "easy."
    <br/>
    <br/>
    The easiest (heh) way of signing "easier" is to simply add the ASL suffix "-ER" 
to the sign EASY. (The ASL suffix "-ER" consists of an open-A hand / "thumb up" 
that moves upward a short distance.)
    <br/>
    <br/>
    Another way to express the concept of "easier" is to use a contrastive structure 
(in your sentence) by comparing something that is easy with something that is 
easier.  To do this you lean or point to your non-dominant side and mention 
that something is "easy" (using the normal sign for "easy") -- then you lean or 
point to your dominant side and indicate that something else is "easier" (using 
an exaggerated sign for "easy" with a large movement, more facial expression, 
and an affirming head nod). Thus the concept of "-er" (as in "more so") is being 
expressed not by an added sign but rather by inflecting (modifying) the way you 
sign "easy" and doing so using "contrastive" sentence structure (comparing 
something on one side with something else on the other side).
    <br/>
    <br/>
    Here is some homework for you. Check out the following video:
    <br/>
    Superlatives and Comparatives in ASL:
    <a href="https://youtu.be/7T_pxoNWs3o">
     https://youtu.be/7T_pxoNWs3o
    </a>
    <br/>
    <br/>
    Another approach is to sign:
    <br/>
    "MORE EASY."
    <br/>
    Or "MORE EASY THAN."
    <br/>
    <br/>
    Consider your sentence as a whole.  If you are discussing a "hard situation 
that will get easier" you might want to just sign "SITUATION IMPROVE WILL"
    <br/>
    <br/>
    For example, your sentence:
    <br/>
    "The current situation is bad - it may never get easy, but we hope it will get 
easier."
    <br/>
    <br/>
    Could be signed as:
    <br/>
    NOW SITUATION BAD. FUTURE BECOME EASY? MAYBE NEVER? BUT, FUTURE SITUATION 
IMPROVE WE HOPE.
    <br/>
    <br/>
    Or another version could be:
    <br/>
    NOW SITUATION BAD. FUTURE BECOME EASY? MAYBE NEVER? BUT, WE HOPE FUTURE 
SITUATION MORE EASY.
    <br/>
    <br/>
    While I do not recommend it for all situations of "-er" -- sometimes an option 
to express "this is easier than that" is to sign the "beats" sign then sign 
EASY.
    <br/>
    This can create a meaning of:  "This beats that in terms of easiness" -- 
but you have to be careful to use such signing only in high context situations 
because signing "BEAT-[right-to-left] EASY" also can create the meaning of "this 
easily beats that."
    <br/>
    See: "override-[this-BEAT-that] / prevail"
    <br/>
    <a href="https://youtu.be/femhWu3HFRI">
     https://youtu.be/femhWu3HFRI
    </a>
    <br/>
   </p>
   <p>
    Also, you said that you saw an example of "moving a thumb to point over your 
right shoulder to make a word sort of more."
    <br/>
    <br/>
    I'd advise you regarding comparatives and superlatives (such as the suffixes "-er" 
and "-est") that the movement is "not" over the shoulder but rather the movement 
is up.
    <br/>
    <br/>
    To be specific the  the movement of the "open-A" hand (of signs involving 
"-er" and/or "-est") is "up" (not over your dominant shoulder).
    <br/>
    <br/>
    Why?  If you do an open-A hand over or toward your dominant shoulder you 
run the risk of looking like your are signing "WON'T (as in "refuse to do 
something").
    <br/>
    See: WON'T:
    <a href="https://youtu.be/u2W72GqhsaM">
     https://youtu.be/u2W72GqhsaM
    </a>
   </p>
   <p>
    <br/>
    <br/>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1"/>
   <hr align="left" color="#000000" size="1"/>
   <hr align="left" color="#000000" size="1"/>
   <hr color="#000000" size="1"/>
   <p>
   </p>
  </blockquote>
 </body>
</html>