<html>
 <body>
  <blockquote>
   <font face="Arial">
    <h2 style="margin-top: 0; margin-bottom: 0">
     <span style="font-weight: 400">
      American Sign Language:  "either"
     </span>
    </h2>
    <blockquote>
     <hr align="left" color="#000000" size="1" width="50%"/>
     <span style="font-weight: 400">
      <p style="margin-top: 0; margin-bottom: 0">
       The sign for either uses two "v" 
handshapes. You point your non-dominant hand upward, palm back. Then you flutter 
the tips of the index and middle fingers of your dominant hand on top of the 
tips of your non-dominant hand. The index and middle fingers of the dominant 
hand alternate moving up and down.
       <br/>
      </p>
      <p style="margin-top: 0; margin-bottom: 0">
       EITHER:
      </p>
      <p style="margin-top: 0; margin-bottom: 0">
       <iframe allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/uLoKdhE7rYU?rel=0" width="560">
       </iframe>
      </p>
     </span>
    </blockquote>
    <hr align="left" color="#000000" size="1"/>
    <hr align="left" color="#000000" size="1"/>
   </font>
   <b>
    <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=XHRNABERKJT4N" rel="nofollow" target="_blank">
     <u>
      DONATE
     </u>
    </a>
   </b>
   <font size="2">
    (
    <i>
     Thanks!
    </i>
    )
   </font>
   <br/>
   <br/>
   <font face="Arial">
    *
   </font>
   Another way to help is to buy something from Dr. Bill's "
   <b>
    <a href="/dictionary/bookstore">
     <u>
      Bookstore
     </u>
    </a>
   </b>
   ."
   <hr align="left" color="#000000" size="1"/>
   <hr color="#000000" size="1"/>
   <p>
   </p>
  </blockquote>
 </body>
</html>