<html>
 <body>
  <blockquote>
   <p style="margin-top: 0; margin-bottom: 0">
    <span style="font-weight: 400">
     <font face="Arial">
     </font>
    </span>
   </p>
   <hr align="left" color="#000000" size="1"/>
   <span style="font-weight: 400">
    <font face="Arial">
     <p style="margin-top: 0; margin-bottom: 0">
      To sign "electricity," use "X" handshapes. Tap 
(gently) the knuckles together twice.
      <br/>
      <br/>
      ELECTRICITY (or battery)
      <br/>
      <img border="0" height="225" src="/images/electricity1.jpg" width="228"/>
      <img border="0" height="225" src="/images/electricity2.jpg" width="228"/>
      <img border="0" height="225" src="/images/electricity3.jpg" width="228"/>
      <img border="0" height="225" src="/images/electricity4.jpg" width="228"/>
      <br/>
     </p>
     <hr align="left" color="#000000" size="1"/>
     <p style="margin-top: 0; margin-bottom: 0">
      <br/>
      BATTERY:
     </p>
     <p style="margin-top: 0; margin-bottom: 0">
      The sign for "electricity" can also 
be used (in context) to mean "battery" as in "I need a new hearing aid battery."
      <br/>
      <br/>
      Sample sentence: What kind of battery does your hearing aid use?
      <br/>
      = YOUR HEARING-AID BATTERY, WHAT-KIND?
      <br/>
      <br/>
      <br/>
     </p>
     <hr align="left" color="#000000" size="1"/>
     <p style="margin-top: 0; margin-bottom: 0">
      <br/>
     </p>
    </font>
   </span>
   <font face="Arial">
   </font>
  </blockquote>
 </body>
</html>