<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1" width="50%"/>
   <span style="font-weight: 400">
    <font face="Arial">
     <p style="margin-top: 0; margin-bottom: 0">
      ELEVATOR:
      <br/>
      The right "E" hand represents the up and down movement of an
  elevator.
      <br/>
      <br/>
      <br/>
      This is the version I use most often when signing elevator.
      <br/>
      <img border="0" height="227" src="/images/elevatorc1.jpg" width="246"/>
      <img border="0" height="227" src="/images/elevatorc2.jpg" width="246"/>
      <img border="0" height="227" src="/images/elevatorc3.jpg" width="246"/>
      <img border="0" height="227" src="/images/elevatorc4.jpg" width="246"/>
      <img border="0" height="227" src="/images/elevatorc5.jpg" width="246"/>
      <img border="0" height="227" src="/images/elevatorc6.jpg" width="246"/>
      <img border="0" height="227" src="/images/elevatorc7.jpg" width="246"/>
     </p>
     <hr color="#800080"/>
     <p style="margin-top: 0; margin-bottom: 0">
      Note: some people use an "index 
	finger" handshape on the left hand and have the right hand move up and down 
	it once.
     </p>
     <hr color="#800080"/>
     <p>
      Variation:  elevator:
      <br/>
      Note: you might also see the left hand in an upright index finger handshape.
      <br/>
     </p>
    </font>
   </span>
   NOT
   <span style="font-weight: 400">
    recommended.
    <p>
     <img border="0" height="225" src="/images/elevatorb1.jpg" width="221"/>
     <img border="0" height="225" src="/images/elevatorb4.jpg" width="221"/>
     <img border="0" height="225" src="/images/elevatorb7.jpg" width="221"/>
    </p>
    <hr align="left" color="#000000" size="1" width="50%"/>
   </span>
   <span style="font-weight: 400">
   </span>
  </blockquote>
 </body>
</html>