<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   <p>
    Most people associate emotional feelings as coming from inside their chests.
  This sign shows emotions coming up and out of the chest. The handshape is "E" hands.
  The movement is circular -- up, forward, down, back.
    <br/>
   </p>
   <font face="Arial">
    <hr color="#000000" size="1"/>
   </font>
   <p>
    EMOTION:
    <br/>
    <img border="0" height="214" src="/images/emotio2.jpg" width="217"/>
   </p>
   <p>
    <img border="0" height="214" src="/images/emotio1.jpg" width="217"/>
    <img border="0" height="214" src="/images/emotio2.jpg" width="217"/>
    <img border="0" height="214" src="/images/emotio3.jpg" width="217"/>
    <br/>
    <img border="0" height="214" src="/images/emotio4.jpg" width="217"/>
    <img border="0" height="214" src="/images/emotio5.jpg" width="217"/>
    <img border="0" height="214" src="/images/emotio6.jpg" width="217"/>
    <br/>
    <img border="0" height="214" src="/images/emotio7.jpg" width="217"/>
   </p>
   <font face="Arial">
    <hr color="#000000" size="1"/>
   </font>
   <p>
    A version of this sign is: ASSERTIVE:
    <br/>
    Assertive uses the same movement as "emotion" but has "A" handshapes instead 
  of "E" handshapes.
    <br/>
    The movement is circular --up, out, down, back.  Note: if you do the 
  movement the opposite way, down, out, up, back--it means "act" (as in 
	"actor).
    <br/>
    <img border="0" height="214" src="/images/theate1.jpg" width="233"/>
    <br/>
    If you do the sign ASSERTIVE a little faster and with a more "angry" facial 
  expression it means "aggressive."
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>