<html>
 <body>
  <blockquote>
   <font face="Arial">
    <h2 style="margin-top: 0; margin-bottom: 0">
     <span style="font-weight: 400">
      American Sign Language:  "encore"
     </span>
    </h2>
    <blockquote>
     <hr align="left" color="#000000" size="1" width="50%"/>
     <span style="font-weight: 400">
      An ASL instructor writes:
      <br/>
      <br/>
      Hello Professor Bill,
      <br/>
      <br/>
      I know you get many questions regarding what a sign is for certain word or 
words. I have checked the FAQ's and mine is not there.
      <br/>
      <br/>
      I teach ASL here in Alabama and actually learned and lived in Sacramento, CA. I 
am currently teaching ASL to young students that are doing a wonderful job. I am 
teaching a song right now and I have researched this on different places to find 
the sign for the word "encore". I have looked for signs that you could use 
instead of it and have even asked those that are deaf in my community. No one 
seems to know the answer. I don't know if I should use the sign for "celebrate" 
and "finish" because of not finding that particular word.
      <br/>
      <br/>
      This is for an ASL competition coming up and I want to teach my student the 
correct terms and signs. Can you help with this? I can give you the
      <br/>
      name of the song so that you can look it up and see the context if you would 
like. Please please let me know what I can do. Thank you!
      <br/>
      <br/>
      [Name on file]
      <br/>
      <br/>
      ---------------------------------------------------
     </span>
     <p>
      <span style="font-weight: 400">
       Dear [Name on file],
       <br/>
       <br/>
       In searching for a sign for "encore," you have been trying to catch a rainbow.
       <br/>
       <br/>
       You can't "have or possess" a rainbow.
       <br/>
       <br/>
       Yet they are real.
       <br/>
       <br/>
       In all of your searching, nobody around you seems to "have or possess" a sign 
for "encore."
       <br/>
       <br/>
       Yet, I assure you, there
       <i>
        really is a sign
       </i>
       for ENCORE -- even though no 
one has been able to "whip it out" and show it to you the moment you ask.
       <br/>
       <br/>
       The word "encore" is very context specific. Members of an audience use that word 
at the end of a performance to ask for the performer to "do it again so the 
audience can enjoy more of the performance."
       <br/>
       <br/>
       Thus the ASL sign for "encore" would also be very context specific. Upon 
completion of a performance by a Deaf performer if members of a Deaf audience 
were to want an encore they would sign one of two concepts: AGAIN and/or MORE.
       <br/>
       <br/>
       For two minutes the sign for "encore" is either AGAIN (if the member of the 
audience wishes to see the same performance repeated) or MORE (if the member of 
the audience wishes to see an additional performance from the performer).
       <br/>
       So, ASL does have a sign for "encore" that sign consists of: "[context] "MORE."
       <br/>
       <br/>
       If you remove the context, you no-longer have the sign "ENCORE" you are left 
with the sign MORE."
       <br/>
       <br/>
       Thus you see, the sign "ENCORE" is like a rainbow that occurs under specific 
circumstances. It is a very real sign. It exists, just as rainbows exist. Yet 
rainbows are only "there" when the situation (context) is right.
       <br/>
       <br/>
       You literally cannot have a rainbow whenever you feel like it. You must create 
the situation (rain and sunlight) or you will not have a rainbow. If you extract 
the rain from the environment you do not have a rainbow.
       <br/>
       If you subtract "light" from the environment all you are is wet.
       <br/>
       <br/>
       You could take a picture of a rainbow. You would recognize the rainbow in the 
picture. But a picture is not "a" rainbow. You absolutely can not go back and 
take a second picture of that rainbow because it no longer exists.
       <br/>
       Similarly you could take a picture of a member of a Deaf audience signing 
"ENCORE" to a performer on a stage. If you take your scissors and cut the 
performer and the auditorium from the picture you are left with a picture of a 
person signing "MORE."
       <br/>
       <br/>
       So then, what to do about your young padawans who are in need of a sign for 
"encore" as they stand on a stage in front of an audience? That depends on if 
the word is being used as a request for an additional performance, or if it is 
being used as a way to refer to a performance that has previously taken place. 
You will need to examine the context of the song and decide whether or not to 
use MORE or if perhaps you should use a combination of signs such as "AGAIN 
PERFORM.
       <br/>
       <br/>
       In any case I wish you and the students the very best.
       <br/>
       <br/>
       Cordially,
       <br/>
       Dr. Bill
       <br/>
       Lifeprint.com
      </span>
     </p>
     <hr align="left" color="#000000" size="1" width="50%"/>
    </blockquote>
    <hr align="left" color="#000000" size="1"/>
    <hr align="left" color="#000000" size="1"/>
   </font>
   <b>
    <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=XHRNABERKJT4N" rel="nofollow" target="_blank">
     <u>
      DONATE
     </u>
    </a>
   </b>
   <font size="2">
    (
    <i>
     Thanks!
    </i>
    )
   </font>
   <br/>
   <br/>
   <font face="Arial">
    *
   </font>
   Another way to help is to buy something from Dr. Bill's "
   <b>
    <a href="/dictionary/bookstore">
     <u>
      Bookstore
     </u>
    </a>
   </b>
   ."
   <hr align="left" color="#000000" size="1"/>
   <hr color="#000000" size="1"/>
   <p>
   </p>
  </blockquote>
 </body>
</html>