<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   To do the sign for encourage, hold your hands out in front of you as 
			if they were placed on the lower back of a person standing in front 
			of you.  Move your hands forward twice using a small circulating-pushing forward movement as if gently pushing 
	someone along:
   <font face="Arial">
    <br/>
    <br/>
    ENCOURAGE:
   </font>
   <p>
    <img border="0" height="237" src="/images/encourage01.jpg" width="243"/>
    <br/>
    <br/>
   </p>
  </blockquote>
 </body>
</html>