<html>
 <body>
  <blockquote>
   <span style="font-weight: 400">
    <font face="Arial">
     <p>
      END: The non-dominant  hand stays stationary.  The dominant hand moves 
along the top of the non-dominant hand until it reaches "the end" and falls off.
     </p>
     <p>
      If you wanted to say, "The movie has a happy ending," you could
  sign, "IT MOVIE END, HAPPY."
     </p>
     <p>
      <img border="0" height="217" src="/images/end1.jpg" width="217"/>
      <img border="0" height="217" src="/images/end2.jpg" width="217"/>
      <img border="0" height="217" src="/images/end3.jpg" width="217"/>
      <img border="0" height="217" src="/images/end4.jpg" width="217"/>
      <img border="0" height="217" src="/images/end5.jpg" width="217"/>
      <img border="0" height="217" src="/images/end7.jpg" width="217"/>
      <br/>
      <br/>
      <br/>
     </p>
     <hr align="left" color="#000000" size="1" width="50%"/>
     <p>
      Note:  In ASL oftentimes the sign "FINISH" is to be preferred over the 
sign "END."  For example if you wanted to express the idea, "When the movie 
ends, I want you to go straight to the car."  You'd sign, "
      <a href="/dictionary/movie">
       MOVIE
      </a>
      FINISH,
  YOU GO-TO! CAR YOU."
      <br/>
      <br/>
      See:
      <a href="/dictionary/finish">
       FINISH
      </a>
     </p>
    </font>
   </span>
   <hr align="left" color="#000000" size="1" width="50%"/>
   <span style="font-weight: 400">
    <font face="Arial">
     You might want to check out the sign "
     <a href="/dictionary/weekend">
      WEEKEND
     </a>
     ."
     <br/>
     Also see:
     <a href="/dictionary/result">
      RESULT
     </a>
     <br/>
     Also see:
     <a href="/dictionary/consequence">
      CONSEQUENCE
     </a>
     <br/>
     <hr align="left" color="#000000" size="1" width="50%"/>
    </font>
   </span>
  </blockquote>
 </body>
</html>