<html>
 <body>
  <blockquote>
   <p style="margin-top: 0; margin-bottom: 0">
    <span style="font-weight: 400">
     <font face="Arial">
     </font>
    </span>
   </p>
   <hr align="left" color="#000000" size="1" width="50%"/>
   <span style="font-weight: 400">
    <font face="Arial">
     <p style="margin-top: 0; margin-bottom: 0">
      ENVIRONMENT:
      <br/>
      This general sign means such things as "environment / surrounding / context / 
ambiance."
      <br/>
      <br/>
      <img border="0" height="300" src="/images/environment1.jpg" width="300"/>
      <img border="0" height="300" src="/images/environment2.jpg" width="300"/>
      <img border="0" height="300" src="/images/environment3.jpg" width="300"/>
      <br/>
      Note: The fingers do not "flutter" on the above version of this sign.
      <br/>
     </p>
     <hr align="left" color="#000000" size="1" width="50%"/>
     <p style="margin-top: 0; margin-bottom: 0">
      <br/>
      ENVIRONMENT-(version)
      <br/>
      This version of the sign "environment" also means "environment / surrounding / context / 
ambiance."  This version is just a variation in the palm orientation 
of the dominant hand. Note though that the fingers of the dominant hand 
"flutter" a bit throughout this version of the sign:
      <br/>
      <br/>
      <img border="0" height="320" src="/images/environment-14.jpg" width="274"/>
      <img border="0" height="320" src="/images/environment-15.jpg" width="274"/>
      <img border="0" height="320" src="/images/environment-16.jpg" width="274"/>
      <br/>
     </p>
     <hr align="left" color="#000000" size="1" width="50%"/>
     <p style="margin-top: 0; margin-bottom: 0">
      <br/>
      ENVIRONMENT-(initialized version)
      <br/>
      This version of "environment" may be effective for purposes of "disambiguation" 
if you are in a bilingual / bicultural environment wherein both English and ASL 
are being used -- such as a mainstream high-school classroom with an ASL 
interpreter. For example an interpreter upon first usage of the concept 
"environment" in a conversation or discussion may choose to use the initialized 
sign for "ENVIRONMENT" as well as show the non-initialized version.  Upon 
subsequent usage in the same conversation or lecture the interpreter might tend 
to use only the non-initialized version as long as there are no overlapping / 
related concepts being expressed by the English speaker (environment / situation 
/ circumstance / condition / ambiance, etc.).
      <br/>
      If the lecture involves several related concepts, the interpreter or signer may 
be more likely to use the initialized version to make it clear which concept is 
being expressed.
      <br/>
      <br/>
      Other initialized versions of this sign are "CASE / 
CONDITION / CIRCUMSTANCE" as well as "SITUATION."
      <br/>
      <br/>
      ENVIRONMENT: Initialized version:
      <br/>
      <img border="0" height="300" src="/images/environment4.jpg" width="300"/>
      <img border="0" height="300" src="/images/environment5.jpg" width="300"/>
      <img border="0" height="300" src="/images/environment6.jpg" width="300"/>
      <br/>
     </p>
    </font>
   </span>
   <font face="Arial">
   </font>
  </blockquote>
 </body>
</html>