<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   <p>
    The sign for ESTABLISH can be used to mean, "set up" as in, "We set up a
  new ASL club."
    <br/>
    <br/>
    Form both hands into "A"-handshapes.  The thumb on the dominant hand 
	juts out a bit.
    <br/>
    <font face="Arial">
     Think of planting a flag in the soil of the new continent you just found and
  establishing it as your personal domain.
  The dominant hand represents the flag and the back of the non-dominant hand 
	represents the soil.  Do a half-circle with the dominant hand and bring 
	it down onto the non-dominant hand.
    </font>
   </p>
   <p>
    <br/>
    ESTABLISH:
   </p>
   <p>
    <img border="0" height="204" src="/images/establish1.jpg" width="259"/>
    <img border="0" height="204" src="/images/establish2.jpg" width="259"/>
    <img border="0" height="204" src="/images/establish3.jpg" width="259"/>
    <img border="0" height="204" src="/images/establish4.jpg" width="259"/>
    <img border="0" height="204" src="/images/establish5.jpg" width="259"/>
    <img border="0" height="204" src="/images/establish6.jpg" width="259"/>
    <img border="0" height="204" src="/images/establish7.jpg" width="259"/>
    <br/>
   </p>
   <hr color="#000000" size="1"/>
   <a href="/images/establish.gif">
    Establish animation
   </a>
   <br/>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
    <p>
     <br/>
     Notes:
    </p>
    <p>
     This sign is sometimes used as a "classifier" to represent the 
			placement (location and existence) of objects or buildings.
     <br/>
    </p>
   </font>
  </blockquote>
 </body>
</html>