<html>
 <body>
  <blockquote>
   <p>
    Rosie (from Finland) writes:
    <br/>
    <br/>
    Hi Dr Bill
    <br/>
    I know the signs for dollars and cents as they are in your earlier
    <br/>
    lessons, but as I live in Finland, could you please advise on how I
    <br/>
    would sign EURO instead of DOLLAR? We only deal in Euros where I 
			live
    <br/>
    and at the moment, we spell it out. Is there a sign for EURO in ASL?
    <br/>
    Kind regards,
    <br/>
    Rosie
   </p>
   <p>
    <br/>
    -------------------------------------------------
    <br/>
    <br/>
    Rosie,
   </p>
   <p>
    The sign for Euro is (apparently) based on the BSL (British Sign 
			Language) alphabet letter "L".
    <br/>
    (Or at least that is what two different people have told me.)
    <br/>
    This sign is done by laying the index finger of the dominant hand 
			(faced palm down) perpendicular across the palm of the non-dominant 
			flat hand.
   </p>
   <p>
    - Dr. Bill
    <br/>
    <br/>
    EURO:
    <br/>
    <img border="0" height="480" src="/images/euro.jpg" width="480"/>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <br/>
   </p>
   <!--webbot bot="Include" U-Include="../../topics/adsense4.htm" TAG="BODY" startspan -->
   <hr/>
   <br/>
   <!-- 728x15_link_ads_adsense1_bottom -->
   <ins class="adsbygoogle" data-ad-client="ca-pub-2513564923850231" data-ad-slot="2289748297" style="display:inline-block;width:728px;height:15px">
   </ins>
   <br/>
   <!-- 728x15_link_ads_adsense1_bottom -->
   <ins class="adsbygoogle" data-ad-client="ca-pub-2513564923850231" data-ad-slot="2289748297" style="display:inline-block;width:728px;height:15px">
   </ins>
   <br/>
   <!-- 728x15_link_ads_adsense1_bottom -->
   <ins class="adsbygoogle" data-ad-client="ca-pub-2513564923850231" data-ad-slot="2289748297" style="display:inline-block;width:728px;height:15px">
   </ins>
   <br/>
   <br/>
   <!-- 728x90-leaderboard -->
   <ins class="adsbygoogle" data-ad-client="ca-pub-2513564923850231" data-ad-slot="7543121294" style="display:inline-block;width:728px;height:90px">
   </ins>
   <!--webbot bot="Include" i-checksum="54972" endspan -->
   <br/>
   <hr align="left" color="#000000" size="1"/>
   <font face="Arial" size="1">
   </font>
   <input name="cmd" type="hidden" value="_s-xclick"/>
   <input name="hosted_button_id" type="hidden" value="AVN6HZ7MF9WVS"/>
  </blockquote>
 </body>
</html>