<html>
 <body>
  <blockquote>
   <h1 style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     <span style="font-weight: 400">
      <font size="5">
       American Sign Language: "evaporate / 
		take-up / adopt"
      </font>
     </span>
     <br/>
    </font>
   </h1>
   <p>
    <br/>
   </p>
   <p>
    TAKE-UP:
    <br/>
    This sign means:
    <br/>
    -
  to take a class
    <br/>
    -
  to adopt a method or a child
    <br/>
    -
  to evaporate
    <br/>
    It
    <i>
     <b>
      doesn’t
     </b>
    </i>
    mean to “
    <a href="/dictionary/takeaway">
     take from
    </a>
    ”
   </p>
   <p>
   </p>
   <p>
    <img border="0" height="224" src="/images/take.h5.jpg" width="248"/>
    <img border="0" height="224" src="/images/take.h6.jpg" width="248"/>
    <img border="0" height="224" src="/images/take.h7.jpg" width="248"/>
   </p>
   <p>
    <br/>
   </p>
   <hr align="left" color="#000000" size="1"/>
   <hr align="left" color="#000000" size="1"/>
   <hr align="left" color="#000000" size="1"/>
   <hr color="#000000" size="1"/>
   <p>
   </p>
  </blockquote>
 </body>
</html>