<html>
 <body>
  <blockquote>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
    <p>
     The general sign for "exercise" looks somewhat like lifting weights.
     <br/>
    </p>
    <p>
     <br/>
     EXERCISE:
    </p>
    <p>
     <img border="0" height="213" src="/images/exercise1.jpg" width="304"/>
     <img border="0" height="213" src="/images/exercise2.jpg" width="304"/>
     <img border="0" height="213" src="/images/exercise3.jpg" width="304"/>
     <img border="0" height="213" src="/images/exercise4.jpg" width="304"/>
    </p>
    <p>
     <br/>
    </p>
    <hr align="left" color="#000000" size="1" width="50%"/>
    <p>
     Also see:
     <a href="/dictionary/use">
      USE
     </a>
    </p>
    <p>
     Also see:
     <a href="/dictionary/apply">
      APPLY
     </a>
    </p>
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>