<html>
 <body>
  <blockquote>
   <h1 style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     <span style="font-weight: 400">
      <font size="5">
       ASL: "expand"
      </font>
     </span>
     <br/>
    </font>
   </h1>
   <p>
    <br/>
    The American Sign Language (ASL) sign for "expand" varies 
according to the specific concept you want to express.  So do not think of 
there as being a single specific sign for the concept of "expand."
    <br/>
    <br/>
    If you mean expand as in to "elaborate on," "provide context for," "give 
pertinent details and background regarding," and similar concepts you can use 
this version:
    <br/>
    <br/>
    EXPAND-[give a more elaborate version or account of]
    <br/>
    <img border="0" height="320" src="/images/expand-1.jpg" width="354"/>
    <img border="0" height="320" src="/images/expand-2.jpg" width="354"/>
    <br/>
    <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/Cp-KqCOSMqI" width="560">
    </iframe>
   </p>
   <p>
   </p>
   <hr/>
   <p>
    <br/>
    If you mean "expand" as in to "become more extensive or larger" 
in regard to concepts such as "expanding on a vision, dream, cloud, concept, or 
goal" -- you can use this 
version:
    <br/>
    <br/>
    EXPAND-[become larger or more extensive / to billow]-[upright version]
    <br/>
    <img border="0" height="320" src="/images/expand-3.jpg" width="354"/>
    <img border="0" height="320" src="/images/expand-4.jpg" width="354"/>
    <br/>
    <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/kgyKw_bgwSw" width="560">
    </iframe>
    <br/>
    The above version can also mean "to balloon up," "to swell up," "billow," and 
similar concepts.
    <br/>
    The above version can even be used to indicate "having a vision" (especially if 
you flutter the fingers a bit during the expansion phase but do NOT keep 
fluttering them at the end of the sign -- that wouldn't be a vision that would 
be more like a psychedelic trip* from LSD [*I'm not speaking from experience. 
Honestly, I'm not.  No, really!]).
    <br/>
   </p>
   <hr/>
   <p>
    <br/>
    If you mean "expand" as in to "become more extensive or larger" 
in regard to things such as cities, construction developments, and stuff that 
expands horizontally -- you can use this version:
    <br/>
    <br/>
    EXPAND-[become larger or more extensive]-[horizontal version]
    <br/>
    <img border="0" height="320" src="/images/expand-5.jpg" width="354"/>
    <img border="0" height="320" src="/images/expand-6.jpg" width="354"/>
    <br/>
    <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/f_RPHF1bBKU" width="560">
    </iframe>
   </p>
   <p>
    <br/>
   </p>
   <hr/>
   <p>
    <br/>
    If you mean "expand" as in a "menu list of items," hyponymy, or a "drop down 
menu" use this version:
    <br/>
    <br/>
    EXPAND-[list of sub-items]
    <br/>
    <img border="0" height="320" src="/images/expand-7.jpg" width="354"/>
    <img border="0" height="320" src="/images/expand-8.jpg" width="354"/>
    <img border="0" height="320" src="/images/expand-9.jpg" width="354"/>
    <br/>
    <br/>
    <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/4C3GezBwB0o" width="560">
    </iframe>
   </p>
   <hr/>
   <p>
   </p>
   <p>
    If you mean "expand" as in dough (or bread) expanding or rising you can depict that with 
this version:
    <br/>
    <br/>
    EXPAND-[as in dough rising]
    <br/>
    <img border="0" height="320" src="/images/expand-10.jpg" width="354"/>
    <img border="0" height="320" src="/images/expand-11.jpg" width="354"/>
    <br/>
    <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/H91-jiWRH3c" width="560">
    </iframe>
    <br/>
    The above version can also mean "to swell up" when referring to things that were 
somewhat flat and then became larger (such as a thick crust pizza or a layer of 
a layer cake).
    <br/>
    <br/>
    If you mean "expand" as in "increase," see:
    <a href="/dictionary/increase">
     INCREASE
    </a>
    <br/>
    If you mean "expanding waistline" see:
    <a href="/dictionary/fat">
     FAT
    </a>
    <br/>
    If you mean expanding your skill set see:
    <a href="/dictionary/improve">
     IMPROVE
    </a>
    <br/>
    If you mean: expand your horizons, see: "
    <a href="https://youtu.be/xauWp5DgUvE">
     LEARN 
NEW THINGS YOU LIKE?
    </a>
    "
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p>
    Notes:
    <br/>
    Also see:
    <a href="/dictionary/pregnant">
     PREGNANT
    </a>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1"/>
   <hr align="left" color="#000000" size="1"/>
   <hr align="left" color="#000000" size="1"/>
   <hr color="#000000" size="1"/>
   <p>
   </p>
  </blockquote>
 </body>
</html>