<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   <p>
    <br/>
    Both hands are in "F" handshapes.  Use an alternating forward 
			and back motion.  As you
  slide one hand forward, slide the other backward. Repeat a couple times. 
  The hands do
    <b>
     not
    </b>
    go up and down, just forward and back.
    <font face="Arial">
     <br/>
     <br/>
     EXPLAIN:
    </font>
   </p>
   <p>
    <font face="Arial">
     <img border="0" height="79" src="/images/explain.gif" width="153"/>
    </font>
   </p>
   <p>
    <img border="0" height="211" src="/images/explain1.jpg" width="231"/>
    <img border="0" height="211" src="/images/explain2.jpg" width="231"/>
    <img border="0" height="211" src="/images/explain3.jpg" width="231"/>
    <img border="0" height="211" src="/images/explain4.jpg" width="231"/>
    <img border="0" height="211" src="/images/explain5.jpg" width="231"/>
    <img border="0" height="211" src="/images/explain6.jpg" width="231"/>
    <img border="0" height="211" src="/images/explain7.jpg" width="231"/>
    <br/>
    <br/>
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p style="margin-top: 0; margin-bottom: 0">
    <br/>
    Sample sentence:
			Can you explain algebra to me? = ALGEBRA CAN YOU EXPLAIN ME?
    <br/>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <br/>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
   <p style="margin-top: 0; margin-bottom: 0">
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    Notes:
    <br/>
    <font face="Arial">
     If you move your hands ("F" handshapes) up and down alternately it means "judge/court/if."
    </font>
    <br/>
   </p>
   <font face="Arial">
    <p style="margin-top: 0; margin-bottom: 0">
    </p>
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>