<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   <p style="margin-top: 0; margin-bottom: 0">
    The sign for "eyes" is easy, just point to each eye.
    <br/>
   </p>
   <p>
    <br/>
    EYES:
    <br/>
    <img border="0" height="224" src="/images/eyes1.jpg" width="211"/>
    <img border="0" height="224" src="/images/eyes4.jpg" width="211"/>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <br/>
    Sample sentence:  "Are your dad's eyes blue?"
    <br/>
    <br/>
   </p>
  </blockquote>
 </body>
</html>