<html>
 <body>
  <blockquote>
   <font face="Arial">
    <h2 style="margin-top: 0; margin-bottom: 0">
     <span style="font-weight: 400">
      American Sign Language:  "facebook"
     </span>
    </h2>
    <blockquote>
     <hr align="left" color="#000000" size="1" width="50%"/>
     <span style="font-weight: 400">
      <p style="margin-top: 0; margin-bottom: 0">
       FACEBOOK:
       <br/>
       Most skilled Deaf signers do this sign by spelling the letters FB.
      </p>
      <p style="margin-top: 0; margin-bottom: 0">
       <iframe allowfullscreen="" frameborder="0" height="315" name="I1" src="https://www.youtube.com/embed/t17CyIOXPS4?rel=0" width="560">
       </iframe>
       <img border="0" height="300" src="/images/facebook.gif" width="300"/>
       <br/>
      </p>
      <hr color="#000000" size="1"/>
      <hr color="#000000" size="1"/>
      <p style="margin-top: 0; margin-bottom: 0">
      </p>
      <p style="margin-top: 0; margin-bottom: 0">
       FACEBOOK (2)
       <br/>
       (variation)
       <br/>
       <br/>
       This version is a pun that combines aspects of the signs for BOOK and FACE.
      </p>
      <p style="margin-top: 0; margin-bottom: 0">
      </p>
      <p style="margin-top: 0; margin-bottom: 0">
       Signing notes: As of early 2010 
this version is  for the most part simply an amusing neologism (emerging 
sign). It will be
       <br/>
       interesting to track this version and see if it will become more widely used or if it will fade out over time. (Time will tell.)
      </p>
      <p style="margin-top: 0; margin-bottom: 0">
      </p>
      <hr color="#000000" size="1"/>
      <p style="margin-top: 0; margin-bottom: 0">
       Also see:
       <a href="/dictionary/book">
        BOOK
       </a>
       <br/>
       Also see:
       <a href="/dictionary/face">
        FACE
       </a>
      </p>
      <hr align="left" color="#000000" size="1" width="50%"/>
     </span>
    </blockquote>
    <hr align="left" color="#000000" size="1"/>
    <hr align="left" color="#000000" size="1"/>
   </font>
   <b>
    <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=XHRNABERKJT4N" rel="nofollow" target="_blank">
     <u>
      DONATE
     </u>
    </a>
   </b>
   <font size="2">
    (
    <i>
     Thanks!
    </i>
    )
   </font>
   <br/>
   <br/>
   <font face="Arial">
    *
   </font>
   Another way to help is to buy something from Dr. Bill's "
   <b>
    <a href="/dictionary/bookstore">
     <u>
      Bookstore
     </u>
    </a>
   </b>
   ."
   <hr align="left" color="#000000" size="1"/>
   <hr color="#000000" size="1"/>
   <p>
   </p>
  </blockquote>
 </body>
</html>