<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   <p>
    <font face="Arial">
     There are lots of ways to "fail." The right way to "fail" depends on your 
meaning.
    </font>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
   <p>
    <font face="Arial">
     <br/>
     The general sign for failure (as in the opposite of success) slides 
the
    </font>
    dominant V (or K) hand (palm up) slides across the top of the 
non-dominant flat hand palm from the butt of the hand to past the fingertips.
    <font face="Arial">
     <br/>
     <br/>
     FAIL (in general)
    </font>
    <br/>
    <img border="0" height="219" src="/images/fail1.jpg" width="218"/>
    <img border="0" height="219" src="/images/fail2.jpg" width="218"/>
    <img border="0" height="219" src="/images/fail3.jpg" width="218"/>
    <img border="0" height="219" src="/images/fail4.jpg" width="218"/>
    <br/>
    <br/>
    Note:  The graphics are in the right order.  The first graphic shows 
the right hand starting its movement from above and behind the left hand.  
Then it slides across the left palm and off into the air a couple inches.
    <br/>
   </p>
   Animated: "fail"
   <br/>
   <img border="0" height="76" src="/images/fail.gif" width="126"/>
   <p>
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p>
    FAIL as in "get an F on your paper."
   </p>
   <p>
    <img border="0" height="204" src="/images/fail.h11.gif" width="197"/>
    <img border="0" height="204" src="/images/fail.h12.gif" width="197"/>
    <img border="0" height="204" src="/images/fail.h13.gif" width="197"/>
    <br/>
    <br/>
    Sample sentence: Have you ever gotten an F in class before?
    <br/>
    <br/>
   </p>
   <p>
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p>
    <br/>
    FAIL as in "lose a competition":
   </p>
   <p>
    <img border="0" height="210" src="/images/fail.h14.jpg" width="205"/>
    <img border="0" height="210" src="/images/fail.h15.jpg" width="205"/>
    <img border="0" height="210" src="/images/fail.h16.jpg" width="205"/>
   </p>
   <p>
    <br/>
    Animation:
    <br/>
    <img border="0" height="210" src="/images/faild.gif" width="205"/>
   </p>
   <br/>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>