<html>
 <body>
  <blockquote>
   <h1 style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     <span style="font-weight: 400">
      <font size="5">
       American Sign Language: 
		"fairy"
      </font>
     </span>
     <br/>
    </font>
   </h1>
   <p>
   </p>
   <hr align="left" color="#000000" size="1" width="50%"/>
   <span style="font-weight: 400">
    <font color="#000000" face="Arial" id="role_document">
     <div>
      <div>
      </div>
     </div>
    </font>
    <font face="Arial">
     <font color="#000000" face="Arial" id="role_document">
      <p>
       FAIRY:
      </p>
     </font>
     <font color="#000000" face="Arial" id="role_document" size="2">
      <p>
       <iframe allowfullscreen="" frameborder="0" height="315" name="I1" src="https://www.youtube.com/embed/jv3O2PnPbHc?rel=0" width="560">
       </iframe>
      </p>
      <hr align="left" color="#000000" size="1"/>
     </font>
    </font>
    <font color="#000000" face="Arial" id="role_document">
     <p>
      Notes:
     </p>
     <p>
      In a message dated 5/4/2005 9:13:11 AM Pacific Daylight Time, 
				anni@welborne.com writes:
     </p>
     <blockquote style="PADDING-LEFT: 5px; MARGIN-LEFT: 5px; BORDER-LEFT: blue 2px solid">
      <font color="#000000" face="Arial" style="BACKGROUND-COLOR: transparent">
       <div class="Section1">
        <p class="MsoNormal">
         <font face="Arial">
          <span style="FONT-FAMILY: Arial">
           A friend 
					of mine collects fairies and wanted to know the sign.
           <br/>
           Thanks for your help.
           <br/>
           Anni W______
           <br/>
           West Lafayette, IN
          </span>
         </font>
        </p>
       </div>
      </font>
     </blockquote>
    </font>
    <font color="#000000" face="Arial" id="role_document0">
     <div>
      <div>
       Anni,
      </div>
      <div>
       The sign for Fairy is generally done by signing "ANGEL" (wing 
				version) but using "F" handshapes instead of "flat" hands.  If a 
				person wanted to indicate the concept of FAIRY but not use an 
				initialized sign he or she could sign ANGEL and then "flap" the 
				wings a bit from the large knuckles only.
      </div>
      <div>
       Bill
      </div>
     </div>
    </font>
   </span>
   <p>
   </p>
   <p>
    The sign FAIRY is based on the sign ANGEL.
   </p>
   <p>
    See:
    <a href="/dictionary/angel">
     ANGEL
    </a>
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1"/>
   <hr align="left" color="#000000" size="1"/>
   <hr color="#000000" size="1"/>
   <p>
   </p>
  </blockquote>
 </body>
</html>