<html>
 <body>
  <blockquote>
   <h1 style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     <span style="font-weight: 400">
      <font size="5">
       American Sign Language: "familiar"
      </font>
     </span>
     <br/>
    </font>
   </h1>
   <p>
    <br/>
    A student named Judy writes:
    <br/>
    <br/>
    Hi Dr. Bill.
    <br/>
    I have been studying from Lifeprint.com for a couple of years now, with a goal 
to become a fluent ASL signer. I have emailed you in the past.  I usually 
can figure out my questions on my own or simply wait and eventually run into the 
answer somewhere. This time the answer hasn't found me and I need some help.
    <br/>
    <br/>
    My question is about the use of the sign that I associate with "familiar," (the 
"KNOW" sign done on the cheek).  I have seen "FAMILIAR" used at the 
beginning of a series of signs intended to describe something. For example many 
of the signs I see online for specialty objects such as tools or hardware (like 
a "Phillips screwdriver") start with "FAMILIAR" followed by a descriptive 
component.  I saw you do something similar on your website when you 
described a silver dollar.
    <br/>
    <br/>
    I feel like I almost get the concept of how this sign (KNOW) is being used in 
this context, but not quite. Can you help me understand it better?  Some 
way to think about it?
    <br/>
    <br/>
    Regards,
    <br/>
    Judy
    <br/>
   </p>
   <p>
   </p>
   <p>
    Judy,
    <br/>
    The inflection of the sign KNOW that creates the meaning of "familiar" isn't the 
location on the cheek but rather the double movement. FAMILIAR can be done on
    <i>
     either
    </i>
    the cheek or the forehead using a double contact. This double 
movement creates the meaning of "I know about it already," "I'm aware of," or "I 
am familiar with that concept."
    <br/>
    <br/>
    What tends to be happening when the sign for FAMILIAR occurs at the beginning of 
a sentence is the signer is using raised eyebrows to create a yes/no question 
(such as "Are you...?") --  which results in the concept of, "Are you 
familiar with...?"
    <br/>
    Thus the signs "YOU KNOW KNOW (insert-topic) YOU?"-(with_raised_eyebrows) can be 
thought of as: "YOU FAMILIAR-with (topic) are-YOU?"
    <br/>
    <br/>
    The phrase: "YOU FAMILIAR SILVER DOLLAR YOU?"-(raised_eyebrows) means "Are you 
familiar with silver dollars?" -- which is the equivalent of "Have you ever 
heard of a silver dollar?" and/or "Do you know what a silver dollar is?"  
At which point the other person either nods or gives a negative indication. Then 
the first signer
    <br/>
    can either explain (if needed) or proceed with a question or statement depending 
on whether the other person knows about the topic or not.  This helps save 
time by avoiding the need to explain obscure (or uncommon) topics by checking to 
see if the signing partner is already familiar with the topic.
    <br/>
    Cordially,
    <br/>
    - Dr. Bill
   </p>
   <div>
   </div>
   <hr align="left" color="#000000" size="1"/>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p>
    Notes:
    <br/>
    See:
    <a href="/dictionary/know">
     KNOW
    </a>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1"/>
   <hr align="left" color="#000000" size="1"/>
   <hr align="left" color="#000000" size="1"/>
   <hr color="#000000" size="1"/>
   <p>
   </p>
  </blockquote>
 </body>
</html>