<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   <p>
    <br/>
    <font face="Arial">
     To sign "fancy,"
you brush the tip of the thumb of your right five-hand twice on your chest using
an upward motion.  The hand moves in a large circle, up, out, down, back.  
  It is on the upward stroke that the thumb-tip touches the chest.  The 
  sign "polite" uses a smaller movement.  The sign fancy uses a larger 
  movement.
     <br/>
    </font>
    <br/>
    FANCY:
    <br/>
    <img border="0" height="368" src="/images/fancyb.gif" width="300"/>
    <font face="Arial">
     <img border="0" height="223" src="/images/fancy.gif" width="201"/>
     <br/>
    </font>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
    <p>
     Also see:
     <a href="/dictionary/fine">
      FINE
     </a>
    </p>
    <hr align="left" color="#000000" size="1"/>
   </font>
   <p style="margin-top: 0; margin-bottom: 0">
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>