<html>
 <body>
  <blockquote>
   <h1 style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     <span style="font-weight: 400">
      <font size="5">
       ASL: "fault"
      </font>
     </span>
     <br/>
    </font>
   </h1>
   <p>
   </p>
   <p>
    <span style="font-weight: 400">
     FAULT: As in "responsible for something bad":
     <br/>
     <img border="0" height="224" src="/images/respon10.jpg" width="229"/>
     <img border="0" height="224" src="/images/respon11.jpg" width="229"/>
     <img border="0" height="224" src="/images/respon12.jpg" width="229"/>
    </span>
   </p>
   <p>
    Here's a view of the sign "FAULT" from an angle:
    <br/>
    <img border="0" height="83" src="/images/respon13.jpg" width="88"/>
    <img border="0" height="83" src="/images/respon14.jpg" width="88"/>
   </p>
   <p>
    <br/>
    Animated gif: "FAULT"
   </p>
   <p>
    <img border="0" height="224" src="/images/fault.gif" width="229"/>
    <br/>
   </p>
   <hr/>
   <p style="margin-top: 0; margin-bottom: 0">
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    The sign "BLAME" or "to charge with 
wrongdoing" can be aimed toward oneself to mean:
    <br/>
    They said it was my fault!
    <br/>
    I was blamed.
    <br/>
    Accused me.
    <br/>
    I was charged with wrongdoing.
    <br/>
    It was my responsibility for the bad thing that happened.
    <br/>
    <br/>
    BLAME-me
    <br/>
    <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" height="315" name="I1" src="https://www.youtube.com/embed/0RPmhAGfwjs?rel=0" width="560">
    </iframe>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr/>
   <p style="margin-top: 0; margin-bottom: 0">
    <br/>
    FAULT-[geological]
    <br/>
    If you mean "fault" as in "a geological fault" such as a crack in the strata 
(layers) of the earth then see the page:
    <a href="/dictionary/crack">
     CRACK
    </a>
    but 
do the sign horizontally (not vertically -- unless you are talking about a fault 
in the side of a mountain).
   </p>
   <p>
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p>
    Notes:
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <span style="font-weight: 400">
     For a related discussion, see the "
     <a href="/dictionary/shortcomings" style="text-decoration: none">
      SHORTCOMINGS
     </a>
     " 
page.
     <br/>
     Also see "
     <a href="/dictionary/responsible" style="text-decoration: none">
      RESPONSIBLE
     </a>
     "
     <br/>
     Also see "
     <a href="/dictionary/blame" style="text-decoration: none">
      BLAME
     </a>
     "
    </span>
    <br/>
   </p>
   <hr align="left" color="#000000" size="1"/>
   <hr align="left" color="#000000" size="1"/>
   <hr align="left" color="#000000" size="1"/>
   <hr color="#000000" size="1"/>
   <p>
   </p>
  </blockquote>
 </body>
</html>