<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   <p style="margin-top: 0; margin-bottom: 0">
    The sign for "fear"
    <font face="Arial">
     is sort of like a 
	wave of fear shooting through your body.
    </font>
    <br/>
    <br/>
   </p>
   <p>
    FEAR / afraid /
  scared :
   </p>
   <p>
    <img border="0" height="228" src="/images/afraidc1.jpg" width="310"/>
    <img border="0" height="228" src="/images/afraidc3.jpg" width="310"/>
    <img border="0" height="228" src="/images/afraidc4.jpg" width="310"/>
   </p>
   <hr align="left" color="#000000" size="1" width="50%"/>
   <p style="margin-top: 0; margin-bottom: 0">
    <br/>
    Sample sentence:
	YOU FEAR WHAT? (What are you afraid of? What scares you?)
    <br/>
    <br/>
    <br/>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
   <p style="margin-top: 0; margin-bottom: 0">
    Also see:
    <a href="/dictionary/facial-expressions-in-sign-language">
     "Facial 
	Expressions in Sign Language"
    </a>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>