<html>
 <body>
  <blockquote>
   <p align="right">
    <img alt="back.gif (1674 bytes)" border="0" height="28" onclick="history.go(-1)" src="/images/back.gif" width="54"/>
   </p>
   <p>
    <b>
     Sign
    </b>
    :  FEATHER
   </p>
   <hr color="#800080"/>
   <div>
    <div>
     In a message dated 4/21/2006 9:13:32 PM Pacific Daylight Time, reina@ 
		writes:
    </div>
    <blockquote style="PADDING-LEFT: 5px; MARGIN-LEFT: 5px; BORDER-LEFT: blue 2px solid">
     <font color="#000000" face="Arial" size="2" style="BACKGROUND-COLOR: transparent">
      Since your site doesn't include a sign for "feather", I thought I would
		share the sign that my husband created. (We looked for it in the big 
		Canadian ASL dictionary from the library and it said to finger-spell
		it!) So.... hold the initial F hand out to the side (as on a bird's 
		wing) and swoop it gently back and forth and slightly downward each 
		time. I was very taken with this sign as it seemed so appropriate, so I
		wanted to share it with you. And, in so doing, check that there isn't
		some other meaning for this gesture that we novices don't know.
     </font>
    </blockquote>
   </div>
   <div>
    Reina,
    <br/>
    That is a great sign you have come up with.
    <br/>
    You may be glad to know that it is one of three variations that I support.
    <br/>
    1.  "F" hand floating downward, side to side, in the manner of a falling 
	feather.
    <br/>
    2.  Closed G-hand up near the side of your head, changes into a wide "G" 
	hand as it moves up and then changes back into a closed "G-hand" as if showing a feather in a head-dress worn by 
	a Native American.
    <br/>
    3.  Two closed "G" hands holding the base of a feather. The dominant hand moves up 
	and to the side at an angle as it changes into an "open-G hand" and back 
	into a closed G-hand as if showing the shape of a feather.
    <br/>
    Bill
   </div>
   <hr color="#800080"/>
   <p align="right">
    <img alt="back.gif (1674 bytes)" border="0" height="28" onclick="history.go(-1)" src="/images/back.gif" width="54"/>
    <br/>
    <br/>
   </p>
   <p>
   </p>
  </blockquote>
 </body>
</html>