<html>
 <body>
  <blockquote>
   <font face="Arial">
    <h1 style="margin-top: 0; margin-bottom: 0">
     <span style="font-weight: 400">
      <font size="5">
       American Sign Language: "feel" / sense / mood / 
		feelings
      </font>
     </span>
     <br/>
    </h1>
    <blockquote>
     <hr align="left" color="#000000" size="1"/>
     <p style="margin-top: 0; margin-bottom: 0">
      The sign for "feel" uses the middle finger bent at the large knuckle.  The tip of the middle 
finger moves upward along the chest as if representing the feelings inside of 
you.  Note:  The finger doesn't actually need to touch the chest.  
In faster signing it tends to NOT touch the chest . But it is very common to 
	touch the chest.  
Also, you might see it done with a double movement which tends to mean 
"feelings."  Or I've seen this in the sentence, HOW YOU FEEL?  
(with a double movement of "feel") to mean "How are you feeling?"  
	Note: The sign "HOW" in that sentence is optional if you use the "wh"-facial 
	expression with the sign for "FEEL.
      <br/>
      <br/>
      FEEL:
     </p>
     <p style="margin-top: 0; margin-bottom: 0">
      <iframe allow="autoplay; encrypted-media" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/UxO5Q0fSqOw?rel=0" width="560">
      </iframe>
      <br/>
      <br/>
      <img border="0" src="/images/feel.gif" style="max-width: 100%; height: auto" width="480"/>
      <br/>
     </p>
     <p style="margin-top: 0; margin-bottom: 0">
      <img border="0" height="320" src="/images/sense.40.jpg" width="295"/>
      <img border="0" height="320" src="/images/sense.44.jpg" width="295"/>
      <img border="0" height="320" src="/images/sense.45.jpg" width="295"/>
     </p>
     <hr color="#800080"/>
     <p>
      FEELINGS:
     </p>
     <p>
      <iframe allow="autoplay; encrypted-media" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/q1muj-SHunM?rel=0" width="560">
      </iframe>
      <br/>
      <br/>
      <img border="0" src="/images/feelings.gif" style="max-width: 100%; height: auto" width="480"/>
     </p>
     <hr align="left" color="#000000" size="1"/>
     <p>
      Notes:  For a discussion regarding the concept of "feel like" see:  
	"
      <a href="/dictionary/feel-like">
       FEEL-LIKE
      </a>
      ."
     </p>
    </blockquote>
    <hr align="left" color="#000000" size="1"/>
    <hr align="left" color="#000000" size="1"/>
   </font>
   <b>
    <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=XHRNABERKJT4N" rel="nofollow" target="_blank">
     <u>
      DONATE
     </u>
    </a>
   </b>
   <font size="2">
    (
    <i>
     Thanks!
    </i>
    )
   </font>
   <br/>
   <br/>
   <font face="Arial">
    *
   </font>
   Another way to help is to buy something from Dr. Bill's "
   <b>
    <a href="/dictionary/bookstore">
     <u>
      Bookstore
     </u>
    </a>
   </b>
   ."
   <hr align="left" color="#000000" size="1"/>
   <hr color="#000000" size="1"/>
   <p>
   </p>
  </blockquote>
 </body>
</html>