<html>
 <body>
  <blockquote>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
    <p>
     The general sign for "feet" (as in those things at the 
			end of your legs) is done by pointing downward at your feet.  
			First point at one foot, and then make a little arcing movement and 
			point at the other foot.
     <br/>
     <br/>
     FEET (general, human)
     <br/>
     [insert graphic here]
    </p>
    <p>
    </p>
    <hr align="left" color="#000000" size="1" width="50%"/>
    <p>
     <br/>
     After you have identified that you are discussing a certain type of 
			feet.
     <br/>
     <br/>
     FEET (human, classifier, depictive sign version)
     <br/>
     [insert graphic here]
    </p>
    <p>
     <br/>
     FEET (bird, classifier, depictive sign version)
    </p>
    <p>
     [insert graphic here]
    </p>
    <p>
    </p>
    <p>
     FEET (cloven-footed animal, classifier, depictive sign version)
    </p>
    <p>
     [insert graphic here]
    </p>
    <p>
    </p>
    <p>
     FEET (hoofed animal, classifier, depictive sign version)
    </p>
    <p>
     [insert graphic here]
    </p>
    <p>
    </p>
    <p>
     FEET (human feet wearing "high heels", classifier, depictive sign 
			version)
     <br/>
    </p>
    <hr align="left" color="#000000" size="1" width="50%"/>
    <p>
    </p>
    <p>
     If you are talking about a distance measured in "feet" then the 
			way to sign that would be to fingerspell "FT" after stating the 
			number.
     <br/>
    </p>
    <p>
     FEET (unit of measurement)
     <br/>
    </p>
    <hr align="left" color="#000000" size="1" width="50%"/>
    <p>
     <br/>
     If you are discussing the height of a person, the concept of "feet" 
			is incorporated into the signing of the number. For example, if you 
			wanted to state that someone is about "five foot seven inches" you 
			would sign: APPROXIMATE 5-(foot) 7-(inch) -- wherein the 5 would be 
			done higher than the normal fingerspelling position and the 7 would 
			be done a bit further to the right of (and perhaps a little bit 
			higher than) where you did the number 5. You would not need a 
			separate sign for "feet" nor "inches" in that situation because the 
			meaning is obvious from the context and from the location (up near 
			the head) in which you are doing the numbers.
     <br/>
    </p>
    <p>
     FEET (height of a human)
    </p>
    <p>
     <br/>
    </p>
    <hr align="left" color="#000000" size="1" width="50%"/>
    <p>
     <br/>
     NOTES:
     <br/>
     <br/>
     In a message dated 1/8/2013 12:25:35 P.M. Pacific Standard Time, 
			tarasalazar______ writes:
     <br/>
     Dr. Vicars,
     <br/>
     I recently started trying to teach myself sign language and came 
			across your website and am thrilled to start learning from it. I 
			have a 1 year old daughter that I am teaching baby sign but that was 
			why I became interested and thought it would be a good idea to 
			actually know the language too.
     <br/>
     Anyway, my question is in regard to signing foot/feet. I saw the 
			information in your online dictionary section on the sign for 
			'foot/feet' but I had also seen someone do 'feet' the same as shoes 
			except using the 'f' handshapes. Is that a signed English version? 
			Thank you for your time!!
     <br/>
     - Tara Lancaster
     <br/>
     <br/>
     Dear Tara,
     <br/>
     That version you mention (using "F" hands for the "SHOE" sign) is 
			indeed signed English. I do not recommend you use that "F" handed 
			version.
     <br/>
     Instead I recommend you simply point at your feet (first one and 
			then the other).
     <br/>
    </p>
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>