<html>
 <body>
  <blockquote>
   <h1 style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     <span style="font-weight: 400">
      <font size="5">
       ASL: "fence"
      </font>
     </span>
     <br/>
    </font>
   </h1>
   <p>
    <br/>
    Discussion:
   </p>
   <p>
    The general sign for "fence" (as in a type of enclosure) uses 
			"4"-hands, held in the neutral space in front of the body, pointing 
			at each other, tips of middle fingers almost touching, palms facing 
			backward. Move your hands out (away from each other) toward your 
			sides.  Memory aid: The fingers look like the long wooden poles 
			in old-fashioned log fences.
    <br/>
    <br/>
    FENCE (general)
   </p>
   <p>
    <img border="0" height="300" src="/images/fence.1.jpg" width="402"/>
    <img border="0" height="300" src="/images/fence.2.jpg" width="402"/>
    <img border="0" height="300" src="/images/fence.3.jpg" width="402"/>
   </p>
   <p>
    <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/V6fLSvCCkWs" width="560">
    </iframe>
   </p>
   <p>
   </p>
   <p>
    FENCE (animation)
    <br/>
    <img border="0" height="240" src="/images/fence.gif" width="322"/>
   </p>
   <p>
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p>
    Notes:
   </p>
   <p>
    If you mean "fence" as in a specific type of fence, then use a "
    <a href="/dictionary/classifiers-frame">
     CLASSIFIER
    </a>
    " 
			to show what it looks like.
    <br/>
    For example: For the concept of a picket "fence" you could use a
    <a href="/dictionary/cl4">
     CL-4 handshape
    </a>
    :
    <br/>
    <br/>
    FENCE: "picket-style fence"
    <br/>
    <img border="0" height="240" src="/images/fence-picket.gif" width="320"/>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <br/>
   </p>
   <hr align="left" color="#000000" size="1" width="50%"/>
   <p style="margin-top: 0; margin-bottom: 0">
    If you mean "fence" as in 
			"fencing with foils" do a quick mime-like movement as if you were 
			swishing a fencing "foil" (sword) in the air.
   </p>
   <hr align="left" color="#000000" size="1" width="50%"/>
   <p style="margin-top: 0; margin-bottom: 0">
    If you mean "fence" as in 
			"fencing stolen goods" use the sign "SELL" while you stretch your 
			neck a bit and look around as if scanning for cops. It helps to do 
			it off toward the side a bit as if implying that you are using your 
			body to shield the action from prying eyes.
   </p>
   <hr align="left" color="#000000" size="1" width="50%"/>
   <p style="margin-top: 0; margin-bottom: 0">
    If you mean "fence" as in 
			a person to whom you bring stolen goods for the purpose for 
			exchanging the stolen items for money, either spell the word 
			"F-E-N-C-E" or use the non-initialized "PERSON" sign after the sign 
			for SELL (to create "seller") and if needed for clarity you can add 
			the "EXCHANGE" sign.
   </p>
   <hr align="left" color="#000000" size="1" width="50%"/>
   <p style="margin-top: 0; margin-bottom: 0">
    Also see:
    <a href="/dictionary/america">
     AMERICA
    </a>
    <br/>
    Also see:
    <a href="/dictionary/chain">
     CHAIN
    </a>
    <br/>
    Also see: "
    <a href="/dictionary/fencing-sport">
     fencing
    </a>
    "
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1"/>
   <hr align="left" color="#000000" size="1"/>
   <hr align="left" color="#000000" size="1"/>
   <hr color="#000000" size="1"/>
   <p>
   </p>
  </blockquote>
 </body>
</html>