<html>
 <body>
  <blockquote>
   <h1 style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     <span style="font-weight: 400">
      <font size="5">
       American Sign Language: 
		"file"
      </font>
     </span>
     <br/>
    </font>
   </h1>
   <p>
   </p>
   <hr align="left" color="#000000" size="1" width="50%"/>
   <div>
    <div>
     <p class="MsoNormal">
      <font color="black" face="Arial" size="2">
       <span style="FONT-SIZE: 10pt; COLOR: black; FONT-FAMILY: Arial">
        In a message dated 1/11/2007 8:28:12 A.M. Pacific 
			Standard Time, spatterson@ writes:
       </span>
      </font>
     </p>
    </div>
    <blockquote style="BORDER-RIGHT: medium none; PADDING-RIGHT: 0in; BORDER-TOP: medium none; MARGIN-TOP: 5pt; PADDING-LEFT: 4pt; MARGIN-BOTTOM: 5pt; PADDING-BOTTOM: 0in; MARGIN-LEFT: 3.75pt; BORDER-LEFT: blue 1.5pt solid; PADDING-TOP: 0in; BORDER-BOTTOM: medium none">
     <div>
      <p class="MsoNormal">
       <font color="black" face="Arial" size="2">
        <span style="FONT-SIZE: 10pt; COLOR: black; FONT-FAMILY: Arial">
         Hey there!
         <br/>
         I hope that you’re having an excellent new year (so far)!
         <br/>
         My progress with ASL is going very well thanks to your resources as well as practicing with my deaf co-worker.
         <br/>
         I was trying to figure out the best sign for “file” or “document” as it’s used in computer lingo.
         <br/>
         I couldn’t find either in the dictionary links, and my friend seems to be unsure of the best sign to use in this 
				situation.
         <br/>
         For now, instead of signing “save new file”, I’m signing “save new”, which seems to work fine.
         <br/>
         I’d appreciate your thoughts!
         <br/>
         best wishes,
         <br/>
         -steve
        </span>
       </font>
      </p>
     </div>
    </blockquote>
   </div>
   <div>
    <p class="MsoNormal">
     <font color="black" face="Arial" size="2">
      <span style="FONT-SIZE: 10pt; COLOR: black; FONT-FAMILY: Arial">
       Response:  There are a couple ways to show that 
		concept.  A good way to do the sign FILE is to hold up the left five hand, palm facing right, fingers pointing up.  
		Stick the pinkie side of the right flat hand (similar to a "B" hand) in between the middle and ring fingers of the left B 
		hand as if placing a document in to a folder. (If you are left handed just do a mirror image of the above.)
       <br/>
       If you do the movement once, it would mean the process:  "to file."  If you do the movement twice, it would mean 
		the noun, "a file."
      </span>
     </font>
    </p>
   </div>
   <p>
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1"/>
   <hr align="left" color="#000000" size="1"/>
   <hr color="#000000" size="1"/>
   <p>
   </p>
  </blockquote>
 </body>
</html>