<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1" width="50%"/>
   <span style="font-weight: 400">
    <font face="Arial">
     <p style="margin-top: 0; margin-bottom: 0">
      FINISH:
      <br/>
      <font size="+1">
       T
      </font>
      he sign for "finish"
is made by placing both of your open hands in front of you. 
Each hand should face you, with your fingers pointing upward. 
Twist both hands quickly a couple times ending with the palms pointing 
(somewhat) forward.  You can also do this sign with just a single twist 
which makes it seem more "final."
      <br/>
      <br/>
      <img border="0" src="/images/finish.gif" style="max-width: 100%; height: auto" width="480"/>
      <img height="179" src="/images/finish.gif" width="236"/>
      <iframe allow="autoplay; encrypted-media" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/7xQE2N0z7gM?rel=0" width="560">
      </iframe>
     </p>
     <p style="margin-top: 0; margin-bottom: 0">
      <img border="0" height="237" src="/images/finish1.jpg" width="308"/>
      <img border="0" height="237" src="/images/finish2.jpg" width="308"/>
      <img border="0" height="237" src="/images/finish3.jpg" width="308"/>
      <img border="0" height="237" src="/images/finish4.jpg" width="308"/>
      <br/>
     </p>
     <hr align="left" color="#000000" size="1"/>
     <p>
      Now let me show you a version of finish that means "Knock it off!"
      <br/>
      <br/>
      <img border="0" height="232" src="/images/finish-cut-it-out1.jpg" width="228"/>
      <img border="0" height="232" src="/images/finish-cut-it-out2.jpg" width="228"/>
      <img border="0" height="232" src="/images/finish-cut-it-out3.jpg" width="228"/>
      <br/>
      <iframe allow="autoplay; encrypted-media" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/gYB8ji01BLo?rel=0" width="560">
      </iframe>
     </p>
     <hr align="left" color="#000000" size="1"/>
     <p>
      Here is a version that means, "Aw, go on, you're teasing me!" 
"I'm not falling for that--you silly!"
      <br/>
      <br/>
      <img border="0" height="233" src="/images/finish-silly-you1.jpg" width="232"/>
      <img border="0" height="233" src="/images/finish-silly-you2.jpg" width="232"/>
      <img border="0" height="233" src="/images/finish-silly-you3.jpg" width="232"/>
      <img border="0" height="233" src="/images/finish-silly-you4.jpg" width="232"/>
      <br/>
      <br/>
      * My eyes aren't actually "closed" on this one...just squinted due
to a big smile.
     </p>
     <hr align="left" color="#000000" size="1"/>
     <font color="#000000" face="Arial" id="role_document" size="2">
      <div>
       <br/>
       Notes:
       <br/>
       The sign "FINISH" does not mean "continue what you are doing until you 
	complete it." Rather, the sign FINISH can mean such things as: done, all 
	done, already, it's over, did it, got it done, yes it is finished, (and 
	similar concepts). The sign FINISH can be modified by doing the sign with 
	just one hand and using a strong single movement combined with an intense 
	facial expression to mean "Cut it out!" or "Stop it!" (Or you can do that 
	version with two hands for extreme emphasis.) If you want to create the 
	meaning of "continue what you are doing until you complete it" -- you can 
	use signs such as: PROCEED, CONTINUE, END. If you wanted to express the 
	concept of "I need to finish that..." you would not sign "I/ME NEED FINISH 
	THAT..." -- instead you would sign something such as "I NEED WORK THAT MORE, 
	END" or "I/ME NEED PROCEED END THAT" or a similar approach. You might see 
	the word "do" fingerspelled as part of a phrase such as "I/ME NEED DO THAT."
       <br/>
       It is fine to ask a question such as, "YOU FINISH HOMEWORK YOU?" To mean 
	"Did you get your homework done?"
       <br/>
       If the answer however is "no" you would then use the END sign to state, "you 
	need to finish it" since what you mean is "You need to continue doing it 
	until you get it completed." Thus: "YOU NEED END!" -- would mean something 
	along the lines of "You need to get it done!"
       <br/>
       <font face="Arial">
        <hr align="left" color="#000000" size="1"/>
       </font>
       <p>
        Danielle writes:
        <br/>
        <br/>
        Dear Dr. Bill
        <br/>
        I have a question, how would you gloss this sentence?
        <br/>
        "I've climbed Yosemite Half-Dome 7 times this year"
        <br/>
        - Danielle
        <br/>
        -----------------------------------
        <br/>
        Danielle,
        <br/>
        Either of the following approaches could be acceptable depending on 
	information pre-existing between the conversants:
        <br/>
        1.  If you are trying to say, "I've
        <strong>
         already
        </strong>
        climbed ..." 
	then you can use a "FINISH CLIMB" phraseology which would look like this:
        <br/>
        = NOW-YEAR I FINISH CLIMB YOSEMITE HALF D-O-M-E 7 TIME.
        <br/>
        2.  If you wish to indicate an emphasis or possibly intend the meaning of 
	"that's it -- no more" and/or "Booyah! (accomplishment) you could move the 
	"FINISH" to the end of the sentence. You could also topicalize YOSEMITE if 
	you need to distinguish between various hiking locations:
        <br/>
        = YOSEMITE HALF D-O-M-E? NOW-YEAR I CLIME 7 TIME FINISH!
        <br/>
        3.  Or you could sign it this way:
        <br/>
        NOW-YEAR I CLIMB YOSEMITE HALF D-O-M-E 7 TIME FINISH!
        <br/>
        <br/>
        <strong style="font-weight: 400">
         See page 124 of the text "
        </strong>
        Linguistics 
	of American Sign Language, 5th Ed.," (by Clayton Valli & Ceil Lucas et. al.) 
	for a discussion regarding the use of the sign FINISH.
        <br/>
        As you can see from the above examples, FINISH can be used to either 
	establish "past tense" or to instead function as a "
        <strong>
         completive 
	marker
        </strong>
        ."
        <br/>
        - Dr. Bill
        <br/>
        p.s. You are a
        <i>
         beast
        </i>
        if you have climbed Half-Dome 7 times in a year.
        <br/>
       </p>
       <hr/>
       <p>
        Question:
        <br/>
        Hi Dr. Bill! At 4:06, the question is "Today you finish brush-teeth you?" 
	I'm trying to figure out the role of "finish" in this sentence... is it 
	supposed to mean "Have you finished brushing your teeth today?" or is it 
	"When today is finished, will you brush your teeth?"
       </p>
       <p>
        Answer:
        <br/>
        Among many other uses, the sign FINISH can be used to mean "have you," "did 
	you," or "already."
        <br/>
        The sign FINISH can be located before the verb to create what is called 
	"perfect tense." *
        <br/>
        So, "TODAY YOU FINISH BRUSH-TEETH YOU?" means "Did you brush your teeth 
	today?" and/or "Have you already brushed your teeth today?"
        <br/>
        * Reference:
        <font face="Arial">
         <font color="#000000" face="Arial" id="role_document" size="2">
          Section 5: "Preverbal FINISH as a perfect marker in ASL" of this research 
	article:
          <br/>
          http://www.bu.edu/asllrp/rpt14/asllrpr14.pdf
         </font>
        </font>
       </p>
       <p>
        TLDR:  The sign FINISH can be before a verb to mean (or ask if) an 
	action occurred earlier than the current time.
        <br/>
        <br/>
        The top example is probably "FINISH TOUCH" which means "have been to" (a 
	place). As in -- YOU FINISH TOUCH DISNEYLAND?
        <br/>
        <br/>
        Oh sure, lots of time we use FINISH after the action as a "completive 
	marker" -- but that doesn't prevent us from using FINISH in other ways.
       </p>
      </div>
      <div>
      </div>
     </font>
     <hr align="left" color="#000000" size="1"/>
    </font>
   </span>
  </blockquote>
 </body>
</html>