<html>
 <body>
  <blockquote>
   <font face="Arial">
    <h1 style="margin-top: 0; margin-bottom: 0">
     <span style="font-weight: 400">
      <font size="5">
       ASL: "firefighter"
      </font>
     </span>
     <br/>
    </h1>
    <hr align="left" color="#000000" size="1"/>
    <p style="margin-top: 0; margin-bottom: 0">
     There is quite a bit of variation
     <span style="font-weight: 400">
      in the Deaf community regarding the sign for FIREMAN but most versions seem to 
be based on the cool hats.
      <br/>
      ASL instructors need cool hats.  I'm jealous.
     </span>
    </p>
    <p style="margin-top: 0; margin-bottom: 0">
    </p>
    <p style="margin-top: 0; margin-bottom: 0">
     <span style="font-weight: 400">
      I've 
been informed that fireman is no longer politically correct.
      <br/>
      Thus I encourage you to go visit the "firefighter" page instead:
      <a href="/dictionary/firefighter">
       FIREFIGHTER
      </a>
      <br/>
      The sign is the same though.  Gee.
     </span>
    </p>
    <hr align="left" color="#000000" size="1" width="50%"/>
    <span style="font-weight: 400">
     <p style="margin-top: 0; margin-bottom: 0">
      <br/>
      FIREMAN:
      <br/>
      Memory aid:
  Think of the big red hats that firemen (sometimes) wear.
      <br/>
      This sign uses a slight double motion.  Tap the back of the hand on your 
forehead.  Most folks do the tap twice but in a sentence you might only see 
it once.
     </p>
     <p style="margin-top: 0; margin-bottom: 0">
      <iframe allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/Mxmxdu1SpZM?rel=0" width="560">
      </iframe>
      <br/>
      <br/>
      <img border="0" src="/images/fireman-1.gif" style="max-width: 100%; height: auto" width="480"/>
     </p>
    </span>
    <p style="margin-top: 0; margin-bottom: 0">
    </p>
    <p>
    </p>
    <hr align="left" color="#000000" size="1"/>
    <p align="center" style="margin-top: 0; margin-bottom: 0">
    </p>
    <p align="center" style="margin-top: 0; margin-bottom: 0">
    </p>
    <hr align="left" color="#000000" size="1"/>
    <p>
     Notes:  For more information on this sign and variations, see:
     <a href="/dictionary/firefighter-advanced">
      FIREFIGHTER-[advanced]
     </a>
     <br/>
    </p>
    <p style="margin-top: 0; margin-bottom: 0">
    </p>
    <hr align="left" color="#000000" size="1"/>
    <hr align="left" color="#000000" size="1"/>
   </font>
   <b>
    <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=XHRNABERKJT4N" rel="nofollow" target="_blank">
     <u>
      DONATE
     </u>
    </a>
   </b>
   <font size="2">
    (
    <i>
     Thanks!
    </i>
    )
   </font>
   <br/>
   <br/>
   <font face="Arial">
    *
   </font>
   Another way to help is to buy something from Dr. Bill's "
   <b>
    <a href="/dictionary/bookstore">
     <u>
      Bookstore
     </u>
    </a>
   </b>
   ."
   <hr align="left" color="#000000" size="1"/>
   <hr color="#000000" size="1"/>
   <p>
   </p>
  </blockquote>
 </body>
</html>