<html>
 <body>
  <blockquote>
   <font color="#000000" face="Arial" id="role_document" size="2">
    <div>
     <div>
      In a message dated 7/24/2006 7:01:18 P.M. Pacific Daylight Time, rebekah@ 
		writes:
     </div>
     <blockquote style="PADDING-LEFT: 5px; MARGIN-LEFT: 5px; BORDER-LEFT: blue 2px solid">
      <font color="#000000" face="Arial" size="2" style="BACKGROUND-COLOR: transparent">
       Dear Bill,
       <br/>
       I have searched and searched the web to find the ASL sign for  "firefly" 
		but I haven't found it anywhere.  could I just combine
       <br/>
       "fire" and "fly" (i.e. insect)?  or is there a special sign?
       <br/>
       Thanks so much for your time and consideration.
       <br/>
       rebekah nye
      </font>
     </blockquote>
    </div>
    <div>
     Since "firefly" is not a frequently used term in ASL there really isn't a 
	strongly established sign for it (here in America).
     <br/>
     If I needed to sign it for a story I'd sign "fire" and then do fly by using a 
	palm down "F Hand" buzzing in the air for about 6 inches of flight.
     <br/>
     --Bill
    </div>
   </font>
   <hr color="#800080"/>
   <p>
    <img border="0" height="345" src="/images/fire.gif" width="300"/>
    <img border="0" height="363" src="/images/flyinsectsmall.gif" width="300"/>
   </p>
   <span style="font-weight: 400">
    <font face="Arial">
     <p align="left" style="margin-top: 0; margin-bottom: 0">
     </p>
     <hr align="left" color="#000000" size="1" width="50%"/>
    </font>
   </span>
   <p>
   </p>
  </blockquote>
 </body>
</html>