<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1" width="50%"/>
   <span style="font-weight: 400">
    <font face="Arial">
     <p style="margin-top: 0; margin-bottom: 0">
      Note:  There are many "right" versions of this sign.
      <br/>
     </p>
     <hr color="#800080"/>
     <p style="margin-top: 0; margin-bottom: 0">
      General sign for first (the most flexible).
      <br/>
      Meanings:
  "First of all"
  "Original"
  "Prototype"
     </p>
     <p style="margin-top: 0; margin-bottom: 0">
      <img border="0" height="232" src="/images/first1.jpg" width="214"/>
      <img border="0" height="236" src="/images/first-c2.jpg" width="211"/>
     </p>
     <hr/>
     <p style="margin-top: 0; margin-bottom: 0">
      This is a variation of the same sign.  Notice how the index finger 
	moves past the thumb instead of stopping at the thumb like in the other 
	variation.
      <br/>
      Both ways are okay.  I suggest you do the first variation, but that 
	doesn't make this version wrong.  See below for even more ways to sign 
	"first."
      <br/>
      <img border="0" height="232" src="/images/first1.jpg" width="214"/>
      <img border="0" height="232" src="/images/first2.jpg" width="214"/>
      <img border="0" height="232" src="/images/first3.jpg" width="214"/>
     </p>
     <hr color="#800080"/>
     <p style="margin-top: 0; margin-bottom: 0">
      This version brings the index finger to the thumb where it makes contact
  but doesn't go past.
      <br/>
      <img border="0" height="229" src="/images/first-e1.jpg" width="229"/>
      <img border="0" height="229" src="/images/first-e2.jpg" width="229"/>
      <img border="0" height="229" src="/images/first-e3.jpg" width="229"/>
     </p>
     <hr color="#800080"/>
     <p style="margin-top: 0; margin-bottom: 0">
      Another version of "first"
      <br/>
      <img border="0" height="236" src="/images/first-c1.jpg" width="211"/>
      <img border="0" height="236" src="/images/first-c2.jpg" width="211"/>
     </p>
     <hr color="#800080"/>
     <p style="margin-top: 0; margin-bottom: 0">
      First as in "the first one in a series."
      <br/>
      <img border="0" height="239" src="/images/first-b1.jpg" width="216"/>
      <img border="0" height="239" src="/images/first-b2.jpg" width="216"/>
     </p>
     <hr color="#800080"/>
     <p style="margin-top: 0; margin-bottom: 0">
      First place in a competitive tournament:
      <br/>
      <img border="0" height="233" src="/images/first-place1.jpg" width="212"/>
      <img border="0" height="233" src="/images/first-place2.jpg" width="212"/>
     </p>
     <hr color="#800080"/>
     <p style="margin-top: 0; margin-bottom: 0">
      Second place in a tournament:
      <br/>
      <img border="0" height="233" src="/images/second-place1.jpg" width="221"/>
      <img border="0" height="233" src="/images/second-place2.jpg" width="221"/>
      <br/>
     </p>
     <hr color="#800080"/>
     <p style="margin-top: 0; margin-bottom: 0">
      Third place:
      <br/>
      <img border="0" height="233" src="/images/third-place1.jpg" width="212"/>
      <img border="0" height="233" src="/images/third-place2.jpg" width="212"/>
     </p>
     <p style="margin-top: 0; margin-bottom: 0">
      <br/>
     </p>
     <hr align="left" color="#000000" size="1" width="50%"/>
    </font>
   </span>
  </blockquote>
 </body>
</html>