<html>
 <body>
  <blockquote>
   <font face="Arial">
    <h2 style="margin-top: 0; margin-bottom: 0">
     <span style="font-weight: 400">
      American Sign Language:  "flash-the-lights"
     </span>
    </h2>
    <blockquote>
     <p>
      <span style="font-weight: 400">
       Note:
  Flashing the lights is a method of quickly getting the attention of a whole
  group of people.
       <br/>
       Getting attention this way should only be done by 
	people familiar with the Deaf Culture.  Newbies tend to overdo it. 
	(Flash too many times, too quickly, etc.)
      </span>
     </p>
     <hr align="left" color="#000000" size="1" width="50%"/>
     <span style="font-weight: 400">
      <p style="margin-top: 0; margin-bottom: 0">
       FLASH-the-lights:
      </p>
      <p style="margin-top: 0; margin-bottom: 0">
       Open the hands, close the hands, and 
open them again. This is a way to tell someone to flash the overhead lighting 
off and on a couple times.
      </p>
      <p style="margin-top: 0; margin-bottom: 0">
       <iframe allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/mFCA_niWwcw?rel=0" width="560">
       </iframe>
      </p>
      <p style="margin-top: 0; margin-bottom: 0">
       <img border="0" height="232" src="/images/lights-flashlights1.jpg" width="310"/>
       <img border="0" height="232" src="/images/lights-flashlights5.jpg" width="310"/>
       <img border="0" height="232" src="/images/lights-flashlights8.jpg" width="310"/>
       <img border="0" height="232" src="/images/lights-flashlights10.jpg" width="310"/>
      </p>
      <hr color="#000000" size="1"/>
      <hr color="#000000" size="1"/>
      <p style="margin-top: 0; margin-bottom: 0">
       Also see:
       <a href="/dictionary/light">
        LIGHT
       </a>
      </p>
      <hr align="left" color="#000000" size="1" width="50%"/>
     </span>
    </blockquote>
    <hr align="left" color="#000000" size="1"/>
    <hr align="left" color="#000000" size="1"/>
   </font>
   <b>
    <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=XHRNABERKJT4N" rel="nofollow" target="_blank">
     <u>
      DONATE
     </u>
    </a>
   </b>
   <font size="2">
    (
    <i>
     Thanks!
    </i>
    )
   </font>
   <br/>
   <br/>
   <font face="Arial">
    *
   </font>
   Another way to help is to buy something from Dr. Bill's "
   <b>
    <a href="/dictionary/bookstore">
     <u>
      Bookstore
     </u>
    </a>
   </b>
   ."
   <hr align="left" color="#000000" size="1"/>
   <hr color="#000000" size="1"/>
   <p>
   </p>
  </blockquote>
 </body>
</html>