<html>
 <body>
  <blockquote>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
    <p>
     The sign for "flattery" is based on the concept of 
			"buttering someone up."
     <br/>
     <br/>
     Hold up your non-dominant index finger as if representing a person.  
			Then use your dominant modified-"B"-hand to butter up that person.
     <br/>
     <br/>
     <img border="0" height="223" src="/images/flatte44.jpg" width="176"/>
     <br/>
     <img border="0" height="111" src="/images/flatte45.gif" width="111"/>
     <img border="0" height="111" src="/images/flatte46.gif" width="111"/>
     <img border="0" height="111" src="/images/flatte47.gif" width="111"/>
     <img border="0" height="111" src="/images/flatte48.gif" width="111"/>
     <img border="0" height="111" src="/images/flatte49.gif" width="111"/>
     <img border="0" height="111" src="/images/flatte50.gif" width="111"/>
     <img border="0" height="111" src="/images/flatte51.gif" width="111"/>
     <img border="0" height="111" src="/images/flatte52.gif" width="111"/>
     <img border="0" height="111" src="/images/flatte53.gif" width="111"/>
     <img border="0" height="111" src="/images/flatte54.gif" width="111"/>
     <img border="0" height="111" src="/images/flatte55.gif" width="111"/>
     <img border="0" height="111" src="/images/flatte56.gif" width="111"/>
    </p>
    <hr align="left" color="#000000" size="1" width="50%"/>
    <p>
    </p>
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>