<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1" width="50%"/>
   <span style="font-weight: 400">
    <font face="Arial">
     <p style="margin-top: 0; margin-bottom: 0">
      <br/>
      In a message dated 09/18/11 12:50:25 Pacific Daylight Time, Stephen writes:
      <br/>
      <br/>
      Dear Dr. Bill:
      <br/>
      I read with fascination your explanations re
      <a href="/dictionary/lexicalized_fingerspelling">
       lexicalized
      </a>
      fingerspelling. I have used it but did not know there was a name for it until I 
read your presentation.
      <br/>
      Of course it set my mind to whirring. I never realized before how much it is 
used by my friends and acquaintances. The thought also hit me that one set of 
lexicalized finger or written spelling now recognized instantly by both deaf and 
hearing people when used in-context are the Postal Service’s two letter 
designations for State names. For example, if I sign “I drive FL,” the listener 
knows instantly that I mean that I am driving to Florida. The same is true if I 
write that “I am driving to FL” in an e-mail; both deaf and hearing people would 
know that FL means Florida. Nevertheless, the graphic signs for States are still 
in use. My friends still sign NY by sliding the right “Y” hand over the left 
palm.
      <br/>
      Thanks for your efforts.
      <br/>
      Steve K.
     </p>
     <p style="margin-top: 0; margin-bottom: 0">
     </p>
     <hr align="left" color="#000000" size="1" width="50%"/>
     <p style="margin-top: 0; margin-bottom: 0">
      <br/>
      Dear Steve,
      <br/>
      While it is true that most people will "recognize" the spelled state 
abbreviations, you are right about the actual sign being preferred in most 
cases. For example most of us do Florida not as "FL" but as a lexicalized 
fingerspelling: "F-L-A."
      <br/>
      This particular example is likely also influenced by the fact that 
fingerspelling "FL" is also a common way to express the concept "foreign 
language."
      <br/>
      -- Dr. Bill
     </p>
    </font>
   </span>
  </blockquote>
 </body>
</html>