<html>
 <body>
  <blockquote>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
    <p>
     The sign for "football" holds the fingers up as if representing two opposing 
scrimmage lines ramming together at the hut. Use a double movement. (Ram twice.)
     <br/>
    </p>
    <p>
     FOOTBALL:
     <br/>
    </p>
    <p>
     <img border="0" height="220" src="/images/footba16.gif" width="283"/>
     <img border="0" height="132" src="/images/footba17.gif" width="185"/>
    </p>
    <p>
     <br/>
     FOOTBALL:
     <br/>
     <img border="0" height="214" src="/images/footba18.jpg" width="213"/>
     <img border="0" height="214" src="/images/footba19.jpg" width="213"/>
     <img border="0" height="214" src="/images/footba20.jpg" width="213"/>
     <img border="0" height="214" src="/images/footba19.jpg" width="213"/>
    </p>
    <p>
     <br/>
    </p>
    <hr align="left" color="#000000" size="1" width="50%"/>
    <p>
    </p>
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>