<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   <p style="margin-top: 0; margin-bottom: 0">
    To do the sign "FOR," touch your forehead and swing the tip of your finger 
	forward.
    <br/>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    FOR:
    <br/>
    <img border="0" src="/images/for.gif" style="max-width: 100%; height: auto" width="480"/>
    <img border="0" height="225" src="/images/for1.jpg" width="239"/>
    <img border="0" height="225" src="/images/for2.jpg" width="239"/>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <br/>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
   <p style="margin-top: 0; margin-bottom: 0">
    <br/>
    There is a sign known as "FOR-FOR."
    <br/>
    The sign "FOR-FOR"
    <font face="Arial">
     is the same as "FOR" except that you use a double motion and you include a "wh?" facial expression.
     <br/>
     This sign
    </font>
    is interpreted as "What for?" or
  "Why?"
    <br/>
    <br/>
    FOR-FOR:
    <br/>
    <font face="Arial">
     <img border="0" src="/images/for-for.gif" style="max-width: 100%; height: auto" width="480"/>
    </font>
    <img border="0" height="219" src="/images/for-for1.jpg" width="232"/>
    <img border="0" height="219" src="/images/for-for2.jpg" width="232"/>
    <img border="0" height="219" src="/images/for-for3.jpg" width="232"/>
    <img border="0" height="219" src="/images/for-for4.jpg" width="232"/>
    <br/>
    <br/>
    Sample sentence: "Why are you taking ASL?" = "TAKE-up ASL FOR-FOR?"
    <br/>
    <br/>
    <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/WOeqv48tuXU?rel=0" width="560">
    </iframe>
    <br/>
   </p>
   <font face="Arial">
    <hr/>
    <hr/>
   </font>
   <p style="margin-top: 0; margin-bottom: 0">
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    Notes and optional reading:
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <br/>
    In a message dated 3/20/2011 10:53:33 A.M. Pacific Daylight Time, Chrissunny 
	writes:
    <br/>
    Hi, I have a quick question for you - Given the sentence "Tomorrow I am 
	cooking for my friends" would you include the "for" in ASL translation?
    <br/>
    Thanks!
    <br/>
    Christine
    <br/>
    <br/>
    Dear Christine,
    <br/>
    The answer is, "It depends."
    <br/>
    What constitutes an "appropriate" translation in ASL depends greatly on the 
	context.
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    Let me give you an example in English.
    <br/>
    On Saturday, March 19th 2011 Jon Jones, a mixed martial arts competitor 
	asked his coaches:
    <br/>
    "We going to catch this guy?"
    <br/>
    <br/>
    The context in which the phase was said was important.
    <br/>
    <br/>
    Jones and his coaches had just been dropped off at a park in Paterson New 
	Jersey when they heard screaming nearby and saw a perp running away after 
	apparently having smashed a windshield and stolen a GPS.  Jones and his 
	coaches were chasing after the perp when Jones asked, 'What do we do? We 
	going to catch this guy?"
    <br/>
    <br/>
    He did not ask, "Are we going to catch this guy?"  Jones dropped the 
	word "are."
    <br/>
    <br/>
    Was it appropriate for Jones to drop the word "are" in his question?
    <br/>
    Even without hearing the "state of being" verb "are" -- Jones' coaches 
	understood perfectly what he meant.  To have added the word "are" would 
	have taken extra time and effort and contributed little or nothing to the 
	effectiveness of his communication.
    <br/>
    <br/>
    Would Jones' college English teacher have approved?  I reckon if it was 
	her GPS system that got boosted she wouldn't have cared spit about the 
	missing "be verb" as long as she got back her missing equipment, (and got 
	reimbursed for the windshield).
    <br/>
    <br/>
    Ah yes, but after the hubbub died down and the windshield was replaced and 
	it came time to correct Jones's English paper that same instructor might 
	just whip out her red pen and mark an "X" next to that exact same sentence 
	for lack of an "are."
    <br/>
    <br/>
    Now back to your announcement of your culinary activities.  In all 
	likelihood the sentence "Tomorrow I'm cooking for my friends" would never 
	need to be translated "in real life." Seriously.  "Necessary 
	translation" is a process whereby someone is saying something in one 
	language and someone else
    <b>
     needs
    </b>
    to understand what it means, and thus 
	a third person (or robot, or program) translates it.   If two Deaf 
	were chatting in ASL and one wanted to tell the other "Tomorrow I'm cooking 
	for my friends" it is quite likely he/she would sign: TOMORROW, FRIEND COME, 
	I COOK.  (Don't get me started on how it is we know "FRIEND" is plural 
	and not singular in this situation. It is a long story and you don't tip 
	well enough.)
    <br/>
    <br/>
    Is that the "only" way to sign "Tomorrow I'm cooking for my friends?" Of 
	course not.
    <br/>
    You could also sign, "TOMORROW I COOK. WHY?-(rhetorical, eyebrows up), 
	FRIEND COME.
    <br/>
    <br/>
    Also more likely than not, such a phrase would show up in real life as part 
	of a two-way conversation wherein someone asked you why you "bought so much 
	food?" You could certainly reply, TOMORROW I COOK MY FRIEND, and it would be
    <b>
     <i>
      obvious
     </i>
    </b>
    that you were not cooking your friends but that you 
	were cooking
    <b>
     <i>
      for
     </i>
    </b>
    your friends.
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    If however you were "translating" a children's book about "trolls" and 
	"giants" and you signed "TOMORROW I COOK MY FRIEND" then it might very well 
	be understood to mean that tomorrow you were indeed going to practice a bit 
	of cannibalism.
    <br/>
    <br/>
    The fact is "cook for" is a "Hearing" phrase. To "cook for" means so much 
	more than what it seems on the surface. Really.
    <br/>
    <br/>
    Think about it.  "Tomorrow I am cooking for my friends," is saying 
	something much more than simply stating that you will be heating up a can of 
	beans that your friends will just happen to eat.
    <br/>
    <br/>
    Thus the English phrase, "Tomorrow I am cooking for my friends" really means 
	something more along the lines of, "I'm experiencing quite a bit of 
	excitement and stress because tomorrow an important event is happening. My 
	friends are coming over to my place, (which I've got sooo much to do to get 
	cleaned up and ready) and they will be sampling, judging, and making mental 
	notes regarding my creativity, sensibility, frugality, and talent in regard 
	to food, (as well as table setting). I'm doing this in hopes of creating a 
	social dynamic amongst these people that will result in their having a good 
	time, deepening their friendships, and thinking well of me."
    <br/>
    <br/>
    Where does all that extra meaning "go" when we translate it from English to 
	ASL?  Most of the time it goes out the window.  But such meaning 
	could be included easily enough by inflecting your signs.  An extra 
	hold here, a bit more movement there, a lot more facial expression.
    <br/>
    <br/>
    The problem we run into is when a teacher gives a student an "assignment" to 
	translate a sentence devoid of context.  Then later the teacher or 
	(more likely the) student emails me and asks me what is right.
    <br/>
    <br/>
    The only sane answer in most situation is, "it depends."
    <br/>
    <br/>
    For what it is worth, (and for a bit of fun), earlier today I asked a fifth 
	generation Coda interpreter how he would sign "Tomorrow I am cooking for 
	friends" and I also asked a trilingual interpreter (ASL/Spanish/English).
    <span style="font-weight: 700; background-color: #FFFF00">
     They both used the sign "FOR" in their initial answers.
    </span>
    Of course I 
	didn't tell them the nature of my question or that I was questioning the use 
	of the word "FOR." After they showed me their initial gut response, I then 
	mentioned they question was whether or not they needed the word "FOR" in the 
	sentence. Of course both of them came up with alternate ways to sign the 
	sentence. But does having some other "right" way, make the use of (or lack 
	of the use of) the sign "FOR" wrong? No. It just means that there is more 
	than one right way to sign certain things and what that right way is will 
	depend on context.
    <br/>
    <br/>
    For example, there is a certain context that strongly influences the 
	"rightness" of a sign and that is the context of being a student in a 
	classroom.  Remember this: Your current ASL teacher is "right" for 15 
	weeks. If you don't think so, just check your grade at the end of the 
	semester.
    <br/>
    <br/>
    Cordially,
    <br/>
    --Dr. Bill
   </p>
   <hr/>
   <p style="margin-top: 0; margin-bottom: 0">
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    QUESTION:
    <br/>
    Dear Dr. Bill,
    <br/>
    <font face="Arial">
     Hi. I know religions aren't all the same signs but several times I have 
	watched interpreters online (I can't understand but want to try.) and I see 
	them sign 'instead of' when the word voiced is 'for'. Other times they use 
	the sign 'for' that is on the forehead.
     <br/>
     Thanks!
     <br/>
     - Sara C.
    </font>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    ANSWER::
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    Hello Sara!
    <br/>
    The
    <a href="/dictionary/instead">
     INSTEAD-of
    </a>
    sign can be thought of as 
	meaning "in our stead" or "in place of us."
    <br/>
    The idea being that when someone says "Jesus died for us" it really means 
	that he died "in our stead" or instead of us.
    <br/>
    You could choose to sign "FOR" in that sentence and it would still make 
	sense but by using INSTEAD in that sentence it conveys a more specific (and 
	powerful) meaning.
    <br/>
    - Dr. Bill
    <br/>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>