<html>
 <body>
  <blockquote>
   <h1 style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     <span style="font-weight: 400">
      <font size="5">
       ASL: "FORGET"
      </font>
     </span>
     <br/>
    </font>
   </h1>
   <p>
    <br/>
    To do the sign for "forget," hold your hand in front of your forehead (or go ahead and put your 
fingers on your forehead) and then pull your hand sideways across the front of 
your head as you change the handshape from a loose flat hand into an 
"A" handshape or a "loose"  "A" handshape 
(with the thumb sticking out).
    <br/>
    Tip:  Think of wiping your mental memory bank clean.
    <br/>
    <br/>
    <br/>
    FORGET:
    <br/>
    <img border="0" height="265" src="/images/forget.gif" width="400"/>
   </p>
   <p>
   </p>
   <p>
    <img border="0" height="347" src="/images/forget.jpg" width="1394"/>
    <br/>
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p>
    Notes:
    <br/>
    When discussing the "forgetting" of things -- you may on occasion see people 
drag the tip of the middle finger (of a handshape that is a "5"-hand with the 
middle finger bent at the large knuckle) across their forehead.
    <br/>
    That sign is basically using the sign for EMPTY (or "blank") and dragging it 
across the forehead as if to suggest that your memory bank is empty (or a "blank 
slate").  This is the equivalent of the English idiom "draw a blank."
    <br/>
    <br/>
    See:
    <a href="/dictionary/blank-mind">
     BLANK-MIND-[mental-blank/draw-a-blank/blank-slate/draw-a-mental-blank]
    </a>
   </p>
   <p>
   </p>
   <hr/>
   <p>
   </p>
   <p>
    Also see:
    <a href="/dictionary/empty" style="text-decoration: none">
     EMPTY
    </a>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1"/>
   <hr align="left" color="#000000" size="1"/>
   <hr align="left" color="#000000" size="1"/>
   <hr color="#000000" size="1"/>
   <p>
   </p>
  </blockquote>
 </body>
</html>