<html>
 <body>
  <blockquote>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
    <p>
     The sign for "freeway" in general is linked to the idea 
			of your fingers representing lanes on a freeway.
     <br/>
    </p>
    <p>
     FREEWAY: Version 1:  Use "H" hands. I'm showing this sign 
	in a very clinical way. However, please know that this sign is often done 
	with "modified" "H"-hands wherein the thumbs are pointing up alongside the 
	hands and not neatly tucked underneath.  Additionally you might see the 
	hands pointing almost upward at the beginning of the sign before they move 
	in toward each other and become horizontal as you see in my picture.
     <br/>
    </p>
    <p>
     <img border="0" height="228" src="/images/freewa37.jpg" width="234"/>
     <img border="0" height="228" src="/images/freewa38.jpg" width="234"/>
     <img border="0" height="228" src="/images/freewa39.jpg" width="234"/>
     <img border="0" height="228" src="/images/freewa40.jpg" width="234"/>
    </p>
    <p>
    </p>
    <hr align="left" color="#000000" size="1"/>
    <p>
     <br/>
     FREEWAY (version 2) Use bent 4-hands.  The thing about the FREEWAY sign 
	is that it can be modified easily to show different types of freeways and/or 
	roadways.  You can use four fingers on each hand to show a larger, 
	busier freeway. You can add more facial expression. You can start 
	crisscrossing the hands to show how certain freeways in large cities are 
	complex, busy, and confusing.
     <br/>
    </p>
    <p>
     <img border="0" height="230" src="/images/freewa34.jpg" width="212"/>
     <img border="0" height="230" src="/images/freewa35.jpg" width="212"/>
     <img border="0" height="230" src="/images/freewa36.jpg" width="212"/>
     <img border="0" height="230" src="/images/freewa35.jpg" width="212"/>
     <br/>
    </p>
    <hr align="left" color="#000000" size="1" width="50%"/>
    <p>
    </p>
    <p>
     Notes:
    </p>
    <p>
     You can even do the "roadway" type sign using just one index 
			finger extended on each hand to show a road with a single lane going 
			each way.
     <br/>
    </p>
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>