<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1" width="50%"/>
   <span style="font-weight: 400">
    <font face="Arial">
     <p style="margin-top: 0; margin-bottom: 0">
      FRENCH FRIES:
      <br/>
      <br/>
      <img border="0" height="240" src="/images/frenchfries.gif" width="300"/>
     </p>
     <p>
      <br/>
      NOTE: The movement is sort of like popping two balloons with a needle. 
It also looks a lot like the sign for the number "99."  The
second movement happens further to the outside of your signing space. 
(Which is to say the movement goes from in to out, not from out to in.  In
other words if you were indeed popping two balloon that were side by side, you'd
pop the one on the left first then pop the one on the right.)  In the 
example below I'm doing the sign a bit more casually.
      <br/>
      <br/>
      <img border="0" height="229" src="/images/french-fries1.jpg" width="275"/>
      <img border="0" height="229" src="/images/french-fries2.jpg" width="275"/>
      <img border="0" height="229" src="/images/french-fries3.jpg" width="275"/>
      <img border="0" height="229" src="/images/french-fries4.jpg" width="275"/>
      <img border="0" height="229" src="/images/french-fries5.jpg" width="275"/>
     </p>
    </font>
   </span>
  </blockquote>
 </body>
</html>