<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   <p style="margin-top: 0; margin-bottom: 0">
    The sign for "
    <b>
     <i>
      Friday
     </i>
    </b>
    " circles an "F" hand in 
	the air.
    <br/>
    This sign can also be done with the palm facing outward.
   </p>
   <p>
    Friday:
    <br/>
    <img border="0" height="222" src="/images/friday_arrows.jpg" width="213"/>
    <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/ed00ZvaLeo4?rel=0" width="560">
    </iframe>
   </p>
   <p>
    <br/>
    <img border="0" height="222" src="/images/friday1.jpg" width="213"/>
    <img border="0" height="222" src="/images/friday2.jpg" width="213"/>
    <img border="0" height="222" src="/images/friday3.jpg" width="213"/>
    <img border="0" height="222" src="/images/friday4.jpg" width="213"/>
    <img border="0" height="222" src="/images/friday5.jpg" width="213"/>
    <img border="0" height="222" src="/images/friday6.jpg" width="213"/>
    <img border="0" height="222" src="/images/friday7.jpg" width="213"/>
    <br/>
    <br/>
    See:
    <font face="Arial">
     <span style="font-weight: 400">
      <a href="/dictionary/sunday">
       SUNDAY
      </a>
      /
      <a href="/dictionary/monday">
       MONDAY
      </a>
      /
      <a href="/dictionary/tuesday">
       TUESDAY
      </a>
      /
      <a href="/dictionary/wednesday">
       WEDNESDAY
      </a>
      /
      <a href="/dictionary/thursday">
       THURSDAY
      </a>
      / FRIDAY /
      <a href="/dictionary/saturday">
       SATURDAY
      </a>
     </span>
    </font>
   </p>
  </blockquote>
 </body>
</html>