<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   <p style="margin-top: 0; margin-bottom: 0">
    The sign for "friendly" can also mean "cheerful" or 
	"pleasant."
    <br/>
   </p>
   <p>
    The fingers wiggle as you move both hands backward.  The sign starts a 
  few inches in front of your head and moves backward until the hands are even 
  with, or a little-bit behind your face.
    <br/>
   </p>
   <p>
    FRIENDLY:
   </p>
   <p>
    <img border="0" height="236" src="/images/friendly1.jpg" width="281"/>
    <img border="0" height="236" src="/images/friendly2.jpg" width="281"/>
    <img border="0" height="236" src="/images/friendly3.jpg" width="281"/>
    <img border="0" height="236" src="/images/friendly4.jpg" width="281"/>
   </p>
   <p>
   </p>
   <hr align="left" color="#000000" size="1"/>
   <br/>
   FRIENDLY:
   <br/>
   <br/>
   <hr align="left" color="#000000" size="1" width="50%"/>
   <p style="margin-top: 0; margin-bottom: 0">
    <br/>
    Sample sentence:
	YOU THINK MOST SELL-AGENT FRIENDLY?
    <br/>
    <br/>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>