<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1" width="50%"/>
   <span style="font-weight: 400">
    <font face="Arial">
     <p style="margin-top: 0; margin-bottom: 0">
      This sign means such things as "from 
here on out," "from that point forward," and "from this point forward."
      <br/>
      <br/>
      FROM-NOW-ON or FROM-THEN-ON
      <br/>
      <img border="0" height="233" src="/images/procee16.jpg" width="227"/>
      <img border="0" height="233" src="/images/procee17.jpg" width="227"/>
      <img border="0" height="233" src="/images/procee18.jpg" width="227"/>
      <br/>
      <br/>
     </p>
     <hr align="left" color="#000000" size="1" width="50%"/>
     <p style="margin-top: 0; margin-bottom: 0">
      Also see:
      <a href="/dictionary/proceed">
       PROCEED
      </a>
      <br/>
     </p>
    </font>
   </span>
   <span style="font-weight: 400">
    <font face="Arial">
     Also see:  "
     <a href="/dictionary/after">
      AFTER
     </a>
     "
    </font>
   </span>
   <span style="font-weight: 400">
    <font face="Arial">
     <hr align="left" color="#000000" size="1" width="50%"/>
     <p style="margin-top: 0; margin-bottom: 0">
      <br/>
      Notes:
      <br/>
      In a message dated 10/16/2012 11:37:39 A.M. Pacific Daylight Time, Dawn Augustyn 
writes:
      <br/>
      <br/>
      Hi Dr. Vicars,
      <br/>
      I am teaching my 15 month old daughter sign language. She is not deaf...I'm 
teaching her so she can communicate with us prior to vocalizing her needs. And 
it has been very beneficial ...she definitely understands how to use the sign for 
cracker!
      <br/>
      <br/>
      Anyway, I'm writing to ask you about how to sign "start" from the phrase "and 
then we start". I am not sure if you are familiar with the TV network "Sprout 
TV" but they have an evening show called The Good Night Show. The host, her name 
is Nina, recites a poem, "Hush Hush Little Fish" and then she does it in sign 
language. I like to do that along with her to show my daughter and I was using 
your site to confirm I was doing the signs correctly. All was fine until I tried 
to find the word "start". What you show is not what she does.
      <br/>
      <br/>
      Here's the poem:
      <br/>
      Hush, hush little fish
      <br/>
      We are here to make a wish
      <br/>
      We close our eyes
      <br/>
      And then we start
      <br/>
      To make a wish
      <br/>
      With all our heart
      <br/>
      <br/>
      Nina does the start sign by putting her left hand with her palm facing her 
chest. Then her right hand is in front of her left with her palm facing the 
front of her left hand. When she says "and then we start", she "pushes" her 
right hand forward. I hope this makes sense. Is this another way of saying start 
that you are aware of?
      <br/>
      <br/>
      Many thanks in advance for any help you can provide.
      <br/>
      Take care,
      <br/>
      Dawn Augustyn
      <br/>
      Master Data Analyst
      <br/>
      <br/>
      <br/>
      Dawn,
      <br/>
      Hello :)
      <br/>
      What she is signing is the sign: "FROM-NOW-ON" which is related to the sign for 
"PROCEED."
      <br/>
      "From now on" can be interpreted as "from then on " or "from this point 
forward."
      <br/>
      It is also related to the signs, PRIOR-TO-(before), NEXT, and one of the 
versions of AFTER.
      <br/>
      Thus, her sign choice works very nicely for her poem but would not work well as 
a general replacement for the generic START sign for use in everyday 
conversation.
      <br/>
      Cordially,
      <br/>
      Dr. Bill
     </p>
    </font>
   </span>
  </blockquote>
 </body>
</html>