<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   <p>
    <br/>
    To sign "fruit" touch the tips of the index finger and thumb of an "F"-hand to 
	your cheek. Twist the "F"-hand on your cheek twice.
    <font face="Arial">
     Maintain contact for the whole sign. (The hand doesn't leave your cheek, nor 
	does it move forward on the cheek.)
    </font>
   </p>
   <p>
    <font face="Arial">
     <br/>
     FRUIT:
    </font>
   </p>
   <p>
    <img border="0" height="225" src="/images/fruit.1.jpg" width="189"/>
    <img border="0" height="225" src="/images/fruit.2.jpg" width="189"/>
    <img border="0" height="225" src="/images/fruit.3.jpg" width="189"/>
    <img border="0" height="225" src="/images/fruit.4.jpg" width="189"/>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <br/>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>