<html>
 <body>
  <blockquote>
   <font face="Arial">
    <h1 style="margin-top: 0; margin-bottom: 0">
     <span style="font-weight: 400">
      <font size="5">
       American Sign Language: "funny"
      </font>
     </span>
     <br/>
    </h1>
    <blockquote>
     <hr align="left" color="#000000" size="1"/>
     <p style="margin-top: 0; margin-bottom: 0">
      FUNNY:
      <br/>
      <iframe allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/b4bEDbnaGv4?rel=0" width="560">
      </iframe>
     </p>
    </blockquote>
    <hr align="left" color="#000000" size="1"/>
    <hr align="left" color="#000000" size="1"/>
   </font>
   <b>
    <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=XHRNABERKJT4N" rel="nofollow" target="_blank">
     <u>
      DONATE
     </u>
    </a>
   </b>
   <font size="2">
    (
    <i>
     Thanks!
    </i>
    )
   </font>
   <br/>
   <br/>
   <font face="Arial">
    *
   </font>
   Another way to help is to buy something from Dr. Bill's "
   <b>
    <a href="/dictionary/bookstore">
     <u>
      Bookstore
     </u>
    </a>
   </b>
   ."
   <hr align="left" color="#000000" size="1"/>
   <hr color="#000000" size="1"/>
   <p>
   </p>
  </blockquote>
 </body>
</html>