<html>
 <body>
  <blockquote>
   <h1 style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     <span style="font-weight: 400">
      <font size="5">
       ASL: "furniture"
      </font>
     </span>
     <br/>
    </font>
   </h1>
   <p>
   </p>
   <p>
    Discussion:
   </p>
   <p>
    FURNITURE:
    <br/>
    Wave an "F" handshape side to side a couple times.  Use a small 
  movement. The movement is side to side, NOT in a circle.  If you do it in 
  a circle it means "Friday."
    <br/>
    <br/>
    :
    <img border="0" height="224" src="/images/furnit9.jpg" width="227"/>
    <img border="0" height="224" src="/images/furnit10.jpg" width="227"/>
    <img border="0" height="224" src="/images/furnit11.jpg" width="227"/>
   </p>
   <p>
    <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/AG4ZNOYVZN4" width="560">
    </iframe>
   </p>
   <p>
   </p>
   <p>
    Animation:
    <a href="/images/furniture.gif">
     furniture
    </a>
   </p>
   <p>
   </p>
   <p>
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1"/>
   <hr align="left" color="#000000" size="1"/>
   <hr align="left" color="#000000" size="1"/>
   <hr align="left" color="#000000" size="1"/>
   <hr color="#000000" size="1"/>
   <p>
   </p>
  </blockquote>
 </body>
</html>