<html>
 <body>
  <blockquote>
   <font face="Arial">
    <h2 style="margin-top: 0; margin-bottom: 0">
     <span style="font-weight: 400">
      American Sign Language:  "gallon"
     </span>
    </h2>
    <blockquote>
     <hr align="left" color="#000000" size="1" width="50%"/>
     <span style="font-weight: 400">
      <p style="margin-top: 0; margin-bottom: 0">
       "gallon" = GAL
       <br/>
       <a href="/images/g.gif" style="text-decoration: none">
        <img alt="g.gif (156913 bytes)" border="2" height="100" src="/images/g_small.gif" width="100" xthumbnail-orig-image="../../fingerspelling/abc-gifs/g.gif"/>
       </a>
       <a href="/images/a.gif" style="text-decoration: none">
        <img alt="a.gif (156187 bytes)" border="2" height="100" src="/images/a_small.gif" width="100" xthumbnail-orig-image="../../fingerspelling/abc-gifs/a.gif"/>
       </a>
       <a href="/images/l.gif" style="text-decoration: none">
        <img alt="l.gif (199517 bytes)" border="2" height="100" src="/images/l_small.gif" width="100" xthumbnail-orig-image="../../fingerspelling/abc-gifs/l.gif"/>
       </a>
       <br/>
       Example:  "12 gallons" = "12 G-A-L"
       <br/>
      </p>
      <hr align="left" color="#000000" size="1" width="50%"/>
      <p style="margin-top: 0; margin-bottom: 0">
       Related concepts:
       <br/>
       <br/>
       "miles" = M-I-L-E
       <br/>
       <a href="/images/m.gif" style="text-decoration: none">
        <img alt="m.gif (151605 bytes)" border="2" height="100" src="/images/m_small.gif" width="100" xthumbnail-orig-image="../../fingerspelling/abc-gifs/m.gif"/>
       </a>
       <a href="/images/i.gif" style="text-decoration: none">
        <img alt="i.gif (217459 bytes)" border="2" height="100" src="/images/i_small.gif" width="100" xthumbnail-orig-image="../../fingerspelling/abc-gifs/i.gif"/>
       </a>
       <a href="/images/l.gif" style="text-decoration: none">
        <img alt="l.gif (199517 bytes)" border="2" height="100" src="/images/l_small.gif" width="100" xthumbnail-orig-image="../../fingerspelling/abc-gifs/l.gif"/>
       </a>
       <a href="/images/e.gif" style="text-decoration: none">
        <img alt="e.gif (169026 bytes)" border="2" height="100" src="/images/e_small.gif" width="100" xthumbnail-orig-image="../../fingerspelling/abc-gifs/e.gif"/>
       </a>
       <br/>
       Example: "100 miles" = "100 M-I-L-E" or "100 M-I-L-E-S."
       <br/>
       Note: While we almost never see "inches" spelled with the "es," we do often see 
the "s" used with "miles."
       <br/>
       Note: I've seen a number of people (mostly young) use the sign "ODOMETER" 
(right index finger circling left index finger) to mean "miles."
       <br/>
       <br/>
       "inches" = I-N-C-H
       <br/>
       <a href="/images/i.gif" style="text-decoration: none">
        <img alt="i.gif (217459 bytes)" border="2" height="100" src="/images/i_small.gif" width="100" xthumbnail-orig-image="../../fingerspelling/abc-gifs/i.gif"/>
       </a>
       <a href="/images/n.gif" style="text-decoration: none">
        <img alt="n.gif (182996 bytes)" border="2" height="100" src="/images/n_small.gif" width="100" xthumbnail-orig-image="../../fingerspelling/abc-gifs/n.gif"/>
       </a>
       <a href="/images/c.gif" style="text-decoration: none">
        <img alt="c.gif (438798 bytes)" border="2" height="100" src="/images/c_small.gif" width="100" xthumbnail-orig-image="../../fingerspelling/abc-gifs/c.gif"/>
       </a>
       <a href="/images/h.gif" style="text-decoration: none">
        <img alt="h.gif (137279 bytes)" border="2" height="100" src="/images/h_small.gif" width="100" xthumbnail-orig-image="../../fingerspelling/abc-gifs/h.gif"/>
       </a>
       <br/>
       Example:  "15 inches" = "15 I-N-C-H" (We drop the "es." The number 15 causes the 
"INCH" to be plural without adding the "es."
      </p>
     </span>
    </blockquote>
    <hr align="left" color="#000000" size="1"/>
    <hr align="left" color="#000000" size="1"/>
   </font>
   <b>
    <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=XHRNABERKJT4N" rel="nofollow" target="_blank">
     <u>
      DONATE
     </u>
    </a>
   </b>
   <font size="2">
    (
    <i>
     Thanks!
    </i>
    )
   </font>
   <br/>
   <br/>
   <font face="Arial">
    *
   </font>
   Another way to help is to buy something from Dr. Bill's "
   <b>
    <a href="/dictionary/bookstore">
     <u>
      Bookstore
     </u>
    </a>
   </b>
   ."
   <hr align="left" color="#000000" size="1"/>
   <hr color="#000000" size="1"/>
   <p>
   </p>
  </blockquote>
 </body>
</html>