<html>
 <body>
  <blockquote>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
    <p>
     The sign for "game" uses "A" hands. Bring the hands 
			together twice. You can either make contact or just bring them close 
			together. (Most of the time I do make contact twice. I was just 
			being careful for the pictures).
    </p>
    <p>
     <br/>
     GAME:
     <br/>
     <img border="0" height="217" src="/images/game.h21.jpg" width="225"/>
     <img border="0" height="217" src="/images/game.h22.jpg" width="225"/>
     <img border="0" height="217" src="/images/game.h23.jpg" width="225"/>
     <img border="0" height="217" src="/images/game.h22.jpg" width="225"/>
     <br/>
    </p>
    <hr align="left" color="#000000" size="1"/>
    <p>
     <br/>
     CHALLENGE:
     <br/>
     This is a variation of the "GAME" sign.  This variation uses a bigger, 
  faster, movement and more facial expression.  The movement is definitely 
  a single movement
    </p>
    <img border="0" height="213" src="/images/game.h24.jpg" width="261"/>
    <img border="0" height="213" src="/images/game.h25.jpg" width="261"/>
    <img border="0" height="213" src="/images/game.h26.jpg" width="261"/>
    <br/>
    <br/>
    Memory aid: Think of the way rams butt their heads together to
    <b>
     <i>
      challenge
     </i>
    </b>
    each other for dominance.  That's just a memory 
	aid.  Do the sign
    <i>
     lightly
    </i>
    so as to not hurt yourself. You don't 
			need to make contact with the hands. (It is "right" either way.)
    <p>
     <br/>
    </p>
    <hr align="left" color="#000000" size="1" width="50%"/>
    <p>
     Note:  In general the sign "game" is done with a double movement and the 
  fronts of the fists make contact two times.
     <br/>
     <br/>
     But I've seen highly 
  skilled signers like Dennis Platt (wonderful guy, world traveler, heavily involved with Deaf 
  sports events, and former president of the Utah Association for the Deaf) do 
  the sign "GAME" using a
     <b>
      single strong movement
     </b>
     without the hands touching. 
			To me it was obvious that what he meant was "The big game!" (as in "
     <i>
      The 
			big match up
     </i>
     !") Which means there are two teams coming together 
			to challenge each other.  So his signing (of course) made 
			perfect sense.
     <br/>
     <br/>
     So, here is my advice:  When you are referring to board games or simple 
  little games between two players then go ahead and do this sign with a 
  double movement with the knuckles of the hands butting up against each other. If you are 
  referring to a sports match you can do the movement one time and you can make 
	contact but you don't "have to" bring them 
  all the way together. Either way is fine.
     <br/>
    </p>
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>