<html>
 <body>
  <blockquote>
   <font face="Arial">
    <h2 style="margin-top: 0; margin-bottom: 0">
     <span style="font-weight: 400">
      American Sign Language:  "garlic"
     </span>
    </h2>
    <blockquote>
     <hr align="left" color="#000000" size="1" width="50%"/>
     <span style="font-weight: 400">
      <p style="margin-top: 0; margin-bottom: 0">
       GARLIC:
       <br/>
       "Garlic" is often fingerspelled:
       <br/>
       <img height="100" src="/images/g_small.gif" width="100"/>
       <img height="100" src="/images/a_small.gif" width="100"/>
       <img height="100" src="/images/r_small.gif" width="100"/>
       <img height="100" src="/images/l_small.gif" width="100"/>
       <img height="100" src="/images/i_small.gif" width="100"/>
       <img height="100" src="/images/c_small.gif" width="100"/>
      </p>
     </span>
     <p style="margin-top: 0; margin-bottom: 0">
     </p>
     <hr align="left" color="#000000" size="1" width="50%"/>
     <span style="font-weight: 400">
      <p style="margin-top: 0; margin-bottom: 0">
      </p>
      <p style="margin-top: 0; margin-bottom: 0">
       GARLIC (version)
       <br/>
       The sign for "garlic" is similar to the sign "
       <a href="/dictionary/onion">
        ONION
       </a>
       " 
except
       <font color="#000000" face="Arial" id="role_document">
        the 
sign "garlic" is done on the side of the nose instead the side of the eye.
        <br/>
        It is done as if signing "
        <a href="/dictionary/bored">
         BORED
        </a>
        " but use the 
knuckle of an "X" handshape:
       </font>
      </p>
      <p style="margin-top: 0; margin-bottom: 0">
      </p>
      <p style="margin-top: 0; margin-bottom: 0">
       <img border="0" height="252" src="/images/garlic1.jpg" width="300"/>
       <img border="0" height="252" src="/images/garlic2.jpg" width="300"/>
      </p>
      <p style="margin-top: 0; margin-bottom: 0">
      </p>
      <hr align="left" color="#000000" size="1" width="50%"/>
      <p style="margin-top: 0; margin-bottom: 0">
      </p>
      <p style="margin-top: 0; margin-bottom: 0">
       "garlic"-[contex+SPICY]
       <br/>
       A very common way to sign "garlic" is to do the sign SPICY in context and with 
an added "non-manual-signal / mouth morpheme" consisting of partially mouthing 
the word "garlic."
       <br/>
       "spicy."Hold a loose "five" hand in front of your mouth and move it forward while 
wiggling the fingers as if showing your "garlic breath" coming out of your mouth 
as you talk.
       <br/>
       <br/>
       [See:
       <a href="/dictionary/spicy">
        SPICY
       </a>
       ]
       <br/>
      </p>
      <hr align="left" color="#000000" size="1" width="50%"/>
      <p style="margin-top: 0; margin-bottom: 0">
       <br/>
       GARLIC-[depictive-version]
       <br/>
       One of my friends showed me this version. It was either my friend from Korea or 
my friend from New Zealand.  (I was too preoccupied
      </p>
     </span>
     <span style="font-weight: 700; font-style:italic">
      eating
     </span>
     <span style="font-weight: 400">
      the garlic-infused food to pay-attention to such a minor detail as
     </span>
     <span style="font-weight: 700">
      <i>
       who I was with
      </i>
     </span>
     <span style="font-weight: 400">
      ).  I'll half to ask them both next time I see 
them.  So this next version of "garlic" is NOT American sign language but it is such a cool 
sign that I couldn't resist showing it to you here.  See how 
the right hand represents "cloves?"
      <br/>
      <br/>
      <img border="0" height="258" src="/images/garlic3.jpg" width="300"/>
      <img border="0" height="258" src="/images/garlic4.jpg" width="300"/>
      <img border="0" height="258" src="/images/garlic5.jpg" width="300"/>
      <img border="0" height="258" src="/images/garlic6.jpg" width="300"/>
      <p style="margin-top: 0; margin-bottom: 0">
       Note: The version above could be 
considered a depictive sign (classifier).
       <br/>
      </p>
      <hr align="left" color="#000000" size="1" width="50%"/>
      <p style="margin-top: 0; margin-bottom: 0">
       <br/>
       GARLIC-[Signed-English-version]  (not recommended)
      </p>
     </span>
     <p style="margin-top: 0; margin-bottom: 0">
      You might see some folks touch the 
tip of the thumb of a G-hand to the corner of their eye and twist it twice.  
This sign is considered "Signed English" and not "ASL."  I mention it here 
because it is "out there" and I want you to recognize it if you see it.  
That version is based on the concept of initializing (using the first letter of 
the commonly associated English written representation of the sign as the 
handshape for the sign) the sign for
      <span style="font-weight: 400">
       <a href="/dictionary/onion">
        ONION
       </a>
      </span>
      with the "G"-handshape.
     </p>
    </blockquote>
    <hr align="left" color="#000000" size="1"/>
    <hr align="left" color="#000000" size="1"/>
   </font>
   <b>
    <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=XHRNABERKJT4N" rel="nofollow" target="_blank">
     <u>
      DONATE
     </u>
    </a>
   </b>
   <font size="2">
    (
    <i>
     Thanks!
    </i>
    )
   </font>
   <br/>
   <br/>
   <font face="Arial">
    *
   </font>
   Another way to help is to buy something from Dr. Bill's "
   <b>
    <a href="/dictionary/bookstore">
     <u>
      Bookstore
     </u>
    </a>
   </b>
   ."
   <hr align="left" color="#000000" size="1"/>
   <hr color="#000000" size="1"/>
   <p>
   </p>
  </blockquote>
 </body>
</html>