<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   <p>
    GASOLINE / GAS :
   </p>
   <p>
    <img border="0" src="/images/gas.gif" style="max-width: 100%; height: auto" width="480"/>
   </p>
   <p>
    <img border="0" height="228" src="/images/gasoli27.jpg" width="228"/>
    <img border="0" height="228" src="/images/gasoli28.jpg" width="228"/>
   </p>
   <p>
    <font face="Arial">
     Use a double movement to mean "gasoline."
     <br/>
    </font>
    Use a single movement to mean "put in gas."
   </p>
   <hr color="#800080"/>
   Also see:
   <a href="/dictionary/gas-station">
    GAS-STATION
   </a>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>