<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   <span style="font-weight: 400">
    <font face="Arial">
     <p style="margin-top: 0; margin-bottom: 0">
      Also see: "
      <a href="/dictionary/ride">
       ride
      </a>
      "
      <br/>
      Also see: "
      <a href="/dictionary/carpool">
       carpool
      </a>
      "
     </p>
     <hr align="left" color="#000000" size="1"/>
     <p style="margin-top: 0; margin-bottom: 0">
      <br/>
      GET-ON:
      <br/>
      This sign is used for getting onto things that you straddle: As in: "get on a 
motorcycle," "get on a bike," or "get on a horse."
      <br/>
     </p>
     <p style="margin-top: 0; margin-bottom: 0">
      <img border="0" src="/images/get-on.gif" style="max-width: 100%; height: auto" width="480"/>
      <br/>
     </p>
     <p style="margin-top: 0; margin-bottom: 0">
      GET-ON
     </p>
     <p style="margin-top: 0; margin-bottom: 0">
      <img border="0" height="238" src="/images/geton1.jpg" width="225"/>
      <img border="0" height="238" src="/images/geton2.jpg" width="225"/>
      <img border="0" height="238" src="/images/geton3.jpg" width="225"/>
      <img border="0" height="238" src="/images/geton4.jpg" width="225"/>
      <img border="0" height="238" src="/images/geton5.jpg" width="225"/>
     </p>
    </font>
   </span>
  </blockquote>
 </body>
</html>