<html>
 <body>
  <blockquote>
   <h1 style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     <span style="font-weight: 400">
      <font size="5">
       ASL: "get-in"
      </font>
     </span>
     <br/>
    </font>
   </h1>
   <p>
    <br/>
    If you mean "get in" as in "get into a vehicle" or get into something that you 
ride in -- then use the sign GET-IN.
    <br/>
    <br/>
    GET-IN:
   </p>
   <p>
    <span style="font-weight: 400">
     <img border="0" height="239" src="/images/getin1.jpg" width="231"/>
     <img border="0" height="239" src="/images/getin2.jpg" width="231"/>
     <img border="0" height="239" src="/images/getin3.jpg" width="231"/>
     <img border="0" height="239" src="/images/getin4.jpg" width="231"/>
     <img border="0" height="239" src="/images/getin5.jpg" width="231"/>
    </span>
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p>
    Notes:
    <br/>
    <span style="font-weight: 400">
     If you mean some other form of get in such as "join" then see:
     <a href="/dictionary/join">
      JOIN
     </a>
    </span>
    <br/>
    <br/>
    If you mean "get in trouble" you can just sign
    <a href="/dictionary/trouble">
     TROUBLE
    </a>
    .
    <br/>
    <br/>
    Also see:
    <br/>
    <a href="/dictionary/get-on">
     GET-ON
    </a>
    <br/>
    <a href="/dictionary/ride">
     RIDE
    </a>
    <br/>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1"/>
   <hr align="left" color="#000000" size="1"/>
   <hr align="left" color="#000000" size="1"/>
   <hr color="#000000" size="1"/>
   <p>
   </p>
  </blockquote>
 </body>
</html>