<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   <p style="margin-top: 0; margin-bottom: 0">
    The right sign for "get" depends on your meaning.
    <br/>
    <br/>
    The generic sign "GET" starts with your hands in loose, open, claw shapes
held away from the body.
    <span style="background-color: #FFFF00">
     Pull your hands back towards 
	your body
    </span>
    and change 
	them so they become "S" hands.
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    GET/acquire / receive / obtain:
    <br/>
    <img border="0" src="/images/get.gif" style="max-width: 100%; height: auto" width="480"/>
    <img border="0" height="221" src="/images/get1.jpg" width="190"/>
    <img border="0" height="221" src="/images/get2.jpg" width="190"/>
    <font face="Arial">
     <img border="0" height="162" src="/images/get.gif" width="300"/>
    </font>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/mZRz-Uyj2fo?rel=0&autoplay=1" width="560">
    </iframe>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1" width="50%"/>
   </font>
   <p style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     Sample sentence: "Where does milk come from? How do we get it?"
     <br/>
     <br/>
     <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/wJxyQTca_YY?rel=0" width="560">
     </iframe>
     <br/>
    </font>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
   <p style="margin-top: 0; margin-bottom: 0">
    Notes:
    <br/>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    If you want to say something like "I finally got it" or "it occurred to me 
suddenly" you would not use the sign "GET" instead you'd use the sign "HIT."  
This is also true for a situation in which a person
suddenly came down with the flu as in, "I got hit with the flu last
weekend."
    <br/>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    HIT:
    <br/>
    <img border="0" height="232" src="/images/hit1.jpg" width="197"/>
    <img border="0" height="232" src="/images/hit2.jpg" width="197"/>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/AbShTNdghBY?rel=0" width="560">
    </iframe>
    <br/>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1" width="50%"/>
   </font>
   <p style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     Also If you are going to sign "The boy got sick" you could use the sign 
	"become."
     <br/>
     See:
     <a href="/dictionary/become">
      BECOME
     </a>
    </font>
    <font face="Arial">
     <hr align="left" color="#000000" size="1" width="50%"/>
    </font>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     <hr align="left" color="#000000" size="1"/>
    </font>
   </p>
  </blockquote>
 </body>
</html>