<html>
 <body>
  <blockquote>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
    <p>
     The sign for "giraffe" uses a "G" hand starting at your neck.  Raise your hand up over your head 
  to represent the long neck of a giraffe.
     <br/>
     <br/>
     GIRAFFE:
     <br/>
     <img border="0" height="225" src="/images/giraff4.jpg" width="243"/>
     <img border="0" height="225" src="/images/giraff5.jpg" width="243"/>
     <img border="0" height="225" src="/images/giraff6.jpg" width="243"/>
     <img border="0" height="225" src="/images/giraff7.jpg" width="243"/>
    </p>
    <p>
    </p>
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>