<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1" width="50%"/>
   <span style="font-weight: 400">
    <font face="Arial">
     <p style="margin-top: 0; margin-bottom: 0">
      <br/>
      Place the tip of your thumb on your cheek.  Slide the tip of
  the thumb forward and down along the cheek.
      <br/>
      Memory tip:  Girls used to wear bonnets that they tied under their chin. 
  [You might want to visit the
      <a href="/dictionary/boygirl">
       BOY/GIRL
      </a>
      "tour" page for more information.]
      <br/>
      <br/>
      GIRL:
     </p>
     <p style="margin-top: 0; margin-bottom: 0">
      <img border="0" src="/images/girl.gif" style="max-width: 100%; height: auto" width="480"/>
      <img border="0" height="255" src="/images/girl.gif" width="248"/>
      <br/>
      <img border="0" height="480" src="/images/girl-01.jpg" width="480"/>
      <img border="0" height="480" src="/images/girl-02.jpg" width="480"/>
     </p>
     <p style="margin-top: 0; margin-bottom: 0">
      <iframe allow="autoplay; encrypted-media" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/pwh3cOdoiG4?rel=0" width="560">
      </iframe>
     </p>
     <hr align="left" color="#000000" size="1" width="50%"/>
     <p>
      Little-girl:
      <br/>
      <b>
       Tip:
      </b>
      think of the height of the boy or girl.
     </p>
     <p>
      <img height="255" src="/images/xgirl.gif" width="274"/>
      <img height="165" src="/images/ruler.gif" width="287"/>
     </p>
     <p style="margin-top: 0; margin-bottom: 0">
      <img border="0" height="221" src="/images/girl-littlegirl1.jpg" width="211"/>
      <img border="0" height="221" src="/images/girl-littlegirl2.jpg" width="211"/>
      <img border="0" height="221" src="/images/girl-littlegirl3.jpg" width="211"/>
      <img border="0" height="221" src="/images/girl-littlegirl4.jpg" width="211"/>
      <br/>
     </p>
    </font>
   </span>
   <hr/>
   <p style="margin-top: 0; margin-bottom: 0">
    <span style="font-weight: 400">
     ALSO 
SEE:
     <a href="/dictionary/woman">
      WOMAN
     </a>
    </span>
   </p>
   <hr/>
  </blockquote>
 </body>
</html>