<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   <p style="margin-top: 0; margin-bottom: 0">
    The sign for "give" depends on your meaning.
    <font face="Arial">
     GIVE is a "directional verb."  Directional verbs are signs that  
    incorporate information about the subject and object (the doer and receiver 
    of the action).  That means you don't have to use a separate sign for 
    the subject and/or object when you use a directional verb.  This is 
    known as "agreement."  Or "subject-object agreement."
    </font>
    <font face="Arial">
     <hr align="left" color="#000000" size="1"/>
    </font>
   </p>
   <p>
    me-GIVE-you (version 1) "hand to"
    <br/>
    <br/>
    <img border="0" src="/images/give-o-one-handed.gif" style="max-width: 100%; height: auto" width="480"/>
    <br/>
    <img border="0" height="236" src="/images/give-megiveyou1.jpg" width="211"/>
    <img border="0" height="236" src="/images/give-megiveyou2.jpg" width="211"/>
    <img border="0" height="236" src="/images/give-megiveyou3.jpg" width="211"/>
   </p>
   <p>
   </p>
   <p>
    me-GIVE-you (two handed version)
   </p>
   <p>
    <img border="0" src="/images/give-o-two-handed.gif" style="max-width: 100%; height: auto" width="480"/>
   </p>
   <p>
    <iframe allow="autoplay; encrypted-media" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/PkJpgPxNhwE?rel=0" width="560">
    </iframe>
   </p>
   <hr/>
   <p>
    GIVE-you (version 2)
    <br/>
    This version of the sign give uses an "x" handshape.
    <br/>
    <br/>
    <img border="0" src="/images/give-x-one-handed.gif" style="max-width: 100%; height: auto" width="480"/>
   </p>
   <p>
   </p>
   <p>
    GIVE-you (two handed "x" handshape version)
   </p>
   <p>
    <img border="0" src="/images/give-x-two-handed.gif" style="max-width: 100%; height: auto" width="480"/>
   </p>
   <p>
    <iframe allow="autoplay; encrypted-media" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/ynLKZnP8dl8?rel=0" width="560">
    </iframe>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
   <p>
    you-GIVE-me:
    <br/>
    <br/>
    <img border="0" height="233" src="/images/give-yougiveme1.jpg" width="218"/>
    <img border="0" height="233" src="/images/give-yougiveme2.jpg" width="218"/>
    <img border="0" height="233" src="/images/give-yougiveme3.jpg" width="218"/>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
   <p>
    me-GIVE-him:
    <br/>
    <br/>
    <img border="0" height="230" src="/images/give-megivehim1.jpg" width="292"/>
    <img border="0" height="230" src="/images/give-megivehim2.jpg" width="292"/>
    <img border="0" height="230" src="/images/give-megivehim3.jpg" width="292"/>
    <br/>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
    <p>
     If I wanted to indicate "HE GAVE IT TO ME," all I'd need to 
  do is start the sign "GIVE" from a location that is farther away from my body 
  and end the sign nearer to my body.
    </p>
   </font>
   <p>
    he-GIVE-me:
    <br/>
    <br/>
    <img border="0" height="240" src="/images/give-himgiveme1.jpg" width="287"/>
    <img border="0" height="240" src="/images/give-himgiveme2.jpg" width="287"/>
    <img border="0" height="240" src="/images/give-himgiveme3.jpg" width="287"/>
    <br/>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
   <p>
    GIVE-to-everyone / "pass out" / distribute
    <br/>
    <br/>
    <img border="0" height="230" src="/images/give-givetoeverybody1.jpg" width="336"/>
    <img border="0" height="230" src="/images/give-givetoeverybody2.jpg" width="336"/>
    <img border="0" height="230" src="/images/give-givetoeverybody3.jpg" width="336"/>
    <br/>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
   <p>
    GIVE-to-each-person:
    <br/>
    <img border="0" height="239" src="/images/give-handtoeachperson1.jpg" width="318"/>
    <img border="0" height="239" src="/images/give-handtoeachperson2.jpg" width="318"/>
    <img border="0" height="239" src="/images/give-handtoeachperson3.jpg" width="318"/>
    <img border="0" height="239" src="/images/give-handtoeachperson4.jpg" width="318"/>
    <img border="0" height="239" src="/images/give-handtoeachperson5.jpg" width="318"/>
    <img border="0" height="239" src="/images/give-handtoeachperson6.jpg" width="318"/>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
    <p>
     Also see:
     <a href="/dictionary/grant">
      GRANT
     </a>
    </p>
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>