<html>
 <body>
  <blockquote>
   If you want to sign "go to bed," sure, you can just sign GO and BED.
   <br/>
   But there is a version of "go to bed" that would probably be more 
			accurately labeled as "get in bed."
   <br/>
   It is worth knowing if for no other reason than it is a cool example 
			of how to use your hands to show how things look.
   <br/>
   <font face="Arial">
    <p style="margin-top: 0; margin-bottom: 0">
     Go to bed:
    </p>
    <p style="margin-top: 0; margin-bottom: 0">
     <img border="0" src="/images/go-to-bed.gif" style="max-width: 100%; height: auto" width="480"/>
    </p>
    <p style="margin-top: 0; margin-bottom: 0">
     <img border="0" height="226" src="/images/bed-gotobed1.jpg" width="216"/>
     <img border="0" height="226" src="/images/bed-gotobed2.jpg" width="216"/>
     <img border="0" height="226" src="/images/bed-gotobed3.jpg" width="216"/>
     <img border="0" height="226" src="/images/bed-gotobed4.jpg" width="216"/>
     <br/>
     <br/>
     Sample sentence:
			What time did you go to bed last Saturday?
     <br/>
     = PAST SATURDAY YOU GO-TO-BED, what-TIME?
     <br/>
     <br/>
    </p>
   </font>
   <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/86UjqJCApqo?rel=0" width="560">
   </iframe>
   <br/>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
    <p align="left" style="margin-top: 0; margin-bottom: 0">
     <span style="font-weight: 400">
      Also see:
      <a href="/dictionary/bed" style="text-decoration: none">
       BED
      </a>
     </span>
    </p>
    <hr align="left" color="#000000" size="1"/>
   </font>
   <p style="margin-top: 0; margin-bottom: 0">
    <br/>
   </p>
   <!--webbot bot="Include" U-Include="../../topics/adsense4.htm" TAG="BODY" startspan -->
   <hr/>
   <br/>
   <!-- 728x15_link_ads_adsense1_bottom -->
   <ins class="adsbygoogle" data-ad-client="ca-pub-2513564923850231" data-ad-slot="2289748297" style="display:inline-block;width:728px;height:15px">
   </ins>
   <br/>
   <!-- 728x15_link_ads_adsense1_bottom -->
   <ins class="adsbygoogle" data-ad-client="ca-pub-2513564923850231" data-ad-slot="2289748297" style="display:inline-block;width:728px;height:15px">
   </ins>
   <br/>
   <!-- 728x15_link_ads_adsense1_bottom -->
   <ins class="adsbygoogle" data-ad-client="ca-pub-2513564923850231" data-ad-slot="2289748297" style="display:inline-block;width:728px;height:15px">
   </ins>
   <br/>
   <br/>
   <!-- 728x90-leaderboard -->
   <ins class="adsbygoogle" data-ad-client="ca-pub-2513564923850231" data-ad-slot="7543121294" style="display:inline-block;width:728px;height:90px">
   </ins>
   <!--webbot bot="Include" i-checksum="23672" endspan -->
   <br/>
   <hr align="left" color="#000000" size="1"/>
   <font face="Arial" size="1">
   </font>
   <input name="cmd" type="hidden" value="_s-xclick"/>
   <input name="hosted_button_id" type="hidden" value="AVN6HZ7MF9WVS"/>
  </blockquote>
 </body>
</html>