<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   <br/>
   <font face="Arial">
    <img border="0" height="476" src="/images/god.ht5.jpg" width="486"/>
    <img border="0" height="476" src="/images/god.ht6.jpg" width="486"/>
   </font>
   <p style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1" width="50%"/>
   <p>
    God:
   </p>
   <p>
    <img border="0" height="302" src="/images/god.ht1.jpg" width="320"/>
    <img border="0" height="302" src="/images/god.ht2.jpg" width="320"/>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <br/>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
    <p style="margin-top: 0; margin-bottom: 0">
     Also see:
     <a href="/dictionary/jesus">
      JESUS
     </a>
    </p>
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>