<html>
 <body>
  <blockquote>
   <h1 style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     <span style="font-weight: 400">
      <font size="5">
       ASL: "open-7" / "goody-goody" 
		/ "goody goody two shoes" / propriety / I'm innocent / on best behavior / 
		holier than thou / pious
      </font>
     </span>
     <br/>
    </font>
   </h1>
   <p>
    <br/>
   </p>
   <p>
    The open-7 sign is polysemic. (Polysemic means having multiple 
meanings).
    <br/>
    The meaning conveyed depends on context, non-manual markers (facial expressions 
and other body language), and inflection (the way in which you modify the 
signing speed, path, pauses, abruptness, etc.).
    <br/>
    <br/>
    The sign is likely a portmanteau (a combination) of the signs INNOCENT and OATH. 
As in: "I am innocent -- I swear!"
   </p>
   <p>
    <br/>
    If you do the sign in a sarcastic way you create a meaning such as 
"goody-goody."
    <br/>
    <br/>
    If you do the sign in a serious way it can create a meaning of "to have acted in 
a way that shows propriety or innocence."
    <br/>
    <br/>
    If you have recently been accused of wrongdoing you can use this sign to state 
"I am innocent -- I did nothing wrong."
    <br/>
    <br/>
    You can use this sign to mean, "I promise to be on my best behavior."
   </p>
   <p>
    <br/>
    <br/>
    The open-7 sign:
    <br/>
    <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/KF7M_6Lk66M" width="560">
    </iframe>
    <br/>
    <br/>
    <br/>
    Remember you don't know what this sign means until you add context and facial 
expression.
    <br/>
    <br/>
    It has a range of meanings.
    <br/>
    <br/>
    It can be used to accuse someone of acting in a "holier than thou" manner or 
"churchy" or preaching.
    <br/>
    <br/>
    It can be used to describe someone as acting in a way that is "ostentatiously 
virtuous."
    <br/>
    <br/>
    Or it can mean "to promise to act or to claim to have acted in a way that shows 
propriety."
    <br/>
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p>
    Notes:
    <br/>
    <br/>
    The "open-7 sign" is about "formal" vs "casual" register --- but people may try to tell you 
it is.
    <br/>
    <br/>
    The INNOCENT sign has a primary meaning that maps very strongly to the English 
word "innocent."
    <br/>
    <br/>
    The open-7 sign has a primary meaning that maps very strongly to the English 
word "propriety" or words "claim propriety" and can sometimes be interpreted as 
"stating or claiming to be innocent" but also has meanings that INNOCENT doesn't 
have.
    <br/>
    <br/>
    Try looking up both words in a dictionary (innocent vs propriety).
    <br/>
    Then look up "Venn diagram."
    <br/>
    <br/>
    Also, consider the sign for VOW / oath / promise / I swear.
    <br/>
    <br/>
    Thus you end up with the open-7 sign meaning "I'm innocent, I swear!"
    <br/>
    <br/>
    Think about it -- if turned the signs INNOCENT + OATH into a portmanteau into 
"one sign" it would look and function like the open-7 sign.
    <br/>
    <br/>
    https://youtu.be/PqESZm6cPfE
    <br/>
    <br/>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1"/>
   <hr align="left" color="#000000" size="1"/>
   <hr align="left" color="#000000" size="1"/>
   <hr color="#000000" size="1"/>
   <p>
   </p>
  </blockquote>
 </body>
</html>