<html>
 <body>
  <blockquote>
   <font face="Arial">
    <h2 style="margin-top: 0; margin-bottom: 0">
     <span style="font-weight: 400">
      American Sign Language:  "goodnight"
     </span>
    </h2>
    <blockquote>
     <hr align="left" color="#000000" size="1" width="50%"/>
     <span style="font-weight: 400">
      <p align="left" style="margin-top: 0; margin-bottom: 0">
       <img border="0" height="320" src="/images/goodnight.gif" width="320"/>
       <br/>
       <br/>
       The sign "goodnight" is 
a compound of the signs GOOD and NIGHT. When you compound (join together) two 
signs you tend to reduce the movement and contacts of the original signs. 
"Goodnight" is not two signs strung together -- rather it is a single sign 
that is specifically used  to wish someone well as you separate for the 
evening.
       <br/>
       <br/>
       GOODNIGHT:
(advanced version: compound sign)
      </p>
      <p align="left" style="margin-top: 0; margin-bottom: 0">
       <img border="0" height="320" src="/images/good-night-01.jpg" width="320"/>
       <img border="0" height="320" src="/images/good-night-02.jpg" width="320"/>
       <img border="0" height="320" src="/images/good-night-03.jpg" width="320"/>
       <img border="0" height="320" src="/images/good-night-04.jpg" width="320"/>
       <br/>
      </p>
      <hr align="left" color="#000000" size="1" width="50%"/>
      <hr align="left" color="#000000" size="1" width="50%"/>
      <p align="left" style="margin-top: 0; margin-bottom: 0">
       <br/>
       "GOOD NIGHT"
       <br/>
       (basic version: non-compounded)
       <br/>
       Now, if you wished to tell someone that you had a really "good night" you could 
use the separate full signs "GOOD" and "NIGHT"
       <br/>
       <br/>
       GOOD:
      </p>
      <p align="left" style="margin-top: 0; margin-bottom: 0">
      </p>
      <p align="left" style="margin-top: 0; margin-bottom: 0">
       <img border="0" height="320" src="/images/good-night-b-01.jpg" width="320"/>
       <img border="0" height="320" src="/images/good-night-b-02.jpg" width="320"/>
       <br/>
      </p>
      <hr align="left" color="#000000" size="1" width="50%"/>
      <p align="left" style="margin-top: 0; margin-bottom: 0">
       <br/>
       NIGHT:
       <br/>
       <img border="0" height="320" src="/images/good-night-b-03.jpg" width="320"/>
       <img border="0" height="320" src="/images/good-night-b-04.jpg" width="320"/>
      </p>
      <p align="left" style="margin-top: 0; margin-bottom: 0">
       <br/>
       Example of the GOOD NIGHT version:
       <br/>
       <img border="0" height="320" src="/images/goodnight-02.gif" width="320"/>
       <br/>
      </p>
      <hr align="left" color="#000000" size="1" width="50%"/>
     </span>
     <p align="left" style="margin-top: 0; margin-bottom: 0">
      <span style="font-weight: 400">
       Also see: "
       <a href="/dictionary/good-night-moon" style="text-decoration: none">
        Goodnight 
Moon
       </a>
       "
      </span>
     </p>
     <span style="font-weight: 400">
      <hr align="left" color="#000000" size="1" width="50%"/>
     </span>
    </blockquote>
    <hr align="left" color="#000000" size="1"/>
    <hr align="left" color="#000000" size="1"/>
   </font>
   <b>
    <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=XHRNABERKJT4N" rel="nofollow" target="_blank">
     <u>
      DONATE
     </u>
    </a>
   </b>
   <font size="2">
    (
    <i>
     Thanks!
    </i>
    )
   </font>
   <br/>
   <br/>
   <font face="Arial">
    *
   </font>
   Another way to help is to buy something from Dr. Bill's "
   <b>
    <a href="/dictionary/bookstore">
     <u>
      Bookstore
     </u>
    </a>
   </b>
   ."
   <hr align="left" color="#000000" size="1"/>
   <hr color="#000000" size="1"/>
   <p>
   </p>
  </blockquote>
 </body>
</html>