<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   <br/>
   GOODBYE:
   <font color="#000000" face="Arial" id="role_document0" size="2">
    <div>
     <div>
      <br/>
      <font face="Arial">
       <hr align="left" color="#000000" size="1"/>
      </font>
      <p>
       In a message dated 9/28/2005 10:31:55 A.M. Pacific Daylight Time, 
			piercedtaco@.com writes:
      </p>
     </div>
     <blockquote style="border-left: 2px solid blue; margin-left: 5px; padding-left: 5px">
      <font color="#000000" face="Arial" size="2" style="background-color: transparent">
       <div>
        I was looking thru your dictionary and couldn't find the signs 
				for hello and goodbye. I'm sure they are universal like just 
				waving your hand or something. I have been using your dictionary 
				to teach my deaf dog signs so we can communicate. I don't know 
				what to do when I tell her goodbye so I just tell her good girl 
				then leave. Is goodbye and hello just as simple as the "quiet" 
				sign?
       </div>
       <div>
        Thanks,
       </div>
       <div>
        -
				Amy
       </div>
      </font>
     </blockquote>
    </div>
    <div>
     Amy,
    </div>
    <div>
     That is right.  Just use the same signs that you would in the "hearing 
		world." While there is no one specific type of "wave," in general you 
		wave hello with a side to side movement.  Wave good bye with a bending 
		of the large knuckles or at the wrist.
    </div>
    <div>
     - Dr.
		Bill
    </div>
   </font>
   <p style="margin-top: 0; margin-bottom: 0">
    <br/>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>