<html>
 <body>
  <blockquote>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
    <p>
     To do the sign for "gorilla" pound your chest a few times.
     <br/>
     I recommend you practice this sign while 
  grocery shopping in the produce section. (In front of the bananas.)
     <br/>
     <br/>
     GORILLA / APE:
    </p>
    <p>
     <img border="0" height="238" src="/images/gorill1.jpg" width="315"/>
     <img border="0" height="238" src="/images/gorill2.jpg" width="315"/>
     <img border="0" height="238" src="/images/gorill3.jpg" width="315"/>
     <img border="0" height="238" src="/images/gorill2.jpg" width="315"/>
     <img border="0" height="238" src="/images/gorill3.jpg" width="315"/>
     <br/>
    </p>
    <hr align="left" color="#000000" size="1"/>
    <p>
     Also see:
     <a href="/dictionary/monkey">
      MONKEY
     </a>
     <br/>
     Also see:
     <a href="/dictionary/ape">
      APE
     </a>
    </p>
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>