<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   <p>
    Index and thumb of each hand open and close while the hands move in a 
  horizontal circle. Memory tip: Think of "gossip going around."
    <br/>
    <br/>
    GOSSIP:
   </p>
   <p>
    <img border="0" height="226" src="/images/gossip57.jpg" width="265"/>
    <img border="0" height="226" src="/images/gossip58.jpg" width="265"/>
    <img border="0" height="226" src="/images/gossip59.jpg" width="265"/>
    <img border="0" height="226" src="/images/gossip60.jpg" width="265"/>
    <img border="0" height="226" src="/images/gossip61.jpg" width="265"/>
    <img border="0" height="226" src="/images/gossip62.jpg" width="265"/>
    <img border="0" height="226" src="/images/gossip63.jpg" width="265"/>
    <img border="0" height="226" src="/images/gossip64.jpg" width="265"/>
    <img border="0" height="226" src="/images/gossip65.jpg" width="265"/>
    <img border="0" height="226" src="/images/gossip66.jpg" width="265"/>
    <img border="0" height="226" src="/images/gossip67.jpg" width="265"/>
    <img border="0" height="226" src="/images/gossip68.jpg" width="265"/>
   </p>
   <hr align="left" color="#000000" size="1" width="50%"/>
   <font face="Arial">
    <p>
     Also see:
     <a href="/dictionary/chat">
      CHAT
     </a>
    </p>
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>