<html>
 <body>
  <blockquote>
   <span style="font-weight: 400">
    <font face="Arial">
     <hr align="left" color="#000000" size="1" width="50%"/>
     <p style="margin-top: 0; margin-bottom: 0">
      If you add the "person affix" marker to this sign, it means
"governor."
     </p>
     <hr align="left" color="#000000" size="1" width="50%"/>
     <p style="margin-top: 0; margin-bottom: 0">
      Note: If you do this sign with an "F" 
handshape it means FEDERAL.
     </p>
     <hr align="left" color="#000000" size="1" width="50%"/>
     <p style="margin-top: 0; margin-bottom: 0">
     </p>
     <p style="margin-top: 0; margin-bottom: 0">
      GOVERNMENT:
      <br/>
      Form a "G hand" and point it at your temple. Draw a circle in the air and end by 
touching your temple.
     </p>
     <p style="margin-top: 0; margin-bottom: 0">
      <img border="0" height="263" src="/images/government.gif" width="300"/>
      Do you think the government pays well?
     </p>
     <p style="margin-top: 0; margin-bottom: 0">
      <img border="0" height="215" src="/images/government1.jpg" width="211"/>
      <img border="0" height="215" src="/images/government2.jpg" width="211"/>
      <img border="0" height="215" src="/images/government3.jpg" width="211"/>
      <img border="0" height="215" src="/images/government4.jpg" width="211"/>
      <img border="0" height="215" src="/images/government5.jpg" width="211"/>
      <br/>
     </p>
     <p style="margin-top: 0; margin-bottom: 0">
     </p>
     <hr color="#000000" size="1"/>
     <p style="margin-top: 0; margin-bottom: 0">
     </p>
     <p style="margin-top: 0; margin-bottom: 0">
      PEA-BRAIN
      <br/>
      Note the similarity between the sign "pea-brain" and
"government."  The sign "pea-brain" starts on the
forehead and uses a smaller motion.
      <br/>
      <br/>
      <img border="0" height="215" src="/images/peabrain1.jpg" width="211"/>
      <img border="0" height="215" src="/images/peabrain2.jpg" width="211"/>
     </p>
    </font>
   </span>
  </blockquote>
 </body>
</html>