<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   <p style="margin-top: 0; margin-bottom: 0">
    <br/>
    The sign for "graduate" uses a "G" hand.  The "G" hand 
	does a somersault movement and lands on the palm of the base hand.
    <br/>
    <br/>
    GRADUATE (verb form)
    <br/>
    <br/>
    <img border="0" src="/images/graduate.gif" style="max-width: 100%; height: auto" width="480"/>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <img border="0" height="240" src="/images/graduate1.jpg" width="223"/>
    <img border="0" height="240" src="/images/graduate2.jpg" width="223"/>
    <img border="0" height="240" src="/images/graduate3.jpg" width="223"/>
    <img border="0" height="240" src="/images/graduate4.jpg" width="223"/>
    <img border="0" height="240" src="/images/graduate5.jpg" width="223"/>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1" width="50%"/>
   <p style="margin-top: 0; margin-bottom: 0">
    <br/>
    Sample sentence: "When do/did you graduate from college?"
    <br/>
    = COLLEGE, YOU GRADUATE WHEN?
    <br/>
    <br/>
    <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/hoSlRUAK9n0?rel=0" width="560">
    </iframe>
    <br/>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>