<html>
 <body>
  <blockquote>
   <h1 style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     <span style="font-weight: 400">
      <font size="5">
       American Sign Language: 
		GIVE / grant / bestow / gift / award to
      </font>
     </span>
     <br/>
    </font>
   </h1>
   <p>
    <br/>
   </p>
   <p>
    GIVE-(formal)
    <br/>
   </p>
   <p>
    <img border="0" height="239" src="/images/grant.42.jpg" width="267"/>
    <img border="0" height="239" src="/images/grant.43.jpg" width="267"/>
    <img border="0" height="239" src="/images/grant.44.jpg" width="267"/>
    <br/>
    <span style="font-weight: 400">
    </span>
    <br/>
    Also see:
    <a href="/dictionary/give">
     GIVE
    </a>
    <br/>
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p>
    Notes:  The version of the sign for "give" that uses "X" 
handshapes generally includes a bit of "formality" in the meaning.  It is 
less casual than the typical "give" sign (the one that is done with a flattened 
"O" handshape).  The "X"-handshapes version of this sign could be listed 
as: GIVE-[bestow] can mean: bestow, bestows, bestowing, bestowed (to confer an honor, right or gift). 
Also means 'grant,' 'confer,' 'donate,' 'give,' gift' [verb], 'contribute,' and 'reward' [verb]. This sign can also mean the following which 
are nouns: 'donation,' 'gift' 'contribution,' 'pledge,' and 'reward.
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1"/>
   <hr align="left" color="#000000" size="1"/>
   <hr align="left" color="#000000" size="1"/>
   <hr color="#000000" size="1"/>
   <p>
   </p>
  </blockquote>
 </body>
</html>