<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1" width="50%"/>
   <span style="font-weight: 400">
    <font face="Arial">
     <p style="margin-top: 0; margin-bottom: 0">
      <font size="+1">
       <br/>
       T
      </font>
      he sign for "grandfather"
is made by touching your forehead with the thumb of your dominant hand, (the 
same as when signing "father").  The hand should be open.  Now, move your hand forward in two small arches.
      <br/>
      Note: Many people just move it forward without the arches.
      <br/>
      <br/>
      GRANDPA:
      <br/>
      <img border="0" height="145" src="/images/grandpa.gif" width="254"/>
     </p>
     <p style="margin-top: 0; margin-bottom: 0">
      <iframe allow="autoplay; encrypted-media" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/D8OW3lFL_54?rel=0" width="560">
      </iframe>
     </p>
     <p>
      Here's a view of "grandfather" from the front:
     </p>
     <p>
      <img border="0" height="199" src="/images/grandpa1.jpg" width="237"/>
      <img border="0" height="199" src="/images/grandpa2.jpg" width="237"/>
      <img border="0" height="199" src="/images/grandpa3.jpg" width="237"/>
      <img border="0" height="199" src="/images/grandpa4.jpg" width="237"/>
      <br/>
     </p>
     <hr align="left" color="#000000" size="1" width="50%"/>
     <p>
      Note:  The signs for grandmother and grandfather can make two arcs, or 
they can just move forward straight out from the forehead about eight inches.
     </p>
     <p>
      <img border="0" height="196" src="/images/grandpab1.jpg" width="280"/>
      <img border="0" height="196" src="/images/grandpab2.jpg" width="280"/>
      <img border="0" height="196" src="/images/grandpab3.jpg" width="280"/>
      <img border="0" height="196" src="/images/grandpab4.jpg" width="280"/>
      <br/>
      <br/>
      Sample sentence:
      <br/>
      "Is your grandpa a farmer?"
      <br/>
      <iframe allow="autoplay; encrypted-media" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/3YaVRJ0kFEY?rel=0" width="560">
      </iframe>
      <img height="171" src="/images/famil007.gif" width="280"/>
     </p>
    </font>
   </span>
   <p>
    M
    <span style="font-weight: 400">
     <b>
      emory aide:
     </b>
     think of the double hand movement
as referring to an older generation.
    </span>
   </p>
   <hr align="left" color="#000000" size="1"/>
   <font size="+1">
    <br/>
    T
   </font>
   he sign for "
   <i>
    grandma
   </i>
   " or "grandmother"
is made by touching your chin with the thumb of your right hand, as when
signing "mother."  The right hand should be open. 
Now, move your hand forward in two small arches.
   <br/>
   <br/>
   GRANDMA
   <p>
    <img border="0" height="151" src="/images/grandma.gif" width="200"/>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    Also see:
    <a href="/dictionary/grandma" style="text-decoration: none">
     GRANDMA
    </a>
   </p>
   <hr align="left" color="#000000" size="1" width="50%"/>
   <p style="margin-top: 0; margin-bottom: 0">
    Also see:
    <a href="/dictionary/dad" style="text-decoration: none">
     DAD
    </a>
   </p>
   <hr align="left" color="#000000" size="1" width="50%"/>
   <p style="margin-top: 0; margin-bottom: 0">
    Also see:
    <a href="/dictionary/mom" style="text-decoration: none">
     MOM
    </a>
   </p>
   <hr align="left" color="#000000" size="1" width="50%"/>
  </blockquote>
 </body>
</html>