<html>
 <body>
  <blockquote>
   <p align="right">
    <img alt="back.gif (1674 bytes)" border="0" height="28" onclick="history.go(-1)" src="/images/back.gif" width="54"/>
   </p>
   <p>
    <br/>
    <b>
     Sign
    </b>
    : gravy / grease
   </p>
   <p>
    The dominant hand moves downward.  The index and thumb come together.  
Repeat.  The base hand stays put.
   </p>
   <hr color="#800080"/>
   <p>
   </p>
   <p>
    <img border="0" height="272" src="/images/gravy.gif" width="300"/>
   </p>
   <p>
   </p>
   <hr color="#800080"/>
   <p align="right">
    <img alt="back.gif (1674 bytes)" border="0" height="28" onclick="history.go(-1)" src="/images/back.gif" width="54"/>
    <br/>
    <br/>
   </p>
   <p>
   </p>
  </blockquote>
 </body>
</html>