<html>
 <body>
  <blockquote>
   <p style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     <br/>
     The right sign for "great" depends on your meaning. Generally "great" is 
	done as "wonderful." Hold both five handshapes out in front of you at about 
	the height of your head (higher if you are more enthusiastic).  Push 
	both hands forward twice. The sign starts with the hands back and ends with 
	the hands out.
    </font>
   </p>
   <p>
    WONDERFUL / "Great!"
    <br/>
    <img border="0" src="/images/great-wonderful.gif" style="max-width: 100%; height: auto" width="480"/>
   </p>
   <p>
    <img border="0" height="237" src="/images/wonderful1.jpg" width="309"/>
    <img border="0" height="237" src="/images/wonderful2.jpg" width="309"/>
    <br/>
    <img border="0" height="237" src="/images/wonderful3.jpg" width="309"/>
    <img border="0" height="237" src="/images/wonderful4.jpg" width="309"/>
    <br/>
   </p>
   <font face="Arial">
    <hr color="#000000" size="1"/>
    <hr color="#000000" size="1"/>
    <p>
     The sign for "great" as is in "large" is done as a modified form of the 
	sign "big."
     <br/>
     <br/>
     LARGE / great / big / huge
     <span style="font-weight: 400">
      <br/>
      <img border="0" height="320" src="/images/large.gif" width="320"/>
     </span>
    </p>
   </font>
   <font face="Arial">
    <span style="font-weight: 400">
     <hr align="left" color="#000000" size="1" width="50%"/>
    </span>
   </font>
   <p style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     See:
     <a href="/dictionary/wonderful" style="text-decoration: none">
      WONDERFUL
     </a>
    </font>
   </p>
   <span style="font-weight: 400">
    <font face="Arial">
     <hr align="left" color="#000000" size="1" width="50%"/>
    </font>
    <p style="margin-top: 0; margin-bottom: 0">
     See:
     <a href="/dictionary/big">
      BIG
     </a>
    </p>
    <font face="Arial">
     <hr align="left" color="#000000" size="1" width="50%"/>
    </font>
   </span>
   <hr align="left" color="#000000" size="1" width="50%"/>
   <p style="margin-top: 0; margin-bottom: 0">
    Note:
    <br/>
    <font face="Arial">
     In a message dated 10/13/2002 7:50:42 PM Central Daylight Time, a student 
	writes:
     <br/>
     "Can you please let me know how to produce the symbol for the word top; 
	meaning "on top of the world." Thanks for your assistance."
     <br/>
     - Mary Whelan
     <br/>
     -------------------------
     <br/>
     Mary,
     <br/>
     "On top of the world," meaning what?
     <br/>
     If I'm
     <i>
      feeling
     </i>
     "on top of the world" I'd sign, "I
     <a href="/dictionary/feel">
      feel
     </a>
     great."
     <br/>
     "Great" is expressed by using the sign "WONDERFUL."
     <br/>
     - Dr. Bill
     <br/>
    </font>
   </p>
   <font face="Arial">
    <span style="font-weight: 400">
     <hr align="left" color="#000000" size="1" width="50%"/>
     <hr align="left" color="#000000" size="1" width="50%"/>
    </span>
    <p style="margin-top: 0; margin-bottom: 0">
     Note:
     <br/>
     AWESOME:
     <br/>
     A student asked me how to sign "God is great!" Or "God is awesome!"
     <br/>
     "Great" or "awesome" would use the sign "WONDERFUL"  For an example 
	see: "
     <a href="/dictionary/god_is_awesome.2l">
      God is awesome!
     </a>
     "
     <br/>
     (Adjust your facial expressions to match the circumstances. In the video I'm 
	thinking in terms of signing during a reverent Sunday service. But if you 
	are at an exciting "revival" meeting then you would certainly want to show 
	corresponding emotion.)
    </p>
    <span style="font-weight: 400">
     <hr align="left" color="#000000" size="1" width="50%"/>
    </span>
   </font>
  </blockquote>
 </body>
</html>