<html>
 <body>
  <blockquote>
   <h1 style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     <span style="font-weight: 400">
      <font size="5">
       American Sign Language: "guest"
      </font>
     </span>
     <br/>
    </font>
   </h1>
   <p>
    <br/>
    The sign for "guest" generally uses a combination of the signs sometimes labeled 
as
    <a href="/dictionary/welcome">
     WELCOME
    </a>
    / hire / invite and the PERSON sign.
    <br/>
    <br/>
   </p>
   <p>
    WELCOME / hire / invite:
    <br/>
   </p>
   <p align="left">
    <img border="0" height="320" src="/images/welcome-hire-invite-01.jpg" width="356"/>
    <img border="0" height="320" src="/images/welcome-hire-invite-02.jpg" width="280"/>
    <img border="0" height="320" src="/images/welcome-hire-invite-03.jpg" width="280"/>
    <br/>
    <br/>
    PERSON:
    <br/>
    <img border="0" height="320" src="/images/person-01-version-a.jpg" width="280"/>
    <img border="0" height="320" src="/images/person-02-version-a.jpg" width="280"/>
   </p>
   <p>
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p>
    Notes:
    <br/>
    Also see:
    <a href="/dictionary/welcome">
     WELCOME
    </a>
   </p>
   <p>
    Also see:
    <a href="/dictionary/visit">
     VISIT
    </a>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1"/>
   <hr align="left" color="#000000" size="1"/>
   <hr align="left" color="#000000" size="1"/>
   <hr color="#000000" size="1"/>
   <p>
   </p>
  </blockquote>
 </body>
</html>