<html>
 <body>
  <blockquote>
   <h1 style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     <span style="font-weight: 400">
      <font size="5">
       American Sign Language: "gym"
      </font>
     </span>
    </font>
   </h1>
   <p>
   </p>
   <hr align="left" color="#000000" size="1" width="50%"/>
   <font face="Arial">
    <p>
     Many people just spell the word "gym."
     <br/>
     The general sign for GYM looks like a cross 
			between lifting weights an jumping rope. The position of the hands 
			are up near the shoulders.
     <br/>
     <br/>
     GYM (version)
     <br/>
     <br/>
     <img border="0" height="257" src="/images/gym.ht3.jpg" width="320"/>
     <img border="0" height="154" src="/images/gym.ht4.jpg" width="134"/>
     <br/>
     That handshape is a modified "X."  The thumb is pressed up 
			against the bent index finger as if holding a rope.
     <br/>
    </p>
    <p>
     <iframe allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/fps8C-MdYTc?rel=0" width="560">
     </iframe>
    </p>
    <hr align="left" color="#000000" size="1" width="50%"/>
    <p>
     Notes:
     <br/>
     <br/>
     At the college where I teach (my day job) we regularly have 
			department meetings. Before and after such meetings (and sometimes 
			during, heh) I like to ask the various interpreters how they sign 
			whatever concept is on my mind that day. Freelance terps are great 
			sources of current and emerging sign variations because such terps 
			regularly interact with a wide variety of Deaf people in a wide 
			variety of settings. When asked "How do you sign G-Y-M?" - most 
			terps (and native Deaf adults) respond with some variation that 
			looks like a cross between jump rope and "lift weights."  The 
			handshapes vary a bit, but generally the handshape looks like you 
			are holding a jump-rope in your hands.  Some people do this 
			sign with "G" handshapes but I don't recommend that.
     <br/>
    </p>
    <hr align="left" color="#000000" size="1"/>
    <p align="center" style="margin-top: 0; margin-bottom: 0">
    </p>
    <p align="center" style="margin-top: 0; margin-bottom: 0">
    </p>
    <hr align="left" color="#000000" size="1"/>
   </font>
   <b>
    <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=XHRNABERKJT4N" rel="nofollow" target="_blank">
     <u>
      DONATE
     </u>
    </a>
   </b>
   <font size="2">
    (
    <i>
     Thanks!
    </i>
    )
   </font>
   <br/>
   <br/>
   <font face="Arial">
    *
   </font>
   Another way to help is to buy something from Dr. Bill's "
   <b>
    <a href="/dictionary/bookstore">
     <u>
      Bookstore
     </u>
    </a>
   </b>
   ."
   <hr align="left" color="#000000" size="1"/>
   <hr color="#000000" size="1"/>
   <p>
   </p>
  </blockquote>
 </body>
</html>