<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   <div style="FONT-SIZE: 12pt; FONT-FAMILY: Arial; COLOR: #000000">
    <font face="tahoma, new york, times, serif">
     Dr. Vicars,
    </font>
    <p>
     <font face="tahoma, new york, times, serif">
      My 16-year-old son 
				is a gymnast.  I’m preparing a meet program for a competition 
				hosted by his gym.  For fun, I’m translating the word 
				“Gymnastics” into as many languages as possible.  I'm up to 
				about 75 that I've confirmed.  We may have a contest, maybe just 
				a graphic, I don’t know yet.  With the Internet the way it is, 
				it’s pretty easy to translate single words from English, even 
				with the subtleties between languages.  Some languages are more 
				difficult than others.  Some languages don’t have a word for 
				gymnastics, like Hawaiian and Navajo; at least i don't think 
				they do.
     </font>
    </p>
    <p class="MsoNormal" style="MARGIN: 0in 0in 12pt">
     <font face="tahoma, new york, times, serif">
      I've seen a couple 
				of different video versions for the word "gymnastics" translated 
				into American Sign Language.  (When I say "gymnastics", I mean 
				the sport of gymnastics.)  The most common is the hand shape for 
				the letter "U" rotated around the opposite index finger.  I've 
				seen the videos.  Assuming that's the correct translation, now I 
				need to get it into a graphic version for print.  I created a 
				sketch using PowerPoint; it's attached.  Does that 
				graphic correctly show the word "gymnastics"?
      <br/>
      Any help is appreciated.  BTW.  The attached file also includes 
				some of the more-exotic translations I've found.  Exotic to me, 
				an old man that speaks only English, and not very well.
      <br/>
      Best regards,
      <br/>
      Bill Plate
      <br/>
      <br/>
      GYMNASTICS:
     </font>
    </p>
   </div>
   <img border="0" height="299" src="/images/gymnastics-asl-small.gif" width="640"/>
   <br/>
   Graphics credit: Bill Plate
   <p>
   </p>
   <p>
    Notes:
    <br/>
    Bravo Bill (Plate)!
    <br/>
    Your graphic was really terrific. I went ahead and adjusted it a bit 
			an posted it to my (new) gymnastics page at Lifeprint.
    <br/>
    Feel free to use either your original version or the version I've 
			posted.
    <br/>
    Take care,
    <br/>
    - Dr. Bill
    <br/>
    <br/>
    <br/>
   </p>
   <hr align="left" color="#000000" size="1" width="50%"/>
   <p style="margin-top: 0; margin-bottom: 0">
    Also see:
    <a href="/dictionary/gym">
     GYM
    </a>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>