<html>
 <body>
  <blockquote>
   <h1 style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     <span style="font-weight: 400">
      <font size="5">
       ASL: "
      </font>
     </span>
     HABIT-[religious_garment]
     <span style="font-weight: 400">
      <br/>
      (A long, loose garment worn by a member of a religious order or 
		congregation)."
     </span>
    </font>
    <br/>
   </h1>
   <p>
    <br/>
    An ASL Hero from Colorado Springs writes:
    <br/>
    <br/>
    Hi Dr. Vicars,
    <br/>
    How would you sign "Habit" as in a Nun's religious attire? I tried asking my 
deaf friends, but they're just guessing. The closest was "Religious" + "Veil", 
but that gets confused with Hijab and Burka. I could use some help.
    <br/>
    Please and thanks,
    <br/>
    - Dee
    <br/>
   </p>
   <hr align="left" color="#000000" width="50%"/>
   <p>
    <br/>
    Hello Dee,
    <br/>
    I looked in numerous ASL Dictionaries including a "Religious Signing" ASL 
Dictionary" and none had a sign for:  HABIT-[a long, loose garment worn by 
a member of a religious order or congregation].
    <br/>
    <br/>
    For most Deaf, the sign for HABIT-[garment] is going to be expressed as 
context-dependent compound sign that reduces to a shortened version upon 
repeated usage. When signed "in context" the sign VEIL combined with the sign 
DRESS can be done in such a way as to depict the concept of "habit." The 
observer understands the concept via a combination of:
    <br/>
    <br/>
    1. Context
    <br/>
    <br/>
    2. The compound sign VEIL-DRESS
    <br/>
    <br/>
    3. A neutral facial expression and no inflection of the sign DRESS so as to not 
imply "pretty" or "fancy."
    <br/>
    <br/>
    4. Optional (but real world common) -- An accompanying slight mouthing of the 
word "habit" while signing VEIL-DRESS.
    <br/>
    <br/>
    5. In low-context conversations with or presentations to bilingual (ASL / 
written English) Deaf signers -- in order to avoid confusion between habit / 
hijab / burka -- spell H-A-B-I-T very quickly yet clearly upon first reference 
to a "habit" and then sign VEIL-DRESS.
    <br/>
   </p>
   <p>
    6. Upon repeated mentioning of the concept of "habit" during a 
particular conversation or among colleagues who regularly refer to a "habit" -- 
reduce the sign from VEIL-DRESS to simply VEIL for efficiency.
    <br/>
    <br/>
    7. Recognize that for most adult, native Deaf it is actually faster and less 
work (thereby more efficient) to fingerspell "habit" on one hand rather than 
sign VEIL-DRESS or even just VEIL. Since language gravitates toward efficiency 
your are likely to see adult, native, Deaf signers preferring to fingerspell 
"habit" and then lexicalize (shorten, mutate, become more word-like than 
individual fingerspelled letters) the fingerspelling over time.
    <br/>
    <br/>
    I would not recommend attempting to initialize the sign for DRESS with an "H." 
Such overuse of initialization would be jarring to many Deaf observers.
    <br/>
    <br/>
    The above comments are from someone (me) who is not involved with the Catholic 
World. I recommend you visit Youtube and search for Catholic ASL and then look 
through the results list for relevant videos and then go to the comments section 
of those videos and post your question, "How do you sign 'habit -- as in a Nun's 
religious attire?" to the comments section of multiple Catholic ASL-focused 
videos and see what sort of responses you receive. Give special weight to 
responses from native Deaf adults who are active in the Catholic religion as 
well as socially active in the Deaf Community.
    <br/>
    <br/>
    If in your research you find that there "is" a widely used sign for 
"HABIT-[garment]" please do let me know.
    <br/>
    Cordially,
    <br/>
    Dr. Bill
    <br/>
    ___________________
    <br/>
    William G. Vicars Ed.D.
    <br/>
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p>
    Notes:
    <br/>
    Also see:
    <a href="/dictionary/habit">
     HABIT-[tradition/custom/tendency]
    </a>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1"/>
   <hr align="left" color="#000000" size="1"/>
   <hr align="left" color="#000000" size="1"/>
   <hr color="#000000" size="1"/>
   <p>
   </p>
  </blockquote>
 </body>
</html>