<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   <p style="margin-top: 0; margin-bottom: 0">
    The sign for "
    <b>
     <i>
      habit
     </i>
    </b>
    " sort of reminds me of the 
	idea of being "chained" or "bound" to a particular activity.
    <br/>
    This sign can mean "accustomed to" or "used to." The sign moves straight down.
   </p>
   <p>
    <font face="Arial">
     HABIT:
     <br/>
    </font>
    <img border="0" src="/images/habit.gif" style="max-width: 100%; height: auto" width="480"/>
   </p>
   <p>
    <img border="0" height="222" src="/images/habit1.jpg" width="206"/>
    <img border="0" height="222" src="/images/habit2.jpg" width="206"/>
    <img border="0" height="222" src="/images/habit3.jpg" width="206"/>
    <font face="Arial">
     <br/>
     Memory 
	hint:
  The activities you are "handcuffed to."
     <br/>
     <br/>
     Sample sentence: "Do you have any habits?" = HABIT ANY YOU?
     <br/>
     <br/>
    </font>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
    <p>
     There is a version of this sign that I label as "ACCUSTOMED- to." It 
	starts with an open dominant hand which changes into a "closed" hand.  
	Lots of people use this sign to mean "habit."
     <br/>
     <br/>
     HABIT / accustomed-to:
     <br/>
     <img border="0" height="320" src="/images/habit.25.jpg" width="268"/>
     <img border="0" height="320" src="/images/habit.26.jpg" width="268"/>
     <img border="0" height="320" src="/images/habit.27.jpg" width="268"/>
    </p>
    <hr align="left" color="#000000" size="1"/>
   </font>
   <p style="margin-top: 0; margin-bottom: 0">
    <br/>
    <font face="Arial">
     Note:
    </font>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    You may see this sign done with a
    <font face="Arial">
     "T" on the dominant hand, if so, it means: "tradition."
     <br/>
    </font>
    <font face="Arial">
     <hr align="left" color="#000000" size="1"/>
    </font>
   </p>
  </blockquote>
 </body>
</html>