<html>
 <body>
  <blockquote>
   <span style="font-weight: 400">
    <font face="Arial">
     <hr align="left" color="#000000" size="1" width="50%"/>
     <p>
      HAIRCUT:
     </p>
     <p>
      <img border="0" height="228" src="/images/cuthair1.jpg" width="251"/>
      <img border="0" height="228" src="/images/cuthair2.jpg" width="251"/>
      <img border="0" height="228" src="/images/cuthair3.jpg" width="251"/>
      <img border="0" height="228" src="/images/cuthair4.jpg" width="251"/>
     </p>
     <hr align="left" color="#000000" size="1" width="50%"/>
     <p style="margin-top: 0; margin-bottom: 0">
      <br/>
      BARBER:
      <br/>
      To sign "barber" just add the
      <a href="/dictionary/agent">
       AGENT
      </a>
      sign to "cut hair."
      <br/>
      In everyday usage though you can just sign, "TOMORROW I GO CUT-HAIR"
  (Tomorrow I'm going to the barber), or "I WANT WORK CUT-HAIR" (I
  want to be a barber), or "YOUR DAD MAJOR CUT-HAIR?" (Is your dad a
  barber?)
      <br/>
     </p>
     <hr align="left" color="#000000" size="1" width="50%"/>
    </font>
   </span>
   <p style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
    </font>
   </p>
  </blockquote>
 </body>
</html>