<html>
 <body>
  <blockquote>
   <h1 style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     <span style="font-weight: 400">
      <font size="5">
       American Sign Language: a 
		"hair raising" experience:
      </font>
     </span>
    </font>
   </h1>
   <p>
   </p>
   <hr align="left" color="#000000" size="1" width="50%"/>
   I was teaching a "medical signing" class the other day and we were 
			watching a video where my friend, Robert Foust, was talking about 
			his "heart attack." As part of his story he indicated that he drove 
			himself to the hospital and that the ride was a "hair raising" 
			experience for his wife (who doesn't drive but of course wanted to 
			go with him to the hospital).
   <br/>
   <br/>
   The sign is an obvious use of the 4-handshape (CL:4) to represent a 
			person's hair "standing on end."
   <br/>
   I personally don't experience this phenomenon any more (heh).
   <br/>
   <br/>
   HAIR-RAISING: "To have a hair raising experience."
   <br/>
   <img border="0" height="305" src="/images/hair-raising-38.jpg" width="241"/>
   <img border="0" height="305" src="/images/hair-raising-39.jpg" width="241"/>
   <img border="0" height="305" src="/images/hair-raising-40.jpg" width="241"/>
   <img border="0" height="305" src="/images/hair-raising-41.jpg" width="241"/>
   <p style="margin-top: 0; margin-bottom: 0">
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    Here is another version you might see:
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <iframe allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/r-OgCk7-Pos?rel=0" width="560">
    </iframe>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1"/>
   <hr align="left" color="#000000" size="1"/>
   <hr color="#000000" size="1"/>
   <p>
   </p>
  </blockquote>
 </body>
</html>