<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   <p style="margin-top: 0; margin-bottom: 0">
    When discussing "hair" and you want to indicate that a person had a crew cut 
	or a "buzz cut" you can use a "G" handshape to show that the length of the 
	hair is "very short."
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
   </p>
   This sign shows the height of the hair of a person who just had a buzz cut. 
  For more "hair signs" see
   <a href="/dictionary/hair">
    HAIR
   </a>
   .
   <br/>
   <p>
    <br/>
    HAIR: BUZZ-CUT
   </p>
   <p>
    <img border="0" height="239" src="/images/buzzcut1.jpg" width="241"/>
    <img border="0" height="239" src="/images/buzzcut2.jpg" width="241"/>
    <img border="0" height="239" src="/images/buzzcut3.jpg" width="241"/>
    <img border="0" height="239" src="/images/buzzcut4.jpg" width="241"/>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <br/>
    Sample sentence:
	BUZZ-CUT PAST YOU? = "Have you ever had a buzz hair cut?"
    <br/>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <br/>
   </p>
   <hr align="left" color="#000000" size="1"/>
   <font face="Arial">
    <p>
     Also
  see:
     <a href="/dictionary/hair">
      HAIR
     </a>
    </p>
    <hr align="left" color="#000000" size="1"/>
    <p>
     Also
  see:
     <a href="/dictionary/clg">
      CL:G ("Classifier: G"
     </a>
     )
    </p>
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>