<html>
 <body>
  <blockquote>
   <font face="Arial">
    <h2 style="margin-top: 0; margin-bottom: 0">
     <span style="font-weight: 400">
      American Sign Language:  "half"
     </span>
    </h2>
    <blockquote>
     <p style="margin-top: 0; margin-bottom: 0">
      <span style="font-weight: 400">
      </span>
     </p>
     <hr align="left" color="#000000" size="1" width="50%"/>
     <span style="font-weight: 400">
      <p style="margin-top: 0; margin-bottom: 0">
       HALF:
       <br/>
       <br/>
       Show a "1" then drop your hand down about 3 inches as you quickly change the "1" 
into a "2." 
The palm is palm back.  The "1" and "2" are at a comfortable angle (not 
straight up).
       <br/>
       <iframe allowfullscreen="" frameborder="0" height="315" name="I1" src="https://www.youtube.com/embed/lrBSEVw7KdY?rel=0" width="560">
       </iframe>
      </p>
      <hr align="left" color="#000000" size="1" width="50%"/>
      <p style="margin-top: 0; margin-bottom: 0">
       <br/>
       HALF-HOUR:
       <br/>
       This sign represents a minute hand having moved 30 minutes or "half way" around 
the face of a clock.
       <br/>
       <iframe allowfullscreen="" frameborder="0" height="315" name="I2" src="https://www.youtube.com/embed/dhMoV3k8R8U?rel=0" width="560">
       </iframe>
      </p>
     </span>
    </blockquote>
    <hr align="left" color="#000000" size="1"/>
    <hr align="left" color="#000000" size="1"/>
   </font>
   <b>
    <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=XHRNABERKJT4N" rel="nofollow" target="_blank">
     <u>
      DONATE
     </u>
    </a>
   </b>
   <font size="2">
    (
    <i>
     Thanks!
    </i>
    )
   </font>
   <br/>
   <br/>
   <font face="Arial">
    *
   </font>
   Another way to help is to buy something from Dr. Bill's "
   <b>
    <a href="/dictionary/bookstore">
     <u>
      Bookstore
     </u>
    </a>
   </b>
   ."
   <hr align="left" color="#000000" size="1"/>
   <hr color="#000000" size="1"/>
   <p>
   </p>
  </blockquote>
 </body>
</html>