<html>
 <body>
  <blockquote>
   <span style="font-weight: 400">
    <font face="Arial">
     <hr align="left" color="#000000" size="1" width="50%"/>
     <p style="margin-top: 0; margin-bottom: 0">
      The sign "half-hour" shows a minute-hand having moved 30 minutes or "half way" around 
the face of a clock.
      <br/>
      <br/>
      HALF-HOUR:
      <br/>
     </p>
     <p style="margin-top: 0; margin-bottom: 0">
      <img border="0" src="/images/half-hour-1.gif" style="max-width: 100%; height: auto" width="480"/>
      <br/>
      <img border="0" height="240" src="/images/hour-halfhour1.jpg" width="352"/>
      <img border="0" height="240" src="/images/hour-halfhour2.jpg" width="352"/>
      <img border="0" height="240" src="/images/hour-halfhour3.jpg" width="352"/>
      <img border="0" height="240" src="/images/hour-halfhour4.jpg" width="352"/>
     </p>
     <p style="margin-top: 0; margin-bottom: 0">
     </p>
     <p style="margin-top: 0; margin-bottom: 0">
      HALF-HOUR (version):
     </p>
     <p style="margin-top: 0; margin-bottom: 0">
      <img border="0" src="/images/half-hour-b.gif" style="max-width: 100%; height: auto" width="480"/>
      <br/>
      <br/>
      Sample sentence: "If the teacher doesn't come, would you wait a half-hour?"
      <br/>
      <br/>
      <br/>
     </p>
     <hr align="left" color="#000000" size="1"/>
     <p style="margin-top: 0; margin-bottom: 0">
      Also see:
      <a href="/dictionary/hour">
       HOUR
      </a>
     </p>
     <hr align="left" color="#000000" size="1"/>
     <p style="margin-top: 0; margin-bottom: 0">
      <br/>
      Notes:
      <br/>
      <br/>
      In a message dated 4/11/2005 11:10:35 AM Pacific Daylight Time, amyablefox@yahoo.com 
writes:
      <br/>
      <br/>
      Dear Dr. Bill,
      <br/>
      I have seen, and done, 1/2 hour as "1/2" and then the 'hour' sign. You do not 
show this. Is this not done in your deaf community?
      <br/>
      Thanks for the help!
      <br/>
      - Amy
      <br/>
      <br/>
      Dear Amy,
      <br/>
      I generally will use the "1/2" sign as part of sign "an hour and a half." But 
for the sign "half-hour" done by itself in isolation I'd recommend the version 
that does a 180 degree spin on the palm starting pointing up and finishing 
pointing down.
      <br/>
      - Dr. Bill
      <br/>
      p.s. By all means though -- do it the way it is commonly done in your local Deaf 
community. No sense being a martyr.
     </p>
    </font>
   </span>
  </blockquote>
 </body>
</html>