<html>
 <body>
  <blockquote>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
    <p>
     <br/>
     Halloween:
    </p>
    <p>
     <img border="0" height="229" src="/images/hallow84.jpg" width="194"/>
     <img border="0" height="229" src="/images/hallow85.jpg" width="194"/>
     <img border="0" height="229" src="/images/hallow84.jpg" width="194"/>
     <img border="0" height="229" src="/images/hallow85.jpg" width="194"/>
     <br/>
     Note: You might see the above version initialized with palm-back "U" hands.
     <br/>
    </p>
    <hr align="left" color="#000000" size="1"/>
    <br/>
    Halloween:  (version 2)
    <p>
     <img border="0" height="230" src="/images/hallow86.jpg" width="297"/>
     <img border="0" height="230" src="/images/hallow87.jpg" width="297"/>
     <br/>
    </p>
    <hr align="left" color="#000000" size="1" width="50%"/>
    <p>
     See:
     <a href="/dictionary/trick-or-treat">
      TRICK-OR-TREAT
     </a>
     <br/>
    </p>
    <hr align="left" color="#000000" size="1" width="50%"/>
    <p>
    </p>
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>