<html>
 <body>
  <blockquote>
   <h1 style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     <span style="font-weight: 400">
      <font size="5">
       American Sign Language: "ham"
      </font>
     </span>
     <br/>
    </font>
   </h1>
   <p>
   </p>
   <p>
   </p>
   <hr align="left" color="#000000" size="1" width="100%"/>
   <div style="display:block;float:right;margin: 5px 5px 5px 20px;">
    <!-- ASL (American Sign Language) 160 x 600 -->
    <ins class="adsbygoogle" data-ad-client="ca-pub-2513564923850231" data-ad-slot="4979558599" style="display:inline-block;width:160px;height:600px">
    </ins>
   </div>
   <p>
    HAM:
    <br/>
    Just fingerspell the letters H-A-M.
    <br/>
    <span style="font-weight: 400">
    </span>
    <br/>
    Also see:
    <a href="/dictionary/pig">
     PIG
    </a>
    <br/>
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p>
    Notes:
    <br/>
    <br/>
    <b>
     A student writes
    </b>
    :  "I was just surprised to learn that "ham" didn't 
have its own unique sign. We have "bacon" or many other much less commonly used 
words that have a sign.:
    <br/>
    <br/>
    <b>
     Dr. Bill responds
    </b>
    :
    <br/>
    The letters of the word "ham" are so easy to fingerspell that it would be 
counterproductive to have a separate sign for "ham."  We Deaf tend to 
fingerspell at around two-tenths of a second per letter or faster. Thus (for a 
skilled signer) "H-A-M" is only going to take around six-tenths of a second to 
fingerspell (after you've moved your hand to the initial starting position).
    <br/>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1"/>
   <hr align="left" color="#000000" size="1"/>
   <hr align="left" color="#000000" size="1"/>
   <hr color="#000000" size="1"/>
   <p>
   </p>
  </blockquote>
 </body>
</html>