<html>
 <body>
  <blockquote>
   <h1 style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     <span style="font-weight: 400">
      <font size="5">
       ASL: "Hanukkah"
      </font>
     </span>
     <br/>
    </font>
   </h1>
   <hr align="left" color="#000000" size="1"/>
   <p>
    <br/>
   </p>
   <div>
    <p>
     The sign for "Hanukkah" has variations (just as the English word 
		"Hanukkah" has different spelling variations: Hanukkah, Chanukah, and 
		other spellings.
     <br/>
     <br/>
     Someone might try to tell you that the sign for Hanukkah is either palm 
		forward or palm backward.
     <br/>
     <br/>
     At some point in the future that may become generally true.  
		Language evolves.
     <br/>
     <br/>
     However, it is likely you will see "Hanukkah" signed either way (palm 
		forward or palm backward) in the Deaf Community*. If you research this 
		sign and dig around (as I did) I'm sure you'll come to the same 
		conclusion. I'm very comfortable telling you that you will see Hanukkah 
		signed both ways (palm forward or palm back) in real life, (as well as 
		"in the literature" and "online").
     <br/>
     <br/>
     Hanukkah: palms backward: Elaine Costello's book: "Religious Signing," 
		also in Lou Fant's version in the "ASL Phrase Book."
     <br/>
     <br/>
     Hanukkah: palms forward: Michigan ASL Browser, The ASL Handshape 
		Dictionary, LASL, and "Dr. Don G."
     <br/>
     <br/>
     Hanukkah: Unusual version: Aslpro.com (at the time of this research they 
		were using a very stylized movement that ends up palm back).
     <br/>
     <br/>
     Hanukkah: both versions: palms forward and palms back: Random House ASL 
		Dictionary (two entries).
     <br/>
     <br/>
     Hanukkah: palms backward - http://www.deafvideo.tv/video/watch/31389/ )
     <br/>
     <br/>
     Note: Richard Horrell mentioned to me that he recalls (when he was in 
		Washington D.C.) seeing Jews sign Hanukkah signed palm forward.)
     <br/>
     <br/>
     I do not have a personal preference for one way or the other. I 
		recommend you
     <span style="font-weight: 700; background-color: #FFFF00">
      do it whatever way your local Deaf Jewish friends do it
     </span>
     . If you 
		have no Deaf friends --
     <i>
      get some
     </i>
     . I'm going to put the "palm 
		forward version" as my main version for this dictionary / resource but 
		-- for what it is worth, it seems to me that the palm back version is a 
		bit easier to do. (Less tension in the wrist.) Also, if you are wishing 
		someone a "Happy Hanukkah" your hands are already palm back from signing 
		"HAPPY" so it would seem an easy transition into a palm-back Hanukkah.
     <br/>
     <br/>
     Again, though do as the locals do.
     <br/>
     --Dr. Bill
     <br/>
    </p>
    <hr/>
   </div>
   <p>
    <br/>
    Hanukkah:
    <br/>
    (Palm-forward version)
    <br/>
    <img border="0" height="228" src="/images/hanuka22.jpg" width="275"/>
    <img border="0" height="228" src="/images/hanuka23.jpg" width="275"/>
    <br/>
    <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/wXk1nupiUDg?rel=0" width="560">
    </iframe>
    <br/>
   </p>
   <hr/>
   <p>
    <br/>
    Hanukkah:
    <br/>
    (Palm-back version)
    <br/>
    <img border="0" height="227" src="/images/hanuka17.jpg" width="248"/>
    <img border="0" height="227" src="/images/hanuka18.jpg" width="248"/>
    <img border="0" height="227" src="/images/hanuka19.jpg" width="248"/>
    <img border="0" height="227" src="/images/hanuka20.jpg" width="248"/>
   </p>
   <p>
    <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/b6hT9u2w5zw?rel=0" width="560">
    </iframe>
    <br/>
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1"/>
   <div>
    <div>
     Notes:
     <br/>
     Hanukkah: (version 3) (Not recommended.)
     <p>
      Similar to other versions but the hands start in "B-handshapes" instead of 
	"4" handshapes. This version makes no sense to me since the 
		fingers are (supposed to be) representing candles not something "flat."
      <br/>
      <br/>
      -----------------------------
      <br/>
      <br/>
      In a message dated 7/6/2005 10:38:02 PM Pacific Daylight Time, ecdrury@_____.com 
		writes:
     </p>
    </div>
    <blockquote style="PADDING-LEFT: 5px; MARGIN-LEFT: 5px; BORDER-LEFT: blue 2px solid">
     <font color="#000000" face="Arial" size="2" style="BACKGROUND-COLOR: transparent">
      I let you know your lesson is H and Hanukah is wrong spells and Its
		actual is meaning : Hanukkah
      <br/>
      Bye, I enjoy checking to your site is the best sign langauge.
     </font>
    </blockquote>
   </div>
   <font color="#000000" face="Arial" id="role_document" size="2">
    <div>
     <div>
      <br/>
      Dear Ecdrury,
     </div>
     <div>
      Thanks for sharing your comment.
      <br/>
      <strike>
       According to dictionary.com there are
       <em>
        three
       </em>
       accepted 
			spellings
      </strike>
      :   [Update: That is no longer the case 
			as of 2018.  
			The shorter spelling is "gone."  So, I'm going to update this 
			page to use what seems to be the most popular version. Language 
			evolves!]
      <br/>
      "Hanukkah or
      <strike>
       Hanukah
      </strike>
      also Chanukah."
     </div>
     <div>
      But now I have a vote from
      <em>
       you
      </em>
      for the longer spelling.
     </div>
     <div>
      Cordially,
     </div>
     <div>
      Dr. Bill
      <br/>
      p.s. By the way, "langauge" is actually spelled, "language."  
			(Wink.)
     </div>
    </div>
   </font>
   <div>
    <div>
     In a message dated 7/7/2005 2:11:42 PM Pacific Daylight Time, ecdrury@____.com 
		writes:
    </div>
    <blockquote style="PADDING-LEFT: 5px; MARGIN-LEFT: 5px; BORDER-LEFT: blue 2px solid">
     <font color="#000000" face="Arial" size="2" style="BACKGROUND-COLOR: transparent">
      Oh, because I'm used on the website is www.dictionary.cambridge.org.
      <br/>
      I
		got it what you mean.
      <br/>
      Thank you for told me.
     </font>
    </blockquote>
   </div>
   <p>
    -------------------------------------
    <br/>
    * Update:  As of 2019 we are still seeing both versions.
    <br/>
    <br/>
    * * Update: 
			2018: Update from Dr. Bill:
    <br/>
    [Update: The shorter spelling seems to have faded out. The shorter spelling is "gone" 
			from dictionary.com as of 2018 when I checked.  
			Chanukah still seems to be listed as a variation on the spelling 
			though.  Regardless, I'm going to update this page to use what 
			seems to be the most popular version that also seems to have strong 
			historic ties:  Hanukkah.
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1"/>
   <hr align="left" color="#000000" size="1"/>
   <hr align="left" color="#000000" size="1"/>
   <hr color="#000000" size="1"/>
   <p>
   </p>
   <div style="display:block;float:right;margin: 5px 5px 5px 20px;">
    <!-- 336x280 bottom of page ASL American Sign Language -->
    <ins class="adsbygoogle" data-ad-client="ca-pub-2513564923850231" data-ad-slot="6501232513" style="display:inline-block;width:336px;height:280px">
    </ins>
   </div>
   <!-- Comments can go here. ASL or American Sign Language-->
  </blockquote>
 </body>
</html>