<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1" width="50%"/>
   <p style="margin-top: 0; margin-bottom: 0">
    <br/>
    Make an "H" handshape and drop it a few inches, have it bounce up and 
	over to the right and back down again in a small arc. Sort of 
	like drawing a lowercase "n" in the air with an "H" handshape.
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
    </font>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     HARD-OF-HEARING:
     <br/>
    </font>
    <img border="0" src="/images/hard-of-hearing.gif" style="max-width: 100%; height: auto" width="480"/>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     <img border="0" height="278" src="/images/hard-of-hearing01.jpg" width="320"/>
     <img border="0" height="298" src="/images/hard-of-hearing.gif" width="320"/>
     <br/>
    </font>
   </p>
   <hr align="left" color="#000000" size="1" width="50%"/>
   <p style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     <br/>
     Sample sentence: "Do you think hard-of-hearing people should marry Deaf 
	people or Hearing people?"
     <br/>
     = YOU THINK HARD-OF-HEARING SHOULD MARRY DEAF O-R HEARING?
    </font>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
    </font>
   </p>
  </blockquote>
 </body>
</html>