<html>
 <body>
  <blockquote>
   <font face="Arial">
    <h2 style="margin-top: 0; margin-bottom: 0">
     <span style="font-weight: 400">
      American Sign Language:  "haunted 
house"
     </span>
    </h2>
    <blockquote>
     <hr align="left" color="#000000" size="1" width="50%"/>
     <span style="font-weight: 400">
      <p style="margin-top: 0; margin-bottom: 0">
       HAUNTED HOUSE can be signed several 
different ways.
       <br/>
       A typical way is to sign GHOST and
       <a href="/dictionary/house">
        HOUSE
       </a>
       .
      </p>
      <p style="margin-top: 0; margin-bottom: 0">
      </p>
      <p style="margin-top: 0; margin-bottom: 0">
       GHOST / spirit / soul:
      </p>
      <p style="margin-top: 0; margin-bottom: 0">
       <iframe allow="autoplay; encrypted-media" allowfullscreen="" frameborder="0" height="315" name="I1" src="https://www.youtube.com/embed/AOhXN8awg1E?rel=0" width="560">
       </iframe>
       <br/>
       <br/>
       Another way is to sign AFRAID / scared  HOUSE:
      </p>
      <p style="margin-top: 0; margin-bottom: 0">
      </p>
      <p style="margin-top: 0; margin-bottom: 0">
       AFRAID:
      </p>
      <p style="margin-top: 0; margin-bottom: 0">
       <iframe allow="autoplay; encrypted-media" allowfullscreen="" frameborder="0" height="315" name="I2" src="https://www.youtube.com/embed/4dxD6qFDaTQ?rel=0" width="560">
       </iframe>
      </p>
      <p style="margin-top: 0; margin-bottom: 0">
      </p>
      <p style="margin-top: 0; margin-bottom: 0">
       Another way is to sign MONSTER HOUSE
      </p>
      <p style="margin-top: 0; margin-bottom: 0">
       <br/>
       MONSTER:
      </p>
      <p style="margin-top: 0; margin-bottom: 0">
       <iframe allow="autoplay; encrypted-media" allowfullscreen="" frameborder="0" height="315" name="I3" src="https://www.youtube.com/embed/kXToNdDXXGE?rel=0" width="560">
       </iframe>
      </p>
     </span>
    </blockquote>
    <hr align="left" color="#000000" size="1"/>
    <hr align="left" color="#000000" size="1"/>
   </font>
   <b>
    <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=XHRNABERKJT4N" rel="nofollow" target="_blank">
     <u>
      DONATE
     </u>
    </a>
   </b>
   <font size="2">
    (
    <i>
     Thanks!
    </i>
    )
   </font>
   <br/>
   <br/>
   <font face="Arial">
    *
   </font>
   Another way to help is to buy something from Dr. Bill's "
   <b>
    <a href="/dictionary/bookstore">
     <u>
      Bookstore
     </u>
    </a>
   </b>
   ."
   <hr align="left" color="#000000" size="1"/>
   <hr color="#000000" size="1"/>
   <p>
   </p>
  </blockquote>
 </body>
</html>