<html>
 <body>
  <blockquote>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
    <p>
     The sign for "head-cold" looks a bit like you are wiping your 
			nose twice with a tissue.
     <br/>
    </p>
    <p>
     COLD as in "head cold":
     <br/>
     Use this sign for COLD when you are sick with a stuffy or runny nose.
    </p>
    <p>
     <img border="0" height="223" src="/images/head.h10.jpg" width="216"/>
     <img border="0" height="223" src="/images/head.h11.jpg" width="216"/>
     <img border="0" height="223" src="/images/head.h12.jpg" width="216"/>
     <img border="0" height="223" src="/images/head.h13.jpg" width="216"/>
     <img border="0" height="223" src="/images/head.h10.jpg" width="216"/>
     <img border="0" height="223" src="/images/head.h11.jpg" width="216"/>
     <img border="0" height="223" src="/images/head.h12.jpg" width="216"/>
     <img border="0" height="223" src="/images/head.h13.jpg" width="216"/>
    </p>
    <hr align="left" color="#000000" size="1" width="50%"/>
    <p>
    </p>
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>