<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   <p>
    The sign hearing aid uses either a double movement or in context it can 
	use a single small movement.
The sign "put on hearing aid" (verb) uses a single larger movement.
   </p>
   <p>
    HEARING-AID:
    <br/>
    <img border="0" src="/images/hearing-aid.gif" style="max-width: 100%; height: auto" width="480"/>
   </p>
   <p>
    <img border="0" height="224" src="/images/hearingaid3.jpg" width="210"/>
    <img border="0" height="224" src="/images/hearingaid2.jpg" width="210"/>
    <img border="0" height="224" src="/images/hearingaid3.jpg" width="210"/>
    <img border="0" height="224" src="/images/hearingaid4.jpg" width="210"/>
    <br/>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
   <p style="margin-top: 0; margin-bottom: 0">
    Side-view:
    <br/>
    <img border="0" height="225" src="/images/hearingaidside1.jpg" width="176"/>
    <img border="0" height="225" src="/images/hearingaidside2.jpg" width="176"/>
    <img border="0" height="225" src="/images/hearingaidside3.jpg" width="176"/>
    <img border="0" height="225" src="/images/hearingaidside4.jpg" width="176"/>
    <br/>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
    <p style="margin-top: 0; margin-bottom: 0">
     Also see: "
     <a href="/dictionary/hearing-aids">
      Hearing 
	Aids
     </a>
     "
    </p>
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>