<html>
 <body>
  <blockquote>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
    <p>
     Also see:
     <a href="/dictionary/hearing">
      HEARING
     </a>
    </p>
    <hr align="left" color="#000000" size="1"/>
    <p>
     <br/>
     HEAR:  Variation 1:
     <br/>
     Tap your ear twice.  This is a good variation to use for the concept of 
	"sound." 
	This is a good variation to use for "heard."
     <br/>
    </p>
    <p>
     <img border="0" height="215" src="/images/ears.h2.jpg" width="207"/>
     <img border="0" height="215" src="/images/ears.h3.jpg" width="207"/>
     <img border="0" height="215" src="/images/ears.h2.jpg" width="207"/>
     <img border="0" height="215" src="/images/ears.h3.jpg" width="207"/>
    </p>
    <p>
    </p>
    <hr align="left" color="#000000" size="1"/>
    <br/>
    HEAR / listen:
    <br/>
    <img border="0" height="218" src="/images/hear.h4.jpg" width="197"/>
    <p>
    </p>
    <hr align="left" color="#000000" size="1"/>
    <p>
     <br/>
     LISTEN:  This is a very active form of the sign for listen. It is not 
	passive. This version is good for such things as "listening."
     <br/>
     <img border="0" height="134" src="/images/hear.h5.jpg" width="141"/>
     <img border="0" height="134" src="/images/hear.h6.jpg" width="141"/>
     <img border="0" height="134" src="/images/hear.h7.jpg" width="141"/>
     <img border="0" height="134" src="/images/hear.h8.jpg" width="141"/>
    </p>
    <p>
     <br/>
     Animated: LISTEN
     <br/>
     <img border="0" height="134" src="/images/listen.gif" width="141"/>
     <br/>
    </p>
    <hr align="left" color="#000000" size="1"/>
    <p>
     <br/>
     EAVESDROP / "overhear" / "listening in on someone's conversation" / "eavesdropping":
     <br/>
     <img border="0" height="211" src="/images/hear.h9.jpg" width="249"/>
     <img border="0" height="211" src="/images/hear.h10.jpg" width="249"/>
     <img border="0" height="211" src="/images/hear.h11.jpg" width="249"/>
     <img border="0" height="211" src="/images/hear.h12.jpg" width="249"/>
    </p>
    <p>
    </p>
    <p>
     Animated: EAVESDROP
     <br/>
     <img border="0" height="211" src="/images/hearoverhear.gif" width="249"/>
    </p>
    <hr align="left" color="#000000" size="1" width="50%"/>
    <p>
    </p>
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>