<html>
 <body>
  <blockquote>
   <h1 style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     <span style="font-weight: 400">
      <font size="5">
       hearing impaired  
		(archaic / not recommended)
      </font>
     </span>
    </font>
   </h1>
   <p>
    The sign for "hearing impaired" consists of pointing to your ear and then 
signing INTERRUPT.
    <br/>
    Instead of signing "hearing impaired" (or even using 
the phrase at all in any language) consider instead using alternate terminology 
such as:
    <br/>
    - Deaf
    <br/>
    - Deaf and hard of hearing
    <br/>
    - People with hearing loss
    <br/>
    <br/>
    HEARING IMPAIRED (non-initialized version) (not recommended)
    <br/>
    <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/wbQqfSBu0Cw?rel=0" width="560">
    </iframe>
   </p>
   <p>
    Instead of using the term "hearing impaired" you could sign something such 
as:
    <br/>
    <br/>
    "The Deaf and hard of hearing Community"
    <br/>
    <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/xiQQvBSqymQ?rel=0" width="560">
    </iframe>
    <br/>
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p>
    Notes:
    <br/>
    A person commented: “I actually see ‘interrupt’ done a lot with the ‘I’ 
hand in Michigan.” (Fred, 2020/02/04, Comment Section, Youtube: https://youtu.be/-In-9jNVGf4 
)
    <br/>
    <br/>
    Response: The use of an "i" handshape for the sign "interrupt" falls under the 
umbrella of "Signed English." The "i" for "interrupt" sign has in the past also 
been used as part of an (archaic) signed term "hearing impaired" wherein the 
signer would point at their ear and then sign "interrupt" with an "i" handshape. 
(Not recommended). These days instead of using the term "hearing impaired" we 
tend to just sign "Deaf" or "Deaf / HH."
    <br/>
   </p>
   <hr align="left" color="#000000" size="1"/>
   <hr align="left" color="#000000" size="1"/>
   <hr align="left" color="#000000" size="1"/>
   <hr color="#000000" size="1"/>
   <p>
   </p>
  </blockquote>
 </body>
</html>