<html>
 <body>
  <blockquote>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
    <p>
     The concept of "heart" can be expressed a couple of different 
			ways in ASL.
     <br/>
     <br/>
     A good general way is to poke your chest twice with the tip of the middle finger of  a modified 
  "five" hand  that has the middle finger bent at the large knuckle.
     <br/>
     <br/>
     If you just poke once using a somewhat larger movement it means "touched" as 
  in "I was touched by his generosity."
    </p>
    <p>
     <img border="0" height="238" src="/images/heart.50.jpg" width="218"/>
     <img border="0" height="238" src="/images/heart.51.jpg" width="218"/>
     <img border="0" height="119" src="/images/heart.52.jpg" width="125"/>
     <img border="0" height="119" src="/images/heart.53.jpg" width="125"/>
     <br/>
    </p>
    <hr align="left" color="#000000" size="1"/>
    <p>
     <br/>
     Version two: Draw a heart shape on your chest with the tips of both index fingers.  
  Start at the top center of the heart.
     <br/>
    </p>
    <hr align="left" color="#000000" size="1"/>
    <p>
     <br/>
     Version three:   Instead of using the tips of the index fingers to 
	draw a heart on your chest, 
  use the tips of the middle fingers of modified "five" hands that have the 
  middle fingers bent at the large knuckle.
     <br/>
    </p>
    <hr align="left" color="#000000" size="1"/>
    <p>
    </p>
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>