<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1" width="50%"/>
   <span style="font-weight: 400">
    <font face="Arial">
     <p style="margin-top: 0; margin-bottom: 0">
      HELICOPTER (Version 1)
     </p>
     <p style="margin-top: 0; margin-bottom: 0">
      <br/>
     </p>
     <p>
      This variation uses a "classifier three handshape." (
      <a href="/dictionary/cl3">
       CL:3
      </a>
      )
      <br/>
      Stick the palm of your right "five hand" on top of the tip of
  the thumb of your left CL:3 hand.
      <br/>
      Flutter the right hand from the wrist, (the fingers do not individually move
  up and down but rather the whole hand flutters) representing the whirling
  blades of the helicopter.
     </p>
     <p>
      <img border="0" height="213" src="/images/helicopter1.jpg" width="231"/>
      <img border="0" height="213" src="/images/helicopter2.jpg" width="231"/>
      <img border="0" height="213" src="/images/helicopter3.jpg" width="231"/>
     </p>
     <hr align="left" color="#000000" size="1" width="50%"/>
     <p>
      HELICOPTER (Version 2)
      <br/>
      Another popular way to sign "helicopter" is to flutter a "5 hand" on top of 
	an index finger:
     </p>
    </font>
   </span>
  </blockquote>
 </body>
</html>