<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   <p style="margin-top: 0; margin-bottom: 0">
    <br/>
    HELLO:
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     <hr align="left" color="#000000" size="1"/>
    </font>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    Amy writes:
    <br/>
    <br/>
    I was looking thru your dictionary and couldn't find the signs for hello and 
	goodbye. I'm sure they are universal like just waving your hand or 
	something. I have been using your dictionary to teach my deaf dog signs so 
	we can communicate. I don't know what to do when I tell her goodbye so I 
	just tell her good girl then leave. Are goodbye and hello just as simple as 
	the "quiet" sign?
    <br/>
    Thanks.
    <br/>
    - Amy
    <br/>
    <br/>
    Dear Amy,
    <br/>
    That is right. Just use the same signs that you would in the "hearing 
	world." While there is no one specific type of "wave," in general you wave 
	hello with a side to side movement. Wave good bye with a bending of the 
	large knuckles or at the wrist.
    <br/>
    - Dr. Bill
    <br/>
    <font face="Arial">
     <hr align="left" color="#000000" size="1" width="50%"/>
    </font>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <br/>
    In a message dated 11/6/2006 11:27:05 A.M. Pacific Standard Time, 
	casandra.grahn@ writes:
    <br/>
    <br/>
    Hi Dr. Vicars,
    <br/>
    I was wondering, how do you sign hi. Do you just wave at someone, because 
	that might look like hey, or would that be ok?
    <br/>
    - Casandra Grahn
    <br/>
    <br/>
    Dear Casandra,
    <br/>
    Yes, that is how you do it. Just a natural wave of the hand. The difference 
	between "hi" and "hey" is that "hi" is more of a sideways sweep and "hey" is 
	an up and down flutter.
    <br/>
    - Dr. Bill
    <br/>
    <font face="Arial">
     <hr align="left" color="#000000" size="1"/>
    </font>
   </p>
  </blockquote>
 </body>
</html>