<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   <p>
    <br/>
    A common sign for "hippopotamus" uses "Y" hands to show a wide mouth opening and closing.
    <br/>
    <br/>
    HIPPOPOTAMUS (version 1)
    <br/>
    <img border="0" height="212" src="/images/hippop1.jpg" width="180"/>
    <img border="0" height="212" src="/images/hippop2.jpg" width="180"/>
    <img border="0" height="212" src="/images/hippop3.jpg" width="180"/>
    <img border="0" height="212" src="/images/hippop2.jpg" width="180"/>
    <img border="0" height="212" src="/images/hippop1.jpg" width="180"/>
    <br/>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
   <br/>
   This  version uses modified "fist hands."  The index and pinkie 
  fingers are bent at the middle and small knuckles.  The ring and middle 
  fingers are bent at all three knuckles. This is an interesting version because 
			the index and pinkie fingers are reminiscent of the main large teeth 
			at the front corners of the mouths of hippopotamuses.
   <br/>
   <br/>
   <font face="Arial">
    HIPPOPOTAMUS (version 2)
   </font>
   <br/>
   <img border="0" height="228" src="/images/hippop4.jpg" width="172"/>
   <img border="0" height="228" src="/images/hippop5.jpg" width="172"/>
   <img border="0" height="228" src="/images/hippop4.jpg" width="172"/>
   <br/>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>