<html>
 <body>
  <blockquote>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
    <p>
     See:
     <a href="https://www.youtube.com/watch?v=sGyX9V8ek_s">
      https://www.youtube.com/watch?v=sGyX9V8ek_s
     </a>
     <br/>
     <br/>
     The sign for "history" moves an "H" hand down, up, and 
			down again.
     <br/>
    </p>
    <p>
     <img border="0" height="224" src="/images/histor24.jpg" width="197"/>
     <img border="0" height="224" src="/images/histor25.jpg" width="197"/>
     <img border="0" height="224" src="/images/histor26.jpg" width="197"/>
     <img border="0" height="224" src="/images/histor27.jpg" width="197"/>
     <br/>
    </p>
    <hr align="left" color="#000000" size="1"/>
    <p>
     <br/>
     HISTORY:  (version 2)
     <br/>
     This version means the same as the previous version.  It just adds the 
	non-dominant fist hand.  The "H"-hand (lightly) whacks the back of the 
	fist, twice.
     <br/>
     <br/>
     <img border="0" height="222" src="/images/histor28.jpg" width="210"/>
     <img border="0" height="222" src="/images/histor29.jpg" width="210"/>
     <img border="0" height="222" src="/images/histor30.jpg" width="210"/>
     <img border="0" height="222" src="/images/histor31.jpg" width="210"/>
    </p>
    <p>
    </p>
    <hr align="left" color="#000000" size="1" width="50%"/>
    <p>
     <br/>
     Notes:
     <br/>
     QUESTION:
     <br/>
     In a message dated 3/15/2017 12:50:35 P.M. Pacific Daylight Time, 
			Lyn (Deaf, a wordsmith, an ASL instructor, and a poet) writes:
     <br/>
     <br/>
     Hi Bill,
     <br/>
     <br/>
     Many years ago I was told the correct way to sign 'history' is as 
			follows:
     <br/>
     <br/>
     A dominant H handshape - fingers point straight out and palm faces 
			the non-dominant side of the body. Now, move the hand in two very 
			small circles - - if right-handed those would be clockwise circles.
     <br/>
     <br/>
     The logic for the circular movement, I was told, was two-fold. 
			First, to represent the unending 'cycle' of history and second, to 
			help distinguish the sign from the signs for 'hurry/hurried/haste' 
			and 'hard of hearing.'
     <br/>
     <br/>
     But most often (or so it seems to me) it is signed with two downward 
			movements.
     <br/>
     <br/>
     I see "history" signed with a circular motion on occasion but it 
			seems to me that using two downward motions is the more common way 
			to sign it?
     <br/>
     <br/>
     Can you tell me if both movements (circular and downward) are 
			correct? And if both are correct is the downward movement preferred?
     <br/>
     <br/>
     Thanks,
     <br/>
     Lyn
    </p>
    <p>
     <br/>
     ---------------------------------------------
     <br/>
     RESPONSE:
     <br/>
     <br/>
     Lyn,
     <br/>
     I tend to do HISTORY using the two downward movements and a slightly 
			hyper-extended wrist:
     <br/>
     See:
     <a href="https://www.youtube.com/watch?v=sGyX9V8ek_s">
      https://www.youtube.com/watch?v=sGyX9V8ek_s
     </a>
     <br/>
     I have seen history done on the back of the non-dominant fist using 
			the motion of a locomotive wheel axle.
     <br/>
     I've seen history done with two backward somewhat near the shoulder 
			flicks (connecting the sign to the past).
     <br/>
     But I have "not" see that circular method to which you are 
			referring.
     <br/>
     Which, of course doesn't mean it is "wrong" -- just so rare as to 
			not be something I'd teach to a college student.
     <br/>
     - Bill
     <br/>
     <br/>
    </p>
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>