<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   The sign for homework is a "compound" sign made from a combination 
			of the signs "
   <a href="/dictionary/home">
    HOME
   </a>
   " and "
   <a href="/dictionary/work">
    WORK
   </a>
   ."
   <br/>
   Normally the sign HOME makes a double touch to the cheek (first near 
			the mouth, then higher up toward the ear).
   <br/>
   Normally the sign WORK makes a double movement (whacking the 
			non-dominant fist with the dominant fist twice).
   <br/>
   <br/>
   But for the sign "HOMEWORK" you just touch the cheek
   <b>
    just once
   </b>
   and whack your non-dominant hand
   <b>
    just once
   </b>
   .
   <br/>
   <br/>
   HOMEWORK:
   <br/>
   <img border="0" height="381" src="/images/homework-1.jpg" width="320"/>
   <img border="0" height="381" src="/images/homework-2.jpg" width="320"/>
   <p style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1" width="50%"/>
   <p style="margin-top: 0; margin-bottom: 0">
    <br/>
    Animation: "homework"
    <br/>
    <img border="0" height="354" src="/images/homework.gif" width="320"/>
    <br/>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>