<html>
 <body>
  <blockquote>
   <h2 style="margin-top: 0; margin-bottom: 0">
    <span style="font-weight: 400">
     <font face="Arial">
      American Sign Language:  "Honey, 
I shrunk the audience."
     </font>
    </span>
   </h2>
   <blockquote>
    <hr align="left" color="#000000" size="1" width="50%"/>
    <span style="font-weight: 400">
     <font face="Arial">
      <p style="margin-top: 0; margin-bottom: 0">
       Honey, I shrunk the audience:
       <br/>
       <br/>
       Note: This video is in "Flash" format.  You may need to enable a plugin to 
view it.
       <br/>
      </p>
      <p style="margin-top: 0; margin-bottom: 0">
       <br/>
       <br/>
       Signing note: The concept of "honey" as used in this sentence is simply a way 
for someone to "get the attention" of someone they love and have a close 
relationship. Thus even though (for fun) I'm using the sign for "honey" (as in 
bee honey), a good ASL interpretation of "honey" for this sentence would be more 
along the lines of using the up and down "hand wave" gesture while using a 
sweet, worried, apologetic facial expression.
      </p>
     </font>
    </span>
   </blockquote>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
    <hr align="left" color="#000000" size="1"/>
   </font>
   <b>
    <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=XHRNABERKJT4N" rel="nofollow" target="_blank">
     <u>
      DONATE
     </u>
    </a>
   </b>
   <font size="2">
    (
    <i>
     Thanks!
    </i>
    )
   </font>
   <br/>
   <br/>
   <font face="Arial">
    *
   </font>
   Another way to help is to buy something from Dr. Bill's "
   <b>
    <a href="/dictionary/bookstore">
     <u>
      Bookstore
     </u>
    </a>
   </b>
   ."
   <hr align="left" color="#000000" size="1"/>
   <hr color="#000000" size="1"/>
   <p>
   </p>
  </blockquote>
 </body>
</html>