<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   <p>
    <br/>
    Use an "H" hand to draw a "cross" on your shoulder.
   </p>
   <p>
    HOSPITAL:
    <br/>
    <img border="0" height="238" src="/images/hospit10.jpg" width="212"/>
    <img border="0" height="238" src="/images/hospit11.jpg" width="212"/>
    <img border="0" height="238" src="/images/hospit12.jpg" width="212"/>
    <img border="0" height="238" src="/images/hospit13.jpg" width="212"/>
   </p>
   <hr align="left" color="#000000" size="1" width="50%"/>
   <p style="margin-top: 0; margin-bottom: 0">
    Also see:
    <a href="/dictionary/patient">
     PATIENT (medical version)
    </a>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>