<html>
 <body>
  <blockquote style="PADDING-LEFT: 5px; MARGIN-LEFT: 5px; BORDER-LEFT: blue 2px solid">
   <font color="#000000" face="Arial" size="2" style="BACKGROUND-COLOR: transparent">
    <div>
     Hi Dr. Bill,
    </div>
    <div>
    </div>
    <div>
     I am a writer and I am currently working on a book about teaching 
			sign language to hearing babies. I realized that in all of the 
			classes I have taken on the subject and in all of the research I 
			have done, I have not come across a sign for "hot air balloon." Is 
			there such a sign? If so, could you possibly explain its formation 
			to me? I greatly appreciate your help with this matter!
    </div>
    <div>
    </div>
    <div>
     Sincerely,
    </div>
    <div>
    </div>
    <div>
     Teresa R. Simpson
    </div>
    <div>
     Memphis, TN
    </div>
   </font>
  </blockquote>
 </body>
</html>