<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1" width="50%"/>
   <span style="font-weight: 400">
    <font face="Arial">
     <p style="margin-top: 0; margin-bottom: 0">
      HOT-temperature:
      <br/>
      Use a "claw" handshape. Move it outward and downward from your mouth. Do it 
	quickly.  The stronger and faster the movement, the hotter the 
	temperature.
      <br/>
      Memory aid:
  Imagine trying to remove a piece of hot caramel apple that is sticking in your
  mouth.
      <br/>
      <br/>
      HOT:
     </p>
     <p style="margin-top: 0; margin-bottom: 0">
      <img border="0" height="232" src="/images/hot1.jpg" width="238"/>
      <img border="0" height="232" src="/images/hot2.jpg" width="238"/>
      <img border="0" height="232" src="/images/hot3.jpg" width="238"/>
     </p>
     <p style="margin-top: 0; margin-bottom: 0">
      <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/00cPyUsrC6M?rel=0" width="560">
      </iframe>
      <br/>
     </p>
     <p style="margin-top: 0; margin-bottom: 0">
     </p>
     <hr align="left" color="#000000" size="1" width="50%"/>
     <p style="margin-top: 0; margin-bottom: 0">
      <br/>
      In a message, annsavedbygrace@ 
writes:
      <br/>
      Hi Dr. Bill,
      <br/>
      If I want to sign ‘hot’ as in how I feel while standing out in the broiling sun 
in the middle of the summer, is there a better sign than the one we use for hot 
as in hot food? In my non-deaf thinking, using the ‘hot‘ sign (throwing the claw 
hand out from the mouth) does not seem appropriate for feeling physically hot 
and sweaty.
      <br/>
      Thank you very much,
      <br/>
      Mrs. Ann Cantrell
      <br/>
      <br/>
      --------
      <br/>
      <br/>
      Dear Mrs. Cantrell,
      <br/>
      The sign HOT (claw hand out from the mouth) in general refers to
      <b>
       temperature-related heat
      </b>
      .
      <br/>
      The sign HOT is not limited to "food" just as the English word "hot" is not 
limited to food.
      <br/>
      However the sign HOT does not have the same range of meaning as the English word 
"hot."
      <br/>
      Whereas an English speaker might refer to a sexy person as being "hot" such a 
use of the sign HOT would be "non-standard." Instead in ASL a sexy person might 
be referred to using the sign "WOW." You might even see: SEX + "Y" (the sign SEX 
plus the fingerspelled letter "Y"). While some would argue that the SEX+"Y" sign 
isn't ASL I will simply suggest to you that the sign is in widespread use in the 
Deaf Community, (which doesn't necessarily mean that it is ASL, but it does mean 
that the majority of adult Deaf signers recognize the sign).
      <br/>
      Also, you would not use the sign HOT to mean "spicy." For that we have a 
specific
      <a href="/dictionary/spicy">
       SPICY
      </a>
      sign.
      <br/>
      Now, regarding the idea of feeling hot and sweaty, if I were telling a story and 
wanted to get that concept across, I might sign HOT and then wipe my brow with 
the back of my hand (as if wiping sweat from my forehead). I might even grab my 
shirt and pull it forward a couple times as if airing myself out. The extent to 
which I do these behaviors will depend on the extent to which I'm role playing a 
hot person vs. simply stating the temperature.
      <br/>
      Cordially,
      <br/>
      Dr. Bill
      <br/>
      Lifeprint.com
     </p>
     <hr align="left" color="#000000" size="1" width="50%"/>
    </font>
   </span>
  </blockquote>
 </body>
</html>