<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1" width="50%"/>
   <p style="margin-top: 0; margin-bottom: 0">
    The sign for "house" uses 
	"flat hands" to show the roof and walls of a house.
    <br/>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     HOUSE:
    </font>
   </p>
   <p align="left" style="margin-top: 0; margin-bottom: 0">
    <img border="0" height="320" src="/images/house.gif" width="320"/>
    <font face="Arial">
     <b>
      <br/>
      <br/>
      Hand shape:
     </b>
     <br/>
     The hand shape can be either "B" handshapes or just "flat" hands.
     <br/>
     <img border="0" height="117" src="/images/flat.jpg" width="80"/>
    </font>
    <br/>
   </p>
   <hr align="left" color="#000000" size="1" width="50%"/>
   <p style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     <br/>
     <img align="right" border="0" height="207" src="/images/house.gif" width="300"/>
     There are a couple 
of different ways to do the sign "house."
    </font>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <br/>
    You might see house signed with the fingers pointed upward. I wouldn't sign it 
that way for everyday conversation but
    <font face="Arial">
     this version could be used for times when you want to embellish your signing a 
bit to make it more iconic and lively. For example,
    </font>
    I might use this version if I were 
telling a story
    <font face="Arial">
     to a group of children
    </font>
    about a certain "house."
    <font face="Arial">
     <br/>
     <br/>
     HOUSE (version)
    </font>
    <br/>
    <img border="0" height="231" src="/images/hosuea1.jpg" width="231"/>
    <img border="0" height="231" src="/images/hosuea2.jpg" width="231"/>
    <img border="0" height="231" src="/images/hosuea3.jpg" width="231"/>
    <font face="Arial">
     <br/>
    </font>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1" width="50%"/>
   </font>
   <p style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     <br/>
     For everyday use though,
I tend to do the sign house with the fingertips pointing
     <i>
      forward
     </i>
     instead of up.
     <br/>
     <br/>
     HOUSE (recommended version)
     <br/>
     <iframe allow="autoplay; encrypted-media" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/lBSZYk72vmY?rel=0" width="560">
     </iframe>
    </font>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     <img border="0" height="232" src="/images/houseb1.jpg" width="226"/>
     <img border="0" height="232" src="/images/houseb2.jpg" width="226"/>
     <img border="0" height="232" src="/images/houseb3.jpg" width="226"/>
    </font>
    <br/>
    <br/>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1" width="50%"/>
   </font>
   <p style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     Notes:
     <br/>
     House and home are two different signs. You should not use the sign "house" when 
you mean home.
    </font>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    See:
    <font face="Arial">
     <a href="/dictionary/home">
      HOME
     </a>
    </font>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1" width="50%"/>
   </font>
   <p style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     Also see
     <a href="/dictionary/city">
      CITY
     </a>
    </font>
   </p>
   <hr color="#800080"/>
   <p style="margin-top: 0; margin-bottom: 0">
   </p>
   <!--webbot bot="Include" U-Include="../../topics/adsense1.htm" TAG="BODY" startspan -->
   <hr/>
   <p style="margin-top: 0; margin-bottom: 0">
   </p>
   <!-- 728x90-leaderboard -->
   <ins class="adsbygoogle" data-ad-client="ca-pub-2513564923850231" data-ad-slot="7543121294" style="display:inline-block;width:728px;height:90px">
   </ins>
   <br/>
   <!--webbot bot="Include" i-checksum="30181" endspan -->
  </blockquote>
 </body>
</html>