<html>
 <body>
  <blockquote>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
    <p>
     To sign "Houston" tap the side of your chin twice with a "U" handshape. (Which also happens to 
  be an "H"
     <i>
      handshape
     </i>
     eh?)
     <br/>
     <br/>
     HOUSTON:
    </p>
    <p>
     <img border="0" height="238" src="/images/housto5.jpg" width="228"/>
     <img border="0" height="238" src="/images/housto6.jpg" width="228"/>
     <img border="0" height="238" src="/images/housto5.jpg" width="228"/>
     <img border="0" height="238" src="/images/housto6.jpg" width="228"/>
    </p>
    <p>
    </p>
    <hr align="left" color="#000000" size="1" width="50%"/>
    <p>
     <br/>
     Here's Byron Cantrell demonstrating the sign. Note, the sign 
			actually only taps twice. He is repeating the the sign so you can 
			see how the movement is made:
     <br/>
     <br/>
    </p>
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>