<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   <p style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     <br/>
     The sign "how much" is what I call a "wh-q" sign.  That means
  since it falls into a category of questions that typically start with the letters "wh" 
	(who, what, when, where, why, etc. -- including "how" and "how much"). You should
  furrow your eyebrows a bit when asking such questions. (Unless you are asking 
	them in a
     <a href="/dictionary/rhetorical-questions">
      rhetorical
     </a>
     sense only.)
    </font>
    <br/>
   </p>
   <p>
    The sign "how-much" has several variations. If you mean "How much is that?" or "How much did it cost?" a good variation 
	to use is the one-handed version that moves upward while changing a palm-up 
	"O" into a loose-5 handshape.  This is actually just a one-handed 
	version of the sign "
    <a href="/dictionary/how-many">
     HOW-MANY
    </a>
    ?"
    <br/>
    <br/>
    HOW-MUCH?
    <br/>
    <img border="0" height="224" src="/images/howmuchcost1.jpg" width="242"/>
    <img border="0" height="224" src="/images/howmuchcost2.jpg" width="242"/>
    <img border="0" height="224" src="/images/howmuchcost3.jpg" width="242"/>
    <img border="0" height="224" src="/images/howmuchcost4.jpg" width="242"/>
   </p>
   <p>
    <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/z-BwDb6w7ws?rel=0" width="560">
    </iframe>
    <br/>
   </p>
   <font face="Arial" size="2">
    <hr align="left" color="#000000" size="1"/>
   </font>
   <p>
    <font face="Arial">
     Sample sentence:
	"How much should you tip a waitress?" = SERVER, YOU SHOULD TIP HOW-MUCH?
    </font>
    <font face="Arial" size="2">
     <br/>
     <br/>
     <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/2hutob07CwI?rel=0" width="560">
     </iframe>
     <br/>
    </font>
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p>
    <br/>
    If you mean "how much" as in "How much is that worth?". "What is that 
	worth?". and/or "What is the value or price of that?" a good version to do 
	is the "worth" version.
    <br/>
    <br/>
    Use "F" handshapes. The tips of the thumbs and index fingers on each
  hand move together and touch the tips on the other hand-twice.
    <br/>
    <br/>
    WORTH = "value / price / how much"
    <br/>
    <br/>
    <img border="0" height="226" src="/images/howmuchworth1.jpg" width="244"/>
    <img border="0" height="226" src="/images/howmuchworth2.jpg" width="244"/>
    <img border="0" height="226" src="/images/howmuchworth3.jpg" width="244"/>
    <img border="0" height="226" src="/images/howmuchworth4.jpg" width="244"/>
   </p>
   <p>
    <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/SdIhlXzWo5U?rel=0" width="560">
    </iframe>
    <br/>
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p>
    <br/>
    Suppose you wanted to discuss "volume" or "amounts?"  As in, 
	"How much salt should I put in?" You may see some people combining 
	the sign "HOW" with the sign "A-LOT."
    <br/>
    <br/>
    HOW-MUCH-(volume) ("HOW" + "A-LOT" variation)
    <br/>
    <br/>
    <img border="0" height="218" src="/images/howmuchvolume1.jpg" width="264"/>
    <img border="0" height="218" src="/images/howmuchvolume2.jpg" width="264"/>
    <img border="0" height="218" src="/images/howmuchvolume3.jpg" width="264"/>
    <img border="0" height="218" src="/images/howmuchvolume4.jpg" width="264"/>
    <img border="0" height="218" src="/images/howmuchvolume6.jpg" width="264"/>
    <img border="0" height="218" src="/images/howmuchvolume7.jpg" width="264"/>
   </p>
   <p>
    <br/>
    But realistically you can just use the one-handed version of "HOW-MANY" to 
	mean "how much" in most situations, including, "How much salt?" or even "
    <b>
     <i>
      How-much should you tip 
	your ASL instructor?
     </i>
    </b>
    "
    <br/>
   </p>
   <p>
    <img border="0" height="225" src="/images/howmucha1.jpg" width="224"/>
    <img border="0" height="225" src="/images/howmucha2.jpg" width="224"/>
    <br/>
   </p>
   <font face="Arial" size="2">
    <hr align="left" color="#000000" size="1"/>
   </font>
   <p>
    Dr. Bill's Notes:
    <br/>
    For the answer to that "How much should you tip your ASL instructor?" 
	question, see the "
    <i>
     a lot
    </i>
    " page:
    <a href="/dictionary/a-lot">
     A-LOT
    </a>
   </p>
   <p>
    Also visit online: "
    <a href="/dictionary/donate">
     http://www.lifeprint.com/donate.htm
    </a>
    " 
	(Heh,
    <i>
     I love you all
    </i>
    .)
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>