<html>
 <body>
  <blockquote>
   <h2 style="margin-top: 0; margin-bottom: 0">
    <span style="font-weight: 400">
     <font face="Arial">
      American Sign Language:  "humble"
     </font>
    </span>
   </h2>
   <blockquote>
    <p style="margin-top: 0; margin-bottom: 0">
     <span style="font-weight: 400">
      <font face="Arial">
      </font>
     </span>
    </p>
    <hr align="left" color="#000000" size="1" width="50%"/>
    <span style="font-weight: 400">
     <font face="Arial">
      <p style="margin-top: 0; margin-bottom: 0">
       HUMBLE:  See:
       <a href="https://www.youtube.com/watch?v=92dH-n5_dQ0">
        https://www.youtube.com/watch?v=92dH-n5_dQ0
       </a>
      </p>
      <hr align="left" color="#000000" size="1" width="50%"/>
      <p style="margin-top: 0; margin-bottom: 0">
       <img border="0" height="300" src="/images/humble3.jpg" width="347"/>
       <img border="0" height="300" src="/images/humble4.jpg" width="347"/>
      </p>
     </font>
    </span>
   </blockquote>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
    <hr align="left" color="#000000" size="1"/>
   </font>
   <b>
    <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=XHRNABERKJT4N" rel="nofollow" target="_blank">
     <u>
      DONATE
     </u>
    </a>
   </b>
   <font size="2">
    (
    <i>
     Thanks!
    </i>
    )
   </font>
   <br/>
   <br/>
   <font face="Arial">
    *
   </font>
   Another way to help is to buy something from Dr. Bill's "
   <b>
    <a href="/dictionary/bookstore">
     <u>
      Bookstore
     </u>
    </a>
   </b>
   ."
   <hr align="left" color="#000000" size="1"/>
   <hr color="#000000" size="1"/>
   <p>
   </p>
  </blockquote>
 </body>
</html>