<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   <p>
    <br/>
    To sign "ice-cream" hold an "S" hand in front of your mouth and move it 
	downward twice as if you were licking an ice-cream cone.
    <br/>
    <br/>
    <font face="Arial">
     ICE-CREAM:
    </font>
    <br/>
    <img border="0" height="212" src="/images/icecre24.gif" width="204"/>
    <img border="0" height="212" src="/images/icecre25.gif" width="204"/>
    <img border="0" height="212" src="/images/icecre26.gif" width="204"/>
    <img border="0" height="212" src="/images/icecre27.gif" width="204"/>
    <img border="0" height="212" src="/images/icecre28.gif" width="204"/>
    <img border="0" height="212" src="/images/icecre29.gif" width="204"/>
   </p>
   <br/>
   See:
   <a href="/images/icecream.gif">
    Animation: ICE-CREAM
   </a>
   <font face="Arial">
    <p>
    </p>
    <hr align="left" color="#000000" size="1"/>
    <p>
     <br/>
     NOTES:
     <br/>
     You
     <b>
      don't
     </b>
     actually stick out your tongue in a true-to-life 
  licking movement.  If you do, that would inflect the sign to mean 
  something to the effect of "She took two big licks."  If you 
			are telling a story and that is what you want to say (She took two 
			big licks..." then fine -- you can stick out your tongue).
     <br/>
     <br/>
     But typically you will just see the sign done in one of three ways:
     <br/>
     1)  Slightly mouth the words ice-cream
     <br/>
     2)  Don't use any mouth movement
     <br/>
     3)  Use two very, very slight licking movements with the tongue
     <br/>
     <br/>
     I've seen the sign for "ice-cream" done all three ways by
     <b>
      native
     </b>
     Deaf signers.  
  I do it in my example above with no mouth movement.  I just asked my wife 
			(
     <b>
      Deaf
     </b>
     ) how she signs 
  it and she partially mouthed "ice cream."  I showed her the version with 
  two small licks and she didn't like that version
     <i>
      at all
     </i>
     , but she 
			thought the no-mouth-movement version was "okay." If you see it a 
			certain way in your area then certainly do it
     <i>
      that
     </i>
     way. 
			Better yet, just send me a coupon for Baskin Robbins so I can do 
			some more research on this topic.
     <br/>
    </p>
    <hr align="left" color="#000000" size="1"/>
    <p>
     Also see:
     <a href="/dictionary/cake">
      CAKE
     </a>
    </p>
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>