<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   <p>
    IMPOSSIBLE:
    <br/>
    Whack your weak-hand palm with the palm-side of your dominant hand "Y-handshape" 
  twice quickly.
    <br/>
    Use a skeptical facial expression.
   </p>
   <p>
    <img border="0" height="217" src="/images/imposs13.jpg" width="201"/>
    <img border="0" height="217" src="/images/imposs14.jpg" width="201"/>
    <img border="0" height="217" src="/images/imposs13.jpg" width="201"/>
    <img border="0" height="217" src="/images/imposs14.jpg" width="201"/>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
   Animation: impossible
   <p>
    <img border="0" height="217" src="/images/impossible.gif" width="201"/>
    <br/>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>