<html>
 <body>
  <blockquote>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
    <p>
     <br/>
     In the sign for "important" your hands start in front of your belly and arc up and out to the sides then 
  come together in front of your chest:
     <br/>
     <br/>
     IMPORTANT:
     <br/>
     :
     <img border="0" height="227" src="/images/import1.jpg" width="246"/>
    </p>
    <p>
     The handshape is a sideways (palm-in) "F"-hand
     <br/>
     <img border="0" height="230" src="/images/f.jpg" width="198"/>
    </p>
    <hr align="left" color="#000000" size="1"/>
    <p>
     IMPORTANT:
     <br/>
     <img border="0" height="227" src="/images/import2.jpg" width="246"/>
     <img border="0" height="227" src="/images/import3.jpg" width="246"/>
     <img border="0" height="227" src="/images/import4.jpg" width="246"/>
    </p>
    <hr align="left" color="#000000" size="1"/>
    Animation:  IMPORTANT
    <br/>
    <img border="0" height="227" src="/images/important.gif" width="246"/>
    <p>
     <br/>
    </p>
    <hr align="left" color="#000000" size="1" width="50%"/>
    <p>
     Note:
     <br/>
     The sign for "important" can also mean "worthy."
     <br/>
     <br/>
     Note:
     <br/>
     If you omit the first part of the sign (the big arcing movement) and 
			just do the very last part of the sign (where the "F" hands come 
			together) using a double movement this sign can mean "worth" (as in 
			"the cost of or value of something."
    </p>
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>