<html>
 <body>
  <blockquote>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
    <p>
     <br/>
     Put the tip of the dominant  "A-hand"  thumb on the palm 
			of your left flat-hand.  Twist the dominant hand clockwise.
     <br/>
    </p>
    <p>
     IMPRESS / emphasize:
     <br/>
     <img border="0" height="235" src="/images/impres20.jpg" width="223"/>
     <img border="0" height="235" src="/images/impres21.jpg" width="223"/>
     <img border="0" height="235" src="/images/impres22.jpg" width="223"/>
    </p>
    <p>
    </p>
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>