<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   The "increase" sign can be used to mean such things as, "get a raise" or
  "gain weight."
   <br/>
   <p>
    <br/>
    INCREASE / get a raise / gain weight / go up:
    <br/>
    <img border="0" height="212" src="/images/increase.gif" width="261"/>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1" width="50%"/>
   </font>
   <p>
    <img border="0" height="224" src="/images/increase1.jpg" width="288"/>
    <img border="0" height="224" src="/images/increase2.jpg" width="288"/>
    <img border="0" height="224" src="/images/increase3.jpg" width="288"/>
    <img border="0" height="224" src="/images/increase4.jpg" width="288"/>
    <img border="0" height="224" src="/images/increase5.jpg" width="288"/>
   </p>
   <br/>
   <p style="margin-top: 0; margin-bottom: 0">
    The following sentence 
			has two interpretations:
    <br/>
    Interpretation 1: Have you recently gotten a raise?
    <br/>
    <font face="Arial">
     Interpretation 2: Have you recently gained weight?
     <br/>
    </font>
    <br/>
    <br/>
    <br/>
    Note: If I were asking if someone recently gained weight, I'd also 
			puff out my cheeks a bit while doing the "increase" sign.
    <br/>
    <br/>
    Note: The above version is NOT recommended for use with your wife.  
			Don't ask me how I know.
    <br/>
    <br/>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>