<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1" width="50%"/>
   <p style="margin-top: 0; margin-bottom: 0">
    <span style="font-weight: 400">
     Also see:
     <a href="/dictionary/india">
      INDIA
     </a>
    </span>
   </p>
   <hr align="left" color="#000000" size="1" width="50%"/>
   <span style="font-weight: 400">
    <font face="Arial">
     <p>
      Native-American:
      <br/>
      Touch an "F" hand to your cheek, then touch your head higher up and back.
      <br/>
      Think of an Indian headdress.
     </p>
     <p>
      <img border="0" height="233" src="/images/native36.jpg" width="202"/>
      <img border="0" height="233" src="/images/native37.jpg" width="202"/>
      <img border="0" height="233" src="/images/native38.jpg" width="202"/>
     </p>
     <hr color="#800080"/>
     <div>
      <div>
       In a message dated 3/15/2007 9:25:13 P.M. Pacific Daylight Time, Allie 
		writes:
      </div>
      <blockquote style="PADDING-LEFT: 5px; MARGIN-LEFT: 5px; BORDER-LEFT: blue 2px solid">
       <font color="#000000" face="Arial" size="2" style="BACKGROUND-COLOR: transparent">
        <p>
         Dr. Bill,
         <br/>
         I thought the sign for Native American changed to
		NATURE + AMERICA + AGENT to be politically correct.
         <br/>
         Do you know if this is true?
         <br/>
         -Allie
        </p>
       </font>
      </blockquote>
     </div>
    </font>
   </span>
  </blockquote>
 </body>
</html>