<html>
 <body>
  <blockquote>
   <font face="Arial">
    <h1 style="margin-top: 0; margin-bottom: 0">
     <span style="font-weight: 400">
      <font size="5">
       American Sign Language: "inherit"
      </font>
     </span>
     <br/>
    </h1>
    <blockquote>
     <hr align="left" color="#000000" size="1"/>
     The concept of "inherit" can be expressed in different ways.
     <br/>
     If you want to express the idea of something having been passed down 
			from generation to generation, use a two handed version of the 
			"GIVE" sign starting near the dominant shoulder and moving forward 
			and down "hand over hand."
     <br/>
     <br/>
     INHERIT / pass down from generation to generation:
     <br/>
     <img border="0" height="320" src="/images/inherit-21.jpg" width="284"/>
     <img border="0" height="320" src="/images/inherit-22.jpg" width="284"/>
     <img border="0" height="320" src="/images/inherit-23.jpg" width="284"/>
     <img border="0" height="320" src="/images/inherit-24.jpg" width="284"/>
     <p>
      <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/GA7A7Rg8xZI?rel=0" width="560">
      </iframe>
      <br/>
     </p>
     <hr align="left" color="#000000" size="1" width="50%"/>
     <p style="margin-top: 0; margin-bottom: 0">
     </p>
     <p>
      <i>
       INHERIT: receive a lump sum
      </i>
      :
     </p>
     <p>
      <img border="0" height="234" src="/images/inheri4.jpg" width="242"/>
      <img border="0" height="234" src="/images/inheri5.jpg" width="242"/>
      <img border="0" height="234" src="/images/inheri6.jpg" width="242"/>
     </p>
     <p>
      <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/iQ3Im5Ytv-I?rel=0" width="560">
      </iframe>
      <br/>
     </p>
     <hr align="left" color="#000000" size="1"/>
     Animation:
     <a href="/images/inherit.gif">
      INHERIT / receive a 
	lump sum
     </a>
     <hr align="left" color="#000000" size="1"/>
    </blockquote>
    <hr align="left" color="#000000" size="1"/>
    <p align="center" style="margin-top: 0; margin-bottom: 0">
    </p>
    <p align="center" style="margin-top: 0; margin-bottom: 0">
    </p>
    <hr align="left" color="#000000" size="1"/>
    <p>
    </p>
    <hr align="left" color="#000000" size="1"/>
    <hr align="left" color="#000000" size="1"/>
   </font>
   <b>
    <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=XHRNABERKJT4N" rel="nofollow" target="_blank">
     <u>
      DONATE
     </u>
    </a>
   </b>
   <font size="2">
    (
    <i>
     Thanks!
    </i>
    )
   </font>
   <br/>
   <br/>
   <font face="Arial">
    *
   </font>
   Another way to help is to buy something from Dr. Bill's "
   <b>
    <a href="/dictionary/bookstore">
     <u>
      Bookstore
     </u>
    </a>
   </b>
   ."
   <hr align="left" color="#000000" size="1"/>
   <hr color="#000000" size="1"/>
   <p>
   </p>
  </blockquote>
 </body>
</html>