<html>
 <body>
  <blockquote>
   <h1 style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     <span style="font-weight: 400">
      <font size="5">
       American Sign Language: "ink"
      </font>
     </span>
     <br/>
    </font>
   </h1>
   <p>
    <br/>
    There is an old sign that I swear I saw in a book in my youth. Maybe it was in 
Martin Sternberg's old ASL dictionary
    <i>
     classic
    </i>
    -- will have to check. 
Anyway the sign is:
    <br/>
    <br/>
    INK: Dominant hand: upside-down-"i"-handshape-(as if representing a pen or 
quill), Non-dominant hand: sideways-(pinkie-edge-down)-"O"handshape-(as if 
representing a small bottle). Movement: Dip the pen into the ink twice.
    <br/>
    <br/>
    Of course, these days most experts would say to simply "spell it.
    <br/>
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p>
    Notes:
    <br/>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1"/>
   <hr align="left" color="#000000" size="1"/>
   <hr align="left" color="#000000" size="1"/>
   <hr color="#000000" size="1"/>
   <p>
   </p>
  </blockquote>
 </body>
</html>