<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1" width="50%"/>
   <font face="Arial">
    <span style="font-weight: 400">
     <p style="margin-top: 0; margin-bottom: 0">
      The sign for "institute is an "initialized" sign, but it 
is well accepted.
      <br/>
      The dominant hand lowers and touches the base hand, raises back up, and then 
comes down again.  It is most commonly recognized in the Deaf world 
as the sign for "
     </p>
    </span>
    Deaf School
    <span style="font-weight: 400">
     " (meaning, a 
state-run residential school for the Deaf).  Whether this sign means 
"institute" or not will depend on the context in which it is used. If you are 
talking about "mental patients" then it is going to mean "institutionalized."  
I saw it used in Northern Utah to refer to an "institute" of religion.
     <br/>
     <br/>
     INSTITUTE:
    </span>
    <p style="margin-top: 0; margin-bottom: 0">
     <img border="0" height="720" src="/images/deaf-school.gif" width="720"/>
    </p>
    <p style="margin-top: 0; margin-bottom: 0">
     <span style="font-weight: 400">
      <br/>
      <img border="0" height="238" src="/images/institute-01.jpg" width="227"/>
      <img border="0" height="238" src="/images/institute-02.jpg" width="227"/>
      <img border="0" height="238" src="/images/institute-01.jpg" width="227"/>
      <img border="0" height="238" src="/images/institute-02.jpg" width="227"/>
      <br/>
     </span>
     <br/>
    </p>
    <span style="font-weight: 400">
     <hr align="left" color="#000000" size="1" width="50%"/>
     <p style="margin-top: 0; margin-bottom: 0">
      <br/>
      INSTITUTE-[variation_2]
      <br/>
      In this variation the base hand is a fist.  This sign is also commonly 
recognized in the Deaf world as meaning "Deaf School."
      <br/>
     </p>
    </span>
    <p style="margin-top: 0; margin-bottom: 0">
     <span style="font-weight: 400">
      <img border="0" height="239" src="/images/instit3.jpg" width="216"/>
      <img border="0" height="239" src="/images/instit4.jpg" width="216"/>
      <br/>
     </span>
    </p>
    <hr align="left" color="#000000" size="1" width="50%"/>
    <p style="margin-top: 0; margin-bottom: 0">
    </p>
    <p style="margin-top: 0; margin-bottom: 0">
     INSTITUTE-[variation_3]
     <br/>
     Remember, ASL isn't English and thus in many cases it is perfectly fine to just 
sign SCHOOL (as shown below) when the English word "institute" is being used to 
refer to a general "school."
    </p>
    <p style="margin-top: 0; margin-bottom: 0">
     <br/>
     <img border="0" height="239" src="/images/instit5.jpg" width="229"/>
     <img border="0" height="239" src="/images/instit6.jpg" width="229"/>
     <br/>
    </p>
    <hr align="left" color="#000000" size="1" width="50%"/>
   </font>
   <p style="margin-top: 0; margin-bottom: 0">
    <span style="font-weight: 400">
     See:
     <a href="/dictionary/residential-school">
      RESIDENTIAL SCHOOL
     </a>
    </span>
   </p>
   <font face="Arial">
    <span style="font-weight: 400">
     <hr align="left" color="#000000" size="1" width="50%"/>
    </span>
   </font>
  </blockquote>
 </body>
</html>