<html>
 <body>
  <blockquote>
   <h1 style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     <span style="font-weight: 400">
      <font size="5">
       ASL: "instrument"
      </font>
     </span>
     <br/>
    </font>
   </h1>
   <p>
    <br/>
    There is no specific sign for "instrument."  (Or at least 
there is no widely used ASL sign for "instrument.)
    <br/>
    <br/>
    This is particularly true for the concept of "a musical instrument." 
		With a little bit of thought, most people might realize
    <i>
     why
    </i>
    the Deaf don't have an established sign for "musical 
		instrument."  (Wink.)
    <br/>
    <br/>
    If musical instruments were (traditionally) an important part of our culture then certainly we would have a widely established sign for 
		it. But alas, there is no
    <i>
     common
    </i>
    sign for "musical instrument."
    <br/>
    <br/>
    Four main approaches:
    <br/>
    1.  Fingerspell I-N-S-T-R-U-M-E-N-T
    <br/>
    2.  sign:  MUSIC + THINGS
    <br/>
    3.  sign:  VIOLIN, PIANO, DRUM, SO-FORTH (etc.)
    <br/>
    4.  Make up some funky initialized sign like doing THING with an "i" handshape.  (Not recommended.)
    <br/>
    <br/>
    The sign for most musical instruments is to do a
    <b>
     small mime
    </b>
    of that instrument.
    <br/>
   </p>
   <hr/>
   <p>
    TOOL:
    <br/>
    If you mean "instrument as in a "tool" then fingerspell the word "tool"
    <br/>
    <img height="100" src="/images/t_small.gif" width="100"/>
    <img height="100" src="/images/o_small.gif" width="100"/>
    <img height="100" src="/images/o_small.gif" width="100"/>
    <img height="100" src="/images/l_small.gif" width="100"/>
    <br/>
   </p>
   <hr/>
   <p>
    THING:
    <br/>
    If you mean "instrument" as in a general object that you can't or don't want to 
give a specific name to you can use the sign
    <a href="/dictionary/thing">
     THING
    </a>
    .
    <br/>
   </p>
   <hr/>
   <p>
    Depiction:
    <br/>
    If you mean "instrument" and the instrument is something which you can depict by 
doing an abbreviated mime showing the size, shape, or usage of the instrument -- 
go ahead and mime it (using as efficient of a mime as you can while still 
effectively and clearly getting your point across). Some people refer to this 
sort of signing as using "instrument classifiers" and or simply "depictive 
signing.
    <br/>
   </p>
   <hr/>
   <p>
    Spell:
    <br/>
    If the instrument to which you are referring has a common or well-known name 
that is likely to be understood by your audience and you are able to spell it 
faster than you might be able to mime or describe it then go ahead and 
fingerspell the specific instrument to which you are referring. Watch your 
conversation partner in case they actually know a specific sign because if so 
they are likely to show it to you and you'll be able to increase your 
vocabulary.  Lucky you! (Consider offering them chocolate and/or slipping a 
dollar or two into their ASL book or under their keyboard when they aren't 
looking.)
    <br/>
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p>
    Notes:  The above page (on the ASL sign for "instrument") started 
off as this bit of correspondence:
    <br/>
   </p>
   <div>
    In a message dated 11/27/2006 10:09:58 AM Pacific Standard Time, krishelfer@ writes:
   </div>
   <blockquote style="PADDING-LEFT: 5px; MARGIN-LEFT: 5px; BORDER-LEFT: blue 2px solid">
    <font color="#000000" face="Arial" size="2" style="BACKGROUND-COLOR: transparent">
     Dr. Vicars,
     <br/>
     My name is Kris _______, I am a Behavioral Therapist at the Rochester Center for Autism.  At the Center we provide the 
			children with Music Therapy, in which, we would like to incorporate more signs into.  I was wondering if there is a 
			more complete list of music based signs out there on the web/in a book.  The specific signs I am looking for are
     <br/>
     Drum
     <br/>
     Instrument
     <br/>
     Tambourine
     <br/>
     Thank you so much for your help!
     <br/>
     Thanks again!
     <br/>
     Kris _______
     <br/>
     Lead Behavior Therapist
     <br/>
     Rochester Center for Autism
     <br/>
     Rochester, Minnesota
    </font>
   </blockquote>
   Kris,
   <br/>
   There is no specific sign for "instrument."
   <br/>
   With a little bit of thought, most people might realize
   <i>
    why
   </i>
   the Deaf don't have an established sign for "musical 
		instrument."  Heh.
   <br/>
   If musical instruments were an important part of our culture then certainly we would have a widely established sign for 
		it. But alas, there is no
   <i>
    common
   </i>
   sign for "musical instrument."
   <br/>
   Four main approaches:
   <br/>
   1.  Fingerspell I-N-S-T-R-U-M-E-N-T
   <br/>
   2.  sign:  MUSIC + THINGS
   <br/>
   3.  sign:  VIOLIN, PIANO, DRUM, SO-FORTH (etc.)
   <br/>
   4.  Make up some funky initialized sign like doing THING with an "i" handshape.  (Not recommended.)
   <br/>
   <br/>
   The sign for most musical instruments is to do a
   <b>
    small mime
   </b>
   of that instrument.
   <br/>
   Dr. Bill
   <p style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1"/>
   <hr align="left" color="#000000" size="1"/>
   <hr align="left" color="#000000" size="1"/>
   <hr color="#000000" size="1"/>
   <p>
   </p>
  </blockquote>
 </body>
</html>