<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   <p>
    <br/>
    The sign for interest (as in "interesting or interested") starts with both hands in "5" shapes on or near your 
	chest and stomach.  The dominant hand is 
  higher up.  Both hands move forward and change into "8" handshapes.
    <br/>
    <br/>
    <font face="Arial">
     INTEREST (interested / interesting)
    </font>
   </p>
   <p>
    <img border="0" height="218" src="/images/intere16.jpg" width="230"/>
    <img border="0" height="218" src="/images/intere17.jpg" width="230"/>
   </p>
   <font face="Arial">
    <p>
    </p>
    <hr align="left" color="#000000" size="1"/>
   </font>
   Note:  This is what the handshape looks like from behind:
   <br/>
   <img border="0" height="189" src="/images/eightsideways.jpg" width="222"/>
   <br/>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
   <p>
    <br/>
    Note:  The sign "interesting" is
    <span style="background-color: #FFFF00">
     NOT used for the kind of interest 
  that accrues on borrowed money.
    </span>
    That is signed by placing the pinkie 
  side of the right "I" handshape on the palm of your palm-up left flat-hand.  
  Then move the right "I" handshape in two counterclockwise circles on the left 
  palm. The pinkie-side of the the right hand is rubbing against the palm of the 
  left hand as you make the two small counterclockwise circles.
    <br/>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>