<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   <br/>
   The signs "INTERRUPT" and "BOTHER" are related to each other. In 
			general though, "interrupt" uses a single movement and "
   <a href="/dictionary/bother">
    bother
   </a>
   " uses a double movement.  
			However you might see the sign "interrupt" done repeatedly 
			(inflected) to mean "repeated interruptions."
   <br/>
   <p>
    <br/>
    INTERRUPT:
    <br/>
    <br/>
    <img border="0" height="215" src="/images/interr18.jpg" width="208"/>
    <img border="0" height="215" src="/images/interr19.jpg" width="208"/>
    <img border="0" height="215" src="/images/interr20.jpg" width="208"/>
    <br/>
   </p>
   <hr color="#000000" size="1"/>
   <br/>
   BOTHER:
   <br/>
   <img border="0" height="215" src="/images/interr21.jpg" width="217"/>
   <img border="0" height="215" src="/images/interr22.jpg" width="217"/>
   <img border="0" height="215" src="/images/interr23.jpg" width="217"/>
   <img border="0" height="215" src="/images/interr24.jpg" width="217"/>
   <img border="0" height="215" src="/images/interr22.jpg" width="217"/>
   <img border="0" height="215" src="/images/interr23.jpg" width="217"/>
   <br/>
   <hr color="#000000" size="1"/>
   <p style="margin-top: 0; margin-bottom: 0">
    <a href="/images/bother.gif">
     Animation: "BOTHER"
    </a>
   </p>
   <hr color="#000000" size="1"/>
   <p style="margin-top: 0; margin-bottom: 0">
    <br/>
    Notes:
    <br/>
    <br/>
    Comment: A person commented: “I actually see ‘interrupt’ done a lot 
			with the ‘I’ hand in Michigan.” (Fred, 2020/02/04, Comment Section, 
			Youtube: https://youtu.be/-In-9jNVGf4 )
    <br/>
    <br/>
    Response: The use of an "i" handshape for the sign "interrupt" falls 
			under the umbrella of "Signed English." The "i" for "interrupt" sign 
			has in the past also been used as part of an (archaic) signed term 
			"hearing impaired" wherein the signer would point at their ear and 
			then sign "interrupt" with an "i" handshape. (Not recommended). 
			These days instead of using the term "
    <a href="/dictionary/hearing-impaired">
     hearing 
			impaired
    </a>
    " we tend to just sign "Deaf" or "Deaf / HH."
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <br/>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>