<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   <p style="margin-top: 0; margin-bottom: 0">
    The sign for "
    <span style="font-weight: 400">
     <font face="Arial">
      interview
     </font>
    </span>
    " uses 
	"I" handshapes.
    <span style="font-weight: 400">
     <font face="Arial">
      The hands 
move forward and back. When the right hand is moving forward, the left hand is 
moving backward. Both hands move at the same time.
      <br/>
      <p>
       INTERVIEW:
       <br/>
      </p>
      <p>
       <img border="0" height="237" src="/images/interview1.jpg" width="254"/>
       <img border="0" height="237" src="/images/interview2.jpg" width="254"/>
       <img border="0" height="237" src="/images/interview3.jpg" width="254"/>
       <img border="0" height="237" src="/images/interview4.jpg" width="254"/>
       <br/>
      </p>
      <hr align="left" color="#000000" size="1"/>
      <p>
       <br/>
       Notes:
       <br/>
       The sign "interview" is based on the 
sign "talk with."
  You initialize the sign " with "i" handshapes.
       <br/>
       See:
       <a href="/dictionary/talk-with">
        TALK-WITH
       </a>
       <br/>
       <br/>
       If you do this sign  with "C" handshapes it 
  means "communicate" or "communication."
       <br/>
       See:
       <a href="/dictionary/communication">
        COMMUNICATE
       </a>
      </p>
     </font>
    </span>
   </p>
  </blockquote>
 </body>
</html>