<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   <p style="margin-top: 0; margin-bottom: 0">
    <img border="0" height="320" src="/images/intersect-01.jpg" width="292"/>
    <img border="0" height="320" src="/images/intersect-02.jpg" width="292"/>
    <img border="0" height="320" src="/images/intersect-03.jpg" width="292"/>
   </p>
   <hr align="left" color="#000000" size="1" width="50%"/>
   <p style="margin-top: 0; margin-bottom: 0">
    Also see:
    <a href="/dictionary/graph">
     GRAPH / chart
    </a>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>