<html>
 <body>
  <blockquote>
   <p style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     Intrude:
     <br/>
     <span style="font-weight: 400">
      Here is an example of a sign indicating that 
    someone is intruding on me.
     </span>
    </font>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <br/>
    <font face="Arial">
     <br/>
     <span style="font-weight: 400">
      The dominant hand chops into the webbed 
    portion between the index and thumb of the non-dominant hand:
     </span>
    </font>
    <br/>
    <img border="0" height="281" src="/images/intrud18.jpg" width="320"/>
    <img border="0" height="281" src="/images/intrud19.jpg" width="320"/>
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     Also see 
    the sign "
     <a href="/dictionary/bother">
      bother
     </a>
     "
    </font>
   </p>
  </blockquote>
 </body>
</html>