<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   The sign for invisible is based on the concept of "overlook." To do 
			the sign for invisible, hold up a non-dominant index finger, 
			pointing upward, in the neutral space in front of your chest. At the 
			same time, hold up a palm-back flat hand in your upper right forward 
			signing space (if you are right handed) and then slice the dominant 
			hand downward so that it ends up in front of (or slightly below) the 
			left (if you are right handed) index finger.  The index finger 
			can be thought of as representing a person (or "something") and the 
			right hand represents "that thing being overlooked" -- because it is 
			"invisible."
   <br/>
   <br/>
   INVISIBLE:
   <br/>
   <img border="0" height="396" src="/images/invisible-01.jpg" width="367"/>
   <img border="0" height="396" src="/images/invisible-02.jpg" width="367"/>
   <img border="0" height="396" src="/images/invisible-03.jpg" width="367"/>
   <p style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1" width="50%"/>
   <p style="margin-top: 0; margin-bottom: 0">
    <br/>
    <font face="Arial">
     The sign for
     <b>
      overlook
     </b>
     holds a flat hand (palm back) up near 
			or slightly above your face and then moves the hand (and arm) 
			downward so that the hand crosses in front of your face and ends up 
			below your head (generally in the chest area).
     <br/>
    </font>
    <br/>
    OVERLOOK / "Didn't see it."
    <br/>
    <font face="Arial">
     <img border="0" height="396" src="/images/overlook-01.jpg" width="367"/>
     <img border="0" height="396" src="/images/overlook-02.jpg" width="367"/>
     <img border="0" height="396" src="/images/overlook-03.jpg" width="367"/>
    </font>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
   <p style="margin-top: 0; margin-bottom: 0">
    <br/>
    Notes:
    <br/>
   </p>
   <div dir="ltr">
    <div>
     Hello, Dr. Bill. My name is Olivia Manns,
     <br/>
     ...For about as long as I can remember, I have always been 
					interested in learning sign language and attempted on many 
					occasions to learn.
     <br/>
     ...This is a whole new world for me and I find myself trying 
					to surround myself with it. I am a music fanatic but every 
					time I listen to music I try to sign out the words and I 
					find that this helps me attempt to put phrases together. I'm 
					also a nurse and recently had an encounter with a deaf 
					client. I, of course, am not fluent and this made for a fun 
					but difficult day with him. But I think it gave me just the 
					push I needed to get started again :)
     <br/>
     ... I have a beautiful song that I am trying to learn the 
					signs to. The song is called "Invisible" by Hunter Hayes. 
					Now the problem is -- I don't know how to sign the word 
					invisible which, as I'm sure you've figured out, makes it 
					pretty impossible to sign this song since it's, you know, 
					invisible. Is there another way to say it? Are you supposed 
					to fingerspell it? I know you are very busy and I understand 
					that you will probably not be able to respond to this email 
					anytime soon (if at all) but I just thought I'd ask. :) 
					Again, I have loved your website and plan to learn this all 
					the way through this time!!
    </div>
    <div>
     - Blessings -
    </div>
    <div>
     Olivia Manns
     <br/>
     <br/>
     Olivia,
     <br/>
     Hello :)
     <br/>
     While I'm unfamiliar with that particular song, I get the 
					feeling it might involve a person
     <b>
      feeling
     </b>
     "invisible" 
					rather than "being" invisible.  Thus during the signing 
					of the song you may wish to occasionally (with poetic 
					license and for artistic purposes) use the sign OVERLOOKED.  
					Sure, Once in a while you should use the actual sign 
					"INVISIBLE" but if a person is "feeling" invisible it means 
					they are feeling overlooked -- like people are not seeing 
					her (or him).  For the song you could do the 
					"overlooked" sign quite a bit larger and add downcast eyes 
					(on occasion) or other embellishments to make it "cool/sad."
     <br/>
     Best wishes on your artistic endeavors.
     <br/>
     Cordially,
     <br/>
     Dr. Bill
    </div>
   </div>
   <p style="margin-top: 0; margin-bottom: 0">
    <br/>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>