<html>
 <body>
  <blockquote>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
    <p>
     <br/>
     The sign for "involve" holds the non-dominant hand in a "C" shape 
			over which the dominant 5-hand circles and then tucks the fingers 
			into the C.
     <br/>
     <br/>
     INVOLVE / INCLUDE:
    </p>
    <p>
     <img border="0" height="239" src="/images/involv45.jpg" width="266"/>
     <img border="0" height="239" src="/images/involv46.jpg" width="266"/>
     <img border="0" height="239" src="/images/involv47.jpg" width="266"/>
     <img border="0" height="239" src="/images/involv48.jpg" width="266"/>
     <img border="0" height="239" src="/images/involv49.jpg" width="266"/>
    </p>
    <p>
    </p>
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>