<html>
 <body>
  <blockquote>
   <h1 style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     <span style="font-weight: 400">
      <font size="5">
       American Sign Language: 
		"it"
      </font>
     </span>
     <br/>
    </font>
   </h1>
   <p>
   </p>
   <hr align="left" color="#000000" size="1" width="50%"/>
   <span style="font-weight: 400">
    <p style="margin-top: 0; margin-bottom: 0">
     The general sign for "it" is done by simply pointing at the object to 
	which you are referring.
     <br/>
    </p>
    <p style="margin-top: 0; margin-bottom: 0">
     If the object, person, or location to which you are referring is present 
	(there in your immediate environment), you can just "point" at him or her.  
	If the referent isn't around you can just point off to your dominant side. 
	You can also point toward where something was. For example, suppose a person 
	was sitting in a certain chair and but recently got up and left, you can 
	point at the empty chair to refer to that person.
     <br/>
     <br/>
     IT / HE / SHE / THERE / "the one that is right there"
    </p>
    <p>
     <img border="0" height="225" src="/images/there-c1.jpg" width="254"/>
     <img border="0" height="225" src="/images/there-c2.jpg" width="254"/>
     <br/>
    </p>
    <hr align="left" color="#000000" size="1" width="50%"/>
    <p style="margin-top: 0; margin-bottom: 0">
     <br/>
     Also see:
     <a href="/dictionary/this">
      THIS
     </a>
     <br/>
     Also see:
     <a href="/dictionary/there">
      THERE
     </a>
    </p>
    <p style="margin-top: 0; margin-bottom: 0">
    </p>
   </span>
   <hr align="left" color="#000000" size="1"/>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1"/>
   <hr align="left" color="#000000" size="1"/>
   <hr color="#000000" size="1"/>
   <p>
   </p>
  </blockquote>
 </body>
</html>