<html>
 <body>
  <blockquote>
   <h1 style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     <span style="font-weight: 400">
      <font size="5">
       American Sign Language: 
		"Italy"
      </font>
     </span>
     <br/>
    </font>
   </h1>
   <p>
   </p>
   <hr align="left" color="#000000" size="1" width="50%"/>
   <span style="font-weight: 400">
    <p>
     ITALY:
     <br/>
     <img border="0" height="320" src="/images/italy-001.jpg" width="240"/>
     <img border="0" height="320" src="/images/italy-002.jpg" width="240"/>
     <img border="0" height="320" src="/images/italy-003.jpg" width="240"/>
     <img border="0" height="320" src="/images/italy-004.jpg" width="240"/>
    </p>
    <p>
     <iframe allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/CFYyKuV10xo?rel=0" width="560">
     </iframe>
    </p>
    <hr/>
    <p>
     <br/>
     Here is a pic showing two things:
     <br/>
     1.  The older version of the sign for ITALY which uses an "I" hand and 
moves in a cross pattern.
     <br/>
     2.  I should not become a graphic artist.
    </p>
    <p style="margin-top: 0; margin-bottom: 0">
     <img border="0" height="320" src="/images/italy-red-arrow.jpg" width="320"/>
    </p>
    <p style="margin-top: 0; margin-bottom: 0">
    </p>
   </span>
   <hr align="left" color="#000000" size="1"/>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1"/>
   <hr align="left" color="#000000" size="1"/>
   <hr color="#000000" size="1"/>
   <p>
   </p>
  </blockquote>
 </body>
</html>