<html>
 <body>
  <blockquote>
   <p>
    There are several variations for this sign. Make sure to scroll 
			down and check 'em all out so you can do well on any quizzes you may 
			take.
    <br/>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
   <p>
    <br/>
    The main version is based on the "SWEEP" sign.
    <br/>
    Do a forward sweeping movement with your dominant hand as if 
			sweeping crumbs off of the palm of your non-dominant hand. Do this 
			twice then add the "PERSON" sign.
    <br/>
    <br/>
    JANITOR:
    <br/>
    <font face="Arial">
     <img border="0" height="320" src="/images/janitor-09.jpg" width="280"/>
    </font>
    <img border="0" height="320" src="/images/janitor-12.jpg" width="280"/>
    <font face="Arial">
     <img border="0" height="320" src="/images/janitor-09.jpg" width="280"/>
     <img border="0" height="320" src="/images/janitor-12.jpg" width="280"/>
     <br/>
     <img border="0" height="320" src="/images/person-01.jpg" width="310"/>
     <img border="0" height="320" src="/images/person-02.jpg" width="310"/>
    </font>
    <br/>
    <br/>
    JANITOR (version)
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     <br/>
     <br/>
     Sample sentence: 
			Do you know the name of the janitor for this building?
     <br/>
     <br/>
    </font>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     <hr align="left" color="#000000" size="1"/>
    </font>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     <br/>
     In context you can often sign "SWEEP" (using a double movement) 
			without using the "person" sign and it will be understood to mean 
			"janitor."
     <br/>
     <br/>
     SWEEP/BROOM = JANITOR:
     <br/>
     <img border="0" height="320" src="/images/janitor-09.jpg" width="280"/>
     <img border="0" height="320" src="/images/janitor-12.jpg" width="280"/>
     <img border="0" height="320" src="/images/janitor-09.jpg" width="280"/>
     <img border="0" height="320" src="/images/janitor-12.jpg" width="280"/>
     <br/>
     <br/>
     See:
     <a href="/dictionary/sweep">
      SWEEP
     </a>
    </font>
    <br/>
    <font face="Arial">
     <hr align="left" color="#000000" size="1"/>
    </font>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <br/>
    <font face="Arial">
     There is a variation of the sign for "janitor" that looks somewhat as if you are holding onto the handle of a mop 
	and you push it forward twice and then show the "person" sign.
     <br/>
     <br/>
     JANITOR-("mop version")
     <br/>
     <img border="0" height="240" src="/images/janitor1.jpg" width="273"/>
     <img border="0" height="240" src="/images/janitor2.jpg" width="273"/>
     <img border="0" height="239" src="/images/janitor3.jpg" width="259"/>
    </font>
    <br/>
    <br/>
    JANITOR-("mop version")
   </p>
   <br/>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
   <p>
    <br/>
    There is another version of the JANITOR / "mopper" variation.
	This version combines the verb "mopping" with the "PERSON/agent" sign.
    <br/>
    <br/>
    <font face="Arial">
     JANITOR-("mop version 2")
    </font>
   </p>
   <p>
    <img border="0" height="224" src="/images/janito16.jpg" width="238"/>
    <img border="0" height="224" src="/images/janito17.jpg" width="238"/>
    <img border="0" height="224" src="/images/janito18.jpg" width="238"/>
    <img border="0" height="224" src="/images/janito19.jpg" width="238"/>
    <img border="0" height="224" src="/images/janito20.jpg" width="238"/>
    <img border="0" height="224" src="/images/janito21.jpg" width="238"/>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <br/>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>