<html>
 <body>
  <blockquote>
   <h1 style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     <span style="font-weight: 400">
      <font size="5">
       American Sign Language: "jealous" or "envious"
      </font>
     </span>
     <br/>
    </font>
   </h1>
   <blockquote>
    <hr align="left" color="#000000" size="1"/>
    <p style="margin-top: 0; margin-bottom: 0">
     Jealous and envy can both be shown with the same sign that uses an "X" 
	handshape near the corner of the mouth.  Imagine sticking a fish hook 
	into your lip and then twisting and pulling it a bit. (Um,
     <i>
      sorry
     </i>
     , not 
	the most pleasant of visualizations eh? But then again, envy is seldom 
	pretty.)
     <br/>
    </p>
    <p>
     ENVY or JEALOUS:
     <br/>
     <br/>
     <iframe allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/Kniz_YHJxp4?rel=0" width="560">
     </iframe>
    </p>
    <p>
     <img border="0" height="237" src="/images/jealousenvy1.jpg" width="227"/>
     <img border="0" height="237" src="/images/jealousenvy2.jpg" width="227"/>
     <br/>
     <br/>
     Sample sentence:
	"Is your boyfriend the jealous type?" = YOUR BOYFRIEND JEALOUS EASY?
     <br/>
     <br/>
     <iframe allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/mzlLHECZj1Q?rel=0" width="560">
     </iframe>
     <br/>
    </p>
    <hr align="left" color="#000000" size="1"/>
    <p>
     <br/>
     There is an initialized version of the sign "JEALOUS" sign that is
     <i>
      specifically
     </i>
     interpreted as "jealous."  Even though this 
	initialized version is fairly widely used by lots of people, I recommend you 
	stick with the more general "X"-hand version (above).
     <br/>
     <br/>
     JEALOUS:
     <br/>
     <img border="0" height="237" src="/images/jealousa1.jpg" width="227"/>
     <img border="0" height="237" src="/images/jealousa2.jpg" width="227"/>
     <img border="0" height="237" src="/images/jealousa3.jpg" width="227"/>
    </p>
   </blockquote>
   <hr align="left" color="#000000" size="1"/>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p>
    Memory aid:  If you to study human behavior you may notice that sometimes 
	when people experience the emotion of envy or jealousness they may stick the 
	tip of one of their fingers into their mouth and bite it a bit.
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1"/>
   <hr align="left" color="#000000" size="1"/>
   <hr align="left" color="#000000" size="1"/>
   <hr color="#000000" size="1"/>
   <p>
   </p>
  </blockquote>
 </body>
</html>