<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   <p style="margin-top: 0; margin-bottom: 0">
    To do the sign for "Jesus,"
    <font face="Arial">
     Touch the tip of the middle finger of your dominant hand into the center of 
	the palm of your non-dominant hand.
	Then touch the tip of the middle finger of your non-dominant hand into the 
	palm of your dominant hand.
	Memory aide: think of the nails through His palms while on the cross.
    </font>
    <br/>
    <br/>
    Jesus:
    <font face="Arial">
     <br/>
     <img border="0" height="218" src="/images/jesus.5.jpg" width="320"/>
     <img border="0" height="218" src="/images/jesus.6.jpg" width="320"/>
    </font>
    <br/>
   </p>
   <hr align="left" color="#000000" size="1" width="50%"/>
   <p style="margin-top: 0; margin-bottom: 0">
    Also see:
    <a href="/dictionary/sheep">
     SHEEP
    </a>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>