<html>
 <body>
  <blockquote>
   <h1 style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     <span style="font-weight: 400">
      <font size="5">
       American Sign Language: "job"
      </font>
     </span>
    </font>
   </h1>
   <p>
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p>
    #JOB (lexicalized version):
   </p>
   <p>
   </p>
   <p>
    <iframe allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/42A3aALiSng?rel=0" width="560">
    </iframe>
   </p>
   <p>
    <br/>
    <img border="0" height="238" src="/images/job.ht1.jpg" width="268"/>
    <img border="0" height="238" src="/images/job.ht2.jpg" width="268"/>
    <font face="Arial">
     <hr align="left" color="#000000" size="1"/>
    </font>
   </p>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p>
    Notes:
    <br/>
    Sometimes you may see the sign for WORK while mouthing "job" to also 
mean JOB.
   </p>
   <p>
    <iframe allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/mJrUYRjvrew?rel=0" width="560">
    </iframe>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    Also see:
    <a href="/dictionary/work">
     WORK
    </a>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1"/>
   <hr align="left" color="#000000" size="1"/>
   <hr align="left" color="#000000" size="1"/>
   <hr color="#000000" size="1"/>
   <p>
   </p>
  </blockquote>
 </body>
</html>