<html>
 <body>
  <blockquote>
   <h1 style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     <font size="5">
      <span style="font-weight: 400">
       American Sign Language: 
		"join"
      </span>
     </font>
     <br/>
    </font>
   </h1>
   <blockquote>
    <hr align="left" color="#000000" size="1" width="50%"/>
    <span style="font-weight: 400">
     <p style="margin-top: 0; margin-bottom: 0">
      The sign for "join" or participate is 
done by using an "H" handshape on your dominant hand and sticking it into a "C" 
handshape on your non-dominant hand.
      <br/>
      <br/>
      JOIN / PARTICIPATE / "I'm in."
     </p>
     <p style="margin-top: 0; margin-bottom: 0">
     </p>
     <p style="margin-top: 0; margin-bottom: 0">
      <iframe allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/D3mLq8Gchvs?rel=0" width="560">
      </iframe>
     </p>
     <p style="margin-top: 0; margin-bottom: 0">
      <br/>
      <img border="0" height="226" src="/images/join.jpg" width="208"/>
      <img border="0" height="226" src="/images/join2.jpg" width="208"/>
      <img border="0" height="226" src="/images/join3.jpg" width="208"/>
     </p>
     <p style="margin-top: 0; margin-bottom: 0">
     </p>
     <p style="margin-top: 0; margin-bottom: 0">
      Memory aid:  Think of the "H" 
hand as representing your legs and you are "jumping" into something with both 
feet.
     </p>
    </span>
   </blockquote>
   <hr align="left" color="#000000" size="1"/>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1"/>
   <span style="font-weight: 400">
    <p>
    </p>
    <p style="margin-top: 0; margin-bottom: 0">
     Also see:
     <a href="/dictionary/connect">
      CONNECT
     </a>
    </p>
   </span>
   <span style="font-weight: 400">
    <p style="margin-top: 0; margin-bottom: 0">
    </p>
   </span>
   <hr align="left" color="#000000" size="1"/>
   <hr align="left" color="#000000" size="1"/>
   <hr align="left" color="#000000" size="1"/>
   <hr color="#000000" size="1"/>
   <p>
   </p>
  </blockquote>
 </body>
</html>