<html>
 <body>
  <blockquote>
   <h1 style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     <span style="font-weight: 400">
      <font size="5">
       ASL: "joke"
      </font>
     </span>
     <br/>
    </font>
   </h1>
   <p>
    <br/>
    "JOKE" has both a signed form and a fingerspelled form. If "joke" is 
fingerspelled it is typically being used as a noun. If JOKE is signed we must 
rely on context to decide whether it is being used as a noun or a verb.
    <br/>
    <br/>
    JOKE / joking / teasing
    <br/>
    <img border="0" height="360" src="/images/joke-01.jpg" width="360"/>
    <img border="0" height="360" src="/images/joke-02.jpg" width="360"/>
    <img border="0" height="360" src="/images/joke-03.jpg" width="360"/>
    <img border="0" height="360" src="/images/joke-04.jpg" width="360"/>
    <br/>
    <br/>
    <br/>
    <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/wiLwLKraAPk" width="560">
    </iframe>
   </p>
   <hr color="#000000" size="1"/>
   <p>
    <br/>
    JOKE-[fs]
   </p>
   <p>
    <a href="/images/j.gif">
     <img alt="j.gif (276489 bytes)" border="2" height="100" src="/images/j_small.gif" width="100" xthumbnail-orig-image="../../fingerspelling/abc-gifs/j.gif"/>
    </a>
    <a href="/images/o.gif">
     <img alt="o.gif (401307 bytes)" border="2" height="100" src="/images/o_small.gif" width="100" xthumbnail-orig-image="../../fingerspelling/abc-gifs/o.gif"/>
    </a>
    <a href="/images/k.gif">
     <img alt="k.gif (212371 bytes)" border="2" height="100" src="/images/k_small.gif" width="100" xthumbnail-orig-image="../../fingerspelling/abc-gifs/k.gif"/>
    </a>
    <a href="/images/e.gif">
     <img alt="e.gif (169026 bytes)" border="2" height="100" src="/images/e_small.gif" width="100" xthumbnail-orig-image="../../fingerspelling/abc-gifs/e.gif"/>
    </a>
    <br/>
    The word joke is often fingerspelled in the Deaf Community. When fingerspelled 
the concept is typically being used as a noun.  The signed version can also 
be used as a noun depending on context.
    <br/>
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p>
    Notes:
    <br/>
    Let me provide for you an example where we see the "signed" version of joke 
being used as a noun in the phrase "...one more funny joke."
    <br/>
    https://youtu.be/bN4Vsf_jM2w See the 22 second mark.  The subtitles 
(provided by SVRS) further confirm that the language model is using the sign 
JOKE as a noun.
    <br/>
    <br/>
    If for some reason the Youtube video goes away, here are a couple of screen 
grabs:
    <br/>
    <img border="0" height="480" src="/images/joke-svrs-01.jpg" width="664"/>
    <img border="0" height="480" src="/images/joke-svrs-02.jpg" width="664"/>
    <br/>
    Source: SVRS (Oct. 1, 2015) "Deaf Awareness Month 2015: One Last Joke," Sorenson 
Video Relay Service, Retrieved 2/2/2019 from: https://youtu.be/bN4Vsf_jM2w?t=22 
(video ID: bN4Vsf_jM2w at time code: 22 seconds)
    <br/>
    <br/>
    <br/>
    Also see: "
    <a href="/dictionary/tease">
     TEASE
    </a>
    "
    <br/>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1"/>
   <hr align="left" color="#000000" size="1"/>
   <hr align="left" color="#000000" size="1"/>
   <hr color="#000000" size="1"/>
   <p>
   </p>
  </blockquote>
 </body>
</html>