<html>
 <body>
  <blockquote style="PADDING-LEFT: 5px; MARGIN-LEFT: 5px; BORDER-LEFT: blue 2px solid">
   <font color="#000000" face="Arial" size="2" style="BACKGROUND-COLOR: transparent">
    <div>
     <font size="3">
      How do you sign "juice"?  A co-worker of mine is 
			trying to teach her hearing grandbaby.
     </font>
    </div>
    <div>
     <font size="3">
      Bren :-)
     </font>
    </div>
   </font>
  </blockquote>
 </body>
</html>