<html>
 <body>
  <blockquote>
   <h1 style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     <font size="5">
      <span style="font-weight: 400">
       American Sign Language: 
		"jump"
      </span>
     </font>
     <br/>
    </font>
   </h1>
   <p>
   </p>
   <hr align="left" color="#000000" size="1" width="50%"/>
   <span style="font-weight: 400">
    <p style="margin-top: 0; margin-bottom: 0">
     The sign for "jump" depends on your 
meaning and who or what is doing the jumping.  A needle on a meter jumping 
is signed much differently than a human being jumping.  A "
     <a href="/dictionary/good-night-moon" style="text-decoration: none">
      cow 
jumping over the moon
     </a>
     " is signed much differently than a little bird hopping 
around.
     <br/>
     <br/>
     The generic sign for jump is to use an upside down "V" to represent what it 
looks like when a person jumps:
     <br/>
    </p>
    <p style="margin-top: 0; margin-bottom: 0">
     JUMP:
     <br/>
     <iframe allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/_CMXWiZJDPM?rel=0" width="560">
     </iframe>
     <img border="0" height="320" src="/images/jump.gif" width="320"/>
    </p>
    <p align="left" style="margin-top: 0; margin-bottom: 0">
    </p>
    <p align="left" style="margin-top: 0; margin-bottom: 0">
     JUMP (generic):
    </p>
    <p align="left" style="margin-top: 0; margin-bottom: 0">
    </p>
    <p align="left" style="margin-top: 0; margin-bottom: 0">
     <img border="0" height="320" src="/images/jump-01.jpg" width="320"/>
     <img border="0" height="320" src="/images/jump-02.jpg" width="320"/>
     <img border="0" height="320" src="/images/jump-03.jpg" width="320"/>
     <img border="0" height="320" src="/images/jump-04.jpg" width="320"/>
     <img border="0" height="320" src="/images/jump-05.jpg" width="320"/>
    </p>
    <p style="margin-top: 0; margin-bottom: 0">
     <br/>
     Notes:
    </p>
    <p style="margin-top: 0; margin-bottom: 0">
     Don't use the generic two-legged 
"JUMP" sign (above) for concepts other than standard human or primate jumping or 
leaping. If you want to sign "My heart jumped" then use a flutter motion near 
your heart. If you want to sign "Dad helped me jump my car (battery)," Then do a 
mime type motion (instrument classifier) showing the attaching of the jumper 
cables (the thumb, index, and middle fingers latch on to imaginary battery 
posts).
    </p>
   </span>
   <p>
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1"/>
   <span style="font-weight: 400">
    <p style="margin-top: 0; margin-bottom: 0">
     <br/>
     Suppose you were talking about a horse riding competition and needed to indicate 
that the horse jumped over something. You would use a two handed version of the 
the sign "jump."
     <br/>
    </p>
    <p align="left" style="margin-top: 0; margin-bottom: 0">
     JUMPED: (4-legged 
animal)
    </p>
    <p align="left" style="margin-top: 0; margin-bottom: 0">
     <img border="0" height="320" src="/images/jumped-4-legs-01.jpg" width="320"/>
     <img border="0" height="320" src="/images/jumped-4-legs-02.jpg" width="320"/>
     <img border="0" height="320" src="/images/jumped-4-legs-03.jpg" width="320"/>
     <img border="0" height="320" src="/images/jumped-4-legs-04.jpg" width="320"/>
     <img border="0" height="320" src="/images/jumped-4-legs-05.jpg" width="320"/>
    </p>
   </span>
   <p style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1"/>
   <hr align="left" color="#000000" size="1"/>
   <hr align="left" color="#000000" size="1"/>
   <hr color="#000000" size="1"/>
   <p>
   </p>
  </blockquote>
 </body>
</html>