<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   <p>
    <font face="Arial">
     Double movement.  Dominant flat hand (or relaxed 5 hand) taps the index 
	finger of your stationary non-dominant "5"-hand.
    </font>
    <br/>
    <br/>
    <font face="Arial">
     JUNIOR (academic 3rd year)
     <br/>
    </font>
    <img border="0" height="218" src="/images/junior41.jpg" width="246"/>
    <img border="0" height="218" src="/images/junior42.jpg" width="246"/>
    <img border="0" height="218" src="/images/junior43.jpg" width="246"/>
    <img border="0" height="218" src="/images/junior44.jpg" width="246"/>
    <br/>
   </p>
   <hr align="left" color="#000000" size="1"/>
   <font face="Arial">
    <p style="margin-top: 0; margin-bottom: 0">
     See:
     <a href="/dictionary/freshman">
      FRESHMAN
     </a>
    </p>
    <p style="margin-top: 0; margin-bottom: 0">
     See:
     <a href="/dictionary/sophomore">
      SOPHOMORE
     </a>
    </p>
    <p style="margin-top: 0; margin-bottom: 0">
     See:
     <a href="/dictionary/senior">
      SENIOR
     </a>
    </p>
   </font>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
    <p>
     Notes:
     <br/>
     It is common to see the concept of "junior" abbreviated to spelling 
			JR.
    </p>
    <p>
     For example, to express the concept of "Junior High School" 
			you spell J-R-H-S.
    </p>
   </font>
   <p style="margin-top: 0; margin-bottom: 0">
    <br/>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>