<html>
 <body>
  <blockquote>
   <h1 style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     <font size="5">
      <span style="font-weight: 400">
       American Sign Language: 
		"keep"
      </span>
     </font>
     <br/>
    </font>
   </h1>
   <blockquote>
    <span style="font-weight: 400">
     <hr align="left" color="#000000" size="1"/>
     <p style="margin-top: 0; margin-bottom: 0">
      KEEP:
      <br/>
      [Use a single motion.  The right hand moves to the left hand.  The
  left hand is held slightly out from the body and remains mostly stationary.]  
  However...if I'm telling someone to "keep it" I tend to move the whole sign in 
  his or her direction as I whack the two "K" hands together.  If I'm 
  talking about myself keeping it then I do the sign close by my body.
     </p>
     <p style="margin-top: 0; margin-bottom: 0">
      <img border="0" height="228" src="/images/keepa1.jpg" width="192"/>
      <img border="0" height="228" src="/images/keepa2.jpg" width="192"/>
     </p>
     <p style="margin-top: 0; margin-bottom: 0">
      <iframe allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/e8ou8_mZFBA?rel=0" width="560">
      </iframe>
     </p>
     <hr align="left" color="#000000" size="1"/>
     <p style="margin-top: 0; margin-bottom: 0">
      Also see:
      <a href="/dictionary/loan">
       LOAN-[lend_borrow]
      </a>
      <br/>
      Also see:
      <a href="/dictionary/take-care-of">
       take-CARE-of
      </a>
      <br/>
      Also see:
      <a href="/dictionary/what-kind">
       what-KIND-of / type-of
      </a>
     </p>
     <hr align="left" color="#000000" size="1"/>
     <br/>
     Sample sentence: Do you keep a picture of your old boy friend?  = OLD BOY 
FRIEND PICTURE YOU KEEP?
     <br/>
     <iframe allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/FSqHL-4oo0M?rel=0" width="560">
     </iframe>
     <p>
     </p>
     <p>
      Note: A very common approach to referring to a former partner 
(such as a former boyfriend) is to spell "
      <b>
       EX
      </b>
      " prior to signing BOY FRIEND 
instead of using the sign OLD.
      <br/>
      I couldn't imagine someone signing "MY OLD WIFE" to mean "ex-wife." So even 
though you can use "OLD" to refer to a previous boy or girl-friend I recommend 
that you
      <b>
       don't
      </b>
      use "OLD" for referring to former spouses.
      <br/>
      When referring to a "former but no longer" lover -- of the two signs "OLD" 
or "EX" the safer choice would be to use "
     </p>
    </span>
    EX
    <span style="font-weight: 400">
     ."  My reason for including the 
sign OLD in this curriculum is to help point out that it does indeed 
occasionally express a  meaning other than "long in age."
    </span>
   </blockquote>
   <hr align="left" color="#000000" size="1"/>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1"/>
   <hr align="left" color="#000000" size="1"/>
   <hr color="#000000" size="1"/>
   <p>
   </p>
  </blockquote>
 </body>
</html>