<html>
 <body>
  <blockquote>
   <h1 style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     <font size="5">
      <span style="font-weight: 400">
       American Sign Language: 
		"ketchup" or "catsup"
      </span>
     </font>
     <br/>
    </font>
   </h1>
   <blockquote>
    <hr align="left" color="#000000" size="1" width="50%"/>
    <span style="font-weight: 400">
     <p>
      KETCHUP =  "Cat up."
      <br/>
      I'm not kidding.  This is a
     </p>
    </span>
    real
    <span style="font-weight: 400">
     sign
     <i>
      and it is very popular
     </i>
     . 
	This sign is used by most of my friends who attended "Deaf Schools."
     <br/>
     It combines "CAT and
  the fingerspelled word UP."  Ha! I
     <i>
      love
     </i>
     this sign.  But, 
	if your local teacher or friends don't like it, you can always scroll down 
	and use the generic version (scroll down) of "pounding on the bottom of the 
	bottle."
     <br/>
     <br/>
     <iframe allow="autoplay; encrypted-media" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/8pg6KkRCOis?rel=0" width="560">
     </iframe>
     <p>
      Note: (variation)
      <br/>
      You might see people doing the sign "CAT" with an "8" handshape instead of the 
"9" hanshape that I use. That is fine. They are both good.  Some people 
even do "CAT" with a "G" hand that closes. (Which I don't recommend, but it is 
still a 
legit version of "CAT.")
     </p>
     <hr align="left" color="#000000" size="1"/>
     <p>
      KETCHUP:
      <br/>
      CAT-UP variation 2:
      <br/>
      You might also see the "up" concept signed by pointing upward or by moving an "A" handshape upward (the thumb pointing up).
      <br/>
      <br/>
      <img border="0" height="300" src="/images/ketchu12.jpg" width="286"/>
      <img border="0" height="300" src="/images/ketchu13.jpg" width="286"/>
      <img border="0" height="300" src="/images/ketchu14.jpg" width="286"/>
     </p>
     <hr align="left" color="#000000" size="1"/>
     <p>
      KETCHUP:
      <br/>
      Here is a general version that looks like trying to get ketchup out of a 
	bottle by smacking the upturned bottle twice:
      <br/>
      <br/>
      <img border="0" height="229" src="/images/ketchup1.jpg" width="275"/>
      <img border="0" height="229" src="/images/ketchup2.jpg" width="275"/>
      <img border="0" height="229" src="/images/ketchup3.jpg" width="275"/>
      <img border="0" height="229" src="/images/ketchup5.jpg" width="275"/>
      <img border="0" height="229" src="/images/ketchup4.jpg" width="275"/>
      <img border="0" height="229" src="/images/ketchup6.jpg" width="275"/>
     </p>
    </span>
   </blockquote>
   <hr align="left" color="#000000" size="1"/>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1"/>
   <hr align="left" color="#000000" size="1"/>
   <hr color="#000000" size="1"/>
   <p>
   </p>
  </blockquote>
 </body>
</html>