<html>
 <body>
  <blockquote>
   <h1 style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     <font size="5">
      <span style="font-weight: 400">
       American Sign Language: 
		"key" or "keys"
      </span>
     </font>
     <br/>
    </font>
   </h1>
   <blockquote>
    <hr align="left" color="#000000" size="1" width="50%"/>
    <span style="font-weight: 400">
     <p style="margin-top: 0; margin-bottom: 0">
      <br/>
      KEYS:
      <br/>
      <img border="0" height="250" src="/images/key.gif" width="320"/>
      <br/>
      Hold an imaginary "key" between your thumb and index finger and twist it twice 
in a lock.
      <br/>
      <iframe allowfullscreen="" frameborder="0" height="315" name="I1" src="https://www.youtube.com/embed/gDbPETMB9dk?rel=0" width="560">
      </iframe>
     </p>
     <p style="margin-top: 0; margin-bottom: 0">
     </p>
     <p style="margin-top: 0; margin-bottom: 0">
      KEYS (side view version):
     </p>
     <p style="margin-top: 0; margin-bottom: 0">
      <iframe allowfullscreen="" frameborder="0" height="315" name="I2" src="https://www.youtube.com/embed/wBBgfOLszFM?rel=0" width="560">
      </iframe>
     </p>
     <p style="margin-top: 0; margin-bottom: 0">
      <br/>
     </p>
     <hr color="#000000" size="1"/>
     <p style="margin-top: 0; margin-bottom: 0">
      <br/>
      Signing Note: If you use just a single twist, the sign becomes a "verb" that 
means "lock" as in, "I locked the door."
      <br/>
      <br/>
      LOCK / to lock / lock it
      <br/>
      <img border="0" height="409" src="/images/lock-verb-form-of-key-small.jpg" width="518"/>
     </p>
    </span>
   </blockquote>
   <hr align="left" color="#000000" size="1"/>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p>
    <span style="font-weight: 400">
     Sample sentence: YOUR KEYS, YOU LOSE BEFORE? = "Have you ever lost your keys?"
     <br/>
     <br/>
     <iframe allowfullscreen="" frameborder="0" height="315" name="I3" src="https://www.youtube.com/embed/7Mhl-L5YOL0?rel=0" width="560">
     </iframe>
    </span>
   </p>
   <p>
   </p>
   <hr color="#000000" size="1"/>
   <p>
   </p>
   <p>
    Notes:
    <br/>
    <span style="font-weight: 400">
     See:
     <a href="/dictionary/lock">
      LOCK
     </a>
    </span>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    Also see:
    <a href="/dictionary/locked">
     LOCKED
    </a>
    <br/>
   </p>
   <hr align="left" color="#000000" size="1"/>
   <hr align="left" color="#000000" size="1"/>
   <hr align="left" color="#000000" size="1"/>
   <hr color="#000000" size="1"/>
   <p>
   </p>
  </blockquote>
 </body>
</html>