<html>
 <body>
  <blockquote>
   <h1 style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     <font size="5">
      <span style="font-weight: 400">
       American Sign Language: 
		"lady"
      </span>
     </font>
     <br/>
    </font>
   </h1>
   <blockquote>
    <hr align="left" color="#000000" size="1" width="50%"/>
    <span style="font-weight: 400">
     <p style="margin-top: 0; margin-bottom: 0">
      The right sign for "lady" depends on 
whether you are using it to indicate a "woman" or if you are trying to indicate 
a "
      <i>
       socially proper
      </i>
      woman."
      <br/>
      <br/>
      The general sign for "woman" combines the sign "GIRL" and "FINE."
      <br/>
      <br/>
      WOMAN:
      <br/>
      GIRL + FINE = "woman"
      <br/>
      <img border="0" height="320" src="/images/woman-03.gif" width="320"/>
      <br/>
      Note: The sign "WOMAN" also has a more abbreviated form, for more information 
see:
      <a href="/dictionary/woman" style="text-decoration: none">
       WOMAN
      </a>
      and scroll down.
      <br/>
     </p>
     <hr color="#000000" size="1"/>
     <p style="margin-top: 0; margin-bottom: 0">
      <br/>
      If you want to use the sign "LADY" to indicate a "socially proper female" then 
you will combine the signs GIRL and POLITE.
     </p>
     <p style="margin-top: 0; margin-bottom: 0">
      <br/>
      LADY (version)
      <br/>
      GIRL/female + POLITE = "lady"
      <br/>
      <img border="0" height="234" src="/images/girl1.jpg" width="200"/>
      <img border="0" height="234" src="/images/girl2.jpg" width="200"/>
      <br/>
      <img border="0" height="368" src="/images/polite.gif" width="300"/>
      <br/>
      To sign polite you brush the tip of the thumb
  of your right five-hand twice on your chest using an upward motion.  The
  hand moves in a very small circle, up, out, down, back.  It is on the
  upward stroke that the thumb-tip touches the chest.  You might see other
  versions of this sign, but this is how I do it.
     </p>
    </span>
   </blockquote>
   <hr align="left" color="#000000" size="1"/>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1"/>
   <span style="font-weight: 400">
    Also see:
    <a href="/dictionary/woman" style="text-decoration: none">
     WOMAN
    </a>
    <hr align="left" color="#000000" size="1"/>
    <p style="margin-top: 0; margin-bottom: 0">
     Also see:
     <a href="/dictionary/girl" style="text-decoration: none">
      GIRL
     </a>
    </p>
   </span>
   <hr align="left" color="#000000" size="1"/>
   <hr align="left" color="#000000" size="1"/>
   <hr color="#000000" size="1"/>
   <p>
   </p>
  </blockquote>
 </body>
</html>