<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   <p style="margin-top: 0; margin-bottom: 0">
    <br/>
    This sign can mean "to be so sick as to be laid up in bed." I'm using a 
pained expression to it is assumed that I'm injured or sick. If I used a 
"tired" expression, this sign could mean I'm so exhausted or tired as to be 
physically wasted and had to be in bed to recuperate.
    <br/>
    <br/>
    LAID-OUT sick. (Really ill / bedridden / wasted)
    <br/>
    <br/>
    <img border="0" height="235" src="/images/sick-laidout1.jpg" width="178"/>
    <img border="0" height="235" src="/images/sick-laidout2.jpg" width="178"/>
    <font face="Arial">
     <br/>
    </font>
   </p>
   <hr align="left" color="#000000" size="1"/>
  </blockquote>
 </body>
</html>