<html>
 <body>
  <blockquote>
   <h1 style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     <span style="font-weight: 400">
      <font size="5">
       American Sign Language: "lame"
      </font>
     </span>
     <br/>
    </font>
   </h1>
   <p>
    <br/>
    Discussion:
   </p>
   <div>
    <p style="margin-top: 0; margin-bottom: 0">
     <span style="font-weight: 400">
      This sign shows the 
	movement of a lame person's legs.
      <br/>
     </span>
     <br/>
    </p>
    <hr align="left" color="#000000" size="1" width="50%"/>
    <p style="margin-top: 0; margin-bottom: 0">
     <span style="font-weight: 400">
     </span>
     <img border="0" height="300" src="/images/lame.h1.jpg" width="322"/>
     <img border="0" height="300" src="/images/lame.h2.jpg" width="322"/>
     <img border="0" height="300" src="/images/lame.h3.jpg" width="322"/>
    </p>
   </div>
   <hr align="left" color="#000000" size="1"/>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p>
    Notes:
    <br/>
    A colleague writes:
    <br/>
    Hi Bill,
    <br/>
    Re:  The sign you show for 'lame' in your Lifeprint Dictionary.
    <br/>
    That is a familiar sign, one I've used for years.
    <br/>
    My question is this:  If we are referring to a 'lame excuse' or want to say that 
someone gave a 'lame' speech, what sign would we use? Would we use the sign for 
'weak; feeble?'  Or not?
    <br/>
    Thank you.
    <br/>
    [Name on File]
    <br/>
    <br/>
    Dear [name]
    <br/>
    A couple of thoughts on this.
    <br/>
    First thought is that some people consider the use of the word "lame" should not 
be applied to contexts other than a person or animal that is actually "lame" in 
the physical sense.
    <br/>
    Such people are offended by and/or disapprove of the use of the word "lame" as a 
derogatory term.
    <br/>
    <br/>
    As far as ASL signs I suggest: LOUSY, BAD, NG-[no-good], STUPID, or DUMB.  
You might also use something like, "YOUR EXCUSE? I NOT ACCEPT!" or "YOUR EXCUSE? 
I NOT SATISFY."
    <br/>
    - Dr. Bill
    <br/>
   </p>
   <hr align="left" color="#000000" size="1"/>
   <hr align="left" color="#000000" size="1"/>
   <hr align="left" color="#000000" size="1"/>
   <hr color="#000000" size="1"/>
   <p>
   </p>
  </blockquote>
 </body>
</html>