<html>
 <body>
  <blockquote>
   <h1 style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     <font size="5">
      <span style="font-weight: 400">
       American Sign Language: 
		"later"
      </span>
     </font>
     <br/>
    </font>
   </h1>
   <p>
   </p>
   <hr align="left" color="#000000" size="1" width="50%"/>
   <span style="font-weight: 400">
    <p style="margin-top: 0; margin-bottom: 0">
     Note: There are a couple versions of 
"later." The one on the palm is sort of like showing a clock.
     <br/>
     The other 
sign for "later" does the sign "future" using an "L" handshape.
     <br/>
     <br/>
     LATER (version)
     <br/>
     <br/>
    </p>
    <p>
     Later dude:
    </p>
    <p>
     <img border="0" height="237" src="/images/future-later1.jpg" width="254"/>
     <img border="0" height="237" src="/images/future-later2.jpg" width="254"/>
     <img border="0" height="237" src="/images/future-later3.jpg" width="254"/>
    </p>
    <hr align="left" color="#000000" size="1"/>
    <p>
     LATER (version)
     <br/>
     The tip of the thumb is on the palm of the non-dominant hand.
    </p>
    <p>
     <br/>
     <iframe allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/X4003aEoiWo?rel=0" width="560">
     </iframe>
     <img border="0" height="300" src="/images/later-small.gif" width="245"/>
     <br/>
     <img border="0" height="236" src="/images/later-d1.jpg" width="257"/>
     <img border="0" height="236" src="/images/later-d2.jpg" width="257"/>
     <img border="0" height="236" src="/images/later-d3.jpg" width="257"/>
    </p>
    <hr align="left" color="#000000" size="1"/>
    <p style="margin-top: 0; margin-bottom: 0">
     Also see:
     <a href="/dictionary/late">
      LATE
     </a>
    </p>
   </span>
   <hr align="left" color="#000000" size="1"/>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1"/>
   <hr align="left" color="#000000" size="1"/>
   <hr color="#000000" size="1"/>
   <p>
   </p>
  </blockquote>
 </body>
</html>