<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1" width="50%"/>
   <span style="font-weight: 400">
    <font face="Arial">
     The sign "late" is generally done in one quick motion, but a double motion is 
also quite common.
     <br/>
     I use the single quick motion if I'm being matter of fact or accusatory.
     <hr align="left" color="#000000" size="1" width="50%"/>
     <p>
      LATE:
      <br/>
     </p>
     <p>
     </p>
     <p>
      <img border="0" height="240" src="/images/late-d1.jpg" width="268"/>
      <img border="0" height="240" src="/images/late-d3.jpg" width="268"/>
      <img border="0" height="240" src="/images/late-d5.jpg" width="268"/>
      <br/>
     </p>
     <hr color="#800080"/>
     <p>
      NOT-YET:
      <br/>
      This sign is similar to "LATE" except
"not-yet" uses a small negative headshake and covers the lower teeth
with the tongue.  Yes you have to use your tongue in this sign or you are
doing it wrong.  That is another reason why it is not possible to speak
and sign ASL at the same time.
      <br/>
      <img border="0" height="234" src="/images/notyet1.jpg" width="255"/>
      <img border="0" height="234" src="/images/notyet3.jpg" width="255"/>
      <img border="0" height="234" src="/images/notyet5.jpg" width="255"/>
      <img border="0" height="234" src="/images/notyet7.jpg" width="255"/>
      <img border="0" height="234" src="/images/notyet9.jpg" width="255"/>
      <img border="0" height="234" src="/images/notyet11.jpg" width="255"/>
      <img border="0" height="234" src="/images/notyet13.jpg" width="255"/>
      <img border="0" height="234" src="/images/notyet15.jpg" width="255"/>
      <br/>
     </p>
     <hr color="#800080"/>
     <p>
      LATER (version)
      <br/>
      There are a couple versions of "later." This one is sort of like a clock.  
The other one does the sign "future" using an "L" handshape.
      <br/>
      <img border="0" height="236" src="/images/later-d1.jpg" width="257"/>
      <img border="0" height="236" src="/images/later-d2.jpg" width="257"/>
      <img border="0" height="236" src="/images/later-d3.jpg" width="257"/>
     </p>
     <hr align="left" color="#000000" size="1" width="50%"/>
     <p style="margin-top: 0; margin-bottom: 0">
      <br/>
     </p>
    </font>
   </span>
   <font face="Arial">
   </font>
  </blockquote>
 </body>
</html>