<html>
 <body>
  <blockquote>
   <h1 style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     <span style="font-weight: 400">
      <font size="5">
       ASL: "laundry"
      </font>
     </span>
     <br/>
    </font>
   </h1>
   <p>
    <br/>
    LAUNDRY:
    <br/>
   </p>
   <p>
    Use "claw" hands. Twist them opposite directions twice as if 
			showing the agitating movement of a washing machine.
    <br/>
    <br/>
    <img border="0" height="300" src="/images/laundry-1s.jpg" width="300"/>
    <img border="0" height="300" src="/images/laundry-2s.jpg" width="300"/>
    <img border="0" height="300" src="/images/laundry-1s.jpg" width="300"/>
    <img border="0" height="300" src="/images/laundry-2s.jpg" width="300"/>
   </p>
   <p>
    <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/m8FIqLT7DcI" width="560">
    </iframe>
    <br/>
    <br/>
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1"/>
   <hr align="left" color="#000000" size="1"/>
   <hr align="left" color="#000000" size="1"/>
   <hr align="left" color="#000000" size="1"/>
   <hr color="#000000" size="1"/>
   <p>
   </p>
  </blockquote>
 </body>
</html>