<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   There are dozens of signs for the English concept of "layer."  
			The right sign for "layer" is going to depend on what you mean.
   <br/>
   <br/>
   If you mean "layer" as in a "level" you can use the "flat" sign.
   <br/>
   <br/>
   FLAT / level / floor / carpet / shelf:
   <br/>
   <img border="0" height="217" src="/images/floor.6.jpg" width="268"/>
   <img border="0" height="217" src="/images/floor.7.jpg" width="268"/>
   <img border="0" height="217" src="/images/floor.8.jpg" width="268"/>
   <br/>
   <font face="Arial">
    (Also see:
    <a href="/dictionary/floor">
     FLOOR
    </a>
    )
   </font>
   <font face="Arial">
    <p>
    </p>
    <hr align="left" color="#000000" size="1"/>
    <p>
    </p>
    <p>
     Suppose you want to say, "A layer of snow."
     <br/>
     What you would do is first show (one of the many versions of snow) 
			and then show the thickness of the snow layer.
     <br/>
     Below I'm showing snow coming down by fluttering my fingers as I 
			moved my hands downward. Then I slide a "C" hand along the top of my 
			non-dominant forearm to show a layer of snow about 4 inches (8 
			centimeters) thick.
     <br/>
    </p>
   </font>
   <p>
    LAYER-of-snow:
    <br/>
    <img border="0" height="320" src="/images/layer.1.jpg" width="370"/>
    <br/>
    <img border="0" height="320" src="/images/layer.2.jpg" width="370"/>
    <img border="0" height="320" src="/images/layer.3.jpg" width="370"/>
    <img border="0" height="320" src="/images/layer.4.jpg" width="370"/>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
    <hr align="left" color="#000000" size="1"/>
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>