<html>
 <body>
  <blockquote>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
    <p>
     To do the sign for "lazy" slap an "L" up against your upper left 
			chest area.
     <br/>
     <br/>
     LAZY:
    </p>
    <p>
     <img border="0" height="373" src="/images/lazy.h1.jpg" width="320"/>
     <br/>
     <br/>
     Note: Left-handed people do a mirror image.
    </p>
    <p>
     Note: Some people might use a double movement, but a single movement is fine.
     <br/>
    </p>
    <hr align="left" color="#000000" size="1" width="50%"/>
    <p>
    </p>
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>