<html>
 <body>
  <blockquote>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
    <p>
     The sign for "lecture" is the right sign to use if you 
			have to "give a talk" in your history class. This sign is used for 
			those times when you are giving a "formal address or presentation 
			before a group."
     <br/>
     <br/>
     LECTURE / GIVE A SPEECH / Give a talk:
     <br/>
     <img border="0" height="231" src="/images/lectur36.jpg" width="240"/>
     <img border="0" height="231" src="/images/lectur37.jpg" width="240"/>
     <img border="0" height="231" src="/images/lectur38.jpg" width="240"/>
     <img border="0" height="231" src="/images/lectur39.jpg" width="240"/>
     <br/>
    </p>
    <hr align="left" color="#000000" size="1" width="50%"/>
    <p>
    </p>
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>