<html>
 <body>
  <blockquote>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
    <p>
     <br/>
     LEG (version 1)
     <br/>
     Fingerspell:l L-E-G:
     <br/>
     <br/>
     <img alt="l.gif (199517 bytes)" border="2" height="100" src="/images/l_small.gif" width="100" xthumbnail-orig-image="../../fingerspelling/abc-gifs/l.gif"/>
     <img alt="e.gif (169026 bytes)" border="2" height="100" src="/images/e_small.gif" width="100" xthumbnail-orig-image="../../fingerspelling/abc-gifs/e.gif"/>
     <img alt="g.gif (156913 bytes)" border="2" height="100" src="/images/g_small.gif" width="100" xthumbnail-orig-image="../../fingerspelling/abc-gifs/g.gif"/>
    </p>
    <p>
    </p>
    <hr align="left" color="#000000" size="1"/>
    <p>
     <br/>
     LEG (version 2)
     <br/>
     Another way to indicate "leg" is to simply
     <b>
      point at your leg
     </b>
     or pat your leg. If you do the pat version, make sure you are not 
			misunderstood to be using a version of the sign for DOG.
     <br/>
    </p>
    <hr align="left" color="#000000" size="1"/>
    <p>
     <br/>
     LEG (version 3)
     <br/>
     Another way is to use flat hands ("B" hands) to show the leg.
     <br/>
    </p>
    <p>
     <img border="0" height="214" src="/images/leg1.jpg" width="254"/>
     <img border="0" height="214" src="/images/leg2.jpg" width="254"/>
    </p>
    <p>
    </p>
    <hr align="left" color="#000000" size="1"/>
    <p>
     <br/>
     Another way to refer to legs is to use what is known as a 
			"classifier V" handshape to show what the legs are doing.
     <br/>
     See: "
     <a href="/dictionary/clv">
      Classifier V
     </a>
     "
     <br/>
    </p>
    <p>
     Also see:
     <a href="/dictionary/body-parts">
      BODY-PARTS
     </a>
    </p>
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>