<html>
 <body>
  <blockquote style="PADDING-LEFT: 5px; MARGIN-LEFT: 5px; BORDER-LEFT: blue 2px solid">
   <font color="#000000" face="Arial" size="2" style="BACKGROUND-COLOR: transparent">
    <div>
     <blockquote class="gmail_quote" style="PADDING-LEFT: 1ex; MARGIN: 0pt 0pt 0pt 0.8ex; BORDER-LEFT: rgb(204,204,204) 1px solid">
      <div style="FONT-SIZE: 10pt; COLOR: rgb(0,0,0); FONT-FAMILY: Arial">
       <font color="#000000" face="Arial" size="2">
        <div>
         <div>
          In a message dated 5/23/2007 9:37:01 PM Pacific 
							Daylight Time, darkaurora2002@ writes:
         </div>
         <blockquote style="PADDING-LEFT: 5px; MARGIN-LEFT: 5px; BORDER-LEFT: blue 2px solid">
          <font color="#000000" face="Arial" size="2" style="BACKGROUND-COLOR: transparent">
           I'm sure you probably already know this but the 
							usual sign for "Lesbian" ("L" sign on the chin) is 
							considered offensive by some Deaf Lesbians because 
							it also means something sexual. A variation that a 
							few friends of mine showed me is to make an "L" on 
							the cheek. This variation is not very popular yet 
							but I was hoping maybe if you post it on your site, 
							people will start using it instead and the old sign 
							will become a thing of the past like the offensive 
							signs for Chinese and Japanese.
           <br/>
          </font>
         </blockquote>
        </div>
        <div>
         <font color="#000000" face="Arial" size="2" style="background-color: transparent">
          <span class="gmail_quote">
           On 5/24/07, BillVicars wrote:
          </span>
          <blockquote class="gmail_quote" style="PADDING-LEFT: 1ex; MARGIN: 0pt 0pt 0pt 0.8ex; BORDER-LEFT: rgb(204,204,204) 1px solid">
           <div style="FONT-SIZE: 10pt; COLOR: rgb(0,0,0); FONT-FAMILY: Arial">
            <font color="#000000" face="Arial" size="2">
             <div>
              <div>
               Hi Robert,
               <br/>
               Send me a pic of it so I can post the 
										exact version.
              </div>
              <div>
               --Bill
               <div>
                <p>
                 In a message dated 5/25/2007 2:40:06 P.M. Pacific Daylight Time, 
											darkaurora2002@  writes:
                </p>
               </div>
               <blockquote style="PADDING-LEFT: 5px; MARGIN-LEFT: 5px; BORDER-LEFT: blue 2px solid">
                <font color="#000000" face="Arial" size="2" style="BACKGROUND-COLOR: transparent">
                 Here you go. :)
                 <br/>
                 <br/>
                 <img border="0" height="120" src="/images/lesbian.jpg" width="160"/>
                </font>
               </blockquote>
               <p>
               </p>
              </div>
             </div>
            </font>
           </div>
          </blockquote>
         </font>
        </div>
       </font>
      </div>
     </blockquote>
    </div>
   </font>
  </blockquote>
 </body>
</html>