<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   <p>
    LESSON:
   </p>
   <p>
    <img border="0" height="219" src="/images/lesson37.jpg" width="195"/>
    <img border="0" height="219" src="/images/lesson38.jpg" width="195"/>
    <img border="0" height="219" src="/images/lesson39.jpg" width="195"/>
    <img border="0" height="219" src="/images/lesson40.jpg" width="195"/>
    <br/>
   </p>
   <hr color="#000000" size="1"/>
   <br/>
   Animation: LESSON
   <br/>
   <img border="0" height="219" src="/images/lesson.gif" width="195"/>
   <font face="Arial">
    <img border="0" height="75" src="/images/lessonsideview.gif" width="98"/>
    (side 
			view)
    <br/>
   </font>
   <hr color="#000000" size="1"/>
   <p style="margin-top: 0; margin-bottom: 0">
    Notes:
    <br/>
    <br/>
    The "LESSON" sign can be used 
  to mean "COURSE."  Some people initialize it with a "C" handshape on the 
	dominant hand when using it to mean "course." Or you could just sign 
	"class."
    <br/>
   </p>
   <hr color="#000000" size="1"/>
   <p style="margin-top: 0; margin-bottom: 0">
    Also see:
    <a href="/dictionary/class">
     CLASS
    </a>
    <br/>
    Also see:
    <a href="/dictionary/plan">
     PLAN
    </a>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>