<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   <p>
    LIBRARY:
    <br/>
    <br/>
    Circle an "L" in the air.  The circle moves clockwise from
    <i>
     your
    </i>
    perspective and counter clockwise from the other person's 
  perspective.
    <br/>
   </p>
   <p>
    <img border="0" height="235" src="/images/library_arrow.jpg" width="246"/>
   </p>
   <p>
    <img border="0" height="235" src="/images/library1.jpg" width="246"/>
    <img border="0" height="235" src="/images/library2.jpg" width="246"/>
    <img border="0" height="235" src="/images/library3.jpg" width="246"/>
    <img border="0" height="235" src="/images/library4.jpg" width="246"/>
    <img border="0" height="235" src="/images/library5.jpg" width="246"/>
    <img border="0" height="235" src="/images/library6.jpg" width="246"/>
    <img border="0" height="235" src="/images/library7.jpg" width="246"/>
    <img border="0" height="235" src="/images/library8.jpg" width="246"/>
    <img border="0" height="235" src="/images/library9.jpg" width="246"/>
   </p>
   <p>
    <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/CSaOomMxWl4?rel=0" width="560">
    </iframe>
   </p>
   <p>
    <font face="Arial" size="2">
     <img border="0" src="/images/library.gif" style="max-width: 100%; height: auto" width="480"/>
    </font>
   </p>
   <hr align="left" color="#000000" size="1"/>
   LIBRARIAN:
   <br/>
   <p>
    <img border="0" height="235" src="/images/library_arrow.jpg" width="246"/>
    <img border="0" height="237" src="/images/waitress4.jpg" width="213"/>
    <img border="0" height="237" src="/images/waitress5.jpg" width="213"/>
   </p>
   <p>
    <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/uFj6HjUlTXQ?rel=0" width="560">
    </iframe>
   </p>
   <p>
    <font face="Arial" size="2">
     <img border="0" src="/images/librarian.gif" style="max-width: 100%; height: auto" width="480"/>
    </font>
   </p>
   <p>
    On one of her answers for the Unit 3 video, a student typed:
    <br/>
    <br/>
    "246. your family any library and agent"
    <br/>
    <br/>
    She missed the gist of this sentence.
    <br/>
    <br/>
    A proper interpretation of the video would be:
    <br/>
    "Is anyone in your family a librarian?"
    <br/>
    <br/>
    The
    <i>
     study sheet
    </i>
    indicated:
    <br/>
    "YOUR FAMILY ANY LIBRARY+AGENT?"
    <br/>
    <br/>
    The signed concept of LIBRARY plus the concept of AGENT combine to mean 
  "librarian."
    <br/>
    <br/>
    It is as if the student was translating from the study sheet rather than from 
  the video which is why she might have interpreted the plus sign "+" as meaning 
  "and." The plus sign is included simply to indicate that two signed concepts 
  are joined.
    <br/>
    <br/>
    The sign "AND" was not signed on the video and is not part of that sentence.
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <br/>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>