<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   The sign for limousine is done by signing "
   <a href="/dictionary/car">
    CAR
   </a>
   " 
			(to establish what is being discussed) and then doing the sign for 
			"long-CAR" while using a slightly intense facial expression.
   <br/>
   <br/>
   CAR:
   <br/>
   <img border="0" height="320" src="/images/car-81.jpg" width="310"/>
   <img border="0" height="320" src="/images/car-82.jpg" width="310"/>
   <br/>
   Note that I'm establishing context by establishing "CAR" as my topic 
			by using raised eyebrows.
   <font face="Arial">
    <hr align="left" color="#000000" size="1" width="200"/>
   </font>
   <p>
    <br/>
    After it is clear that you are talking about a "car," (either from 
			context or having used the CAR sign) hold both
    <i>
     slightly
    </i>
    flattened "C" hands in front of you, a bit off to 
			your dominant side, at about shoulder height and pull your dominant 
			hand back toward your shoulder and your non-dominant hand forward using a relatively quick, firm 
			stretch movement ending with solid hold. Often you will see quite a 
			bit of facial intensity as a way of emphasizing that it is a
    <i>
     big 
			fancy
    </i>
    car.
    <br/>
    <br/>
    <font face="Arial">
     long-CAR:
    </font>
    <br/>
    <img border="0" height="320" src="/images/limo-83.jpg" width="330"/>
    <img border="0" height="320" src="/images/limo-84.jpg" width="330"/>
    <img border="0" height="320" src="/images/limo-85.jpg" width="330"/>
    <br/>
    <br/>
    Usage notes: The other day I watched a fellow tell a story about a 
			limo traveling up a long winding road to get to a ski resort.  
			The signer used slightly flattened "C" handshapes held about 8 
			inches apart and moved them in unison forward and side to side 
			pointed slightly
    <font face="Arial">
     upward
    </font>
    to depict the limo moving along a mountain road. To get the hand 
			position right, imagine holding a 2 x 4 piece of lumber on your shoulder.
    <br/>
    <font face="Arial">
    </font>
   </p>
   <hr align="left" color="#000000" size="1"/>
  </blockquote>
 </body>
</html>