<html>
 <body>
  <blockquote>
   <h1 style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     <font size="5">
      <span style="font-weight: 400">
       American Sign Language: 
		 "link" = CONNECT
      </span>
     </font>
     <br/>
    </font>
   </h1>
   <blockquote>
    <hr align="left" color="#000000" size="1" width="50%"/>
    <p style="margin-top: 0; margin-bottom: 0">
     The sign for "link" is done by signing "CONNECT." The "CONNECT" sign can be used to refer to many different types of "hook 
	up" concepts including "of." Note: the signs
     <a href="/dictionary/member">
      MEMBER
     </a>
     ,
     <a href="/dictionary/join">
      JOIN
     </a>
     , and
     <a href="/dictionary/own">
      OWN
     </a>
     also have 
	other variations that might be more appropriate depending on the context. 
	But, for example, if you mean "join" as in "connect two things together" 
	then you should use the "CONNECT" sign.
     <br/>
     <br/>
     The sign for "link' or "connect" is done by starting with your hands in "open-F" handshapes and then bringing the hands together into interlocking "F" 
	handshapes.
    </p>
    <p align="left">
     link =



    CONNECT:
    </p>
    <p align="left">
     <iframe allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/wEYVc7Z5kQA?rel=0" width="560">
     </iframe>
    </p>
    <p align="left">
     <br/>
     <img border="0" height="206" src="/images/connec12.jpg" width="272"/>
    </p>
    <p align="left">
     <img border="0" height="206" src="/images/connec13.jpg" width="272"/>
     <img border="0" height="206" src="/images/connec14.jpg" width="272"/>
     <img border="0" height="206" src="/images/connect.gif" width="272"/>
    </p>
    <hr align="left" color="#000000" size="1"/>
    <p>
     CONNECT-to / attach / LINK-to
    </p>
    <p>
     <img border="0" height="218" src="/images/connectto.gif" width="221"/>
    </p>
    <hr align="left" color="#000000" size="1" width="50%"/>
    <p style="margin-top: 0; margin-bottom: 0">
     <img border="0" height="218" src="/images/connectto1.jpg" width="221"/>
     <img border="0" height="218" src="/images/connectto2.jpg" width="221"/>
     <br/>
     <img border="0" height="218" src="/images/connectto3.jpg" width="221"/>
     <img border="0" height="218" src="/images/connectto4.jpg" width="221"/>
    </p>
   </blockquote>
   <hr align="left" color="#000000" size="1"/>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p style="margin-top: 0; margin-bottom: 0">
    Also see:
    <a href="/dictionary/join">
     JOIN
    </a>
   </p>
   <hr align="left" color="#000000" size="1" width="50%"/>
   <p style="margin-top: 0; margin-bottom: 0">
    Also see: "
    <a href="/dictionary/relation">
     RELATIONSHIP
    </a>
    "
   </p>
   <hr align="left" color="#000000" size="1" width="50%"/>
   <p style="margin-top: 0; margin-bottom: 0">
    Also see: "
    <a href="/dictionary/of">
     OF
    </a>
    "
   </p>
   <hr align="left" color="#000000" size="1"/>
   <hr align="left" color="#000000" size="1"/>
   <hr color="#000000" size="1"/>
   <p>
   </p>
  </blockquote>
 </body>
</html>