<html>
 <body>
  <blockquote>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
    <p>
     The sign for "lion" uses a slightly-curved-5-hand to 
			show the "mane" of a lion.
     <br/>
    </p>
    <p>
     Start at your forehead and pull the hand backward over your head.
     <br/>
     <br/>
     LION:
    </p>
    <p>
     <img border="0" height="238" src="/images/lion.h5.jpg" width="248"/>
     <img border="0" height="238" src="/images/lion.h6.jpg" width="248"/>
     <img border="0" height="238" src="/images/lion.h7.jpg" width="248"/>
     <img border="0" height="238" src="/images/lion.h8.jpg" width="248"/>
    </p>
    <p>
    </p>
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>