<html>
 <body>
  <blockquote>
   <h1 style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     <span style="font-weight: 400">
      <font size="5">
       American Sign Language: "list"
      </font>
     </span>
     <br/>
    </font>
   </h1>
   <blockquote>
    <hr align="left" color="#000000" size="1"/>
    <p style="margin-top: 0; margin-bottom: 0">
     The sign for "list" uses a "bent hand" that looks like this:
     <br/>
     <img border="0" height="90" src="/images/list-handshape1.jpg" width="75"/>
     Side view =
     <img border="0" height="82" src="/images/list-handshapesideview1.jpg" width="80"/>
     <br/>
    </p>
    <hr align="left" color="#000000" size="1"/>
    <p>
     Your base hand functions as a piece of paper and your dominant hand shows a 
	list of things on that paper.
    </p>
    <p>
     <iframe allowfullscreen="" frameborder="0" height="315" name="I1" src="https://www.youtube.com/embed/LFubvvh2-sE?rel=0" width="560">
     </iframe>
    </p>
    <p>
     <img border="0" height="230" src="/images/list1.jpg" width="205"/>
     <img border="0" height="230" src="/images/list2.jpg" width="205"/>
     <img border="0" height="230" src="/images/list3.jpg" width="205"/>
     <img border="0" height="230" src="/images/list4.jpg" width="205"/>
     <img border="0" height="230" src="/images/list5.jpg" width="205"/>
     <img border="0" height="230" src="/images/list6.jpg" width="205"/>
    </p>
    <p>
    </p>
    <p>
     LIST (side view):
    </p>
    <p>
     <iframe allowfullscreen="" frameborder="0" height="315" name="I2" src="https://www.youtube.com/embed/hrrAOqfqe7k?rel=0" width="560">
     </iframe>
    </p>
    <hr align="left" color="#000000" size="1"/>
    <p>
     Sample sentence: Do you have a list of interpreters?
     <br/>
     <br/>
     <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/DQ6CWACYK50?rel=0" width="560">
     </iframe>
    </p>
    <hr align="left" color="#000000" size="1"/>
    <p>
     "TO-LIST" (use this as a verb, for example: "Make a
  list.")
    </p>
    <p>
     <iframe allowfullscreen="" frameborder="0" height="315" name="I3" src="https://www.youtube.com/embed/0TX7x3evHVw?rel=0" width="560">
     </iframe>
    </p>
    <p>
     <img border="0" height="235" src="/images/list-tolist1.jpg" width="208"/>
     <img border="0" height="235" src="/images/list-tolist2.jpg" width="208"/>
     <img border="0" height="235" src="/images/list-tolist3.jpg" width="208"/>
     <img border="0" height="235" src="/images/list-tolist4.jpg" width="208"/>
     <img border="0" height="235" src="/images/list-tolist5.jpg" width="208"/>
     <img border="0" height="235" src="/images/list-tolist6.jpg" width="208"/>
    </p>
   </blockquote>
   <hr align="left" color="#000000" size="1"/>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1"/>
   <hr align="left" color="#000000" size="1"/>
   <hr color="#000000" size="1"/>
   <p>
   </p>
  </blockquote>
 </body>
</html>