<html>
 <body>
  <blockquote>
   <h1 style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     <span style="font-weight: 400">
      <font size="5">
       ASL: "locked"
      </font>
     </span>
     <br/>
    </font>
   </h1>
   <p>
    <br/>
    <br/>
    LOCKED / the lock / it is locked up:
   </p>
   <p>
    <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" height="360" name="I1" src="https://www.youtube.com/embed/Y7hBW0n1uPg?rel=0" width="640">
    </iframe>
    <br/>
   </p>
   <hr color="#000000" size="1"/>
   <p>
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p>
    Notes:
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    Also see:
    <a href="/dictionary/lock">
     LOCK
    </a>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    Also see:
    <a href="/dictionary/key">
     KEY
    </a>
    <br/>
   </p>
   <hr align="left" color="#000000" size="1"/>
   <hr align="left" color="#000000" size="1"/>
   <hr align="left" color="#000000" size="1"/>
   <hr color="#000000" size="1"/>
   <p>
   </p>
  </blockquote>
 </body>
</html>