<html>
 <body>
  <blockquote>
   <h1 style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     <span style="font-weight: 400">
      <font size="5">
       ASL: "lock"
      </font>
     </span>
     <br/>
    </font>
   </h1>
   <p>
    <br/>
    Discussion:  The concept of "lock" can be signed various ways in ASL 
depending on your meaning.
    <br/>
    <br/>
    A common way to sign "lock" as in "to lock" or "I locked the door" is to use a 
single movement version of the sign KEY.  The sign looks like you are 
turning a key in a lock.
    <br/>
    <br/>
    LOCK / to lock / locked it:
    <br/>
    <span style="font-weight: 400">
     <img border="0" height="409" src="/images/lock-verb-form-of-key-small.jpg" width="518"/>
    </span>
   </p>
   <p>
   </p>
   <hr color="#000000" size="1"/>
   <p>
    <br/>
    LOCKED / the lock / it is locked up:
   </p>
   <p>
    <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" height="360" src="https://www.youtube.com/embed/Y7hBW0n1uPg?rel=0" width="640">
    </iframe>
    <br/>
   </p>
   <hr color="#000000" size="1"/>
   <p>
    <br/>
    If you mean "lock" as in "the lock" (rather than the state of "being locked") 
you can use the "LOCKED" sign (the one that uses two "fists")
    <b>
     if you have 
enough context
    </b>
    .  However if it is not "very obvious" from the rest of 
your sentence or the situation in which you  are signing that you are 
referring to "a" lock rather than "to" lock (the verb form) you should just 
fingerspell "L-O-C-K."   For example you might sign:  "IX-(point 
at the lock) fs-LOCK BROKE" to mean "the lock is broken."
    <br/>
    <br/>
    <img height="100" src="/images/l_small.gif" width="100"/>
    <img height="100" src="/images/o_small.gif" width="100"/>
    <img height="100" src="/images/c_small.gif" width="100"/>
    <img height="100" src="/images/k_small.gif" width="100"/>
    <br/>
    <br/>
   </p>
   <hr color="#000000" size="1"/>
   <p>
    <br/>
    The "key turn in a lock" sign can be used to create an idiom that means "stop 
talking" (and start using your hands to sign).
    <br/>
    <br/>
    LOCK-your-vocal-cords / turn your voice off / stop speaking and instead use your 
hands to communicate / Voices off / immersion
   </p>
   <p>
    <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" height="360" src="https://www.youtube.com/embed/lFSWuq0YurM?rel=0" width="640">
    </iframe>
   </p>
   <p>
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p>
    Notes:
    <br/>
    Also see:
    <a href="/dictionary/locked">
     LOCKED
    </a>
    <br/>
    Also see:
    <a href="/dictionary/key">
     KEY
    </a>
   </p>
   <p>
    Compare with:
    <a href="/dictionary/start">
     START
    </a>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1"/>
   <hr align="left" color="#000000" size="1"/>
   <hr align="left" color="#000000" size="1"/>
   <hr color="#000000" size="1"/>
   <p>
   </p>
  </blockquote>
 </body>
</html>