<html>
 <body>
  <blockquote>
   <span style="font-weight: 400">
    <font face="Arial">
     <hr align="left" color="#000000" size="1" width="50%"/>
     <p style="margin-top: 0; margin-bottom: 0">
      <br/>
      LOOK-AT-THAT:
      <br/>
      "Look at that" is another way to sign "look."  It is a good version to use if you are 
actively trying to tell someone to
      <span style="background-color: #FFFF00">
       look at something 
specific
      </span>
      .
      <br/>
      <img border="0" height="300" src="/images/look-small.gif" width="348"/>
     </p>
     <hr align="left" color="#000000" size="1"/>
     <p style="margin-top: 0; margin-bottom: 0">
      Note: For the concept of "looks" as 
in a person's face, see the "
      <a href="/dictionary/face">
       FACE
      </a>
      " sign.
     </p>
    </font>
   </span>
   <font face="Arial">
    <br/>
   </font>
   <span style="font-weight: 400">
    Also see:
    <a href="/dictionary/looklike">
     LOOK-LIKE
    </a>
    <br/>
    Also see:
    <a href="/dictionary/look-up">
     LOOK-up
    </a>
   </span>
   <br/>
   <span style="font-weight: 400">
    Also see:
    <a href="/dictionary/look-around">
     LOOK-AROUND
    </a>
   </span>
   <span style="font-weight: 400">
    <font face="Arial">
     <hr align="left" color="#000000" size="1"/>
    </font>
   </span>
  </blockquote>
 </body>
</html>