<html>
 <body>
  <blockquote>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
    <p>
     <br/>
     Version 1:
     <br/>
     Spell the letters "L" and "A."  Either in the same location, or 
			move the "A" to the right slightly.
     <br/>
     <br/>
     Los Angeles:
     <br/>
     <img border="0" height="296" src="/images/los-angeles-58.jpg" width="296"/>
     <img border="0" height="296" src="/images/los-angeles-59.jpg" width="296"/>
     <br/>
     <font face="Arial" size="1">
      (Model: Byron Cantrell)
     </font>
     <br/>
    </p>
    <hr align="left" color="#000000" size="1" width="50%"/>
    <p>
     <br/>
     Version 2:
     <br/>
     You might also see "Los Angeles" done by spelling
     <span style="font-weight: 400">
      "LA" twice.
      <br/>
      <br/>
      Los Angeles:
      <br/>
      <br/>
     </span>
    </p>
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>