<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   <p>
    <br/>
    LOUSY:  Form a 3 handshape and touch the thumb-tip to your nose.  
Then very quickly move the hand forward and downward. Use a "lousy" facial 
expression.
   </p>
   <p>
    <img border="0" height="234" src="/images/lousy-small.gif" width="300"/>
   </p>
   <hr color="#000000" size="1"/>
   <p>
    <br/>
    LOUSY:
   </p>
   <p>
    <img border="0" height="219" src="/images/lousy.32.jpg" width="196"/>
    <img border="0" height="219" src="/images/lousy.33.jpg" width="196"/>
   </p>
   <p>
   </p>
   <hr color="#000000" size="1"/>
   <p>
    <br/>
    LOUSY:  Side view:
    <br/>
    <img border="0" height="211" src="/images/lousy.34.jpg" width="282"/>
    <img border="0" height="211" src="/images/lousy.35.jpg" width="282"/>
    <img border="0" height="211" src="/images/lousy.36.jpg" width="282"/>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <br/>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>