<html>
 <body>
  <blockquote>
   <h1 style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     <span style="font-weight: 400">
      <font size="5">
       American Sign Language: "lucky" 
		/ "luck"
      </font>
     </span>
     <br/>
    </font>
   </h1>
   <p>
   </p>
   <hr align="left" color="#000000" size="1" width="50%"/>
   The sign for lucky touches the tip of your middle finger (bent 
			forward at the large knuckle) to your chin and then twists the hand 
			towards the front. (Don't try to twist it all the way toward the 
			front -- just to a comfortable angle then stop otherwise you'll be 
			unlucky and have joint problems.)
   <br/>
   <br/>
   LUCKY
   <p>
    <img border="0" height="212" src="/images/luck.h7.jpg" width="220"/>
    <img border="0" height="212" src="/images/luck.h8.jpg" width="220"/>
    <img border="0" height="212" src="/images/luck.h9.jpg" width="220"/>
   </p>
   <p>
   </p>
   <p>
    LUCKY (animation)
    <br/>
    <iframe allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/xxKnfrh-tdE?rel=0" width="560">
    </iframe>
    <img border="0" height="212" src="/images/luck.gif" width="220"/>
   </p>
   <hr align="left" color="#000000" size="1"/>
   <br/>
   If you want to say "good luck" to someone, sign "good" and then spell luck. 
  Notice how the fingerspelling of luck is very quick and uses abbreviated 
  handshapes:
   <br/>
   <br/>
   GOOD-LUCK:
   <br/>
   <img border="0" height="210" src="/images/luck.h1.jpg" width="185"/>
   <img border="0" height="210" src="/images/luck.h2.jpg" width="185"/>
   <img border="0" height="210" src="/images/luck.h3.jpg" width="185"/>
   <img border="0" height="210" src="/images/luck.h4.jpg" width="185"/>
   <img border="0" height="210" src="/images/luck.h5.jpg" width="185"/>
   <img border="0" height="210" src="/images/luck.h6.jpg" width="185"/>
   <p>
    <br/>
    Good luck (animation)
    <br/>
    <iframe allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/i_Hkr9vkkz0?rel=0" width="560">
    </iframe>
    <img border="0" height="210" src="/images/luckgoodluck.gif" width="185"/>
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p>
   </p>
   <p>
    Notes:
    <br/>
    A student asks:  Is the difference between "delicious" and "lucky" the starting position of 
	the "8" finger?
    <br/>
    <br/>
    Response:
    <br/>
    Yes, one of the The differences between lucky and delicious 
	is the starting position.
	LUCKY starts on the chin.
	DELICIOUS (at least one of the
    <b>
     variations
    </b>
    of the sign "delicious") starts on 
	the lips.  DELICIOUS has other variations though -- including a version 
			that snaps the middle finger off of the thumb as you move the hand 
			from the mouth up into the air.
    <br/>
    <br/>
    See:
    <a href="/dictionary/delicious">
     DELICIOUS
    </a>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1" width="50%"/>
   <hr align="left" color="#000000" size="1"/>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1"/>
   <hr align="left" color="#000000" size="1"/>
   <hr color="#000000" size="1"/>
   <p>
   </p>
  </blockquote>
 </body>
</html>