<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1" width="50%"/>
   <span style="font-weight: 400">
    <font face="Arial">
     <p style="margin-top: 0; margin-bottom: 0">
      LUNCH:
      <br/>
     </p>
     There are a few versions of this sign.  Two of the most popular are:
     <br/>
     1.  A compound version (EAT + NOON)
     <br/>
     2.  An
initialized version, ("L" handshape using the movement and position
of "EAT.")
     <br/>
     <hr align="left" color="#000000" size="1"/>
     <p>
      LUNCH (compound version)
      <br/>
      <br/>
      <br/>
      As with most compounds, the sign "noon" in the video has been modified a 
bit.
      <br/>
      Below I'll show you the "full" version, but honestly, lifting the elbow all 
the way up there is a lot of extra work just for lunch.
     </p>
     <p>
      <img border="0" height="228" src="/images/lunch-compound1.jpg" width="259"/>
      <img border="0" height="228" src="/images/lunch-compound2.jpg" width="259"/>
      <img border="0" height="228" src="/images/lunch-compound3.jpg" width="259"/>
      <img border="0" height="228" src="/images/lunch-compound4.jpg" width="259"/>
     </p>
     <p>
      <br/>
      Sample sentence:
      <br/>
      TOMORROW EAT NOON, YOU WANT SOUP AND SALAD? (Would you like soup and salad for 
lunch tomorrow?)
      <br/>
     </p>
     <hr align="left" color="#000000" size="1"/>
     <p>
      LUNCH  (initialized version)
      <br/>
      There are two versions of the initialized version.  You can either use a
slight rotational movement, like slurping soup from a bowl held near your
mouth. Or you can use forward and back motion, (like putting food in your
mouth).  In the "forward and back version" the thumb can touch
the lips, (but it doesn't have to).
      <br/>
      <br/>
      <img border="0" height="228" src="/images/lunch-initialized1.jpg" width="259"/>
      <img border="0" height="228" src="/images/lunch-initialized2.jpg" width="259"/>
      <img border="0" height="228" src="/images/lunch-initialized3.jpg" width="259"/>
      <img border="0" height="228" src="/images/lunch-initialized4.jpg" width="259"/>
      <img border="0" height="228" src="/images/lunch-initialized5.jpg" width="259"/>
      <img border="0" height="228" src="/images/lunch-initialized6.jpg" width="259"/>
      <img border="0" height="228" src="/images/lunch-initialized7.jpg" width="259"/>
      <img border="0" height="228" src="/images/lunch-initialized8.jpg" width="259"/>
      <img border="0" height="228" src="/images/lunch-initialized9.jpg" width="259"/>
     </p>
     <hr align="left" color="#000000" size="1" width="50%"/>
     <p style="margin-top: 0; margin-bottom: 0">
      <br/>
     </p>
    </font>
   </span>
  </blockquote>
 </body>
</html>