<html>
 <body>
  <blockquote>
   <h1 style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     <font size="5">
      <span style="font-weight: 400">
       American Sign Language: 
		"ma'am and sir"
      </span>
     </font>
    </font>
   </h1>
   <p style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
    </font>
   </p>
   <hr align="left" color="#000000" size="1" width="50%"/>
   <span style="font-weight: 400">
    <p style="margin-top: 0; margin-bottom: 0">
     <br/>
     In a message magrathkc@ writes:
     <br/>
     <br/>
     Hello. We are learning ASL and want to teach our young children to sign “Ma’am” 
and “Sir”. I’ve not seen a sign for these, so we taught the signs for “mom 
fine/lady” and “dad fine/gentleman”. Are there better signs to use? ... We 
adopted our fourth child three years ago. She is HOH, and we’ve been using sign 
language with her the whole time (she is now six). We are mostly self-taught, 
using books and Signing Time videos and whatnot, but primarily end up with a 
bunch of vocabulary and no real instruction for putting it all together. 
Consequently, we are using signs in more of an SEE capacity (which certainly has 
its place for teaching reading, writing, and grammar in English). We want, 
however, to become fluent in ASL, but it’s discouraging how few resources there 
are available in our area (for entire families to learn... not just for adults, 
towards which community colleges and late evening rec center classes are geared; 
and not just for the HOH students... but for siblings, cousins, and other family 
members, too).
     <br/>
     No one said it would be easy... and esp. for “this old dog”, learning new tricks 
[shaking head] it’s slow-going, at best, but I see that I have to be the one to 
learn it and teach it to my family, otherwise the communication gap between my 
daughter (HOH) and the rest of us will only grow.
     <br/>
     <br/>
     Kindest regards,
     <br/>
     - Karen
     <br/>
    </p>
    <p style="margin-top: 0; margin-bottom: 0">
    </p>
    <p style="margin-top: 0; margin-bottom: 0">
     Karen,
     <br/>
     Hello :)
     <br/>
     Back when my wife and I moved to Texas (while I was attending the doctoral 
program at Lamar University) we soon found out that the larger Hearing 
culture basically "required" our Hearing kids use the words "ma'am" and "sir" to 
fit in. The teachers and other adults at school required our kids to "show 
respect" by saying  "ma'am" and "sir" and so Belinda and I started asking 
around the local Deaf to see what was used.  But the basic truth is,
     <span style="background-color: #FFFF00">
      those 
concepts (ma'am and sir) fit the Hearing world, not the Deaf
     </span>
     . Thus there were 
and to my knowledge still are no widely established signs for ma'am and sir. If 
you feel you "must" have a sign for your children to use, the closest you are 
likely to come will be the signs "woman (girl-fine)" and "man (boy-fine)."
     <br/>
     Cordially,
     <br/>
     -- Dr. Bill
     <br/>
    </p>
   </span>
   <hr align="left" color="#000000" size="1"/>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1"/>
   <hr align="left" color="#000000" size="1"/>
   <hr color="#000000" size="1"/>
   <p>
   </p>
  </blockquote>
 </body>
</html>