<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   <font face="Arial">
    <p>
     This sign can be used to mean machine or engine.
    </p>
    <hr color="#800080"/>
    <p>
     MACHINE / ENGINE
     <br/>
     Bend your fingers at the second and third knuckles.  Interlock your hands 
as if they were two gears meshing together. Then raise the hands up and down 
twice to show how interlocked gears would move.
    </p>
    <p>
     <img border="0" height="213" src="/images/machine.gif" width="300"/>
     <img border="0" height="205" src="/images/machine.gif" width="228"/>
    </p>
    <hr color="#800080"/>
    <p>
     <img border="0" height="205" src="/images/machin17.jpg" width="228"/>
     <img border="0" height="205" src="/images/machin18.jpg" width="228"/>
     <img border="0" height="205" src="/images/machin19.jpg" width="228"/>
     <img border="0" height="205" src="/images/machin20.jpg" width="228"/>
    </p>
    <p>
    </p>
    <p>
     <br/>
    </p>
    <hr align="left" color="#000000" size="1"/>
    <p>
     The sign for machine also means "
     <a href="/dictionary/factory">
      factory
     </a>
     " or 
engine.
    </p>
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>