<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   <p style="margin-top: 0; margin-bottom: 0">
    The sign for "mad"
    <font face="Arial">
     (as in the opposite of 
	happy) uses a single motion. If you use a double motion and a slightly less 
	intense face it can mean, "grouchy" or "grumpy."
    </font>
    Don't
    <font face="Arial">
     actually touch your face while doing this sign.  (That might be painful, and 
	then you'd be
     <i>
      really
     </i>
     "mad" at me.)
     <br/>
    </font>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    MAD:
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <img border="0" height="237" src="/images/madc1.jpg" width="227"/>
    <img border="0" height="237" src="/images/madc2.jpg" width="227"/>
    <img border="0" height="237" src="/images/madc3.jpg" width="227"/>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/-Yqw89wx7TE?rel=0" width="560">
    </iframe>
    <br/>
    <br/>
    Memory aid:
    <font face="Arial">
     Think of the way a person's face gets all scrunched up when he or she is
  mad.
    </font>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
   <p style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     <br/>
     Sample sentence:  "Why are you mad?" =  "YOU MAD what-FOR?"
     <br/>
     <br/>
     <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/FTWuUv7R28s?rel=0" width="560">
     </iframe>
    </font>
    <br/>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
   <p style="margin-top: 0; margin-bottom: 0">
    <b>
     STUDENT
    </b>
    :  Is the sign 
	"MAD" considered to be 
  generally less intense than the sign for "Angry"?
    <br/>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <b>
     Dr. Bill
    </b>
    :  I think of mad as being less intense than 
	"angry," yes.  
  But, I it depends on the usage (body language and facial expression).  A person can sign the word "MAD" 
  with very strong facial expression and it can actually be
    <i>
     more intense
    </i>
    than a 
  typical version of ANGRY.  But I think if you were to work at it, 
  ANGRY could adopt a more intense facial expression and body posture 
  than "MAD."
    <br/>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
    <p style="margin-top: 0; margin-bottom: 0">
     Also see:
     <a href="/dictionary/angry">
      ANGRY
     </a>
    </p>
    <hr align="left" color="#000000" size="1"/>
    <p style="margin-top: 0; margin-bottom: 0">
     Also see: "
     <a href="/dictionary/angry_discussion">
      Angry/Mad advanced 
	discussion.
     </a>
     "
     <br/>
    </p>
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>