<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   There are several versions of this sign.
   <br/>
   <br/>
   They are all out there being used by various people.
   <br/>
   I use the 
  first one because it is more popular where I live, but I think the second version 
	makes more "sense."
   <p>
   </p>
   <p>
    MAN:  (Version A)
    <br/>
    The first part of this sign is similar to the sign "father" and then moves 
	down to touch the chest.
    <br/>
    <font face="Arial">
     <span style="font-weight: 400">
      <img border="0" src="/images/man.gif" style="max-width: 100%; height: auto" width="480"/>
     </span>
    </font>
   </p>
   <p>
    <img border="0" height="237" src="/images/manversionb1.jpg" width="264"/>
    <img border="0" height="237" src="/images/manversionb2.jpg" width="264"/>
    <img border="0" height="237" src="/images/manversionb3.jpg" width="264"/>
   </p>
   <p>
    <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/GuKyNOwYmXE?rel=0" width="560">
    </iframe>
    <br/>
    <br/>
    <font face="Arial">
     (p.s. If you start this sign at the chin and move it down to the chest 
	it means "woman.")
    </font>
    <br/>
    (p.p.s. No, I don't know where you can buy a
    <i>
     <b>
      cool
     </b>
    </i>
    sweater like the one 
	I'm wearing here.)
    <br/>
    (p.p.p.s. No, it doesn't matter how much you offer me, I won't sell you mine. 
	It was a gift.)
    <br/>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
    <p>
     <br/>
    </p>
   </font>
   MAN:  (Version B)
   <br/>
   <img border="0" height="216" src="/images/manversiona1.jpg" width="285"/>
   <img border="0" height="216" src="/images/manversiona2.jpg" width="285"/>
   <img border="0" height="216" src="/images/manversiona3.jpg" width="285"/>
   <p>
    <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/uJ7_4nc3BZk?rel=0" width="560">
    </iframe>
    <br/>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
   <p>
    <br/>
    MAN:  (Version C)
    <br/>
    Note: this version isn't used much.
 This third version could be used to indicate that someone 
  is no longer a child but is a man (male + adult).
    <br/>
    <img border="0" height="219" src="/images/manversionc1.jpg" width="264"/>
    <img border="0" height="219" src="/images/manversionc2.jpg" width="264"/>
    <img border="0" height="219" src="/images/manversionc3.jpg" width="264"/>
    <br/>
    <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/xb0_f3hdD54?rel=0" width="560">
    </iframe>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
   <p style="margin-top: 0; margin-bottom: 0">
    Also see:
    <i>
    </i>
    <a href="/dictionary/boy">
     BOY
    </a>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     Also s
    </font>
    ee:
    <a href="/dictionary/girl">
     GIRL
    </a>
    <br/>
    <font face="Arial">
     Also s
    </font>
    ee:
    <a href="/dictionary/boygirl">
     Boy & Girl
    </a>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>