<html>
 <body>
  <blockquote>
   <h1 style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     <font size="5">
      <span style="font-weight: 400">
       American Sign Language: 
		"marriage / marry"
      </span>
     </font>
     <br/>
    </font>
   </h1>
   <blockquote>
    <hr align="left" color="#000000" size="1" width="50%"/>
    <span style="font-weight: 400">
     <p style="margin-top: 0; margin-bottom: 0">
      MARRIAGE / MARRY:
      <br/>
      The sign for "marriage" is made by clasping both hands comfortably together.
      <br/>
      For right-handed people the right hand should be on top of the left hand.
      <br/>
     </p>
     <p style="margin-top: 0; margin-bottom: 0">
      <iframe allowfullscreen="" frameborder="0" height="315" name="I1" src="https://www.youtube.com/embed/0zRYKjeOM-4?rel=0" width="560">
      </iframe>
      <img height="74" src="/images/marriage.gif" width="150"/>
     </p>
     <p style="margin-top: 0; margin-bottom: 0">
      <img border="0" height="480" src="/images/marriage-01.jpg" width="480"/>
      <img border="0" height="480" src="/images/marriage-02.jpg" width="480"/>
     </p>
     <p style="margin-top: 0; margin-bottom: 0">
      <br/>
     </p>
    </span>
    M
    <span style="font-weight: 400">
     <b>
      emory 
Aid:
     </b>
     think of a couple joining hands
at their wedding:
     <br/>
     <img height="120" src="/images/wedng010.gif" width="194"/>
     <hr align="left" color="#000000" size="1" width="50%"/>
     <p>
      HUSBAND:
      <br/>
      <img border="0" height="229" src="/images/husband1.jpg" width="252"/>
      <img border="0" height="229" src="/images/husband2.jpg" width="252"/>
     </p>
     <p>
      HUSBAND (compounded):
     </p>
     <p>
      <iframe allowfullscreen="" frameborder="0" height="315" name="I2" src="https://www.youtube.com/embed/TYTsqVZU1dk?rel=0" width="560">
      </iframe>
     </p>
     <p>
      <img border="0" height="480" src="/images/husband-01.jpg" width="480"/>
      <img border="0" height="480" src="/images/husband-02.jpg" width="480"/>
     </p>
     <hr align="left" color="#000000" size="1" width="50%"/>
     <p>
      WIFE:
     </p>
     <p>
      <iframe allowfullscreen="" frameborder="0" height="315" name="I3" src="https://www.youtube.com/embed/6lwaXQeF0FY?rel=0" width="560">
      </iframe>
     </p>
     <p>
      <img border="0" height="480" src="/images/wife-version-01.jpg" width="480"/>
      <img border="0" height="480" src="/images/wife-version-02.jpg" width="480"/>
      <img border="0" height="480" src="/images/wife-version-03.jpg" width="480"/>
     </p>
     <hr align="left" color="#000000" size="1" width="50%"/>
     <p style="margin-top: 0; margin-bottom: 0">
      Okay, let me show you better way to sign WIFE.  It is a "compound."  Instead of signing "GIRL + MARRIAGE" I simply
bring a modified "C" handshape down from my chin. I consider this to
be a better way to sign WIFE because it is more efficient.  The sign for
HUSBAND also can be "compounded" and uses a modified "C" as
the starting and ending handshape.
      <br/>
      <br/>
      WIFE:
     </p>
     <p style="margin-top: 0; margin-bottom: 0">
      <iframe allowfullscreen="" frameborder="0" height="315" name="I4" src="https://www.youtube.com/embed/HRv4XLlwdcc?rel=0" width="560">
      </iframe>
     </p>
     <p style="margin-top: 0; margin-bottom: 0">
     </p>
     <p style="margin-top: 0; margin-bottom: 0">
      <img border="0" height="480" src="/images/wife-01.jpg" width="480"/>
      <img border="0" height="480" src="/images/wife-02.jpg" width="480"/>
      <br/>
     </p>
     <hr align="left" color="#000000" size="1"/>
     <p style="margin-top: 0; margin-bottom: 0">
     </p>
     <p style="margin-top: 0; margin-bottom: 0">
      NOTE:
      <br/>
      Question: A student writes, “I have a question about the sign variations for 
"marriage" and "marry." I saw both signed differently on a few other ASL 
resources. For "marriage," I saw done with the dominant hand sort of waving in a 
circular motion before clasping both hands together. Is it safe to use either 
version interchangeably?
      <br/>
      <br/>
      Response:
      <br/>
      Regarding the sign for "marry / marriage" the most common version is to simply 
clasp the two hands together for either concept.
      <br/>
      <br/>
      The added movement version would be helpful in the unlikely situation in which 
if you might need to sign both concepts in the same sentence and/or 
differentiate between them.
      <br/>
      <br/>
      Possible example: BEFORE-[prior-to] YOU MARRY YOU NEED-[should] MEET MARRIAGE 
ADVICE-PERSON-[counselor].
      <br/>
      <br/>
      If you circle the dominant hand a bit before clasping the two hands together it 
can mean either marry or married. The added movement can be either phonological 
(just the person's way of signing it) or morphological (actually influencing the 
meaning of the base sign).
      <br/>
      <br/>
      If the added movement is morphological the added meaning will tend to mean one 
of the following:
      <br/>
      1. Marriage.
      <br/>
      2. Married! (The extra movement being similar to the meaning added by an 
exclamation point (in written English).
      <br/>
      3. To have gone through the process of getting married.
      <br/>
      <br/>
      The added movement will NOT appear when the sign MARRY is used in compounds such 
as: HUSBAND, WIFE, or BELIEVE. The extra movement will also typically be dropped 
in high speed native-level signing of sentences or in conversations where the 
sign appears repeatedly.
      <br/>
      <br/>
      Also, for what it is worth, that same "circle and drop" movement shows up in a 
version of the sign for ENGAGED / engagement.
      <br/>
     </p>
     <hr align="left" color="#000000" size="1"/>
     <p style="margin-top: 0; margin-bottom: 0">
      NOTE: The "marriage" sign doesn't mean "wedding." They are two different 
signs.
      <br/>
      See:
      <a href="/dictionary/wedding">
       WEDDING
      </a>
      .
     </p>
     <hr align="left" color="#000000" size="1"/>
     <p style="margin-top: 0; margin-bottom: 0">
      Also see: "
      <a href="/dictionary/marry-do-you-mind-i-marry-your-daughter">
       Do you mind if I marry your daughter?
      </a>
      "
     </p>
    </span>
   </blockquote>
   <hr align="left" color="#000000" size="1"/>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1"/>
   <hr align="left" color="#000000" size="1"/>
   <hr color="#000000" size="1"/>
   <p>
   </p>
  </blockquote>
 </body>
</html>