<html>
 <body>
  <blockquote>
   <h1 style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     <font size="5">
      <span style="font-weight: 400">
       American Sign Language: 
		"Do you mind if I marry your daughter?"
      </span>
     </font>
     <br/>
    </font>
   </h1>
   <blockquote>
    <hr align="left" color="#000000" size="1" width="50%"/>
    <span style="font-weight: 400">
     <p style="margin-top: 0; margin-bottom: 0">
      In a message dated 12/23/2010 
11:48:56 A.M. Pacific Standard Time, a young man writes:
      <br/>
      <br/>
      "There is a phrase i am interested in learning, one which if you knew more of 
the "back story" would probably bring a smile. I have been visiting your site in 
an effort to educate myself and i hope i am learning. I have met an incredible 
woman who's Father is deaf, her mother was also deaf. She hears fine but growing 
up with deaf parents is fluent in sign. So yes i could learn this phrase from 
her but i would like to be able to surprise her.
      <br/>
      <br/>
      If you could or would .... will you help me to understand how to ask her Father 
the following..... Would you mind if i marry your daughter?
      <br/>
      <br/>
      Thank you for your time, best wishes to you and your family for a very merry 
Christmas.
      <br/>
      <br/>
      Sincerly
      <br/>
      J Landis
      <br/>
     </p>
     <hr align="left" width="50%"/>
     <p style="margin-top: 0; margin-bottom: 0">
      Dear "J,"
      <br/>
      While some ASL teachers may feel that you should sign: "YOUR DAUGHTER, I MARRY 
SHE, don't-MIND YOU?" -- My advice to you as a currently non-signing "Hearing" 
person, is to sign: "DON'T-MIND I MARRY YOUR DAUGHTER?"  (That will be 
relatively easy for you to keep straight.) Just remember to raise your eyebrows 
on the do you mind" part.
      <br/>
      Or you could sign "I
      <a href="/dictionary/want">
       want
      </a>
      marry your daughter. You 
mind?"
      <br/>
     </p>
    </span>
    <hr align="left" color="#000000" size="1" width="50%"/>
    <span style="font-weight: 400">
     <p style="margin-top: 0; margin-bottom: 0">
      "Do you mind if I marry your 
daughter?"
      <br/>
      = "DON'T-MIND I MARRY YOUR DAUGHTER?"
      <br/>
      <br/>
     </p>
     <p style="margin-top: 0; margin-bottom: 0">
      <img border="0" height="300" src="/images/mind-dontmind01.jpg" width="319"/>
      <img border="0" height="300" src="/images/mind-dontmind02.jpg" width="319"/>
      <img border="0" height="300" src="/images/i01.jpg" width="319"/>
      <img border="0" height="300" src="/images/marry01.jpg" width="319"/>
      <img border="0" height="300" src="/images/marry02.jpg" width="319"/>
      <img border="0" height="300" src="/images/your01.jpg" width="319"/>
      <img border="0" height="300" src="/images/daughter01.jpg" width="319"/>
      <img border="0" height="300" src="/images/daughter02.jpg" width="319"/>
      <img border="0" height="300" src="/images/daughter03.jpg" width="319"/>
      <br/>
     </p>
     <hr align="left" color="#000000" size="1"/>
     <p style="margin-top: 0; margin-bottom: 0">
      A little better version is:
      <br/>
      "I WANT MARRY YOUR DAUGHTER. YOU MIND?"
      <br/>
      This is somewhat better because it puts the "question expression" at the end of 
the sentence along with the specific question phrase "Do you mind?" That helps 
it to be very clear that you are asking a question.
      <br/>
      <br/>
      <br/>
      <br/>
     </p>
     <hr align="left" color="#000000" size="1"/>
     <p style="margin-top: 0; margin-bottom: 0">
      <br/>
      Okay, here is a bit more "formal" version:
      <br/>
      YOUR DAUGHTER I WANT MARRY. I REQUEST/ASK YOUR PERMISSION.
      <br/>
      <br/>
     </p>
     <p style="margin-top: 0; margin-bottom: 0">
      <br/>
      PERMISSION:
      <br/>
      <img border="0" height="300" src="/images/permission01.jpg" width="300"/>
      <img border="0" height="300" src="/images/permission02.jpg" width="300"/>
      <br/>
     </p>
     <hr align="left" color="#000000" size="1"/>
     <p style="margin-top: 0; margin-bottom: 0">
      Also see:
      <a href="/dictionary/marriage">
       MARRIAGE
      </a>
     </p>
     <hr align="left" color="#000000" size="1"/>
    </span>
   </blockquote>
   <hr align="left" color="#000000" size="1"/>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1"/>
   <hr align="left" color="#000000" size="1"/>
   <hr color="#000000" size="1"/>
   <p>
   </p>
  </blockquote>
 </body>
</html>