<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   <p>
    <br/>
    MATH (arithmetic)
    <br/>
    Double movement.  Use
    <span style="background-color: #FFFF00">
     "
    </span>
    <b>
     <span style="background-color: #FFFF00">
      M
     </span>
    </b>
    <span style="background-color: #FFFF00">
     "
    </span>
    hands.
   </p>
   <p>
    <img border="0" height="219" src="/images/math.h45.jpg" width="227"/>
    <img border="0" height="219" src="/images/math.h46.jpg" width="227"/>
    <img border="0" height="219" src="/images/math.h47.jpg" width="227"/>
    <br/>
    <img border="0" height="219" src="/images/math.h48.jpg" width="227"/>
    <img border="0" height="219" src="/images/math.h49.jpg" width="227"/>
    <br/>
   </p>
   <p>
    Animation: MATH
    <br/>
    <img border="0" height="219" src="/images/math.gif" width="227"/>
   </p>
   <font face="Arial">
    <p>
    </p>
    <hr align="left" color="#000000" size="1"/>
    <p>
     <br/>
     Sample sentence: Do you like math?
     <br/>
     <br/>
     <br/>
     <br/>
     Notes:
     <br/>
     You can "initialize" the handshapes of the sign math and change the 
sign to refer to different types of math.
     <br/>
    </p>
   </font>
   <p>
    Algebra:
   </p>
   <p>
    <img border="0" height="219" src="/images/math.h54.jpg" width="227"/>
    <img border="0" height="219" src="/images/math.h55.jpg" width="227"/>
    <img border="0" height="219" src="/images/math.h56.jpg" width="227"/>
    <img border="0" height="219" src="/images/math.h57.jpg" width="227"/>
    <br/>
    <br/>
    Can you explain algebra to me?
    <br/>
    <br/>
   </p>
   <p>
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p>
    <br/>
    Calculus
   </p>
   <p>
    <img border="0" height="219" src="/images/math.h58.jpg" width="227"/>
    <img border="0" height="219" src="/images/math.h59.jpg" width="227"/>
    <img border="0" height="219" src="/images/math.h60.jpg" width="227"/>
    <img border="0" height="219" src="/images/math.h61.jpg" width="227"/>
    <br/>
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p>
    <br/>
    Geometry:
   </p>
   <p>
    <img border="0" height="219" src="/images/math.h62.jpg" width="227"/>
    <img border="0" height="219" src="/images/math.h63.jpg" width="227"/>
    <img border="0" height="219" src="/images/math.h64.jpg" width="227"/>
    <img border="0" height="219" src="/images/math.h65.jpg" width="227"/>
   </p>
   <p>
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p>
    <br/>
    NOTE: Honestly?
    <i>
     <span style="background-color: #FFFF00">
      I prefer to just 
spell
     </span>
     <b>
      <span style="background-color: #FFFF00">
       T-R-I-G
      </span>
     </b>
    </i>
    <br/>
    I'm mean, really, who can tell that is a "T" on my hands?
    <br/>
    <font face="Arial">
     <br/>
     TRIGONOMETRY:
     <br/>
    </font>
    <img border="0" height="219" src="/images/math.h50.jpg" width="227"/>
    <img border="0" height="219" src="/images/math.h51.jpg" width="227"/>
    <img border="0" height="219" src="/images/math.h52.jpg" width="227"/>
    <img border="0" height="219" src="/images/math.h53.jpg" width="227"/>
   </p>
   <br/>
   Have you passed trigonometry?
   <br/>
   <br/>
   <font face="Arial">
    <p>
    </p>
    <hr align="left" color="#000000" size="1"/>
    <p>
     See:
     <a href="/dictionary/add">
      ADD
     </a>
    </p>
    <hr align="left" color="#000000" size="1"/>
    <p>
     See:
     <a href="/dictionary/subtract">
      SUBTRACT
     </a>
    </p>
   </font>
   <br/>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>