<html>
 <body>
  <blockquote>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
    <p>
     The sign for "maybe" holds flat hands (palm up) in 
			front of you and then does a sea-saw movement wherein you raise one 
			hand while lowing the other and repeat.  Use an appropriate 
			facial expression.
     <br/>
    </p>
    <p>
     <br/>
     MAYBE:
     <br/>
     <img border="0" height="226" src="/images/maybe.32.jpg" width="210"/>
     <img border="0" height="226" src="/images/maybe.33.jpg" width="210"/>
     <img border="0" height="226" src="/images/maybe.34.jpg" width="210"/>
     <img border="0" height="226" src="/images/maybe.35.jpg" width="210"/>
    </p>
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>