<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1" width="50%"/>
   <span style="font-weight: 400">
    <font face="Arial">
     <p style="margin-top: 0; margin-bottom: 0">
      MAYONNAISE:  Just spell "M-A-Y-O"
      <br/>
      <img height="100" src="/images/m_small.gif" width="100"/>
      <img height="100" src="/images/a_small.gif" width="100"/>
      <img height="100" src="/images/y_small.gif" width="100"/>
      <img height="100" src="/images/o_small.gif" width="100"/>
      <br/>
      <br/>
      <br/>
      <br/>
      MAYO:
      <br/>
      <img border="0" height="228" src="/images/mayo-spelled1.jpg" width="259"/>
      <img border="0" height="228" src="/images/mayo-spelled2.jpg" width="259"/>
      <img border="0" height="228" src="/images/mayo-spelled3.jpg" width="259"/>
      <img border="0" height="228" src="/images/mayo-spelled4.jpg" width="259"/>
     </p>
     <p style="margin-top: 0; margin-bottom: 0">
     </p>
     <hr align="left" color="#000000" size="1"/>
     <p style="margin-top: 0; margin-bottom: 0">
      <br/>
      Mayonnaise variations:
      <br/>
      <br/>
      1.  Some people use an "M" handshape to smear imagined mayonnaise onto
their palm.
      <br/>
      2.  Some people sign "WHITE+SREAD."
      <br/>
      <br/>
      I recommend sticking with the
      <i>
       fingerspelled
      </i>
      version: MAYO.
      <br/>
      <br/>
     </p>
     <hr align="left" color="#000000" size="1" width="50%"/>
    </font>
   </span>
  </blockquote>
 </body>
</html>