<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   This page describes the type of mean that means ornery or cantankerous.
   <br/>
   If you are looking for the concept "mean" as in "What does that mean?" or as 
in: "purpose, sake,
explanation for, or intent" see the
   <a href="/dictionary/meaning">
    meaning.htm
   </a>
   page.
   <hr align="left" color="#000000" size="1"/>
   <p>
    <br/>
    MEAN / cruel:
   </p>
   <p>
    <font face="Arial">
     <img border="0" height="237" src="/images/meancruel1.jpg" width="227"/>
     <img border="0" height="237" src="/images/meancruel2.jpg" width="227"/>
     <img border="0" height="237" src="/images/meancruel3.jpg" width="227"/>
     <img border="0" height="237" src="/images/meancruel4.jpg" width="227"/>
     <br/>
     <br/>
     Sample sentence: "Do you think most dogs are friendly or are they mean?" = 
YOU THINK MOST DOG FRIENDLY, MEAN, WHICH?
     <br/>
     <br/>
    </font>
   </p>
   <p>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
   <p>
   </p>
   <p>
    <font face="Arial">
     MEAN (alternate / regional version) (not recommended)
    </font>
   </p>
   <p>
    <br/>
    <img border="0" height="237" src="/images/meanc1.jpg" width="227"/>
    <img border="0" height="237" src="/images/meanc2.jpg" width="227"/>
    <img border="0" height="237" src="/images/meanc3.jpg" width="227"/>
    <br/>
   </p>
   <p>
    MEAN!
   </p>
   <p>
   </p>
   <p>
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p style="margin-top: 0; margin-bottom: 0">
    Also see:
    <a href="/dictionary/meaning">
     <font face="Arial">
      MEAN
     </font>
    </a>
    (As in: purpose, sake, explanation for, or intent).
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>