<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   <p>
    Measure:
    <br/>
    Form both hands into "Y" shapes.  Touch the hands together at the 
  thumbtips.
    <br/>
    NOTE: The sign MEASURE-(measuring – verb form) starts with the thumbs touching 
  and twists (pivoting at the thumb) so that the pinkies move up and down in an 
  alternating fashion.
    <br/>
    <br/>
    <img border="0" height="219" src="/images/measur1.jpg" width="215"/>
    <img border="0" height="219" src="/images/measur2.jpg" width="215"/>
    <img border="0" height="219" src="/images/measur3.jpg" width="215"/>
    <img border="0" height="219" src="/images/measur2.jpg" width="215"/>
    <br/>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
   <p>
    <br/>
    MEASUREMENT / SIZE
   </p>
   <p>
    NOTE: The sign MEASUREMENT-( noun form) starts separated by about 
  an inch then moves together so that the thumbs touch.
    <br/>
    <img border="0" height="221" src="/images/measur4.jpg" width="213"/>
    <img border="0" height="221" src="/images/measur5.jpg" width="213"/>
    <img border="0" height="221" src="/images/measur4.jpg" width="213"/>
    <img border="0" height="221" src="/images/measur5.jpg" width="213"/>
   </p>
   <font face="Arial">
    <p>
    </p>
    <hr align="left" color="#000000" size="1"/>
   </font>
   <p style="margin-top: 0; margin-bottom: 0">
    <br/>
    ENGINEER:
    <br/>
    The sign MEASURE+AGENT-(engineer) adds a “person" ending to the verb form 
  of the sign MEASURE.
    <br/>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>