<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1" width="50%"/>
   <span style="font-weight: 400">
    <font face="Arial">
     Also see:
     <a href="/dictionary/wrench">
      WRENCH
     </a>
     <hr align="left" color="#000000" size="1" width="50%"/>
     <p>
      MECHANIC or PLUMBER:
      <br/>
      This sign can also mean "plumber" if you are talking about water and
pipes.
     </p>
     <p>
      <img border="0" height="224" src="/images/mechanic1.jpg" width="222"/>
      <img border="0" height="224" src="/images/mechanic2.jpg" width="222"/>
      <img border="0" height="224" src="/images/mechanic3.jpg" width="222"/>
      <img border="0" height="224" src="/images/mechanic4.jpg" width="222"/>
      <img border="0" height="224" src="/images/mechanic5.jpg" width="222"/>
      <img border="0" height="224" src="/images/mechanic6.jpg" width="222"/>
     </p>
     <hr color="#800080"/>
     <p>
      WRENCH
      <br/>
      <img border="0" height="225" src="/images/wrench1.jpg" width="234"/>
      <img border="0" height="225" src="/images/wrench2.jpg" width="234"/>
      <img border="0" height="225" src="/images/wrench3.jpg" width="234"/>
      <img border="0" height="225" src="/images/wrench4.jpg" width="234"/>
     </p>
     <hr align="left" color="#000000" size="1" width="50%"/>
    </font>
   </span>
  </blockquote>
 </body>
</html>