<html>
 <body>
  <blockquote>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
    <p>
     To do the sign for "metal" or "steel" place an "X" handshape under your chin near your throat.  Slide the X 
  forward about 3 inches and repeat.  The movement isn't like shaving, 
			rather you use a flicking movement. Some people flick it forward at 
			the wrist, others use a bit more of the elbow.
     <br/>
     <br/>
     METAL / STEEL:
     <br/>
     <img border="0" height="231" src="/images/metal.15.jpg" width="209"/>
     <img border="0" height="231" src="/images/metal.16.jpg" width="209"/>
     <img border="0" height="231" src="/images/metal.17.jpg" width="209"/>
     <img border="0" height="231" src="/images/metal.15.jpg" width="209"/>
     <img border="0" height="231" src="/images/metal.16.jpg" width="209"/>
     <img border="0" height="231" src="/images/metal.17.jpg" width="209"/>
    </p>
    <hr align="left" color="#000000" size="1" width="50%"/>
    <p>
    </p>
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>