<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   <p>
    The concept of "method" can be expressed using the TECHNICAL sign.
    <br/>
    The right hand is in a "five" handshape with the middle finger bent forward at 
  the knuckle.
    <br/>
    The tip of the right middle finger jabs the pinkie edge of the left hand. 
  Repeat.
    <br/>
    <br/>
    TECHNICAL:
    <font face="Arial">
     method / technology / technique
     <br/>
     <img border="0" height="360" src="/images/method3.jpg" width="320"/>
     <img border="0" height="360" src="/images/method4.jpg" width="320"/>
    </font>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1" width="50%"/>
   </font>
   <p style="margin-top: 0; margin-bottom: 0">
    Another way to express 
			the concept of "method" is to use the "way-(STREET)" sign. The "way" 
			sign is sometimes used to mean "method" because a "method" is a 
			"way" of doing something.
    <br/>
    See:
    <a href="/dictionary/way">
     WAY
    </a>
    <br/>
    See:
    <a href="/dictionary/technical">
     TECHNICAL
    </a>
   </p>
   <hr align="left" color="#000000" size="1" width="50%"/>
   <p style="margin-top: 0; margin-bottom: 0">
    <br/>
    <b>
     QUESTION
    </b>
    :
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    Ilah from Long Beach 
			California writes,
    <br/>
    <br/>
    Dr. Bill,
    <br/>
    I was going over your website, (very informative, thank you for 
			creating it) I teach a high school ASL class for the student's 
			"foreign language" credit. This is our school's first year teaching 
			ASL and not Spanish. I hope to expand it, we'll see.
    <br/>
    And I am always searching for something that will assist these 
			precious darlings (9th and 10th grade) to "get it."
    <br/>
    I am reviewing your short video vocab on ASL U and I have learned a 
			few new signs I didn't know before or have forgotten about.
    <br/>
    So, when i saw HOW you signed "method" -- I was wondering if there 
			is a
    <i>
     reason
    </i>
    . I sign 'technology" similar but instead of 
			horizontal, my supporting hand (left for me) is vertical.
    <br/>
    I was just wondering the sign "method" had some kind of meaning as 
			to why it is signed that way?
    <br/>
    I hope this makes sense ...
    <br/>
    Thanks
    <br/>
    - Ilah
    <br/>
    <br/>
    <b>
     ANSWER
    </b>
    :
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     Ilah,
     <br/>
     The sign that we typically gloss as "TECHNICAL" is also commonly 
			used to mean: technology, technique, method, and (sometimes) "mode."
     <br/>
     As to why "method" uses the same sign as technical anything I tell 
			you would only be speculation but my speculation is that "method" 
			sort of overlaps with the meaning of "technique" and thus over time 
			the sign TECHNICAL has expanded its semantic range to include 
			"method."
     <br/>
     - Dr. Bill
     <br/>
    </font>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>