<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   <p style="margin-top: 0; margin-bottom: 0">
    The sign for "milk"
    <font face="Arial">
     is made by forming a 
	"C" and closing it twice into an "S" hand.
    </font>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <br/>
    MILK:
    <br/>
    <font face="Arial">
     <img border="0" height="201" src="/images/milk1.jpg" width="209"/>
     <img border="0" height="201" src="/images/milk2.jpg" width="209"/>
     <img border="0" height="201" src="/images/milk3.jpg" width="209"/>
     <img border="0" height="201" src="/images/milk4.jpg" width="209"/>
    </font>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <iframe allow="autoplay; encrypted-media" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/quk_XoRtZWk?rel=0" width="560">
    </iframe>
    <font face="Arial">
     <img height="210" src="/images/xmilk.gif" width="202"/>
     <br/>
    </font>
    <font face="Arial">
     <hr align="left" color="#000000" size="1"/>
     <hr align="left" color="#000000" size="1"/>
    </font>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <br/>
    Okay now, I've got
    <font face="Arial">
     a riddle for you.
     <br/>
     <br/>
     What is this sign?
     <br/>
     <br/>
     <img border="0" height="207" src="/images/milk-pasteurized1.jpg" width="219"/>
     <img border="0" height="207" src="/images/milk-pasteurized2.jpg" width="219"/>
     <img border="0" height="207" src="/images/milk-pasteurized3.jpg" width="219"/>
     <img border="0" height="207" src="/images/milk-pasteurized4.jpg" width="219"/>
     <img border="0" height="207" src="/images/milk-pasteurized5.jpg" width="219"/>
     <img border="0" height="207" src="/images/milk-pasteurized6.jpg" width="219"/>
     <img border="0" height="207" src="/images/milk-pasteurized7.jpg" width="219"/>
     <img border="0" height="207" src="/images/milk-pasteurized8.jpg" width="219"/>
     <br/>
     <br/>
     <br/>
     Give up?
     <br/>
    </font>
   </p>
   <p>
    Answer:
    <br/>
    "Pasteurized Milk!"
    <br/>
    <br/>
    Heh, geddit?
    <b>
     <i>
      Past-your-eyes
     </i>
     milk!
    </b>
    <br/>
    Bwahahaha. Snort.
   </p>
   <p>
    Ahem.  Yes, yes, I'll keep my
    <i>
     day job
    </i>
    thank you very much.
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p>
    Alright, here is a sentence that shows the top reason you should always 
	have milk in the fridge:
    <br/>
    <br/>
    "Do you like cookies and milk?"
    <br/>
    <iframe allow="autoplay; encrypted-media" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/ehFEjIhtI_Y?rel=0" width="560">
    </iframe>
    <br/>
    Note: I use the sign "WITH" instead of the sign "AND" in that sentence. In 
	English it is common to use the word "and" in this sentence, but in ASL it 
	is better to use WITH or just sign MILK, CUP-here, COOKIE, "dip cookie in 
	milk and eat."
   </p>
   <hr align="left" color="#000000" size="1"/>
  </blockquote>
 </body>
</html>