<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   <p style="margin-top: 0; margin-bottom: 0">
    The sign for "
    <b>
     <i>
      minute
     </i>
    </b>
    " also can be used to mean 
"second" (depending on context).
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <br/>
    The sign minute is generally done on the palm.  You "tick" the right 
"index finger" handshape forward as if it were the minute hand on a clock.  
Although the finger does move, the  movement is from the
    <b>
     wrist
    </b>
    , 
not the finger. Note: This sign can also mean "moment," or "a second."
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     <br/>
     MINUTE:
    </font>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <img border="0" height="218" src="/images/minute-onpalm1.jpg" width="188"/>
    <img border="0" height="217" src="/images/hour2.jpg" width="195"/>
   </p>
   <font face="Arial">
    <p style="margin-top: 0; margin-bottom: 0">
    </p>
    <hr align="left" color="#000000" size="1" width="50%"/>
    <p style="margin-top: 0; margin-bottom: 0">
     <br/>
     Sample sentence: How many minutes equal one hour?
     <br/>
     <br/>
     <br/>
    </p>
   </font>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
    <p style="margin-top: 0; margin-bottom: 0">
     <br/>
     Another very common way to sign "minute" is to use an "index finger" on both 
hands. The tip of the non-dominant hand's index finger touches the wrist at 
the base of the dominant hand.  Only the dominant hand moves.
    </p>
    <p style="margin-top: 0; margin-bottom: 0">
     <br/>
    </p>
   </font>
   MINUTE: (variation)
   <p style="margin-top: 0; margin-bottom: 0">
    <img border="0" height="218" src="/images/minute-a1.jpg" width="201"/>
    <img border="0" height="218" src="/images/minute-a2.jpg" width="201"/>
    <br/>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
   <p style="margin-top: 0; margin-bottom: 0">
    <br/>
    If you need to distinguish between a minute and a second you can use a 
fingerspelled abbreviation.
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <br/>
    M-I-N:
    <br/>
    <img border="0" height="217" src="/images/minute-m-i-n1.jpg" width="238"/>
    <img border="0" height="217" src="/images/minute-m-i-n2.jpg" width="238"/>
    <img border="0" height="217" src="/images/minute-m-i-n3.jpg" width="238"/>
    <br/>
    <br/>
    <br/>
    Or you can do a sentence like this: "One minute has how many seconds?"
    <br/>
    <br/>
    <br/>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
   <p style="margin-top: 0; margin-bottom: 0">
    <br/>
    You can sign, "Wait a minute," (the classic gesture) by just holding up a 
finger.  Use a bit of a thrusting movement and a small "set in place" 
movement, as if setting a candlestick into its holder.
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <br/>
    "WAIT-A-MINUTE"
    <br/>
    <img border="0" height="215" src="/images/minute-wait-a-minute.jpg" width="212"/>
    <br/>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
   <p style="margin-top: 0; margin-bottom: 0">
    <br/>
    In a message dated 3/29/2004 9:06:46 PM Pacific Standard Time, OostermM@___.edu writes:
    <br/>
    "I'm having a hard time telling the difference between a second and a 
minute. 
They both seem to have that fast ticking. What am I missing?"
    <br/>
    - (name on file)
    <br/>
    <br/>
    Dear Student,
    <br/>
    You aren't missing anything. MINUTE and
    <a href="/dictionary/second">
     SECOND
    </a>
    are signed the same.
    <br/>
    Yes, I know that is lame.  Having two concepts that use the same exact 
sign and rely on context (or a mouth movement) to distinguish between the two 
meanings.  For what it is worth, I didn't invent the language, I'm just teaching it to you.
    <br/>
    <font face="Arial">
     In those sentences where it would not be clear, which meaning to apply, you 
would spell the letters "M-I-N" or "S-E-C."  
Otherwise, f
    </font>
    or the sign "second," make sure to do a
very quick twitch of the right hand in an "index finger" handshape.  Have it do one
"tick" of the clock. The movement is from the wrist and pivots on
the heel of the other hand.  The movement is small and fast.
    <br/>
    Remember, we 
depend on context to make the difference clear.  If someone asks me how 
long it takes to drive to work and I respond "15 MINUTE/SECOND," which meaning 
fits?  Obviously in that sentence it means "MINUTES."
    <br/>
    --Dr. Bill
    <br/>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>