<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   <p>
    <br/>
    In this sign I'm keeping my thumb on my head, but I don't have to. I could
start the sign an inch or two out from my head and as I bend my index and
middle finger I could bring the thumb down to the head and repeat. Either way
is fine.
    <br/>
    <br/>
    <font face="Arial">
     MISCHIEVOUS:
    </font>
   </p>
   <p>
    <img border="0" height="239" src="/images/mischievous1.jpg" width="258"/>
    <img border="0" height="239" src="/images/mischievous2.jpg" width="258"/>
    <img border="0" height="239" src="/images/mischievous3.jpg" width="258"/>
    <img border="0" height="239" src="/images/mischievous4.jpg" width="258"/>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    Sample sentence:
"Are you mischievous sometimes?"
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <br/>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <br/>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
    <p align="center">
    </p>
    Notes:
    <br/>
    The sign mischievous is a version of the sign for "devil."   The sign "DEVIL" uses a serious expression with a set
jaw and penetrating gaze.  The sign "mischievous" uses a
mischievous facial expression: an exaggerated smile, you duck the head forward
a bit, hunch the shoulders up a bit, and squint the eyes somewhat.
    <font color="#000000" face="Arial" id="role_document" size="2">
     <br/>
    </font>
    <br/>
    I remember watching a Hearing person sign a prayer at church.  
He asked the Lord for protection from "horse."
    <br/>
    <br/>
    Heh.  I knew what he meant of course, but I also knew that he 
didn't know the difference between the sign for "Devil" and the sign 
for "horse."
    <br/>
    <br/>
    The sign "
    <a href="/dictionary/horse">
     HORSE
    </a>
    " uses an "H or U" hand with the 
thumb extended, and the fingers together. The fingers bend at the first 
(large) knuckles. The sign for "devil" (or "Satan") uses a "three hand" and 
bends, unbends, and re-bends the fingers at the 
second and third knuckles (the small knuckles) ending in a 3 digit claw shape 
with the thumb touching the side of the forehead.
    <br/>
    <hr align="left" color="#000000" size="1"/>
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>