<html>
 <body>
  <blockquote>
   <h1 style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     <font size="5">
      <span style="font-weight: 400">
       American Sign Language: 
		"mittens"
      </span>
     </font>
     <br/>
    </font>
   </h1>
   <p style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1" width="50%"/>
   <span style="font-weight: 400">
    <p style="margin-top: 0; margin-bottom: 0">
     A "mitten" is a type of glove that 
doesn't have separate slots for the fingers.
     <br/>
     Perhaps you can understand why it is then that most Deaf prefer "gloves" over 
mittens eh?  Mittens amount to somewhat of a "speech impediment" (heh).
     <br/>
     <br/>
     Realistically the sign "MITTENS" is almost never used in adult Deaf 
conversation. More likely you will see the sign "GLOVES" used to refer to 
"mittens." As in "MY GLOVES (mittens), WHERE?"
     <br/>
     <br/>
     Anyway, if for some reason you need an actual sign for
     <i>
      mittens
     </i>
     you can 
use your dominant hand to trace the outline of a mitten on your base hand.
    </p>
    <p style="margin-top: 0; margin-bottom: 0">
    </p>
    <p align="left" style="margin-top: 0; margin-bottom: 0">
     MITTENS:
    </p>
    <p align="left" style="margin-top: 0; margin-bottom: 0">
     <img border="0" height="320" src="/images/mittens.gif" width="320"/>
    </p>
    <hr align="left" color="#000000" size="1" width="50%"/>
    <p align="left" style="margin-top: 0; margin-bottom: 0">
     MITTENS:
    </p>
    <p align="left" style="margin-top: 0; margin-bottom: 0">
     <img border="0" height="320" src="/images/mittens-01.jpg" width="320"/>
     <img border="0" height="320" src="/images/mittens-02.jpg" width="320"/>
     <img border="0" height="320" src="/images/mittens-03.jpg" width="320"/>
     <img border="0" height="320" src="/images/mittens-04.jpg" width="320"/>
    </p>
    <p align="left" style="margin-top: 0; margin-bottom: 0">
     <img border="0" height="320" src="/images/mittens-05.jpg" width="320"/>
     <img border="0" height="320" src="/images/mittens-06.jpg" width="320"/>
     <img border="0" height="320" src="/images/mittens-07.jpg" width="320"/>
     <img border="0" height="320" src="/images/mittens-08.jpg" width="320"/>
     <br/>
    </p>
    <hr align="left" color="#000000" size="1"/>
    <p style="margin-top: 0; margin-bottom: 0">
     <br/>
     MITTENS (version)
     <br/>
     I recall seeing this sign done in a video of a young Deaf girl signing a poem 
with the line "three little kittens lost their mittens and they began to cry..." 
She did the sign for mittens by using an "M" on her dominant hand to trace the 
outline of a mitten on her base hand.
    </p>
   </span>
   <p>
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1"/>
   <hr align="left" color="#000000" size="1"/>
   <hr color="#000000" size="1"/>
   <p>
   </p>
  </blockquote>
 </body>
</html>