<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1" width="50%"/>
   <span style="font-weight: 400">
    <font face="Arial">
     <p align="left" style="margin-top: 0; margin-bottom: 0">
      MOM:
      <br/>
      <font size="+1">
       M
      </font>
      ake the sign for "Mother"
by placing the thumb of your hand against your chin. Your hand should be open (a "5" shape).
      <br/>
      <br/>
      <img border="0" src="/images/mom.gif" style="max-width: 100%; height: auto" width="480"/>
      <img height="206" src="/images/mom.gif" width="246"/>
      <iframe allow="autoplay; encrypted-media" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/DHl2-NT3mIM?rel=0" width="560">
      </iframe>
      <br/>
      <img border="0" height="480" src="/images/mom-version-1-01.jpg" width="480"/>
      <img border="0" height="480" src="/images/mom-version-1-02.jpg" width="480"/>
     </p>
     <p align="left" style="margin-top: 0; margin-bottom: 0">
     </p>
     <p align="left" style="margin-top: 0; margin-bottom: 0">
      MOTHER (side view):
     </p>
     <p align="left" style="margin-top: 0; margin-bottom: 0">
      <img border="0" height="720" src="/images/mother-version-1-side-view.gif" width="720"/>
     </p>
     <p align="left" style="margin-top: 0; margin-bottom: 0">
      <img border="0" height="480" src="/images/mom-version-1-side-01.jpg" width="480"/>
      <img border="0" height="480" src="/images/mom-version-1-side-02.jpg" width="480"/>
      <img border="0" height="480" src="/images/mom-version-1-side-03.jpg" width="480"/>
      <img border="0" height="480" src="/images/mom-version-1-side-04.jpg" width="480"/>
     </p>
     <p align="left" style="margin-top: 0; margin-bottom: 0">
      Note: there are several variations of the sign "MOM."
      <br/>
      An interesting method I've seen is to place the tip of the thumb of your right
"A" hand on your chin then open the "A" hand into a
"five" hand.
      <br/>
      Some people wiggle the fingers while signing MOM.
      <br/>
      Some people use a double tap on the chin.
      <br/>
      <b>
       <br/>
       Memory aid:
      </b>
      It might help to think of the "chief" man or woman
of a family. As if the fingers of the hand were representing outspread feathers.
      <br/>
      <img height="193" src="/images/chief.gif" width="162"/>
     </p>
    </font>
   </span>
   <hr align="left" color="#000000" size="1" width="50%"/>
   <p style="margin-top: 0; margin-bottom: 0">
    MOTHER (version 2):
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <img border="0" height="720" src="/images/mother-version-2.gif" width="720"/>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <img border="0" height="480" src="/images/mom-version-2-01.jpg" width="480"/>
    <img border="0" height="480" src="/images/mom-version-2-02.jpg" width="480"/>
    <img border="0" height="480" src="/images/mom-version-2-03.jpg" width="480"/>
    <img border="0" height="480" src="/images/mom-version-2-04.jpg" width="480"/>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    MOTHER (version 2 side view):
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <img border="0" height="720" src="/images/mother-version-2-side-view.gif" width="720"/>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <img border="0" height="480" src="/images/mom-version-2-side-01.jpg" width="480"/>
    <img border="0" height="480" src="/images/mom-version-2-side-02.jpg" width="480"/>
    <img border="0" height="480" src="/images/mom-version-2-side-03.jpg" width="480"/>
    <img border="0" height="480" src="/images/mom-version-2-side-04.jpg" width="480"/>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    MOTHER (version 3):
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <img border="0" height="720" src="/images/mother-version-3.gif" width="720"/>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <img border="0" height="480" src="/images/mom-version-3-01.jpg" width="480"/>
    <img border="0" height="480" src="/images/mom-version-3-02.jpg" width="480"/>
    <img border="0" height="480" src="/images/mom-version-3-03.jpg" width="480"/>
    <img border="0" height="480" src="/images/mom-version-3-04.jpg" width="480"/>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    MOTHER (version 3 side view):
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <img border="0" height="720" src="/images/mother-version-3-side-view.gif" width="720"/>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <img border="0" height="480" src="/images/mom-version-3-side-01.jpg" width="480"/>
    <img border="0" height="480" src="/images/mom-version-3-side-02.jpg" width="480"/>
    <img border="0" height="480" src="/images/mom-version-3-side-03.jpg" width="480"/>
    <img border="0" height="480" src="/images/mom-version-3-side-04.jpg" width="480"/>
    <img border="0" height="480" src="/images/mom-version-3-side-05.jpg" width="480"/>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <br/>
    Sample sentence: 
			"What is your mom's name" = YOUR MOM NAME WHAT?
    <br/>
    <iframe allow="autoplay; encrypted-media" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/0Ld1ohqaQZ0?rel=0" width="560">
    </iframe>
   </p>
   <font face="Arial">
    <span style="font-weight: 400">
     <p align="left" style="margin-top: 0; margin-bottom: 0">
     </p>
     <hr align="left" color="#000000" size="1" width="50%"/>
     <p style="margin-top: 0; margin-bottom: 0">
      Also see:
      <a href="/dictionary/dad">
       DAD
      </a>
     </p>
     <hr align="left" color="#000000" size="1" width="50%"/>
     <p style="margin-top: 0; margin-bottom: 0">
      Also see:
      <a href="/dictionary/grandma">
       GRANDMA
      </a>
     </p>
    </span>
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>