<html>
 <body>
  <blockquote>
   <h1 style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     <span style="font-weight: 400">
      <font size="5">
       American Sign Language: "monitor"
      </font>
     </span>
     <br/>
    </font>
   </h1>
   <p>
   </p>
   <hr align="left" color="#000000" size="1" width="50%"/>
   <p>
    MONITOR (observe):
   </p>
   <p>
    <img border="0" height="360" src="/images/monitor-obsesrve-01.jpg" width="360"/>
    <img border="0" height="360" src="/images/monitor-obsesrve-02.jpg" width="360"/>
    <img border="0" height="360" src="/images/monitor-obsesrve-03.jpg" width="360"/>
    <img border="0" height="360" src="/images/monitor-obsesrve-04.jpg" width="360"/>
   </p>
   <p>
   </p>
   <p>
    <iframe allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/l8rA7uvQHKY?rel=0" width="560">
    </iframe>
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p>
   </p>
   <p>
    MONITOR (computer monitor):
   </p>
   <p>
    Draw a square in the air with your index fingertips.
   </p>
   <p>
    <img border="0" height="266" src="/images/monito7.jpg" width="320"/>
    <img border="0" height="266" src="/images/monito8.jpg" width="320"/>
    <br/>
    <img border="0" height="266" src="/images/monito9.jpg" width="320"/>
    <img border="0" height="266" src="/images/monito10.jpg" width="320"/>
   </p>
   <p>
   </p>
   <p>
    <iframe allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/oSRUQl7gsSs?rel=0" width="560">
    </iframe>
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p>
    Note: If you do this sign "larger" it can mean "board" as in white board or 
	blackboard.
   </p>
   <p>
    “SQUARE-perimeter” can be used to indicate a billboard or display
  sign.  This is a very "general" sign used to indicate whatever
  is "square shaped."
    <br/>
    <br/>
    Add black to it and you have:  BLACK + BOARD
    <br/>
    Add White to it and you have:  WHITE + BOARD
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p>
    square / board / sign
   </p>
   <p>
    <img border="0" height="227" src="/images/square1.jpg" width="319"/>
    <img border="0" height="227" src="/images/square2.jpg" width="319"/>
    <img border="0" height="227" src="/images/square3.jpg" width="319"/>
    <img border="0" height="227" src="/images/square5.jpg" width="319"/>
    <img border="0" height="227" src="/images/square6.jpg" width="319"/>
    <img border="0" height="227" src="/images/square7.jpg" width="319"/>
    <br/>
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p>
    <br/>
    Blackboard
    <br/>
    <img border="0" height="225" src="/images/blackboard1.jpg" width="300"/>
    <img border="0" height="225" src="/images/blackboard2.jpg" width="300"/>
    <img border="0" height="225" src="/images/blackboard3.jpg" width="300"/>
    <img border="0" height="225" src="/images/blackboard4.jpg" width="300"/>
    <img border="0" height="225" src="/images/blackboard5.jpg" width="300"/>
    <img border="0" height="225" src="/images/blackboard6.jpg" width="300"/>
   </p>
   <p>
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1"/>
   <hr align="left" color="#000000" size="1"/>
   <hr color="#000000" size="1"/>
   <p>
   </p>
  </blockquote>
 </body>
</html>