<html>
 <body>
  <blockquote>
   <h1 style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     <font size="5">
      <span style="font-weight: 400">
       American Sign Language: 
		"monster"
      </span>
     </font>
     <br/>
    </font>
   </h1>
   <p style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1" width="50%"/>
   <span style="font-weight: 400">
    <p style="margin-top: 0; margin-bottom: 0">
     MONSTER:
     <br/>
     <iframe allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/kXToNdDXXGE?rel=0" width="560">
     </iframe>
    </p>
    <br/>
    <p style="margin-top: 0; margin-bottom: 0">
     <img border="0" height="277" src="/images/monster.jpg" width="323"/>
    </p>
    <p style="margin-top: 0; margin-bottom: 0">
     <br/>
     Note to self:  Hmmm, I found this sign surprisingly easy to do.  I 
wonder if that means something?
    </p>
   </span>
   <br/>
   <hr align="left" color="#000000" size="1"/>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1"/>
   <hr align="left" color="#000000" size="1"/>
   <hr color="#000000" size="1"/>
   <p>
   </p>
  </blockquote>
 </body>
</html>