<html>
 <body>
  <blockquote>
   <h1 style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     <font size="5">
      <span style="font-weight: 400">
       American Sign Language: 
		"most"
      </span>
     </font>
     <br/>
    </font>
   </h1>
   <blockquote>
    <hr align="left" color="#000000" size="1" width="50%"/>
    <span style="font-weight: 400">
     <p style="margin-top: 0; margin-bottom: 0">
      MOST:
      <br/>
      The non-dominant hand stays pretty much stationary.  The right hand sometimes glances
  against the left hand on the way up (or it can just come really close to
  making contact).
      <br/>
     </p>
     <p style="margin-top: 0; margin-bottom: 0">
      <br/>
      <img border="0" height="239" src="/images/most-d1.jpg" width="229"/>
      <img border="0" height="239" src="/images/most-d2.jpg" width="229"/>
      <img border="0" height="239" src="/images/most-d3.jpg" width="229"/>
     </p>
     <p style="margin-top: 0; margin-bottom: 0">
      <iframe allowfullscreen="" frameborder="0" height="315" name="I1" src="https://www.youtube.com/embed/nPntlOgjAxo?rel=0" width="560">
      </iframe>
     </p>
    </span>
   </blockquote>
   <hr align="left" color="#000000" size="1"/>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1"/>
   <hr align="left" color="#000000" size="1"/>
   <hr color="#000000" size="1"/>
   <p>
   </p>
  </blockquote>
 </body>
</html>