<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1" width="50%"/>
   <span style="font-weight: 400">
    <font face="Arial">
     <p style="margin-top: 0; margin-bottom: 0">
      MOTORCYCLE:
      <br/>
      Mime holding the hand 
grips of a motorcycle and giving it some gas. Note: only move the dominant hand.
     </p>
     <p>
      <img border="0" height="97" src="/images/motorcycle.gif" width="320"/>
      <br/>
      <br/>
      Sample sentence: Do you have a motorcycle?
      <br/>
      <br/>
     </p>
     <hr align="left" color="#000000" size="1" width="50%"/>
     Also see: "
     <a href="/dictionary/scooter">
      SCOOTER
     </a>
     "
     <hr align="left" color="#000000" size="1" width="50%"/>
    </font>
   </span>
  </blockquote>
 </body>
</html>