<html>
 <body>
  <blockquote>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
    <p>
     The sign for "mouse"
     <br/>
    </p>
    <p style="margin-top: 0; margin-bottom: 0">
    </p>
    <p>
     MOUSE:
    </p>
    <p>
    </p>
    <p>
     <img border="0" height="298" src="/images/mouse1.jpg" width="320"/>
     <img border="0" height="298" src="/images/mouse2.jpg" width="320"/>
     <br/>
     <img border="0" height="298" src="/images/mouse1.jpg" width="320"/>
     <img border="0" height="298" src="/images/mouse2.jpg" width="320"/>
     <br/>
    </p>
    <hr/>
    <p>
     RAT: You can modify the sign for mouse by using an "R" and it will mean "
     <a href="/dictionary/rat">
      RAT
     </a>
     ."
    </p>
    <hr/>
    <p>
     <br/>
     There is another version of "mouse" that I don't see too often. In this 
	version you use your "pinkie."  Hold your 
  	extended pinkie off to one side of your nose. Move your hand sideways brushing 
	your pinkie past 
  your nose. Use a double movement.
     <br/>
     Note: you don't actually have to "touch" the nose.
     <br/>
     <br/>
     MOUSE:  Version 2
    </p>
    <p>
     <img border="0" height="229" src="/images/mouse.20.jpg" width="211"/>
     <img border="0" height="229" src="/images/mouse.21.jpg" width="211"/>
     <img border="0" height="229" src="/images/mouse.22.jpg" width="211"/>
     <img border="0" height="229" src="/images/mouse.23.jpg" width="211"/>
     <img border="0" height="229" src="/images/mouse.20.jpg" width="211"/>
     <img border="0" height="229" src="/images/mouse.21.jpg" width="211"/>
     <img border="0" height="229" src="/images/mouse.22.jpg" width="211"/>
     <img border="0" height="229" src="/images/mouse.23.jpg" width="211"/>
     <br/>
    </p>
    <hr align="left" color="#000000" size="1"/>
    <p>
     Notes:
	Some people say that you should use the pinkie finger to mean "mouse" and 
	the index finger to mean "rat."  I don't agree with that, but 
			I thought I'd mention it just so you'll be aware of it.  I 
			recommend you sign "mouse" with the index finger and "rat" with an 
			"R"-hand and only use the "pinkie" version above as a version of the 
			sign for "
     <a href="/dictionary/immature">
      immature
     </a>
     ."
    </p>
    <hr align="left" color="#000000" size="1"/>
    <p>
    </p>
    <p>
     MOUSE-"computer"
    </p>
    <p>
    </p>
    <p>
    </p>
    <hr align="left" color="#000000" size="1"/>
    <p>
     Also see:
     <a href="/dictionary/mousepad">
      MOUSE PAD
     </a>
    </p>
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>