<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   <p>
    MUCH / "a lot"
   </p>
   <p>
    <img border="0" height="241" src="/images/much.h1.jpg" width="300"/>
    <img border="0" height="241" src="/images/much.h2.jpg" width="300"/>
    <img border="0" height="241" src="/images/much.h3.jpg" width="300"/>
   </p>
   <font face="Arial">
    <br/>
    Some things are not "countable." For example you can’t count “water.” You can 
  count “cups of water,” or “drops of water” but you can’t
    <i>
     count
    </i>
    water.
    <br/>
    <br/>
    When discussing things that are not “countable,” I recommend you use the sign “MUCH 
  / a lot” (volume).
    <br/>
    <br/>
    Sample sentence:
    <br/>
    YOUR FRENCH-FRIES, YOU SALT A-LOT? (Do you like a lot of salt on 
			your French fries?)
    <br/>
    <br/>
    <br/>
   </font>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
   <p>
    <br/>
    <font face="Arial">
     When discussing “countable items” you should use “
     <a href="/dictionary/many">
      MANY
     </a>
     ,” 
  “
     <a href="/dictionary/how-many">
      how-MANY
     </a>
     ,” or the one-handed version of “
     <a href="/dictionary/how-much">
      how-MUCH
     </a>
     ?” (Which is often 
  interpreted as “how much” – as in “What is the cost of that?”).
    </font>
    <br/>
   </p>
   <p>
    <font face="Arial">
     "How much?"-(countable)
     <br/>
     <br/>
     Sample sentence:
     <br/>
     WAITRESS, HOW-MUCH SHOULD T-I-P? (How much should you tip a 
			waitress?)
     <br/>
    </font>
   </p>
   <p>
   </p>
   <hr align="left" color="#000000" size="1" width="50%"/>
   <p style="margin-top: 0; margin-bottom: 0">
    Also see: "
    <a href="/dictionary/too-much">
     too-MUCH
    </a>
    !"
    <br/>
    Also see: "
    <a href="/dictionary/a-lot">
     a lot
    </a>
    "
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>