<html>
 <body>
  <blockquote style="PADDING-LEFT: 5px; MARGIN-LEFT: 5px; BORDER-LEFT: blue 2px solid">
   <p>
    <font color="#000000" face="Arial" size="2" style="BACKGROUND-COLOR: transparent">
     In a message dated 5/25/2007 1:23:38 PM Pacific Daylight Time,
     <br/>
     texmex@ writes:
     <br/>
     <br/>
     Buenos Dias Dr. Bill,
     <br/>
     <br/>
     My name is George Macias in English and Jorge Macías 
				Azcárate in
     <br/>
     Spanish.  My wife and I are new to Sign Language.  We're still 
				"babies"
     <br/>
     so to speak.  We started signing 6 months ago and we love it.
     <br/>
     <br/>
     My question is:  How would one sign the Spanish letter "ñ"?  
				That
     <br/>
     letter appears in many forms in English text and does crossover 
				to Sign
     <br/>
     Language.  For example; the phenomenon call "El Niño" and the 
				related
     <br/>
     "La Niña."  We have a city in California named "Los Baños."  
				There are
     <br/>
     many Spanish surnames that if spelled-out would require an "ñ" 
				like
     <br/>
     Nuñez, Ibañez, etc.
     <br/>
     <br/>
     Please share your thoughts on this subject.
     <br/>
     <br/>
     George,
     <br/>
     I don't know the sign for ñ. But why don't you try asking a 
				contact of
     <br/>
     mine down in Mexico:
     <br/>
     Robin DeLaRosa
     <br/>
     Apartado 640
     <br/>
     Cabo San Lucas, BCS
     <br/>
     CP 23450     Mexico
     <br/>
     jsfreaky@
     <br/>
     Robin knows MSL and some native MSL users who might have a sign 
				you could use. If you find out a good sign for ñ, please do let 
				me know.
     <br/>
     Cordially,
     <br/>
     Bill Vicars
    </font>
   </p>
  </blockquote>
 </body>
</html>