<html>
 <body>
  <blockquote>
   <span style="font-weight: 400">
    <font face="Arial">
     <blockquote>
      <p>
       <img border="0" src="/images/name.gif" style="max-width: 100%; height: auto" width="480"/>
      </p>
      <p>
       <img border="0" height="347" src="/images/name.jpg" width="1244"/>
       <iframe allow="autoplay; encrypted-media" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/GbeC9TFuSX4?rel=0" width="560">
       </iframe>
      </p>
      <p>
       <img align="left" border="0" height="308" src="/images/name.h15.jpg" width="322"/>
       Video of "NAME"
       <br/>
      </p>
      <p>
       Handshape:  "H" handshape on both hands.
       <br/>
       Movement:  Tends to be a double movement (but a single movement is also common).
       <br/>
       Non-Manual Marker: In general this uses a neutral facial expression.  In the sentence
  "What is your name?"  signed as NAME YOU? (Wh-question expression) you
  furrow the eyebrows and tilt the head forward a bit.
      </p>
      <p>
       Inflections: 
  NAMED (verb)  (When he was a puppy I named my dog Fido)  
  [Note:  For the verb version of this sign, I use a single movement.]
       <br/>
       <img border="0" height="333" src="/images/name-01.jpg" width="295"/>
       <img border="0" height="333" src="/images/name-02.jpg" width="295"/>
      </p>
      <hr color="#000000" size="1"/>
      <p>
       Sample usage:  "What is your name?"
       <br/>
       In the example below note my facial expression.  The furrowed eyebrows, the tilt of my head, and the location of my hands 
	all turn this one sign into a whole sentence: "What is your name?" 
	You don't need any additional signs to express this meaning.   
	This is often signed as "NAME YOU?" Or "YOUR NAME?"
      </p>
      <p>
       <img alt="name1.jpg (7089 bytes)" height="226" src="/images/name1.jpg" width="218"/>
       <img alt="name2.jpg (6992 bytes)" height="226" src="/images/name2.jpg" width="218"/>
       <img alt="name3.jpg (7052 bytes)" height="226" src="/images/name3.jpg" width="218"/>
       <img alt="name4.jpg (6998 bytes)" height="226" src="/images/name4.jpg" width="218"/>
      </p>
      <p align="right">
       <img alt="back.gif (1674 bytes)" border="0" height="28" onclick="history.go(-1)" src="/images/back.gif" width="54"/>
      </p>
     </blockquote>
     <hr/>
     <p>
      <b>
       Optional Reading (Not needed for class)
      </b>
      <br/>
      <br/>
      "NAME vs MENTION-(called, named, christened...)"
      <br/>
      Technically "NAME" using a double movement is a noun.
      <br/>
      The verb form uses a single 
movement.
      <br/>
      I've noticed most of us tend to sign "NAME YOU?" using a single movement for 
NAME thus we are actually signing: "What are you called/named?"
      <br/>
      In reality that the noun/verb rule tends to get mangled quite 
a bit.  But it really doesn't matter since they end up getting the same 
response:
      <br/>
      1. What do they call you? (verb)
      <br/>
      2. What is your name? (noun)
     </p>
     <hr/>
     <p>
      <br/>
      What I wish would happen:
      <br/>
      Teacher: YOU NAME-(what)?
      <br/>
      Student: J-O-H-N S-M-I-T-H.
      <br/>
      <br/>
      What happens all too often:
      <br/>
      Teacher: YOU NAME-(what)?
      <br/>
      Student: MY NAME J-O-H-N S-M-I-T-H.
      <br/>
      <br/>
      After teaching ASL for 30 years over 1,000 minutes of my life have been wasted 
watching students needlessly sign "MY NAME."
      <br/>
      <br/>
      Math: (3.333R seconds) (3 x per semester) (100 students) (2 semesters per year) 
(30 years)
      <br/>
      = approximately 60,000 seconds
      <br/>
      = 1,000 minutes
     </p>
     <p>
      <br/>
     </p>
     <p align="left" style="margin-top: 0; margin-bottom: 0">
     </p>
     <hr align="left" color="#000000" size="1" width="50%"/>
    </font>
   </span>
   <p>
   </p>
  </blockquote>
 </body>
</html>