<html>
 <body>
  <blockquote>
   <h1 style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     <font size="5">
      <span style="font-weight: 400">
       American Sign Language: 
		"Native-American"
      </span>
     </font>
     <br/>
    </font>
   </h1>
   <blockquote>
    <hr align="left" color="#000000" size="1" width="50%"/>
    <span style="font-weight: 400">
     <p>
      Native-American:
      <br/>
      Touch an "F" hand to your cheek, then touch your head higher up and back.
      <br/>
      Think of an Indian headdress.
     </p>
     <p>
      <iframe allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/dPF5oG90ikc?rel=0" width="560">
      </iframe>
     </p>
     <p>
     </p>
     <p>
      <img border="0" height="233" src="/images/native36.jpg" width="202"/>
      <img border="0" height="233" src="/images/native37.jpg" width="202"/>
      <img border="0" height="233" src="/images/native38.jpg" width="202"/>
     </p>
     <p>
     </p>
     <p>
      Native-American (version):
     </p>
     <p>
      <iframe allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/k1xfCj56L4M?rel=0" width="560">
      </iframe>
     </p>
     <hr align="left" color="#000000" size="1"/>
     <div>
      <div>
       In a message dated 3/15/2007 9:25:13 P.M. Pacific Daylight Time, Allie 
		writes:
      </div>
      <blockquote style="PADDING-LEFT: 5px; MARGIN-LEFT: 5px; BORDER-LEFT: blue 2px solid">
       <font color="#000000" face="Arial" size="2" style="BACKGROUND-COLOR: transparent">
        <p>
         Dr. Bill,
         <br/>
         I thought the sign for Native American changed to
		NATURE + AMERICA + AGENT to be politically correct.
         <br/>
         Do you know if this is true?
         <br/>
         -Allie
        </p>
       </font>
      </blockquote>
     </div>
     <div>
      Allie,
      <br/>
      I personally don't plan on using the "NATURE + AMERICAN + AGENT" 
		method.  For the time being I still do the old "feather headdress"  
		version.
      <br/>
      The incoming "PC" method I've seen is to rub the back of the 
		non-dominant hand twice. (Sort of like a "reverse" version of the sign 
		"PET.")  That is a sign  that has been borrowed from "Indian (Native 
		American) Sign Language.  As early as 2006 I met someone who said 
		she saw that way being taught as a variation at Cal State University, 
		Northridge.  Plus I looked in a book of "Indian Sign Language" and 
		noted that the "rub" method was being used by a Native American.
      <br/>
      --Bill
     </div>
     <p style="margin-top: 0; margin-bottom: 0">
     </p>
     <hr align="left" color="#000000" size="1" width="50%"/>
     <p align="left" style="margin-top: 0; margin-bottom: 0">
      NATIVE-AMERICAN-indigenous 
version / Native 
American Sign Language (NOT ASL)
      <br/>
      Use a double movement (see notes).
     </p>
     <p align="left" style="margin-top: 0; margin-bottom: 0">
      <iframe allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/BJaX75fWBv4?rel=0" width="560">
      </iframe>
     </p>
     <p align="left" style="margin-top: 0; margin-bottom: 0">
     </p>
     <p align="left" style="margin-top: 0; margin-bottom: 0">
      <img border="0" height="300" src="/images/native-american-b2.jpg" width="372"/>
      <img border="0" height="300" src="/images/native-american-b1.jpg" width="372"/>
     </p>
     <p align="left" style="margin-top: 0; margin-bottom: 0">
      <br/>
      Notes: While conversing in my office with a transfer student (who was Deaf and a 
skilled ASL user), I noticed that she did the sign "SURFACE" when referring to 
"Native Americans" or what was formerly referred to as "American Indians." I 
asked where she got that sign and she indicated that she learned it from a 
faculty member at a large university in the Northridge California area.  
This doesn't mean that the sign is being taught as ASL at that university, it 
simply means that one person showed it to another person and it is being used in 
some conversations between some people.  The reason why I'm including it 
here is because I became curious about the sign and I went to an old "Indian 
Sign Language" dictionary and looked up their sign for "Indian." The original 
movement of sign for Native American in the "Indian Sign Language" dictionary 
was not similar to the  ASL sign SURFACE, rather the movement was closer to 
the ASL sign "PET" but with a reversed movement - making two forward strokes 
(not circular movements as in the sign SURFACE).
      <br/>
      It appears that some second language users of the sign have mutated the sign 
into using a circular movement of the dominant hand.  I will be watching to 
see if others adopt either of these versions to replace the existing ASL sign.  
The sign is likely to meet with resistance due to looking too much like the 
existing ASL signs for "SURFACE" and "PET."
      <br/>
      Interestingly enough, it is reasonable to state that this is a sign "
      <i>
       some
      </i>
      " 
Native Americans use or have used to describe themselves via at least one 
version of "Indian Sign Language" and at least one published source mentions 
that this sign is associated with the color of the skin of Native Americans.
     </p>
    </span>
   </blockquote>
   <hr align="left" color="#000000" size="1"/>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1"/>
   <hr align="left" color="#000000" size="1"/>
   <hr color="#000000" size="1"/>
   <p>
   </p>
  </blockquote>
 </body>
</html>