<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   <p style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     The sign for "nervous" shakes the hands as if you are nervous and can't 
	keep your hands still. Hold your hands out in front of you and shake them as 
	if you had a 128-ounce cup of coffee this morning.
    </font>
    <br/>
    <font face="Arial">
     <p style="margin-top: 0; margin-bottom: 0">
      NERVOUS / anxiety / anxious:
      <br/>
      <br/>
      <img border="0" src="/images/nervous.gif" style="max-width: 100%; height: auto" width="480"/>
     </p>
     <p style="margin-top: 0; margin-bottom: 0">
      <img border="0" height="235" src="/images/nervousc1.jpg" width="285"/>
      <img border="0" height="235" src="/images/nervousc2.jpg" width="285"/>
      <img border="0" height="235" src="/images/nervousc3.jpg" width="285"/>
      <img border="0" height="235" src="/images/nervousc4.jpg" width="285"/>
      <img border="0" height="235" src="/images/nervousc5.jpg" width="285"/>
      <img border="0" height="235" src="/images/nervousc6.jpg" width="285"/>
      <br/>
      <br/>
      Sample sentence:  "Do you get nervous before tests?"  = PRIOR-to 
	TEST YOU FEEL NERVOUS?
      <br/>
      <br/>
      <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/x4-KfbIlKlE?rel=0" width="560">
      </iframe>
      <br/>
      Note: In the above sentence, you could drop the sign "FEEL" since the 
	concept of feel is already "understood" to be part of the concept of 
	"nervous." It is the same difference as the statements, "Do you feel 
	nervous?" vs "Are you nervous?" (If you are nervous, obviously you
      <i>
       <b>
        feel
       </b>
      </i>
      nervous eh?) Regardless, it is a good excuse to practice the 
	sign for "feel."
      <br/>
     </p>
     <hr align="left" color="#000000" size="1" width="50%"/>
     <p style="margin-top: 0; margin-bottom: 0">
      Also see:
      <a href="/dictionary/anxious">
       ANXIOUS
      </a>
     </p>
     <hr align="left" color="#000000" size="1" width="50%"/>
    </font>
   </p>
  </blockquote>
 </body>
</html>