<html>
 <body>
  <blockquote>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
    <p>
     The sign for "New York" is to slide a "Y" hand forward 
			and back on the palm of the non-dominant hand.
     <br/>
     If you need to specify "New York, city" vs "New York, state" you can 
			add the
     <a href="/dictionary/city" style="text-decoration: none">
      CITY
     </a>
     sign or the
     <a href="/dictionary/state" style="text-decoration: none">
      STATE
     </a>
     sign.
    </p>
    <p>
    </p>
    <p>
     NEW YORK:
    </p>
    <p>
     <img border="0" height="236" src="/images/newyor1.jpg" width="283"/>
     <img border="0" height="236" src="/images/newyor2.jpg" width="283"/>
     <img border="0" height="236" src="/images/newyor1.jpg" width="283"/>
     <img border="0" height="236" src="/images/newyor2.jpg" width="283"/>
    </p>
    <hr align="left" color="#000000" size="1"/>
    <p>
     Here's another view:
    </p>
    <p>
     .
     <img border="0" height="238" src="/images/newyor3.jpg" width="304"/>
     <img border="0" height="238" src="/images/newyor4.jpg" width="304"/>
     <img border="0" height="238" src="/images/newyor3.jpg" width="304"/>
    </p>
    <hr align="left" color="#000000" size="1"/>
    <p>
    </p>
    <p>
     You might see a version in which the right "Y" hand slides 
			forward and back one time:
     <br/>
     <img border="0" height="239" src="/images/newyor21.jpg" width="226"/>
     <img border="0" height="239" src="/images/newyor22.jpg" width="226"/>
     <img border="0" height="239" src="/images/newyor21.jpg" width="226"/>
    </p>
    <p>
    </p>
    <p>
     Animation: NEW-YORK
    </p>
    <p>
     <img border="0" height="129" src="/images/newyork.gif" width="303"/>
    </p>
    <p>
     <br/>
    </p>
    <p>
     NEW YORK CITY:
    </p>
    <p>
    </p>
    <p>
     <font face="Arial" size="1">
      (Model: Byron Cantrell)
     </font>
     <br/>
    </p>
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>