<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1" width="50%"/>
   <span style="font-weight: 400">
    <font face="Arial">
     <p style="margin-top: 0; margin-bottom: 0">
      NEXT:
      <br/>
      This sign starts with the dominant hand behind the non-dominant hand.  
You lift the
dominant hand up and place it in front of the non-dominant hand.
      <br/>
      <br/>
      <br/>
      Memory aid:  Think of this sign like a box full of recipe cards or study cards. You are
simply showing the "next" card in the series.
      <br/>
      <br/>
      <img border="0" height="218" src="/images/next1.jpg" width="193"/>
      <img border="0" height="218" src="/images/next2.jpg" width="193"/>
      <img border="0" height="218" src="/images/next3.jpg" width="193"/>
      <img border="0" height="218" src="/images/next4.jpg" width="193"/>
      <img border="0" height="218" src="/images/next5.jpg" width="193"/>
     </p>
     <hr align="left" color="#000000" size="1"/>
     <p style="margin-top: 0; margin-bottom: 0">
      Also see: "
      <a href="/dictionary/next-what-do">
       What 
are we going to do next?
      </a>
      "
     </p>
     <hr align="left" color="#000000" size="1"/>
     <p style="margin-top: 0; margin-bottom: 0">
      Note: signs like "next week, next month, next year" and others do NOT use the 
sign "NEXT."  Instead they use changes in the movement and other aspects of 
those signs to create the meaning of "next."
     </p>
    </font>
   </span>
  </blockquote>
 </body>
</html>