<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   The sign for niece is an "N" hand held to the side of the face near 
			the cheek. The hand twists forward twice.
   <br/>
   <p style="margin-top: 0; margin-bottom: 0">
    <img border="0" height="300" src="/images/niece-1.jpg" width="261"/>
    <img border="0" height="300" src="/images/niece-2.jpg" width="261"/>
    <font face="Arial">
     <img border="0" height="300" src="/images/niece-1.jpg" width="261"/>
     <img border="0" height="300" src="/images/niece-2.jpg" width="261"/>
     <br/>
    </font>
   </p>
   <hr align="left" color="#000000" size="1" width="50%"/>
   <p style="margin-top: 0; margin-bottom: 0">
    Animated: NIECE:
    <br/>
    <img border="0" height="300" src="/images/niece.gif" width="300"/>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>