<html>
 <body>
  <blockquote>
   <hr color="#000000" size="1"/>
   <p style="margin-top: 0; margin-bottom: 0">
    <span style="font-weight: 400">
     The sign "NO" can use either a polite double motion or a more firm or definite
  single motion.  It is also directional in nature--meaning, if I hold my
  hand off to my right and I point the palm toward myself while doing the sign,
  it can mean "He told me no."
     <br/>
    </span>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <img border="0" src="/images/no-2-movement.gif" style="max-width: 100%; height: auto" width="480"/>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <span style="font-weight: 400">
     <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/QJXKaOSyl4o" width="560">
     </iframe>
     <br/>
    </span>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <span style="font-weight: 400">
     A firm, solid "no" as in a command.  Uses one motion.
    </span>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <span style="font-weight: 400">
     <img border="0" height="213" src="/images/no.htm24.jpg" width="245"/>
     <img border="0" height="213" src="/images/no.htm25.jpg" width="245"/>
    </span>
   </p>
   <hr color="#000000" size="1"/>
   <p style="margin-top: 0; margin-bottom: 0">
    <span style="font-weight: 400">
     Another variation of no uses a double motion and a negative headshake.
    </span>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <span style="font-weight: 400">
     <img border="0" height="229" src="/images/no1.jpg" width="204"/>
     <img border="0" height="229" src="/images/no2.jpg" width="204"/>
     <img border="0" height="229" src="/images/no3.jpg" width="204"/>
     <img border="0" height="229" src="/images/no4.jpg" width="204"/>
    </span>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <img border="0" height="480" src="/images/no-01.jpg" width="480"/>
    <img border="0" height="480" src="/images/no-02.jpg" width="480"/>
    <img border="0" height="480" src="/images/no-03.jpg" width="480"/>
    <img border="0" height="480" src="/images/no-04.jpg" width="480"/>
   </p>
   <hr color="#000000" size="1"/>
   <p style="margin-top: 0; margin-bottom: 0">
    <span style="font-weight: 400">
     s/he-told-me-NO.
     <br/>
     Is done similar to the normal sign for "no" except that it starts off toward 
  the right and moves in toward your body.
    </span>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <span style="font-weight: 400">
     <img border="0" height="211" src="/images/no.htm26.jpg" width="295"/>
     <img border="0" height="211" src="/images/no.htm27.jpg" width="295"/>
    </span>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr color="#000000" size="1"/>
   <p style="margin-top: 0; margin-bottom: 0">
    <span style="font-weight: 400">
     Also see:
     <a href="/dictionary/none">
      NONE
     </a>
    </span>
    <br/>
    <span style="font-weight: 400">
     Also see:
     <a href="/dictionary/nothing">
      NOTHING
     </a>
    </span>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <span style="font-weight: 400">
     Also see:
     <a href="/dictionary/yes">
      YES
     </a>
    </span>
   </p>
   <hr color="#000000" size="1"/>
   <p style="margin-top: 0; margin-bottom: 0">
   </p>
  </blockquote>
 </body>
</html>