<html>
 <body>
  <blockquote>
   <h1 style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     <font size="5">
      <span style="font-weight: 400">
       American Sign Language: 
		"noise"
      </span>
     </font>
     <br/>
    </font>
   </h1>
   <p style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1" width="50%"/>
   <span style="font-weight: 400">
    <p style="margin-top: 0; margin-bottom: 0">
     The sign for noise in ASL is done by 
pointing to (or touching) your ear and then shaking your hands a couple of 
times.
     <br/>
    </p>
    <p align="left" style="margin-top: 0; margin-bottom: 0">
     NOISES:
    </p>
    <p align="left" style="margin-top: 0; margin-bottom: 0">
     <iframe allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/yAtOFiUQ13M?rel=0" width="560">
     </iframe>
    </p>
    <hr align="left" color="#000000" size="1"/>
    <p align="left" style="margin-top: 0; margin-bottom: 0">
     <img border="0" height="320" src="/images/noise-01.jpg" width="320"/>
     <img border="0" height="320" src="/images/noise-02.jpg" width="320"/>
     <img border="0" height="320" src="/images/noise-03.jpg" width="320"/>
     <img border="0" height="320" src="/images/noise-02.jpg" width="320"/>
     <img border="0" height="320" src="/images/noise-03.jpg" width="320"/>
    </p>
    <hr align="left" color="#000000" size="1" width="50%"/>
    <p align="left" style="margin-top: 0; margin-bottom: 0">
    </p>
    <hr align="left" color="#000000" size="1" width="50%"/>
    <p style="margin-top: 0; margin-bottom: 0">
     <br/>
     "
     <b>
      Last night the thunder and lightening was very loud and noisy!"
     </b>
     <br/>
     Note: If you ask ten different people to sign this sentence for you you will 
	invariably get
     <i>
      ten different answers
     </i>
     .  How do I know?  I've 
	asked many dozens of people to sign it.  For what it is worth, I'll 
	show you my variation.
     <br/>
     Note  the difference between "noisy" and "thunder."
     <br/>
     <br/>
    </p>
    <p style="margin-top: 0; margin-bottom: 0">
     <br/>
     Notes:  I sign "PAST / before" to mean "last" in
     <i>
      this
     </i>
     sentence.
     <br/>
     For THUNDER, I point to the ear then I use a firm converse double movement 
	with both hands using "handshape: 5."
    </p>
    <p style="margin-top: 0; margin-bottom: 0">
     For LIGHTENING, I make a downward  zigzagging movement with index 
	fingers.
     <br/>
     For "very" I did the sign "OOH" which uses an intense facial expression and 
	the dominant hand in a claw shape making shaking movement in front of the 
	lower face.
    </p>
    <p style="margin-top: 0; margin-bottom: 0">
     For LOUD, I point to the ear then I use a firm converse double movement with 
	two hands using "handshape: S" on each hand.
    </p>
    <p style="margin-top: 0; margin-bottom: 0">
     For NOISY, I point to the ear then I use a simultaneous twisting movement of 
	both hands using "handshape: 5."
     <br/>
    </p>
    <p style="margin-top: 0; margin-bottom: 0">
     If you wanted, you could have a lot of fun and/or get into a lot of heated 
	arguments over the "right way" to do the sentence:  "Last night the 
	thunder and lightening was very loud and noisy!" Realistically though, there 
	is no
     <i>
      one
     </i>
     right way -- just a lot of varying ways. What I've shown 
	you above are some "good ways" that should fill your need until you find a 
	"better way."
     <br/>
     Good luck  :)
    </p>
    <p style="margin-top: 0; margin-bottom: 0">
    </p>
    <hr align="left" color="#000000" size="1" width="50%"/>
   </span>
   <p align="left" style="margin-top: 0; margin-bottom: 0">
    <span style="font-weight: 400">
     Also see:
     <a href="/dictionary/loud">
      LOUD
     </a>
    </span>
   </p>
   <span style="font-weight: 400">
    <hr align="left" color="#000000" size="1" width="50%"/>
   </span>
   <p style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1"/>
   <hr align="left" color="#000000" size="1"/>
   <hr color="#000000" size="1"/>
   <p>
   </p>
  </blockquote>
 </body>
</html>