<html>
 <body>
  <blockquote>
   <h1 style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     <span style="font-weight: 400">
      <font size="5">
       American Sign Language: "NONEXISTENT"
      </font>
     </span>
    </font>
   </h1>
   <p>
    <br/>
    NON-EXISTENT-[nothing-at-all/all-gone/nothing-there/blown-through-it-all-with-nothing-remaining/empty/sapped/nothing-left-but-dust/nothing-left-but-air/there-is-nothing-there-at-all]
    <br/>
    <br/>
    <br/>
    A student writes:
    <br/>
    <br/>
    Hi Dr. Bill:
    <br/>
    I'm going a bit crazy searching the Internet and no definitive answer. So I'm 
referring to an expert.
    <br/>
    A friend did a sign similar to dark but inverse, by this I mean starting in 
front of the face with both hands. I've asked him what it meant he answered 
"nothing at all". So the analyst is mean went searching and the sign "nothing at 
all" is different. I kept searching other options, and after some time I saw the 
sign on a site that had it labeled as "all gone."
    <br/>
    I apologize for asking for some of your time but I’ll appreciate your insight 
regarding this sign.
    <br/>
    Kind Regards,
    <br/>
    ______  [Name on File]
    <br/>
   </p>
   <hr align="left" color="#000000" size="1" width="25%"/>
   <p>
   </p>
   <p>
    Dear _______,
    <br/>
    You have come upon one of the most awesome and complex signs in all of 
existence. And for irony the sign means "non-existent."
    <br/>
    NON-EXISTENT-[nothing-at-all/all-gone/nothing-there/blown-through-it-all-with-nothing-remaining/empty/sapped/nothing-left-but-dust/nothing-left-but-air/there-is-nothing-there-at-all]
    <br/>
    The sign is based on the concept of holding out your palm (palm up / in front of 
your mouth) and blowing (puffing actually) as if representing the idea that you 
may have had something on your palm but it is blown into the wind and no longer 
existent in your life. Dust in the wind.
    <br/>
    Your friend simply did a two handed version of the sign.
    <br/>
    When you do the sign, purse your lips a little bit. (You don't actually have to 
blow, but you can if you want for "dramatic effect.")
    <br/>
    - Dr. Bill
    <br/>
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1"/>
   <br/>
   Notes:
   <br/>
   The concept of "nonexistent" may be expressed in several ways depending on your 
context.
   <br/>
   One of the simplest ways is to shake your head negatively while signing HAVE -- 
which means "don't have."
   <br/>
   Another way is to sign: NONE.
   <br/>
   Yet another way is to sign NOT THERE.
   <hr align="left" color="#000000" size="1"/>
   <hr align="left" color="#000000" size="1"/>
   <hr align="left" color="#000000" size="1"/>
   <hr color="#000000" size="1"/>
   <p>
   </p>
  </blockquote>
 </body>
</html>