<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   <br/>
   Here is the "formal" sign for "noon." Noon is done with a flat hand 
			pointing upward and resting on the back of the non-dominant hand.
   <br/>
   <br/>
   NOON:
   <p style="margin-top: 0; margin-bottom: 0">
    <img border="0" src="/images/noon.gif" style="max-width: 100%; height: auto" width="480"/>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <span style="font-weight: 400">
     <font face="Arial">
      <img border="0" height="228" src="/images/lunch-compound4.jpg" width="259"/>
      <br/>
      Memory aid: Think of the dominant hand as the "sun" and the 
			non-dominant arm as the horizon.
      <br/>
      Note: The sign "NOON" is often done as it is above but you sign the 
			number 12 instead of using a flat hand.
      <br/>
     </font>
    </span>
   </p>
   <hr align="left" color="#000000" size="1" width="50%"/>
   <p style="margin-top: 0; margin-bottom: 0">
    <br/>
    Sample sentence:
    <br/>
    <span style="font-weight: 400">
     <font face="Arial">
      TOMORROW EAT NOON, YOU WANT SOUP AND SALAD? (Would you like soup and salad for 
lunch tomorrow?)
      <br/>
      <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/h8l5uj_t_i8?rel=0" width="560">
      </iframe>
      <br/>
      <br/>
      Also see:
      <a href="/dictionary/lunch">
       LUNCH
      </a>
      <br/>
     </font>
    </span>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>