<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   Do the sign for "north" by moving an "N" hand upward.
   <br/>
   Memory tip:
   <font face="Arial">
    If you look at a map, north is usually up (toward the top of the 
			map).
   </font>
   <br/>
   <br/>
   NORTH:
   <br/>
   <img border="0" height="221" src="/images/north1.jpg" width="232"/>
   <img border="0" height="221" src="/images/north2.jpg" width="232"/>
   <img border="0" height="221" src="/images/north3.jpg" width="232"/>
   <br/>
   <hr align="left" color="#000000" size="1" width="50%"/>
   <font face="Arial">
    Also see:
    <br/>
    <a href="/dictionary/east">
     EAST
    </a>
    <br/>
    <a href="/dictionary/south">
     SOUTH
    </a>
    <p>
     <a href="/dictionary/west">
      WEST
     </a>
    </p>
   </font>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>