<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   <br/>
   If you are referring to a nose (as in the nose on your face) you can 
			just tap your nose twice with the tip of your index finger.  If 
			you are referring to the nose of an airplane then use a classifier 
			showing the cone shape. If you are using "nose" to mean the front of 
			a thing then use the sign "front."
   <br/>
   <br/>
   NOSE:
   <p>
    <img border="0" height="213" src="/images/nose.h1.jpg" width="202"/>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1" width="50%"/>
   <p style="margin-top: 0; margin-bottom: 0">
    See:
    <a href="/dictionary/front">
     FRONT
    </a>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>