<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   <span style="font-weight: 400">
    <font face="Arial">
     <p>
      NOT-YET
      <br/>
      Note:
This sign is similar to the sign for "
      <a href="/dictionary/late">
       LATE
      </a>
      " except that
"not-yet" places the tongue over the bottom teeth, and uses a slight
headshake.  The dominant hand moves backward a couple times swinging at 
the wrist.
      <br/>
      <br/>
      <img border="0" height="234" src="/images/notyet14.jpg" width="255"/>
     </p>
     <hr align="left" color="#000000" size="1" width="50%"/>
    </font>
   </span>
  </blockquote>
 </body>
</html>