<html>
 <body>
  <blockquote>
   <h1 style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     <span style="font-weight: 400">
      <font size="5">
       American Sign Language: 
		"notice"
      </font>
     </span>
     <br/>
    </font>
   </h1>
   <p>
   </p>
   <hr align="left" color="#000000" size="1"/>
   <blockquote>
    <p style="margin-top: 0; margin-bottom: 0">
     <span style="font-weight: 400">
      This sign can mean such 
    things as "catch my eye" or "I picked that one out right away."
      <br/>
      <iframe allowfullscreen="" frameborder="0" height="315" name="I1" src="https://www.youtube.com/embed/O3LpW_EpHaw?rel=0" width="560">
      </iframe>
      <br/>
      <br/>
      <img border="0" height="258" src="/images/notice1a.jpg" width="320"/>
      <img border="0" height="258" src="/images/notice1b.jpg" width="320"/>
      <img border="0" height="258" src="/images/notice1c.jpg" width="320"/>
      <br/>
     </span>
    </p>
    <p style="margin-top: 0; margin-bottom: 0">
     <span style="font-weight: 400">
      Notes:  The sign 
    "notice" can be done directionally.  By that I mean you can drop the 
    left hand (or your non-dominant hand) and instead move your index finger in 
    the direct of that which is being noticed.
     </span>
    </p>
    <p style="margin-top: 0; margin-bottom: 0">
    </p>
    <p style="margin-top: 0; margin-bottom: 0">
     NOTICE (directional version):
    </p>
    <p style="margin-top: 0; margin-bottom: 0">
     <iframe allowfullscreen="" frameborder="0" height="315" name="I2" src="https://www.youtube.com/embed/su0Hg7jFJ0g?rel=0" width="560">
     </iframe>
    </p>
    <p style="margin-top: 0; margin-bottom: 0">
    </p>
    <p style="margin-top: 0; margin-bottom: 0">
     You can add 
	emotion, specificity, and location to the sign for NOTICE:
    </p>
    <img border="0" height="320" src="/images/notice-1.jpg" width="361"/>
    <img border="0" height="320" src="/images/notice-2.jpg" width="361"/>
    <img border="0" height="320" src="/images/notice-3.jpg" width="360"/>
    <br/>
    In the example above I am using an expression that indicates: "I didn't 
	expect to see that but I noticed over there was a..."
    <br/>
    <hr align="left" color="#000000" size="1"/>
    <p style="margin-top: 0; margin-bottom: 0">
    </p>
    <p style="margin-top: 0; margin-bottom: 0">
     <b>
      Dr. Bill's Notes:
     </b>
    </p>
    <p style="margin-top: 0; margin-bottom: 0">
     You would not use the typical sign NOTICE to mean the police posted 
			a notice that the building was condemned.
     <br/>
     Instead see:
    </p>
    <p style="margin-top: 0; margin-bottom: 0">
     <a href="/dictionary/post">
      POST
     </a>
     <br/>
     <a href="/dictionary/information">
      INFORMATION
     </a>
    </p>
   </blockquote>
   <hr align="left" color="#000000" size="1"/>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1"/>
   <hr align="left" color="#000000" size="1"/>
   <hr color="#000000" size="1"/>
   <p>
   </p>
  </blockquote>
 </body>
</html>