<html>
 <body>
  <blockquote>
   <h1 style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     <font size="5">
      <span style="font-weight: 400">
       American Sign Language: 
		"noun"
      </span>
     </font>
     <br/>
    </font>
   </h1>
   <blockquote>
    <hr align="left" color="#000000" size="1" width="50%"/>
    <span style="font-weight: 400">
     <p style="margin-top: 0; margin-bottom: 0">
      NOUN:
      <br/>
      Form your non-dominant hand into an "H" handshape.
     </p>
     <p style="margin-top: 0; margin-bottom: 0">
      Form your dominant hand into a 
modified "N" handshape (the index and middle fingers are bent at the large 
knuckle and straight at the other knuckles).
      <br/>
      Hold the "H" hand in front of you pointing to the side. Hold the "N" hand an 
inch above the "H" hand.  Lower the N hand and touch the fingertips to the 
"H" hand, raise the "N" hand an inch and then move it down again to touch the 
"H" hand a second time.
      <br/>
      <br/>
      <img border="0" height="360" src="/images/noun01.gif" width="480"/>
     </p>
    </span>
   </blockquote>
   <hr align="left" color="#000000" size="1"/>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1"/>
   <hr align="left" color="#000000" size="1"/>
   <hr color="#000000" size="1"/>
   <p>
   </p>
  </blockquote>
 </body>
</html>