<html>
 <body>
  <blockquote>
   <p align="right">
    <img alt="back.gif (1674 bytes)" border="0" height="28" onclick="history.go(-1)" src="/images/back.gif" width="54"/>
   </p>
   <h1 align="center">
    <i>
     nurse
    </i>
   </h1>
   <hr color="#800080"/>
   <p>
    NURSE:
    <br/>
    Nurse is an similar to the sign "
    <a href="/dictionary/doctor">
     doctor
    </a>
    ."
    <br/>
    Nurse uses an "N" handshape on your dominant hand to "take your pulse."
    <br/>
    In general you tap the "N" on the wrist twice, but at high speed signing you might see it only touching once.
    <br/>
    <br/>
    <img border="0" height="337" src="/images/nurse.1.jpg" width="320"/>
   </p>
   <hr color="#800080"/>
   <p style="margin-top: 0; margin-bottom: 0">
    See:
    <a href="/dictionary/doctor">
     Doctor
    </a>
   </p>
   <hr color="#800080"/>
   <p align="right">
    <img alt="back.gif (1674 bytes)" border="0" height="28" onclick="history.go(-1)" src="/images/back.gif" width="54"/>
    <br/>
   </p>
   <p align="right">
   </p>
   <p align="right">
   </p>
   <p align="right">
   </p>
   <p align="right">
   </p>
   <p align="right">
   </p>
   <p align="right">
   </p>
   <p align="right">
    <br/>
   </p>
   <p>
   </p>
  </blockquote>
 </body>
</html>