<html>
 <body>
  <blockquote>
   <h1 style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     <span style="font-weight: 400">
      <font size="5">
       American Sign Language: "Obama"
      </font>
     </span>
     <br/>
    </font>
   </h1>
   <blockquote>
    <hr align="left" color="#000000" size="1"/>
    <h3 style="margin-top: 0; margin-bottom: 0">
     (President 
	Barack Obama)
    </h3>
    <p style="margin-top: 0; margin-bottom: 0">
    </p>
    <p style="margin-top: 0; margin-bottom: 0">
     <b>
      Variation 1:  "OBAMA"
     </b>
     (formal)
     <br/>
     Spell: O-B-A-M-A
     <br/>
     <img border="0" height="100" src="/images/o_small.gif" width="100"/>
     <img border="0" height="100" src="/images/b_small.gif" width="100"/>
     <img border="0" height="100" src="/images/a_small.gif" width="100"/>
     <img border="0" height="100" src="/images/m_small.gif" width="100"/>
     <img border="0" height="100" src="/images/a_small.gif" width="100"/>
     <br/>
    </p>
    <hr color="#000000" size="1"/>
    <p>
     <b>
      <br/>
      Variation 2: "OBAMA"
     </b>
     (casual)
     <br/>
     Use an "O" handshape that becomes a backward facing "B" handshape.
     <br/>
     This sign is based on a combination of the letter "O" and the sign for 
	"FLAG."
     <br/>
     <img border="0" height="244" src="/images/obama.1.jpg" width="320"/>
     <img border="0" height="244" src="/images/obama.2.jpg" width="320"/>
     <br/>
     <br/>
     Note: Obama's official "logo" shows an "O" and a flag:
     <br/>
     <img border="0" height="133" src="/images/obama.3.jpg" width="137"/>
     <img border="0" height="218" src="/images/obama.gif" width="320"/>
     "Obama" (Animated Gif)
    </p>
    <p>
    </p>
    <hr align="left" color="#000000" size="1" width="50%"/>
    <p>
    </p>
    <p>
     UPDATE:  As of early 2010, I have noticed the variation above is 
	showing some changes. One of my colleagues indicates that in Texas she is 
	seeing the second part of the sign done with "spread fingers" as a way of 
	representing the stripes in the flag.
     <br/>
    </p>
    <hr color="#000000" size="1"/>
    <p>
     <b>
      <br/>
      Other Variations that showed up in my interviews but never seemed to catch 
	on:
     </b>
     <br/>
     <br/>
     I've also seen or read about "OBAMA" being done as:
     <br/>
     "O"-GOD
     <br/>
     "O"-RAINBOW
     <br/>
     "B"-"O"-(using the movement and location of "PRESIDENT")
     <br/>
     "O"- CHANGE
    </p>
   </blockquote>
   <hr align="left" color="#000000" size="1"/>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1"/>
   <hr align="left" color="#000000" size="1"/>
   <hr color="#000000" size="1"/>
   <p>
   </p>
  </blockquote>
 </body>
</html>