<html>
 <body>
  <blockquote>
   <h1 style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     <font size="5">
      <span style="font-weight: 400">
       American Sign Language: 
		"ocean"
      </span>
     </font>
     <br/>
    </font>
   </h1>
   <blockquote>
    <hr color="#000000" size="1"/>
    <p align="left" style="margin-top: 0; margin-bottom: 0">
     <a href="/dictionary/shark">
      shark
     </a>
     /
     <a href="/dictionary/beach">
      beach
     </a>
     /
     <a href="/dictionary/seahorse">
      seahorse
     </a>
     /
     <a href="/dictionary/octopus">
      octopus
     </a>
     /
     <a href="/dictionary/sea">
      sea
     </a>
     /
     <a href="/dictionary/seahorse">
      seahorse
     </a>
     /
     <a href="/dictionary/sea-park">
      "sea park"
     </a>
     /
     <a href="/dictionary/scuba">
      scuba
     </a>
     /
     <a href="/dictionary/surf">
      surf
     </a>
    </p>
    <hr color="#000000" size="1"/>
    <p style="margin-top: 0; margin-bottom: 0">
     <br/>
     To do the sign for "ocean," use both open relaxed "5"-hands to show the movement of the ocean.  
	The hand move up and down (and a little bit forward) as if two waves are passing under.
     <br/>
     <br/>
     OCEAN:
    </p>
    <p style="margin-top: 0; margin-bottom: 0">
     <img border="0" height="209" src="/images/ocean.6.jpg" width="245"/>
     <img border="0" height="209" src="/images/ocean.7.jpg" width="245"/>
     <img border="0" height="209" src="/images/ocean.8.jpg" width="245"/>
     <img border="0" height="209" src="/images/ocean.9.jpg" width="245"/>
     <img border="0" height="209" src="/images/ocean.10.jpg" width="245"/>
    </p>
    <p style="margin-top: 0; margin-bottom: 0">
    </p>
    <p style="margin-top: 0; margin-bottom: 0">
     OCEAN, YOU LIKE SWIM YOU?
    </p>
    <p style="margin-top: 0; margin-bottom: 0">
     <iframe allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/lCbngn_enQM?rel=0" width="560">
     </iframe>
    </p>
    <p style="margin-top: 0; margin-bottom: 0">
    </p>
    <hr color="#000000" size="1"/>
    <p style="margin-top: 0; margin-bottom: 0">
     <a href="/images/ocean.gif">
      Animation:  OCEAN
     </a>
    </p>
    <hr color="#000000" size="1"/>
   </blockquote>
   <hr align="left" color="#000000" size="1"/>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1"/>
   <hr align="left" color="#000000" size="1"/>
   <hr color="#000000" size="1"/>
   <p>
   </p>
  </blockquote>
 </body>
</html>