<html>
 <body>
  <blockquote>
   <h2 style="margin-top: 0; margin-bottom: 0">
    <span style="font-weight: 400">
     <font face="Arial">
      American Sign Language:  
		"octopus"
     </font>
    </span>
    <font face="Arial">
     <br/>
    </font>
   </h2>
   <blockquote>
    <hr align="left" color="#000000" size="1" width="50%"/>
    <span style="font-weight: 400">
     <p style="margin-top: 0; margin-bottom: 0">
      OCTOPUS:
      <br/>
      <img border="0" height="240" src="/images/octopus-1.jpg" width="277"/>
      <img border="0" height="240" src="/images/octopus-2.jpg" width="277"/>
      <img border="0" height="240" src="/images/octopus-3.jpg" width="277"/>
      <img border="0" height="240" src="/images/octopus-4.jpg" width="277"/>
      <img border="0" height="240" src="/images/octopus-5.jpg" width="277"/>
     </p>
    </span>
   </blockquote>
   <hr align="left" color="#000000" size="1"/>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1"/>
   <hr align="left" color="#000000" size="1"/>
   <hr color="#000000" size="1"/>
   <p>
   </p>
  </blockquote>
 </body>
</html>