<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   <font face="Arial">
    <p>
    </p>
    <p>
     ODD-(opposite of even)
     <br/>
     When referring to "odd and even" numbers just spell the 
  concepts: O-D-D / E-V-E-N.
    </p>
    <p>
     Some people do the sign "
     <a href="/dictionary/equal">
      EQUAL
     </a>
     " to 
			mean "even."
     <br/>
    </p>
    <hr align="left" color="#000000" size="1"/>
   </font>
   <p>
    <font face="Arial">
     <br/>
     The term "odd" can be expressed by using the sign for "STRANGE" but 
if you are 
      talking about "odd numbers" I recommend just
     <i>
      spelling
     </i>
     O-D-D.
    </font>
   </p>
   <p>
   </p>
   <p>
    STRANGE:
    <br/>
    <img border="0" height="222" src="/images/odd.ht25.jpg" width="203"/>
    <img border="0" height="222" src="/images/odd.ht26.jpg" width="203"/>
    <img border="0" height="222" src="/images/odd.ht27.jpg" width="203"/>
    <br/>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
   <p style="margin-top: 0; margin-bottom: 0">
    <br/>
    <font face="Arial">
     Sample sentence:
			"Do you like try strange new food?" = FOOD, STRANGE NEW, YOU LIKE 
			EAT?
     <br/>
     <br/>
    </font>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
   <p style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     <br/>
     Notes:
     <br/>
     <br/>
     STRANGER: Many people use the sign STRANGE with the "
     <a href="/dictionary/agent">
      PERSON 
			/ AGENT
     </a>
     " sign to mean, 
  "stranger."  This usage is contested by and not approved by 
			some ASL instructors.
     <br/>
     <br/>
     Another approach to signing "stranger" is to use the signs "NEW"-"PERSON-(agent)" to mean 
  "stranger."
     <br/>
     <br/>
     Yet another approach is to use the construction of 
			your sentence to create the desired meaning.
     <br/>
     <br/>
     For example: YESTERDAY PRO-1 INDEX-[at] WORK HAPPEN
     <i>
      SOMEONE!
     </i>
     MAN CL:1-"walked_past_quickly" I NEVER SEE PRO-3 BEFORE.  That 
			sentence (
     <a href="/dictionary/gloss">
      gloss
     </a>
     ) would be 
			generally mean: "Yesterday at work a stranger (some guy I've never 
			seen before) rushed past me.
     <br/>
     <br/>
     Also see:
     <a href="/dictionary/strange">
      STRANGE
     </a>
     <br/>
     Also see:
     <a href="/dictionary/weird">
      WEIRD
     </a>
     <br/>
    </font>
   </p>
   <hr align="left" color="#000000" size="1"/>
  </blockquote>
 </body>
</html>