<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   <p>
    <br/>
    ADeaf factory worker writes:
    <br/>
    Hi,
    <br/>
    I went to your website to look up the sign for "official" like an official notice...you did not have that word there unless I 
	did not see it....a sign language lady at my work gave a two weeks notice to leave my work and she asked me the sign for 
	official like an official two weeks notice.
    <br/>
    -- Name on file
    <br/>
    <br/>
    Dear name on file,
    <br/>
    There is no "specific" sign for "official."
    <br/>
    <font face="Arial">
     In choosing the most appropriate sign or set of signs to express the concept 
			"official" we have to consider the context in which it is 
	being used.
    </font>
    <br/>
    <br/>
    In your situation, "a person giving official two-weeks notice" the 
			concept of "official" means that she has definitely decided to quit 
			and that she is following the proper or formal method of quitting.
    <br/>
    <br/>
    The concept of "
    <i>
     definitely
    </i>
    decided" is expressed by doing the 
			sign for "
    <a href="/dictionary/decide">
     DECIDE
    </a>
    " in a firm manner 
			with a slight nod and lips pressed together (as if gritting one's 
			teeth).
    <br/>
    <br/>
    The concept of "formal" tends to be expressed by doing the sign for 
			"
    <a href="/dictionary/polite">
     POLITE
    </a>
    "
    <font face="Arial">
     with a serious facial expression.
     <br/>
     <br/>
     The concept of "proper" can be expressed by using the sign "
     <a href="/dictionary/regular">
      REGULAR 
			/ appropriate
     </a>
     ).
    </font>
    <br/>
    <br/>
    (Perhaps the closest sign to the general meaning of "official" is 
			the sign POLITE.)
    <br/>
    <br/>
    The concept of "to give official notice" could also be summed up as 
			"INFORM-to" which would be expressed via using the one-handed 
			version of the
    <a href="/dictionary/information">
     INFORMATION
    </a>
    sign 
			directionally moving toward the "supervisor's office."
    <br/>
    <br/>
    <font face="Arial">
     Now, here are a few more of the possible approaches to dealing with that term.
    </font>
    <br/>
    <br/>
    If we mean "official" as in "not false" then we could sign "TRUE." Or perhaps even "FOR TRUE" meaning "for sure."
    <br/>
    If we mean a representative of an organization then we could sign "SHOW-PERSON" using an "R" handshape, to mean 
	"representative."
    <br/>
    If we "approved" we show an "A" handshape and change it into a "P" handshape as we slap the dominant hand into the palm of the 
	flat "base" hand.
    <br/>
    Some people might tap an "O" on the dominant shoulder to mean "official" or "officer."
    <br/>
    Another way is to sign "ACCEPT" to mean that something has been "officially accepted."
    <br/>
    "ESTABLISH" or "DECIDE" can also be used to mean "official" and either of these ways might apply to your situation wherein you 
	are being transferred. For example "HEY INFORM-you H-Q (headquarters) DECIDE FINISH YOU CONTINUE HERE TWO WEEK, SWITCH 
	DEPARTMENT." Which would mean, "I'm letting you know that it is official, you have two more weeks here and then you will 
	switch to the other department."
    <br/>
    Good luck with the transfer.
    <br/>
    --Bill
   </p>
   <hr align="left" color="#000000" size="1" width="50%"/>
   <p style="margin-top: 0; margin-bottom: 0">
    See:
    <a href="/dictionary/true">
     TRUE
    </a>
    <br/>
    See:
    <a href="/dictionary/polite">
     POLITE
    </a>
    <br/>
    See:
    <a href="/dictionary/boss">
     BOSS
    </a>
    <br/>
    See:
    <a href="/dictionary/government">
     GOVERNMENT
    </a>
    <br/>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>