<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   <p>
    <br/>
    OKAY:
    <br/>
    Just spell the letters "O" and "K."
    <br/>
    Many people use a slight forward movement.
    <br/>
    <br/>
    <img border="0" height="222" src="/images/okay.h12.jpg" width="217"/>
    <img border="0" height="222" src="/images/okay.h13.jpg" width="217"/>
   </p>
   <p>
   </p>
   <hr color="#000000" size="1"/>
   <p>
    <br/>
    OKAY:
    <br/>
    This sign refers to something having gone through an approval process and 
  having received an "OK."
    <br/>
    Memory tip:  Think of someone stamping the letters OK onto a document.
    <br/>
    <br/>
    <img border="0" height="222" src="/images/okay.h12.jpg" width="217"/>
    <img border="0" height="223" src="/images/okay.h14.jpg" width="219"/>
    <br/>
    Note: Often that "O" letter in "OK" is mutated to form the "O" just using 
	just use the index, middle, and thumb.
    <br/>
   </p>
   <hr color="#000000" size="1"/>
   <br/>
   APPROVE:
   <br/>
   This sign follows the same concept as the "OK" stamp of approval.
   <br/>
   <img border="0" height="223" src="/images/okay.h15.jpg" width="219"/>
   <img border="0" height="223" src="/images/okay.h14.jpg" width="219"/>
   <p style="margin-top: 0; margin-bottom: 0">
    <br/>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>