<html>
 <body>
  <blockquote>
   <h1 style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     <span style="font-weight: 400">
      <font size="5">
       American Sign Language: "The 
		perfect one for me."
      </font>
     </span>
     <br/>
    </font>
   </h1>
   <p>
   </p>
   <p>
   </p>
   <hr align="left" color="#000000" size="1" width="100%"/>
   <div style="display:block;float:right;margin: 5px 5px 5px 20px;">
    <!-- ASL (American Sign Language) 160 x 600 -->
    <ins class="adsbygoogle" data-ad-client="ca-pub-2513564923850231" data-ad-slot="4979558599" style="display:inline-block;width:160px;height:600px">
    </ins>
   </div>
   <div>
    <blockquote style="BORDER-LEFT: blue 2px solid; PADDING-LEFT: 5px; MARGIN-LEFT: 5px">
     <font color="#000000" face="Helvetica" size="2" style="BACKGROUND-COLOR: transparent">
      <div style="BACKGROUND-COLOR: #fff; FONT-FAMILY: HelveticaNeue, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif; COLOR: #000; FONT-SIZE: 16px">
       <div id="yui_3_16_0_1_1447260913837_2521">
        Dr Bill,
       </div>
       <div id="yui_3_16_0_1_1447260913837_2545">
       </div>
       <div id="yui_3_16_0_1_1447260913837_2546">
        My name is Kim and I have to say I am so happy to have found 
				your website American Sign language University. I wanted to take 
				ASL in school but my school only offers spanish and mandrin so I 
				didn't have that choice. But now that I found this website, I 
				can learn it, and at my own pace which is actually a lot easier 
				for me.
       </div>
       <div dir="ltr" id="yui_3_16_0_1_1447260913837_2858">
        I do have a question to ask you.
        <br/>
       </div>
       <div dir="ltr" id="yui_3_16_0_1_1447260913837_2880">
        I know how to count to 10 in ASL so I know what the #1 looks 
				like. However, what if I wanted to sign "one "as in
       </div>
       <div dir="ltr" id="yui_3_16_0_1_1447260913837_2905">
       </div>
       <div dir="ltr" id="yui_3_16_0_1_1447260913837_2906">
        "
        <b>
         that boy is the perfect one for me
        </b>
        "? would I use the 
				same sign as the #1?
        <br/>
       </div>
       <div dir="ltr" id="yui_3_16_0_1_1447260913837_3215">
        I am so glad I found your website. It is amazing. Thank you for 
				reading this email, and I look foward to learning more ASL from 
				it.
       </div>
       <div dir="ltr" id="yui_3_16_0_1_1447260913837_3412">
       </div>
       <div dir="ltr" id="yui_3_16_0_1_1447260913837_3416">
        Kim
       </div>
      </div>
     </font>
    </blockquote>
   </div>
   <p>
    Reply:
    <br/>
    Kim,
    <br/>
    Actually, in ASL you'd sign something like WE-2 MATCH! -- using a large, strong 
movement, and a "very satisfied, affirmative" look on your face.
    <br/>
    It will be a while before you can start "interpreting" ASL. For now just focus 
on going through the lessons and getting a feel for the language.
    <br/>
    - Bill
    <br/>
    <span style="font-weight: 400">
    </span>
    <br/>
    See:
    <a href="/dictionary/perfect">
     PERFECT
    </a>
    <br/>
    See:
    <a href="/dictionary/boy">
     BOY
    </a>
    <br/>
    See:
    <a href="/dictionary/match">
     MATCH
    </a>
    <br/>
    <br/>
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p>
    Notes:
    <br/>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1"/>
   <hr align="left" color="#000000" size="1"/>
   <hr align="left" color="#000000" size="1"/>
   <hr color="#000000" size="1"/>
   <p>
   </p>
  </blockquote>
 </body>
</html>