<html>
 <body>
  <blockquote>
   <h1 style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     <span style="font-weight: 400">
      <font size="5">
       American Sign Language: "our"
      </font>
     </span>
     <br/>
    </font>
   </h1>
   <blockquote>
    <hr align="left" color="#000000" size="1"/>
    <font color="#000000" face="Arial" id="role_document1" size="2">
     <span style="font-weight: 400">
      <div>
       <div>
        OUR:
        <font face="Arial">
         <font color="#000000" face="Arial" id="role_document1" size="2">
          <br/>
          <iframe allowfullscreen="" frameborder="0" height="315" name="I1" src="https://www.youtube.com/embed/NRbLBTghqNk?rel=0" width="560">
          </iframe>
         </font>
        </font>
        <p>
         <font face="Arial">
          <font color="#000000" face="Arial" id="role_document1" size="2">
           <img border="0" height="238" src="/images/our.ht1.jpg" width="320"/>
           <img border="0" height="239" src="/images/our.ht2.jpg" width="320"/>
          </font>
         </font>
         <br/>
         <br/>
         A 
			student named "Summer" writes:
        </p>
       </div>
       <blockquote style="border-left: 2px solid blue; margin-left: 5px; padding-left: 5px">
        <font color="#000000" face="Arial" size="2" style="background-color: transparent">
         <div>
          Hi Dr. Vicars,
         </div>
         <div>
          Thanks for your site!! I don't have time or money to go to a 
				college class to learn ASL right now because I
          <em>
           just
          </em>
          had 
				a baby!  But I just feel drawn to learn more about the Deaf 
				Community and the language.  So - anyway - I was wondering if 
				the sign for "
         </div>
        </font>
       </blockquote>
      </div>
     </span>
     <font color="#000000" face="Arial" size="2" style="background-color: transparent">
      <span style="font-weight: 700">
       our
      </span>
      <span style="font-weight: 400">
       " -- as in, 
				"Who is our teacher?" -- Is it the same 
				sign as "we/us" or if it's the sign for "you and me?" Or is 
				it a completely different sign?
       <div>
        Thanks,
       </div>
       <div>
        Summer
       </div>
      </span>
     </font>
     <span style="font-weight: 400">
     </span>
    </font>
   </blockquote>
   <div>
    Summer,
   </div>
   <div>
    "OUR" is a bit different.  Do the sign "WE" but use a curved hand.  (A 
		curved hand is like a "b" hand but the thumb is along the side and the 
		hand is curved as if scooping up water to take a drink from your hand.)  
		Touch the thumb side of the curved hand to your upper right chest area 
		and then arch the hand in front of you over to your upper left chest 
		area so that the pinkie side touches your chest.
    <br/>
    Now, let me point out something very important.  If you were 
		sitting in a room with other signers waiting for the class to begin and 
		you wanted to know the name of your teacher you would sign: "TEACHER
    <font face="Arial">
     <font color="#000000" face="Arial" id="role_document2" size="2">
      WHO
     </font>
    </font>
    ?"  This would be understood as: "Who is the teacher?" 
		Notice how we don't need the sign OUR? You would only need the sign OUR 
		if you had to distinguish between your group's teacher and some other 
		group's teacher.
    <br/>
    Dr. Bill
   </div>
   <hr align="left" color="#000000" size="1" width="50%"/>
  </blockquote>
 </body>
</html>