<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   "Outside" has several versions.
   <br/>
   The right version will depend 
			on whether you are using "outside" as a noun, verb, or adjective.
   <br/>
   <hr align="left" color="#000000" size="1"/>
   <p>
    <br/>
    Version 1:
    <br/>
    This version of "outside" is generally used as an adjective that means "situated on or pertaining 
	to the outside; exterior; external."  (Some people also use this 
	version as a noun to mean "outdoors" -- especially if you do it large 
	like I'm doing it here.  But there is another sign that specifically 
	means "outdoors." See further below.)
    <br/>
    <font face="Arial">
     <br/>
     OUTSIDE (general version)
    </font>
    <br/>
    <img border="0" height="240" src="/images/outsid1.jpg" width="316"/>
    <img border="0" height="240" src="/images/outsid2.jpg" width="316"/>
    <img border="0" height="240" src="/images/outsid3.jpg" width="316"/>
    <img border="0" height="240" src="/images/outsid4.jpg" width="316"/>
    <br/>
   </p>
   <hr/>
   <p>
    <br/>
    Version 2:
    <br/>
    This version uses a quick repeated movement 
	of "to go out." The repeated movement makes it a noun.  (If you were to 
	do this movement a little larger, with a bit more of a pause between 
	repetitions, it could mean "to go out repeatedly.")  But the way I'm 
	using it here it definitely means: "outside."
    <font face="Arial">
     <br/>
     <br/>
     OUTSIDE / OUTDOORS:
    </font>
    <br/>
    <img border="0" height="240" src="/images/outsid11.jpg" width="300"/>
    <img border="0" height="240" src="/images/outsid12.jpg" width="300"/>
    <img border="0" height="240" src="/images/outsid13.jpg" width="300"/>
    <img border="0" height="240" src="/images/outsid14.jpg" width="300"/>
    <br/>
   </p>
   <hr/>
   <p>
    <br/>
    The verb form of this sign means: "GO-OUT"  You just do a 
	single movement that aims "up and out" at an angle or does a bit of an arc 
	as I'm doing here.  This sign is a larger,
    <i>
     higher
    </i>
    version of 
	the sign
    <a href="/dictionary/leave">
     LEAVE
    </a>
    .
    <br/>
    <font face="Arial">
     <br/>
     "GO-OUT"
    </font>
    <br/>
    <img border="0" height="240" src="/images/outsid5.jpg" width="290"/>
    <img border="0" height="240" src="/images/outsid6.jpg" width="290"/>
    <img border="0" height="240" src="/images/outsid7.jpg" width="290"/>
    <br/>
    <br/>
    Note:  The fact that "a single movement of this sign is a verb and a 
	double movement of this sign makes it a noun" qualifies this sign as a 
	"noun/verb pair."
    <br/>
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p>
    <br/>
    General sign for "OUT."
    <br/>
    Used in contexts such as, "I took it out."
    <br/>
    (Yah...I know my hair,
    <i>
     what little I have
    </i>
    , is mussed. Whatever. Pay 
	attention to my hands.)
   </p>
   <p>
    <img border="0" height="222" src="/images/out1.jpg" width="228"/>
    <img border="0" height="222" src="/images/out2.jpg" width="228"/>
    <img border="0" height="222" src="/images/out3.jpg" width="228"/>
   </p>
   <p>
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p>
    <br/>
    Variation:  EXIT
  (to leave the inside).
    <br/>
    This sign is sometimes used to mean "to have left."  The use of the 
	base hand indicates having been "in."  Walls.
    <br/>
    Think of this sign as meaning, "be inside and then leave."
    <br/>
    Note:  The movement is slightly forward and off to the side. The 
  handshape changes from a loose hand to an "and" hand (squished "O").
    <br/>
    <br/>
    "To go out"  "He/she is out":
   </p>
   <p>
    <img border="0" height="226" src="/images/outside1.jpg" width="230"/>
    <img border="0" height="226" src="/images/outside2.jpg" width="230"/>
    <img border="0" height="226" src="/images/outside3.jpg" width="230"/>
    <br/>
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p>
    OUT/EXIT: animation
    <br/>
    Notice this next variation starts with an "open" hand and closes as it moves 
	out. This open then closed movement is related to influence from the concept 
	of "leave."  For more info, see: "
    <a href="/dictionary/leave">
     LEAVE
    </a>
    "
    <br/>
    <br/>
    <img border="0" height="206" src="/images/exit-out.gif" width="221"/>
    <br/>
   </p>
   <hr color="#000000" size="1"/>
   <div>
    <font face="Arial">
     <br/>
     Notes:
    </font>
    <div>
     <div>
      A colleague (an ASL teacher) writes:
     </div>
     <blockquote style="PADDING-LEFT: 5px; MARGIN-LEFT: 5px; BORDER-LEFT: blue 2px solid">
      <font color="#000000" face="Arial" size="2" style="BACKGROUND-COLOR: transparent">
       ... I use only 
				the one 
				handed sign in a
       <u>
        repeated motion
       </u>
       to show
       <i>
        outside
       </i>
       .  
				"He is 
				outside."  A variation of the sign not repeated combined with a 
				flat palm as shown in your picture is an adjective to show 
				something's out or to go out.  My preference is for the verb 
				"to 
				go out" -- is to use one hand sign, instead of two hands.
      </font>
     </blockquote>
    </div>
    <p>
     Dr. Bill's response:
     <br/>
     Thanks for sharing that. 
		I agree.  The one-handed sign for "outside" is indeed a
     <i>
      widely used
     </i>
     sign and 
		needs to be included on [this] page under the heading of "outside."  
		[fixed]
     <br/>
     <br/>
     I think the two-handed variation is worth posting though since it is also in use to 
		mean "outside."
     <br/>
     For example as of this writing  there is a two-handed version shown at Michigan 
		State University's website that is specifically labeled as "outdoors."
     <font face="Arial">
      [March, 2008]
     </font>
    </p>
   </div>
   <div>
    <br/>
    My
    <em>
     current
    </em>
    thinking for the "outside" page is to:
    <br/>
   </div>
   <div>
    1.  Show the "single movement one handed version" under the heading of 
		"GO-OUT" and label it as a verb and mention that it is related to a very 
		similar sign: "LEAVE." (And then provide a hyperlink to the "LEAVE" 
		page.)
    <br/>
    <br/>
    2.  Show a double movement of the one-handed version and label it as 
		"OUTSIDE" and indicate that it is widely used as a "noun" form.
   </div>
   <div>
   </div>
   <div>
    3.  Show the two-handed version of the general "out/outside" sign 
		and label it as the general sign for "OUT" and explain that
    <i>
     some
    </i>
    people 
		use it to mean "go out," 
		"outside," and/or "outdoors."
    <br/>
    <br/>
    As an instructor in the classroom I like to show my students various 
		sentences so they can get a better feel for the meaning and usage of 
		this sign. 
		For example, when I sign, "Do you want to go out to eat?"  I always use 
		the "single movement / one-handed" version of "GO-OUT."
    <br/>
    Again, thanks for your input.
    <br/>
    -- Dr. Bill
   </div>
   <p style="margin-top: 0; margin-bottom: 0">
    <br/>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>