<html>
 <body>
  <blockquote>
   <h1 style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     <span style="font-weight: 400">
      <font size="5">
       owe / bill / debt / afford
      </font>
     </span>
    </font>
   </h1>
   <p>
    In American Sign Language (ASL) the concepts of owe, bill, debt, and/or afford 
can be expressed (in context) by jabbing the upward facing non-dominant palm 
with the tip of the dominant hand index finger twice. In real life everyday 
signing you may see this sign lean toward noun / verb grammar with the verb 
consisting of a single movement and the noun consisting of a double movement.
   </p>
   <p>
    OWE / bill / debt / afford
    <br/>
    <img border="0" height="220" src="/images/owe.ht10.jpg" width="190"/>
    <img border="0" height="220" src="/images/owe.ht11.jpg" width="190"/>
    <img border="0" height="220" src="/images/owe.ht10.jpg" width="190"/>
    <img border="0" height="220" src="/images/owe.ht11.jpg" width="190"/>
   </p>
   <p>
    Memory aid: Jab your palm twice as if pointing out a contract 
			with an amount due or owed.
   </p>
   OWE / bill / debt / afford:
   <p style="margin-top: 0; margin-bottom: 0">
    <img border="0" height="220" src="/images/owe.gif" width="190"/>
    (animation)
    <br/>
    <br/>
    <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/Ckgt9JH2o8c?rel=0" width="560">
    </iframe>
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p>
    Notes:
    <br/>
    To express the concept of "owe" you may also see or combinations of signs such 
as:
    <br/>
    YOU RESPONSIBLE PAY $29.95 MONTHLY.
   </p>
   <p>
    Also see:
    <br/>
    AFFORD
    <br/>
    DEBT
    <br/>
    BILL
    <br/>
    <br/>
    Compare and contrast with
    <br/>
    THIS
    <br/>
    PAY
   </p>
   <hr align="left" color="#000000" size="1"/>
   <hr align="left" color="#000000" size="1"/>
   <hr align="left" color="#000000" size="1"/>
   <hr color="#000000" size="1"/>
   <p>
   </p>
  </blockquote>
 </body>
</html>