<html>
 <body>
  <blockquote>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
    <p>
     To do the sign for "owl," hold "O" hands in front of your eyes. Twist your hands inward. Repeat.
     <br/>
     <br/>
     OWL:
    </p>
    <p>
     <img border="0" height="218" src="/images/owl.ht16.jpg" width="241"/>
     <img border="0" height="218" src="/images/owl.ht17.jpg" width="241"/>
     <img border="0" height="218" src="/images/owl.ht16.jpg" width="241"/>
     <img border="0" height="218" src="/images/owl.ht17.jpg" width="241"/>
    </p>
    <hr align="left" color="#000000" size="1" width="50%"/>
    <p>
    </p>
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>