<html>
 <body>
  <blockquote>
   <font face="Arial">
    <p>
     <span style="font-weight: 400">
      <font size="5">
       American Sign Language: "pacifier"
      </font>
     </span>
    </p>
    <blockquote>
     <hr align="left" color="#000000" size="1"/>
     <p>
      There is no one "perfect" sign for "pacifier."  In general you are going to 
have to mime the action of putting one into your mouth using either an "x" 
handshape or a loose "G" handshape.  Or you can tap your lips 
			twice with the front knuckle of the X-hand.
     </p>
     <p>
      <br/>
      PACIFIER (version 1)
      <br/>
      Use an "x" hand or a modified X hand:
      <br/>
      <img border="0" height="240" src="/images/pacifier1.jpg" width="352"/>
      <br/>
     </p>
     <hr align="left" color="#000000" size="1"/>
     <p>
      There is another version that uses a loose "G" handshape.
     </p>
     <p>
      <img border="0" height="240" src="/images/pacifier2.jpg" width="352"/>
     </p>
     <p style="margin-top: 0; margin-bottom: 0">
     </p>
     <hr align="left" color="#000000" size="1" width="50%"/>
     <p style="margin-top: 0; margin-bottom: 0">
      Notes:
      <br/>
      I have seen people using a palm-back-"T" hand for the sign for 
			pacifier.  If you see
      <b>
       native
      </b>
      Deaf adults in your local 
			area doing the sign, feel free to copy them.  While 
			I sort of like the iconic (picture-like) aspects of that version I'm 
			not totally comfortable with it.
     </p>
    </blockquote>
    <hr align="left" color="#000000" size="1"/>
    <p align="center" style="margin-top: 0; margin-bottom: 0">
    </p>
    <p align="center" style="margin-top: 0; margin-bottom: 0">
    </p>
    <hr align="left" color="#000000" size="1"/>
   </font>
   <b>
    <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=XHRNABERKJT4N" rel="nofollow" target="_blank">
     <u>
      DONATE
     </u>
    </a>
   </b>
   <font size="2">
    (
    <i>
     Thanks!
    </i>
    )
   </font>
   <br/>
   <br/>
   <font face="Arial">
    *
   </font>
   Another way to help is to buy something from Dr. Bill's "
   <b>
    <a href="/dictionary/bookstore">
     <u>
      Bookstore
     </u>
    </a>
   </b>
   ."
   <hr align="left" color="#000000" size="1"/>
   <hr color="#000000" size="1"/>
   <p>
   </p>
  </blockquote>
 </body>
</html>