<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   <br/>
   This "page" sign can be used to mean "look something up" or a "page" in a book.
   <p style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     Hold your non-dominant flat hand (palm facing up) in front of you as 
			if representing a book.
     <br/>
     Form your dominant hand into an "A"-handshape with a prominent 
			thumb.  Using a double movement (gently) strike backward across 
			your palm with your thumb-tip as if turning pages with your thumb.
     <br/>
    </font>
    <br/>
   </p>
   <p>
    PAGE:
   </p>
   <p>
    <img border="0" height="227" src="/images/page.h23.jpg" width="270"/>
    <img border="0" height="227" src="/images/page.h24.jpg" width="270"/>
    <img border="0" height="227" src="/images/page.h25.jpg" width="270"/>
    <img border="0" height="227" src="/images/page.h26.jpg" width="270"/>
    <img border="0" height="100" src="/images/page.gif" width="134"/>
    <br/>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
   <p align="left">
    <br/>
    You can put a "D" hand on the sign for "PAGE" and it changes the meaning 
	into "dictionary."
    <br/>
    <br/>
    DICTIONARY:
   </p>
   <p align="left">
    <img border="0" height="228" src="/images/dictionary28.jpg" width="245"/>
    <img border="0" height="228" src="/images/dictionary29.jpg" width="245"/>
   </p>
   <hr align="left" color="#000000" size="1" width="50%"/>
   <p style="margin-top: 0; margin-bottom: 0">
    See:
    <a href="/dictionary/paper">
     PAPER
    </a>
    <br/>
    <br/>
    Notes:
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    If you put an "E" on the 
			dominant hand this sign can be used to mean "encyclopedia."
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>