<html>
 <body>
  <blockquote>
   <h1 style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     <font size="5">
      <span style="font-weight: 400">
       American Sign Language: 
		"pair"
      </span>
     </font>
     <br/>
    </font>
   </h1>
   <p style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1" width="50%"/>
   <span style="font-weight: 400">
    <p style="margin-top: 0; margin-bottom: 0">
     The sign for pair depends on your 
meaning.
    </p>
    <p style="margin-top: 0; margin-bottom: 0">
     Sometimes the topic and other signs 
in the sentence do not require a separate sign for "pair."  For example, "a 
pair of socks."   By default the sign SOCKS is considered to refer to 
two socks, not just one. So in that case we don't use a separate sign for 
"pair."
     <br/>
    </p>
    <p style="margin-top: 0; margin-bottom: 0">
     Consider the phrase, "Those two make 
a cute pair."  We would sign that as, "THEY-2 CUTE" or "THEY-2 CUTE 
TOGETHER."  Thus the concept of "pair" is conveyed via the sign THEY-2.
     <br/>
    </p>
    <hr align="left" color="#000000" size="1" width="50%"/>
    <p style="margin-top: 0; margin-bottom: 0">
     See:
     <a href="/dictionary/both" style="text-decoration: none">
      BOTH
     </a>
    </p>
    <hr align="left" color="#000000" size="1" width="50%"/>
    <p style="margin-top: 0; margin-bottom: 0">
     See:
     <a href="/dictionary/either" style="text-decoration: none">
      EITHER
     </a>
     <br/>
    </p>
   </span>
   <hr align="left" color="#000000" size="1"/>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1"/>
   <hr align="left" color="#000000" size="1"/>
   <hr color="#000000" size="1"/>
   <p>
   </p>
  </blockquote>
 </body>
</html>