<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1" width="50%"/>
   <span style="font-weight: 400">
    <font face="Arial">
     <p style="margin-top: 0; margin-bottom: 0">
      PANCAKE:
      <br/>
      Memory aid: 
This sign is looks like you are flipping a pancake.
     </p>
     <p>
     </p>
     <p>
      <img border="0" height="228" src="/images/pancake1.jpg" width="259"/>
      <img border="0" height="228" src="/images/pancake2.jpg" width="259"/>
      <img border="0" height="228" src="/images/pancake3.jpg" width="259"/>
      <img border="0" height="228" src="/images/pancake4.jpg" width="259"/>
      <img border="0" height="228" src="/images/pancake5.jpg" width="259"/>
      <img border="0" height="228" src="/images/pancake6.jpg" width="259"/>
      <img border="0" height="228" src="/images/pancake7.jpg" width="259"/>
      <img border="0" height="228" src="/images/pancake8.jpg" width="259"/>
      <img border="0" height="228" src="/images/pancake9.jpg" width="259"/>
     </p>
     <hr align="left" color="#000000" size="1"/>
     <p>
      PANCAKE: (variation)
      <br/>
      Note:  There is an initialized version of this sign that uses the tip of
the middle finger of the right "p" hand to draw a pancake sized
circle about a half an inch above the surface of the left flat hand. 
(I recommend you stick with the pancake flipping version above.)
     </p>
     <p>
      <img border="0" height="237" src="/images/pancakeinitialized1.jpg" width="237"/>
      <img border="0" height="237" src="/images/pancakeinitialized2.jpg" width="237"/>
      <img border="0" height="237" src="/images/pancakeinitialized3.jpg" width="237"/>
      <img border="0" height="237" src="/images/pancakeinitialized4.jpg" width="237"/>
      <img border="0" height="237" src="/images/pancakeinitialized5.jpg" width="237"/>
      <img border="0" height="237" src="/images/pancakeinitialized6.jpg" width="237"/>
      <img border="0" height="237" src="/images/pancakeinitialized7.jpg" width="237"/>
      <img border="0" height="237" src="/images/pancakeinitialized8.jpg" width="237"/>
      <img border="0" height="237" src="/images/pancakeinitialized9.jpg" width="237"/>
      <img border="0" height="237" src="/images/pancakeinitialized10.jpg" width="237"/>
     </p>
    </font>
   </span>
  </blockquote>
 </body>
</html>