<html>
 <body>
  <blockquote>
   <h1 style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     <font size="5">
      <span style="font-weight: 400">
       American Sign Language: 
		"panda"
      </span>
     </font>
     <br/>
    </font>
   </h1>
   <blockquote>
    <hr align="left" color="#000000" size="1" width="50%"/>
    <span style="font-weight: 400">
     <p>
      Here is a version of the sign for "panda bear" that I learned on my travels. 
I can't recall if it was Taipei or Singapore that I picked this up but it was 
one of the two. I like this version for several reasons:
      <br/>
      <br/>
      1. Apparently it is used by (at least some) people who live on a continent that 
actually has indigenous pandas.
      <br/>
      2. It is iconic (it depicts a characteristic of pandas)
      <br/>
      3. It doesn't conflict with the sign for goggles
      <br/>
      4. It doesn't require the use of an English initial.
      <br/>
      5. It doesn't require a compound such as "GOGGLES-BEAR" but rather it can be 
done with one sign and is thus fairly efficient.
      <br/>
      <br/>
      PANDA-[version]
     </p>
     <p style="margin-top: 0; margin-bottom: 0">
      <iframe allow="autoplay; encrypted-media" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/0bg1B95W9fY?rel=0" width="560">
      </iframe>
     </p>
     <p style="margin-top: 0; margin-bottom: 0">
     </p>
     <p style="margin-top: 0; margin-bottom: 0">
      Notes:
      <br/>
      In the U.S. there is no single dominant sign for "panda" as in a "panda bear." 
Of the various signs in use the most popular variations tend to involve 
depicting the eye circles of panda bears.
      <br/>
      <br/>
      If telling a story, you could spell the word "panda" and, if necessary, describe 
it using signs like: CHINA, BEAR, BLACK, WHITE.  Then as you tell the story 
you would simply use the sign BEAR to mean "panda bear" because you have already 
identified the bear as a "panda bear" at the beginning of the story.
     </p>
     <p style="margin-top: 0; margin-bottom: 0">
      <br/>
      You can use a phrase such as, 
"You know, there in China, they have a bear that is black and white.
      <br/>
     </p>
     <hr align="left" color="#000000" size="1" width="50%"/>
     <p style="margin-top: 0; margin-bottom: 0">
      "you know" = know
      <br/>
      "there"
      <br/>
      <img border="0" height="240" src="/images/know.11.jpg" width="235"/>
      <img border="0" height="240" src="/images/there.12.jpg" width="235"/>
     </p>
     <hr align="left" color="#000000" size="1" width="50%"/>
     <p style="margin-top: 0; margin-bottom: 0">
      CHINA (new version)
      <br/>
      <img border="0" height="240" src="/images/china.13.jpg" width="235"/>
      <img border="0" height="240" src="/images/china.14.jpg" width="235"/>
      <img border="0" height="240" src="/images/china.15.jpg" width="235"/>
     </p>
     <p style="margin-top: 0; margin-bottom: 0">
     </p>
     <hr align="left" color="#000000" size="1" width="50%"/>
     <p style="margin-top: 0; margin-bottom: 0">
      BLACK
      <br/>
      <img border="0" height="240" src="/images/black.16.jpg" width="243"/>
      <img border="0" height="240" src="/images/black.17.jpg" width="243"/>
     </p>
     <hr align="left" color="#000000" size="1" width="50%"/>
     <p style="margin-top: 0; margin-bottom: 0">
      WHITE
      <br/>
      <img border="0" height="240" src="/images/white.18.jpg" width="243"/>
      <img border="0" height="240" src="/images/white.19.jpg" width="243"/>
     </p>
     <hr align="left" color="#000000" size="1" width="50%"/>
     <p style="margin-top: 0; margin-bottom: 0">
      BEAR:
      <br/>
      Make a clawing movement at your chest.  Repeat.
      <br/>
      Note: Do not practice this sign on other people.
     </p>
     <p style="margin-top: 0; margin-bottom: 0">
      <img border="0" height="240" src="/images/bear.20.jpg" width="243"/>
      <img border="0" height="240" src="/images/bear.21.jpg" width="243"/>
      <br/>
      <img border="0" height="240" src="/images/bear.20.jpg" width="243"/>
      <img border="0" height="240" src="/images/bear.21.jpg" width="243"/>
     </p>
     <hr align="left" color="#000000" size="1" width="50%"/>
     <p style="margin-top: 0; margin-bottom: 0">
      Note: Some people might try to tell 
you that in ASL you should sign "BEAR" first and BLACK / WHITE second.  
While that grammar structure is one of the correct ways to sign this concept, it 
is also correct to sign "black" and "white" just before signing "bear."  
The ASL Linguistics book by Vali and Lucas is quite clear on the concept that 
certain adjectives can precede nouns in ASL.  (For example, "YELLOW 
HOUSE.")
     </p>
    </span>
    <hr color="#000000"/>
    <p style="margin-top: 0; margin-bottom: 0">
     <br/>
     Note: There are a couple of initialized versions of the sign for "panda" that 
are becoming less common due to the diminishing use of initials in the American 
Deaf Community. Since these are (now) considered Signed English I would not 
recommend them for "ASL" classes:
     <br/>
    </p>
    <p style="margin-top: 0; margin-bottom: 0">
     1. Signing BEAR using "P" handshapes.
     <br/>
     2. Circling the eyes with "P" handshapes.
    </p>
    <p style="margin-top: 0; margin-bottom: 0">
    </p>
   </blockquote>
   <hr align="left" color="#000000" size="1"/>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1"/>
   <hr align="left" color="#000000" size="1"/>
   <hr color="#000000" size="1"/>
   <p>
   </p>
  </blockquote>
 </body>
</html>