<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   <font face="Arial">
    <p align="left">
     <font size="+1">
      T
     </font>
     he sign for "pants" is
    made by placing both of your hands in an open position just below your waist.  Bring
    both hands up to your waist.  As your hands come up, bend your knuckles 
	and curl your fingers up a bit.
    </p>
    PANTS (Version 1)  (Use a double movement)
    <br/>
    <img height="233" src="/images/pants.gif" width="240"/>
    <p>
     <img border="0" height="240" src="/images/pantsc1.jpg" width="252"/>
     <img border="0" height="240" src="/images/pantsc2.jpg" width="252"/>
     <img border="0" height="240" src="/images/pantsc1.jpg" width="252"/>
     <img border="0" height="240" src="/images/pantsc2.jpg" width="252"/>
    </p>
    <p>
     <iframe allow="autoplay; encrypted-media" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/-V0Dkeyno2s?rel=0" width="560">
     </iframe>
    </p>
    <hr align="left" color="#000000" size="1"/>
    <p align="left">
     Student: Can the same sign be used for pants and slacks?  I've seen two
    different signs for pants and slacks.
     <br/>
     <br/>
     Dr Vicars: I personally don't use a separate sign for slacks and pants. I 
	use the same sign for both but for slacks I precede the pants sign with the 
	sign "NICE" or the sign "FANCY.  When I sign
    "FANCY"+"PANTS" I use a very small, subdued movement for 
	"fancy" to indicate "classy" rather than "over the top." Some people sign 
	"church" pants. For example in it is common for an adult to tell a child to 
	wear their "church pants;" or for a husband to ask his wife "Where are my 
	church pants?" (Hey, "I" don't do that -- I
     <i>
      know
     </i>
     where my pants are. 
	I'm just saying
     <i>
      some
     </i>
     guys do it.)
    </p>
    <p align="left">
     Of course, you should always check with the Deaf in your area to 
	see what
     <i>
      they
     </i>
     are using.  If a Deaf friend feels strongly about 
	one version or another -- by all
    means sign it his/her way.
    </p>
    <hr align="left" color="#000000" size="1"/>
    <p>
     Another way to sign pants is
    to show the legs of the pants by moving your "b" palms down each leg.
     <br/>
     <br/>
     PANTS ("leg" variation)
     <br/>
     <img border="0" height="240" src="/images/pantsb1.jpg" width="262"/>
     <img border="0" height="240" src="/images/pantsb2.jpg" width="262"/>
     <img border="0" height="240" src="/images/pantsb3.jpg" width="262"/>
     <img border="0" height="240" src="/images/pantsb4.jpg" width="262"/>
     <br/>
     <br/>
     STUDENT:  "I've seen this sign done with "P" handshapes moving down the 
	leg. Is that okay?"
     <br/>
     Dr. Bill:  No, it is
     <i>
      not
     </i>
     good to "P" down your leg. (heh)
    </p>
    <hr align="left" color="#000000" size="1"/>
    <br/>
    PANTS (version)
    <br/>
    <iframe allow="autoplay; encrypted-media" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/MnG-39ns_8c?rel=0" width="560">
    </iframe>
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>