<html>
 <body>
  <blockquote>
   <h1 style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     <span style="font-weight: 400">
      <font size="5">
       ASL: "parameters"  
		/ "The parameters of a sign"
      </font>
     </span>
     <br/>
    </font>
   </h1>
   <p>
    <br/>
    "Parameters" is a context-dependent concept. There are a number of ways to sign 
parameters based on the intended meaning and the extent of established context. 
The way I sign parameters at the beginning of a lesson on parameters is 
different than the way I sign the concept at the end of the lesson. During the 
initial introduction of the concept (when teaching in an American classroom) the 
term "parameters" is commonly fingerspelled and then explained using signs such 
as EACH SIGN HAS DIFFERENT DIFFERENT PART. We can use other signs such as "ITS" 
(the 3rd person possessive pronoun" and CHARACTER-(characteristics) and then 
explain the various characteristics using signs such as MOVE-around, HANDS 
SHAPE, AREA-(location) PALM-[forward/back]-(palm-orientation). At some point we 
end up using the non-dominant hand "INDEX-list" sign that is sometimes labeled 
as "THESE." Then from that point on during that conversation we tend to sign 
"parameters" by signing "SIGN INDEX-list." The next day in class we can be more 
brief in our introduction of the topic and more quickly move to the point where 
we sign "INDEX-list" and our students know exactly to what we are referring.
    <br/>
    See:
    <a href="https://youtu.be/hALar-FlDEE">
     https://youtu.be/hALar-FlDEE
    </a>
   </p>
   <p>
    <br/>
    INDEX-LIST-[on-the-non-dominant-hand]
    <br/>
    THESE-[non-dominant-hand-indexing]-[list]-[items]-[parameters]-[aspects]
   </p>
   <p>
    <img border="0" height="480" src="/images/list-index-list-01.jpg" width="480"/>
    <img border="0" height="480" src="/images/list-index-list-02.jpg" width="480"/>
    <ins class="adsbygoogle" data-ad-client="ca-pub-2513564923850231" data-ad-slot="4979558599" style="display:inline-block;">
     <img border="0" height="480" src="/images/list-index-list-03.jpg" width="480"/>
    </ins>
   </p>
   <p>
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p>
    Notes:
    <br/>
    If you mean parameters as in "measurements" see:
    <a href="/dictionary/measure">
     MEASURE
    </a>
   </p>
   <p>
    If you mean parameters as in "parts" see:
    <a href="/dictionary/some">
     SOME/part
    </a>
    <br/>
    If you mean parameters as in a "list" see:
    <a href="/dictionary/list">
     LIST
    </a>
    <br/>
    <br/>
    Also see:
    <br/>
    <a href="/dictionary/different">
     DIFFERENT
    </a>
   </p>
   <p>
    <a href="/dictionary/character">
     CHARACTER
    </a>
    <br/>
    <a href="/dictionary/hands">
     HANDS
    </a>
   </p>
   <p>
    <a href="/dictionary/shape">
     SHAPE
    </a>
    <br/>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1"/>
   <hr align="left" color="#000000" size="1"/>
   <hr align="left" color="#000000" size="1"/>
   <hr color="#000000" size="1"/>
   <p>
   </p>
  </blockquote>
 </body>
</html>