<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   <font face="Arial">
    <br/>
    <u>
     Subject: Sign for Paramedic
    </u>
    <br/>
    <br/>
    Hi Dr. Bill,
    <br/>
    If you get a chance, can you tell me if the sign for 'paramedic' is 
			the
    <br/>
    same as the sign for 'hospital', but with a 'p' hand shape?
    <br/>
    Thank you,
    <br/>
    - Heather Lowe
    <br/>
    <br/>
    Dear Heather,
    <br/>
    I would
    <b>
     not
    </b>
    do a cross on the shoulder to mean paramedic 
			because that would
    <b>
     conflict
    </b>
    with the sign for "patient." (As 
			in a "hospital patient.")
    <br/>
    If you need to sign "paramedic"
    <b>
     <span style="background-color: #FFFF00">
      I would recommend tapping 
			the tip of the middle finger of the "P" hand twice on the 
			non-dominant wrist
     </span>
     .
    </b>
    <br/>
    - Dr. Bill
    <br/>
   </font>
   <br/>
   <p style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     Dr. Bill,
     <br/>
     Oh, like 'd' on the wrist for doctor, but 'p' for paramedic. That 
			makes sense.
     <br/>
     My ASL study group was wondering about this so I'll pass the sign on 
			to them.
     <br/>
     Thank you very much,
     <br/>
     -  Heather Lowe
     <br/>
     <br/>
    </font>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
   <p style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     See:
     <a href="/dictionary/doctor">
      DOCTOR
     </a>
     <br/>
     See:
     <a href="/dictionary/hospital">
      HOSPITAL
     </a>
    </font>
    <br/>
    S
    <font face="Arial">
     ee:
     <a href="/dictionary/patient">
      PATIENT (Scroll down on the "Patient" 
			page to see the medical version done on the shoulder.)
     </a>
    </font>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>