<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   <font face="Arial">
    <p>
     The sign for "paranoid" is done by putting the tip of the middle 
			finger of a "P"-handshape onto the side of your forehead and 
			twisting it twice.
     <br/>
     <br/>
     PARANOID:
     <br/>
     <img border="0" height="231" src="/images/suspec13.jpg" width="213"/>
     <img border="0" height="231" src="/images/suspec14.jpg" width="213"/>
     <img border="0" height="231" src="/images/suspec15.jpg" width="213"/>
     <img border="0" height="231" src="/images/suspec14.jpg" width="213"/>
     <br/>
    </p>
    <hr align="left" color="#000000" size="1"/>
    <p>
     Also see:
     <a href="/dictionary/suspect">
      SUSPECT
     </a>
    </p>
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>