<html>
 <body>
  <blockquote>
   <h1 style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     <span style="font-weight: 400">
      <font size="5">
       American Sign Language: "park"
      </font>
     </span>
     <br/>
    </font>
   </h1>
   <blockquote>
    <hr align="left" color="#000000" size="1"/>
    <p style="margin-top: 0; margin-bottom: 0">
     The right sign for "park"
     <i>
      depends on what you mean
     </i>
     .
    </p>
    <hr align="left" color="#000000" size="1"/>
    <p style="margin-top: 0; margin-bottom: 0">
     <br/>
     If you mean "park" as in "park a car":
     <br/>
     See:
     <a href="/dictionary/park-car">
      PARK-car
     </a>
     <br/>
     See:
     <a href="/dictionary/parking-lot">
      PARKING- LOT
     </a>
     <br/>
     See:
     <a href="/dictionary/parking-permit" style="text-decoration: none; font-weight: 400">
      PARKING PERMIT
     </a>
     <br/>
    </p>
    <hr align="left" color="#000000" size="1" width="50%"/>
    <p style="margin-top: 0; margin-bottom: 0">
     <br/>
     If you mean "park" as in "a place of recreation" then you should fingerspell 
	P-A-R-K:
    </p>
    <p style="margin-top: 0; margin-bottom: 0">
    </p>
    <p style="margin-top: 0; margin-bottom: 0">
     <iframe allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/jVvRN6qR6Ww?rel=0" width="560">
     </iframe>
    </p>
    <p style="margin-top: 0; margin-bottom: 0">
     <img alt="p.gif (153349 bytes)" border="2" height="100" src="/images/p_small.gif" width="100" xthumbnail-orig-image="../../fingerspelling/abc-gifs/p.gif"/>
     <img alt="a.gif (156187 bytes)" border="2" height="100" src="/images/a_small.gif" width="100" xthumbnail-orig-image="../../fingerspelling/abc-gifs/a.gif"/>
     <img alt="r.gif (298585 bytes)" border="2" height="100" src="/images/r_small.gif" width="100" xthumbnail-orig-image="../../fingerspelling/abc-gifs/r.gif"/>
     <img alt="k.gif (212371 bytes)" border="2" height="100" src="/images/k_small.gif" width="100" xthumbnail-orig-image="../../fingerspelling/abc-gifs/k.gif"/>
     <br/>
    </p>
    <hr align="left" color="#000000" size="1" width="50%"/>
    <p style="margin-top: 0; margin-bottom: 0">
     <br/>
     <span style="font-weight: 400">
      If you are talking about an area of land that 
    has trees then you can use the sign "FOREST" which is a pluralized version 
    of
      <a href="/dictionary/tree">
       TREE
      </a>
      .
      <br/>
      <br/>
      FOREST = PARK-(version)
     </span>
    </p>
    <p style="margin-top: 0; margin-bottom: 0">
    </p>
    <p style="margin-top: 0; margin-bottom: 0">
     <iframe allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/56QIi_mrzvo?rel=0" width="560">
     </iframe>
     <br/>
     <br/>
     See:
     <a href="/dictionary/forest">
      FOREST
     </a>
     <br/>
    </p>
    <hr align="left" color="#000000" size="1" width="50%"/>
    <p style="margin-top: 0; margin-bottom: 0">
     <br/>
     If you mean "park" as in an "amusement park" then you could sign
     <a href="/dictionary/enjoy">
      ENJOY
     </a>
     and spell P-A-R-K, but really in the Deaf 
	World we rarely use the phrase "amusement park." Instead we just tend to 
	refer to a few specific parks to establish that we are talking about "that" 
	type of park. I've seen some of my friends sign ROLLERCOASTER P-A-R-K.
     <br/>
     See:
     <a href="/dictionary/disneyland">
      DISNEYLAND
     </a>
     <br/>
     <span style="font-weight: 400">
      See:
     </span>
     <a href="/dictionary/six-flags">
      SIX-FLAG
     </a>
     <br/>
    </p>
    <hr align="left" color="#000000" size="1" width="50%"/>
    <p style="margin-top: 0; margin-bottom: 0">
     <br/>
     Marine Park
     <span style="font-weight: 400">
      <br/>
      See:
      <a href="/dictionary/fish-different-different-look-around">
       FISH-DIFFERENT-DIFFERENT-LOOK-AROUND
      </a>
      <br/>
      See:
     </span>
     <a href="/dictionary/fish-look-around">
      FISH-LOOK-AROUND
     </a>
     <span style="font-weight: 400">
      <br/>
      See:
      <a href="/dictionary/fish-park">
       FISH-PARK
      </a>
     </span>
     <br/>
     See:
     <a href="/dictionary/sea-world">
      SEA-WORLD
     </a>
    </p>
   </blockquote>
   <hr align="left" color="#000000" size="1"/>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1"/>
   <hr align="left" color="#000000" size="1"/>
   <hr color="#000000" size="1"/>
   <p>
   </p>
  </blockquote>
 </body>
</html>