<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   <span style="font-weight: 400">
    <font face="Arial">
     <p>
     </p>
     <p style="margin-top: 0; margin-bottom: 0">
      "Park a car" / PARKED:
      <br/>
      <img border="0" height="221" src="/images/parkinglot1.jpg" width="254"/>
      <img border="0" height="221" src="/images/parkinglot2.jpg" width="254"/>
      <img border="0" height="221" src="/images/parkinglot3.jpg" width="254"/>
     </p>
    </font>
   </span>
   <p style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1" width="50%"/>
   <p style="margin-top: 0; margin-bottom: 0">
    <br/>
    Sample sentence: 
			Do parking-lot supervisors earn a lot?
    <br/>
    <br/>
    <br/>
    <br/>
    Also see:
    <a href="/dictionary/park">
     PARK
    </a>
    <br/>
    <font face="Arial">
     Also see:
     <a href="/dictionary/parking-lot">
      PARKING- LOT
     </a>
     <br/>
     Also see:
     <a href="/dictionary/parking-permit" style="text-decoration: none; font-weight: 400">
      PARKING PERMIT
     </a>
    </font>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>