<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   <p style="margin-top: 0; margin-bottom: 0">
    PASS:  The right hand moves past the left hand.  
Your right hand (or left hand if you are left hand dominant) moves.  The 
left hand doesn't move (stays stationary).
   </p>
   <p>
    <img border="0" height="213" src="/images/pass.h1.jpg" width="214"/>
    <img border="0" height="213" src="/images/pass.h2.jpg" width="214"/>
    <img border="0" height="213" src="/images/pass.h3.jpg" width="214"/>
    <br/>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
    <p>
     <br/>
     Sample sentence:
Have you passed trigonometry?  = T-R-I-G YOU FINISH PASS YOU?
     <br/>
     <br/>
    </p>
    <p>
    </p>
   </font>
   <hr align="left" color="#000000" size="1"/>
   <font face="Arial">
    See:
    <a href="/dictionary/with">
     WITH
    </a>
    <p>
     See:
     <a href="/dictionary/race">
      RACE
     </a>
    </p>
    <hr align="left" color="#000000" size="1"/>
   </font>
   <p style="margin-top: 0; margin-bottom: 0">
    <br/>
    Notes:
    <br/>
    Regarding the sign "trigonometry" in the practice sentence: 
Realistically, if there is sufficient context (if we've been talking 
about math) I just spell T-R-I-G.  It is good to know both 
versions (the initialized "MATH" version using "T"-hands, and the 
fingerspelled version.
    <br/>
    <br/>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>