<html>
 <body>
  <blockquote>
   <h1 style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     <font size="5">
      <span style="font-weight: 400">
       American Sign Language: 
		"past" or "before"
      </span>
     </font>
     <br/>
    </font>
   </h1>
   <span style="font-weight: 400">
    <p style="margin-top: 0; margin-bottom: 0">
    </p>
    <hr color="#000000" size="1"/>
    <p style="margin-top: 0; margin-bottom: 0">
     Also see:
     <a href="/dictionary/past-while-ago">
      Past: "A while ago."
     </a>
    </p>
    <hr color="#000000" size="1"/>
    <p style="margin-top: 0; margin-bottom: 0">
     Also see:
     <a href="/dictionary/past-long-time-ago">
      Past: "A long time ago."
     </a>
    </p>
    <hr color="#000000" size="1"/>
    <p style="margin-top: 0; margin-bottom: 0">
    </p>
    <p style="margin-top: 0; margin-bottom: 0">
     PAST:
     <br/>
     <font size="+1">
      T
     </font>
     he sign for "past" is
made by moving your dominant hand over your dominant shoulder.  Your palm should face your body. The more emphasis you give the motion 
and/or the larger movement you use indicates further into the past:
     <br/>
     <iframe allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/j7rjBay5FIE?rel=0" width="560">
     </iframe>
     <img height="288" src="/images/past.gif" width="286"/>
    </p>
    <hr align="left" color="#000000" size="1" width="50%"/>
    <p style="margin-top: 0; margin-bottom: 0">
     <br/>
     "before"
     <br/>
     "last" as in "last night"
     <br/>
     previously
     <br/>
     <img border="0" height="229" src="/images/past1.jpg" width="245"/>
     <img border="0" height="229" src="/images/past2.jpg" width="245"/>
     <img border="0" height="229" src="/images/past3.jpg" width="245"/>
     <br/>
    </p>
    <hr color="#800080"/>
    <p style="margin-top: 0; margin-bottom: 0">
     Use to be...
     <br/>
     A while back...
     <br/>
     Back when...
    </p>
    <p style="margin-top: 0; margin-bottom: 0">
     <iframe allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/E6Qd4bc9l9A?rel=0" width="560">
     </iframe>
    </p>
    <p style="margin-top: 0; margin-bottom: 0">
     <img border="0" height="231" src="/images/past-awhileago1.jpg" width="267"/>
     <img border="0" height="231" src="/images/past-awhileago2.jpg" width="267"/>
     <img border="0" height="231" src="/images/past-awhileago3.jpg" width="267"/>
     <img border="0" height="231" src="/images/past-awhileago4.jpg" width="267"/>
     <br/>
     <br/>
    </p>
    <hr color="#800080"/>
    <p style="margin-top: 0; margin-bottom: 0">
     <br/>
     Once upon a time, long, long, ago...
     <br/>
    </p>
    <p style="margin-top: 0; margin-bottom: 0">
     <img border="0" height="237" src="/images/past-onceuponatime1.jpg" width="279"/>
     <img border="0" height="237" src="/images/past-onceuponatime2.jpg" width="279"/>
     <img border="0" height="237" src="/images/past-onceuponatime3.jpg" width="279"/>
     <img border="0" height="237" src="/images/past-onceuponatime4.jpg" width="279"/>
     <img border="0" height="237" src="/images/past-onceuponatime5.jpg" width="279"/>
     <img border="0" height="237" src="/images/past-onceuponatime6.jpg" width="279"/>
     <br/>
    </p>
    <hr color="#800080"/>
    <p style="margin-top: 0; margin-bottom: 0">
     Hey man, that's ancient history!
     <br/>
     <br/>
     <img border="0" height="239" src="/images/past-wayinthepast1.jpg" width="311"/>
     <img border="0" height="239" src="/images/past-wayinthepast2.jpg" width="311"/>
     <img border="0" height="239" src="/images/past-wayinthepast3.jpg" width="311"/>
    </p>
    <hr/>
    <p style="margin-top: 0; margin-bottom: 0">
     Note: If you mean "
     <a href="/dictionary/before">
      before
     </a>
     " as in "before you do 
that you should do this..." you should use the sign
     <a href="/dictionary/prior">
      PRIOR-before
     </a>
     .
    </p>
   </span>
   <p>
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1"/>
   <hr align="left" color="#000000" size="1"/>
   <hr color="#000000" size="1"/>
   <p>
   </p>
  </blockquote>
 </body>
</html>