<html>
 <body>
  <blockquote>
   <h1 style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     <font size="5">
      <span style="font-weight: 400">
       American Sign Language: 
		"pastor" (minister)
      </span>
     </font>
     <br/>
    </font>
   </h1>
   <p>
   </p>
   <hr align="left" color="#000000" size="1" width="50%"/>
   <span style="font-weight: 400">
    <p style="margin-top: 0; margin-bottom: 0">
     PASTOR:  "collar"-version
     <br/>
     Brush a "G" hand in front of the neck twice. (Palm facing back)
     <br/>
     Memory aid:  Think of the white collar worn by pastors of certain 
churches.
     <br/>
     <br/>
     <img border="0" height="240" src="/images/pastor1.jpg" width="217"/>
     <img border="0" height="240" src="/images/pastor2.jpg" width="217"/>
     <img border="0" height="240" src="/images/pastor3.jpg" width="217"/>
     <br/>
     <img border="0" height="240" src="/images/pastor1.jpg" width="217"/>
     <img border="0" height="240" src="/images/pastor2.jpg" width="217"/>
     <img border="0" height="240" src="/images/pastor3.jpg" width="217"/>
     <br/>
    </p>
    <hr align="left" color="#000000" size="1" width="50%"/>
    <p style="margin-top: 0; margin-bottom: 0">
     Also see:
     <a href="/dictionary/missionary" style="text-decoration: none">
      MISSIONARY
     </a>
     <br/>
     Also see:
     <a href="/dictionary/preach" style="text-decoration: none">
      PREACH
     </a>
     <br/>
     Also see:
     <a href="/dictionary/mission" style="text-decoration: none">
      MISSION
     </a>
     <br/>
     Fun sign:
     <a href="/dictionary/practice-what-you-preach" style="text-decoration: none">
      PRACTICE-WHAT-YOU-PREACH
     </a>
    </p>
    <hr align="left" color="#000000" size="1" width="50%"/>
    <p style="margin-top: 0; margin-bottom: 0">
     <br/>
    </p>
   </span>
   <hr align="left" color="#000000" size="1"/>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1"/>
   <hr align="left" color="#000000" size="1"/>
   <hr color="#000000" size="1"/>
   <p>
   </p>
  </blockquote>
 </body>
</html>