<html>
 <body>
  <blockquote>
   <h1 style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     <span style="font-weight: 400">
      <font size="5">
       American Sign Language: 
		"past: "A long time ago."
      </font>
     </span>
     <br/>
    </font>
   </h1>
   <blockquote>
    <hr align="left" color="#000000" size="1" width="50%"/>
    <span style="font-weight: 400">
     <p style="margin-top: 0; margin-bottom: 0">
      Also see:
      <a href="/dictionary/past">
       PAST
      </a>
     </p>
     <hr align="left" color="#000000" size="1" width="50%"/>
     <p style="margin-top: 0; margin-bottom: 0">
     </p>
     <p style="margin-top: 0; margin-bottom: 0">
      <iframe allowfullscreen="" frameborder="0" height="315" name="I1" src="https://www.youtube.com/embed/E6Qd4bc9l9A?rel=0" width="560">
      </iframe>
     </p>
     <p style="margin-top: 0; margin-bottom: 0">
      <br/>
     </p>
     <hr color="#000000" size="1"/>
     <p style="margin-top: 0; margin-bottom: 0">
      <br/>
      Once upon a time, long, long, ago...
      <br/>
     </p>
     <p style="margin-top: 0; margin-bottom: 0">
      <img border="0" height="237" src="/images/past-onceuponatime1.jpg" width="279"/>
      <img border="0" height="237" src="/images/past-onceuponatime2.jpg" width="279"/>
      <img border="0" height="237" src="/images/past-onceuponatime3.jpg" width="279"/>
      <img border="0" height="237" src="/images/past-onceuponatime4.jpg" width="279"/>
      <img border="0" height="237" src="/images/past-onceuponatime5.jpg" width="279"/>
      <img border="0" height="237" src="/images/past-onceuponatime6.jpg" width="279"/>
      <br/>
      <br/>
     </p>
     <hr color="#000000" size="1"/>
     <p style="margin-top: 0; margin-bottom: 0">
      <br/>
      Hey man, that's ancient history!
      <br/>
      <br/>
      <img border="0" height="239" src="/images/past-wayinthepast1.jpg" width="311"/>
      <img border="0" height="239" src="/images/past-wayinthepast2.jpg" width="311"/>
      <img border="0" height="239" src="/images/past-wayinthepast3.jpg" width="311"/>
     </p>
     <hr/>
     <p style="margin-top: 0; margin-bottom: 0">
      Note: If you mean "
      <a href="/dictionary/before">
       before
      </a>
      " as in "before you do 
that you should do this..." you should use the sign
      <a href="/dictionary/prior">
       PRIOR-before
      </a>
      .
     </p>
    </span>
   </blockquote>
   <hr align="left" color="#000000" size="1"/>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1"/>
   <hr align="left" color="#000000" size="1"/>
   <hr color="#000000" size="1"/>
   <p>
   </p>
  </blockquote>
 </body>
</html>