<html>
 <body>
  <blockquote>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
    <p>
     It seems like most young people these days don't know the full 
			definition of "patronize."
     <br/>
     They seem to know only the negative definition of the word:
     <strike>
      To act kind or nice to someone but inwardly feel smug or superior 
			about it.
     </strike>
     <br/>
     <br/>
     That definition is NOT what this sign is about. This sign
     <i>
      doesn't
     </i>
     mean that.
    </p>
    <p>
     <br/>
     The ASL sign "PATRONIZE" is not negative at all. Rather, it means to 
			give someone
    </p>
   </font>
  </blockquote>
 </body>
</html>