<html>
 <body>
  <blockquote>
   <h1 style="margin-top: 0; margin-bottom: 0">
    <span style="font-weight: 400">
     <font face="Arial" size="5">
      PAUSE: The 
		American Sign Language (ASL) sign for "pause"
     </font>
    </span>
    <font face="Arial">
     <br/>
    </font>
   </h1>
   <p>
    This sign can also mean such things as: suspend, hold up, break, hiatus and 
similar concepts.
    <br/>
    <br/>
    PAUSE:
    <br/>
    <img border="0" height="320" src="/images/pause-01-s.jpg" width="320"/>
    <img border="0" height="320" src="/images/pause-02-s.jpg" width="320"/>
    <br/>
    <br/>
    PAUSE / suspend / take a break / hiatus / hold up
    <br/>
    <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/RS8gp0O6vj0?rel=0" width="560">
    </iframe>
    <br/>
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p>
    Also see:
    <a href="/dictionary/vacation">
     VACATION
    </a>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1"/>
   <hr align="left" color="#000000" size="1"/>
   <hr align="left" color="#000000" size="1"/>
   <hr color="#000000" size="1"/>
   <p>
   </p>
  </blockquote>
 </body>
</html>