<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   <br/>
   Combine the signs "peanut" and "butter."
   <br/>
   <br/>
   PEANUT BUTTER:
   <br/>
   <img border="0" height="319" src="/images/peanut-butter-56.jpg" width="258"/>
   <img border="0" height="319" src="/images/peanut-butter-57.jpg" width="258"/>
   <br/>
   <img border="0" height="319" src="/images/peanut-butter-58.jpg" width="258"/>
   <img border="0" height="319" src="/images/peanut-butter-61.jpg" width="258"/>
   <p style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1" width="50%"/>
   <font face="Arial">
    <div>
     <div>
      In a message dated 11/17/2004 7:27:24 AM Pacific Standard Time, 
      Robin.George@____ writes:
     </div>
     <blockquote style="PADDING-LEFT: 5px; MARGIN-LEFT: 5px; BORDER-LEFT: blue 2px solid">
      <font color="#000000" face="Arial" size="2" style="BACKGROUND-COLOR: transparent">
       <font size="2">
        I'm trying to confirm the sign for "peanut butter"
       </font>
       <br/>
       <font size="2">
        Do you combine these two signs, or is there a simpler sign 
      to teach my young students?
       </font>
      </font>
     </blockquote>
    </div>
    <div>
     The sign PEANUT-BUTTER is a combination of PEANUT and BUTTER.
    </div>
    <div>
     When signed as part of PEANUT-BUTTER the sign BUTTER uses a single movement 
    instead of a double movement.
     <br/>
     <br/>
     To sign peanut, put the tip of your thumb behind your two front teeth then move your hand 
  forward about 6 inches (which causes the thumb to drag a bit on the bottom 
  edge of your two front teeth as you move the hand forward). During high speed 
	signing you don't actually have to touch your teeth -- you just come close 
	to it. Then do a one-movement version of "butter" by dragging the tips of 
	the index and middle fingers of an open-H hand across the non-dominant palm.
     <br/>
     <br/>
     PEANUT-BUTTER:
     <br/>
     <img border="0" height="230" src="/images/peanut1.jpg" width="203"/>
     <img border="0" height="230" src="/images/peanut2.jpg" width="203"/>
     <img border="0" height="230" src="/images/peanut3.jpg" width="203"/>
     <img border="0" height="230" src="/images/peanut4.jpg" width="203"/>
     <img border="0" height="230" src="/images/peanut5.jpg" width="203"/>
     <img border="0" height="230" src="/images/peanut6.jpg" width="203"/>
    </div>
   </font>
   <p>
    <br/>
    Animation:
    <a href="/images/peanutbutter.gif">
     peanut-butter
    </a>
    <br/>
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p>
    See:
    <a href="/dictionary/butter">
     BUTTER
    </a>
    <br/>
    See:
    <a href="/dictionary/jelly">
     JELLY
    </a>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    See:
    <a href="/dictionary/sandwich">
     SANDWICH
    </a>
   </p>
   <hr align="left" color="#000000" size="1"/>
  </blockquote>
 </body>
</html>