<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   <p>
    <br/>
    For the sign "pear," you hold the non-dominant hand in a flattened 
			"O"-handshape.
   </p>
   <p>
    You place the fingers and thumb of the dominant hand around the 
			non-dominant hand and then slide the dominant hand off to the side. 
			(The non-dominant hand doesn't move.) Repeat. The fingers and thumb 
			of the dominant hand close together into a flattened "O"-handshape 
			as they slide off of the non-dominant hand.
    <br/>
    <br/>
    PEAR:
    <br/>
    <img border="0" height="212" src="/images/pear.h1.jpg" width="219"/>
    <img border="0" height="212" src="/images/pear.h2.jpg" width="219"/>
    <img border="0" height="212" src="/images/pear.h3.jpg" width="219"/>
    <img border="0" height="212" src="/images/pear.h4.jpg" width="219"/>
    <br/>
    <img border="0" height="212" src="/images/pear.h1.jpg" width="219"/>
    <img border="0" height="212" src="/images/pear.h2.jpg" width="219"/>
    <img border="0" height="212" src="/images/pear.h3.jpg" width="219"/>
    <img border="0" height="212" src="/images/pear.h4.jpg" width="219"/>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <br/>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>