<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   Historical note: Waaaaay back in the old days, us old folks used to 
			use something called "pencils" to write on something called "paper."
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
   <p>
    <br/>
    I sign PENCIL by forming my hand into a handshape that looks like I'm holding 
  a pencil in my right hand.  I start the sign holding my hand near my 
  mouth. Then I bring my right hand down near the palm of my left hand and make 
  a writing movement across the palm and fingers of the left hand. So, this sign 
  is loosely based on the concept of licking the pencil lead and then writing. 
  (In the old days, apparently, people used to lick the lead to get pencils to 
  write better. Don't try this at home folks.)  Note:  You don't 
  actually lick anything in this sign, the hand merely comes "near" the mouth.
    <br/>
    <br/>
   </p>
   <hr color="#000000" size="1"/>
   <p>
    <br/>
    PENCIL (version 1)
    <br/>
    <img border="0" height="218" src="/images/pencil2.jpg" width="202"/>
    <img border="0" height="218" src="/images/pencil3.jpg" width="202"/>
    <img border="0" height="218" src="/images/pencil4.jpg" width="202"/>
    <img border="0" height="218" src="/images/pencil5.jpg" width="202"/>
    <img border="0" height="218" src="/images/pencil6.jpg" width="202"/>
    <br/>
   </p>
   <hr color="#000000" size="1"/>
   <br/>
   This sign relies on context.  You could also just sign:  "YOU HAVE 
  WRITE?" To mean, "Do you have a pencil or pen?"
   <p>
    <br/>
    Some people do the sign 
  PENCIL with a "P" handshape, (this is called "initialization).  I don't 
  think that is necessary for this sign.
    <br/>
    <br/>
    PENCIL (version 2) (Not recommended)
    <br/>
    <br/>
    <img border="0" height="223" src="/images/pencil1.jpg" width="213"/>
    <img border="0" height="223" src="/images/pencil7.jpg" width="213"/>
    <img border="0" height="223" src="/images/pencil8.jpg" width="213"/>
    <br/>
    <br/>
    Note: Even though I don't recommend using the
    <font face="Arial">
     initialized sign (
    </font>
    above) sign to mean "pencil," that sign is 
			a terrific version of the sign for
    <a href="/dictionary/secretary">
     SECRETARY
    </a>
    !
    <br/>
   </p>
   <hr color="#000000" size="1"/>
   <p style="margin-top: 0; margin-bottom: 0">
    By the way, the concept of "PEN" is commonly just fingerspelled.
    <br/>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>