<html>
 <body>
  <blockquote>
   <h1 style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     <font size="5">
      <span style="font-weight: 400">
       American Sign Language: 
		"pepper"
      </span>
     </font>
    </font>
   </h1>
   <blockquote>
    <span style="font-weight: 400">
     <hr color="#000000" size="1"/>
     <p>
      PEPPER:
      <br/>
      Shake an "F" handshape twice downward:
     </p>
     <p>
      <iframe allow="autoplay; encrypted-media" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/UYVDfe4FgUQ?rel=0" width="560">
      </iframe>
      <br/>
      <br/>
      I love pepper. 
  Use a quick, small, double motion to mime the act of putting pepper on your
  food.
      <br/>
      For ASL classes I tend to use the "F" handshape. (You can do this sign with 
	a "P" handshape.  Many people do.)
      <br/>
      Note: If you add black pepper to turmeric it increases the absorption of 
curcumin by about 1000 times which can help prevent cancer.
      <br/>
      <br/>
      Use an "f" handshape and a quick double motion.
      <br/>
      <img border="0" height="237" src="/images/pepperb1.jpg" width="237"/>
      <img border="0" height="237" src="/images/pepperb2.jpg" width="237"/>
      <img border="0" height="237" src="/images/pepperb3.jpg" width="237"/>
      <img border="0" height="237" src="/images/pepperb4.jpg" width="237"/>
     </p>
     <hr color="#000000" size="1"/>
     <p>
      PEPPER: (Variation: initialized version)  "P"
      <br/>
      Quite a few people do this sign with the letter P.
      <br/>
      <br/>
      <img border="0" height="275" src="/images/pepper3.jpg" width="331"/>
      <br/>
      (Also see:
      <a href="/dictionary/pepperoni">
       PEPPERONI
      </a>
      )
     </p>
     <hr color="#000000" size="1"/>
     <p>
      Note: This sign can also mean "seasonings." To mean
  "seasoning" I'd use about four shakes instead of just two. 
  While shaking the seasoning I'd reposition my hand to hold the seasoning jar
  over different parts of the food.  Sort of like shaking hot pepper seeds
  all over a pizza!
     </p>
     <p>
      <img border="0" height="237" src="/images/peppera1.jpg" width="237"/>
      <img border="0" height="237" src="/images/peppera2.jpg" width="237"/>
      <img border="0" height="237" src="/images/peppera3.jpg" width="237"/>
      <img border="0" height="237" src="/images/peppera4.jpg" width="237"/>
      <br/>
     </p>
     <hr align="left" color="#000000" size="1" width="50%"/>
     <p style="margin-top: 0; margin-bottom: 0">
      <br/>
      Notes:
      <br/>
      To sign
GREEN-PEPPER:  Sign "GREEN" then spell P-E-P-P-E-R.
      <br/>
      To sign
HOT-PEPPER:  Sign HOT then spell P-E-P-P-E-R.
      <br/>
      <br/>
      Sure, some people will use the initialized "P"-"sprinkle on" sign as part of the 
sign for green-pepper or hot-pepper, but other people will make fun of those 
people and I'd just as soon you not be either of them folks. Eh?
      <br/>
     </p>
     <hr align="left" color="#000000" size="1" width="50%"/>
     <p style="margin-top: 0; margin-bottom: 0">
      Also see:
      <a href="/dictionary/salt">
       SALT
      </a>
     </p>
     <hr align="left" color="#000000" size="1" width="50%"/>
    </span>
   </blockquote>
   <hr align="left" color="#000000" size="1"/>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1"/>
   <hr align="left" color="#000000" size="1"/>
   <hr color="#000000" size="1"/>
   <p>
   </p>
  </blockquote>
 </body>
</html>