<html>
 <body>
  <blockquote>
   <h1 style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     <font size="5">
      <span style="font-weight: 400">
       American Sign Language: 
		"pepperoni"
      </span>
     </font>
     <br/>
    </font>
   </h1>
   <blockquote>
    <span style="font-weight: 400">
     <hr color="#000000" size="1"/>
     <p>
      PEPPERONI:
      <br/>
      <br/>
      <br/>
      Use "F" hands to show the pepperoni on the surface of the pizza.
      <br/>
      <img border="0" height="275" src="/images/pepperoni4.jpg" width="402"/>
      <img border="0" height="275" src="/images/pepperoni5.jpg" width="337"/>
     </p>
     <hr color="#000000" size="1"/>
     <p>
      PEPPERONI (variation)
      <br/>
      A colleague of mine does "pepperoni" while holding up the base hand to 
	represent the pizza crust -- as if showing where the pieces of pepperoni 
	would be on a pizza.
      <br/>
      <br/>
     </p>
     <p>
      <br/>
      In this version the dominant hand is in an "F" handshape and the support 
	hand is in a "flat" handshape.
      <br/>
      <img border="0" height="275" src="/images/pepperoni6.jpg" width="393"/>
     </p>
     <hr color="#000000" size="1"/>
     <p>
      <br/>
      <br/>
      PEPPERONI:
      <br/>
      Some people use an initialized sign for PEPPER to mean "pepperoni."
      <br/>
      See: "
      <a href="/dictionary/pepper" style="text-decoration: none">
       PEPPER
      </a>
      ."
      <br/>
      <br/>
      PEPPER
 (Variation: initialized version)  "P"  Shake the hand 
	up and down with the movement from the wrist.
      <br/>
      <img border="0" height="275" src="/images/pepper3.jpg" width="331"/>
     </p>
    </span>
   </blockquote>
   <hr align="left" color="#000000" size="1"/>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1"/>
   <hr align="left" color="#000000" size="1"/>
   <hr color="#000000" size="1"/>
   <p>
   </p>
  </blockquote>
 </body>
</html>