<html>
 <body>
  <blockquote>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
    <p>
     The sign for "percent" is done by drawing a crescent in the air with an "O" hand. 
			Use a fairly fast movement.
     <br/>
     <br/>
     PERCENT (%)
     <br/>
     <img border="0" height="230" src="/images/percen21.jpg" width="224"/>
     <img border="0" height="230" src="/images/percen22.jpg" width="224"/>
     <img border="0" height="230" src="/images/percen23.jpg" width="224"/>
    </p>
    <hr align="left" color="#000000" size="1" width="50%"/>
    <p>
    </p>
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>