<html>
 <body>
  <blockquote>
   <font face="Arial">
    <p>
     <font size="5">
      American Sign Language: "phone"
     </font>
    </p>
    <blockquote>
     <hr align="left" color="#000000" size="1" width="50%"/>
     <p style="margin-top: 0; margin-bottom: 0">
      The classic sign for PHONE uses a "Y" handshape.
     </p>
     <p style="margin-top: 0; margin-bottom: 0">
      <iframe allowfullscreen="" frameborder="0" height="315" name="I1" src="https://www.youtube.com/embed/fgg7qxjYh_0?rel=0" width="560">
      </iframe>
      <br/>
      <br/>
      PHONE:
      <br/>
      <img border="0" height="320" src="/images/phone-01.gif" width="320"/>
      <br/>
     </p>
     <p style="margin-top: 0; margin-bottom: 0">
      PHONE: (use a small double 
	movement)
      <br/>
      <img border="0" height="239" src="/images/phone1.jpg" width="224"/>
      <img border="0" height="239" src="/images/phone2.jpg" width="224"/>
      <img border="0" height="239" src="/images/phone3.jpg" width="224"/>
      <img border="0" height="239" src="/images/phone2.jpg" width="224"/>
     </p>
     <p style="margin-top: 0; margin-bottom: 0">
     </p>
     <hr align="left" color="#000000" size="1" width="50%"/>
     <p style="margin-top: 0; margin-bottom: 0">
      Also see:
      <a href="/dictionary/cellphone">
       CELL PHONE
      </a>
     </p>
     <hr align="left" color="#000000" size="1" width="50%"/>
    </blockquote>
   </font>
   <p style="margin-top: 0; margin-bottom: 0">
    Also see:
    <a href="/dictionary/call">
     CALL
    </a>
   </p>
   <hr align="left" color="#000000" size="1" width="50%"/>
  </blockquote>
 </body>
</html>