<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   <p>
    To sign "pie" show the slicing of a pie.  Make two slices in an imaginary 
  pie on the palm of your non-dominant hand. The cuts should form a
    <b>
     wedge
    </b>
    of pie.
    <br/>
    <br/>
    PIE
   </p>
   <p>
    <img border="0" height="217" src="/images/pie.ht1.jpg" width="212"/>
    <img border="0" height="217" src="/images/pie.ht2.jpg" width="212"/>
    <img border="0" height="217" src="/images/pie.ht3.jpg" width="212"/>
    <img border="0" height="217" src="/images/pie.ht4.jpg" width="212"/>
   </p>
   <p>
    PIE (animated)
   </p>
   <p>
    <img border="0" height="217" src="/images/pie.gif" width="212"/>
    <br/>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
   <p>
    <br/>
    PIE:  (version 2 - Initialized)
    <br/>
    This version uses the same movement but the handshape is a "P."
   </p>
   <p>
    <img border="0" height="217" src="/images/pie.ht5.jpg" width="212"/>
    <img border="0" height="217" src="/images/pie.ht6.jpg" width="212"/>
    <img border="0" height="217" src="/images/pie.ht7.jpg" width="212"/>
    <img border="0" height="217" src="/images/pie.ht8.jpg" width="212"/>
    <br/>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
   <p style="margin-top: 0; margin-bottom: 0">
    See:
    <a href="/dictionary/cake">
     CAKE
    </a>
    <br/>
    See:
    <a href="/dictionary/ice-cream">
     ICE-CREAM
    </a>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>