<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   <p style="margin-top: 0; margin-bottom: 0">
    <br/>
    The sign for "pineapple" has a couple versions.
    <br/>
    I recommend you use the "F" hand near the "eye" version.  This version 
	was shown to me by a fellow from Hawaii. Apparently it is based on the 
	"fruit hat" made popular by the Chiquita advertising campaign.
    <br/>
    Hold the "F" hand in front of your eye (as if looking through the hole in 
	the "F") and twist it twice (as if adjusting a telescope).
    <br/>
    <br/>
    PINEAPPLE (version 1)
    <br/>
    <img border="0" height="300" src="/images/pineapple-1.jpg" width="300"/>
    <img border="0" height="300" src="/images/pineapple-2.jpg" width="300"/>
    <img border="0" height="300" src="/images/pineapple-3.jpg" width="300"/>
    <br/>
    <font face="Arial">
     <hr align="left" color="#000000" size="1" width="25%"/>
    </font>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    PINEAPPLE (animated)
    <br/>
    <img border="0" height="360" longdesc="The ASL sign for pineapple." src="/images/pineapple.gif" width="360"/>
    <img border="0" height="380" src="/images/pineap7.jpg" width="304"/>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     <hr align="left" color="#000000" size="1"/>
    </font>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <br/>
    Another version of "pineapple" is to use a "P" (a "K" actually) on the 
	cheek.  Twist it twice.
    <br/>
    <br/>
    PINEAPPLE (version 2, initialized)
    <br/>
    <img border="0" height="300" src="/images/pineapple-4.jpg" width="300"/>
    <img border="0" height="300" src="/images/pineapple-5.jpg" width="300"/>
    <img border="0" height="300" src="/images/pineapple-6.jpg" width="300"/>
   </p>
   <font face="Arial">
    <p style="margin-top: 0; margin-bottom: 0">
    </p>
    <hr align="left" color="#000000" size="1" width="25%"/>
    <p style="margin-top: 0; margin-bottom: 0">
     PINEAPPLE (version 2, initialized) (animated)
     <br/>
     <img border="0" height="300" longdesc="The ASL sign for pineapple." src="/images/pineapple-2.gif" width="300"/>
    </p>
   </font>
   <p style="margin-top: 0; margin-bottom: 0">
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
   <p style="margin-top: 0; margin-bottom: 0">
    <br/>
    Notes:
    <br/>
    In a message dated 11/14/2011 4:18:36 P.M. Pacific Standard Time,
    <font face="Arial">
     Jamie Saunders
    </font>
    writes:
    <br/>
    <br/>
    Hi Dr. Vicars,
    <br/>
    I really enjoyed showing your dictionary to my teachers and students a lot 
	and I am profoundly deaf/ native ASL signer myself. I noticed there is a 
	word needed to add to your dictionary: PINEAPPLE.. Can you please add and 
	thought a bit more about contrasting with PICKLE?  My co-workers 
	(kindergarten teacher who is hearing ) and I debate what is right sign for 
	"pickle" and "pineapple." I have searched all online and PICKLE/PINEAPPLE 
	are similar in signs. I know you are very busy man and we would love to hear 
	back from you one day when you are free.
    <br/>
    Much Thanks!
    <br/>
    ~Jamie Saunders
    <br/>
    <br/>
    Jamie,
    <br/>
    Hello :)
    <br/>
    Well, for
    <b>
     many years
    </b>
    I did the sign PINEAPPLE using the tip of the middle 
	finger of a "K" handshape on my cheek.  I differentiated the sign 
	PINEAPPLE from sign with PICKLE by doing the sign PICKLE near the corner of 
	my chin.
    <br/>
    Then one day a friend who has spent some time in Hawaii showed me her sign 
	for PINEAPPLE using an "F" hand in front of her eye and explained to me that 
	it had to do with the "fruit hat" like the one worn by the "
    <font face="Arial">
     Chiquita 
	Lady" (in the advertisements by the Chiquita company that sells bananas and 
	related items).
     <br/>
     Since the "F"-hand version of the sign PINEAPPLE is very iconic (the 
	extended fingers look like the leaves of a pineapple plant) and it has ties 
	to a cultural aspect of the usage of a pineapple (being with other fruit in 
	a fruit basket carried on the head) I was instantly smitten with the 
	appropriateness of the sign and I highly recommend it to you as my preferred 
	version.
     <br/>
     Cordially,
     <br/>
     -- Dr. Bill
    </font>
    <br/>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
    <p style="margin-top: 0; margin-bottom: 0">
     See:
     <a href="/dictionary/pickle">
      PICKLE
     </a>
    </p>
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>