<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   The sign for "oil pipeline" would consist of showing the pipeline 
			using "C" handshapes and then spell "oil" and then show that oil 
			flowing through the pipeline. Or you could start by spelling oil and 
			then show the pipeline with the "C" handshapes (and not include the 
			"FLOWING" sign.
   <br/>
   <br/>
   OIL-PIPELINE:
   <br/>
   <img border="0" height="300" src="/images/pipeline-oil-1.jpg" width="397"/>
   <img border="0" height="300" src="/images/pipeline-oil-2.jpg" width="397"/>
   <img border="0" height="300" src="/images/pipeline-oil-3.jpg" width="397"/>
   <img border="0" height="300" src="/images/pipeline-oil-4.jpg" width="397"/>
   <img border="0" height="300" src="/images/pipeline-oil-5.jpg" width="397"/>
   <img border="0" height="300" src="/images/pipeline-oil-6.jpg" width="397"/>
   <br/>
   <img border="0" height="300" src="/images/pipeline-oil-7.jpg" width="397"/>
   <img border="0" height="300" src="/images/pipeline-oil-8.jpg" width="397"/>
   <img border="0" height="300" src="/images/pipeline-oil-9.jpg" width="397"/>
   <img border="0" height="300" src="/images/pipeline-oil-10.jpg" width="397"/>
   <img border="0" height="300" src="/images/pipeline-oil-11.jpg" width="397"/>
   <img border="0" height="300" src="/images/pipeline-oil-12.jpg" width="397"/>
   <br/>
   <br/>
   Also see:
   <a href="/dictionary/cave">
    CAVE
   </a>
   <br/>
   Also see:
   <a href="/dictionary/tunnel">
    TUNNEL
   </a>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>