<html>
 <body>
  <blockquote>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
    <p>
     To do the sign for "Pittsburgh," brush your dominant "F" hand down along your 
			opposite upper chest area twice. (If you are right handed.)  
			The contact is with the tips of the index finger and thumb.  
			Note that you twist your wrist somewhat in this sign. You start 
			almost palm-backward and you end palm down.
     <br/>
     <img border="0" height="138" src="/images/pittsburg.gif" width="104"/>
     <br/>
    </p>
    <p>
     Pittsburgh:
    </p>
    <p>
     <img border="0" height="229" src="/images/pittsb26.jpg" width="179"/>
     <img border="0" height="229" src="/images/pittsb27.jpg" width="179"/>
     <img border="0" height="229" src="/images/pittsb26.jpg" width="179"/>
     <img border="0" height="229" src="/images/pittsb27.jpg" width="179"/>
    </p>
    <hr align="left" color="#000000" size="1" width="50%"/>
    <p>
    </p>
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>