<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   <font face="Arial">
    <p>
     <a href="/dictionary/arizona">
      ARIZONA
     </a>
     <br/>
     <a href="/dictionary/atlanta">
      ATLANTA
     </a>
     <br/>
     <a href="/dictionary/baltimore">
      BALTIMORE
     </a>
     <br/>
     <a href="/dictionary/boston">
      BOSTON
     </a>
     <br/>
     <a href="/dictionary/california">
      CALIFORNIA
     </a>
     <br/>
     <a href="/dictionary/chicago">
      CHICAGO
     </a>
     <br/>
     <a href="/dictionary/dallas">
      DALLAS
     </a>
     <br/>
     <a href="/dictionary/detroit">
      DETROIT
     </a>
     <br/>
     <a href="/dictionary/houston">
      HOUSTON
     </a>
     <br/>
     <a href="/dictionary/nation">
      NATION
     </a>
     <br/>
     <a href="/dictionary/vote">
      VOTE
     </a>
     <br/>
     <a href="/dictionary/newyork">
      NEW-YORK
     </a>
     <br/>
     <a href="/dictionary/philadelphia">
      PHILADELPHIA
     </a>
     <br/>
     <a href="/dictionary/pittsburgh">
      PITTSBURGH
     </a>
     <br/>
     <a href="/dictionary/texas">
      TEXAS
     </a>
     <br/>
     <a href="/dictionary/utah">
      UTAH
     </a>
     <br/>
     <a href="/dictionary/washington">
      WASHINGTON
     </a>
     (Washington D.C.)
     <br/>
     <a href="/dictionary/touch">
      TOUCH-[dwell on]
     </a>
     <br/>
     <a href="/dictionary/visit">
      VISIT
      <br/>
     </a>
     <a href="/dictionary/state">
      STATE
     </a>
    </p>
    <p>
     <br/>
    </p>
    <hr align="left" color="#000000" size="1"/>
    <p>
     <br/>
     Practice sheet: PLACES 1.A
     <br/>
     01.  ARIZONA HOT, COLD WHICH?
     <br/>
     02.  ATLANTA, YOU FINISH TOUCH?
     <br/>
     03.  BALTIMORE NEAR OCEAN?
     <br/>
     04.  BOSTON TEA PARTY HAPPEN 1773?
     <br/>
     05.  CALIFORNIA TOUCH WHICH OCEAN?
     <br/>
    </p>
    <p>
     Practice sheet: PLACES 1.B
     <br/>
     06.  CHICAGO HAVE WONDERFUL PIZZA?
     <br/>
     07.  DALLAS, WHICH STATE?
     <br/>
     08.  DETROIT MANY C-O MAKE CAR?
     <br/>
     09.  THIS NATION, HOW-MANY STATE?
     <br/>
     10.  THIS CLASS TEST, CAN OPEN-BOOK, CAN'T, WHICH?
     <br/>
     <br/>
     Practice sheet: PLACES 1.C
     <br/>
     11.  Last-YEAR, YOU REGISTER VOTE?
     <br/>
     12.  YOU THINK NEW-YORK BAD PLACE LIVE?
     <br/>
     13.  FREE-( "liberty"/initialized) B-E-L-L IN PHILADELPHIA?
     <br/>
     14.  NAME PITTSBURGH FOOTBALL TEAM?
     <br/>
     15.  TEXAS SMALL, LARGE, WHICH?
     <br/>
    </p>
    <p>
     Practice sheet: PLACES 1.D
     <br/>
     16.  UTAH SNOW GOOD FOR SKI?
     <br/>
     17.  WASHINGTON, RAIN++ (qmw)?
     <br/>
     18.  WASHINGTON-DC, YOU WANT VISIT?
     <br/>
     19.  WHICH STATE HOUSTON?
     <br/>
     20. YOU LIKE DISCUSS FOOTBALL YOUR DAD?
     <br/>
    </p>
    <hr align="left" color="#000000" size="1"/>
    <p>
     NOTE:  (QM-wig) means "question mark wiggle."  It is a way of emphasizing that you are asking a question. 
	Sometimes it means you are a bit skeptical of what the other person has just 
	said. It depends on your facial expression.
    </p>
    <p>
    </p>
    <p>
     <font face="Arial,Helvetica">
      Discussion Items
      <br/>
     </font>
     "NATION-BOSS"= "nation's capital"
    </p>
    <p>
    </p>
    <hr align="left" color="#000000" size="1"/>
    <hr align="left" color="#000000" size="1"/>
    LESSON 2
    <p>
     <a href="/dictionary/africa">
      AFRICA
     </a>
     <br/>
     <a href="/dictionary/america">
      AMERICA
     </a>
     <br/>
     <a href="/dictionary/canada">
      CANADA
     </a>
     <br/>
     <a href="/dictionary/china">
      CHINA-[Chinese, Asian]
     </a>
     <br/>
     <a href="/dictionary/england">
      ENGLAND-[English, British]
     </a>
     <br/>
     <a href="/dictionary/germany">
      GERMANY
     </a>
     <br/>
     <a href="/dictionary/holland">
      HOLLAND
     </a>
     <br/>
     <a href="/dictionary/india">
      INDIA
     </a>
     <br/>
     <a href="/dictionary/ireland">
      IRELAND
     </a>
     <br/>
     <a href="/dictionary/israel">
      ISRAEL
     </a>
     <br/>
     <a href="/dictionary/italy">
      ITALY
     </a>
     <br/>
     <a href="/dictionary/japan">
      JAPAN
     </a>
     <br/>
     <a href="/dictionary/korea">
      KOREA
     </a>
     <br/>
     <a href="/dictionary/mexico">
      MEXICO
     </a>
     <br/>
     <a href="/dictionary/russia">
      RUSSIA
     </a>
     <br/>
     <a href="/dictionary/scotland">
      SCOTLAND
     </a>
     <br/>
     <a href="/dictionary/spain">
      SPAIN
     </a>
     <br/>
     <a href="/dictionary/country">
      COUNTRY
     </a>
     <br/>
     <a href="/dictionary/world">
      WORLD
     </a>
     <br/>
    </p>
    <hr align="left" color="#000000" size="1"/>
    <p>
     <br/>
    </p>
    <p>
     Practice sheet: PLACES 2.A
     <br/>
     01. AFRICA, EAST, THEREABOUTS OCEAN IT NAME? (Indian Ocean)
     <br/>
     02. AMERICA, USA "here"-(use a right-hand loose "C," palm forward, very 
		small thrust motion to indicate where the USA is on an imaginary map in 
		front of you. Hold this sign in place while doing the next sign.) 
		"here"-(place a left-hand loose "C," palm forward, above the right hand 
		on your imaginary map. Hold the left hand in place while doing the next 
		two signs) WHAT-(do a one handed, right hand "WHAT") IT-(point at the 
		left hand which is still being held in the air to represent whatever 
		country is "north of the U.S.).
     <br/>
     03. POLICE CANADA, THEY RIDE-on WHAT? (HORSE)
     <br/>
     04. YOU LIKE CHINA FOOD?
     <br/>
     05. WHY HEARING TEND SIGN ENGLISH?
    </p>
    <p>
     <br/>
     Practice sheet: PLACES 2.B
     <br/>
     06. GERMANY PEOPLE DRINK MUCH WHAT? (BEER)
     <br/>
     07. HOLLAND HAVE MANY WHAT? (FLOWER)
     <br/>
     08. INDIA HAVE MANY COMPUTER PROGRAM+AGENT?
     <br/>
     09. IRELAND PEOPLE TEND CLOTHES WHAT COLOR? (GREEN)
     <br/>
     10.  ISRAEL, HAVE MANY JEW?
     <br/>
     <br/>
     Practice sheet: PLACES 2.C
     <br/>
     11. ITALY EAT FISH R-A-W?
     <br/>
     12. JAPAN HAVE GOOD PIZZA?
     <br/>
     13. KOREA, SOMEDAY-(future) YOU WANT VISIT?
     <br/>
     14. MEXICO FOOD YOU LIKE?
     <br/>
     15. RUSSIA, SCOTLAND NEAR?
    </p>
    <p>
     <br/>
     Practice sheet: PLACES 2.D
     <br/>
     16. SPAIN HAVE MANY BOAT?
     <br/>
     17. WHAT COUNTRY YOU WANT VISIT MOST?
     <br/>
     18. YOU THINK MAYBE PEOPLE LIVE OTHER WORLD?
     <br/>
     19. SOMETIMES YOU STUDY ALL-NIGHT?
     <br/>
     20. YOU SOMETIMES DRINK BEER?
    </p>
    <p>
    </p>
    <hr align="left" color="#000000" size="1"/>
   </font>
   <p style="margin-top: 0; margin-bottom: 0">
    <br/>
    <font face="Arial">
     <a href="/dictionary/alaska">
      Alaska
     </a>
     <br/>
     <a href="/dictionary/arizona">
      Arizona
     </a>
     <br/>
     <a href="/dictionary/atlanta">
      Atlanta
     </a>
     <br/>
     <a href="/dictionary/baltimore">
      Baltimore
     </a>
     <br/>
     <a href="/dictionary/berkeley">
      Berkeley
     </a>
     <br/>
     <a href="/dictionary/boston">
      Boston
     </a>
     <br/>
     <a href="/dictionary/california">
      California
     </a>
     <br/>
     <a href="/dictionary/chicago">
      Chicago
     </a>
     <br/>
     <a href="/dictionary/colorado">
      Colorado
     </a>
     <br/>
     <a href="/dictionary/dallas">
      Dallas
     </a>
     <br/>
     <a href="/dictionary/denver">
      Denver
     </a>
     <br/>
     <a href="/dictionary/disneyland">
      Disneyland
     </a>
     <br/>
     <a href="/dictionary/fremont">
      Fremont
     </a>
     <br/>
     <a href="/dictionary/hawaii">
      Hawaii
     </a>
     <br/>
     <a href="/dictionary/houston">
      Houston
     </a>
     <br/>
     <a href="/dictionary/los-angeles">
      Los Angeles
     </a>
     <br/>
     <a href="/dictionary/montana">
      Montana
     </a>
     <br/>
     <a href="/dictionary/monterey">
      Monterey
     </a>
     <br/>
     <a href="/dictionary/new-orleans">
      New Orleans
     </a>
     <br/>
     <a href="/dictionary/new-york">
      New York
     </a>
     <br/>
     <a href="/dictionary/oakland">
      Oakland
     </a>
     <br/>
     <a href="/dictionary/oregon">
      Oregon
     </a>
     <br/>
     <a href="/dictionary/philadelphia">
      Philadelphia
     </a>
     <br/>
     <a href="/dictionary/phoenix">
      Phoenix
     </a>
     <br/>
     <a href="/dictionary/pittsburgh">
      Pittsburgh
     </a>
     <br/>
     <a href="/dictionary/portland">
      Portland
     </a>
     <br/>
     <a href="/dictionary/riverside">
      Riverside
     </a>
     <br/>
     <a href="/dictionary/sacramento">
      Sacramento
     </a>
     <br/>
     <a href="/dictionary/san-antonio">
      San Antonio
     </a>
     <br/>
     <a href="/dictionary/san-diego">
      San Diego
     </a>
     <br/>
     <a href="/dictionary/san-francisco">
      San Francisco
     </a>
     <br/>
     <a href="/dictionary/seattle">
      Seattle
     </a>
     <br/>
     <a href="/dictionary/texas">
      Texas
     </a>
     <br/>
     <a href="/dictionary/tucson">
      Tucson
     </a>
     <br/>
     <a href="/dictionary/washington">
      Washington
     </a>
     <br/>
     <a href="/dictionary/washington-dc">
      Washington, DC
     </a>
    </font>
    <br/>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>