<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   <font face="Arial">
    <p>
     PLAID:  Pull a "four" hand across your chest and then down.
     <br/>
     Note:  You don't actually have to contact the body when doing this sign.  
  Some people do this sign an inch or two away from the chest.  You'll see 
  it both ways in the Deaf Community.
     <br/>
     <br/>
     PLAID:
     <br/>
     <img border="0" height="214" src="/images/plaid.24.jpg" width="198"/>
     <img border="0" height="214" src="/images/plaid.25.jpg" width="198"/>
     <img border="0" height="214" src="/images/plaid.26.jpg" width="198"/>
     <img border="0" height="214" src="/images/plaid.27.jpg" width="198"/>
     <img border="0" height="214" src="/images/plaid.28.jpg" width="198"/>
     <img border="0" height="214" src="/images/plaid.29.jpg" width="198"/>
     <img border="0" height="214" src="/images/plaid.30.jpg" width="198"/>
     <br/>
     <br/>
     Notes:
    </p>
    <p>
     Sometimes you will see this sign done a bit smaller up near the 
			heart to mean "Scotland."
     <br/>
    </p>
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>