<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   <p>
   </p>
   <p>
    PLAN: (version 1)
    <br/>
    The right and left hands sweep from left to right (or from right to left) in a 
  smooth straight movement.
    <br/>
    <br/>
    <img border="0" height="214" src="/images/plan.h4.jpg" width="279"/>
    <img border="0" height="214" src="/images/plan.h3.jpg" width="279"/>
    <img border="0" height="214" src="/images/plan.h2.jpg" width="279"/>
    <img border="0" height="214" src="/images/plan.h1.jpg" width="279"/>
    <br/>
   </p>
   <hr color="#000000" size="1"/>
   See:
   <a href="/images/plan.gif">
    Animation:  PLAN
   </a>
   <hr color="#000000" size="1"/>
   <p>
    <br/>
    NOTE:  This sign has two versions.  One that has a straight 
  sweep, and another that has several up and down arcs. The one that moves in a 
  straight sweep tends to mean "plan" as in "We need a plan."
   </p>
   <p>
    The one that moves the hands from left to right (or right to left) using 
  small arcs tends to mean the noun form of "plan" and or the act of "planning 
  out" or "preparing."
    <br/>
   </p>
   <p>
    PLAN / PREPARE
   </p>
   <p>
    <img border="0" height="221" src="/images/plan.h5.jpg" width="269"/>
    <img border="0" height="221" src="/images/plan.h6.jpg" width="269"/>
    <img border="0" height="221" src="/images/plan.h7.jpg" width="269"/>
    <img border="0" height="221" src="/images/plan.h8.jpg" width="269"/>
    <img border="0" height="221" src="/images/plan.h9.jpg" width="269"/>
    <img border="0" height="221" src="/images/plan.h10.jpg" width="269"/>
    <br/>
   </p>
   <hr color="#000000" size="1"/>
   <p>
    See:
    <a href="/images/planprepare.gif">
     Animation of "plan / prepare"
    </a>
   </p>
   <hr color="#000000" size="1"/>
   <p style="margin-top: 0; margin-bottom: 0">
    <br/>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>