<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   <p>
    <br/>
    "A plant," spring-time, bush, garden:
   </p>
   <p>
    <img border="0" height="216" src="/images/spring-plant1.jpg" width="186"/>
    <img border="0" height="216" src="/images/spring-plant3.jpg" width="186"/>
    <img border="0" height="216" src="/images/spring-plant5.jpg" width="186"/>
    <img border="0" height="216" src="/images/spring-plant7.jpg" width="186"/>
    <br/>
    <br/>
    Note: If you do the sign "plant / spring / bush / garden" using only a 
	single movement it would tend to mean "GROW."
    <br/>
    <br/>
    Note:  When signing "GARDEN" I tend to sign "GROW" (using a small 
	movement) and then shift the sign location to the right a couple inches and 
	sign "GROW" again. That shows more than one plant growing.
    <br/>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
   <p>
    <br/>
    Some people feel the "initialized" version of "plant" is not an ASL sign. 
	I'm going to show it to you here so you can recognize it.  I suggest 
	you use the "plant / spring / bush / garden" version (above) instead of the 
	initialized version. Also see the "
    <a href="/dictionary/spring">
     spring
    </a>
    " 
  page.
    <br/>
    <br/>
    PLANT (initialized version)
    <br/>
    <img border="0" height="226" src="/images/plant.7.jpg" width="197"/>
    <img border="0" height="226" src="/images/plant.8.jpg" width="197"/>
    <img border="0" height="226" src="/images/plant.9.jpg" width="197"/>
   </p>
   <p>
    Animation:
    <br/>
    <img border="0" height="226" src="/images/plant.gif" width="197"/>
    <br/>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
   <br/>
   PLANT SEEDS:
   <br/>
   Rub your fingers together as you move your hand forward--as if dropping seeds 
  into a furrow.
   <br/>
   <br/>
   <img border="0" height="216" src="/images/plant-seeds1.jpg" width="240"/>
   <img border="0" height="216" src="/images/plant-seeds2.jpg" width="240"/>
   <img border="0" height="216" src="/images/plant-seeds3.jpg" width="240"/>
   <img border="0" height="216" src="/images/plant-seeds4.jpg" width="240"/>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>