<html>
 <body>
  <blockquote>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
    <p>
     To do the sign for "plug" hold up your non-dominant 
			index finger and then use your dominant-"V"-hand as a plug. (Don't 
			move the non-dominant hand -- just move the dominant hand.)
     <br/>
    </p>
    <p>
     PLUG / PLUG-IN
     <br/>
     <img border="0" height="229" src="/images/plug.h26.jpg" width="214"/>
     <img border="0" height="229" src="/images/plug.h27.jpg" width="214"/>
     <br/>
    </p>
    <hr align="left" color="#000000" size="1"/>
    <p>
     <br/>
     But wait! There's more!  Reverse the movement and you've got....
     <i>
      unplug
     </i>
     !!!
    </p>
    <p>
     <br/>
     UNPLUG:
     <br/>
     <img border="0" height="229" src="/images/plug.h27.jpg" width="214"/>
     <img border="0" height="229" src="/images/plug.h26.jpg" width="214"/>
     <br/>
     (Oooh. Tricky eh?
     <i>
      Please
     </i>
     , hold all applause till the end. If you 
			missed it, just refresh the page.)
    </p>
    <p>
    </p>
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>