<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   <p style="margin-top: 0; margin-bottom: 0">
    UPDATE:  I 
			notice that over time this sign has evolved.  It seems most 
			people are now doing the sign starting with an "S" handshape (or a "closed O" handshape).
    <font face="Arial">
     <br/>
     <br/>
     POETRY (slightly out of date version)  (Should now start with 
			an "S" hand.)
    </font>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <img border="0" height="217" src="/images/poetry.1.jpg" width="208"/>
    <img border="0" height="217" src="/images/poetry.2.jpg" width="208"/>
    <img border="0" height="217" src="/images/poetry.3.jpg" width="208"/>
    <img border="0" height="217" src="/images/poetry.4.jpg" width="208"/>
    <img border="0" height="217" src="/images/poetry.5.jpg" width="208"/>
    <br/>
    <font face="Arial">
     Memory tip:
	The idea is to take the beauty in your heart and offer it up to the world.
    </font>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    Animation:
    <font face="Arial">
     <a href="/images/poetry.gif">
      Poetry ("from the heart" version)
     </a>
    </font>
   </p>
   <font face="Arial">
    <p style="margin-top: 0; margin-bottom: 0">
    </p>
    <hr align="left" color="#000000" size="1"/>
   </font>
   <p style="margin-top: 0; margin-bottom: 0">
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    POETRY (Very old initialized version of 
	"music")
    <br/>
    You can initialize the above sign for
    <a href="/dictionary/music">
     MUSIC
    </a>
    by using a "P" handshape on the 
  dominant hand.  That changes the meaning to "poetry" instead of music. 
	The initialized version is considered by many to be "signed English."
    <br/>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>