<html>
 <body>
  <blockquote>
   <h1 style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     <font size="5">
      <span style="font-weight: 400">
       American Sign Language: 
		"point"
      </span>
     </font>
     <br/>
    </font>
   </h1>
   <p style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1" width="50%"/>
   <span style="font-weight: 400">
    <p style="margin-top: 0; margin-bottom: 0">
     POINT:
     <br/>
     As in "Good point."
     <br/>
     You point your  dominant index finger toward the tip of the other index 
finger and you move the dominant finger toward but do not touch the non-dominant 
finger.
     <br/>
    </p>
    <hr align="left" color="#000000" size="1" width="50%"/>
    <p style="margin-top: 0; margin-bottom: 0">
     POINT:
    </p>
    <p style="margin-top: 0; margin-bottom: 0">
     As in the type of point you score in 
a game.
     <br/>
     This sign is done "very" quickly:
     <br/>
     <img border="0" height="240" src="/images/point.1.jpg" width="320"/>
     <img border="0" height="240" src="/images/point.2.jpg" width="320"/>
     <img border="0" height="240" src="/images/point.3.jpg" width="320"/>
    </p>
    <br/>
    <p style="margin-top: 0; margin-bottom: 0">
    </p>
   </span>
   <hr align="left" color="#000000" size="1"/>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1"/>
   <hr align="left" color="#000000" size="1"/>
   <hr color="#000000" size="1"/>
   <p>
   </p>
  </blockquote>
 </body>
</html>