<html>
 <body>
  <blockquote>
   <h1 style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     <span style="font-weight: 400">
      <font size="5">
       American Sign Language: "polite"
      </font>
     </span>
     <br/>
    </font>
   </h1>
   <p>
   </p>
   <hr align="left" color="#000000" size="1" width="50%"/>
   <p style="margin-top: 0; margin-bottom: 0">
    <span style="font-weight: 400">
     To sign polite you brush the tip of the thumb
  of your dominant five-hand twice on your chest using an upward motion.  The
  hand moves in a very small circle, up, out, down, back.  It is on the
  upward stroke that the thumb-tip touches the chest.  You might see other
  versions of the sign "polite," but this is how I do it.
     <br/>
     <br/>
     POLITE:
    </span>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <span style="font-weight: 400">
     <img border="0" height="368" src="/images/polite.gif" width="300"/>
    </span>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <iframe allow="encrypted-media" allowfullscreen="" frameborder="0" gesture="media" height="315" src="https://www.youtube.com/embed/1p_XFIHeOeI?rel=0" width="560">
    </iframe>
   </p>
   <hr align="left" color="#000000" size="1" width="50%"/>
   <p style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1"/>
   <hr align="left" color="#000000" size="1"/>
   <hr color="#000000" size="1"/>
   <p>
   </p>
  </blockquote>
 </body>
</html>