<html>
 <body>
  <blockquote>
   <h1 style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     <font size="5">
      <span style="font-weight: 400">
       American Sign Language: 
		"poop"
      </span>
     </font>
    </font>
   </h1>
   <p style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
    </font>
   </p>
   <hr align="left" color="#000000" size="1" width="50%"/>
   <span style="font-weight: 400">
    <p style="margin-top: 0; margin-bottom: 0">
     POOP:
     <br/>
     <img border="0" height="240" src="/images/poop.gif" width="234"/>
    </p>
    <p style="margin-top: 0; margin-bottom: 0">
     Hold out your left hand in a "fist 
handshape" with the thumb of the right hand stuck up into the um...the ...er 
"hole" of the pinkie side of the left fist handshape. And then move the right 
hand downward with a ...uh..."plopping" type movement.  That should do it.
     <br/>
     Note: The movement should be in the right hand only.  My left hand moves a 
bit in this pic, but really you don't want to be moving the left hand while 
doing this--it could get messy.
     <br/>
     <img border="0" height="300" src="/images/poop.h4.jpg" width="292"/>
     <img border="0" height="300" src="/images/poop.h5.jpg" width="292"/>
    </p>
    <p style="margin-top: 0; margin-bottom: 0">
    </p>
    <p style="margin-top: 0; margin-bottom: 0">
     Also see: "
     <a href="/dictionary/pee" style="text-decoration: none">
      pee
     </a>
     "
    </p>
   </span>
   <br/>
   <hr align="left" color="#000000" size="1"/>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1"/>
   <hr align="left" color="#000000" size="1"/>
   <hr color="#000000" size="1"/>
   <p>
   </p>
  </blockquote>
 </body>
</html>