<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   <p style="margin-top: 0; margin-bottom: 0">
    The sign for "popcorn" uses modified "X" hands. You put the 
	thumbnail of the index finger on the pad of the thumb and then you move your 
	hand upward and flick the index finger as if it were a kernel of corn 
	"popping." First one hand and then the next.
    <br/>
    <br/>
    POPCORN:
    <br/>
    <img border="0" src="/images/popcorn.gif" style="max-width: 100%; height: auto" width="480"/>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <iframe allow="autoplay; encrypted-media" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/f1FFdgGVFIk?rel=0" width="560">
    </iframe>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <img border="0" height="219" src="/images/popcorn1.jpg" width="189"/>
    <img border="0" height="219" src="/images/popcorn2.jpg" width="189"/>
    <img border="0" height="219" src="/images/popcorn3.jpg" width="189"/>
    <br/>
   </p>
   <hr align="left" color="#000000" size="1" width="50%"/>
   <p style="margin-top: 0; margin-bottom: 0">
    <br/>
    Sentence:  "Do you like to eat popcorn at the movies?"
    <br/>
    = SUPPOSE YOU GO MOVIE, YOU LIKE EAT POPCORN?
    <br/>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <iframe allow="autoplay; encrypted-media" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/OPNSzQs90YQ?rel=0" width="560">
    </iframe>
    <br/>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>