<html>
 <body>
  <blockquote>
   <h1 style="margin-top: 0; margin-bottom: 0">
    <span style="font-weight: 400">
     <font face="Arial" size="5">
      POST: The 
		American Sign Language (ASL) sign for "post"
     </font>
    </span>
    <font face="Arial">
     <br/>
    </font>
   </h1>
   <p>
   </p>
   <p>
   </p>
   <p>
    The concept of "post" has different meanings so there are several different signs.
   </p>
   <p>
    If you mean post as in a social media post then use a very quick, single movement such as this:
   </p>
   <p>
    <img border="0" height="720" src="/images/post-social-01.jpg" width="720"/>
    <img border="0" height="720" src="/images/post-social-02.jpg" width="720"/>
   </p>
   <p>
   </p>
   <p>
    POST-to-social-media:
    <br/>
    <iframe allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/Vr_huYCjj6M?rel=0" width="560">
    </iframe>
    <br/>
    <a href="https://youtu.be/Vr_huYCjj6M">
     https://youtu.be/Vr_huYCjj6M
    </a>
   </p>
   <p>
   </p>
   <h1 style="margin-top: 0; margin-bottom: 0">
   </h1>
   <hr align="left" color="#000000" size="1"/>
   <br/>
   POST [older version / double movement]
   <br/>
   <br/>
   If you are doing some old fashioned posting of paper to walls or telephone poles (etc.) you might want to use the older version of this sign that uses a double movement as if pressing thumb tacks into the top two corners of a poster on a 
  bulletin board, then press in thumb tacks on the bottom two corners.
   <br/>
   <br/>
   POST-to-a-physical-buletin-board / tack-up / put up flyers
   <p>
    <img border="0" height="216" src="/images/post.h4.jpg" width="262"/>
    <img border="0" height="216" src="/images/post.h5.jpg" width="262"/>
    <img border="0" height="216" src="/images/post.h6.jpg" width="262"/>
    <img border="0" height="216" src="/images/post.h7.jpg" width="262"/>
    <br/>
    This sign represents attaching a poster or a flyer to a bulletin board.
   </p>
   <p>
    <br/>
   </p>
   <hr align="left" color="#000000" size="1" width="50%"/>
   <p style="margin-top: 0; margin-bottom: 0">
    <br/>
    Sample sentence:
    <br/>
    "Do you post your phone number in the bathroom?"
    <br/>
    <br/>
    Technically it would be easier to just write it with a felt tip marker.
    <br/>
    (Not that I would know.)
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr/>
   <p>
   </p>
   <p>
    If you mean "post" as in a fence post then depict it using C handshapes.
    <br/>
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p>
    Notes:
    <br/>
    BULLETIN BOARD: 
			You can use the double movement version of the sign POST to mean "bulletin board" by signing POST and then drawing a big square in the air with 
  both index fingers starting at the top middle moving to the sides, then down, 
  then back to the middle.  Or depict the board using "L" hands to show the bottom corners.
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1"/>
   <hr align="left" color="#000000" size="1"/>
   <hr align="left" color="#000000" size="1"/>
   <hr color="#000000" size="1"/>
   <p>
   </p>
  </blockquote>
 </body>
</html>