<html>
 <body>
  <blockquote>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
    <p>
     The sign for "postpone" holds two "F"-hands out in 
			front of you and then moves one or both forward in an up, forward, 
			and down again arc.
     <br/>
    </p>
    <p>
     POSTPONE:
    </p>
    <p>
     <img border="0" height="226" src="/images/postpo46.jpg" width="213"/>
     <img border="0" height="226" src="/images/postpo47.jpg" width="213"/>
     <img border="0" height="226" src="/images/postpo48.jpg" width="213"/>
     <img border="0" height="226" src="/images/postpo49.jpg" width="213"/>
     <br/>
     <br/>
     Animation "POSTPONE" (version 
  1)
     <br/>
     <img border="0" height="226" src="/images/postpone.gif" width="211"/>
     <br/>
    </p>
    <hr align="left" color="#000000" size="1"/>
    <br/>
    There is a version in which both hands move. This variation means same as the version in 
			which only one hand moves.
    <br/>
    <br/>
    Postpone (version 2)
    <p>
     <img border="0" height="226" src="/images/postpo50.jpg" width="211"/>
     <img border="0" height="226" src="/images/postpo51.jpg" width="211"/>
     <img border="0" height="226" src="/images/postpo52.jpg" width="211"/>
     <img border="0" height="226" src="/images/postpo53.jpg" width="211"/>
     <br/>
    </p>
    <p>
     Animation "POSTPONE" (version 2)
     <br/>
     <img border="0" height="226" src="/images/postponeversion1.gif" width="213"/>
     <br/>
    </p>
    <hr align="left" color="#000000" size="1" width="50%"/>
    <p>
     Note:
    </p>
    <p>
     Don't worry about which version to do ("one-handed movement" vs 
			"both hands moving"). I've interviewed quite a number of people and 
			there simply isn't a consensus in the community as to any meaningful 
			differences between the two versions.
     <br/>
    </p>
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>