<html>
 <body>
  <blockquote>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
    <p>
     The concept of "pregnant" can be shown a couple of ways.
     <br/>
    </p>
    <p>
     PREGNANT / CONCEIVE / conception / "to become pregnant" / "to be 
	pregnant":
     <br/>
    </p>
    <p>
     <img border="0" height="209" src="/images/pregna1.jpg" width="202"/>
     <img border="0" height="209" src="/images/pregna2.jpg" width="202"/>
     <img border="0" height="209" src="/images/pregna3.jpg" width="202"/>
     <br/>
    </p>
    <hr align="left" color="#000000" size="1"/>
    <p>
     <br/>
     PREGNANT (version) / pregnancy
     <br/>
     This version can be modified easily to show "late stage" pregnancy by doing 
	the sign further out from the body and using an intense facial expression.
     <br/>
     <br/>
     <img border="0" height="224" src="/images/pregna4.jpg" width="182"/>
     <img border="0" height="224" src="/images/pregna5.jpg" width="182"/>
     <img border="0" height="224" src="/images/pregna6.jpg" width="182"/>
     <br/>
    </p>
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>