<html>
 <body>
  <blockquote>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
    <p>
     This sign is good to use if you mean principal as in the leader 
			of a school or "the school principal."
     <br/>
     <br/>
     Touch the tip of the middle finger of the "P-hand" to the back of a  
  palm-down S-hand twice.
     <br/>
     This sign refers to the person "principal" of a school.  The sign "
     <a href="/dictionary/principle">
      principle
     </a>
     " 
  spelled with an "le" instead of "al" uses a different sign.
     <br/>
     <br/>
     PRINCIPAL:
    </p>
    <p>
     <img border="0" height="221" src="/images/princi3.jpg" width="216"/>
     <img border="0" height="221" src="/images/princi4.jpg" width="216"/>
     <img border="0" height="221" src="/images/princi3.jpg" width="216"/>
     <img border="0" height="221" src="/images/princi4.jpg" width="216"/>
    </p>
    <hr align="left" color="#000000" size="1"/>
    <p>
     <br/>
     There is quite a bit of variation in ASL. Don't get hung up on the 
			small details.  My friend, Sean Benson signs "principal" by 
			starting with the dominant hand along side the non-dominant fist.  
			He then does a bit of a circular movement wherein he swings the "P" 
			hand up into position above the non dominant hand and then brings it 
			down once firmly.
     <br/>
     <br/>
     PRINCIPAL (another example)
     <br/>
     <img border="0" height="300" src="/images/principal-05.jpg" width="300"/>
     <img border="0" height="300" src="/images/principal-06.jpg" width="300"/>
     <img border="0" height="300" src="/images/principal-07.jpg" width="300"/>
     <img border="0" height="300" src="/images/principal-08.jpg" width="300"/>
    </p>
    <p>
     <br/>
     <br/>
    </p>
    <hr align="left" color="#000000" size="1"/>
    <p>
     Note:
    </p>
    <p>
     I have another friend (Deaf) who the sign PRINCIPAL with the 
			non-dominant hand in a palm handshape facing down (instead of in a 
			fist shape).
     <br/>
     <br/>
     If you mean some other type of "principal" (other than the leader 
			of a school) you should use a different sign than the "P" on the 
			back of the fist.  For example:
    </p>
    <p>
     See:
     <a href="/dictionary/main">
      MAIN
     </a>
     <br/>
     See:
     <a href="/dictionary/top">
      TOP
     </a>
     <br/>
     See:
     <a href="/dictionary/first">
      FIRST
     </a>
    </p>
    <hr align="left" color="#000000" size="1"/>
    <p>
    </p>
    <p>
     If you mean "principle" (note the different spelling) as in a 
			"guiding rule" then see:
     <a href="/dictionary/principle">
      PRINCIPLE
     </a>
     <br/>
    </p>
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>