<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1" width="50%"/>
   <span style="font-weight: 400">
    <font face="Arial">
     <p style="margin-top: 0; margin-bottom: 0">
      The sign for principle, (as in a 
guiding rule) is similar to signs such as "rule" or "law" that are done on the 
palm of non-dominant hand.
      <br/>
      <br/>
      Hold up your non-dominant "flat-hand" with the palm facing outward and the 
fingers pointing upward (as if representing a piece of paper.
      <br/>
      Touch the thumb-side of your dominant "P" hand the flat upper finger area of the 
non-dominant hand and then pull the "P-hand" off of the palm a bit as you make a 
small downward arc with the "P" hand and touch the lower part of the palm.
      <br/>
      <br/>
      PRINCIPLE:
      <br/>
      <img border="0" height="222" src="/images/law.ht5.jpg" width="201"/>
      <img border="0" height="222" src="/images/law.ht6.jpg" width="201"/>
      <img border="0" height="222" src="/images/law.ht7.jpg" width="201"/>
      <br/>
      <br/>
     </p>
     <hr align="left" color="#000000" size="1" width="50%"/>
     <p style="margin-top: 0; margin-bottom: 0">
      <br/>
      Here is an example of another signer "Sean Benson, single, Deaf, early 30's" 
doing the sign for "principle."
     </p>
     <p style="margin-top: 0; margin-bottom: 0">
      <br/>
      <img border="0" height="300" src="/images/principle-05.jpg" width="300"/>
      <img border="0" height="300" src="/images/principle-06.jpg" width="300"/>
      <img border="0" height="300" src="/images/principle-07.jpg" width="300"/>
      <img border="0" height="300" src="/images/princiiple-08.jpg" width="300"/>
      <br/>
     </p>
     <hr align="left" color="#000000" size="1" width="50%"/>
     <p style="margin-top: 0; margin-bottom: 0">
      Also see:
      <a href="/dictionary/rule">
       RULE
      </a>
      <br/>
      Also see:
      <a href="/dictionary/law">
       LAW
      </a>
     </p>
    </font>
   </span>
   <span style="font-weight: 400">
    <font face="Arial">
     <hr align="left" color="#000000" size="1" width="50%"/>
     <p style="margin-top: 0; margin-bottom: 0">
      <br/>
      Note: The sign PRINCIPLE doesn't mean "principal."  If you mean "principal" 
(as in the guy who is in charge of the school) then see:
      <a href="/dictionary/principal">
       PRINCIPAL
      </a>
     </p>
    </font>
   </span>
  </blockquote>
 </body>
</html>