<html>
 <body>
  <blockquote>
   <p>
    For "newspaper" see:
    <a href="/dictionary/newspaper">
     NEWSPAPER
    </a>
   </p>
   <hr align="left" color="#000000" size="1"/>
   In 1900's many Deaf men were involved with the printing profession.
   <br/>
   <hr align="left" color="#000000" size="1"/>
   <p>
    PRINTER, (a person who works on a printing press)  (PRINT + AGENT)
   </p>
   <p>
    <img border="0" height="235" src="/images/printer1.jpg" width="206"/>
    <img border="0" height="235" src="/images/printer2.jpg" width="206"/>
    <img border="0" height="235" src="/images/printer3.jpg" width="206"/>
    <img border="0" height="235" src="/images/printer4.jpg" width="206"/>
    <br/>
    <br/>
    Note:  The sign "PRINT" shown above in the first two 
  photographs, means "print" as
  a verb.
    <br/>
    If you are talking about newsprint, print on a page, your
  computer's printer, or the sign "newspaper" you should use a double
  "print" motion.
    <br/>
    NEWSPAPER:
    <br/>
    <img border="0" height="235" src="/images/printer1.jpg" width="206"/>
    <img border="0" height="235" src="/images/printer2.jpg" width="206"/>
    <img border="0" height="235" src="/images/printer1.jpg" width="206"/>
    <img border="0" height="235" src="/images/printer2.jpg" width="206"/>
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p>
    Open up a newspaper:
    <br/>
    <img border="0" height="223" src="/images/open-up-a-newspaper1.jpg" width="295"/>
    <img border="0" height="223" src="/images/open-up-a-newspaper2.jpg" width="295"/>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <br/>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>