<html>
 <body>
  <blockquote>
   <h1 style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     <font size="5">
      <span style="font-weight: 400">
       American Sign Language: 
		"prior-to"
      </span>
     </font>
     <br/>
    </font>
   </h1>
   <blockquote>
    <hr align="left" color="#000000" size="1" width="50%"/>
    <span style="font-weight: 400">
     <p style="margin-top: 0; margin-bottom: 0">
      Note: The concept "prior" can be 
expressed as "
      <a href="/dictionary/past" style="text-decoration: none">
       PAST
      </a>
      ."
      <br/>
      It depends on if you mean prior as in "prior to" something, or prior as in 
before now.
      <br/>
      <br/>
      PRIOR-to:
     </p>
     <p style="margin-top: 0; margin-bottom: 0">
      This version is means
  "prior to," "happened earlier than,"  and
  "previous to an event."
      <br/>
      NOTE:  The left hand isn't moving. The right hand is moving back toward 
  the body. Both hands are slightly bent at the knuckles.
     </p>
     <p style="margin-top: 0; margin-bottom: 0">
      <img border="0" height="480" src="/images/before-prior-to-01-small.jpg" width="480"/>
      <img border="0" height="480" src="/images/before-prior-to-02-small.jpg" width="480"/>
     </p>
     <p style="margin-top: 0; margin-bottom: 0">
      <iframe allowfullscreen="" frameborder="0" height="315" name="I1" src="https://www.youtube.com/embed/lqow5S8tnMs?rel=0" width="560">
      </iframe>
     </p>
     <p style="margin-top: 0; margin-bottom: 0">
     </p>
     <hr align="left" color="#000000" size="1" width="50%"/>
     <p>
      BEFORE-(prior to)
     </p>
     <p>
      Here is another version. This version means:
      <br/>
      "Prior to"
      <br/>
      "Happened earlier than"
      <br/>
      "Previous to an event"
     </p>
     <p>
      NOTE:  The left hand isn't moving. The right hand is moving back 
  toward the body.
     </p>
     <p style="margin-top: 0; margin-bottom: 0">
      <img border="0" height="480" src="/images/before-prior-to-front-version-01-small.jpg" width="480"/>
      <img border="0" height="480" src="/images/before-prior-to-front-version-02-small.jpg" width="480"/>
     </p>
     <p style="margin-top: 0; margin-bottom: 0">
      <iframe allow="encrypted-media" allowfullscreen="" frameborder="0" gesture="media" height="315" src="https://www.youtube.com/embed/TQMe2WDz9QE?rel=0" width="560">
      </iframe>
     </p>
    </span>
   </blockquote>
   <hr align="left" color="#000000" size="1"/>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1"/>
   <hr color="#000000" size="1"/>
   <p>
   </p>
  </blockquote>
 </body>
</html>