<html>
 <body>
  <blockquote>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
    <p>
     The sign for "promise" starts with an index finger to 
			the lips and then places a flat hand on top of the thumb-side of the 
			non-dominant "S"-hand.
     <br/>
    </p>
    <p style="margin-top: 0; margin-bottom: 0">
     PROMISE:
     <br/>
     <img border="0" height="238" src="/images/promis12.jpg" width="224"/>
     <img border="0" height="238" src="/images/promis13.jpg" width="224"/>
     <img border="0" height="238" src="/images/promis14.jpg" width="224"/>
    </p>
    <hr align="left" color="#000000" size="1"/>
    <a href="/dictionary/covenant">
     Covenant
     <font face="Times New Roman">
      ►
     </font>
    </a>
    <hr align="left" color="#000000" size="1" width="50%"/>
    <p>
    </p>
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>