<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   To do the sign for "purple,"
   <font face="Arial">
    shake a "P" twice.
    <br/>
    <img border="0" height="333" src="/images/purple-14.jpg" width="333"/>
    <img border="0" height="333" src="/images/purple-15.jpg" width="333"/>
    <img border="0" height="333" src="/images/purple-16.jpg" width="333"/>
    <br/>
    <img border="0" height="333" src="/images/purple-14.jpg" width="333"/>
    <img border="0" height="333" src="/images/purple-15.jpg" width="333"/>
    <img border="0" height="333" src="/images/purple-16.jpg" width="333"/>
   </font>
   <hr align="left" color="#000000" size="1" width="50%"/>
   <p style="margin-top: 0; margin-bottom: 0">
    See:
    <a href="/dictionary/color">
     COLOR
    </a>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>