<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   The sign for purse has a couple of variations.
   <br/>
   A popular version uses a mime-type motion as if you were holding on 
			to the handle of a small purse or handbag.
   <br/>
   <br/>
   PURSE / handbag:  (version 1)
   <p style="margin-top: 0; margin-bottom: 0">
    <img border="0" height="300" src="/images/purse.1.jpg" width="300"/>
    <img border="0" height="300" src="/images/purse.2.jpg" width="300"/>
    <font face="Arial">
     <img border="0" height="300" src="/images/purse.1.jpg" width="300"/>
     <img border="0" height="300" src="/images/purse.2.jpg" width="300"/>
     <br/>
     Note: This version can be used to mean other things too. For 
			example, it can mean briefcase or "
     <a href="/dictionary/suitcase">
      suitcase
     </a>
     ."
     <br/>
    </font>
   </p>
   <hr align="left" color="#000000" size="1" width="50%"/>
   <p style="margin-top: 0; margin-bottom: 0">
    PURSE:  (animated 
			gif)
    <br/>
    <img border="0" height="300" src="/images/purse.gif" width="300"/>
    <br/>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1" width="50%"/>
   </font>
   <p style="margin-top: 0; margin-bottom: 0">
    <br/>
    There is another version of purse that I see from time to time. It 
			is is a bit, how shall I put this, ..."indelicate."  What you 
			do is you bend your fingers at the large knuckles and put the pad of 
			your thumb on the fingers (as if holding a piece of paper between 
			your thumb and fingers) and then you, (ahem) "jam" (lightly) your 
			hand up into your armpit twice.  Yes, indeed folks now you know 
			why it is important to shower or bathe prior to ASL class.
    <br/>
    <br/>
    PURSE (Version 2)
    <br/>
    <img border="0" height="300" src="/images/purse.3.jpg" width="300"/>
    <img border="0" height="300" src="/images/purse.4.jpg" width="300"/>
    <img border="0" height="300" src="/images/purse.5.jpg" width="300"/>
    <img border="0" height="300" src="/images/purse.6.jpg" width="300"/>
    <br/>
    <b>
     No
    </b>
    , you
    <b>
     can't
    </b>
    use
    <u>
     <i>
      this
     </i>
    </u>
    version of 
			"purse" to mean suitcase. Sorry. I haven't seen anyone carry a 
			suitcase in their armpit.
    <br/>
    (Well, okay, now that I think about it, yes, I have seen it a time 
			or two at the airport but it wasn't pretty.)
    <br/>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1" width="50%"/>
   </font>
   <p style="margin-top: 0; margin-bottom: 0">
    <br/>
    PURSE (version) (animated gif)
    <br/>
    <img border="0" height="300" src="/images/purse-2.gif" width="300"/>
    <br/>
    <br/>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1" width="50%"/>
    <p style="margin-top: 0; margin-bottom: 0">
     <br/>
     BAG:
     <br/>
     Most of the time the concept of "
     <a href="/dictionary/bag">
      bag
     </a>
     " is 
			going to just be spelled: "B-A-G." Spelling "bag" is actually faster 
			than doing a sign for it.
     <br/>
     <a href="/images/b.gif">
      <img alt="b.gif (461540 bytes)" border="2" height="100" src="/images/b_small.gif" width="100" xthumbnail-orig-image="../../fingerspelling/abc-gifs/b.gif"/>
     </a>
     <a href="/images/a.gif">
      <img alt="a.gif (156187 bytes)" border="2" height="100" src="/images/a_small.gif" width="100" xthumbnail-orig-image="../../fingerspelling/abc-gifs/a.gif"/>
     </a>
     <a href="/images/g.gif">
      <img alt="g.gif (156913 bytes)" border="2" height="100" src="/images/g_small.gif" width="100" xthumbnail-orig-image="../../fingerspelling/abc-gifs/g.gif"/>
     </a>
     <br/>
     Note:
			At high speed the "A" gets morphed a bit and the spelling just looks 
			like a "sign."
     <br/>
     <br/>
     Okay, now, did you pay attention to what I just said?
     <br/>
     Do you think I type this stuff out because I like
     <i>
      typing
     </i>
     ?
     <br/>
     I told you to
     <i>
      <b>
       spell
      </b>
     </i>
     the concept of "bag" = B-A-G.
     <br/>
     <br/>
     Some of you are
     <b>
      afraid
     </b>
     of fingerspelling and are going to be
     <a href="/dictionary/stubborn">
      stubborn
     </a>
     and want a "sign" for bag.
     <br/>
     Fine. If you feel like looking silly here it is:
     <br/>
     <br/>
     BAG:
     <br/>
     <img border="0" height="300" src="/images/bag.7.jpg" width="300"/>
     <img border="0" height="300" src="/images/bag.8.jpg" width="300"/>
     <img border="0" height="300" src="/images/bag.9.jpg" width="300"/>
    </p>
   </font>
   <p style="margin-top: 0; margin-bottom: 0">
    Now don't show up in your 
			local ASL class or at a Deaf event and say, Dr. Bill says this is 
			the sign for "bag."
    <br/>
    Nope. I didn't tell you to sign "bag."  I told you to
    <i>
     spell
    </i>
    it.
    <br/>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>