<html>
 <body>
  <blockquote>
   <h1 style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     <span style="font-weight: 400">
      <font size="5">
       ASL: "QM-wig"
      </font>
     </span>
     <br/>
    </font>
   </h1>
   <p>
    <br/>
    Discussion:
    <br/>
    QM-wig refers to a sign called "question mark wiggle." It is used at the end of question 
sentences which may be in need of clarification (of the fact that the sentence 
is a question) or for responding in a questioning way in which you are also 
expressing skepticism.
    <br/>
    "Reeeealy?"
    <br/>
    "Are you suuuure about that?"
    <br/>
    "You wouldn't be pulling my leg would you?"
   </p>
   <p>
    "Is that so? Hmmm."
    <br/>
    <br/>
    QM-wig (repeat the movement a couple times)
    <br/>
    <img border="0" height="480" src="/images/qm-wig-1.jpg" width="480"/>
    <ins class="adsbygoogle" data-ad-client="ca-pub-2513564923850231" data-ad-slot="4979558599" style="display:inline-block;">
     <img border="0" height="480" src="/images/qm-wig-2.jpg" width="480"/>
    </ins>
    <img border="0" height="480" src="/images/qm-wig-3.jpg" width="480"/>
    <br/>
    <br/>
    <br/>
    Video clip of "QM-wig"
    <br/>
    <iframe allow="autoplay; encrypted-media" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/kS2VaLVITiw?rel=0&controls=0" width="560">
    </iframe>
    <br/>
    Or see:
    <a href="https://www.youtube.com/watch?v=kS2VaLVITiw">
     https://www.youtube.com/watch?v=kS2VaLVITiw
    </a>
   </p>
   <p>
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p>
    Notes:
    <br/>
    While QM-wig is often used to show skepticism, an example of a time when you 
might want to use QM-wig for a question in which you are "not" skeptical but are 
simply asking a question is:  "Do you think he is mad?"  Or "Is he 
mad?"
    <br/>
    Such a sentence is actually a yes/no sentence which typically uses raised 
eyebrows but the sign MAD typically uses furrowed eyebrows.  A type of 
facial grammar punctuation conflict is created in which the yes/no facial 
expression is competing with the MAD facial expression. Compounding the issue is 
the fact that the "MAD" facial expression just so happens to use furrowed 
eyebrows similar to the furrowed eyebrows used for WH-Questions.
    <br/>
    <br/>
    Approaches:
    <br/>
    1.  Sign MAD with furrowed eyebrows and adjust the sign order:  MAD 
is-HE?-[y/n-q]
    <br/>
    2.  Do the sign MAD with a yes/no facial expression:  HE MAD?-[y/n-q]
    <br/>
    3.  Sign MAD with furrowed eyebrows and use a QM-wig: HE MAD 
QM-wig?-[y/n-q]
    <br/>
   </p>
   <hr/>
   <p>
    Also, regarding QM-WIG -- If, for some reason, your question sentence ends 
with conflict between a "sign expression" and a "punctuation expression" you may 
want to clarify via a QM-wig that you are indeed asking a question. For example, 
if you ask "Is he/she/that-person sad?"--you tend to end with a sad facial 
expression rather than the "yes/no question punctuation expression of raised 
eyebrows. In such situations the face can't be used simultaneously for both the 
"sad face" and the raised eyebrows. of the yes/no question expression. So you 
can go ahead and use the sad face but add QM-WIG for the question punctuation 
with raised eyebrows.
   </p>
   <hr/>
   <p>
    <br/>
    Also see: "
    <a href="/dictionary/question-mark">
     Question Mark
    </a>
    "
    <br/>
    See:
    <a href="/dictionary/ask-to">
     ASK-to
    </a>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1"/>
   <hr align="left" color="#000000" size="1"/>
   <hr align="left" color="#000000" size="1"/>
   <hr color="#000000" size="1"/>
   <p>
   </p>
  </blockquote>
 </body>
</html>