<html>
 <body>
  <blockquote>
   <h1 style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     <span style="font-weight: 400">
      <font size="5">
       American Sign Language: "Question 
		Marks"
      </font>
     </span>
     <br/>
    </font>
   </h1>
   <p>
    <br/>
    Daniel Hodson writes:
    <br/>
    Hi Dr. Bill. On some other ASL-related sites, students are instructed to use the 
ASK-to sign at the end of any question, as a "I'm asking for a response" 
indicator. I've never seen you do this. Is it necessary? It seems redundant to 
use a "wh"-question word and also have to signal that you're asking a question.
    <br/>
    Thanks.
    <br/>
    - Daniel
    <br/>
    ------------------------------
    <br/>
   </p>
   <div>
    Hello Daniel,
    <br/>
    You are right. Adding a manual signal (such as a QM-wig) to the end of a 
sentence that already uses facial grammar (such as raised or lowered eyebrows) 
to indicate that you are asking a question -- is redundant.
    <br/>
    QM-wig should be used sparingly and only for situations when you wish to either 
clarify that a complex sentence is indeed a question and/or you want to add an 
element of skepticism (via a combination of the QM-wig sign and a disbelieving 
facial expression).
    <br/>
    See:
    <a href="https://www.youtube.com/watch?v=WIfbve2UfKM">
     https://www.youtube.com/watch?v=WIfbve2UfKM
    </a>
    <br/>
    Think of QM-wig as similar to the question phrase "Is that so?" Then think of 
all the ways you could modulate "Is that so?"--by changing your facial 
expressions and tone of voice. Thus you can see that QM-wig can have a range of 
meanings.  It should not be used at the end of every question.
    <br/>
    Dr. V
    <br/>
    <br/>
    p.s.
There is a difference between "ASK-to" and "QM-wig" (question-mark wiggle).
    <br/>
    <br/>
    ASK-to:
    <br/>
    Start with an index-finger handshape, move your hand toward the person being 
asked, and change your handshape into an "X"-hand (pointed toward that person at 
a loose angle).
    <br/>
    <img border="0" height="222" src="/images/askto1.jpg" width="237"/>
    <img border="0" height="222" src="/images/askto2.jpg" width="237"/>
    <img border="0" height="222" src="/images/askto3.jpg" width="237"/>
    <br/>
   </div>
   <hr align="left" color="#000000" size="1"/>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p>
    Notes:
    <br/>
    See:
    <a href="/dictionary/qm-wig">
     QM-wig
    </a>
    <br/>
    See:
    <a href="/dictionary/ask-to">
     ASK-to
    </a>
   </p>
   <hr align="left" color="#000000" size="1"/>
   <hr align="left" color="#000000" size="1"/>
   <hr align="left" color="#000000" size="1"/>
   <hr color="#000000" size="1"/>
   <p>
   </p>
  </blockquote>
 </body>
</html>