<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   It is common for the concept of "quiz" to just be fingerspelled, 
			"Q-U-I-Z."
   <br/>
   However, quite a few people use a version of the sign for "test" to 
			mean "quiz."
   <p>
    <font face="Arial">
     See:
     <a href="/dictionary/test">
      TEST
     </a>
    </font>
    <br/>
    <br/>
    QUIZ (fingerspelled version)
    <br/>
    <img border="0" height="320" src="/images/q.gif" width="320"/>
    <img border="0" height="320" src="/images/u.gif" width="320"/>
    <img border="0" height="320" src="/images/i.gif" width="320"/>
    <img border="0" height="320" src="/images/z.gif" width="320"/>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1" width="50%"/>
   <p style="margin-top: 0; margin-bottom: 0">
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>