<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   <font face="Arial">
    <p>
     Use "R-hands" to show the robe worn by a rabbi.
     <br/>
     (Also see:
     <a href="/dictionary/jewish">
      Jewish
     </a>
     )
    </p>
    <p>
     <img border="0" height="239" src="/images/rabbi.4.jpg" width="231"/>
     <img border="0" height="239" src="/images/rabbi.5.jpg" width="231"/>
     <img border="0" height="239" src="/images/rabbi.6.jpg" width="231"/>
    </p>
   </font>
  </blockquote>
 </body>
</html>