<html>
 <body>
  <blockquote>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
    <p>
     The sign for "rabbit" shows two ears flopping.
     <br/>
     Use "U" handshapes and bend at the large knuckles twice.
     <br/>
     <br/>
     RABBIT:
     <br/>
     <img border="0" height="229" src="/images/rabbit18.jpg" width="213"/>
     <img border="0" height="229" src="/images/rabbit19.jpg" width="213"/>
     <img border="0" height="229" src="/images/rabbit22.jpg" width="213"/>
     <img border="0" height="229" src="/images/rabbit18.jpg" width="213"/>
     <img border="0" height="229" src="/images/rabbit19.jpg" width="213"/>
     <img border="0" height="229" src="/images/rabbit22.jpg" width="213"/>
     <br/>
     Hmmm...I'm going to redo that graphic someday and do the palm 
			orientation of each hand more towards the back (bunny ears flop 
			toward the back a bit, not straight out to the sides).
     <br/>
    </p>
    <hr align="left" color="#000000" size="1"/>
    <p>
     <br/>
     There is another sign for "rabbit" that I think of as meaning 
			"bunny" (but both versions mean rabbit or bunny).
    </p>
    <p>
    </p>
    <p>
     Hold "B"-hands (flat hands actually) on the upper sides of your head (as 
	if they were bunny ears). The palms are facing backward. Fold your "ears" 
	back twice.
     <br/>
     <br/>
     BUNNY / RABBIT:
    </p>
    <p>
     <img border="0" height="215" src="/images/rabbit20.jpg" width="232"/>
     <img border="0" height="215" src="/images/rabbit21.jpg" width="232"/>
     <img border="0" height="215" src="/images/rabbit20.jpg" width="232"/>
     <img border="0" height="215" src="/images/rabbit21.jpg" width="232"/>
     <br/>
    </p>
    <hr align="left" color="#000000" size="1"/>
    <br/>
    Notes:
    <br/>
    If the palms were facing forward, this sign would mean) "donkey." If 
			facing forward and using a single movement it can mean "stubborn."
    <br/>
    <br/>
    See:
    <a href="/dictionary/donkey">
     DONKEY
    </a>
    <br/>
    Also see:
    <a href="/dictionary/fox">
     FOX
    </a>
    <br/>
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>