<html>
 <body>
  <blockquote>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
    <p>
     To do the sign for "raccoon," show a raccoon mask with "V" 
			(or modified "K" hands). Change the "Vs" into "Rs" as 
			you move both hands out to the side a couple inches.
    </p>
    <p>
     <br/>
     RACCOON:
     <br/>
     <img border="0" height="212" src="/images/raccoo13.jpg" width="323"/>
     <img border="0" height="212" src="/images/raccoo14.jpg" width="323"/>
     <img border="0" height="212" src="/images/raccoo15.jpg" width="323"/>
     <br/>
    </p>
    <hr align="left" color="#000000" size="1"/>
    <p>
     <br/>
     Here's a little different variation (palms forward).   I'd stick 
	with the above version but it is not a big deal. They both 
  mean "raccoon."
     <br/>
     <br/>
     RACCOON:
    </p>
    <p>
     <img border="0" height="214" src="/images/raccoo5.jpg" width="335"/>
     <img border="0" height="214" src="/images/raccoo6.jpg" width="335"/>
     <img border="0" height="214" src="/images/raccoo7.jpg" width="335"/>
    </p>
    <p>
     <br/>
    </p>
    <hr align="left" color="#000000" size="1" width="50%"/>
    <p>
    </p>
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>