<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   <p style="margin-top: 0; margin-bottom: 0">
    The sign for "raised" or "grew-up" shows the height of a person as they grow up. Put your hand out in front of 
  you, palm down. Lift the hand upward in a smooth steady motion.
    <br/>
    <br/>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    RAISED / grow up:
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <iframe allow="autoplay; encrypted-media" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/Z24DQnf-GDk?rel=0" width="560">
    </iframe>
    <br/>
    <img border="0" height="300" src="/images/grow-up-01.jpg" width="300"/>
    <img border="0" height="300" src="/images/grow-up-02.jpg" width="300"/>
    <img border="0" height="300" src="/images/grow-up-03.jpg" width="300"/>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
    <p style="margin-top: 0; margin-bottom: 0">
     <br/>
     GROW-UP (animated gif)
     <br/>
     <img border="0" src="/images/raised.gif" style="max-width: 100%; height: auto" width="480"/>
     <br/>
    </p>
    <hr align="left" color="#000000" size="1"/>
   </font>
   <p style="margin-top: 0; margin-bottom: 0">
    Notes:
    <br/>
    If you want to say that you like to raise "plants" you would instead 
	sign "
    <a href="/dictionary/take-care-of">
     take care of
    </a>
    ."
    <br/>
    If you are talking about a fund raiser - there are several ways to sign it 
	but a fairly safe way would be to sign "
    <a href="/dictionary/money">
     MONEY
    </a>
    , EARN" 
	or even "MONEY COLLECT."
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
    <p style="margin-top: 0; margin-bottom: 0">
     Also see:
     <a href="/dictionary/grow">
      GROW
     </a>
    </p>
    <p style="margin-top: 0; margin-bottom: 0">
     Also see: "
     <a href="/dictionary/grammar-12">
      Context-based 
	Conjugation: GROW-UP/RAISED
     </a>
     "
    </p>
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>