<html>
 <body>
  <blockquote>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
    <p>
     To do the sign for "rat," brush your nose twice with an "R" hand.  
			In context it is possible to do this sign with just an index finger 
			instead of the "R." But lacking context, the "R" hand makes it 
			clear that you mean "rat" and not mouse.
     <br/>
    </p>
    <p>
     The sign for "rat" is thus an initialized version of the sign for "mouse."  
	You will see the sign
     <a href="/dictionary/mouse">
      MOUSE
     </a>
     done with either an index finger or a 
	pinkie, but I recommend you stick with the index finger for mouse and the 
	"R" hand for RAT. (Unless your local Deaf or ASL instructor has some other 
	preference).
     <br/>
     <br/>
     RAT:
     <br/>
     :
     <img border="0" height="208" src="/images/rat.ht17.jpg" width="223"/>
     <img border="0" height="208" src="/images/rat.ht18.jpg" width="223"/>
     <img border="0" height="208" src="/images/rat.ht19.jpg" width="223"/>
     <img border="0" height="208" src="/images/rat.ht17.jpg" width="223"/>
     <img border="0" height="208" src="/images/rat.ht18.jpg" width="223"/>
     <img border="0" height="208" src="/images/rat.ht19.jpg" width="223"/>
    </p>
    <p>
     <br/>
    </p>
    <hr align="left" color="#000000" size="1" width="50%"/>
    <p>
    </p>
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>