<html>
 <body>
  <blockquote>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
    <p>
     The sign for "rate"
     <br/>
    </p>
    <hr align="left" color="#000000" size="1" width="50%"/>
    <p>
     <br/>
     RATE:
			The concept of "rate" (as in "annual percentage rate") 
			doesn't have a "specific" sign in ASL. The word rate has several 
			meanings and each of those meanings is signed in different ways. In 
			general for the concept of "annual percentage rate" we would express 
			rate as a combination of the signs "YOU PAY HOW-MUCH" and then add a 
			version of the sign "MORE-OR-LESS"-[amount]. Thus the sign for 
			"rate" (in this) case is a combination of the context of "making
     <a href="/dictionary/regular">
      regular
     </a>
     payments," the sign HOW-MUCH, 
			and the sign 
			"MORE-OR-LESS."
    </p>
    <p>
    </p>
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>