<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   <p style="margin-top: 0; margin-bottom: 0">
    The sign for "read" uses the tips of your index and middle 
	fingers as if they were eyeballs. The non-dominant flat hand functions as 
	the "page" from which you are reading.
    <br/>
    <br/>
    Sample sentence: "What kind of books do you like to read?" = "BOOK, YOU LIKE 
	READ what-KIND?"
    <br/>
    <br/>
    <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/XfZkO61GcqI?rel=0" width="560">
    </iframe>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1" width="50%"/>
   <p>
    READING:
    <br/>
    <img border="0" src="/images/read.gif" style="max-width: 100%; height: auto" width="480"/>
    <img border="0" height="213" src="/images/read1.jpg" width="188"/>
    <img border="0" height="213" src="/images/read2.jpg" width="188"/>
    <img border="0" height="213" src="/images/read3.jpg" width="188"/>
    <img border="0" height="213" src="/images/read4.jpg" width="188"/>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    Notes:
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    The double movement would 
	generally be considered to mean, "reading." The verb "read" is done with a 
	single movement.
    <br/>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>