<html>
 <body>
  <blockquote>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
    <p style="margin-top: 0; margin-bottom: 0">
     <span style="font-weight: 400">
      The sign for "real" is the 
same sign as the sign "TRUE" which can be used to mean many English
concepts such as:  sure, indeed, absolutely, "you're welcome,"
really, very, etc...
      <br/>
      <br/>
      The sign for "real" (or TRUE)  is
made by placing the dominant index finger against your lips. If you are 
right-handed, your palm should face left.
     </span>
    </p>
    <p align="left" style="margin-top: 0; margin-bottom: 0">
     <span style="font-weight: 400">
      Move your 
index finger forward a few inches using a quick motion.
     </span>
    </p>
    <p align="left" style="margin-top: 0; margin-bottom: 0">
     <span style="font-weight: 400">
      <img border="0" height="225" src="/images/true-b1.jpg" width="192"/>
      <img border="0" height="225" src="/images/true-b2.jpg" width="192"/>
      <img height="260" src="/images/true.gif" width="213"/>
      <br/>
     </span>
    </p>
    <hr align="left" color="#000000" size="1"/>
    <p align="left" style="margin-top: 0; margin-bottom: 0">
     <span style="font-weight: 400">
      The sign "real" also means "true" as in:
      <br/>
      Do you like true/false tests?
      <br/>
      <br/>
      <br/>
     </span>
    </p>
    <hr align="left" color="#000000" size="1"/>
    <p align="left" style="margin-top: 0; margin-bottom: 0">
     <span style="font-weight: 400">
      See:
      <a href="/dictionary/true">
       TRUE
      </a>
     </span>
    </p>
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>