<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1" width="50%"/>
   <span style="font-weight: 400">
    <font face="Arial">
     <p style="margin-top: 0; margin-bottom: 0">
      RECENT:
      <br/>
      The right index finger bends and unbends a couple times.
      <br/>
      <br/>
     </p>
     <hr align="left" color="#000000" size="1" width="50%"/>
    </font>
   </span>
   <p>
    <img border="0" height="233" src="/images/recently-d1.jpg" width="213"/>
    <img border="0" height="233" src="/images/recently-d2.jpg" width="213"/>
    <img border="0" height="233" src="/images/recently-d3.jpg" width="213"/>
    <img border="0" height="233" src="/images/recently-d4.jpg" width="213"/>
   </p>
   <hr color="#800080"/>
   <p>
    Here is the same sign from a "side view."
    <br/>
    <img border="0" height="217" src="/images/recently-sideview1.jpg" width="217"/>
    <img border="0" height="217" src="/images/recently-sideview2.jpg" width="217"/>
    <img border="0" height="217" src="/images/recently-sideview3.jpg" width="217"/>
    <img border="0" height="217" src="/images/recently-sideview4.jpg" width="217"/>
    <img border="0" height="217" src="/images/recently-sideview5.jpg" width="217"/>
   </p>
   <span style="font-weight: 400">
    <br/>
    "Recent" functions as either an adjective or an adverb in ASL sentences 
but mostly it is used as an adverb:  For example: I RECENT BUY SHOES. 
Would be interpreted as "I recently bought some shoes."
    <br/>
    <br/>
    Now, if you want to add the adverb concept of "very" to "RECENT," you can do 
so by using a technique called "cs" which stands for "cheek to shoulder".
    <br/>
    By raising your shoulder a bit and moving your cheek down toward the shoulder 
while signing the concept "RECENT" you are able to change the meaning of the 
sign to mean "very recently."
   </span>
  </blockquote>
 </body>
</html>