<html>
 <body>
  <blockquote>
   <h1 style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     <span style="font-weight: 400">
      <font size="5">
       American Sign Language: "recipe"
      </font>
     </span>
     <br/>
    </font>
   </h1>
   <blockquote>
    <hr align="left" color="#000000" size="1"/>
    <p>
     In a message dated 6/11/2013 1:23:13 P.M. Pacific Daylight Time, 
		Elyn Tibbs, a student at cscc.edu writes:
    </p>
    <blockquote style="BORDER-LEFT: blue 2px solid; PADDING-LEFT: 5px; MARGIN-LEFT: 5px">
     <font color="#000000" face="Tahoma" size="2" style="BACKGROUND-COLOR: transparent">
      <div style="FONT-FAMILY: Tahoma; DIRECTION: ltr; COLOR: #000000; FONT-SIZE: 10pt">
       Hello Dr. Vicars,
       <br/>
       <br/>
       Is there a sign for "recipe"? I cannot find the sign and many 
			Youtube videos show people fingerspelling it.
       <br/>
       <br/>
       Thank you for your time,
       <br/>
       <br/>
       Elyn Tibbs
       <br/>
       ASL I Student
      </div>
     </font>
    </blockquote>
    <p>
     <br/>
     Elyn,
     <br/>
     Hello :)
     <br/>
     In general the concept of "recipe" is indeed fingerspelled.  I 
			encourage you to practice spelling "recipe" over and over again 
			until you can spell it fast enough that you are no longer concerned 
			about finding a "sign" for it and are instead perfectly comfortable 
			spelling it just as you see Deaf people do.
     <br/>
     <br/>
     I will however mention a couple of signs related to the concept of 
			"recipe" that you may find helpful.
     <br/>
     <br/>
     <a href="/dictionary/check">
      CARD
     </a>
     -(square or rectangle)
    </p>
    <p>
     <img border="0" height="209" src="/images/check.gif" width="240"/>
     <br/>
     <br/>
     Draw a rectangle in the air with your index fingers and thumbs.
     <br/>
    </p>
    <hr align="left" color="#000000" size="1" width="50%"/>
    <p>
     <br/>
     <a href="/dictionary/instructions">
      INSTRUCTIONS
     </a>
     / describe / 
			explain
    </p>
    <p>
     <img border="0" height="79" src="/images/explain.gif" width="153"/>
     Hold "F" hands out in front of you and slide one forward while you 
			slide the other backward. Then alternate the movement.
    </p>
   </blockquote>
   <hr align="left" color="#000000" size="1"/>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1"/>
   <hr align="left" color="#000000" size="1"/>
   <hr color="#000000" size="1"/>
   <p>
   </p>
  </blockquote>
 </body>
</html>