<html>
 <body>
  <blockquote>
   <h1 style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     <font size="5">
      <span style="font-weight: 400">
       American Sign Language: 
		"recovery"
      </span>
     </font>
    </font>
   </h1>
   <p style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
    </font>
   </p>
   <span style="font-weight: 400">
    <p style="margin-top: 0; margin-bottom: 0">
     RECOVERY:
    </p>
   </span>
   <br/>
   <span style="font-weight: 400">
    There is no widely recognized 
sign that is commonly labeled as "recovery."
    <br/>
    To express the idea of "recovery" in ASL you need to think about what meaning 
you are trying to convey and then use a sign or set of signs that conveys that 
meaning. I'll present a few ideas below:
    <br/>
   </span>
   <hr align="left" color="#000000" size="1" width="50%"/>
   <span style="font-weight: 400">
    <p style="margin-top: 0; margin-bottom: 0">
     HEALTHY:
     <br/>
     This sign is a version of "STRONG."
     <br/>
     <img border="0" height="240" src="/images/healthy-01.jpg" width="304"/>
     <img border="0" height="240" src="/images/healthy-02.jpg" width="304"/>
     <br/>
    </p>
    <p align="left" style="margin-top: 0; margin-bottom: 0">
    </p>
    <hr align="left" color="#000000" size="1" width="50%"/>
    <p align="left" style="margin-top: 0; margin-bottom: 0">
     IMPROVE:
    </p>
    <p align="left" style="margin-top: 0; margin-bottom: 0">
     <img border="0" height="240" src="/images/improve-01.jpg" width="241"/>
     <img border="0" height="240" src="/images/improve-02.jpg" width="241"/>
     <img border="0" height="240" src="/images/improve-03.jpg" width="241"/>
    </p>
   </span>
   <p align="left" style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1"/>
   <hr align="left" color="#000000" size="1"/>
   <hr color="#000000" size="1"/>
   <p>
   </p>
  </blockquote>
 </body>
</html>