<html>
 <body>
  <blockquote>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
   <span style="font-weight: 400">
    <font face="Arial">
     <p style="margin-top: 0; margin-bottom: 0">
      There are several different ways to 
sign the concept of "record." The right sign depends on your meaning.
      <br/>
     </p>
     <hr align="left" color="#000000" size="1"/>
     <p style="margin-top: 0; margin-bottom: 0">
      <br/>
      If you mean "record" as in "to make a note of," then use the 
version of record that means "Make a note of..."
      <br/>
      <br/>
      Sample usages:
      <br/>
      "Let me put that down on paper."
      <br/>
      "Make a note of that."
      <br/>
      "Get this in writing."
      <br/>
      "We need to document this."
      <br/>
      <br/>
      RECORD-("make an note of")
      <br/>
      <img border="0" height="300" src="/images/record6.jpg" width="255"/>
      <img border="0" height="300" src="/images/record7.jpg" width="255"/>
      <img border="0" height="300" src="/images/record8.jpg" width="255"/>
      <img border="0" height="300" src="/images/record9.jpg" width="255"/>
      <br/>
      <br/>
      Also see:
      <a href="/dictionary/note">
       NOTE
      </a>
      <br/>
     </p>
     <hr align="left" color="#000000" size="1"/>
     <p style="margin-top: 0; margin-bottom: 0">
      <br/>
     </p>
    </font>
   </span>
   <font face="Arial">
    <span style="font-weight: 400">
     If you mean "record" as 
in "make a video recording," see:
    </span>
    <span style="font-weight: 400">
     <a href="/dictionary/video-record" style="text-decoration: none">
      VIDEO-RECORD
     </a>
    </span>
   </font>
   <br/>
   <span style="font-weight: 400">
    <font face="Arial">
     <hr align="left" color="#000000" size="1"/>
     <p style="margin-top: 0; margin-bottom: 0">
      <br/>
      Version:
      <br/>
      If you mean "record" as in "set a new record or new standard for performance" 
then hold out your non-dominant flat hand, palm down, (lay it in front of you in 
the air, pointing off to your dominant side. Then take your dominant hand and 
form it into a fist and hold your dominant forearm in the air a couple inches 
above the non-dominant hand and quickly, firmly bring the elbow down onto the 
back of the palm-down non-dominant hand (think of planting a flag).
      <br/>
      See: (under construction)
      <br/>
     </p>
     <hr align="left" color="#000000" size="1"/>
     <p style="margin-top: 0; margin-bottom: 0">
      <br/>
      Version:
      <br/>
      If you mean "record" as in "my grandma likes to listen to vinyl records," then 
hold out your non-dominant flat hand, palm up.  Make an "X-hand" with your 
dominant hand. Use the "X-hand" like a "needle" (old fashioned record arm) and 
circle it around the non-dominant hand as if representing the turning of a 
record on a record player.
      <br/>
      See: 
(under construction)
      <br/>
     </p>
     <hr align="left" color="#000000" size="1"/>
    </font>
   </span>
  </blockquote>
 </body>
</html>