<html>
 <body>
  <blockquote>
   <h1 style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     <span style="font-weight: 400">
      <font size="5">
       ASL: "reject"
      </font>
     </span>
     <br/>
    </font>
   </h1>
   <p>
    <br/>
    <img border="0" height="360" src="/images/reject-01.jpg" width="360"/>
    <img border="0" height="360" src="/images/reject-02.jpg" width="360"/>
    <br/>
    <iframe allow="autoplay; encrypted-media" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/NRQTQZk7QQY?rel=0" width="560">
    </iframe>
   </p>
   <p>
    <br/>
   </p>
   <hr/>
   <p>
    THUMBS-DOWN (or "THUMB-DOWN")
    <br/>
    <img border="0" height="360" src="/images/thumbs-down-01.jpg" width="397"/>
    <img border="0" height="360" src="/images/thumbs-down-02.jpg" width="397"/>
    <br/>
   </p>
   <p>
    <iframe allow="autoplay; encrypted-media" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/krYWDqIcJao?rel=0" width="560">
    </iframe>
    <img border="0" height="320" src="/images/thumbs-down.gif" width="320"/>
    <br/>
    <br/>
    Notes:  Both versions (the "sweep off the palm" version and the "thumbs 
down" version of "REJECT" certainly do overlap in their meanings but 
"THUMB-DOWN" is often used for situations such as:
    <br/>
    Signer A: PAST-NIGHT MOVIE? YOU ENJOY?
    <br/>
    Signer B: THUMB-DOWN
    <br/>
    Also thumbs down is good for meanings for that such as:
    <br/>
    "not a fan"
    <br/>
    "meh" / "not good"
    <br/>
    "boo"
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p>
    Also see:
    <a href="/dictionary/deny">
     DENY
    </a>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1"/>
   <hr align="left" color="#000000" size="1"/>
   <hr align="left" color="#000000" size="1"/>
   <hr color="#000000" size="1"/>
   <p>
   </p>
  </blockquote>
 </body>
</html>