<html>
 <body>
  <blockquote>
   <h1 style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     <font size="5">
      <span style="font-weight: 400">
       American Sign Language: 
		 relationship / cooperation
      </span>
     </font>
     <br/>
    </font>
   </h1>
   <blockquote>
    <hr color="#000000" size="1"/>
    <p style="margin-top: 0; margin-bottom: 0">
     The sign for "relationship" 
	can also mean "cooperation."
    </p>
    <hr align="left" color="#000000" size="1" width="50%"/>
    <p>
     To show a relationship between two people, things, or ideas you can use a 
	back-and-forth sliding movement between the two items. This sign can also be 
	used to mean "cooperate."
    </p>
    <p>
     RELATIONSHIP / COOPERATION:
     <br/>
     <img border="0" height="217" src="/images/relati11.jpg" width="233"/>
    </p>
    <hr align="left" color="#000000" size="1" width="50%"/>
    <p>
     <img border="0" height="218" src="/images/relati9.jpg" width="221"/>
     <img border="0" height="217" src="/images/relati10.jpg" width="233"/>
     <img border="0" height="218" src="/images/connectto4.jpg" width="221"/>
    </p>
    <hr color="#000000" size="1"/>
    <p style="margin-top: 0; margin-bottom: 0">
     <br/>
     You can also use the general sign "CONNECT" to indicate that two things are 
	related or connected to each other. That they have a "bond."
     <br/>
     <br/>
     CONNECT:
     <br/>
     <img border="0" height="225" src="/images/of1.jpg" width="199"/>
     <img border="0" height="225" src="/images/of2.jpg" width="199"/>
    </p>
    <hr color="#000000" size="1"/>
    <p style="margin-top: 0; margin-bottom: 0">
    </p>
    <hr align="left" color="#000000" size="1" width="50%"/>
    <p style="margin-top: 0; margin-bottom: 0">
     Also see "
     <a href="/dictionary/connect">
      CONNECT
     </a>
     "
    </p>
    <hr align="left" color="#000000" size="1" width="50%"/>
    <p style="margin-top: 0; margin-bottom: 0">
     Also see: "
     <a href="/dictionary/of">
      OF
     </a>
     "
    </p>
    <hr align="left" color="#000000" size="1" width="50%"/>
   </blockquote>
   <hr align="left" color="#000000" size="1"/>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1"/>
   <hr align="left" color="#000000" size="1"/>
   <hr color="#000000" size="1"/>
   <p>
   </p>
  </blockquote>
 </body>
</html>