<html>
 <body>
  <blockquote>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
    <p>
     The sign for "relieved" uses palm-down flat hands (one 
			above the other) held to your torso and then moved downward.  
			The sign starts with a very slight pause then has a quick downward 
			movement and a slight hold at the end. It is common to do this sign 
			while exhaling and showing a sense of relief with your facial 
			expressions and body language.
     <br/>
    </p>
    <p>
     <br/>
     RELIEVED:
    </p>
    <p>
     <img border="0" height="221" src="/images/reliev11.jpg" width="251"/>
     <img border="0" height="221" src="/images/reliev12.jpg" width="251"/>
     <img border="0" height="221" src="/images/reliev13.jpg" width="251"/>
     <br/>
    </p>
    <hr align="left" color="#000000" size="1"/>
    Note: See the related sign: "
    <a href="/dictionary/satisfied">
     SATISFIED
    </a>
    ."
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>