<html>
 <body>
  <blockquote>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
   <p>
    Memory aid: Think of "tacking it down."
    <br/>
    <br/>
    REMEMBER:
    <font face="Arial">
     <br/>
     <img border="0" height="217" src="/images/remember.gif" width="238"/>
    </font>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1" width="25%"/>
   </font>
   <p>
    <img border="0" height="217" src="/images/remember1.1.jpg" width="238"/>
    <img border="0" height="217" src="/images/rememb5.jpg" width="238"/>
    <img border="0" height="217" src="/images/rememb6.jpg" width="238"/>
    <font face="Arial">
     <br/>
     <br/>
     <br/>
     Sample sentence:
     <br/>
     YOUR FIRST TEACHER, YOU REMEMBER HIS/HER NAME?
     <br/>
     <br/>
    </font>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
   <p>
    <br/>
    MEMORIZE:
    <br/>
    Start with a loose 5-hand or claw hand.  Quickly pull forward into a 
	fist.
    <br/>
    <img border="0" height="179" src="/images/rememb1.jpg" width="211"/>
    <img border="0" height="179" src="/images/rememb2.jpg" width="211"/>
    <img border="0" height="179" src="/images/rememb3.jpg" width="211"/>
    <img border="0" height="179" src="/images/rememb4.jpg" width="211"/>
    <br/>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
   <p style="margin-top: 0; margin-bottom: 0">
    Also see:
    <font face="Arial">
     "
     <a href="/dictionary/memorize">
      MEMORIZE
     </a>
     "
    </font>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
    <p style="margin-top: 0; margin-bottom: 0">
     Also see:
     <a href="/dictionary/forget">
      FORGET
     </a>
    </p>
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>