<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   The sign for "request" is one of the versions of ASK.
   <br/>
   See
   <font face="Arial">
    :
    <a href="/dictionary/ask">
     ASK
    </a>
   </font>
   <br/>
   <p style="margin-top: 0; margin-bottom: 0">
    <img border="0" height="542" src="/images/request-large.jpg" width="531"/>
   </p>
   <hr align="left" color="#000000" size="1" width="50%"/>
   <font face="Arial">
    <p style="margin-top: 0; margin-bottom: 0">
     Note: if you use a small, 
			repeated circular movement this sign can mean
     <a href="/dictionary/pray">
      PRAY
     </a>
     .
    </p>
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>