<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   <p style="margin-top: 0; margin-bottom: 0">
    The sign "RESIDENTIAL SCHOOL" 
	means "Deaf School." Use "i" handshapes.  The dominant hand moves, the 
	base hand is stationary.
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <br/>
    RESIDENTIAL-SCHOOL:
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <img border="0" src="/images/deaf-school.gif" style="max-width: 100%; height: auto" width="480"/>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <img border="0" height="236" src="/images/deafschool1.jpg" width="210"/>
    <img border="0" height="236" src="/images/deafschool2.jpg" width="210"/>
    <img border="0" height="236" src="/images/deafschool3.jpg" width="210"/>
    <img border="0" height="236" src="/images/deafschool4.jpg" width="210"/>
    <br/>
    <font face="Arial">
     <br/>
     Deaf School:
     <br/>
     <br/>
     <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/JA8Kr2vBYrY?rel=0" width="560">
     </iframe>
     <br/>
    </font>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1" width="50%"/>
    <p style="margin-top: 0; margin-bottom: 0">
     <br/>
    </p>
   </font>
   Sample sentence: "Did you go to a Deaf school?" = "DEAF-SCHOOL YOU?"
   <br/>
   <br/>
   <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/WhPrq0dHssc?rel=0" width="560">
   </iframe>
   <font face="Arial">
    <p style="margin-top: 0; margin-bottom: 0">
    </p>
    <hr align="left" color="#000000" size="1"/>
    <p style="margin-top: 0; margin-bottom: 0">
     <br/>
     DEAF-SCHOOL (Version 2)
     <br/>
     There is another version of this sign that is done similar to the version 
	above except that the base hand is in a palm-down "S"-hand.  The 
	dominant hand is still in an "i"-hand and still makes two downward 
	movements.
     <br/>
     <br/>
     <span style="font-weight: 400">
      <img border="0" height="239" src="/images/instit3.jpg" width="216"/>
      <img border="0" height="239" src="/images/instit4.jpg" width="216"/>
      <img border="0" height="239" src="/images/instit3.jpg" width="216"/>
      <img border="0" height="239" src="/images/instit4.jpg" width="216"/>
     </span>
    </p>
    <p style="margin-top: 0; margin-bottom: 0">
     <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/zBzPzQHC-fY?rel=0" width="560">
     </iframe>
     <span style="font-weight: 400">
      <br/>
     </span>
    </p>
    <hr align="left" color="#000000" size="1"/>
   </font>
   <p style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     <br/>
     Notes:
     <br/>
     The term "Residential school for the Deaf" means "Deaf School."  It can also be used to mean: 
	campus, institute or institution.  (But I don't recommend using it to 
	mean "campus" as in a college campus. For that, just sign 
	"COLLEGE" and if you need to you can add the "location / thereabouts" sign.)
     <br/>
     <br/>
     The sign for "Deaf School" is an initialized form of the sign "SCHOOL." Why 
	the "i" handshape?  The "i" handshape refers to the concept of an 
	"institution." Deaf people used to be "institutionalized" into State-run 
	residential institutions.
     <br/>
     <br/>
     In the Deaf world, when we ask someone if they attended a "Deaf School" what 
	we mean is "Did you attend a  State-run Residential School for the Deaf?"  Students live there during the week and go home on weekends or school holidays--(depending on the program). 
	If the school wasn't run by the State and if it didn't have a residential 
	component then it wasn't a "Deaf School."  Instead it would labeled 
	with some other term: "Deaf Day Program," "Deaf Charter School," "Deaf 
	Inclusion Program," etc.
     <br/>
     <br/>
     * Most Deaf people are
     <span style="background-color: #FFFF00">
      proud of having attended a “Deaf-school.”
     </span>
     It
  is culturally similar to the "Hearing world" practice of having attended a
  prestigious boarding school.  Rich Hearing people might speak with pride
  regarding having attended certain "boarding schools" or
  "prep schools."  Culturally Deaf people (rather than those who 
	are merely
     <i>
      physically
     </i>
     <i>
      deaf
     </i>
     ) express pride at having attended a Deaf school.
     <br/>
    </font>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
    <p style="margin-top: 0; margin-bottom: 0">
     See:
     <a href="/dictionary/deaf">
      DEAF
     </a>
    </p>
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>