<html>
 <body>
  <blockquote>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
    <p>
     <br/>
     The sign for "restroom" is just an alternate (somewhat 
			more polite) way of signing "bathroom."  Use an "R" handshape 
			and make a movement similar to the sign for double digit numbers 
			(such as 22, 33, 44, etc.). Slap the hand forward and down a couple 
			of inches and then arch it up to the starting point and slap it down 
			an inch or two to the right (if you are right handed).
     <br/>
     <br/>
     RESTROOM:
     <br/>
     <img border="0" height="233" src="/images/restro29.jpg" width="232"/>
     <img border="0" height="233" src="/images/restro30.jpg" width="232"/>
     <img border="0" height="233" src="/images/restro31.jpg" width="232"/>
     <img border="0" height="233" src="/images/restro32.jpg" width="232"/>
     <br/>
    </p>
    <hr align="left" color="#000000" size="1" width="50%"/>
    <p>
     <br/>
     In an email message kellyann.burket writes:
     <br/>
     Good afternoon! I don't know if this is the right email to send this 
			question to, but I'll give it a shot. First of, I love your website! 
			It's really helped me expand my vocabulary. Second, I have a 
			question about the sign for "bathroom." I was taught the sign that 
			you use (to make a T and shake it). However, I've seen a couple 
			people use the sign for "ready" as the sign for "restroom." Is this 
			an alternate sign, or is it slang? Thanks!
     <br/>
     Kellyann Burket
     <br/>
     <br/>
     Kellyann,
     <br/>
     Actually that sign is "RESTROOM" not "READY."
     <br/>
     RESTROOM bounces an R twice. After the first bounce it arcs up and 
			to the outside a bit. (As if drawing the letter "N" in the air with 
			the tip of an R-handshape).
     <br/>
     -- Bill
     <br/>
    </p>
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>