<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   To sign "restaurant" touch an "R" handshape to the corner of your 
chin, then touch it to the other corner of your chin.
   <br/>
   <br/>
   RESTAURANT:
   <br/>
   <img border="0" height="223" src="/images/restau15.jpg" width="196"/>
   <img border="0" height="223" src="/images/restau16.jpg" width="196"/>
   <br/>
   <br/>
   <font face="Arial">
    Sample sentence:
"What is the name of a restaurant you like to eat at?" = RESTAURANT 
YOU LIKE EAT, (what)-NAME?
    <br/>
    <br/>
    <br/>
   </font>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
   <p>
    <br/>
    CAFETERIA or CAFE:
    <br/>
    <img border="0" height="223" src="/images/restau17.jpg" width="206"/>
    <img border="0" height="223" src="/images/restau18.jpg" width="206"/>
   </p>
   <p>
    <br/>
    cafeteria animation:
    <br/>
    <img border="0" height="69" src="/images/cafeteria.gif" width="86"/>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>