<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   <p style="margin-top: 0; margin-bottom: 0">
    The sign for "résumé" uses "R" hands to show the top and side edges of a resume.
    <br/>
    <br/>
    <font face="Arial">
     Résumé:
    </font>
   </p>
   <p>
    <img border="0" height="225" src="/images/resume1.jpg" width="227"/>
    <img border="0" height="225" src="/images/resume2.jpg" width="227"/>
    <img border="0" height="225" src="/images/resume3.jpg" width="227"/>
    <img border="0" height="225" src="/images/resume4.jpg" width="227"/>
    <img border="0" height="225" src="/images/resume5.jpg" width="227"/>
   </p>
   <font face="Arial">
    <p>
     <br/>
     Sentence: How many pages are there in your résumé?  = YOUR RESUME, 
HOW-MANY PAGES?
    </p>
    <p>
    </p>
    <p>
     <br/>
    </p>
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>