<html>
 <body>
  <blockquote>
   <h1 style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     <span style="font-weight: 400">
      <font size="5">
       American Sign Language: "reunion"
      </font>
     </span>
    </font>
   </h1>
   <blockquote>
    <hr align="left" color="#000000" size="1"/>
    <p style="margin-top: 0; margin-bottom: 0">
     Also see:  "
     <a href="/dictionary/meet">
      meet
     </a>
     " page.
     <br/>
     Also see: "
     <a href="/dictionary/meeting">
      meeting
     </a>
     " page.
    </p>
    <hr align="left" color="#000000" size="1"/>
    <p>
     <br/>
     If you want to say that you are going to a family reunion, you could do 
	the sign "
     <a href="/dictionary/family">
      family
     </a>
     " and then do the sign 
	"GATHER-to."  Don't get hung up on the concept of  "RE" in the 
	word "reunion."  It is obvious that if you are a family that means at 
	one time you were with your parents (if only at birth).  The idea of a 
	family reunion means "A family gathering."  For this you can use the 
	sign "GATHER-to."
    </p>
    <p>
     <b>
      <br/>
      GATHER-to:
     </b>
     This sign indicates a bunch of individuals coming together in the same 
	place.
    </p>
    <p>
     <img border="0" height="252" src="/images/reunio2.jpg" width="320"/>
     <img border="0" height="252" src="/images/reunio3.jpg" width="320"/>
     <img border="0" height="252" src="/images/reunio4.jpg" width="320"/>
     <img border="0" height="252" src="/images/reunio5.jpg" width="320"/>
    </p>
    <p>
     <iframe allowfullscreen="" frameborder="0" height="315" name="I1" src="https://www.youtube.com/embed/TcNFBcWtaC0?rel=0" width="560">
     </iframe>
    </p>
    <p>
     <font face="Times New Roman" size="4">
      ►
     </font>
     <font size="4">
      <a href="/images/reunion_01.gif">
       Click here for 
	an animation of "REUNION"
      </a>
     </font>
     <br/>
    </p>
    <hr align="left" color="#000000" size="1"/>
    <hr align="left" color="#000000" size="1"/>
    <p>
     <br/>
     <b>
      MEETING-group:
     </b>
     <br/>
     <img border="0" height="216" src="/images/meetin3.jpg" width="197"/>
     <img border="0" height="216" src="/images/meetin4.jpg" width="197"/>
     <img border="0" height="216" src="/images/meetin5.jpg" width="197"/>
    </p>
    <p>
     <iframe allowfullscreen="" frameborder="0" height="315" name="I2" src="https://www.youtube.com/embed/2Q79H7VpOsA?rel=0" width="560">
     </iframe>
     <br/>
     Note: If you are talking about "one person meeting another person" see the "
     <a href="/dictionary/meet">
      meet
     </a>
     " page.
     <br/>
    </p>
    <hr align="left" color="#000000" size="1"/>
    <p>
     <br/>
     In a message dated 6/1/2003 8:14:34 AM Central Daylight Time, deja1193@_______.net 
  writes:
     <br/>
     <br/>
     Hi Bill,
     <br/>
     Sorry to bother you. Just wanted to know, if you were talking about
  a Family Reunion,
  would that be the same as signing. FAMILY+PICNIC? Or is there another
  sign for that.
     <br/>
     Thank you
     <br/>
     Jerry
     <br/>
     <br/>
     <br/>
     Hi Jerry,
     <br/>
     For "family reunion" I've always signed "FAMILY AGAIN MEETING." Note...the 
  sign meeting  uses all the fingers and the thumb of 
  both hands and is different from the sign "meet" which only uses the index 
  fingers of each hand. Another good way to sign family reunion would be to sign "FAMILY" and then 
  sign "gather to central place."  (I'll have to post the sign "gather to 
  one place" at this web someday.
     <br/>
     Bill
    </p>
    <hr align="left" color="#000000" size="1" width="50%"/>
   </blockquote>
   <hr align="left" color="#000000" size="1"/>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1"/>
   <hr align="left" color="#000000" size="1"/>
   <hr color="#000000" size="1"/>
   <p>
   </p>
  </blockquote>
 </body>
</html>