<html>
 <body>
  <blockquote>
   <h1 style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     <span style="font-weight: 400">
      <font size="3">
       American Sign Language: "review"
       <br/>
       <br/>
       The sign for review is traditionally done as an initialized (using an 
		"R" hand) backwards version of "
       <a href="/dictionary/later">
        LATER
       </a>
       " 
		(counterclockwise rotation) on the palm.
       <br/>
       Lately, many of my colleagues have eschewed initialization (deliberately 
		avoid using; abstain from) and thus do the sign for "review" as a 
		backwards version of LATER using an "L" hand (which is arguably a more 
		simple handshape than an "R" hand).
       <br/>
       <br/>
      </font>
     </span>
    </font>
    <span style="font-weight: 400">
     <font face="Arial">
      <img border="0" height="236" src="/images/later-d3.jpg" width="257"/>
      <img border="0" height="236" src="/images/later-d2.jpg" width="257"/>
      <img border="0" height="236" src="/images/later-d1.jpg" width="257"/>
     </font>
    </span>
    <font face="Arial">
     <span style="font-weight: 400">
      <font size="3">
       <br/>
       <br/>
       Here is an example of that particular evolution of the "REVIEW" sign:
       <br/>
       <a href="https://www.youtube.com/watch?v=ZJ80gGVl7yg">
        https://www.youtube.com/watch?v=ZJ80gGVl7yg
       </a>
       <br/>
       <br/>
       If I were teaching at a typical college in a typical city knowing my 
		students would move on to higher level courses taught by other 
		instructors I would (probably) choose to teach them the initialized "R" 
		hand version of REVIEW.
       <br/>
       "When in Rome -- do as the Romans do." So if your colleagues or local 
		Deaf Community are (still) using the "R" hand version of "review" I 
		recommend you do so as well. Of course, this presupposes you actually 
		interact with your colleagues and/or the local Deaf Community. (Hint).
      </font>
     </span>
    </font>
   </h1>
   <p>
    <br/>
    Here is another version of "review" that means to "look back in time."
    <br/>
   </p>
   <p>
    <a href="https://www.youtube.com/embed/lKDVaSaQDa4?rel=0&autoplay=1" target="_blank">
     https://www.youtube.com/embed/lKDVaSaQDa4?rel=0&autoplay=1
    </a>
    <br/>
    <span style="font-weight: 400">
    </span>
    <br/>
    Also see:
    <a href="/dictionary/practice">
     PRACTICE
    </a>
    <br/>
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p>
    Notes:
    <br/>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    A very common version of the sign for “review” is 
	“initialized” by using the first letter (the “initial”) of the English word 
	“review” as the basis of the handshape for the sign. Languages evolve over 
	time and you will likely notice that as time goes on more and more of us in 
	the Deaf community are starting to avoid “over-initialization” of signs. For 
	example (as I’m sure you know) in ASL we do “not” use an “I” handshape to 
	sign the sign for “I/ME.”
    <br/>
    Another example of not using “initialization” is the sign for “retire.” For 
	many years quite a few of us did the sign for “retire” using modified-“R” 
	handshapes (sometimes called an “open-R” since the thumb is sticking out). 
	But now it is common to see the sign for “retire” done with “L” handshapes.
    <br/>
    (For an example of the non-initialized sign for “retire” see:
    <a href="https://youtu.be/DPTGQS3FdI0">
     https://youtu.be/DPTGQS3FdI0
    </a>
    )
    <br/>
    Similarly many people are starting to drop the “R” handshape from the sign 
	for “review” and starting to look upon the “initialized” version as being 
	“Signed English.” I personally don’t think of the initialized version of 
	“retire” as “Signed English” but I do see it as an unnecessary 
	initialization. I teach ASL at “Sac State” (formerly known as California 
	State University – Sacramento). Here the concept of “review” comes up fairly 
	often at department and other meetings. I’ve observed that the majority of 
	my colleagues and various interpreters have started using the 
	non-initialized version of the sign for “review.” My prediction is that the 
	non-initialized version will continue to spread (but the initialized version 
	will hang around for many years to come).
    <br/>
    Again, thank you for sharing your experience since many Hearing viewers of 
	this video are not (yet) involved in the Deaf world and do not realize the 
	diversity of signing and versions of signs that they will encounter when 
	they immerse themselves in the Deaf Community.
    <br/>
    Cordially,
    <br/>
    - Dr. Bill
    <br/>
    [http://www.lifeprint.com]
    <br/>
   </p>
   <hr align="left" color="#000000" size="1"/>
   <hr align="left" color="#000000" size="1"/>
   <hr align="left" color="#000000" size="1"/>
   <hr color="#000000" size="1"/>
   <p>
   </p>
  </blockquote>
 </body>
</html>