<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   <font face="Arial">
    <br/>
    There isn't a widespread sign for "rice" in ASL.
    <br/>
    <br/>
    I've seen people cup their
    <b>
     non-dominant hand like a bowl and then "eat" out 
	of it with an "R"
    </b>
    handshape.
    <br/>
    I've also seen a Korean sign for rice that used and "8" handshape and 
	flicked a grain of rice into the mouth (double movement).
   </font>
   <p style="margin-top: 0; margin-bottom: 0">
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>