<html>
 <body>
  <blockquote>
   <h1 style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     <font size="5">
      <span style="font-weight: 400">
       American Sign Language: 
"road / street / way / path"
      </span>
     </font>
    </font>
   </h1>
   <blockquote>
    <hr align="left" color="#000000" size="1" width="50%"/>
    <span style="font-weight: 400">
     <p style="margin-top: 0; margin-bottom: 0">
      ROAD:
      <br/>
      This one sign means street, way, path, and road.
      <br/>
      I've even seen it combined with "WATER" to mean "RIVER" [as in "WATER-WAY"]  
(but I don't do that version personally).
      <br/>
      <br/>
      <img border="0" height="300" src="/images/street5.jpg" width="315"/>
      <img border="0" height="300" src="/images/street6.jpg" width="315"/>
     </p>
     <p style="margin-top: 0; margin-bottom: 0">
     </p>
     <p style="margin-top: 0; margin-bottom: 0">
      <iframe allowfullscreen="" frameborder="0" height="315" name="I1" src="https://www.youtube.com/embed/suYp8zCSpWo?rel=0" width="560">
      </iframe>
     </p>
     <p style="margin-top: 0; margin-bottom: 0">
     </p>
     <hr align="left" color="#000000" size="1" width="50%"/>
     <p style="margin-top: 0; margin-bottom: 0">
      Note: Compare the sign "ROAD" with:
      <a href="/dictionary/hall" style="text-decoration: none">
       HALL
      </a>
      and
      <a href="/dictionary/sidewalk" style="text-decoration: none">
       SIDEWALK
      </a>
      .
     </p>
     <hr align="left" color="#000000" size="1" width="50%"/>
    </span>
   </blockquote>
   <hr align="left" color="#000000" size="1"/>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1"/>
   <hr align="left" color="#000000" size="1"/>
   <hr color="#000000" size="1"/>
   <p>
   </p>
  </blockquote>
 </body>
</html>