<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   Most of the time the concept of "robot" is just fingerspelled.
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
   <p>
    <br/>
    There are many kinds of "robots" but if you are telling a story to 
children or discussing a mechanical humanoid type robot then you 
could use the "robot" sign.
    <br/>
    <br/>
    ROBOT:
    <br/>
    <img border="0" height="300" src="/images/robot.1.jpg" width="300"/>
    <img border="0" height="300" src="/images/robot.2.jpg" width="300"/>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     <hr align="left" color="#000000" size="1"/>
    </font>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <br/>
    Sometimes by "robot" 
you really mean a "machine." In that case, use the "machine" sign.
    <br/>
    <br/>
    MACHINE / engine / factory:
    <br/>
    <img border="0" height="213" src="/images/machine.gif" width="300"/>
    <br/>
    <br/>
    <img border="0" height="205" src="/images/machin17.jpg" width="228"/>
    <img border="0" height="205" src="/images/machin18.jpg" width="228"/>
    <img border="0" height="205" src="/images/machin19.jpg" width="228"/>
    <img border="0" height="205" src="/images/machin20.jpg" width="228"/>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>