<html>
 <body>
  <blockquote>
   <h1 style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     <font size="5">
      <span style="font-weight: 400">
       American Sign Language: 
"roommate"
      </span>
     </font>
    </font>
   </h1>
   <p style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
    </font>
   </p>
   <hr align="left" color="#000000" size="1" width="50%"/>
   <span style="font-weight: 400">
    <p style="margin-top: 0; margin-bottom: 0">
     ROOMMATE, "companion," or "partner."
     <br/>
     If you do the sign "COMBINE"-(match) using a double movement it can mean changes to mean 
  "roommate" or "companion."
     <br/>
     Bring the hands together twice.  The fingers are each bent at the two 
smaller knuckles.
     <br/>
     <br/>
     <img border="0" height="213" src="/images/match.13.jpg" width="220"/>
     <img border="0" height="213" src="/images/match.14.jpg" width="220"/>
     <img border="0" height="213" src="/images/match.15.jpg" width="220"/>
     <img border="0" height="213" src="/images/match.16.jpg" width="220"/>
    </p>
    <p style="margin-top: 0; margin-bottom: 0">
    </p>
    <p style="margin-top: 0; margin-bottom: 0">
     <iframe allowfullscreen="" frameborder="0" height="315" name="I1" src="https://www.youtube.com/embed/cMlRLyAmpZc?rel=0" width="560">
     </iframe>
     <br/>
     <br/>
     Sentence: "Do you prefer to live alone or with a roommate?" YOU PREFER LIVE SINGLE-[alone] [bodyshift "or"] ROOMMATE-[match] 
WHICH?
     <br/>
     <iframe allowfullscreen="" frameborder="0" height="315" name="I2" src="https://www.youtube.com/embed/u-R6qepNlm0?rel=0" width="560">
     </iframe>
    </p>
    <p style="margin-top: 0; margin-bottom: 0">
    </p>
    <hr align="left" color="#000000" size="1" width="50%"/>
   </span>
   <p style="margin-top: 0; margin-bottom: 0">
    <span style="font-weight: 400">
     Also 
see:
     <a href="/dictionary/match" style="text-decoration: none">
      MATCH
     </a>
    </span>
   </p>
   <span style="font-weight: 400">
    <hr align="left" color="#000000" size="1" width="50%"/>
    <p style="margin-top: 0; margin-bottom: 0">
    </p>
   </span>
   <hr align="left" color="#000000" size="1"/>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1"/>
   <hr align="left" color="#000000" size="1"/>
   <hr color="#000000" size="1"/>
   <p>
   </p>
  </blockquote>
 </body>
</html>