<html>
 <body>
  <blockquote>
   <h1 style="margin-top: 0; margin-bottom: 0">
    <span style="font-weight: 400">
     <font size="5">
      American Sign Language: "Russia"
     </font>
    </span>
    <br/>
   </h1>
   <p>
    <br/>
    To sign "Russia," drag the side of your index finger backwards across your chin, 
then flick the finger downward.  Think of wiping "ale" from your chin and 
flinging it to the floor.
    <br/>
    <br/>
    RUSSIA:
    <br/>
    <img border="0" height="320" src="/images/russia-2.gif" width="320"/>
    <img border="0" height="320" src="/images/russia-001.jpg" width="320"/>
    <img border="0" height="320" src="/images/russia-002.jpg" width="320"/>
    <img border="0" height="320" src="/images/russia-003.jpg" width="320"/>
    <img border="0" height="320" src="/images/russia-004.jpg" width="320"/>
    <img border="0" height="320" src="/images/russia-005.jpg" width="320"/>
   </p>
   <div>
   </div>
   <hr align="left" color="#000000" size="1"/>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p>
    Notes: Some pics of me signing Russia from a while ago:
    <br/>
    <img border="0" height="226" src="/images/russia6.jpg" width="238"/>
    <img border="0" height="226" src="/images/russia7.jpg" width="238"/>
    <img border="0" height="226" src="/images/russia8.jpg" width="238"/>
    <img border="0" height="226" src="/images/russia9.jpg" width="238"/>
    <img border="0" height="226" src="/images/russia10.jpg" width="238"/>
   </p>
   <p>
   </p>
   <hr align="left" color="#000000" size="1"/>
   <br/>
   Note:
   <br/>
   There is an older sign for Russia in which you put your hands on your 
  hips twice as if doing a Russian dance move. (The handshapes are "5-hands). 
			The palm orientation is downward, the fingers point forward, and the 
			thumbs point backwards. The web of the thumb (of each hand) makes 
			contact twice with your hip.
   <p style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1"/>
   <hr align="left" color="#000000" size="1"/>
   <hr align="left" color="#000000" size="1"/>
   <hr color="#000000" size="1"/>
   <p>
   </p>
  </blockquote>
 </body>
</html>