<html>
 <body>
  <blockquote>
   <p>
    <font face="Arial">
     <span style="font-weight: 400">
      I went to a 
picnic one summer and while sitting around with a few of my friends I held up 
a salt shaker and asked, "What is your sign for this?"
      <br/>
      <br/>
      Ha!
     </span>
     Five different answers
     <span style="font-weight: 400">
      !  One of the oldest and most respected (4th 
generation Deaf, white hair, married to a Deaf man, has Deaf children, etc.) 
mimed 
a shaking movement (as if holding a salt shaker) and
     </span>
     <i>
      mouthed
     </i>
     <span style="font-weight: 400">
      the word "salt."  I kid you not!  Then we all spent another 15 minutes
      <strike>
       arguing
      </strike>
      , er, I mean
      <i>
       discussing
      </i>
      the "right" sign for 
"salt."  And get this: Everyone at that table was an ASL
      <i>
       instructor
      </i>
      !
      <br/>
      <br/>
     </span>
    </font>
   </p>
   <hr align="left" color="#000000" size="1" width="50%"/>
   <span style="font-weight: 400">
    <font face="Arial">
     <p style="margin-top: 0; margin-bottom: 0">
      SALT: Version 1 (recommended)
      <br/>
      <br/>
      <iframe allow="autoplay; encrypted-media" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/Ln3uCrAlHK8?rel=0" width="560">
      </iframe>
     </p>
     <p style="margin-top: 0; margin-bottom: 0">
      <img border="0" height="275" src="/images/salt.h1.jpg" width="400"/>
      <img border="0" height="272" src="/images/salt.h2.jpg" width="400"/>
      <br/>
      <br/>
     </p>
     <hr color="#000000" size="1"/>
     <p>
      <br/>
      A version of that sign for "salt"
     </p>
    </font>
   </span>
   doesn't
   <span style="font-weight: 400">
    flutter the dominant "V" hand fingers. The two fingers stay in a "V" shape and 
the movement is in the wrist not the knuckles.  (The movement of the 
dominant hand is down, up, down. The non-dominant hand doesn't move.)
    <br/>
    <br/>
    SALT: Version 2:
    <br/>
    <iframe allow="autoplay; encrypted-media" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/gk2fVViSW3Y?rel=0" width="560">
    </iframe>
    <br/>
    <p>
     Remember, there are a BUNCH of ways to sign salt.  Go with whatever your 
instructor or local Deaf friends use.
     <br/>
    </p>
    <hr color="#000000" size="1"/>
    <p>
     <br/>
     Another version of "salt" uses an V-hand on the dominant hand and an index 
finger on the non-dominant hand:
     <br/>
     <br/>
     SALT (variation)
    </p>
    <p>
     <iframe allow="autoplay; encrypted-media" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/H8Z6yk1hT7w?rel=0" width="560">
     </iframe>
     <br/>
     <img border="0" height="232" src="/images/salt1.jpg" width="205"/>
     <img border="0" height="232" src="/images/salt2.jpg" width="205"/>
     <img border="0" height="232" src="/images/salt3.jpg" width="205"/>
     <img border="0" height="232" src="/images/salt4.jpg" width="205"/>
     <img border="0" height="232" src="/images/salt5.jpg" width="205"/>
     <br/>
     <br/>
     Okay, so I'm the
     <i>
      only person on the planet
     </i>
     who likes this version. But I have my 
reasons. (See story below).
     <br/>
     <br/>
     In the pictures above, I'm using just my index finger on my left hand, 
(remember, my 
	wife (and a zillion other people) use "V" handshapes on
     <i>
      both
     </i>
     hands.  
	Not that she is
     <i>
      right
     </i>
     mind you.  I just put her version above 
mine as the recommended version because I want 
	to make her
     <i>
      happy
     </i>
     .
     <br/>
     <br/>
     The left (or non-dominant) hand stays stationary.  The right index and 
middle fingers alternate moving up and down.
     <br/>
     <br/>
     As the story goes:
     <br/>
     In the old days, crusty old wayfarers upon sitting down to 
meat, would stick their knife into the salt jar or bag.  As they withdrew 
their knife they made sure there was an amount of salt resting on the blade.  
They'd hold the knife over their food and tap it with their fingers, knocking 
the salt off somewhat evenly onto their food.
     <br/>
     <br/>
     [What?  You think I'd make something like that up?!?]
     <br/>
    </p>
    <hr color="#000000" size="1"/>
    <p>
     <br/>
     Okay now there is a general sign that means "seasoning" in general.  You 
just mime shaking something on to your food. In context it could mean "salt." Or 
it could mean pepper. Or it could mean those little jalapeño seeds in the funky 
little jars on the table at pizza joints.  Or it could mean...well -- you 
get my point. It depends on "context."  Invite me out for pizza and I'll 
show you how it works.
     <br/>
     <br/>
     SEASONING / sprinkle on / salt
     <br/>
     <br/>
     <br/>
     <img border="0" height="237" src="/images/peppera1.jpg" width="237"/>
     <img border="0" height="237" src="/images/peppera2.jpg" width="237"/>
     <img border="0" height="237" src="/images/peppera3.jpg" width="237"/>
     <img border="0" height="237" src="/images/peppera4.jpg" width="237"/>
     <br/>
    </p>
    <hr color="#000000" size="1"/>
    <p>
     Also see: "
     <a href="/dictionary/pepper">
      PEPPER
     </a>
     "
    </p>
    <hr color="#000000" size="1"/>
   </span>
  </blockquote>
 </body>
</html>