<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   <p style="margin-top: 0; margin-bottom: 0">
    The sign for "same"
    <font face="Arial">
     as in, "These two 
things are the same" can also mean:
    </font>
    similar, same as, and alike. You 
slide a "Y" handshape back and forth between the two items you are 
comparing.
    <br/>
    <br/>
    SAME:
    <br/>
    <img border="0" height="226" src="/images/same-f1.jpg" width="257"/>
    <img border="0" height="226" src="/images/same-f3.jpg" width="257"/>
    <img border="0" height="226" src="/images/same-f4.jpg" width="257"/>
    <br/>
    <font face="Arial">
     <p style="margin-top: 0; margin-bottom: 0">
     </p>
     <hr align="left" color="#000000" size="1"/>
    </font>
   </p>
   <p>
    The sign for same is "directional." By that I mean, the direction in which 
you do the sign can provide information about the subject and object of the 
verb. For example, if I slide the "Y" hand back and forth between you and me 
the sign can mean:
    <font face="Arial">
     "me too"  "you and me, both"  "I agree with you" "I'm similar to 
you"  You don't have to add a separate "ME" or a separate "YOU" sign, 
the meaning is created by the direction of the sign.
    </font>
    <br/>
    <br/>
    SAME: "Me too."
    <br/>
    <img border="0" height="225" src="/images/same-h1.jpg" width="208"/>
    <img border="0" height="225" src="/images/same-h2.jpg" width="208"/>
    <img border="0" height="225" src="/images/same-h3.jpg" width="208"/>
    <img border="0" height="225" src="/images/same-h4.jpg" width="208"/>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
   <p style="margin-top: 0; margin-bottom: 0">
    <br/>
    <font face="Arial">
     There is a generic sign for "SAME."  I call it the "ALSO" 
sign since it is commonly used to mean "also." To sign "ALSO" you'd bring the
index fingers together in front of you (slightly off to the right).  Then
you'd separate the hands again and shift a few inches to your left.  Then
you bring the index fingers together again. Some people don't do the sideways 
relocation of the sign and just touch the fingers togehter twice as I'm 
showing here.
     <br/>
     <br/>
     ALSO:
     <br/>
     <img border="0" height="225" src="/images/same-g1.jpg" width="228"/>
     <img border="0" height="225" src="/images/same-g2.jpg" width="228"/>
     <img border="0" height="225" src="/images/same-g1.jpg" width="228"/>
     <img border="0" height="225" src="/images/same-g2.jpg" width="228"/>
     <br/>
    </font>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
   <p style="margin-top: 0; margin-bottom: 0">
    Also see:
    <a href="/dictionary/looklike">
     LOOK-LIKE
    </a>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>