<html>
 <body>
  <blockquote>
   <h1 style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     <span style="font-weight: 400">
      <font size="5">
       ASL: "Santa"
      </font>
     </span>
     <br/>
    </font>
   </h1>
   <p>
   </p>
   <p>
    The sign for Santa Claus is based on his bushy white beard. 
	Hold a loose "CLAW" hand to your chin.  Bring it down in an arc to your 
	chest and touch the pinkie finger side of your hand to your chest.
    <br/>
    <br/>
    SANTA CLAUS:
   </p>
   <p>
    <img border="0" height="376" src="/images/santa1.jpg" width="300"/>
    <img border="0" height="376" src="/images/santa2.jpg" width="300"/>
    <img border="0" height="376" src="/images/santa3.jpg" width="300"/>
   </p>
   <p>
    <br/>
   </p>
   <hr align="left" color="#000000" size="1" width="50%"/>
   <p>
    Are there other ways to sign Santa Claus? Yes. There are quite a 
			few.  The one above is nice though since it is simple, it uses 
			only one hand (which lets me hold an eggnog in the other), and is 
			non-initialized (it doesn't use an "S" hand so people won't accuse 
			you of using Signed English, which, apparently would make you a bad 
			boy or girl and not get any presents).
   </p>
   <hr/>
   <p>
   </p>
   <p>
    <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" height="360" src="https://www.youtube.com/embed/6B7orPGHA1M" width="640">
    </iframe>
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p>
    Notes:
    <br/>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1"/>
   <hr align="left" color="#000000" size="1"/>
   <hr align="left" color="#000000" size="1"/>
   <hr color="#000000" size="1"/>
   <p>
   </p>
  </blockquote>
 </body>
</html>