<html>
 <body>
  <blockquote>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
    <p>
     The sign for "satisfied" uses palm-down flat hands.  
			Start a few inches from your torso then bring both hands in quickly 
			to touch your torso.
    </p>
    <p>
     <br/>
     SATISFIED:
    </p>
    <p>
     <img border="0" height="225" src="/images/satisf19.jpg" width="234"/>
     <img border="0" height="225" src="/images/satisf20.jpg" width="234"/>
     <br/>
     <br/>
     Memory aid: Imagine that you have eaten a good meal and your are now 
	satisfied because the food is "up to here."
     <br/>
    </p>
    <hr align="left" color="#000000" size="1"/>
    See:
    <a href="/dictionary/relieved">
     RELIEVED
    </a>
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>