<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   <p style="margin-top: 0; margin-bottom: 0">
    The sign for "
    <b>
     <i>
      Saturday
     </i>
    </b>
    " circles an "S."
    <br/>
    Note: The orientation can be palm forward, or "palm up" (the hand is 
	still in a fist shape, but if it were open the palm would be facing up).  Most native 
	signers tend to do it "palm up" because it is easier on the wrist.
   </p>
   <p>
    <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/6aYPttH2RzM?rel=0" width="560">
    </iframe>
   </p>
   <p>
    <img border="0" height="220" src="/images/saturday_arrows.jpg" width="214"/>
    <img border="0" height="220" src="/images/saturday1.jpg" width="214"/>
    <img border="0" height="220" src="/images/saturday2.jpg" width="214"/>
    <img border="0" height="220" src="/images/saturday3.jpg" width="214"/>
    <img border="0" height="220" src="/images/saturday4.jpg" width="214"/>
    <img border="0" height="220" src="/images/saturday5.jpg" width="214"/>
    <img border="0" height="220" src="/images/saturday6.jpg" width="214"/>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    every-SATURDAY:
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     <img border="0" src="/images/saturday-every.gif" style="max-width: 100%; height: auto" width="480"/>
    </font>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <br/>
    Sample sentence: "Saturday night I'm going to a party. Do you want to come 
	with me?"
    <br/>
    <br/>
    <iframe allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/jzKO7lOONxk?rel=0" width="560">
    </iframe>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     <hr align="left" color="#000000" size="1"/>
     <p style="margin-top: 0; margin-bottom: 0">
      <br/>
      See:
      <span style="font-weight: 400">
       <a href="/dictionary/sunday">
        SUNDAY
       </a>
       /
       <a href="/dictionary/monday">
        MONDAY
       </a>
       /
       <a href="/dictionary/tuesday">
        TUESDAY
       </a>
       /
       <a href="/dictionary/wednesday">
        WEDNESDAY
       </a>
       /
       <a href="/dictionary/thursday">
        THURSDAY
       </a>
       /
       <a href="/dictionary/friday">
        FRIDAY
       </a>
       / SATURDAY
      </span>
     </p>
    </font>
   </p>
  </blockquote>
 </body>
</html>