<html>
 <body>
  <blockquote>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
    <p>
     The sign for "saw" is as if your dominant "S"-hand were 
			holding a saw and your non-dominant flat hand were a piece of wood.
     <br/>
     <br/>
     Show a sawing motion. Repeat.
     <br/>
     <br/>
     SAW:
     <br/>
     <img border="0" height="238" src="/images/saw.ht38.jpg" width="235"/>
     <img border="0" height="238" src="/images/saw.ht39.jpg" width="235"/>
     <img border="0" height="238" src="/images/saw.ht40.jpg" width="235"/>
     <img border="0" height="238" src="/images/saw.ht38.jpg" width="235"/>
     <img border="0" height="238" src="/images/saw.ht39.jpg" width="235"/>
     <img border="0" height="238" src="/images/saw.ht40.jpg" width="235"/>
     <br/>
    </p>
    <hr align="left" color="#000000" size="1" width="50%"/>
    <p>
     Note: If you mean "saw" as in past tense of "see" then see:
     <a href="/dictionary/see">
      SEE
     </a>
    </p>
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>