<html>
 <body>
  <blockquote>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
   <p style="margin-top: 0; margin-bottom: 0">
    <br/>
    <b>
     Description
    </b>
    :  You tap your chin twice, just below the lower lip.
    <br/>
    NOTE:  As part of this sentence you use a "Wh?" facial
  expression.
    <br/>
    <br/>
    Phrase:  "What did he say?"
    <br/>
    <br/>
    <img border="0" height="221" src="/images/say-what-did-he-say1.jpg" width="208"/>
    <img border="0" height="221" src="/images/say-what-did-he-say2.jpg" width="208"/>
    <img border="0" height="221" src="/images/say-what-did-he-say3.jpg" width="208"/>
    <img border="0" height="221" src="/images/say-what-did-he-say4.jpg" width="208"/>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
    <p style="margin-top: 0; margin-bottom: 0">
     NOTE compare this sign with:
     <a href="/dictionary/speak">
      SPEAK
     </a>
     <br/>
     Also see:
     <a href="/dictionary/tell">
      TELL
     </a>
    </p>
    <hr align="left" color="#000000" size="1"/>
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>