<html>
 <body>
  <blockquote>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
    <p>
     <br/>
     There is no widely established sign for "scarecrow."
     <br/>
     Ha!
    </p>
    <p>
     <br/>
     So, what to do?
    </p>
    <p>
     Good luck. You are going to be criticized by "someone" regardless 
			what you do so armor up and move forward.
     <br/>
     <br/>
     For "now" I'm going to suggest you sign
     <a href="/dictionary/afraid">
      SCARE
     </a>
     +
     <a href="/dictionary/bird">
      BIRD
     </a>
     because, after all,
     <i>
      <b>
       that is what scarecrows do!
      </b>
     </i>
     <br/>
     <br/>
     Since you are doing a compound sign just use a small movement for 
			"scared" and a single (non-repeated) movement for BIRD. Do the 
			combination quickly and
     <i>
      without
     </i>
     the "scared" facial 
			expression.
    </p>
    <p>
     <br/>
     See below for more discussion (if you feel like it).
     <br/>
    </p>
    <hr align="left" color="#000000" size="1"/>
    <p>
     <br/>
    </p>
    <p>
     Notes:
     <br/>
    </p>
    <p>
     In a message dated 10/22/2002 4:39:13 PM Central Daylight Time, Anna writes:
     <br/>
    </p>
    <p>
     Dr.
  Bill,
     <br/>
     I have been going crazy trying to find the sign for scarecrow and was thrilled when a search for it brought me to your website.  Unfortunately, it is one of the signs not yet up and running, could you email me a description of it as soon as possible?  I have some elementary teachers trying to teach their kids a Halloween song with the word scarecrow in it.
     <br/>
     Thanks,
     <br/>
     Anna
     <br/>
     -------------------
    </p>
    <p>
     Dear Anna,
    </p>
    <p>
     There is no widely established sign for scarecrow.
     <br/>
     I interviewed dozens of expert signers.
     <br/>
     No sign, nada, zip. Sorry.
     <br/>
     <br/>
     There are
     <i>
      workarounds
     </i>
     , of course.
     <br/>
     <br/>
     You can to explain it the first time.  Then you can establish a sign for it to be used during that SAME conversation.
     <br/>
     <br/>
     For storytelling to young children you could do a mime-type sign wherein you hold your arms up and tilt your head as if you were a scarecrow.  Most of my peers seemed to agree that such a sign would be adequate for various storytelling activities if it were properly introduced.
     <br/>
     <br/>
     If you are chatting with a Deaf farmer you could sign "SCARE" plus "BIRD."  
	However, would you believe that
     <i>
      none
     </i>
     of the (Deaf) people I showed 
	that (compound) sign to liked it.  Bah!  I think I'm just surrounded by language purists.  I reckon if I asked a wider audience I'd get a fair number who would go for "SCARE + BIRD."  
	What I
     <i>
      really
     </i>
     want to do is find a native Deaf adult farmer (
     <i>
      who 
	has his own scarecrow
     </i>
     ) and has him (or her) how he signs scarecrow! But, until I actually 
	do meet such a farmer and/or get any sort of consensus, I'm going to 
	recommend that if you want to be "safe" then spell out S-C-A-R-E-C-R-O-W if 
	you just need to convey it once or twice. If you've got to tell a story 
	about a scarecrow and use the word again and again I recommend you establish 
	a conversation specific mime-type sign for "SCARECROW" (or sign SCARE+BIRD).
     <br/>
     Cordially,
    </p>
    <p>
     - Dr. Bill
     <br/>
     p.s. If you go the fingerspelling route, then abbreviating 
			"scarecrow" to SC on the second and future references might save you 
			from a hand cramp.
     <br/>
    </p>
    <hr align="left" color="#000000" size="1"/>
    <font color="#000000" face="Arial" id="role_document" size="2">
     <div>
      <div>
      </div>
     </div>
    </font>
    <div>
     In a message dated 11/17/2006 1:59:17 A.M. Pacific Standard Time, 
			cpt.scarecrow@ writes:
    </div>
    <blockquote style="PADDING-LEFT: 5px; MARGIN-LEFT: 5px; BORDER-LEFT: blue 2px solid">
     Hello,
     <br/>
     I've just started learning sign language a bit. And so far I just 
			know a few words and the alphabet.
     <br/>
     However I wanted to post a "Thank You" movie on
     <a href="http://youtube.com/" title="http://youtube.com/">
      Youtube.com
     </a>
     for someone who had introduced me to sign language 
			in basic signs. I found most words online. However for my nickname 
			(Scarecrow) I didn't find a single sign. The only somewhat helpful 
			page I found was
     <a href="/dictionary/scarecrow" title="http://www.lifeprint.com/asl101/pages-signs/s/scarecrow.htm">
      http://www.lifeprint.com/asl101/pages-signs/s/scarecrow.htm
     </a>
     in 
			which you tell someone that there isn't a scarecrow sign (yet).
     <br/>
     I was thinking about that, and although I'm completely new to sign 
			language, the "mime-type sign wherein you hold your arms up and tilt 
			your head as if you were a scarecrow" as you suggested seems a bit 
			of a large sign to me. I was also thinking more into the lines of 
			scare+bird, but as you said the "experts" didn't like that I thought 
			of another sign.
     <br/>
     I based my nickname on the book Scarecrow from Matthew Reilly. The 
			origin of the main characters nickname 'Scarecrow' is based upon 
			vertical scars running over each of his eyes (which were inflicted 
			during torturing). I don't know much about scarecrows, but since the 
			author of the book thought vertical scars over the eyes would make 
			people think of a scarecrow i thought that could be used as a sign 
			for it.
     <br/>
     So the sign I would suggest for "scarecrow" would be to hold both 
			your index fingers in front of your eyes.
     <br/>
     Does this seem like a good sign to you, and more importantly, is it 
			a new sign, or does it already mean something else?
     <br/>
     Thanks in advance for your answer,
     <br/>
     -
			"Scarecrow"
    </blockquote>
    <br/>
    Dear 
	"Scarecrow,"
    <br/>
    Hmmm, I don't think the general Deaf community would go for the vertical 
	index fingers in front of the eyes. I personally don't care for it much 
	either since when I think of a scarecrow I don't think of scars on the eyes.
    <br/>
    I do think of "hay" poking out from the collar and the sleeves though.  Thus 
	a sign based on crossing the hands over the chest so that the fingers poke 
	out from the neck as if representing "hay" might be an interesting 
	possibility.
    <br/>
    I will ask around again (now that I'm in a different state from where I 
	did my earlier research) and see what people think around here or if any of 
	them already have a sign.
    <br/>
    Something to consider: Even though I don't recommend the "vertical 
			index fingers in front of the eyes" sign to be used as a general 
			sign for "scarecrow" it occurs to me that such a sign would
    <b>
     make 
			a very interesting
     <i>
      namesign
     </i>
     for you personally
    </b>
    (since you 
			like being referred to as "scarecrow").
    <br/>
    --Dr. Bill
    <p>
    </p>
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>