<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   <div>
    In a message dated 1/31/2006 11:31:23 AM Pacific Standard Time, snooky@ 
	writes:
   </div>
   <blockquote style="PADDING-LEFT: 5px; MARGIN-LEFT: 5px; BORDER-LEFT: blue 2px solid">
    <font color="#000000" face="Arial" size="2" style="BACKGROUND-COLOR: transparent">
     <p class="MsoNormal">
      <span style="FONT-SIZE: 10pt; FONT-FAMILY: Arial">
       <font face="Arial" size="2">
        Dear Bill,
        <br/>
        I am enrolled in a sign language class once a week. I was in
        <?xml:namespace prefix = 
st1 ns = "urn:schemas-microsoft-com:office:smarttags" />
        <st1:state w:st="on">
         <st1:place w:st="on">
          Arizona
         </st1:place>
        </st1:state>
        last week and saw 
		a scorpion. No one in the class knew the sign for scorpion. Is there one 
		or do you just spell it?
        <br/>
        Thanks,
        <br/>
        Jane Fitzgerald
       </font>
      </span>
     </p>
    </font>
   </blockquote>
   <hr align="left" color="#000000" size="1"/>
   I haven't seen this sign very often, but for what it is worth, here's how
   <i>
    I
   </i>
   do it:
   <br/>
   Show a spider-like left hand.  Put a "stinger" on top of it with a 
	"right X hand."  Then "crawl" forward a few inches.
   <br/>
   <br/>
   <img border="0" height="198" src="/images/scorpi1.jpg" width="268"/>
   <img border="0" height="198" src="/images/scorpi2.jpg" width="268"/>
   <img border="0" height="198" src="/images/scorpi3.jpg" width="268"/>
   <p style="margin-top: 0; margin-bottom: 0">
    <br/>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>