<html>
 <body>
  <blockquote>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
    <p>
     The sign for "screwdriver" uses the dominant-"H"-hand 
			as if it were a screwdriver.  Put the tip of your screwdriver 
			on the non-dominant hand palm and make two turns.
     <br/>
     <br/>
     SCREWDRIVER:
     <br/>
     <img border="0" height="230" src="/images/screwd43.jpg" width="206"/>
     <img border="0" height="230" src="/images/screwd44.jpg" width="206"/>
     <img border="0" height="230" src="/images/screwd43.jpg" width="206"/>
     <img border="0" height="230" src="/images/screwd44.jpg" width="206"/>
    </p>
    <hr align="left" color="#000000" size="1" width="50%"/>
    <p>
    </p>
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>