<html>
 <body>
  <blockquote>
   <h1 style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     <font size="5">
      <span style="font-weight: 400">
       American Sign Language: 
		"seahorse"
      </span>
     </font>
     <br/>
    </font>
   </h1>
   <span style="font-weight: 400">
    <p style="margin-top: 0; margin-bottom: 0">
    </p>
    <hr align="left" color="#000000" size="1" width="50%"/>
    <p style="margin-top: 0; margin-bottom: 0">
     SEAHORSE:
     <br/>
     Version 1:
     <br/>
     Spell S-E-A and sign horse.
    </p>
    <hr align="left" color="#000000" size="1" width="50%"/>
    <p style="margin-top: 0; margin-bottom: 0">
    </p>
    <p style="margin-top: 0; margin-bottom: 0">
     SEAHORSE:
     <br/>
     Version two: Sign sea and horse.
     <br/>
     <img border="0" height="240" src="/images/seahor21.jpg" width="277"/>
     <img border="0" height="240" src="/images/seahor22.jpg" width="277"/>
     <img border="0" height="240" src="/images/seahor23.jpg" width="277"/>
     <img border="0" height="240" src="/images/seahor24.jpg" width="277"/>
     <img border="0" height="240" src="/images/seahor25.jpg" width="277"/>
     <img border="0" height="240" src="/images/seahor26.jpg" width="277"/>
     <img border="0" height="240" src="/images/seahor27.jpg" width="277"/>
     <img border="0" height="240" src="/images/seahor28.jpg" width="277"/>
     <img border="0" height="240" src="/images/seahor29.jpg" width="277"/>
    </p>
    <hr align="left" color="#000000" size="1" width="50%"/>
    <p style="margin-top: 0; margin-bottom: 0">
    </p>
    <p style="margin-top: 0; margin-bottom: 0">
     SEAHORSE:
     <br/>
     Version 3: Classifier X
     <br/>
     You would use this next version of the sign for "seahorse" after you've 
        already established that you are talking about seahorses.  This 
        version could be considered a "classifier" that shows the general size, 
        shape, and movement of a seahorse.  You could alter the movement 
        and shape of this to tell a story about how a seahorse was moving or 
        behaving.   You could add the left hand to your signing sphere 
        to indicate a second seahorse and show how they interact.
    </p>
    <p style="margin-top: 0; margin-bottom: 0">
     <img border="0" height="240" src="/images/seahorse-1.jpg" width="273"/>
     <img border="0" height="240" src="/images/seahorse-2.jpg" width="273"/>
     <img border="0" height="240" src="/images/seahorse-3.jpg" width="273"/>
     <img border="0" height="240" src="/images/seahorse-4.jpg" width="273"/>
     <img border="0" height="240" src="/images/seahorse-5.jpg" width="273"/>
     <img border="0" height="240" src="/images/seahorse-6.jpg" width="273"/>
     <br/>
    </p>
    <p align="left" style="margin-top: 0; margin-bottom: 0">
    </p>
    <hr align="left" color="#000000" size="1" width="50%"/>
   </span>
   <p>
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1"/>
   <hr align="left" color="#000000" size="1"/>
   <hr color="#000000" size="1"/>
   <p>
   </p>
  </blockquote>
 </body>
</html>