<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   <p style="margin-top: 0; margin-bottom: 0">
    The right sign for "
    <b>
     <i>
      second
     </i>
    </b>
    " depends on what you 
	mean.
    <font face="Arial">
     <hr align="left" color="#000000" size="1"/>
    </font>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <br/>
    If you mean "second" as in "one second of time" or "there are 60 
	seconds in a minute" you can do a "quick" version of the sign for "minute."
    <br/>
    <br/>
    Yes, that is right, the sign for "minute" is often used to mean 
	"second."
    <br/>
    <br/>
    I know that is
    <i>
     inefficient
    </i>
    .  Having two concepts that use the same exact 
	sign and rely on context (or a mouth movement to distinguish between the two 
	meanings) is confusing.  Hey, I didn't
    <i>
     invent
    </i>
    the language, I'm just
    <i>
     teaching
    </i>
    it to you.
    <br/>
    <br/>
    Do a
  very quick twitch of the right hand in an "index finger" handshape.  Have it do one
  "tick" of the clock. The movement is from the wrist and pivots on
  the heel of the other hand.  Remember, the movement is small and quick.
    <br/>
    <br/>
    <font face="Arial">
     SECOND:
    </font>
    <br/>
    <img border="0" height="218" src="/images/minute-onpalm1.jpg" width="188"/>
    <img border="0" height="217" src="/images/hour2.jpg" width="195"/>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    SECOND (fingerspelled)
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <img border="0" src="/images/second-s-e-c.gif" style="max-width: 100%; height: auto" width="480"/>
    <br/>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
   <p style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     Compare:
     <a href="/dictionary/minute">
      MINUTE
     </a>
    </font>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
   <p style="margin-top: 0; margin-bottom: 0">
    <br/>
    Sample sentence: "One minute has how many seconds?"
    <br/>
    <br/>
    <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/Nk8Duvf44Hs" width="560">
    </iframe>
    <br/>
    <br/>
    If you are discussing duration of time and you need to clearly distinguish 
	between a "minute" and a "second" -- you can spell them out.  M-I-N and 
	S-E-C.
    <br/>
    Or sign "MINUTE" and spell S-E-C.
    <br/>
    <br/>
    "second"
    <font face="Arial">
     = S-E-C:
    </font>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <img border="0" height="216" src="/images/second-s-e-c1.jpg" width="214"/>
    <img border="0" height="216" src="/images/second-s-e-c2.jpg" width="214"/>
    <img border="0" height="216" src="/images/second-s-e-c3.jpg" width="214"/>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/YkvPYEE027Q?rel=0" width="560">
    </iframe>
    <br/>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
   <div>
    <div>
     <p style="margin-top: 0; margin-bottom: 0">
      <font face="Verdana" size="4">
       Notes and optional reading:
      </font>
     </p>
     <p style="margin-top: 0; margin-bottom: 0">
      <font face="Verdana" size="4">
       <br/>
       "Second hand"
      </font>
      <br/>
      In a message dated 10/29/2006 1:23:31 PM Pacific Standard Time, rollendonner@ writes:
     </p>
    </div>
    <blockquote style="PADDING-LEFT: 5px; MARGIN-LEFT: 5px; BORDER-LEFT: blue 2px solid">
     <p style="margin-top: 0; margin-bottom: 0">
      <font color="#000000" face="Arial" style="BACKGROUND-COLOR: transparent">
       Dr. Bill,
       <br/>
       I learned a "new" sign today that [my] 
		teacher hadn't known before: apparently the local slang for "used car" is signed with an "L" sign with the index finger 
		pointed away from you like a pistol (at about a 45 degree angle) and shaking it back and forth a few times--like prodding 
		someone with a gun to buy a car they don't really want? The person who had learned it from Deaf friends had no explanation 
		but swore that it was true.
       <br/>
       - Loren
      </font>
     </p>
    </blockquote>
   </div>
   <div>
    <p style="margin-top: 0; margin-bottom: 0">
     Loren,
     <br/>
     Actually, the sign you are describing is based on a sign that means "second" as in "I second that motion," or "used / second-hand."
     <br/>
     When at a board meeting if we want to second something we will use the "L" hand pointed somewhat forward and up.  The 
		movement is a forward/sideward roll with a quick ending.
     <br/>
     If you
     <i>
      <b>
       roll
      </b>
     </i>
     the sign toward a person that sign can also be used to mean, "it's your turn."
     <br/>
     When this sign is used for cars it means "a second-hand car."
     <br/>
     - Dr.
		Bill
     <br/>
     <img border="0" height="240" src="/images/turn1.jpg" width="249"/>
     <img border="0" height="240" src="/images/turn2.jpg" width="249"/>
     <img border="0" height="240" src="/images/turn3.jpg" width="249"/>
    </p>
   </div>
   <hr color="#800080"/>
   <p style="margin-top: 0; margin-bottom: 0">
    Discussion:
   </p>
   <blockquote>
    <div>
     <div>
      <p style="margin-top: 0; margin-bottom: 0">
       In a message dated 7/26/2008 11:09:18 P.M. Pacific Daylight 
				Time, reed@ writes:
      </p>
     </div>
     <blockquote style="PADDING-LEFT: 5px; MARGIN-LEFT: 5px; BORDER-LEFT: blue 2px solid">
      <p style="margin-top: 0; margin-bottom: 0">
       <font color="#000000" face="Arial" style="BACKGROUND-COLOR: transparent">
        Hey Bill,
        <br/>
        Just a quick note: My Deaf friend taught me to sign "second" (as 
				in
				unit of time) similarly to "minute" but with a closed dominant 
				hand.
        <br/>
        So the secondary hand is a flat  "b" shape and the primary hand 
				is an
				"s" shape, with the curled thumb and index finger against the 
				palm. It
				ticks just like the sign for "minute".
        <br/>
        Apparently, this sign is in use here in the Bay Area. It avoids 
				the
				trouble of having "minute" and "second" signed the same way.
        <br/>
        Thanks again!
        <br/>
        Reed.
       </font>
      </p>
     </blockquote>
    </div>
    <p style="margin-top: 0; margin-bottom: 0">
     Hello Reed,
     <br/>
     Thank you for sharing your Deaf friend's version of the time sign 
		"SECOND."
     <br/>
     That version of the sign SECOND is what I'd call an "initialized" 
		version. It uses the initial of the English word "second" as the 
		handshape for the sign "SECOND." As an ASL instructor I would classify 
		that version as "
     <span style="background-color: #FFFF00">
      Signed English
     </span>
     ."
     <br/>
     Some people might be tempted to knee jerk react and say that your Deaf 
		friend doesn't sign ASL. It has been my observation however that quite a 
		few skilled ASL users use initialization from time to time and borrow 
		signs liberally from Signed English according to convenience. Whether or 
		not such signs "jump the gap" and become an accepted part of ASL -- only 
		time will tell. As of
     <i>
      right now
     </i>
     though I would
     <span style="background-color: #FFFF00">
      NOT
     </span>
     recommend using that 
		version. If in doubt, just spell S-E-C.
     <br/>
     But THANK YOU for the input. Seriously I appreciate it.
     <br/>
     Cordially,
     <br/>
     Dr. Bill
    </p>
   </blockquote>
  </blockquote>
 </body>
</html>