<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   <div>
    <div>
     <p style="margin-top: 0; margin-bottom: 0">
      An ASL student writes:
     </p>
    </div>
    <blockquote style="PADDING-LEFT: 5px; MARGIN-LEFT: 5px; BORDER-LEFT: blue 2px solid">
     <p style="margin-top: 0; margin-bottom: 0">
      <font color="#000000" face="Arial" style="BACKGROUND-COLOR: transparent">
       Dr. Bill,
       <br/>
       I learned a "new" sign today that [my] 
		teacher hadn't known before: apparently the local slang for "used car" is signed with an "L" sign with the index finger 
		pointed away from you like a pistol (at about a 45 degree angle) and shaking it back and forth a few times--like prodding 
		someone with a gun to buy a car they don't really want? The person who had learned it from Deaf friends had no explanation 
		but swore that it was true.
       <br/>
       - Loren
      </font>
     </p>
    </blockquote>
   </div>
   <div>
    <p style="margin-top: 0; margin-bottom: 0">
     Loren,
     <br/>
     Actually, the sign you are describing is based on a sign that means "second" as in "I second that motion," or "used / second-hand."
     <br/>
     When at a board meeting if we want to second something we will use the "L" hand pointed somewhat forward and up.  The 
		movement is a forward/sideward roll with a quick ending.
     <br/>
     If you
     <i>
      <b>
       roll
      </b>
     </i>
     the sign toward a person that sign can also be used to mean, "it's your turn."
     <br/>
     When this sign is used for cars it means "a second-hand car."
     <br/>
     - Dr.
		Bill
     <br/>
     <br/>
     SECOND-HAND / his/her-TURN / STEP-(as in step-father or step-mother)
     <br/>
     <img border="0" height="240" src="/images/turn1.jpg" width="249"/>
     <img border="0" height="240" src="/images/turn2.jpg" width="249"/>
     <img border="0" height="240" src="/images/turn3.jpg" width="249"/>
     <font face="Arial">
      <hr align="left" color="#000000" size="1"/>
     </font>
    </p>
   </div>
   Also see:
   <a href="/dictionary/stepfather">
    STEP-FATHER
   </a>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
   <p style="margin-top: 0; margin-bottom: 0">
    NOTES:
   </p>
   <blockquote>
    <div>
     <div>
      <p style="margin-top: 0; margin-bottom: 0">
       In a message dated 7/26/2008 11:09:18 P.M. Pacific Daylight 
				Time, reed@ writes:
      </p>
     </div>
     <blockquote style="PADDING-LEFT: 5px; MARGIN-LEFT: 5px; BORDER-LEFT: blue 2px solid">
      <p style="margin-top: 0; margin-bottom: 0">
       <font color="#000000" face="Arial" style="BACKGROUND-COLOR: transparent">
        Hey Bill,
        <br/>
        Just a quick note: My Deaf friend taught me to sign "second" (as 
				in
				unit of time) similarly to "minute" but with a closed dominant 
				hand.
        <br/>
        So the secondary hand is a flat  "b" shape and the primary hand 
				is an
				"s" shape, with the curled thumb and index finger against the 
				palm. It
				ticks just like the sign for "minute".
        <br/>
        Apparently, this sign is in use here in the Bay Area. It avoids 
				the
				trouble of having "minute" and "second" signed the same way.
        <br/>
        Thanks again!
        <br/>
        Reed.
       </font>
      </p>
     </blockquote>
    </div>
    <p style="margin-top: 0; margin-bottom: 0">
     Hello Reed,
     <br/>
     Thank you for sharing your Deaf friend's version of the time sign 
		"SECOND."
     <br/>
     That version of the sign SECOND is what I'd call an "initialized" 
		version. It uses the initial of the English word "second" as the 
		handshape for the sign "SECOND." As an ASL instructor I would classify 
		that version as "
     <span style="background-color: #FFFF00">
      Signed English
     </span>
     ."
     <br/>
     Some people might be tempted to knee jerk react and say that your Deaf 
		friend doesn't sign ASL. It has been my observation however that quite a 
		few skilled ASL users use initialization from time to time and borrow 
		signs liberally from Signed English according to convenience. Whether or 
		not such signs "jump the gap" and become an accepted part of ASL -- only 
		time will tell. As of
     <i>
      right now
     </i>
     though I would
     <span style="background-color: #FFFF00">
      NOT
     </span>
     recommend using that 
		version. If in doubt, just spell S-E-C.
     <br/>
     But THANK YOU for the input. Seriously I appreciate it.
     <br/>
     Cordially,
     <br/>
     Dr. Bill
    </p>
   </blockquote>
  </blockquote>
 </body>
</html>