<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   <p>
    SECRET:
    <br/>
    Tap your lips twice with the back of the "A" hand thumb.
    <br/>
    <img border="0" height="220" src="/images/secret9.jpg" width="188"/>
    <img border="0" height="220" src="/images/secret10.jpg" width="188"/>
    <img border="0" height="220" src="/images/secret11.jpg" width="188"/>
    <img border="0" height="220" src="/images/secret12.jpg" width="188"/>
   </p>
   <hr align="left" color="#000000" size="1"/>
   Secret: (animated)
   <p>
    <img border="0" height="155" src="/images/secret.gif" width="94"/>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <br/>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>