<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   <p style="margin-top: 0; margin-bottom: 0">
    <br/>
    The concept of a "seed" is generally fingerspelled S-E-E-D.
    <br/>
    <br/>
    The plural form of the concept, "seeds" is expressed by rubbing your fingers 
and thumb together as if your were sprinkling seeds onto the ground.  
You could sign "seeds" and then hold up a modified "G" hand (as if showing 
an individual seed) to mean "seed."
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <br/>
    <font face="Arial">
     <p style="margin-top: 0; margin-bottom: 0">
      Suppose you needed a sign for "planting" or I'm going to
"plant" my garden this weekend?  You could use the sign
below.  Make sure to "rub your fingers and thumb together" as
you move the hand forward about a foot.  If you don't move the hand
forward and you rub the fingers and thumb together a couple times--it can mean
"seeds."
      <br/>
     </p>
     <p style="margin-top: 0; margin-bottom: 0">
      SEEDS =  "planting seeds" (verb)
      <br/>
      <br/>
      <img border="0" height="216" src="/images/plant-seeds1.jpg" width="240"/>
      <img border="0" height="216" src="/images/plant-seeds2.jpg" width="240"/>
      <img border="0" height="216" src="/images/plant-seeds3.jpg" width="240"/>
      <br/>
      <img border="0" height="216" src="/images/plant-seeds4.jpg" width="240"/>
      <br/>
     </p>
    </font>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     If you use a single, strong, forward movement in which the thumb slides 
across the fingers once and ends up "extended" and pointing down a bit that 
would mean "planted."
    </font>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
   <p style="margin-top: 0; margin-bottom: 0">
    See:
    <a href="/dictionary/spring">
     SPRING
    </a>
    <br/>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>