<html>
 <body>
  <blockquote>
   <h1 style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     <font size="5">
      <span style="font-weight: 400">
       American Sign Language: 
		"seem"
      </span>
     </font>
     <br/>
    </font>
   </h1>
   <blockquote>
    <hr align="left" color="#000000" size="1" width="50%"/>
    <p style="margin-top: 0; margin-bottom: 0">
     <br/>
     The sign for "SEEM" is done using a slightly curved hand.  
	Twist it once for the English sentence, "It
     <b>
      seems
     </b>
     to me ..." 
	Twist it twice for the concept, "
     <b>
      seemingly
     </b>
     ."
    </p>
    <p>
     SEEM / APPEARS:
    </p>
    <p>
     <img border="0" height="225" src="/images/appears-seem1.jpg" width="235"/>
     <img border="0" height="225" src="/images/appears-seem2.jpg" width="235"/>
     <br/>
     <br/>
     Also see:
     <a href="/dictionary/compare">
      COMPARE
     </a>
    </p>
    <hr align="left" color="#000000" size="1"/>
    <br/>
    Note: The sign "SEEM" is very similar to the sign MIRROR, except the sign 
	MIRROR is almost always done with a double movement and in general doesn't 
	use any facial expression (whereas "seem" often uses pursed lips and 
	somewhat squinted eyes -- as if thinking hard).
    <br/>
    <br/>
    The "mirror" version of this sign uses the same handshape and 
  position, but the movement is smaller and quicker (for the noun "mirror." The small, quick 
	motion while looking ahead with a normal facial expression 
  would equal a "noun" -- as in "a mirror." If you wanted to tell a story about a person "looking in a mirror," you 
  	would use a bit bigger movement, slower, and actually "gaze" into the 
	imagined mirror.
    <br/>
    <br/>
    LOOKING-IN-MIRROR
    <p style="margin-top: 0; margin-bottom: 0">
     <img border="0" height="223" src="/images/mirror1.jpg" width="236"/>
     <img border="0" height="223" src="/images/mirror2.jpg" width="236"/>
     <img border="0" height="223" src="/images/mirror3.jpg" width="236"/>
     <img border="0" height="223" src="/images/mirror4.jpg" width="236"/>
    </p>
    <hr align="left" color="#000000" size="1" width="50%"/>
    <p style="margin-top: 0; margin-bottom: 0">
     See:
     <a href="/dictionary/mirror">
      MIRROR
     </a>
    </p>
    <hr align="left" color="#000000" size="1" width="50%"/>
   </blockquote>
   <hr align="left" color="#000000" size="1"/>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1"/>
   <hr align="left" color="#000000" size="1"/>
   <hr color="#000000" size="1"/>
   <p>
   </p>
  </blockquote>
 </body>
</html>