<html>
 <body>
  <blockquote>
   <h1 style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     <font size="5">
      <span style="font-weight: 400">
       American Sign Language: 
		"seizure"
      </span>
     </font>
     <br/>
    </font>
   </h1>
   <blockquote>
    <hr align="left" color="#000000" size="1" width="50%"/>
    <p style="margin-top: 0; margin-bottom: 0">
     <span style="font-weight: 400">
      SEIZURE:
      <br/>
      The sign "seizure" when referring to a person having a seizure, would 
	generally be done using the lexicalized classifier: "SEIZURE."  The handshape starts with the 
	bent-V and 
	rolls on the palm twice.
      <br/>
      Version 1:
      <br/>
      <img border="0" height="300" src="/images/seizure5.jpg" width="285"/>
      <img border="0" height="300" src="/images/seizure6.jpg" width="285"/>
      <br/>
      <br/>
      SEIZURE:
      <br/>
      Version 2:
      <br/>
      Is similar to version 1 except the handshape starts with a straight-V and 
	snaps into a bent-V.
      <br/>
     </span>
    </p>
    <p style="margin-top: 0; margin-bottom: 0">
     <span style="font-weight: 400">
      <img border="0" height="300" src="/images/seizure-1.jpg" width="232"/>
      <img border="0" height="300" src="/images/seizure-2.jpg" width="232"/>
      <br/>
     </span>
    </p>
    <hr align="left" color="#000000" size="1" width="50%"/>
    <p style="margin-top: 0; margin-bottom: 0">
    </p>
    <p style="margin-top: 0; margin-bottom: 0">
     <span style="font-weight: 400">
      SEIZE:
     </span>
    </p>
    <p>
     seize / arrest 
	/ grab onto
     <br/>
     <span style="font-weight: 400">
      Use a quick motion.
     </span>
    </p>
    <p>
     <img border="0" height="217" src="/images/seize.10.jpg" width="218"/>
     <img border="0" height="217" src="/images/seize.11.jpg" width="218"/>
     <img border="0" height="217" src="/images/seize.12.jpg" width="218"/>
    </p>
    <hr align="left" color="#000000" size="1" width="50%"/>
    <a href="/images/seize.gif" style="text-decoration: none">
     Animation:  "SEIZE"
    </a>
    <hr align="left" color="#000000" size="1" width="50%"/>
    <p>
     ARREST:
     <br/>
     Version
    </p>
    <p>
     <img border="0" height="228" src="/images/seize.6.jpg" width="229"/>
     <img border="0" height="228" src="/images/seize.7.jpg" width="229"/>
    </p>
    <p style="margin-top: 0; margin-bottom: 0">
    </p>
    <hr align="left" color="#000000" size="1" width="50%"/>
    <p style="margin-top: 0; margin-bottom: 0">
     <span style="font-weight: 400">
      FREEZE:
      <br/>
      The sign "freeze" could be used in some situation to mean "seize." As in 
	something has "seized up" or frozen up.
      <br/>
     </span>
     <img border="0" height="300" src="/images/freeze-1.jpg" width="232"/>
     <img border="0" height="300" src="/images/freeze-2.jpg" width="232"/>
    </p>
   </blockquote>
   <hr align="left" color="#000000" size="1"/>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1"/>
   <hr align="left" color="#000000" size="1"/>
   <hr color="#000000" size="1"/>
   <p>
   </p>
  </blockquote>
 </body>
</html>