<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   <span style="font-weight: 400">
    <font face="Arial">
     <p style="margin-top: 0; margin-bottom: 0">
      The sign "SELF" is very versatile and 
can mean many things. For example, it can be used to mean "Your own." It can 
also mean automatic (on its own.)
     </p>
     <hr align="left" color="#000000" size="1"/>
     <p style="margin-top: 0; margin-bottom: 0">
      <br/>
      SELF / YOURSELF / "your own"
      <br/>
      <img border="0" src="/images/yourself.gif" style="max-width: 100%; height: auto" width="480"/>
     </p>
     <hr align="left" color="#000000" size="1" width="50%"/>
     <p>
      MYSELF:  Thump your chest twice with the whole thumb-side of your "A" 
  hand.
      <br/>
      This sign can be used to mean "my own," or "myself."
      <br/>
      <img border="0" src="/images/self-myself.gif" style="max-width: 100%; height: auto" width="480"/>
     </p>
     <p>
      <img border="0" height="224" src="/images/self.h37.jpg" width="232"/>
      <img border="0" height="224" src="/images/self.h38.jpg" width="232"/>
      <img border="0" height="224" src="/images/self.h39.jpg" width="232"/>
      <img border="0" height="224" src="/images/self.h40.jpg" width="232"/>
      <br/>
      <br/>
      Note:  The tip of the thumb is not jabbing into the chest.  The
  backside of the whole thumb makes contact with the chest.
     </p>
     <p>
      A variation of this sign is to point the knuckles at your chest.  (I
  don't do it that way very often because it is rather uncomfortable.)
     </p>
     <hr color="#800080"/>
     <p align="left" style="margin-top: 0; margin-bottom: 0">
      ►
      <a href="/images/selfanimated.gif">
       Animated "MYSELF"
      </a>
     </p>
     <hr color="#800080"/>
     <p align="left">
      YOURSELF: 
  Use an "A" handshape. Double motion.  Use a slight jabbing 
  motion. Thrust the hand toward the person you are saying "yourself" to, pull 
  it back and inch, and thrust it forward an inch.  Here's an example of 
  "how about YOURSELF" (See the wh question expression?"
      <br/>
      <img border="0" height="231" src="/images/yourself1.jpg" width="247"/>
      <img border="0" height="231" src="/images/yourself2.jpg" width="247"/>
      <img border="0" height="231" src="/images/yourself3.jpg" width="247"/>
      <img border="0" height="231" src="/images/yourself4.jpg" width="247"/>
      <img border="0" height="231" src="/images/yourself5.jpg" width="247"/>
     </p>
     <hr color="#800080"/>
     <p align="left" style="margin-top: 0; margin-bottom: 0">
      <a href="/images/self-yourselfanimated.gif">
       Animated "YOURSELF"
      </a>
     </p>
     <hr color="#800080"/>
     <p align="left">
      THEMSELVES:  Use a smooth sweeping motion off to the 
  right:
     </p>
     <p align="center">
      <img border="0" src="/images/themselves.gif" style="max-width: 100%; height: auto" width="480"/>
     </p>
     <p align="center">
      <img border="0" height="223" src="/images/self.h41.jpg" width="313"/>
      <img border="0" height="223" src="/images/self.h42.jpg" width="313"/>
      <img border="0" height="223" src="/images/self.h43.jpg" width="313"/>
      <img border="0" height="223" src="/images/self.h44.jpg" width="313"/>
     </p>
     <hr color="#800080"/>
     <p align="center">
      <img border="0" height="225" src="/images/self.h45.jpg" width="313"/>
      <img border="0" height="225" src="/images/self.h46.jpg" width="313"/>
      <img border="0" height="225" src="/images/self.h47.jpg" width="313"/>
      <img border="0" height="225" src="/images/self.h48.jpg" width="313"/>
     </p>
     <p align="center">
      <img border="0" height="73" src="/images/himself.gif" width="94"/>
     </p>
     <hr color="#800080"/>
     <p align="center">
      OURSELVES:  Use a smooth arching motion to move the 
  right "A" hand from the right side to the left side of the chest.
     </p>
     <p align="center">
      <img border="0" src="/images/self-ourselves.gif" style="max-width: 100%; height: auto" width="480"/>
      <img border="0" height="223" src="/images/self.h49.jpg" width="246"/>
      <img border="0" height="223" src="/images/self.h50.jpg" width="246"/>
      <img border="0" height="223" src="/images/self.h51.jpg" width="246"/>
     </p>
     <hr color="#800080"/>
     <p align="left">
      A version of the sign "himself" or the sign "itself" can be 
  done by "hitting" the left index finger with the right "A" hand. I use this 
  version for situations when the thing being referred to is more abstract.  
  If I'm talking about "Bob" I'd probably just point off to the right and use an 
  absent referent. If I'm talking about "a man" in general but not a specific 
  man, I would use this sign:
     </p>
     <p align="center">
      <img border="0" height="220" src="/images/self.h52.jpg" width="219"/>
      <img border="0" height="220" src="/images/self.h53.jpg" width="219"/>
      <img border="0" height="220" src="/images/self.h54.jpg" width="219"/>
      <img border="0" height="220" src="/images/self.h55.jpg" width="219"/>
     </p>
     <hr/>
     <p align="left">
      THINK-SELF:
      <br/>
      You can combine the signs THINK and SELF to mean: "It is up to you."  "It is your decision."
      <br/>
      Just touch the tip of your index finger to your forehead to sign THINK, and then sign "YOURSELF" in the direction of the 
	person you are talking to.
     </p>
     <hr/>
     <p>
      Notes:
     </p>
     <p align="left">
      <b>
       Scott
      </b>
      (a student) asks, "Should the expression 'who-is' 
  be included in the description of signs related to "self"?
      <br/>
      <br/>
      <b>
       Answer
      </b>
      :    Good question.  Yes.  The sign "HIMSELF 
	/ HERSELF" can be used to indicate the English concept of "who is," 
	"who was," "who has," "that was" etc.
      <br/>
      For example, consider the sentence, "The man who has never made a mistake, has 
  never done much."
      <br/>
      How should we express the concept of "who has?"
      <br/>
      A way 
  to express this would be to use the sign "himself."
      <br/>
      I'd sign the sentence:  PERSON  HIMSELF NOT-YET DO WRONG-(oopps/head-pull-back 
  version)-- WHY?  HE INVOLVE NONE.
      <br/>
      Or another way:  PERSON  HIMSELF MISTAKE NEVER, WHY?  
  HE DO NOTHING!
     </p>
     <hr color="#800080"/>
     <p align="left">
      Also see:
      <a href="/dictionary/self-study">
       SELF-STUDY
      </a>
     </p>
     <hr color="#800080"/>
     <font color="#000000" face="Arial" id="role_document" size="2">
      <div>
       <div>
        <div>
         <p>
          NOTES:
         </p>
         <p>
          In a message dated 4/1/2005 9:35:10 AM Pacific Standard Time, 
				smdaniluk@ writes:
         </p>
        </div>
        <blockquote style="PADDING-LEFT: 5px; MARGIN-LEFT: 5px; BORDER-LEFT: blue 2px solid">
         <font color="#000000" face="Arial" size="2" style="BACKGROUND-COLOR: transparent">
          Hello Dr. Vicars,
          <br/>
          <br/>
          I have a question about the use of pronouns "you" vs.
          <br/>
          "yourself" and "he/she" vs. "himself/herself". I find
          <br/>
          it very confusing to see sentences like "He himself
          <br/>
          Deaf", instead of "He Deaf", or as in your lesson 35,
          <br/>
          "Motorcyle you have?", but in another sentence
          <br/>
          "yourself", not "you" is used when asking someone if
          <br/>
          he wished he had a hearing aid. When should "-self" be
          <br/>
          used and what's the difference? Thank you so much.
          <br/>
          <br/>
          Suzanne Daniluk
          <br/>
          Houston, Texas
          <br/>
         </font>
        </blockquote>
       </div>
       <div>
        Suzanne,
       </div>
       <div>
        In English you might occasionally ask someone if they wanted "their 
			own" hearing aid or "their own" apartment.
       </div>
       <div>
        For example
       </div>
       <div>
        Compare these two sentences:
       </div>
       <div>
        I want an apartment.
       </div>
       <div>
        I want my own apartment.
       </div>
       <div>
        <br/>
        The second sentence has a different meaning.  It indicates that the 
			person wants to be independent.
       </div>
       <div>
        How would we express that meaning via ASL?  We would do so by using 
			the sign "MYSELF."
       </div>
       <div>
        PRO-1 WANT MYSELF A-P-T = I want my own apartment
       </div>
       <div>
       </div>
       <div>
        Now consider these two sentences:
       </div>
       <div>
        English:
        <br/>
        Do you wish you had a hearing aid?
       </div>
       <div>
        Do you wish you had a hearing aid of your own?
        <br/>
        <br/>
        Possible interpretation:
       </div>
       <div>
        YOU WISH YOU HAVE HEARING-AID?
        <br/>
        YOU WISH YOU YOURSELF HAVE HEARING-AID?
       </div>
       <div>
       </div>
       <div>
        The second sentence implies that the person asking the question has 
			a hearing aid or that the two people in the conversation have been 
			interacting with a person who has a hearing aid.
       </div>
       <div>
       </div>
       <div>
        Do I use the sentence "HE HIMSELF DEAF?"  If so, which lesson?
       </div>
       <div>
        Let me give you an instance where you might see the "...HIMSELF 
			DEAF" concept used appropriately.
       </div>
       <div>
        Suppose you were telling a story and wanted to say: "There was a 
			deaf man who bought a motorcycle."
       </div>
       <div>
        HAPPEN MAN HIMSELF DEAF BOUGHT MOTORCYCLE.
       </div>
       <div>
       </div>
       <div>
        Cordially,
       </div>
       <div>
        Dr. V
       </div>
      </div>
     </font>
    </font>
   </span>
  </blockquote>
 </body>
</html>