<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   <br/>
   To do the sign for SELF-STUDY you start with an "A" handshape in 
			front of your chest. If you are right handed, the palm-side of the 
			"A"-hand is toward your left.  Bring the thumb-side of the 
			"A"-hand back to your chest. Note: you are not "jabbing" your chest 
			with the tip of your thumb, rather you are bringing the whole length 
			of the thumb into contact with your chest.
   <br/>
   <br/>
   SELF-STUDY:
   <p>
    <img border="0" height="320" src="/images/self-study-1.jpg" width="293"/>
    <img border="0" height="320" src="/images/self-study-2.jpg" width="293"/>
    <img border="0" height="320" src="/images/self-study-3.jpg" width="293"/>
    <img border="0" height="320" src="/images/self-study-4.jpg" width="293"/>
    <img border="0" height="320" src="/images/self-study-5.jpg" width="293"/>
    <br/>
   </p>
   <hr align="left" color="#000000" size="1" width="50%"/>
   <p style="margin-top: 0; margin-bottom: 0">
    <br/>
    Animation: "SELF-STUDY"
    <br/>
    <img border="0" height="320" src="/images/self-study.gif" width="293"/>
    <br/>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1" width="50%"/>
   </font>
   <p style="margin-top: 0; margin-bottom: 0">
    <br/>
    Notes:
    <br/>
    <font face="Arial">
     The phrase "self-study" is a compound sign. By that I mean you are 
			compounding the signs SELF and STUDY into one concept "SELF-STUDY."
     <br/>
     <br/>
     The sign SELF is normally done using a double movement when used to 
			mean "myself" or "my own."  When used as part of the compound 
			sign "SELF-STUDY" the second movement (of the sign SELF) is dropped.  
			Additionally, the most common version of the sign for STUDY tends to 
			use a fluttering of the fingers.  In the compound sign 
			SELF-STUDY the fluttering movement of the sign STUDY is reduced.
     <br/>
    </font>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1" width="50%"/>
   </font>
   <p style="margin-top: 0; margin-bottom: 0">
    Also see:
    <a href="/dictionary/self">
     SELF
    </a>
    <br/>
    Also see:
    <a href="/dictionary/study">
     STUDY
    </a>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>