<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   <font face="Arial">
    <p>
     <br/>
     SEND (general version)
     <br/>
     <img border="0" height="240" src="/images/send.h1.jpg" width="250"/>
     <img border="0" height="240" src="/images/send.h2.jpg" width="250"/>
     <br/>
    </p>
    <hr align="left" color="#000000" size="1"/>
    <p>
     <br/>
     SEND (throw version)
     <br/>
     <img border="0" height="228" src="/images/send1.jpg" width="220"/>
     <img border="0" height="226" src="/images/send2.jpg" width="212"/>
     <br/>
     <br/>
     Note: The "throw" version of send tends to be used for things that are more 
physical or tangible.  I don't use this version very often but when I 
do it is for concepts like I "sent a thank-you card to her."
     <br/>
    </p>
   </font>
   <hr align="left" color="#000000" size="1" width="50%"/>
   <p style="margin-top: 0; margin-bottom: 0">
    <br/>
    Sample sentence:
Does your church send out missionaries?
    <br/>
    <br/>
   </p>
  </blockquote>
 </body>
</html>