<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   <font face="Arial">
    <p>
     "Sense" as in "mood" or "feelings":
     <br/>
     <br/>
     Sign FEEL twice:
     <br/>
     <img border="0" height="320" src="/images/sense.40.jpg" width="295"/>
     <img border="0" height="320" src="/images/sense.41.jpg" width="295"/>
     <img border="0" height="320" src="/images/sense.42.jpg" width="295"/>
     <img border="0" height="320" src="/images/sense.43.jpg" width="295"/>
     <img border="0" height="320" src="/images/sense.44.jpg" width="295"/>
     <img border="0" height="320" src="/images/sense.45.jpg" width="295"/>
     <br/>
     <br/>
     Also see:
     <a href="/dictionary/feel">
      FEEL
     </a>
     <br/>
    </p>
    <hr align="left" color="#000000" size="1"/>
   </font>
   <br/>
   If you want to sign "sense" as in: "It makes sense"  -- tap the 
			side of your forehead twice with your index finger
   <font face="Arial">
    while nodding just a bit.
   </font>
   <br/>
   <br/>
   "Ah, that makes sense!:
   <p>
    <img border="0" height="218" src="/images/cent-makessense1.jpg" width="219"/>
    <img border="0" height="218" src="/images/cent-makessense2.jpg" width="219"/>
    <img border="0" height="218" src="/images/cent-makessense3.jpg" width="219"/>
    <img border="0" height="218" src="/images/cent-makessense4.jpg" width="219"/>
    <br/>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
   <p>
    <br/>
    Common Sense: Touch the thumb of a "C" hand to your forehead and 
			then move the hand out a bit while changing the handshape to an 
			"S-hand."
    <br/>
    <br/>
    COMMON SENSE:
    <br/>
    <img border="0" height="218" src="/images/commonsense1.jpg" width="219"/>
    <img border="0" height="218" src="/images/commonsense2.jpg" width="219"/>
    <br/>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
    <p>
     <br/>
    </p>
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>