<html>
 <body>
  <blockquote>
   <h1 style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     <font size="5">
      <span style="font-weight: 400">
       American Sign Language: 
		"sentence"
      </span>
     </font>
     <br/>
    </font>
   </h1>
   <blockquote>
    <hr align="left" color="#000000" size="1" width="50%"/>
    <p style="margin-top: 0; margin-bottom: 0">
     <span style="font-weight: 400">
      Most of us think of a 
    sentence as a string of words or signs.  But a sentence can also be a 
    decision from a court of law regarding the punishment of a criminal.
     </span>
    </p>
    <p style="margin-top: 0; margin-bottom: 0">
    </p>
    <hr align="left" color="#000000" size="1" width="50%"/>
    <p style="margin-top: 0; margin-bottom: 0">
     SENTENCE
     <span style="font-weight: 400">
      <br/>
      Version 1:  As in a group of words that expresses a 
    thought.
      <br/>
      To do this sign, hold your "F" hands together and pull them apart. I use a 
    slightly wiggly movement as I pull them apart.
     </span>
    </p>
    <p style="margin-top: 0; margin-bottom: 0">
    </p>
    <hr align="left" color="#000000" size="1" width="50%"/>
    <p style="margin-top: 0; margin-bottom: 0">
     <span style="font-weight: 400">
      <img border="0" height="300" src="/images/senten1.jpg" width="323"/>
      <img border="0" height="300" src="/images/senten2.jpg" width="323"/>
      <img border="0" height="300" src="/images/senten3.jpg" width="323"/>
      <br/>
     </span>
    </p>
    <hr align="left" color="#000000" size="1"/>
    <p style="margin-top: 0; margin-bottom: 0">
    </p>
    <p style="margin-top: 0; margin-bottom: 0">
     <span style="font-weight: 400">
      SENTENCE (version 2)
      <br/>
      The punishment imposed upon a criminal by a judge.
      <br/>
      Use a combination of "JUDGE" and "DECIDE."
      <br/>
      Example:  "HE/SHE JUDGE DECIDE YOU MUST JAIL 3-YEARS."
     </span>
    </p>
    <p style="margin-top: 0; margin-bottom: 0">
     <span style="font-weight: 400">
     </span>
    </p>
    <hr align="left" color="#000000" size="1" width="50%"/>
   </blockquote>
   <hr align="left" color="#000000" size="1"/>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1"/>
   <hr align="left" color="#000000" size="1"/>
   <hr color="#000000" size="1"/>
   <p>
   </p>
  </blockquote>
 </body>
</html>