<html>
 <body>
  <blockquote>
   <h1 style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     <font size="5">
      <span style="font-weight: 400">
       American Sign Language: 
		"serenity"
      </span>
     </font>
     <br/>
    </font>
   </h1>
   <p>
    <span style="font-weight: 400">
     <p style="margin-top: 0; margin-bottom: 0">
      SERENITY:
      <br/>
      There is no widely recognized sign that is commonly labeled as "serenity."
      <br/>
      So to express it in ASL you need to think about what meaning you are trying to 
convey and then use a sign or set of signs that conveys that meaning. I'll 
present a few ideas below:
      <br/>
     </p>
    </span>
   </p>
   <hr align="left" color="#000000" size="1" width="50%"/>
   <span style="font-weight: 400">
    <p style="margin-top: 0; margin-bottom: 0">
     PEACE (peaceful)
     <br/>
     You can use the sign "PEACE" to convey the idea of "serenity."  This sign 
would be my first choice.
     <br/>
     You place the hands together as if signing the concept "BECOME."  Then you 
twist the hands once and smoothly bring them apart, down, and toward your sides.
     <br/>
     <img border="0" height="264" src="/images/peace-01.jpg" width="300"/>
     <img border="0" height="264" src="/images/peace-02.jpg" width="300"/>
     <br/>
    </p>
    <p style="margin-top: 0; margin-bottom: 0">
     <img border="0" height="264" src="/images/peace-03.jpg" width="300"/>
     <img border="0" height="264" src="/images/peace-04.jpg" width="300"/>
    </p>
    <p align="left" style="margin-top: 0; margin-bottom: 0">
    </p>
    <hr align="left" color="#000000" size="1" width="50%"/>
    <p align="left" style="margin-top: 0; margin-bottom: 0">
     QUIET:
    </p>
    <p style="margin-top: 0; margin-bottom: 0">
     <img border="0" height="264" src="/images/quiet-01.jpg" width="302"/>
     <img border="0" height="264" src="/images/quiet-02.jpg" width="301"/>
     <img border="0" height="264" src="/images/quiet-03.jpg" width="302"/>
     <br/>
    </p>
    <p align="left" style="margin-top: 0; margin-bottom: 0">
    </p>
    <hr align="left" color="#000000" size="1" width="50%"/>
    <p align="left" style="margin-top: 0; margin-bottom: 0">
     CALM:
     <br/>
     You can use the sign "CALM" to indicate
    </p>
    <p align="left" style="margin-top: 0; margin-bottom: 0">
    </p>
    <p align="left" style="margin-top: 0; margin-bottom: 0">
    </p>
    <p align="left" style="margin-top: 0; margin-bottom: 0">
     <img border="0" height="264" src="/images/calm-01.jpg" width="318"/>
     <img border="0" height="264" src="/images/calm-02.jpg" width="319"/>
     <img border="0" height="264" src="/images/calm-03.jpg" width="319"/>
     <img border="0" height="264" src="/images/calm-04.jpg" width="319"/>
    </p>
   </span>
   <p>
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1"/>
   <hr align="left" color="#000000" size="1"/>
   <hr color="#000000" size="1"/>
   <p>
   </p>
  </blockquote>
 </body>
</html>