<html>
 <body>
  <blockquote>
   <h1 style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     <span style="font-weight: 400">
      <font size="5">
       ASL: "sermon"
      </font>
     </span>
     <br/>
    </font>
   </h1>
   <p>
    <br/>
   </p>
   <p>
    The sign for "sermon" is going to vary depending on the context and 
your specific meaning. Wrap your mind around the specific meaning and then 
choose your sign accordingly. Sometimes "sermon" should be signed "LECTURE." 
Sometimes it should be signed "PREACH."
    <br/>
    <br/>
    See some definitions below (adapted from Oxford online dictionary found via a 
Google search). Note: Also remember that NMM's (non-manual markers such as 
facial expressions or the way you position your body) can change the meaning of 
signs. For example, in definition 3 below you should use an "earnest" facial 
expression. For definition 4 below you should use a correspondingly pompous or 
self-righteous facial expression.
    <br/>
    <br/>
    ===================================
    <br/>
    ser·mon
    <br/>
    /ˈsərmən/
    <br/>
    noun
    <br/>
    A talk on a religious or moral subject, especially one given during a church 
service and based on a passage from the Bible.
    <br/>
    ====================================
    <br/>
    <br/>
    preach
    <br/>
    /prēCH/
    <br/>
    verb
    <br/>
    1. deliver a sermon or religious address to an assembled group of people, 
typically in church.
    <br/>
    <br/>
    synonyms: give a sermon, deliver a sermon, sermonize, spread the gospel, 
evangelize, address, speak;
    <br/>
    <br/>
    2. publicly proclaim or teach (a religious message or belief).
    <br/>
    <br/>
    synonyms: proclaim, teach, spread, propagate, expound, explain, make known
    <br/>
    <br/>
    3. earnestly advocate (a belief or course of action).
    <br/>
    "my parents have always preached toleration and moderation"
    <br/>
    synonyms: advocate, recommend, advise, urge, exhort, teach, counsel, champion, 
inculcate, instil
    <br/>
    "my parents have always preached toleration"
    <br/>
    <br/>
    4. give moral advice to someone in an annoying or pompously self-righteous way.
    <br/>
   </p>
   <hr/>
   <p>
   </p>
   <p>
    LECTURE
    <br/>
    <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" height="523" src="https://www.youtube.com/embed/wLDniTJ6OYw" width="930">
    </iframe>
   </p>
   <p>
   </p>
   <p>
    PREACH:
    <br/>
    <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" height="523" src="https://www.youtube.com/embed/WYG78SOzDJk" width="930">
    </iframe>
   </p>
   <p>
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p>
    Notes:
    <br/>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1"/>
   <hr align="left" color="#000000" size="1"/>
   <hr align="left" color="#000000" size="1"/>
   <hr color="#000000" size="1"/>
   <p>
   </p>
  </blockquote>
 </body>
</html>