<html>
 <body>
  <blockquote>
   <h1 style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     <span style="font-weight: 400">
      <font size="5">
       American Sign Language: 
		"shape" / statute
      </font>
     </span>
     <br/>
    </font>
   </h1>
   <p>
   </p>
   <hr align="left" color="#000000" size="1" width="50%"/>
   The sign for shape uses the thumbs of your "A" hands to draw an 
			hourglass in the air.
   <br/>
   This sign also means "statue."
   <br/>
   <br/>
   SHAPE
   <br/>
   <img border="0" height="300" src="/images/shape.1.jpg" width="286"/>
   <img border="0" height="300" src="/images/shape.2.jpg" width="286"/>
   <img border="0" height="300" src="/images/shape.3.jpg" width="286"/>
   <img border="0" height="300" src="/images/shape.4.jpg" width="286"/>
   <img border="0" height="300" src="/images/shape.5.jpg" width="286"/>
   <p>
   </p>
   <p>
    <iframe allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/yOaMKIedOy4?rel=0" width="560">
    </iframe>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <b>
     Dr. Bill's Notes:
    </b>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    The sign labeled as SHAPE refers to the physical quality of having a 
			shape.
    <br/>
    If you mean "influence" you should instead use the
    <a href="/dictionary/influence">
     INFLUENCE
    </a>
    sign.
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1"/>
   <hr align="left" color="#000000" size="1"/>
   <hr color="#000000" size="1"/>
   <p>
   </p>
  </blockquote>
 </body>
</html>