<html>
 <body>
  <blockquote>
   <h1 style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     <font size="5">
      <span style="font-weight: 400">
       American Sign Language: 
"shark"
      </span>
     </font>
    </font>
   </h1>
   <font face="Arial">
    <p>
    </p>
    <hr align="left" color="#000000" size="1" width="50%"/>
    <span style="font-weight: 400">
     <p style="margin-top: 0; margin-bottom: 0">
      SHARK (version 1)
      <br/>
      You know that fin that is on top of a sharks back that sticks up 
            above the water as it swims? Do you know what that fin is called?  
            It's called the "dorsal fin."  It helps keep the sharks body 
            stable as it slices through the water on its way to bite your leg 
            off.
      <br/>
      Um...too much information?  Sorry.  Hey, here's the sign:
      <br/>
      Pretend you are a shark.  Get in the mood.  Now, hold a 
            flat hand at the top of your head as if you've got your very own 
            dorsal fin.  Now, go bite somebody's leg. THAT'S IT!  
            Good! You got it!
      <br/>
      <img border="0" height="240" src="/images/shark.a1.jpg" width="254"/>
      <br/>
     </p>
     <hr align="left" color="#000000" size="1" width="50%"/>
     <p style="margin-top: 0; margin-bottom: 0">
      SHARK (version 2)
     </p>
     <p style="margin-top: 0; margin-bottom: 0">
      Not quite as fun as the 
            above version, but still worth knowing. This second version uses the 
            left hand to show the surface of the water and the right hand to 
            show the...what's the name of that fin?  Right,
      <i>
       d o r s a l
      </i>
      fin slicing through the water as the shark is on it's way to...um 
            nevermind.
      <br/>
      <img border="0" height="240" src="/images/shark.1.jpg" width="274"/>
      <img border="0" height="240" src="/images/shark.2.jpg" width="274"/>
      <img border="0" height="240" src="/images/shark.3.jpg" width="274"/>
     </p>
     <p align="left" style="margin-top: 0; margin-bottom: 0">
     </p>
     <hr align="left" color="#000000" size="1" width="50%"/>
     <p align="left" style="margin-top: 0; margin-bottom: 0">
     </p>
    </span>
    <hr align="left" color="#000000" size="1"/>
    <p align="center" style="margin-top: 0; margin-bottom: 0">
    </p>
    <p align="center" style="margin-top: 0; margin-bottom: 0">
    </p>
    <hr align="left" color="#000000" size="1"/>
   </font>
   <b>
    <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=XHRNABERKJT4N" rel="nofollow" target="_blank">
     <u>
      DONATE
     </u>
    </a>
   </b>
   <font size="2">
    (
    <i>
     Thanks!
    </i>
    )
   </font>
   <br/>
   <br/>
   <font face="Arial">
    *
   </font>
   Another way to help is to buy something from Dr. Bill's "
   <b>
    <a href="/dictionary/bookstore">
     <u>
      Bookstore
     </u>
    </a>
   </b>
   ."
   <hr align="left" color="#000000" size="1"/>
   <hr color="#000000" size="1"/>
   <p>
   </p>
  </blockquote>
 </body>
</html>