<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   The sign for share holds the non-dominant hand steady and brushes 
			pinkie side of the dominant hand along the side of the index finger 
			of the non-dominant hand moving toward the thumb and then reverses 
			the movement and moves back toward the fingertips again.
   <br/>
   <p style="margin-top: 0; margin-bottom: 0">
    <img border="0" height="360" src="/images/share.1.jpg" width="360"/>
    <img border="0" height="360" src="/images/share.2.jpg" width="360"/>
    <img border="0" height="360" src="/images/share.3.jpg" width="360"/>
    <img border="0" height="360" src="/images/share.4.jpg" width="360"/>
    <img border="0" height="360" src="/images/share.5.jpg" width="360"/>
    <img border="0" height="360" src="/images/share.6.jpg" width="360"/>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <br/>
   </p>
   <hr align="left" color="#000000" size="1" width="50%"/>
   <p style="margin-top: 0; margin-bottom: 0">
    Notes:
    <br/>
    If you were interpreting the term "shares" as in stock, I recommend 
			you spell "S-H-A-R-E-S."
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>