<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   <p>
    SHINE / RADIATE / SPARKLE
   </p>
   <p>
    In this sign you use your straight middle fingers (bent forward at the 
	large knuckle) to represent rays of light reflecting off of something shiny.
    <br/>
    <img border="0" height="218" src="/images/shine.1.jpg" width="320"/>
    <img border="0" height="218" src="/images/shine.2.jpg" width="320"/>
    <img border="0" height="218" src="/images/shine.3.jpg" width="320"/>
    <img border="0" height="218" src="/images/shine.4.jpg" width="320"/>
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p>
    Animation:
    <br/>
    <img border="0" height="218" src="/images/shine.gif" width="320"/>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <br/>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>