<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   <font face="Arial">
    <p style="margin-top: 0; margin-bottom: 0">
     The way to sign "shirt" is by grabbing
your shirt in the upper chest area - in the middle or slightly to the right
- between your index finger and thumb.  Then tug outward a few times. The sign for shirt can be done with one hand or two. If you do it with one 
hand though it might sometimes be misunderstood to mean "volunteer."
    </p>
    <p>
     SHIRT / volunteer / apply
     <br/>
     <img border="0" src="/images/shirt-volunteer.gif" style="max-width: 100%; height: auto" width="480"/>
     <img border="0" height="221" src="/images/volunteer2.jpg" width="212"/>
     <img border="0" height="221" src="/images/volunteer2.jpg" width="212"/>
    </p>
    <p>
     <iframe allow="autoplay; encrypted-media" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/BLqzpaKkkk4?rel=0" width="560">
     </iframe>
     <br/>
     <br/>
     Remember:  This is also the sign for "volunteer, apply, pick me, candidate" and
related signs.
     <br/>
    </p>
    <hr align="left" color="#000000" size="1"/>
    <p>
     If you need to distinguish between the sign for volunteer and shirt, I
recommend signing "shirt" with two hands.
     <br/>
     <br/>
     SHIRT (2 handed variation)
     <br/>
     <img border="0" height="225" src="/images/shirt1.jpg" width="223"/>
     <img border="0" height="225" src="/images/shirt4.jpg" width="223"/>
    </p>
    <hr align="left" color="#000000" size="1"/>
    <p>
     SHIRT (blouse variation)
     <br/>
     I personally tend to use this version to mean "
     <a href="/dictionary/blouse">
      BLOUSE
     </a>
     " 
	but lots of people use it as their regular sign for shirt.
     <br/>
     <img border="0" height="225" src="/images/blouse1.jpg" width="223"/>
     <img border="0" height="225" src="/images/blouse2.jpg" width="223"/>
     <img border="0" height="225" src="/images/blouse3.jpg" width="223"/>
    </p>
    <p>
     <iframe allow="autoplay; encrypted-media" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/i14EM0ZbtUY?rel=0" width="560">
     </iframe>
    </p>
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>