<html>
 <body>
  <blockquote>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
    <p>
     The sign for "shocked" (mentally) is a compound of the 
			signs BRAIN-(think) and FREEZE.
     <br/>
     Thus "brain-freeze" is interpreted as "shocked."
     <br/>
    </p>
    <p>
     <br/>
     SHOCKED:
    </p>
    <p>
     <img border="0" height="224" src="/images/shocke1.jpg" width="268"/>
     <img border="0" height="224" src="/images/shocke2.jpg" width="268"/>
     <img border="0" height="224" src="/images/shocke3.jpg" width="268"/>
     <img border="0" height="224" src="/images/shocke4.jpg" width="268"/>
    </p>
    <p>
    </p>
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>