<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   <p>
    <br/>
    In a message dated 1/21/2008 5:20:20 A.M. Pacific Standard Time, lwilt@ 
	writes:
    <br/>
    Hi, Dr. Bill,
    <br/>
    I have a question for you – what is the difference between using 
	the sign for “blame, accuse” to indicate “fault” versus the sign where the 
	hand drops down from “responsibility”? do either of these signs represent 
	the concept of ‘having many faults’ (
    <b>
     shortcomings
    </b>
    )?
    <br/>
    Thanks for your help!
    <br/>
    Linda Wilt
   </p>
   <p>
    <br/>
    Dear Linda,
    <br/>
    "
    <b>
     Shortcomings
    </b>
    " would not use the sign "
    <a href="/dictionary/fault">
     FAULT
    </a>
    ."  
	The sign "FAULT" generally means "responsibility for something bad."
    <br/>
    Shortcomings would be 
	described with phrases such as:
    <br/>
    "HE/SHE PROBLEMS MANY!"
    <br/>
    "HE/SHE WEAK MANY!"
    <br/>
    "HIS/HER CHARACTER? SO-SO."
    <br/>
    "HE/SHE not-GOOD-ENOUGH."
    <br/>
    Such phrases would be accompanied by non-manual markers (facial 
	expressions/body language) such as a "scrunched nose."
    <br/>
    <br/>
    The "
    <a href="/dictionary/blame">
     BLAME
    </a>
    " sign can mean "accuse," "It is 
	your/my/his/her/its fault" or "blamed." This sign is directional thus it can 
	indicate who or what is "at fault" or who is being "accused" as well as who 
	is doing the accusing.
    <br/>
    <br/>
    The
    <a href="/dictionary/fault">
     FAULT
    </a>
    sign is non-directional and 
	needs a sign such as "YOUR," "MY," or "HIS/HER" to indicate the object. This 
	sign cannot be used directly to indicate "accusation." You would need to 
	sign, "SHE INFORM-me your-FAULT" or "SHE TOLD-me YOUR FAULT."
    <br/>
    (Also see "
    <a href="/dictionary/responsible">
     RESPONSIBLE
    </a>
    ")
    <span style="font-weight: 400">
     <font face="Arial">
      (Also see "
      <a href="/dictionary/blame">
       BLAME
      </a>
      ")
     </font>
    </span>
    <br/>
    -- Bill
   </p>
   <hr align="left" width="25%"/>
   <p>
    <br/>
    In a message dated 1/21/2008 10:11:12 A.M. Pacific Standard Time, lwilt@ 
	writes:
    <br/>
    Ok, so besides one being directional and one needing a possessive pronoun 
	both signs [blame and fault] mean the same thing?
   </p>
   <hr align="left" width="25%"/>
   <p>
    <br/>
    In a message dated 1/21/2008 1:46:28 A.M. Pacific Standard Time, 
	Dr. Bill writes:
    <br/>
    Linda,
    <br/>
    No. Each sign has its own semantic range (a range of meanings). The semantic 
	ranges of the two signs do overlap, but not completely.
    <br/>
    If you look the words up in an English dictionary you will note that the 
	word "fault" has about twice as many meanings as the word "blame."
    <br/>
    The ASL sign FAULT only expresses two or three of the meanings of the word 
	"fault."
    <br/>
    The meanings of the word "blame" generally contain the concept of "to" as in 
	"to find fault," "to accuse," "to attribute."
    <br/>
    I generally think of the ASL sign "FAULT" as being limited to meaning 
	"responsibility for some negative occurrence or situation."
    <br/>
    The ASL sign BLAME carries a wider semantic range than the ASL sign "FAULT."
    <br/>
    - Dr. Bill
   </p>
   <p>
   </p>
   <hr align="left" color="#000000" size="1"/>
   <div>
    <div>
     <br/>
     In a message dated 10/12/2009 1:38:20 P.M. Pacific Daylight Time, 
			benkcboy@ writes:
    </div>
    <blockquote style="BORDER-LEFT: blue 2px solid; PADDING-LEFT: 5px; MARGIN-LEFT: 5px">
     <font color="#000000" face="Arial" size="2" style="BACKGROUND-COLOR: transparent">
      <div>
       An additional sign related to the word shortcomings that I have 
				seen commonly used both in the Pacific Northwest and in New York 
				State is as follows:
      </div>
      <div>
       The sign for MATCH is signed slightly higher than usual, and 
				then a moment after completion, one hand falls off (downward) 
				giving the idea that the requirements were not met, you fell 
				short of the qualifications, etc.
      </div>
      <div>
       -- Benjamin
      </div>
     </font>
    </blockquote>
   </div>
   <font face="Arial">
    <p>
     Benjamin,
    </p>
    <p>
     Hey, thanks for sharing that!  Very cool!
     <br/>
     -- Dr. Bill
     <br/>
    </p>
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>