<html>
 <body>
  <blockquote>
   <p>
    <font face="Arial">
     <span style="font-weight: 400">
      <font size="5">
       American Sign Language: "show up"
      </font>
     </span>
    </font>
   </p>
   <font face="Arial">
    <blockquote>
     <hr align="left" color="#000000" size="1" width="50%"/>
     <p style="margin-top: 0; margin-bottom: 0">
      The sign for "show up" quickly pops up an index finger between the 
	fingers of the the palm down base hand.  I do it between my middle and 
	ring fingers, but if you miss and do it between your index and middle 
	fingers no big deal.  

  This sign can be used for "appear" when it means "show up."
     </p>
     <p>
      SHOW-UP:
     </p>
     <p>
      <img border="0" height="204" src="/images/show.h4.jpg" width="264"/>
      <img border="0" height="204" src="/images/show.h5.jpg" width="264"/>
      <img border="0" height="204" src="/images/show.h6.jpg" width="264"/>
     </p>
     <hr align="left" color="#000000" size="1"/>
     <p>
      SHOW-UP: animated
      <br/>
      <img border="0" height="204" src="/images/showupappear.gif" width="264"/>
     </p>
     <p>
     </p>
     <p>
      <iframe allowfullscreen="" frameborder="0" height="315" name="I1" src="https://www.youtube.com/embed/F8XL3goXYbw?rel=0" width="560">
      </iframe>
     </p>
     <hr align="left" color="#000000" size="1"/>
     DISAPPEAR:  This sign is the opposite of "show-up."
     <p>
      <img border="0" height="204" src="/images/show.h6.jpg" width="264"/>
      <img border="0" height="204" src="/images/show.h5.jpg" width="264"/>
     </p>
     <hr align="left" color="#000000" size="1"/>
     <p>
      Notes:
      <br/>
      One of my students mentioned to me that one of her previous ASL instructors 
	used the sign "show up" to mean "pop" as in "pop quiz."  I tend to sign 
	"surprise quiz" to mean "pop quiz" but I can certainly understand and 
	support the use of "show up" in the phrase "pop quiz" because "show up" if 
	done very quickly can indeed carry a sense of "surprise" or 
	"unexpectedness."
     </p>
     <hr align="left" color="#000000" size="1"/>
     <p style="margin-top: 0; margin-bottom: 0">
      Also see:
      <a href="/dictionary/appear">
       APPEAR
      </a>
     </p>
     <hr align="left" color="#000000" size="1"/>
    </blockquote>
    <hr align="left" color="#000000" size="1"/>
    <p align="center" style="margin-top: 0; margin-bottom: 0">
    </p>
    <p align="center" style="margin-top: 0; margin-bottom: 0">
    </p>
    <hr align="left" color="#000000" size="1"/>
   </font>
   <b>
    <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=XHRNABERKJT4N" rel="nofollow" target="_blank">
     <u>
      DONATE
     </u>
    </a>
   </b>
   <font size="2">
    (
    <i>
     Thanks!
    </i>
    )
   </font>
   <br/>
   <br/>
   <font face="Arial">
    *
   </font>
   Another way to help is to buy something from Dr. Bill's "
   <b>
    <a href="/dictionary/bookstore">
     <u>
      Bookstore
     </u>
    </a>
   </b>
   ."
   <hr align="left" color="#000000" size="1"/>
   <hr color="#000000" size="1"/>
   <p>
   </p>
  </blockquote>
 </body>
</html>