<html>
 <body>
  <blockquote>
   <p>
    The word "shut" is used many different ways.  The right sign 
for "shut" depends on what you mean.
   </p>
   <p>
    <br/>
    If you mean "shut" as in "shut down," or "shut off" then use the 
"power off" sign.  Start with your fingers spread and then 
lower your arms just a bit while bringing your fingers and thumb 
together (into flattened "O" shapes).
    <br/>
    <br/>
    POWER OFF / shut off / shut down / headlights off / power down a 
computer /
    <br/>
    <img border="0" height="231" src="/images/shutdown1.jpg" width="278"/>
    <img border="0" height="231" src="/images/shutdown2.jpg" width="278"/>
    <img border="0" height="231" src="/images/shutdown3.jpg" width="278"/>
    <br/>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
    <p>
     If you mean "shut" as in "shut the door," use the DOOR-close sign
     <br/>
     <br/>
     DOOR-close / "shut the door":
     <br/>
     <img border="0" height="236" src="/images/door-close1.jpg" width="260"/>
     <img border="0" height="236" src="/images/door-close2.jpg" width="260"/>
     <br/>
    </p>
    <hr align="left" color="#000000" size="1"/>
    <p>
     <br/>
     If you mean "shut" as in "shut-off the over-head lighting" then use 
the "lights off" sign.
     <br/>
     <br/>
     LIGHTS-OFF:
    </p>
    <p>
     <img border="0" height="240" src="/images/shutoffthelights1.jpg" width="352"/>
     <img border="0" height="240" src="/images/shutoffthelights2.jpg" width="352"/>
     <img border="0" height="240" src="/images/shutoffthelights3.jpg" width="352"/>
     <br/>
    </p>
    <hr align="left" color="#000000" size="1"/>
    <p>
     <br/>
     If you mean "shut" as in "the light shut off" or "turn it off" you 
can do a very general, very casual version of "shut-off."
     <br/>
     <br/>
     SHUT OFF:
     <br/>
     <img border="0" height="240" src="/images/shutoff1.jpg" width="352"/>
     <img border="0" height="240" src="/images/shutoff2.jpg" width="352"/>
     <img border="0" height="240" src="/images/shutoff3.jpg" width="352"/>
     <br/>
    </p>
    <hr align="left" color="#000000" size="1"/>
    <p>
     If you mean "shut" as in "shut up" or "quit talking" see: "
     <a href="/dictionary/shutup">
      SHUT-UP
     </a>
     "
    </p>
    <hr align="left" color="#000000" size="1"/>
    <p>
     <br/>
     Notes:
     <br/>
     There are dozens of other ways to sign shut: "shut a book," "shut a 
drawer," "shut off your voice," "shut your eyes," etc.
    </p>
    <p>
    </p>
    <hr align="left" color="#000000" size="1"/>
   </font>
   <p style="margin-top: 0; margin-bottom: 0">
    <br/>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>