<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   <p>
    SHY:
    <br/>
    Use a "shy" facial expression and a slightly bowed head,
    <br/>
    The handshape is a "bent hand."  Twist the hand against your cheek one 
  time.
   </p>
   <p>
    <img border="0" height="216" src="/images/shy.ht15.jpg" width="202"/>
    <img border="0" height="216" src="/images/shy.ht16.jpg" width="202"/>
    <img border="0" height="216" src="/images/shy.ht17.jpg" width="202"/>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <br/>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>