<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   <p style="margin-top: 0; margin-bottom: 0">
    To sign "sick," hold modified five hands (with the middle finger bent at the large 
  knuckle) a few inches from the forehead and stomach. Then bring both 
  hands inward to contact the body.
    <br/>
    <font face="Arial">
     <br/>
     SICK:
    </font>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <img border="0" src="/images/sick.gif" style="max-width: 100%; height: auto" width="480"/>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <img border="0" height="211" src="/images/sick.h6.jpg" width="299"/>
    <img border="0" height="211" src="/images/sick.h7.jpg" width="299"/>
    <br/>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p style="margin-top: 0; margin-bottom: 0">
    SICK-[disease, illness]
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     <img border="0" src="/images/sick-disease.gif" style="max-width: 100%; height: auto" width="480"/>
    </font>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
   <p style="margin-top: 0; margin-bottom: 0">
    <br/>
    Sample sentence:
    <font face="Arial">
     <span style="font-weight: 400">
      "If your dog is sick will 
	you bring it to the vet?"
      <br/>
      SUPPOSE YOUR DOG SICK, YOU CARRY VET?
     </span>
    </font>
    <br/>
    <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/oe9All9w7Ng?rel=0" width="560">
    </iframe>
    <br/>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
   <p style="margin-top: 0; margin-bottom: 0">
    See: "
    <a href="/dictionary/laid-out">
     LAID-OUT
    </a>
    " 
	("really ill" / bedridden / wasted)
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>