<html>
 <body>
  <blockquote>
   <h1 style="margin-top: 0; margin-bottom: 0">
    <span style="font-weight: 400">
     <font face="Arial" size="5">
      American Sign 
Language: "sidewalk"
     </font>
    </span>
   </h1>
   <font face="Arial">
    <span style="font-weight: 400">
     <blockquote>
      <hr align="left" color="#000000" size="1" width="50%"/>
      <p style="margin-top: 0; margin-bottom: 0">
       SIDEWALK:
       <br/>
       The sign for "sidewalk" is a version of the sign "
       <a href="/dictionary/street">
        STREET
       </a>
       / WAY / PATH."
      </p>
      <p style="margin-top: 0; margin-bottom: 0">
       To 
	sign "sidewalk," do the STREET sign off to the side and aimed just a bit 
	downward.
       <br/>
      </p>
      <p style="margin-top: 0; margin-bottom: 0">
       <img border="0" height="300" src="/images/sidewa1.jpg" width="331"/>
       <img border="0" height="300" src="/images/sidewa2.jpg" width="331"/>
       <br/>
      </p>
      <hr align="left" color="#000000" size="1" width="50%"/>
      <p style="margin-top: 0; margin-bottom: 0">
       Also see:
       <a href="/dictionary/street" style="text-decoration: none">
        STREET
       </a>
       and
       <a href="/dictionary/hall" style="text-decoration: none">
        HALL
       </a>
       .
      </p>
      <hr align="left" color="#000000" size="1" width="50%"/>
     </blockquote>
     <hr align="left" color="#000000" size="1"/>
     <blockquote>
      <p style="margin-top: 0; margin-bottom: 0">
       In a message "wheremyheartrests" writes:
       <br/>
       Hello Dr. Vicars,
       <br/>
       <br/>
       My name is Chad [name on file], and I contacted you before regarding the 
	sign for sidewalk. I never did tell you the reason I asked for this sign. In 
	my home-town we have a policy for no skateboarding on the sidewalk near the 
	courthouse. If someone is caught skateboarding there by the local police 
	they may be cited a fine. The signs are posted, but a few of them are not 
	readily visible (sometimes I wonder if the town does this on purpose.) One 
	of my deaf acquaintances is a skateboarder, as am I. I was trying to explain 
	to him about the signs, but did not know how to sign sidewalk. But now I do, 
	thanks to your great explanation!
       <br/>
       <br/>
       Thank you, and Lord Bless,
       <br/>
       - Chad [name on file].
       <br/>
      </p>
     </blockquote>
     <p align="left" style="margin-top: 0; margin-bottom: 0">
     </p>
    </span>
    <hr align="left" color="#000000" size="1"/>
    <p align="center" style="margin-top: 0; margin-bottom: 0">
    </p>
    <p align="center" style="margin-top: 0; margin-bottom: 0">
    </p>
    <hr align="left" color="#000000" size="1"/>
   </font>
   <b>
    <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=XHRNABERKJT4N" rel="nofollow" target="_blank">
     <u>
      DONATE
     </u>
    </a>
   </b>
   <font size="2">
    (
    <i>
     Thanks!
    </i>
    )
   </font>
   <br/>
   <br/>
   <font face="Arial">
    *
   </font>
   Another way to help is to buy something from Dr. Bill's "
   <b>
    <a href="/dictionary/bookstore">
     <u>
      Bookstore
     </u>
    </a>
   </b>
   ."
   <hr align="left" color="#000000" size="1"/>
   <hr color="#000000" size="1"/>
   <p>
   </p>
  </blockquote>
 </body>
</html>