<html>
 <body>
  <blockquote>
   <h1 style="margin-top: 0; margin-bottom: 0">
    <span style="font-weight: 400">
     <font face="Arial" size="5">
      SIGN: The 
		American Sign Language (ASL) sign for "
     </font>
    </span>
    <font face="Arial">
     <span style="font-weight: 400">
      <font size="5">
       sign 
		/ signing / sign language
      </font>
     </span>
    </font>
    <span style="font-weight: 400">
     <font face="Arial" size="5">
      "
     </font>
    </span>
    <font face="Arial">
     <br/>
    </font>
   </h1>
   <p>
    If you mean "sign" sign as in a "display" or a "road sign" see "
    <a href="/dictionary/sign-square">
     SIGN-[square 
/ display]
    </a>
    <br/>
    <br/>
    <br/>
    There is more than one common sign for "SIGN" (as in "signing or sign 
language.")
    <br/>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    A common sign for "sign / 
signing / sign language" that has been around for a long is done using your 
index fingers.
    <br/>
    Form both hands into "1" hand shapes.  Then draw a couple of large circles 
in the air with the tip of each index finger.  You can either circle the 
hands backwards or forwards (but pick a direction and stick with it).  The 
hands both move at the same time but one hand is half a circle ahead of the 
other hand).
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <br/>
    I personally tend to do the movement as if pedaling a (stationary) bicycle 
backwards.  Both hands move at the same time. When the right hand is up, 
the left hand is down.  When the right hand is forward, the left hand is 
back.  However some signers prefer to "pedal" using a forward rotation.  
At the time of this writing, one version is not more right than the other (but 
some people will try to tell you their version is right).
    <br/>
    <br/>
    <span style="font-size: 12.0pt; font-family: Times New Roman">
     SIGN-[a sign, 
signing-(basic), sign language-(general)]
    </span>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <img border="0" src="/images/signing-1-hands.gif" style="max-width: 100%; height: auto" width="480"/>
   </p>
   <p class="MsoNormal">
    SIGNING-[advanced-signing, ASL-type-signing, skilled 
	signing]
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <img border="0" src="/images/signing-version.gif" style="max-width: 100%; height: auto" width="480"/>
   </p>
   <p class="MsoNormal">
    SIGN-[sign-something-in-fluent-ASL, do-a-sign, 
	sign-language]
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <img border="0" src="/images/sign-fast.gif" style="max-width: 100%; height: auto" width="480"/>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <iframe allow="autoplay; encrypted-media" allowfullscreen="" frameborder="0" height="315" name="I1" src="https://www.youtube.com/embed/TRLHLtgHyzo?rel=0" width="560">
    </iframe>
    <br/>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <img border="0" height="232" src="/images/sign.h45.jpg" width="266"/>
    <img border="0" height="232" src="/images/sign.h46.jpg" width="266"/>
    <img border="0" height="232" src="/images/sign.h47.jpg" width="266"/>
    <br/>
    Animation:
    <a href="/images/signlanguage.gif">
     "Sign Language" 
	(.gif file)
    </a>
    <br/>
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p style="margin-top: 0; margin-bottom: 0">
    <br/>
    Remember, many people do the sign with a forward, down, back, up movement -- 
	as if pedaling a bicycle forwards.)
    <br/>
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p style="margin-top: 0; margin-bottom: 0">
    <br/>
    Note:
    <br/>
    The sign for "sign" as in "a roadway sign" or a billboard is different from 
	"sign" as in "American Sign Language."
    <br/>
    If you want to talk about a road sign, bilboard, blackboard, or square, see:
    <a href="/dictionary/sign-square">
     SQUARE
    </a>
    <br/>
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p align="left" style="margin-top: 0; margin-bottom: 0">
    <b>
     <br/>
     <font face="Arial" size="4">
      Optional Reading (Not required)
     </font>
    </b>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <br/>
    <b>
     Student
    </b>
    : For "SIGN," should the fingers be moving in towards the body 
	at the top of the circle, or at the bottom of the circle?
    <br/>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <b>
     Dr. Bill
    </b>
    : Would you believe 
	"either?"  It is done
    <i>
     both ways
    </i>
    in the Deaf Community.  I 
	do it with the fingers moving in toward the body at the top of the circle. 
	But lots of people do it the other way too. Out of curiosity, I just looked 
	in a couple of the ASL dictionaries I have sitting here on my shelf and sure 
	enough one shows the fingers moving back, the other shows them moving 
	forward.
    <br/>
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p style="margin-top: 0; margin-bottom: 0">
   </p>
   <div>
    <div>
     <p style="margin-top: 0; margin-bottom: 0">
      In a message dated 
			10/25/2005 4:24:51 P.M. Pacific Daylight Time, january_june@___com 
			writes:
     </p>
    </div>
    <blockquote style="PADDING-LEFT: 5px; MARGIN-LEFT: 5px; BORDER-LEFT: blue 2px solid">
     <p style="margin-top: 0; margin-bottom: 0">
      <font color="#000000" face="Arial" size="2" style="BACKGROUND-COLOR: transparent">
       I can't seem to have each hand circling in different directions. My 
			question is, is this a common mistake? Also, does it mean something 
			completely different? In other words, if I signed 'sign' with my 
			fingers both making circles in the same direction, would I end up 
			offending someone or telling them I'm pregnant? Clumsy mistakes are 
			no fun :P
       <br/>
       -Brittany
      </font>
     </p>
    </blockquote>
   </div>
   <div>
    <p style="margin-top: 0; margin-bottom: 0">
     <img align="right" border="0" height="171" src="/images/clockanalog.gif" width="171"/>
     Brittany,
    </p>
   </div>
   <div>
    <p style="margin-top: 0; margin-bottom: 0">
     Your hands should
     <b>
      not
     </b>
     "circle" in two different directions.  They actually circle in the 
		same direction -- just one hand is further along in the circle than the 
		other.  Think of two race cars on the same track.  One car is 
		half a lap in front of the other.  They are going the same circular 
		direction.  Compare this situation to the hands on an analog clock.  
		Suppose it were 2:45 p.m., the clock would look like this:
     <br/>
     <br/>
     Oh sure, I understand "why" it is confusing.  In the clock example 
		the long-hand has an upward movement while the short-hand has a downward 
		movement. From that perspective it sounds like they are moving in
     <i>
      different
     </i>
     directions and they are in the sense that one is going up 
		and one is going down - but when viewed from a larger perspective, the 
		hands of the clock are moving in the
     <i>
      same
     </i>
     direction:  
		clockwise.  The same is true of the movement of your hands in this 
		sign.  They both rotate in the same direction but they are on 
		opposite sides of the circle.
    </p>
   </div>
   <div>
    <p style="margin-top: 0; margin-bottom: 0">
     - Dr. Bill
     <br/>
    </p>
   </div>
   <hr/>
   <div>
    <div>
     <p style="margin-top: 0; margin-bottom: 0">
      In a message dated 
			7/7/2007 4:47:33 A.M. Mountain Daylight Time, lwilt@ writes:
     </p>
    </div>
    <blockquote style="PADDING-LEFT: 5px; MARGIN-LEFT: 5px; BORDER-LEFT: blue 2px solid">
     <p style="margin-top: 0; margin-bottom: 0">
      <font color="#000000" face="Arial" size="2" style="BACKGROUND-COLOR: transparent">
       Hi, Dr. Bill,
       <br/>
       I haven't asked you a question in a long time, but have one 
			now...What is the difference (in usage) between the sign for sign: 
			as in sign language
       <br/>
       - one is the index fingers going around each other
       <br/>
       - and the other is "s" hands throwing forward into relaxed "c" or 
			"5" hands?
       <br/>
       Thanks, Bill, hope all is well with you!
       <br/>
       Linda Wilt
       <br/>
       Easton, Md
      </font>
     </p>
    </blockquote>
   </div>
   <div>
    <p style="margin-top: 0; margin-bottom: 0">
     Hi Linda,
     <br/>
     The "index finger version means "signing in general."
     <br/>
     The "S" hand version refers to the "skilled use of
     <b>
      <i>
       ASL
      </i>
     </b>
     " 
		(not "contact signing" nor Signed English").
     <br/>
     Both signs can be further modified (by changes in movement, path, speed, 
		orientation, facial expression, and posture) to indicate signing of 
		various styles and skill levels.
     <br/>
     -- Dr. Bill
     <br/>
     [
     <span style="background-color: #FFFF00">
      Edit:  13 years later
     </span>
     -- in 2020 -- the "throwing S's" version of "sign" now also means 
		signing in general too and we just do the sign faster and/or with more 
		facial expression to indicate "skilled" signing]
     <br/>
    </p>
    <hr/>
    <p style="margin-top: 0; margin-bottom: 0">
     <br/>
     <b>
      Question
     </b>
     : A student asks:
     <br/>
     "I was wondering if the 2 versions of SIGN are technically supposed to 
		be used in different contexts or if they can basically be used 
		interchangeably? I took an ASL 1 course one semester about 4 years ago 
		but was unable to continue on with the courses and only remember ever 
		learning about the version where you use both pointer fingers and form 
		circles but that could just be because they go over the other sign in 
		another class."
     <br/>
     - (Student's name removed for privacy.)
     <br/>
     <br/>
     <br/>
     <b>
      Response
     </b>
     :
     <br/>
     ASL, like all living languages, changes over time.
     <br/>
     The sign for "sign / signing / signed / sign language" -- is changing 
		and adapting currently -- right now Answers to this same question a few 
		years ago are not the answer I'd give now.
     <br/>
     <br/>
     Any answer I or someone else gives you now will likely be different a 
		few years from now.
     <br/>
     <br/>
     Both versions of the sign for "sign" can be modified (by changes in 
		movement, path, speed, orientation, facial expression, and posture) to 
		indicate signing of various styles and skill levels.
     <br/>
     <br/>
     The most recent adaptation of the sign for "signing" that I've seen (as 
		of this comment) is to do a one-handed S-5-S using a small "throw" and 
		retract movement. (I'll be adding that version to my online ASL 
		dictionary eventually.)
     <br/>
     <br/>
     The fact is though you will still see "both" versions of the sign for 
		"sign" -- and various applications of the signs for "sign" out in the 
		real world because not all Deaf sign the same and not all Deaf decide at 
		the same time to accept and use new versions of signs.
     <br/>
     <br/>
     If someone in your social circle or a teacher "insists" that you should 
		sign something a certain way -- sure, go ahead and make them happy. Then 
		actually invest a significant amount of your own time watching videos of 
		a variety of Deaf signers and form your own opinion based on a wide 
		sample.
     <br/>
     <br/>
     See:
     <br/>
     https://www.lifeprint.com/asl101/pages-layout/teachingasl/teachingasl-bill.htm
    </p>
   </div>
   <p>
    <br/>
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p>
    Notes:
    <br/>
    Also see:
    <a href="/dictionary/student">
     STUDENT
    </a>
    <br/>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1"/>
   <hr align="left" color="#000000" size="1"/>
   <hr align="left" color="#000000" size="1"/>
   <hr color="#000000" size="1"/>
   <p>
   </p>
  </blockquote>
 </body>
</html>