<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   <p style="margin-top: 0; margin-bottom: 0">
    The sign for "silly" wiggles a "Y" hand in front of your face.
    <font face="Arial">
     <span style="font-weight: 400">
      The 
movement is a double twist. Sort of like the "hang loose" gesture or the 
sign for YELLOW (but done in front of the face).
     </span>
    </font>
    <br/>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <span style="font-weight: 400">
     <font face="Arial">
      SILLY:
     </font>
    </span>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <span style="font-weight: 400">
     <img border="0" height="237" src="/images/sillyc1.jpg" width="240"/>
     <img border="0" height="237" src="/images/sillyc2.jpg" width="240"/>
     <img border="0" height="237" src="/images/sillyc3.jpg" width="240"/>
     <img border="0" height="237" src="/images/sillyc4.jpg" width="240"/>
     <br/>
     Memory Aid: "Homer Simpson has a silly yellow face."
     <br/>
    </span>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <span style="font-weight: 400">
     <br/>
    </span>
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p style="margin-top: 0; margin-bottom: 0">
    <span style="font-weight: 400">
     <br/>
     You can modify the sign "SILLY" to mean, "that's ridiculous" or "he is a
fool." The modified version uses a single large sweeping motion with a 
bit of a twist in the wrist.
     <br/>
     <br/>
     SILLY / foolish / ridiculous:
     <br/>
     <img border="0" height="237" src="/images/sillyridiculous1.jpg" width="240"/>
     <img border="0" height="237" src="/images/sillyridiculous2.jpg" width="240"/>
     <img border="0" height="237" src="/images/sillyridiculous3.jpg" width="240"/>
     <img border="0" height="237" src="/images/sillyridiculous4.jpg" width="240"/>
     <br/>
    </span>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
   <p style="margin-top: 0; margin-bottom: 0">
    <br/>
    Sample sentence:
YOU THINK HE/SHE TEACHER SILLY? (Do you think the teacher is silly?)
    <br/>
    <br/>
    <br/>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
    <p style="margin-top: 0; margin-bottom: 0">
     <span style="font-weight: 400">
      Also see:
      <a href="/dictionary/dumb" style="text-decoration: none">
       DUMB
      </a>
     </span>
    </p>
    <hr align="left" color="#000000" size="1"/>
    <p style="margin-top: 0; margin-bottom: 0">
     <span style="font-weight: 400">
      Also see:
      <a href="/dictionary/stupid" style="text-decoration: none">
       STUPID
      </a>
     </span>
    </p>
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>