<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   <p>
    The sign for "skill" also means "talent." It can be used for concepts 
	such as "adept," or "fluent."
    <br/>
    <br/>
    SKILL / talent:
    <br/>
    <img border="0" height="213" src="/images/skill.1.jpg" width="190"/>
    <img border="0" height="213" src="/images/skill.2.jpg" width="190"/>
    <img border="0" height="213" src="/images/skill.3.jpg" width="190"/>
    <br/>
   </p>
   <hr color="#000000" size="1"/>
   <br/>
   The sign for "EXPERT" can be used to say that someone is "very" 
			talented.
   <br/>
   EXPERT:
   <br/>
   <img border="0" height="217" src="/images/skill.4.jpg" width="204"/>
   <img border="0" height="217" src="/images/skill.5.jpg" width="204"/>
   <p style="margin-top: 0; margin-bottom: 0">
    <br/>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>