<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   <font face="Arial">
    <font size="+1">
     T
    </font>
    he sign for "sleep" is
    made by opening your hand and placing it in front of your face, palm toward
    you.  Move your hand downward toward your chin.  While the hand is moving, bring your fingers together and touch them with your
    thumb.
   </font>
   <p style="margin-top: 0; margin-bottom: 0">
    <br/>
    SLEEP:
    <br/>
    <font face="Arial">
     <img height="264" src="/images/sleep.gif" width="192"/>
     <br/>
     Note: You
     <b>
      don't
     </b>
     actually touch your chin. Your hand ends up
     <i>
      in 
	front of
     </i>
     your chin (or even lower).  This DOESN'T use a "fist" or 
	"S" hand.  It uses a flattened-"O" handshape similar to the ending 
	handshape of the "
     <a href="/dictionary/and">
      AND
     </a>
     " sign.
    </font>
    <br/>
   </p>
   <hr align="left" color="#000000" size="1" width="50%"/>
   <font face="Arial">
    <p>
     <img border="0" height="225" src="/images/sleep1.jpg" width="193"/>
     <img border="0" height="225" src="/images/sleep2.jpg" width="193"/>
     <img border="0" height="225" src="/images/sleep3.jpg" width="193"/>
     <br/>
    </p>
    <p>
     <br/>
    </p>
    <hr align="left" color="#000000" size="1"/>
    <p style="margin-top: 0; margin-bottom: 0">
     See:
     <a href="/dictionary/sleepin">
      sleep-in
     </a>
    </p>
    <hr align="left" color="#000000" size="1"/>
    <p style="margin-top: 0; margin-bottom: 0">
     See:
     <a href="/dictionary/sleepy">
      sleepy
     </a>
     <br/>
    </p>
   </font>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>