<html>
 <body>
  <blockquote>
   <h1 style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     <span style="font-weight: 400">
      <font size="5">
       American Sign Language: "slipped"
      </font>
     </span>
    </font>
   </h1>
   <p>
   </p>
   <hr align="left" color="#000000" size="1" width="50%"/>
   <font face="Arial">
    <span style="font-weight: 400">
     <p style="margin-top: 0; margin-bottom: 0">
      Start with the sign "STAND" and 
	then show the feet sliding forward and the person landing on the ground.
      <br/>
      <br/>
      SLIPPED and fell:
      <br/>
      <img border="0" height="287" src="/images/stand.gif" width="300"/>
      <img border="0" height="210" src="/images/fail.h16.jpg" width="205"/>
      <br/>
     </p>
     <hr align="left" color="#000000" size="1"/>
     <p style="margin-top: 0; margin-bottom: 0">
      Also see: "
      <a href="/dictionary/slipped-my-mind">
       It 
	slipped my mind
      </a>
      ."
     </p>
     <hr align="left" color="#000000" size="1"/>
     <p style="margin-top: 0; margin-bottom: 0">
     </p>
     <p align="left" style="margin-top: 0; margin-bottom: 0">
     </p>
    </span>
    <hr align="left" color="#000000" size="1"/>
    <p align="center" style="margin-top: 0; margin-bottom: 0">
    </p>
    <p align="center" style="margin-top: 0; margin-bottom: 0">
    </p>
    <hr align="left" color="#000000" size="1"/>
   </font>
   <b>
    <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=XHRNABERKJT4N" rel="nofollow" target="_blank">
     <u>
      DONATE
     </u>
    </a>
   </b>
   <font size="2">
    (
    <i>
     Thanks!
    </i>
    )
   </font>
   <br/>
   <br/>
   <font face="Arial">
    *
   </font>
   Another way to help is to buy something from Dr. Bill's "
   <b>
    <a href="/dictionary/bookstore">
     <u>
      Bookstore
     </u>
    </a>
   </b>
   ."
   <hr align="left" color="#000000" size="1"/>
   <hr color="#000000" size="1"/>
   <p>
   </p>
  </blockquote>
 </body>
</html>