<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   <br/>
   SMART / intelligent:
   <br/>
   (There is no "twist" in this sign.
   <font face="Arial">
    Flick the index finger up and out.
   </font>
   )
   <br/>
   <img border="0" height="237" src="/images/smart.18.jpg" width="296"/>
   <img border="0" height="237" src="/images/smart.19.jpg" width="296"/>
   <font face="Arial">
    <br/>
    <hr align="left" color="#000000" size="1"/>
   </font>
   <p>
    <br/>
    SMART / clever / brilliant / genius /
    <a href="/dictionary/bright">
     bright
    </a>
    <br/>
    <img border="0" height="240" src="/images/clever1.jpg" width="318"/>
    <img border="0" height="240" src="/images/clever2.jpg" width="318"/>
    <img border="0" height="240" src="/images/clever4.jpg" width="318"/>
    <br/>
    (NOTE:  Do you see my
    <i>
     <b>
      clever
     </b>
    </i>
    kitty
    <font face="Arial">
     at the corner of the images
    </font>
    trying to help me teach sign language?)
    <br/>
    <br/>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
   <p>
    <br/>
    MAKES SENSE:
    <br/>
    (Ah, that makes sense!) Jab your head twice with your index finger:
   </p>
   <p>
    <img border="0" height="218" src="/images/cent-makessense1.jpg" width="219"/>
    <img border="0" height="218" src="/images/cent-makessense2.jpg" width="219"/>
    <img border="0" height="218" src="/images/cent-makessense3.jpg" width="219"/>
    <img border="0" height="218" src="/images/cent-makessense4.jpg" width="219"/>
    <br/>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
   <p>
    <br/>
    COMMON SENSE:
    <br/>
    <img border="0" height="218" src="/images/commonsense1.jpg" width="219"/>
    <img border="0" height="218" src="/images/commonsense2.jpg" width="219"/>
    <br/>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>