<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   <p>
    SMELL:
    <br/>
    Memory hint:  Use your hand to waft the smell of fresh baked bread to 
  your nose. Use a double movement. The hand moves in a slight oval..
   </p>
   <p>
    <img border="0" height="220" src="/images/smell.4.jpg" width="207"/>
    <img border="0" height="220" src="/images/smell.5.jpg" width="207"/>
    <img border="0" height="220" src="/images/smell.6.jpg" width="207"/>
    <img border="0" height="220" src="/images/smell.7.jpg" width="207"/>
    <img border="0" height="220" src="/images/smell.6.jpg" width="207"/>
    <br/>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
   <br/>
   "SMELL" as in "stink."
   <p>
    <img border="0" height="221" src="/images/smell.8.jpg" width="246"/>
    <br/>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>