<html>
 <body>
  <blockquote>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
    <p>
     The sign for "so" is basically a gesture meaning "Well? 
			What?" The facial expression is used to turn it into a question by 
			raising your eyebrows (as in "What's your point?) or a rhetorical 
			question. If you don't raise your eyebrows it can mean such things 
			as, "So, then I ...."
    </p>
    <p>
    </p>
    <p>
     "SO?"  "Well?"  "What is your
  point?"  "What do you want from me?"
     <br/>
     <img border="0" height="221" src="/images/so1.jpg" width="238"/>
     <img border="0" height="221" src="/images/so2.jpg" width="238"/>
     <br/>
    </p>
    <hr align="left" color="#000000" size="1"/>
    <p>
     <br/>
     Notes:
     <br/>
     <br/>
    </p>
    <p>
     * If I wanted to sign, "I'm going to school
     <b>
      so
     </b>
     I can get a
  better job."  I could instead sign:  "I go school WHY?
  Better job" or "I go school
     <b>
      for
     </b>
     better job." Or I could 
	sign "FOR-FOR?" which equals "What for?"
    </p>
    <p>
    </p>
    <p>
     * There is another sign for "SO" that is used "out 
			there" in the real world. If is different from the one I show here. 
			It uses two "S" hands, the dominant hand makes a downward / forward 
	movement and glances against the side of the left hand --
  but that sign is "English" and not "ASL" based.  I'm 
			not going to do a graphic for it since too many of my students will 
			latch onto it and start misusing it.  Stick with the gesture 
			above and your signing will look more like that which is done by 
			native Deaf adults.
     <br/>
    </p>
    <hr align="left" color="#000000" size="1"/>
    <p>
     Also see: "
     <a href="/dictionary/so-so">
      SO-SO
     </a>
     ."
    </p>
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>