<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1" width="50%"/>
   <span style="font-weight: 400">
    <font face="Arial">
     <p style="margin-top: 0; margin-bottom: 0">
      SOAP:
     </p>
     This sign looks as if you have some soap on your palm and you are pulling your
fingertips back across it twice to develop a lather.
     <br/>
     <br/>
     <p>
      <img border="0" height="212" src="/images/soap1.jpg" width="173"/>
      <img border="0" height="212" src="/images/soap2.jpg" width="173"/>
      <img border="0" height="212" src="/images/soap3.jpg" width="173"/>
      <img border="0" height="212" src="/images/soap4.jpg" width="173"/>
      <img border="0" height="212" src="/images/soap5.jpg" width="173"/>
      <img border="0" height="212" src="/images/soap6.jpg" width="173"/>
      <img border="0" height="212" src="/images/soap7.jpg" width="173"/>
      <img border="0" height="212" src="/images/soap8.jpg" width="173"/>
      <img border="0" height="212" src="/images/soap9.jpg" width="173"/>
     </p>
     <hr align="left" color="#000000" size="1" width="50%"/>
    </font>
   </span>
  </blockquote>
 </body>
</html>