<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   A fellow named John (ha) writes in to ask:
   <br/>
   <p style="margin-top: 0; margin-bottom: 0">
    I wonder if there's a sign 
			for 'sociopath' or
    <br/>
    a similar concept -- someone compulsively deceptive, destructive, 
			and utterly without remorse or empathy, but often with a 
			(temporarily) charming demeanor. Would love to learn about that on 
			the site if you decide to use this request! If so, if you would, 
			please don't use my email, just call me John.
    <br/>
    Thanks for the materials. Really remarkable.
    <br/>
    Best,
    <br/>
    John
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <br/>
    Dear John,
    <br/>
    <font face="Arial">
     There is no widely established sign for "sociopath."
     <br/>
     Related signs include:
    </font>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     PERSON
     <br/>
     SELF-[him-her-it]
     <br/>
     ACT-[drama]
     <br/>
     SEEM
     <br/>
     SWEET
    </font>
   </p>
   <font face="Arial">
   </font>
   <p style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     FRIENDLY-[cheerful]
     <br/>
     NICE
     <br/>
     BUTTER-up-person
     <br/>
     NOT
     <br/>
     TRUE
    </font>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     FALSE-[fake]
     <br/>
     HYPOCRITE
     <br/>
     SICK-YOU-[That-is-sick!]
     <br/>
     MIND-WARPED
     <br/>
     RUIN-[spoil-harm]
     <br/>
     GUILT
    </font>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     SORRY
     <br/>
     NONE
    </font>
   </p>
   <font face="Arial">
    <p style="margin-top: 0; margin-bottom: 0">
     SHORT-[soon-temporary]
    </p>
    <p style="margin-top: 0; margin-bottom: 0">
     CONTINUE
     <br/>
     SOCIAL
     <br/>
     All of which are really very interesting signs. Many of which I'm 
			sure are not yet posted.
     <br/>
     I'll post a holding page for "sociopath" and maybe during the 
			holiday break I can find some time to post those individual signs 
			and expand on how the above signs can be used to describe a 
			sociopath.
     <br/>
     Cordially,
     <br/>
     Dr. Bill
     <br/>
    </p>
   </font>
   <hr align="left" color="#000000" size="1" width="50%"/>
   <p style="margin-top: 0; margin-bottom: 0">
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>