<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   <p>
    SOFTWARE:
    <br/>
    In general you can just spell "SW" to mean software.
    <br/>
    <font face="Arial">
     <img height="100" src="/images/s_small.gif" width="100"/>
     <img height="100" src="/images/w_small.gif" width="100"/>
     <br/>
    </font>
    <br/>
    Or you might want to sign "PROGRAM."
    <br/>
    <br/>
    I'll show you both in the video below.
    <br/>
    Click on the play button below to see "Software Program."  (S-W 
	PROGRAM)
   </p>
   <br/>
   <br/>
   <hr align="left" color="#000000" size="1"/>
   <p>
    Also see:
    <a href="/dictionary/program">
     PROGRAM
    </a>
    <br/>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>