<html>
 <body>
  <blockquote>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
    <p>
     <br/>
     The sign for "soft" looks a bit as if you were feeling 
			(compressing) cotton balls in your hands.  Hold out loose 
			palm-up claw hands.  Move them down an inch or two (but keep 
			the movement in the wrist and not in the elbows) as you change them 
			from "loose claw hands" to flattened-(palm_up)-"O"-hands. Do the 
			movement twice. Use a neutral or pleasant facial expression.
     <br/>
     <br/>
     SOFT:
    </p>
    <p>
     <img border="0" height="232" src="/images/soft.h52.jpg" width="215"/>
     <img border="0" height="232" src="/images/soft.h53.jpg" width="215"/>
     <img border="0" height="232" src="/images/soft.h54.jpg" width="215"/>
     <img border="0" height="232" src="/images/soft.h55.jpg" width="215"/>
    </p>
    <p>
     <br/>
     Note:
     <br/>
     If you do the sign "soft" with a negative or "ew" facial expression 
			it can mean "humid," "damp," or "wet" (as in "The baby is wet.")
     <br/>
    </p>
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>