<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   <p style="margin-top: 0; margin-bottom: 0">
    The sign for "some" is used for such concepts as "I work '
    <b>
     part
    </b>
    ' time."
    <font face="Arial">
     Use a "slicing" movement for your dominant hand. The base hand doesn't move.
    </font>
   </p>
   <p>
    SOME or PART:
    <br/>
    <img border="0" height="236" src="/images/some1.jpg" width="206"/>
    <img border="0" height="236" src="/images/some2.jpg" width="206"/>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <br/>
    Do some cats like water?
    <br/>
    <br/>
    <font face="Arial">
     <hr align="left" color="#000000" size="1"/>
    </font>
   </p>
  </blockquote>
 </body>
</html>