<html>
 <body>
  <blockquote>
   <h1 style="margin-top: 0; margin-bottom: 0">
    <span style="font-weight: 400">
     <font face="Arial" size="5">
      American Sign 
	Language: "someday"
     </font>
    </span>
   </h1>
   <p>
   </p>
   <hr align="left" color="#000000" size="1" width="50%"/>
   <blockquote>
    <span style="font-weight: 400">
     <font face="Arial">
      <p style="margin-top: 0; margin-bottom: 0">
       The sign for "SOMEDAY"
       <br/>
       Do the sign for "FUTURE" but use a double arching movement and extend your 
reach.
       <br/>
       <br/>
       <iframe allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/VHP823jOw8c?rel=0" width="560">
       </iframe>
      </p>
      <p style="margin-top: 0; margin-bottom: 0">
      </p>
      <p style="margin-top: 0; margin-bottom: 0">
       Sample sentence: SOMEDAY YOU MAYBE 
BECOME NURSE?
      </p>
      <p style="margin-top: 0; margin-bottom: 0">
       <iframe allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/gws-Ef0BmxM?rel=0" width="560">
       </iframe>
       <br/>
      </p>
      <hr align="left" color="#000000" size="1" width="50%"/>
     </font>
    </span>
    <p style="margin-top: 0; margin-bottom: 0">
     <span style="font-weight: 400">
      Also 
see:
      <a href="/dictionary/future" style="text-decoration: none">
       FUTURE
      </a>
     </span>
     <br/>
     <span style="font-weight: 400">
      Also 
see:
      <a href="/dictionary/future-far-in-the-future" style="text-decoration: none">
       "Far in the future."
      </a>
     </span>
    </p>
    <font face="Arial">
     <span style="font-weight: 400">
      <hr align="left" color="#000000" size="1" width="50%"/>
     </span>
    </font>
   </blockquote>
   <hr align="left" color="#000000" size="1"/>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1"/>
   <hr align="left" color="#000000" size="1"/>
   <hr color="#000000" size="1"/>
   <p>
   </p>
  </blockquote>
 </body>
</html>