<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   <p align="left">
    Also see:
    <a href="/dictionary/daughter">
     DAUGHTER
    </a>
    and
    <a href="/dictionary/baby">
     BABY
    </a>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
   <p align="center">
   </p>
   <p>
    The sign for "son" is a (mutated) compound of "MALE and BABY."  It is 
abbreviated though.  The "male" part of the sign just looks like a salute. You abbreviate the BABY 
portion of the sign (no rocking).  It sort of looks like you are saluting 
from your forehead to the crook of your left elbow.  The left arm sometimes 
just hangs down during the sign SON or at least is more relaxed than in the sign 
for baby.
    <br/>
   </p>
   <p>
    Note: It is okay if the left arm is relaxed--just sort of hanging there.   I 
recommend this version.
    <br/>
    <br/>
    SON (Version 1)
    <br/>
    <img border="0" height="221" src="/images/sonb1.jpg" width="258"/>
    <img border="0" height="221" src="/images/sonb2.jpg" width="258"/>
    <br/>
    <img border="0" height="221" src="/images/sonb3.jpg" width="258"/>
    <img border="0" height="221" src="/images/sonb4.jpg" width="258"/>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
   <p>
   </p>
   <p>
    SON: VERSION 2:
    <br/>
    In this version you can see the "MALE" + "BABY" parts of the sign.
    <br/>
    But remember -- DON'T rock your arms when signing SON or DAUGHTER!   
They are compound signs and use reduced movement.
   </p>
   <p>
   </p>
   <p>
    <img border="0" height="720" src="/images/son.gif" width="720"/>
   </p>
   <p>
    <br/>
    <img border="0" height="480" src="/images/son-01.jpg" width="480"/>
    <img border="0" height="480" src="/images/son-02.jpg" width="480"/>
   </p>
   <p>
    <img border="0" height="480" src="/images/son-03.jpg" width="480"/>
    <img border="0" height="480" src="/images/son-04.jpg" width="480"/>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <br/>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>