<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1" width="50%"/>
   <span style="font-weight: 400">
    <font face="Arial">
     <p style="margin-top: 0; margin-bottom: 0">
      SOON (variation 1)
      <br/>
      This version also means:
      <font size="4">
       SHORT-duration / SHORT-distance or length
       <br/>
      </font>
      Place the index and middle finger of the "H" hand (your 
dominant hand) on top of 
the index and middle fingers of the non-dominant "H" hand.  Slide the 
top "H" 
hand forward along the index finger of the bottom hand toward the tip of the index 
finger, then slide the top hand back toward the large knuckle of the bottom 
hand's index finger.  
Repeat the movement twice. The non-dominant hand doesn't move.
      <br/>
     </p>
     <p>
      <img border="0" height="202" src="/images/soon.gif" width="400"/>
      <br/>
      <br/>
      SOON / "short time" / "short duration" / "shortly"
      <br/>
      <img border="0" height="231" src="/images/soon-short1.jpg" width="233"/>
      <img border="0" height="231" src="/images/soon-short2.jpg" width="233"/>
      <img border="0" height="231" src="/images/soon-short3.jpg" width="233"/>
      <img border="0" height="231" src="/images/soon-short4.jpg" width="233"/>
      <br/>
      <br/>
      Note: This sign can be modified to mean "BRIEF."  To do so, use a single, large, quick forward movement of the 
dominant hand. In the sign "BRIEF" the dominant hand starts above and behind 
the base hand, strikes a downward/forward blow, comes off of the base hand and 
moves forward.
      <br/>
     </p>
     <hr/>
     <hr/>
     <p>
      SOON (variation)
      <br/>
      Use an "F" hand and a double movement.  Tap your chin twice.
      <br/>
      Note:  If you use a single, strong, motion and puff out the cheeks a bit this sign can
mean "EXPERT."
      <br/>
      Note: Some people tap the nose twice (instead of the chin).
      <br/>
      Note: Some people use somewhat of a downward glancing movement when doing this 
sign.
     </p>
     <p>
      <img border="0" height="240" src="/images/soon-chin1.jpg" width="352"/>
      <img border="0" height="240" src="/images/soon-chin2.jpg" width="352"/>
      <img border="0" height="240" src="/images/soon-chin3.jpg" width="352"/>
      <img border="0" height="240" src="/images/soon-chin4.jpg" width="352"/>
      <br/>
     </p>
     <hr/>
     <hr/>
     <p>
      <br/>
      This is a lesser used version of "soon."
      <br/>
      It is a "different" (weird?) way of signing "soon."  It is
a sort of "lexicalized sign" in that it uses a modified "S,"
that transitions into a modified "o" and ends as an "n" handshape.  I've 
also seen it done with a
double motion.
      <br/>
      <br/>
      SOON (variation) (not recommended)
      <br/>
      <img border="0" height="228" src="/images/soon-cheek4.jpg" width="244"/>
      <img border="0" height="228" src="/images/soon-cheek2.jpg" width="244"/>
      <img border="0" height="228" src="/images/soon-cheek3.jpg" width="244"/>
      <br/>
      <br/>
     </p>
     <hr/>
     <hr/>
     <div>
      <div>
       NOTES:
       <br/>
       In a message dated 3/23/2007 5:32:44 P.M. Pacific Daylight Time, 
SSQUYRES@ writes:
      </div>
      <blockquote style="PADDING-LEFT: 5px; MARGIN-LEFT: 5px; BORDER-LEFT: blue 2px solid">
       <font color="#000000" face="Tahoma" size="2" style="BACKGROUND-COLOR: transparent">
        <div>
         Bill,
         <br/>
         You asked for regional variations of signs.  I don't know if the 
following is regional (Bay Area) or new.
A Deaf man recently showed me a different sign for "Soon."  
He said the first version shown on the website is now an "old" 
sign.  
He uses the second version, "F" handshape touching chin twice. 
He also uses a variation with the same handshape touching the nose 
instead of the chin.
        </div>
        <div>
         Best Regards,
        </div>
        <div>
         -
Sharon
        </div>
       </font>
      </blockquote>
     </div>
     <div>
      Sharon,
      <br/>
      That "nose" variation seems to be quite popular in the Northern California 
region.
      <br/>
      I don't think the "SOON/SHORT" version (that uses "H" hands) is "old" 
nationwide.  I think that it is just not the main version used in 
certain areas.  The "SOON/SHORT" version however is important to know 
because it has so many other important variations such as "brief" (that uses 
a very quick, single movement). Whereas the "SOON"-(on the nose) version is 
pretty much limited to "will happen in the near future."
      <br/>
      Thanks for the feedback.
     </div>
     <div>
      - Dr. Bill
     </div>
     <hr align="left" color="#000000" size="1" width="50%"/>
    </font>
   </span>
  </blockquote>
 </body>
</html>