<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   <p>
   </p>
   <p>
    Double movement.  Dominant flat hand taps middle finger of 
non-dominant five hand.  The non-dominant hand doesn't move.
    <br/>
    <br/>
    <font face="Arial">
     SOPHOMORE:
    </font>
    <br/>
    <img border="0" height="221" src="/images/sophom33.jpg" width="226"/>
    <img border="0" height="221" src="/images/sophom34.jpg" width="226"/>
    <img border="0" height="221" src="/images/sophom35.jpg" width="226"/>
    <img border="0" height="221" src="/images/sophom36.jpg" width="226"/>
   </p>
   <hr align="left" color="#000000" size="1"/>
   <img border="0" height="107" src="/images/sophomore.gif" width="140"/>
   <hr align="left" color="#000000" size="1" width="50%"/>
   <p style="margin-top: 0; margin-bottom: 0">
    <br/>
    Sample sentence:
Are you a freshman or sophomore?
    <br/>
    <br/>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
    <p style="margin-top: 0; margin-bottom: 0">
     See:
     <a href="/dictionary/freshman">
      FRESHMAN
     </a>
    </p>
    <p style="margin-top: 0; margin-bottom: 0">
     See:
     <a href="/dictionary/junior">
      JUNIOR
     </a>
    </p>
    <p style="margin-top: 0; margin-bottom: 0">
     See:
     <a href="/dictionary/senior">
      SENIOR
     </a>
    </p>
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>