<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   <font face="Arial">
    <span style="font-weight: 400">
     <p style="margin-top: 0; margin-bottom: 0">
      <br/>
      Use a double motion and hold your hands up near your mouth. The 
dominant hand represents a spoon. The non-dominant represents a bowl.
      <br/>
      <br/>
      SOUP:
      <br/>
      <img border="0" src="/images/soup.gif" style="max-width: 100%; height: auto" width="480"/>
      <img border="0" height="139" src="/images/spoon.gif" width="245"/>
     </p>
     <p>
      <img border="0" height="213" src="/images/soup1.jpg" width="220"/>
      <img border="0" height="213" src="/images/soup2.jpg" width="220"/>
      <img border="0" height="213" src="/images/soup3.jpg" width="220"/>
      <img border="0" height="213" src="/images/soup4.jpg" width="220"/>
      <br/>
     </p>
     <hr align="left" color="#000000" size="1"/>
     <p style="margin-top: 0; margin-bottom: 0">
      <br/>
      Notes:
      <br/>
      This sign can also be 
modified to mean
      <b>
       spoon
      </b>
      .  To use this
  sign to mean spoon you emphasize the dominant hand in the sign. Near the end 
of the sign relax or drop the non-dominant hand (the bowl of soup) while 
emphasizing the dominant (the spoon).
     </p>
    </span>
    <br/>
    <hr align="left" color="#000000" size="1" width="50%"/>
    <p style="margin-top: 0; margin-bottom: 0">
     <span style="font-weight: 400">
      Also see:
      <a href="/dictionary/spoon">
       SPOON
      </a>
     </span>
    </p>
   </font>
   <hr align="left" color="#000000" size="1" width="50%"/>
   <p style="margin-top: 0; margin-bottom: 0">
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>