<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   <p>
    The sign "Spain" is one of those signs that has quite a few versions and 
	seems to evolve over time.
    <br/>
    <br/>
    One version brings two "X" hands together from off the shoulders.
    <br/>
    Another version brings an "X" hand from the right upper chest to the left 
	upper chest.
    <br/>
    Still another strong version flips either an "X" hand or a "flattened "O" 
	hand on top of the heart.
   </p>
   <p>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
   <p>
    <br/>
    SPAIN (Version 1) (recommended version)
   </p>
   <font face="Arial">
    <p>
     <img border="0" height="240" src="/images/spain.18.jpg" width="352"/>
     <img border="0" height="240" src="/images/spain.19.jpg" width="352"/>
     <img border="0" height="240" src="/images/spain.20.jpg" width="352"/>
     <br/>
    </p>
    <hr align="left" color="#000000" size="1"/>
    <p>
     <br/>
     SPAIN (Version 2)
     <br/>
     (This version is also an older version of the sign for "Mexico."  See:
     <a href="/dictionary/mexico">
      MEXICO
     </a>
     )
     <br/>
     <img border="0" height="240" src="/images/spain.12.jpg" width="352"/>
     <img border="0" height="240" src="/images/spain.13.jpg" width="352"/>
     <img border="0" height="240" src="/images/spain.14.jpg" width="352"/>
     <br/>
    </p>
    <hr align="left" color="#000000" size="1"/>
   </font>
   <p>
    <br/>
    Spain (Version 3)
    <br/>
    <img border="0" height="240" src="/images/spain.15.jpg" width="352"/>
    <img border="0" height="240" src="/images/spain.16.jpg" width="352"/>
    <img border="0" height="240" src="/images/spain.17.jpg" width="352"/>
    <br/>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
   <p>
    <br/>
    Spain: Version 4:
   </p>
   <p>
    <img border="0" height="226" src="/images/spain.21.jpg" width="223"/>
    <img border="0" height="226" src="/images/spain.22.jpg" width="223"/>
    <img border="0" height="226" src="/images/spain.23.jpg" width="223"/>
    <br/>
   </p>
   <hr align="left" color="#000000" size="1" width="50%"/>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>