<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   <p>
    This sign is generally done with one hand and means to "spend money."  
	To do it right, pretend you've got a quarter under your thumb.  As you move your 
    hand forward, slide the quarter forward and off your fingers as if sliding 
    it into a vending machine.)
   </p>
   <p>
    <img border="0" height="238" src="/images/spend.21.jpg" width="207"/>
    <img border="0" height="238" src="/images/spend.22.jpg" width="207"/>
   </p>
   <br/>
   This is a great sign. 
    I recall watching a young man talk about his car.  That car was his 
    pride and joy. One complaint he had though was it was like a baby.  He 
    had to keep "feeding" it.  This is the sign he used for "feeding." What 
    he meant was he had to keep spending a lot of money on it.
   <p>
    This same sign can be used to mean "nourish."
    <font face="Arial">
     <br/>
    </font>
   </p>
   <hr align="left" color="#000000" size="1"/>
  </blockquote>
 </body>
</html>