<html>
 <body>
  <blockquote>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
    <p>
     To do the sign for "spider" use "curved 5-hands" to represent the legs of a spider.  
  Wiggle the fingers up and down as you move the sign forward a short distance.
     <br/>
     <br/>
     SPIDER:
    </p>
    <p>
     <img border="0" height="239" src="/images/spider1.jpg" width="245"/>
     <img border="0" height="239" src="/images/spider2.jpg" width="245"/>
     <img border="0" height="239" src="/images/spider3.jpg" width="245"/>
     <img border="0" height="239" src="/images/spider4.jpg" width="245"/>
    </p>
    <p>
     <br/>
    </p>
    <hr align="left" color="#000000" size="1" width="50%"/>
    <p>
    </p>
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>