<html>
 <body>
  <blockquote>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
    <p>
     SPILL:  Use a mime-like action (or a classifier) to show how the spill 
  happened.
     <br/>
     If you spill a cup, start with a "C" handshape and tip it over then show 
	what happened to the liquid using the SPREAD sign.
    </p>
    <hr align="left" color="#000000" size="1"/>
    <p>
     <br/>
     SPREAD / spill / spread out:
     <br/>
     <img border="0" height="222" src="/images/spill.13.jpg" width="260"/>
     <img border="0" height="222" src="/images/spill.14.jpg" width="260"/>
     <img border="0" height="222" src="/images/spill.15.jpg" width="260"/>
     <img border="0" height="222" src="/images/spill.16.jpg" width="260"/>
     <img border="0" height="222" src="/images/spill.17.jpg" width="260"/>
    </p>
    <hr align="left" color="#000000" size="1"/>
    <a href="/images/spread.gif">
     Animation:  "SPILL / SPREAD"
    </a>
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>