<html>
 <body>
  <blockquote>
   <h1 style="margin-top: 0; margin-bottom: 0">
    <span style="font-weight: 400">
     <font face="Arial" size="5">
      American Sign 
	Language: "spit"
     </font>
    </span>
   </h1>
   <p>
   </p>
   <hr align="left" color="#000000" size="1" width="50%"/>
   <font face="Arial">
    <span style="font-weight: 400">
     <p style="margin-top: 0; margin-bottom: 0">
      Regarding the sign "SPIT"
      <br/>
      <br/>
     </p>
    </span>
    Question:
    <span style="font-weight: 400">
     A student asks:
     <p style="margin-top: 0; margin-bottom: 0">
      "Is the sign for SPITTING the same as 
the sign for TATTLING?"
      <br/>
      <br/>
     </p>
    </span>
    Answer:
    <span style="font-weight: 400">
     <br/>
     The signs SPIT and TATTLE are very similar. The main difference between the two 
has to do with non-manual markers (facial expressions, head tilts, torso 
movements, shoulder raises, mouth morphemes, etc.) and inflections (such as 
changes to the speed and/or movement path of the sign).
     <br/>
     <br/>
     Let's compare the two signs a bit:
     <br/>
     <br/>
     TATTLE: The sign TATTLE is almost always done starting at the mouth and moving 
toward the non-dominant side. This sign would generally not be done any other 
direction than toward the side. The facial expression can reflect the nature of 
the tattling (for example: mischievous) or the feelings of the signer regarding 
tattling (for example: disdain). This sign can be repeated to show that the 
tattling is habitual.
     <br/>
     <br/>
     SPIT: The sign SPIT can be inflected (modified/changed) to show the nature and 
direction of the spitting. When you do the sign for SPIT you (generally should) 
move your mouth as if you were actually spitting. Usually the sign is angled 
downward. However you can modify the movement path of the sign to show the path 
of the spit. For example: in an arch. You may also see during storytelling a 
signer role shift (adopt the role of / role play) and portray a person spitting 
in a certain way or spitting out a distasteful drink.
     <br/>
     <br/>
    </span>
    Discussion:
    <span style="font-weight: 400">
     <br/>
     Interestingly enough it may help to think of the sign SPIT not as just the sign 
for spit but rather as the sign for "projectile" or as meaning "particular item 
travel quickly along a specific path to a specific destination." It just so 
happens that when we locate the "projectile" sign at the mouth and direct the 
movement outward and downward (or to the side or wherever) the "projectile" sign 
naturally takes on the added meaning of saliva. (Since saliva is typically in a 
mouth and often is projected outward). But the PROJECTILE sign (which uses a 
cocked index finger that flicks outward quickly can also be used for other 
things. For example, in the 1990's when pagers (small electronic devices that 
could receive short messages and display the number of incoming phone calls) 
were popular it was common to see people flick their index finger toward their 
hip to mean "page me." Later, the "projectile" sign became commonly used as a 
sign that meant "send an email to." Another interesting version of the 
projectile sign is to use it as a form of the sign ASK. Perhaps you are familiar 
with the phrase "fired off a question to.." which means to ask a question to 
someone.
     <br/>
     <br/>
     Thus TATTLE and SPIT are based on the same concept: "projectile."  In one 
instance we are sending off "information" and in the other instance we are 
sending off "saliva." It is context (what has been said or established earlier 
in the conversation), non-manual markers, and inflection that indicate the exact 
meaning of the sign.
     <br/>
     <hr align="left" color="#000000" size="1" width="50%"/>
     <p style="margin-top: 0; margin-bottom: 0">
      See: "
      <a href="/dictionary/tattle" style="text-decoration: none">
       TATTLE
      </a>
      "
     </p>
     <hr align="left" color="#000000" size="1" width="50%"/>
    </span>
   </font>
   <p>
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1"/>
   <hr align="left" color="#000000" size="1"/>
   <hr color="#000000" size="1"/>
   <p>
   </p>
  </blockquote>
 </body>
</html>