<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   <p style="margin-top: 0; margin-bottom: 0">
    The sign for "spring" is based on the sign for "GROW."  This is a noun verb pair.  If you use a single motion it means
  "grow."  If you use a double motion it means
  "spring" (or "garden" or "a plant").
    <br/>
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p style="margin-top: 0; margin-bottom: 0">
    <br/>
    SPRING-(springtime) / PLANT / garden:
    <br/>
    Generally use a double motion.
    <br/>
    <br/>
    <img border="0" src="/images/spring.gif" style="max-width: 100%; height: auto" width="480"/>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <img border="0" height="216" src="/images/spring-plant1.jpg" width="186"/>
    <img border="0" height="216" src="/images/spring-plant2.jpg" width="186"/>
    <img border="0" height="216" src="/images/spring-plant3.jpg" width="186"/>
    <img border="0" height="216" src="/images/spring-plant4.jpg" width="186"/>
    <img border="0" height="216" src="/images/spring-plant5.jpg" width="186"/>
    <img border="0" height="216" src="/images/spring-plant6.jpg" width="186"/>
    <img border="0" height="216" src="/images/spring-plant7.jpg" width="186"/>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <br/>
    Sample sentence:  "Which do you like best? Spring, summer, or autumn?"
    <br/>
    <br/>
    <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/5JFv_lqcNNQ?rel=0" width="560">
    </iframe>
    <br/>
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p style="margin-top: 0; margin-bottom: 0">
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    GROW uses a single motion.
    <br/>
    <img border="0" height="218" src="/images/grow1.jpg" width="182"/>
    <img border="0" height="218" src="/images/grow2.jpg" width="182"/>
    <img border="0" height="218" src="/images/grow3.jpg" width="182"/>
    <br/>
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p style="margin-top: 0; margin-bottom: 0">
    <br/>
    PLANT-(potted) (English Sign version)  (NOT ASL)
    <br/>
    This version is generally regarded as "Signed English" It means "plant" as in "a potted
  plant."
    <br/>
    I'll show this to you in case you see it out in the community, but
    <b>
     I 
	recommend you just "spell" P-L-A-N-T
    </b>
    when referring to a potted plant or 
	just use a small version of the sign SPRING.
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <br/>
    PLANT-(potted)
    <br/>
    <img border="0" height="215" src="/images/plant1.jpg" width="180"/>
    <img border="0" height="215" src="/images/plant2.jpg" width="180"/>
    <img border="0" height="215" src="/images/plant3.jpg" width="180"/>
    <img border="0" height="215" src="/images/plant4.jpg" width="180"/>
    <img border="0" height="215" src="/images/plant5.jpg" width="180"/>
    <img border="0" height="215" src="/images/plant6.jpg" width="180"/>
    <br/>
   </p>
   <font face="Arial">
    <hr/>
   </font>
   <p style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     Note:  To sign "garden," I do the sign "grow" using a small, quick 
	motion, then I move my hands a couple inches to the right and sign "grow" 
	again.
    </font>
   </p>
   <hr/>
   <p style="margin-top: 0; margin-bottom: 0">
    Also see:
    <a href="/dictionary/grow">
     GROW
    </a>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
   <p style="margin-top: 0; margin-bottom: 0">
    If you mean "GROW" as in grow up
    <span style="font-weight: 400">
     , 
	see: "
     <a href="/dictionary/raised">
      RAISED / 
	grow up
     </a>
     "
    </span>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
   <p style="margin-top: 0; margin-bottom: 0">
    If you mean "plant" as in 
	"planting" or "to plant" see:
    <a href="/dictionary/seed">
     SEED
    </a>
    <br/>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>