<html>
 <body>
  <blockquote>
   <h1 style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     <font size="5">
      squander
     </font>
    </font>
   </h1>
   <p>
    There are a number of ways to indicate via signing that someone is squandering 
their money.
    <br/>
    Here are a few versions with which to become familiar:
    <br/>
    <br/>
    Version: https://youtu.be/XNlueHFqcIY
    <br/>
    Version: https://youtu.be/1pX1OSSTfAc
    <br/>
    Version: https://youtu.be/xzO_3X7Uhvk
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p>
    Notes:
    <br/>
   </p>
   <hr align="left" color="#000000" size="1"/>
   <hr align="left" color="#000000" size="1"/>
   <hr align="left" color="#000000" size="1"/>
   <hr color="#000000" size="1"/>
   <p>
   </p>
  </blockquote>
 </body>
</html>