<html>
 <body>
  <blockquote>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
    <p>
     The sign for "squirrel" uses two bent "V" hands.
     <br/>
    </p>
    <p>
     SQUIRREL or chipmunk:
    </p>
    <p>
     <img border="0" height="224" src="/images/squirr15.jpg" width="198"/>
     <img border="0" height="224" src="/images/squirr16.jpg" width="198"/>
     <img border="0" height="224" src="/images/squirr15.jpg" width="198"/>
     <img border="0" height="224" src="/images/squirr16.jpg" width="198"/>
    </p>
    <p>
     <br/>
    </p>
    <hr align="left" color="#000000" size="1" width="50%"/>
    <p>
    </p>
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>