<html>
 <body>
  <blockquote>
   <p align="right">
    <img alt="back.gif (1674 bytes)" border="0" height="28" onclick="history.go(-1)" src="/images/back.gif" width="54"/>
   </p>
   <p>
    <br/>
    <b>
     Sign
    </b>
    : STAGE
   </p>
   <hr color="#800080"/>
   <p>
    Version 1
    <br/>
    <img border="0" height="240" src="/images/stage.1.jpg" width="320"/>
    <img border="0" height="240" src="/images/stage.2.jpg" width="320"/>
   </p>
   <hr color="#800080"/>
   <p>
    Version 2
    <br/>
    <img border="0" height="240" src="/images/stage.3.jpg" width="320"/>
    <img border="0" height="240" src="/images/stage.4.jpg" width="320"/>
   </p>
   <hr color="#800080"/>
   <div>
    <div>
     In a message dated 7/21/2007 10:14:26 PM Pacific Daylight Time, 
		ndnlittlecrow@ writes:
    </div>
    <blockquote style="PADDING-LEFT: 5px; MARGIN-LEFT: 5px; BORDER-LEFT: blue 2px solid">
     <font color="#000000" face="Arial" size="2" style="BACKGROUND-COLOR: transparent">
      Hello Dr. Bill!
      <br/>
      <br/>
      This is Roo reporting from SC! Today was my first conversation 
		with a Deaf person! Despite my very large and very sudden onset of 
		stupidity, it was a really cool experience.
      <br/>
      <br/>
      I went to a Christian playhouse (Narroway, btw, just in case you wanted 
		to know), and saw an awesome performance. At intermission my friends 
		said that they saw a guy who was Deaf (they had asked him what time it 
		was and he "made some motions with his hands"), so I was very excited. 
		After the play when the actors started greeting people he went along 
		person to person signing "JESUS LOVE YOU" (most people actually 
		understood...one of my friends asked me to translate haha). When he got 
		to me I signed "YOU DEAF?", he signed yes and the conversation quickly 
		took off from there. I very rapidly learned the names, ages, and genders 
		of all of his children and grandchildren. I also learned two new words 
		"COOL" (not the "FINE" version, but an "F" near the lips and twisted) 
		and "LAZY" ( i had to ask him to repeat 10 times before i realized that 
		he was saying "MY SON LAZY"). I also found out that all of his grandsons 
		are in the play, and that one of his grandsons is going into the army 
		and that he is very worried about that. Later when i was talking to 
		someone he came up and i greeted him and then the person i was talking 
		to said that he had been talking about me in the backstage area. Well I 
		completely forgot how rude it is for me to not translate when i am in a 
		conversation with him already. So he asked me to translate and i told 
		him...although i had no idea what i should sign for "backstage" (any 
		ideas?), so i just signed "BACK" and "S-T-A-G-E".
      <br/>
      <br/>
      Later the cast coordinator told me that no one in his family except 
		him can use sign language (his daughter a little) and after talking to 
		his son i can believe that. She said not even his wife knew sign 
		language, and no one at the playhouse knew sign language either. I was 
		wondering if that is common, or at least heard of, or if it is likely a 
		rumor?
      <br/>
      <br/>
      So overall i think it went really well...despite my inability to think 
		while i was trying to sign. He was very understanding and very forgiving 
		and seemed happy that i was excited to try and talk to him using sign 
		language.
      <br/>
      ...
      <br/>
      Roo
      <br/>
     </font>
    </blockquote>
   </div>
   <div>
    Roo,
    <br/>
    What a great experience you have had!  Good for you!
    <br/>
    Make sure to save your email in a journal somewhere so you can look back on 
	it years from now and marvel at your progress.  "Backstage" would generally 
	be just a jerk of the thumb ("A" handshape) in the direction of the back of 
	the stage while mouthing the word "backstage."
    <br/>
    There are a couple signs for stage.  Thus some people might choose to spell 
	B-A-C-K and sign stage.
    <br/>
    It depends on the situation, how formal or specific you need to be in your 
	signing.
    <br/>
    People who are involved heavily in a certain production or theater may have 
	developed a specific sign for backstage that wouldn't be recognized by the 
	general public out of context.
    <br/>
    --Bill
   </div>
   <p>
   </p>
   <hr color="#800080"/>
   <p align="right">
    <img alt="back.gif (1674 bytes)" border="0" height="28" onclick="history.go(-1)" src="/images/back.gif" width="54"/>
    <br/>
    <br/>
   </p>
   <p>
   </p>
  </blockquote>
 </body>
</html>