<html>
 <body>
  <blockquote>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
    <p>
     The sign for "steal" uses a "V" hand. (The non-dominant 
			hand can be loose, a fist, or flat -- it varies).
     <br/>
     Reach along the side of the arm using a regular "V"-hand shape and 
			then pull back the dominant hand quickly as you change the handshape 
			into a bent-"V" hand.
     <br/>
    </p>
    <p>
     STEAL:
    </p>
    <p>
     <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/uQyXeoaanbQ?rel=0&autoplay=1" width="560">
     </iframe>
     <br/>
     <img border="0" height="219" src="/images/steal.5.jpg" width="234"/>
     <img border="0" height="219" src="/images/steal.6.jpg" width="234"/>
     <img border="0" height="219" src="/images/steal.7.jpg" width="234"/>
    </p>
    <hr align="left" color="#000000" size="1"/>
    Animation: STEAL
    <p>
     <img border="0" height="219" src="/images/steal.gif" width="234"/>
    </p>
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>