<html>
 <body>
  <blockquote>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
    <p>
     The sign for "still" (as in "continue to do or be) uses palm-down "Y" hands.  Start near your body.  Move the hands in a 
  smooth arch forward and down and then back up again.
     <br/>
     <br/>
     STILL:
     <br/>
     <img border="0" height="227" src="/images/still.21.jpg" width="258"/>
     <img border="0" height="227" src="/images/still.22.jpg" width="258"/>
     <img border="0" height="227" src="/images/still.23.jpg" width="258"/>
    </p>
    <p>
    </p>
    Animation:  STILL
    <br/>
    <img border="0" height="227" src="/images/still.gif" width="258"/>
    <p>
    </p>
    <hr align="left" color="#000000" size="1" width="50%"/>
    <p>
     <br/>
     See: "
     <a href="/dictionary/he-still-teach-but-is-off-during-summer">
      He 
	is still teaching, but is currently on summer break
     </a>
     "
    </p>
    <p>
     See: "
     <a href="/dictionary/he-is-still-teaching-but-is-off-for-the-summer">
      He 
	is still teaching but he is off for the summer.
     </a>
     "
    </p>
    <p>
     See:
     <a href="/dictionary/he-is-still-eating">
      "He is still 
	eating!"
     </a>
     <br/>
    </p>
    <hr align="left" color="#000000" size="1"/>
    <p>
     See related sign:
     <a href="/dictionary/stay">
      STAY
     </a>
    </p>
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>