<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   <p>
    STING:
    <br/>
    Use the dominant hand "X" finger to represent a stinger.
    <br/>
    The "X" hand makes a quick down and up movement (as if having stung 
			the non-dominant hand). Note: You don't actually have to make 
			contact as long as you come "close."
    <br/>
    <br/>
    <img border="0" height="240" src="/images/sting.4.jpg" width="352"/>
    <img border="0" height="240" src="/images/sting.5.jpg" width="352"/>
    <img border="0" height="240" src="/images/sting.6.jpg" width="352"/>
   </p>
   <p>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
   <p>
    <br/>
    STING:  Version 2
    <br/>
    This version of the sign only uses a quick downward movement.
    <br/>
    Either version is fine.
    <br/>
    <br/>
    <img border="0" height="240" src="/images/sting.1.jpg" width="352"/>
    <img border="0" height="240" src="/images/sting.2.jpg" width="352"/>
    <img border="0" height="240" src="/images/sting.3.jpg" width="352"/>
    <br/>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>