<html>
 <body>
  <blockquote>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
    <p>
     The concept of "stomach" can be expressed by simply patting your stomach twice.
     <br/>
     Or use fingertips of a "bent-B" hand to poke it twice.
    </p>
    <p>
     <img border="0" height="230" src="/images/stomac3.jpg" width="223"/>
     <img border="0" height="230" src="/images/stomac4.jpg" width="223"/>
     <br/>
    </p>
    <p>
     Or you can point to it.
    </p>
    <p>
     <img border="0" height="107" src="/images/stomac5.jpg" width="183"/>
     <br/>
    </p>
    <p>
     Remember "signs" are not English words.
    </p>
    <p>
     If you have a sentence like "I can't stomach the sight of blood" you should 
  use a sign that represents the
     <b>
      <i>
       concept
      </i>
     </b>
     . For example "tolerate" 
  (a version of the sign PATIENT) would be a good choice.
     <br/>
    </p>
    <hr align="left" color="#000000" size="1"/>
    <p>
     <br/>
     If you are in a doctor's office and need to describe the stomach in more 
  detail you can use "
     <a href="/dictionary/classifiers">
      classifiers
     </a>
     " 
  to describe the size, shape, and location of the stomach.
    </p>
    <p>
     <img border="0" height="222" src="/images/stomac18.jpg" width="207"/>
     <img border="0" height="222" src="/images/stomac19.jpg" width="207"/>
    </p>
    <hr align="left" color="#000000" size="1" width="50%"/>
    <p>
    </p>
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>