<html>
 <body>
  <blockquote>
   <h1 style="margin-top: 0; margin-bottom: 0">
    <span style="font-weight: 400">
     <font face="Arial" size="5">
      STORE: The 
		American Sign Language (ASL) sign for "store"
     </font>
    </span>
    <font face="Arial">
     <br/>
    </font>
   </h1>
   <p>
    <br/>
    There are different ways to sign the word "store" depending on your meaning.
    <br/>
    <br/>
    If you mean "store" as in
    <span style="color: rgb(34, 34, 34); font-family: Roboto, arial, sans-serif; font-size: small; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 100; letter-spacing: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial; display: inline !important; float: none;">
     a retail establishment selling items to the public you can use the sign we often 
just label as "STORE."  Perhaps a better label would be:
    </span>
    <font face="Arial" size="2">
     STORE-[retail-establishment]
     <br/>
    </font>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    The sign for "store" (as in a place that sells things) is made by 
	forming both hands into flattened-O shapes (as if you were holding a sheet 
	of paper) with the hands pointing downward.
    <br/>
    Pivot both of your hands forward (away from your body) twice.
   </p>
   <p align="left">
    <font face="Arial" size="2">
     The fingertips swing forward and back a couple times. The thumbs are 
touching the fingers as if you were holding a piece of paper.
     <br/>
     <br/>
     STORE-[retail-establishment]
    </font>
   </p>
   <p>
    <iframe allow="autoplay; encrypted-media" allowfullscreen="" frameborder="0" height="315" name="I1" src="https://www.youtube.com/embed/CPp1UOM-olA?rel=0" width="560">
    </iframe>
    <img height="189" src="/images/store.gif" width="236"/>
   </p>
   <p>
    <br/>
    In general the double movement makes this sign a noun.   If you 
	use a single motion, this sign means "sell."  I've noticed though, that 
	quite a few signers use the single motion to mean "store" and use the double 
	motion to mean, "selling."  This is opposite the "noun/verb pair" 
	principle.  So, even though I still teach that the "right" way to sign 
	"store" (with a double motion), I also encourage you to be flexible in the 
	"real world."
   </p>
   <p>
   </p>
   <p>
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p>
    "What is your favorite store?" = YOUR FAVORITE STORE, WHAT?
    <br/>
    <iframe allow="autoplay; encrypted-media" allowfullscreen="" frameborder="0" height="315" name="I2" src="https://www.youtube.com/embed/lZ3CLD74j_c?rel=0" width="560">
    </iframe>
   </p>
   <p>
   </p>
   <p>
   </p>
   <hr/>
   <p>
   </p>
   <p>
    If you mean "store" as in "storage" then use the version of "save" 
that means "to store" (as in storage).
    <br/>
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p>
    Notes:
    <br/>
    <br/>
    Not required reading for a basic ASL class but if you are interested in reading 
about ASL grammar then see:
    <a href="/dictionary/store-i-go-the-myth">
     The myth of "STORE, I 
	GO."
    </a>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1"/>
   <hr align="left" color="#000000" size="1"/>
   <hr align="left" color="#000000" size="1"/>
   <hr color="#000000" size="1"/>
   <p>
   </p>
  </blockquote>
 </body>
</html>