<html>
 <body>
  <blockquote>
   <p style="margin-top: 0; margin-bottom: 0">
    <span style="font-weight: 400">
     <font face="Arial">
      There are different signs for STORM to go along with the 
different kinds of storms.
     </font>
    </span>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1" width="50%"/>
   <p style="margin-top: 0; margin-bottom: 0">
    <span style="font-weight: 400">
     <font face="Arial">
      <br/>
      The general sign for "storm" is a modified version of 
the sign "WIND."
     </font>
    </span>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <span style="font-weight: 400">
     <br/>
    </span>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr/>
   <p style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1" width="50%"/>
   <p style="margin-top: 0; margin-bottom: 0">
    <span style="font-weight: 400">
     <font face="Arial">
      Lightening Storm:
      <br/>
      In this sign the flicking out of the index fingers indicates lightening 
strikes coming down from the sky.  Later on this page I'll show you 
another sign for lightening.
     </font>
    </span>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <span style="font-weight: 400">
    </span>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <span style="font-weight: 400">
     <font face="Arial">
     </font>
    </span>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <span style="font-weight: 400">
     <font face="Arial">
     </font>
    </span>
   </p>
   <hr/>
   <p style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1" width="50%"/>
   <p style="margin-top: 0; margin-bottom: 0">
    <span style="font-weight: 400">
     <font face="Arial">
      Rainstorm:
     </font>
    </span>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <span style="font-weight: 400">
    </span>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <span style="font-weight: 400">
     <font face="Arial">
     </font>
    </span>
   </p>
   <hr/>
   <p style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1" width="50%"/>
   <p style="margin-top: 0; margin-bottom: 0">
    <span style="font-weight: 400">
     <font face="Arial">
      Wind driven rainstorm:
      <br/>
      Notice the angle of the rain.  This indicates that the rain is being blown by 
the wind.
     </font>
    </span>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <span style="font-weight: 400">
    </span>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr/>
   <p style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1" width="50%"/>
   <p style="margin-top: 0; margin-bottom: 0">
    <span style="font-weight: 400">
     <font face="Arial">
      Snowstorm:
      <br/>
      In this next variation notice that the fingers are "fluttering." The 
fluttering of the fingers helps establish that we are talking about "snow."  
It is also likely that the context of the conversation has already 
established the concept of "snow."
     </font>
    </span>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <span style="font-weight: 400">
    </span>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr/>
   <p style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1" width="50%"/>
   <p style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     <span style="font-weight: 400">
      <br/>
     </span>
     "Last night the thunder and lightening was very loud and 
noisy!"
     <br/>
     <span style="font-weight: 400">
      Note: If you ask ten different people to sign this sentence for you you will 
invariably get
      <i>
       ten different answers
      </i>
      .
     </span>
    </font>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     <span style="font-weight: 400">
      How do I know?  I've asked many dozens of people to 
sign it.  For what it is worth, here is my variation:
      <br/>
     </span>
     <br/>
    </font>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <br/>
    <font face="Arial">
     <span style="font-weight: 400">
      Notes:  I sign "PAST / before" to mean 
"last" in
      <i>
       this
      </i>
      sentence.
      <br/>
      For THUNDER, I point to the ear then I use a firm converse double movement 
with both hands using "handshape: 5."
     </span>
    </font>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <span style="font-weight: 400">
     For LIGHTENING, I make a downward  
zigzagging movement with index fingers.
     <br/>
     For "very" I did the sign "OOH" which uses an intense facial expression and 
the dominant hand in a claw shape making shaking movement in front of the 
lower face.
    </span>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <span style="font-weight: 400">
     For LOUD, I point to the ear then I use a 
firm converse double movement with two hands using "handshape: S" on each 
hand.
    </span>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <span style="font-weight: 400">
     For NOISY, I point to the ear then I use a 
simultaneous twisting movement of both hands using "handshape: 5."
     <br/>
    </span>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <span style="font-weight: 400">
     If you wanted, you could have a lot of fun 
and/or get into a lot of heated arguments over the "right way" to do the 
sentence:  "Last night the thunder and lightening was very loud and 
noisy!" Realistically though, there is no
     <i>
      one
     </i>
     right way -- just a lot 
of varying ways. What I've shown you above are some "good ways" that should 
fill your need until you find a "better way."
     <br/>
     Good luck  :)
    </span>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
   </p>
  </blockquote>
 </body>
</html>