<html>
 <body>
  <blockquote>
   <h1 style="margin-top: 0; margin-bottom: 0">
    <span style="font-weight: 400">
     <font face="Arial" size="5">
      American Sign 
	Language: "street / way / path / road"
     </font>
    </span>
   </h1>
   <p>
   </p>
   <hr align="left" color="#000000" size="1" width="50%"/>
   <span style="font-weight: 400">
    <font face="Arial">
     <p style="margin-top: 0; margin-bottom: 0">
      STREET:
      <br/>
      This one sign means street, way, path, and road.
      <br/>
      <br/>
      <img border="0" height="300" src="/images/street5.jpg" width="315"/>
      <img border="0" height="300" src="/images/street6.jpg" width="315"/>
     </p>
     <p style="margin-top: 0; margin-bottom: 0">
      <br/>
      <iframe allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/n9RE7lOpF4w?rel=0" width="560">
      </iframe>
      <br/>
     </p>
     <hr align="left" color="#000000" size="1" width="50%"/>
     <p style="margin-top: 0; margin-bottom: 0">
      Notes:
      <br/>
      <br/>
      *  Compare the sign "STREET" with:
      <a href="/dictionary/hall" style="text-decoration: none">
       HALL
      </a>
      and
      <a href="/dictionary/sidewalk" style="text-decoration: none">
       SIDEWALK
      </a>
      .
     </p>
     <p style="margin-top: 0; margin-bottom: 0">
      *  Some people combine the signs "WATER" and STREET to mean "RIVER" [as in "WATER-WAY"] 
using a bit of a winding path] 
but I don't do that version personally.
     </p>
     <p style="margin-top: 0; margin-bottom: 0">
      *  See:
      <a href="/dictionary/river" style="text-decoration: none">
       RIVER
      </a>
     </p>
    </font>
   </span>
   <p>
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1"/>
   <hr align="left" color="#000000" size="1"/>
   <hr color="#000000" size="1"/>
   <p>
   </p>
  </blockquote>
 </body>
</html>