<html>
 <body>
  <blockquote>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
    <p>
     The sign for "strict" hits the nose with a 
			bent-V-handshape.
     <br/>
     <br/>
     STRICT:
     <br/>
     <img border="0" height="226" src="/images/strict1.jpg" width="178"/>
     <img border="0" height="226" src="/images/strict2.jpg" width="178"/>
     <br/>
    </p>
    <hr align="left" color="#000000" size="1" width="50%"/>
    <p>
     Notes:
    </p>
    <p>
     This sign is based on the concept of "hard nosed."
     <br/>
     See:
     <a href="/dictionary/hard">
      HARD
     </a>
     <br/>
    </p>
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>