<html>
 <body>
  <blockquote>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
    <p>
     The sign for "stroke" (as in a blood clot in the brain) 
			has a couple of variations.
     <br/>
     <br/>
    </p>
    <p>
     Touch your forehead with an index finger and then strike the palm of your left 
  flat hand with your fist.
     <br/>
     <br/>
     STROKE:
    </p>
    <p>
     <img border="0" height="238" src="/images/stroke40.jpg" width="250"/>
     <img border="0" height="238" src="/images/stroke41.jpg" width="250"/>
     <img border="0" height="238" src="/images/stroke42.jpg" width="250"/>
     <img border="0" height="238" src="/images/stroke43.jpg" width="250"/>
     <img border="0" height="238" src="/images/stroke44.jpg" width="250"/>
     <br/>
    </p>
    <hr align="left" color="#000000" size="1"/>
    <p>
     <br/>
     Notes:
     <br/>
     There is another sign for "stroke" that uses a flat hand (or even an 
			"S" hand). It starts at the forehead and "slices" downward (as if 
			cleaving the body into two halves).  The idea behind this sign 
			for stroke is that often when a person has a stroke it causes half 
			of the body to become "non-functioning."
     <br/>
    </p>
    <hr align="left" color="#000000" size="1"/>
    <p>
     Also see:
     <a href="/dictionary/heartattack">
      HEART ATTACK
     </a>
    </p>
    <hr align="left" color="#000000" size="1"/>
    <p>
    </p>
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>