<html>
 <body>
  <blockquote>
   <h1 style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     <span style="font-weight: 400">
      <font size="5">
       ASL: "struggle"
      </font>
     </span>
    </font>
   </h1>
   <p style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
    </font>
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p>
    STRUGGLE (version 1):
   </p>
   <p>
    <iframe allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/Amo4PeZ0HRM?rel=0" width="560">
    </iframe>
   </p>
   <p>
   </p>
   <p>
    STRUGGLE (version 2):
   </p>
   <p>
    <iframe allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/Dv1MRkt6Vrw?rel=0" width="560">
    </iframe>
   </p>
   <p>
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1"/>
   <hr align="left" color="#000000" size="1"/>
   <hr color="#000000" size="1"/>
   <p>
   </p>
  </blockquote>
 </body>
</html>