<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   <p>
    <br/>
    Hold your non-dominant hand out in front of you as if it were a book or 
	piece of paper.  Aim the fingers of your dominant hand at the "book" 
	and wiggle your fingers.
    <br/>
    <br/>
    STUDY:
   </p>
   <p>
    <img border="0" height="217" src="/images/study.1.jpg" width="273"/>
    <img border="0" height="217" src="/images/study.2.jpg" width="273"/>
    <img border="0" height="86" src="/images/study.gif" width="141"/>
    <br/>
    <br/>
    Sample sentence:  Do you study all night before a test?
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <br/>
    <br/>
    <br/>
    Notes: If you'll review the above sentence carefully you will be 
			able to learn the sign for "previous" (which isn't the same as 
			"past") and also the sign for "all-NIGHT."
   </p>
   <font face="Arial">
    <p>
    </p>
    <hr align="left" color="#000000" size="1"/>
    Also see:
    <a href="/dictionary/student">
     STUDENT
    </a>
   </font>
   <br/>
   Also s
   <font face="Arial">
    ee:
    <a href="/dictionary/self-study">
     SELF-STUDY
    </a>
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>