<html>
 <body>
  <blockquote>
   <h1 style="margin-top: 0; margin-bottom: 0">
    <span style="font-weight: 400">
     <font face="Arial" size="5">
      American Sign 
	Language: "subtract"
     </font>
    </span>
   </h1>
   <p>
   </p>
   <hr align="left" color="#000000" size="1" width="50%"/>
   <p style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     SUBTRACT:
     <span style="font-weight: 400">
      <br/>
      To take something away from something else.
     </span>
    </font>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <span style="font-weight: 400">
     <font face="Arial">
      <img border="0" height="300" src="/images/subtra4.jpg" width="315"/>
      <img border="0" height="300" src="/images/subtra5.jpg" width="315"/>
      <img border="0" height="300" src="/images/subtra6.jpg" width="315"/>
     </font>
    </span>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <span style="font-weight: 400">
     <font face="Arial">
      <iframe allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/ddRNmsKoSac?rel=0" width="560">
      </iframe>
      <br/>
     </font>
    </span>
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     <br/>
     MINUS / NEGATIVE
     <span style="font-weight: 400">
      :
      <br/>
      <img border="0" height="300" src="/images/subtra7.jpg" width="315"/>
      <img border="0" height="300" src="/images/subtra8.jpg" width="315"/>
     </span>
    </font>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     <span style="font-weight: 400">
      <iframe allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/rFf-WYLmkmw?rel=0" width="560">
      </iframe>
      <br/>
     </span>
    </font>
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1"/>
   <hr align="left" color="#000000" size="1"/>
   <hr color="#000000" size="1"/>
   <p>
   </p>
  </blockquote>
 </body>
</html>