<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   <br/>
   <p>
    In the sign "succeed" there is a bit of movement in the wrist. 
You make two upward
arcs in the air.  The movement in "succeed" is sort of like drawing a 
cursive "w" in the air with
the tip of each index finger.
   </p>
   <p>
    <br/>
    SUCCESS or SUCCEED:
    <br/>
    <img border="0" height="234" src="/images/success1.jpg" width="336"/>
    <img border="0" height="234" src="/images/success2.jpg" width="336"/>
    <img border="0" height="234" src="/images/success3.jpg" width="336"/>
    <img border="0" height="234" src="/images/success4.jpg" width="336"/>
    <img border="0" height="234" src="/images/success5.jpg" width="336"/>
    <img border="0" height="234" src="/images/success6.jpg" width="336"/>
    <img border="0" height="234" src="/images/success7.jpg" width="336"/>
    <img border="0" height="234" src="/images/success8.jpg" width="336"/>
   </p>
   <p>
    <br/>
    <font face="Arial">
     Sample sentence:
Do all rockets succeed?
    </font>
    <br/>
    <br/>
    <br/>
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p>
    <br/>
    There is a version of "SUCCEED" that means
"Finally!  At last! Eureka!
   </p>
   <p>
    This sign is known as "Pah!"  The reason why is that when doing this sign, 
you must use a mouth movement that looks like you are
saying "Pah!"  In addition to the "pah" mouth movement, you also 
only do
    <br/>
    <br/>
    <font face="Arial">
     PAH!
    </font>
    <br/>
    <img border="0" height="225" src="/images/succeedpah1.jpg" width="324"/>
    <img border="0" height="225" src="/images/succeedpah2.jpg" width="324"/>
    <img border="0" height="225" src="/images/succeedpah3.jpg" width="324"/>
    <img border="0" height="225" src="/images/succeedpah4.jpg" width="324"/>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <br/>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
    <p style="margin-top: 0; margin-bottom: 0">
     <br/>
     Notes:
     <br/>
     If you do the sign SUCCEED but reverse the direction of the double 
rolling movement of the arcs you change the meaning of the sign from 
"succeed" to instead mean "famous."
     <br/>
     <br/>
     See:
     <a href="/dictionary/famous">
      FAMOUS
     </a>
    </p>
    <p style="margin-top: 0; margin-bottom: 0">
    </p>
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>