<html>
 <body>
  <blockquote>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
    <p>
     The sign for "suggest" moves the palm-up flat hands in an arc forward and up and then down a bit.
  Think of "laying an offer on the table."
     <br/>
     <br/>
     SUGGEST / OFFER / RECOMMEND:
     <br/>
     <img border="0" height="219" src="/images/sugges13.jpg" width="205"/>
     <img border="0" height="219" src="/images/sugges14.jpg" width="205"/>
     <img border="0" height="219" src="/images/sugges15.jpg" width="205"/>
    </p>
    <hr align="left" color="#000000" size="1" width="50%"/>
    <p>
    </p>
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>