<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   The sign for suitcase looks like you are holding on to the handle of 
			a suitcase and hefting it (a bit) twice.
   <br/>
   <font face="Arial">
    <p>
     SUITCASE:
    </p>
    <p style="margin-top: 0; margin-bottom: 0">
     <img border="0" height="300" src="/images/purse.1.jpg" width="300"/>
     <img border="0" height="300" src="/images/purse.2.jpg" width="300"/>
     <img border="0" height="300" src="/images/purse.1.jpg" width="300"/>
     <img border="0" height="300" src="/images/purse.2.jpg" width="300"/>
     <br/>
     Note: This sign can also be used to mean briefcase or "
     <a href="/dictionary/purse">
      purse
     </a>
     " 
			(as in handbag).  If you need to distinguish between the two 
			you could modify the location and movement for "suitcase" to be 
			lower and to look as if you are holding something heavier.
    </p>
   </font>
   <p style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1" width="50%"/>
   <p style="margin-top: 0; margin-bottom: 0">
    <br/>
    SUITCASE (animated gif)
    <br/>
    <font face="Arial">
     <img border="0" height="300" src="/images/purse.gif" width="300"/>
     <br/>
    </font>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1" width="50%"/>
   </font>
   <p style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     Also see:
     <a href="/dictionary/bag">
      BAG
     </a>
    </font>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>