<html>
 <body>
  <blockquote>
   <h1 style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     <span style="font-weight: 400">
      <font size="5">
       American Sign Language: "Sunday"
      </font>
     </span>
    </font>
   </h1>
   <blockquote>
    <hr align="left" color="#000000" size="1"/>
    <p style="margin-top: 0; margin-bottom: 0">
     The sign for "
     <b>
      <i>
       Sunday
      </i>
     </b>
     " has several popular 
	versions.
    </p>
    <hr align="left" color="#000000" size="1"/>
    <p>
     SUNDAY: (version)
     <br/>
     Hold your hands up about head high and then move your right hand in a
  clockwise circle and your left hand in a counterclockwise circle as if you
  were washing a window with both hands:
    </p>
    <p>
     <iframe allowfullscreen="" frameborder="0" height="315" name="I1" src="https://www.youtube.com/embed/Gh5pD88Vgw0?rel=0" width="560">
     </iframe>
    </p>
    <p>
     <img border="0" height="240" src="/images/sunday-a1.jpg" width="279"/>
     <img border="0" height="240" src="/images/sunday_arrows.jpg" width="279"/>
    </p>
    <hr align="left" color="#000000" size="1"/>
    <p>
     SUNDAY: (Other version)
     <br/>
     Hold your hands up, palms forward, "5 handshapes" in front of and to the 
	sides of your head.  Bring them down to your torso area.  The 
	movement from top to bottom forms a backwards
     <span style="background-color: #FFFF00">
      arc
     </span>
     .
    </p>
    <p>
     <iframe allowfullscreen="" frameborder="0" height="315" name="I2" src="https://www.youtube.com/embed/EUoby_wzGzY?rel=0" width="560">
     </iframe>
    </p>
    <p>
     <img border="0" height="237" src="/images/sunday-b1.jpg" width="273"/>
     <img border="0" height="237" src="/images/sunday-b6.jpg" width="273"/>
     <img border="0" height="237" src="/images/sunday-b9.jpg" width="273"/>
    </p>
    <hr align="left" color="#000000" size="1"/>
    <p>
     SUNDAY:
     <br/>
     (Yet another version.)
     <br/>
     This version starts at your torso,
     <span style="background-color: #FFFF00">
      arcs
     </span>
     in a bit 
	(back towards your chest) and out again at about head height.
     <br/>
     <br/>
     <iframe allowfullscreen="" frameborder="0" height="315" name="I3" src="https://www.youtube.com/embed/bmy6YRYlW0Y?rel=0" width="560">
     </iframe>
    </p>
    <p>
     <img border="0" height="225" src="/images/sunday-d1.jpg" width="260"/>
     <img border="0" height="225" src="/images/sunday-d3.jpg" width="260"/>
     <img border="0" height="225" src="/images/sunday-d5.jpg" width="260"/>
    </p>
    <hr align="left" color="#000000" size="1"/>
    <p>
     EVERY SUNDAY:
     <br/>
     In this version of the sign, when you bring the hands down you bring them
     <b>
      <span style="background-color: #FFFF00">
       straight
      </span>
     </b>
     down without arching them in toward your body.
     <br/>
     <iframe allowfullscreen="" frameborder="0" height="315" name="I4" src="https://www.youtube.com/embed/8P8eVD4K2jQ?rel=0" width="560">
     </iframe>
    </p>
    <p>
     <img border="0" height="235" src="/images/sunday-everysunday1.jpg" width="266"/>
     <img border="0" height="235" src="/images/sunday-everysunday3.jpg" width="266"/>
     <img border="0" height="235" src="/images/sunday-everysunday5.jpg" width="266"/>
    </p>
    <hr align="left" color="#000000" size="1"/>
    <p style="margin-top: 0; margin-bottom: 0">
     Notes:
     <br/>
     Some people do the sign "WONDERFUL/great" to mean Sunday.  I 
	do not recommend doing that.
     <br/>
     Why choose to sign in a confusing manner? There is no need, we already have 
	other versions that work well and do not conflict with "wonderful."
     <br/>
    </p>
    <hr align="left" color="#000000" size="1" width="50%"/>
    <p style="margin-top: 0; margin-bottom: 0">
     See:
     <a href="/dictionary/wonderful">
      WONDERFUL
     </a>
     <br/>
     See:
     <span style="font-weight: 400">
      <a href="/dictionary/monday">
       MONDAY
      </a>
      /
      <a href="/dictionary/tuesday">
       TUESDAY
      </a>
      /
      <a href="/dictionary/wednesday">
       WEDNESDAY
      </a>
      /
      <a href="/dictionary/thursday">
       THURSDAY
      </a>
      /
      <a href="/dictionary/friday">
       FRIDAY
      </a>
      /
      <a href="/dictionary/saturday">
       SATURDAY
      </a>
     </span>
    </p>
   </blockquote>
   <hr align="left" color="#000000" size="1"/>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1"/>
   <hr align="left" color="#000000" size="1"/>
   <hr color="#000000" size="1"/>
   <p>
   </p>
  </blockquote>
 </body>
</html>