<html>
 <body>
  <blockquote>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
    <p>
     Use the dominant fist to support the non-dominant fist.
     <br/>
     The movement is one smooth upward thrust that actually raises the left hand an 
  inch or two.
     <br/>
     <br/>
     SUPPORT / LOYAL / SUSTAIN / "PRO" (supportive)
     <br/>
     <img border="0" height="219" src="/images/suppor16.jpg" width="190"/>
     <img border="0" height="219" src="/images/suppor17.jpg" width="190"/>
     <img border="0" height="219" src="/images/suppor18.jpg" width="190"/>
     <img border="0" height="219" src="/images/suppor19.jpg" width="190"/>
    </p>
    <hr align="left" color="#000000" size="1" width="50%"/>
    <p>
    </p>
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>