<html>
 <body>
  <blockquote>
   <h1 style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     <span style="font-weight: 400">
      <font size="5">
       American Sign Language: "surgery"
      </font>
     </span>
     <br/>
    </font>
   </h1>
   <p>
    <br/>
    Dominant hand:  "A"-hand
   </p>
   <p>
    Non-dominant hand: FLAT-hand 
(palm-slightly-up-but-mostly-towards-dominant-side)
   </p>
   <p>
    Hold out your non-dominant 
"flat-hand" and use the thumbnail of your "A"-hand as if it were a surgeon's 
blade making a downward incision on the palm of the non-dominant hand.
    <span style="font-weight: 400">
     <br/>
    </span>
   </p>
   <p>
    <span style="font-weight: 400">
     SURGERY / operate / operation:
     <br/>
     <img border="0" height="480" src="/images/surgery-01.jpg" width="480"/>
     <img border="0" height="480" src="/images/surgery-02.jpg" width="480"/>
     <img border="0" height="480" src="/images/surgery-03.jpg" width="480"/>
     <img border="0" height="480" src="/images/surgerr-04.jpg" width="480"/>
    </span>
    <br/>
    <br/>
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p>
    <b>
     Notes
    </b>
    :
    <br/>
    The sign for "surgery" can be done on various parts of the body.  For 
example, if you do the sign on your shoulder (instead of on your palm) it could 
be interpreted as "shoulder surgery."
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    Also see:
    <a href="/dictionary/doctor">
     DOCTOR
    </a>
   </p>
   <hr align="left" color="#000000" size="1"/>
   <hr align="left" color="#000000" size="1"/>
   <hr align="left" color="#000000" size="1"/>
   <hr color="#000000" size="1"/>
   <p>
   </p>
  </blockquote>
 </body>
</html>