<html>
 <body>
  <blockquote>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
    <p>
     The sign for "suspect" is done by getting a suspicious 
			look on your face and then scratching the side of your forehead a bit 
			with with your index finger.
     <br/>
     <br/>
    </p>
    <p>
     SUSPECT / SUSPICIOUS:
    </p>
    <p>
     <img border="0" height="225" src="/images/suspec11.jpg" width="203"/>
     <img border="0" height="225" src="/images/suspec12.jpg" width="203"/>
     <img border="0" height="225" src="/images/suspec11.jpg" width="203"/>
     <img border="0" height="225" src="/images/suspec12.jpg" width="203"/>
     <br/>
    </p>
    <hr align="left" color="#000000" size="1"/>
    Also see:
    <a href="/dictionary/paranoid">
     PARANOID
    </a>
    <hr align="left" color="#000000" size="1"/>
    <p>
     <br/>
     Notes:
    </p>
    <p>
     A student asked me if this sign (above) would be good to use for 
			the concept of a criminal suspect.
     <br/>
     You could use this sign as part of an initial description, something 
			along the lines of: POLICE SUSPECT INDEX-"him" MAN THIEF.  
			After that you would simply point in the direction of the identified 
			suspect (either absent or present).   However, it would be 
			just as effective to use the sign "
     <a href="/dictionary/think">
      THINK
     </a>
     " 
			in that sentence.  Or use "THINK
     <a href="/dictionary/maybe">
      MAYBE
     </a>
     ."
     <br/>
    </p>
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>