<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   <br/>
   <font face="Arial">
    Do a forward sweeping movement with your dominant hand as if 
			sweeping crumbs off of the palm of your non-dominant hand. Do this 
			twice.  In context this sign can mean "BROOM."
    <br/>
    <br/>
    SWEEP or broom:
   </font>
   <br/>
   <font face="Arial">
    <img border="0" height="320" src="/images/janitor-08.jpg" width="280"/>
    <img border="0" height="320" src="/images/janitor-09.jpg" width="280"/>
    <img border="0" height="320" src="/images/janitor-10.jpg" width="280"/>
    <img border="0" height="320" src="/images/janitor-11.jpg" width="280"/>
    <br/>
    <img border="0" height="320" src="/images/janitor-08.jpg" width="280"/>
    <img border="0" height="320" src="/images/janitor-09.jpg" width="280"/>
    <img border="0" height="320" src="/images/janitor-10.jpg" width="280"/>
    <img border="0" height="320" src="/images/janitor-12.jpg" width="280"/>
   </font>
   <p style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1" width="50%"/>
   <p style="margin-top: 0; margin-bottom: 0">
    Also see:
    <a href="/dictionary/janitor">
     JANITOR
    </a>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>