<html>
 <body>
  <blockquote>
   <h1 style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     <span style="font-weight: 400">
      <font size="5">
       ASL: "swim"
      </font>
     </span>
     <br/>
    </font>
   </h1>
   <p>
    <br/>
    Discussion:
   </p>
   <p>
    SWIM:   Show a simple swimming movement. Do it twice.
    <br/>
    Note:  The concept of "pool" is generally fingerspelled: P-O-O-L
    <br/>
    <br/>
    <img border="0" height="240" src="/images/swim.h4.jpg" width="320"/>
    <img border="0" height="240" src="/images/swim.h5.jpg" width="320"/>
    <img border="0" height="240" src="/images/swim.h6.jpg" width="320"/>
    <br/>
    <img border="0" height="240" src="/images/swim.h4.jpg" width="320"/>
    <img border="0" height="240" src="/images/swim.h5.jpg" width="320"/>
    <img border="0" height="240" src="/images/swim.h6.jpg" width="320"/>
   </p>
   <p>
    <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" height="315" name="I1" src="https://www.youtube.com/embed/O_61C7CWXBQ" width="560">
    </iframe>
    <br/>
    <br/>
    POOL:
    <br/>
    <img height="100" src="/images/p_small.gif" width="100"/>
    <img height="100" src="/images/o_small.gif" width="100"/>
    <img height="100" src="/images/o_small.gif" width="100"/>
    <img height="100" src="/images/l_small.gif" width="100"/>
   </p>
   <p>
   </p>
   <p>
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p>
    Notes:
    <br/>
    I once saw a sign at a swimming pool that said:
    <br/>
    ________________________
    <br/>
    <font size="1">
     <br/>
    </font>
    <font size="5">
     W
    </font>
    elcome to our   ool.
    <br/>
    Note: there is no "
    <font size="5">
     P
    </font>
    " in it.
    <br/>
    Let's keep it that way!
   </p>
   <p>
   </p>
   <p>
    <a href="/images/swim.gif" style="text-decoration: none">
     Animation: SWIM
    </a>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1"/>
   <hr align="left" color="#000000" size="1"/>
   <hr align="left" color="#000000" size="1"/>
   <hr color="#000000" size="1"/>
   <p>
   </p>
  </blockquote>
 </body>
</html>