<html>
 <body>
  <blockquote>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
    <p>
     The sign for "swing" as in "sit on a swing and swing."
     <br/>
    </p>
    <p>
     SWING:
     <br/>
     <img border="0" height="218" src="/images/swing.62.jpg" width="211"/>
     <img border="0" height="218" src="/images/swing.63.jpg" width="211"/>
     <img border="0" height="218" src="/images/swing.64.jpg" width="211"/>
     <img border="0" height="218" src="/images/swing.65.jpg" width="211"/>
     <img border="0" height="218" src="/images/swing.62.jpg" width="211"/>
    </p>
    <p>
    </p>
    Animation: SWING
    <p>
     <img border="0" height="218" src="/images/swing.gif" width="211"/>
     <br/>
    </p>
    <hr align="left" color="#000000" size="1" width="50%"/>
    <p>
    </p>
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>