<html>
 <body>
  <blockquote>
   <h1 style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     <span style="font-weight: 400">
      <font size="5">
       American Sign Language: "symbol"
      </font>
     </span>
     <br/>
    </font>
   </h1>
   <p>
    <br/>
    SYMBOL (version 1)
    <br/>
    The general sign for "symbol" is an initialized version of the sign for "show" 
(as in to demonstrate or reveal something). The sign is done by putting an 
"S"-hand onto the palm of the non-dominant flat hand and moving both hands 
forward a short distance (about 10 centimeters). This sign seems to be a loose 
noun/verb pair. If done with a single somewhat larger movement the sign takes on 
a meaning such as "symbolize," "symbolizes," or "to symbolize."  A small 
double movement definitely means "symbol."  However, in casual or high 
speed signing you may see the sign done with a single movement yet with the 
intended meaning of "symbol."
    <br/>
    <img border="0" height="480" src="/images/symbol-01.jpg" width="440"/>
    <img border="0" height="480" src="/images/symbol-02.jpg" width="440"/>
    <br/>
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p>
    Notes:
    <br/>
    Someone may try to tell you that this sign is not ASL and is instead "Signed 
English" (with the underlying criticism that Signed English is "bad" or has 
cooties). I think it is possible to argue that this sign is indeed ASL. (The 
debate going like this: So, what you are saying is that since this sign uses an 
"S" handshape it is signed English?  Oh, okay -- then I guess the signs for 
aunt, uncle, and the days of the week are all Signed English too?)  The 
fact is, just because something is initialized
    <i>
     doesn't
    </i>
    automatically mean 
it is Signed English. Another fact is two different languages (or communication 
systems) can each use the same word (or sign).
    <br/>
    <br/>
    While you "could" express the concept of "symbol" by using a combination of 
"context" and the sign for "SHOW" (and there are those who would additionally 
mouth the word "symbol") -- I would suggest however that in mixed language 
environments (such as a typical public high school class being attended by a 
Deaf student and his/her interpreter) it is quite effective to have a sign that 
"specifically" means symbol.  Suppose the instructor says, "Show me an 
example of a symbol that represents what I'm trying to demonstrate."
    <br/>
   </p>
   <p>
    See:
    <a href="/dictionary/show">
     SHOW
    </a>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1"/>
   <hr align="left" color="#000000" size="1"/>
   <hr align="left" color="#000000" size="1"/>
   <hr color="#000000" size="1"/>
   <p>
   </p>
  </blockquote>
 </body>
</html>