<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   <p>
    <font face="Arial">
     To sign "tablespoon" just spell T-B-S.
     <br/>
    </font>
    <br/>
    TABLESPOON:
   </p>
   <p>
    <img border="0" height="224" src="/images/tables9.jpg" width="221"/>
    <img border="0" height="224" src="/images/tables10.jpg" width="221"/>
    <img border="0" height="224" src="/images/tables11.jpg" width="221"/>
   </p>
   <p>
   </p>
   <hr align="left" color="#000000" size="1" width="50%"/>
   <p style="margin-top: 0; margin-bottom: 0">
    See:
    <a href="/dictionary/spoon">
     spoon
    </a>
    <br/>
    See:
    <a href="/dictionary/teaspoon">
     teaspoon
    </a>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>