<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   <p style="margin-top: 0; margin-bottom: 0">
    The sign for "take away" or "subtract" can also mean "deduct 
	from."
    <font face="Arial">
     <br/>
     It can also 
  mean deduct as in a tax deduction.
     <br/>
     <br/>
     SUBTRACT / MINUS / TAKE-WAY / DEDUCT-from:
    </font>
    <font face="Arial">
     <p style="margin-top: 0; margin-bottom: 0">
      <img border="0" height="218" src="/images/takeaway.gif" width="242"/>
     </p>
     <hr align="left" color="#000000" size="1" width="50%"/>
     <p style="margin-top: 0; margin-bottom: 0">
      <img border="0" height="218" src="/images/takeaw8.jpg" width="242"/>
      <img border="0" height="218" src="/images/takeaw9.jpg" width="242"/>
      <img border="0" height="218" src="/images/takeaw10.jpg" width="242"/>
     </p>
     <p style="margin-top: 0; margin-bottom: 0">
     </p>
     <hr align="left" color="#000000" size="1"/>
     <p style="margin-top: 0; margin-bottom: 0">
      <br/>
      Sentence: 18 take away 5 equals what?
      <br/>
      <br/>
      <br/>
     </p>
     <hr align="left" color="#000000" size="1"/>
     <p style="margin-top: 0; margin-bottom: 0">
      <br/>
      When teaching math, sometimes you might want to use the NEGATIVE sign since 
	it can be interpreted as meaning "minus.
      <br/>
      <br/>
      MINUS or NEGATIVE:
     </p>
     <p style="margin-top: 0; margin-bottom: 0">
      <img border="0" height="205" src="/images/minus.jpg" width="218"/>
      <img border="0" height="205" src="/images/minus2.jpg" width="218"/>
      <br/>
     </p>
     <hr align="left" color="#000000" size="1"/>
     <p style="margin-top: 0; margin-bottom: 0">
      Also see:
      <a href="/dictionary/take">
       TAKE
      </a>
     </p>
     <hr align="left" color="#000000" size="1"/>
    </font>
   </p>
  </blockquote>
 </body>
</html>