<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   <p>
    TAKE-UP:
    <br/>
    This sign means:
    <br/>
    -
  to take a class
    <br/>
    -
  to adopt a method or a child
    <br/>
    -
  to evaporate
    <br/>
   </p>
   <p>
    <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/lz0WSwPSd3c?rel=0&autoplay=1" width="560">
    </iframe>
   </p>
   <p>
    <img border="0" height="224" src="/images/take.h5.jpg" width="248"/>
    <img border="0" height="224" src="/images/take.h6.jpg" width="248"/>
    <img border="0" height="224" src="/images/take.h7.jpg" width="248"/>
    <br/>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
    <p>
     Note:
     <br/>
     The "take up" sign
     <i>
      <b>
       doesn’t
      </b>
     </i>
     mean to "take away from" 
			(as in math).  Instead see: “
     <a href="/dictionary/takeaway">
      TAKE-AWAY
     </a>
     ” 
			or "
     <a href="/dictionary/minus">
      MINUS
     </a>
     ."
     <br/>
     For "take away from" (as in take candy away from a baby) see the "
     <a href="/dictionary/take">
      TAKE
     </a>
     " 
			page and scroll down to "TAKE-from."
    </p>
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>