<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   <font face="Arial">
    SKILL / talent:
    <br/>
    <img border="0" height="213" src="/images/skill.1.jpg" width="190"/>
    <img border="0" height="213" src="/images/skill.2.jpg" width="190"/>
    <img border="0" height="213" src="/images/skill.3.jpg" width="190"/>
    <br/>
   </font>
   <hr align="left" color="#000000" size="1" width="50%"/>
   <p style="margin-top: 0; margin-bottom: 0">
    Also see:
    <a href="/dictionary/skill">
     SKILL
    </a>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>