<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   <p style="margin-top: 0; margin-bottom: 0">
    The right sign for "talk" depends on your meaning.
    <br/>
    <br/>
    If you mean "talk" as in "He was talking," then you can use the general sign 
	for "talk" that uses a "4"-hand and taps the chin twice.
    <br/>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     TALK 
	(general sign) (side view) "TALK-(speaking) ("talking")
     <br/>
    </font>
    <img border="0" src="/images/talk.gif" style="max-width: 100%; height: auto" width="480"/>
    <font face="Arial">
     <img border="0" height="237" src="/images/talk1.jpg" width="228"/>
     <img border="0" height="237" src="/images/talk2.jpg" width="228"/>
     <img border="0" height="237" src="/images/talk3.jpg" width="228"/>
     <img border="0" height="237" src="/images/talk4.jpg" width="228"/>
     <img border="0" height="237" src="/images/talk5.jpg" width="228"/>
     <br/>
    </font>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
   <p style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     <br/>
     If you mean "talk" as in "They were talking to each other last night" you 
	can use the version of "talk" that I refer to as "TALK-with."  This 
	means to have a dialog.
     <br/>
     <br/>
     TALK-with
     <br/>
     <img border="0" height="235" src="/images/talk-withb1.jpg" width="206"/>
     <img border="0" height="235" src="/images/talk-withb2.jpg" width="206"/>
     <img border="0" height="235" src="/images/talk-withb3.jpg" width="206"/>
     <img border="0" height="235" src="/images/talk-withb4.jpg" width="206"/>
    </font>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/YZiJped3lLA?rel=0" width="560">
    </iframe>
    <font face="Arial">
     <br/>
    </font>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
   <p style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     <br/>
     Here is a "side view" of "TALK-with." (Either that it could be or a
     <b>
      front
     </b>
     view of "I 
	was talking with
     <i>
      him
     </i>
     .")
    </font>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     TALK-with (side 
	view)
     <br/>
     <img border="0" height="238" src="/images/talk-with1.jpg" width="243"/>
     <img border="0" height="238" src="/images/talk-with2.jpg" width="243"/>
     <img border="0" height="238" src="/images/talk-with3.jpg" width="243"/>
     <img border="0" height="238" src="/images/talk-with4.jpg" width="243"/>
     <br/>
    </font>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
   <p style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     Note: You can initialize this sign with "i" handshapes to mean "interview." 
	See:
     <a href="/dictionary/interview">
      INTERVIEW
     </a>
    </font>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
   <p style="margin-top: 0; margin-bottom: 0">
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    If you mean "talk" as in two or 
	more people were "chatting" you can sign, "chat."
    <br/>
    <br/>
    Sample sentence: Do you like to chat with Deaf people?
    <br/>
    <br/>
    <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/YLFFW5DdpkA?rel=0" width="560">
    </iframe>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <br/>
    CHAT
    <font face="Arial">
     (version)
     <br/>
    </font>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     <img border="0" src="/images/chat-with-1.gif" style="max-width: 100%; height: auto" width="480"/>
     <img border="0" height="237" src="/images/chat-with-a1.jpg" width="315"/>
     <img border="0" height="237" src="/images/chat-with-a2.jpg" width="315"/>
     <img border="0" height="237" src="/images/chat-with-a3.jpg" width="315"/>
     <img border="0" height="237" src="/images/chat-with-a4.jpg" width="315"/>
     <img border="0" height="237" src="/images/chat-with-a5.jpg" width="315"/>
     <img border="0" height="237" src="/images/chat-with-a6.jpg" width="315"/>
    </font>
   </p>
   <font face="Arial">
    <p style="margin-top: 0; margin-bottom: 0">
    </p>
    <hr align="left" color="#000000" size="1"/>
   </font>
   <p style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     <br/>
     There is another way to sign "chat." This other version uses an alternating 
	up and down movement.
     <br/>
     <br/>
     CHAT (version 2)
     <br/>
     <img border="0" src="/images/chat-with-2.gif" style="max-width: 100%; height: auto" width="480"/>
    </font>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     <img border="0" height="237" src="/images/chat-with-b2.jpg" width="319"/>
     <img border="0" height="237" src="/images/chat-with-b1.jpg" width="319"/>
     <br/>
     <img border="0" height="237" src="/images/chat-with-b3.jpg" width="319"/>
     <img border="0" height="237" src="/images/chat-with-b4.jpg" width="319"/>
     <br/>
    </font>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
    <p style="margin-top: 0; margin-bottom: 0">
     For some notes regarding the sign 
	for "chat" see the "chat" page at:
     <a href="/dictionary/chat">
      CHAT
     </a>
    </p>
    <hr align="left" color="#000000" size="1"/>
    <p style="margin-top: 0; margin-bottom: 0">
     Also see:
     <a href="/dictionary/talk-with">
      TALK-WITH
     </a>
     <br/>
     See:
     <a href="/dictionary/chat">
      CHAT
     </a>
     <br/>
     See:
     <a href="/dictionary/hermit">
      HERMIT-("Talking to yourself")
     </a>
    </p>
   </font>
  </blockquote>
 </body>
</html>