<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   <font face="Arial">
    <p style="margin-top: 0; margin-bottom: 0">
     There are a couple of popular 
	signs for "tall."
     <br/>
     <br/>
     A good general sign is made by placing your right index finger on the palm of your left hand 
	(if you are right handed) and moving
the finger upward a few inches. This version is a good one to use to describe trees, 
buildings, or even people.
     <br/>
     <br/>
     TALL:
     <br/>
     <img height="251" src="/images/tall.gif" width="82"/>
     <img border="0" height="227" src="/images/talld1.jpg" width="246"/>
     <img border="0" height="227" src="/images/talld3.jpg" width="246"/>
     <img border="0" height="227" src="/images/talld4.jpg" width="246"/>
    </p>
    <hr align="left" color="#000000" size="1"/>
    <p align="left" style="margin-top: 0; margin-bottom: 0">
     <br/>
     This next version is particularly good to use for describing people but not 
	good for describing buildings.
     <br/>
     I've inflected this version to mean "
     <i>
      very
     </i>
     tall." You can do it 
	with less facial expression and not so high up and without the upward 
	eye-gaze to mean just "regular tall" rather than "very tall."
     <br/>
     <br/>
     very-TALL (basketball player height or  "giant")
     <br/>
     <img border="0" height="238" src="/images/talle1.jpg" width="226"/>
     <img border="0" height="238" src="/images/talle3.jpg" width="226"/>
     <img border="0" height="238" src="/images/talle5.jpg" width="226"/>
    </p>
   </font>
   <p style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     <hr align="left" color="#000000" size="1"/>
    </font>
   </p>
  </blockquote>
 </body>
</html>