<html>
 <body>
  <blockquote>
   <h1 style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     <span style="font-weight: 400">
      <font size="5">
       American Sign Language: "taste"
      </font>
     </span>
     <br/>
    </font>
   </h1>
   <p>
    <br/>
    The sign for "taste" touches the tip of your middle finger to your 
	lips.
    <br/>
    If you do the movement once it is a verb as in "Taste this and tell me what 
	you think."
    <br/>
    If you do the movement twice it is a noun as in, "That is a good flavor."
    <br/>
    <a href="../../signjpegs/t/taste-sample-take-a-taste-28.jpg">
     <img alt="taste-sample-take-a-taste-28.jpg (78422 bytes)" border="0" height="320" src="/images/taste-sample-take-a-taste-28_small.jpg" width="320" xthumbnail-orig-image="../../signjpegs/t/taste-sample-take-a-taste-28.jpg"/>
    </a>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    TASTE:
    <br/>
    <img border="0" height="219" src="/images/taste.1.jpg" width="204"/>
    <img border="0" height="219" src="/images/taste.2.jpg" width="204"/>
    <img border="0" height="219" src="/images/taste.3.jpg" width="204"/>
    <img border="0" height="219" src="/images/taste.4.jpg" width="204"/>
    <br/>
    <span style="font-weight: 400">
     <hr align="left" color="#000000" size="1" width="50%"/>
     <p style="margin-top: 0; margin-bottom: 0">
      Take a taste of:
     </p>
     <p style="margin-top: 0; margin-bottom: 0">
      <img border="0" src="/images/taste.gif" style="max-width: 100%; height: auto" width="480"/>
     </p>
     <p style="margin-top: 0; margin-bottom: 0">
      <iframe allow="autoplay; encrypted-media" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/4dQHo4Q2wGA?rel=0" width="560">
      </iframe>
      <br/>
     </p>
     <hr align="left" color="#000000" size="1" width="50%"/>
     <p style="margin-top: 0; margin-bottom: 0">
      <br/>
     </p>
    </span>
    Sentence:  "Do you think coffee tastes good?"
    <br/>
    = YOU THINK COFFEE TASTE GOOD?
    <br/>
    <br/>
    <iframe allow="autoplay; encrypted-media" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/MhOs4dDz3EQ?rel=0" width="560">
    </iframe>
    <br/>
   </p>
   <hr align="left" color="#000000" size="1"/>
   Also see:
   <a href="/dictionary/prefer">
    "PREFER / favorite"
   </a>
   <hr align="left" color="#000000" size="1"/>
   <hr align="left" color="#000000" size="1"/>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p>
    Notes:
    <br/>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1"/>
   <hr align="left" color="#000000" size="1"/>
   <hr align="left" color="#000000" size="1"/>
   <hr color="#000000" size="1"/>
   <p>
   </p>
  </blockquote>
 </body>
</html>