<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   To sign "tea," use an "F" handshape on your dominant hand and a "C" 
			(or an "O")  handshape on 
  your non-dominant hand.
   <br/>
   <br/>
   TEA:
   <br/>
   <img border="0" height="219" src="/images/tea.ht4.jpg" width="198"/>
   <img border="0" height="85" src="/images/tea.gif" width="93"/>
   <p style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1" width="50%"/>
   <p style="margin-top: 0; margin-bottom: 0">
    See:
    <a href="/dictionary/coffee">
     COFFEE
    </a>
    <br/>
    See:
    <a href="/dictionary/spoon">
     SPOON
    </a>
    <br/>
    See:
    <a href="/dictionary/sugar">
     SUGAR
    </a>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>