<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   Just fingerspell "T-S-P."
   <br/>
   <p>
    <br/>
    TEASPOON:
    <br/>
    <img border="0" height="220" src="/images/teaspo1.jpg" width="222"/>
    <img border="0" height="220" src="/images/teaspo2.jpg" width="222"/>
    <img border="0" height="220" src="/images/teaspo3.jpg" width="222"/>
   </p>
   <hr align="left" color="#000000" size="1" width="50%"/>
   <p style="margin-top: 0; margin-bottom: 0">
    Also see:
    <a href="/dictionary/spoon">
     SPOON
    </a>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>