<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   <p>
    technical / method / technology
    <br/>
    <br/>
    The right hand is in a "five" handshape with the middle finger bent forward at 
  the knuckle.
    <br/>
    The tip of the right middle finger jabs the pinkie edge of the left hand. 
  Repeat.
    <br/>
   </p>
   <p>
    <img border="0" height="239" src="/images/techni48.jpg" width="228"/>
    <img border="0" height="239" src="/images/techni49.jpg" width="228"/>
    <img border="0" height="239" src="/images/techni50.jpg" width="228"/>
    <img border="0" height="239" src="/images/techni49.jpg" width="228"/>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1" width="50%"/>
   <p style="margin-top: 0; margin-bottom: 0">
    Also see:
    <a href="/dictionary/method">
     METHOD
    </a>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>