<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   <p style="margin-top: 0; margin-bottom: 0">
    The sign for "teller" as in a "bank teller" (a person at a bank 
who helps you with your financial transactions) is generally just
    <b>
     fingerspelled
    </b>
    .
   </p>
   <hr align="left" color="#000000" size="1" width="50%"/>
   <p style="margin-top: 0; margin-bottom: 0">
    <br/>
    Sample sentence:
"Suppose you go to the bank, do you prefer the computer or an actual 
in-person teller?"
    <br/>
    (Flash format)
    <br/>
    <br/>
    Notes:
    <br/>
    In everyday life a person might sign something to the effect of, "YESTERDAY 
I GO BANK. I (classifier:1)-go-up-to-TABLE-(one hand/non-dominant hand 
"counter") INDEX-(the) WOMAN SHE, I WRITE GIVE-to-her ASK-to-her WHO 
MANAGER..."  Which would mean something to the effect of, "Yesterday I 
went to the bank. I went up to the teller and wrote her a note asking who 
the manager was..."
    <br/>
    Thus  the concept of "teller" is often expressed
    <font face="Arial">
     "in context" by simply signing "woman" (or "man").  So, the "sign" for 
teller is roughly equivalent to "the man or woman at the bank counter."
     <br/>
    </font>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
   <p style="margin-top: 0; margin-bottom: 0">
    Also see:
    <a href="/dictionary/bank">
     BANK
    </a>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>