<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   <p style="margin-top: 0; margin-bottom: 0">
    The sign for "tell" is sort of like "flipping a word" over to 
	someone.
    <br/>
    <br/>
    TELL:  "I told you"
    <br/>
    <img border="0" src="/images/tell.gif" style="max-width: 100%; height: auto" width="480"/>
    <img border="0" height="226" src="/images/tell1.jpg" width="188"/>
    <img border="0" height="226" src="/images/tell2.jpg" width="188"/>
    <br/>
    <br/>
    <font face="Arial">
     <hr align="left" color="#000000" size="1"/>
    </font>
   </p>
   <p>
    "tell him"
    <br/>
    <img border="0" height="227" src="/images/tell-him1.jpg" width="230"/>
    <img border="0" height="227" src="/images/tell-him2.jpg" width="230"/>
    <br/>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
   <p>
    tell-me
    <br/>
    <img border="0" height="228" src="/images/tell-me1.jpg" width="198"/>
    <img border="0" height="228" src="/images/tell-me2.jpg" width="198"/>
    <img border="0" height="228" src="/images/tell-me3.jpg" width="198"/>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    Sample sentence: Tell me how you feel:
    <br/>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <br/>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>