<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   <p>
    There are several ways to do the sign for "temperature." They are all 
	based on old fashioned mercury thermometers.  In the old days 
	thermometers were little glass tubes filled with mercury (a wickedly 
	dangerous liquid metal of which a few drops will absorb directly through 
	your skin and cause liver failure and brain death).
    <br/>
    <br/>
    Temperature (version 1)
    <br/>
    <font face="Arial">
     The right hand uses a "flat hand" 
  shape.
     <br/>
     <img border="0" height="215" src="/images/temper9.jpg" width="213"/>
     <img border="0" height="215" src="/images/temper8.jpg" width="213"/>
     <img border="0" height="215" src="/images/temper7.jpg" width="213"/>
     <img border="0" height="215" src="/images/temper8.jpg" width="213"/>
     <img border="0" height="215" src="/images/temper9.jpg" width="213"/>
     <img border="0" height="215" src="/images/temper8.jpg" width="213"/>
     <img border="0" height="215" src="/images/temper7.jpg" width="213"/>
    </font>
   </p>
   <p>
   </p>
   <p>
   </p>
   <hr color="#000000" size="1"/>
   <p>
    <br/>
    Temperature version 2:
    <br/>
   </p>
   <font face="Arial">
    <p>
     Slide the right index finger up and down the side of the left index finger. 
  The right hand is in a palm-down "index finger" handshape
    </p>
    <p>
     <img border="0" height="238" src="/images/temper2.jpg" width="211"/>
     <img border="0" height="238" src="/images/temper3.jpg" width="211"/>
     <img border="0" height="238" src="/images/temper2.jpg" width="211"/>
     <img border="0" height="238" src="/images/temper3.jpg" width="211"/>
    </p>
    <hr align="left" color="#800080" width="25%"/>
    <p>
     Side view:  Notice the right finger is between the body and the left 
  finger.
     <br/>
     <img border="0" height="238" src="/images/temper4.jpg" width="191"/>
    </p>
   </font>
   <p>
    <br/>
   </p>
   <font face="Arial">
    <hr color="#000000" size="1"/>
    <p>
     Question: What is the difference between "
     <a href="/dictionary/month">
      MONTH
     </a>
     " 
			and "TEMPERATURE?"
     <br/>
     <br/>
     Answer:  "Month" tends to use a single downward movement. 
			"Temperature" tends to use a shorter, repeated movement. "Month" 
			tends to be dominant hand palm-side faces back. "Temperature" tends 
			to be dominant hand palm-side faces down. "Temperature" is sometimes 
			done with a dominant "flat hand" whereas "month" only uses the index 
			finger.
     <br/>
    </p>
   </font>
   <hr color="#000000" size="1"/>
   <p>
    <br/>
    Temperature (version 3)
    <br/>
    I don't recommend this version because it looks so much like a "double 
  movement" of one of the versions of the sign for "tall."
   </p>
   <p>
    But I include it here so you will recognize it if you see it.
  The right index finger slides up and down the palm of left hand. Repeat.
    <br/>
    <br/>
    TEMPERATURE (not recommended)
    <br/>
    <img border="0" height="207" src="/images/temper10.jpg" width="207"/>
    <img border="0" height="207" src="/images/temper11.jpg" width="207"/>
    <img border="0" height="207" src="/images/temper10.jpg" width="207"/>
    <img border="0" height="207" src="/images/temper11.jpg" width="207"/>
   </p>
   <p>
   </p>
   <hr color="#000000" size="1"/>
   <p>
    <br/>
    Notes:
   </p>
   <p>
    <br/>
    Years ago when I first posted this sign for "turn the thermostat up" 
			we used to use a lever to adjust a mechanical-type thermostat.  
			Thus we had a sign that mimed the setting of a thermostat. These 
			days "theremostats" are all electronic and controlled either through 
			buttons, clicking on a screen, or automatically.  So I reckon 
			these days you would just sign, "you-MIND HOT thumb-UP-UP?"
    <br/>
    <br/>
    "Turn the thermostat up."
   </p>
   <p>
    <img border="0" height="230" src="/images/temperature-d3.jpg" width="226"/>
    <img border="0" height="230" src="/images/temperature-d2.jpg" width="226"/>
    <img border="0" height="230" src="/images/temperature-d1.jpg" width="226"/>
   </p>
   <p>
    <br/>
    Turn the temperature down:
   </p>
   <p>
    <img border="0" height="230" src="/images/temperature-d4.jpg" width="226"/>
    <img border="0" height="230" src="/images/temperature-d5.jpg" width="226"/>
    <img border="0" height="230" src="/images/temperature-d6.jpg" width="226"/>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <br/>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>