<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   <p>
    <br/>
    TEMPLE (general version)
   </p>
   <p>
    <img border="0" height="229" src="/images/temple61.jpg" width="215"/>
    <img border="0" height="229" src="/images/temple62.jpg" width="215"/>
    <img border="0" height="229" src="/images/temple63.jpg" width="215"/>
    <img border="0" height="229" src="/images/temple64.jpg" width="215"/>
   </p>
   <p>
   </p>
   <hr align="left" color="#000000" size="1"/>
   <br/>
   There is another sign for temple that is used by Mormons. The 
			non-dominant index finger is held pointing up at an angle, (palm 
			back). The dominant index-finger-hand does a spiraling upward 
			movement and you end up touching index fingertips. Note: The index 
			finger doesn't wiggle or anything, the movement is in the wrist and 
			in the elbow (not in the large knuckle).
   <br/>
   <br/>
   TEMPLE:  ("Mormon" version = "LDS Temple")
   <p>
    <img border="0" height="232" src="/images/temple65.gif" width="218"/>
    <img border="0" height="232" src="/images/temple66.gif" width="218"/>
    <img border="0" height="232" src="/images/temple67.gif" width="218"/>
    <img border="0" height="232" src="/images/temple68.gif" width="218"/>
    <img border="0" height="232" src="/images/temple69.gif" width="218"/>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <br/>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>