<html>
 <body>
  <blockquote>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
    <p>
     There are a couple of popular signs for "Thanksgiving."
     <br/>
    </p>
    <p>
     A common method is to move a right Q-hand from the chin to the chest.
     <br/>
     <br/>
     Thanksgiving:  (Version 1)
    </p>
    <p>
     <img border="0" height="233" src="/images/thanks93.jpg" width="212"/>
     <img border="0" height="233" src="/images/thanks94.jpg" width="212"/>
    </p>
    <p>
     <br/>
    </p>
    <hr align="left" color="#000000" size="1"/>
    <br/>
    Another popular method of signing "Thanksgiving" is to do a "double handed" "double-arching" 
			version of the sign "THANK-YOU."
    <br/>
    <br/>
    Thanksgiving: (Version 2)
    <p>
     <img border="0" height="230" src="/images/thanks92.jpg" width="254"/>
     <img border="0" height="230" src="/images/thanks88.jpg" width="254"/>
     <img border="0" height="230" src="/images/thanks89.jpg" width="254"/>
     <img border="0" height="230" src="/images/thanks90.jpg" width="254"/>
     <img border="0" height="230" src="/images/thanks91.jpg" width="254"/>
     <br/>
    </p>
    <hr align="left" color="#000000" size="1" width="25%"/>
    <p>
     Animation: Thanksgiving (version)
     <br/>
     <img border="0" height="230" src="/images/thanksgiving.gif" width="254"/>
     <br/>
    </p>
    <hr align="left" color="#000000" size="1"/>
    <p>
     Also see:
     <a href="/dictionary/turkey">
      TURKEY
     </a>
    </p>
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>