<html>
 <body>
  <blockquote>
   <span style="font-weight: 400">
    <font face="Arial">
     <hr align="left" color="#000000" size="1" width="50%"/>
     <p style="margin-top: 0; margin-bottom: 0">
      The sign for "thank you" is 
		made by starting with the fingers of your dominant hand near your lips.  
		Your hand should be a "flat hand."  Move your hand forward and a 
		bit down in the direction of the person you are thanking.  Smile 
		(so they'll know you mean it).
      <br/>
      <br/>
      THANK YOU:
     </p>
    </font>
   </span>
   <p style="margin-top: 0; margin-bottom: 0">
    <img src="/images/thank-you.gif" style="max-width: 100%; height: auto" width="480"/>
    <span style="font-weight: 400">
     <font face="Arial">
      <img height="247" src="/images/thankyou.gif" width="243"/>
      <br/>
      <br/>
      Memory aid:  Imagine blowing a kiss to the person you 
are thanking. (Don't pucker up -- unless you'd like to get to know him better.)
      <br/>
     </font>
    </span>
    <img border="0" height="480" src="/images/thank-you-01.jpg" width="480"/>
    <img border="0" height="480" src="/images/thank-you-02.jpg" width="480"/>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <span style="font-weight: 400">
     <font face="Arial">
      <br/>
      <img border="0" height="238" src="/images/thankyou1.jpg" width="243"/>
      <img border="0" height="238" src="/images/thankyou2.jpg" width="243"/>
      <iframe allow="autoplay; encrypted-media" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/2W0BDFUjsG0?rel=0" width="560">
      </iframe>
      <br/>
      <hr align="left" color="#000000" size="1" width="50%"/>
      <p style="margin-top: 0; margin-bottom: 0">
      </p>
      <p style="margin-top: 0; margin-bottom: 0">
       The sign "THANK YOU" can also 
		be interpreted to mean "good." (Especially if you are holding a sandwich 
		in one hand.)
       <br/>
       <br/>
       For more information (about the sign good, not about the sandwich) see 
		the "
       <a href="/dictionary/good">
        good
       </a>
       " page.
       <br/>
      </p>
      <hr align="left" color="#000000" size="1" width="50%"/>
      <p style="margin-top: 0; margin-bottom: 0">
       <br/>
       Student:  I saw a Deaf person do this sign with two hands. Does 
		that mean something different?
       <br/>
       <br/>
       Dr. Bill:  If you use two hands with this sign it means you are 
		"very" grateful.  (Or perhaps you are signing to a large audience.)
       <br/>
      </p>
      <p align="left" style="margin-top: 0; margin-bottom: 0">
      </p>
      <hr align="left" color="#000000" size="1" width="50%"/>
     </font>
    </span>
   </p>
  </blockquote>
 </body>
</html>