<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   <p>
    To express the concept of "I agree" you can use the signs THINK and SAME.
    <br/>
    Point to your forehead and then use the sign "SAME/similar" in a directional 
manner between you and the person with whom you agree.
    <br/>
    <br/>
    Here's an example of "I think the same as you."
   </p>
   <p align="left">
    <img border="0" height="272" src="/images/think.gif" width="300"/>
    <br/>
    <img border="0" height="225" src="/images/same-h1.jpg" width="208"/>
    <img border="0" height="225" src="/images/same-h2.jpg" width="208"/>
    <br/>
    <img border="0" height="225" src="/images/same-h3.jpg" width="208"/>
    <img border="0" height="225" src="/images/same-h4.jpg" width="208"/>
   </p>
   <br/>
   <p style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1" width="50%"/>
   <p style="margin-top: 0; margin-bottom: 0">
    Also see:
    <a href="/dictionary/agree">
     AGREE
    </a>
    <br/>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>