<html>
 <body>
  <blockquote>
   <h1 style="margin-top: 0; margin-bottom: 0">
    <span style="font-weight: 400">
     <font face="Arial" size="5">
      THINGAMAJIG: 
		How do you sign "thingamajig" in ASL?
     </font>
    </span>
    <font face="Arial">
     <br/>
    </font>
   </h1>
   <p>
    <br/>
    <br/>
    The concept of "thingamajig" could be signed by doing the sign for THING while 
using an uncertain facial expression. This is somewhat similar to the English 
approach of saying "thing" and then adding "...amajig" to express uncertainty as 
to the precise label or nature of the thing.
    <br/>
    <br/>
    Another approach would be to use the sign SOMETHING / someone / single and the 
follow it with the THING sign.
    <br/>
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p>
    Notes:
    <br/>
    See:
    <a href="/dictionary/thing">
     THING
    </a>
    <br/>
    See:
    <a href="/dictionary/something">
     SOMETHING
    </a>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1"/>
   <hr align="left" color="#000000" size="1"/>
   <hr align="left" color="#000000" size="1"/>
   <hr color="#000000" size="1"/>
   <p>
   </p>
  </blockquote>
 </body>
</html>