<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1" width="50%"/>
   <p style="margin-top: 0; margin-bottom: 0">
    The sign for "three" or "3" in ASL is done with the thumb, index 
	finger, and middle finger.
    <br/>
    When signed in isolation it is (generally) done palm back.
    <br/>
    When signed as part of a series of numbers it is done palm forward.
    <br/>
    <br/>
    THREE:
    <br/>
    <img border="0" height="320" src="/images/three.gif" width="320"/>
    <br/>
   </p>
   <hr align="left" color="#000000" size="1" width="50%"/>
   <p style="margin-top: 0; margin-bottom: 0">
   </p>
  </blockquote>
 </body>
</html>