<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   <p>
    THROAT:
    <br/>
    A general way to refer to most body parts is to simply point at them or tap 
	them twice.  When I sign "neck" or "throat" I just tap my neck with my 
	index finger once or  twice.
    <br/>
    <img border="0" height="239" src="/images/throat15.jpg" width="285"/>
    <img border="0" height="239" src="/images/throat16.jpg" width="285"/>
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p>
    THROAT or esophagus:
    <br/>
    If I need to specify the part of the body down which food, water, and air 
	travels, I can use a "C" hand as a classifier to show the general shape and 
	distance of a throat.  I start at the base and work up.
    <br/>
    <img border="0" height="239" src="/images/throat17.jpg" width="263"/>
    <img border="0" height="239" src="/images/throat18.jpg" width="263"/>
    <img border="0" height="239" src="/images/throat19.jpg" width="263"/>
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p>
    When I need to talk about a "throat" as an "area of the body" for 
	example, a person whom didn't put on sunscreen and now has a sunburned 
	throat--I would use the following sign.  It means "the throat from here 
	to here."
   </p>
   <p>
    <img border="0" height="238" src="/images/throat26.jpg" width="277"/>
    <img border="0" height="238" src="/images/throat27.jpg" width="277"/>
    <img border="0" height="238" src="/images/throat28.jpg" width="277"/>
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p>
    SORE THROAT:
    <br/>
    If I had a sore throat I'd use a loose "G" handshape and move it down the 
	throat twice while using a pained expression.
    <br/>
    Don't you feel sorry for me?  (Note: Some people just spell S-O-R-E and 
	sign throat.")
   </p>
   <p>
    <img border="0" height="239" src="/images/throat1.jpg" width="268"/>
    <img border="0" height="239" src="/images/throat2.jpg" width="268"/>
    <img border="0" height="239" src="/images/throat3.jpg" width="268"/>
   </p>
   <p>
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p>
    You might also see this sign used to mean "my throat hurts."  Thus 
	is the sign for "pain/hurt" done near the throat.
   </p>
   <p>
    <img border="0" height="240" src="/images/throat20.jpg" width="318"/>
    <img border="0" height="240" src="/images/throat21.jpg" width="318"/>
   </p>
   <p>
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p>
    Suppose someone is a "pain in the neck?"  That would be shown by 
	using a single hand twisted into the side of the neck.
    <br/>
    "He (or she) is a pain in the neck!"
   </p>
   <p>
    <img border="0" height="237" src="/images/throat22.jpg" width="322"/>
    <img border="0" height="237" src="/images/throat23.jpg" width="322"/>
    <img border="0" height="237" src="/images/throat24.jpg" width="322"/>
    <img border="0" height="237" src="/images/throat25.jpg" width="322"/>
   </p>
   <p>
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p>
    The general sign for "swallow"
   </p>
   <p>
    <img border="0" height="238" src="/images/throat4.jpg" width="254"/>
    <img border="0" height="238" src="/images/throat5.jpg" width="254"/>
    <img border="0" height="238" src="/images/throat6.jpg" width="254"/>
   </p>
   <p>
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p>
    You might also see this sign done with a "flat hand."
    <br/>
    When you add the tongue and open mouth that change into the closed mouth it 
	can be used to mean "gullible."  The more you exaggerate the sign, the 
	more gullible the person.  Memory aid: "to swallow a fish."
   </p>
   <p>
    <img border="0" height="239" src="/images/throat7.jpg" width="262"/>
    <img border="0" height="239" src="/images/throat8.jpg" width="262"/>
    <img border="0" height="239" src="/images/throat9.jpg" width="262"/>
    <img border="0" height="239" src="/images/throat10.jpg" width="262"/>
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p>
    Here is a side view of "SWALLOW/gullible."
    <br/>
    <img border="0" height="238" src="/images/throat11.jpg" width="236"/>
    <img border="0" height="238" src="/images/throat12.jpg" width="236"/>
    <img border="0" height="238" src="/images/throat13.jpg" width="236"/>
    <img border="0" height="238" src="/images/throat14.jpg" width="236"/>
   </p>
   <br/>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>