<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   <p style="margin-top: 0; margin-bottom: 0">
    The sign for "
    <b>
     <i>
      Thursday
     </i>
    </b>
    " circles an "H."  (The "H" often tends to be pointing somewhat upward, 
	almost like a backward "U.")
   </p>
   <p>
    <img border="0" height="220" src="/images/thursday-h1.jpg" width="214"/>
    <img border="0" height="220" src="/images/thursday-h2.jpg" width="214"/>
    <img border="0" height="220" src="/images/thursday-h3.jpg" width="214"/>
    <img border="0" height="220" src="/images/thursday-h4.jpg" width="214"/>
    <img border="0" height="220" src="/images/thursday-h5.jpg" width="214"/>
    <img border="0" height="220" src="/images/thursday-h6.jpg" width="214"/>
    <img border="0" height="220" src="/images/thursday-h7.jpg" width="214"/>
    <img border="0" height="220" src="/images/thursday-h8.jpg" width="214"/>
   </p>
   <p>
    <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/PJs5VaRTMak?rel=0" width="560">
    </iframe>
   </p>
   <hr color="#800080"/>
   <p>
    "T-H" version of Thursday:
   </p>
   <p>
    <font face="Arial">
     <img border="0" src="/images/week-thursday-th.gif" style="max-width: 100%; height: auto" width="480"/>
    </font>
   </p>
   <p>
    <img border="0" height="221" src="/images/thursday-th1.jpg" width="222"/>
    <img border="0" height="221" src="/images/thursday-th2.jpg" width="222"/>
   </p>
   <p>
   </p>
   <p>
    every-THURSDAY:
   </p>
   <p>
    <font face="Arial">
     <img border="0" src="/images/thursday-every.gif" style="max-width: 100%; height: auto" width="480"/>
    </font>
   </p>
   <p>
    <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/SJ8A4zsqsO4" width="560">
    </iframe>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
    <p>
     <br/>
     See:
     <span style="font-weight: 400">
      <a href="/dictionary/sunday">
       SUNDAY
      </a>
      /
      <a href="/dictionary/monday">
       MONDAY
      </a>
      /
      <a href="/dictionary/tuesday">
       TUESDAY
      </a>
      /
      <a href="/dictionary/wednesday">
       WEDNESDAY
      </a>
      / THURSDAY /
      <a href="/dictionary/friday">
       FRIDAY
      </a>
      /
      <a href="/dictionary/saturday">
       SATURDAY
      </a>
     </span>
    </p>
   </font>
  </blockquote>
 </body>
</html>