<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   <p>
    <br/>
    Necktie:  Use an "H" handshape to show how a tie hangs from your neck.
   </p>
   <p>
    <img border="0" height="227" src="/images/tie.ht81.jpg" width="210"/>
    <img border="0" height="227" src="/images/tie.ht82.jpg" width="210"/>
    <img border="0" height="227" src="/images/tie.ht83.jpg" width="210"/>
    <br/>
   </p>
   <hr align="left" color="#000000" size="1"/>
   <br/>
   BOW TIE:
   <br/>
   <img border="0" height="228" src="/images/tie.ht84.jpg" width="191"/>
   <img border="0" height="228" src="/images/tie.ht85.jpg" width="191"/>
   <p>
    Note: Some people also use this sign (in context) to mean "tuxedo."
    <br/>
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p>
    <br/>
    EQUAL:
    <br/>
    If you mean "tie" and in the contest was a tie or that the result was equal, 
  then use the sign for "EQUAL"
    <br/>
    <img border="0" height="227" src="/images/equalb1.jpg" width="200"/>
    <img border="0" height="227" src="/images/equalb2.jpg" width="200"/>
    <img border="0" height="190" src="/images/equal2.jpg" width="293"/>
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p>
    <br/>
    TIE-(a knot)
    <br/>
    If you mean "tie a knot" then just mime the tying of whatever type of knot to 
  which you are referring.
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <br/>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>