<html>
 <body>
  <blockquote>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
    <p>
     To do the sign for "tiger" form both hands into shallow-"CLAW" shapes (curved 5-handshapes).  
  Hold your hands in front of your face.  Make a "clawing" motion that 
  moves backwards and to the side. Repeat.
     <br/>
     <br/>
     TIGER:
    </p>
    <p>
     <img border="0" height="215" src="/images/tiger.8.jpg" width="313"/>
     <img border="0" height="215" src="/images/tiger.9.jpg" width="313"/>
     <img border="0" height="215" src="/images/tiger.8.jpg" width="313"/>
     <img border="0" height="215" src="/images/tiger.9.jpg" width="313"/>
    </p>
    <p>
     <br/>
    </p>
    <hr align="left" color="#000000" size="1" width="50%"/>
    <p>
    </p>
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>