<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   <p style="margin-top: 0; margin-bottom: 0">
    The sign for "time" in ASL points to the wrist at the 
	location where people used to wear watches, (before cell phones). Just tap 
	your wrist twice.  If you want to know "What time is it?" then do this 
	same sign but with furrowed eyebrows.
    <br/>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    TIME:
   </p>
   <p>
    <img border="0" src="/images/time-1.gif" style="max-width: 100%; height: auto" width="480"/>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <img border="0" height="227" src="/images/time1.jpg" width="195"/>
    <img border="0" height="227" src="/images/time2.jpg" width="195"/>
    <img border="0" height="227" src="/images/time3.jpg" width="195"/>
    <img border="0" height="227" src="/images/time4.jpg" width="195"/>
    <br/>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1" width="50%"/>
   </font>
   <p style="margin-top: 0; margin-bottom: 0">
    <br/>
    What time do you go to ASL class?
    <br/>
    <br/>
    <font face="Arial">
    </font>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
   <div>
    <p style="margin-top: 0; margin-bottom: 0">
     <br/>
     <b>
      STUDENT
     </b>
     :  "How would u sign " on time"? would u sign "on" 
		and then "time?"
     <br/>
     <br/>
     <b>
      Dr. Bill
     </b>
     :
		You do
     <b>
      not
     </b>
     use the sign ON for the concept of "on time."
     <br/>
     Instead, you should do a modified version of TIME by starting the movement from 
		about 7 
		inches above the wrist, coming down quickly, touching the wrist without 
		stopping and then moving back up 5 inches.  The whole movement is very 
		quick.  Think of a scorpion stinging.
    </p>
   </div>
   <div>
    <p style="margin-top: 0; margin-bottom: 0">
     This sign could be used to mean "punctual" or 7 p.m. "sharp!"
     <br/>
    </p>
   </div>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
   <p style="margin-top: 0; margin-bottom: 0">
    <br/>
    Incorporation of number in time:  example:  "1
  o'clock."
    <br/>
    <img border="0" height="228" src="/images/oclock-11.jpg" width="185"/>
    <img border="0" height="228" src="/images/oclock-12.jpg" width="185"/>
    <img border="0" height="228" src="/images/oclock-13.jpg" width="185"/>
    <img border="0" height="228" src="/images/oclock-14.jpg" width="185"/>
    <br/>
    <a href="/images/oclock-1animation.gif">
     animation
    </a>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
   <p style="margin-top: 0; margin-bottom: 0">
    <br/>
    Three o'clock:
    <br/>
    <img border="0" height="227" src="/images/oclock-three1.jpg" width="191"/>
    <img border="0" height="227" src="/images/oclock-three2.jpg" width="191"/>
    <img border="0" height="227" src="/images/oclock-three3.jpg" width="191"/>
    <img border="0" height="227" src="/images/oclock-three4.jpg" width="191"/>
    <br/>
    <a href="/images/oclock3animation.gif">
     animation
    </a>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
    <p style="margin-top: 0; margin-bottom: 0">
    </p>
   </font>
   <p style="margin-top: 0; margin-bottom: 0">
    <b>
     a.m. and p.m.
     <br/>
    </b>
    You can indicate "a.m." by signing "morning," or "p.m." by signing 
	"evening."
    <br/>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
    <p style="margin-top: 0; margin-bottom: 0">
    </p>
   </font>
   <p style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     <b>
      Time Line
     </b>
     :
     <br/>
     The general concept here is that you have a timeline that 
	runs from behind you to in front of you.  By doing a sign farther back 
	you can indicate the concept occurred further in the past.  The farther 
	forward things are signed, the further in the future they are.  Doing a 
	sign close to your body can be used to indicate the nearness or recentness 
	of an event.
    </font>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
    <p style="margin-top: 0; margin-bottom: 0">
    </p>
   </font>
   <p style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     <b>
      Dealing with time
     </b>
     :
     <br/>
     In English a person might say, "I went to a movie 
    last Saturday."  Or, maybe "Last Saturday I went to a movie." Notice 
    how the concept of "go" is expressed as "went?"  This is called 
    "conjugating" the verb to show tense.  (Conjugate is just a big word 
    that means "change" or "join.")  Another word for conjugate is 
    "inflect."
     <br/>
    </font>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     In ASL that sentence would be signed "PAST SATURDAY ME-(PRO1) GO MOVIE."  
    (The "PRO1" means a first person pronoun, which is done by simply pointing 
    at yourself with an index finger.) We use the same form of the concept "GO" 
    for both present and past tense sentences.  That is the way it is with 
    most ASL sentences.  We establish the "tense" or time-frame of a 
    sentence by using certain "time signs" like "past week," "next month," "now 
    morning," or "next year," and then the rest of the sentence uses typical 
    non-conjugated signs. This technique works for whole paragraphs and/or 
    conversations.  Tense only needs to be established once at the 
    beginning of an ASL conversation.  All of the remaining signs use the 
    same form regardless whether you are talking about the past, present, or 
    future. For example, in the sentence, "TOMORROW ME-(PRO1) GO MOVIE" uses the 
    same sign for "GO" as the sentence, "YESTERDAY ME GO MOVIE."
     <br/>
    </font>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     Now note, that the interpretation of "NOW AFTERNOON 
    ME-(PRO1) GO MOVIE" depends on what time of day it is.  If it is 
    morning, then the sentence would be the equivalent of, "This afternoon I 
    will go to a movie."  If it is currently night time, the sentence would 
    be interpreted as, "Today I went to a movie."  The ASL signs are the 
    same, but their meaning depends on what time of day the sentence is being 
    signed.
     <br/>
    </font>
   </p>
   <hr/>
   <p style="margin-top: 0; margin-bottom: 0">
    <br/>
    Dear Dr. Bill,
    <br/>
    I have a question concerning time. Is the sign the same if you were saying 
	"every time" or "the last time"?
    <br/>
    -
	Janice
    <br/>
    <br/>
    Dear
	Janice,
    <br/>
    Depending on the circumstance, "every time" might be signed " EACH TIME, 
	ALWAYS, ALL TIME, PERIOD, NO-MATTER, etc.
    <br/>
    How you sign "the last time," depends on whether you mean "final/concluding" 
	or "the most recent time." If you mean "the last time" as in "This is the 
	last time we will visit this restaurant" you would use the version of the 
	sign "LAST" that strikes the pinkie of the non-dominant hand with the pinkie 
	of the dominant hand. If you mean, "The last time I visited this restaurant 
	was five years ago," you would use a combination of signs including 
	"PAST/previously" and the sign "SINCE/up to now" combined with appropriate 
	facial grammar (slight negative head shake to indicate "haven't"). I TOUCH 
	HERE 5-YEAR-AGO, SINCE NONE.
    <br/>
    Thus, the traditional sign "TIME" might not even show up in the sentence.
    <br/>
    Cordially,
    <br/>
    -
	Dr. Bill
    <br/>
    (Lifeprint.com)
    <br/>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>