<html>
 <body>
  <blockquote>
   <p style="margin-top: 0; margin-bottom: 0">
    <span style="font-weight: 400">
     <font face="Arial">
     </font>
    </span>
   </p>
   <hr align="left" color="#000000" size="1" width="50%"/>
   <font face="Arial">
    <span style="font-weight: 400">
     <p style="margin-top: 0; margin-bottom: 0">
      Even though you see a "T" for the 
handshape this sign is commonly thought of as meaning "bathroom."  Yes, the 
sign for toilet is the same sign as "bathroom," but when you see it signed in a 
sentence you should usually interpret it as bathroom rather than toilet.
      <br/>
      The sign for "bathroom" is made by forming the right hand into the letter "t."  
The palm side is facing away from you. Shake your hand side to side a couple 
times. Some people use a twisting movement instead of the side to side shake.  
Either is fine, but I prefer the side to side shake. (heh)
      <br/>
      <br/>
      BATHROOM / toilet
      <br/>
      <img border="0" height="223" src="/images/bathroom1.jpg" width="226"/>
      <img border="0" height="223" src="/images/bathroom3.jpg" width="226"/>
      <img border="0" height="223" src="/images/bathroom5.jpg" width="226"/>
     </p>
     <center>
      <hr/>
     </center>
     <p align="left">
      Note:
      <br/>
      To ask, "Do you need to go to the bathroom?"  (A frequent question in 
households with children and/or developmentally disabled folks), just tilt your 
head forward a bit, raise your eyebrows, and do the "toilet" sign.
      <br/>
      <br/>
      "Do you need to go to the bathroom?"
      <br/>
      <br/>
      <img border="0" height="216" src="/images/bathro1.jpg" width="196"/>
      <img border="0" height="216" src="/images/bathro2.jpg" width="196"/>
      <img border="0" height="216" src="/images/bathro3.jpg" width="196"/>
      <img border="0" height="216" src="/images/bathro2.jpg" width="196"/>
      <br/>
     </p>
     <hr align="left" color="#000000" size="1" width="50%"/>
    </span>
    <p style="margin-top: 0; margin-bottom: 0">
     <span style="font-weight: 400">
      <br/>
      In 
a message dated 8/11/2011 5:31:00 A.M. Pacific Daylight Time, evergreen474 
writes:
      <br/>
      <br/>
      Hello Dr. Vicars!
      <br/>
      I'm an early childhood educator and I want to incorporate ASL into my classroom. 
I refer to your site every day as well as go through the self-study units.
      <br/>
      <br/>
      I teach young children and one of things they often forget to do is flush the 
toilet. :)
      <br/>
      We wanted a way to tell them without verbally having to remind them ALL the 
time. If I had to guess, I would say the sign is similar to the gesture you 
would use when actually flushing the toilet. But I just wanted to verify. Thank 
you for your time!
      <br/>
      <br/>
      Sincerely,
      <br/>
      Anne Neumann
      <br/>
      <br/>
      Anne,
      <br/>
      That is correct, just grab an imaginary toilet handle and twist it in a flushing 
motion.
      <br/>
      :)
      <br/>
      -- Bill
     </span>
    </p>
   </font>
  </blockquote>
 </body>
</html>