<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1" width="50%"/>
   <span style="font-weight: 400">
    <font face="Arial">
     <p style="margin-top: 0; margin-bottom: 0">
      TOOTH:
      <br/>
      The sign for "tooth" uses an "X" hand to (pretend to) "tap" on a tooth twice.  
You don't need to actually tap on your tooth. (You might occasionally see 
someone actually make contact with their tooth, but in general anything that 
slows down signing tends to be dispensed with when signing at high speeds.)
      <br/>
      <img border="0" height="226" src="/images/teeth1.jpg" width="200"/>
      <img border="0" height="226" src="/images/teeth2.jpg" width="200"/>
      <br/>
      <br/>
      Usage note:
      <br/>
      The sign for "tooth" is also commonly used to mean "glass," "ceramic," 
"porcelain," "china," or even "cement."
      <br/>
     </p>
     <hr align="left" color="#000000" size="1" width="50%"/>
    </font>
   </span>
   <p style="margin-top: 0; margin-bottom: 0">
    <span style="font-weight: 400">
     Also 
see:
     <a href="/dictionary/teeth">
      TEETH
     </a>
    </span>
   </p>
   <font face="Arial">
    <span style="font-weight: 400">
     <hr align="left" color="#000000" size="1" width="50%"/>
    </span>
   </font>
  </blockquote>
 </body>
</html>