<html>
 <body>
  <blockquote>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
    <p>
     The sign for "total" starts with loose claw hands.  
			I hold my left hand up and a bit to the left.  I hold my right 
			hand down and off to the right. Then I do a bit of a fancy move as 
			if there is a column of numbers hanging in the air and I magically 
			scoop them all together.  You can do this sign with "either" 
			hand as the one on top and it still means the same, but hey, I 
			recommend you do it the way the person giving the grade does it (or 
			your Deaf friend).
     <br/>
     <br/>
     TOTAL:
     <br/>
     <img border="0" height="229" src="/images/total.51.jpg" width="277"/>
     <img border="0" height="229" src="/images/total.52.jpg" width="277"/>
     <img border="0" height="229" src="/images/total.53.jpg" width="277"/>
     <img border="0" height="229" src="/images/total.54.jpg" width="277"/>
    </p>
    <hr align="left" color="#000000" size="1" width="50%"/>
    <p>
    </p>
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>