<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1" width="50%"/>
   <span style="font-weight: 400">
    <font face="Arial">
     <p style="margin-top: 0; margin-bottom: 0">
      The sign for "tough" uses "bent-V" 
	hands.  The dominant hand moves downward and past the non-dominant 
	hand.
      <br/>
      <br/>
      TOUGH:
      <br/>
      <img border="0" height="240" src="/images/tough1.jpg" width="253"/>
      <img border="0" height="240" src="/images/tough2.jpg" width="253"/>
      <img border="0" height="240" src="/images/tough3.jpg" width="253"/>
      <img border="0" height="240" src="/images/tough4.jpg" width="253"/>
      <br/>
      <br/>
      Note: In my example above it appears that I'm moving my non-dominant hand.  
	I "am" moving it but it is more of a reflex than an intended movement.  
	You don't actually have to move the "non-dominant" hand to do this sign.  
	The non-dominant hand can stay stationary.
      <br/>
      <br/>
     </p>
     <hr align="left" color="#000000" size="1"/>
     <p style="margin-top: 0; margin-bottom: 0">
      <br/>
      You can also use the left "S" hand for the sign for "tough."  The 
	dominant hand strikes a glancing blow off of the top of the palm-down 
	"S-hand."
      <br/>
      <br/>
      TOUGH (version)
     </p>
     <p style="margin-top: 0; margin-bottom: 0">
      <img border="0" height="238" src="/images/tough-b1.jpg" width="253"/>
      <img border="0" height="238" src="/images/tough-b2.jpg" width="253"/>
      <img border="0" height="238" src="/images/tough-b3.jpg" width="253"/>
      <img border="0" height="238" src="/images/tough-b4.jpg" width="253"/>
      <br/>
     </p>
     <hr align="left" color="#000000" size="1" width="50%"/>
    </font>
   </span>
   <p style="margin-top: 0; margin-bottom: 0">
    <span style="font-weight: 400">
     Also 
see:
     <a href="/dictionary/hard">
      HARD
     </a>
    </span>
   </p>
   <font face="Arial">
    <span style="font-weight: 400">
     <hr align="left" color="#000000" size="1" width="50%"/>
    </span>
   </font>
  </blockquote>
 </body>
</html>