<html>
 <body>
  <blockquote>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
    <p>
     The sign for "transfer" starts with a palm-down (and 
			angled just a bit toward the non-dominant side) bent-"V"-handshape. 
			Then use an arching movement (downward, to the side, and upward) as 
			if showing that a person was sitting in one place and has now 
			transferred to be sitting in another place.  This sign also 
			commonly means "switch."
     <br/>
    </p>
    <p>
     TRANSFER or switch:
    </p>
    <p>
     <img border="0" height="228" src="/images/transf73.jpg" width="230"/>
     <img border="0" height="228" src="/images/transf74.jpg" width="230"/>
     <img border="0" height="228" src="/images/transf75.jpg" width="230"/>
     <img border="0" height="228" src="/images/transf76.jpg" width="230"/>
     <img border="0" height="228" src="/images/transf77.jpg" width="230"/>
    </p>
    <hr align="left" color="#000000" size="1" width="50%"/>
    <p>
    </p>
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>