<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1" width="50%"/>
   <span style="font-weight: 400">
    <font face="Arial">
     <p style="margin-top: 0; margin-bottom: 0">
      TRAVEL / trip / journey / tour
      <br/>
     </p>
     The right hand is in a "bent-v" handshape.
     <hr align="left" color="#000000" size="1" width="50%"/>
     <p>
      TRAVEL:
travel in general /
tour
      <br/>
      This version uses one big arching movement.
      <br/>
      The movement is forward and to left.
     </p>
     <p>
      <img border="0" height="232" src="/images/travela1.jpg" width="249"/>
      <img border="0" height="232" src="/images/travela3.jpg" width="249"/>
      <img border="0" height="232" src="/images/travela4.jpg" width="249"/>
      <img border="0" height="232" src="/images/travela5.jpg" width="249"/>
      <img border="0" height="232" src="/images/travela6.jpg" width="249"/>
      <img border="0" height="232" src="/images/travela7.jpg" width="249"/>
      <img border="0" height="232" src="/images/travela8.jpg" width="249"/>
     </p>
     <hr color="#800080"/>
     <p>
      This version is similar in meaning to the above version, but it has the
added meaning of "travel around."  Visit the little towns, tour
the countryside.
      <br/>
      <img border="0" height="229" src="/images/travelb1.jpg" width="246"/>
      <img border="0" height="229" src="/images/travelb2.jpg" width="246"/>
      <img border="0" height="229" src="/images/travelb3.jpg" width="246"/>
      <img border="0" height="229" src="/images/travelb4.jpg" width="246"/>
      <img border="0" height="229" src="/images/travelb5.jpg" width="246"/>
      <img border="0" height="229" src="/images/travelb6.jpg" width="246"/>
      <img border="0" height="229" src="/images/travelb7.jpg" width="246"/>
      <img border="0" height="229" src="/images/travelb8.jpg" width="246"/>
      <img border="0" height="229" src="/images/travelb9.jpg" width="246"/>
      <img border="0" height="229" src="/images/travelb10.jpg" width="246"/>
      <img border="0" height="229" src="/images/travelb11.jpg" width="246"/>
      <img border="0" height="229" src="/images/travelb12.jpg" width="246"/>
      <img border="0" height="229" src="/images/travelb13.jpg" width="246"/>
      <img border="0" height="229" src="/images/travelb14.jpg" width="246"/>
     </p>
    </font>
   </span>
  </blockquote>
 </body>
</html>