<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   To do the sign for trial hold two "F" hands in front of you, about 8 
			inches apart (the right palm facing left and the left palm facing 
			right). Move one hand up and the other hand down at the same time (a 
			few inches) and then switch.
   <br/>
   <span style="font-weight: 400">
    <p>
     This version of the sign "IF" can mean such things as: 
  court, judge, trial:
     <br/>
     JUDGE / COURT /  IF / TRIAL
     <br/>
     <img border="0" height="223" src="/images/if-a1.jpg" width="216"/>
     <img border="0" height="223" src="/images/if-a2.jpg" width="216"/>
     <img border="0" height="223" src="/images/if-a3.jpg" width="216"/>
     <img border="0" height="223" src="/images/if-a4.jpg" width="216"/>
     <img border="0" height="223" src="/images/if-a5.jpg" width="216"/>
     <font face="Arial">
      <br/>
      Memory tip: Think of the "scales of justice."  The movement of 
			the sign for "JUDGE/COURT/IF/TRIAL" is similar to that of a "balance 
			scale."
     </font>
     <br/>
     <img border="0" height="320" src="/images/scale-balance.jpg" width="222"/>
     <br/>
    </p>
    <font face="Arial">
     <hr align="left" color="#000000" size="1"/>
    </font>
    NOTES:
    <br/>
    To make this sign mean a judge (the person who presides in a courtroom) 
		you would add the "person" sign.
    <br/>
    Another sign for a "judge" is to mime the rapping of a gavel.  Use 
		a fist hand (or modified "A" handshape) and do a double movement: rap rap).
    <br/>
    Example sentence: TOMORROW I NEED GO COURT, WHY-[rhet], 
FAST-[speeding] TICKET.
   </span>
   <br/>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
    <p>
     Also see:
     <a href="/dictionary/if">
      IF
     </a>
    </p>
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>