<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   <p style="margin-top: 0; margin-bottom: 0">
    The sign for "true"
    <font face="Arial">
     can be used to mean many English
concepts such as:  sure, indeed, absolutely, "you're welcome,"
real, really, so, very, etc...
     <br/>
     <br/>
     The sign for "true" is
made by placing the dominant index finger against your lips. If you are 
right-handed, your palm should face left.
    </font>
   </p>
   <p align="left">
    <font face="Arial">
     Move your finger forward several inches using a quick motion.
    </font>
   </p>
   <p align="left">
    <img height="260" src="/images/true.gif" width="213"/>
    <img border="0" height="225" src="/images/true-b1.jpg" width="192"/>
    <img border="0" height="225" src="/images/true-b2.jpg" width="192"/>
    <br/>
    <font face="Arial">
     <hr align="left" color="#000000" size="1"/>
    </font>
   </p>
   <p align="left">
    Do you like true/false tests?
    <br/>
    <br/>
    <br/>
    <font face="Arial">
     <hr align="left" color="#000000" size="1"/>
    </font>
   </p>
   <p align="left">
    <font face="Arial">
     Notes:
    </font>
   </p>
   <p align="left">
    <font face="Arial">
     ASL
doesn't use specific signs for "state of being" verbs: is, am, are, be,
being, been, was, and were.
     <i>
      <a href="/dictionary/signedenglish">
       Signed English
      </a>
     </i>
     uses these signs, but ASL
doesn't.
    </font>
   </p>
   <p align="left">
    A
    <font face="Arial">
     lthough ASL doesn't use "be" verbs, the
sign "TRUE" is often used to affirm the existence or reality of something.
     <br/>
    </font>
   </p>
   <p align="left" style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     If you wanted to say, "I am happy"
in ASL you would simply sign, 
"I HAPPY" 
while nodding your head.
    </font>
   </p>
   <p align="left" style="margin-top: 0; margin-bottom: 0">
   </p>
   <p align="left" style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     You
     <b>
      <i>
       wouldn't
      </i>
     </b>
     need to sign  "I TRUE HAPPY."
    </font>
   </p>
   <p align="left" style="margin-top: 0; margin-bottom: 0">
   </p>
   <p align="left" style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     If
someone questioned you and signed to you, "I THINK YOU LIE!" You could affirm
that you are truly, indeed happy by signing, "FINIISH-(one hand) I TRUE
HAPPY!"  Which would mean "Oh knock it off, I really am
happy!"
     <br/>
    </font>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
    <p align="left" style="margin-top: 0; margin-bottom: 0">
     Also see:
     <a href="/dictionary/false">
      FALSE
     </a>
    </p>
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>