<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   <p style="margin-top: 0; margin-bottom: 0">
    The sign for "
    <b>
     <i>
      Tuesday
     </i>
    </b>
    " circles a "T" handshape 
	in the air.
    <br/>
    <br/>
    Sample sentence: "Why is going the movies on a Tuesday evening good?"
    <br/>
    = MOVIE, GO TUESDAY NIGHT GOOD, WHY?
    <br/>
    <br/>
    <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/hdeJ0vWGAwI?rel=0" width="560">
    </iframe>
    <br/>
    (p.s. The reason is: Because there are fewer people.)
    <br/>
    <font face="Arial">
     <hr align="left" color="#000000" size="1"/>
    </font>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <br/>
    TUESDAY:
    <br/>
    <img border="0" src="/images/week-tuesday.gif" style="max-width: 100%; height: auto" width="480"/>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <img border="0" height="221" src="/images/tuesday1.jpg" width="210"/>
    <img border="0" height="221" src="/images/tuesday2.jpg" width="210"/>
    <img border="0" height="221" src="/images/tuesday3.jpg" width="210"/>
    <img border="0" height="221" src="/images/tuesday4.jpg" width="210"/>
    <img border="0" height="221" src="/images/tuesday5.jpg" width="210"/>
    <img border="0" height="221" src="/images/tuesday6.jpg" width="210"/>
    <img border="0" height="221" src="/images/tuesday7.jpg" width="210"/>
    <img border="0" height="221" src="/images/tuesday8.jpg" width="210"/>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    every-TUESDAY:
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     <img border="0" src="/images/tuesday-every.gif" style="max-width: 100%; height: auto" width="480"/>
    </font>
    <br/>
    <font face="Arial">
     <hr align="left" color="#000000" size="1"/>
     <p style="margin-top: 0; margin-bottom: 0">
      <br/>
      See:
      <span style="font-weight: 400">
       <a href="/dictionary/sunday">
        SUNDAY
       </a>
       /
       <a href="/dictionary/monday">
        MONDAY
       </a>
       / TUESDAY /
       <a href="/dictionary/wednesday">
        WEDNESDAY
       </a>
       /
       <a href="/dictionary/thursday">
        THURSDAY
       </a>
       /
       <a href="/dictionary/friday">
        FRIDAY
       </a>
       /
       <a href="/dictionary/saturday">
        SATURDAY
       </a>
      </span>
     </p>
    </font>
   </p>
  </blockquote>
 </body>
</html>