<html>
 <body>
  <blockquote>
   <h1 style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     <span style="font-weight: 400">
      <font size="5">
       ASL: "uncanny"
      </font>
     </span>
     <br/>
    </font>
   </h1>
   <p>
    <br/>
    The word "uncanny" has quite a few interpretations depending on your exact 
meaning.
    <br/>
    If you mean "strange" then use the sign for "
    <a href="/dictionary/strange">
     STRANGE
    </a>
    ."
    <br/>
   </p>
   <hr/>
   <p>
    <br/>
    "Uncanny Resemblance."
    <br/>
    <br/>
    According to Neil Turner in a "Quora" comment: "The phrase ["uncanny 
resemblance"] used about two objects, quite often people, looking so similar 
that it feels as though there should be an unnatural or supernatural reason for 
it. You probably should not use [the phrase] to describe identical twins, since 
the resemblance is entirely expected and explained by genetics. It is more 
likely to be used of a so-called doppelganger, a person who so resembles someone 
else unrelated that it seems there must be some other-worldly explanation."
    <br/>
    <font size="1">
     Source: Turner, N. (11/17/2016), "What does the phrase 'the 
resemblance is uncanny' mean?" Quora, retrieved 2019-07-08 from 
https://www.quora.com/What-does-the-phrase-the-resemblance-is-uncanny-mean
    </font>
    <br/>
    <br/>
    If by "uncanny resemblance" you mean that two things have an amazingly strong 
resemblance then you could use a combination of LOOK-STRONG + 
TERRIBLE-[1h-version / used as an intensifier] + [context].
    <br/>
    <br/>
    If you mean that two things have such a strong resemblance that it seems 
unnatural you might want to add that GOOSEBUMPS sign. See: Goosebumps: https://youtu.be/g16JINNLKpg
    <br/>
    <br/>
    You could match the concept to one of the dozens of other signs that you could 
use to mean "uncanny" (STRANGE, WEIRD, SEEM IMPOSSIBLE, SHOCKED, JAW DROP, 
WHIPLASH, etc.) -- depending on exactly what you mean.
    <br/>
    Consider the difference between:
    <br/>
    1. There is an uncanny resemblance.
    <br/>
    2. The resemblance is uncanny!
    <br/>
    There are many shades of meaning that could include: strong, can't explain it, 
spooky, shocking, etc. Each meaning might best be signed using a different 
combination of signs or different inflections of particular signs.
    <br/>
    <br/>
    See: Intense:  https://youtu.be/iIs-ZMgqy-8
   </p>
   <p>
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p>
    Notes:
    <br/>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1"/>
   <hr align="left" color="#000000" size="1"/>
   <hr align="left" color="#000000" size="1"/>
   <hr color="#000000" size="1"/>
   <p>
   </p>
  </blockquote>
 </body>
</html>