<html>
 <body>
  <blockquote>
   <h1 style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     <span style="font-weight: 400">
      <font size="5">
       American Sign Language: "understand"
      </font>
     </span>
     <br/>
    </font>
   </h1>
   <p>
   </p>
   <hr align="left" color="#000000" size="1" width="50%"/>
   <span style="font-weight: 400">
    Hold your hand up near your forehead. 
		Your index finger is bent and 
  the tip of the index finger is touching the pad of your thumb (your 
  thumbprint).  Then flick your index finger so 
  that it points up.
    <br/>
    <br/>
    UNDERSTAND:
    <p>
     <iframe allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/5N10dIavSYc?rel=0" width="560">
     </iframe>
     <br/>
     <br/>
     Memory aid: Think of a "light bulb" turning on in your head.
    </p>
    <p>
     <img border="0" height="480" src="/images/understand-01.jpg" width="480"/>
     <img border="0" height="480" src="/images/understand-02.jpg" width="480"/>
    </p>
    <p>
    </p>
    <hr/>
    <p>
     DON'T-UNDERSTAND:
     <br/>
     Often students ask me "How do you sign 'don't'?"  I always have to ask 
	them what is
    </p>
   </span>
   the rest of the sentence
   <span style="font-weight: 400">
    in which they want to use the concept 
	of "don't." The reason I need to know the rest of the sentence is because 
	there isn't just "
    <i>
     one
    </i>
    " sign for "don't." There are dozens of ways to express 
	the concept of "don't" in ASL.  Most of the time the concept is 
	"incorporated" into the movement of the sign and the facial expressions or 
	shaking of the head.
    <br/>
    For example, in the sign "don't understand" you express the concept of 
	"don't" by using a negative headshake:
    <br/>
    <br/>
    See:
    <a href="https://www.youtube.com/watch?v=_90JOGT0vfs" target="_blank">
     https://www.youtube.com/watch?v=_90JOGT0vfs
    </a>
    (for a Youtube video clip of 
	don't-UNDERSTAND)
   </span>
   <p>
    <span style="font-weight: 400">
     <br/>
     DON'T UNDERSTAND:
     <br/>
     <iframe allow="autoplay; encrypted-media" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/_90JOGT0vfs?rel=0" width="560">
     </iframe>
     <br/>
    </span>
   </p>
   <hr align="left" color="#000000" size="1" width="50%"/>
   <p>
    <br/>
    Notes:
    <br/>
    Beyond the typical meaning of "comprehend" -- the sign UNDERSTAND can in context 
be used to mean:
    <br/>
    "but"
    <br/>
    "however"
    <br/>
    "but, I want to emphasize that..."
    <br/>
    "please understand that"
    <br/>
    "keep in mind that"
    <br/>
    "get clear on this next point that"
    <br/>
    <br/>
    For example:
    <br/>
    BORROW TRUCK FINE, UNDERSTAND, fs-BACK? GAS FULL!
    <br/>
    (You can borrow my truck but when you bring it back the gas had better be full!)
    <br/>
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1"/>
   <hr align="left" color="#000000" size="1"/>
   <hr color="#000000" size="1"/>
   <p>
   </p>
  </blockquote>
 </body>
</html>