<html>
 <body>
  <blockquote>
   <h1 style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     <span style="font-weight: 400">
      <font size="5">
       American Sign Language: "use"
      </font>
     </span>
     <br/>
    </font>
   </h1>
   <p>
   </p>
   <hr align="left" color="#000000" size="1" width="50%"/>
   <span style="font-weight: 400">
    <p style="margin-top: 0; margin-bottom: 0">
     USE:
    </p>
    <p style="margin-top: 0; margin-bottom: 0">
     <img border="0" height="214" src="/images/use.ht2.jpg" width="206"/>
    </p>
    <p style="margin-top: 0; margin-bottom: 0">
     <iframe allowfullscreen="" frameborder="0" height="315" name="I1" src="https://www.youtube.com/embed/yQScIrYGgaE?rel=0" width="560">
     </iframe>
     <br/>
     <br/>
     This sign "USE" reminds me of the sign "WORK."  Sort of an
  initialized version.  Except I generally do the sign work with palm-side
  of my left hand facing a little more backwards or upwards.
     <br/>
     For the sign "USE," the base of the dominant "U"-hand comes
  down on the back or side of the base "S"-hand.  
  This sign is relatively flexible. For example, if you use a relaxed base-hand instead of an "s" hand--nobody cares.  Heck, half the time
  you just get rid of the left hand altogether and draw two small circles in the
  air with the "U"-hand.
     <br/>
     <br/>
     Sample sentence, "Do you use deodorant?"
     <br/>
     (I get asked this a lot)
     <br/>
     <br/>
     <br/>
     <br/>
     <img border="0" height="214" src="/images/use1.jpg" width="206"/>
     <img border="0" height="214" src="/images/use2.jpg" width="206"/>
     <img border="0" height="214" src="/images/use3.jpg" width="206"/>
     <img border="0" height="214" src="/images/use4.jpg" width="206"/>
     <img border="0" height="214" src="/images/use5.jpg" width="206"/>
     <img border="0" height="214" src="/images/use6.jpg" width="206"/>
     <img border="0" height="214" src="/images/use7.jpg" width="206"/>
     <img border="0" height="214" src="/images/use8.jpg" width="206"/>
     <img border="0" height="214" src="/images/use9.jpg" width="206"/>
     <img border="0" height="214" src="/images/use10.jpg" width="206"/>
    </p>
    <p style="margin-top: 0; margin-bottom: 0">
    </p>
    <p style="margin-top: 0; margin-bottom: 0">
     USE (version):
    </p>
    <p style="margin-top: 0; margin-bottom: 0">
     <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/gvU21ZCewRk?rel=0" width="560">
     </iframe>
     <br/>
     <br/>
     Notes:
     <br/>
     The phrase "
    </p>
   </span>
   use to
   <span style="font-weight: 400">
    " has a couple of 
different interpretations, for example, consider the sentence: "I used to use 
deodorant, but now I'm used to the smell."  (Heh.) The first part ("I used 
to...") would be interpreted as "PAST."  The second part "use deodorant" 
can actually drop the sign "use" because the sign "deodorant" implies rubbing it 
on or "using it." The last part of the sentence ("...I'm used to the smell") 
would be interpreted as "HABIT" which is to say, I've become "accustomed to" the 
smell.
    <br/>
    So the whole sentence would look like: "I PAST DEODORANT, BUT NOW I HABIT 
SMELL."  Of course you would modify the sign "SMELL" with the appropriate 
facial expression, you would also modify the sign HABIT a bit by perhaps 
starting with open lose hands that change into "S" hands as the sign progresses 
downward.
    <br/>
    <hr align="left" color="#000000" size="1" width="50%"/>
    <p style="margin-top: 0; margin-bottom: 0">
     See:
     <a href="/dictionary/habit">
      HABIT
     </a>
    </p>
    <hr align="left" color="#000000" size="1" width="50%"/>
    <p style="margin-top: 0; margin-bottom: 0">
     See:
     <a href="/dictionary/past">
      PAST
     </a>
    </p>
    <hr align="left" color="#000000" size="1" width="50%"/>
    <p style="margin-top: 0; margin-bottom: 0">
     See:
     <a href="/dictionary/work">
      WORK
     </a>
    </p>
    <hr align="left" color="#000000" size="1" width="50%"/>
   </span>
   <p>
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1"/>
   <hr align="left" color="#000000" size="1"/>
   <hr color="#000000" size="1"/>
   <p>
   </p>
  </blockquote>
 </body>
</html>