<html>
 <body>
  <blockquote>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
    <p>
     To express the concept of "Utah" just spell it out quickly.
     <br/>
     <br/>
     UTAH:
    </p>
    <p>
     <img border="0" height="238" src="/images/utah.h28.jpg" width="236"/>
     <img border="0" height="238" src="/images/utah.h29.jpg" width="236"/>
     <img border="0" height="238" src="/images/utah.h30.jpg" width="236"/>
     <img border="0" height="238" src="/images/utah.h31.jpg" width="236"/>
     <br/>
    </p>
    <hr align="left" color="#000000" size="1"/>
    <br/>
    <img border="0" height="107" src="/images/utahlex.gif" width="91"/>
    <br/>
    <hr align="left" color="#000000" size="1"/>
    <p>
     <br/>
     Notes:
     <br/>
     I used to teach an "alternate" version for Utah that consisted of brushing your cheek twice with the fingertips of a "U" handshape. 
	I don't teach or promote that sign any more because the basic fact is most 
	native Deaf adult "Utahans" do NOT use that sign. Rather they tend to spell 
	it. (I know this for a fact because I grew up in Utah). The "U" on the cheek 
	version was "cute" since it was similar to the sign for "Mormon" which uses an "M" handshape 
	and a movement similar to the sign for
     <a href="/dictionary/experience">
      EXPERIENCE
     </a>
     . It was easy to remember and "fun" to teach. But I simply 
	can't recommend it any more. Sorry. I'll show it to you here so you can see 
	what I'm talking about, and recognize it if someone around you uses it but I 
	encourage you to NOT use it yourself. Instead, spell out U-T-A-H.
    </p>
    <p>
     <br/>
     UTAH (initialized version) (
     <b>
      not
     </b>
     recommended)
     <br/>
     <img border="0" height="239" src="/images/utah.h32.jpg" width="195"/>
     <img border="0" height="239" src="/images/utah.h33.jpg" width="195"/>
     <img border="0" height="239" src="/images/utah.h34.jpg" width="195"/>
     <img border="0" height="239" src="/images/utah.h32.jpg" width="195"/>
     <img border="0" height="239" src="/images/utah.h33.jpg" width="195"/>
     <img border="0" height="239" src="/images/utah.h34.jpg" width="195"/>
    </p>
    <p>
    </p>
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>