<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   <p style="margin-top: 0; margin-bottom: 0">
    The sign for "vacation" can also mean "time off from work," break time, 
	holiday, leisure time, and related concepts.
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p style="margin-top: 0; margin-bottom: 0">
    <br/>
    To sign "vacation"
  (lightly) jab your thumbs into your chest an inch or two from your armpits.  If you use a single motion it means "time off" or
  "off work."  If you use a double motion it means an actual
  "vacation" or "period of not working."
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     <br/>
     VACATION:
     <br/>
    </font>
    <img border="0" src="/images/vacation-noun.gif" style="max-width: 100%; height: auto" width="480"/>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <iframe allow="autoplay; encrypted-media" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/V81liG2gQbo?rel=0" width="560">
    </iframe>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <img border="0" height="214" src="/images/vacation1.jpg" width="244"/>
    <img border="0" height="214" src="/images/vacation2.jpg" width="244"/>
    <img border="0" height="214" src="/images/vacation3.jpg" width="244"/>
    <img border="0" height="214" src="/images/vacation4.jpg" width="244"/>
    <img border="0" height="214" src="/images/vacation5.jpg" width="244"/>
    <br/>
    <br/>
    Memory aid:
    <font face="Arial">
     Think of a farmer taking a break or a vacation and sticking his thumbs in 
	his overall's suspenders.
     <br/>
    </font>
    <br/>
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p style="margin-top: 0; margin-bottom: 0">
    <br/>
    A single quick motion means "not working" or
  "time-off."  As in, "I'm
    <b>
     off
    </b>
    this Saturday." 
	"I'm on break."
    <br/>
    <br/>
    <iframe allow="autoplay; encrypted-media" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/T-_FfKOCHIM?rel=0" width="560">
    </iframe>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <img border="0" height="214" src="/images/vacation-timeoff3.jpg" width="275"/>
    <img border="0" height="214" src="/images/vacation-timeoff2.jpg" width="275"/>
    <img border="0" height="214" src="/images/vacation-timeoff1.jpg" width="275"/>
    <img border="0" height="214" src="/images/vacation-timeoff3.jpg" width="275"/>
    <br/>
    <br/>
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     <br/>
     Sample sentence:
     <span style="font-weight: 400">
      Summer 
	vacation, you wake up at what time?
     </span>
    </font>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <br/>
    <iframe allow="autoplay; encrypted-media" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/5w81eZ47WPQ?rel=0" width="560">
    </iframe>
    <br/>
   </p>
   <hr align="left" color="#000000" size="1" width="50%"/>
   <p style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     <br/>
     Notes:
    </font>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     If you do this sign using modified "R" hands (or even "L" hands) it can 
	even mean "retired."
     <br/>
     See:
     <a href="/dictionary/retire" target="_blank">
      RETIRE
     </a>
    </font>
    <br/>
    <br/>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>