<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   <br/>
   <font face="Arial">
    The sign for "VARIOUS" flutters the index finger up and down as you 
			move the hands out to the side.
    <br/>
    <img border="0" height="318" src="/images/shell-53.jpg" width="284"/>
    <img border="0" height="319" src="/images/shell-54.jpg" width="388"/>
    <img border="0" height="319" src="/images/shell-55.jpg" width="388"/>
   </font>
   <p style="margin-top: 0; margin-bottom: 0">
    <br/>
    Note: "various" is a different sign from "varying." "Varying" is a 
			larger movement and uses a a lot more wrist and elbow movement. I 
			need to post a video for "varying." (under construction)
    <br/>
   </p>
   <hr align="left" color="#000000" size="1" width="50%"/>
   <p style="margin-top: 0; margin-bottom: 0">
    Also see
    <a href="/dictionary/etcetera">
     ETCETERA
    </a>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>