<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   <p>
    The sign for vegetable also means "vegetables."
    <br/>
    <br/>
    Here's the way I sign "vegetables."  I just stick the tip of the index 
  finger of a "V" handshape on my cheek and twist my hand twice.  
  The "V" pivots on the tip of the index finger.  The middle finger isn't 
  touching the face.
   </p>
   <p>
    <br/>
    <font face="Arial">
     VEGETABLES:  (Version 1)
    </font>
    <br/>
    <img border="0" height="219" src="/images/vegeta5.jpg" width="219"/>
    <img border="0" height="219" src="/images/vegeta6.jpg" width="219"/>
    <img border="0" height="219" src="/images/vegeta5.jpg" width="219"/>
    <img border="0" height="219" src="/images/vegeta6.jpg" width="219"/>
    <br/>
    I like the twisting version because the twisting movement is similar to the 
	sign for
    <a href="/dictionary/fruit">
     FRUIT
    </a>
    .
    <br/>
   </p>
   <hr align="left" color="#000000" size="1"/>
   <br/>
   Many of my friends sign vegetables this way.  The "V" flips around and 
  faces backward.  First the index finger touches the cheek, then the middle 
  finger.
   <br/>
   <br/>
   <font face="Arial">
    VEGETABLE / VEGETABLES:  (Version 2)
   </font>
   <br/>
   <img border="0" height="218" src="/images/vegeta12.jpg" width="226"/>
   <img border="0" height="218" src="/images/vegeta13.jpg" width="226"/>
   <img border="0" height="218" src="/images/vegeta14.jpg" width="226"/>
   <img border="0" height="218" src="/images/vegeta15.jpg" width="226"/>
   <br/>
   Even though I list this as "Version 2" doesn't mean it is any less 
			popular of a sign. Many people use this "flip" version.
   <br/>
   <p>
    VEGETABLES:  (Version 2:  Animated example)
    <br/>
    <img border="0" height="218" src="/images/vegetableversion2.gif" width="226"/>
    <br/>
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p>
    <br/>
    <font face="Arial">
     Some people just spell the letters "V-E-G."
     <br/>
    </font>
    <br/>
    VEGETABLES:  (Fingerspelled Version)
    <br/>
    <img border="0" height="217" src="/images/vegeta7.jpg" width="205"/>
    <img border="0" height="217" src="/images/vegeta8.jpg" width="205"/>
    <img border="0" height="217" src="/images/vegeta9.jpg" width="205"/>
    <br/>
   </p>
   <p>
    Note: Above I'm showing the letters very clearly, but quite often 
			when spelled at high speed the "e" in "VEG" ends up being done by 
			just bending the index and middle fingers (at the second and third 
			knuckles into a bent-V handshape) and then smoothly twisting into a 
			"G" handshape.  Or you may see VEG done with just two 
			fingertips (index and middle) resting on the thumbnail section of 
			the thumb.
    <br/>
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p>
    <br/>
    Note:  If you do the twist on cheek version of the sign "vegetable" a 
  little lower (on the side of your chin) it can be used to mean "vinegar."  
  This usually isn't a problem during a conversation. I just include it here so 
  you can impress your friends with your knowledge of a sign that isn't well 
  known.
   </p>
   <p>
    <br/>
    See:
    <font face="Arial">
     "
     <a href="/dictionary/vinegar">
      VINEGAR
     </a>
     ."
    </font>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
   <br/>
   VEGETABLE: "listing method"
   <br/>
   An older method of signing "vegetable" consisted of listing off 
			several vegetables. Obviously that is a rather inefficient use of 
			time and movement. However, I still get questions from online 
			students about their local instructor having told them that the 
			"true ASL" or "pure" method of signing "vegetable" is to list off a 
			few vegetables.  Hmmm...I'd say that is the "old" method -- not 
			the "pure" method.  On the other hand (heh) language sometimes 
			evovles in a circular fashion and it is quite possible that this 
			"older" method will make a comeback due to the ongoing backlash 
			against the use of "initialization" in ASL.
   <br/>
   <br/>
   See:
   <a href="/dictionary/academic-diglossia-asl">
    Academic Diglossia
   </a>
   <p>
    <br/>
    <font face="Arial">
    </font>
   </p>
   <hr align="left" color="#000000" size="1"/>
  </blockquote>
 </body>
</html>