<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   <p style="margin-top: 0; margin-bottom: 0">
    The sign for VET
    <span style="font-weight: 400">
     <font face="Arial">
      is generally just fingerspelled:
      <br/>
      <img height="100" src="/images/v_small.gif" width="100"/>
      <img height="100" src="/images/e_small.gif" width="100"/>
      <img height="100" src="/images/t_small.gif" width="100"/>
      <br/>
      <br/>
     </font>
     <img border="0" height="209" src="/images/vet.ht1.jpg" width="191"/>
     <img border="0" height="209" src="/images/vet.ht2.jpg" width="191"/>
     <img border="0" height="209" src="/images/vet.ht3.jpg" width="191"/>
     <br/>
     <br/>
     Sample video:
     <font face="Arial">
      <a href="/dictionary/suppose-your-dog-sick-you-take-it-to-the-vet" style="text-decoration: none" target="_blank">
       SUPPOSE YOUR DOG SICK, YOU CARRY VET?
      </a>
     </font>
     <br/>
     <br/>
     Signing note: I notice that at high speed the letter "E" in the 
	fingerspelled sign "VET" tends to mutate into two bent fingers resting on 
	the thumb (since you recently used those two fingers to do the letter "V").
     <br/>
    </span>
   </p>
   <hr align="left" color="#000000" size="1"/>
   <span style="font-weight: 400">
    Or, if needed for context, you could sign "
    <a href="/dictionary/animal" style="text-decoration: none">
     ANIMAL
    </a>
    +
    <a href="/dictionary/doctor">
     DOCTOR
    </a>
    " the first time and 
	from then on spell V-E-T
   </span>
   <hr align="left" color="#000000" size="1"/>
   <p>
    <span style="font-weight: 400">
     <br/>
     A student asked me if this spelling "V-E-T" could be used for "vet" as in a
     <a href="/dictionary/veteran" style="text-decoration: none">
      military 
  veteran
     </a>
     .
     <br/>
     Yes, it can. You just have to remember "context." If it were me, the first 
	time around I'd sign, "HE
     <a href="/dictionary/army" style="text-decoration: none">
      ARMY
     </a>
     BEFORE HE" to 
  indicate that he was in the military.
     <br/>
    </span>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <span style="font-weight: 400">
     <font face="Arial">
      Also 
	see:
      <a href="/dictionary/veteran">
       VETERAN ►
      </a>
     </font>
    </span>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <br/>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>