<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1" width="50%"/>
   <p style="margin-top: 0; margin-bottom: 0">
    <span style="font-weight: 400">
     <font face="Arial">
      The most common way to 
		sign "video phone" is to simply spell VP:
     </font>
    </span>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <br/>
    <font face="Arial">
     <img alt="v.gif (197603 bytes)" border="2" height="100" src="/images/v_small.gif" width="100" xthumbnail-orig-image="../../fingerspelling/abc-gifs/v.gif"/>
     <img alt="p.gif (153349 bytes)" border="2" height="100" src="/images/p_small.gif" width="100" xthumbnail-orig-image="../../fingerspelling/abc-gifs/p.gif"/>
    </font>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1" width="50%"/>
   <p style="margin-top: 0; margin-bottom: 0">
    <span style="font-weight: 400">
     <br/>
     Another way to sign "video-phone" is based on the idea of two cameras 
		facing opposite directions, actively recording.  This version is 
		also sometimes used to mean "video-relay" as in a video relay 
		interpreting service (such as "Sorenson" or "Purple Communications") 
		that Deaf people use to call Hearing people.
     <br/>
     <br/>
     VIDEO-PHONE (video relay)
     <br/>
    </span>
    <span style="font-weight: 400">
     <font face="Arial">
      <p style="margin-top: 0; margin-bottom: 0">
       :
       <br/>
      </p>
      <p align="left" style="margin-top: 0; margin-bottom: 0">
      </p>
      <hr align="left" color="#000000" size="1" width="50%"/>
      <p style="margin-top: 0; margin-bottom: 0">
       Also see:
       <a href="/dictionary/video-game">
        VIDEO-GAME
       </a>
      </p>
      <hr align="left" color="#000000" size="1" width="50%"/>
      <p style="margin-top: 0; margin-bottom: 0">
       Also see:
       <a href="/dictionary/video-record">
        VIDEO-RECORD
       </a>
      </p>
      <hr align="left" color="#000000" size="1" width="50%"/>
      <p style="margin-top: 0; margin-bottom: 0">
       Also see:
       <a href="/dictionary/videotape">
        VIDEO-TAPE
       </a>
      </p>
      <hr align="left" color="#000000" size="1" width="50%"/>
      <p style="margin-top: 0; margin-bottom: 0">
       Also see:
       <a href="/dictionary/webcam">
        WEBCAM
       </a>
      </p>
      <hr align="left" color="#000000" size="1" width="50%"/>
     </font>
    </span>
   </p>
  </blockquote>
 </body>
</html>