<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   <p>
    There is no one specific widely accepted single sign for "violence."
    <br/>
    <br/>
    I notice that my interpreters (in the Sacramento, California region) 
			tend to fingerspell DV to mean "domestic violence."
    <font face="Arial">
     <br/>
     <img height="100" src="/images/d_small.gif" width="100"/>
     <img height="100" src="/images/v_small.gif" width="100"/>
    </font>
   </p>
   <font face="Arial">
    <hr/>
   </font>
   <p>
    <br/>
    <font face="Arial">
     If I were to pick one sign that I see used most 
			often to represent the general concept of "violence" it would be the 
			sign for "
     <b>
      terrible
     </b>
     ." (This is the sign I use.)
     <br/>
    </font>
   </p>
   <font face="Arial">
    <p>
     TERRIBLE:
     <br/>
     <img border="0" height="300" src="/images/terrible-01.jpg" width="438"/>
     <img border="0" height="300" src="/images/terrible-02.jpg" width="440"/>
    </p>
    <p>
    </p>
    <hr/>
   </font>
   <p>
    <br/>
    Below I will show you some other signs that 
	are commonly used to mean "violence."
    <br/>
    The top three are "abuse, assault, and fight."
    <br/>
   </p>
   <p>
    ABUSE
   </p>
   <p>
   </p>
   <hr/>
   <p>
    ASSAULT
   </p>
   <p>
   </p>
   <hr/>
   <p>
    FIGHT:
    <br/>
   </p>
   <hr/>
   <p>
    CRUEL
   </p>
   <p>
   </p>
   <hr/>
   <p>
    MEAN!
    <br/>
   </p>
   <hr/>
   <br/>
   General "destruction" can be expressed via the sign for: DESTROY
   <p>
    <img border="0" height="212" src="/images/destroy.gif" width="264"/>
   </p>
   <p>
    DESTROY
   </p>
   <p>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <br/>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>