<html>
 <body>
  <blockquote>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
    <p>
     To sign "visit," form both hands into "V" handshapes. Move the hands in circles: up, 
  forward, down, and back.  Both hands move at the same time.  When 
  the right hand is forward the left hand is back. When the right hand is up, 
  the left hand is down.
     <br/>
     <br/>
     VISIT:
    </p>
    <p>
     <img border="0" height="239" src="/images/visit.gif" width="266"/>
     <img border="0" height="239" src="/images/visit.45.jpg" width="266"/>
    </p>
    <p>
    </p>
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>