<html>
 <body>
  <blockquote>
   <p>
    <span style="font-weight: 400">
     VOLLEYBALL:
     <br/>
     Variation 1 (
     <b>
      <span style="background-color: #FFFF00">
       recommended version
      </span>
     </b>
     )
	Hold your hands up with the middle fingers touching the thumbs. Thrust your 
	hands forward and upward while changing your handshape to "flat hands" or 
	"five hands." Repeat.
     <br/>
     <br/>
     <br/>
     <img border="0" height="240" src="/images/volleyball1.jpg" width="300"/>
     <img border="0" height="240" src="/images/volleyball2.jpg" width="300"/>
     <br/>
     <img border="0" height="240" src="/images/volleyball1.jpg" width="300"/>
     <img border="0" height="240" src="/images/volleyball2.jpg" width="300"/>
     <br/>
     <br/>
     Start with this:
     <br/>
     <img border="0" height="222" src="/images/8.jpg" width="189"/>
     ,
     <br/>
     Change to this:
     <br/>
     <img border="0" height="222" src="/images/5.jpg" width="251"/>
     (or a loose 4 hand).
    </span>
   </p>
   <font color="#330066" face="Arial" size="2">
    <span style="font-weight: 400">
     <hr color="#000000" size="1"/>
    </span>
   </font>
   <p>
    <span style="font-weight: 400">
     VOLLEYBALL:
	Variation 2:
     <br/>
     In this version, instead of using the "8" handshape and changing to the flat 
	hand, just use flat hands and slap forward in the air twice.
     <br/>
     <img border="0" height="239" src="/images/volley1.jpg" width="253"/>
     <img border="0" height="239" src="/images/volley2.jpg" width="253"/>
     <img border="0" height="239" src="/images/volley1.jpg" width="253"/>
     <img border="0" height="239" src="/images/volley2.jpg" width="253"/>
    </span>
   </p>
   <font color="#330066" face="Arial" size="2">
    <span style="font-weight: 400">
     <hr color="#000000" size="1"/>
    </span>
   </font>
   <span style="font-weight: 400">
    <br/>
    Volleyball:  ("I'm no crook" version)
    <br/>
    [That 
	joke is
    <i>
     not
    </i>
    for young people.  If you didn't get the joke, be
    <i>
     grateful
    </i>
    . (Google: Nixon)]
    <br/>
    Initialized with a "V" handshape.
    <br/>
    Thrust your "V" handshapes into the air twice.
   </span>
   <p>
    <span style="font-weight: 400">
     VOLLEYBALL (Version 3)  (
     <span style="background-color: #FFFF00">
      Not 
	recommended.
     </span>
     Considered to be English)
     <br/>
     <img border="0" height="238" src="/images/volley3.jpg" width="231"/>
     <img border="0" height="238" src="/images/volley4.jpg" width="231"/>
     <img border="0" height="238" src="/images/volley5.jpg" width="231"/>
     <img border="0" height="238" src="/images/volley6.jpg" width="231"/>
     <br/>
     <br/>
     <img border="0" height="359" src="/images/nixon-v-hands.gif" width="421"/>
     (Former President Richard Nixon)
     <br/>
     <font size="1">
      Source:
     </font>
    </span>
    <font size="1">
     Arnold Sachs
    </font>
    <span style="font-weight: 400">
     <font size="1">
      http://abcnews.go.com/Politics/richard-nixon-im-crook-deceitful-politicians/story?id=17684873
     </font>
    </span>
   </p>
   <hr color="#000000" size="1"/>
   <p>
    Notes:
    <br/>
    <br/>
    My wife, Belinda, can't stand ANY of the above versions.  She uses a version 
  that changes from loose "S" hands into "3" hands.
    <br/>
    (Note: 
	Despite her many amazing qualities, my wife is only
    <i>
     so-so
    </i>
    at playing 
	volleyball.)
    <br/>
    <br/>
    Connie Rubery, an old friend of mine, (who can
    <i>
     cream
    </i>
    most people in volleyball) used to 
  sign (and I believe still does) "volleyball" with the "8-handshape" into "5-handshape" version. (The version that I
    <i>
     recommend
    </i>
    .)  Hmmmm.
   </p>
  </blockquote>
 </body>
</html>