<html>
 <body>
  <blockquote>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
    <p>
     The sign for "vomit" is often used to mean "distaste 
			for" or "strong dislike."  It can be used as the equivalent of 
			the English phrase, "That makes me want to gag."  Of course, 
			this sign is also perfect for those times when you really do need to 
			discuss "vomiting" -- such as when someone has the flu or some such 
			ailment.
    </p>
    <p>
     <br/>
     VOMIT:
    </p>
    <p>
     <img border="0" height="238" src="/images/vomit.7.jpg" width="300"/>
     <img border="0" height="238" src="/images/vomit.8.jpg" width="300"/>
     <img border="0" height="238" src="/images/vomit.9.jpg" width="300"/>
    </p>
    <p>
    </p>
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>