<html>
 <body>
  <blockquote>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
    <p>
     The sign for "vote" looks like you are sticking a small 
			piece of paper into a slot. Think of casting a ballot into a box.
     <br/>
    </p>
    <p>
     <br/>
     Form your right hand into an "F" handshape.  Form your left hand into an 
  "O" handshape. Stick the tip of the thumb and the index finger into the "O." 
  Use a quick downward movement.
     <br/>
     <br/>
     VOTE:
    </p>
    <p>
     <img border="0" height="239" src="/images/vote.h19.jpg" width="267"/>
     <img border="0" height="239" src="/images/vote.h20.jpg" width="267"/>
    </p>
    <p>
    </p>
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>