<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   <img border="0" height="320" src="/images/waist.8.jpg" width="365"/>
   <img border="0" height="320" src="/images/waist.9.jpg" width="365"/>
   <br/>
   <p style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1" width="50%"/>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>