<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   <p style="margin-top: 0; margin-bottom: 0">
    The sign for "walk" has a number of variations.
    <font face="Arial">
     <hr align="left" color="#000000" size="1"/>
     <p style="margin-top: 0; margin-bottom: 0">
      <br/>
      To do the general sign for "walk," hold your flat hands in front of you and 
  move them as if they were feet in the process of walking.  Variation:  
  Some people use "3" handshapes instead of "flat hands."
     </p>
     <br/>
     WALK:
     <br/>
     <iframe allow="autoplay; encrypted-media" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/5iv2XtBzogU?rel=0" width="560">
     </iframe>
     <br/>
     <img border="0" src="/images/walk-general.gif" style="max-width: 100%; height: auto" width="480"/>
     <img border="0" height="213" src="/images/walk.h1.jpg" width="220"/>
     <img border="0" height="213" src="/images/walk.h2.jpg" width="220"/>
     <img border="0" height="213" src="/images/walk.h3.jpg" width="220"/>
     <img border="0" height="213" src="/images/walk.h4.jpg" width="220"/>
     <br/>
     <a href="/images/walk.gif">
      Click here for another animation of:  
	WALK
     </a>
     (.gif file)
    </font>
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p>
    WALK / HIKE:
    <br/>
    This version is the same as the previous version except it uses "3 
	handshapes."
    <br/>
    Some people use this version to mean "hiking."
   </p>
   <p>
    <iframe allow="autoplay; encrypted-media" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/xyAZKJHPG3c?rel=0" width="560">
    </iframe>
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p>
    Classifier 1 version:
    <br/>
    WALK:  "CL:1 version" (Classifier)
    <br/>
    <iframe allow="autoplay; encrypted-media" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/d8v3pe1e1Oo?rel=0" width="560">
    </iframe>
   </p>
   <p>
    <img border="0" height="215" src="/images/walk.h38.jpg" width="243"/>
    <img border="0" height="215" src="/images/walk.h39.jpg" width="243"/>
    <img border="0" height="215" src="/images/walk.h40.jpg" width="243"/>
    <img border="0" height="215" src="/images/walk.h41.jpg" width="243"/>
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p>
    WALK-TO (version 1)  (Walk: CL:V version) (Classifier)
   </p>
   <p>
    <iframe allow="autoplay; encrypted-media" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/B36qDOOtm20?rel=0" width="560">
    </iframe>
    <img border="0" height="227" src="/images/walkto1.jpg" width="244"/>
    <img border="0" height="227" src="/images/walkto2.jpg" width="244"/>
    <img border="0" height="227" src="/images/walkto3.jpg" width="244"/>
    <img border="0" height="227" src="/images/walkto4.jpg" width="244"/>
    <img border="0" height="227" src="/images/walkto5.jpg" width="244"/>
    <img border="0" height="227" src="/images/walkto6.jpg" width="244"/>
    <br/>
   </p>
   <hr color="#800080"/>
   <p>
    WALK-to (version) =
  WALK-"stroll"
    <br/>
    You don't need to know this version for beginning level ASL classes.  I'm just showing it 
	to you to let you know it exists.
    <br/>
    I use this version in stories or narratives when I want to say something 
	like "I was walking..." or "I walked along for a while..."
    <br/>
    <br/>
    <iframe allow="autoplay; encrypted-media" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/UqEhwKsOuA8?rel=0" width="560">
    </iframe>
   </p>
   <p>
    <img border="0" src="/images/walk-cl-stroll.gif" style="max-width: 100%; height: auto" width="480"/>
    <br/>
    <br/>
    Also see:
    <a href="/dictionary/walk-to">
     WALK-to (version 2)
    </a>
   </p>
   <hr align="left" color="#000000" size="1"/>
  </blockquote>
 </body>
</html>