<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   <p>
    <br/>
    To sign "wall" just hold flat hands (palms out, fingertips up) in front of 
	you and slide your hands apart (to the side) as if showing the smoothness of the wall.
   </p>
   <p>
    <br/>
    WALL:
    <br/>
    <img border="0" height="219" src="/images/wall.h4.jpg" width="288"/>
    <img border="0" height="219" src="/images/wall.h5.jpg" width="288"/>
    <img border="0" height="219" src="/images/wall.h6.jpg" width="288"/>
    <img border="0" height="219" src="/images/wall.h7.jpg" width="288"/>
   </p>
   <hr align="left" color="#000000" size="1" width="50%"/>
   <p style="margin-top: 0; margin-bottom: 0">
    Also see: "
    <a href="/dictionary/clb">
     Classifier: 
			B
    </a>
    "
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>