<html>
 <body>
  <blockquote>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
    <p>
     WARN / ADMONISH:
     <br/>
     Lightly slap the top of your non-dominant hand twice.
     <br/>
     The non-dominant hand can be either a fist or just a flat hand.
    </p>
    <p>
     <img border="0" height="227" src="/images/warn.h19.jpg" width="233"/>
     <img border="0" height="227" src="/images/warn.h20.jpg" width="233"/>
     <img border="0" height="227" src="/images/warn.h21.jpg" width="233"/>
     <img border="0" height="227" src="/images/warn.h19.jpg" width="233"/>
     <img border="0" height="227" src="/images/warn.h20.jpg" width="233"/>
     <img border="0" height="227" src="/images/warn.h21.jpg" width="233"/>
    </p>
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>