<html>
 <body>
  <blockquote>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
    <p>
     The sign for "Washington" uses a "W" from the shoulder.
     <br/>
    </p>
    <p>
     Washington: Hold a "W" hand near your right shoulder and bring the hand 
  straight forward.
    </p>
    <p>
     <img border="0" height="236" src="/images/washin35.jpg" width="224"/>
     <img border="0" height="236" src="/images/washin36.jpg" width="224"/>
     <img border="0" height="236" src="/images/washin37.jpg" width="224"/>
     <img border="0" height="236" src="/images/washin38.jpg" width="224"/>
    </p>
    <hr align="left" color="#000000" size="1" width="33%"/>
    <p>
     <font face="Arial" size="1">
      <br/>
      (Model: Byron Cantrell)
      <br/>
     </font>
    </p>
    <hr align="left" color="#000000" size="1" width="33%"/>
    <p>
     <font face="Arial" size="1">
      <br/>
     </font>
     Washington "State"
     <br/>
     If you need to specify that you are talking about "Washington state" (and not 
DC) you can add the "STATE" sign:
     <br/>
     <br/>
     <font face="Arial" size="1">
      (Model: Byron Cantrell)
      <br/>
     </font>
    </p>
    <hr align="left" color="#000000" size="1"/>
    <br/>
    Washington DC:
    <br/>
    Add a "D C" to the end of the sign "Washington."
    <p>
     <img border="0" height="237" src="/images/washin39.jpg" width="232"/>
     <img border="0" height="237" src="/images/washin40.jpg" width="232"/>
     <img border="0" height="237" src="/images/washin41.jpg" width="232"/>
     <img border="0" height="237" src="/images/washin42.jpg" width="232"/>
    </p>
    <hr align="left" color="#000000" size="1" width="33%"/>
    <p>
     <br/>
     <font face="Arial" size="1">
      (Model: Byron Cantrell)
      <br/>
     </font>
    </p>
    <hr align="left" color="#000000" size="1" width="50%"/>
    <p>
     Also see:
     <a href="/dictionary/boss">
      BOSS
     </a>
    </p>
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>