<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   <p style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     <img align="right" height="134" src="/images/wash.gif" width="150"/>
     The 
	right sign for "wash" depends on your concept.
     <br/>
     <br/>
     The general sign for "wash" is
made by closing both hands into "A" hands with your dominant hand on top.
Make a circular "scrubbing" movement with the hand that is on top--as if washing 
something. The hand on the bottom doesn't move.
    </font>
    <br/>
    <font face="Arial">
     <br/>
     WASH (general sign)
     <br/>
     <iframe allow="autoplay; encrypted-media" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/Whiibgq84LY?rel=0" width="560">
     </iframe>
    </font>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     <img border="0" height="224" src="/images/wash1.jpg" width="230"/>
     <img border="0" height="224" src="/images/wash2.jpg" width="230"/>
     <img border="0" height="224" src="/images/wash3.jpg" width="230"/>
     <img border="0" height="224" src="/images/wash4.jpg" width="230"/>
     <img border="0" height="224" src="/images/wash5.jpg" width="230"/>
     <img border="0" height="224" src="/images/wash6.jpg" width="230"/>
     <img border="0" height="224" src="/images/wash7.jpg" width="230"/>
     <br/>
     <br/>
     <hr color="#800080"/>
     <p>
      Wash a car or a wall:
      <br/>
      <br/>
      <img border="0" height="227" src="/images/washcar1.jpg" width="266"/>
      <img border="0" height="227" src="/images/washcar2.jpg" width="266"/>
      <img border="0" height="227" src="/images/washcar3.jpg" width="266"/>
      <img border="0" height="227" src="/images/washcar4.jpg" width="266"/>
      <img border="0" height="227" src="/images/washcar5.jpg" width="266"/>
      <img border="0" height="227" src="/images/washcar6.jpg" width="266"/>
      <img border="0" height="227" src="/images/washcar7.jpg" width="266"/>
      <br/>
      <br/>
      Memory aid:  "Wax on, wax off." Good thing you learned this sign, now you 
can defend yourself.
      <br/>
      (If you don't get that joke, watch the ORIGINAL Karate Kid.  Yes, I'm
      <i>
       that
      </i>
      old.)
     </p>
     <hr color="#800080"/>
     <p>
      Wash a dish:
      <br/>
      The dominant hand moves in a circle. The non-dominant hand represents the dish being washed.
      <br/>
      <img border="0" height="228" src="/images/washdish1.jpg" width="238"/>
      <img border="0" height="228" src="/images/washdish2.jpg" width="238"/>
      <img border="0" height="228" src="/images/washdish3.jpg" width="238"/>
      <img border="0" height="228" src="/images/washdish4.jpg" width="238"/>
      <img border="0" height="228" src="/images/washdish5.jpg" width="238"/>
      <img border="0" height="228" src="/images/washdish6.jpg" width="238"/>
      <br/>
     </p>
     <hr color="#800080"/>
     <p>
      Wash a load of laundry (clothes), or a "washing machine."  
Both hands twist, return to their starting point and twist again. Think of 
loosening a jar, tightening it, and loosening it again.
      <br/>
      <iframe allow="autoplay; encrypted-media" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/m8FIqLT7DcI?rel=0" width="560">
      </iframe>
     </p>
     <p>
      <img border="0" height="226" src="/images/washingmachine1.jpg" width="214"/>
      <img border="0" height="226" src="/images/washingmachine2.jpg" width="214"/>
      <img border="0" height="226" src="/images/washingmachine3.jpg" width="214"/>
      <img border="0" height="226" src="/images/washingmachine4.jpg" width="214"/>
     </p>
     <hr align="left" color="#000000" size="1"/>
     <p>
      Note:
      <br/>
      The sign DIGEST is similar to the general version of the sign for WASH 
	except that DIGEST tends to be done somewhat lower and more near the 
	stomach.
     </p>
     <hr align="left" color="#000000" size="1"/>
    </font>
   </p>
  </blockquote>
 </body>
</html>