<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   <p style="margin-top: 0; margin-bottom: 9">
    <br/>
    Realistically, the actual concept 
  of "fountain" is very rarely signed.  Most often we simply ask "
    <font face="Arial">
     WATER,
    </font>
    WHERE?"  Or "I/me THIRSTY, WATER WHERE?"  And the other person tells us where.
    <br/>
    <font face="Arial">
     <br/>
     But if you do need to express the concept of a "drinking fountain" you sign 
	WATER and then mime the use of a fountain.
    </font>
   </p>
   <p style="margin-top: 0; margin-bottom: 9">
    <br/>
    DRINKING-FOUNTAIN:
   </p>
   <p style="margin-top: 0; margin-bottom: 9">
    <img border="0" height="218" src="/images/water-16.jpg" width="218"/>
    <img border="0" height="218" src="/images/water-17.jpg" width="218"/>
    <img border="0" height="218" src="/images/water-18.jpg" width="218"/>
    <br/>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    Notes:
    <br/>
    <font face="Arial">
     Years back most fountains had knobs. Then after 
			the Americans With Disabilities Act was passed fountains started 
			being built with surfaces that you press on (thus making the 
			fountain easier to use if your hands can't grip or turn knobs).
     <br/>
    </font>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     See:
     <a href="/dictionary/thirsty">
      THIRSTY
     </a>
     <br/>
    </font>
    <br/>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>