<html>
 <body>
  <blockquote>
   <h1 style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     <span style="font-weight: 400">
      <font size="5">
       American Sign Language:
      </font>
     </span>
     <font size="5">
      <span style="font-weight: 400">
       "we"
      </span>
     </font>
     <br/>
    </font>
   </h1>
   <blockquote>
    <hr align="left" color="#000000" size="1" width="50%"/>
    <p style="margin-top: 0; margin-bottom: 0">
     <span style="font-weight: 400">
      WE:
     </span>
    </p>
    <p style="margin-top: 0; margin-bottom: 0">
     <img border="0" height="320" src="/images/we-01-small.jpg" width="320"/>
     <img border="0" height="320" src="/images/we-02-small.jpg" width="320"/>
    </p>
    <p>
     <iframe allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/DJU9Vnthfqk?rel=0" width="560">
     </iframe>
    </p>
    <span style="font-weight: 400">
     <p align="left" style="margin-top: 0; margin-bottom: 0">
     </p>
     <hr align="left" color="#000000" size="1" width="50%"/>
     <p align="left" style="margin-top: 0; margin-bottom: 0">
      <br/>
      Also see:
      <a href="/dictionary/you">
       YOU
      </a>
     </p>
    </span>
   </blockquote>
   <hr align="left" color="#000000" size="1"/>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1"/>
   <hr align="left" color="#000000" size="1"/>
   <hr color="#000000" size="1"/>
   <p>
   </p>
  </blockquote>
 </body>
</html>