<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   <p style="margin-top: 0; margin-bottom: 0">
    The sign for "weak" places the fingertips of the dominant hand on 
the palm of the non-dominant hand and then bends the knuckles twice.
    <font face="Arial">
     Since I'm right handed, my left hand stays still. My right hand moves 
down, up, down.
    </font>
    <br/>
    Memory Aid:
Think of being "weak in the knees."
    <br/>
   </p>
   <p>
    <br/>
    WEAK:
   </p>
   <p>
    <img border="0" height="226" src="/images/weak1.jpg" width="221"/>
    <img border="0" height="226" src="/images/weak4.jpg" width="221"/>
    <font face="Arial">
     <img border="0" height="226" src="/images/weak1.jpg" width="221"/>
     <img border="0" height="226" src="/images/weak4.jpg" width="221"/>
     <br/>
    </font>
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p>
    Tip: I do NOT recommend doing this sign on your
    <i>
     forehead
    </i>
    and then 
pointing at your instructor nor your spouse.
   </p>
  </blockquote>
 </body>
</html>