<html>
 <body>
  <blockquote>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
    <p>
     The sign for "wear-out" starts with palm-up "S" hands 
			which move forward and change into loose hands.  Use an 
			appropriate facial expression to match the meaning of the sign.
    </p>
    <p>
     <br/>
     WEAR-OUT:
     <br/>
     <img border="0" height="221" src="/images/wear-o21.jpg" width="178"/>
     <img border="0" height="221" src="/images/wear-o22.jpg" width="178"/>
     <img border="0" height="221" src="/images/wear-o23.jpg" width="178"/>
    </p>
    <hr align="left" color="#000000" size="1" width="50%"/>
    <p>
     <img border="0" height="221" src="/images/wearout.gif" width="178"/>
    </p>
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>