<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   <p style="margin-top: 0; margin-bottom: 0">
    The sign for "weather" has a few popular versions.
    <br/>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    The main version uses "W" hands and moves them both downward using a wavy 
movement. In a way, this is actually an initialized version of the signs for 
"snow" and "rain" which also both move downward.
    <br/>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <br/>
    WEATHER:
    <br/>
    Use a wavy downward movement.
    <br/>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <img border="0" height="216" src="/images/weather1.jpg" width="249"/>
    <img border="0" height="216" src="/images/weather2.jpg" width="249"/>
    <img border="0" height="216" src="/images/weather3.jpg" width="249"/>
    <img border="0" height="216" src="/images/weather4.jpg" width="249"/>
    <img border="0" height="216" src="/images/weather5.jpg" width="249"/>
    <font face="Arial">
     <br/>
     <br/>
     Sample sentence:
Do you like hot weather?
     <br/>
     <br/>
     <br/>
    </font>
    <br/>
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p style="margin-top: 0; margin-bottom: 0">
    <br/>
    Here is another version of weather.  It means the same as the two
handed version.
    <br/>
    Use a wavy downward movement.
    <br/>
    <br/>
    <img border="0" height="215" src="/images/weatherb1.jpg" width="217"/>
    <img border="0" height="215" src="/images/weatherb2.jpg" width="217"/>
    <img border="0" height="215" src="/images/weatherb3.jpg" width="217"/>
    <img border="0" height="215" src="/images/weatherb4.jpg" width="217"/>
    <img border="0" height="215" src="/images/weatherb5.jpg" width="217"/>
    <br/>
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p style="margin-top: 0; margin-bottom: 0">
    WEATHER: (version 3)
   </p>
   <blockquote>
    <p style="margin-top: 0; margin-bottom: 0">
     <font face="Arial">
      In a message dated 10/5/2007 7:51:28 A.M. Pacific 
Daylight Time, mtew@ writes:
      <br/>
      Hi again!! I know you have a lot of email that you must go through, but 
I just thought I would add something. My daughter and I down here in 
Florida learned the sign for weather as two "W"-handshapes, facing each 
other, and then you twist them around each other, like the sign for 
change. I also found this in an old "Joy of Signing" book. Is this ok to 
use, or is it an older sign? Thank you, and I hope you have a great 
weekend!!
      <br/>
      -- Monica Tew
      <br/>
      <font size="1">
       Library Clerk, Children’s Programming
       <br/>
       Middleburg-Clay Hill Public Library, 2245 Aster Avenue, Middleburg, FL 
32068
      </font>
      <br/>
      <br/>
      <br/>
      Monica,
      <br/>
      I consider the "change" version of "weather" to be one of the top 3 
versions of "weather." It is a very good sign.
I'd rank it as my "third" choice, but it is a solid sign that I'd defend 
as being just as good as any other choice. So if more people in a 
certain region are using that version than another version, I'd 
certainly go with that version.  One thing I'd caution you about 
though is that the version you are talking about generally doesn't twist 
the hands "around" each other, rather you just hold the pinkie and thumb 
of one hand near the pinkie and thumb of the other hand and use two 
small twisting movements.
      <br/>
      Cordially,
      <br/>
      Dr. Bill
     </font>
    </p>
    <p style="margin-top: 0; margin-bottom: 0">
    </p>
    <p style="margin-top: 0; margin-bottom: 0">
     [Need to post video]
    </p>
   </blockquote>
   <hr align="left" color="#000000" size="1"/>
   <p style="margin-top: 0; margin-bottom: 0">
    <br/>
    Notes:
    <br/>
    <font face="Arial">
     It isn't as common, but on occasion I'll notice someone using the sign for "wind"
to mean "weather."  I don't recommend doing that. "WIND" is a fine sign 
and great to use for referring to movement of "air" but I just don't see a 
reason to use it as the sign for weather.
     <br/>
    </font>
    <br/>
    WIND:
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <img border="0" height="222" src="/images/wind1.jpg" width="320"/>
    <img border="0" height="222" src="/images/wind2.jpg" width="320"/>
    <img border="0" height="222" src="/images/wind3.jpg" width="320"/>
    <img border="0" height="222" src="/images/wind4.jpg" width="320"/>
    <img border="0" height="222" src="/images/wind5.jpg" width="320"/>
    <br/>
   </p>
   <hr align="left" color="#000000" size="1" width="50%"/>
   <p style="margin-top: 0; margin-bottom: 0">
    See:
    <a href="/dictionary/wind">
     WIND
    </a>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1" width="50%"/>
    <p style="margin-top: 0; margin-bottom: 0">
     <br/>
    </p>
    <font face="Arial">
     <hr align="left" color="#000000" size="1"/>
    </font>
   </font>
  </blockquote>
 </body>
</html>