<html>
 <body>
  <blockquote>
   <h1 style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     <font size="5">
      <span style="font-weight: 400">
       American Sign Language: 
		"web cam"
      </span>
     </font>
     <br/>
    </font>
   </h1>
   <p>
   </p>
   <hr align="left" color="#000000" size="1" width="50%"/>
   <span style="font-weight: 400">
    <p style="margin-top: 0; margin-bottom: 0">
     There are a few different ways to sign the concept of a "webcam."  In 
general the idea is to show the video recording process.  Typically a 
webcam is used by a person to record themselves for broadcasting to the web, so a 
common sign for webcam is to show a backward facing video recorder actively 
recording yourself.
     <br/>
     <br/>
     WEB-CAM:
     <br/>
     <br/>
    </p>
    <p style="margin-top: 0; margin-bottom: 0">
    </p>
    <p style="margin-top: 0; margin-bottom: 0">
     Sample sentence:
    </p>
    <p style="margin-top: 0; margin-bottom: 0">
     YOUR COMPUTER HAVE WEB-CAM?
    </p>
    <p style="margin-top: 0; margin-bottom: 0">
     <iframe allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/c6fmhkAnpnA?rel=0" width="560">
     </iframe>
     <br/>
     <br/>
     Also see:
     <a href="/dictionary/video-record" style="text-decoration: none">
      VIDEO-RECORD
     </a>
    </p>
   </span>
   <p style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1"/>
   <span style="font-weight: 400">
    <p style="margin-top: 0; margin-bottom: 0">
     <br/>
     If you need to clarify that it is a "web" cam, you can use the sign for WEB or "Website." 
When asking someone if they have a webpage or if something is "on the web" or 
"what is the website?" - what I typically do is I sign the letter 
W twice, with an arc. This sign is like signing WWW except you just 
do "WW" and it seems to fill the role of the concept of the English word 
"website."  The sign for "web" (as in the world wide web) 
actually ends up looking a lot like the number "66."
    </p>
   </span>
   <span style="font-weight: 400">
    <p style="margin-top: 0; margin-bottom: 0">
    </p>
   </span>
   <p style="margin-top: 0; margin-bottom: 0">
    <span style="font-weight: 400">
     See: "
     <a href="/dictionary/www" style="text-decoration: none">
      World Wide Web
     </a>
     "
    </span>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1"/>
   <hr color="#000000" size="1"/>
   <p>
   </p>
  </blockquote>
 </body>
</html>