<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   <span style="font-weight: 400">
    <font face="Arial">
     <p style="margin-top: 0; margin-bottom: 0">
      To sign "weekend" you use a 
combination of the signs "week" and "end." 
There are a couple of "right ways" to sign it.
      <br/>
      Some folks use both hands in "flat" handshapes. Some folks initialize it.
     </p>
     <hr align="left" color="#000000" size="1"/>
     <p style="margin-top: 0; margin-bottom: 0">
      <br/>
      Here is how I do it.  I use a modified version of week by sliding my 
	index finger across the top of my flat hand. Then I change the index finger 
	into a flat hand and sign "END."
      <br/>
      <br/>
      WEEKEND:
      <br/>
      <img border="0" src="/images/weekend.gif" style="max-width: 100%; height: auto" width="480"/>
      <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/o0D-dVMQr1E?rel=0" width="560">
      </iframe>
      <br/>
      <br/>
      <img border="0" height="215" src="/images/weekend-b1.jpg" width="202"/>
      <img border="0" height="215" src="/images/weekend-b2.jpg" width="202"/>
      <img border="0" height="215" src="/images/weekend-b3.jpg" width="202"/>
      <img border="0" height="215" src="/images/weekend-b4.jpg" width="202"/>
      <img border="0" height="215" src="/images/weekend-b5.jpg" width="202"/>
      <img border="0" height="215" src="/images/weekend-b6.jpg" width="202"/>
     </p>
     <hr/>
     <p style="margin-top: 0; margin-bottom: 0">
      <br/>
      Here is another way to sign "WEEKEND"
      <br/>
      This one starts with a traditional sign for week then changes into end.
      <br/>
     </p>
     <p style="margin-top: 0; margin-bottom: 0">
      <img border="0" height="217" src="/images/weekend-a1.jpg" width="217"/>
      <img border="0" height="217" src="/images/weekend-a2.jpg" width="217"/>
      <img border="0" height="217" src="/images/weekend-a4.jpg" width="217"/>
      <img border="0" height="217" src="/images/weekend-a4.jpg" width="217"/>
      <img border="0" height="217" src="/images/weekend-a5.jpg" width="217"/>
      <img border="0" height="217" src="/images/weekend-a6.jpg" width="217"/>
      <img border="0" height="217" src="/images/weekend-a7.jpg" width="217"/>
      <img border="0" height="217" src="/images/weekend-a8.jpg" width="217"/>
      <br/>
     </p>
     <hr color="#800080"/>
     <p style="margin-top: 0; margin-bottom: 0">
     </p>
     <hr align="left" color="#000000" size="1" width="50%"/>
     <p style="margin-top: 0; margin-bottom: 0">
      Also see "
      <a href="/dictionary/week">
       week
      </a>
      "
      <br/>
      Also see "
      <a href="/dictionary/weekadvanced">
       week (advanced)
      </a>
      "
      <br/>
      Also see:  "
      <a href="/dictionary/weeknext">
       next week
      </a>
      "
      <br/>
      Also see:  "
      <a href="/dictionary/end">
       end
      </a>
      "
     </p>
     <hr align="left" color="#000000" size="1" width="50%"/>
     <p style="margin-top: 0; margin-bottom: 0">
      <br/>
      Notes:
      <br/>
     </p>
     <div>
      In a message dated 9/19/2012 4:33:28 P.M. Pacific Daylight Time, rlevinger 
	writes:
     </div>
     <blockquote style="BORDER-LEFT: blue 2px solid; PADDING-LEFT: 5px; MARGIN-LEFT: 5px">
      <font color="#000000" face="Arial" size="2" style="BACKGROUND-COLOR: transparent">
       Dr. Bill,
       <br/>
       I was signing with a deaf friend of mind (for practice, he needs as
       <br/>
       much practice as I do since he has had a cochlear implant since he was
       <br/>
       young) and I was signing the word "weekend" (like you teach) but he
       <br/>
       didn't know what I was talking about. He signed it as the letters "W"
       <br/>
       and "E" starting on the left side of his body (with a W) and moving
       <br/>
       his hand (his right hand) to the right side of his body (switching to
       <br/>
       an E). Is this excepted? ( I would assume so, since my friend is
       <br/>
       deaf).
       <br/>
       <br/>
       Thank you for your help.
       <br/>
       RL
      </font>
     </blockquote>
     <div>
      Dear RL,
      <br/>
      There are several common ways that you will see the sign "WEEKEND" done.
      <br/>
      While some people do include the letters "W" and "E" in their version of 
	"WEEKEND" it would be non-standard to do the sign
      <i>
       without
      </i>
      using the 
	base hand. (Unless perhaps if you are holding a sandwich or a drink.)
      <br/>
      If I'm understanding your description though I do believe I'm going to have 
	to respectfully decline endorsing your friend's version. Perhaps it is a 
	regional thing, but it isn't common in any of the regions I've been to, (and 
	I've been to quite a few regions).
      <br/>
      I recommend you ask a few of the local Deaf natives how they sign WEEKEND 
	and see if you can get feel for what is used by others in your region. If 
	they all (or any of them actually) sign it the way your friend does do let 
	me know.
      <br/>
      -- Dr. Bill
     </div>
    </font>
   </span>
  </blockquote>
 </body>
</html>