<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   <font face="Arial">
    The general sign for weigh can be used to mean several related "weight" concepts.
    <br/>
    <p>
     <br/>
     Both hands form "H" shapes. The dominant "H" rocks back and forth on top of the 
	non-dominant "H" in a quick double movement. 
  The non-dominant hand doesn't move during this sign.
     <br/>
     <br/>
     WEIGH / TON / POUND:
    </p>
    <p>
     <img border="0" height="218" src="/images/pound.1.jpg" width="204"/>
     <img border="0" height="218" src="/images/pound.2.jpg" width="204"/>
     <img border="0" height="218" src="/images/pound.1.jpg" width="204"/>
     <img border="0" height="218" src="/images/pound.2.jpg" width="204"/>
    </p>
    <p>
     <br/>
     Here is a view of that sign from an angle:
     <br/>
     <img border="0" height="71" src="/images/pound.3.jpg" width="105"/>
     <br/>
     <br/>
     See:
     <a href="/dictionary/pound">
      POUND
     </a>
    </p>
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>