<html>
 <body>
  <blockquote>
   <h1 style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     <span style="font-weight: 400">
      <font size="5">
       American Sign Language: "WELCOME"
      </font>
     </span>
     <br/>
    </font>
   </h1>
   <p>
    <br/>
    The sign labeled as WELCOME has several 
	meanings and interpretations.  Remember though that the label "WELCOME" 
isn't the same thing as the English word for "welcome."
    <br/>
    <br/>
    For example:  The sign labeled as WELCOME also means: "hire" and 
	"invite."
    <br/>
    Also, this sign is in a state of "flux" (changing 
  opinion) in the
    <i>
     Deaf Community
    </i>
    .
    <br/>
    <br/>
    You will meet
    <i>
     some
    </i>
    people who say the sign labeled WELCOME or 
(WELCOME/hire/invite) is an okay response 
  to "thank you."
    <br/>
    <br/>
    Quite a few
    <i>
     ASL teachers
    </i>
    (and other signers) will tell you it is NOT appropriate to use 
	this sign as a response to "THANK YOU."
    <br/>
    <br/>
    The sign "WELCOME / hire / invite" is done by
  holding the flat hand palm up out away from your body (off to the right a bit)
  and then bringing the hand in toward your torso.
    <br/>
    <br/>
    WELCOME / hire / invite:
    <br/>
   </p>
   <p align="left">
    <img border="0" height="320" src="/images/welcome-hire-invite-01.jpg" width="356"/>
    <img border="0" height="320" src="/images/welcome-hire-invite-02.jpg" width="280"/>
    <img border="0" height="320" src="/images/welcome-hire-invite-03.jpg" width="280"/>
   </p>
   <p align="left">
   </p>
   <p align="left">
    My recommendation is that you use this sign to mean things like:
    <br/>
    <br/>
    "Welcome, come on into my home."
    <br/>
    "I hired him."
    <br/>
    "I invited her.
    <br/>
   </p>
   <p align="left">
    I recommend that you do
    <b>
     NOT
    </b>
    use this sign as a response to 
	"Thank you."
    <br/>
    <br/>
    So, what should you do if someone tells you "thank you?"
    <br/>
    <br/>
    I recommend that you reply with one of these:
    <br/>
    <br/>
    TRUE/SURE
    <br/>
    FINE
    <br/>
    NOTHING-TO-IT
    <br/>
    HAPPY HELP-you
    <br/>
    THUMB-UP
    <br/>
    ANY TIME
    <br/>
    NO PROBLEM
   </p>
   <p align="left">
   </p>
   <p align="left">
    See:
    <a href="/dictionary/guest">
     GUEST
    </a>
    <br/>
   </p>
   <hr/>
   <p>
    <br/>
    Notes:
    <br/>
    When teaching ASL there is a prescriptive approach and a descriptive 
	approach.
    <br/>
    Some ASL teachers tell their students that the sign WELCOME is not an 
	ASL sign.  Doing so is "prescriptive."
    <br/>
    Such teachers are striving to prescribe 
	ASL according to their notions of how ASL
    <i>
     should be
    </i>
    -- as 
	opposed to what ASL
    <i>
     is
    </i>
    .
    <br/>
   </p>
   <div style="border-style: solid; border-width: 1px; padding-left: 4px; padding-right: 4px; padding-top: 1px; padding-bottom: 1px">
    <blockquote>
     <p>
      <br/>
      Let me share an amusing story with you:
      <br/>
      <br/>
      I remember a conversation (
      <i>
       many years ago
      </i>
      ) with an ASL instructor named 
	________ (name on file).  Near the beginning of the 
	conversation I had signed WELCOME in response to him thanking me for 
	something.  He "
      <i>
       corrected
      </i>
      " me and indicated that WELCOME wasn't an 
	ASL sign (we are both interested in what is and isn't ASL so it wasn't as 
	rude as you might imagine).  I questioned him about it and apparently he had 
			recently been to some workshop or seminar and a person with letters 
			behind their name who lived more than 50 miles away (which means 
			that person
      <i>
       must
      </i>
      be an 
	expert, heh) had told everybody at the seminar that the sign WELCOME isn't 
	an "ASL" sign.
      <br/>
      I asked ________ (name on file) what he 
			preferred instead and he gave me the 
	usual, "SURE, THANK YOU, THUMBS-UP, FINE" replacements.  I said "OH-I-SEE" 
	and we went on with our conversation. (Of course I already knew and used 
			those signs regularly as well.)
      <br/>
      Now here's the funny part, near the end of our half-hour long conversation 
	on my doorstep, I thanked him for coming by and he
      <i>
       without thinking
      </i>
      signed "WELCOME!"
      <br/>
      I pointed 
			out his usage of the "forbidden sign" and he did a 
	major "gulp" and turned a pretty shade of red.
     </p>
    </blockquote>
   </div>
   <p>
    <br/>
    So, there you have an example of a Deaf ASL instructor who for most of 
	his life has signed "WELCOME" in response to "thank you" and then he attends 
	a workshop and has some other Deaf ASL instructor announce that "WELCOME" is 
	not an ASL sign.  So now he becomes an evangelist and starts spreading 
	the message that you shouldn't sign "WELCOME" because it is not what Deaf 
	people "do." (Even though he
    <i>
     is
    </i>
    Deaf and obviously he "does" it).  
	After a while, enough people repeat that same message: "WELCOME" is not a 
	good response to 'Thank you' in ASL."  At some point, after enough 
	people spread and accept that message it will become the new standard!  
	It will become the new
    <i>
     normal
    </i>
    .  It will stop being prescriptive and it 
	will become descriptive due to the passage of time and adoption by the 
	"typical" Deaf person.
    <br/>
   </p>
   <p>
    A descriptive approach to ASL instruction simply tells the students what 
	is currently out there being used by the Deaf Community without trying to 
	"preserve, memorialize, or de-English" it.
    <br/>
   </p>
   <p>
    The fact is thousands and thousands of Deaf people do use the sign WELCOME.  Plus, 
	numerous recognized experts in the field of ASL have documented the 
	"WELCOME" sign in various ASL dictionaries and instructional texts.
    <br/>
   </p>
   <p>
    Some examples:
   </p>
   <p align="left">
    The text "A Basic Course in
    <b>
     American Sign Language
    </b>
    " 
	by Tom Humphries, Carol Padden and Terrence J. O'Rourke lists the sign as 
	"HIRE, INVITE and then includes the word "welcome" in lowercase.
   </p>
   <p align="left">
    <br/>
    Rod Butterworth in the Perigee Visual Dictionary of Signing: 
	An A to Z guide to over 1,200 signs of
    <b>
     American Sign Language
    </b>
    , lists 
	the sign as meaning WELCOME, "a common gesture of politeness and 
	acceptance."
   </p>
   <p align="left">
    <br/>
    Elaine Costello 
	in the Random House American Sign Language dictionary (1st ed.), includes 
	the sign--and what's more--SHE INITIALIZES IT with a "W"!
   </p>
   <p align="left">
    <br/>
    Martin Sternberg 
	included the WELCOME sign in "American Sign Language: A Comprehensive 
	Dictionary."
   </p>
   <p align="left">
    <br/>
    I could go on, 
	there are others, those are just the
    <i>
     first four
    </i>
    I grabbed off my 
	shelf, but you see my point.
    <br/>
    <br/>
    These people are "awesome" signers and they included "WELCOME" in their ASL 
	texts.
    <br/>
    <br/>
    The sign WELCOME is prominently listed in 
	dozens of major ASL dictionaries and is instantly recognized by
    <i>
     every
    </i>
    adult native Deaf ASL signer I have met.
    <br/>
    <br/>
    So, should YOU use the sign WELCOME in response to being told "thank you?"
    <br/>
    <br/>
    <span style="background-color: #FFFF00">
     My recommendation is no
    </span>
    .  The sign is "controversial" and from all 
	indications the "tide" is turning against the WELCOME sign being used as a response 
	to "thank you."  Thus if you use the sign WELCOME as a response to 
	"thank you" it will likely have one of two results:
    <br/>
    <br/>
    1. The other person doesn't care one way or another how you sign WELCOME.
    <br/>
    <br/>
    2. The other person will judge you as not being familiar with how Deaf 
	people do ASL.
    <br/>
    <br/>
    Why risk it?  Instead just use WELCOME within the limits of how it is 
	used by adult native Deaf ASL signers and use other signs, (SURE, FINE, 
	THUMB-UP, ANY-TIME, NO-PROBLEM) in response to "thank you."
    <br/>
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p align="left">
    WELCOME / hire / invite:
   </p>
   <p align="left">
    <img border="0" height="325" src="/images/xwelcome.gif" width="314"/>
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p align="left" style="margin-top: 0; margin-bottom: 0">
    Also see:
    <a href="/dictionary/hire">
     HIRE
    </a>
   </p>
   <hr align="left" color="#000000" size="1"/>
   <hr align="left" color="#000000" size="1"/>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p>
    Notes:
    <br/>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1"/>
   <hr align="left" color="#000000" size="1"/>
   <hr align="left" color="#000000" size="1"/>
   <hr color="#000000" size="1"/>
   <p>
   </p>
  </blockquote>
 </body>
</html>