<html>
 <body>
  <blockquote>
   <h1 style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     <font size="5">
      <span style="font-weight: 400">
       American Sign Language: 
		"were"
      </span>
     </font>
     <br/>
    </font>
   </h1>
   <p>
   </p>
   <hr align="left" color="#000000" size="1" width="50%"/>
   <p style="margin-top: 0; margin-bottom: 0">
    The concept "were" can indicated by using the sign "PAST."  
	However, in ASL we tend to put "time concepts" at the beginning of our 
	sentence or story thus eliminating the need for a separate sign for "was."
    <br/>
    <br/>
    For example, if I signed, "last-WEEK THEY BROKE-financially" it would 
	mean, "They were broke last week." By putting "past tense" markers at the 
	beginning of ASL sentences we make it clear that we are talking about the 
	past.
    <br/>
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p style="margin-top: 0; margin-bottom: 0">
    <span style="font-weight: 400">
     PAST:
     <br/>
     <font size="+1">
      T
     </font>
     he sign for "past" is
made by moving your dominant hand over your dominant shoulder.  Your palm should face your body. The more emphasis you give the motion 
and/or the larger movement you use indicates further into the past:
     <br/>
     <iframe allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/j7rjBay5FIE?rel=0" width="560">
     </iframe>
     <img height="288" src="/images/past.gif" width="286"/>
    </span>
    <br/>
   </p>
   <hr align="left" color="#000000" size="1" width="50%"/>
   <p style="margin-top: 0; margin-bottom: 0">
    Also see:
    <a href="/dictionary/past">
     PAST / BEFORE
    </a>
    <br/>
    Also see:
    <a href="/dictionary/since">
     Up to now / SINCE
    </a>
    <br/>
    Also see:
    <a href="/dictionary/be-verbs">
     "be"-verbs
    </a>
   </p>
   <hr align="left" color="#000000" size="1" width="50%"/>
   <p style="margin-top: 0; margin-bottom: 0">
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    Discussion:
    <br/>
    <br/>
    You may see someone use a sign for "WERE" that starts as a "W" and turns 
	into an "R" as it moves backward over the shoulder.  That is not ASL. 
	It is Signed English.
    <br/>
    While you may see some Deaf people use the Signed English version of "were," 
	I don't recommend you use that version in your ASL class nor on an ASL test.
    <br/>
    <br/>
    Quite a few Deaf people were mainstreamed, had teachers who didn't know ASL 
	that well, and/or attended school programs where the mode of communication 
	was Signed English. That means in the Deaf Community you will often see a 
	mixture of signs being used.
    <br/>
    <br/>
    Hearing people (
    <i>
     especially
    </i>
    students) should resist the temptation to 
	correct the signing of their Deaf friends who sign a bit of English here and 
	there (just let it go and don't worry about it -- culturally it is not your 
	place to correct our signing).  I do however encourage
    <i>
     you
    </i>
    to 
	strive to sign in a manner that is reflective of the signing generally 
	produced by native Deaf ASL signers who have attended ASL-based 
	instructional programs at residential Schools for the Deaf.
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1"/>
   <hr align="left" color="#000000" size="1"/>
   <hr color="#000000" size="1"/>
   <p>
   </p>
  </blockquote>
 </body>
</html>