<html>
 <body>
  <blockquote>
   <h1 style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     <font size="5">
      <span style="font-weight: 400">
       American Sign Language: 
		"whale"
      </span>
     </font>
     <br/>
    </font>
   </h1>
   <p>
   </p>
   <hr align="left" color="#000000" size="1" width="50%"/>
   <span style="font-weight: 400">
    <p style="margin-top: 0; margin-bottom: 0">
     WHALE:
     <br/>
     This sign moves from left to right (if you are right handed).  The 
        handshape is a "Y" and it represents the "tail" of a whale as it swims 
        along the top of the sea.
     <br/>
     <br/>
     <img border="0" height="240" src="/images/whale.10.jpg" width="305"/>
     <img border="0" height="240" src="/images/whale.11.jpg" width="305"/>
     <img border="0" height="240" src="/images/whale.12.jpg" width="305"/>
     <img border="0" height="240" src="/images/whale.13.jpg" width="305"/>
     <img border="0" height="240" src="/images/whale.14.jpg" width="305"/>
    </p>
    <p align="left" style="margin-top: 0; margin-bottom: 0">
    </p>
    <hr align="left" color="#000000" size="1" width="50%"/>
    <p align="left" style="margin-top: 0; margin-bottom: 0">
    </p>
   </span>
   <hr align="left" color="#000000" size="1"/>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1"/>
   <hr align="left" color="#000000" size="1"/>
   <hr color="#000000" size="1"/>
   <p>
   </p>
  </blockquote>
 </body>
</html>