<html>
 <body>
  <blockquote>
   <h1 style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     <font size="5">
      <span style="font-weight: 400">
       American Sign Language: 
		"when"
      </span>
     </font>
     <br/>
    </font>
   </h1>
   <p>
   </p>
   <hr align="left" color="#000000" size="1" width="50%"/>
   <span style="font-weight: 400">
    <p style="margin-top: 0; margin-bottom: 0">
     The sign for "when" is made by holding your
     <b>
      left
     </b>
     index finger up (if 
	you are right handed). Your palm should face right. Bring the tip of your 
	right index finger
     <b>
      <i>
       near
      </i>
     </b>
     to the tip of your left index finger.  
	Circle the tip of your right index finger in a clockwise motion around your 
	left index finger and end with the tip of the right index finger touching 
	the tip of the left finger.

	Your arm doesn't move much on this sign.

	The movement is in the wrist. 

 (If you are left handed just do a mirror image of this sign.)
     <br/>
     <br/>
     WHEN:
     <br/>
     <img border="0" src="/images/when.gif" style="max-width: 100%; height: auto" width="480"/>
     <img height="249" src="/images/when.gif" width="236"/>
    </p>
    <p style="margin-top: 0; margin-bottom: 0">
     <iframe allow="autoplay; encrypted-media" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/YWxvqP__qos?rel=0" width="560">
     </iframe>
    </p>
    <hr align="left" color="#000000" size="1" width="50%"/>
    <p style="margin-top: 0; margin-bottom: 0">
     <br/>
     "When did you move here?"  =

	YOU MOVE-[to-here] WHEN?
    </p>
    <p style="margin-top: 0; margin-bottom: 0">
     <br/>
     <iframe allow="autoplay; encrypted-media" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/sheFtZ9EZgU?rel=0" width="560">
     </iframe>
     <br/>
    </p>
    <hr align="left" color="#000000" size="1"/>
    <p style="margin-top: 0; margin-bottom: 0">
     <font size="4">
      Optional Reading
     </font>
     :
     <a href="/dictionary/when2">
      Advanced discussion contrasting the signs "WHEN" and 
"HAPPEN"
     </a>
     <br/>
     (Not needed for level-one students.)
    </p>
   </span>
   <hr align="left" color="#000000" size="1" width="50%"/>
   <hr align="left" color="#000000" size="1"/>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1"/>
   <hr color="#000000" size="1"/>
   <p>
   </p>
  </blockquote>
 </body>
</html>