<html>
 <body>
  <blockquote>
   <h1 style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     <font size="5">
      <span style="font-weight: 400">
       American Sign Language: 
		"where"
      </span>
     </font>
     <br/>
    </font>
   </h1>
   <p>
   </p>
   <hr align="left" color="#000000" size="1" width="50%"/>
   <span style="font-weight: 400">
    <p align="left" style="margin-top: 0; margin-bottom: 0">
     <font size="+1">
      T
     </font>
     he sign for "where"
is made using an INDEX-finger handshape. Hold your hand in front of you and
  "pivot" the hand side to side a couple of times. The movement 
is in the wrist and elbow NOT in the finger joint.
    </p>
    <p align="left" style="margin-top: 0; margin-bottom: 0">
    </p>
    <p align="left" style="margin-top: 0; margin-bottom: 0">
     WHERE?:
    </p>
    <p align="left" style="margin-top: 0; margin-bottom: 0">
     <img height="304" src="/images/where.gif" width="192"/>
     <img src="/images/where.gif" style="max-width: 100%; height: auto" width="480"/>
    </p>
    <p align="left" style="margin-top: 0; margin-bottom: 0">
     <iframe allowfullscreen="" frameborder="0" height="315" name="I1" src="https://www.youtube.com/embed/HS0SXS-GHYY?rel=0" width="560">
     </iframe>
    </p>
    <p align="left" style="margin-top: 0; margin-bottom: 0">
     Memory aid:
     <br/>
     In the days before GPS and electronic maps on phones people used to use 
paper-based maps.
     <br/>
     A very common way of using such a map would be to put your finger on the map and 
move your fingertip a bit to this side or that side as attempted to figure out "
     <b>
      where
     </b>
     " 
you were on the map.
     <br/>
    </p>
    <hr align="left" color="#000000" size="1"/>
    <p align="left" style="margin-top: 0; margin-bottom: 0">
     WHERE?
    </p>
    <p align="left" style="margin-top: 0; margin-bottom: 0">
     <img border="0" height="480" src="/images/where-01.jpg" width="480"/>
     <img border="0" height="480" src="/images/where-02.jpg" width="480"/>
     <img border="0" height="480" src="/images/where-03.jpg" width="480"/>
     <img border="0" height="480" src="/images/where-04.jpg" width="480"/>
    </p>
    <p align="left" style="margin-top: 0; margin-bottom: 0">
    </p>
    <hr align="left" color="#000000" size="1"/>
    <p align="left" style="margin-top: 0; margin-bottom: 0">
     Notice the "furrowed eyebrows?"  They are part of the
sign.  When asking questions you use "furrowed eyebrows" for all of the "wh-"
question types:  WHO, WHEN, WHERE, WHY, WHICH, FOR-FOR=(what-for).  
	However, if you are asking a yes/no question (a question that can be 
	answered with a yes or no) your eyebrows should be up.
     <br/>
     Remember:
     <br/>
     Eyebrows up for "yes/no" questions.
     <br/>
     Eyebrows down for "wh" questions.
     <br/>
     (Unless it is a rhetorical question. But that is another lesson for a later 
	time).
     <br/>
     <br/>
     Also, consider the difference between a “D” handshape and a “1" or 
	"index-finger” handshape. You should do signs like “WHERE” and "
     <a href="/dictionary/meet">
      MEET
     </a>
     " 
	using the 1/index-finger handshape (not a “D” handshape).
    </p>
   </span>
   <hr align="left" color="#000000" size="1" width="50%"/>
   <hr align="left" color="#000000" size="1"/>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1"/>
   <hr align="left" color="#000000" size="1"/>
   <hr color="#000000" size="1"/>
   <p>
   </p>
  </blockquote>
 </body>
</html>