<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1" width="50%"/>
   <span style="font-weight: 400">
    <font face="Arial">
     <p>
      WHICH:
      <br/>
      Alternate holding up one "A" hand, and then the other.
      <br/>
      Remember, when asking "WH"-type questions (using signs such as WHICH, WHY, 
	WHO, WHERE, etc.) you should furrow your eyebrows while doing the sign as 
	part of the question. Also, the handshapes are "loose-thumb"-"A"-handshapes. 
	By that I mean, the thumbs are not tucked close to the rest of the hand.
      <br/>
      <br/>
      <img border="0" src="/images/which.gif" style="max-width: 100%; height: auto" width="480"/>
     </p>
     <p>
      <img border="0" height="320" src="/images/which.1.jpg" width="320"/>
      <img border="0" height="320" src="/images/which.2.jpg" width="320"/>
      <img border="0" height="320" src="/images/which.3.jpg" width="320"/>
      <br/>
      <br/>
      <iframe allowfullscreen="" frameborder="0" height="315" src="https://www.youtube-nocookie.com/embed/DlMZXBngGKM?rel=0" width="560">
      </iframe>
      <br/>
      <font size="1">
       Note: The video is high definition. If it looks fuzzy, change 
	your configuration settings to 720 or better.
      </font>
     </p>
     <hr align="left" color="#000000" size="1" width="50%"/>
     <div>
      Signing Notes:
      <br/>
      <br/>
      Note: If you were not asking a question but instead just making a statement 
	such as "I don't know which" -- you should not furrow your eyebrows while 
	doing the sign WHICH.  Only furrow your brows if you are actually 
	asking a question.
      <br/>
      <hr align="left" color="#000000" size="1" width="50%"/>
      <p>
       Hermisaurus asks:
       <br/>
      </p>
     </div>
    </font>
   </span>
   Question
   <span style="font-weight: 400">
    :
    <br/>
    When asking a question such as "Do you want milk or juice?" Instead of a body shift 
	to show "or," could you ask "which one"? I've seen "Do you want red or 
	green, which one? " Is that correct?"
    <br/>
    <br/>
   </span>
   Answer
   <span style="font-weight: 400">
    :
    <br/>
    Just as there are multiple "right" ways to ask a question in English, there 
	are likewise multiple right ways to ask a question in ASL.
    <br/>
    <br/>
    Your signing choices depend on whether you wish to be succinct or verbose.
    <br/>
    Succinct = brief and clear.
    <br/>
    Verbose = "using more words (or signs) than are needed."
    <br/>
    <br/>
    If we sign: "YOU WANT MILK OR-[bodyshift] JUICE?" the bodyshift can be very 
	small and start half-way through your sign for milk and end half way through 
	your sign for juice -- thus taking up almost no time at all. When we add 
	"furrowed eyebrows" near the end of the sentence the furrowed eyebrows 
	convey the meaning of "which."
    <br/>
    <br/>
    You can choose to sign in a succinct manner by
   </span>
   not
   <span style="font-weight: 400">
    adding the sign "WHICH" since you have 
	already expressed the concept of "which" via your furrowed eyebrows.   You 
	can choose to sign in a verbose manner by adding the signs "WHICH ONE" at 
	the end of your sentence -- but you should
    <i>
     still
    </i>
    furrow your eyebrows 
	since you are asking a "WH"-type question.
    <br/>
    <br/>
    If you sign the question with raised eyebrows while signing
    <i>
     both
    </i>
    the 
	sign MILK and the sign JUICE you are in effect asking two questions -- both 
	of which are yes/no-type questions:
    <br/>
    <div>
     Do you want milk?
     <br/>
     Do you want juice?
     <br/>
     <br/>
     If you use a yes/no-question approach it puts responsibility on your 
	conversation partner to respond by signing one of the two options (or using 
	the sign "BOTH" if he/she is a pig).
     <br/>
     <br/>
     ;-)
     <br/>
     <br/>
     - Dr. Bill
     <br/>
    </div>
   </span>
  </blockquote>
 </body>
</html>