<html>
 <body>
  <blockquote>
   <h1 style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     <font size="5">
      <span style="font-weight: 400">
       American Sign Language: 
		"widow"
      </span>
     </font>
     <br/>
    </font>
   </h1>
   <p>
   </p>
   <hr align="left" color="#000000" size="1" width="50%"/>
   <div>
    In a message dated 5/26/2005 12:17:06 PM Pacific Daylight Time, dsgoldie@____.net 
    writes:
    <p>
     Dear Dr.
    Bill,
     <br/>
     I have been searching the internet for the answer to my question, but 
    cannot find the answer.  I have purchased your materials and thought you 
    could help.  I am looking for a sign for "widow".  Can you help me?  Thank 
    you so much for your web site.  I am a hearing person wanting to someday 
    communicate in my town with deaf people. Your web site has 
    been very helpful.  Keep up the great work!
     <br/>
     Shelley
     <br/>
    </p>
   </div>
   <div>
    Hello Shelley,
   </div>
   <div>
    In the ASL if you are referring to woman whose husband has died and who has 
    not remarried you usually just fingerspell "W-I-D-O-W."  This may seem 
	laborious to Hearing people, but fingerspelling is very common among native 
	Deaf Americans.
    <br/>
    If you "must" have a sign, you could sign "HER HUSBAND DEAD" or "SHE-(index) HUSBAND 
    DEAD."
   </div>
   <div>
    For "widower" you'd sign, "HIS WIFE DEAD," or "HE-(index) WIFE DEAD."
    <br/>
    I've also seen some people use the signs, "HER HUSBAND GONE."  The sign 
	"GONE" is used by some bilingual Deaf as a 

	euphemism for dead.
   </div>
   <div>
    If you need a general sign for "widow or widower" you could simply sign 
    "MARRY DEAD." Which would mean that the "spouse" is dead.
   </div>
   <div>
    But remember, lots of folks will simply use fingerspelling:  W-I-D-O-W.
    <br/>
   </div>
   <div>
    In English, the word "widow" has other uses though.  It can be used to mean a woman whose husband 
    is gone a lot due to regular or extended participation in an activity. For 
    example, "poker."  If you were referring to a "poker widow" you'd sign, "HER 
    HUSBAND P-O-K-E-R every-FRIDAY NIGHT, NOT-MATTER." (Which means that "it 
    doesn't matter whatever else happens, that husband plays poker on Friday 
    nights.)  There isn't any one particular sign for "poker widow" 
    either.
    <br/>
    <br/>
    Much depends on real life.  For example suppose he plays poker on 
    Saturday nights? You would simply state the situation:  "HER HUSBAND 
	P-O-K-E-R every-SATURDAY NIGHT, MUST!"
    <br/>
    <br/>
    "MUST" and "NOT-MATTER" are only two examples of signs that can be used to 
    establish this alternate meaning of "widow."  You could use signs like: HABIT!, 
    ADDICTED, OUTSIDE/leave-(repeatedly).
   </div>
   <div>
   </div>
   <div>
    Cordially,
   </div>
   <div>
    Dr. Bill
   </div>
   <hr align="left" color="#000000" size="1"/>
   <p style="margin-top: 0; margin-bottom: 0">
    See:
    <a href="/dictionary/husband">
     HUSBAND
    </a>
   </p>
   <hr align="left" color="#000000" size="1" width="50%"/>
   <p style="margin-top: 0; margin-bottom: 0">
    See:
    <a href="/dictionary/die">
     DEAD
    </a>
   </p>
   <hr align="left" color="#000000" size="1" width="50%"/>
   <hr align="left" color="#000000" size="1"/>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1"/>
   <hr align="left" color="#000000" size="1"/>
   <hr color="#000000" size="1"/>
   <p>
   </p>
  </blockquote>
 </body>
</html>