<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1" width="50%"/>
   <span style="font-weight: 400">
    <font face="Arial">
     <p style="margin-top: 0; margin-bottom: 0">
      WIFE:
      <br/>
      <img border="0" height="226" src="/images/wifeb1.jpg" width="213"/>
      <img border="0" height="226" src="/images/wifeb2.jpg" width="213"/>
      <img border="0" height="226" src="/images/wifeb3.jpg" width="213"/>
     </p>
     <p style="margin-top: 0; margin-bottom: 0">
     </p>
     <hr align="left" color="#000000" size="1" width="50%"/>
     <p style="margin-top: 0; margin-bottom: 0">
      <br/>
      Sample sentence:
     </p>
     <p style="margin-top: 0; margin-bottom: 0">
      TEACHER HIS WIFE, YOU KNOW NAME? (Do 
you know the teacher's wife's name?)
      <br/>
      <br/>
     </p>
     <p style="margin-top: 0; margin-bottom: 0">
     </p>
     <hr align="left" color="#000000" size="1" width="50%"/>
    </font>
   </span>
   <p style="margin-top: 0; margin-bottom: 0">
    <span style="font-weight: 400">
     See:
     <a href="/dictionary/husband">
      HUSBAND
     </a>
    </span>
   </p>
   <font face="Arial">
    <span style="font-weight: 400">
     <hr align="left" color="#000000" size="1" width="50%"/>
    </span>
   </font>
  </blockquote>
 </body>
</html>