<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   <p>
    <br/>
    <font face="Arial">
     The closest sign to "wilderness" is "FOREST."  
			However, the world wilderness generally means an area without 
			people.  (Or a place that hasn't been influenced much by 
			people.)  So a desert could be a "wilderness."  Thus it 
			may at times be appropriate to use a modified version of the sign
     <a href="/dictionary/empty">
      EMPTY
     </a>
     to show an area empty of
     <a href="/dictionary/people">
      PEOPLE
     </a>
     .
     <br/>
     <br/>
     Slide the sign for tree along the top of the left forearm from left to right.
     <br/>
     <br/>
     FOREST:
     <br/>
     <img border="0" height="219" src="/images/tree.h5.jpg" width="214"/>
     <img border="0" height="219" src="/images/tree.h6.jpg" width="214"/>
     <img border="0" height="219" src="/images/tree.h7.jpg" width="214"/>
     <img border="0" height="219" src="/images/tree.h8.jpg" width="214"/>
     <img border="0" height="219" src="/images/tree.h9.jpg" width="214"/>
     <img border="0" height="219" src="/images/tree.h4.jpg" width="214"/>
    </font>
    <br/>
    <br/>
    See:
    <a href="/dictionary/tree">
     TREE
    </a>
    <br/>
   </p>
   <hr/>
   <p style="margin-top: 0; margin-bottom: 0">
    <br/>
    Notes:
    <br/>
    <br/>
    Francine writes:
    <br/>
    <br/>
    "Is there something like a synonym directory?
    <br/>
    <br/>
    The reason I am asking is: I watch Bible stories with ASL http://www.aslbible.com/bible_stories.html
    <br/>
    <br/>
    At times I do not recognize a sign and try to find what I think it 
			may be with the dictionary which is part of your website.
    <br/>
    <br/>
    However, the word/sign I am looking for may not be there. For 
			instance a word like "wilderness".
    <br/>
    <br/>
    http://www.aslbible.com/bible_stories/nt08temptation/temptation.html
    <br/>
    <br/>
    So, then I start to think of synonyms, but don't find what I am 
			looking for. Would there be a listing where I can find words related 
			to certain signs?
    <br/>
    <br/>
    Or a reverse dictionary?
    <br/>
    <br/>
    Is there a dictionary where you can fin out what a certain sign is? 
			For instance in the example above, for the word "wilderness", I see 
			the lady signing a W-shape on her cheek, and then tapping her elbow. 
			Does that make the sign for wilderness?
    <br/>
    <br/>
    But the question is: is there a way to find out what a sign means by 
			seeing the sign-description of the sign? (I hope you understand what 
			I am asking).
    <br/>
    <br/>
    Thank you,
    <br/>
    <br/>
    - Francine
    <br/>
    <br/>
    Dear Francine,
    <br/>
    In the video clip at the link you sent, t
    <font face="Arial">
     he 
			signer is doing the sign for EXPERIENCE (on the cheek) and TEMPT (by 
			tapping on the elbow). The sign she uses for wilderness is "FOREST."
     <br/>
     You can get a (reverse ASL dictionary) handshape dictionary at:
     <br/>
     http://www.amazon.com/American-Sign-Language-Handshape-Dictionary/dp/1563684446
    </font>
   </p>
  </blockquote>
 </body>
</html>