<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   <p style="margin-top: 0; margin-bottom: 0">
    In "high context" situations, the concept of "winter" can be 
	expressed in ASL by simply signing "COLD."
    <font face="Arial">
     <hr align="left" color="#000000" size="1"/>
    </font>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <br/>
    Many people just sign
  "cold" when they mean "winter." That is okay as long as you can 
	figure out the meaning
  from the context of the sentence.
    <font face="Arial">
     If there is any 
	ambiguity (if it isn't clear) as to the meaning, then you can use an 
	initialized sign that uses "W" handshapes on the sign "cold."
    </font>
    <br/>
   </p>
   <p>
    WINTER:
    <br/>
    <img border="0" height="220" src="/images/winter1.jpg" width="233"/>
    <img border="0" height="220" src="/images/winter2.jpg" width="233"/>
    <img border="0" height="220" src="/images/winter1.jpg" width="233"/>
    <img border="0" height="220" src="/images/winter2.jpg" width="233"/>
    <br/>
    <br/>
    Sample sentence: Does it snow here in the winter? = WINTER HERE SNOW?
   </p>
   <p>
    <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/QcvD0YrAdyk?rel=0" width="560">
    </iframe>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>