<html>
 <body>
  <blockquote>
   <h1 style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     <font size="5">
      <span style="font-weight: 400">
       American Sign Language: 
		"wish"
      </span>
     </font>
     <br/>
    </font>
   </h1>
   <p>
   </p>
   <hr align="left" color="#000000" size="1" width="50%"/>
   The sign for wish is the same sign as "hungry."  This sign is made by forming 
your right hand into the letter "c."
   <p>
    Move your hand down the middle of your chest. You don't actually have to 
touch your body but most people do.
    <br/>
    If you want to emphasize the extent that you "wish" something would happen you 
can use a bigger, stronger movement.  Just don't use a repeated movement. Only 
use a single downward movement.
    <br/>
   </p>
   <p>
    Some people start the sign for "wish" on the upper chest  and prefer to start 
"hungry" from a slightly lower position. I don't mess around with that. I don't 
think it is a legitimate distinction.  But if it helps as a memory aid, think of 
a "wish" coming from your heart, and hunger coming from your belly.  But, again, 
it is okay to use the same sign for both concepts.
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <br/>
    HUNGRY / WISH:
    <br/>
    <br/>
    <img border="0" height="266" src="/images/hungry.gif" width="176"/>
    <iframe allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/WWI-xmA8Czc?rel=0" width="560">
    </iframe>
   </p>
   <hr align="left" color="#000000" size="1" width="50%"/>
   <p style="margin-top: 0; margin-bottom: 0">
    Also see:
    <a href="/dictionary/hungry">
     HUNGRY
    </a>
   </p>
   <hr align="left" color="#000000" size="1" width="50%"/>
   <hr align="left" color="#000000" size="1"/>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1"/>
   <hr align="left" color="#000000" size="1"/>
   <hr color="#000000" size="1"/>
   <p>
   </p>
  </blockquote>
 </body>
</html>