<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   <p style="margin-top: 0; margin-bottom: 0">
    <br/>
    The sign for "wolf down" as in "consume rapidly" starts as a "bent 
hand" and (usually) changes into an "S" hand (fist) as you move it 
backwards.
    <br/>
    <br/>
    WOLF-DOWN:
   </p>
   <p>
    <img border="0" height="227" src="/images/eat-wolfdownfront1.jpg" width="216"/>
    <img border="0" height="227" src="/images/eat-wolfdownfront2.jpg" width="216"/>
    <img border="0" height="227" src="/images/eat-wolfdownfront3.jpg" width="216"/>
    <img border="0" height="227" src="/images/eat-wolfdownfront4.jpg" width="216"/>
   </p>
   <font face="Arial">
    <p>
     <br/>
     WOLF-DOWN (side view)
    </p>
    <p>
     <img border="0" height="227" src="/images/eat-wolfdown1.jpg" width="252"/>
     <img border="0" height="227" src="/images/eat-wolfdown2.jpg" width="252"/>
     <img border="0" height="227" src="/images/eat-wolfdown3.jpg" width="252"/>
     <img border="0" height="227" src="/images/eat-wolfdown4.jpg" width="252"/>
    </p>
   </font>
   <br/>
   <br/>
   Notes:
   <br/>
   Sometimes you might see this sign done without changing it into an "S" hand. 
That is just another version. It means the same thing.  I suppose a case
   <i>
    could
   </i>
   be made that if you don't change the handshape into an "S" that this 
sign would mean "swallowed it whole" but really, that is just the armchair 
linguist in me looking for nuances in meaning. Just nod your head indulgingly 
and move on to some other page.
   <font face="Arial">
    <hr align="left" color="#000000" size="1" width="50%"/>
   </font>
  </blockquote>
 </body>
</html>