<html>
 <body>
  <blockquote>
   <h1 style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     <span style="font-weight: 400">
      <font size="5">
       ASL: "wood"
      </font>
     </span>
     <br/>
    </font>
   </h1>
   <p>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    The sign for "wood" uses


	a dominant "flat" hand to "saw" on a log represented by 
	a palm-down flat base hand. Use a double movement.
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <br/>
    WOOD:
    <br/>
    <img border="0" height="320" src="/images/wood-320x320.gif" width="320"/>
    (animated 
	gif)
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/Jl02T1KXfBc" width="560">
    </iframe>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1" width="25%"/>
   <p style="margin-top: 0; margin-bottom: 0">
    <br/>
    WOOD:
    <br/>
    <a href="../../signjpegs/w/wood-01.jpg">
     <img alt="wood-01.jpg (95901 bytes)" border="0" height="320" src="/images/wood-01_small.jpg" width="320" xthumbnail-orig-image="../../signjpegs/w/wood-01.jpg"/>
    </a>
    <a href="../../signjpegs/w/wood-02.jpg">
     <img alt="wood-02.jpg (93263 bytes)" border="0" height="320" src="/images/wood-02_small.jpg" width="320" xthumbnail-orig-image="../../signjpegs/w/wood-02.jpg"/>
    </a>
    <a href="../../signjpegs/w/wood-03.jpg">
     <img alt="wood-03.jpg (93214 bytes)" border="0" height="320" src="/images/wood-03_small.jpg" width="320" xthumbnail-orig-image="../../signjpegs/w/wood-03.jpg"/>
    </a>
    <a href="../../signjpegs/w/wood-01.jpg">
     <img alt="wood-01.jpg (95901 bytes)" border="0" height="320" src="/images/wood-01_small.jpg" width="320" xthumbnail-orig-image="../../signjpegs/w/wood-01.jpg"/>
    </a>
    <a href="../../signjpegs/w/wood-02.jpg">
     <img alt="wood-02.jpg (93263 bytes)" border="0" height="320" src="/images/wood-02_small.jpg" width="320" xthumbnail-orig-image="../../signjpegs/w/wood-02.jpg"/>
    </a>
    <a href="../../signjpegs/w/wood-03.jpg">
     <img alt="wood-03.jpg (93214 bytes)" border="0" height="320" src="/images/wood-03_small.jpg" width="320" xthumbnail-orig-image="../../signjpegs/w/wood-03.jpg"/>
    </a>
    <br/>
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p style="margin-top: 0; margin-bottom: 0">
    Also see:
    <a href="/dictionary/block">
     BLOCKS
    </a>
    <br/>
    Compare with:
    <a href="/dictionary/across">
     ACROSS
    </a>
   </p>
   <p>
   </p>
   <p>
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1"/>
   <hr align="left" color="#000000" size="1"/>
   <hr align="left" color="#000000" size="1"/>
   <hr align="left" color="#000000" size="1"/>
   <hr color="#000000" size="1"/>
   <p>
   </p>
  </blockquote>
 </body>
</html>