<html>
 <body>
  <blockquote>
   <hr align="left" color="#000000" size="1"/>
   <p style="margin-top: 0; margin-bottom: 0">
    The sign for "worry" looks a bit like you are swatting away worrisome 
bees that are troubling
you.
The movement is alternating circles.  The hands move: down, forward, up,
back.
Some people initialize this sign with a "W."
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <br/>
    Sample sentence:  "Do you get worried before tests?"
    <br/>
    = BEFORE-(prior to) TEST YOU WORRY?
    <br/>
    <br/>
    <br/>
    <font face="Arial">
     <hr align="left" color="#000000" size="1"/>
    </font>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <br/>
    WORRY:
    <br/>
    <img border="0" height="240" src="/images/worry1.jpg" width="352"/>
    <img border="0" height="240" src="/images/worry2.jpg" width="352"/>
    <img border="0" height="240" src="/images/worry3.jpg" width="352"/>
    <img border="0" height="240" src="/images/worry4.jpg" width="352"/>
    <img border="0" height="240" src="/images/worry5.jpg" width="352"/>
    <img border="0" height="240" src="/images/worry6.jpg" width="352"/>
    <img border="0" height="240" src="/images/worry7.jpg" width="352"/>
    <img border="0" height="240" src="/images/worry8.jpg" width="352"/>
    <img border="0" height="240" src="/images/worry9.jpg" width="352"/>
    <br/>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>