<html>
 <body>
  <blockquote>
   <h1 style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     <span style="font-weight: 400">
      <font size="5">
       American Sign Language: "www"
      </font>
     </span>
     <br/>
    </font>
   </h1>
   <blockquote>
    <p style="margin-top: 0; margin-bottom: 0">
     <span style="font-weight: 400">
      The world wide web, www, or "the web" is 
        commonly shown by doing a "W-W."
      <br/>
      Show a "W" and then slightly bounce your hand to the side and show 
        another "W."
     </span>
    </p>
    <hr align="left" color="#000000" size="1" width="50%"/>
    <span style="font-weight: 400">
     <p style="margin-top: 0; margin-bottom: 0">
      "WWW" or "the Web"
      <br/>
      <img border="0" height="258" src="/images/www.ht1.jpg" width="300"/>
      <img border="0" height="258" src="/images/www.ht2.jpg" width="300"/>
     </p>
     <p style="margin-top: 0; margin-bottom: 0">
      <iframe allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/ApBX0hnLN6E?rel=0" width="560">
      </iframe>
      <br/>
     </p>
     <p style="margin-top: 0; margin-bottom: 0">
      Notes: I use this sign when I talk about "uploading a page to the
     </p>
    </span>
    web
    <span style="font-weight: 400">
     ."
    </span>
    <span style="font-weight: 400">
     <hr align="left" color="#000000" size="1" width="50%"/>
    </span>
    <p align="left" style="margin-top: 0; margin-bottom: 0">
     Also see:
     <span style="font-weight: 400">
      <a href="/dictionary/internet" style="text-decoration: none">
       INTERNET
      </a>
     </span>
    </p>
    <span style="font-weight: 400">
     <hr align="left" color="#000000" size="1" width="50%"/>
    </span>
   </blockquote>
   <hr align="left" color="#000000" size="1"/>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1"/>
   <hr align="left" color="#000000" size="1"/>
   <hr color="#000000" size="1"/>
   <p>
   </p>
  </blockquote>
 </body>
</html>