<html>
 <body>
  <blockquote>
   <h1 style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     <span style="font-weight: 400">
      <font size="5">
       American Sign Language: "Youtube"
      </font>
     </span>
     <br/>
    </font>
   </h1>
   <p>
   </p>
   <p>
   </p>
   <hr align="left" color="#000000" size="1" width="100%"/>
   <div style="display:block;float:right;margin: 5px 5px 5px 20px;">
    <!-- ASL (American Sign Language) 160 x 600 -->
    <ins class="adsbygoogle" data-ad-client="ca-pub-2513564923850231" data-ad-slot="4979558599" style="display:inline-block;width:160px;height:600px">
    </ins>
   </div>
   <p>
    A student writes:
    <br/>
    <br/>
    Hi Bill,
    <br/>
    Let me take a moment to tell you how much I enjoy your class. It is wonderful!! 
My husbands family has been involved in the deaf community for many years so I 
started learning ASL many years ago it is a continual learning process. My 
Question: Have you seen a sign for YouTube?
    <br/>
    - Tracey
    <br/>
    <br/>
    Tracey,
    <br/>
    Hello :)
    <br/>
    The sign for "Youtube" is to
    <b>
     fingerspell the letters "Y" and "T"
    </b>
    in 
context.
    <br/>
    You might see "other" signs for Youtube -- but the YT version is very solid and 
spreading.
    <br/>
    - Bill
    <br/>
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p>
    Notes:
    <br/>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1"/>
   <hr align="left" color="#000000" size="1"/>
   <hr align="left" color="#000000" size="1"/>
   <hr color="#000000" size="1"/>
   <p>
   </p>
  </blockquote>
 </body>
</html>