<html>
 <body>
  <blockquote>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
    <p>
     The sign for "zilch" has a couple of variations. Of 
			course, if you mean "zero" then you can just sign "ZERO" but if you 
			want to convey the idea of "zilch" you can do so by holding out your 
			hand (palm up) and blow across the top of your hand as if there were 
			anything there it is now "gone with the wind" or blown away.
     <br/>
    </p>
    <hr align="left" color="#000000" size="1" width="50%"/>
    <p>
     <img border="0" height="360" src="/images/zilch-01.jpg" width="286"/>
     <img border="0" height="360" src="/images/ziltch2.jpg" width="286"/>
     <img border="0" height="360" src="/images/ziltch3.jpg" width="286"/>
     <br/>
    </p>
    <hr align="left" color="#000000" size="1"/>
    <p>
     Also see:
     <a href="/dictionary/zero">
      ZERO
     </a>
    </p>
    <hr align="left" color="#000000" size="1"/>
   </font>
  </blockquote>
 </body>
</html>