<html>
 <body>
  <blockquote>
   <h1 style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     <span style="font-weight: 400">
      <font size="5">
       American Sign Language: "zip"
      </font>
     </span>
     <br/>
    </font>
   </h1>
   <blockquote>
    <hr align="left" color="#000000" size="1" width="50%"/>
    <span style="font-weight: 400">
     <p style="margin-top: 0; margin-bottom: 0">
      <b>
       Student
      </b>
      :  "Zip" is also commonly indicated by miming the act of 
  zipping up a jacket, isn't it?
      <br/>
      <br/>
      <b>
       Dr. Bill
      </b>
      :  If you are referring to putting on a jacket, then 
	yes, that's right.  If you are talking about a ZIP 
  code, you just spell it.  If you are talking about a zipper in general 
	you can show that by zipping up a "V" hand.  If you are trying to tell 
	someone to zip up their pants you use whichever method is most socially 
	appropriate. If I'm at home talking to one of my children I'll just mime 
	zipping up my pants. If it is a public situation and a friend needs to zip 
	his or her pants up I'll do what I can to get us both turned away from the 
	public and then I'll use the "zipper" sign which is "very clear" but not as 
	graphic as miming the act of zipping your pants.
     </p>
     <hr align="left" color="#000000" size="1" width="50%"/>
     <p style="margin-top: 0; margin-bottom: 0">
      <br/>
      ZIP or zipper:
     </p>
     <p style="margin-top: 0; margin-bottom: 0">
      <img border="0" height="223" src="/images/zip1.jpg" width="189"/>
      <img border="0" height="223" src="/images/zip2.jpg" width="189"/>
      <img border="0" height="223" src="/images/zip3.jpg" width="189"/>
     </p>
     <p style="margin-top: 0; margin-bottom: 0">
      <iframe allowfullscreen="" frameborder="0" height="315" name="I1" src="https://www.youtube.com/embed/8wuLrFkO-SU?rel=0" width="560">
      </iframe>
      <br/>
     </p>
     <p style="margin-top: 0; margin-bottom: 0">
      ZIP (fingerspelled version):
     </p>
     <p style="margin-top: 0; margin-bottom: 0">
      <img border="0" src="/images/zip-fs.gif" style="max-width: 100%; height: auto" width="480"/>
     </p>
     <p style="margin-top: 0; margin-bottom: 0">
      <iframe allowfullscreen="" frameborder="0" height="315" name="I2" src="https://www.youtube.com/embed/m9fxgSPo0s0?rel=0" width="560">
      </iframe>
     </p>
     <hr align="left" color="#000000" size="1" width="50%"/>
    </span>
   </blockquote>
   <hr align="left" color="#000000" size="1"/>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1"/>
   <hr align="left" color="#000000" size="1"/>
   <hr color="#000000" size="1"/>
   <p>
   </p>
  </blockquote>
 </body>
</html>