<html>
 <body>
  <blockquote>
   <h1 style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     <span style="font-weight: 400">
      <font size="5">
       American Sign Language: "ZZ" 
		(The double letter z.)
      </font>
     </span>
     <br/>
    </font>
   </h1>
   <blockquote>
    <hr align="left" color="#000000" size="1" width="50%"/>
    <span style="font-weight: 400">
     <p style="margin-top: 0; margin-bottom: 0">
      Richard S. from  Avon Park, Fla. 
writes:
      <br/>
      <br/>
      When I was taught to fingerspell a word with two duplicate letters (ie: Pizza, 
LeTTer, aCCept) we fingerspelled the letter Z for example and shifted / bounced 
our hand to left (I am left handed) and repeated the letter “Z” again. Is there 
an optional way to let the reader know we are signing the two same letters in a 
row? I was at Lesson 20, Practice Sheet 20.D Number 19 “Which do you prefer, 
thick or thin crust pizza?” It appeared you finger spelled the Letter “Z’ once 
followed by a modified number 2 sign.
      <br/>
      Please help.
      <br/>
      Thank you
      <br/>
      -  Richard
      <br/>
     </p>
     <p style="margin-top: 0; margin-bottom: 0">
      Richard,
      <br/>
      Hello :)
      <br/>
      The double letter "Z"
      <i>
       is
      </i>
      done with a "V" or "2" handshape that traces a 
"Z" movement.
      <br/>
      It is a special case, and while it seems like a clever little trick, it is the 
right way to do double "Z's."
      <br/>
      If you do a double "Z" any other way it would actually be non-standard.
      <br/>
      -- Bill
     </p>
     <hr align="left" color="#000000" size="1" width="50%"/>
    </span>
   </blockquote>
   <hr align="left" color="#000000" size="1"/>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1"/>
   <hr align="left" color="#000000" size="1"/>
   <hr color="#000000" size="1"/>
   <p>
   </p>
  </blockquote>
 </body>
</html>