<blockquote>
 <hr align="left" color="#000000" size="1"/>
 <br/>
 The concept of "-ish" (as in "approximately") can be shown by 
			waving your 
			dominant "5-hand" in a circle (sort of like washing a 
			wall) while using a
  facial expression that looks like you are estimating something in your mind.
 <p>
 </p>
 <p>
  APPROXIMATELY / about / around / -ish:
 </p>
 <p>
  <img border="0" height="223" src="/images/about-approximately1.jpg" width="230"/>
  <img border="0" height="223" src="/images/about-approximately2.jpg" width="230"/>
  <img border="0" height="223" src="/images/about-approximately3.jpg" width="230"/>
  <img border="0" height="223" src="/images/about-approximately4.jpg" width="230"/>
  <img border="0" height="223" src="/images/about-approximately5.jpg" width="230"/>
  <img border="0" height="223" src="/images/about-approximately6.jpg" width="230"/>
 </p>
 <p style="margin-top: 0; margin-bottom: 0">
  <font face="Arial">
   <object classid="CLSID:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,115,0" height="275" id="FVS" width="320">
    <param name="movie" value="../a/approximately_player.swf?2750520551"/>
    <param name="bgcolor" value="#ffffff"/>
    <param name="allowfullscreen" value="true"/>
    <embed allowfullscreen="true" bgcolor="#ffffff" height="275" name="FVS" pluginspage='http://www.macromedia.com/go/getflashplayer"' src="../a/approximately_player.swf?2750520551" type="application/x-shockwave-flash" width="320"/>
   </object>
   <br/>
  </font>
 </p>
 <font face="Arial">
  <hr align="left" color="#000000" size="1"/>
 </font>
 <p style="margin-top: 0; margin-bottom: 0">
  <br/>
  If you mean "-sh" as in "3 o'clock-ish" (or "Around 3 o'clock") you would do the 
sign for "3 o'clock" and then wiggle the 3 side to side a bit as you hold it up. 
You would also use a "mitigating" facial expression wherein you show the 
uncertainty of the time in your face.
  <br/>
  <br/>
  <font face="Arial">
   "3 o'clock-ish"
  </font>
  <br/>
  <img border="0" height="240" src="/images/-ish-3-oclock.gif" width="360"/>
 </p>
 <font face="Arial">
  <hr align="left" color="#000000" size="1" width="50%"/>
  <p style="margin-top: 0; margin-bottom: 0">
   Also see: "
   <a href="../a/about.htm">
    ABOUT
   </a>
   "
   <br/>
   Also see: "
   <a href="../a/approximately.htm">
    ABOUT
   </a>
   "
  </p>
  <hr align="left" color="#000000" size="1"/>
  <p align="center" style="margin-top: 0; margin-bottom: 0">
   <font face="Arial" size="1">
    You can learn
    <a href="http://lifeprint.com" style="text-decoration: none">
     American Sign Language (ASL)
    </a>
    online at American Sign Language University ™
    <br/>
    <a href="http://asl.ms" style="text-decoration: none">
     ASL
    </a>
    resources by Lifeprint.com  ©  Dr. William Vicars
   </font>
  </p>
 </font>
</blockquote>
