<blockquote>
 <p style="margin-top: 0; margin-bottom: 0">
  <span style="font-weight: 400">
   This page discusses how to express the concept of 
"the ABC's" and/or how you would sign the concept of "alphabet."
   <br/>
   If instead you would like to learn the fingerspelled ABC's please visit the
   <a href="../../fingerspelling/fingerspelling.htm">
    fingerspelling page
    <font face="Arial">
     ►
    </font>
   </a>
   <font face="Arial">
   </font>
  </span>
  <p style="margin-top: 0; margin-bottom: 0">
  </p>
  <hr align="left" color="#000000" size="1" width="50%"/>
  <span style="font-weight: 400">
   <font face="Arial">
    <p style="margin-top: 0; margin-bottom: 0">
     To express the concept of the 
"ABC's," you spell the individual letters A, B, and C, and then you add the 
FINGERSPELL sign.
     <br/>
     <br/>
     ABC's:
     <br/>
     <object classid="CLSID:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,115,0" height="275" id="FVS1" width="320">
      <param name="movie" value="abcs_player.swf?343912508"/>
      <param name="bgcolor" value="#ffffff"/>
      <param name="allowfullscreen" value="true"/>
      <embed allowfullscreen="true" bgcolor="#ffffff" height="275" name="FVS1" pluginspage='http://www.macromedia.com/go/getflashplayer"' src="abcs_player.swf?343912508" type="application/x-shockwave-flash" width="320"/>
     </object>
     <br/>
     <br/>
     <img border="0" height="234" src="/images/abcs.h1.jpg" width="222"/>
     <img border="0" height="234" src="/images/abcs.h2.jpg" width="222"/>
     <img border="0" height="234" src="/images/abcs.h3.jpg" width="222"/>
     <img border="0" height="234" src="/images/abcs.h4.jpg" width="222"/>
     <img border="0" height="234" src="/images/abcs.h5.jpg" width="222"/>
    </p>
    <hr align="left" color="#000000" size="1" width="50%"/>
    <p style="margin-top: 0; margin-bottom: 0">
     <br/>
     You can also express the concept of "the ABC's" by spelling A-B-C and then 
signing "through"-(indexing a horizontal list) and then "Z."
     <br/>
     <br/>
     <object classid="CLSID:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,115,0" height="275" id="FVS0" width="320">
      <param name="movie" value="abc-z_player.swf?154064346"/>
      <param name="bgcolor" value="#ffffff"/>
      <param name="allowfullscreen" value="true"/>
      <embed allowfullscreen="true" bgcolor="#ffffff" height="275" name="FVS0" pluginspage='http://www.macromedia.com/go/getflashplayer"' src="abc-z_player.swf?154064346" type="application/x-shockwave-flash" width="320"/>
     </object>
     <br/>
    </p>
    <hr align="left" color="#000000" size="1" width="50%"/>
    <p style="margin-top: 0; margin-bottom: 0">
     <br/>
     If you need to be even "more" clear, you could sign:
     <br/>
     ABC through Z  and then use your index fingers to indicate that you are 
talking about the letters as a "set."
     <br/>
    </p>
   </font>
  </span>
  <font face="Arial">
  </font>
  <object classid="CLSID:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,115,0" height="275" id="FVS" width="320">
   <param name="movie" value="abc-z2_player.swf?235112735"/>
   <param name="bgcolor" value="#ffffff"/>
   <param name="allowfullscreen" value="true"/>
   <embed allowfullscreen="true" bgcolor="#ffffff" height="275" name="FVS" pluginspage='http://www.macromedia.com/go/getflashplayer"' src="abc-z2_player.swf?235112735" type="application/x-shockwave-flash" width="320"/>
  </object>
 </p>
 <hr align="left" color="#000000" size="1" width="50%"/>
 <small>
  <font face="Arial, Helvetica, Verdana" size="2">
   <p align="center">
    <img border="0" height="900" src="/images/sign-language.gif" width="685"/>
   </p>
   <p align="center">
    <small>
     <font size="1">
      Copyright Lifeprint.com.  The Gallaudet font is copyright (c) 1991 by David 
		Rakowski. All Rights Reserved. Used with permission.
      <br/>
     </font>
    </small>
    For a much higher resolution of the above file, visit "
    <a href="../../topics/wallpaper2.htm">
     wallpaper 
	2
    </a>
    ."
   </p>
  </font>
 </small>
 <p style="margin-top: 0; margin-bottom: 0">
 </p>
</blockquote>
