<blockquote>
 <p style="margin-top: 0; margin-bottom: 0">
  <span style="font-weight: 400">
   <font face="Arial">
   </font>
  </span>
  <hr align="left" color="#000000" size="1" width="50%"/>
  <span style="font-weight: 400">
   <font face="Arial">
    <p style="margin-top: 0; margin-bottom: 0">
     actually:
     <br/>
    </p>
    <hr align="left" color="#000000" size="1" width="50%"/>
    <p style="margin-top: 0; margin-bottom: 0">
     <br/>
    </p>
   </font>
  </span>
  <font face="Arial">
  </font>
 </p>
</blockquote>
