<blockquote>
 <hr align="left" color="#000000" size="1"/>
 <span style="font-weight: 400">
  <br/>
  ADULT / tall:
  <br/>
  Let's compare "grow up" with a variation of that sign that we will call: ADULT.
  <br/>
  This version of ADULT can also mean "tall." (Or more specifically, one of the 
versions for the sign for "tall.")
  <br/>
  Hold a bent hand near the side of your head and then move it up (and a bit 
forward) quickly.
  <br/>
  <br/>
  ADULT / TALL-[bent-hand-version]
  <br/>
  <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/WqmgCc3dAZk?rel=0&amp;autoplay=1" width="560">
  </iframe>
  <p>
   <img border="0" height="300" src="/images/adultb1.jpg" width="300"/>
   <img border="0" height="300" src="/images/adultb3.jpg" width="300"/>
   <br/>
   <br/>
   For another version of "tall" see:
   <a href="../t/tall.htm">
    TALL
   </a>
  </p>
  <hr align="left" color="#000000" size="1"/>
  <p>
   <br/>
   <br/>
   ADULT-[initialized-version]-[not-recommended]
   <br/>
   <br/>
   This is an initialized version of "parent" based on mother/father, boy/girl 
locations.  It uses the letter "A" to represent the idea of "adult."  
Many d/Deaf people use this version, but your local teacher might consider it to 
be "signed English" so use this version with caution.
  </p>
  <p>
   <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/aEegdap2Om8?rel=0" width="560">
   </iframe>
  </p>
  <p>
   <img border="0" height="300" src="/images/adult1.jpg" width="300"/>
   <img border="0" height="300" src="/images/adult3.jpg" width="300"/>
  </p>
  <p>
   <br/>
   Note:  If you replace the "A" with a "T" it can 
	mean
  "teenager." 
  Some people feel that using the "T" means the sign is "Signed English" and 
	that you should instead sign teenager by signing "
   <a href="../y/young.htm">
    young
   </a>
   ."
   <br/>
  </p>
  <hr align="left" color="#000000" size="1"/>
  <p>
   <br/>
   RAISED / grow up:
   <br/>
   Show the person getting taller. Use a smooth relatively quick movement.
   <b>
    <i>
     <br/>
     <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/hNj04ToIMkg?rel=0" width="560">
     </iframe>
    </i>
   </b>
  </p>
  <p>
   <img border="0" height="224" src="/images/short-e3.jpg" width="253"/>
   <img border="0" height="224" src="/images/short-e1.jpg" width="253"/>
   <br/>
   <br/>
  </p>
  <hr align="left" color="#000000" size="1"/>
  <p>
   <br/>
  </p>
 </span>
</blockquote>
