<blockquote>
 <hr align="left" color="#000000" size="1"/>
 <p style="margin-top: 0; margin-bottom: 0">
  The general sign for ALL can mean 
"whole" or "entire."
  <br/>
  <br/>
  ALL:
 </p>
 <p style="margin-top: 0; margin-bottom: 0">
  <img border="0" src="/images/all-whole.gif" style="max-width: 100%; height: auto" width="480"/>
  <img border="0" height="256" src="/images/all.gif" width="300"/>
 </p>
 <p style="margin-top: 0; margin-bottom: 0">
  <iframe allow="autoplay; encrypted-media" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/BEfH2a6OfRA?rel=0" width="560">
  </iframe>
 </p>
 <p style="margin-top: 0; margin-bottom: 0">
  <img border="0" height="226" src="/images/all1.jpg" width="250"/>
  <img border="0" height="226" src="/images/all2.jpg" width="250"/>
  <img border="0" height="226" src="/images/all3.jpg" width="250"/>
  <img border="0" height="226" src="/images/all4.jpg" width="250"/>
  <img border="0" height="226" src="/images/all5.jpg" width="250"/>
  <img border="0" height="226" src="/images/all6.jpg" width="250"/>
  <br/>
 </p>
 <font face="Arial">
  <hr align="left" color="#000000" size="1"/>
  <p style="margin-top: 0; margin-bottom: 0">
   <br/>
   There is also a
  </p>
 </font>
 lexicalized version of "ALL."
 <br/>
 "Lexicalized" means that it used to be just fingerspelling but over
time it took on characteristics of a word and not just individually spelled
letters. The location moves, sometimes letters are dropped or only partially
formed. You can use the lexicalized form #ALL to mean the same thing as the sign
"ALL."  Notice the # mark?  When you see that in front of a
sign in an ASL book it means "lexicalized fingerspelling."
 <br/>
 <br/>
 ALL (lexicalized)
 <p style="margin-top: 0; margin-bottom: 0">
  <iframe allow="autoplay; encrypted-media" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/n1PjPqcHswk?rel=0" width="560">
  </iframe>
  <br/>
  <img border="0" height="221" src="/images/all-lexicalized-b1.jpg" width="247"/>
  <img border="0" height="221" src="/images/all-lexicalized-b2.jpg" width="247"/>
  <img border="0" height="221" src="/images/all-lexicalized-b3.jpg" width="247"/>
  <img border="0" height="221" src="/images/all-lexicalized-b4.jpg" width="247"/>
  <br/>
 </p>
 <p style="margin-top: 0; margin-bottom: 0">
  The lexicalized sign #ALL is a type of sign that began as fingerspelling and 
eventually evolved into a sign distinct from the way fingespelling normally 
occurs.
  <br/>
 </p>
 <hr color="#800080"/>
 <p style="margin-top: 0; margin-bottom: 0">
  Note:
"Lexicalized" fingerspelled words
  <i>
   <b>
    used to be
   </b>
  </i>
  called "loan
signs."
Some people still call lexicalized fingerspelled words "loan signs"
but the term "loan sign" more accurately applies to signs that were
"borrowed" from other signed languages and became part of ASL.
  <br/>
  <br/>
  Below is another way to say "ALL" by using a lexicalized form. 
Notice:  I'm using two hands, more facial expression, and a larger movement
than in the previous version.  This shows more emphasis. Sort of like
raising your voice and stressing the word "all" when speaking.
  <br/>
  <br/>
  <img border="0" height="215" src="/images/all-lexicalized1.jpg" width="254"/>
  <img border="0" height="215" src="/images/all-lexicalized2.jpg" width="254"/>
  <img border="0" height="215" src="/images/all-lexicalized3.jpg" width="254"/>
 </p>
 <p style="margin-top: 0; margin-bottom: 0">
 </p>
 <hr color="#800080"/>
 <script language="JavaScript">
  <!--
function MM_swapImgRestore() { //v3.0
  var i,x,a=document.MM_sr; for(i=0;a&&i<a.length&&(x=a[i])&&x.oSrc;i++) x.src=x.oSrc;
}

function MM_preloadImages() { //v3.0
  var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
    var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
    if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
}

function MM_findObj(n, d) { //v4.0
  var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
    d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
  if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
  for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document);
  if(!x && document.getElementById) x=document.getElementById(n); return x;
}

function MM_swapImage() { //v3.0
  var i,j=0,x,a=MM_swapImage.arguments; document.MM_sr=new Array; for(i=0;i<(a.length-2);i+=3)
   if ((x=MM_findObj(a[i]))!=null){document.MM_sr[j++]=x; if(!x.oSrc) x.oSrc=x.src; x.src=a[i+2];}
}
//-->
 </script>
 <h2 align="left" style="margin-top: 0; margin-bottom: 0">
  Animations
 </h2>
 <p align="center" style="margin-top: 0; margin-bottom: 0">
  Animation 1:  General sign for ALL:
  <a href="#" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('all1','','../gifs-animated/all.gif',1)">
   <br/>
  </a>
  <img border="0" height="225" src="/images/all.gif" width="229"/>
 </p>
 <hr color="#800080"/>
 <p align="center" style="margin-top: 0; margin-bottom: 0">
  Animation 2:
  <a href="/images/all-lexicalized-b.gif" target="_blank">
   #ALL-(one 
  handed lexicalized version)
  </a>
 </p>
 <hr color="#800080"/>
 <p align="center" style="margin-top: 0; margin-bottom: 0">
  Animation 3:
  <a href="/images/all-lexicalized.gif" target="_blank">
   #ALL-(two 
  handed lexicalized version)
  </a>
  <br/>
 </p>
 <hr color="#800080"/>
 <h2 align="left" style="margin-top: 0; margin-bottom: 0">
  <font size="3">
   Notes:
  </font>
 </h2>
 <p style="margin-top: 0; margin-bottom: 0">
  <b>
   Sign
  </b>
  : ALL
  <br/>
  <b>
   Synonyms
  </b>
  : whole, entire
  <br/>
  <b>
   Handshape
  </b>
  : both hands use a flat B handshape
  <br/>
  <img border="0" height="117" src="/images/flat.jpg" width="80"/>
  <br/>
  <br/>
  <b>
   Location
  </b>
  : Neutral signing area in front of the body
  <br/>
  <b>
   Orientation
  </b>
  : Palm orientation changes throughout the sign.  
    In general, the right hand is palm out at the start of the sign and ends up 
    palm back.  The left hand is for the most part, palm back.
  <br/>
  <b>
   Movement
  </b>
  :  The right hand does all the movement in this sign.  
    The left hand stays fairly stationary.
  <br/>
  <b>
   Non-Manual Marker
  </b>
  (Facial expressions and or body language): Neutral, 
    unless you are making a point that someone ate the "whole" pie or 
    a similar inflection.
  <br/>
  <b>
   Memory Aid
  </b>
  : Think of reaching into a bag of money and trying to scoop 
    out "all" the money.
  <br/>
  <b>
   Interpretations
  </b>
  :  Whole, entire, complete...
  <br/>
  <b>
   Inflections
  </b>
  :  If you do the sign larger it could means things 
    like "every bit of it" or
    "the whole thing."
 </p>
 <font face="Arial">
  <hr align="left" color="#000000" size="1"/>
 </font>
</blockquote>
