<blockquote>
 <p style="margin-top: 0; margin-bottom: 0">
  <font face="Arial">
   Notes:  "Aloha" is used in spoken Hawaiian  as a greeting or 
    farewell.
   <br/>
   Thus it is the equivalent of both hello and good-bye.
   <br/>
   In ASL we just wave hello and good-bye.
  </font>
  <p style="margin-top: 0; margin-bottom: 0">
   <font face="Arial">
    So far my contacts in Hawaii tell me that they just use a 
	big wave of the "five" hand to say ALOHA.  One of my friends "made up" 
	a sign that starts with wave with an "A" handshape.  But from what I 
	can tell, that sign hasn't spread, and so I can't really recommend it.  
	For now, just smile and do a rainbow-like wave with the palm forward.
    <br/>
   </font>
   <hr align="left" color="#000000" size="1" width="50%"/>
   <p style="margin-top: 0; margin-bottom: 0">
    <p style="margin-top: 0; margin-bottom: 0">
     <font face="Arial">
     </font>
    </p>
    <p style="margin-top: 0; margin-bottom: 0">
     <font face="Arial">
     </font>
    </p>
   </p>
  </p>
 </p>
</blockquote>
