<blockquote>
 <p style="margin-top: 0; margin-bottom: 0">
  <font face="Arial">
   Notes:  Applause can be signed a couple of ways.
   <br/>
   "Hearing Applause" refers to the type of applause used by and for people who 
    can hear and who are of the "Hearing Community" in terms of culture.
  </font>
  <hr align="left" color="#000000" size="1" width="50%"/>
  <p style="margin-top: 0; margin-bottom: 0">
   <font face="Arial">
    APPLAUSE (Hearing Culture version)
    <br/>
    Can also mean "Kudos."
    <br/>
    Mimic clapping your hands.
   </font>
   <hr align="left" color="#000000" size="1" width="50%"/>
   <p style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     "DEAF APPLAUSE"
     <br/>
     Can also mean "Yay!" and "Hurrah!" or "Kudos."
     <br/>
     Hold your hands in the air and twist them a couple of times.
     <br/>
    </font>
    <img border="0" height="218" src="/images/applause1.jpg" width="320"/>
    <img border="0" height="218" src="/images/applause2.jpg" width="320"/>
    <font face="Arial">
     <br/>
    </font>
    <hr align="left" color="#000000" size="1" width="50%"/>
    <p style="margin-top: 0; margin-bottom: 0">
     Animation:
    </p>
    <p style="margin-top: 0; margin-bottom: 0">
     <object classid="CLSID:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=8,0,0,0" height="254" id="FVS" width="320">
      <param name="movie" value="applause-deaf_player.swf?200765314"/>
      <param name="bgcolor" value="#ffffff"/>
      <param name="allowfullscreen" value="true"/>
      <embed allowfullscreen="true" bgcolor="#ffffff" height="254" name="FVS" pluginspage='http://www.macromedia.com/go/getflashplayer"' src="applause-deaf_player.swf?200765314" type="application/x-shockwave-flash" width="320"/>
     </object>
     <p style="margin-top: 0; margin-bottom: 0">
      <p style="margin-top: 0; margin-bottom: 0">
       <font face="Arial">
       </font>
      </p>
      <p style="margin-top: 0; margin-bottom: 0">
       <font face="Arial">
       </font>
      </p>
     </p>
    </p>
   </p>
  </p>
 </p>
</blockquote>
