<blockquote>
 <hr align="left" color="#000000" size="1" width="50%"/>
 <p style="margin-top: 0; margin-bottom: 0">
  To express the concept of "are" in ASL you don't use a specific sign but 
	rather you consider what you mean and you choose the sign or set of signs 
	and grammar features that most closely match your meaning.
  <br/>
  <br/>
  Very typically the concept of "are" is expressed as part of a question that 
	can be answered with a "yes" or a "no."   When asking such 
	questions we raise our eyebrows.  So, in a "yes/no"-type question the 
	concept of "are" is expressed via raising the eyebrows.
  <p style="margin-top: 0; margin-bottom: 0">
   <br/>
   "Are you...?" = "raised eyebrows" + INDEX-(pro.1)
   <br/>
   <img border="0" height="300" src="/images/are.ht1.jpg" width="300"/>
   <br/>
   For example, if you want to ask "Are you married?"
   <p style="margin-top: 0; margin-bottom: 0">
    You would sign "YOU MARRY?" while tilting your head a bit forward and 
	raising your eyebrows.
    <br/>
    <br/>
    Example:
    <br/>
    "Are you married?"
    <br/>
    <br/>
    <object classid="CLSID:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,22,0" height="275" id="FVS" width="320">
     <param name="movie" value="../02/you-married-q_player.swf?1530414273"/>
     <param name="bgcolor" value="#ffffff"/>
     <embed bgcolor="#ffffff" height="275" name="FVS" pluginspage='http://www.macromedia.com/go/getflashplayer"' src="../02/you-married-q_player.swf?1530414273" type="application/x-shockwave-flash" width="320"/>
    </object>
    <br/>
    <font face="Arial">
     <hr align="left" color="#000000" size="1" width="50%"/>
     <p style="margin-top: 0; margin-bottom: 0">
      <br/>
      Another way we can help establish the concept of "ARE" when asking a 
	question is to repeat the sign YOU at the end of the sentence. For example I 
	could sign "YOU MARRIED YOU?"  People often ask me why some ASL 
	sentences repeat the sign YOU again at the end of the sentence.  The 
	answer is it depends on how clear you want to be.  The same thing 
	happens in English.
      <br/>
      Version 1:  "You married?"
      <br/>
      Version 2:  "Are you married?"
      <br/>
      <br/>
      Suppose someone asked you, why do English speakers use the word "ARE" in 
	version two of that sentence? Does it change the meaning? 
	You would probably answer that both sentences mean the same, but the second 
	sentence is a little more formal and clear. In English the question "You 
	married?" relies solely 
	on the raising of the tone of voice at the end of the word "married" to 
	indicate that it is a question, whereas the sentence "Are you married?" 
	relies on both 
	the extra word "ARE"
      <i>
       and
      </i>
      the raising of the tone of voice on the word 
	married.
     </p>
    </font>
    <p style="margin-top: 0; margin-bottom: 0">
     <br/>
     Likewise, ASL sometimes repeats the sign YOU at the end of a sentence to 
	make it clear that you are asking a question and expect an answer.
     <br/>
     <br/>
     Here's an example, this time asking about divorce and repeating the sign YOU 
	at the end.
     <br/>
     <br/>
     "Are you divorced?"
     <font face="Arial">
      = "YOU DIVORCED YOU?"
     </font>
     <p style="margin-top: 0; margin-bottom: 0">
      <p style="margin-top: 0; margin-bottom: 0">
       <object classid="CLSID:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,22,0" height="275" id="FVS0" width="320">
        <param name="movie" value="../02/you-divorce-you_player.swf?223936805"/>
        <param name="bgcolor" value="#ffffff"/>
        <embed bgcolor="#ffffff" height="275" name="FVS0" pluginspage='http://www.macromedia.com/go/getflashplayer"' src="../02/you-divorce-you_player.swf?223936805" type="application/x-shockwave-flash" width="320"/>
       </object>
       <br/>
       <font face="Arial">
        <hr align="left" color="#000000" size="1"/>
       </font>
       <p style="margin-top: 0; margin-bottom: 0">
        <p style="margin-top: 0; margin-bottom: 0">
         The concept "ARE" is also expressed in other ways.
         <br/>
         <br/>
         For example, if you wanted to say, "There are 15 sandwiches," you could 
	sign:
         <br/>
         "HAVE 15 SANDWICHES"
         <br/>
         <font face="Arial">
          <hr align="left" color="#000000" size="1"/>
         </font>
         <p style="margin-top: 0; margin-bottom: 0">
          <br/>
          "Are" = head-nod
          <br/>
          If you wanted to say, "They are here." You could sign: 
	THEY HERE-(head nod).
          <br/>
          <font face="Arial">
           <hr align="left" color="#000000" size="1"/>
          </font>
          <p style="margin-top: 0; margin-bottom: 0">
           <br/>
           If you mean "are" as in "indeed" then a good sign to use is the sign is the 
	sign for "true."
           <br/>
           See:
           <a href="../t/true.htm">
            TRUE
           </a>
           .
           <br/>
           <font face="Arial">
            <hr align="left" color="#000000" size="1"/>
           </font>
           <p style="margin-top: 0; margin-bottom: 0">
            <p style="margin-top: 0; margin-bottom: 0">
             There is a sign in Signed English for the word "are."
             <br/>
             That sign places an R-hand at the lips and moves it forward. That sign is 
	not ASL and I don't recommend it for use on an ASL test nor in the ASL 
	classroom.
             <br/>
             <font face="Arial">
              <img border="0" height="100" src="/images/notasl.gif" width="262"/>
             </font>
            </p>
           </p>
          </p>
         </p>
        </p>
       </p>
      </p>
     </p>
    </p>
   </p>
  </p>
 </p>
</blockquote>
