<blockquote>
 <hr align="left" color="#000000" size="1"/>
 <p style="margin-top: 0; margin-bottom: 0">
  The sign for "Army" or military (or soldier) looks a lot like a person 
	holding on to a rifle.
  <br/>
  If you are right handed, the right
  	"A" hand is held near the chest. The left "A" hand is held near 
	the left
  side of your abdomen.  The hands are about two inches out from
  the body at the beginning of the sign.  Then you simultaneously thump
  both hands on your body.  Use a double motion (in-out-in).
  <br/>
  <p>
   ARMY /
  "military"
  </p>
  <p>
   <img border="0" height="226" src="/images/military1.jpg" width="217"/>
   <img border="0" height="226" src="/images/military2.jpg" width="217"/>
   <img border="0" height="226" src="/images/military3.jpg" width="217"/>
   <img border="0" height="226" src="/images/military4.jpg" width="217"/>
  </p>
  <p>
   <br/>
   Sample Sentence: Was your dad in the Army? = YOUR DAD ARMY PAST?
  </p>
  <p>
   <object classid="CLSID:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=8,0,0,0" height="275" id="FVS" width="320">
    <param name="movie" value="../21/your-dad-military-before_player.swf?1806919536"/>
    <param name="bgcolor" value="#ffffff"/>
    <param name="allowfullscreen" value="true"/>
    <embed allowfullscreen="true" bgcolor="#ffffff" height="275" name="FVS" pluginspage='http://www.macromedia.com/go/getflashplayer"' src="../21/your-dad-military-before_player.swf?1806919536" type="application/x-shockwave-flash" width="320"/>
   </object>
   <br/>
  </p>
  <hr/>
  <p>
   <font face="Arial">
    See:
    <a href="../v/veteran.htm">
     VETERAN
    </a>
   </font>
  </p>
  <font face="Arial">
   <hr align="left" color="#000000" size="1"/>
  </font>
 </p>
</blockquote>
