<blockquote>
 <hr align="left" color="#000000" size="1"/>
 <p style="margin-top: 0; margin-bottom: 0">
  The sign for "autumn" is based on the idea of "leaves falling from a tree."
  <br/>
  Your non-dominant hand represents the tree (not an upright tree, but more of 
	a tired old leaning tree).  Your right hand represents leaves "falling 
	from the tree."
  Use a double motion.  Remember do the movement with your dominant hand.
  <br/>
  <p>
   AUTUMN:
  </p>
  <p>
   <img border="0" height="237" src="/images/autumn1.jpg" width="207"/>
   <img border="0" height="237" src="/images/autumn2.jpg" width="207"/>
   <img border="0" height="237" src="/images/autumn3.jpg" width="207"/>
   <img border="0" height="237" src="/images/autumn4.jpg" width="207"/>
   <img border="0" height="237" src="/images/autumn5.jpg" width="207"/>
   <img border="0" height="237" src="/images/autumn6.jpg" width="207"/>
   <img border="0" height="237" src="/images/autumn7.jpg" width="207"/>
  </p>
  <p>
   <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/g_DZl3jIAbY?rel=0" width="560">
   </iframe>
  </p>
  <hr align="left" color="#000000" size="1" width="50%"/>
  <p style="margin-top: 0; margin-bottom: 0">
   <br/>
   <font face="Arial">
    Sample sentence:
	"Do you like going for a stroll in a cool autumn breeze?"
   </font>
  </p>
  <p style="margin-top: 0; margin-bottom: 0">
   = 

	AUTUMN, WIND-[light], COOL, YOU LIKE CL:1-"go for a stroll"?
  </p>
 </p>
</blockquote>