<blockquote>
 <hr align="left" color="#000000" size="1"/>
 <p style="margin-top: 0; margin-bottom: 0">
  <font face="Arial">
   <img align="right" height="102" src="/images/babybed.gif" width="200"/>
  </font>
  The sign for "baby"
  <font face="Arial">
   is made by placing both arms together as if holding an infant.  Then 
	gently rock your arms back and forth.
   <b>
    Tip:
   </b>
   think of holding a baby in your arms.
  </font>
  <br/>
  <br/>
  BABY:
  <br/>
  <img border="0" src="/images/baby.gif" style="max-width: 100%; height: auto" width="480"/>
  <font face="Arial">
   <img height="171" src="/images/baby.gif" width="250"/>
  </font>
  <p style="margin-top: 0; margin-bottom: 0">
   <img border="0" height="480" src="/images/baby-01.jpg" width="480"/>
   <img border="0" height="480" src="/images/baby-02.jpg" width="480"/>
   <img border="0" height="480" src="/images/baby-03.jpg" width="480"/>
   <p style="margin-top: 0; margin-bottom: 0">
    "Do you have a baby?"
    <p style="margin-top: 0; margin-bottom: 0">
     <iframe allow="autoplay; encrypted-media" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/UdYuyDhyzfI?rel=0" width="560">
     </iframe>
     <br/>
     <font face="Arial">
      <hr align="left" color="#000000" size="1" width="50%"/>
      <p style="margin-top: 0; margin-bottom: 0">
       Also see:
       <a href="../d/daughter.htm">
        DAUGHTER
       </a>
      </p>
      <hr align="left" color="#000000" size="1" width="50%"/>
      <p style="margin-top: 0; margin-bottom: 0">
       Also see:
       <a href="../s/son.htm">
        SON
       </a>
      </p>
      <hr align="left" color="#000000" size="1" width="50%"/>
      <p style="margin-top: 0; margin-bottom: 0">
       Notes:
       <br/>
      </p>
      <div>
       <div>
        In a message dated 1/22/2013 5:29:39 A.M. Central Standard Time, 
			eweav.chik writes:
       </div>
       <blockquote style="BORDER-LEFT: blue 2px solid; PADDING-LEFT: 5px; MARGIN-LEFT: 5px">
        <font color="#000000" face="Arial" size="2" style="BACKGROUND-COLOR: transparent">
         <div>
          Hello! My name is Emily.
         </div>
         <div>
          There's a sign that's confusing me that I would like your help 
				on. I keep seeing a sign used in ASL music videos. It's the sign 
				for "text", as in texting with a phone, but people are using 
				that sign to replace the word "baby." Is this a real sign that 
				can be used in a more romantic phrasing of the word "baby," or 
				is it just slang? And would it be appropriate to use in 
				conversation when not referring to an actual baby?
         </div>
         <div>
          Thank you for your response!
         </div>
        </font>
       </blockquote>
      </div>
      <p>
       Dear Emily,
       <br/>
       That sign you are seeing isn't the sign for texting. It is the sign for 
	"sweetheart."
       <br/>
       People tend to substitute the sign "sweetheart" for the word "baby" in 
	signed songs.
       <br/>
       See:
       <a href="../s/sweetheart.htm">
        SWEETHEART
       </a>
       <br/>
       Cordially,
       <br/>
       Dr. Bill
      </p>
      <hr align="left" color="#000000" size="1"/>
     </font>
    </p>
   </p>
  </p>
 </p>
</blockquote>
