<blockquote>
 <hr align="left" color="#000000" size="1"/>
 The sign for "Baltimore" uses a "B" hand (a flat hand) that slices 
			downward a couple times.
 <br/>
 <p>
  BALTIMORE (as signed by Byron Cantrell)
  <br/>
  <img border="0" height="296" src="/images/baltimore-12.jpg" width="296"/>
  <img border="0" height="296" src="/images/baltimore-13.jpg" width="296"/>
  <img border="0" height="296" src="/images/baltimore-14.jpg" width="296"/>
  <img border="0" height="296" src="/images/baltimore-15.jpg" width="296"/>
  (Byron 
			Cantrell)
 </p>
 <p>
  <br/>
  Notes:
  <br/>
  Here is a video of Byron doing the sign "Baltimore." He is repeating 
			the sign numerous times in an effort to show you how it moves. In 
			everyday life you just need to use two downward movements. (Down, 
			up, down).
  <br/>
 </p>
 <p>
  <object classid="CLSID:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=8,0,0,0" height="275" id="FVS" width="320">
   <param name="movie" value="baltimore_player.swf?1505722629"/>
   <param name="bgcolor" value="#ffffff"/>
   <param name="allowfullscreen" value="true"/>
   <embed allowfullscreen="true" bgcolor="#ffffff" height="275" name="FVS" pluginspage='http://www.macromedia.com/go/getflashplayer"' src="baltimore_player.swf?1505722629" type="application/x-shockwave-flash" width="320"/>
  </object>
  <br/>
 </p>
 <hr align="left" color="#000000" size="1" width="50%"/>
 <p style="margin-top: 0; margin-bottom: 0">
  <br/>
  Notes:
  <br/>
  I've seen some people do a downward slice and then move the hand a 
			bit to the side and do an other downward slice. Personally I 
			recommend you just stick with doing two quick 
			downward slice movements in the same location.
  <br/>
  - Dr. Bill
  <br/>
 </p>
 <font face="Arial">
  <hr align="left" color="#000000" size="1"/>
  <p align="center" style="margin-top: 0; margin-bottom: 0">
   <font face="Arial" size="1">
    You can learn
    <a href="http://www.lifeprint.com" style="text-decoration: none">
     American Sign Language (ASL)
    </a>
    online at American Sign Language University ™
    <br/>
    <a href="http://asl.ms" style="text-decoration: none">
     ASL
    </a>
    resources by Lifeprint.com  ©  Dr. William Vicars
   </font>
  </p>
 </font>
</blockquote>
