<blockquote>
 <hr align="left" color="#000000" size="1"/>
 <p style="margin-top: 0; margin-bottom: 0">
  The sign for "bank" is usually spelled.  Or maybe I should 
say it is "sort of" spelled. The concept of "bank" (as in "The
  <b>
   bank
  </b>
  approved my loan" is usually expressed as lexicalized fingerspelling, which is to say,
a few letters letters get a bit blended together, dropped, or only partially formed.  
Just practice spelling the word until you can do it "very" quickly.
  <br/>
  <br/>
  BANK:
  <p>
   <img border="0" height="211" src="/images/bank1.jpg" width="224"/>
   <img border="0" height="211" src="/images/bank2.jpg" width="224"/>
   <img border="0" height="211" src="/images/bank3.jpg" width="224"/>
   <img border="0" height="211" src="/images/bank4.jpg" width="224"/>
   <br/>
  </p>
  <font face="Arial">
   <hr align="left" color="#000000" size="1"/>
  </font>
  <p>
   Also see: "
   <a href="../t/teller.htm">
    TELLER
   </a>
   "
  </p>
  <font face="Arial">
   <hr align="left" color="#000000" size="1"/>
  </font>
 </p>
</blockquote>
