<blockquote>
 <font face="Arial">
  <hr align="left" color="#000000" size="1"/>
  <p>
   The sign for "basketball" is done with curved-3-hands.
  Some people do the "basketball" sign with "5" handshapes.  But the "3" handshape 
  version is more popular amongst native Deaf adults.
   <br/>
   Make two quick throwing movements.
   <br/>
   <br/>
   BASKETBALL:
   <br/>
   <img border="0" height="215" src="/images/basketball12.jpg" width="226"/>
   <img border="0" height="215" src="/images/basketball13.jpg" width="226"/>
   <img border="0" height="215" src="/images/basketball14.jpg" width="226"/>
   <img border="0" height="215" src="/images/basketball15.jpg" width="226"/>
   <br/>
  </p>
  Animation: BASKETBALL:
  <br/>
  <img border="0" height="215" src="/images/basketball.gif" width="226"/>
  <hr align="left" color="#000000" size="1"/>
  <div>
   <div>
    In a message dated 8/2/2009 10:49:29 A.M. Pacific Daylight Time, 
			tenaciouslady17 writes:
   </div>
   <blockquote style="BORDER-LEFT: blue 2px solid; PADDING-LEFT: 5px; MARGIN-LEFT: 5px">
    <font color="#000000" face="Bookman Old Style" size="3" style="BACKGROUND-COLOR: transparent">
     <div>
      Dr. Bill-
      <br/>
      I noticed that the sign for 'basketball' is somewhat similar to 
				the sign for '
      <a href="../s/salad.htm">
       salad
      </a>
      '. Do you have 
				any pointers on how to distinguish the difference?
      <br/>
      Sincerely,
      <br/>
      Megan
     </div>
    </font>
   </blockquote>
  </div>
  <div>
   Megan,
   <br/>
   Think of the movement of salad as tossing it up in the air using a 
		"digging inward and then flipping upward" movement. The handshapes 
		for SALAD are loose 
		"claw hands" (
   <i>
    slightly
   </i>
   curved five hands).
   <br/>
   "Basketball" has a couple of variations, but one of the variations uses 
		bent three hands.  The movement is a double upward flipping movement. 
		Thus you could use the "three hand" flipping-up movement for basketball and the "five hand" 
		scoop/toss movement for salad.  Yes some people do the sign "basketball" using 
		"5"-handshapes but I recommend you stick with the 3-handshapes..
   <br/>
   --Cordially,
   <br/>
   Dr. Bill
  </div>
  <p>
   <br/>
  </p>
  <hr align="left" color="#000000" size="1" width="50%"/>
  <p>
  </p>
  <hr align="left" color="#000000" size="1"/>
  <p align="center" style="margin-top: 0; margin-bottom: 0">
   <font face="Arial" size="1">
    You can learn American
    <a href="http://www.lifeprint.com" style="text-decoration: none">
     Sign 
		Language
    </a>
    (ASL) online at American Sign Language University ™
    <br/>
    <a href="http://asl.ms" style="text-decoration: none">
     ASL
    </a>
    resources 
		by Lifeprint.com  ©  Dr. William Vicars
   </font>
  </p>
 </font>
</blockquote>
