<blockquote>
 <hr align="left" color="#000000" size="1" width="50%"/>
 <p style="margin-top: 0; margin-bottom: 0">
  BEAR:
  <br/>
  The sign for "bear" is done by crossing your arms over your chest and 
	clawing your chest twice. The sign
  <i>
   ends
  </i>
  with the fingers in the claw 
	shape.
  <p style="margin-top: 0; margin-bottom: 0">
   <img border="0" height="320" src="/images/bear-02.gif" width="320"/>
   <img border="0" height="320" src="/images/bear-small.gif" width="350"/>
   <p align="left">
    <img border="0" height="214" src="/images/bear1.jpg" width="211"/>
    <img border="0" height="214" src="/images/bear2.jpg" width="211"/>
    <img border="0" height="214" src="/images/bear3.jpg" width="211"/>
    <br/>
    <img border="0" height="214" src="/images/bear4.jpg" width="211"/>
    <img border="0" height="214" src="/images/bear5.jpg" width="211"/>
    <img border="0" height="214" src="/images/bear6.jpg" width="211"/>
    <br/>
    <font face="Arial">
     <hr align="left" color="#000000" size="1" width="50%"/>
     <hr align="left" color="#000000" size="1" width="50%"/>
    </font>
    <p style="margin-top: 0; margin-bottom: 0">
     <br/>
     GRIZZLY:
     <br/>
     There isn't a widely established sign for "grizzly." It is generally 
	fingerspelled, and if necessary, introduced using signs like "LARGE, BROWN." 
	Then for the rest of the conversation the sign BEAR means grizzly. If for 
	whatever reason you needed to use both the word "bear" and the word 
	"grizzly" frequently in the same conversation you would stick to signing 
	BEAR and spelling G-R-I-ZZ-L-Y. The double "ZZ" in grizzly would be done 
	with a bent "V" hand.  In my own repeated spelling of grizzly I noticed 
	that eventually I lexicalized the spelling to the point where I dropped one 
	of the "Z's" which allowed me to use the single index finger to transition 
	from a "Z" into an "L" very quickly.
     <br/>
     <br/>
     CUB:
    </p>
    <p style="margin-top: 0; margin-bottom: 0">
     Since the word "cub" is so short, 
	it is generally fingerspelled in adult conversation. If introducing the 
	concept you would use signs like "SMALL" (two hands, slightly curved, 
	showing size) and "BABY."
     <br/>
    </p>
    <font face="Arial">
     <hr/>
     <p style="margin-top: 0; margin-bottom: 0">
      Also see:
      <a href="../f/fox.htm">
       FOX
      </a>
     </p>
     <p style="margin-top: 0; margin-bottom: 0">
      Also see:
      <a href="../w/wolf.htm">
       WOLF
      </a>
     </p>
     <hr/>
    </font>
    <p style="margin-top: 0; margin-bottom: 0">
     In a message dated 2/27/2013 
	3:28:53 P.M. Pacific Standard Time, dauzatheather writes:
     <br/>
     <br/>
     Dear Dr.Bill,
     <br/>
     I am 14 years old and because of a tv show that involves deaf characters, I 
	have become interested in ASL for the past few months. Currently, I am 
	learning the signs to one of my favorite songs. However, I am confused on 
	the proper sign to use for the word 'bear'. The line in the song is "Your 
	hand fits in mine like its made just for me, but bear this in mind, it was 
	meant to be." I know the sign for the ANIMAL bear, but not when it is used 
	in this situation. Could you please help me? Thank you so much :)
     <br/>
     Sincerely,
     <br/>
     - Heather
     <br/>
     <br/>
     Heather,
     <br/>
     The phrase "bear this in mind" would be signed with one ASL sign such as
     <a href="../r/remember.htm">
      REMEMBER
     </a>
     or (in some circumstances: 
	WARN/caution).
     <br/>
     - Dr. Bill
    </p>
   </p>
  </p>
 </p>
</blockquote>
