<blockquote>
 <font face="Arial">
  <h2 style="margin-top: 0; margin-bottom: 0">
   <span style="font-weight: 400">
    American Sign Language:  "best"
   </span>
  </h2>
  <blockquote>
   <hr align="left" color="#000000" size="1" width="50%"/>
   <span style="font-weight: 400">
    <p style="margin-top: 0; margin-bottom: 0">
     BEST:
     <br/>
    </p>
    <p style="margin-top: 0; margin-bottom: 0">
     <img border="0" src="/images/best.gif" style="max-width: 100%; height: auto" width="480"/>
     <br/>
    </p>
    <hr align="left" color="#000000" size="1" width="50%"/>
    <p style="margin-top: 0; margin-bottom: 0">
     "BEST" and "BETTER" are derivatives of "
     <a href="../g/good.htm" style="text-decoration: none">
      GOOD
     </a>
     ."
     <br/>
     <br/>
     Memory Aid:  An interesting way to think of "BETTER" is as a combination of
  "GOOD + ER," and "BEST" as a combination of "GOOD +
  EST."
     <br/>
    </p>
    <hr color="#800080"/>
    <p>
     GOOD:  (For more info, check out the "
     <a href="../g/good.htm" style="text-decoration: none">
      GOOD
     </a>
     "
  page.)
    </p>
    <p>
     <img border="0" height="234" src="/images/good1.jpg" width="231"/>
     <img border="0" height="234" src="/images/good4.jpg" width="231"/>
     <br/>
    </p>
    <hr color="#800080"/>
    <p>
     BETTER:
     <br/>
     The sign for better comes out to the right a bit.
     <br/>
     <img border="0" height="218" src="/images/better1b.jpg" width="230"/>
     <img border="0" height="218" src="/images/better2b.jpg" width="230"/>
     <img border="0" height="218" src="/images/better3b.jpg" width="230"/>
     <br/>
    </p>
    <hr color="#800080"/>
    <p>
     BEST:
     <br/>
     Notice that the sign for BEST makes a much bigger movement.  It actually
  dips down a bit for emphasis prior to moving "way up."  The
  more you exaggerate this sign, the more your are emphasizing how much better
  something is than the others.
     <br/>
     <img border="0" height="236" src="/images/best1.jpg" width="273"/>
     <img border="0" height="236" src="/images/best2.jpg" width="273"/>
     <img border="0" height="236" src="/images/best3.jpg" width="273"/>
     <img border="0" height="236" src="/images/best4.jpg" width="273"/>
     <img border="0" height="236" src="/images/best5.jpg" width="273"/>
    </p>
   </span>
  </blockquote>
  <hr align="left" color="#000000" size="1"/>
  <hr align="left" color="#000000" size="1"/>
  <p style="margin-top: 0; margin-bottom: 0">
   <br/>
   * 
Want to help support ASL University?  It's
   <i>
    easy
   </i>
   :
  </p>
 </font>
 <b>
  <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&amp;hosted_button_id=XHRNABERKJT4N" rel="nofollow" target="_blank">
   <u>
    DONATE
   </u>
  </a>
 </b>
 <font size="2">
  (
  <i>
   Thanks!
  </i>
  )
 </font>
 <br/>
 <br/>
 <font face="Arial">
  *
 </font>
 Another way to help is to buy something from Dr. Bill's "
 <b>
  <a href="../../../bookstore/bookstore.htm">
   <u>
    Bookstore
   </u>
  </a>
 </b>
 ."
 <p style="margin-top: 0; margin-bottom: 0">
  <br/>
  <font face="Arial">
   *
  </font>
  Want even more ASL resources?  Visit the "
  <b>
   <a href="http://www.asl.tc/landing/index.html" rel="nofollow" target="_blank">
    ASL Training Center
   </a>
   !
  </b>
  "  (Subscription 
Extension of ASLU)
  <br/>
  <br/>
  *  Also check out Dr. Bill's channel:
  <a href="http://www.youtube.com/billvicars">
   www.youtube.com/billvicars
  </a>
  <font size="2">
   <br/>
  </font>
 </p>
 <hr align="left" color="#000000" size="1"/>
 <p align="center" style="margin-top: 0; margin-bottom: 0">
  <font size="1">
   You can learn
   <a href="http://lifeprint.com">
    American Sign Language (ASL)
   </a>
   online at American Sign Language University ™
   <br/>
   <a href="http://asl.ms" style="text-decoration: none">
    ASL
   </a>
   resources by Lifeprint.com  ©  Dr. William Vicars
  </font>
 </p>
 <hr color="#000000" size="1"/>
 <p>
 </p>
</blockquote>
