<blockquote>
 <hr align="left" color="#000000" size="1"/>
 <font face="Arial">
  <p align="left">
   BIG / LARGE:
   <br/>
   Notice in the sign below the "L" hand index fingers are bent? 
That is a generic sign for "largeness" or the state of being
big.  If I use "normal" "L" hands then the sign becomes
an initialized sign for "LARGE."
   <br/>
   <br/>
   <img border="0" src="/images/big-large.gif" style="max-width: 100%; height: auto" width="480"/>
  </p>
  <p align="left">
   <img border="0" height="480" src="/images/big-01.jpg" width="480"/>
   <img border="0" height="480" src="/images/big-02.jpg" width="480"/>
   <br/>
  </p>
  <hr align="left" color="#000000" size="1"/>
  <p align="left">
   The larger you do the sign, the larger whatever you are talking about.
   <br/>
   <img border="0" height="224" src="/images/large1.jpg" width="272"/>
   <img border="0" height="224" src="/images/large2.jpg" width="272"/>
   <img border="0" height="224" src="/images/large3.jpg" width="272"/>
  </p>
  <p align="left">
   Note: if something is "very" large, you might also use the mouth 
morpheme "CHA."  You do this by mouthing / saying "cha" (on your lips not 
out loud) while doing the sign.
  </p>
  <p align="left">
   <iframe allow="autoplay; encrypted-media" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/_0ltTWDlWyo?rel=0" width="560">
   </iframe>
  </p>
  <p align="left">
   <img border="0" src="/images/big-cha.gif" style="max-width: 100%; height: auto" width="480"/>
  </p>
  <p align="left">
   <img border="0" height="480" src="/images/big-cha-01.jpg" width="480"/>
   <img border="0" height="480" src="/images/big-cha-02.jpg" width="480"/>
  </p>
  <hr align="left" color="#000000" size="1"/>
  <p align="left">
   Another sign for "big" is made by forming "flat hands" with both of your hands in 
front of you, palms facing inward. Move both hands away from each other. Move 
your hands beyond the width of your body - the further the distance, the larger 
the word described. When you do this sign with a "B" handshape, you are using an 
initialized sign. Many people consider this "Signed English" rather than ASL. 
But notice, I modify the "B" shape so that the thumbs are loosely alongside the 
palms.  I call this a flat hand, (but actually, you might notice that I do curve the handshapes 
just a little bit).  My point is that I'm not trying to map "B" hands to 
the English language, rather I'm simply using my hands to show width.
   <br/>
   <br/>
   BIG (version)
   <br/>
   <img border="0" height="226" src="/images/bigb1.jpg" width="278"/>
   <img border="0" height="226" src="/images/bigb2.jpg" width="278"/>
  </p>
  <hr align="left" color="#000000" size="1"/>
  <p align="left">
   If you use normal (not modified or bent) "L" handshapes, then you are doing an 
"initialized" version.  This sign is considered to be "Signed English" 
rather than ASL.
   <br/>
   Note: Palms face toward each other (not out).
   <br/>
   <br/>
   LARGE ("L" version / initialized) (not recommended)
  </p>
  <p align="left">
   <img height="178" src="/images/big.gif" width="255"/>
  </p>
 </font>
 <font face="Arial">
  <hr align="left" color="#000000" size="1"/>
 </font>
</blockquote>
