<blockquote>
 <hr align="left" color="#000000" size="1"/>
 <p>
  Hold "C" hands up in front of your eyes (as if holding onto 
			a pair of binoculars).
  <br/>
  Twist both hands out, in, and out again (as if adjusting your 
			binoculars).
  <br/>
 </p>
 <p style="margin-top: 0; margin-bottom: 0">
  <img border="0" height="320" src="/images/binoculars-5.jpg" width="278"/>
  <img border="0" height="320" src="/images/binoculars-6.jpg" width="278"/>
  <img border="0" height="320" src="/images/binoculars-7.jpg" width="278"/>
  <img border="0" height="320" src="/images/binoculars-8.jpg" width="278"/>
  <font face="Arial">
   <hr align="left" color="#000000" size="1"/>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
    <font face="Arial" size="1">
     You can learn
     <a href="http://lifeprint.com" style="text-decoration: none">
      American Sign Language (ASL)
     </a>
     online at American Sign Language University ™
     <br/>
     <a href="http://asl.ms" style="text-decoration: none">
      ASL
     </a>
     resources by Lifeprint.com  ©  Dr. William Vicars
    </font>
   </p>
  </font>
 </p>
</blockquote>
