<blockquote>
 <hr align="left" color="#000000" size="1"/>
 <p style="margin-top: 0; margin-bottom: 0">
  The sign for "black" uses a straight index finger and moves 
	the tip across the forehead.
  <p style="margin-top: 0; margin-bottom: 0">
   <iframe allow="autoplay; encrypted-media" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/O5_4x8p5t4U?rel=0" width="560">
   </iframe>
   <img border="0" height="255" src="/images/black.gif" width="300"/>
   <font face="Arial">
    <br/>
    <img border="0" height="232" src="/images/black1.jpg" width="287"/>
    <img border="0" height="232" src="/images/black2.jpg" width="287"/>
    <img border="0" height="232" src="/images/black3.jpg" width="287"/>
    <img border="0" height="232" src="/images/black4.jpg" width="287"/>
    <br/>
   </font>
  </p>
  <font face="Arial">
   <hr align="left" color="#000000" size="1"/>
  </font>
  <p style="margin-top: 0; margin-bottom: 0">
   Memory hint:  Think of demonstrating your girlfriend's ex-boy friend's big 
black "uni-brow."
  </p>
  <font face="Arial">
   <hr align="left" color="#000000" size="1"/>
  </font>
 </p>
</blockquote>
