<blockquote>
 <hr align="left" color="#000000" size="1"/>
 <p style="margin-top: 0; margin-bottom: 0">
  Right "A" hand moves forward over the left "flat-b-palm."
  <br/>
  This sign can be used to mean "It is your fault."
  <br/>
 </p>
 <font face="Arial">
  <hr align="left" color="#000000" size="1"/>
 </font>
 <p style="margin-top: 0; margin-bottom: 0">
  Also see:
  <a href="../r/responsible.htm">
   FAULT
  </a>
 </p>
 <font face="Arial">
  <hr align="left" color="#000000" size="1"/>
 </font>
 <p>
  BLAME:
 </p>
 <p>
  <img border="0" height="212" src="/images/blame1.jpg" width="235"/>
  <img border="0" height="212" src="/images/blame2.jpg" width="235"/>
  <img border="0" height="212" src="/images/blame3.jpg" width="235"/>
  <br/>
 </p>
 <font face="Arial">
  <hr align="left" color="#000000" size="1"/>
  <p>
   <br/>
   <span style="font-weight: 700; background-color: #FFFF00">
    OPTIONAL READING /  
	NOT REQUIRED FOR CLASS
   </span>
  </p>
 </font>
 <p>
  <br/>
  In a message dated 1/21/2008 5:20:20 A.M. Pacific Standard Time, lwilt@ 
	writes:
  <br/>
  Hi, Dr. Bill, I have a question for you – what is the difference between using 
	the sign for “blame, accuse” to indicate “fault” versus the sign where the 
	hand drops down from “responsibility”? do either of these signs represent 
	the concept of ‘having many faults’ (shortcomings)?
  <br/>
  Thanks for your help!
  <br/>
  -
	Linda Wilt
 </p>
 <p>
  <br/>
  Dear Linda,
  <br/>
  The "
  <b>
   BLAME
  </b>
  " sign can mean "accuse," "It is your/my/his/her/its fault" 
	or "blamed." This sign is directional thus it can indicate who or what is 
	"at fault" or who is being "accused" as well as who is doing the accusing.
  <br/>
  <br/>
  The "
  <b>
   FAULT
  </b>
  " sign is non-directional and needs a sign such as "YOUR," 
	"MY," or "HIS/HER" to indicate the object. This sign cannot be used directly 
	to indicate "accusation." You would need to sign, "SHE INFORM-me your-FAULT" 
	or "SHE TOLD-me YOUR FAULT."
  <br/>
  <br/>
  "
  <b>
   Shortcomings
  </b>
  " would not use the sign "FAULT." Shortcomings would be 
	described with phrases such as:
  <br/>
  "HE/SHE PROBLEMS MANY!"
  <br/>
  "HE/SHE WEAK MANY!"
  <br/>
  "HIS/HER CHARACTER? SO-SO."
  <br/>
  "HE/SHE not-GOOD-ENOUGH."
  <br/>
  Such phrases would be accompanied by non-manual markers (facial 
	expressions/body language) such as a "scrunched nose."
  <br/>
  -- Dr. Bill
 </p>
 <p>
 </p>
 <hr align="left" width="25%"/>
 <p>
  In a message dated 1/21/2008 10:11:12 A.M. Pacific Standard Time, lwilt@ 
	writes:
  <br/>
  Ok, so besides one being directional and one needing a possessive pronoun 
	both sign mean the same thing?
 </p>
 <p>
  - Linda
 </p>
 <p>
  <br/>
  <font face="Arial">
   Linda,
  </font>
 </p>
 <p>
  No. Each sign has its own semantic range (a range of meanings). The semantic 
	ranges of the two signs do overlap, but not completely.
  <br/>
  If you look the words up in an English dictionary you will note that the 
	word "fault" has about twice as many meanings as the word "blame."
  <br/>
  The ASL sign FAULT only expresses two or three of the meanings of the word 
	"fault."
  <br/>
  The meanings of the word "blame" generally contain the concept of "to" as in 
	"to find fault," "to accuse," "to attribute."
  <br/>
  I generally think of the ASL sign "FAULT" as being limited to meaning 
	"responsibility for some negative occurrence or situation."
  <br/>
  The ASL sign BLAME carries a different and somewhat wider semantic range than the ASL sign "
  <font face="Arial">
   <a href="../r/responsible.htm">
    FAULT
   </a>
  </font>
  ."
  <br/>
 </p>
 <font face="Arial">
  <hr align="left" color="#000000" size="1"/>
  <p align="center" style="margin-top: 0; margin-bottom: 0">
   <font face="Arial" size="1">
    You can learn
    <a href="http://www.lifeprint.com" style="text-decoration: none">
     American Sign Language (ASL)
    </a>
    online at American Sign Language University ™
    <br/>
    <a href="http://asl.ms" style="text-decoration: none">
     ASL
    </a>
    resources by Lifeprint.com  ©  Dr. William Vicars
   </font>
  </p>
 </font>
</blockquote>
