<blockquote>
 <h1 style="margin-top: 0; margin-bottom: 0">
  <font face="Arial">
   <span style="font-weight: 400">
    <font size="5">
     ASL: "blurt"
    </font>
   </span>
   <br/>
  </font>
 </h1>
 <p>
  <br/>
  An elementary school teacher writes:
  <br/>
  <br/>
  "Hello!
  <br/>
  I love your website and use it with my students weekly. I teach 2nd and 3rd 
graders in a multi age classroom and since I am hard of hearing (deaf in one ear 
since birth), I have always taught ASL in my classroom (over 20 years). Can you 
tell me how to sign "blurt?"
  <br/>
  <br/>
  This is a concept we work on all year. ;) Last year ______ recommended this sign 
to me:
  <br/>
  <p>
   Flick the thumb and forefinger in front of the lips, flicking away from 
the mouth. Other fingers are folded under.
   <br/>
   <br/>
   Would you say that is a good sign to continue to use?
   <br/>
   <br/>
   Thank you for your time and for your free lessons. It's hard to use my receptive 
skills when I am producing all day long. So I love the practice.
   <br/>
   <br/>
   Kristin Adamski
   <br/>
   Bishop Elementary
   <br/>
   Ypsilanti, Michigan
   <hr align="right" color="#000000" size="1" width="25%"/>
   <p>
   </p>
   <p>
    Hello Kristin,
   </p>
   <p>
    When deciding which sign to use for advanced (?)  concepts like "blurt" 
-- it helps to understand the various options and from where those options 
evolved. Ask yourself: "What is the base sign that was modified to create this 
new specialized meaning?"
    <br/>
    <br/>
    According to Google definitions, "blurt" means to "say (something) suddenly and 
without careful consideration." Synonyms: burst out with, exclaim, call out.
    <br/>
    <br/>
    The right sign for "blurt" is going to depend on which specific meaning of blurt 
that you intend to convey.
    <br/>
    <br/>
    The index finger flicking forward from the mouth version of blurt is very 
similar to the sign for "SPIT" (which uses a plosive mouth movement to make it 
sort of look like you are spitting). This sign is also related to the sign 
"TATTLE" (which flicks to the side).  So you can see how the index finger 
flicking forward from the mouth version of blurt would be good for expressing 
the meaning of "blurting out a secret."  Think of the phrase, "come on, 
spit it out" -- which is used to encourage someone to "blurt out" something that 
they know which you do not know.  This version of blurt also conveys a 
sense of pent up tension and release. It also conveys the concept of that which 
is being blurted is a discrete bit of information that was formerly discreet.  
(The spelling of those words is important discrete/discreet.) In other words, 
spitting and vomiting are two different things.  You spit a wad -- a small 
compact bit.  Thus the "spit it out" version of "blurt" is good to convey 
the meaning of spitting out a wad of information (a small compact bit of 
information).
    <br/>
    <br/>
    However, there are other ways to express the concept of "blurt."
   </p>
   <p>
    <br/>
    You can use a modified version of the sign "TALK" (that uses a "4-hand").  
You hold the hand near your mouth and then move it forward one time while 
fluttering the fingers.
    <br/>
    <br/>
    You could also use a modified version of the sign "ANNOUNCE." Which is a 
modified version of the sign for TELL. (As in "tell everyone.")
    <br/>
    <br/>
    I will put these on my "to create a video for" list.
    <br/>
    - Dr. Bill
    <br/>
    <br/>
    <br/>
   </p>
   <p>
    <hr align="left" color="#000000" size="1"/>
    <script type="text/javascript">
     <!--
google_ad_client = "ca-pub-2513564923850231";
/* 728x15_link_ads_adsense1_bottom */
google_ad_slot = "2289748297";
google_ad_width = 728;
google_ad_height = 15;
//-->
    </script>
    <script src="//pagead2.googlesyndication.com/pagead/show_ads.js" type="text/javascript">
    </script>
    <p align="center" style="margin-top: 0; margin-bottom: 0">
    </p>
    <script type="text/javascript">
     <!--
google_ad_client = "ca-pub-2513564923850231";
/* 728x15_link_ads_adsense1_bottom */
google_ad_slot = "2289748297";
google_ad_width = 728;
google_ad_height = 15;
//-->
    </script>
    <script src="//pagead2.googlesyndication.com/pagead/show_ads.js" type="text/javascript">
    </script>
    <p align="center" style="margin-top: 0; margin-bottom: 0">
    </p>
    <script type="text/javascript">
     <!--
google_ad_client = "ca-pub-2513564923850231";
/* 728x15_link_ads_adsense1_bottom */
google_ad_slot = "2289748297";
google_ad_width = 728;
google_ad_height = 15;
//-->
    </script>
    <script src="//pagead2.googlesyndication.com/pagead/show_ads.js" type="text/javascript">
    </script>
    <hr align="left" color="#000000" size="1"/>
    <p>
     Notes:
     <br/>
    </p>
    <p style="margin-top: 0; margin-bottom: 0">
    </p>
    <hr align="left" color="#000000" size="1"/>
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p style="margin-top: 0; margin-bottom: 0">
    <br/>
    * 
Want to help support ASL University?  It's
    <i>
     easy
    </i>
    :
    <b>
     <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&amp;hosted_button_id=XHRNABERKJT4N" rel="nofollow" target="_blank">
      <u>
       DONATE
      </u>
     </a>
    </b>
    <font size="2">
     (
     <i>
      Thanks!
     </i>
     )
    </font>
    <br/>
    <br/>
    <font face="Arial">
     *
    </font>
    Another way to help is to buy something from Dr. Bill's "
    <b>
     <a href="../../../bookstore/bookstore.htm">
      <u>
       Bookstore
      </u>
     </a>
    </b>
    ."
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <br/>
    <font face="Arial">
     *
    </font>
    Want even more ASL resources?  Visit the "
    <b>
     <a href="http://www.asl.tc/landing/index.html" rel="nofollow" target="_blank">
      ASL Training Center
     </a>
     !
    </b>
    "  (Subscription 
Extension of ASLU)
    <br/>
    <br/>
    *  Also check out Dr. Bill's channel:
    <a href="http://www.youtube.com/billvicars">
     www.youtube.com/billvicars
    </a>
    <font size="2">
     <br/>
    </font>
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
    <font size="1">
     You can learn
     <a href="http://lifeprint.com">
      American Sign Language (ASL)
     </a>
     online at American Sign Language University ™
     <br/>
     <a href="http://asl.ms" style="text-decoration: none">
      ASL
     </a>
     resources by Lifeprint.com  ©  Dr. William Vicars
    </font>
   </p>
   <hr color="#000000" size="1"/>
   <p>
   </p>
  </p>
 </p>
</blockquote>
