<blockquote>
 <hr align="left" color="#000000" size="1"/>
 Touch your hands to the upper part of your torso, then touch your hands to the
  lower part of your torso.
 <font face="Arial">
  <hr align="left" color="#000000" size="1"/>
 </font>
 <p>
  body:
 </p>
 <p>
  <img border="0" height="221" src="/images/body1.jpg" width="261"/>
  <img border="0" height="221" src="/images/body2.jpg" width="261"/>
  <img border="0" height="221" src="/images/body3.jpg" width="261"/>
  <img border="0" height="221" src="/images/body4.jpg" width="261"/>
 </p>
 <p>
 </p>
 <font face="Arial">
  <hr align="left" color="#000000" size="1"/>
 </font>
 Also see:
 <p>
  <a href="../f/foot.htm">
   FOOT
  </a>
  <br/>
  <a href="../h/hair.htm">
   HAIR
  </a>
  <br/>
  <a href="../e/eyes.htm">
   EYES
  </a>
  <br/>
  <a href="../f/face.htm">
   FACE
  </a>
  <br/>
  <a href="../h/heart.htm">
   heart
  </a>
  <br/>
  <a href="back.htm">
   back
  </a>
  <br/>
  <a href="bald.htm">
   bald
  </a>
  <br/>
  <a href="body-parts.htm">
   body-parts: ARM, HANDS, LEG
  </a>
  <br/>
  <a href="../e/ears.htm">
   ears
  </a>
  <br/>
  <a href="../s/stomach.htm">
   stomach
  </a>
 </p>
 <font face="Arial">
  <hr align="left" color="#000000" size="1"/>
  <p>
   Suppose you mean body as in "a body of work as a whole," see: "
   <a href="../c/cluster.htm">
    CLUSTER
   </a>
   "
  </p>
  <hr align="left" color="#000000" size="1"/>
  <p align="center" style="margin-top: 0; margin-bottom: 0">
   <font face="Arial" size="1">
    You can learn
    <a href="http://lifeprint.com" style="text-decoration: none">
     American Sign Language (ASL)
    </a>
    online at American Sign Language University ™
    <br/>
    <a href="http://asl.ms" style="text-decoration: none">
     ASL
    </a>
    resources by Lifeprint.com  ©  Dr. William Vicars
   </font>
  </p>
 </font>
</blockquote>
