<blockquote>
 <hr align="left" color="#000000" size="1"/>
 <font face="Arial">
  <p>
   There are a couple of ways to sign "BOSTON."
  </p>
  <p>
   <br/>
   The general "main" way I'm going to recommend is to hold a "B" in front of you then 
			move it to the it to the right (if you are right handed) and then down. 
			Note: If you are Deaf (native and/or a "highly" skilled ASL signer) 
			and you are from
   <i>
    Boston
   </i>
   if you disagree with the following 
			version of this sign please do let me know. (Dr. Bill)
   <br/>
   <br/>
   BOSTON:
  </p>
  <p>
   <img border="0" height="217" src="/images/boston1.jpg" width="225"/>
   <img border="0" height="217" src="/images/boston2.jpg" width="225"/>
   <img border="0" height="217" src="/images/boston3.jpg" width="225"/>
   <img border="0" height="217" src="/images/boston4.jpg" width="225"/>
  </p>
  <hr align="left" color="#000000" size="1" width="33%"/>
  <p>
   Animated: BOSTON
   <br/>
   <img border="0" height="217" src="/images/boston.gif" width="225"/>
   <br/>
  </p>
  <hr align="left" color="#000000" size="1" width="33%"/>
  <p>
   <br/>
   Byron Cantrell also tends to use the "7" movement path. He does it 
			even larger than I do.
   <br/>
   <br/>
   BOSTON:
   <br/>
   <img border="0" height="296" src="/images/boston-18.jpg" width="295"/>
   <img border="0" height="296" src="/images/boston-19.jpg" width="295"/>
   <img border="0" height="296" src="/images/boston-20.jpg" width="295"/>
   <font size="1">
    (Byron Cantrell)
   </font>
  </p>
 </font>
 <font face="Arial">
  <hr align="left" color="#000000" size="1"/>
 </font>
 <p style="margin-top: 0; margin-bottom: 0">
  <br/>
  Notes:
  <br/>
  <br/>
  The other way to sign "Boston" is to move a "B" handshape downward twice.
  <br/>
 </p>
 <p style="margin-top: 0; margin-bottom: 0">
  Warning: If you are chatting with someone in 
  California and they do this sign...it will
  <i>
   probably
  </i>
  be interpreted as 
			meaning "Berkeley, California." 
			(Especially if you are talking about old Deaf Schools.)
  <br/>
 </p>
 <p style="margin-top: 0; margin-bottom: 0">
  If you are chatting with someone in the Northeast 
	who does a sign with a "B" handshape that uses this "down, up, down" 
	movement he or she probably means, "Boston, Massachusetts."
 </p>
 <p>
  <br/>
  The "B" hand bounces downward slightly using a "down, up, down" movement. The 
  movement is about 3 or 4 inches.
  <br/>
  <br/>
  BOSTON:
  <br/>
  (variation) (also means "Berkeley, California)
 </p>
 <p>
  <img border="0" height="203" src="/images/boston7.jpg" width="277"/>
  <img border="0" height="203" src="/images/boston8.jpg" width="277"/>
  <img border="0" height="203" src="/images/boston9.jpg" width="277"/>
  <img border="0" height="203" src="/images/boston10.jpg" width="277"/>
  <img border="0" height="203" src="/images/boston11.jpg" width="277"/>
  <img border="0" height="203" src="/images/boston12.jpg" width="277"/>
 </p>
 <font face="Arial">
  <p>
  </p>
  <hr align="left" color="#000000" size="1" width="33%"/>
  <p>
  </p>
 </font>
 <p>
  Animated: Boston (version 2)
  <br/>
  <img border="0" height="199" src="/images/boston2.gif" width="245"/>
  <br/>
 </p>
 <font face="Arial">
  <hr align="left" color="#000000" size="1"/>
  <p align="center" style="margin-top: 0; margin-bottom: 0">
   <font face="Arial" size="1">
    You can learn
    <a href="http://www.lifeprint.com" style="text-decoration: none">
     American Sign Language (ASL)
    </a>
    online at American Sign Language University ™
    <br/>
    <a href="http://asl.ms" style="text-decoration: none">
     ASL
    </a>
    resources by Lifeprint.com  ©  Dr. William Vicars
   </font>
  </p>
 </font>
</blockquote>
