<blockquote>
 <p align="right">
 </p>
 <p align="right">
  <img alt="back.gif (1674 bytes)" border="0" height="28" onclick="history.go(-1)" src="/images/back.gif" width="54"/>
 </p>
 <h1 align="center">
  <i>
   bring
  </i>
 </h1>
 <p>
  This sign also means "carry."
 </p>
 <hr color="#800080"/>
 <p>
 </p>
 <p>
  <img border="0" height="232" src="/images/bring.gif" width="400"/>
 </p>
 <hr color="#800080"/>
 <p>
  <img border="0" height="219" src="/images/bring1.jpg" width="307"/>
  <img border="0" height="219" src="/images/bring2.jpg" width="307"/>
  <br/>
  <img border="0" height="219" src="/images/bring3.jpg" width="307"/>
  <img border="0" height="219" src="/images/bring4.jpg" width="307"/>
  <br/>
  <img border="0" height="219" src="/images/bring5.jpg" width="307"/>
 </p>
 <p>
 </p>
 <hr color="#800080"/>
 <p align="right">
  <img alt="back.gif (1674 bytes)" border="0" height="28" onclick="history.go(-1)" src="/images/back.gif" width="54"/>
  <br/>
  <br/>
 </p>
 <p>
 </p>
</blockquote>
