<blockquote>
 <hr align="left" color="#000000" size="1" width="50%"/>
 <span style="font-weight: 400">
  <font face="Arial">
   <p style="margin-top: 0; margin-bottom: 0">
    BRUSH TEETH:
    <br/>
    <font size="+1">
     T
    </font>
    he 
sign for "brush teeth" is made by using the index finger of your right hand to 
brush your teeth using a side to side horizontal movement.
    <br/>
    <iframe allow="autoplay; encrypted-media" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/exx7eObiynQ?rel=0" width="560">
    </iframe>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <img border="0" src="/images/brush-teeth.gif" style="max-width: 100%; height: auto" width="480"/>
    <img height="214" src="/images/brsteeth.gif" width="186"/>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <img border="0" height="480" src="/images/brush-teeth-01.jpg" width="480"/>
    <img border="0" height="480" src="/images/brush-teeth-02.jpg" width="480"/>
    <img border="0" height="480" src="/images/brush-teeth-03.jpg" width="480"/>
    <img border="0" height="480" src="/images/brush-teeth-04.jpg" width="480"/>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1" width="50%"/>
   <p style="margin-top: 0; margin-bottom: 0">
    <br/>
    Note: The sign "teeth" is not part of 
the sign "BRUSH-TEETH"
    <br/>
    <br/>
    Example:
    <br/>
    "Do I need to brush my teeth?"
    <br/>
    <iframe allow="autoplay; encrypted-media" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/cj46uMWz8aQ?rel=0" width="560">
    </iframe>
    <br/>
   </p>
   <hr align="left" color="#000000" size="1" width="50%"/>
  </font>
 </span>
 <p style="margin-top: 0; margin-bottom: 0">
  <span style="font-weight: 400">
   See:
   <a href="../t/teeth.htm" style="text-decoration: none">
    TEETH
   </a>
  </span>
 </p>
 <font face="Arial">
  <span style="font-weight: 400">
   <hr align="left" color="#000000" size="1" width="50%"/>
  </span>
 </font>
</blockquote>
