<blockquote>
 <hr align="left" color="#000000" size="1" width="50%"/>
 <span style="font-weight: 400">
  <font face="Arial">
   <p style="margin-top: 0; margin-bottom: 0">
    BUS:
    <br/>
    Recommended version:  
Just spell 
B-U-S, (
    <i>
     very
    </i>
    quickly).
    <br/>
   </p>
   <hr align="left" color="#000000" size="1" width="50%"/>
   <p>
    <img border="0" height="229" src="/images/busfingerspelled1.jpg" width="227"/>
    <img border="0" height="229" src="/images/busfingerspelled2.jpg" width="227"/>
    <img border="0" height="229" src="/images/busfingerspelled3.jpg" width="227"/>
    <br/>
    <br/>
    To sign "bus driver" combine the concepts B-U-S+DRIVE+PERSON-agent.
    <br/>
   </p>
   <hr color="#800080"/>
   <p>
    BUS:
    <br/>
    Variation:
    <br/>
    Use a "bent V" and move it backward 
	twice.
    <br/>
    <br/>
    <object classid="CLSID:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=8,0,0,0" height="275" id="FVS" width="320">
     <param name="movie" value="bus_player.swf?60444046"/>
     <param name="bgcolor" value="#ffffff"/>
     <param name="allowfullscreen" value="true"/>
     <embed allowfullscreen="true" bgcolor="#ffffff" height="275" name="FVS" pluginspage='http://www.macromedia.com/go/getflashplayer"' src="bus_player.swf?60444046" type="application/x-shockwave-flash" width="320"/>
    </object>
    <br/>
    <br/>
    Memory aide: Try to imagine in the old days (and in some places still?) the 
	cord that went along the ceiling of a bus.  If you wanted to get off 
	the bus you reached up and pulled on that cord which rang a bell to alert 
	the driver that you wanted to get off the bus.
    <br/>
    <br/>
    Note: Some people in the Sacramento, California area use this sign or a "one 
	fingered" version of this sign to mean "light rail."
   </p>
   <p>
    <img border="0" height="231" src="/images/bus3.jpg" width="250"/>
    <img border="0" height="231" src="/images/bus4.jpg" width="250"/>
    <img border="0" height="231" src="/images/bus1.jpg" width="250"/>
    <br/>
    <img border="0" height="231" src="/images/bus3.jpg" width="250"/>
    <img border="0" height="231" src="/images/bus4.jpg" width="250"/>
    <img border="0" height="231" src="/images/bus1.jpg" width="250"/>
   </p>
   <hr color="#800080"/>
   <b>
    Sign
   </b>
   : BUS-(driving) [VERB form]
   <br/>
   The verb "bus" is done by miming the driving of a bus.  Hold on to a very big 
	steering wheel, puff your cheeks out slightly, and turn the wheel back and 
	forth a couple times.  This version tends to show up in stories after 
	you have identified the bus and are indicating how the bus is being driven.
   <hr color="#000000" size="1"/>
   <div>
    <br/>
    A student (pdunn718) writes:
   </div>
   <blockquote style="BORDER-LEFT: blue 2px solid; PADDING-LEFT: 5px; MARGIN-LEFT: 5px">
    <font color="#000000" face="Arial" size="2" style="BACKGROUND-COLOR: transparent">
     <div>
      Professor,
     </div>
     <div>
      Hope all is well!
     </div>
     <div>
      A quick question if you have time...in NYC I've seen "bus" signed with 
		two "B" hands, hitting one on top of the other. vertically.. in other 
		words, not clapping palm-to-palm or palm-to-front-of-hand, but so that 
		the index finger of the bottom B hits against the pinky of the top B.
     </div>
     <div>
      Ever seen this before? Is this an ESL sign?
     </div>
     <div>
      Thanks!
     </div>
    </font>
   </blockquote>
   <div>
    Dear Pdunn,
    <br/>
    Your "two B hands" version is indeed an example of "Signed English."
    <br/>
    It is quite to see various versions of vehicles done by using the initial of 
	the English word as the handshapes for the sign. While I think it is good to 
	recognize those versions when you see them, I don't recommend you do those 
	versions on an ASL test.
    <br/>
    Cordially,
    <br/>
    Dr. Bill
    <p>
     Also see:
     <a href="../c/car.htm">
      CAR
     </a>
     <br/>
     Also see:
     <a href="../t/truck.htm">
      TRUCK
     </a>
    </p>
   </div>
  </font>
 </span>
</blockquote>
