<blockquote>
 <hr align="left" color="#000000" size="1"/>
 <p style="margin-top: 0; margin-bottom: 0">
  The sign for "busy" generally fingerspelled.
  <br/>
  Sample sentence: Tomorrow are you busy?
  <br/>
  <br/>
  <object classid="CLSID:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=8,0,0,0" height="275" id="FVS" width="320">
   <param name="movie" value="../22/tomorrow-are-you-busy_player.swf?3140916433"/>
   <param name="bgcolor" value="#ffffff"/>
   <param name="allowfullscreen" value="true"/>
   <embed allowfullscreen="true" bgcolor="#ffffff" height="275" name="FVS" pluginspage='http://www.macromedia.com/go/getflashplayer"' src="../22/tomorrow-are-you-busy_player.swf?3140916433" type="application/x-shockwave-flash" width="320"/>
  </object>
  <br/>
  Note: The fingerspelled version of the sign #BUSY tends to trace a "Z" path 
in the air. If you don't know what I'm talking about, that is okay, just 
spell BUSY quickly you'll still be understood, but native Deaf tend to start 
with the B, move a bit to the right as they change to the U, then down and 
to the left as they do the S, and a bit to the right as they do the Y.
  <br/>
  <font face="Arial">
   <hr align="left" color="#000000" size="1"/>
  </font>
  <p style="margin-top: 0; margin-bottom: 0">
   <br/>
   <p>
    While the concept of "busy" is generally just spelled very quickly, there is 
also a signed version of "busy" that uses a modified version of
the sign "BUSINESS."  To use this version of "busy" do the sign for 
business using a much smaller, quicker movement.
    <br/>
   </p>
   <p>
    BUSINESS:
   </p>
   <p>
    <img border="0" height="213" src="/images/business1.jpg" width="208"/>
    <img border="0" height="213" src="/images/business2.jpg" width="208"/>
    <img border="0" height="213" src="/images/business3.jpg" width="208"/>
    <img border="0" height="213" src="/images/business4.jpg" width="208"/>
    <img border="0" height="213" src="/images/business5.jpg" width="208"/>
    <br/>
    <br/>
    <font face="Arial">
     <span style="font-weight: 400">
      <a href="../22/can-you-manage-your-own-business.htm">
       CAN YOU MANAGE YOUR-SELF BUSINESS?
      </a>
      (Can you run your own business?)
      <br/>
      <br/>
     </span>
    </font>
    <object classid="CLSID:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=8,0,0,0" height="275" id="FVS" width="320">
     <param name="movie" value="../22/can-you-manage-your-own-business_player.swf?52318201"/>
     <param name="bgcolor" value="#ffffff"/>
     <param name="allowfullscreen" value="true"/>
     <embed allowfullscreen="true" bgcolor="#ffffff" height="275" name="FVS" pluginspage='http://www.macromedia.com/go/getflashplayer"' src="../22/can-you-manage-your-own-business_player.swf?52318201" type="application/x-shockwave-flash" width="320"/>
    </object>
    <br/>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
   <p style="margin-top: 0; margin-bottom: 0">
    <br/>
    <font size="4">
     Notes:
    </font>
    <br/>
    <br/>
    Sometimes you'll see the concept of "none of your business" expressed as NYB 
("not your business).  You might even see NYOB (yes I know, the order 
of the letters is a bit mixed up, it just rolls off the fingers better that 
way).  It has quite a while since I've seen this sign though.  
Perhaps it is because I haven't stuck my nose into things that are not my 
business?
    <br/>
    <br/>
    NYB =
    <font face="Arial">
     None of your business:
    </font>
    <br/>
    <img border="0" height="213" src="/images/nyob2.jpg" width="208"/>
    <img border="0" height="213" src="/images/nyob3.jpg" width="208"/>
    <img border="0" height="213" src="/images/nyob5.jpg" width="208"/>
    <br/>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
   <p style="margin-top: 0; margin-bottom: 0">
    Note: In the autumn of 2008 I attended a BBQ with a bunch of my friends.  
Let's see...two Ph.D.s, 3 MA's,  and a 4th generation Deaf grandmother 
of two more generations of Deaf, -- ALL of us college 
teachers of ASL.  (I've GOT to get a wider circle of friends eh?)  We 
head to the beach (lakeside) for a bit of rest and relaxation and what do we 
do? We spend the whole freaking afternoon haggling about SIGN LANGUAGE 
variations!!!  I kid you not, the six of us EACH used a
    <i>
     different
    </i>
    sign 
or set of signs for the concept: "None of your business!"
    <br/>
    So, next time your local ASL teacher tells you that his/her sign is the 
"right" sign, just nod your head sweetly, do it his/her way, and remember 
that in a few weeks class will be over. Then head to your local Deaf hangout 
and learn to sign how the local Deaf do it.
    <br/>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
  </p>
 </p>
</blockquote>
