<blockquote>
 <hr align="left" color="#000000" size="1"/>
 <p style="margin-top: 0; margin-bottom: 0">
  The sign for "buy" looks like you are taking money from your 
hand and placing it in someone else's hand.
  <p>
   <br/>
   BUY:
  </p>
  <p>
   <img border="0" height="211" src="/images/buy1.jpg" width="209"/>
   <img border="0" height="211" src="/images/buy2.jpg" width="209"/>
   <img border="0" height="211" src="/images/buy3.jpg" width="209"/>
   <img border="0" height="211" src="/images/buy4.jpg" width="209"/>
   <br/>
   <br/>
   Sentence: Everyday you buy what?
  </p>
  <p>
   <br/>
   <object classid="CLSID:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=8,0,0,0" height="275" id="FVS" width="320">
    <param name="movie" value="../22/everyday-you-buy-what_player.swf?205697945"/>
    <param name="bgcolor" value="#ffffff"/>
    <param name="allowfullscreen" value="true"/>
    <embed allowfullscreen="true" bgcolor="#ffffff" height="275" name="FVS" pluginspage='http://www.macromedia.com/go/getflashplayer"' src="../22/everyday-you-buy-what_player.swf?205697945" type="application/x-shockwave-flash" width="320"/>
   </object>
   <br/>
  </p>
  <hr align="left" color="#000000" size="1"/>
  <p>
   <b>
    Notes:
    <br/>
    <br/>
   </b>
   SHOPPING:  To sign "shopping" do a repeated version of the sign 
buy.  Use a smaller movement but do it twice. Start the right hand from a 
position behind and above the left hand. Then bring it forward and down so it 
brushes along the left palm and continues forward out in front of the left 
hand.
   <br/>
  </p>
  <hr align="left" color="#000000" size="1"/>
  <font face="Arial">
   Also see:
   <a href="../m/money.htm">
    MONEY
   </a>
   <hr align="left" color="#000000" size="1"/>
   Also see:
   <a href="../p/pay.htm">
    PAY
   </a>
   <hr align="left" color="#000000" size="1"/>
  </font>
 </p>
</blockquote>
