<blockquote>
 <p style="margin-top: 0; margin-bottom: 0">
  <font face="Arial">
   CAKE is one of those concepts for which there are many 
    different signs.
   <br/>
   <br/>
   The "right" way to sign it depends on who you ask.  You are here, that 
    means you are asking me and so I'll tell you that your safest bet is to
   <i>
    spell
   </i>
   it.  
    Further below I'll show a few of the more popular versions I've seen.
  </font>
  <p style="margin-top: 0; margin-bottom: 0">
   <p style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     <a href="/images/c.gif">
      <img alt="c.gif (438798 bytes)" border="2" height="100" src="/images/c_small.gif" width="100" xthumbnail-orig-image="../../fingerspelling/abc-gifs/c.gif"/>
      <img alt="c.gif (438798 bytes)" border="2" height="100" src="/images/a_small.gif" width="100"/>
      <img alt="c.gif (438798 bytes)" border="2" height="100" src="/images/k_small.gif" width="100"/>
      <img alt="c.gif (438798 bytes)" border="2" height="100" src="/images/e_small.gif" width="100"/>
     </a>
    </font>
    <br/>
    <hr align="left" color="#000000" size="1" width="50%"/>
    <p style="margin-top: 0; margin-bottom: 0">
     CAKE:  fingerspelled 
    version:
    </p>
    <p style="margin-top: 0; margin-bottom: 0">
     <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/X_CEx2TYaIs?rel=0" width="560">
     </iframe>
     <br/>
     <br/>
     Did you notice how the "E" was done?  In real life everyday 
high-speed fingerspelling the shape of the letter "E" will
     vary depending on the preceding letter
     <span style="font-weight: 400">
      .  The letter "K" only uses two 
    fingers and the thumb -- this tends to carry over to the "E" which 
then uses just 
    the same two fingers and thumb.
      <br/>
      (It is certainly okay to do a "full E." I'm just pointing the abbreviated "E" 
out to you so that you won't think it is "wrong" if you see it. Both methods are 
okay.)
      <br/>
      <br/>
      <img border="0" height="141" src="/images/cake.h13.jpg" width="107"/>
      <img border="0" height="141" src="/images/cake.h22.jpg" width="107"/>
      <img border="0" height="141" src="/images/cake.h23.jpg" width="107"/>
      <img border="0" height="141" src="/images/cake.h24.jpg" width="107"/>
     </span>
    </p>
    <p style="margin-top: 0; margin-bottom: 0">
    </p>
    <hr/>
    <p>
     <font face="Arial">
      CAKE:  "palm down version"
      <br/>
      When I happen to use an actual sign for the concept of "cake" I use this 
  version:  Turn your base hand palm down.  Then use the dominant hand 
  "claw" shape and CAKE:
      <br/>
     </font>
    </p>
    <p style="margin-top: 0; margin-bottom: 0">
     Palm down version
    </p>
    <p style="margin-top: 0; margin-bottom: 0">
     <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/JGoC5P8vN7w?rel=0" width="560">
     </iframe>
    </p>
    <p>
     <font face="Arial">
      <br/>
      <img border="0" height="210" src="/images/cake.h14.jpg" width="206"/>
      <img border="0" height="210" src="/images/cake.h15.jpg" width="206"/>
      <br/>
      <img border="0" height="210" src="/images/cake.h16.jpg" width="206"/>
      <img border="0" height="210" src="/images/cake.h17.jpg" width="206"/>
     </font>
    </p>
    <p>
     <font face="Arial">
      Also see:
      <a href="/images/cake.gif">
       Animation:  CAKE
      </a>
     </font>
    </p>
    <hr/>
    <p>
     <font face="Arial">
      CAKE:  ("Check" variation)
      <br/>
      I call this the "check" variation because this version is the same sign as 
    one of the more popular signs for "check" as in "Write a check (bank draft)  
    to pay the light bill."
      <br/>
      To do this sign you stick a "C" hand on your palm then slide the 
    "C" hand forward to the fingertips of the base hand..
     </font>
    </p>
    <p style="margin-top: 0; margin-bottom: 0">
     <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/39DlOmqJATs?rel=0" width="560">
     </iframe>
    </p>
    <p>
     <font face="Arial">
      <img border="0" height="210" src="/images/cake.h18.jpg" width="226"/>
      <img border="0" height="210" src="/images/cake.h19.jpg" width="226"/>
      <img border="0" height="210" src="/images/cake.h20.jpg" width="226"/>
      <img border="0" height="210" src="/images/cake.h21.jpg" width="226"/>
     </font>
    </p>
    <hr/>
    <p style="margin-top: 0; margin-bottom: 0">
     <font face="Arial">
      <br/>
      CAKE:  "slice a wedge version"
      <br/>
      This version of CAKE uses an initialized version of the sign for
      <a href="../p/pie.htm">
       PIE
      </a>
      .
      <br/>
      <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/9Ech_eTCIRM?rel=0" width="560">
      </iframe>
     </font>
    </p>
    <p style="margin-top: 0; margin-bottom: 0">
    </p>
    <hr/>
    <p style="margin-top: 0; margin-bottom: 0">
    </p>
    <p style="margin-top: 0; margin-bottom: 0">
     CAKE:  "Palm up version"
     <br/>
     I tend to use this sign to mean "muffin," "cupcake," or small pastries:
    </p>
    <p style="margin-top: 0; margin-bottom: 0">
     <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/1o8VwwFYyrs?rel=0" width="560">
     </iframe>
    </p>
    <p style="margin-top: 0; margin-bottom: 0">
     <img border="0" height="300" src="/images/cake.h25.jpg" width="287"/>
     <img border="0" height="300" src="/images/cake.h26.jpg" width="287"/>
    </p>
    <p style="margin-top: 0; margin-bottom: 0">
    </p>
    <hr/>
    <p style="margin-top: 0; margin-bottom: 0">
     <br/>
     CAKE:  "palm down double 
    slice version"
     <br/>
     Here is yet another version of cake.
    </p>
    <p style="margin-top: 0; margin-bottom: 0">
     <object classid="CLSID:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,22,0" height="335" id="FVS1" width="440">
      <param name="movie" value="cake-2_player.swf?2239611268"/>
      <param name="bgcolor" value="#ffffff"/>
      <embed bgcolor="#ffffff" height="335" name="FVS1" pluginspage='http://www.macromedia.com/go/getflashplayer"' src="cake-2_player.swf?2239611268" type="application/x-shockwave-flash" width="440"/>
     </object>
    </p>
    <p style="margin-top: 0; margin-bottom: 0">
    </p>
    <hr/>
    <p style="margin-top: 0; margin-bottom: 0">
     Also see:
     <a href="../i/icecream.htm">
      ICE-CREAM
     </a>
    </p>
    <hr/>
   </p>
  </p>
 </p>
</blockquote>
