<blockquote>
 <font face="Arial">
  <hr align="left" color="#000000" size="1"/>
  <p>
   The sign for "careless" is done by using "V" handshapes and a "careless" facial expression.
   <br/>
  </p>
  <p>
   Hold the hands up in front of you, fairly high, up near your face.  
	Slap both hands inward and down twice.
   <br/>
   <br/>
   CARELESS:  "careless in manner" / carelessly
   <br/>
   <br/>
   <img border="0" height="219" src="/images/carele28.gif" width="230"/>
   <img border="0" height="219" src="/images/carele29.gif" width="230"/>
   <img border="0" height="219" src="/images/carele30.gif" width="230"/>
   <img border="0" height="219" src="/images/carele31.gif" width="230"/>
  </p>
  <p>
   <br/>
   CARELESS animation:
   <br/>
   <img border="0" height="219" src="/images/careless.gif" width="230"/>
  </p>
  <p>
  </p>
  <hr align="left" color="#000000" size="1"/>
  <p>
   <br/>
   There is another way to do this sign.
   <br/>
   You can slap the hands inward and down once and bring them back up 
			near the starting point.
   <br/>
   <br/>
   CARELESS (incident) (a careless act)
   <br/>
   <img border="0" height="219" src="/images/carele28.gif" width="230"/>
   <img border="0" height="219" src="/images/carele29.gif" width="230"/>
   <img border="0" height="219" src="/images/carele30.gif" width="230"/>
   <br/>
   The ending position isn't quite so high up as in my graphic, but you 
			get the point.
  </p>
  <p>
   This second version is used to refer to a specific incidence of 
			carelessness. A rather common usage of this sign is to refer (in 
			context) to a boy and girl who engage in unprotected sex and the 
			girl ends up pregnant.
   <br/>
  </p>
  <hr align="left" color="#000000" size="1"/>
  Also see "
  <a href="careful.htm">
   careful
  </a>
  "
  <hr align="left" color="#000000" size="1"/>
  <p align="center" style="margin-top: 0; margin-bottom: 0">
   <font face="Arial" size="1">
    You can learn 
		American
    <a href="http://www.lifeprint.com" style="text-decoration: none">
     Sign 
		Language
    </a>
    (ASL) online at American Sign Language University ™
    <br/>
    <a href="http://asl.ms" style="text-decoration: none">
     ASL
    </a>
    resources by Lifeprint.com  ©  Dr. William Vicars
   </font>
  </p>
 </font>
</blockquote>
