<blockquote>
 <hr align="left" color="#000000" size="1"/>
 <p>
  <br/>
  To do the sign for "character," draw a small circle in the air in front of the upper left area of your chest 
	(if you are right-handed) 
  with a "C" handshape.  Then move the "C" handshape 
	backward to touch tyour chest.
  <br/>
 </p>
 <p>
  <br/>
  CHARACTER:
 </p>
 <font face="Arial">
  <p>
   <img border="0" height="69" src="/images/character.gif" width="74"/>
  </p>
 </font>
 <p>
  <br/>
  <img border="0" height="215" src="/images/charac39.jpg" width="198"/>
  <img border="0" height="215" src="/images/charac40.jpg" width="198"/>
  <img border="0" height="215" src="/images/charac41.jpg" width="198"/>
  <img border="0" height="215" src="/images/charac42.jpg" width="198"/>
  <img border="0" height="215" src="/images/charac43.jpg" width="198"/>
  <img border="0" height="215" src="/images/charac44.jpg" width="198"/>
  <img border="0" height="215" src="/images/charac45.jpg" width="198"/>
  <img border="0" height="215" src="/images/charac46.jpg" width="198"/>
  <img border="0" height="215" src="/images/charac47.jpg" width="198"/>
  <br/>
 </p>
 <hr color="#000000" size="1"/>
 <br/>
 Notes:
 <br/>
 <font face="Arial">
  The sign for "character" can refer to either a "role" filled by an 
			actor or it can refer to a person or thing's characteristics.  
			Sometimes instead of doing this sign on the upper left chest (if 
			right-handed) you may see this sign done on the palm of the left 
			hand.
  <br/>
 </font>
 <br/>
 <font face="Arial">
  <hr align="left" color="#000000" size="1"/>
  <p align="center" style="margin-top: 0; margin-bottom: 0">
   <font face="Arial" size="1">
    You can learn
    <a href="http://lifeprint.com" style="text-decoration: none">
     American Sign Language (ASL)
    </a>
    online at American Sign Language University ™
    <br/>
    <a href="http://asl.ms" style="text-decoration: none">
     ASL
    </a>
    resources by Lifeprint.com  ©  Dr. William Vicars
   </font>
  </p>
 </font>
</blockquote>
