<blockquote>
 <font face="Arial">
  <hr align="left" color="#000000" size="1"/>
  <p>
   The sign for Christmas has several variations.
  </p>
  <p>
   <br/>
   CHRISTMAS:
   <br/>
   Hint:  Think of a wreath.
  </p>
  <p>
   <img border="0" height="223" src="/images/christ1.jpg" width="197"/>
   <img border="0" height="223" src="/images/christ2.jpg" width="197"/>
   <img border="0" height="223" src="/images/christ3.jpg" width="197"/>
   <img border="0" height="223" src="/images/christ4.jpg" width="197"/>
   <br/>
  </p>
  <hr align="left" color="#000000" size="1"/>
  <br/>
  Another way to sign Christmas is based on moving a "C" hand in a 
			partial circle as if tracing the shape of a "wreath." You us a "C" 
			handshape to show the top inside edge of a wreath. This version of 
			Christmas is similar to the previous "wreath" version except the 
			sign ends palm upward (still in a "C" shape).
  <br/>
  <br/>
  CHRISTMAS (wreath version)
  <p>
   <img border="0" height="221" src="/images/christ5.jpg" width="194"/>
   <img border="0" height="221" src="/images/christ6.jpg" width="194"/>
   <img border="0" height="221" src="/images/christ7.jpg" width="194"/>
   <img border="0" height="221" src="/images/christ8.jpg" width="194"/>
   <img border="0" height="221" src="/images/christ9.jpg" width="194"/>
   <br/>
  </p>
  <hr align="left" color="#000000" size="1"/>
  <p>
   <br/>
   Yet another way to sign Christmas is based on the sign for TREE.  It is an initialized form of the sign "
   <a href="../t/tree.htm">
    TREE
   </a>
   " 
	using the general location and structure of the sign for TREE but a "C" 
	handshape (on the dominant hand).  
  No, this sign doesn't mean "Christmas Tree."  To indicate a Christmas 
  tree do two separate signs: CHRISTMAS + TREE.
   <br/>
   <br/>
   CHRISTMAS (tree version) (not recommended)
   <br/>
   <img border="0" height="219" src="/images/christ10.jpg" width="191"/>
   <img border="0" height="219" src="/images/christ11.jpg" width="191"/>
   <img border="0" height="219" src="/images/christ12.jpg" width="191"/>
   <img border="0" height="219" src="/images/christ13.jpg" width="191"/>
   <br/>
  </p>
  <hr align="left" color="#000000" size="1"/>
  <p>
   <br/>
   For the "Merry Christmas" greeting, just show an "M" and a "C"
   <br/>
   <br/>
   MERRY CHRISTMAS!
   <br/>
   <img border="0" height="213" src="/images/christ14.jpg" width="208"/>
   <img border="0" height="213" src="/images/christ15.jpg" width="208"/>
  </p>
  <p>
   <br/>
  </p>
  <hr align="left" color="#000000" size="1" width="50%"/>
  <p>
   <br/>
   Notes:
   <br/>
   Many years ago I had the opportunity to serve as a "Signing Santa" 
			in Ogden, Utah.  Many students (the younger ones) from the 
			Ogden School for the Deaf came and seemed quite delighted to find 
			out that Santa wore a hearing aid and knew sign language. Ho, ho, 
			ho!
   <br/>
  </p>
  <hr align="left" color="#000000" size="1"/>
  <p align="center" style="margin-top: 0; margin-bottom: 0">
   <font face="Arial" size="1">
    You can learn 
		American
    <a href="http://www.lifeprint.com" style="text-decoration: none">
     Sign 
		Language
    </a>
    (ASL) online at American Sign Language University ™
    <br/>
    <a href="http://asl.ms" style="text-decoration: none">
     ASL
    </a>
    resources by Lifeprint.com  ©  Dr. William Vicars
   </font>
  </p>
 </font>
</blockquote>
