<blockquote>
 <hr align="left" color="#000000" size="1"/>
 <br/>
 The sign for CLASS is a well established "
 <a href="../../pages-layout/initialization.htm">
  initialized
 </a>
 " 
  sign.  By
 <i>
  well established
 </i>
 I mean that even though it is 
  initialized it is widely accepted as the appropriate ASL sign for "class."  
  Check out the "
 <a href="../f/family.htm">
  FAMILY
 </a>
 " page for similar signs.
 <p>
 </p>
 <hr color="#000000" size="1"/>
 <p>
  <br/>
  CLASS:  As in, I can't wait to go to ASL class!"
  <br/>
 </p>
 <p>
  <img border="0" height="201" src="/images/class1.jpg" width="264"/>
  <img border="0" height="201" src="/images/class2.jpg" width="264"/>
  <img border="0" height="201" src="/images/class3.jpg" width="264"/>
  <img border="0" height="201" src="/images/class4.jpg" width="264"/>
  <br/>
 </p>
 <hr color="#000000" size="1"/>
 <br/>
 To sign "classroom" just combine the signs "CLASS" and "
 <a href="../r/room.htm" target="_blank">
  ROOM
 </a>
 "
 <p>
  <br/>
  Animated:  CLASSROOM:
  <br/>
  <img border="0" height="209" src="/images/classroom.gif" width="205"/>
  <br/>
  <br/>
  Note: I need to fix the animation above it has two problems:
  <br/>
  1. The "room" portion of the sign doesn't need the "R" hands.  Instead 
	it can/should just use the "BOX" sign.
  <br/>
  2. The "room" portion of the sign should start with the sides and end with 
	the front/back walls.
  <br/>
  <br/>
  Does that mean it is "wrong" to sign "room" with "R" hands?  Well, I 
	don't think it is "
  <i>
   wrong
  </i>
  ," but during this day and age I wouldn't 
	advise using the initialized version for an
  <i>
   ASL
  </i>
  test since many ASL 
	instructors
  <i>
   do
  </i>
  think it is wrong. You
  <i>
   will
  </i>
  see the initialized 
	("R"-handshape) version of room show up on the hands of many Deaf people out 
	in the "real" world.  That doesn't mean the
  <font face="Arial">
   "R"-handshape version is "ASL" -- it just means that many Deaf people have 
	some Signed English versions of signs mixed into their everyday language 
	use.
  </font>
  <br/>
 </p>
 <hr color="#000000" size="1"/>
 <p style="margin-top: 0; margin-bottom: 0">
  Note:
  <font face="Arial">
   The sign for "CLASS" can also be used to mean things like "category" 
			or "section."
  </font>
  <br/>
 </p>
 <font face="Arial">
  <hr align="left" color="#000000" size="1"/>
  <p align="center" style="margin-top: 0; margin-bottom: 0">
   <font face="Arial" size="1">
    You can learn
    <a href="http://lifeprint.com" style="text-decoration: none">
     American 
		Sign Language (ASL)
    </a>
    online at American Sign Language University ™
    <br/>
    <a href="http://asl.ms" style="text-decoration: none">
     ASL
    </a>
    resources 
		by Lifeprint.com  ©  Dr. William Vicars
   </font>
  </p>
 </font>
</blockquote>
