<blockquote>
 <hr align="left" color="#000000" size="1"/>
 <font face="Arial">
  <br/>
  I recommend you just spell the word "Coke."  There is a very 
			interesting 
	"legacy" version of the sign (see below) but it is very common to see adult native Deaf signers 
	just spell C-O-K-E.
  <br/>
 </font>
 <p>
  <font face="Arial">
   <a href="/images/c.gif">
    <img alt="c.gif (438798 bytes)" border="2" height="100" src="/images/c_small.gif" width="100" xthumbnail-orig-image="../../fingerspelling/abc-gifs/c.gif"/>
   </a>
   <a href="/images/o.gif">
    <img alt="o.gif (401307 bytes)" border="2" height="100" src="/images/o_small.gif" width="100" xthumbnail-orig-image="../../fingerspelling/abc-gifs/o.gif"/>
   </a>
   <a href="/images/k.gif">
    <img alt="k.gif (212371 bytes)" border="2" height="100" src="/images/k_small.gif" width="100" xthumbnail-orig-image="../../fingerspelling/abc-gifs/k.gif"/>
   </a>
   <a href="/images/e.gif">
    <img alt="e.gif (169026 bytes)" border="2" height="100" src="/images/e_small.gif" width="100" xthumbnail-orig-image="../../fingerspelling/abc-gifs/e.gif"/>
   </a>
  </font>
  <br/>
 </p>
 <hr/>
 <div>
  <br/>
  COKE (legacy version)
  <br/>
  I'm including this legacy version of the sign because you might still see it out 
there in the community and I want you to recognize it and realize that it is not 
a "joke" sign. It was used for many years. (And is still very 
popular!)
  <br/>
 </div>
 <p>
  The sign for "Coke" as in
  <font face="Arial">
   "Coco-Cola"
  </font>
  looks as if you are jabbing a needle into your arm. 
	It is done by using your dominant hand index finger to poke your 
	non-dominant arm's bicep.
  <br/>
 </p>
 <p>
  It's true folks.  I'm not making this up! And I'm not talking about 
	"cocaine." I'm talking about the drink.
 </p>
 <p>
  <br/>
  COKE (
  <font face="Arial">
   "Coco-Cola" soda-pop)
  </font>
  <br/>
  <img border="0" height="222" src="/images/coke1.jpg" width="204"/>
  <img border="0" height="222" src="/images/coke2.jpg" width="204"/>
  <font face="Arial">
   <img border="0" height="222" src="/images/coke1.jpg" width="204"/>
   <img border="0" height="222" src="/images/coke2.jpg" width="204"/>
  </font>
  <br/>
 </p>
 <font face="Arial">
  <hr/>
  <p>
  </p>
 </font>
 <p>
  NOTES:
  <br/>
  <br/>
  COKE (as in the drink) is an interesting sign that looks like you are sticking a 
	needle in your arm.
  <br/>
  Why this is the case is debated somewhat in the Deaf world. Many people 
	think it is because of the idea of "shooting up" with Cocaine.  I've 
	been told however by more than one old Deaf codger that the sign originally 
	had to do 
	with the idea that in the old days when Deaf kids would have to go to the 
	doctor to get a "shot" they would afterward be rewarded with a bottle of 
	Coke.
  <br/>
  --Dr. Bill
  <br/>
  p.s. The sign "cocaine" is totally different.  It is an "A" hand, (palm 
	left, if you are right handed) brought to the nose with a very small double 
	movement.
  <br/>
 </p>
 <div>
  <div>
   <br/>
   In a message dated 4/17/2008 12:36:53 P.M. Pacific Daylight Time, 
		Joanne_Wiggins@ writes:
  </div>
  <blockquote style="PADDING-LEFT: 5px; MARGIN-LEFT: 5px; BORDER-LEFT: blue 2px solid">
   <font color="#000000" face="Arial" size="2" style="BACKGROUND-COLOR: transparent">
    I've been enjoying your excellent website &amp; came across the sign for 
		"coke" &amp; your speculations as to its origin.  Here's my 2 cents:  
		According to my Dad--Georgia born &amp; raised (Georgia being the home of 
		said beverage)--when he was growing up in the 30's &amp; 40's, the slang 
		term for a "coke" was "dope"--as in, "Give me a dope". [Presumably this 
		was a reference to the cocaine that was apparently part of the original 
		formula.]  Maybe that "hearing" slang term found its way into sign 
		language as well.
    <br/>
    <br/>
    Joanne Wiggins
    <br/>
    English Teacher
    <br/>
    Midlothian Middle School
    <br/>
    Midlothian, VA
   </font>
  </blockquote>
 </div>
 <font face="Arial">
  <hr align="left" color="#000000" size="1"/>
  <p>
   Also see:
   <a href="../p/pepsi.htm">
    PEPSI
   </a>
  </p>
  <hr align="left" color="#000000" size="1"/>
  <p align="center" style="margin-top: 0; margin-bottom: 0">
   <font face="Arial" size="1">
    You can learn
    <a href="http://lifeprint.com" style="text-decoration: none">
     American Sign Language (ASL)
    </a>
    online at American Sign Language University ™
    <br/>
    <a href="http://asl.ms" style="text-decoration: none">
     ASL
    </a>
    resources by Lifeprint.com  ©  Dr. William Vicars
   </font>
  </p>
 </font>
</blockquote>
