<blockquote>
 <font face="Arial">
  <h2 style="margin-top: 0; margin-bottom: 0">
   <span style="font-weight: 400">
    American Sign Language:  "comb"
   </span>
  </h2>
  <blockquote>
   <p style="margin-top: 0; margin-bottom: 0">
    <span style="font-weight: 400">
     Ah yes, don't be jealous, but 
this is one little chore I do not have to worry about.
    </span>
    <hr align="left" color="#000000" size="1" width="50%"/>
    <span style="font-weight: 400">
     <p style="margin-top: 0; margin-bottom: 0">
      COMB:
      <br/>
      The sign for comb uses a "claw hand" to make a few combing movements at the side 
of your head.
      <br/>
      <img border="0" height="320" src="/images/comb.gif" width="320"/>
     </p>
     <p style="margin-top: 0; margin-bottom: 0">
     </p>
     <hr align="left" color="#000000" size="1" width="50%"/>
    </span>
    <p style="margin-top: 0; margin-bottom: 0">
     <span style="font-weight: 400">
      Question: Is there a difference between the sign for "a comb" (noun) vs "to 
comb" (verb)?
      <br/>
      Answer:  In general the noun form tends to use two small quick movements 
and the verb form uses a single larger movement. The concept of "combing" is a 
process and will use a couple of larger movements.
     </span>
    </p>
    <span style="font-weight: 400">
     <hr align="left" color="#000000" size="1" width="50%"/>
     <p style="margin-top: 0; margin-bottom: 0">
     </p>
     <hr align="left" color="#000000" size="1" width="50%"/>
    </span>
    <p style="margin-top: 0; margin-bottom: 0">
     <span style="font-weight: 400">
      Also 
see:
      <a href="../b/brush.htm" style="text-decoration: none">
       BRUSH
      </a>
     </span>
    </p>
    <span style="font-weight: 400">
     <hr align="left" color="#000000" size="1" width="50%"/>
    </span>
   </p>
  </blockquote>
  <hr align="left" color="#000000" size="1"/>
  <hr align="left" color="#000000" size="1"/>
  <p style="margin-top: 0; margin-bottom: 0">
   <br/>
   * 
Want to help support ASL University?  It's
   <i>
    easy
   </i>
   :
  </p>
 </font>
 <b>
  <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&amp;hosted_button_id=XHRNABERKJT4N" rel="nofollow" target="_blank">
   <u>
    DONATE
   </u>
  </a>
 </b>
 <font size="2">
  (
  <i>
   Thanks!
  </i>
  )
 </font>
 <br/>
 <br/>
 <font face="Arial">
  *
 </font>
 Another way to help is to buy something from Dr. Bill's "
 <b>
  <a href="../../../bookstore/bookstore.htm">
   <u>
    Bookstore
   </u>
  </a>
 </b>
 ."
 <p style="margin-top: 0; margin-bottom: 0">
  <br/>
  <font face="Arial">
   *
  </font>
  Want even more ASL resources?  Visit the "
  <b>
   <a href="http://www.asl.tc/landing/index.html" rel="nofollow" target="_blank">
    ASL Training Center
   </a>
   !
  </b>
  "  (Subscription 
Extension of ASLU)
  <br/>
  <br/>
  *  Also check out Dr. Bill's channel:
  <a href="http://www.youtube.com/billvicars">
   www.youtube.com/billvicars
  </a>
  <font size="2">
   <br/>
  </font>
 </p>
 <hr align="left" color="#000000" size="1"/>
 <p align="center" style="margin-top: 0; margin-bottom: 0">
  <font size="1">
   You can learn
   <a href="http://lifeprint.com">
    American Sign Language (ASL)
   </a>
   online at American Sign Language University ™
   <br/>
   <a href="http://asl.ms" style="text-decoration: none">
    ASL
   </a>
   resources by Lifeprint.com  ©  Dr. William Vicars
  </font>
 </p>
 <hr color="#000000" size="1"/>
 <p>
 </p>
</blockquote>
