<blockquote>
 <font face="Arial">
  <hr align="left" color="#000000" size="1"/>
  <p>
   The sign for "complain" is done by whacking your chest 
			twice with a loose "C" hand.
   <br/>
  </p>
  <p>
   COMPLAIN:
  </p>
  <p>
   <img border="0" height="232" src="/images/compla47.jpg" width="210"/>
   <img border="0" height="232" src="/images/compla48.jpg" width="210"/>
   <img border="0" height="232" src="/images/compla49.jpg" width="210"/>
   <img border="0" height="232" src="/images/compla50.jpg" width="210"/>
   <br/>
   <br/>
   Note: The handshape in COMPLAIN isn't a tight "C," rather it is somewhat loose:
   <br/>
   <img border="0" height="340" src="/images/complainsmall.gif" width="300"/>
  </p>
  <hr align="left" color="#000000" size="1"/>
  <p align="center" style="margin-top: 0; margin-bottom: 0">
   <font face="Arial" size="1">
    You can learn 
		American
    <a href="http://www.lifeprint.com" style="text-decoration: none">
     Sign 
		Language
    </a>
    (ASL) online at American Sign Language University ™
    <br/>
    <a href="http://asl.ms" style="text-decoration: none">
     ASL
    </a>
    resources by Lifeprint.com  ©  Dr. William Vicars
   </font>
  </p>
 </font>
</blockquote>
