<blockquote>
 <font face="Arial">
  <hr align="left" color="#000000" size="1"/>
  <p>
   The appropriate sign for "corner" depends what kind of 
			corner you are referring to. In general what you do is you use 
			"flat"-hands ("B"-hands) to show a corner, (as in the corner of a 
			room or the corner of a city block).  However, if you are 
			talking about the corner of a picture (on the wall) you would 
			instead use an "L"-hand (or two index fingers) and do the sign 
			horizontally (up in the air).
   <br/>
  </p>
  <p>
   CORNER:
  </p>
  <p>
   <img border="0" height="215" src="/images/corner1.jpg" width="213"/>
   <img border="0" height="215" src="/images/corner2.jpg" width="213"/>
   <img border="0" height="215" src="/images/corner3.jpg" width="213"/>
   <img border="0" height="215" src="/images/corner4.jpg" width="213"/>
  </p>
  <hr align="left" color="#000000" size="1"/>
  See animation:  "
  <a href="/images/corner.gif">
   corner
  </a>
  "
  <hr align="left" color="#000000" size="1"/>
  <p align="center" style="margin-top: 0; margin-bottom: 0">
   <font face="Arial" size="1">
    You can learn 
		American
    <a href="http://www.lifeprint.com" style="text-decoration: none">
     Sign 
		Language
    </a>
    (ASL) online at American Sign Language University ™
    <br/>
    <a href="http://asl.ms" style="text-decoration: none">
     ASL
    </a>
    resources by Lifeprint.com  ©  Dr. William Vicars
   </font>
  </p>
 </font>
</blockquote>
