<blockquote>
 <p align="right">
  <img alt="back.gif (1674 bytes)" border="0" height="28" onclick="history.go(-1)" src="/images/back.gif" width="54"/>
 </p>
 <h1 align="center">
  <i>
   cousin
  </i>
 </h1>
 <p>
  Shake a "C" by the side of your head.
  <br/>
  This sign is similar to niece/nephew except that it uses a "C" handshape.
 </p>
 <p>
  Often students ask if you do it lower (near the cheek) to mean "girl" and 
higher (near the temple) to mean "boy."
  <br/>
  No, there is no distinction.  Just hold a "C" up to 
the side of your head and twist it twice.
 </p>
 <hr color="#800080"/>
 <p>
 </p>
 <p>
  <img border="0" height="271" src="/images/cousin.gif" width="300"/>
 </p>
 <hr color="#800080"/>
 <p>
  COUSIN:
 </p>
 <p>
  <img border="0" height="214" src="/images/cousin1.jpg" width="213"/>
  <br/>
  <img border="0" height="214" src="/images/cousin2.jpg" width="213"/>
  <br/>
  <img border="0" height="214" src="/images/cousin1.jpg" width="213"/>
  <br/>
  <img border="0" height="214" src="/images/cousin2.jpg" width="213"/>
 </p>
 <hr color="#800080"/>
 <p>
 </p>
 <p align="right">
  <img alt="back.gif (1674 bytes)" border="0" height="28" onclick="history.go(-1)" src="/images/back.gif" width="54"/>
  <br/>
  <br/>
 </p>
 <p>
 </p>
</blockquote>
