<blockquote>
 <hr align="left" color="#000000" size="1"/>
 <blockquote>
  <p style="margin-top: 0; margin-bottom: 0">
   <span style="font-weight: 400">
    <font face="Arial">
     The "right" sign for 
    "knit" will depend on whom you ask. But since you are here, that means you 
    are asking me and so I'll show you what I use.  Plus I'll show you a 
    few variations that I've seen.
    </font>
   </span>
   <p style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1" width="50%"/>
   <p style="margin-top: 0; margin-bottom: 0">
    <span style="font-weight: 400">
     <font face="Arial">
      CROCHET:
      <br/>
      I just got off the VP (video phone) with Karen Foust.  She is a friend 
    of mine.  She is also a typical grandma type person and she has 
    actually
      <i>
       done
      </i>
      crochet.   (Plus for the record she is a Deaf 
    grandmother of Deaf grandchildren.)   She's been around "forever" 
    and enjoys homemaking, crafts, and such.  I've never crocheted in my 
    life.  So I figure I'll show you what SHE uses and recommend you go 
    with that.  But then for the heck of it I'll show you what I use 
    (further below).
     </font>
    </span>
    <p style="margin-top: 0; margin-bottom: 0">
     <p style="margin-top: 0; margin-bottom: 0">
      <span style="font-weight: 400">
       <font face="Arial">
        CROCHET:  (Karen's 
    version)
        <br/>
        She holds two index fingers together and pulls one of them  away from 
    the other while changing it into an "X" handshape. Then she repeats the 
    movement.
       </font>
      </span>
      <p style="margin-top: 0; margin-bottom: 0">
       <img border="0" height="300" src="/images/crochet1.jpg" width="284"/>
       <img border="0" height="300" src="/images/crochet2.jpg" width="284"/>
       <img border="0" height="300" src="/images/crochet1.jpg" width="284"/>
       <img border="0" height="300" src="/images/crochet2.jpg" width="284"/>
      </p>
      <p style="margin-top: 0; margin-bottom: 0">
       <hr align="left" color="#000000" size="1" width="50%"/>
       <p style="margin-top: 0; margin-bottom: 0">
        <br/>
        <span style="font-weight: 400">
         <font face="Arial">
          <br/>
          Okay, now I'll show you the sign that
          <i>
           I
          </i>
          use for CROCHET.  You 
    might think that my using a different sign from what Karen uses would have some sort of 
    negative effect on my life.  But honestly I don't think it has lessened 
    my quality of life any.  So, I'll probably just keep on using this same 
    sign to mean "do some sort of craft work involving needles and string or 
    yarn."  Heh.  For all of you people who actually
          <i>
           know
          </i>
          the 
    difference between knitting and crocheting and want two different signs -- 
    hey
          <i>
           feel free
          </i>
          to use Karen's sign for crochet (above) and go see her 
    sign for knit at:
          <a href="../k/knit.htm">
           "KNIT"
          </a>
          .
          <br/>
         </font>
        </span>
        <font face="Arial">
        </font>
       </p>
       <p style="margin-top: 0; margin-bottom: 0">
        <span style="font-weight: 400">
         CROCHET:
        </span>
        <br/>
        <img border="0" height="320" src="/images/knit.gif" width="320"/>
        <hr align="left" color="#000000" size="1" width="50%"/>
        <p style="margin-top: 0; margin-bottom: 0">
         <img border="0" height="320" src="/images/knit-0.jpg" width="320"/>
         <img border="0" height="320" src="/images/knit-1.jpg" width="320"/>
         <img border="0" height="320" src="/images/knit-2.jpg" width="320"/>
         <img border="0" height="320" src="/images/knit-3.jpg" width="320"/>
         <img border="0" height="320" src="/images/knit-4.jpg" width="320"/>
         <p style="margin-top: 0; margin-bottom: 0">
         </p>
        </p>
       </p>
      </p>
     </p>
    </p>
   </p>
  </p>
 </blockquote>
</blockquote>