<blockquote>
 <hr color="#000000" size="1"/>
 <p style="margin-top: 0; margin-bottom: 0">
  <span style="font-weight: 400">
   <font face="Arial">
    Also see:
    <a href="../t/today.htm">
     TODAY
    </a>
   </font>
  </span>
 </p>
 <hr color="#000000" size="1"/>
 <p align="left" style="margin-top: 0; margin-bottom: 0">
  <span style="font-weight: 400">
   <br/>
   DAY (version 1)
   <br/>
  </span>
  <font face="Arial">
   <img align="left" border="0" height="320" src="/images/day-1.jpg" width="320"/>
   <span style="font-weight: 400">
    <font size="+1">
     T
    </font>
    he sign for "day" is made by holding your 
non-dominant arm (the left arm for most people) in 
front of you, palm down, pointing right.  Your left hand can be in either a 
"flat handshape" or an "index finger handshape."  Your 
your dominant hand (the right hand for most people) can be either 
an "index finger" or a "flat hand." (I don't recommend a "D" 
hand, that is Signed English.) Rest your right elbow on 
the back of the left hand. Your right arm should point up. Move your right arm 
across your body, the hand tracing an arc while keeping the right elbow on or 
very near the back of the left hand.
Note: advanced signers often do very abbreviated versions of signs.  For 
example, they may do the sign for day with the tips of the fingers of left hand 
touching the midpoint of the right forearm instead of resting the right elbow on 
the back of the left hand. Also, you might see a different palm orientation on 
the dominant hand.
   </span>
  </font>
  <span style="font-weight: 400">
   <br/>
   <br/>
   <img border="0" height="229" src="/images/day-indexfinger1.jpg" width="217"/>
   <img border="0" height="229" src="/images/day-indexfinger2.jpg" width="217"/>
   <img border="0" height="229" src="/images/day-indexfinger3.jpg" width="217"/>
  </span>
 </p>
 <p align="left" style="margin-top: 0; margin-bottom: 0">
  <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/6Ag2Q2J9DAU?rel=0" width="560">
  </iframe>
  <span style="font-weight: 400">
   <br/>
  </span>
 </p>
 <hr align="left"/>
 <p align="left" style="margin-top: 0; margin-bottom: 0">
  <br/>
  <span style="font-weight: 400">
   <img align="left" border="0" height="92" src="/images/b1.jpg" width="80"/>
   Note:
   <br/>
   When signing "DAY" you can use a "flat hand" (which is also sometimes called a 
"b-palm") instead of an index finger.
   <br/>
   <br/>
   <br/>
   DAY (flat hand version)
   <br/>
  </span>
  <br/>
  <img border="0" height="320" src="/images/day.ht1.jpg" width="299"/>
  <br/>
  <br/>
  <img border="0" height="223" src="/images/day-bpalm1.jpg" width="225"/>
  <img border="0" height="223" src="/images/day-bpalm2.jpg" width="225"/>
  <img border="0" height="223" src="/images/day-bpalm3.jpg" width="225"/>
 </p>
 <p align="left" style="margin-top: 0; margin-bottom: 0">
  <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/GHxNs_IK3Ak?rel=0" width="560">
  </iframe>
  <br/>
 </p>
 <hr color="#000000" size="1"/>
 <p align="left" style="margin-top: 0; margin-bottom: 0">
  <span style="font-weight: 400">
   <br/>
   Sample sentence: "One week has how many days?"
  </span>
  <br/>
  <br/>
  <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/aBzsIHJ2L7g?rel=0" width="560">
  </iframe>
  <br/>
 </p>
 <hr color="#000000" size="1"/>
 <p align="left" style="margin-top: 0; margin-bottom: 0">
  <span style="font-weight: 400">
   <br/>
   Notes:
   <br/>
   There are many variations for the sign "DAY." For example: "ALL-DAY"
   <br/>
   To sign "all-day," start the flat-handed version of DAY with your dominant 
"flat hand" further to the right (if you are right handed) prior to 
moving it.
   <br/>
   <br/>
   For an example of "all-DAY" and other variations of DAY,
   <span style="background-color: #FFFF00">
    see: "
    <a href="day2.htm">
     DAY (advanced 
discussion)
    </a>
    "
   </span>
   <br/>
  </span>
 </p>
 <hr color="#000000" size="1"/>
</blockquote>
