<blockquote>
 <hr align="left" color="#000000" size="1"/>
 <br/>
 Do the sign "decide" by touching the tip of your index finger to your right forehead.  
  Then change the handshape into an "F" hand as you move the hand downward. At 
  the same time as you are changing the right index finger into an "F" hand, 
  bring up your left hand into an "F" handshape.  Then when both hands are 
  at approximately lower chest level, drop them both "decisively" down a few 
  inches to a quick stop.
 <p>
  <br/>
  <font face="Arial">
   DECIDE (full version)
   <br/>
  </font>
  <img border="0" height="215" src="/images/decide15.jpg" width="260"/>
  <img border="0" height="215" src="/images/decide16.jpg" width="260"/>
  <img border="0" height="215" src="/images/decide17.jpg" width="260"/>
  <img border="0" height="215" src="/images/decide18.jpg" width="260"/>
  <img border="0" height="215" src="/images/decide19.jpg" width="260"/>
 </p>
 <font face="Arial">
  <hr align="left" color="#000000" size="1"/>
 </font>
 See
  animation:
 <a href="/images/decide.gif">
  decide
 </a>
 <hr align="left" color="#000000" size="1" width="50%"/>
 <p style="margin-top: 0; margin-bottom: 0">
  <br/>
  There is shorter version of the sign for DECIDE.
  <br/>
  You just do the sign starting with "F" hands and bring them down 
			sharply.  This sign can also mean "to determine."
  <br/>
  <br/>
  DECIDE / determine (version)
  <br/>
  <img border="0" height="320" src="/images/decide37.jpg" width="295"/>
  <img border="0" height="320" src="/images/decide38.jpg" width="295"/>
  <img border="0" height="320" src="/images/decide39.jpg" width="295"/>
  <br/>
 </p>
 <font face="Arial">
  <hr align="left" color="#000000" size="1"/>
 </font>
 <p style="margin-top: 0; margin-bottom: 0">
  Notes:
  <br/>
 </p>
 <font color="#000000" face="Arial" id="role_document" size="2">
  <div>
   <div>
    In a message dated 8/24/2012 8:46:41 P.M. Pacific Daylight 
					Time, miand2464________ writes:
   </div>
   <blockquote style="BORDER-LEFT: blue 2px solid; PADDING-LEFT: 5px; MARGIN-LEFT: 5px">
    <font color="#000000" face="Tahoma" size="2" style="BACKGROUND-COLOR: transparent">
     <div dir="ltr">
      Dr Vicars:
      <div>
       I have contacted you several times in the past few 
							years.
      </div>
      <div>
      </div>
      <div>
       I took my SLPI for the first time in April. I got 
							Survival Plus. (Which KILLED me). The scorer, 
							_________ of the WPSD, took off major points for 
							"overuse of initialized signs". He listed 1. 
							BASEMENT. Which I totally knew better than. But that 
							B hand just slipped out. 2. LIFE/LIVE. I know that 
							the pointy finger can be tucked in for LIVE, but 
							tons of Deaf use the L hand for that sign. Anyway, I 
							retook it last month (advanced, thank you very 
							much), and AGAIN he cited my "overuse" of the 
							dreaded initialized sign. This time, he cited my D 
							hand in DECISION. I don't even know the alternative 
							to using the D hand for that. I think he has a bee 
							in his bonnet regarding the issue. Do you have any 
							thoughts on this?
      </div>
      <div>
      </div>
      <div>
       The first time I broached this issue with you was 
							the R hands in RESPONSIBILITY. Thanks for addressing 
							that at your wonderfully helpful site. It's my GO TO 
							site for a dictionary. I only go to ________, if you 
							don't have the sign listed.
      </div>
      <div>
      </div>
      <div>
       I hope we get to meet one day.
      </div>
      <div>
      </div>
      <div>
       Fondly,
       <br/>
      </div>
      <div>
       Mian D.
      </div>
     </div>
    </font>
   </blockquote>
  </div>
 </font>
</blockquote>
