<blockquote>
 <hr align="left" color="#000000" size="1" width="50%"/>
 <span style="font-weight: 400">
  <font face="Arial">
   <p style="margin-top: 0; margin-bottom: 0">
    DEPRESSED:
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    Down as in "depressed."  
Feeling down.  This sign bends the middle fingers forward at the large 
knuckle. It can but doesn't have to touch the body. Use a single straight down 
movement and an appropriately sad facial expression:
    <br/>
    <br/>
    <img border="0" height="235" src="/images/depressed1.jpg" width="199"/>
    <img border="0" height="235" src="/images/depressed2.jpg" width="199"/>
    <img border="0" height="235" src="/images/depressed3.jpg" width="199"/>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <br/>
    Note: If you are feeling depressed I've been told that going to a brightly lit 
store is a good way to cheer up. All the bright light helps your biochemistry to 
cause you to cheer up.
    <br/>
   </p>
   <hr align="left" color="#000000" size="1" width="50%"/>
  </font>
 </span>
</blockquote>
