<blockquote>
 <hr align="left" color="#000000" size="1"/>
 <p style="margin-top: 0; margin-bottom: 0">
  The sign for "dirty" holds the hand under the chin and 
	wiggles the fingers.
  <br/>
  <img border="0" height="348" src="/images/dirty.gif" width="300"/>
  <p>
   <img border="0" height="225" src="/images/dirty1.jpg" width="209"/>
   <img border="0" height="225" src="/images/dirty2.jpg" width="209"/>
   <img border="0" height="225" src="/images/dirty3.jpg" width="209"/>
   <img border="0" height="225" src="/images/dirty4.jpg" width="209"/>
   <img border="0" height="225" src="/images/dirty5.jpg" width="209"/>
  </p>
  <p>
   <iframe allow="autoplay; encrypted-media" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/K3BygEHQ-Ps?rel=0" width="560">
   </iframe>
  </p>
  <font face="Arial">
   <hr align="left" color="#000000" size="1"/>
  </font>
  <p>
   DIRT / SOIL / SAND
   <br/>
   Rub your fingers together as if holding dirt in your hand and feeling it.
   <br/>
   <img border="0" height="220" src="/images/dirt.19.jpg" width="235"/>
   <img border="0" height="220" src="/images/dirt.20.jpg" width="235"/>
   <img border="0" height="220" src="/images/dirt.21.jpg" width="235"/>
   <img border="0" height="220" src="/images/dirt.22.jpg" width="235"/>
  </p>
  <p>
   <iframe allow="autoplay; encrypted-media" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/O1kESRrCxXs?rel=0" width="560">
   </iframe>
  </p>
  <font face="Arial">
   <hr align="left" color="#000000" size="1"/>
  </font>
 </p>
</blockquote>
