<blockquote>
 <hr align="left" color="#000000" size="1"/>
 <span style="font-weight: 400">
  <font face="Arial">
   <p style="margin-top: 0; margin-bottom: 0">
    <span style="background-color: #FFFF00">
     Note:  
When asking questions the vast majority of the time 
the sign "DO" is done simply by raising 
  your eyebrows.  You often don't need to use an actual sign. Instead you 
just use the "raised eyebrows" facial expression.
    </span>
    <br/>
    <br/>
    For example:
    <br/>
    <br/>
    "Do you...?"
    <br/>
    <img border="0" height="320" src="/images/do-you.gif" width="426"/>
    <br/>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p align="left" style="margin-top: 0; margin-bottom: 0">
    <br/>
    There is a sign that is sometimes written as: #DO
    <br/>
    That "#" mark indicates that the sign is a "lexicalized fingerspelling" sign 
	that morphed from fingerspelling to the extent that it looks more like a 
	sign and no longer looks much like individualized fingerspelled letters.
    <br/>
    This sign is also sometimes written as:  "what-DO"  Some people 
	also call it a "loan sign" (as in "borrowed" from fingerspelling) but that 
	is an old fashioned term. Most of us now use the term "lexicalized 
	fingerspelling" to refer to fingerspelling that looks like a word.
    <br/>
    Some people even refer to this sign as "DO-DO."
    <br/>
    <br/>
    Whatever you call it, the sign means:  "What are you doing?  What did I do?  What do we 
  do?" "Do what?" "Did what?" “What (are you/we) doing?
    <br/>
    <br/>
    Use "G" 
  hands , palms up, "G" hands change into into a "closed "G" handshapes.  
	Or you can use "D" hands.
    <br/>
    See:
    <a href="do-do.htm">
     "WHAT-DO?" 
	(#DO) lexicalized
    </a>
    for more information.
   </p>
   <p align="left" style="margin-top: 0; margin-bottom: 0">
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    what-DO:
    <br/>
    <object classid="CLSID:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=8,0,0,0" height="275" id="FVS2" width="320">
     <param name="movie" value="../w/what-do_player.swf?57374978"/>
     <param name="bgcolor" value="#ffffff"/>
     <param name="allowfullscreen" value="true"/>
     <embed allowfullscreen="true" bgcolor="#ffffff" height="275" name="FVS2" pluginspage='http://www.macromedia.com/go/getflashplayer"' src="../w/what-do_player.swf?57374978" type="application/x-shockwave-flash" width="320"/>
    </object>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <img border="0" height="317" src="/images/what-do1.jpg" width="320"/>
    <img border="0" height="317" src="/images/what-do2.jpg" width="320"/>
   </p>
   <p align="left" style="margin-top: 0; margin-bottom: 0">
    <br/>
    Also see:
    <a href="do-do.htm">
     "WHAT-DO" 
	(#DO) lexicalized
    </a>
   </p>
   <p align="left" style="margin-top: 0; margin-bottom: 0">
   </p>
   <p align="left" style="margin-top: 0; margin-bottom: 0">
    Note:
    <b>
     <i>
      <font size="4">
       <span style="background-color: #FFFF00">
        Don't
       </span>
      </font>
     </i>
    </b>
    use the 
	"WHAT-DO?" sign in
  sentences like, "DO YOU WANT ICE-CREAM?" 
	Instead just raise
  your eyebrows and tilt your head forward a bit while signing, "WANT ICE
  CREAM?"
    <br/>
    <br/>
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p>
    <br/>
    "DO" / DOING / "I was doing..." / ACTION / activity 
	going on
    <br/>
    If you are describing a situation or telling a story in which you want to 
	indicate that general action was taking place, then here is a general 
	version of "DO."  General activity can be shown with this sign.
    <br/>
    <br/>
    <object classid="CLSID:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=8,0,0,0" height="275" id="FVS" width="320">
     <param name="movie" value="doing_player.swf?129232818"/>
     <param name="bgcolor" value="#ffffff"/>
     <param name="allowfullscreen" value="true"/>
     <embed allowfullscreen="true" bgcolor="#ffffff" height="275" name="FVS" pluginspage='http://www.macromedia.com/go/getflashplayer"' src="doing_player.swf?129232818" type="application/x-shockwave-flash" width="320"/>
    </object>
    <br/>
    <br/>
    <img border="0" height="210" src="/images/doactivity1.jpg" width="265"/>
    <img border="0" height="210" src="/images/doactivity2.jpg" width="265"/>
    <img border="0" height="210" src="/images/doactivity3.jpg" width="265"/>
    <img border="0" height="210" src="/images/doactivity4.jpg" width="265"/>
    <img border="0" height="210" src="/images/doactivity5.jpg" width="265"/>
    <img border="0" height="210" src="/images/doactivity6.jpg" width="265"/>
    <img border="0" height="210" src="/images/doactivity7.jpg" width="265"/>
    <img border="0" height="210" src="/images/doactivity8.jpg" width="265"/>
    <img border="0" height="210" src="/images/doactivity9.jpg" width="265"/>
    <img border="0" height="210" src="/images/doactivity11.jpg" width="265"/>
    <img border="0" height="210" src="/images/doactivity12.jpg" width="265"/>
    <br/>
    <br/>
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p>
    <br/>
    DO / ACTION
    <br/>
    Here is a variation of the sign DO.  This sign can also mean 
	"behavior."
    <br/>
    This variation uses a side to side motion.
    <br/>
    <br/>
    <object classid="CLSID:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=8,0,0,0" height="275" id="FVS1" width="320">
     <param name="movie" value="../a/action_player.swf?2247815303"/>
     <param name="bgcolor" value="#ffffff"/>
     <param name="allowfullscreen" value="true"/>
     <embed allowfullscreen="true" bgcolor="#ffffff" height="275" name="FVS1" pluginspage='http://www.macromedia.com/go/getflashplayer"' src="../a/action_player.swf?2247815303" type="application/x-shockwave-flash" width="320"/>
    </object>
   </p>
   <p>
    <br/>
    <img border="0" height="211" src="/images/do-e1.jpg" width="275"/>
    <img border="0" height="211" src="/images/do-e2.jpg" width="275"/>
    <img border="0" height="211" src="/images/do-e3.jpg" width="275"/>
    <img border="0" height="211" src="/images/do-e4.jpg" width="275"/>
    <img border="0" height="211" src="/images/do-e5.jpg" width="275"/>
    <img border="0" height="211" src="/images/do-e6.jpg" width="275"/>
    <img border="0" height="211" src="/images/do-e7.jpg" width="275"/>
    <br/>
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p>
    <br/>
    DID:
    <br/>
    Interestingly enough, I often see the sign "DID." This sign is obviously an 
  English spillover, but the fact is that many ASL signers use this bit of 
  lexicalized fingerspelling from time to time. Notice how the pinkie comes up 
  but the index finger doesn't come down (for the letter "i").  I don't 
  recommend you use this in your ASL classes, but if you plan on hanging out 
  with any Deaf people, it is a nifty little sign of which to be aware.
    <br/>
    <br/>
    <img border="0" height="83" src="/images/do.htm9.gif" width="76"/>
    <img border="0" height="83" src="/images/do.htm10.gif" width="76"/>
    <img border="0" height="83" src="/images/do.htm11.gif" width="76"/>
   </p>
   <p>
    See animation:
    <a href="/images/did.gif">
     "did"
    </a>
    <br/>
    <br/>
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p align="left" style="margin-top: 0; margin-bottom: 0">
    Remember, most of 
	the time 
  you
   </p>
  </font>
 </span>
 <i>
  don’t
 </i>
 <span style="font-weight: 400">
  sign “DO” in ASL. 
  Instead just raise your eyebrows to indicate you are asking a yes or no 
  question. Example: sign "YOU TEACH ASL?" while tilting your head a bit forward 
  and raising your eyebrows.
 </span>
 <span style="font-weight: 400">
  <hr align="left" color="#000000" size="1"/>
 </span>
 <p align="left" style="margin-top: 0; margin-bottom: 0">
  <span style="font-weight: 400">
   <br/>
   Also see:
   <a href="dont.htm">
    DON'T
   </a>
  </span>
 </p>
</blockquote>