<blockquote>
 <font face="Arial">
  <hr align="left" color="#000000" size="1"/>
  <p>
  </p>
  <p>
   DRUNK:
  </p>
  <p>
   <img border="0" height="208" src="/images/drunk.1.jpg" width="238"/>
   <img border="0" height="208" src="/images/drunk.2.jpg" width="238"/>
   <img border="0" height="208" src="/images/drunk.3.jpg" width="238"/>
   <br/>
   Memory aid: Think of the "A" hand as representing a bottle and the person is 
	so drunk that as he (or she) tries to take a swig he misses his mouth.
   <br/>
   <br/>
   Animation: DRUNK:
  </p>
  <p>
   <img border="0" height="208" src="/images/drunk.gif" width="238"/>
  </p>
  <p>
  </p>
  <hr align="left" color="#000000" size="1"/>
  <p>
   <br/>
   DRUNK:  (Version 2)
   <br/>
   This version means drunk but it also is good for such things as "tipsy" or 
	"buzzed."
   <br/>
   <br/>
   Hold a palm-down 4-hand up in front of your eyes (fingertips pointing toward 
	the side.  Move the 
  hand side to side in front of your face while wiggling your fingers. Use a 
  "drunk" facial expression.
   <br/>
   <br/>
   <img border="0" height="228" src="/images/drunk.19.jpg" width="211"/>
   <img border="0" height="228" src="/images/drunk.20.jpg" width="211"/>
   <img border="0" height="228" src="/images/drunk.21.jpg" width="211"/>
   <br/>
   <img border="0" height="228" src="/images/drunk.22.jpg" width="211"/>
   <img border="0" height="228" src="/images/drunk.23.jpg" width="211"/>
   <img border="0" height="228" src="/images/drunk.24.jpg" width="211"/>
   <br/>
  </p>
  <hr align="left" color="#000000" size="1"/>
  <p>
   <br/>
   Notes:
   <br/>
   <br/>
   ALCOHOLIC: A student asked me how to sign "alcoholic."  There 
			are several ways.
  </p>
  <p>
   One way is to sign "HE/SHE DRUNK HE." (Using the "A" hand 
			version). That works to mean "He is an alcoholic" if the person 
			isn't obviously drunk at the moment. If he or she is obviously drunk 
			then that statement would be interpreted to mean "He is drunk."  
			To make it clear that you mean "an alcoholic" you can add the 
			"PERSON-
   <a href="../a/agent.htm">
    agent
   </a>
   affix" to the sign DRUNK.
   <br/>
   <br/>
   Another way to indicate being an alcoholic is to sign "alcohol" and 
			then use the "ADDICTED" sign which uses an "X" hand to (pretend) 
			hook onto the corner of the mouth and (slightly) jerk the head to 
			the side as if indicating someone is "hooked" like a fish. Thus 
			"alcoholic" = ALCOHOL + ADDICT.
   <br/>
   <br/>
   Another way to indicate "alcoholic" is to fingerspell: "AA" which is 
			interpreted by many to mean that a person is an alcoholic and is 
			involved with the "whole process" of being an alcoholic including 
			current or previous attendance at Alcoholics Anonymous meetings.
   <br/>
   <br/>
   See:
   <a href="../a/alcohol.htm">
    ALCOHOL
   </a>
  </p>
  <hr align="left" color="#000000" size="1"/>
  <p align="center" style="margin-top: 0; margin-bottom: 0">
   <font face="Arial" size="1">
    You can learn 
		American
    <a href="http://www.lifeprint.com" style="text-decoration: none">
     Sign 
		Language
    </a>
    (ASL) online at American Sign Language University ™
    <br/>
    <a href="http://asl.ms" style="text-decoration: none">
     ASL
    </a>
    resources by Lifeprint.com  ©  Dr. William Vicars
   </font>
  </p>
 </font>
</blockquote>
