<blockquote>
 <font face="Arial">
  <hr align="left" color="#000000" size="1"/>
  <p>
   The sign for "duty" taps a "D" hand on the top of the 
			non-dominant wrist.
   <br/>
  </p>
  Make sure you do the sign for DUTY with the non-dominant hand palm-down.
  <br/>
  <p>
   <br/>
   DUTY:
  </p>
  <p>
   <img border="0" height="233" src="/images/duty1.jpg" width="210"/>
   <img border="0" height="233" src="/images/duty2.jpg" width="210"/>
   <img border="0" height="233" src="/images/duty3.jpg" width="210"/>
   <img border="0" height="233" src="/images/duty4.jpg" width="210"/>
  </p>
  <p>
   <br/>
  </p>
  <hr align="left" color="#000000" size="1" width="50%"/>
  <p>
   Note:
   <br/>
   The reason I point out the importance of doing the sign for DUTY 
			with the non-dominant hand "palm down" is because if the palm is up, it 
			is a
   <b>
    <i>
     version
    </i>
   </b>
   of the sign for "
   <a href="doctor.htm">
    DOCTOR
   </a>
   ").
   <br/>
   <br/>
   Memory aid: A doctor's duty is to help people. (Sign: DOCTOR DUTY 
			HELP PEOPLE).
  </p>
  <hr align="left" color="#000000" size="1"/>
  <p align="center" style="margin-top: 0; margin-bottom: 0">
   <font face="Arial" size="1">
    You can learn 
		American
    <a href="http://www.lifeprint.com" style="text-decoration: none">
     Sign 
		Language
    </a>
    (ASL) online at American Sign Language University ™
    <br/>
    <a href="http://asl.ms" style="text-decoration: none">
     ASL
    </a>
    resources by Lifeprint.com  ©  Dr. William Vicars
   </font>
  </p>
 </font>
</blockquote>
