<blockquote>
 <font face="Arial">
  <hr align="left" color="#000000" size="1"/>
  <p>
   The sign for "eagle" taps the nose twice with the back 
			of an "X" hand (as if representing the curved beak of an eagle.
  </p>
  <p>
   <br/>
   EAGLE:
  </p>
  <p>
   <img border="0" height="220" src="/images/eagle.4.jpg" width="180"/>
   <img border="0" height="220" src="/images/eagle.5.jpg" width="180"/>
   <img border="0" height="220" src="/images/eagle.4.jpg" width="180"/>
   <img border="0" height="220" src="/images/eagle.5.jpg" width="180"/>
  </p>
  <p>
  </p>
  <p>
   EAGLE: animation
  </p>
  <p>
   <img border="0" height="220" src="/images/eagle.gif" width="180"/>
  </p>
  <p>
   <br/>
  </p>
  <hr align="left" color="#000000" size="1" width="50%"/>
  <p>
  </p>
  <hr align="left" color="#000000" size="1"/>
  <p align="center" style="margin-top: 0; margin-bottom: 0">
   <font face="Arial" size="1">
    You can learn American
    <a href="http://www.lifeprint.com" style="text-decoration: none">
     Sign 
		Language
    </a>
    (ASL) online at American Sign Language University ™
    <br/>
    <a href="http://asl.ms" style="text-decoration: none">
     ASL
    </a>
    resources 
		by Lifeprint.com  ©  Dr. William Vicars
   </font>
  </p>
 </font>
</blockquote>
