<blockquote>
 <hr align="left" color="#000000" size="1"/>
 <font face="Arial">
  <font size="+1">
   <br/>
   T
  </font>
  he sign for "egg" is
made by forming both hands into the letter "h." 
	In one smooth movement, bring the middle finger side of your dominant "h" hand down on top of 
the index finger side of your non-dominant "h" hand. Move both hands 
	down and out as if breaking apart an "egg."
  <br/>
  <br/>
  EGG:
  <br/>
 </font>
 <img border="0" src="/images/egg.gif" style="max-width: 100%; height: auto" width="480"/>
 <font face="Arial">
  <img height="225" src="/images/egg.gif" width="236"/>
 </font>
 <p>
  <font face="Arial">
   <img border="0" height="320" src="/images/egg.ht5.jpg" width="304"/>
   <img border="0" height="320" src="/images/egg.ht6.jpg" width="304"/>
   <img border="0" height="320" src="/images/egg.ht7.jpg" width="304"/>
  </font>
 </p>
 <p>
  <iframe allow="autoplay; encrypted-media" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/uEvKmWqFE-4?rel=0" width="560">
  </iframe>
 </p>
 <hr align="left" color="#000000" size="1" width="50%"/>
 <p style="margin-top: 0; margin-bottom: 0">
 </p>
 <p style="margin-top: 0; margin-bottom: 0">
  EGG Y-O-L-K YOU LIKE SOFT-rt, HARD-lf, WHICH?
  <br/>
  <iframe allow="autoplay; encrypted-media" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/p3ZqEbncvxA?rel=0" width="560">
  </iframe>
  <br/>
 </p>
 <font face="Arial">
  <hr align="left" color="#000000" size="1" width="50%"/>
 </font>
 <p style="margin-top: 0; margin-bottom: 0">
  <br/>
  How do you like to cook eggs? = How do you like your eggs?
  <br/>
  <iframe allow="autoplay; encrypted-media" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/eNpyBqnVwgQ?rel=0" width="560">
  </iframe>
 </p>
 <p style="margin-top: 0; margin-bottom: 0">
 </p>
 <font face="Arial">
  <hr align="left" color="#000000" size="1" width="50%"/>
  <p style="margin-top: 0; margin-bottom: 0">
  </p>
  <p style="margin-top: 0; margin-bottom: 0">
   SUPPOSE EAT EGG, YOU LIKE KETCHUP 
	YOU?
  </p>
 </font>
 <p style="margin-top: 0; margin-bottom: 0">
  <iframe allow="autoplay; encrypted-media" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/4Mv3bZYVhT4?rel=0" width="560">
  </iframe>
  <br/>
 </p>
 <font face="Arial">
  <hr align="left" color="#000000" size="1"/>
 </font>
 <p style="margin-top: 0; margin-bottom: 0">
  <br/>
  Notes:
 </p>
 <font face="Arial">
  <p>
   In a message dated 7/28/2003 2:21:54 PM Central Daylight Time, lmurphy@______.com 
asks:
   <br/>
   <br/>
   Dear Dr. Bill,
   <br/>
   Does egg follow the noun/verb rule?
   <br/>
   Lynne
   <br/>
   ----------
   <br/>
   <br/>
   Lynne,
   <br/>
   A double movement is NOT required for this sign to mean the noun "egg."
   <br/>
   There is another variation of the sign for egg that uses a "crack" then "split" 
type movement, but even that variation is still just a "noun" referring to "an 
egg."
   <br/>
   How do that version:
   <br/>
   Bring the right hand "h" down onto
the left hand "h," then lift the right hand up an inch or so while
bringing up the left hand a half-inch and then bring both hands down and
apart.  This second version is soft of like "cracking and egg and then
lifting the egg up a bit to break it apart into your pan.
   <br/>
   I sort of like that version, but my wife is standing over my shoulder as I type 
this.
   <br/>
   She said, "No."
   <br/>
   And it is obvious she is
   <i>
    not
   </i>
   open to discussion on this.
   <br/>
   Sort of brutal eh?
   <br/>
   Anyway, I suppose you could sort of try to make the "H" hand version work 
as a verb. If you were telling a story about making French toast you could do 
the sign egg over wherever you put your bowl in the story and it would be 
understood as "crack an egg into the bowl,"  but you'd be better off using 
bent 3 handshapes and mime the cracking of an egg. 
Under my "
   <a href="../c/crack.htm">
    crack
   </a>
   " page in the signs listing I show 
the sign for "crack an egg." (An instrument classifier).
   <br/>
   - Dr. Bill
  </p>
  <hr align="left" color="#000000" size="1"/>
 </font>
</blockquote>
