<blockquote>
 <hr align="left" color="#000000" size="1"/>
 <br/>
 <p>
  FULL uses a single motion that moves back toward you. (If my cup is full I 
spill it on
  <i>
   me
  </i>
  ).
  <br/>
  ENOUGH uses a double motion that moves forward toward the other person. (If I 
have enough I can share it with
  <i>
   you
  </i>
  .)
  <br/>
  PLENTY uses a single exaggerated motion with the fingers wiggling as if 
representing an overflowing cup.
 </p>
 <hr align="left" color="#000000" size="1"/>
 <p>
  ENOUGH:
  <br/>
  The right hand brushes once or twice over the left fist.
 </p>
 <p>
  <img border="0" height="140" src="/images/enough.gif" width="300"/>
  <br/>
  Sample sentence:
  <br/>
  Did you get enough to eat? / Have you had enough food? / Is there enough food?
  <br/>
  <br/>
  <object classid="CLSID:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=8,0,0,0" height="275" id="FVS" width="320">
   <param name="movie" value="../24/food-enough-you_player.swf?8947550"/>
   <param name="bgcolor" value="#ffffff"/>
   <param name="allowfullscreen" value="true"/>
   <embed allowfullscreen="true" bgcolor="#ffffff" height="275" name="FVS" pluginspage='http://www.macromedia.com/go/getflashplayer"' src="../24/food-enough-you_player.swf?8947550" type="application/x-shockwave-flash" width="320"/>
  </object>
 </p>
 <hr align="left" color="#000000" size="1"/>
 <p>
  ENOUGH:
  <br/>
  <img border="0" height="222" src="/images/enoughdoublemotion1.jpg" width="252"/>
  <img border="0" height="222" src="/images/enoughdoublemotion2.jpg" width="252"/>
  <img border="0" height="222" src="/images/enoughdoublemotion3.jpg" width="252"/>
  <img border="0" height="222" src="/images/enoughdoublemotion4.jpg" width="252"/>
  <img border="0" height="222" src="/images/enoughdoublemotion5.jpg" width="252"/>
  <img border="0" height="222" src="/images/enoughdoublemotion6.jpg" width="252"/>
  <img border="0" height="222" src="/images/enoughdoublemotion7.jpg" width="252"/>
 </p>
 <hr align="left" color="#000000" size="1"/>
 <p>
 </p>
 <p>
  FULL:
  <br/>
  <img border="0" height="121" src="/images/full.h1.gif" width="260"/>
 </p>
 <p>
  <img border="0" height="208" src="/images/full1.jpg" width="210"/>
  <img border="0" height="208" src="/images/full2.jpg" width="210"/>
  <img border="0" height="208" src="/images/full3.jpg" width="210"/>
  <br/>
 </p>
 <div>
  <div>
   In a message dated 10/15/2004 7:31:27 AM Pacific Daylight Time, kputski@______.net 
    from Indiana asks:
  </div>
  <blockquote style="PADDING-LEFT: 5px; MARGIN-LEFT: 5px; BORDER-LEFT: blue 2px solid">
   <font color="#000000" face="Arial" size="2" style="background-color: transparent">
    Is the sign "FULL" interchangeable with the sign for full that is dominant 
    hand palm down and moved from mid-abdomen to chin? Or are they different 
    kinds of full? Or, is it an "Indiana" thing?
   </font>
  </blockquote>
 </div>
 <div>
  <div>
   Response:
  </div>
  No.  These are two different concepts:  FULL-(general) and "full"-(of 
  food, "had it up to here) are not interchangeable.
 </div>
 <div>
  "Full"-(of food, "had it up to here") is only used for concepts like "I can't 
  eat any more" or "I've had it up to here with you!"-(requires proper facial 
  expression "angry")
  <p>
  </p>
 </div>
 <hr align="left" color="#000000" size="1"/>
 <p>
  PLENTY:
 </p>
 <p>
  <img border="0" height="201" src="/images/plenty6.jpg" width="188"/>
  <img border="0" height="201" src="/images/plenty7.jpg" width="188"/>
  <img border="0" height="201" src="/images/plenty8.jpg" width="188"/>
  <img border="0" height="201" src="/images/plenty9.jpg" width="188"/>
  <img border="0" height="201" src="/images/plenty10.jpg" width="188"/>
 </p>
 <hr align="left" color="#000000" size="1"/>
 <div>
  <div>
   In a message dated 4/21/2005 7:02:39 AM Pacific Daylight Time, a student 
		writes:
  </div>
  <blockquote style="PADDING-LEFT: 5px; MARGIN-LEFT: 5px; BORDER-LEFT: blue 2px solid">
   <font color="#000000" face="Arial" size="2" style="BACKGROUND-COLOR: transparent">
    <div class="RTE">
     When signing "good-enough" do u sign good and then enough?
    </div>
   </font>
  </blockquote>
 </div>
 <div>
  Response:  Sort of. What you do is you combine the two signs into
  <b>
   one
  </b>
  smooth 
	movement.
 </div>
 <div>
  It actually looks as if you were signing "BAD-ENOUGH" because the dominant 
	hand twists palm downward as it changes into the sign for ENOUGH.  Note: In 
	this "compound version" of "GOOD-ENOUGH" the sign for "ENOUGH" only uses a 
	single movement.  You use the first part of the sign GOOD and the last 
	part of the sign ENOUGH.
 </div>
 <p style="margin-top: 0; margin-bottom: 0">
  <hr align="left" color="#000000" size="1" width="50%"/>
  <p style="margin-top: 0; margin-bottom: 0">
   <br/>
   Sample sentence:
   <br/>
  </p>
  <font face="Arial">
   <hr align="left" color="#000000" size="1"/>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
    <font face="Arial" size="1">
     You can learn
     <a href="http://lifeprint.com" style="text-decoration: none">
      American Sign Language (ASL)
     </a>
     online at American Sign Language University ™
     <br/>
     <a href="http://asl.ms" style="text-decoration: none">
      ASL
     </a>
     resources by Lifeprint.com  ©  Dr. William Vicars
    </font>
   </p>
  </font>
 </p>
</blockquote>
