<blockquote>
 <hr align="left" color="#000000" size="1"/>
 <font face="Arial">
  To do the concept "enthusiastic" (or "enthusiasm"), rub your hands together in enthusiastic anticipation:
  <br/>
  <br/>
  <p>
   ENTHUSIASTIC:
  </p>
  <p>
   <img border="0" height="205" src="/images/enthusiasm1.jpg" width="192"/>
   <img border="0" height="205" src="/images/enthusiasm2.jpg" width="192"/>
   <img border="0" height="205" src="/images/enthusiasm3.jpg" width="192"/>
   <img border="0" height="205" src="/images/enthusiasm4.jpg" width="192"/>
   <img border="0" height="205" src="/images/enthusiasm5.jpg" width="192"/>
   <img border="0" height="205" src="/images/enthusiasm6.jpg" width="192"/>
  </p>
  <hr align="left" color="#000000" size="1"/>
  <p>
   Animation: ENTHUSIASTIC
   <br/>
  </p>
  <p>
   <img border="0" height="208" src="/images/enthusiastic.gif" width="197"/>
   <br/>
  </p>
  <hr align="left" color="#000000" size="1"/>
  <p>
   Also see:
   <a href="excited.htm">
    excitement
   </a>
  </p>
  <hr align="left" color="#000000" size="1"/>
  <p align="center" style="margin-top: 0; margin-bottom: 0">
   <font face="Arial" size="1">
    You can learn
    <a href="http://lifeprint.com">
     American Sign Language (ASL)
    </a>
    online at American Sign Language University ™
    <br/>
    <a href="http://asl.ms" style="text-decoration: none">
     ASL
    </a>
    resources by Lifeprint.com  ©  Dr. William Vicars
   </font>
  </p>
 </font>
</blockquote>
