<blockquote>
 <h1 style="margin-top: 0; margin-bottom: 0">
  <font face="Arial">
   <span style="font-weight: 400">
    <font size="5">
     American Sign Language: "evaporate / 
		take-up / adopt"
    </font>
   </span>
   <br/>
  </font>
 </h1>
 <p>
  <br/>
  <p>
   TAKE-UP:
   <br/>
   This sign means:
   <br/>
   -
  to take a class
   <br/>
   -
  to adopt a method or a child
   <br/>
   -
  to evaporate
   <br/>
   It
   <i>
    <b>
     doesn’t
    </b>
   </i>
   mean to “
   <a href="../t/takeaway.htm">
    take from
   </a>
   ”
  </p>
  <p>
  </p>
  <p>
   <img border="0" height="224" src="/images/take.h5.jpg" width="248"/>
   <img border="0" height="224" src="/images/take.h6.jpg" width="248"/>
   <img border="0" height="224" src="/images/take.h7.jpg" width="248"/>
  </p>
  <p>
   <br/>
   <hr align="left" color="#000000" size="1"/>
  </p>
  <hr align="left" color="#000000" size="1"/>
  <p style="margin-top: 0; margin-bottom: 0">
   <br/>
   * 
Want to help support ASL University?  It's
   <i>
    easy
   </i>
   :
   <b>
    <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&amp;hosted_button_id=XHRNABERKJT4N" rel="nofollow" target="_blank">
     <u>
      DONATE
     </u>
    </a>
   </b>
   <font size="2">
    (
    <i>
     Thanks!
    </i>
    )
   </font>
   <br/>
   <br/>
   <font face="Arial">
    *
   </font>
   Another way to help is to buy something from Dr. Bill's "
   <b>
    <a href="../../../bookstore/bookstore.htm">
     <u>
      Bookstore
     </u>
    </a>
   </b>
   ."
  </p>
  <p style="margin-top: 0; margin-bottom: 0">
   <br/>
   <font face="Arial">
    *
   </font>
   Want even more ASL resources?  Visit the "
   <b>
    <a href="http://www.asl.tc/landing/index.html" rel="nofollow" target="_blank">
     ASL Training Center
    </a>
    !
   </b>
   "  (Subscription 
Extension of ASLU)
   <br/>
   <br/>
   *  Also check out Dr. Bill's channel:
   <a href="http://www.youtube.com/billvicars">
    www.youtube.com/billvicars
   </a>
   <font size="2">
    <br/>
   </font>
  </p>
  <hr align="left" color="#000000" size="1"/>
  <p align="center" style="margin-top: 0; margin-bottom: 0">
   <font size="1">
    You can learn
    <a href="http://lifeprint.com">
     American Sign Language (ASL)
    </a>
    online at American Sign Language University ™
    <br/>
    <a href="http://asl.ms" style="text-decoration: none">
     ASL
    </a>
    resources by Lifeprint.com  ©  Dr. William Vicars
   </font>
  </p>
  <hr color="#000000" size="1"/>
  <p>
  </p>
 </p>
</blockquote>
