<blockquote>
 <hr align="left" color="#000000" size="1"/>
 <p style="margin-top: 0; margin-bottom: 0">
  A person named "Lyn" 
			writes:
 </p>
 <p style="margin-top: 0; margin-bottom: 0">
  <br/>
  Dear Dr. Bill,
  <br/>
  My question is regarding the sign for 'expired.' Meaning 'expired' 
			as in 'an expired driver's license.' Or, as in 'these pills expired 
			six months ago.'
  <br/>
  <br/>
  To express 'expired,' I use the sign that means: dissipate; 
			dissolve; disintegrate; melt; fade-away etc. This refers to the sign 
			that starts with a Flat O hand; then all fingers slide toward the 
			base of the hand until you have an A hand shape.
  <br/>
  <br/>
  My question is two-fold. Am I correct, or incorrect, in using that 
			sign?
  <br/>
  <br/>
  Secondly - is there another sign (or other signs) that would be more 
			accurate and more in keeping with true ASL?
  <br/>
  <br/>
  Thank you for your time and expertise - and willingness to share the 
			same with so many ASEllers!
  <br/>
  <br/>
  - Lyn
  <br/>
  <br/>
  Dear Lyn,
  <br/>
  <font face="Arial">
   Your sign choice
  </font>
  of "dissolve" is a clever idea but not the
  <i>
   best
  </i>
  sign in this 
			situation.
  <br/>
  There is a
  <i>
   very specific
  </i>
  sign for "expired license."
 </p>
 <p style="margin-top: 0; margin-bottom: 0">
  How you do it is you hold 
			up two "L" hands with the thumb-tips near each other (or even 
			touching), palms pointing forward, and index fingers pointing upward 
			(as if you were going to sign "LICENSE").  Then you rotate your 
			dominant hand so that the index finger (of the "L" handshape) is 
			pointing down.  The thumb-tips are still pointing directly at 
			each other and are still touching or nearly touching. The difference 
			now is that one "L" hand is pointing up and the other is pointing 
			down.
  <br/>
  Cordially,
 </p>
 <p style="margin-top: 0; margin-bottom: 0">
  Dr. Bill
  <br/>
  <br/>
  <br/>
 </p>
 <font face="Arial">
  <hr align="left" color="#000000" size="1"/>
  <p align="center" style="margin-top: 0; margin-bottom: 0">
   <font face="Arial" size="1">
    You can learn
    <a href="http://lifeprint.com" style="text-decoration: none">
     American Sign Language (ASL)
    </a>
    online at American Sign Language University ™
    <br/>
    <a href="http://asl.ms" style="text-decoration: none">
     ASL
    </a>
    resources by Lifeprint.com  ©  Dr. William Vicars
   </font>
  </p>
 </font>
</blockquote>
