<blockquote>
 <font face="Arial">
  <hr align="left" color="#000000" size="1"/>
  <p>
   The non-dominant hand (my left hand) is an "A" or an "S" handshape. 
	(You'll see it either way).
   <br/>
   The dominant hand is a bent hand and is held so that the fingers are 
	underneath the pinkie side of the non-dominant "fist." The dominant hand 
	"unbends" and bends one time as if showing gas escaping.
   <br/>
   <br/>
   FART (version 1)
  </p>
  <p>
   <img border="0" height="239" src="/images/fart.h31.jpg" width="241"/>
   <img border="0" height="239" src="/images/fart.h32.jpg" width="241"/>
   <img border="0" height="239" src="/images/fart.h33.jpg" width="241"/>
   <img border="0" height="239" src="/images/fart.h34.jpg" width="241"/>
   <br/>
  </p>
  <hr align="left" color="#000000" size="1"/>
  <br/>
  Here is a "one handed" version of fart. (Both versions are widely used.)
  <br/>
  You start by opening up the pinkie, and then the ring and middle 
			finger. The index finger stays curled up. Then you reverse and close 
			the middle, then ring, then pinkie fingers. For comic effect or 
			emphasis you can puff one cheek and force a bit of air through your 
			lips at the corner of your mouth.
  <br/>
  <br/>
  FART (version 2)
  <p>
   <img border="0" height="237" src="/images/fart.h35.jpg" width="219"/>
   <img border="0" height="237" src="/images/fart.h36.jpg" width="219"/>
   <img border="0" height="237" src="/images/fart.h37.jpg" width="219"/>
   <img border="0" height="237" src="/images/fart.h38.jpg" width="219"/>
   <img border="0" height="237" src="/images/fart.h39.jpg" width="219"/>
   <img border="0" height="237" src="/images/fart.h35.jpg" width="219"/>
  </p>
  <p>
   <br/>
  </p>
  <hr align="left" color="#000000" size="1" width="50%"/>
  <p>
  </p>
  <hr align="left" color="#000000" size="1"/>
  <p align="center" style="margin-top: 0; margin-bottom: 0">
   <font face="Arial" size="1">
    You can learn American
    <a href="http://www.lifeprint.com" style="text-decoration: none">
     Sign 
		Language
    </a>
    (ASL) online at American Sign Language University ™
    <br/>
    <a href="http://asl.ms" style="text-decoration: none">
     ASL
    </a>
    resources 
		by Lifeprint.com  ©  Dr. William Vicars
   </font>
  </p>
 </font>
</blockquote>
