<blockquote>
 <hr align="left" color="#000000" size="1" width="50%"/>
 <span style="font-weight: 400">
  <font face="Arial">
   <p style="margin-top: 0; margin-bottom: 0">
    FIND / pick-up / discover:
    <br/>
    <img border="0" height="320" src="/images/find-pick.gif" style="max-width: 100%; " width="320"/>
    <img border="0" height="353" src="/images/find.gif" width="300"/>
   </p>
   <p>
    <img border="0" height="225" src="/images/find1.jpg" width="221"/>
    <img border="0" height="225" src="/images/find2.jpg" width="221"/>
   </p>
   <p>
    <iframe allow="autoplay; encrypted-media" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/2O5wVw-rlIs?rel=0" width="560">
    </iframe>
    <br/>
    <br/>
    Sample sentence:
    <br/>
    YOU THINK FIND NEW ADDRESS EASY? (Do you think finding new addresses is easy?)
    <br/>
    <iframe allow="autoplay; encrypted-media" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/cvXUoN8wOwo?rel=0" width="560">
    </iframe>
    <br/>
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p>
    Note:  Some people do the sign find with the thumb  making contact with 
the middle finger instead of the index finger making contact with the thumb.
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p>
    <br/>
    FIND (variation)
    <br/>
    Some people hold the left hand out while signing "find."  You
don't need to.
    <br/>
    Also, you
    <b>
     <i>
      generally wouldn't
     </i>
    </b>
    use the left
hand like this if you were signing "SCHOOL FINISH, WANT PICK-UP YOU?"
(Meaning, "Do you want me to pick you up after school?)  To sign that
you would just use the one handed version of "pick up."
    <br/>
    <br/>
    <img border="0" height="239" src="/images/findpickupb1.jpg" width="236"/>
    <img border="0" height="239" src="/images/findpickupb2.jpg" width="236"/>
    <img border="0" height="239" src="/images/findpickupb3.jpg" width="236"/>
    <img border="0" height="239" src="/images/findpickupb4.jpg" width="236"/>
   </p>
   <hr align="left" color="#000000" size="1" width="50%"/>
  </font>
 </span>
</blockquote>
