<blockquote>
 <font face="Arial">
  <hr align="left" color="#000000" size="1"/>
  <p>
   The sign for "fingerspell" (or "fingerspelling" or 
			"spell") wiggles the fingers as you move the 
			hand a bit to the side.
   <br/>
  </p>
  <blockquote>
   <span style="font-weight: 400">
    <p>
     <img border="0" height="155" src="/images/spell.gif" width="300"/>
     <video controls="" src="../../videos/spell_player.mp4">
     </video>
     <br/>
     <br/>
    </p>
    <hr color="#800080"/>
    <p>
     <br/>
     <img border="0" height="224" src="/images/spell1.jpg" width="277"/>
     <img border="0" height="224" src="/images/spell2.jpg" width="277"/>
     <img border="0" height="224" src="/images/spell4.jpg" width="277"/>
     <img border="0" height="224" src="/images/spell6.jpg" width="277"/>
    </p>
    <p>
     <br/>
    </p>
    <hr align="left" color="#000000" size="1"/>
    <p>
     <br/>
     SPELL:  Version 2
     <br/>
     There is another way to sign fingerspell which looks like you are throwing a 
piece of paper.  It uses a quick double movement.  I use this sign for 
sentences like:  "I spelled to them."  "He spelled to me."    
This sign is "directional," it involves "noun/verb" agreement.  That means 
if you do it like in the picture it means SPELL in general or "I SPELLED it to 
YOU."  This version is "directional." That means you can modify the sign by 
aiming it at a third person or even at yourself.  If I aim it at myself  
it could mean the person I am talking about spelled something to me.
     <br/>
     <br/>
     <img border="0" height="212" src="/images/spell.24.jpg" width="272"/>
     <img border="0" height="212" src="/images/spell.25.jpg" width="272"/>
     <br/>
     <img border="0" height="212" src="/images/spell.26.jpg" width="272"/>
     <img border="0" height="212" src="/images/spell.27.jpg" width="272"/>
     <br/>
    </p>
    <p>
     Note: if you use just a single movement with this variation it can mean a 
version of the sign "
     <a href="../s/send.htm" style="text-decoration: none">
      SEND
     </a>
     ."
    </p>
    <p>
    </p>
    <p>
    </p>
    <hr/>
    <p>
     <br/>
    </p>
    <p>
    </p>
   </span>
  </blockquote>
  <hr align="left" color="#000000" size="1"/>
  <p align="center" style="margin-top: 0; margin-bottom: 0">
   <font face="Arial" size="1">
    You can learn American
    <a href="http://www.lifeprint.com" style="text-decoration: none">
     Sign 
		Language
    </a>
    (ASL) online at American Sign Language University ™
    <br/>
    <a href="http://asl.ms" style="text-decoration: none">
     ASL
    </a>
    resources 
		by Lifeprint.com  ©  Dr. William Vicars
   </font>
  </p>
 </font>
</blockquote>
