<blockquote>
 <font face="Arial">
  <h2 style="margin-top: 0; margin-bottom: 0">
   <span style="font-weight: 400">
    American Sign Language:  "flash-the-lights"
   </span>
  </h2>
  <blockquote>
   <p>
    <span style="font-weight: 400">
     Note:
  Flashing the lights is a method of quickly getting the attention of a whole
  group of people.
     <br/>
     Getting attention this way should only be done by 
	people familiar with the Deaf Culture.  Newbies tend to overdo it. 
	(Flash too many times, too quickly, etc.)
    </span>
   </p>
   <hr align="left" color="#000000" size="1" width="50%"/>
   <span style="font-weight: 400">
    <p style="margin-top: 0; margin-bottom: 0">
     FLASH-the-lights:
    </p>
    <p style="margin-top: 0; margin-bottom: 0">
     Open the hands, close the hands, and 
open them again. This is a way to tell someone to flash the overhead lighting 
off and on a couple times.
    </p>
    <p style="margin-top: 0; margin-bottom: 0">
     <iframe allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/mFCA_niWwcw?rel=0" width="560">
     </iframe>
    </p>
    <p style="margin-top: 0; margin-bottom: 0">
     <img border="0" height="232" src="/images/lights-flashlights1.jpg" width="310"/>
     <img border="0" height="232" src="/images/lights-flashlights5.jpg" width="310"/>
     <img border="0" height="232" src="/images/lights-flashlights8.jpg" width="310"/>
     <img border="0" height="232" src="/images/lights-flashlights10.jpg" width="310"/>
    </p>
    <hr color="#000000" size="1"/>
    <hr color="#000000" size="1"/>
    <p style="margin-top: 0; margin-bottom: 0">
     Also see:
     <a href="../l/light.htm">
      LIGHT
     </a>
    </p>
    <hr align="left" color="#000000" size="1" width="50%"/>
   </span>
  </blockquote>
  <hr align="left" color="#000000" size="1"/>
  <hr align="left" color="#000000" size="1"/>
  <p style="margin-top: 0; margin-bottom: 0">
   <br/>
   * 
Want to help support ASL University?  It's
   <i>
    easy
   </i>
   :
  </p>
 </font>
 <b>
  <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&amp;hosted_button_id=XHRNABERKJT4N" rel="nofollow" target="_blank">
   <u>
    DONATE
   </u>
  </a>
 </b>
 <font size="2">
  (
  <i>
   Thanks!
  </i>
  )
 </font>
 <br/>
 <br/>
 <font face="Arial">
  *
 </font>
 Another way to help is to buy something from Dr. Bill's "
 <b>
  <a href="../../../bookstore/bookstore.htm">
   <u>
    Bookstore
   </u>
  </a>
 </b>
 ."
 <p style="margin-top: 0; margin-bottom: 0">
  <br/>
  <font face="Arial">
   *
  </font>
  Want even more ASL resources?  Visit the "
  <b>
   <a href="http://www.asl.tc/landing/index.html" rel="nofollow" target="_blank">
    ASL Training Center
   </a>
   !
  </b>
  "  (Subscription 
Extension of ASLU)
  <br/>
  <br/>
  *  Also check out Dr. Bill's channel:
  <a href="http://www.youtube.com/billvicars">
   www.youtube.com/billvicars
  </a>
  <font size="2">
   <br/>
  </font>
 </p>
 <hr align="left" color="#000000" size="1"/>
 <p align="center" style="margin-top: 0; margin-bottom: 0">
  <font size="1">
   You can learn
   <a href="http://lifeprint.com">
    American Sign Language (ASL)
   </a>
   online at American Sign Language University ™
   <br/>
   <a href="http://asl.ms" style="text-decoration: none">
    ASL
   </a>
   resources by Lifeprint.com  ©  Dr. William Vicars
  </font>
 </p>
 <hr color="#000000" size="1"/>
 <p>
 </p>
</blockquote>
