<blockquote>
 <hr align="left" color="#000000" size="1"/>
 Think of your non dominant hand as the research paper you just 
			turned in. Think of the dominant hand as the grade I just assigned 
			you. Sorry, you should have gotten more references and spell checked 
			eh?
 <br/>
 <p>
  <br/>
  FLUNK: The thumb-side of the right "F" hand slaps up against the left flat 
  hand palm.
 </p>
 <p>
  <img border="0" height="214" src="/images/flunk.31.jpg" width="216"/>
  <img border="0" height="214" src="/images/flunk.32.jpg" width="216"/>
 </p>
 <p style="margin-top: 0; margin-bottom: 0">
  <hr align="left" color="#000000" size="1" width="50%"/>
  <p style="margin-top: 0; margin-bottom: 0">
   <br/>
   <font face="Arial">
    Sample sentence: Have you ever gotten an F in class before?
    <br/>
    <br/>
    <object classid="CLSID:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=8,0,0,0" height="275" id="FVS" width="320">
     <param name="movie" value="../23/have-you-ever-flunked-a-class-before_player.swf?285510356"/>
     <param name="bgcolor" value="#ffffff"/>
     <param name="allowfullscreen" value="true"/>
     <embed allowfullscreen="true" bgcolor="#ffffff" height="275" name="FVS" pluginspage='http://www.macromedia.com/go/getflashplayer"' src="../23/have-you-ever-flunked-a-class-before_player.swf?285510356" type="application/x-shockwave-flash" width="320"/>
    </object>
   </font>
   <br/>
   <br/>
  </p>
  <font face="Arial">
   <hr align="left" color="#000000" size="1"/>
   <p style="margin-top: 0; margin-bottom: 0">
    Also see:
    <a href="fail.htm">
     FAIL
    </a>
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
    <font face="Arial" size="1">
     You can learn
     <a href="http://lifeprint.com" style="text-decoration: none">
      American Sign Language (ASL)
     </a>
     online at American Sign Language University ™
     <br/>
     <a href="http://asl.ms" style="text-decoration: none">
      ASL
     </a>
     resources by Lifeprint.com  ©  Dr. William Vicars
    </font>
   </p>
  </font>
 </p>
</blockquote>
