<blockquote>
 <span style="font-weight: 400">
  <font face="Arial">
   <hr color="#000000" size="1"/>
   <p style="margin-top: 0; margin-bottom: 0">
    For more "fly" versions, as in 
"flying" see:
    <a href="fly.htm">
     FLY
    </a>
   </p>
   <hr color="#000000" size="1"/>
   <p style="margin-top: 0; margin-bottom: 0">
    <br/>
    FLY-(insect)
    <br/>
    As in a bug that flies around and bothers people.
    <br/>
    Version 1:  Spell it.
    <br/>
    <img height="100" src="/images/f_small.gif" width="100"/>
    <img height="100" src="/images/l_small.gif" width="100"/>
    <img height="100" src="/images/y_small.gif" width="100"/>
    <br/>
   </p>
   <hr color="#000000" size="1"/>
   <p style="margin-top: 0; margin-bottom: 0">
    Because the word "fly" is so short (three letters) this concept is
often just spelled out.  But, if for some reason, (maybe you are telling a 
story), and you need an actual sign for fly here is a sign that works pretty good for
indicating the insect known as a "fly."
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    FLY:
    <br/>
    <img border="0" height="215" src="/images/flyb.gif" width="300"/>
   </p>
   <hr color="#000000" size="1"/>
   <p style="margin-top: 0; margin-bottom: 0">
    <br/>
    If you want to talk about a fly buzzing around, I'd use an "F"
handshape.  Pretend you are holding a fly between your index finger and thumb. 
Then wiggle your hand around as if the imaginary fly between your finger and
thumb were buzzing around in the air.
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <br/>
    FLY-("buzzing around")
    <br/>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <img border="0" height="363" src="/images/flyinsectsmall.gif" width="300"/>
    <br/>
   </p>
   <p align="left" style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr color="#000000" size="1"/>
  </font>
 </span>
 <p align="left" style="margin-top: 0; margin-bottom: 0">
  <span style="font-weight: 400">
   Also see: "
   <a href="firefly.htm">
    FIREFLY
   </a>
   "
  </span>
 </p>
 <font face="Arial">
  <span style="font-weight: 400">
   <hr color="#000000" size="1"/>
  </span>
 </font>
</blockquote>
