<blockquote>
 <p style="margin-top: 0; margin-bottom: 0">
  <span style="font-weight: 400">
   <font face="Arial">
    FOOL
   </font>
  </span>
  <hr align="left" color="#000000" size="1" width="50%"/>
  <p style="margin-top: 0; margin-bottom: 0">
   <span style="background-color: #FFFF00">
    Note: there is a difference between 
	the signs "to fool" and "a fool."
   </span>
  </p>
  <hr align="left" color="#000000" size="1" width="50%"/>
  <p style="margin-top: 0; margin-bottom: 0">
   <span style="font-weight: 400">
    <br/>
    "To fool someone."
   </span>
  </p>
  <p style="margin-top: 0; margin-bottom: 0">
   <span style="font-weight: 400">
    <img border="0" height="229" src="/images/foolsomeone1.jpg" width="199"/>
    <img border="0" height="229" src="/images/foolsomeone2.jpg" width="199"/>
    <img border="0" height="229" src="/images/foolsomeone3.jpg" width="199"/>
   </span>
  </p>
  <hr align="left" color="#000000" size="1" width="50%"/>
  <p style="margin-top: 0; margin-bottom: 0">
   <span style="font-weight: 400">
    <br/>
    "Do you like to fool people?"
    <br/>
   </span>
  </p>
  <p style="margin-top: 0; margin-bottom: 0">
   <object classid="CLSID:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=8,0,0,0" height="275" id="FVS" width="320">
    <param name="movie" value="../20/you-like-fool-people_player.swf?130586541"/>
    <param name="bgcolor" value="#ffffff"/>
    <param name="allowfullscreen" value="true"/>
    <embed allowfullscreen="true" bgcolor="#ffffff" height="275" name="FVS" pluginspage='http://www.macromedia.com/go/getflashplayer"' src="../20/you-like-fool-people_player.swf?130586541" type="application/x-shockwave-flash" width="320"/>
   </object>
   <br/>
  </p>
  <hr align="left" color="#000000" size="1" width="50%"/>
  <p style="margin-top: 0; margin-bottom: 0">
   <span style="font-weight: 400">
    Discussion:  If you wanted to say that someone is "a fool" you would sign, "HE SILLY," "HE DUMB," or "HE STUPID" depending on your
  meaning.
   </span>
  </p>
  <hr align="left" color="#000000" size="1" width="50%"/>
  <p style="margin-top: 0; margin-bottom: 0">
   <span style="font-weight: 400">
    Also see:
    <a href="../s/silly.htm" style="text-decoration: none">
     SILLY
    </a>
    <br/>
    Also see:
    <a href="../d/dumb.htm" style="text-decoration: none">
     DUMB
    </a>
    <br/>
    Also see:
    <a href="../s/stupid.htm" style="text-decoration: none">
     STUPID
    </a>
   </span>
  </p>
  <hr align="left" color="#000000" size="1" width="50%"/>
 </p>
</blockquote>
