<blockquote>
 <font face="Arial">
  <h1 style="margin-top: 0; margin-bottom: 0">
   <span style="font-weight: 400">
    <font face="Arial" size="5">
     American Sign Language:  "gentle"
    </font>
   </span>
  </h1>
  <blockquote>
   <hr align="left" color="#000000" size="1" width="50%"/>
   <span style="font-weight: 400">
    <p style="margin-top: 0; margin-bottom: 0">
     The sign for "gentle" is also the 
same as the sign for soft.  It can even mean "tender."
     <br/>
     <br/>
     GENTLE:
     <br/>
     <iframe allowfullscreen="" frameborder="0" height="315" name="I1" src="https://www.youtube.com/embed/t7UVHH4vj_M?rel=0" width="560">
     </iframe>
    </p>
    <p style="margin-top: 0; margin-bottom: 0">
     <img border="0" height="232" src="/images/soft.h52.jpg" width="215"/>
     <img border="0" height="232" src="/images/soft.h53.jpg" width="215"/>
     <img border="0" height="232" src="/images/soft.h54.jpg" width="215"/>
    </p>
    <p style="margin-top: 0; margin-bottom: 0">
     <img border="0" height="232" src="/images/soft.h55.jpg" width="215"/>
     <br/>
    </p>
    <p style="margin-top: 0; margin-bottom: 0">
     Notes:  You can use context and 
facial expression to modify the meaning of this sign (gentle/soft) to instead 
mean "wet" or "humid."  Just match your facial expression to the meaning 
you are striving to convey.  If you intend a negative connotation you 
should use a negative facial expression and a larger, harsher, movement.
     <br/>
    </p>
   </span>
   <span style="font-weight: 400">
    <p style="margin-top: 0; margin-bottom: 0">
    </p>
    <hr align="left" color="#000000" size="1"/>
   </span>
  </blockquote>
 </font>
 <p style="margin-top: 0; margin-bottom: 0">
  Discussion
 </p>
 <span style="font-weight: 400">
  <hr align="left" color="#000000" size="1"/>
  <p class="MsoNormal">
   Hi Dr. Vicars,
   <br/>
   Fabulous site! Thanks so much for maintaining it, and for going into the level 
of detail you do.
  </p>
  <p class="MsoNormal">
   I've taken the opportunity of having a new (hearing) baby 
to indulge my lifelong interest in ASL, which I've only studied on and off 
previously. Comparative linguistics and dance are two of my major passions, so 
I'm loving having a great excuse to devote more time to learning more ASL.
  </p>
  <p class="MsoNormal">
   Anyway, a specific question: when you get a chance could 
you address the various signs for "gentle"? I've seen number of different ones 
and am wondering which are more broadly accepted or if there are subtle 
differences in meaning that I am missing. Variants I've seen include: stroking 
the back of the nd hand with the d hand, rotating two bent B-hands around each 
other, gently "patting" downward twice in front of you with both hands in 
relaxed 5, a double downward swipe off the chin with the upgoing fingertips of 
the d hand, etc. I'd love to hear your take on the differences/usage here.
   <br/>
   Thanks again for all you do.
   <br/>
   Best,
   <br/>
   - Suzie Snyder
  </p>
  <hr align="left" color="#000000" size="1" width="25%"/>
  <p class="MsoNormal">
   Dear Suzie,
   <br/>
   See below for my thoughts on each of those versions.
   <br/>
   -- Dr. Bill
  </p>
  <hr align="left" color="#000000" size="1" width="25%"/>
  <p class="MsoNormal">
   Version: Stroking the back of the non-dominant hand with 
the dominant hand.
  </p>
  <p class="MsoNormal">
   Notes: That is the sign "PET." If you do the sign for "PET" 
in a careful/gentle manner it can be interpreted as "pet the animal gently."
  </p>
  <hr align="left" color="#000000" size="1" width="25%"/>
  <p class="MsoNormal">
   Version: Rotating two bent B-hands around each other.
  </p>
  <p class="MsoNormal">
   Notes: That is the sign for "KINDNESS" as in "be kind to 
other people" or "she is a kind person."
  </p>
  <hr align="left" color="#000000" size="1" width="25%"/>
  <p class="MsoNormal">
   Version: Gently "patting" downward twice in front of you 
with both hands in relaxed 5
  </p>
  <p class="MsoNormal">
   Notes: That is the sign for "calm down" or "Whoa, easy does 
it." If talking about the ocean it could refer to the waves being gentle. If you 
pat downward and then move it slightly sideways and pat downward again it 
becomes the sign for "EASYGOING" or "take it easy." It can also mean that a 
person is "down to earth."
  </p>
  <hr align="left" color="#000000" size="1" width="25%"/>
  <p class="MsoNormal">
   Version: A double downward swipe off the chin with the 
upgoing fingertips of the d hand, etc.
  </p>
  <p class="MsoNormal">
   Notes: That is the sign for "SWEET" and when applied to a 
person's personality it can mean that he or she is a "sweet person."
  </p>
 </span>
</blockquote>
