<blockquote>
 <p align="left">
  Notes:
  <br/>
  The sign I use for awesome is commonly labeled as the sign for "WONDERFUL."
  <br/>
  Some people do the sign WONDERFUL with a high to low movement.  (They 
	do the first push up high, then the second push lower.)  I don't do it 
	that way because it conflicts with one of the popular variations of 
	"SUNDAY."
  <br/>
  <br/>
  GOD
  <br/>
  <img border="0" height="240" src="/images/god_is1.jpg" width="240"/>
  <br/>
  <br/>
  AWESOME:
  <br/>
  <img border="0" height="240" src="/images/awesome.01.jpg" width="294"/>
  <img border="0" height="240" src="/images/awesome.02.jpg" width="294"/>
  <br/>
  <img border="0" height="240" src="/images/awesome.01.jpg" width="294"/>
  <img border="0" height="240" src="/images/awesome.02.jpg" width="294"/>
 </p>
</blockquote>
