<blockquote>
 <hr align="left" color="#000000" size="1"/>
 <font face="Arial">
  <span style="font-weight: 400">
   <p align="left" style="margin-top: 0; margin-bottom: 0">
    <font size="+1">
     M
    </font>
    ake the sign for "good"
by placing the fingers of your right hand against your lips. Move your right hand into the palm of your left hand. 
Both hands should be facing upward.
   </p>
  </span>
 </font>
 <p style="margin-top: 0; margin-bottom: 0">
  <br/>
  <span style="font-weight: 400">
   <font face="Arial">
    GOOD:
    <br/>
   </font>
  </span>
  <br/>
  <img border="0" src="/images/good.gif" style="max-width: 100%; height: auto" width="480"/>
  <font face="Arial">
   <span style="font-weight: 400">
    <img height="308" src="/images/good.gif" width="270"/>
   </span>
  </font>
  <p style="margin-top: 0; margin-bottom: 0">
   <p style="margin-top: 0; margin-bottom: 0">
    <img border="0" height="480" src="/images/good-01.jpg" width="480"/>
    <img border="0" height="480" src="/images/good-02.jpg" width="480"/>
    <p style="margin-top: 0; margin-bottom: 0">
     <font face="Arial">
      <span style="font-weight: 400">
       <iframe allow="autoplay; encrypted-media" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/tTDXplV6TKA?rel=0" width="560">
       </iframe>
       <br/>
       <p align="left" style="margin-top: 0; margin-bottom: 0">
        <font size="+1">
         Note:
        </font>
        Often 
	the sign "GOOD" is done
        <b>
         without
        </b>
        the base hand. When signed with just the dominant hand only, this sign can mean, "thank 
you" or it can still mean "good."
        <br/>
        <br/>
        For example, when signing "good morning" I 
rarely use the left hand.
        <p align="left" style="margin-top: 0; margin-bottom: 0">
         <font color="#800000">
          <br/>
          HEATHER
         </font>
         :  I've seen this sign off the chin instead of the
lips.  Does that change the meaning?
         <br/>
         <br/>
         Dr Bill:  No.  It still means the same thing. Realistically it doesn't 
	"touch" either the chin or the lips. The sign for both "good" and "thank 
	you" starts
        </p>
       </p>
      </span>
      <span style="font-weight: 700; font-style:italic">
       near
      </span>
      <span style="font-weight: 400">
       the mouth.
       <br/>
       <font color="#800000">
        <br/>
        HEATHER
       </font>
       :  How can I tell if they are saying "Thank you," or
"Good?"
       <br/>
       <br/>
       Dr Bill:  By the context of the sentence. Or sometimes by lip
movements.  One slight difference between the signs "GOOD" and "THANK YOU" 
	is that the sign "THANK YOU" is "directional."  That means it is signed 
	toward the person whom is being thanked. GOOD is signed with a simple 
	downward movement. 
	I remember teaching a class to the co-workers of a Deaf
employee.  When I taught this sign, the Deaf employee
       <i>
        insisted
       </i>
       that
"GOOD" was off the lips and "THANK YOU" was off the
chin.  I just smiled and mentioned to the students that they would see it both ways in the 
	Deaf
community but when around their co-worker to sign it
       <i>
        his
       </i>
       way.  [By 
	the way, not all Deaf people are great signers -- just as not all Hearing 
	people are great speakers of English.]
       <br/>
       <br/>
       GOOD:
       <br/>
       <img border="0" height="234" src="/images/good1.jpg" width="231"/>
       <img border="0" height="234" src="/images/good3.jpg" width="231"/>
       <img border="0" height="234" src="/images/good4.jpg" width="231"/>
       <br/>
       <br/>
       GOOD-NIGHT:
       <br/>
       <img border="0" height="320" src="/images/goodnight.gif" width="320"/>
       <br/>
       Notice that in the compound sign for "goodnight" we actually drop the second 
	part of the regular sign for good and instead smoothly transition into 
	"night."
       <br/>
       <p align="left" style="margin-top: 0; margin-bottom: 0">
       </p>
       <hr align="left" color="#000000" size="1"/>
       <p align="left" style="margin-top: 0; margin-bottom: 0">
        Also see:
        <font size="4">
         "
         <a href="good-better-best.htm" target="_blank">
          better
and best
         </a>
         ."
        </font>
       </p>
       <hr align="left" color="#000000" size="1"/>
       <p align="left" style="margin-top: 0; margin-bottom: 0">
        Also, you may want to see the sign:  "
        <a href="goodenough.htm">
         GOOD-ENOUGH
        </a>
        "
       </p>
       <hr align="left" color="#000000" size="1"/>
      </span>
     </font>
    </p>
   </p>
  </p>
 </p>
</blockquote>