<blockquote>
 <hr align="left" color="#000000" size="1"/>
 <br/>
 Hold a loose "5" hand palm up, under your chin with the fingers pointing 
  outward in front of you. Using a circular  movement, bring the hand up, 
  forward, down and back, up, and forward.  The palm of the hand brushes up 
  against the chin twice.
 <br/>
 <p>
  <br/>
  GRASS:
 </p>
 <p>
  <img border="0" height="205" src="/images/grass.9.jpg" width="233"/>
  <img border="0" height="205" src="/images/grass.10.jpg" width="233"/>
  <img border="0" height="205" src="/images/grass.11.jpg" width="233"/>
  <img border="0" height="205" src="/images/grass.12.jpg" width="233"/>
  <img border="0" height="205" src="/images/grass.13.jpg" width="233"/>
  <br/>
  <br/>
  Yes, indeed it
  <i>
   is
  </i>
  a nice sweater, thank you for noticing.
  <br/>
  No. I don't know where you can buy one just like it.
  <br/>
  No. You may not buy mine. It was a gift.
  <br/>
 </p>
 <font face="Arial">
  <hr align="left" color="#000000" size="1"/>
 </font>
 <p>
  <font face="Arial">
   <br/>
   Animated:
  </font>
  GRASS:
 </p>
 <p>
  <img border="0" height="205" src="/images/grass.gif" width="233"/>
  <br/>
 </p>
 <font face="Arial">
  <hr align="left" color="#000000" size="1"/>
  <p align="center" style="margin-top: 0; margin-bottom: 0">
   <font face="Arial" size="1">
    You can learn
    <a href="http://lifeprint.com" style="text-decoration: none">
     American Sign Language (ASL)
    </a>
    online at American Sign Language University ™
    <br/>
    <a href="http://asl.ms" style="text-decoration: none">
     ASL
    </a>
    resources by Lifeprint.com  ©  Dr. William Vicars
   </font>
  </p>
 </font>
</blockquote>
