<blockquote>
 <hr align="left" color="#000000" size="1"/>
 <p style="margin-top: 0; margin-bottom: 0">
  The sign for "here"
  <br/>
  <p style="margin-top: 0; margin-bottom: 0">
   Main version:
   <b>
    HERE
   </b>
   <br/>
   <img border="0" src="/images/here.gif" style="max-width: 100%; height: auto" width="480"/>
  </p>
  <p style="margin-top: 0; margin-bottom: 0">
   <iframe allow="autoplay; encrypted-media" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/2dALbgMQWmk?rel=0" width="560">
   </iframe>
   <br/>
   <br/>
   <b>
    Handshape
   </b>
   : Both hands are in a relaxed flat hand shape..  By
  "relaxed" I mean the fingers can be together, or they can be loosely
  separated.  The hands are not "rigidly" flat, but have a very
  slight curve.  The thumbs are open a little bit, but certainly not
  "extended."
   <br/>
   <b>
    Location
   </b>
   :  Out in front of you, about belly height.
   <br/>
   <b>
    Orientation
   </b>
   : palms facing up
   <br/>
   <b>
    Movement
   </b>
   :  Each hand moves in a small circle.  They
   <b>
    don't
   </b>
   go up and down.  They both move forward, then out to the side, then back
  toward the body, then in towards each other.
   <br/>
   <b>
    Non-Manual Marker
   </b>
   (Facial expressions and or body language) neutral.
   <br/>
  </p>
  <p style="margin-top: 0; margin-bottom: 0">
   <img border="0" height="226" src="/images/here1.jpg" width="274"/>
   <img border="0" height="226" src="/images/here2.jpg" width="274"/>
   <img border="0" height="226" src="/images/here3.jpg" width="274"/>
   <img border="0" height="226" src="/images/here4.jpg" width="274"/>
   <br/>
  </p>
  <hr color="#800080"/>
  <p style="margin-top: 0; margin-bottom: 0">
  </p>
  <p style="margin-top: 0; margin-bottom: 0">
   The sign "THIS" can be used to mean 
	"here" as in "this place."
  </p>
  <p style="margin-top: 0; margin-bottom: 0">
   <br/>
   THIS / here:
   <br/>
   <img border="0" height="224" src="/images/here-e1.jpg" width="213"/>
   <img border="0" height="224" src="/images/here-e2.jpg" width="213"/>
   <br/>
  </p>
  <font face="Arial">
   <hr color="#800080"/>
  </font>
  <p style="margin-top: 0; margin-bottom: 0">
   <br/>
   <font face="Arial">
    You can also indicate "here" as in the "immediate vicinity" by pointing at the floor, raising your hands an
  inch then lowering them an inch.
    <br/>
    <br/>
    "Right here in this very place."
    <br/>
    <iframe allow="autoplay; encrypted-media" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/-LllUQJj1aM?rel=0" width="560">
    </iframe>
   </font>
  </p>
  <p style="margin-top: 0; margin-bottom: 0">
   <font face="Arial">
    <img border="0" height="226" src="/images/hereb1.jpg" width="269"/>
    <img border="0" height="226" src="/images/hereb4.jpg" width="269"/>
    <br/>
   </font>
  </p>
  <p style="margin-top: 0; margin-bottom: 0">
   Notes:
   <br/>
   The pointing version of HERE is more of a "right here" or "this very place."  
	The pointing version can be used at the end of the sign "come" to mean "come
   <em>
    here
   </em>
   ." 
	The point at the floor version is also used as a common single-sign response 
	to "where" questions:  "Where's the party?" 
	"Here."
   <br/>
   The flat hand version is the general sign for HERE and means "this location" in general.
  </p>
  <p style="margin-top: 0; margin-bottom: 0">
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
  </p>
 </p>
</blockquote>
