<blockquote>
 <hr align="left" color="#000000" size="1"/>
 <p style="margin-top: 0; margin-bottom: 0">
  The sign for "home"
  <font face="Arial">
   is made by bringing 
	your fingers and thumb together and touching your cheek at the side of your 
	mouth. Then move your hand an inch or two toward your ear and touch your 
	cheek again.
  </font>
  <br/>
  <font face="Arial">
   <p style="margin-top: 0; margin-bottom: 0">
    HOME:
    <br/>
    <img border="0" src="/images/home-2.gif" style="max-width: 100%; height: auto" width="480"/>
    <img border="0" height="235" src="/images/home1.jpg" width="213"/>
    <img border="0" height="235" src="/images/home2.jpg" width="213"/>
    <img border="0" height="235" src="/images/home3.jpg" width="213"/>
    <p style="margin-top: 0; margin-bottom: 0">
     <iframe allow="autoplay; encrypted-media" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/WSHD1XX7kWk?rel=0" width="560">
     </iframe>
     <p style="margin-top: 0; margin-bottom: 0">
      <hr align="left" color="#000000" size="1" width="50%"/>
      <p style="margin-top: 0; margin-bottom: 0">
       Note:
If you do the sign HOME using a "D" handshape it means "
       <a href="../d/dorm.htm">
        dorm
       </a>
       ."
       <hr align="left" color="#000000" size="1" width="50%"/>
       <p style="margin-top: 0; margin-bottom: 0">
       </p>
       <hr align="left" color="#000000" size="1"/>
       <p style="margin-top: 0; margin-bottom: 0">
        <b>
         <br/>
         Memory aid:
        </b>
        Think of "home" as being the place where you
        <b>
         eat
        </b>
        and
        <b>
         sleep
        </b>
        .
        <br/>
        <img height="329" src="/images/home.gif" width="236"/>
       </p>
      </p>
     </p>
    </p>
   </p>
  </font>
  <br/>
  Note: The sign
  <b>
   isn't
  </b>
  done on the mouth. It is done on the cheek. The 
above is just a way to remember the sign.
  <br/>
  <font face="Arial">
   <br/>
  </font>
  <font face="Arial">
   <hr align="left" color="#000000" size="1"/>
  </font>
  <p style="margin-top: 0; margin-bottom: 0">
   Also see:
   <a href="homework.htm">
    HOMEWORK
   </a>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
  </p>
 </p>
</blockquote>
