<blockquote>
 <hr align="left" color="#000000" size="1"/>
 <p style="margin-top: 0; margin-bottom: 0">
  The sign for "
  <b>
   <i>
    hour
   </i>
  </b>
  " represents the movement of 
	the "minute hand" of a clock going around one-time. Assuming you are right 
	handed:
  <font face="Arial">
   The right hand is the "minute" hand.
  </font>
  The left hand is the face of the clock.
  <br/>
  <p style="margin-top: 0; margin-bottom: 0">
   <br/>
   HOUR:
  </p>
  <p style="margin-top: 0; margin-bottom: 0">
   <img border="0" src="/images/hour-1-hour.gif" style="max-width: 100%; height: auto" width="480"/>
  </p>
  <p style="margin-top: 0; margin-bottom: 0">
   <img border="0" height="217" src="/images/hour_arrows.jpg" width="195"/>
   <img border="0" height="217" src="/images/hour1.jpg" width="195"/>
   <img border="0" height="217" src="/images/hour2.jpg" width="195"/>
   <img border="0" height="217" src="/images/hour3.jpg" width="195"/>
   <img border="0" height="217" src="/images/hour4.jpg" width="195"/>
   <img border="0" height="217" src="/images/hour5.jpg" width="195"/>
   <img border="0" height="217" src="/images/hour6.jpg" width="195"/>
   <br/>
  </p>
  <font face="Arial">
   <hr align="left" color="#000000" size="1" width="50%"/>
  </font>
  <p style="margin-top: 0; margin-bottom: 0">
   Sample sentence: "How many hours 
	equals one day?"
   <br/>
   <br/>
   <object classid="CLSID:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=8,0,0,0" height="275" id="FVS0" width="320">
    <param name="movie" value="../12/how-many-hours-equal-one-day_player.swf?1954426681"/>
    <param name="bgcolor" value="#ffffff"/>
    <param name="allowfullscreen" value="true"/>
    <embed allowfullscreen="true" bgcolor="#ffffff" height="275" name="FVS0" pluginspage='http://www.macromedia.com/go/getflashplayer"' src="../12/how-many-hours-equal-one-day_player.swf?1954426681" type="application/x-shockwave-flash" width="320"/>
   </object>
  </p>
  <font face="Arial">
   <p style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p style="margin-top: 0; margin-bottom: 0">
    <br/>
    Here is another version of hour.  I don't do this version much because 
	I don't need the stress on my joints and I'm not a fan of "carpal tunnel 
	syndrome."
    <br/>
    <br/>
    HOUR (twisting wrist version)
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <img border="0" src="/images/hour-1.gif" style="max-width: 100%; height: auto" width="480"/>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <img border="0" height="222" src="/images/hour-wristversion1.jpg" width="198"/>
    <img border="0" height="222" src="/images/hour-wristversion2.jpg" width="198"/>
    <img border="0" height="222" src="/images/hour-wristversion3.jpg" width="198"/>
    <img border="0" height="222" src="/images/hour-wristversion4.jpg" width="198"/>
    <img border="0" height="222" src="/images/hour-wristversion5.jpg" width="198"/>
   </p>
  </font>
  <p style="margin-top: 0; margin-bottom: 0">
  </p>
  <font face="Arial">
   <hr align="left" color="#000000" size="1"/>
  </font>
  <p style="margin-top: 0; margin-bottom: 0">
   <br/>
   The sign "HOUR" can make use of "
   <a href="../../pages-layout/numericalincorporation.htm">
    numerical
  incorporation
   </a>
   ."  To sign "2 hours" you can "incorporate" the 
	"two" handshape into the sign for "hour."
   <br/>
   <br/>
   <font face="Arial">
    TWO HOURS:
   </font>
  </p>
  <p style="margin-top: 0; margin-bottom: 0">
   <img border="0" height="223" src="/images/hour-2hours1.jpg" width="199"/>
   <img border="0" height="223" src="/images/hour-2hours2.jpg" width="199"/>
   <img border="0" height="223" src="/images/hour-2hours3.jpg" width="199"/>
   <img border="0" height="223" src="/images/hour-2hours4.jpg" width="199"/>
   <img border="0" height="223" src="/images/hour-2hours5.jpg" width="199"/>
   <br/>
  </p>
  <font face="Arial">
   <hr align="left" color="#000000" size="1"/>
  </font>
  <p style="margin-top: 0; margin-bottom: 0">
  </p>
  <span style="font-weight: 400">
   <font face="Arial">
    <p style="margin-top: 0; margin-bottom: 0">
     You can express the concept of a 
"half hour" by showing the minute hand having moved "half way" (or 30 
minutes) around 
the face of a clock.
     <br/>
     <br/>
     HALF-HOUR (version 1):
    </p>
    <p style="margin-top: 0; margin-bottom: 0">
    </p>
    <p style="margin-top: 0; margin-bottom: 0">
     <img border="0" src="/images/half-hour-b.gif" style="max-width: 100%; height: auto" width="480"/>
     <br/>
    </p>
    <p style="margin-top: 0; margin-bottom: 0">
     HALF-HOUR (version 2):
    </p>
    <p style="margin-top: 0; margin-bottom: 0">
     <img border="0" src="/images/half-hour-1.gif" style="max-width: 100%; height: auto" width="480"/>
    </p>
    <hr align="left" color="#000000" size="1"/>
    <p style="margin-top: 0; margin-bottom: 0">
     See:
     <a href="half-hour.htm">
      HALF-HOUR
     </a>
    </p>
   </font>
  </span>
 </p>
 <font face="Arial">
  <hr align="left" color="#000000" size="1"/>
  <p style="margin-top: 0; margin-bottom: 0">
   Notes:
  </p>
  <p style="margin-top: 0; margin-bottom: 0">
   You can incorporate the number of 
	hours into the sign for hour when discussing hours 1 through 9. More than 10 
	hours is not incorporated into the sign.
  </p>
  <p style="margin-top: 0; margin-bottom: 0">
   For example: 6 hours
  </p>
  <p style="margin-top: 0; margin-bottom: 0">
   <iframe allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/37PZEddIVlA?rel=0" width="560">
   </iframe>
  </p>
 </font>
</blockquote>
