<blockquote>
 <hr align="left" color="#000000" size="1"/>
 <p>
  &lt;&lt; In a message dated 4/12/2012 10:50:06 P.M. Pacific Daylight 
			Time, jennitry92@live.co.uk writes:
  <br/>
  Hi, my name is Jennifer and I am hearing. I've always been really 
			interested in learning in other languages and I'm interested in 
			learning ASL. Your site is the one that pops up the most when I 
			search for signs online. I really like it and it's been helpful so 
			far. I really would enjoy the opportunity to sign with someone who 
			is deaf or hard of hearing because it's generally the best way to 
			actually learn a language. I'm so used to English that it is hard 
			for me to leave out filler words and get the grammar right. I was 
			thinking about it today and I was wondering how to sign "How was 
			your day?" After reading through someone your practise questions to 
			get a feel for the grammar, the 'translation' I came up with was 
			'YOU DAY, HOW?', signing it by pointing to the person, signing DAY 
			and then signing HOW and attempting to use proper facial expressions 
			(which is hard for me, partially because I tend to smile at the most 
			inconvenient times). I was just wondering if there was a better way 
			to sign that sentence.
  <br/>
  Thanks so much for taking the time to read my e-mail and I'd be 
			grateful for your opinion.
  <br/>
  Jenn&gt;&gt;
  <br/>
  <br/>
  Jenn,
  <br/>
  The phrase  "How was your day?" is more of a Hearing World 
			phrase than a Deaf phrase.
 </p>
 <font face="Arial">
  <p style="margin-top: 0; margin-bottom: 0">
   <br/>
   Usually in English there is an
   <i>
    unspoken
   </i>
   aspect of the phrase "How 
			was your day?" For example:
   <br/>
   The word "work" as in: "How was your day
   <i>
    at work
   </i>
   ?"
   <br/>
   The word "school" as in "How was your day
   <i>
    at school
   </i>
   ?"
   <br/>
   Or some other word such as "beach" as in "How was your day
   <i>
    at the 
			beach
   </i>
   ?"
   <br/>
   <br/>
   In such situations in ASL you instead ask something to the effect 
			of:
   <br/>
   1.  WORK PROCESS GOOD?  (Did work go well?)
   <br/>
   2.  SCHOOL ALRIGHT?  (Was school alright for you? Where 
			there any problems?)
  </p>
  <p style="margin-top: 0; margin-bottom: 0">
   3.  YOU ENJOY BEACH 
			YOU? (Did you enjoy going to the beach?)
   <br/>
   <br/>
   Cordially,
   <br/>
   -- Dr. Bill
   <br/>
  </p>
  <hr align="left" color="#000000" size="1"/>
  <p align="center" style="margin-top: 0; margin-bottom: 0">
   <font face="Arial" size="1">
    You can learn
    <a href="http://lifeprint.com">
     American Sign Language (ASL)
    </a>
    online at American Sign Language University ™
    <br/>
    <a href="http://asl.ms" style="text-decoration: none">
     ASL
    </a>
    resources by Lifeprint.com  ©  Dr. William Vicars
   </font>
  </p>
 </font>
</blockquote>
