<blockquote>
 <hr align="left" color="#000000" size="1"/>
 <font face="Arial">
  <font size="+1">
   T
  </font>
  he sign for "hungry"
is made by forming your right hand into the letter "c."
  <p>
   Move your hand down the middle of your chest. You don't actually have to 
touch your body but most people do -- especially if they want to emphasize how 
hungry they are with a stronger movement.
   <p>
    The sign for "hungry" is also the same 
	as the sign for
"
    <b>
     wish
    </b>
    ."  Some people start the sign for "wish" on the
upper chest  and prefer to start "hungry" from a slightly lower position.
	I don't mess around with that.  But if it helps as a memory aid, think of a "wish" coming from your heart, and hunger coming from your
belly.  But, again, it is okay to use the same sign for both concepts.
   </p>
  </p>
 </font>
 <p style="margin-top: 0; margin-bottom: 0">
  <br/>
  HUNGRY / WISH:
  <br/>
  <br/>
  <img border="0" src="/images/hungry-wish.gif" style="max-width: 100%; height: auto" width="480"/>
  <font face="Arial">
   <img height="266" src="/images/hungry.gif" width="176"/>
  </font>
  <br/>
  <hr align="left" color="#000000" size="1" width="50%"/>
  <p style="margin-top: 0; margin-bottom: 0">
   <br/>
   "Are you hungry?" = "HUNGRY YOU?"
   <br/>
   <br/>
   <object classid="CLSID:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=8,0,0,0" height="275" id="FVS" width="320">
    <param name="movie" value="../07/hungry-you_player.swf?149414399"/>
    <param name="bgcolor" value="#ffffff"/>
    <param name="allowfullscreen" value="true"/>
    <embed allowfullscreen="true" bgcolor="#ffffff" height="275" name="FVS" pluginspage='http://www.macromedia.com/go/getflashplayer"' src="../07/hungry-you_player.swf?149414399" type="application/x-shockwave-flash" width="320"/>
   </object>
   <br/>
   <br/>
   Note that the concept of "are" as a question form is expressed in ASL via 
	raising the eyebrows and tilting the head a bit.
   <br/>
  </p>
  <p style="margin-top: 0; margin-bottom: 0">
   HANGRY (hungry + angry):
  </p>
  <p style="margin-top: 0; margin-bottom: 0">
   <font face="Arial">
    <img border="0" src="/images/hangry-1.gif" style="max-width: 100%; height: auto" width="480"/>
   </font>
  </p>
  <font face="Arial">
   <hr align="left" color="#000000" size="1"/>
  </font>
 </p>
</blockquote>
