<blockquote>
 <hr align="left" color="#000000" size="1"/>
 <font face="Arial">
  <p align="left">
   <img align="right" height="93" src="/images/hurt.gif" width="285"/>
   <font size="+1">
    T
   </font>
   he sign for "hurt" is made by extending 
the index fingers of both hands.  Bring the fingers toward each other twice 
using a jabbing movement.
  </p>
  <p align="left">
   A variation of this sign is to do a
   <b>
    twisting movement
   </b>
   as 
you bring the tips of the index fingers toward each other. The right hand twists 
one way and the left hand twists the other.
  </p>
  <p align="left">
   Note:  Both versions of the sign for "HURT / PAIN" can be 
done on or near the part of the body that is feeling pain.  For example if 
you have a toothache, you can indicate that in one sign by doing the sign "hurt" 
near the side of your jaw.  If you have a headache, you can indicate it by 
signing "hurt" near your forehead. Personally, for a general headache 
or toothache I use the double jab movement.  But if it is a "killer" 
headache I do a single strong twist of each hand simultaneously.
  </p>
  <hr align="left" color="#000000" size="1" width="50%"/>
  <p align="left">
  </p>
 </font>
 Version 1 of the sign for hurt uses a twisting 
	movement. This sign is good for concepts like "injured."
 <br/>
 <br/>
 <font face="Arial">
  HURT / PAIN Version 1:
  <br/>
  <br/>
  <img border="0" height="204" src="/images/hurt.h13.jpg" width="243"/>
  <img border="0" height="204" src="/images/hurt.h14.jpg" width="243"/>
  <br/>
  Memory aid: "Sticking two knives into your ribs and twisting them would hurt 
eh?"
  <p>
   <iframe allow="autoplay; encrypted-media" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/xs4k_Qf3BSc?rel=0" width="560">
   </iframe>
  </p>
  <hr align="left" color="#000000" size="1"/>
  <p align="left" style="margin-top: 0; margin-bottom: 0">
   <a href="/images/hurt.gif" target="_blank">
    <font size="4">
     Also see: 
animation: 
HURT
    </font>
   </a>
  </p>
  <hr align="left" color="#000000" size="1"/>
  <p align="left" style="margin-top: 0; margin-bottom: 0">
   Remember, USE FACIAL EXPRESSION with this sign. The more it hurts, the more 
facial contortions.
   <br/>
   <img border="0" height="168" src="/images/hurt.h15.jpg" width="190"/>
   <br/>
   ASL is a language that depends heavily on facial expressions.  If 
you are in "SERIOUS PAIN" then you need to show it on your face.
  </p>
  <hr align="left" color="#000000" size="1"/>
  <p align="left" style="margin-top: 0; margin-bottom: 0">
  </p>
  <p align="left" style="margin-top: 0; margin-bottom: 0">
   Version: HURT / pain 
	/ throbbing / aching
   <br/>
   Use a double jabbing movement.
  </p>
  <p align="left" style="margin-top: 0; margin-bottom: 0">
   <br/>
   <iframe allow="autoplay; encrypted-media" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/LfX1mkqwU7w?rel=0" width="560">
   </iframe>
  </p>
  <p align="left" style="margin-top: 0; margin-bottom: 0">
   <img border="0" src="/images/pain.gif" style="max-width: 100%; height: auto" width="480"/>
  </p>
  <p align="left" style="margin-top: 0; margin-bottom: 0">
   <img border="0" height="480" src="/images/hurt-version-01.jpg" width="480"/>
   <img border="0" height="480" src="/images/hurt-version-02.jpg" width="480"/>
   <img border="0" height="480" src="/images/hurt-version-03.jpg" width="480"/>
   <img border="0" height="480" src="/images/hurt-version-04.jpg" width="480"/>
  </p>
  <hr color="#800080"/>
  <p>
   <font face="Verdana" size="4">
    <i>
     Optional
    </i>
    / Advanced discussion:
   </font>
   <font face="Verdana" size="5">
    <br/>
   </font>
   <font face="Verdana">
    (Not needed for class)
   </font>
  </p>
  <div>
   <div>
    In a message dated 10/31/2007 9:23:20 A.M. Pacific Daylight Time, 
		lalaliv314@ writes:
   </div>
   <blockquote style="PADDING-LEFT: 5px; MARGIN-LEFT: 5px; BORDER-LEFT: blue 2px solid">
    <font color="#000000" face="Arial" size="2" style="BACKGROUND-COLOR: transparent">
     <div>
      If the sign for pain/hurt can be signed over the body part that's 
			hurting, how would you indicate that your hand or finger(s) hurt?
     </div>
     <div>
      Thank you very much,
      <br/>
      °Kami
     </div>
    </font>
   </blockquote>
  </div>
  <div>
   Kami,
   <br/>
   Hey,
   <i>
    that
   </i>
   is a clever question!
   <br/>
   Lucky you -- I've got a clever answer:
   <br/>
   The concept of "hurt" is quite often expressed by spelling the word "hurt" 
	very quickly near the location of the pain.  The spelling of "hurt" can 
	actually take the form of "lexicalized fingerspelling."  (Check out the 
	topic of
   <a href="../../topics/lexicalized_fingerspelling.htm">
    lexicalized 
	fingerspelling
   </a>
   at the Lifeprint.com library.)   When used at the 
	location of the pain this sign is also considered to be a "locative" sign.
   <br/>
   In response to your question about "how would you indicate that your hand or 
	finger(s) hurt?" -- I'd do the sign for "hands" and then sign "pain."  Or if 
	it was a specific point on my hand I'd point to it and sign "pain."  If it 
	were my "left" elbow, I'd point at it and then sign PAIN. Or I 
	might point at it and then spell "hurt" (as a lexicalized 
	version) near the elbow, while using appropriate facial expression.
   <br/>
   Cordially,
   <br/>
   Dr. Bill
  </div>
 </font>
 <p style="margin-top: 0; margin-bottom: 0">
 </p>
 <font face="Arial">
  <hr align="left" color="#000000" size="1"/>
  <br/>
  A student writes:
  <br/>
  ...I have a question about another way to sign hurt. I've seen hurt signed 
	the same way as shown on the website, but I've also seen it signed like that 
	with two fingers (the index and "middle" finger). Is that a correct way to 
	sign hurt?
  <br/>
  - Dennis Sanche
  <br/>
  9th Grade
  <br/>
  <div>
   Dennis,
   <br/>
   Using two fingers on each hand to sign "hurt" is not standard in the 
		Deaf Community. Rather it is a version of signing that is called "Signed 
		English." The version you are asking about is obviously intended to 
		represent the English word "hurt" by doing the ASL sign "HURT" using the 
		letter "H" handshape.
   <br/>
   Thus if you are attempting to sign English or taking a Signed English 
		test then no that version isn't wrong.
   <br/>
   However, if your goal is to eventually sign like native Deaf adults do 
		and/or pass an ASL test then I'd recommend you stick with the 
		non-initialized version of "HURT."
  </div>
  <div>
   Cordially,
  </div>
  <div>
   Dr. Vicars
  </div>
  <p style="margin-top: 0; margin-bottom: 0">
   <br/>
  </p>
 </font>
</blockquote>
