<blockquote>
 <hr align="left" color="#000000" size="1"/>
 <p style="margin-top: 0; margin-bottom: 0">
  The sign for "insult" uses an index finger.
  <font face="Arial">
   Move 
	the finger forward and up with a twisting motion.
  </font>
  I know what you are thinking.  Let's face it, this is a rude-looking
  little sign eh?
  <br/>
  <br/>
  <font face="Arial">
   INSULT / offend:
  </font>
  <p>
   <img border="0" height="238" src="/images/insult1.jpg" width="240"/>
   <img border="0" height="238" src="/images/insult2.jpg" width="240"/>
   <img border="0" height="238" src="/images/insult3.jpg" width="240"/>
   <img border="0" height="238" src="/images/insult4.jpg" width="240"/>
   <img border="0" height="238" src="/images/insult5.jpg" width="240"/>
   <br/>
   <br/>
   <font face="Arial">
    Sample sentence:
	RECENT YOU INSULT ANY-ONE? (Have you recently insulted anyone?)
    <br/>
    <br/>
    <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/NeharDoUIz8" width="560">
    </iframe>
    <br/>
   </font>
  </p>
  <hr align="left" color="#000000" size="1"/>
  <p>
   <br/>
   Note:  The sign for "insult" is directional. If you insult me, the sign moves in
  toward me and glances off my chest.
   <br/>
   <br/>
   <font face="Arial">
    "I'm insulted"
   </font>
  </p>
  <p>
   <img border="0" height="238" src="/images/insultme1.jpg" width="240"/>
   <img border="0" height="238" src="/images/insultme2.jpg" width="240"/>
   <img border="0" height="238" src="/images/insultme3.jpg" width="240"/>
   <img border="0" height="238" src="/images/insultme4.jpg" width="240"/>
   <br/>
   <br/>
  </p>
  <font face="Arial">
   <hr align="left" color="#000000" size="1" width="50%"/>
  </font>
  <p>
   And while we are at it, also see: "
   <a href="../m/mock.htm">
    MOCK
   </a>
   "
  </p>
  <hr align="left" color="#000000" size="1" width="50%"/>
  <p style="margin-top: 0; margin-bottom: 0">
  </p>
  <font face="Arial">
   <hr align="left" color="#000000" size="1"/>
  </font>
 </p>
</blockquote>
