<blockquote>
 <hr align="left" color="#000000" size="1"/>
 <p style="margin-top: 0; margin-bottom: 0">
  The sign for "interpreter" uses "F" hands. The dominant hand 
	twists. Then you add the "person" sign.
  <p>
   INTERPRETER:
  </p>
  <p>
   <img border="0" src="/images/interpreter.gif" style="max-width: 100%; height: auto" width="480"/>
  </p>
  <p>
   <img border="0" height="238" src="/images/interpreter1.jpg" width="225"/>
   <img border="0" height="238" src="/images/interpreter2.jpg" width="225"/>
   <img border="0" height="238" src="/images/interpreter3.jpg" width="225"/>
   <img border="0" height="238" src="/images/interpreter4.jpg" width="225"/>
   <img border="0" height="238" src="/images/interpreter5.jpg" width="225"/>
   <img border="0" height="238" src="/images/interpreter6.jpg" width="225"/>
   <img border="0" height="238" src="/images/interpreter8.jpg" width="225"/>
   <font face="Arial">
    <br/>
    <br/>
    Sample sentence: Do you want to become an interpreter?
    <br/>
    <br/>
    <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/ah6sbCwgk0w?rel=0" width="560">
    </iframe>
   </font>
   <br/>
  </p>
  <hr color="#800080"/>
  <p>
   Interpret:
  </p>
  <p>
   <font face="Arial">
    <img border="0" src="/images/interpretation-of.gif" style="max-width: 100%; height: auto" width="480"/>
   </font>
  </p>
  <p>
   <img border="0" height="238" src="/images/interpret1.jpg" width="219"/>
   <img border="0" height="238" src="/images/interpret2.jpg" width="219"/>
   <img border="0" height="238" src="/images/interpret3.jpg" width="219"/>
   <img border="0" height="238" src="/images/interpret4.jpg" width="219"/>
  </p>
  <font face="Arial">
   <hr align="left" color="#000000" size="1"/>
  </font>
 </p>
</blockquote>
