<blockquote>
 <hr align="left" color="#000000" size="1"/>
 <br/>
 INVENT: "to invent" / "to dream up" / "to come up with something 
			/ "just made something up":
 <p align="left" style="margin-top: 0; margin-bottom: 0">
  <img border="0" height="320" src="/images/invent.gif" width="320"/>
 </p>
 <hr align="left" color="#000000" size="1" width="25%"/>
 <p align="left" style="margin-top: 0; margin-bottom: 0">
  <br/>
  You may also see this sign done with a double movement, (a sort of 
			upward loop-de-loop). The double movement conveys more of a 
			"process" or description:  fantastical, inventive, creative, 
			something which has been dreamed up.
  <br/>
 </p>
 <p align="left" style="margin-top: 0; margin-bottom: 0">
  <img border="0" height="320" src="/images/invent1.jpg" width="320"/>
  <img border="0" height="320" src="/images/invent2.jpg" width="320"/>
  <img border="0" height="320" src="/images/invent3.jpg" width="320"/>
  <img border="0" height="320" src="/images/invent4.jpg" width="320"/>
 </p>
 <p align="left" style="margin-top: 0; margin-bottom: 0">
 </p>
 <hr align="left" color="#000000" size="1" width="50%"/>
 <p style="margin-top: 0; margin-bottom: 0">
 </p>
 <font face="Arial">
  <hr align="left" color="#000000" size="1"/>
  <p align="center" style="margin-top: 0; margin-bottom: 0">
   <font face="Arial" size="1">
    You can learn
    <a href="http://lifeprint.com" style="text-decoration: none">
     American Sign Language (ASL)
    </a>
    online at American Sign Language University ™
    <br/>
    <a href="http://asl.ms" style="text-decoration: none">
     ASL
    </a>
    resources by Lifeprint.com  ©  Dr. William Vicars
   </font>
  </p>
 </font>
</blockquote>
