<blockquote>
 <h1 style="margin-top: 0; margin-bottom: 0">
  <font face="Arial">
   <font size="5">
    <span style="font-weight: 400">
     American Sign Language: 
		"knit" / "knitting"
    </span>
   </font>
   <br/>
  </font>
 </h1>
 <blockquote>
  <hr align="left" color="#000000" size="1"/>
  <p style="margin-top: 0; margin-bottom: 0">
   <br/>
   The "right" sign for 
    "knit" will depend on whom you ask.
   <br/>
   So make sure you ask someone who
   <i>
    knows
   </i>
   eh?
   <br/>
   <p style="margin-top: 0; margin-bottom: 0">
    I just got off the VP (video phone) with
    <i>
     Karen Foust
    </i>
    .  She is a friend 
    of mine.  She is also a typical grandma type person and she is a 
    knitter.  (And for the record she is a
    <i>
     Deaf
    </i>
    grandmother of
    <i>
     Deaf
    </i>
    grandchildren.)   She's been around "
    <i>
     forever
    </i>
    " and 
	enjoys homemaking, crafts, and such.  I've never knitted in my life. She 
	knits rather often. 
	So I figure I'll show you what
    <i>
     SHE
    </i>
    uses and recommend you go with that.
    <p style="margin-top: 0; margin-bottom: 0">
     <p style="margin-top: 0; margin-bottom: 0">
      KNIT:  (Karen's 
    version)
      <br/>
      She holds two index fingers one on top of the other and slides them them closer together and 
    back out and in again.
      <p style="margin-top: 0; margin-bottom: 0">
       <iframe allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/izZEeDQWGfo?rel=0" width="560">
       </iframe>
       <p style="margin-top: 0; margin-bottom: 0">
        <p style="margin-top: 0; margin-bottom: 0">
         <img border="0" height="300" src="/images/knit.h3.jpg" width="291"/>
         <img border="0" height="300" src="/images/knit.h4.jpg" width="291"/>
         <img border="0" height="300" src="/images/knit.h3.jpg" width="291"/>
         <img border="0" height="300" src="/images/knit.h4.jpg" width="291"/>
        </p>
       </p>
      </p>
     </p>
    </p>
   </p>
  </p>
 </blockquote>
 <hr align="left" color="#000000" size="1"/>
 <script type="text/javascript">
  <!--
google_ad_client = "ca-pub-2513564923850231";
/* 728x15_link_ads_adsense1_bottom */
google_ad_slot = "2289748297";
google_ad_width = 728;
google_ad_height = 15;
//-->
 </script>
 <script src="//pagead2.googlesyndication.com/pagead/show_ads.js" type="text/javascript">
 </script>
 <p align="center" style="margin-top: 0; margin-bottom: 0">
 </p>
 <script type="text/javascript">
  <!--
google_ad_client = "ca-pub-2513564923850231";
/* 728x15_link_ads_adsense1_bottom */
google_ad_slot = "2289748297";
google_ad_width = 728;
google_ad_height = 15;
//-->
 </script>
 <script src="//pagead2.googlesyndication.com/pagead/show_ads.js" type="text/javascript">
 </script>
 <p align="center" style="margin-top: 0; margin-bottom: 0">
 </p>
 <script type="text/javascript">
  <!--
google_ad_client = "ca-pub-2513564923850231";
/* 728x15_link_ads_adsense1_bottom */
google_ad_slot = "2289748297";
google_ad_width = 728;
google_ad_height = 15;
//-->
 </script>
 <script src="//pagead2.googlesyndication.com/pagead/show_ads.js" type="text/javascript">
 </script>
 <hr align="left" color="#000000" size="1"/>
 <p style="margin-top: 0; margin-bottom: 0">
  Also see:
  <a href="../c/crochet.htm">
   CROCHET
  </a>
  <hr align="left" color="#000000" size="1"/>
  <p style="margin-top: 0; margin-bottom: 0">
   Notes:
   <br/>
   <br/>
   In a message dated 2/26/2012 2:51:38 A.M. Pacific Standard Time, 
	Gabriel Kelly writes:
   <br/>
   ...I’ve been 
	interested in sign language since about 8th grade (I’m a sophomore in 
	college, so seven years now) and on a whim about two months ago I looked up 
	on Google good resources to begin teaching yourself ASL. Your website put 
	such a fire in my belly I just had to delve deeper in to the signing world! 
	I learned that the campus for the Georgia School for the Deaf was only half 
	an hour from where I attend college, and I am now enrolled in beginners sign 
	language classes being taught by Dean Evans, the school’s interpreter. With 
	the help of Dean and your website I now have the confidence (and the growing 
	skills) to go in to the community and start communicating. I go weekly to a 
			Deaf knitting group just ten minutes from campus that is the highlight of my 
	week. It’s one thing to sign with other people learning sign in a classroom, 
	but it’s a whole other thing to
   <i>
    have to
   </i>
   sign -- and I love it. In fact, I am 
	honestly considering interpreting as a career choice. I have never enjoyed 
	studying so much in my life.
   <br/>
   All the best,
   <br/>
   -
	Gabriel Kelly
   <br/>
  </p>
  <hr align="left" color="#000000" size="1" width="25%"/>
  <p style="margin-top: 0; margin-bottom: 0">
   <br/>
   Gabriel,
   <br/>
   Hello :)
   <br/>
   Thank you for the nice feedback. I appreciate it. A Deaf knitting group? Now
   <i>
    THAT
   </i>
   is a specialized group eh? One of these days I'd love to see what y'all 
	are using as the sign for "knit." (vs. crochet).
   <br/>
   Have a nice day and best wishes to you in all you do.
   <br/>
   Cordially,
   <br/>
   - Dr. Bill
   <br/>
  </p>
  <hr align="left" color="#000000" size="1" width="25%"/>
  <p style="margin-top: 0; margin-bottom: 0">
   <br/>
   Dr. Bill,
   <br/>
   Sorry it 
	has taken so long to get back to you. I wanted to wait until I could ask the 
	women in the knitting group what their sign was. They take their index 
	fingers in an X (not the handshape, but the [English] letter. Sort of like the 
	sign for name, but with just the first finger) then they sort of rock them 
	back and forth on top of the other finger. For crochet they do the same 
	thing, but with one of their fingers actually with the ASL handshape for x 
	(like a hooked needle they told me).
   <br/>
   -- Gabriel
  </p>
  <p style="margin-top: 0; margin-bottom: 0">
  </p>
  <hr align="left" color="#000000" size="1"/>
 </p>
 <hr align="left" color="#000000" size="1"/>
 <p style="margin-top: 0; margin-bottom: 0">
  <br/>
  * 
Want to help support ASL University?  It's
  <i>
   easy
  </i>
  :
  <b>
   <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&amp;hosted_button_id=XHRNABERKJT4N" rel="nofollow" target="_blank">
    <u>
     DONATE
    </u>
   </a>
  </b>
  <font size="2">
   (
   <i>
    Thanks!
   </i>
   )
  </font>
  <br/>
  <br/>
  <font face="Arial">
   *
  </font>
  Another way to help is to buy something from Dr. Bill's "
  <b>
   <a href="../../../bookstore/bookstore.htm">
    <u>
     Bookstore
    </u>
   </a>
  </b>
  ."
 </p>
 <p style="margin-top: 0; margin-bottom: 0">
  <br/>
  <font face="Arial">
   *
  </font>
  Want even more ASL resources?  Visit the "
  <b>
   <a href="http://www.asl.tc/landing/index.html" rel="nofollow" target="_blank">
    ASL Training Center
   </a>
   !
  </b>
  "  (Subscription 
Extension of ASLU)
  <br/>
  <br/>
  *  Also check out Dr. Bill's channel:
  <a href="http://www.youtube.com/billvicars">
   www.youtube.com/billvicars
  </a>
  <font size="2">
   <br/>
  </font>
 </p>
 <hr align="left" color="#000000" size="1"/>
 <p align="center" style="margin-top: 0; margin-bottom: 0">
  <font http:="" lifeprint.com"="" size="1You can learn &lt;a href=">
   American Sign Language (ASL)
   online at American Sign Language University ™
   <br/>
   <a href="http://asl.ms" style="text-decoration: none">
    ASL
   </a>
   resources by Lifeprint.com  ©  Dr. William Vicars
  </font>
 </p>
 <hr color="#000000" size="1"/>
 <p>
 </p>
</blockquote>
