<blockquote>
 <hr align="left" color="#000000" size="1"/>
 <p style="margin-top: 0; margin-bottom: 0">
  The sign for "know" touches the side of your forehead with 
	the tips of the fingers of your hand in a flat shape.
  <p style="margin-top: 0; margin-bottom: 0">
   KNOW:
   <br/>
   <img border="0" height="223" src="/images/know1.jpg" width="240"/>
   <img border="0" height="223" src="/images/know2.jpg" width="240"/>
  </p>
  <p style="margin-top: 0; margin-bottom: 0">
   <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/Ht2B0VzHFwQ?rel=0" width="560">
   </iframe>
   <br/>
  </p>
  <font face="Arial">
   <hr align="left" color="#000000" size="1" width="50%"/>
   <p style="margin-top: 0; margin-bottom: 0">
    <br/>
    Sample sentence:  Do you know the teacher's wife's name?
    <br/>
    <br/>
    <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/vS2fRi0070s?rel=0" width="560">
    </iframe>
    <br/>
    <hr align="left" color="#000000" size="1"/>
   </p>
  </font>
  <p style="margin-top: 0; margin-bottom: 0">
   <br/>
   It is very common for the sign for "KNOW" to be done on the cheek. 
	Some people call it
  "lazy" signing.
	I think a better word for it would be casual signing.  Or perhaps even
   <i>
    efficient
   </i>
   signing. It is a perfectly fine way to sign the concept.
   <br/>
   <br/>
   KNOW: (casual version)
   <br/>
   <br/>
   <font face="Arial">
    <img border="0" src="/images/know-casual-2.gif" style="max-width: 100%; height: auto" width="480"/>
   </font>
   <img border="0" height="225" src="/images/know-b1.jpg" width="223"/>
   <img border="0" height="225" src="/images/know-b2.jpg" width="223"/>
   <br/>
   <br/>
  </p>
  <font face="Arial">
   <hr align="left" color="#000000" size="1"/>
  </font>
  <p style="margin-top: 0; margin-bottom: 0">
   <br/>
   If you want to sign, "knowledge," "familiar," or "I'm aware of that" you use 
	a double movement. Touch the forehead (or cheek) twice.  See:
   <a href="../f/familiar.htm">
    FAMILIAR
   </a>
  </p>
  <p style="margin-top: 0; margin-bottom: 0">
   <br/>
   FAMILIAR-with:
   <br/>
   <img border="0" height="222" src="/images/know-c1.jpg" width="216"/>
   <img border="0" height="222" src="/images/know-c2.jpg" width="216"/>
   <img border="0" height="222" src="/images/know-c3.jpg" width="216"/>
   <img border="0" height="222" src="/images/know-c4.jpg" width="216"/>
   <br/>
   <br/>
  </p>
  <font face="Arial">
   <hr align="left" color="#000000" size="1"/>
  </font>
  <p style="margin-top: 0; margin-bottom: 0">
   <br/>
   To sign "know that" you use a very quick downward movement and change the 
	handshape into a rather loose "Y" (or even a "flat-hand").
   <br/>
   <br/>
   KNOW-THAT
   <br/>
   <img border="0" height="223" src="/images/know-that1.jpg" width="240"/>
   <img border="0" height="223" src="/images/know-that2.jpg" width="240"/>
  </p>
  <font face="Arial">
   <p style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1"/>
  </font>
  <p style="margin-top: 0; margin-bottom: 0">
   <br/>
   The sign "don't know" uses a movement similar to "know that." The difference
  is that DON'T KNOW keeps the "B" (or "flat") handshape and tends to raise the
  shoulders and use a head shake.
	Here I'm showing a "casual" version of the sign.  Note how it starts on 
	or near the cheek (instead of the forehead) and twists forward.
   <br/>
   <br/>
   DON'T KNOW:
   <br/>
   <font face="Arial">
    <img border="0" src="/images/know-don't.gif" style="max-width: 100%; height: auto" width="480"/>
   </font>
   <img border="0" height="217" src="/images/know.h1.jpg" width="237"/>
   <img border="0" height="219" src="/images/know.h2.jpg" width="235"/>
   <br/>
   If you have Windows media player, you might be able to view this .wmv file:
   <font face="Arial">
    <a href="../../topics/videos/aaa_wmv_videos/dontknow.wmv">
     DON'T KNOW
    </a>
    <br/>
   </font>
  </p>
  <hr align="left" color="#000000" size="1"/>
  <hr align="left" color="#000000" size="1"/>
 </p>
</blockquote>