<blockquote>
 <hr align="left" color="#000000" size="1"/>
 <p style="margin-top: 0; margin-bottom: 0">
  The sign for "lie" as in "Lie down on the couch" or "lay" as in, 
"Yesterday he lay on the couch."
  <br/>
  You use the dominant "V" hand to represent legs. My right hand is in a "V" 
handshape and my left hand is a "flat" hand.
  <br/>
  <p>
   LIE / lay:
   <br/>
   <br/>
   <img border="0" height="218" src="/images/lay.ht7.jpg" width="204"/>
   <img border="0" height="218" src="/images/lay.ht8.jpg" width="204"/>
   <img border="0" height="218" src="/images/lay.ht9.jpg" width="204"/>
  </p>
  <p style="margin-top: 0; margin-bottom: 0">
   Note:
   <br/>
   This sign doesn't mean "lay" as in "Lay the book on the table." For that 
version of "LAY / laid" you would use "
   <a href="../p/put.htm">
    PUT
   </a>
   " or 
use an appropriate
   <a href="../../pages-layout/classifiers.htm">
    classifier
   </a>
   .
   <br/>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
  </p>
 </p>
</blockquote>
