<blockquote>
 <hr align="left" color="#000000" size="1"/>
 <font face="Arial">
  <span style="font-weight: 400">
   <p style="margin-top: 0; margin-bottom: 0">
    <br/>
    LIGHT-WEIGHT:
    <br/>
    This sign means "light" as in "doesn't weigh very much.
    <br/>
    I also use it to mean "light" as in "light blue" or "light yellow."
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <br/>
    <img border="0" height="239" src="/images/lightweight.jpg" width="300"/>
    <img border="0" height="239" src="/images/lightweight3.jpg" width="300"/>
    <img border="0" height="239" src="/images/lightweight5.jpg" width="300"/>
   </p>
  </span>
 </font>
 <p style="margin-top: 0; margin-bottom: 0">
  <br/>
  Notes:
  <br/>
  When discussing colors you can often express the concept of "light" 
			by doing the signs with a smaller, more delicate movement, with a 
			bit of an "ooh" facial expression. Another way is by signing the 
			"little bit" sign (the version of "little bit" that flicks the thumb 
			out twice from the bent index finger).
  <br/>
  <hr align="left" color="#000000" size="1" width="50%"/>
  <p style="margin-top: 0; margin-bottom: 0">
   Also see:
   <a href="light.htm">
    LIGHT
   </a>
  </p>
  <font face="Arial">
   <hr align="left" color="#000000" size="1"/>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
    <font face="Arial" size="1">
     You can learn
     <a href="http://lifeprint.com" style="text-decoration: none">
      American Sign Language (ASL)
     </a>
     online at American Sign Language University ™
     <br/>
     <a href="http://asl.ms" style="text-decoration: none">
      ASL
     </a>
     resources by Lifeprint.com  ©  Dr. William Vicars
    </font>
   </p>
  </font>
 </p>
</blockquote>
