<blockquote>
 <hr align="left" color="#000000" size="1"/>
 <span style="font-weight: 400">
  <font face="Arial">
   <p style="margin-top: 0; margin-bottom: 0">
    LEND and BORROW are basically the same sign. 
You start the sign near the lender who has the thing being loaned, and you move 
the sign toward the borrower who ends up with the thing being loaned.
    <br/>
    Remember, this is an ASL concept. It is NOT just a translation of
English.
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p style="margin-top: 0; margin-bottom: 0">
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    LEND:
    <br/>
    =  "I'm going to lend it to you."
    <br/>
    = "You can borrow it"
    <br/>
    Remember, this sign moves toward the person who is 
ending up with the money or the object.
    <br/>
    <br/>
    me-LEND-you = you=BORROW-from-me:
    <br/>
    <img border="0" height="225" src="/images/lend1.jpg" width="192"/>
    <img border="0" height="225" src="/images/lend2.jpg" width="192"/>
    <img border="0" height="225" src="/images/lend3.jpg" width="192"/>
   </p>
   <hr align="left" color="#000000" size="1"/>
   <hr align="left" color="#000000" size="1"/>
   <p style="margin-top: 0; margin-bottom: 0">
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    BORROW
    <br/>
    =  "You lend to me."
    <br/>
    =  "I borrow from you."
    <br/>
    As in: 
"Could you please lend me $5.00?" and "Could I please borrow
$5.00?"
    <br/>
    <br/>
    you-LEND-me = me-BORROW-from-you
    <br/>
    <img border="0" height="227" src="/images/borrow1.jpg" width="201"/>
    <img border="0" height="227" src="/images/borrow2.jpg" width="201"/>
    <img border="0" height="227" src="/images/borrow3.jpg" width="201"/>
    <br/>
   </p>
   <hr align="left" color="#000000" size="1"/>
   <hr align="left" color="#000000" size="1"/>
   <p style="margin-top: 0; margin-bottom: 0">
    <br/>
    Signing Note:
    <br/>
    If you wanted to sign, "I lent it to him" you'd start the sign near you and move 
it out and to your right (or wherever "he" is).
    <br/>
    Similarly, if you
wanted to sign "He lent it to me" you'd start from a position out to
your right and move the sign in toward your torso.  (Lefties tend to do 
things mirror image.)
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p style="margin-top: 0; margin-bottom: 0">
    Also see:
   </p>
  </font>
  <a href="../k/keep.htm" style="text-decoration: none">
   KEEP
  </a>
 </span>
</blockquote>
