<blockquote>
 <hr align="left" color="#000000" size="1"/>
 <p style="margin-top: 0; margin-bottom: 0">
  The sign for "lonely" uses an index finger.  If you are right 
handed, your palm is facing to your left. The index finger is brought near to the lips and then slides down, forward, up, back, 
and down. Do two complete (but small) circles.
  <br/>
  <hr align="left" color="#000000" size="1"/>
  <p>
   <br/>
   LONELY:
  </p>
  <p>
   <img border="0" height="237" src="/images/lonelyc1.jpg" width="227"/>
   <img border="0" height="237" src="/images/lonely6.jpg" width="227"/>
   <img border="0" height="237" src="/images/lonelyc3.jpg" width="227"/>
   <img border="0" height="237" src="/images/lonelyc10.jpg" width="227"/>
  </p>
  <p>
   <object classid="CLSID:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,22,0" height="275" id="FVS" width="352">
    <param name="movie" value="lonely_player.swf?26243934"/>
    <param name="bgcolor" value="#ffffff"/>
    <embed bgcolor="#ffffff" height="275" name="FVS" pluginspage='http://www.macromedia.com/go/getflashplayer"' src="lonely_player.swf?26243934" type="application/x-shockwave-flash" width="352"/>
   </object>
   <br/>
  </p>
  <font face="Arial">
   <hr align="left" color="#000000" size="1" width="50%"/>
   <p style="margin-top: 0; margin-bottom: 0">
    <br/>
    Sample sentence:
YOU SOMETIMES FEEL LONELY YOU? (Do you sometimes feel lonely?)
    <br/>
    <br/>
    <object classid="CLSID:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=8,0,0,0" height="275" id="FVS0" width="320">
     <param name="movie" value="../19/you-sometimes-feel-lonely_player.swf?15351678"/>
     <param name="bgcolor" value="#ffffff"/>
     <param name="allowfullscreen" value="true"/>
     <embed allowfullscreen="true" bgcolor="#ffffff" height="275" name="FVS0" pluginspage='http://www.macromedia.com/go/getflashplayer"' src="../19/you-sometimes-feel-lonely_player.swf?15351678" type="application/x-shockwave-flash" width="320"/>
    </object>
    <br/>
   </p>
  </font>
  <hr align="left" color="#000000" size="1"/>
  <p>
   <br/>
   Here's a sign that means "by myself," "only me," "I was alone,"
   <font face="Arial">
    "I was the only one."
   </font>
   <br/>
   <br/>
   JUST-ME:
   <br/>
   <img border="0" height="226" src="/images/me-alone1.jpg" width="230"/>
   <img border="0" height="226" src="/images/me-alone2.jpg" width="230"/>
   <img border="0" height="226" src="/images/me-alone6.jpg" width="230"/>
   <img border="0" height="226" src="/images/me-alone3.jpg" width="230"/>
   <img border="0" height="226" src="/images/me-alone5.jpg" width="230"/>
   <br/>
  </p>
  <font face="Arial">
   <hr align="left" color="#000000" size="1"/>
  </font>
 </p>
</blockquote>
