<blockquote>
 <h1 style="margin-top: 0; margin-bottom: 0">
  <font face="Arial">
   <span style="font-weight: 400">
    <font size="5">
     "looks like" / look-a-like 
		/ resembles / looks the same as
    </font>
   </span>
  </font>
 </h1>
 <p style="margin-top: 0; margin-bottom: 0">
  If you mean "looks like" as in a visual similarity 
	between two things or two people you can use the LOOK-LIKE sign. The sign 
	for "look like" uses an index finger that changes into a "Y"-handshape.  
	The sign starts with the index finger near the eye or nose and then pulls 
	away and down into a "Y" handshape which makes a small side to side 
	movement. The specific starting position of this sign varies.  Some 
	people touch the cheek. Some people touch the nose. During high speed 
	signing the sign is unlikely to touch the face at all and is simply held 
	nearby pointing toward the eye or nose.
  <br/>
  <br/>
  LOOK-LIKE:
  <p style="margin-top: 0; margin-bottom: 0">
   <img border="0" src="/images/look-like-2.gif" style="max-width: 100%; height: auto" width="480"/>
   <br/>
   <img border="0" height="222" src="/images/looklike1.jpg" width="228"/>
   <img border="0" height="222" src="/images/looklike2.jpg" width="228"/>
   <img border="0" height="222" src="/images/looklike3.jpg" width="228"/>
   <img border="0" height="222" src="/images/looklike4.jpg" width="228"/>
   <img border="0" height="222" src="/images/looklike6.jpg" width="228"/>
   <br/>
   <br/>
   Do you look like your mom?
   <br/>
   <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/NKTU89lgb7g?rel=0" width="560">
   </iframe>
  </p>
  <p style="margin-top: 0; margin-bottom: 0">
  </p>
  <hr/>
  <p style="margin-top: 0; margin-bottom: 0">
   <br/>
   Here's some pictures of the main hand positions for the "looks like" sign.  The "Y" hand uses a side 
	to side sliding movement.
   <br/>
   <img border="0" height="240" src="/images/looklike01.jpg" width="361"/>
   <img border="0" height="240" src="/images/looklike02.jpg" width="361"/>
   <img border="0" height="240" src="/images/looklike03.jpg" width="361"/>
  </p>
  <p style="margin-top: 0; margin-bottom: 0">
  </p>
  <hr/>
  <p style="margin-top: 0; margin-bottom: 0">
   <br/>
   The current "LOOK-LIKE" sign and its variations evolved from the signs FACE 
	and SAME which were compounded into an older version of the "LOOK-LIKE sign 
	that consisted of circling the face with an index finger and transitioning 
	into the SAME-[similar/too] sign. 
	This version of the sign for "look-like" uses an index finger handshape that changes into a "Y"
  handshape. The "Y" handshape makes a slight side to side motion.  
	You start by either touching or just bringing the index finger near to the 
	cheek beneath the eye and then doing an abbreviated version of the sign for 
	"same."
   <br/>
   <p style="margin-top: 0; margin-bottom: 0">
    LOOK-LIKE-[legacy-version]
    <br/>
    <img border="0" src="/images/look-like-1.gif" style="max-width: 100%; height: auto" width="480"/>
    <p style="margin-top: 0; margin-bottom: 0">
     <p style="margin-top: 0; margin-bottom: 0">
      Sample sentence: "Do you look like your dad?"
      <br/>
      <br/>
      <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" height="315" name="I1" src="https://www.youtube.com/embed/-IznVGI8VaE?rel=0" width="560">
      </iframe>
      <hr/>
      <p style="margin-top: 0; margin-bottom: 0">
      </p>
      <p style="margin-top: 0; margin-bottom: 0">
       If you mean "looks like" as in "it 
looks as if," "it appears that," "it seems," "it seems to me," or "apparently" 
you might want to use the sign for "seem."  For example, if you wanted to 
sign 'it looks as if' as in: "It looks like it's going to snow') you could sign 
"SEEM MAYBE SNOW" "SEEM SNOW WILL."
       <br/>
       See:
       <a href="../s/seem.htm">
        SEEM
       </a>
       <br/>
      </p>
      <hr/>
      <p style="margin-top: 0; margin-bottom: 0">
       <br/>
       If you by "looks like" you mean "countenance" as in "It looks like Susan has 
been crying" then you should use the FACE-[countenance/appearance/looks] sign.  
For example SHE FACE-[5-hand-version] CRY SHE.
       <br/>
       See:
       <a href="../f/face.htm">
        FACE
       </a>
       <br/>
      </p>
      <hr align="left" color="#000000" size="1"/>
      <script type="text/javascript">
       <!--
google_ad_client = "ca-pub-2513564923850231";
/* 728x15_link_ads_adsense1_bottom */
google_ad_slot = "2289748297";
google_ad_width = 728;
google_ad_height = 15;
//-->
      </script>
      <script src="//pagead2.googlesyndication.com/pagead/show_ads.js" type="text/javascript">
      </script>
      <p align="center" style="margin-top: 0; margin-bottom: 0">
      </p>
      <script type="text/javascript">
       <!--
google_ad_client = "ca-pub-2513564923850231";
/* 728x15_link_ads_adsense1_bottom */
google_ad_slot = "2289748297";
google_ad_width = 728;
google_ad_height = 15;
//-->
      </script>
      <script src="//pagead2.googlesyndication.com/pagead/show_ads.js" type="text/javascript">
      </script>
      <p align="center" style="margin-top: 0; margin-bottom: 0">
      </p>
      <script type="text/javascript">
       <!--
google_ad_client = "ca-pub-2513564923850231";
/* 728x15_link_ads_adsense1_bottom */
google_ad_slot = "2289748297";
google_ad_width = 728;
google_ad_height = 15;
//-->
      </script>
      <script src="//pagead2.googlesyndication.com/pagead/show_ads.js" type="text/javascript">
      </script>
      <hr align="left" color="#000000" size="1"/>
      <p>
       <br/>
       Here is an example of LOOK-LIKE using the version that points at the nose:
       <br/>
       <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/M1KHjVGlQ30?rel=0" width="560">
       </iframe>
       <br/>
       <br/>
       Also see:
       <a href="../s/same.htm" style="text-decoration: none">
        SAME
       </a>
       <br/>
       Also see:
       <a href="../s/see.htm" style="text-decoration: none">
        SEE
       </a>
      </p>
      <p>
       Hat tip (gratitude) to: Lyn Wiley (a Deaf ASL instructor) for her input on 
the alternate meanings of "look like."
      </p>
      <hr/>
      <p>
       <br/>
       <b>
        Question
       </b>
       :
       <br/>
       A student writes: The sign "look like" seems very similar to the sign for "gold 
/ California."
       <br/>
       Could you clarify the difference between the two signs sometime in the future? 
Thank you!
       <br/>
       <br/>
       <b>
        Answer
       </b>
       :
       <br/>
       LOOK-LIKE (
       <a href="https://youtu.be/tZnyCPaiRlQ">
        https://youtu.be/tZnyCPaiRlQ
       </a>
       )
       <br/>
       The sign for "looks like" starts near the eye and/or the nose and then 
transitions into a small side to side sliding movement as in one of the versions 
of the sign for
       <a href="../s/same.htm">
        SAME/similar
       </a>
       .  Over time the 
sign has evolved to reduce the side to side movement to instead just point to or 
near the eye (or even the nose) and then move outward and to the dominant side a 
bit using a single (not repeated) movement. So, in the Deaf Community you will 
see the concept "look like" signed a variety of ways but generally based on a 
compound of "eye / looks" + "same / similar."
       <br/>
       <br/>
       GOLD / CALIFORNIA ( https://youtu.be/IjOjCvwsuAk )
       <br/>
       "California" has evolved quite a bit over the years. It started out by doing the 
sign GOLD (as in California is the golden state). The sign GOLD (at least one 
version of it anyway) points to the earlobe and then signs "YELLOW." (Memory aid 
for GOLD: The yellow ring in your earlobe is made from gold). You will see 
California signed by some folks starting with a "5" handshape and doing a single 
twist downward into a "Y" handshape. That version is a natural, advanced, 
evolution of the sign GOLD -- and is very common.
       <br/>
       <br/>
       <br/>
       The more in a hurry, tired, casual, or drunk the signer is -- are the further 
away from the eye / nose / earlobe those signs will appear.
       <br/>
       Show less
      </p>
      <p>
      </p>
      <p>
      </p>
      <hr align="left" color="#000000" size="1"/>
     </p>
     <hr align="left" color="#000000" size="1"/>
     <p style="margin-top: 0; margin-bottom: 0">
      <br/>
      * 
Want to help support ASL University?  It's
      <i>
       easy
      </i>
      :
      <b>
       <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&amp;hosted_button_id=XHRNABERKJT4N" rel="nofollow" target="_blank">
        <u>
         DONATE
        </u>
       </a>
      </b>
      <font size="2">
       (
       <i>
        Thanks!
       </i>
       )
      </font>
      <br/>
      <br/>
      <font face="Arial">
       *
      </font>
      Another way to help is to buy something from Dr. Bill's "
      <b>
       <a href="../../../bookstore/bookstore.htm">
        <u>
         Bookstore
        </u>
       </a>
      </b>
      ."
     </p>
     <p style="margin-top: 0; margin-bottom: 0">
      <br/>
      <font face="Arial">
       *
      </font>
      Want even more ASL resources?  Visit the "
      <b>
       <a href="http://www.asl.tc/landing/index.html" rel="nofollow" target="_blank">
        ASL Training Center
       </a>
       !
      </b>
      "  (Subscription 
Extension of ASLU)
      <br/>
      <br/>
      *  Also check out Dr. Bill's channel:
      <a href="https://www.youtube.com/billvicars">
       www.youtube.com/billvicars
      </a>
      <font size="2">
       <br/>
      </font>
     </p>
     <hr align="left" color="#000000" size="1"/>
     <p align="center" style="margin-top: 0; margin-bottom: 0">
      <font size="1">
       You can learn
       <a href="http://lifeprint.com">
        American Sign Language (ASL)
       </a>
       online at American Sign Language University ™
       <br/>
       <a href="http://asl.ms" style="text-decoration: none">
        ASL
       </a>
       resources by Lifeprint.com  ©  Dr. William Vicars
      </font>
     </p>
     <hr color="#000000" size="1"/>
     <p>
     </p>
    </p>
   </p>
  </p>
 </p>
</blockquote>
