<blockquote>
 <h1 style="margin-top: 0; margin-bottom: 0">
  <font face="Arial">
   <font size="5">
    <span style="font-weight: 400">
     American Sign Language: 
		"Do you mind if I marry your daughter?"
    </span>
   </font>
   <br/>
  </font>
 </h1>
 <blockquote>
  <hr align="left" color="#000000" size="1" width="50%"/>
  <span style="font-weight: 400">
   <p style="margin-top: 0; margin-bottom: 0">
    In a message dated 12/23/2010 
11:48:56 A.M. Pacific Standard Time, a young man writes:
    <br/>
    <br/>
    "There is a phrase i am interested in learning, one which if you knew more of 
the "back story" would probably bring a smile. I have been visiting your site in 
an effort to educate myself and i hope i am learning. I have met an incredible 
woman who's Father is deaf, her mother was also deaf. She hears fine but growing 
up with deaf parents is fluent in sign. So yes i could learn this phrase from 
her but i would like to be able to surprise her.
    <br/>
    <br/>
    If you could or would .... will you help me to understand how to ask her Father 
the following..... Would you mind if i marry your daughter?
    <br/>
    <br/>
    Thank you for your time, best wishes to you and your family for a very merry 
Christmas.
    <br/>
    <br/>
    Sincerly
    <br/>
    J Landis
    <br/>
   </p>
   <hr align="left" width="50%"/>
   <p style="margin-top: 0; margin-bottom: 0">
    Dear "J,"
    <br/>
    While some ASL teachers may feel that you should sign: "YOUR DAUGHTER, I MARRY 
SHE, don't-MIND YOU?" -- My advice to you as a currently non-signing "Hearing" 
person, is to sign: "DON'T-MIND I MARRY YOUR DAUGHTER?"  (That will be 
relatively easy for you to keep straight.) Just remember to raise your eyebrows 
on the do you mind" part.
    <br/>
    Or you could sign "I
    <a href="../w/want.htm">
     want
    </a>
    marry your daughter. You 
mind?"
    <br/>
   </p>
  </span>
  <hr align="left" color="#000000" size="1" width="50%"/>
  <span style="font-weight: 400">
   <p style="margin-top: 0; margin-bottom: 0">
    "Do you mind if I marry your 
daughter?"
    <br/>
    = "DON'T-MIND I MARRY YOUR DAUGHTER?"
    <br/>
    <br/>
    <object classid="CLSID:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=8,0,0,0" height="395" id="FVS" width="480">
     <param name="movie" value="you-mind-i-marry-your-daughter_player.swf?1147511027"/>
     <param name="bgcolor" value="#ffffff"/>
     <param name="allowfullscreen" value="true"/>
     <embed allowfullscreen="true" bgcolor="#ffffff" height="395" name="FVS" pluginspage='http://www.macromedia.com/go/getflashplayer"' src="you-mind-i-marry-your-daughter_player.swf?1147511027" type="application/x-shockwave-flash" width="480"/>
    </object>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <img border="0" height="300" src="/images/mind-dontmind01.jpg" width="319"/>
    <img border="0" height="300" src="/images/mind-dontmind02.jpg" width="319"/>
    <img border="0" height="300" src="/images/i01.jpg" width="319"/>
    <img border="0" height="300" src="/images/marry01.jpg" width="319"/>
    <img border="0" height="300" src="/images/marry02.jpg" width="319"/>
    <img border="0" height="300" src="/images/your01.jpg" width="319"/>
    <img border="0" height="300" src="/images/daughter01.jpg" width="319"/>
    <img border="0" height="300" src="/images/daughter02.jpg" width="319"/>
    <img border="0" height="300" src="/images/daughter03.jpg" width="319"/>
    <br/>
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p style="margin-top: 0; margin-bottom: 0">
    A little better version is:
    <br/>
    "I WANT MARRY YOUR DAUGHTER. YOU MIND?"
    <br/>
    This is somewhat better because it puts the "question expression" at the end of 
the sentence along with the specific question phrase "Do you mind?" That helps 
it to be very clear that you are asking a question.
    <br/>
    <br/>
    <object classid="CLSID:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=8,0,0,0" height="395" id="FVS0" width="480">
     <param name="movie" value="i-want-marry-your-daughter-you-mind_player.swf?894231510"/>
     <param name="bgcolor" value="#ffffff"/>
     <param name="allowfullscreen" value="true"/>
     <embed allowfullscreen="true" bgcolor="#ffffff" height="395" name="FVS0" pluginspage='http://www.macromedia.com/go/getflashplayer"' src="i-want-marry-your-daughter-you-mind_player.swf?894231510" type="application/x-shockwave-flash" width="480"/>
    </object>
    <br/>
    <br/>
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p style="margin-top: 0; margin-bottom: 0">
    <br/>
    Okay, here is a bit more "formal" version:
    <br/>
    YOUR DAUGHTER I WANT MARRY. I REQUEST/ASK YOUR PERMISSION.
    <br/>
    <br/>
    <object classid="CLSID:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=8,0,0,0" height="460" id="FVS1" width="426">
     <param name="movie" value="your-daughter-i-want-marry-i-ask-your-permission_player.swf?2277915568"/>
     <param name="bgcolor" value="#ffffff"/>
     <param name="allowfullscreen" value="true"/>
     <embed allowfullscreen="true" bgcolor="#ffffff" height="460" name="FVS1" pluginspage='http://www.macromedia.com/go/getflashplayer"' src="your-daughter-i-want-marry-i-ask-your-permission_player.swf?2277915568" type="application/x-shockwave-flash" width="426"/>
    </object>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <br/>
    PERMISSION:
    <br/>
    <img border="0" height="300" src="/images/permission01.jpg" width="300"/>
    <img border="0" height="300" src="/images/permission02.jpg" width="300"/>
    <br/>
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p style="margin-top: 0; margin-bottom: 0">
    Also see:
    <a href="marriage.htm">
     MARRIAGE
    </a>
   </p>
   <hr align="left" color="#000000" size="1"/>
  </span>
 </blockquote>
 <hr align="left" color="#000000" size="1"/>
 <script type="text/javascript">
  <!--
google_ad_client = "ca-pub-2513564923850231";
/* 728x15_link_ads_adsense1_bottom */
google_ad_slot = "2289748297";
google_ad_width = 728;
google_ad_height = 15;
//-->
 </script>
 <script src="//pagead2.googlesyndication.com/pagead/show_ads.js" type="text/javascript">
 </script>
 <p align="center" style="margin-top: 0; margin-bottom: 0">
 </p>
 <script type="text/javascript">
  <!--
google_ad_client = "ca-pub-2513564923850231";
/* 728x15_link_ads_adsense1_bottom */
google_ad_slot = "2289748297";
google_ad_width = 728;
google_ad_height = 15;
//-->
 </script>
 <script src="//pagead2.googlesyndication.com/pagead/show_ads.js" type="text/javascript">
 </script>
 <p align="center" style="margin-top: 0; margin-bottom: 0">
 </p>
 <script type="text/javascript">
  <!--
google_ad_client = "ca-pub-2513564923850231";
/* 728x15_link_ads_adsense1_bottom */
google_ad_slot = "2289748297";
google_ad_width = 728;
google_ad_height = 15;
//-->
 </script>
 <script src="//pagead2.googlesyndication.com/pagead/show_ads.js" type="text/javascript">
 </script>
 <hr align="left" color="#000000" size="1"/>
 <p style="margin-top: 0; margin-bottom: 0">
  <br/>
  * 
Want to help support ASL University?  It's
  <i>
   easy
  </i>
  :
  <b>
   <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&amp;hosted_button_id=XHRNABERKJT4N" rel="nofollow" target="_blank">
    <u>
     DONATE
    </u>
   </a>
  </b>
  <font size="2">
   (
   <i>
    Thanks!
   </i>
   )
  </font>
  <br/>
  <br/>
  <font face="Arial">
   *
  </font>
  Another way to help is to buy something from Dr. Bill's "
  <b>
   <a href="../../../bookstore/bookstore.htm">
    <u>
     Bookstore
    </u>
   </a>
  </b>
  ."
 </p>
 <p style="margin-top: 0; margin-bottom: 0">
  <br/>
  <font face="Arial">
   *
  </font>
  Want even more ASL resources?  Visit the "
  <b>
   <a href="http://www.asl.tc/landing/index.html" rel="nofollow" target="_blank">
    ASL Training Center
   </a>
   !
  </b>
  "  (Subscription 
Extension of ASLU)
  <br/>
  <br/>
  *  Also check out Dr. Bill's channel:
  <a href="http://www.youtube.com/billvicars">
   www.youtube.com/billvicars
  </a>
  <font size="2">
   <br/>
  </font>
 </p>
 <hr align="left" color="#000000" size="1"/>
 <p align="center" style="margin-top: 0; margin-bottom: 0">
  <font size="1">
   You can learn
   <a href="http://lifeprint.com">
    American Sign Language (ASL)
   </a>
   online at American Sign Language University ™
   <br/>
   <a href="http://asl.ms" style="text-decoration: none">
    ASL
   </a>
   resources by Lifeprint.com  ©  Dr. William Vicars
  </font>
 </p>
 <hr color="#000000" size="1"/>
 <p>
 </p>
</blockquote>
