<blockquote>
 <hr align="left" color="#000000" size="1"/>
 <p>
  <br/>
  MATH (arithmetic)
  <br/>
  Double movement.  Use
  <span style="background-color: #FFFF00">
   "
  </span>
  <b>
   <span style="background-color: #FFFF00">
    M
   </span>
  </b>
  <span style="background-color: #FFFF00">
   "
  </span>
  hands.
 </p>
 <p>
  <img border="0" height="219" src="/images/math.h45.jpg" width="227"/>
  <img border="0" height="219" src="/images/math.h46.jpg" width="227"/>
  <img border="0" height="219" src="/images/math.h47.jpg" width="227"/>
  <br/>
  <img border="0" height="219" src="/images/math.h48.jpg" width="227"/>
  <img border="0" height="219" src="/images/math.h49.jpg" width="227"/>
  <br/>
 </p>
 <p>
  Animation: MATH
  <br/>
  <img border="0" height="219" src="/images/math.gif" width="227"/>
 </p>
 <font face="Arial">
  <p>
  </p>
  <hr align="left" color="#000000" size="1"/>
  <p>
   <br/>
   Sample sentence: Do you like math?
   <br/>
   <br/>
   <object classid="CLSID:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=8,0,0,0" height="275" id="FVS" width="320">
    <param name="movie" value="../23/you-like-math_player.swf?2358329635"/>
    <param name="bgcolor" value="#ffffff"/>
    <param name="allowfullscreen" value="true"/>
    <embed allowfullscreen="true" bgcolor="#ffffff" height="275" name="FVS" pluginspage='http://www.macromedia.com/go/getflashplayer"' src="../23/you-like-math_player.swf?2358329635" type="application/x-shockwave-flash" width="320"/>
   </object>
   <br/>
   <br/>
   Notes:
   <br/>
   You can "initialize" the handshapes of the sign math and change the 
sign to refer to different types of math.
   <br/>
  </p>
 </font>
 <p>
  Algebra:
 </p>
 <p>
  <img border="0" height="219" src="/images/math.h54.jpg" width="227"/>
  <img border="0" height="219" src="/images/math.h55.jpg" width="227"/>
  <img border="0" height="219" src="/images/math.h56.jpg" width="227"/>
  <img border="0" height="219" src="/images/math.h57.jpg" width="227"/>
  <br/>
  <br/>
  Can you explain algebra to me?
  <br/>
  <br/>
  <object classid="CLSID:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=8,0,0,0" height="275" id="FVS" width="320">
   <param name="movie" value="../23/algebra-can-you-explain-me_player.swf?253278165"/>
   <param name="bgcolor" value="#ffffff"/>
   <param name="allowfullscreen" value="true"/>
   <embed allowfullscreen="true" bgcolor="#ffffff" height="275" name="FVS" pluginspage='http://www.macromedia.com/go/getflashplayer"' src="../23/algebra-can-you-explain-me_player.swf?253278165" type="application/x-shockwave-flash" width="320"/>
  </object>
 </p>
 <p>
 </p>
 <hr align="left" color="#000000" size="1"/>
 <p>
  <br/>
  Calculus
 </p>
 <p>
  <img border="0" height="219" src="/images/math.h58.jpg" width="227"/>
  <img border="0" height="219" src="/images/math.h59.jpg" width="227"/>
  <img border="0" height="219" src="/images/math.h60.jpg" width="227"/>
  <img border="0" height="219" src="/images/math.h61.jpg" width="227"/>
  <br/>
 </p>
 <hr align="left" color="#000000" size="1"/>
 <p>
  <br/>
  Geometry:
 </p>
 <p>
  <img border="0" height="219" src="/images/math.h62.jpg" width="227"/>
  <img border="0" height="219" src="/images/math.h63.jpg" width="227"/>
  <img border="0" height="219" src="/images/math.h64.jpg" width="227"/>
  <img border="0" height="219" src="/images/math.h65.jpg" width="227"/>
 </p>
 <p>
 </p>
 <hr align="left" color="#000000" size="1"/>
 <p>
  <br/>
  NOTE: Honestly?
  <i>
   <span style="background-color: #FFFF00">
    I prefer to just 
spell
   </span>
   <b>
    <span style="background-color: #FFFF00">
     T-R-I-G
    </span>
   </b>
  </i>
  <br/>
  I'm mean, really, who can tell that is a "T" on my hands?
  <br/>
  <font face="Arial">
   <br/>
   TRIGONOMETRY:
   <br/>
  </font>
  <img border="0" height="219" src="/images/math.h50.jpg" width="227"/>
  <img border="0" height="219" src="/images/math.h51.jpg" width="227"/>
  <img border="0" height="219" src="/images/math.h52.jpg" width="227"/>
  <img border="0" height="219" src="/images/math.h53.jpg" width="227"/>
 </p>
 <br/>
 Have you passed trigonometry?
 <br/>
 <br/>
 <object classid="CLSID:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=8,0,0,0" height="275" id="FVS" width="320">
  <param name="movie" value="../23/trigonometry-you-finish-pass_player.swf?1286531152"/>
  <param name="bgcolor" value="#ffffff"/>
  <param name="allowfullscreen" value="true"/>
  <embed allowfullscreen="true" bgcolor="#ffffff" height="275" name="FVS" pluginspage='http://www.macromedia.com/go/getflashplayer"' src="../23/trigonometry-you-finish-pass_player.swf?1286531152" type="application/x-shockwave-flash" width="320"/>
 </object>
 <font face="Arial">
  <p>
  </p>
  <hr align="left" color="#000000" size="1"/>
  <p>
   See:
   <a href="../a/add.htm">
    ADD
   </a>
  </p>
  <hr align="left" color="#000000" size="1"/>
  <p>
   See:
   <a href="../s/subtract.htm">
    SUBTRACT
   </a>
  </p>
 </font>
 <br/>
 <font face="Arial">
  <hr align="left" color="#000000" size="1"/>
  <p align="center" style="margin-top: 0; margin-bottom: 0">
   <font face="Arial" size="1">
    You can learn
    <a href="http://lifeprint.com" style="text-decoration: none">
     American 
Sign Language (ASL)
    </a>
    online at American Sign Language University ™
    <br/>
    <a href="http://asl.ms" style="text-decoration: none">
     ASL
    </a>
    resources 
by Lifeprint.com  ©  Dr. William Vicars
   </font>
  </p>
 </font>
</blockquote>
