<blockquote>
 <hr align="left" color="#000000" size="1"/>
 <p>
  <br/>
  To indicate "Michigan" fingerspell the letters M-I-C-H.
  <br/>
  <br/>
  MICHIGAN:
  <br/>
  <font face="Arial">
   <a href="/images/m.gif">
    <img alt="m.gif (151605 bytes)" border="2" height="100" src="/images/m_small.gif" width="100" xthumbnail-orig-image="../../fingerspelling/abc-gifs/m.gif"/>
   </a>
   <a href="/images/i.gif">
    <img alt="i.gif (217459 bytes)" border="2" height="100" src="/images/i_small.gif" width="100" xthumbnail-orig-image="../../fingerspelling/abc-gifs/i.gif"/>
   </a>
   <a href="/images/c.gif">
    <img alt="c.gif (438798 bytes)" border="2" height="100" src="/images/c_small.gif" width="100" xthumbnail-orig-image="../../fingerspelling/abc-gifs/c.gif"/>
   </a>
   <a href="/images/h.gif">
    <img alt="h.gif (137279 bytes)" border="2" height="100" src="/images/h_small.gif" width="100" xthumbnail-orig-image="../../fingerspelling/abc-gifs/h.gif"/>
   </a>
  </font>
 </p>
 <p style="margin-top: 0; margin-bottom: 0">
  <hr align="left" color="#000000" size="1" width="50%"/>
  <p style="margin-top: 0; margin-bottom: 0">
   NOTES:
   <br/>
  </p>
  <div>
   <div>
    In a message dated 3/23/2012 6:11:40 A.M. Pacific Daylight 
					Time, fedearin@ writes:
   </div>
   <blockquote style="BORDER-LEFT: blue 2px solid; PADDING-LEFT: 5px; MARGIN-LEFT: 5px">
    <font color="#000000" face="Arial" style="BACKGROUND-COLOR: transparent">
     Dear Dr. Bill
     <span style="font-family: Arial">
      ,
      <br/>
      Hi, I work in a State Park in Michigan where we occasionally 
					get deaf guests that I would like to better service by 
					learning ASL. ...
      <br/>
      A question I have to ask people every day is whether they 
					live in Michigan or not (admittance rates vary by if you are 
					a resident). Do you think it would be acceptable to sign our 
					state code M-I for Michigan or should I spell the entire 
					word out? Lastly, to ask them if they live in Michigan, 
					would I sign Michigan + you + live?
      <br/>
      Thank you!
      <br/>
      ~Fay D_____
     </span>
    </font>
   </blockquote>
  </div>
  <font face="Arial">
   <p>
    Dear Fay,
    <br/>
    Just fingerspell the letters M-I-C-H.
    <br/>
    If I were you, to ask folks if they live in Michigan I'd sign, YOU 
			LIVE HERE M-I-C-H YOU? (with raised eyebrows).  You could drop 
			the sign HERE and it would still work.  The raised eyebrows and 
			repeating YOU at the end is the equivalent of the auxiliary "do" 
			phrase, as in "Do you...?" -- and makes it clear that you are asking 
			for a response.
    <br/>
    -Dr. Bill
    <br/>
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
    <font face="Arial" size="1">
     You can learn
     <a href="http://lifeprint.com" style="text-decoration: none">
      American Sign Language (ASL)
     </a>
     online at American Sign Language University ™
     <br/>
     <a href="http://asl.ms" style="text-decoration: none">
      ASL
     </a>
     resources by Lifeprint.com  ©  Dr. William Vicars
    </font>
   </p>
  </font>
 </p>
</blockquote>
