<blockquote>
 <hr align="left" color="#000000" size="1"/>
 <p style="margin-top: 0; margin-bottom: 0">
  The sign for "microwave" is very similar to signs based on 
	the concept of "light."  The "microwave" sign basically shows the 
	microwaves being broadcast from the sides into the food in the middle.
  <p style="margin-top: 0; margin-bottom: 0">
   <br/>
   MICROWAVE:
  </p>
  <p style="margin-top: 0; margin-bottom: 0">
   <img border="0" src="/images/microwave-version-2.gif" style="max-width: 100%; height: auto" width="480"/>
   <img border="0" height="236" src="/images/microwave1.jpg" width="271"/>
   <img border="0" height="236" src="/images/microwave%202.jpg" width="271"/>
  </p>
  <p style="margin-top: 0; margin-bottom: 0">
  </p>
  <p style="margin-top: 0; margin-bottom: 0">
   MICROWAVE (version):
  </p>
  <p style="margin-top: 0; margin-bottom: 0">
   <font face="Arial">
    <img border="0" src="/images/microwave-1.gif" style="max-width: 100%; height: auto" width="480"/>
   </font>
   <br/>
  </p>
  <font face="Arial">
   <hr align="left" color="#000000" size="1"/>
  </font>
  <p style="margin-top: 0; margin-bottom: 0">
   <br/>
   Sample sentence: "Do you prefer to use the stove or a microwave?"
   <br/>
   = YOU FAVORITE STOVE [bodyshift] MICROWAVE, WHICH?
   <br/>
   <br/>
   <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/M7mM0iDrDsA?rel=0" width="560">
   </iframe>
  </p>
  <p style="margin-top: 0; margin-bottom: 0">
  </p>
  <font face="Arial">
   <hr align="left" color="#000000" size="1"/>
  </font>
  <p style="margin-top: 0; margin-bottom: 0">
  </p>
  <p style="margin-top: 0; margin-bottom: 0">
   Notes:
   <br/>
   <font face="Arial">
    Some people just spell "MW."
   </font>
  </p>
  <p style="margin-top: 0; margin-bottom: 0">
  </p>
  <font face="Arial">
   <hr align="left" color="#000000" size="1" width="50%"/>
  </font>
  <p style="margin-top: 0; margin-bottom: 0">
   <font face="Arial">
    <br/>
    A cute joke sign I've seen for the sign "microwave" is to "wave" the tip of your
  pinkie up and down by flexing it at the smaller two knuckles.  Geddit? A
  "micro" wave. (Ahem.)
   </font>
  </p>
  <p style="margin-top: 0; margin-bottom: 0">
   <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/wStRe-chx8M?rel=0" width="560">
   </iframe>
   <font face="Arial">
    <br/>
   </font>
  </p>
  <hr align="left" color="#000000" size="1" width="50%"/>
 </p>
</blockquote>
