<blockquote>
 <hr align="left" color="#000000" size="1"/>
 <p style="margin-top: 0; margin-bottom: 0">
  The sign for "
  <b>
   <i>
    Monday
   </i>
  </b>
  " is generally done "palm 
	up." Some ASL books show the sign MONDAY being done with the palm facing down.
  <br/>
  <br/>
  I have a
  number of associates who consider the palm up/back version to be "more
  ASL." I think that perhaps a better w
  <font face="Arial">
   ay to phrase that 
	would be to say that "during everyday conversation most skilled native Deaf 
	ASL signers tend to do the sign for Monday with their palm facing up and/or back."
  </font>
  <br/>
  <br/>
  The palm down version is
  <i>
   still
  </i>
  ASL, but it is more along the lines of 
	motherese or "teacherese" -- a "beginner
  version" of the sign often taught to 1st semester ASL students.  The 
	palm down version can also be used for emphasis and clarity.
  <font face="Arial">
   <p style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1" width="50%"/>
   <p style="margin-top: 0; margin-bottom: 0">
    <br/>
    Sample sentence: "Do you like Mondays?" = YOU LIKE MONDAY?
    <br/>
    <br/>
   </p>
  </font>
  <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/4fl8v8iYKX4?rel=0" width="560">
  </iframe>
 </p>
 <p style="margin-top: 0; margin-bottom: 0">
  <font face="Arial">
   <hr align="left" color="#000000" size="1"/>
  </font>
  <p>
   MONDAY:
  </p>
  <p>
   <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/lXVIBinAmQ8?rel=0" width="560">
   </iframe>
  </p>
  <p>
   <img border="0" height="221" src="/images/monday_arrows.jpg" width="216"/>
   <img border="0" height="221" src="/images/monday1.jpg" width="216"/>
   <img border="0" height="221" src="/images/monday2.jpg" width="216"/>
   <img border="0" height="221" src="/images/monday3.jpg" width="216"/>
   <img border="0" height="221" src="/images/monday4.jpg" width="216"/>
   <img border="0" height="221" src="/images/monday5.jpg" width="216"/>
   <img border="0" height="221" src="/images/monday6.jpg" width="216"/>
   <img border="0" height="221" src="/images/monday7.jpg" width="216"/>
   <img border="0" height="221" src="/images/monday8.jpg" width="216"/>
  </p>
  <font face="Arial">
   <hr align="left" color="#000000" size="1"/>
  </font>
  <p>
   EVERY-MONDAY.  (Note:  Each of the days of the week can be made
  plural by holding the sign a bit higher, then dragging it straight down a foot
  or two.)
   <br/>
   <br/>
   <img border="0" height="219" src="/images/monday-everymonday1.jpg" width="207"/>
   <img border="0" height="219" src="/images/monday-everymonday2.jpg" width="207"/>
   <img border="0" height="219" src="/images/monday-everymonday3.jpg" width="207"/>
   <img border="0" height="219" src="/images/monday-everymonday4.jpg" width="207"/>
  </p>
  <p>
   <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/LGqaMCk2-_Q?rel=0" width="560">
   </iframe>
  </p>
  <font face="Arial">
   <hr align="left" color="#000000" size="1"/>
   <p>
    <br/>
    See:
    <span style="font-weight: 400">
     <a href="../s/sunday.htm">
      SUNDAY
     </a>
     / MONDAY /
     <a href="../t/tuesday.htm">
      TUESDAY
     </a>
     /
     <a href="../w/wednesday.htm">
      WEDNESDAY
     </a>
     /
     <a href="../t/thursday.htm">
      THURSDAY
     </a>
     /
     <a href="../f/friday.htm">
      FRIDAY
     </a>
     /
     <a href="../s/saturday.htm">
      SATURDAY
     </a>
    </span>
   </p>
  </font>
 </p>
</blockquote>
