<blockquote>
 <font face="Arial">
  <hr align="left" color="#000000" size="1"/>
  <p>
   The sign for "motor" is the same sign as 
			ENGINE/MACHINE/FACTORY.
   <br/>
   That is right, this one little sign can be interpreted many 
			different ways depending on what you sign in the rest of your 
			sentence.
   <br/>
   <br/>
   Form modified claw hands (the large knuckles are straight but the 
			middle and small knuckles are bent). Interlock your hands as if they 
			were the teeth on two interlocking gears in a machine. Keeping your 
			arms in place, move your wrists so that the hands move upward and 
			and downward a couple times as if showing the movement of gears in a 
			machine.
   <br/>
   <br/>
   MOTOR / ENGINE / FACTORY / MACHINE:
   <br/>
   <img border="0" height="205" src="/images/machin17.jpg" width="228"/>
   <img border="0" height="205" src="/images/machin18.jpg" width="228"/>
   <img border="0" height="205" src="/images/machin19.jpg" width="228"/>
   <img border="0" height="205" src="/images/machin20.jpg" width="228"/>
  </p>
  <hr align="left" color="#000000" size="1"/>
  <p align="center" style="margin-top: 0; margin-bottom: 0">
   <font face="Arial" size="1">
    You can learn 
		American
    <a href="http://www.lifeprint.com" style="text-decoration: none">
     Sign 
		Language
    </a>
    (ASL) online at American Sign Language University ™
    <br/>
    <a href="http://asl.ms" style="text-decoration: none">
     ASL
    </a>
    resources by Lifeprint.com  ©  Dr. William Vicars
   </font>
  </p>
 </font>
</blockquote>
