<blockquote>
 <font face="Arial">
  <hr align="left" color="#000000" size="1"/>
  <p>
  </p>
  <p>
   The sign for "mouth" is done by drawing a circle around 
			your mouth:
   <br/>
  </p>
  <p>
   <img border="0" height="212" src="/images/mouth.1.jpg" width="177"/>
   <img border="0" height="51" src="/images/mouth.2.gif" width="62"/>
   <img border="0" height="51" src="/images/mouth.3.gif" width="62"/>
   <img border="0" height="51" src="/images/mouth.4.gif" width="62"/>
   <img border="0" height="51" src="/images/mouth.5.gif" width="62"/>
   <img border="0" height="51" src="/images/mouth.6.gif" width="62"/>
   <img border="0" height="51" src="/images/mouth.7.gif" width="62"/>
   <br/>
  </p>
  <p>
   <img border="0" height="141" src="/images/mouth.gif" width="134"/>
  </p>
  <hr align="left" color="#000000" size="1" width="50%"/>
  <p>
  </p>
  <hr align="left" color="#000000" size="1"/>
  <p align="center" style="margin-top: 0; margin-bottom: 0">
   <font face="Arial" size="1">
    You can learn 
		American
    <a href="http://www.lifeprint.com" style="text-decoration: none">
     Sign 
		Language
    </a>
    (ASL) online at American Sign Language University ™
    <br/>
    <a href="http://asl.ms" style="text-decoration: none">
     ASL
    </a>
    resources by Lifeprint.com  ©  Dr. William Vicars
   </font>
  </p>
 </font>
</blockquote>
