<blockquote>
 <hr align="left" color="#000000" size="1"/>
 <p>
  The sign for music looks sort of like you are holding a book of hymns in 
	one hand and leading the choir with the other hand.  Both hands are in 
	"flat"-handshapes.  The sign has obviously become very simplified over 
	the years since you just hold the dominant hand over the music book swing 
	the dominant hand back once and then forward again.
  <br/>
 </p>
 <p>
  MUSIC:
  <br/>
  <img border="0" height="215" src="/images/music.12.jpg" width="216"/>
  <img border="0" height="215" src="/images/music.13.jpg" width="216"/>
  <img border="0" height="215" src="/images/music.14.jpg" width="216"/>
  <img border="0" height="215" src="/images/music.13.jpg" width="216"/>
  <img border="0" height="215" src="/images/music.15.jpg" width="216"/>
 </p>
 <p style="margin-top: 0; margin-bottom: 0">
  <br/>
  <a href="/images/music.gif">
   Animation:  "MUSIC"
  </a>
  <br/>
 </p>
 <hr color="#000000" size="1"/>
 <p style="margin-top: 0; margin-bottom: 0">
  <br/>
  POETRY (initialized version of 
	"music") (not recommended)
  <br/>
  You can initialize the above sign for MUSIC by using a "P" handshape on the 
  dominant hand.  That changes the meaning to "poetry" instead of music.
  <br/>
 </p>
 <hr color="#000000" size="1"/>
 <p style="margin-top: 0; margin-bottom: 0">
  <br/>
  POETRY (ASL version)
  <br/>
  You can start this sign with either a "closed O" handshape or with an "S" 
	handshape.
 </p>
 <p style="margin-top: 0; margin-bottom: 0">
  As time goes on I'm 
			seeing more and more people do it with an "S" handshape so 
			eventually I'm going to need to redo my graphics.  The 
			flattened "O"-handshape carries a meaning of "give."  The 
			"S"-handshape version carries a meaning of "express."
	The idea of either version is to take the beauty in your heart and offer it up to the world.
  <br/>
 </p>
 <p style="margin-top: 0; margin-bottom: 0">
  <img border="0" height="217" src="/images/poetry.2.jpg" width="208"/>
  <img border="0" height="217" src="/images/poetry.3.jpg" width="208"/>
  <img border="0" height="217" src="/images/poetry.4.jpg" width="208"/>
  <img border="0" height="217" src="/images/poetry.5.jpg" width="208"/>
 </p>
 <p style="margin-top: 0; margin-bottom: 0">
  <a href="/images/poetry.gif">
   Animation: Poetry ("from the heart" version)
  </a>
  <br/>
 </p>
 <font face="Arial">
  <hr align="left" color="#000000" size="1"/>
 </font>
 <p style="margin-top: 0; margin-bottom: 0">
  Also see:
  <a href="../b/bassoon.htm">
   BASSOON
  </a>
  <br/>
 </p>
 <font face="Arial">
  <hr align="left" color="#000000" size="1"/>
  <p align="center" style="margin-top: 0; margin-bottom: 0">
   <font face="Arial" size="1">
    You can learn
    <a href="http://lifeprint.com" style="text-decoration: none">
     American Sign Language (ASL)
    </a>
    online at American Sign Language University ™
    <br/>
    <a href="http://asl.ms" style="text-decoration: none">
     ASL
    </a>
    resources by Lifeprint.com  ©  Dr. William Vicars
   </font>
  </p>
 </font>
</blockquote>
