<blockquote>
 <hr align="left" color="#000000" size="1" width="50%"/>
 <span style="font-weight: 400">
  <font face="Arial">
   <p>
    MUSTARD:  (recommended version)
    <br/>
    <br/>
    <object classid="CLSID:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=8,0,0,0" height="275" id="FVS" width="320">
     <param name="movie" value="mustard_player.swf?1070932087"/>
     <param name="bgcolor" value="#ffffff"/>
     <param name="allowfullscreen" value="true"/>
     <embed allowfullscreen="true" bgcolor="#ffffff" height="275" name="FVS" pluginspage='http://www.macromedia.com/go/getflashplayer"' src="mustard_player.swf?1070932087" type="application/x-shockwave-flash" width="320"/>
    </object>
    <br/>
    <br/>
    Signing notes:
    <br/>
    This sign is generally spelled by adult Deaf native signers.
    <br/>
    <img height="100" src="/images/m_small.gif" width="100"/>
    <img height="100" src="/images/u_small.gif" width="100"/>
    <img height="100" src="/images/s_small.gif" width="100"/>
    <img height="100" src="/images/t_small.gif" width="100"/>
    <img height="100" src="/images/a_small.gif" width="100"/>
    <img height="100" src="/images/r_small.gif" width="100"/>
    <img height="100" src="/images/d_small.gif" width="100"/>
    <br/>
    <br/>
    Actually, we only "sort of" spell it.  It looks a lot more like this:
    <br/>
    <img height="100" src="/images/m_small.gif" width="100"/>
    <img height="100" src="/images/u_small.gif" width="100"/>
    [some 
overlapping handshapes]
    <img height="100" src="/images/r_small.gif" width="100"/>
    <img height="100" src="/images/d_small.gif" width="100"/>
    <br/>
    <br/>
    Or even just this:
    <br/>
    <br/>
    <img height="100" src="/images/m_small.gif" width="100"/>
    <img height="100" src="/images/r_small.gif" width="100"/>
    <img height="100" src="/images/d_small.gif" width="100"/>
    <br/>
    <br/>
    This is called "lexicalized fingerspelling."  (Because it has changed 
to be more like a sign than individual letters.)
    <br/>
    We spell it
    <i>
     very
    </i>
    quickly. Many beginning level students, think, "Oh wow, that is impossibly 
fast spelling, I'll never be able to do that!"  
What the newbies don't realize is that when we are spelling such common 
words many of the letters end up being "half-formed." We start with a strong 
M and end with a strong D.  (I've noticed too that for many of us the 
"D" in "M-U-S-T-A-R-D" ends up being done with just the thumb and middle 
finger touching and the index finger is up. The other fingers (the pinkie 
and ring) are tucked in.  This is because you just did the letter "R" 
prior to the letter D.  Since "R" uses just the two fingers, the next 
letter takes advantage of those same two fingers. However this will vary 
depending on the signer.
   </p>
   <p>
   </p>
   <div>
    <hr/>
    <br/>
    Mustard: (version 2)
    <br/>
    For use with individuals who for whatever reason cannot understand the 
standard version: "YELLOW SPREAD" or "YELLOW SQUIRT-on."
    <br/>
   </div>
   <p>
   </p>
   <hr/>
   <p>
    <br/>
    MUSTARD (version 3) (Not recommended)
    <br/>
    "M" on palm (similar movement to BUTTER and SOAP)
   </p>
   <p>
   </p>
   <hr/>
   <p>
    <br/>
    MUSTARD (version 4) (Not recommended)
    <br/>
    "M" on palm "spread" forward 
once then backward once." This is an initialized version of "spread 
on." It looks like you are using an "M" to spread mustard on a piece of 
bread:
    <br/>
    <br/>
    <img border="0" height="228" src="/images/mustard-b1.jpg" width="259"/>
    <img border="0" height="228" src="/images/mustard-b2.jpg" width="259"/>
    <img border="0" height="228" src="/images/mustard-b3.jpg" width="259"/>
    <img border="0" height="228" src="/images/mustard-b4.jpg" width="259"/>
    <img border="0" height="228" src="/images/mustard-b5.jpg" width="259"/>
    <img border="0" height="228" src="/images/mustard-b6.jpg" width="259"/>
    <img border="0" height="228" src="/images/mustard-b7.jpg" width="259"/>
    <img border="0" height="228" src="/images/mustard-b8.jpg" width="259"/>
    <br/>
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p>
   </p>
   <p>
    MUSTARD (version 5) (Not recommended)
    <br/>
    This is a cool little version of the sign that
    <i>
     my wife
    </i>
    used to use.
    <br/>
    As far as I can tell, she is
    <i>
     <b>
      the only person in the known universe
     </b>
     who uses this sign
    </i>
    .  (Barring time travel, or inter-dimensional 
warps).  It is actually a pretty cool sign, but unless you are signing 
it to HER you won't get much satisfaction.
    <br/>
    The movement is representational of dipping a knife into a small mustard jar
then wiping off the excess on the rim of the jar.
    <br/>
    Note:  The handshape is "two fingers" like an "h or u" dipping 
into a "C" handshape, (like a Grey Poupon bottle).
   </p>
   <p>
   </p>
   <p>
    <img border="0" height="228" src="/images/mustard-a1.jpg" width="259"/>
    <img border="0" height="228" src="/images/mustard-a2.jpg" width="259"/>
    <img border="0" height="228" src="/images/mustard-a3.jpg" width="259"/>
    <img border="0" height="228" src="/images/mustard-a4.jpg" width="259"/>
    <img border="0" height="228" src="/images/mustard-a5.jpg" width="259"/>
    <img border="0" height="228" src="/images/mustard-a6.jpg" width="259"/>
    <img border="0" height="228" src="/images/mustard-a7.jpg" width="259"/>
    <img border="0" height="228" src="/images/mustard-a8.jpg" width="259"/>
    <img border="0" height="228" src="/images/mustard-a9.jpg" width="259"/>
   </p>
  </font>
 </span>
</blockquote>
