<blockquote>
 <hr align="left" color="#000000" size="1"/>
 negative / minus / con / assignment / grade
 <br/>
 <p>
  This sign typically means "minus" or "negative" or a bad feature. 
	But, it can also mean "assignment" or 
	"grade." 
	The "grade" version is certainly using a "G" handshape.  But the 
	distinction between an "index finger" handshape and a "G" handshape at this 
	angle is no big deal. The difference between "minus" and "grade" can be as 
	subtle (literally) as a quarter inch bend in the knuckle of the thumb.
	Your best bet is to pay attention to the context in which this sign appears 
	(as well as the movement) and use the clues altogether to figure out what is 
	meant.
  <br/>
 </p>
 <p>
  <br/>
  NEGATIVE / MINUS / CON / ASSIGNMENT / GRADE:
  <br/>
  <img border="0" height="237" src="/images/negative10.jpg" width="240"/>
  <img border="0" height="237" src="/images/negative11.jpg" width="240"/>
  <img border="0" height="237" src="/images/negative12.jpg" width="240"/>
  <br/>
 </p>
 <font face="Arial">
  <hr align="left" color="#000000" size="1"/>
 </font>
 <p>
  Also see:
  <a href="../t/takeaway.htm">
   MINUS / subtract / take away
  </a>
 </p>
 <font face="Arial">
  <hr align="left" color="#000000" size="1"/>
  <p align="center" style="margin-top: 0; margin-bottom: 0">
   <font face="Arial" size="1">
    You can learn
    <a href="http://lifeprint.com" style="text-decoration: none">
     American Sign Language (ASL)
    </a>
    online at American Sign Language University ™
    <br/>
    <a href="http://asl.ms" style="text-decoration: none">
     ASL
    </a>
    resources by Lifeprint.com  ©  Dr. William Vicars
   </font>
  </p>
 </font>
</blockquote>
