<blockquote>
 <p align="right">
  <img alt="back.gif (1674 bytes)" border="0" height="28" onclick="history.go(-1)" src="/images/back.gif" width="54"/>
 </p>
 <h1 align="center">
  <br/>
  <i>
   New Orleans
  </i>
 </h1>
 <hr color="#800080"/>
 <p>
  NEW ORLEANS
 </p>
 <p>
  You glance the side of the letter "O" off the palm of the non dominant hand. 
Do the movement twice quickly.
  <br/>
  The movement is all in the right hand.  The left hand doesn't move (or 
isn't supposed to anyway).
  <br/>
  Remember the right hand (unless you are left handed) makes a downward movement 
that strikes against the left palm, quickly and firmly as it passes. Do it 
twice.
 </p>
 <p>
  <img border="0" height="234" src="/images/neworl21.jpg" width="225"/>
  <img border="0" height="234" src="/images/neworl22.jpg" width="225"/>
  <img border="0" height="234" src="/images/neworl23.jpg" width="225"/>
  <img border="0" height="234" src="/images/neworl24.jpg" width="225"/>
 </p>
 <hr/>
 <hr color="#800080"/>
 <p align="right">
  <img alt="back.gif (1674 bytes)" border="0" height="28" onclick="history.go(-1)" src="/images/back.gif" width="54"/>
  <br/>
  <br/>
 </p>
 <p>
 </p>
</blockquote>
