<blockquote>
 <font face="Arial">
  <hr align="left" color="#000000" size="1"/>
  <p>
   <br/>
   NEW YEAR'S DAY:
   <br/>
   This sign is expressed most often as a combination of 
the signs NEW and YEAR.  For example in mid-December you might see someone 
sign to someone else: "NEW YEAR DO-DO YOU?"  That would be interpreted as, 
"What are you doing on New Year's Eve?"  To be more specific you could add 
"NIGHT" to mean "eve."  Or you could sign NEW YEAR DAY to specifically 
refer to January 1.   Spelling J-A-N and signing FIRST (using an index 
finger and a twist of the wrist) would be even more clear.
   <br/>
  </p>
  <p>
   NEW-YEAR-DAY
  </p>
  <p>
   <img border="0" height="237" src="/images/new1.jpg" width="232"/>
   <img border="0" height="237" src="/images/new2.jpg" width="232"/>
   <img border="0" height="237" src="/images/new3.jpg" width="232"/>
   <img border="0" height="228" src="/images/year1.jpg" width="222"/>
   <img border="0" height="228" src="/images/year2.jpg" width="222"/>
   <img border="0" height="228" src="/images/year3.jpg" width="222"/>
   <img border="0" height="228" src="/images/year4.jpg" width="222"/>
   <img border="0" height="228" src="/images/year5.jpg" width="222"/>
   <img border="0" height="228" src="/images/year6.jpg" width="222"/>
   <img border="0" height="229" src="/images/day-indexfinger1.jpg" width="217"/>
   <img border="0" height="229" src="/images/day-indexfinger2.jpg" width="217"/>
   <img border="0" height="229" src="/images/day-indexfinger3.jpg" width="217"/>
   <br/>
  </p>
  <hr align="left" color="#000000" size="1"/>
  <p>
   <br/>
   NIGHT = "eve"
   <br/>
   <img border="0" height="204" src="/images/night-evening.1.jpg" width="200"/>
   <br/>
   <br/>
   Note:
   <br/>
   In common usage "New Year's Eve" would be signed as NEW YEAR NIGHT. But if you 
think there might be any confusion about exactly what night you are talking 
about you can clarify with: "D-E-C 31 NIGHT." (Wouldn't want anyone to miss the 
party now would we?)
   <br/>
  </p>
  <hr align="left" color="#000000" size="1"/>
  <p align="center" style="margin-top: 0; margin-bottom: 0">
   <font face="Arial" size="1">
    You can learn 
		American
    <a href="http://www.lifeprint.com" style="text-decoration: none">
     Sign 
		Language
    </a>
    (ASL) online at American Sign Language University ™
    <br/>
    <a href="http://asl.ms" style="text-decoration: none">
     ASL
    </a>
    resources by Lifeprint.com  ©  Dr. William Vicars
   </font>
  </p>
 </font>
</blockquote>
