<blockquote>
 <p style="margin-top: 0; margin-bottom: 0">
  <font face="Arial">
   <span style="font-weight: 400">
    To do the sign NOTHING-TO-IT, you use "F" 
	handshapes and move them sideways (to the outside) and back (to the inside) 
	a couple of times. The movement is "very small" and uses the wrist somewhat 
	but the majority of the movement is from the elbows.
    <br/>
   </span>
  </font>
  <br/>
  <img border="0" height="222" src="/images/nothin28.jpg" width="295"/>
  <img border="0" height="222" src="/images/nothin29.jpg" width="295"/>
  <img border="0" height="222" src="/images/nothin30.jpg" width="295"/>
  <img border="0" height="222" src="/images/nothin31.jpg" width="295"/>
 </p>
 <p style="margin-top: 0; margin-bottom: 0">
  <font face="Arial">
  </font>
 </p>
</blockquote>
