<blockquote>
 <hr align="left" color="#000000" size="1"/>
 <p style="margin-top: 0; margin-bottom: 0">
  <br/>
  The sign for "oh I see" is NOT used for affirmation.  
	Instead it is used to show that you are paying attention to what is being 
	said and/or that you grasp what is being talked about.  If the person 
	you are talking to is angry, and you are sympathetic to his cause, then use 
	an angry facial expression.  If you are trying  to calm him down 
	use a concerned but patient expression.  If he is happy, then use a 
	happy facial expression.
  <br/>
  <br/>
  My point here is that you need to use some kind of facial expression for 
	this sign, which expression you use, depends on how you are feeling.
  <br/>
  <font face="Arial">
   <hr align="left" color="#000000" size="1"/>
   <p style="margin-top: 0; margin-bottom: 0">
    <br/>
   </p>
  </font>
  The movement for "
  <font face="Arial">
   oh-I-see
  </font>
  " is in the elbow, not the wrist.  (The 
  wrists doesn't move.  If you move the wrist, this sign becomes an 
  initialized version of YES.)
  <font face="Arial">
   Hold out a "Y" hand with the hand tilted
  </font>
  backward just a bit so that the palm is pointing forward. Move your hand 
	downward (and maybe a teeny bit forward but mostly downward) then back up 
	and down again.
  <br/>
  <br/>
  OH-I-SEE:
 </p>
 <p style="margin-top: 0; margin-bottom: 0">
  <img border="0" src="/images/ah-oh-I-see-2.gif" style="max-width: 100%; height: auto" width="480"/>
  <img border="0" height="228" src="/images/oh-i-see-b1.jpg" width="226"/>
  <img border="0" height="228" src="/images/oh-i-see-b2.jpg" width="226"/>
  <img border="0" height="228" src="/images/oh-i-see-b3.jpg" width="226"/>
  <img border="0" height="228" src="/images/oh-i-see-b4.jpg" width="226"/>
  <br/>
  <br/>
  <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/zi9T8_Xm2v0?rel=0" width="560">
  </iframe>
 </p>
 <p style="margin-top: 0; margin-bottom: 0">
 </p>
 <p style="margin-top: 0; margin-bottom: 0">
  AH-OH-I-SEE:
 </p>
 <p style="margin-top: 0; margin-bottom: 0">
  <font face="Arial">
   <img border="0" src="/images/ah-oh-I-see.gif" style="max-width: 100%; height: auto" width="480"/>
  </font>
  <br/>
 </p>
 <font face="Arial">
  <hr align="left" color="#000000" size="1"/>
 </font>
</blockquote>
