<blockquote>
 <hr align="left" color="#000000" size="1"/>
 <p style="margin-top: 0; margin-bottom: 0">
  The sign for "paper" uses
  <font face="Arial">
   a repeated backward movement of the dominant hand. If you are right handed, 
	strike the left palm with the right palm twice. The right hand moves. The 
	left hand doesn't.
  </font>
  <p style="margin-top: 0; margin-bottom: 0">
   <br/>
   PAPER:
  </p>
  <p style="margin-top: 0; margin-bottom: 0">
   <img border="0" src="/images/paper.gif" style="max-width: 100%; height: auto" width="480"/>
   <iframe allow="autoplay; encrypted-media" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/Zg7-DM25KIM?rel=0" width="560">
   </iframe>
  </p>
  <p style="margin-top: 0; margin-bottom: 0">
   <img border="0" height="240" src="/images/paper.4.jpg" width="281"/>
   <img border="0" height="240" src="/images/paper.5.jpg" width="281"/>
   <img border="0" height="240" src="/images/paper.6.jpg" width="281"/>
   <br/>
   <img border="0" height="240" src="/images/paper.4.jpg" width="281"/>
   <img border="0" height="240" src="/images/paper.5.jpg" width="281"/>
   <img border="0" height="240" src="/images/paper.6.jpg" width="281"/>
   <br/>
  </p>
  <font face="Arial">
   <hr align="left" color="#000000" size="1"/>
  </font>
  <p style="margin-top: 0; margin-bottom: 0">
   Also see:
   <a href="../d/dictionary.htm">
    DICTIONARY
   </a>
  </p>
  <font face="Arial">
   <hr align="left" color="#000000" size="1"/>
  </font>
  <p style="margin-top: 0; margin-bottom: 0">
   Also see:
   <a href="page.htm">
    PAGE
   </a>
  </p>
  <font face="Arial">
   <hr align="left" color="#000000" size="1"/>
  </font>
 </p>
</blockquote>
