<blockquote>
 <hr align="left" color="#000000" size="1"/>
 <p style="margin-top: 0; margin-bottom: 0">
  The sign for "pay" is
  <font face="Arial">
   a directional sign. That means the direction in which you do the sign 
indicates whom is getting paid.
   <br/>
   <br/>
   Think of having a coin in the palm of your left hand.  You place the tip
of your right index finger on the coin then flick the coin to the
person whom you are paying.
   <p>
    <br/>
    PAY:
   </p>
   <p>
    <img border="0" height="238" src="/images/pay.ht26.jpg" width="200"/>
    <img border="0" height="238" src="/images/pay.ht27.jpg" width="200"/>
   </p>
   <p>
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p>
    <br/>
    "pay him/her"
    <br/>
    <br/>
    <img border="0" height="211" src="/images/payher1.jpg" width="210"/>
    <img border="0" height="211" src="/images/payher2.jpg" width="210"/>
    <img border="0" height="211" src="/images/payher3.jpg" width="210"/>
    <br/>
   </p>
   <p>
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p>
    <br/>
    Now for my favorite version of this sign:
    <br/>
    <br/>
    "pay me"
    <br/>
    <br/>
    <img border="0" height="211" src="/images/payme1.jpg" width="210"/>
    <img border="0" height="211" src="/images/payme2.jpg" width="210"/>
    <img border="0" height="211" src="/images/payme3.jpg" width="210"/>
    <br/>
   </p>
   <p>
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p>
    <br/>
    The sign "PAY" is related to the sign for "owe a debt."  In 
the sign "debt" or "owe" the index finger jabs the palm twice as if saying, "Look, it says right
here that you owe me money!"
    <br/>
    <br/>
    DEBT / OWE:
    <br/>
    <br/>
    <img border="0" height="211" src="/images/pay-owedebt1.jpg" width="210"/>
    <img border="0" height="211" src="/images/pay-owedebt2.jpg" width="210"/>
    <img border="0" height="211" src="/images/pay-owedebt3.jpg" width="210"/>
    <img border="0" height="211" src="/images/pay-owedebt4.jpg" width="210"/>
    <br/>
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p>
    <br/>
    NOTES:
    <br/>
   </p>
   <p>
    <b>
     Question from Scott
    </b>
    :  To me, the sign for "investigate" looks a lot like 
the sign for "pay." I guess the difference must be the orientation of the right hand. For 
"pay" the finger is flicked back-handed, whereas "investigate" has a palm-down 
orientation. Plus it repeats. Yes?
    <br/>
   </p>
   <p>
    <b>
     Dr. Bill replies
    </b>
    :  Yes.  The angle of the index finger to the palm 
when doing "investigate" is similar to the angle of a wood chisel to a piece 
of wood.  Investigate uses a double motion that is similar to quickly 
sliding a penny about four inches along the surface of a table. Sort of a 
"digging movement."  The movement often continues an inch or two beyond 
the end of the left hand fingertips.  Also, "PAY" is directional 
(you-PAY-me, me-PAY-you) but "investigate" uses a separate sign for the 
subject-object relationship.
    <br/>
   </p>
  </font>
  <br/>
 </p>
 <font face="Arial">
  <hr align="left" color="#000000" size="1"/>
  <p>
   Also see:
   <a href="../b/buy.htm">
    BUY
   </a>
  </p>
  <hr align="left" color="#000000" size="1"/>
 </font>
</blockquote>
