<blockquote>
 <hr align="left" color="#000000" size="1"/>
 Imagine using the tip of your little finger to draw a big "check"
  mark on your forehead.  The sign doesn't actually touch your forehead
  though.
 <hr color="#000000" size="1"/>
 <p>
  <br/>
  Yes, I know I look like a
  <i>
   bum
  </i>
  in these pics. Apologies tendered. I 
	could just leave 'em blank, but that wouldn't help you learn sign much would it?
 </p>
 <p>
  <br/>
  PEPSI:
 </p>
 <p>
  <img border="0" height="197" src="/images/pepsi1.jpg" width="195"/>
  <img border="0" height="197" src="/images/pepsi2.jpg" width="195"/>
  <img border="0" height="197" src="/images/pepsi3.jpg" width="195"/>
 </p>
 <p style="margin-top: 0; margin-bottom: 0">
  <br/>
 </p>
 <font face="Arial">
  <hr align="left" color="#000000" size="1"/>
  <p>
   Also see:
   <a href="../c/coke.htm">
    COKE
   </a>
  </p>
  <hr align="left" color="#000000" size="1"/>
  <p align="center" style="margin-top: 0; margin-bottom: 0">
   <font face="Arial" size="1">
    You can learn
    <a href="http://lifeprint.com" style="text-decoration: none">
     American Sign Language (ASL)
    </a>
    online at American Sign Language University ™
    <br/>
    <a href="http://asl.ms" style="text-decoration: none">
     ASL
    </a>
    resources by Lifeprint.com  ©  Dr. William Vicars
   </font>
  </p>
 </font>
</blockquote>
