<blockquote>
 <hr align="left" color="#000000" size="1"/>
 <p style="margin-top: 0; margin-bottom: 0">
  The sign for "wolf down" as in "consume rapidly" starts as a "bent 
hand" and (usually) changes into an "S" hand (fist) as you move it 
backwards.
  <br/>
  <br/>
  <hr color="#800080"/>
  <p>
   Chow down.  Pig out. Bring on the food baby.
   <br/>
   <img border="0" height="221" src="/images/eat-pigout1.jpg" width="289"/>
   <img border="0" height="221" src="/images/eat-pigout2.jpg" width="289"/>
   <img border="0" height="221" src="/images/eat-pigout3.jpg" width="289"/>
   <img border="0" height="221" src="/images/eat-pigout4.jpg" width="289"/>
   <img border="0" height="221" src="/images/eat-pigout5.jpg" width="289"/>
   <br/>
  </p>
  <hr color="#800080"/>
  <p>
   Wolf down. Consume in an amazingly short period of time. (side view)
  </p>
  <p>
   <img border="0" height="227" src="/images/eat-wolfdown1.jpg" width="252"/>
   <img border="0" height="227" src="/images/eat-wolfdown2.jpg" width="252"/>
   <img border="0" height="227" src="/images/eat-wolfdown3.jpg" width="252"/>
   <img border="0" height="227" src="/images/eat-wolfdown4.jpg" width="252"/>
   <br/>
  </p>
  <hr color="#800080"/>
  <p>
   Wolf down. Consume in an amazingly short period of time. (Front view)
  </p>
  <p>
   <img border="0" height="227" src="/images/eat-wolfdownfront1.jpg" width="216"/>
   <img border="0" height="227" src="/images/eat-wolfdownfront2.jpg" width="216"/>
   <img border="0" height="227" src="/images/eat-wolfdownfront3.jpg" width="216"/>
   <img border="0" height="227" src="/images/eat-wolfdownfront4.jpg" width="216"/>
  </p>
  <font face="Arial">
   <hr align="left" color="#000000" size="1" width="50%"/>
  </font>
  <p style="margin-top: 0; margin-bottom: 0">
   See:
   <a href="../e/eat.htm">
    EAT
   </a>
  </p>
  <hr align="left" color="#000000" size="1" width="50%"/>
  <p style="margin-top: 0; margin-bottom: 0">
   See:
   <a href="../w/wolf-down.htm">
    WOLF-DOWN
   </a>
  </p>
  <hr align="left" color="#000000" size="1" width="50%"/>
  <p style="margin-top: 0; margin-bottom: 0">
   See:
   <a href="pig.htm">
    PIG
   </a>
  </p>
  <hr align="left" color="#000000" size="1" width="50%"/>
 </p>
</blockquote>