<blockquote>
 <font face="Arial">
  <hr align="left" color="#000000" size="1"/>
  <p>
   The sign for "pilgrim" is based on the white "bib" that 
			was common pilgrim clothing.
   <br/>
   <br/>
  </p>
  <p>
   Use "P" handshapes to draw a "bib" on your front. Each hand moves 
  to the side and down. Think of the white "bib" aspect of the clothing worn by 
  pilgrims.
   <br/>
   <br/>
   PILGRIM:
  </p>
  <p>
   <img border="0" height="232" src="/images/pilgri1.jpg" width="254"/>
   <img border="0" height="232" src="/images/pilgri2.jpg" width="254"/>
   <img border="0" height="232" src="/images/pilgri3.jpg" width="254"/>
   <br/>
  </p>
  <hr align="left" color="#000000" size="1"/>
  See:
  <a href="/images/pilgrim.gif">
   Animation: PILGRIM
  </a>
  <hr align="left" color="#000000" size="1"/>
  <p>
   <br/>
   Note:
   <br/>
   Some people do a wandering-"P" to mean "pilgrim."  I've always 
			preferred to think of that sign as meaning "pioneer" rather than 
			"pilgrim." They are two different concepts.
   <br/>
  </p>
  <hr align="left" color="#000000" size="1"/>
  <p align="center" style="margin-top: 0; margin-bottom: 0">
   <font face="Arial" size="1">
    You can learn 
		American
    <a href="http://www.lifeprint.com" style="text-decoration: none">
     Sign 
		Language
    </a>
    (ASL) online at American Sign Language University ™
    <br/>
    <a href="http://asl.ms" style="text-decoration: none">
     ASL
    </a>
    resources by Lifeprint.com  ©  Dr. William Vicars
   </font>
  </p>
 </font>
</blockquote>
