<blockquote>
 <hr align="left" color="#000000" size="1"/>
 The right sign for pillar depends on what sort of pillar you are 
			talking about.
 <br/>
 Often you can just use the sign for "support" to mean a "pillar" -- 
			if the pillar you are talking about is used to support or hold 
			something up.
 <br/>
 See:
 <a href="../s/support.htm">
  SUPPORT
 </a>
 <font face="Arial">
  <hr align="left" color="#000000" size="1" width="50%"/>
 </font>
 <p>
  <br/>
  PILLAR (Version: large vertical cylinder, imposing tree trunk)
  <br/>
  <img border="0" height="320" src="/images/pillar-26.jpg" width="337"/>
  <img border="0" height="320" src="/images/pillar-27.jpg" width="337"/>
  <img border="0" height="320" src="/images/pillar-28.jpg" width="337"/>
 </p>
 <font face="Arial">
  <p>
   Notes: My rather serious facial expression has to do with 
			conveying the idea of something massive and imposing. This isn't the 
			same as the "CHA!" mouth morpheme which means "very large."  
			I'm not simply implying "largeness" here but rather I'm also 
			implying solidity and sturdiness.
   <br/>
  </p>
  <hr align="left" color="#000000" size="1" width="50%"/>
  <p>
   <br/>
   PILLAR (Version: Smaller vertical cylinder, support beam, smaller 
			tree trunk)
   <br/>
   <img border="0" height="320" src="/images/pillar-29.jpg" width="262"/>
   <img border="0" height="320" src="/images/pillar-30.jpg" width="262"/>
   <img border="0" height="320" src="/images/pillar-31.jpg" width="262"/>
   <br/>
   Notes: In this version I hold my hands closer together and I use a 
			mouth morpheme that indicates "smallness."
   <br/>
  </p>
  <hr align="left" color="#000000" size="1" width="50%"/>
  <p>
   Also see:
   <a href="pole.htm">
    POLE
   </a>
   <br/>
   Also see:
   <a href="../t/tree.htm">
    TREE
   </a>
  </p>
  <hr align="left" color="#000000" size="1"/>
  <p align="center" style="margin-top: 0; margin-bottom: 0">
   <font face="Arial" size="1">
    You can learn
    <a href="http://lifeprint.com" style="text-decoration: none">
     American Sign Language (ASL)
    </a>
    online at American Sign Language University ™
    <br/>
    <a href="http://asl.ms" style="text-decoration: none">
     ASL
    </a>
    resources by Lifeprint.com  ©  Dr. William Vicars
   </font>
  </p>
 </font>
</blockquote>
