<blockquote>
 <hr align="left" color="#000000" size="1"/>
 <p style="margin-top: 0; margin-bottom: 0">
  <font face="Arial">
   THICK-PIZZA: Deep Dish
   <br/>
   There are quite a few ways to sign
   <a href="pizza.htm">
    PIZZA
   </a>
   .  
			Do one of them and then sign THICK.
   <br/>
   In my example (below) I'm spelling "pizza" using a lexicalized form 
			that overlaps the letters (note the second frame where the "P" and 
			the "I" are both visible at the same time) and uses the "double-Z" 
			(based on a "V" hand moving in a "Z" pattern).
   <br/>
   Then I use "C" handshapes to show how thick I want my pizza.  
			Okay, sure, I'm hamming it up a bit here (because pizza gets me 
			excited) but in ASL you've got to get used to using your face or 
			your stories will be boring.
   <br/>
   <br/>
   <img border="0" height="310" src="/images/pizza-p.jpg" width="309"/>
   <img border="0" height="310" src="/images/pizza-pi.jpg" width="309"/>
   <img border="0" height="310" src="/images/pizza-zz.jpg" width="309"/>
   <img border="0" height="310" src="/images/pizza-a.jpg" width="309"/>
   <img border="0" height="310" src="/images/thick.54.jpg" width="309"/>
   <img border="0" height="310" src="/images/thick.55.jpg" width="309"/>
  </font>
  <br/>
 </p>
 <font face="Arial">
  <hr align="left" color="#000000" size="1"/>
  <p align="center" style="margin-top: 0; margin-bottom: 0">
   <font face="Arial" size="1">
    You can learn
    <a href="http://lifeprint.com">
     American Sign Language (ASL)
    </a>
    online at American Sign Language University ™
    <br/>
    <a href="http://asl.ms" style="text-decoration: none">
     ASL
    </a>
    resources by Lifeprint.com  ©  Dr. William Vicars
   </font>
  </p>
 </font>
</blockquote>
