<blockquote>
 <hr align="left" color="#000000" size="1"/>
 <p style="margin-top: 0; margin-bottom: 0">
  The word "play" has several different signs depending on what you mean.
  <br/>
  If you mean play as in an "act" or a "drama," see:
  <font face="Arial">
   <a href="../t/theater.htm">
    See: 
	THEATER / act / play / drama
   </a>
  </font>
  <font face="Arial">
   <hr align="left" color="#000000" size="1"/>
  </font>
  <p style="margin-top: 0; margin-bottom: 0">
   <br/>
   If you mean "play" as in "playing around" then you can use the version 
	of this sign that shakes "Y" handshapes.
   <br/>
   <br/>
   PLAY (as in "play time," "playing,")
   <br/>
   <img border="0" src="/images/play.gif" style="max-width: 100%; height: auto" width="480"/>
   <p>
    <img border="0" height="238" src="/images/playb1.jpg" width="227"/>
    <img border="0" height="238" src="/images/playb2.jpg" width="227"/>
    <img border="0" height="238" src="/images/playb3.jpg" width="227"/>
    <img border="0" height="238" src="/images/playb4.jpg" width="227"/>
    <img border="0" height="238" src="/images/playb5.jpg" width="227"/>
    <img border="0" height="238" src="/images/playb6.jpg" width="227"/>
   </p>
   <p>
    Sample sentence: BASKETBALL, YOU LIKE PLAY? (Do you like to play 
	basketball?)
   </p>
   <p>
    <iframe allow="autoplay; encrypted-media" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/wSj0zfdppNc?rel=0" width="560">
    </iframe>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
   <br/>
   PLAYER:  To sign "player" simply add the "PERSON /
   <a href="../a/agent.htm">
    AGENT
   </a>
   " 
	sign to the sign PLAY.
   <br/>
   <font face="Arial">
    <iframe allow="autoplay; encrypted-media" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/4RrLQxKFJx8?rel=0" width="560">
    </iframe>
    <hr align="left" color="#000000" size="1"/>
    <p>
     PARTY:  The sign PLAY happens to be one of the versions of the sign 
	for "party."  There are four common ways to sign "party."  The 
	point I want to make here though is that you should NOT initialize the sign 
	play with a "P" hand.
     <br/>
     See:
     <a href="party.htm">
      PARTY
     </a>
    </p>
    <hr align="left" color="#000000" size="1"/>
   </font>
   <p>
    Notes:
    <br/>
    <font face="Arial">
     I've observed quite a few educators of Deaf children using an initialized form 
	of PLAY (with a "T" handshape) for the
  sign "TOYS."  Which is to say, some of them do the sign for 
	"toys" by signing "play" using
  "T" handshapes.   I don't really think that is such a good 
	idea.  To me it looks sort of like "double bathroom" or something.
     <br/>
     <br/>
     In context, the "Y" handshape version of the sign PLAY can be used to mean 
	"toys" but I and most of my associates just spell "T-O-Y-S."
    </font>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
  </p>
 </p>
</blockquote>
