<blockquote>
 <hr align="left" color="#000000" size="1"/>
 <p style="margin-top: 0; margin-bottom: 0">
  The sign for "police" represents the badge that police officers wear.
  <font face="Arial" size="2">
   Tap the right "C" hand on the upper left chest twice.
  </font>
  <br/>
  <p>
  </p>
  <p>
   POLICE:
  </p>
  <p>
   <img border="0" height="233" src="/images/police1.jpg" width="227"/>
   <img border="0" height="233" src="/images/police2.jpg" width="227"/>
   <img border="0" height="233" src="/images/police3.jpg" width="227"/>
   <img border="0" height="233" src="/images/police4.jpg" width="227"/>
  </p>
  <p>
   <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/dNi8hVsgL6I?rel=0" width="560">
   </iframe>
   <br/>
  </p>
  <hr align="left" color="#000000" size="1"/>
  <p>
   Here is another variation of the sign for POLICE:
   <br/>
   <img border="0" height="237" src="/images/policeb1.jpg" width="221"/>
   <img border="0" height="237" src="/images/policeb2.jpg" width="221"/>
   <img border="0" height="237" src="/images/policeb3.jpg" width="221"/>
   <img border="0" height="237" src="/images/policeb4.jpg" width="221"/>
  </p>
  <p>
   <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/TyxYhCL1RSA?rel=0" width="560">
   </iframe>
  </p>
  <p style="margin-top: 0; margin-bottom: 0">
   <br/>
   <hr align="left" color="#000000" size="1" width="50%"/>
   <p style="margin-top: 0; margin-bottom: 0">
    <br/>
    Sample sentence: "The police will arrive soon." = POLICE ARRIVE SOON
    <br/>
    <br/>
    <p style="margin-top: 0; margin-bottom: 0">
     <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/59Fb_7w-amg?rel=0" width="560">
     </iframe>
     <br/>
     <br/>
     Notes:
     <br/>
     I got an email asking about the one of the sign ins that sentence and realized I 
hadn't yet added the English description. So I added it :)
     <br/>
     <br/>
     Kim writes:
     <br/>
     <br/>
     Hey Dr. Vicars!
     <br/>
     First, thank you for your hard work and dedication for lifeprint.com. Your work 
is NOT in vain! I truly couldn't afford to take ASL in a paid college setting. 
Thank you so much!
     <br/>
     Now, when I looked up Police, there's a video. What is the last sign in the 
video (2 ”h” hands slide against each other)? Thank you in advance!
     <br/>
     - Kim
     <br/>
     <br/>
     Dear Kim,
     <br/>
     That sign is one of the variations of the sign for "soon."
     <br/>
     See:
     <a href="../s/soon.htm">
      SOON
     </a>
     <br/>
     -- Dr. V
     <br/>
     <br/>
    </p>
   </p>
  </p>
 </p>
</blockquote>
