<blockquote>
 <hr align="left" color="#000000" size="1" width="50%"/>
 <span style="font-weight: 400">
  <font face="Arial">
   <p style="margin-top: 0; margin-bottom: 0">
    To establish that something belongs 
to someone, you can aim the flat of your palm at the person or thing that is doing the
  possessing.  See "
    <a href="../m/my.htm">
     my
    </a>
    ."
   </p>
   <hr align="left" color="#000000" size="1" width="50%"/>
   <p style="margin-top: 0; margin-bottom: 0">
    Also see:
    <a href="../h/have.htm">
     HAVE
    </a>
   </p>
   <hr align="left" color="#000000" size="1" width="50%"/>
   <p>
    YOUR:
    <br/>
    <object classid="CLSID:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=8,0,0,0" height="275" id="FVS" width="320">
     <param name="movie" value="../y/your_player.swf?908115224"/>
     <param name="bgcolor" value="#ffffff"/>
     <param name="allowfullscreen" value="true"/>
     <embed allowfullscreen="true" bgcolor="#ffffff" height="275" name="FVS" pluginspage='http://www.macromedia.com/go/getflashplayer"' src="../y/your_player.swf?908115224" type="application/x-shockwave-flash" width="320"/>
    </object>
    <img border="0" height="273" src="/images/your.h1.jpg" width="248"/>
   </p>
   <hr/>
   <p>
    <a href="../t/their.htm">
     THEIR
    </a>
    :
    <br/>
    Use a sweeping "b-palm" off to the right-hand side.  Or, if the
  group is somewhere in the room, do it in their direction.
    <br/>
    <object classid="CLSID:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=8,0,0,0" height="275" id="FVS0" width="320">
     <param name="movie" value="../t/theirs_player.swf?20921409"/>
     <param name="bgcolor" value="#ffffff"/>
     <param name="allowfullscreen" value="true"/>
     <embed allowfullscreen="true" bgcolor="#ffffff" height="275" name="FVS0" pluginspage='http://www.macromedia.com/go/getflashplayer"' src="../t/theirs_player.swf?20921409" type="application/x-shockwave-flash" width="320"/>
    </object>
    <img border="0" height="200" src="/images/their1.jpg" width="180"/>
    <img border="0" height="200" src="/images/their2.jpg" width="180"/>
   </p>
   <hr/>
   <p>
    ITS:
    <br/>
    This sign can mean, his, hers, or its.
    <br/>
    For "ITS" I angle the palm a little more downward and/or toward that to which 
I'm referring.
    <br/>
    <img border="0" height="222" src="/images/its1.jpg" width="249"/>
    <img border="0" height="222" src="/images/its2.jpg" width="249"/>
   </p>
   <hr color="#800080"/>
   <p>
    <a href="../o/our.htm">
     OUR
    </a>
    :
    <br/>
    <font color="#000000" face="Arial" id="role_document0" size="2">
     <object classid="CLSID:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=8,0,0,0" height="275" id="FVS1" width="320">
      <param name="movie" value="../o/our_player.swf?218294311"/>
      <param name="bgcolor" value="#ffffff"/>
      <param name="allowfullscreen" value="true"/>
      <embed allowfullscreen="true" bgcolor="#ffffff" height="275" name="FVS1" pluginspage='http://www.macromedia.com/go/getflashplayer"' src="../o/our_player.swf?218294311" type="application/x-shockwave-flash" width="320"/>
     </object>
    </font>
    <font color="#000000" face="Arial" id="role_document1" size="2">
     <img border="0" height="238" src="/images/our.ht1.jpg" width="320"/>
     <img border="0" height="239" src="/images/our.ht2.jpg" width="320"/>
    </font>
   </p>
   <hr color="#800080"/>
  </font>
 </span>
</blockquote>
