<blockquote>
 <font face="Arial">
  <hr align="left" color="#000000" size="1"/>
  <p>
   To sign "pressure," use the dominant 5-hand (or flat hand) to press the weak S-hand downward twice.
   <br/>
  </p>
  <p>
   PRESSURE /  stress:
   <br/>
   <img border="0" height="222" src="/images/pressu1.jpg" width="203"/>
   <img border="0" height="222" src="/images/pressu2.jpg" width="203"/>
   <img border="0" height="222" src="/images/pressu1.jpg" width="203"/>
   <img border="0" height="222" src="/images/pressu2.jpg" width="203"/>
   <br/>
  </p>
  <hr align="left" color="#000000" size="1" width="50%"/>
  <p>
   Note:
   <br/>
   If you do the sign for "pressure" using only a single 
			movement it can mean "oppression" or "oppressed."
   <br/>
  </p>
  <hr align="left" color="#000000" size="1"/>
  <p align="center" style="margin-top: 0; margin-bottom: 0">
   <font face="Arial" size="1">
    You can learn 
		American
    <a href="http://www.lifeprint.com" style="text-decoration: none">
     Sign 
		Language
    </a>
    (ASL) online at American Sign Language University ™
    <br/>
    <a href="http://asl.ms" style="text-decoration: none">
     ASL
    </a>
    resources by Lifeprint.com  ©  Dr. William Vicars
   </font>
  </p>
 </font>
</blockquote>
