<blockquote>
 <hr align="left" color="#000000" size="1"/>
 In the Deaf world, this sign is often used to mean "superintendent"
  of a Deaf school.
 <br/>
 Think of the hats worn by leaders during the colonial times.
 <br/>
 <p>
  <br/>
  PRESIDENT:
 </p>
 <p>
  <img border="0" src="/images/president.gif" style="max-width: 100%; height: auto" width="480"/>
 </p>
 <p>
  <img border="0" height="239" src="/images/president1.jpg" width="310"/>
  <img border="0" height="239" src="/images/president2.jpg" width="310"/>
  <img border="0" height="239" src="/images/president3.jpg" width="310"/>
 </p>
 <font face="Arial" size="2">
  <hr align="left" color="#000000" size="1"/>
 </font>
 <p>
  PRESIDENT-[version]:
 </p>
 <p>
  <font face="Arial" size="2">
   <img border="0" src="/images/president-2.gif" style="max-width: 100%; height: auto" width="480"/>
  </font>
 </p>
 <p>
 </p>
 <hr align="left" color="#000000" size="1"/>
 <p style="margin-top: 0; margin-bottom: 0">
  Also see:
  <a href="../v/vice_president.htm">
   VICE-PRESIDENT
  </a>
  <br/>
 </p>
 <font face="Arial">
  <hr align="left" color="#000000" size="1"/>
 </font>
</blockquote>
