<blockquote>
 <hr align="left" color="#000000" size="1"/>
 <p style="margin-top: 0; margin-bottom: 0">
  Many Deaf just spell the word "pretzel."  There is a sign though that 
is "out there."
  <br/>
  The sign for "
  <span style="font-weight: 400">
   <font face="Arial">
    pretzel
   </font>
  </span>
  " uses 
"R" handshapes to draw the shape of a pretzel in the air.
  <br/>
  <span style="font-weight: 400">
   <font face="Arial">
    <p style="margin-top: 0; margin-bottom: 0">
     <object classid="CLSID:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=8,0,0,0" height="359" id="FVS" width="325">
      <param name="movie" value="pretzle_player.swf?292888786"/>
      <param name="bgcolor" value="#ffffff"/>
      <param name="allowfullscreen" value="true"/>
      <embed allowfullscreen="true" bgcolor="#ffffff" height="359" name="FVS" pluginspage='http://www.macromedia.com/go/getflashplayer"' src="pretzle_player.swf?292888786" type="application/x-shockwave-flash" width="325"/>
     </object>
     <img border="0" height="360" src="/images/pretzel-0.jpg" width="360"/>
    </p>
    <hr align="left" color="#000000" size="1" width="50%"/>
    <p style="margin-top: 0; margin-bottom: 0">
     <img border="0" height="360" src="/images/pretzel1.jpg" width="360"/>
     <img border="0" height="360" src="/images/pretzel2.jpg" width="360"/>
     <img border="0" height="360" src="/images/pretzel3.jpg" width="360"/>
     <img border="0" height="360" src="/images/pretzel4.jpg" width="360"/>
     <img border="0" height="360" src="/images/pretzel5.jpg" width="360"/>
     <img border="0" height="360" src="/images/pretzel6.jpg" width="360"/>
     <br/>
    </p>
   </font>
  </span>
 </p>
 <hr align="left" color="#000000" size="1" width="50%"/>
 <p style="margin-top: 0; margin-bottom: 0">
  <br/>
  Notes:
  <br/>
  On Oct 19, 2011, at 5:05 AM,
  <b>
   Derek Smith
  </b>
  wrote:
 </p>
 <p class="MsoNormal">
  "... I work at Magnolia School in Orlando Florida. Me 
an another teacher are team teaching the teachers at our school sign 
language every Wednesday morning. I was wondering if you could share your 
sign for Pretzel? We we're arguing this morning who was correct. Could you 
help us? Maybe send a video back to me?
  <br/>
  Thank you.
  <br/>
  Sincerely
  <br/>
  Derek
 </p>
 <p class="MsoNormal">
  On Oct 19, 2011, at 11:29 PM, "Bill Vicars" wrote:
 </p>
 <p class="MsoNormal">
  Derek,
  <br/>
  Hello :)
  <br/>
  I use "R"-handshapes. I touch them or nearly touch the tips of the "R"-hands 
in the air in front of me and then move both hands simultaneously out to the 
side and down and loop them back in and up again.  Thus "drawing" a pretzel 
in the air.
  <br/>
  So, how do you do it in your neck of the woods?
  <br/>
  Cordially,
  <br/>
  Bill
  <br/>
  ____________________
 </p>
 <p style="margin-top: 0; margin-bottom: 0">
  To which Derek sent me a video 
from which I pulled the following pics:
 </p>
 <p style="margin-top: 0; margin-bottom: 0">
  <br/>
  PRETZEL (version seen in Orlando, demonstrated by Derek)
  <br/>
  <img border="0" height="300" src="/images/pretze2.jpg" width="300"/>
  <img border="0" height="300" src="/images/pretze3.jpg" width="300"/>
  <img border="0" height="300" src="/images/pretze4.jpg" width="300"/>
  <img border="0" height="300" src="/images/pretze5.jpg" width="300"/>
 </p>
 <p style="margin-top: 0; margin-bottom: 0">
  <br/>
  Dereck,
  <br/>
  Thanks for sharing that version of "pretzel" with me.
  <br/>
  I always enjoy seeing local or regional variations of signs. I'm also very 
cautious about making any claims
  <font face="Arial">
   as to whether any particular version of a sign is "right" since a sign that 
is recognized and used in one part of the world may or may not be used and 
recognized in another part of the world.  So, your sign may indeed be a 
fine version for your location.
   <br/>
   I'll share with you a couple thoughts regarding the sign you demonstrated 
(the one you are using which links the index and thumb of both hands, rotates, and links 
them again).
   <br/>
   1. The linking movement is commonly used as the sign for "the Olympics."
   <br/>
   2. The linking version is also the general sign for "chain."
   <br/>
   3. Most pretzels are not in a "chain" shape but rather they are in a knot 
shape.
   <br/>
   4. The classifier "R" handshape (CL:R) is commonly associated with rope-like, 
braided, and/or twisted 
things. It is also used in two versions of the sign for "doughnut" 
(which 
involves dough that has been rolled or cut into a rope-like shape and made 
into a circle).  Thus there is somewhat of a precedent for preferring 
an "R" handshape for signs involving rope-like dough shapes such as a 
pretzel.
   <br/>
   In your video, you mentioned that your
   <i>
    student
   </i>
   uses that version.
   <br/>
   If you were to survey 10 or more
   <b>
    adult Deaf native
   </b>
   ASL users in your 
location I would predict that many of them would simply spell P-R-E-T-Z-E-L. 
If in your local investigations you notice that a majority of Deaf sign 
"pretzel" a specific way, I certainly do encourage you to do it the way the 
locals do it.
   <br/>
   Cordially,
  </font>
 </p>
 <p style="margin-top: 0; margin-bottom: 0">
  Dr. Bill
  <br/>
 </p>
 <font face="Arial">
  <hr align="left" color="#000000" size="1"/>
 </font>
</blockquote>
