<blockquote>
 <hr align="left" color="#000000" size="1"/>
 <p>
  Hold up your non-dominant hand in a modified "four" handshape, (the thumb 
	is alongside, not across the palm). Hold your dominant hand about five 
	inches away from your non-dominant hand. (The dominant hand is between your 
	non-dominant hand and your chest or face.)  Then quickly move your 
	dominant hand forward until it smacks into your non-dominant hand.
  <br/>
  <br/>
  PRISON or JAIL:
  <br/>
  <img border="0" height="223" src="/images/prison25.jpg" width="203"/>
  <img border="0" height="223" src="/images/prison26.jpg" width="203"/>
  <br/>
 </p>
 <font face="Arial">
  <hr align="left" color="#000000" size="1"/>
 </font>
 <p>
  <br/>
  Another version of this sign that I tend to see used more for jail uses "V" 
	handshapes.
  <br/>
  <br/>
  PRISON or JAIL
 </p>
 <p>
  <img border="0" height="219" src="/images/prison27.jpg" width="193"/>
  <img border="0" height="219" src="/images/prison28.jpg" width="193"/>
  <br/>
 </p>
 <font face="Arial">
  <hr align="left" color="#000000" size="1"/>
 </font>
 <br/>
 You might see this version too.  For this version the dominant "V" hand moves quickly forward and down slightly until the 
  back of the index and middle fingers slap against the front of the 
			non-dominant hand's 
  index and middle fingers. The dominant hand keeps moving forward and down past 
			the non-dominant hand.
 <font face="Arial">
  I see this version used somewhat more as a verb. ("To be thrown in 
			the slammer!)
 </font>
 <br/>
 <font face="Arial">
  <br/>
  JAIL: (version 2)
 </font>
 <br/>
 <img border="0" height="220" src="/images/prison29.jpg" width="206"/>
 <img border="0" height="220" src="/images/prison30.jpg" width="206"/>
 <img border="0" height="220" src="/images/prison31.jpg" width="206"/>
 <p style="margin-top: 0; margin-bottom: 0">
  <br/>
 </p>
 <font face="Arial">
  <hr align="left" color="#000000" size="1"/>
  <p align="center" style="margin-top: 0; margin-bottom: 0">
   <font face="Arial" size="1">
    You can learn
    <a href="http://lifeprint.com" style="text-decoration: none">
     American Sign Language (ASL)
    </a>
    online at American Sign Language University ™
    <br/>
    <a href="http://asl.ms" style="text-decoration: none">
     ASL
    </a>
    resources by Lifeprint.com  ©  Dr. William Vicars
   </font>
  </p>
 </font>
</blockquote>
