<blockquote>
 <span style="font-weight: 400">
  <font face="Arial">
   <hr align="left" color="#000000" size="1"/>
   <p style="margin-top: 0; margin-bottom: 0">
    One of the means of "put down" is to "to record," "make a note of something," 
"write something down," 
or "put it down on paper."
    <br/>
    <br/>
    If you want to know how to sign "make a note of" see:
    <a href="../n/note.htm">
     NOTE
    </a>
    <br/>
    <hr align="left" color="#000000" size="1"/>
    <p style="margin-top: 0; margin-bottom: 0">
     <br/>
     Another meaning of "put down" is to criticize.  See:
     <a href="../c/criticize.htm">
      CRITICIZE
     </a>
     <br/>
    </p>
    <hr align="left" color="#000000" size="1" width="50%"/>
    <p style="margin-top: 0; margin-bottom: 0">
     <br/>
     If you mean "put down" as in "put something down on the table," See:
     <a href="put.htm">
      PUT
     </a>
    </p>
   </p>
  </font>
 </span>
</blockquote>
