<blockquote>
 <hr align="left" color="#000000" size="1"/>
 It is common for the concept of "quiz" to just be fingerspelled, 
			"Q-U-I-Z."
 <br/>
 However, quite a few people use a version of the sign for "test" to 
			mean "quiz."
 <p>
  <font face="Arial">
   See:
   <a href="../t/test.htm">
    TEST
   </a>
  </font>
  <br/>
  <br/>
  QUIZ (fingerspelled version)
  <br/>
  <img border="0" height="320" src="/images/q.gif" width="320"/>
  <img border="0" height="320" src="/images/u.gif" width="320"/>
  <img border="0" height="320" src="/images/i.gif" width="320"/>
  <img border="0" height="320" src="/images/z.gif" width="320"/>
 </p>
 <p style="margin-top: 0; margin-bottom: 0">
  <hr align="left" color="#000000" size="1" width="50%"/>
  <p style="margin-top: 0; margin-bottom: 0">
  </p>
  <font face="Arial">
   <hr align="left" color="#000000" size="1"/>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
    <font face="Arial" size="1">
     You can learn
     <a href="http://lifeprint.com" style="text-decoration: none">
      American Sign Language (ASL)
     </a>
     online at American Sign Language University ™
     <br/>
     <a href="http://asl.ms" style="text-decoration: none">
      ASL
     </a>
     resources by Lifeprint.com  ©  Dr. William Vicars
    </font>
   </p>
  </font>
 </p>
</blockquote>
