<blockquote>
 <hr align="left" color="#000000" size="1"/>
 <p style="margin-top: 0; margin-bottom: 0">
  The fingertips represent droplets from the sky.
  <br/>
 </p>
 <p style="margin-top: 0; margin-bottom: 0">
  <br/>
  RAIN:
 </p>
 <p style="margin-top: 0; margin-bottom: 0">
  <img border="0" src="/images/rain.gif" style="max-width: 100%; height: auto" width="480"/>
 </p>
 <p style="margin-top: 0; margin-bottom: 0">
  <img border="0" height="228" src="/images/rain1.jpg" width="302"/>
  <img border="0" height="228" src="/images/rain2.jpg" width="302"/>
  <img border="0" height="228" src="/images/rain3.jpg" width="302"/>
  <img border="0" height="228" src="/images/rain4.jpg" width="302"/>
  <img border="0" height="228" src="/images/rain5.jpg" width="302"/>
  <img border="0" height="228" src="/images/rain6.jpg" width="302"/>
  <br/>
 </p>
 <hr align="left" color="#000000" size="1"/>
 <p style="margin-top: 0; margin-bottom: 0">
  <br/>
  Another version of rain.  The sideways motion would indicate somewhat
  of a wind is blowing.  If you use an intense facial expression it could
  mean "a driven rain."
  <br/>
  <br/>
  <img border="0" height="236" src="/images/rain-b1.jpg" width="313"/>
  <img border="0" height="236" src="/images/rain-b2.jpg" width="313"/>
  <img border="0" height="236" src="/images/rain-b3.jpg" width="313"/>
  <img border="0" height="236" src="/images/rain-b4.jpg" width="313"/>
  <img border="0" height="236" src="/images/rain-b5.jpg" width="313"/>
  <img border="0" height="236" src="/images/rain-b6.jpg" width="313"/>
  <br/>
 </p>
 <p style="margin-top: 0; margin-bottom: 0">
 </p>
 <hr align="left" color="#000000" size="1"/>
 <p style="margin-top: 0; margin-bottom: 0">
  <br/>
  Raining cats and dogs:
  <br/>
 </p>
 <p style="margin-top: 0; margin-bottom: 0">
  <font face="Arial">
   <img border="0" src="/images/rain-hard.gif" style="max-width: 100%; height: auto" width="480"/>
  </font>
 </p>
 <p style="margin-top: 0; margin-bottom: 0">
  <img border="0" height="231" src="/images/rain-heavy1.jpg" width="319"/>
  <img border="0" height="231" src="/images/rain-heavy2.jpg" width="319"/>
  <img border="0" height="231" src="/images/rain-heavy3.jpg" width="319"/>
  <img border="0" height="231" src="/images/rain-heavy4.jpg" width="319"/>
  <img border="0" height="231" src="/images/rain-heavy5.jpg" width="319"/>
  <img border="0" height="231" src="/images/rain-heavy6.jpg" width="319"/>
  <img border="0" height="231" src="/images/rain-heavy7.jpg" width="319"/>
  <img border="0" height="231" src="/images/rain-heavy8.jpg" width="319"/>
  <img border="0" height="231" src="/images/rain-heavy9.jpg" width="319"/>
  <img border="0" height="231" src="/images/rain-heavy10.jpg" width="319"/>
 </p>
 <p style="margin-top: 0; margin-bottom: 0">
  <hr align="left" color="#000000" size="1" width="50%"/>
  <p style="margin-top: 0; margin-bottom: 0">
   <br/>
   <font face="Arial">
    Sample sentence:
    <span style="font-weight: 400">
     "If it rains tomorrow, the game will be 
	canceled."
     <br/>
     = TOMORROW RAIN? GAME CANCEL.
     <br/>
    </span>
    <br/>
    <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/utTSQeTEDxk?rel=0" width="560">
    </iframe>
    <br/>
   </font>
  </p>
  <font face="Arial">
   <hr align="left" color="#000000" size="1"/>
   <p style="margin-top: 0; margin-bottom: 0">
    See:
    <a href="../s/storm.htm">
     STORM
    </a>
   </p>
   <hr align="left" color="#000000" size="1"/>
  </font>
 </p>
</blockquote>
