<blockquote>
 <hr align="left" color="#000000" size="1"/>
 <font face="Arial">
  Spell:  R-E-F
  <br/>
  <br/>
  REFRIGERATOR (recommended version)
  <b>
   <font face="Verdana" size="5">
    <br/>
   </font>
  </b>
  <img border="0" src="/images/refrigerator-r-e-f.gif" style="max-width: 100%; height: auto" width="480"/>
  <p>
   <b>
    <font face="Verdana" size="5">
     <img border="0" height="240" src="/images/r.gif" width="240"/>
     <img border="0" height="240" src="/images/e.gif" width="240"/>
     <img border="0" height="240" src="/images/f.gif" width="240"/>
     <br/>
     <br/>
    </font>
   </b>
   Sample sentence: "Is your refrigerator full?"
   <br/>
   <b>
    <font face="Verdana" size="5">
     <br/>
     <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/HlBMGQFpkks?rel=0" width="560">
     </iframe>
    </font>
   </b>
   <br/>
  </p>
  <hr align="left" color="#000000" size="1"/>
  <p>
   <br/>
   Refrigerator:
   <br/>
   Some people are likely to say that the initialized version of refrigerator 
	(below) is not an ASL sign--that it is
  "signed English."
   <br/>
   I think if you've interviewed enough "Deaf Native ASL" signers (as I have) you 
	will become convinced that every one of them recognizes this sign in 
	context, and many use it as their preferred sign for "refrigerator."
	Just because a sign has an "English" letter in it doesn't mean it is "signed English."  But many teachers are inflexible 
	about it, so do it their way until you get your grade.  To do this 
	version of the sign refrigerator you simply form "R" hands and then do a 
	slight shaking ("shivering") motion of the forearms. It is an
  initialized version of the sign "
   <a href="/images/cold.gif">
    COLD
   </a>
   ."
   <br/>
  </p>
  <p>
   <img border="0" height="240" src="/images/refrigerator1.jpg" width="240"/>
   <img border="0" height="240" src="/images/refrigerator2.jpg" width="240"/>
   <img border="0" height="240" src="/images/refrigerator3.jpg" width="240"/>
   <img border="0" height="240" src="/images/refrigerator4.jpg" width="240"/>
  </p>
  <p>
   <br/>
   Another way to sign this is to use an initialized version of the sign for
  "
   <a href="../d/door.htm">
    door
   </a>
   ." Use "R" hands instead of "flat hands."
  </p>
 </font>
 <hr align="left" color="#000000" size="1" width="50%"/>
 <p style="margin-top: 0; margin-bottom: 0">
 </p>
 <font face="Arial">
  <hr align="left" color="#000000" size="1"/>
  <p align="center" style="margin-top: 0; margin-bottom: 0">
   <font face="Arial" size="1">
    You can learn
    <a href="http://lifeprint.com">
     American Sign Language (ASL)
    </a>
    online at American Sign Language University ™
    <br/>
    <a href="http://asl.ms" style="text-decoration: none">
     ASL
    </a>
    resources by Lifeprint.com  ©  Dr. William Vicars
   </font>
  </p>
 </font>
</blockquote>
