<blockquote>
 <hr align="left" color="#000000" size="1"/>
 To sign "restaurant" touch an "R" handshape to the corner of your 
chin, then touch it to the other corner of your chin.
 <br/>
 <br/>
 RESTAURANT:
 <br/>
 <img border="0" height="223" src="/images/restau15.jpg" width="196"/>
 <img border="0" height="223" src="/images/restau16.jpg" width="196"/>
 <br/>
 <br/>
 <font face="Arial">
  Sample sentence:
"What is the name of a restaurant you like to eat at?" = RESTAURANT 
YOU LIKE EAT, (what)-NAME?
  <br/>
  <br/>
  <object classid="CLSID:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=8,0,0,0" height="275" id="FVS" width="320">
   <param name="movie" value="../23/restaurant-you-like-eat-name_player.swf?68192569"/>
   <param name="bgcolor" value="#ffffff"/>
   <param name="allowfullscreen" value="true"/>
   <embed allowfullscreen="true" bgcolor="#ffffff" height="275" name="FVS" pluginspage='http://www.macromedia.com/go/getflashplayer"' src="../23/restaurant-you-like-eat-name_player.swf?68192569" type="application/x-shockwave-flash" width="320"/>
  </object>
  <br/>
 </font>
 <font face="Arial">
  <hr align="left" color="#000000" size="1"/>
 </font>
 <p>
  <br/>
  CAFETERIA or CAFE:
  <br/>
  <img border="0" height="223" src="/images/restau17.jpg" width="206"/>
  <img border="0" height="223" src="/images/restau18.jpg" width="206"/>
 </p>
 <p>
  <br/>
  cafeteria animation:
  <br/>
  <img border="0" height="69" src="/images/cafeteria.gif" width="86"/>
 </p>
 <font face="Arial">
  <hr align="left" color="#000000" size="1"/>
 </font>
</blockquote>