<blockquote>
 <font face="Arial">
  <hr align="left" color="#000000" size="1"/>
  <p>
   The sign for "rest" as in "not work" can also be used to 
			mean "relax" (but most of the time, "relax" is initialized with an 
			"R" -- see below).
   <br/>
   <br/>
   The sign for "rest" crosses the arms over the chest. The 
			hands are "loose" hands. The sign starts by touching the upper chest 
			and then visibly "relaxing" the hands and arms so they lay more flat 
			on your chest.
   <br/>
   <br/>
   REST:
  </p>
  <p>
   <img border="0" height="239" src="/images/rest.h25.jpg" width="217"/>
   <img border="0" height="239" src="/images/rest.h26.jpg" width="217"/>
   <br/>
  </p>
  <hr align="left" color="#000000" size="1"/>
  <p>
   <br/>
   The sign for "relax" is an initialized version of the sign "REST."
   <br/>
   You don't have to initialize this sign.  In context you can just use the 
	sign for "REST" and it can still mean "relax" -- but since many people use 
	this "R"-handed version I think you should know it.
   <br/>
   <br/>
   RELAX:
  </p>
  <p>
   <img border="0" height="237" src="/images/rest.h27.jpg" width="196"/>
   <img border="0" height="237" src="/images/rest.h28.jpg" width="196"/>
  </p>
  <p>
  </p>
  <hr align="left" color="#000000" size="1"/>
  <p align="center" style="margin-top: 0; margin-bottom: 0">
   <font face="Arial" size="1">
    You can learn American
    <a href="http://www.lifeprint.com" style="text-decoration: none">
     Sign 
		Language
    </a>
    (ASL) online at American Sign Language University ™
    <br/>
    <a href="http://asl.ms" style="text-decoration: none">
     ASL
    </a>
    resources 
		by Lifeprint.com  ©  Dr. William Vicars
   </font>
  </p>
 </font>
</blockquote>
