<blockquote>
 <hr align="left" color="#000000" size="1"/>
 <p>
  <br/>
  RIVER:
 </p>
 <p>
  <img border="0" height="221" src="/images/river.1.jpg" width="214"/>
  <img border="0" height="221" src="/images/river.3.jpg" width="214"/>
  <img border="0" height="221" src="/images/river.4.jpg" width="214"/>
  <img border="0" height="221" src="/images/river.6.jpg" width="214"/>
 </p>
 <font face="Arial">
  <hr align="left" color="#000000" size="1" width="25%"/>
 </font>
 <img border="0" height="221" src="/images/river.gif" width="214"/>
 <br/>
 <font face="Arial">
  <hr align="left" color="#000000" size="1"/>
 </font>
 <p>
  <br/>
  RIVER (VERSION 2)
  <br/>
  Another way to sign "river" uses "wiggling" fingers.  You do the same 
  sign as version 1 of "river," but you also wiggle your fingers.  For an 
  example see the animation link:
  <br/>
  <img border="0" height="215" src="/images/riverwiggle.gif" width="225"/>
 </p>
 <p style="margin-top: 0; margin-bottom: 0">
  <hr align="left" color="#000000" size="1" width="50%"/>
  <p style="margin-top: 0; margin-bottom: 0">
   <br/>
   NOTES:
   <br/>
   Some people use the signs
   <a href="../w/water.htm">
    WATER
   </a>
   and
   <a href="../s/street.htm">
    STREET
   </a>
   -(way/path) to mean "river."
   <br/>
  </p>
  <font face="Arial">
   <hr align="left" color="#000000" size="1"/>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
    <font face="Arial" size="1">
     You can learn
     <a href="http://lifeprint.com" style="text-decoration: none">
      American Sign Language (ASL)
     </a>
     online at American Sign Language University ™
     <br/>
     <a href="http://asl.ms" style="text-decoration: none">
      ASL
     </a>
     resources by Lifeprint.com  ©  Dr. William Vicars
    </font>
   </p>
  </font>
 </p>
</blockquote>
