<blockquote>
 <p align="right">
  <img alt="back.gif (1674 bytes)" border="0" height="28" onclick="history.go(-1)" src="/images/back.gif" width="54"/>
 </p>
 <h1 align="center">
  <b>
   <i>
    rootbeer
   </i>
  </b>
 </h1>
 <p>
  Just touch an "R" then a "B" to the side of your chin.
 </p>
 <hr color="#800080"/>
 <p>
  <img border="0" height="222" src="/images/rootbeer1.jpg" width="204"/>
  <img border="0" height="222" src="/images/rootbeer2.jpg" width="204"/>
 </p>
 <hr color="#800080"/>
 <p align="right">
  <img alt="back.gif (1674 bytes)" border="0" height="28" onclick="history.go(-1)" src="/images/back.gif" width="54"/>
  <br/>
 </p>
 <p>
  <b>
   Sign
  </b>
  : ROOTBEER
  <br/>
  <b>
   Synonyms
  </b>
  :
  <br/>
  <b>
   Handshape
  </b>
  :
  <br/>
  <b>
   Right Hand
  </b>
  :
  <br/>
  <b>
   Left Hand
  </b>
  :
  <br/>
  <b>
   Location
  </b>
  :
  <br/>
  <b>
   Orientation
  </b>
  :
  <br/>
  <b>
   Movement
  </b>
  :
  <br/>
  <b>
   Non-Manual Marker
  </b>
  (Facial expressions and or body language):
  <br/>
  <b>
   Description
  </b>
  :
  <br/>
  <b>
   Interpretations
  </b>
  :
  <br/>
  <b>
   Inflections
  </b>
  :
 </p>
</blockquote>
