<blockquote>
 <font face="Arial">
  <hr align="left" color="#000000" size="1"/>
  <p>
   <br/>
   The sign for "ruin" also means "spoil" as in "spoiled milk."
   <br/>
   The dominant-hand "X"-handshape is placed on top of the non-dominant "X"-handshape (both "X" 
  handshapes have the knuckle pointing forward rather than upward.  The 
  non-dominant hand doesn't move.  The dominant hand slides forward and 
	(usually) pivots up. The movement of the dominant hand is somewhat like a kid popping a wheelie on a bicycle.
   <br/>
   <br/>
   RUIN / SPOIL:
   <br/>
   <img border="0" height="224" src="/images/ruin.h69.jpg" width="178"/>
   <img border="0" height="224" src="/images/ruin.h70.jpg" width="178"/>
   <img border="0" height="224" src="/images/ruin.h71.jpg" width="178"/>
  </p>
  <hr align="left" color="#000000" size="1"/>
  <p>
   RUIN:  (side view)
  </p>
  <p>
   <img border="0" height="226" src="/images/ruin.h33.jpg" width="239"/>
   <img border="0" height="226" src="/images/ruin.h34.jpg" width="239"/>
   <img border="0" height="226" src="/images/ruin.h35.jpg" width="239"/>
   <br/>
  </p>
  <hr align="left" color="#000000" size="1"/>
  Note: If you mean spoiled as in "spoiled child" use the sign
  <a href="../p/pet.htm">
   PET
  </a>
  with an exaggerated movement and a 
  			disapproving facial expression."
  <hr align="left" color="#000000" size="1"/>
  <p>
   Also see:
   <a href="../t/tease.htm">
    TEASE
   </a>
  </p>
  <hr align="left" color="#000000" size="1"/>
  <p align="center" style="margin-top: 0; margin-bottom: 0">
   <font face="Arial" size="1">
    You can learn 
		American
    <a href="http://www.lifeprint.com" style="text-decoration: none">
     Sign 
		Language
    </a>
    (ASL) online at American Sign Language University ™
    <br/>
    <a href="http://asl.ms" style="text-decoration: none">
     ASL
    </a>
    resources by Lifeprint.com  ©  Dr. William Vicars
   </font>
  </p>
 </font>
</blockquote>
