<blockquote>
 <hr align="left" color="#000000" size="1"/>
 <p>
  SCARF:  Mime putting on a scarf.
 </p>
 <p>
  <img border="0" height="217" src="/images/scarf.31.jpg" width="209"/>
  <img border="0" height="217" src="/images/scarf.32.jpg" width="209"/>
  <img border="0" height="217" src="/images/scarf.33.jpg" width="209"/>
  <img border="0" height="217" src="/images/scarf.34.jpg" width="209"/>
  <img border="0" height="217" src="/images/scarf.35.jpg" width="209"/>
  <img border="0" height="217" src="/images/scarf.36.jpg" width="209"/>
  <img border="0" height="217" src="/images/scarf.37.jpg" width="209"/>
  <img border="0" height="217" src="/images/scarf.38.jpg" width="209"/>
 </p>
 <hr align="left" color="#000000" size="1"/>
 SCARF:  Animation
 <br/>
 <img border="0" height="217" src="/images/scarf.gif" width="209"/>
 <p style="margin-top: 0; margin-bottom: 0">
  <br/>
 </p>
 <font face="Arial">
  <hr align="left" color="#000000" size="1"/>
  <p align="center" style="margin-top: 0; margin-bottom: 0">
   <font face="Arial" size="1">
    You can learn
    <a href="http://lifeprint.com" style="text-decoration: none">
     American Sign Language (ASL)
    </a>
    online at American Sign Language University ™
    <br/>
    <a href="http://asl.ms" style="text-decoration: none">
     ASL
    </a>
    resources by Lifeprint.com  ©  Dr. William Vicars
   </font>
  </p>
 </font>
</blockquote>
