<blockquote>
 <hr align="left" color="#000000" size="1" width="50%"/>
 <span style="font-weight: 400">
  <font face="Arial">
   <p style="margin-top: 0; margin-bottom: 0">
    SEARCH / look for / seek:
    <br/>
    The dominant "C" hand draws two circles in front of the face.
    <br/>
    <br/>
    <iframe allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/S0388ARjqm0?rel=0" width="560">
    </iframe>
    <br/>
    <br/>
    <img border="0" height="240" src="/images/search10.jpg" width="236"/>
    <img border="0" height="240" src="/images/search11.jpg" width="236"/>
   </p>
   <hr align="left" color="#000000" size="1" width="50%"/>
  </font>
 </span>
</blockquote>
