<blockquote>
 <h1 style="margin-top: 0; margin-bottom: 0">
  <font face="Arial">
   <span style="font-weight: 400">
    <font size="5">
     American Sign Language: "season"
    </font>
   </span>
   <br/>
  </font>
 </h1>
 <p>
  <hr align="left" color="#000000" size="1" width="50%"/>
  <p>
   SEASON (time of year):
   <p>
    <img border="0" height="320" src="/images/season-01-small.jpg" width="320"/>
    <img border="0" height="320" src="/images/season-02-small.jpg" width="320"/>
    <img border="0" height="320" src="/images/season-03-small.jpg" width="320"/>
    <img border="0" height="320" src="/images/season-04-small.jpg" width="320"/>
    <img border="0" height="320" src="/images/season-05-small.jpg" width="320"/>
    <p>
     <iframe allow="encrypted-media" allowfullscreen="" frameborder="0" gesture="media" height="315" src="https://www.youtube.com/embed/8qcbSguVCVk?rel=0" width="560">
     </iframe>
     <p>
      <hr align="left" color="#000000" size="1"/>
      <script type="text/javascript">
       <!--
google_ad_client = "ca-pub-2513564923850231";
/* 728x15_link_ads_adsense1_bottom */
google_ad_slot = "2289748297";
google_ad_width = 728;
google_ad_height = 15;
//-->
      </script>
      <script src="//pagead2.googlesyndication.com/pagead/show_ads.js" type="text/javascript">
      </script>
      <p align="center" style="margin-top: 0; margin-bottom: 0">
      </p>
      <script type="text/javascript">
       <!--
google_ad_client = "ca-pub-2513564923850231";
/* 728x15_link_ads_adsense1_bottom */
google_ad_slot = "2289748297";
google_ad_width = 728;
google_ad_height = 15;
//-->
      </script>
      <script src="//pagead2.googlesyndication.com/pagead/show_ads.js" type="text/javascript">
      </script>
      <p align="center" style="margin-top: 0; margin-bottom: 0">
      </p>
      <script type="text/javascript">
       <!--
google_ad_client = "ca-pub-2513564923850231";
/* 728x15_link_ads_adsense1_bottom */
google_ad_slot = "2289748297";
google_ad_width = 728;
google_ad_height = 15;
//-->
      </script>
      <script src="//pagead2.googlesyndication.com/pagead/show_ads.js" type="text/javascript">
      </script>
      <hr align="left" color="#000000" size="1"/>
      <p>
       Notes:
       <br/>
      </p>
      <p>
       In reviewing Deaf Community use of the sign SEASON (that circles an S near 
and then contacts the palm) is seems that the sign SEASON definitely is used by 
a significant number of skilled signers for discussing seasons as in the four 
divisions of the year (spring, summer, autumn, and winter).
       <br/>
       <br/>
       As far as types of seasons such as TV seasons, holiday seasons, and sports 
seasons) we see:
       <br/>
       1. Some people use the SEASON sign
       <br/>
       2. Some people spell the word SEASON
       <br/>
       3. Some people use a set or combination of signs matched to a particular concept 
– particularly the TIME-period sign (that circles a “T” near the non-dominant 
palm and then ends with the “T” on the palm). [Edit] Another example is using 
the "TIME+SPAN" sign (TIME plus two flat hands held out in front of you showing 
a span of time).
       <br/>
       [Edit]
       <br/>
       4. * Some people circle a "1" around a non-dominant "4" to refer to "the 
seasons." This is particularly good for discussing how many seasons a region has 
and the non-dominant hand can vary 2/3/4 to indicate or match how many seasons 
are being discussed. If you use the 1-circles-1 version that tends to mean "a 
cycle" or "year round" (or can even mean "about" but there are other signs for 
"about").
       <br/>
       <br/>
       Notes and examples:
       <br/>
       <br/>
       Here we see SEASON used in the sense of Football and homecoming season:
       <br/>
       https://youtu.be/ux6CZt-CXBs?t=1341
       <br/>
       <br/>
       We can see Rogan Shannon sign SEASON in reference to a TV series:
       <br/>
       https://youtu.be/AgT1uAF_Ojg?t=199
       <br/>
       He also uses it to refer to the holiday season in other videos.
       <br/>
       <br/>
       TIME-period ("T" circled near palm and ends touching palm) for holiday season:
       <br/>
       https://youtu.be/3bFbHvIHOZI?t=100
       <br/>
       <br/>
       Another example of TIME-period using to mean season as in the holiday season:
       <br/>
       https://youtu.be/2Z6YX4cokjQ?t=215
       <br/>
       <br/>
       Here we see Meredeth using SEASON in regard to “baseball season.” https://youtu.be/4ePx-93ePNw?t=81 
She is hearing but has an M.A. in Teaching ASL as a Foreign Language and B.A. in 
Linguistics with a focus on sign language.) She also signs SEASON for “holiday 
season.”
       <br/>
       <br/>
       I saw at least one skilled ASL interpreter sign SEASON in regard to election 
season.
       <br/>
       <br/>
       Interestingly, those who normally use the sign SEASON for general time periods – 
if they are holding an object in one of their hands they tend to just spell 
“season.”
       <br/>
       <br/>
       Here we see the young Deaf fellow from “Signing Duo” doing a WTF?!? version of 
“season” (by waving an “S” around in the air). https://youtu.be/OUHNZaDMhIc?t=278 
This is only significant because of the sheer frigging volume of viewers those 
two have (close to 900K viewers) of which 20K have see that made up version of 
the sign for “season.”
       <br/>
       <br/>
       I have noticed that Alex Abenchuchan of the Daily moth tend to fingerspell 
"season" when referring to time periods other than weather-related.
       <br/>
       <br/>
       Renca Dunn seems to do either (spell or sign SEASON).
       <br/>
       Here she spells season in reference to a TV show season:
       <br/>
       https://youtu.be/_2cg2YLx6mg?t=432
       <br/>
       <br/>
       Yet here Renca signs SEASON in reference to a TV show season:
       <br/>
       https://youtu.be/iijUm8WqVxY?t=361 and again here: https://youtu.be/x52KEY_sg0o?t=572
       <br/>
       <br/>
       Summary:
       <br/>
       It would be good for ASL teachers to point out that some (but certainly not all) 
Deaf prefer to fingerspell season when referring to time-periods other than the 
four seasons of the year. Due to the fact that significant numbers of skilled 
ASL signers (including native Deaf signers) use or occasionally use the sign 
SEASON for time periods other than the four seasons of the year -- I think it 
would be inappropriate for an ASL teacher to claim that the sign SEASON “can’t 
or shouldn’t” be used to refer to time periods such as “holiday season,” 
“baseball season,” or “season 2” of a TV show.
       <br/>
      </p>
      <p>
       Note: The above links worked as of 12/3/2021.
       <br/>
      </p>
      <hr align="left" size="1" width="25%"/>
      <p>
       <br/>
       Note:
      </p>
      <p>
       * The 1-circling-4 version seems to be more back East and perhaps Canada. 
(Would be nice to have some input from up north). I literally do not see that 
1-circling-4 version sign used here in the West to mean "season" in a general 
sense but have seen it on rare occasion to discuss seasonality in terms of 
how-many seasons a region has.
       <br/>
       <br/>
       For what it is worth, in the half-a-dozen ASL textbooks I've taught from that 
1-circling-4 handshape is "not" listed as a version of "SEASON." I don't think 
it is listed in any of the several dozen ASL dictionaries I keep on my shelf 
with the possible exception of the one I have that was printed in Canada. Will 
go look... nope -- not there. (The Canadian Dictionary of ASL only shows to 
fingerspell "season" - plus they show shaking a "C" hand to mean "season" as in 
to add seasoning to food (and I love them for that!).
       <br/>
       <br/>
       I just recently asked a fellow skilled Deaf signer (ASL teacher, socially 
active, blah, blah, blah) who grew up in the western U.S. "Have you ever seen 
this sign used to mean "seasons?" The person replied "no." We both noted that we 
like the sign and that it is an obvious fit for discussing seasonality and 
specifically indicating four seasons.
       <br/>
       For example, "UTAH HAVE SEASONS-4. MICH HAVE SEASONS-2, WINTER, CONSTRUCTION."
       <br/>
       (Utah has four seasons. Michigan has two seasons -- winter and construction 
season.)
       <br/>
       <br/>
       Thus if a person is an interpreter working on a relay system that covers both 
the east and/or west it would seem a good idea to keep watch for any confused 
looks on the client when using the SEASONS-4 sign.
       <br/>
       <br/>
       However it is a really beautiful sign and well worth having in one's signing 
toolbox.
       <br/>
       <br/>
      </p>
      <p>
      </p>
      <p>
      </p>
      <p>
      </p>
      <p>
      </p>
      <p>
      </p>
      <div>
       <div>
        In a message dated 4/29/2006 11:59:08 PM Pacific Daylight Time, 
			gryph@ writes:
       </div>
       <blockquote style="PADDING-LEFT: 5px; MARGIN-LEFT: 5px; BORDER-LEFT: blue 2px solid">
        <font color="#000000" face="Arial" size="2" style="BACKGROUND-COLOR: transparent">
         Dear Dr. Vicars,
         <br/>
         I really want to find this particular sign, the one for "season."
         <br/>
         I
			don't mean season as in seasoning your food, I mean as in "periods 
			of 
			the year." I'm trying to do a direct word-to-sign translation of 
			"Seasons of Love" from the musical 'Rent' and I can't find the sign 
			for 
			"Seasons" anywhere.
         <br/>
         Help?
         <br/>
         Thanks,
         <br/>
         Adam
        </font>
       </blockquote>
      </div>
      <div>
       Adam,
       <br/>
       Place your right fist on your left palm. The thumb side of your fist 
		should be against the palm.
       <br/>
       Now move your right hand as if turning a small crank.  The left hand 
		stays stationary.
       <br/>
       Do one complete revolution and you are done.
       <br/>
       --Dr. Bill
      </div>
      <p style="margin-top: 0; margin-bottom: 0">
      </p>
      <hr align="left" color="#000000" size="1"/>
     </p>
     <hr align="left" color="#000000" size="1"/>
     <p style="margin-top: 0; margin-bottom: 0">
      <br/>
      * 
Want to help support ASL University?  It's
      <i>
       easy
      </i>
      :
      <b>
       <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&amp;hosted_button_id=XHRNABERKJT4N" rel="nofollow" target="_blank">
        <u>
         DONATE
        </u>
       </a>
      </b>
      <font size="2">
       (
       <i>
        Thanks!
       </i>
       )
      </font>
      <br/>
      <br/>
      <font face="Arial">
       *
      </font>
      Another way to help is to buy something from Dr. Bill's "
      <b>
       <a href="../../../bookstore/bookstore.htm">
        <u>
         Bookstore
        </u>
       </a>
      </b>
      ."
     </p>
     <p style="margin-top: 0; margin-bottom: 0">
      <br/>
      <font face="Arial">
       *
      </font>
      Want even more ASL resources?  Visit the "
      <b>
       <a href="http://www.asl.tc/landing/index.html" rel="nofollow" target="_blank">
        ASL Training Center
       </a>
       !
      </b>
      "  (Subscription 
Extension of ASLU)
      <br/>
      <br/>
      *  Also check out Dr. Bill's channel:
      <a href="https://www.youtube.com/billvicars">
       www.youtube.com/billvicars
      </a>
      <font size="2">
       <br/>
      </font>
     </p>
     <hr align="left" color="#000000" size="1"/>
     <p align="center" style="margin-top: 0; margin-bottom: 0">
      <font size="1">
       You can learn
       <a href="http://lifeprint.com">
        American Sign Language (ASL)
       </a>
       online at American Sign Language University ™
       <br/>
       <a href="http://asl.ms" style="text-decoration: none">
        ASL
       </a>
       resources by Lifeprint.com  ©  Dr. William Vicars
      </font>
     </p>
     <hr color="#000000" size="1"/>
     <p>
     </p>
    </p>
   </p>
  </p>
 </p>
</blockquote>
