<blockquote>
 <hr align="left" color="#000000" size="1"/>
 <p>
  There are many variations of the sign for secretary. Use whichever 
	version your local instructor or local Deaf use.
  <br/>
 </p>
 <hr align="left" color="#000000" size="1"/>
 <p>
  <br/>
  SECRETARY (recommended general version)
 </p>
 <p>
  <img border="0" src="/images/secretary-3.gif" style="max-width: 100%; height: auto" width="480"/>
 </p>
 <p>
  <img border="0" height="235" src="/images/secretary1.jpg" width="206"/>
  <img border="0" height="235" src="/images/secretary2.jpg" width="206"/>
  <img border="0" height="235" src="/images/secretary3.jpg" width="206"/>
  <img border="0" height="235" src="/images/secretary4.jpg" width="206"/>
  <img border="0" height="235" src="/images/secretary5.jpg" width="206"/>
  <br/>
 </p>
 <font face="Arial" size="2">
  <hr align="left" color="#000000" size="1"/>
 </font>
 <p>
  <br/>
  SECRETARY ("K" version)
  <br/>
  <img border="0" src="/images/secretary-1.gif" style="max-width: 100%; height: auto" width="480"/>
 </p>
 <p>
  <img border="0" height="226" src="/images/secretaryc1.jpg" width="224"/>
  <img border="0" height="226" src="/images/secretaryc2.jpg" width="224"/>
  <img border="0" height="226" src="/images/secretaryc3.jpg" width="224"/>
  <img border="0" height="226" src="/images/secretaryc4.jpg" width="224"/>
  <img border="0" height="226" src="/images/secretaryc5.jpg" width="224"/>
  <img border="0" height="226" src="/images/secretaryc6.jpg" width="224"/>
  <img border="0" height="226" src="/images/secretaryc7.jpg" width="224"/>
  <br/>
 </p>
</blockquote>