<blockquote>
 <font face="Arial">
  <hr align="left" color="#000000" size="1" width="50%"/>
  <p>
   <span style="font-weight: 400">
    There are several ways to sign "SEE."
    <br/>
    The right way depends on what you mean.
   </span>
  </p>
  <hr align="left" color="#000000" size="1" width="50%"/>
 </font>
 <span style="font-weight: 400">
  <font face="Arial">
   <font color="#000000" face="Verdana" id="role_document" size="2">
    <div>
     <br/>
     The sign labeled as "SEE" ("V"-hand, palm facing inward) is generally used 
	to sign things such as:  "Can you see me?," "I saw you yesterday," or 
	"I saw my grandmother today."
     <br/>
    </div>
   </font>
   <p style="margin-top: 0; margin-bottom: 0">
    SEE:
    <br/>
    <object classid="CLSID:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=8,0,0,0" height="253" id="FVS0" width="320">
     <param name="movie" value="see_player.swf?1319422362"/>
     <param name="bgcolor" value="#ffffff"/>
     <param name="allowfullscreen" value="true"/>
     <embed allowfullscreen="true" bgcolor="#ffffff" height="253" name="FVS0" pluginspage='http://www.macromedia.com/go/getflashplayer"' src="see_player.swf?1319422362" type="application/x-shockwave-flash" width="320"/>
    </object>
    <br/>
    <br/>
    <img border="0" height="222" src="/images/see1.jpg" width="201"/>
    <img border="0" height="222" src="/images/see2.jpg" width="201"/>
    <br/>
   </p>
   <hr/>
   <p style="margin-top: 0; margin-bottom: 0">
    <br/>
    <font color="#000000" face="Verdana" id="role_document0" size="2">
     The 
WATCH/observe sign is generally used for watching spectator type of events (TV, 
movie, sports, plays, watching children play).
     <br/>
    </font>
    <br/>
    WATCH (spectator / passive / detached observer)
    <br/>
    <object classid="CLSID:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=8,0,0,0" height="253" id="FVS1" width="320">
     <param name="movie" value="../w/watch-see_player.swf?2809122271"/>
     <param name="bgcolor" value="#ffffff"/>
     <param name="allowfullscreen" value="true"/>
     <embed allowfullscreen="true" bgcolor="#ffffff" height="253" name="FVS1" pluginspage='http://www.macromedia.com/go/getflashplayer"' src="../w/watch-see_player.swf?2809122271" type="application/x-shockwave-flash" width="320"/>
    </object>
    <img border="0" height="231" src="/images/watchc.jpg" width="192"/>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <br/>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr color="#800080"/>
   Also, check out "
   <a href="../l/lookatlongtime.htm">
    look at for a long time
   </a>
   ."
   <hr color="#800080"/>
   <p>
    <br/>
    <font color="#000000" face="Verdana" id="role_document1" size="2">
     The sign 
	labeled as "LOOK" or "LOOK-at" (using a palm-out "V"-hand) is used for 
	actively looking at things.  It can be used for browsing activities 
	such as people watching or window shopping.  It is also useful as 
	command to tell someone to look at something by aiming the movement in the 
	direction of the thing to be looked at.
     <br/>
    </font>
    <br/>
    LOOK:
    <br/>
    <img border="0" height="230" src="/images/see-palmforward1.jpg" width="226"/>
    <img border="0" height="230" src="/images/see-palmforward2.jpg" width="226"/>
    <img border="0" height="230" src="/images/see-palmforward3.jpg" width="226"/>
    <object classid="CLSID:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=8,0,0,0" height="253" id="FVS" width="320">
     <param name="movie" value="../l/look_player.swf?896723794"/>
     <param name="bgcolor" value="#ffffff"/>
     <param name="allowfullscreen" value="true"/>
     <embed allowfullscreen="true" bgcolor="#ffffff" height="253" name="FVS" pluginspage='http://www.macromedia.com/go/getflashplayer"' src="../l/look_player.swf?896723794" type="application/x-shockwave-flash" width="320"/>
    </object>
   </p>
   <p>
    <br/>
   </p>
   <hr color="#800080"/>
   <p>
    <br/>
    This version could be used to mean, "I looked at him."
    <br/>
    <img border="0" height="237" src="/images/see-pro31.jpg" width="266"/>
    <img border="0" height="237" src="/images/see-pro32.jpg" width="266"/>
    <img border="0" height="237" src="/images/see-pro33.jpg" width="266"/>
    <br/>
    <br/>
   </p>
   <hr color="#800080"/>
   <p>
    "We will see"
    <br/>
    "Let me see"
    <br/>
    To do this version, tap your upper cheekbone twice with either a skeptical 
	expression or a curious expression.
    <br/>
    <img border="0" height="232" src="/images/see-wewillsee1.jpg" width="223"/>
    <img border="0" height="232" src="/images/see-wewillsee2.jpg" width="223"/>
    <img border="0" height="232" src="/images/see-wewillsee3.jpg" width="223"/>
    <img border="0" height="232" src="/images/see-wewillsee4.jpg" width="223"/>
    <img border="0" height="232" src="/images/see-wewillsee5.jpg" width="223"/>
    <br/>
   </p>
   <hr color="#800080"/>
   <p>
    "See ya later man:"
    <br/>
    <img border="0" height="238" src="/images/seeyoulater1.jpg" width="244"/>
    <img border="0" height="238" src="/images/seeyoulater2.jpg" width="244"/>
    <img border="0" height="238" src="/images/seeyoulater3.jpg" width="244"/>
    <img border="0" height="238" src="/images/seeyoulater4.jpg" width="244"/>
    <img border="0" height="238" src="/images/seeyoulater5.jpg" width="244"/>
   </p>
   <hr color="#800080"/>
   <p>
    look at that:
    <br/>
    <img border="0" height="235" src="/images/lookat-that1.jpg" width="203"/>
    <img border="0" height="235" src="/images/lookat-that2.jpg" width="203"/>
   </p>
   <hr color="#800080"/>
   <p>
    <br/>
    <br/>
   </p>
   <hr color="#800080"/>
   <p>
    watch:  (regional variation) (not recommended)
   </p>
   <p>
    <img border="0" height="230" src="/images/watchb1.jpg" width="202"/>
    <img border="0" height="230" src="/images/watchb2.jpg" width="202"/>
   </p>
   <hr align="left" color="#000000" size="1" width="25%"/>
   <p>
   </p>
   <p>
    Also see: "
    <a href="../l/look-around.htm">
     LOOK-AROUND
    </a>
    "
    <br/>
   </p>
  </font>
 </span>
 <font face="Arial">
 </font>
</blockquote>
