<blockquote>
 <hr align="left" color="#000000" size="1"/>
 <p>
  <br/>
  SHAVE:  This version uses an "X" handshape.
  <br/>
  Move your hand as if scraping the side of your cheek twice with the top of 
  your "X."
  <br/>
  In typical usage you don't actually make contact with the face during this 
  sign, but if you do, no big deal.  If you were inflecting the sign to 
  mean "shave carefully" or some other extended meaning then you would indeed 
  make contact with the face.
  <br/>
  <img border="0" height="213" src="/images/shave.55.jpg" width="205"/>
  <img border="0" height="213" src="/images/shave.56.jpg" width="205"/>
  <img border="0" height="213" src="/images/shave.57.jpg" width="205"/>
  <img border="0" height="213" src="/images/shave.58.jpg" width="205"/>
  <img border="0" height="213" src="/images/shave.59.jpg" width="205"/>
 </p>
 <hr align="left" color="#000000" size="1"/>
 <p>
  <br/>
  SHAVE:  Here's and oldie but goodie. Comes from the days when people 
  used straight edge razors.
  <br/>
  <img border="0" height="197" src="/images/shave.60.jpg" width="206"/>
  <img border="0" height="197" src="/images/shave.61.jpg" width="206"/>
  <img border="0" height="197" src="/images/shave.62.jpg" width="206"/>
 </p>
 <hr align="left" color="#000000" size="1"/>
 <br/>
 Ah, but what if you are a woman?  Obviously women don't shave their 
  faces, (...um, well, ...er...heh...moving right along...) they instead shave 
  their armpits (most women in this country (U.S.) anyway.
 <br/>
 So here is 
  another version of the sign for shave:
 <p>
  <br/>
  SHAVE-(armpits)
  <br/>
  Form an "X" handshape and hold it near your armpit. (An inch or two away.)  
  Move the hand down, up, and down again.  Use some wrist movement.  
  The hand doesn't need to touch the armpit. If it happens to brush up against 
  your shirt or body no big deal.
  <br/>
  <img border="0" height="218" src="/images/shave.63.jpg" width="195"/>
  <img border="0" height="218" src="/images/shave.64.jpg" width="195"/>
  <img border="0" height="218" src="/images/shave.65.jpg" width="195"/>
  <img border="0" height="218" src="/images/shave.63.jpg" width="195"/>
  <img border="0" height="218" src="/images/shave.64.jpg" width="195"/>
  <img border="0" height="218" src="/images/shave.65.jpg" width="195"/>
 </p>
 <hr/>
 <p>
  <br/>
  In a message dated 8/10/2007 3:26:54 P.M. Pacific Daylight Time, monta@ 
	writes:
 </p>
 <div>
  <blockquote style="PADDING-LEFT: 5px; MARGIN-LEFT: 5px; BORDER-LEFT: blue 2px solid">
   <font color="#000000" face="Arial" size="2" style="BACKGROUND-COLOR: transparent">
    <div>
     So, now the obvious question-- What about shaving the bikini 
				line? Waxing?
     <em>
      Brazilian
     </em>
     waxing?
    </div>
    <div>
     Sorry-- just had to ask.; )
    </div>
    <div>
     <font face="Arial" size="2">
      Monta Briant
     </font>
    </div>
   </font>
  </blockquote>
 </div>
 <div>
  Monta,
  <br/>
  Well my dear, you would just modify the sign for "SHAVE" by doing it 
		down near the bikini line.
  <br/>
  Waxing?  Spell W-A-X, then hold both hands down on your thigh as if 
		holding onto the wax tape and then rip upward viciously with a look of 
		pain on your face.  Mwahahaha.
  <br/>
  --Dr. Bill
 </div>
 <br/>
 <font face="Arial">
  <hr align="left" color="#000000" size="1"/>
  <p align="center" style="margin-top: 0; margin-bottom: 0">
   <font face="Arial" size="1">
    You can learn
    <a href="http://lifeprint.com" style="text-decoration: none">
     American Sign Language (ASL)
    </a>
    online at American Sign Language University ™
    <br/>
    <a href="http://asl.ms" style="text-decoration: none">
     ASL
    </a>
    resources by Lifeprint.com  ©  Dr. William Vicars
   </font>
  </p>
 </font>
</blockquote>
