<blockquote>
 <p style="margin-top: 0; margin-bottom: 0">
  <span style="font-weight: 400">
   <font face="Arial">
   </font>
  </span>
  <hr align="left" color="#000000" size="1" width="50%"/>
  <span style="font-weight: 400">
   <font face="Arial">
    <p style="margin-top: 0; margin-bottom: 0">
     The sign for "quiet"
when done as a verb meaning "quiet down" is the same as the typical gesture 
(American culture) for "shhh."
     <br/>
     <br/>
     QUIET / SHHH / "BE QUIET"
     <br/>
     If I'm telling someone to be quiet I just use the "shhhh" sign.
     <p>
      <img border="0" height="320" src="/images/shhh.jpg" width="320"/>
      <img border="0" height="320" src="/images/shh.jpg" width="320"/>
     </p>
     <hr align="left" color="#000000" size="1" width="50%"/>
     <p align="left">
      <img border="0" height="320" src="/images/shhh.gif" width="320"/>
      <br/>
      <hr align="left" color="#000000" size="1" width="50%"/>
      <p align="left">
       "Keep quiet about." / "Keep it to yourself."
       <br/>
       There is an interesting variation of the "shhh" sign that can be used to 
mean, "Uh, uh, uh, keep that information to yourself!" or "Keep it mum." 
Normally while doing the "shhh" sign you move your upper body forward a bit.  
To indicate "keep it mum" you can instead move your upper body
       <i>
        backward
       </i>
       a bit, purse your lips (hold your lips tight together) and bring the index 
finger backward to the lips with a quick movement and a firm stop with a 
slightly extended "hold."  Think of it as meaning "my lips are sealed."
       <br/>
       <br/>
       <img border="0" height="221" src="/images/quiet.8.jpg" width="227"/>
      </p>
      <p style="margin-top: 0; margin-bottom: 0">
      </p>
      <hr align="left" color="#000000" size="1" width="50%"/>
     </p>
    </p>
   </font>
  </span>
  <p style="margin-top: 0; margin-bottom: 0">
   Also see:
   <a href="../q/quiet.htm">
    QUIET
   </a>
  </p>
  <font face="Arial">
   <span style="font-weight: 400">
    <hr align="left" color="#000000" size="1" width="50%"/>
    <p style="margin-top: 0; margin-bottom: 0">
     <br/>
    </p>
   </span>
  </font>
  <font face="Arial">
  </font>
 </p>
</blockquote>
