<blockquote>
 <font face="Arial">
  <hr align="left" color="#000000" size="1"/>
  <p>
   The sign for "shocked" (mentally) is a compound of the 
			signs BRAIN-(think) and FREEZE.
   <br/>
   Thus "brain-freeze" is interpreted as "shocked."
   <br/>
  </p>
  <p>
   <br/>
   SHOCKED:
  </p>
  <p>
   <img border="0" height="224" src="/images/shocke1.jpg" width="268"/>
   <img border="0" height="224" src="/images/shocke2.jpg" width="268"/>
   <img border="0" height="224" src="/images/shocke3.jpg" width="268"/>
   <img border="0" height="224" src="/images/shocke4.jpg" width="268"/>
  </p>
  <p>
  </p>
  <hr align="left" color="#000000" size="1"/>
  <p align="center" style="margin-top: 0; margin-bottom: 0">
   <font face="Arial" size="1">
    You can learn 
		American
    <a href="http://www.lifeprint.com" style="text-decoration: none">
     Sign 
		Language
    </a>
    (ASL) online at American Sign Language University ™
    <br/>
    <a href="http://asl.ms" style="text-decoration: none">
     ASL
    </a>
    resources by Lifeprint.com  ©  Dr. William Vicars
   </font>
  </p>
 </font>
</blockquote>
