<blockquote>
 <span style="font-weight: 400">
  <font face="Arial">
   <p style="margin-top: 0; margin-bottom: 0">
    The sign for "shut up" 
(as in shut your mouth) closes the fingers and the thumb on top of 
your lips as if representing the closing of your mouth.  In the 
ending position the thumb is pressed up against the fingers (in a 
flattened "O" handshape).
    <br/>
    <br/>
    SHUT-UP!
    <br/>
    <img border="0" height="217" src="/images/shutup.gif" width="199"/>
    <br/>
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p>
    <img border="0" height="217" src="/images/shutup32.jpg" width="199"/>
    <img border="0" height="217" src="/images/shutup33.jpg" width="199"/>
    <img border="0" height="217" src="/images/shutup34.jpg" width="199"/>
    <br/>
   </p>
   <hr align="left" color="#000000" size="1"/>
  </font>
 </span>
</blockquote>