<blockquote>
 <hr align="left" color="#000000" size="1"/>
 This is an abbreviation &amp; compound of the signs "say" and "music."
 <br/>
 <hr align="left" color="#000000" size="1"/>
 <p>
  SINGER:
 </p>
 <p>
  <img border="0" height="229" src="/images/singer18.jpg" width="226"/>
  <img border="0" height="229" src="/images/singer19.jpg" width="226"/>
  <img border="0" height="229" src="/images/singer20.jpg" width="226"/>
  <img border="0" height="229" src="/images/singer21.jpg" width="226"/>
  <img border="0" height="229" src="/images/singer22.jpg" width="226"/>
  <img border="0" height="229" src="/images/singer23.jpg" width="226"/>
  <img border="0" height="229" src="/images/singer24.jpg" width="226"/>
  <img border="0" height="229" src="/images/singer25.jpg" width="226"/>
 </p>
 <hr align="left" color="#000000" size="1"/>
 <a href="/images/singer.gif">
  Singer Animation
 </a>
 <hr align="left" color="#000000" size="1"/>
 <p>
  Here is variation of the sign SING that I really like.  I don't see it 
  that often, but the sign really portrays the essence of singing.
 </p>
 <p>
  <img border="0" height="226" src="/images/singer26.jpg" width="226"/>
  <img border="0" height="226" src="/images/singer27.jpg" width="226"/>
  <img border="0" height="226" src="/images/singer28.jpg" width="226"/>
  <img border="0" height="226" src="/images/singer29.jpg" width="226"/>
  <img border="0" height="226" src="/images/singer30.jpg" width="226"/>
  <img border="0" height="226" src="/images/singer31.jpg" width="226"/>
  <img border="0" height="226" src="/images/singer32.jpg" width="226"/>
 </p>
 <hr align="left" color="#000000" size="1"/>
 <p>
  <a href="/images/singer2.gif">
   Sing (version 2) animation
  </a>
  <br/>
 </p>
 <font face="Arial">
  <hr align="left" color="#000000" size="1"/>
  <p align="center" style="margin-top: 0; margin-bottom: 0">
   <font face="Arial" size="1">
    You can learn
    <a href="http://lifeprint.com" style="text-decoration: none">
     American Sign Language (ASL)
    </a>
    online at American Sign Language University ™
    <br/>
    <a href="http://asl.ms" style="text-decoration: none">
     ASL
    </a>
    resources by Lifeprint.com  ©  Dr. William Vicars
   </font>
  </p>
 </font>
</blockquote>
