<blockquote>
 <hr align="left" color="#000000" size="1" width="50%"/>
 <span style="font-weight: 400">
  <font face="Arial">
   <p style="margin-top: 0; margin-bottom: 0">
    SINGLE (version)
    <br/>
    <font size="3">
     Note: This version of "SINGLE" also means: "something / 
someone / alone / only."  It is a very flexible sign and you must rely on 
context to understand the meaning.
     <br/>
     This sign
    </font>
    is made by holding the right arm in front of you, palm up.
    <br/>
    Your right index finger makes circular motions about the size of a quarter.
The movement is in your shoulder and elbow, not in your wrist.
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <img border="0" src="/images/someone-something.gif" style="max-width: 100%; height: auto" width="480"/>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <img border="0" height="480" src="/images/single-something-01.jpg" width="480"/>
    <img border="0" height="480" src="/images/single-something-02.jpg" width="480"/>
    <img border="0" height="480" src="/images/single-something-03.jpg" width="480"/>
    <img border="0" height="480" src="/images/single-something-04.jpg" width="480"/>
    <br/>
    <img height="148" src="/images/single.gif" width="149"/>
    <img border="0" height="222" src="/images/single-b1.jpg" width="219"/>
    <iframe allow="autoplay; encrypted-media" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/QVPcK3bcFo0?rel=0" width="560">
    </iframe>
    <br/>
   </p>
   <hr align="left" color="#000000" size="1" width="50%"/>
   <p style="margin-top: 0; margin-bottom: 0">
    SINGLE ("not married" version)
    <br/>
    Another way to sign "single" as in:  "I'm not married."
    <br/>
    <img border="0" height="228" src="/images/singleb1.jpg" width="223"/>
    <img border="0" height="228" src="/images/singleb2.jpg" width="223"/>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1" width="50%"/>
   <p style="margin-top: 0; margin-bottom: 0">
    SINGLE ("only, only one, just..." 
version)
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <br/>
    <img border="0" height="226" src="/images/single-c1.jpg" width="235"/>
    <img border="0" height="226" src="/images/single-c2.jpg" width="235"/>
    <img border="0" height="226" src="/images/single-c3.jpg" width="235"/>
    <img border="0" height="226" src="/images/single-c4.jpg" width="235"/>
    <img border="0" height="226" src="/images/single-c5.jpg" width="235"/>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1" width="50%"/>
   <p style="margin-top: 0; margin-bottom: 0">
    SINGLE ("initialized" version)
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    Variation of SINGLE as in "not 
married."
    <br/>
    This is an "initialized 
sign."  Some people say it isn't ASL. See optional discussion below for more info.
    <br/>
    <img border="0" height="229" src="/images/singlea1.jpg" width="224"/>
    <img border="0" height="229" src="/images/singlea2.jpg" width="224"/>
   </p>
  </font>
 </span>
</blockquote>
