<blockquote>
 <hr align="left" color="#000000" size="1"/>
 "Pinkie" handshapes are commonly used to skinny round things such as
string, spaghetti, lines, borders and such.
 <br/>
 Suck in your cheeks.
 <br/>
 <p>
  <br/>
  SKINNY:
 </p>
 <p>
  <img border="0" height="239" src="/images/skinny1.jpg" width="233"/>
  <img border="0" height="239" src="/images/skinny2.jpg" width="233"/>
  <img border="0" height="239" src="/images/skinny3.jpg" width="233"/>
  <img border="0" height="239" src="/images/skinny4.jpg" width="233"/>
  <br/>
 </p>
 <hr align="left" color="#000000" size="1" width="50%"/>
 <p style="margin-top: 0; margin-bottom: 0">
  <br/>
  Sample sentence:
Is your grandpa skinny?
  <br/>
  <br/>
  <object classid="CLSID:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=8,0,0,0" height="275" id="FVS" width="320">
   <param name="movie" value="../20/your-grandfather-skinny_player.swf?1519814211"/>
   <param name="bgcolor" value="#ffffff"/>
   <param name="allowfullscreen" value="true"/>
   <embed allowfullscreen="true" bgcolor="#ffffff" height="275" name="FVS" pluginspage='http://www.macromedia.com/go/getflashplayer"' src="../20/your-grandfather-skinny_player.swf?1519814211" type="application/x-shockwave-flash" width="320"/>
  </object>
 </p>
 <font face="Arial">
  <hr align="left" color="#000000" size="1"/>
 </font>
</blockquote>
