<blockquote>
 <hr align="left" color="#000000" size="1" width="50%"/>
 <p style="margin-top: 0; margin-bottom: 0">
  The sign for "socks" is made by pointing both of your index fingers down. 
	Rub the fingers together a few times.
  <br/>
  <br/>
  SOCKS:
  <p align="left" style="margin-top: 0; margin-bottom: 0">
   <img border="0" src="/images/socks.gif" style="max-width: 100%; height: auto" width="480"/>
   <img height="185" src="/images/socks.gif" width="177"/>
  </p>
  <center>
   <p align="left" style="margin-top: 0; margin-bottom: 0">
    <img border="0" height="221" src="/images/socks1.jpg" width="205"/>
    <img border="0" height="221" src="/images/socks2.jpg" width="205"/>
    <img border="0" height="221" src="/images/socks3.jpg" width="205"/>
    <img border="0" height="221" src="/images/socks4.jpg" width="205"/>
    <img border="0" height="221" src="/images/socks5.jpg" width="205"/>
   </p>
  </center>
  <p style="margin-top: 0; margin-bottom: 0">
   <hr align="left" color="#000000" size="1" width="50%"/>
  </p>
 </p>
</blockquote>
