<blockquote>
 <hr align="left" color="#000000" size="1"/>
 <div dir="ltr">
  <div>
  </div>
  <div>
   <div>
    In a message dated 8/13/2016 7:46:09 P.M. Pacific 
						Daylight Time, curiouslymute writes:
   </div>
  </div>
  <p>
   <br/>
   Saw this on one of the pages on your site:
   <br/>
   <br/>
   <font color="#800080">
    "
   </font>
   <span style="font-size: medium; font-family: Arial,Helvetica,sans-serif; color: #800080">
    and 
				here I am showing you how to sign "Speech Impaired." Gee. I'll 
				have to ask some of my associates in the Speech Pathology 
				Department at the university to see if there is an emerging 
				"politically correct" (or better yet, "culturally" correct) 
				phrase."
   </span>
  </p>
  <div>
  </div>
  <div>
   <font color="#000000" face="Arial, Helvetica, sans-serif" size="3">
    I don't know how other people who can't speak refer to 
					themselves (I've honestly never met another), but I 
					strongly prefer the term mute.
   </font>
  </div>
  <div>
   <font color="#000000" face="Arial, Helvetica, sans-serif" size="3">
    It fits in well with words like deaf and blind. Quick, to 
					the point, one syllable.
   </font>
  </div>
  <div>
   <font color="#000000" face="Arial, Helvetica, sans-serif" size="3">
    <br/>
    I can't stand "speech impaired". The only impairment are 
					idiots who won't read something I jotted down, or assume I'm 
					a moron. That's a them problem, not a me problem. It's 
					really THEM who are impaired by my lack of speech.
   </font>
  </div>
  <div>
   <font color="#000000" face="Arial, Helvetica, sans-serif" size="3">
    <br/>
    When asked "hearing or deaf?" I usually answer with "mute".
   </font>
  </div>
  <div>
   <font color="#000000" face="Arial, Helvetica, sans-serif" size="3">
    <br/>
    -Julie Rae
    <br/>
   </font>
  </div>
 </div>
 <hr/>
 <p align="left">
  <br/>
  Older correspondence:
  <br/>
  In a message dated 2/19/2008 11:52:41 P.M. Pacific Standard 
Time, Lissa writes:
  <br/>
  <br/>
  Do you have any idea what the ASL sign is for someone who is NOT deaf or hoh, 
but is speech-impaired, (mute), as in functionally unable to speak, but can hear 
and understand spoken language?
  <br/>
  <br/>
  It is so frustrating not to be able to communicate with people without ASL, 
written or typed English.. and yet, try to explain to people that you can HEAR. 
Everyone, even other Deaf people, insist that because I can hear, I must be able 
to speak, but simply refuse to. Or refuse to believe that I can hear.. As I have 
overly sensitive hearing, it is painful when people start yelling at me in hopes 
that I'll somehow understand them more clearly..
  <br/>
  <br/>
  I have to wear special headphones that block out sound, but still allow me to 
hear people's voices.. it involves a white noise generator.. so it looks like 
i'm listening to music.. but I cannot speak.. and I cannot sign Deaf in relation 
to myself, without causing immense confusion and disbelief.. sometimes even 
rage.
  <br/>
  <br/>
  So, yeah.. Is there a sign that says that I am not able to speak, but that i can 
hear?
  <br/>
  <br/>
  Thanks.
  <br/>
  --Lissa
  <br/>
 </p>
 <p align="left">
  Hi Lissa,
  <br/>
  I have built a page for you.  See below.
  <br/>
  Dr. V
 </p>
 <center>
  <hr/>
  <p align="left">
   <br/>
   Update: The concept of "MUTE" has been reclaimed by a segment of the (hard core) 
Deaf Community. Thus what once was considered an insult is no longer considered 
an insult and instead has been used (by a small segment of ground breaking Deaf 
signers) as a symbol of pride.
   <br/>
   The sign for MUTE is done by (softly) hitting the lips with a palm-back 
slightly-modified "A" hand. (I say slightly modified because the thumb is curled 
just a bit and the fingertips are tucked in a bit -- but not enough to call it 
an "S" hand.)
   <br/>
  </p>
  <hr/>
 </center>
 <p>
  "Speech Impaired"
 </p>
 <center>
  <object align="left" classid="CLSID:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,22,0" height="362" id="FVS" width="480">
   <param name="movie" value="speech_impaired_02_player.swf?64322013"/>
   <param name="bgcolor" value="#000000"/>
   <param name="quality" value="High"/>
   <embed bgcolor="#000000" height="362" name="FVS" pluginspage='http://www.macromedia.com/go/getflashplayer"' quality="High" src="speech_impaired_02_player.swf?64322013" type="application/x-shockwave-flash" width="480"/>
  </object>
 </center>
 <p>
  <br/>
  SPEECH:  Move a "bent V" hand once or twice around the mouth in a circle.
  <br/>
  <img border="0" height="240" src="/images/speech6.jpg" width="234"/>
  <br/>
 </p>
 <p>
  <br/>
  <br/>
  |
  <br/>
  IMPAIRED:  Use the sign "INTERRUPT."
  <br/>
  In the video I screwed up and did the version of this sign that is commonly labeled as 
"bother."
  <br/>
  When I slow down and think about it logically I sign it as "interrupt" -- but when I sign 
it without thinking about it I sign it as "bother."
  <br/>
  I spelled it to my wife and asked her to sign it.  She too signed "speech 
impaired" using a double movement on "impaired." Weird eh?
  <br/>
  Thus I reckon you are likely to 
see it both ways.  But I'll tell you, this whole sign gives me the spooks 
because for many years now I've campaigned against using the term "Hearing 
Impaired" and here I am showing you how to sign "Speech Impaired." Gee. I'll 
have to ask some of my associates in the Speech Pathology Department at the 
university to see if there is an emerging "politically correct" (or better yet, 
"culturally" correct) phrase.
  <br/>
  <br/>
  <img border="0" height="240" src="/images/interupt01.jpg" width="234"/>
  <img border="0" height="240" src="/images/interupt02.jpg" width="234"/>
 </p>
 <hr/>
 <p>
 </p>
 <p>
  "I can't talk. I can hear."
 </p>
 <p>
  <object classid="CLSID:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,22,0" height="362" id="FVS" width="480">
   <param name="movie" value="speech_impaired_01_player.swf?1792327649"/>
   <param name="bgcolor" value="#000000"/>
   <embed bgcolor="#000000" height="362" name="FVS" pluginspage='http://www.macromedia.com/go/getflashplayer"' src="speech_impaired_01_player.swf?1792327649" type="application/x-shockwave-flash" width="480"/>
  </object>
  <br/>
  <br/>
  CAN'T:
  <br/>
  The left hand (or non-dominant hand) stays put and doesn't intentionally move.  
The right hand (or dominant hand) does all of the moving.
  <br/>
  Bring the right hand downward as if striking the left index finger.  (You 
can either strike the finger or just barely miss the finger it means the same.)
  <br/>
  Memory aid:  Think of a small child reaching to touch a hot stove.  
You might "whack" his finger with yours to keep him from touching it while 
telling him not to because the stove is hot.
  <br/>
  <img border="0" height="240" src="/images/cant01.jpg" width="260"/>
  <img border="0" height="240" src="/images/cant02.jpg" width="260"/>
  <img border="0" height="240" src="/images/cant03.jpg" width="260"/>
  <br/>
  <br/>
  TALK:  Use a "four" handshape.  Move the hand backward twice --each 
time tapping the index finger to your chin (just below your bottom lip).
  <br/>
  <img border="0" height="240" src="/images/talk.jpg" width="260"/>
  <br/>
  <br/>
  CAN:  Use one firm downward movement.
  <br/>
  <img border="0" height="240" src="/images/can01.jpg" width="260"/>
  <img border="0" height="240" src="/images/can02.jpg" width="260"/>
  <img border="0" height="240" src="/images/can03.jpg" width="260"/>
  <br/>
  <br/>
  HEAR:  Tap your ear twice.
  <br/>
  <img border="0" height="240" src="/images/hear.jpg" width="260"/>
 </p>
 <p style="margin-top: 0; margin-bottom: 0">
  <br/>
 </p>
 <font face="Arial">
  <hr align="left" color="#000000" size="1"/>
  <p align="center" style="margin-top: 0; margin-bottom: 0">
   <font face="Arial" size="1">
    You can learn
    <a href="http://lifeprint.com" style="text-decoration: none">
     American Sign Language (ASL)
    </a>
    online at American Sign Language University ™
    <br/>
    <a href="http://asl.ms" style="text-decoration: none">
     ASL
    </a>
    resources by Lifeprint.com  ©  Dr. William Vicars
   </font>
  </p>
 </font>
</blockquote>
