<blockquote>
 <hr align="left" color="#000000" size="1"/>
 <p align="left">
  <font face="Arial">
   <img align="left" height="139" src="/images/spoon.gif" width="245"/>
  </font>
  <font size="+1">
   M
  </font>
  ake 
	the sign for "
  <b>
   spoon
  </b>
  " by forming the letter "h" with the right hand. 
	Place your left palm facing upward.  Lift the right hand from your left 
	hand toward your mouth a few times.  The difference between "spoon" and 
	"soup" depends on which person you ask.  I personally differentiate 
	between the two by making the sign for spoon a little faster and keep my 
	right hand closer to the left hand. (The right doesn't travel as close to 
	the mouth when signing spoon as it does when sign soup).  When signing 
	spoon I also tend to "drop" the bowl (left hand) after I ladle out of it 
	twice with the spoon.  What I mean is I hold the left hand in a cupping 
	shape then I use the right index and middle finger (in a slightly curved "u" 
	or "h" shape)  to represent the spoon.  I scoop the "spoon" into 
	the palm of my left hand twice and then I immediately "drop/relax" my 
	left-hand while still holding the right hand for an extra moment or two.  
	By relaxing or dropping the left hand but continuing to keep the right hand 
	in the "spoon" shape it emphasizes that I'm talking about a spoon.
 </p>
 <p align="left">
  For the sign, "soup" I would keep the left hand involved 
	until the end of the sign and I would also bring the "spoonful of soup" to 
	within a couple inches of my mouth to emphasize the "soup" aspect of the 
	sign.
  <p>
   SPOON:
   <br/>
   <img border="0" height="208" src="/images/spoon1.jpg" width="210"/>
   <img border="0" height="208" src="/images/spoon2.jpg" width="210"/>
   <img border="0" height="208" src="/images/spoon3.jpg" width="210"/>
   <img border="0" height="208" src="/images/spoon4.jpg" width="210"/>
   <img border="0" height="208" src="/images/spoon5.jpg" width="210"/>
   <img border="0" height="208" src="/images/spoon6.jpg" width="210"/>
  </p>
  <font face="Arial">
   <hr align="left" color="#000000" size="1"/>
   <hr align="left" color="#000000" size="1"/>
  </font>
  <p>
   FORK:
   <br/>
   <img height="206" nosave="" src="/images/fork.gif" width="236"/>
  </p>
  <font size="+1">
   M
  </font>
  ake the sign for "fork" by forming your 
			dominant hand into the letter "V."  Your non-dominant palm 
			faces upward.  Stab your "V" hand into your palm twice.
  <p style="margin-top: 0; margin-bottom: 0">
  </p>
  <p align="center" style="margin-top: 0; margin-bottom: 0">
  </p>
  <table id="table2" width="75%">
   <caption align="center">
   </caption>
   <tbody>
   </tbody>
   <tr>
    <td align="CENTER" width="25%">
     <img alt="Concepts" border="0" height="28" src="/images/concepts.gif" width="49"/>
    </td>
    <td align="CENTER" width="25%">
     <i>
      <img align="center" alt="back.gif (1674 bytes)" border="0" height="28" onclick="history.go(-1)" src="/images/back.gif" width="54"/>
     </i>
    </td>
    <td align="CENTER" width="25%">
     <a href="../c/cup.htm">
      <img alt="cup" border="0" height="28" nosave="" src="/images/next.gif" width="51"/>
     </a>
    </td>
   </tr>
  </table>
  <p align="center" style="margin-top: 0; margin-bottom: 0">
   <br/>
  </p>
  <font face="Arial">
   <hr align="left" color="#000000" size="1"/>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
    <font face="Arial" size="1">
     You can learn
     <a href="http://lifeprint.com" style="text-decoration: none">
      American Sign Language (ASL)
     </a>
     online at American Sign Language University ™
     <br/>
     <a href="http://asl.ms" style="text-decoration: none">
      ASL
     </a>
     resources by Lifeprint.com  ©  Dr. William Vicars
    </font>
   </p>
  </font>
 </p>
</blockquote>
