<blockquote>
 <font face="Arial">
  <hr align="left" color="#000000" size="1"/>
  <p>
   The sign for "squirrel" uses two bent "V" hands.
   <br/>
  </p>
  <p>
   SQUIRREL or chipmunk:
  </p>
  <p>
   <img border="0" height="224" src="/images/squirr15.jpg" width="198"/>
   <img border="0" height="224" src="/images/squirr16.jpg" width="198"/>
   <img border="0" height="224" src="/images/squirr15.jpg" width="198"/>
   <img border="0" height="224" src="/images/squirr16.jpg" width="198"/>
  </p>
  <p>
   <br/>
  </p>
  <hr align="left" color="#000000" size="1" width="50%"/>
  <p>
  </p>
  <hr align="left" color="#000000" size="1"/>
  <p align="center" style="margin-top: 0; margin-bottom: 0">
   <font face="Arial" size="1">
    You can learn American
    <a href="http://www.lifeprint.com" style="text-decoration: none">
     Sign 
		Language
    </a>
    (ASL) online at American Sign Language University ™
    <br/>
    <a href="http://asl.ms" style="text-decoration: none">
     ASL
    </a>
    resources 
		by Lifeprint.com  ©  Dr. William Vicars
   </font>
  </p>
 </font>
</blockquote>
