<blockquote>
 <hr align="left" color="#000000" size="1"/>
 <p>
  STINK:
  <br/>
  <img border="0" height="219" src="/images/stink.1.jpg" width="214"/>
  <br/>
  <br/>
  Note: I would imagine that the sign for STINK is pretty 
			self-explanatory eh?
  <br/>
  Another version would be to wave your hand in front of your nose 
			while using a negative facial expression.
 </p>
 <p style="margin-top: 0; margin-bottom: 0">
  <br/>
 </p>
 <font face="Arial">
  <hr align="left" color="#000000" size="1"/>
  <p align="center" style="margin-top: 0; margin-bottom: 0">
   <font face="Arial" size="1">
    You can learn
    <a href="http://lifeprint.com" style="text-decoration: none">
     American 
		Sign Language (ASL)
    </a>
    online at American Sign Language University ™
    <br/>
    <a href="http://asl.ms" style="text-decoration: none">
     ASL
    </a>
    resources 
		by Lifeprint.com  ©  Dr. William Vicars
   </font>
  </p>
 </font>
</blockquote>
