<blockquote>
 <hr align="left" color="#000000" size="1"/>
 STOVE:
 <br/>
 I recommend you just spell out the letters:
 <font face="Arial">
  <span style="background-color: #FFFF00">
   S-T-O-V-E.
  </span>
 </font>
 <p>
  <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/c75leThE9AQ?rel=0" width="560">
  </iframe>
  <br/>
 </p>
 <hr color="#000000" size="1"/>
 <p>
  <font face="Arial">
   <br/>
   But since sometimes you might see someone doing the actual sign for stove so 
	I'm going to show it here.
  To express the concept of "stove," sign "cook" then
  "flat + sides" to show the top and sides of the stove.
  </font>
  <br/>
  <br/>
  STOVE-(descriptive_version) (not recommended)
 </p>
 <p>
  <img border="0" height="238" src="/images/stove1.jpg" width="280"/>
  <img border="0" height="238" src="/images/stove2.jpg" width="280"/>
  <img border="0" height="238" src="/images/stove3.jpg" width="280"/>
  <img border="0" height="238" src="/images/stove4.jpg" width="280"/>
  <img border="0" height="238" src="/images/stove5.jpg" width="280"/>
  <img border="0" height="238" src="/images/stove6.jpg" width="280"/>
  <img border="0" height="238" src="/images/stove7.jpg" width="280"/>
  <img border="0" height="238" src="/images/stove8.jpg" width="280"/>
  <img border="0" height="238" src="/images/stove9.jpg" width="280"/>
  <img border="0" height="238" src="/images/stove10.jpg" width="280"/>
  <img border="0" height="238" src="/images/stove11.jpg" width="280"/>
  <img border="0" height="238" src="/images/stove12.jpg" width="280"/>
  <br/>
 </p>
 <p>
  Also see:
  <a href="/images/stoveanimation.gif">
   animation
  </a>
  <br/>
 </p>
 <hr color="#000000" size="1"/>
 <p>
  <br/>
  Use a double motion to turn the verb "BAKE" into the noun
  "OVEN."
  <br/>
  <br/>
  <font face="Arial">
   OVEN or "baking"
  </font>
  <br/>
  <img border="0" height="238" src="/images/oven1.jpg" width="262"/>
  <img border="0" height="238" src="/images/oven2.jpg" width="262"/>
  <img border="0" height="238" src="/images/oven3.jpg" width="262"/>
  <br/>
  <img border="0" height="238" src="/images/oven4.jpg" width="262"/>
  <br/>
 </p>
 <p>
 </p>
 <p>
  See:
  <a href="/images/ovenanimation.gif">
   animation
  </a>
  <br/>
 </p>
 <hr color="#000000" size="1"/>
 <p>
  <br/>
  The verb "bake" uses a single motion representing the placing of food in an
  oven.
  <font face="Arial">
   <br/>
   <br/>
   BAKE:
  </font>
  <br/>
  <img border="0" height="240" src="/images/bake1.jpg" width="250"/>
  <img border="0" height="240" src="/images/bake2.jpg" width="250"/>
 </p>
 <p>
  <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/Q0vD9t1u5bI?rel=0" width="560">
  </iframe>
  <br/>
 </p>
 <font face="Arial">
  <hr color="#000000" size="1"/>
 </font>
 <p>
  Also see:
  <a href="../c/cook.htm">
   COOK
  </a>
  <br/>
  Also see:
  <a href="../b/bake.htm">
   BAKE
  </a>
  <br/>
 </p>
 <font face="Arial">
  <hr align="left" color="#000000" size="1"/>
  <p align="center" style="margin-top: 0; margin-bottom: 0">
   <font face="Arial" size="1">
    You can learn
    <a href="http://lifeprint.com" style="text-decoration: none">
     American Sign Language (ASL)
    </a>
    online at American Sign Language University ™
    <br/>
    <a href="http://asl.ms" style="text-decoration: none">
     ASL
    </a>
    resources by Lifeprint.com  ©  Dr. William Vicars
   </font>
  </p>
 </font>
</blockquote>
