<blockquote>
 <hr align="left" color="#000000" size="1"/>
 <p style="margin-top: 0; margin-bottom: 0">
  <font face="Arial">
   <p style="margin-top: 0; margin-bottom: 0">
    The sign for "student" is a combination of the sign "learn" and 
	the non-initialized sign for "person."  


	Hold your "non-dominant") hand out flat, palm facing upward.  Take 
	your dominant hand and and grab some 
  imaginary information off of your palm.  Lift that 
  information up and stick it in your head.  Then show the
    <a href="../a/agent.htm">
     person sign
    </a>
    .
    <br/>
    <br/>
    The more "casually" you do the sign STUDENT, the more the sign looks 
	as if you are throwing away a piece of paper.
    <br/>
    Note: When signing "STUDENT" your non-dominant hand should stay down near 
	your torso and
    <b>
     not
    </b>
    move up toward your head when you move the 
	dominant hand upward. We want to avoid looking as if we are combining the 
	signs STUDENT and
    <a href="../t/teacher.htm">
     TEACHER
    </a>
    .
    <br/>
    <br/>
    STUDENT (casual version):
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <iframe allow="autoplay; encrypted-media" allowfullscreen="" frameborder="0" height="315" name="I1" src="https://www.youtube.com/embed/0E3YmyCR6EY?rel=0" width="560">
    </iframe>
   </p>
  </font>
  <p style="margin-top: 0; margin-bottom: 0">
   <p style="margin-top: 0; margin-bottom: 0">
    <p style="margin-top: 0; margin-bottom: 0">
     <font face="Arial">
      <br/>
      <br/>
      STUDENT: longer more formal version:
     </font>
     <p style="margin-top: 0; margin-bottom: 0">
      <img border="0" src="/images/student-formal.gif" style="max-width: 100%; height: auto" width="480"/>
      <p style="margin-top: 0; margin-bottom: 0">
       <font face="Arial">
        <br/>
        <img border="0" height="480" src="/images/student-01.jpg" width="480"/>
        <img border="0" height="480" src="/images/student-02.jpg" width="480"/>
        <img border="0" height="480" src="/images/student-03.jpg" width="480"/>
        <img border="0" height="480" src="/images/student-04.jpg" width="480"/>
        <br/>
        <iframe allow="autoplay; encrypted-media" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/jrf2XYqjg2o?rel=0" width="560">
        </iframe>
        <br/>
        <hr align="left" color="#000000" size="1"/>
        <p style="margin-top: 0; margin-bottom: 0">
         STUDENT (or "Learner"  =  "LEARN 
	- PERSON")
         <br/>
         <br/>
         <img border="0" height="240" src="/images/learn.41s.jpg" width="240"/>
         <img border="0" height="240" src="/images/learn.42s.jpg" width="240"/>
         <img border="0" height="240" src="/images/learn.43s.jpg" width="240"/>
         <img border="0" height="240" src="/images/learn.44s.jpg" width="240"/>
         <br/>
         <a href="/images/student.gif">
          Sample Animation: "STUDENT" (.gif 
	file)
         </a>
         <br/>
        </p>
        <hr align="left" color="#000000" size="1"/>
        <p style="margin-top: 0; margin-bottom: 0">
         <br/>
         Sample sentence: Why do students fail a class?  = STUDENT FAIL CLASS 
	WHY?
        </p>
        <p style="margin-top: 0; margin-bottom: 0">
         <br/>
         <iframe allow="autoplay; encrypted-media" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/XFLtFRX9gmQ?rel=0" width="560">
         </iframe>
        </p>
        <p style="margin-top: 0; margin-bottom: 0">
        </p>
        <hr align="left" color="#000000" size="1"/>
        <p style="margin-top: 0; margin-bottom: 0">
         <br/>
        </p>
        <hr align="left" color="#000000" size="1"/>
        <p style="margin-top: 0; margin-bottom: 0">
         Also see: "
         <a href="../l/learn.htm">
          LEARN
         </a>
         "
         <br/>
         Also see:
         <a href="student-notes.htm">
          Advanced discussion (not needed for 
	this lesson)
         </a>
         . Can skip.
        </p>
        <hr align="left" color="#000000" size="1"/>
        <p align="right" style="margin-top: 0; margin-bottom: 0">
         <a href="../t/teacher.htm">
          NEXT SIGN IN LESSON ONE &gt;
         </a>
        </p>
       </font>
      </p>
      <font face="Arial">
       <hr align="left" color="#000000" size="1"/>
      </font>
     </p>
    </p>
   </p>
  </p>
 </p>
</blockquote>
