<blockquote>
 <hr align="left" color="#000000" size="1"/>
 <font face="Arial">
  <p style="margin-top: 0; margin-bottom: 0">
   Also see:
   <a href="sleepin.htm">
    SLEEP-IN
   </a>
  </p>
  <hr align="left" color="#000000" size="1"/>
 </font>
 <p style="margin-top: 0; margin-bottom: 0">
  <br/>
  The sign for "sunrise" shows the sun rising (Clever eh? I 
	can't take credit though).
  <br/>
  Your base hand functions as the horizon.  Your dominant hand shows the sun coming
  up.
  <br/>
  <p style="margin-top: 0; margin-bottom: 0">
   SUNRISE:
   <br/>
  </p>
  <p style="margin-top: 0; margin-bottom: 0">
   <img border="0" src="/images/sunrise.gif" style="max-width: 100%; height: auto" width="480"/>
  </p>
  <p style="margin-top: 0; margin-bottom: 0">
   <img border="0" height="214" src="/images/sunrise-a1.jpg" width="245"/>
   <img border="0" height="214" src="/images/sunrise-a2.jpg" width="245"/>
   <img border="0" height="214" src="/images/sunrise-a3.jpg" width="245"/>
   <br/>
   <br/>
  </p>
  <hr align="left" color="#000000" size="1"/>
  <p style="margin-top: 0; margin-bottom: 0">
   <br/>
   SUNRISE ("C"-hand version)
   <br/>
   This version means the same thing, "sunrise."
   <br/>
  </p>
  <p style="margin-top: 0; margin-bottom: 0">
   <img border="0" height="212" src="/images/sunrise-b1.jpg" width="223"/>
   <img border="0" height="212" src="/images/sunrise-b2.jpg" width="223"/>
   <img border="0" height="212" src="/images/sunrise-b3.jpg" width="223"/>
   <img border="0" height="212" src="/images/sunrise-b4.jpg" width="223"/>
  </p>
  <p style="margin-top: 0; margin-bottom: 0">
   <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/mQUYA9p-Fqs?rel=0" width="560">
   </iframe>
   <br/>
  </p>
  <hr align="left" color="#000000" size="1"/>
  <p style="margin-top: 0; margin-bottom: 0">
   <br/>
   SLEEP-IN:
   <br/>
   Start by signing sleep, and then the dominant hand comes down and changes from a 
	"flattened O" handshape into an "F" 
  handshape as it slips under the base forearm and rises up.  The whole 
  sign uses one smooth movement.
   <br/>
   <br/>
   Sample sentence
	"Can you sleep in if you want to?"
   <br/>
   <br/>
   <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/R1v9UsSZGaE?rel=0" width="560">
   </iframe>
   <br/>
  </p>
  <font face="Arial">
   <hr align="left" color="#000000" size="1"/>
   <p style="margin-top: 0; margin-bottom: 0">
    Also see:
    <a href="sleepin.htm">
     SLEEP-IN
    </a>
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p style="margin-top: 0; margin-bottom: 0">
    Also see:
    <a href="sun.htm">
     SUN
    </a>
   </p>
   <hr align="left" color="#000000" size="1"/>
  </font>
 </p>
</blockquote>
