<blockquote>
 <hr align="left" color="#000000" size="1"/>
 The sign "SWEET" is also used to mean "diabetes." The 
			handshape, location, and movement are all done the same. The 
			difference is in the context and the rest of the sentence in which 
			you use the sign.
 <hr color="#000000" size="1"/>
 <p>
  SWEET:
 </p>
 <p>
  <img border="0" height="209" src="/images/sweet1.jpg" width="201"/>
  <img border="0" height="209" src="/images/sweet2.jpg" width="201"/>
  <img border="0" height="209" src="/images/sweet3.jpg" width="201"/>
  <img border="0" height="209" src="/images/sweet4.jpg" width="201"/>
  <br/>
 </p>
 <font face="Arial">
  <hr color="#000000" size="1"/>
  <p>
   Compare with:
   <a href="../s/sugar.htm">
    SUGAR
   </a>
  </p>
 </font>
 <hr color="#000000" size="1"/>
 <meta content="MSHTML 6.00.6000.16481" name="GENERATOR"/>
 <font color="#000000" face="Arial" id="role_document" size="2">
  <div>
   <p class="MsoNormal" style="MARGIN: 0in 0in 0pt">
   </p>
   <p class="MsoNormal" style="MARGIN: 0in 0in 0pt">
    <span style="font-size: 14pt">
     <font face="Times New Roman" size="3">
      In a 
		message dated 8/2/2007 6:47:12 AM Pacific Daylight Time, dumbledorenj04@ 
		writes:
      <br/>
     </font>
    </span>
   </p>
   <p class="MsoNormal" style="MARGIN: 0in 0in 0pt">
    <span style="font-size: 14pt">
     <font size="3">
      Dr. 
		Bill,
     </font>
    </span>
   </p>
   <p class="MsoNormal" style="MARGIN: 0in 0in 0pt">
    <font size="3">
     Gary 
		here.  I attend an informal class in a friends home and we are 
		confused.  Diabetes, sugar, cute, sweet.  The differences?
    </font>
   </p>
   <p class="MsoNormal" style="MARGIN: 0in 0in 0pt">
    <span style="font-size: 14pt">
     <font size="3">
      Thank you!
     </font>
    </span>
   </p>
   <p class="MsoNormal" style="MARGIN: 0in 0in 0pt">
    <span style="font-size: 14pt">
     <font size="3">
      - GJ
      <br/>
      <br/>
      Dear
     </font>
    </span>
    <font size="3">
     Gary,
    </font>
   </p>
   <p class="MsoNormal" style="MARGIN: 0in 0in 0pt">
    <span style="font-size: 14pt">
     <font size="3">
      Some 
		signs are more encompassing than other signs.  Which is to say, certain 
		signs are more general, they have more interpretations, and depend more 
		on context (the signs or sentences preceding or following the sign), 
		syntax (the word order of the sentence), or pragmatics (the environment 
		or  situation in which the communication takes place) to determine their 
		meaning.  "SWEET" is a very general sign.
      <br/>
      The "flat hand" that rubs/bends twice downward on the chin is can be 
		interpreted as:
      <br/>
      <br/>
      SWEET-taste
      <br/>
      SWEET-(nice_personality)
      <br/>
      SUGAR
      <br/>
      DIABETES
      <br/>
      SWEETS
      <br/>
      and, when combined with the sign "SOUP," can be interpreted as 
		"pudding."
     </font>
    </span>
   </p>
  </div>
 </font>
 <font color="#000000" face="Arial" id="role_document">
  <p class="MsoNormal" style="MARGIN: 0in 0in 0pt">
   <br/>
  </p>
 </font>
 <font color="#000000" face="Arial" id="role_document" size="2">
  <span style="font-size: 14pt">
   <font size="3">
    It seems to me that "older" people 
		use the SWEET sign to also mean "sugar."  Coffee drinkers often use the 
		SWEET sign to mean "sugar" too.  (Just like they use the sign "MILK" to 
		mean "cream.")
   </font>
  </span>
  <p class="MsoNormal" style="MARGIN: 0in 0in 0pt">
   <span style="font-size: 14pt">
    <font size="3">
     ______________________
     <br/>
     <br/>
     The modified "U/H" handshape (thumb alongside) that rubs/bends twice 
		downward on the chin can be interpreted as:
     <br/>
     <br/>
     <a href="../c/cute.htm">
      CUTE
     </a>
     <br/>
     SUGAR
     <br/>
     CANDY-(rare_version: off the chin or cheek using a "U-handshape)
     <br/>
     <br/>
     Note:  If a guy or girl is "hot" as in "very good looking" the above 
		sign can be modified to use a single downward movement that is much more 
		exaggerated and held longer at the end of the sign than the standard 
		sign for CUTE.  If used, the facial expression tends to look as if you 
		were doing a "whistle."  I'm sure that expression is simply how your 
		lips look when you pronounce the letter "U."
    </font>
   </span>
  </p>
 </font>
</blockquote>