<blockquote>
 <font face="Arial">
  <hr align="left" color="#000000" size="1"/>
  <p style="margin-top: 0; margin-bottom: 0">
   The right sign for "take" depends on your meaning.
   <br/>
   <br/>
   If you mean "take" as in "take a class" then you are going to use the 
	version that also means "adopt" as in 

	"We want to adopt a baby"

	and/or "evaporate"

	as in, "The sun "evaporated" all the water.
   <p style="margin-top: 0; margin-bottom: 0">
    <br/>
    TAKE:  TAKE-up / adopt / evaporate / soak-up:
    <p style="margin-top: 0; margin-bottom: 0">
     <img border="0" src="/images/take-up.gif" style="max-width: 100%; height: auto" width="480"/>
     <img border="0" src="/images/take-up-2.gif" style="max-width: 100%; height: auto" width="480"/>
    </p>
    <p style="margin-top: 0; margin-bottom: 0">
     <img border="0" height="224" src="/images/take.h5.jpg" width="248"/>
     <img border="0" height="224" src="/images/take.h6.jpg" width="248"/>
     <img border="0" height="224" src="/images/take.h7.jpg" width="248"/>
    </p>
    <p style="margin-top: 0; margin-bottom: 0">
     Sample sentence: "Where are you taking sign?"
     <br/>
     <br/>
     <object classid="CLSID:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,22,0" height="253" id="FVS" width="320">
      <param name="movie" value="../10/you-take-sign-where_player.swf?393316728"/>
      <param name="bgcolor" value="#ffffff"/>
      <embed bgcolor="#ffffff" height="253" name="FVS" pluginspage='http://www.macromedia.com/go/getflashplayer"' src="../10/you-take-sign-where_player.swf?393316728" type="application/x-shockwave-flash" width="320"/>
     </object>
     <br/>
     <br/>
     Okay, let's review this very important version of "take."
     <br/>
     <br/>
     * It uses two hands
     <br/>
     * It

starts using palm-down, loose, "5-hands"
     <br/>
     * It

changes to "S" hands
     <br/>
     <br/>
     Remember, this sign means things like:
     <br/>
     -
  to take a class
     <br/>
     -
  to adopt a method or a child
     <br/>
     -
  to evaporate
     <br/>
     -
  It
     <i>
      <b>
       doesn’t
      </b>
     </i>
     mean to “take from”
     <br/>
     <br/>
     TAKE-up:
    </p>
    <p style="margin-top: 0; margin-bottom: 0">
     <img border="0" height="237" src="/images/take-up1.jpg" width="251"/>
     <img border="0" height="237" src="/images/take-up2.jpg" width="251"/>
     <br/>
    </p>
    <hr align="left" color="#000000" size="1"/>
    <p style="margin-top: 0; margin-bottom: 0">
     <br/>
     If you mean "take" as in, "I took the candy from the baby" you would use a 
	grabbing movement.
     <br/>
    </p>
    <p style="margin-top: 0; margin-bottom: 0">
     TAKE-from:
    </p>
    <p style="margin-top: 0; margin-bottom: 0">
     <img border="0" height="233" src="/images/take1.jpg" width="258"/>
     <img border="0" height="233" src="/images/take2.jpg" width="258"/>
     <img border="0" height="233" src="/images/take3.jpg" width="258"/>
     <br/>
     <br/>
    </p>
    <hr align="left" color="#000000" size="1"/>
    <p style="margin-top: 0; margin-bottom: 0">
     <br/>
     If you mean "take" as in, "I take aspirin daily," then hold an imaginary 
	pill between your middle finger and your thumb and "pop" it into your mouth.  
	You can also hold the pill between your index finger and your thumb.
     <br/>
     <br/>
     TAKE-a-pill:
     <br/>
     <img border="0" height="239" src="/images/take-pill1.jpg" width="236"/>
     <img border="0" height="239" src="/images/take-pill2.jpg" width="236"/>
     <img border="0" height="239" src="/images/take-pill3.jpg" width="236"/>
     <br/>
     <br/>
     <hr align="left" color="#000000" size="1"/>
     <p style="margin-top: 0; margin-bottom: 0">
      Also see:  "
      <a href="takeiteasy.htm">
       Take 
  it easy
      </a>
      "
      <br/>
     </p>
     <hr align="left" color="#000000" size="1" width="50%"/>
     <p>
      Also see: "
      <a href="take-turns.htm" style="text-decoration: none">
       TAKE-TURNS
      </a>
      "
     </p>
     <hr align="left" color="#000000" size="1"/>
     <p align="center" style="margin-top: 0; margin-bottom: 0">
      <font face="Arial" size="1">
       You can learn 
		American
       <a href="http://www.lifeprint.com" style="text-decoration: none">
        Sign 
		Language
       </a>
       (ASL) online at American Sign Language University ™
       <br/>
       <a href="http://asl.ms" style="text-decoration: none">
        ASL
       </a>
       resources by Lifeprint.com  ©  Dr. William Vicars
      </font>
     </p>
    </p>
   </p>
  </p>
 </font>
</blockquote>
