<blockquote>
 <hr align="left" color="#000000" size="1"/>
 <p style="margin-top: 0; margin-bottom: 0">
  The sign for "tell" is sort of like "flipping a word" over to 
	someone.
  <br/>
  <br/>
  TELL:  "I told you"
  <br/>
  <img border="0" src="/images/tell.gif" style="max-width: 100%; height: auto" width="480"/>
  <img border="0" height="226" src="/images/tell1.jpg" width="188"/>
  <img border="0" height="226" src="/images/tell2.jpg" width="188"/>
  <br/>
  <br/>
  <font face="Arial">
   <hr align="left" color="#000000" size="1"/>
  </font>
  <p>
   "tell him"
   <br/>
   <img border="0" height="227" src="/images/tell-him1.jpg" width="230"/>
   <img border="0" height="227" src="/images/tell-him2.jpg" width="230"/>
   <br/>
  </p>
  <font face="Arial">
   <hr align="left" color="#000000" size="1"/>
  </font>
  <p>
   tell-me
   <br/>
   <img border="0" height="228" src="/images/tell-me1.jpg" width="198"/>
   <img border="0" height="228" src="/images/tell-me2.jpg" width="198"/>
   <img border="0" height="228" src="/images/tell-me3.jpg" width="198"/>
  </p>
  <p style="margin-top: 0; margin-bottom: 0">
   Sample sentence: Tell me how you feel:
   <br/>
   <p style="margin-top: 0; margin-bottom: 0">
    <object classid="CLSID:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,115,0" height="275" id="FVS" width="320">
     <param name="movie" value="../10/tell-me-how-you-feel_player.swf?158018432"/>
     <param name="bgcolor" value="#ffffff"/>
     <param name="allowfullscreen" value="true"/>
     <embed allowfullscreen="true" bgcolor="#ffffff" height="275" name="FVS" pluginspage='http://www.macromedia.com/go/getflashplayer"' src="../10/tell-me-how-you-feel_player.swf?158018432" type="application/x-shockwave-flash" width="320"/>
    </object>
    <br/>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
  </p>
 </p>
</blockquote>
