<blockquote>
 <hr align="left" color="#000000" size="1"/>
 <p>
  TERRORIST:
 </p>
 <div>
  In a message dated 11/7/2006 6:49:07 AM Pacific Standard Time, lbouss@ writes:
 </div>
 <blockquote style="PADDING-LEFT: 5px; MARGIN-LEFT: 5px; BORDER-LEFT: blue 2px solid">
  <font color="#000000" face="Arial" size="2" style="BACKGROUND-COLOR: transparent">
   <div dir="ltr" id="idOWAReplyText59967">
    <div dir="ltr">
     <font color="#000000" face="Arial" size="2">
      Quick question for you: sign for "terrorism"?
     </font>
    </div>
    <div dir="ltr">
     <font color="#000000" face="Arial" size="2">
      Lyes B
     </font>
     .
    </div>
   </div>
  </font>
 </blockquote>
 <div>
  <div>
   Lyes,
   <br/>
   To do the concept "terrorist" justice we would need to sign, PEOPLE THEMSELVES DESTROY, BOMB, RUIN, CAUSE FEAR, 
			FOR-FOR? POLITICAL INFLUENCE.
   <br/>
   Prior to deciding on and promoting a sign for "terrorism" we must first consider if we have a sign for "violence" -- 
			since terrorism is the use of violence to intimidate, or coerce, (generally for political purposes).  
			Lacking consensus on a good sign for "violence" (DESTROY? FIGHT? RUIN/harm/spoil?) we then take another approach:  
			Terrorists cause "terror." But I doubt many signers would support the idea of using "SCARED+PERSON" to mean terrorist.
   <br/>
   At some point we have to decide, are we willing to use a version of the sign "terrible" and justify it by saying 
			terrorists do "terrible" things and therefore the compound TERRIBLE-PERSON would mean terrorist?  And 
			"TERRIBLE-ACTION" would mean "terrorism."
  </div>
  <div>
   --Dr. Bill
   <br/>
   p.s. One of the people I interviewed regarding how to sign this 
			concept signed "terrorist" by miming the act of pulling a ski-mask 
			over his face. I thought that was a
   <i>
    very
   </i>
   interesting (and 
			highly visual) way to sign terrorist.
   <br/>
   <br/>
   <br/>
   <font face="Arial">
    TERRIBLE:
    <br/>
    <img border="0" height="300" src="/images/terrible-01.jpg" width="438"/>
    <img border="0" height="300" src="/images/terrible-02.jpg" width="440"/>
   </font>
   <br/>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
  </div>
 </div>
 <p style="margin-top: 0; margin-bottom: 0">
  Also see:
  <a href="../v/violence.htm">
   VIOLENCE
  </a>
  <br/>
 </p>
 <font face="Arial">
  <hr align="left" color="#000000" size="1"/>
  <p align="center" style="margin-top: 0; margin-bottom: 0">
   <font face="Arial" size="1">
    You can learn
    <a href="http://lifeprint.com" style="text-decoration: none">
     American Sign Language (ASL)
    </a>
    online at American Sign Language University ™
    <br/>
    <a href="http://asl.ms" style="text-decoration: none">
     ASL
    </a>
    resources by Lifeprint.com  ©  Dr. William Vicars
   </font>
  </p>
 </font>
</blockquote>
