<blockquote>
 <hr align="left" color="#000000" size="1"/>
 <p style="margin-top: 0; margin-bottom: 0">
  The sign for "test" has several different "pronunciations."
  <br/>
  Okay, in this situation "pronounce" means "articulate" which means "how 
	you do" this sign.
  <br/>
  <br/>
  There are several ways to "do" the "TEST" sign. 
  All of them focus on the idea of showing a type of "question mark."  
  This generally is based on starting with a straight index finger changing into 
	an "x" finger while moving downward as if drawing a question mark in the air 
	and then "dotting it."
  <p style="margin-top: 0; margin-bottom: 0">
   <br/>
   A very common version of the sign TEST starts with index fingers 
  straight, then bends them into "x" handshapes as the hands move downward. Then 
  the hands change into palm-down "5" handshapes.
   <font face="Arial">
    <br/>
    <br/>
    TEST:
   </font>
  </p>
  <p style="margin-top: 0; margin-bottom: 0">
   <img border="0" src="/images/test.gif" style="max-width: 100%; height: auto" width="480"/>
  </p>
  <p style="margin-top: 0; margin-bottom: 0">
   <img border="0" height="234" src="/images/test1.jpg" width="289"/>
   <img border="0" height="234" src="/images/test2.jpg" width="289"/>
   <img border="0" height="234" src="/images/test3.jpg" width="289"/>
   <img border="0" height="234" src="/images/test4.jpg" width="289"/>
  </p>
  <font face="Arial">
   <p>
    Sample sentence: Do you like true/false tests?
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/QCuc-PwehGA?rel=0" width="560">
    </iframe>
   </p>
  </font>
 </p>
 <p style="margin-top: 0; margin-bottom: 0">
  <br/>
 </p>
 <font face="Arial">
  <hr align="left" color="#000000" size="1"/>
 </font>
 <p style="margin-top: 0; margin-bottom: 0">
  <br/>
  Another version of "TEST" starts with index fingers, moves the hand downward and 
  changes into "x" hands, then changes back into straight 
  index fingers and moves down a bit more while changing into "x" hands a second 
  time.
  <font face="Arial">
   I use this version to mean "quiz" but it is common to see it used to mean 
	"test."
   <br/>
   <br/>
   TEST or
	QUIZ:
  </font>
  <br/>
  <img border="0" height="240" src="/images/test-quiz1.jpg" width="265"/>
  <img border="0" height="240" src="/images/test-quiz2.jpg" width="265"/>
  <img border="0" height="240" src="/images/test-quiz3.jpg" width="265"/>
  <img border="0" height="240" src="/images/test-quiz4.jpg" width="265"/>
  <br/>
  <font face="Arial">
   <img border="0" src="/images/test-2.gif" style="max-width: 100%; height: auto" width="480"/>
  </font>
  <br/>
  Notes:
  <br/>
  Realistically though, there is a strong chance your local instructor will 
	just spell Q-U-I-Z.
 </p>
 <font face="Arial">
  <hr align="left" color="#000000" size="1"/>
  <p style="margin-top: 0; margin-bottom: 0">
   Also see:
   <a href="../e/exam.htm">
    EXAM
   </a>
   <br/>
   Also see:
   <a href="../i/investigate.htm">
    INVESTIGATE
   </a>
  </p>
  <hr align="left" color="#000000" size="1"/>
 </font>
</blockquote>
