<blockquote>
 <font face="Arial">
  <hr align="left" color="#000000" size="1"/>
  <p>
   The sign for "thief" is just a combination of STEAL and 
			PERSON.
   <br/>
   <br/>
   THIEF = STEAL + PERSON
   <br/>
   <img border="0" height="228" src="/images/thief.16.jpg" width="203"/>
   <img border="0" height="228" src="/images/thief.17.jpg" width="203"/>
   <img border="0" height="228" src="/images/thief.18.jpg" width="203"/>
   <img border="0" height="228" src="/images/thief.19.jpg" width="203"/>
   <img border="0" height="228" src="/images/thief.20.jpg" width="203"/>
  </p>
  <hr align="left" color="#000000" size="1"/>
  <p>
   <br/>
   You might see some people signing "bandit" to mean "thief."   This 
	sign is based on the idea that the traditional (old time) bandits had 
	mustaches.
   <br/>
   <br/>
   BANDIT:
  </p>
  <p>
   <img border="0" height="223" src="/images/thief.108.jpg" width="209"/>
  </p>
  <hr align="left" color="#000000" size="1"/>
  <br/>
  Here's a version of the sign "GUNS DRAWN" that can be used to mean 
			""it's a hold up" or "rob." The sign uses modified "H" hands with 
			the thumbs sticking up.
  <br/>
  <br/>
  ROB / "hold up" / mug:
  <br/>
  <img border="0" height="224" src="/images/thief.10.jpg" width="207"/>
  <p>
   <br/>
  </p>
  <hr align="left" color="#000000" size="1" width="50%"/>
  <p>
  </p>
  <hr align="left" color="#000000" size="1"/>
  <p align="center" style="margin-top: 0; margin-bottom: 0">
   <font face="Arial" size="1">
    You can learn 
		American
    <a href="http://www.lifeprint.com" style="text-decoration: none">
     Sign 
		Language
    </a>
    (ASL) online at American Sign Language University ™
    <br/>
    <a href="http://asl.ms" style="text-decoration: none">
     ASL
    </a>
    resources by Lifeprint.com  ©  Dr. William Vicars
   </font>
  </p>
 </font>
</blockquote>
