<blockquote>
 <hr align="left" color="#000000" size="1"/>
 <p>
  In a message dated 10/3/2005 12:37:58 A.M. Pacific Daylight Time, a mother 
	writes:
  <br/>
  <br/>
  I found your website and have been using it as a reference to teach my 
	infant daughter sign language. So far it's been a success! However, I cannot 
	find a reference on how to sign the word "tickle". I have not been
  <br/>
  able to find it on your site or on other internet sites. Can you please 
	help? My daughter loves to be tickled and I want to show her how to ask me 
	to tickle her. She only knows to sign "more" after I already tickle her.
  <br/>
  Thank you so much for your time! Any help or suggestion would be much
  <br/>
  appreciated!
  <br/>
  <br/>
  B.H.
  <br/>
  -------------
  <br/>
  <br/>
  B.H.,
  <br/>
  There is no widely established sign for "tickle."  You will 
			see a few "made up" signs in various baby sign "dictionaries."
  <br/>
  Two signs I'd be willing to support are:
  <br/>
  1.
  <font face="Arial">
   Holding both hands out in front of you and wiggling your curved 
			fingers as if tickling someone's ribs while smiling mischievously.
  </font>
  <br/>
  2.
  <font face="Arial">
   Bending and unbending an index finger near the armpit.
  </font>
  <br/>
  Cordially,
  <br/>
  Dr. Bill
 </p>
 <p style="margin-top: 0; margin-bottom: 0">
  <br/>
 </p>
 <font face="Arial">
  <hr align="left" color="#000000" size="1"/>
  <p align="center" style="margin-top: 0; margin-bottom: 0">
   <font face="Arial" size="1">
    You can learn
    <a href="http://lifeprint.com" style="text-decoration: none">
     American Sign Language (ASL)
    </a>
    online at American Sign Language University ™
    <br/>
    <a href="http://asl.ms" style="text-decoration: none">
     ASL
    </a>
    resources by Lifeprint.com  ©  Dr. William Vicars
   </font>
  </p>
 </font>
</blockquote>
