<blockquote>
 <hr align="left" color="#000000" size="1"/>
 <font face="Arial">
  <p>
   <span style="font-weight: 400">
    FROM-TIME-TO-TIME:
    <br/>
    <img border="0" height="239" src="/images/fromtimetotime1.jpg" width="252"/>
    <img border="0" height="238" src="/images/fromtimetotime2.jpg" width="247"/>
    <img border="0" height="236" src="/images/fromtimetotime5.jpg" width="251"/>
    <img border="0" height="237" src="/images/fromtimetotime4.jpg" width="250"/>
    <img border="0" height="238" src="/images/fromtimetotime6.jpg" width="256"/>
   </span>
  </p>
  <hr align="left" color="#000000" size="1"/>
 </font>
</blockquote>