<blockquote>
 <hr align="left" color="#000000" size="1"/>
 Pretend you are cooking toast over a fire by sticking a fork into a piece of
  bread to hold it up to the fire then when that side is done, you stick the
  fork into the other side.
 <br/>
 Your right hand is a "V" handshape throughout this whole sign. 
  The left hand is a "flat-hand."
 <hr align="left" color="#000000" size="1"/>
 <p>
  <img border="0" height="208" src="/images/toast1.jpg" width="210"/>
  <img border="0" height="208" src="/images/toast2.jpg" width="210"/>
  <img border="0" height="208" src="/images/toast3.jpg" width="210"/>
  <img border="0" height="208" src="/images/toast4.jpg" width="210"/>
 </p>
 <font face="Arial">
  <hr align="left" color="#000000" size="1"/>
  <p align="center" style="margin-top: 0; margin-bottom: 0">
   <font face="Arial" size="1">
    You can learn
    <a href="http://lifeprint.com" style="text-decoration: none">
     American Sign Language (ASL)
    </a>
    online at American Sign Language University ™
    <br/>
    <a href="http://asl.ms" style="text-decoration: none">
     ASL
    </a>
    resources by Lifeprint.com  ©  Dr. William Vicars
   </font>
  </p>
 </font>
</blockquote>
