<blockquote>
 <hr align="left" color="#000000" size="1" width="50%"/>
 <p>
  <span style="font-weight: 400">
   Sign: TOMORROW
   <br/>
   Note:  If you use a double movement this sign changes to mean: "daily" or 
	"everyday."
   <br/>
   <br/>
  </span>
  <img border="0" src="/images/tomorrow.gif" style="max-width: 100%; height: auto" width="480"/>
  <span style="font-weight: 400">
   <iframe allow="autoplay; encrypted-media" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/6gFOZMDptIk?rel=0" width="560">
   </iframe>
   <br/>
   <img border="0" height="233" src="/images/tomorrow1.jpg" width="210"/>
   <img border="0" height="233" src="/images/tomorrow2.jpg" width="210"/>
   <img border="0" height="233" src="/images/tomorrow3.jpg" width="210"/>
  </span>
 </p>
 <hr align="left" color="#000000" size="1" width="50%"/>
 <p style="margin-top: 0; margin-bottom: 0">
  <span style="font-weight: 400">
   <font face="Arial">
    Also see:
    <a href="today.htm">
     TODAY
    </a>
   </font>
  </span>
  <hr align="left" color="#000000" size="1" width="50%"/>
 </p>
</blockquote>
