<blockquote>
 <font face="Arial">
  <hr align="left" color="#000000" size="1"/>
  <p>
   To do the sign for "turtle" cover an "A" hand with a 
			"curved hand."  (The "A" hand should be your dominant hand. 
			Thus, if you are right handed, your left-hand should be on top.) 
			Move the thumb of your "A" hand side to side a couple times as if 
			representing the head of a turtle.
   <br/>
  </p>
  <p>
   <br/>
   TURTLE:
   <br/>
   <img border="0" height="237" src="/images/turtle5.jpg" width="250"/>
   <img border="0" height="237" src="/images/turtle6.jpg" width="250"/>
   <img border="0" height="237" src="/images/turtle7.jpg" width="250"/>
   <img border="0" height="237" src="/images/turtle6.jpg" width="250"/>
   <img border="0" height="237" src="/images/turtle5.jpg" width="250"/>
  </p>
  <p>
  </p>
  <hr align="left" color="#000000" size="1"/>
  <p align="center" style="margin-top: 0; margin-bottom: 0">
   <font face="Arial" size="1">
    You can learn American
    <a href="http://www.lifeprint.com" style="text-decoration: none">
     Sign 
		Language
    </a>
    (ASL) online at American Sign Language University ™
    <br/>
    <a href="http://asl.ms" style="text-decoration: none">
     ASL
    </a>
    resources 
		by Lifeprint.com  ©  Dr. William Vicars
   </font>
  </p>
 </font>
</blockquote>
