<blockquote>
 <font face="Arial">
  <hr align="left" color="#000000" size="1"/>
  <p>
   The sign for "type" as in "Dr. Bill can type 94 words 
			per minute" is done by holding your hands out in front of you as if on a keyboard.  
			Wiggle your 
  fingers a bit as if typing on a keyboard.
   <br/>
   <br/>
   TYPE / KEYBOARDING:
   <br/>
   <img border="0" height="228" src="/images/type.h28.jpg" width="243"/>
   <img border="0" height="228" src="/images/type.h29.jpg" width="243"/>
   <img border="0" height="228" src="/images/type.h30.jpg" width="243"/>
   <img border="0" height="228" src="/images/type.h31.jpg" width="243"/>
   <img border="0" height="228" src="/images/type.h28.jpg" width="243"/>
   <br/>
  </p>
  <hr align="left" color="#000000" size="1"/>
  Note:  This sign doesn't mean "What type" as in "What kind of..." 
			-- instead see: "
  <a href="../w/what-kind.htm">
   WHAT KIND
  </a>
  "
  <br/>
  <br/>
  Note: If you want to sign "texting" (as in communicating via a smart 
			phone) do a mime movement that looks like you are holding a phone in 
			both hands (two slightly modfied "A" handshapes held together) and 
			moving your thumbs as if texting.
  <hr align="left" color="#000000" size="1"/>
  <p align="center" style="margin-top: 0; margin-bottom: 0">
   <font face="Arial" size="1">
    You can learn American
    <a href="http://www.lifeprint.com" style="text-decoration: none">
     Sign 
		Language
    </a>
    (ASL) online at American Sign Language University ™
    <br/>
    <a href="http://asl.ms" style="text-decoration: none">
     ASL
    </a>
    resources 
		by Lifeprint.com  ©  Dr. William Vicars
   </font>
  </p>
 </font>
</blockquote>
