<blockquote>
 <hr align="left" color="#000000" size="1"/>
 <p style="margin-top: 0; margin-bottom: 0">
  <br/>
  The sign for "video" depends on what you mean.  If you 
	mean to mean the noun video as in a movie clip then you would use the sign 
	for "
  <font face="Arial">
   MOVIE
  </font>
  ."  If you mean the verb as in "to 
	create a video" then you should use the sign "VIDEO-record."
  <br/>
  <font face="Arial">
   <span style="font-weight: 400">
    See:
    <a href="../m/movie.htm">
     MOVIE
    </a>
    <br/>
    See:
    <a href="video-game.htm" style="text-decoration: none">
     VIDEO-GAME
    </a>
    <p style="margin-top: 0; margin-bottom: 0">
     See:
     <a href="video-phone.htm" style="text-decoration: none">
      VIDEO-PHONE
     </a>
     <br/>
     See:
     <a href="video-record.htm" style="text-decoration: none">
      VIDEO-RECORD
     </a>
     <br/>
     See:
     <a href="videotape.htm" style="text-decoration: none">
      VIDEO-TAPE
     </a>
    </p>
    <p style="margin-top: 0; margin-bottom: 0">
     See:
     <a href="../w/webcam.htm">
      WEBCAM
     </a>
    </p>
   </span>
  </font>
  <br/>
 </p>
 <font face="Arial">
  <hr align="left" color="#000000" size="1"/>
 </font>
 <span style="font-weight: 400">
  <font face="Arial">
   <p style="margin-top: 0; margin-bottom: 0">
    <br/>
    If you want to say, "Hey let's watch a video!" - use the sign "MOVIE."
    <br/>
    <br/>
    MOVIE / video:
    <br/>
    <img border="0" src="/images/movie.gif" style="max-width: 100%; height: auto" width="480"/>
    <iframe allow="autoplay; encrypted-media" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/AWfjsUhFeOw?rel=0" width="560">
    </iframe>
    <p>
     <img border="0" height="235" src="/images/movie1b.jpg" width="200"/>
     <img border="0" height="235" src="/images/movie2b.jpg" width="200"/>
     <img border="0" height="235" src="/images/movie1b.jpg" width="200"/>
     <img border="0" height="235" src="/images/movie2b.jpg" width="200"/>
    </p>
    <hr align="left" color="#000000" size="1"/>
    <p style="margin-top: 0; margin-bottom: 0">
     <br/>
     This is a good general sign that shows a video camera in the action of 
	recording.
     <br/>
     VIDEO-record:
    </p>
   </p>
  </font>
 </span>
 <span style="font-weight: 400">
  <font face="Arial">
   <p style="margin-top: 0; margin-bottom: 0">
    <img border="0" height="250" src="/images/video-record.jpg" width="207"/>
    <iframe allow="autoplay; encrypted-media" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/AL5vDzEz4-k?rel=0" width="560">
    </iframe>
    <br/>
   </p>
   <hr align="left" color="#000000" size="1"/>
  </font>
 </span>
 <font face="Arial">
  <p style="margin-top: 0; margin-bottom: 0">
   DVD and CD are fingerspelled.
   <br/>
   <br/>
   CD:
   <br/>
   <img alt="c.gif (438798 bytes)" border="2" height="100" src="/images/c_small.gif" width="100" xthumbnail-orig-image="../../fingerspelling/abc-gifs/c.gif"/>
   <img alt="d.gif (216914 bytes)" border="2" height="100" src="/images/d_small.gif" width="100" xthumbnail-orig-image="../../fingerspelling/abc-gifs/d.gif"/>
   <br/>
   <br/>
   DVD:
   <br/>
   <img alt="d.gif (216914 bytes)" border="2" height="100" src="/images/d_small.gif" width="100" xthumbnail-orig-image="../../fingerspelling/abc-gifs/d.gif"/>
   <img alt="v.gif (197603 bytes)" border="2" height="100" src="/images/v_small.gif" width="100" xthumbnail-orig-image="../../fingerspelling/abc-gifs/v.gif"/>
   <img alt="d.gif (216914 bytes)" border="2" height="100" src="/images/d_small.gif" width="100" xthumbnail-orig-image="../../fingerspelling/abc-gifs/d.gif"/>
   <br/>
  </p>
  <hr align="left" color="#000000" size="1"/>
  <p style="margin-top: 0; margin-bottom: 0">
   BLUERAY disk is done by signing 
	BLUE and spelling R-A-Y
   <br/>
   <br/>
   <a href="../b/blue.htm">
    BLUE
   </a>
   +
   <img alt="r.gif (298585 bytes)" border="2" height="100" src="/images/r_small.gif" width="100" xthumbnail-orig-image="../../fingerspelling/abc-gifs/r.gif"/>
   <img alt="a.gif (156187 bytes)" border="2" height="100" src="/images/a_small.gif" width="100" xthumbnail-orig-image="../../fingerspelling/abc-gifs/a.gif"/>
   <img alt="y.gif (495978 bytes)" border="2" height="100" src="/images/y_small.gif" width="100" xthumbnail-orig-image="../../fingerspelling/abc-gifs/y.gif"/>
   <br/>
  </p>
  <hr align="left" color="#000000" size="1"/>
  <font face="Arial">
   <span style="font-weight: 400">
    <p style="margin-top: 0; margin-bottom: 0">
    </p>
   </span>
  </font>
 </font>
 <p style="margin-top: 0; margin-bottom: 0">
  Notes:
  <br/>
  Hearing people might say, "Hey, want to come over to my place for a
  video?"
  <br/>
  Deaf tend to say, "WANT COME MY HOUSE
  WATCH MOVIE?" (Or some other version like, TONIGHT, MY HOUSE, MOVIE
  WATCH, WANT JOIN?)  The point being, if you mean specifically a
  "videotape," "CD," or "DVD" then go ahead and sign exactly what you 
	mean. Otherwise you should default to MOVIE.
  <br/>
  <br/>
 </p>
 <font face="Arial">
  <hr align="left" color="#000000" size="1"/>
 </font>
</blockquote>
