<blockquote>
 <hr align="left" color="#000000" size="1"/>
 <p style="margin-top: 0; margin-bottom: 0">
  <br/>
  <span style="font-weight: 400">
   <font face="Arial">
    In ASL the "Y" handshape is occasionally used to show that something is 
"wide."
    <br/>
    <br/>
    For example, the "Y" hand can be used to show a fat person walking.
    <br/>
    <br/>
    The sign "waddle" rocks side to side as it moves forward. It can be used 
either to show a fat person (or animal) walking or it can be used as a 
derogatory "insult" to indicate that you think someone is "obese" or "so fat 
that they waddle."
    <br/>
    <br/>
    WADDLE:
    <br/>
    <img border="0" height="230" src="/images/fatwaddle1.jpg" width="221"/>
    <img border="0" height="230" src="/images/fatwaddle2.jpg" width="221"/>
    <img border="0" height="230" src="/images/fatwaddle3.jpg" width="221"/>
    <img border="0" height="230" src="/images/fatwaddle4.jpg" width="221"/>
    <img border="0" height="230" src="/images/fatwaddle5.jpg" width="221"/>
    <img border="0" height="230" src="/images/fatwaddle6.jpg" width="221"/>
    <img border="0" height="230" src="/images/fatwaddle7.jpg" width="221"/>
   </font>
  </span>
  <font face="Arial">
   <p style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p style="margin-top: 0; margin-bottom: 0">
    See:
    <a href="../f/fat.htm">
     FAT
    </a>
   </p>
   <hr align="left" color="#000000" size="1"/>
  </font>
 </p>
</blockquote>
