<blockquote>
 <font face="Arial">
  <p align="right" style="margin-top: 0; margin-bottom: 0">
   <font size="2">
    <a href="../../../index.htm" style="text-decoration: none" target="_top">
     ASL University ►
    </a>
   </font>
  </p>
  <hr color="#000000" size="1"/>
  <table border="0" cellpadding="0" cellspacing="0" id="table1" style="border-collapse: collapse" width="100%">
   <tr>
    <th align="left" style="font-weight: 400" valign="top">
     <h1 style="margin-top: 0; margin-bottom: 0">
      <span style="font-weight: 400">
       <font size="5">
        American Sign Language: "WAGON" 
or "BUGGY"
       </font>
      </span>
      <br/>
     </h1>
     <blockquote>
      <hr align="left" color="#000000" size="1"/>
      <font face="Arial">
       <p>
        WAGON / BUGGY (horse drawn)
        <br/>
        This is the general sign for a horse drawn wagon, cart, or buggy:
        <br/>
        <br/>
        <img border="0" height="321" src="/images/wagon-01.gif" width="341"/>
        <br/>
        <br/>
        For an mp4 version:
       </p>
      </font>
     </blockquote>
    </th>
   </tr>
  </table>
 </font>
 <a href="../../signjpegs/w/wagon-horse-drawn.mp4">
  "wagon" (horse drawn)
 </a>
 <font face="Arial">
  <hr align="left" color="#000000" size="1"/>
  <p>
   "A horse drawn wagon"
   <br/>
   <br/>
   <object classid="CLSID:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=8,0,0,0" height="435" id="FVS0" width="400">
    <param name="movie" value="wagon-horse-drawn-wagon_player.swf?1286310074"/>
    <param name="bgcolor" value="#ffffff"/>
    <param name="allowfullscreen" value="true"/>
    <embed allowfullscreen="true" bgcolor="#ffffff" height="435" name="FVS0" pluginspage='http://www.macromedia.com/go/getflashplayer"' src="wagon-horse-drawn-wagon_player.swf?1286310074" type="application/x-shockwave-flash" width="400"/>
   </object>
   <br/>
  </p>
  <hr align="left" color="#000000" size="1"/>
  <p>
   Suppose you wanted to be very specific or clear about what kind 
of wagon you have.  You can use classifiers (which are special 
handshapes that can be used to show the size, shape, and/or movement 
of things) to describe what the wagon is like.
   <br/>
   <br/>
   "Covered Wagon"
   <br/>
   Sample Description: HORSES "two in far front" "two in near front" 
"behind that, a vehicle" "covered with a high rounded top."
   <br/>
   <br/>
   <object classid="CLSID:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=8,0,0,0" height="335" id="FVS" width="400">
    <param name="movie" value="wagon-03-description_player.swf?134274947"/>
    <param name="bgcolor" value="#ffffff"/>
    <param name="allowfullscreen" value="true"/>
    <embed allowfullscreen="true" bgcolor="#ffffff" height="335" name="FVS" pluginspage='http://www.macromedia.com/go/getflashplayer"' src="wagon-03-description_player.swf?134274947" type="application/x-shockwave-flash" width="400"/>
   </object>
  </p>
  <hr align="left" color="#000000" size="1"/>
  <p style="margin-top: 0; margin-bottom: 0">
   <br/>
   HORSE:
  </p>
  <p style="margin-top: 0; margin-bottom: 0">
   Touch the thumb to the 
side of your head near your temple or a bit higher. Bend the fingers 
forward twice.  The bend is at the large knuckles. Keep the 
middle knuckles fairly straight.
   <br/>
   <br/>
   <img border="0" height="298" src="/images/wagon.1.jpg" width="314"/>
   <img border="0" height="298" src="/images/wagon.2.jpg" width="314"/>
   <font face="Arial">
    <br/>
    <img border="0" height="298" src="/images/wagon.1.jpg" width="314"/>
    <img border="0" height="298" src="/images/wagon.2.jpg" width="314"/>
    <br/>
   </font>
  </p>
  <font face="Arial">
   <hr align="left" color="#000000" size="1"/>
  </font>
  <p style="margin-top: 0; margin-bottom: 0">
   <br/>
   After you have introduced the concept of a "horse" you can use a 
bent-V hand to show where it is located.
   <br/>
   Here I'm showing four horses. Two in front and two more behind them:
   <br/>
   <img border="0" height="298" src="/images/wagon.3.jpg" width="314"/>
   <img border="0" height="298" src="/images/wagon.4.jpg" width="314"/>
   <br/>
  </p>
  <font face="Arial">
   <hr align="left" color="#000000" size="1"/>
  </font>
  <p style="margin-top: 0; margin-bottom: 0">
   <br/>
   COVERED WAGON:
   <br/>
   You can use a "classifier-3" handshape to show a vehicle. Then you 
can use a flat handshape to show the covering.
   <br/>
   This concept would only be clear if you had already established some 
context by indicating the horses up front.
   <br/>
   Another, even better method would be to spell W-A-G-O-N, then show 
the classifier-3, do the cover, then show the horses up front, thus 
starting with the largest main object.
   <br/>
   <br/>
   <img border="0" height="298" src="/images/wagon.5.jpg" width="314"/>
   <img border="0" height="298" src="/images/wagon.6.jpg" width="314"/>
   <img border="0" height="298" src="/images/wagon.7.jpg" width="314"/>
   <br/>
  </p>
  <font face="Arial">
   <hr align="left" color="#000000" size="1"/>
  </font>
  <p style="margin-top: 0; margin-bottom: 0">
   <br/>
   <font face="Arial">
    DRAWN (as in "pulled"), "pulling."
    <br/>
    Just grab one hand with an "underhand" grip, and pull it a few 
inches.
    <br/>
    <br/>
    <img border="0" height="300" src="/images/wagon.8.jpg" width="269"/>
    <img border="0" height="300" src="/images/wagon.9.jpg" width="269"/>
    <br/>
   </font>
  </p>
  <font face="Arial">
   <hr align="left" color="#000000" size="1"/>
  </font>
  <p style="margin-top: 0; margin-bottom: 0">
  </p>
  <span style="font-weight: 400">
   <font face="Arial">
    <p style="margin-top: 0; margin-bottom: 0">
     RIDE or "RIDE-IN"
     <br/>
     The index and middle fingers of the dominant hand are "sitting" in the base 
hand's "C handshape." Move the base hand forward a short distance with the 
dominant hand "riding in" the base hand.
     <br/>
    </p>
    <p style="margin-top: 0; margin-bottom: 0">
     <object classid="CLSID:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=8,0,0,0" height="275" id="FVS1" width="320">
      <param name="movie" value="../r/ride-in_player.swf?439419792"/>
      <param name="bgcolor" value="#ffffff"/>
      <param name="allowfullscreen" value="true"/>
      <embed allowfullscreen="true" bgcolor="#ffffff" height="275" name="FVS1" pluginspage='http://www.macromedia.com/go/getflashplayer"' src="../r/ride-in_player.swf?439419792" type="application/x-shockwave-flash" width="320"/>
     </object>
     <br/>
    </p>
    <p style="margin-top: 0; margin-bottom: 0">
     <img border="0" height="227" src="/images/ridein1.jpg" width="218"/>
     <img border="0" height="227" src="/images/ridein2.jpg" width="218"/>
     <img border="0" height="227" src="/images/ridein3.jpg" width="218"/>
     <img border="0" height="227" src="/images/ridein4.jpg" width="218"/>
    </p>
   </font>
  </span>
  <p style="margin-top: 0; margin-bottom: 0">
   <font face="Arial">
    Also see:
    <a href="../r/ride.htm">
     RIDE
    </a>
    <br/>
   </font>
  </p>
  <font face="Arial">
   <hr align="left" color="#000000" size="1"/>
  </font>
  <p style="margin-top: 0; margin-bottom: 0">
  </p>
  <div>
   <div>
    In a message dated 8/23/2007 6:45:07 A.M. Pacific Daylight Time, 
monta@babysignlanguage.net writes:
   </div>
   <blockquote style="PADDING-LEFT: 5px; MARGIN-LEFT: 5px; BORDER-LEFT: blue 2px solid">
    <font color="#000000" face="Arial" size="2" style="BACKGROUND-COLOR: transparent">
     <div>
      <font face="Arial" size="2">
       Hi Bill,
      </font>
     </div>
     <div>
      <font face="Arial" size="2">
       I would like to know your opinion on 
the sign for WAGON, as in a children's wagon that you pull. I 
don't see it anywhere on your site, but have seen a couple of 
variations of the sign.
      </font>
     </div>
     <div>
      <font face="Arial" size="2">
       The ASL browser shows an upturned 
fist (looks like an "e" hand to me) pulling right to left, I 
have also seen a downturned "S" hand used. Any ideas on which, 
if any, is more commonly used?: )
      </font>
     </div>
     <div>
     </div>
     <div>
      <font face="Arial" size="2">
       Monta Briant
       <br/>
       Sign2Me Presenter, San Diego
      </font>
     </div>
    </font>
   </blockquote>
  </div>
  <div>
   Monta,
   <br/>
   You will not find a "standard" sign for "toy wagon" because there isn't 
one.
   <br/>
   Ask ten adult Deaf people and you will get a variety of signs that 
generally look like the pulling of a wagon.  As I sat here at my desk, I 
found myself  using both index fingers to show the left and right front 
wheels and then doing a pulling movement.
   <br/>
   In real life if the topic of toy wagons came up it would probably be 
because you have a wagon in front of you and so you would
   <i>
    point
   </i>
   to it. But if you were discussing a toy wagon with an adult deaf 
person and no wagon was around, you'd spell it. You might sign CHILD 
W-A-G-O-N, or PLAY W-A-G-O-N to indicate you are not talking about a 
horse drawn wagon (which does have a specific sign).  If you were 
telling CHILDREN a story about a toy wagon, on first reference you'd use 
a combination of signs and spelling to describe it (yes, we spell to 
children they might not phonetically sound out w-a-g-o-n, but rather 
they see the shape and flow of the word and often form a direct 
association between the fingerspelled word and the object which it 
represents) . You'd point to it in the book if there was a picture.  If 
there was no picture you would use classifiers to show the size and 
shape. You'd show the wheels, and then you'd do a pulling movement.  The 
second time you mention the "wagon" you then use fewer signs.  By the 
third or fourth time you refer to the wagon you simply use the dragging 
sign.
   <br/>
   I personally like the palm down, "S" handshape, right to left movement.  
But that doesn't mean I think it is any "better" than the palm up 
movement.  I do know that if I just walked up to my wife and out of 
context asked her, "YOU WANT BUY WAGON?" using that sign,--she would 
have no clue what I was talking about.  Now, if I mouthed the word 
wagon, she would probably get it. ("Mouthing" is a whole different 
discussion that has already been posted).
   <br/>
   So, if you want to teach a sign for wagon, feel free to show the "drag" 
sign.  Note: I find myself doing a small double movement to indicate the 
noun form vs a larger single movement for the verb form.
   <br/>
   Cordially,
   <br/>
   Dr. V
   <br/>
   Lifeprint.com
  </div>
  <p style="margin-top: 0; margin-bottom: 0">
  </p>
  <font face="Arial">
   <hr align="left" color="#000000" size="1"/>
  </font>
 </font>
</blockquote>
