<blockquote>
 <hr align="left" color="#000000" size="1"/>
 <p style="margin-top: 0; margin-bottom: 0">
  The sign for "washing machine" shows the agitating action of a washing machine.  It can 
	mean "do laundry."  I've also seen people sign "DISH WASHING-MACHINE" 
	to mean "dishwasher."
  <p>
   WASHING-MACHINE  (wash-in-machine)  laundry
   <br/>
   <img border="0" height="226" src="/images/washingmachine1.jpg" width="214"/>
   <img border="0" height="226" src="/images/washingmachine2.jpg" width="214"/>
   <img border="0" height="226" src="/images/washingmachine3.jpg" width="214"/>
   <img border="0" height="226" src="/images/washingmachine4.jpg" width="214"/>
  </p>
  <p>
   <iframe allow="autoplay; encrypted-media" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/3UmDXnQkUTY?rel=0" width="560">
   </iframe>
   <br/>
   <br/>
   <font face="Arial">
    Sample sentence: Do you like doing laundry? / Do you like washing clothes?
    <br/>
    (CLOTHES, YOU LIKE WASH-in-machine?)
    <br/>
    <br/>
    <object classid="CLSID:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,22,0" height="275" id="FVS" width="352">
     <param name="movie" value="../08/08.10_player.swf?211185672"/>
     <param name="bgcolor" value="#ffffff"/>
     <embed bgcolor="#ffffff" height="275" name="FVS" pluginspage='http://www.macromedia.com/go/getflashplayer"' src="../08/08.10_player.swf?211185672" type="application/x-shockwave-flash" width="352"/>
    </object>
   </font>
  </p>
  <font face="Arial">
   <hr align="left" color="#000000" size="1"/>
  </font>
 </p>
</blockquote>
