<blockquote>
 <hr align="left" color="#000000" size="1"/>
 <font face="Arial">
  WHAT-KIND: The sign WHAT-KIND doesn't need or use a separate sign 
			for WHAT. Instead you sign "TYPE/KIND" while using a "WH-Question" 
			facial expression.
 </font>
 <span style="font-weight: 400">
  <font face="Arial">
   <br/>
   <p style="margin-top: 0; margin-bottom: 0">
    <img border="0" src="/images/what-kind.gif" style="max-width: 100%; height: auto" width="480"/>
    <img border="0" height="216" src="/images/whatkind.gif" width="216"/>
    <br/>
    <br/>
    WHAT-KIND (or "type of")
    <br/>
    <font face="Arial" size="2">
     "K" handshapes rotate around each other.  The dominant hand 
(in my case, my right hand) starts on top of the non-dominant (left) hand and ends on top of the left hand. Both 
	hands move.
     <br/>
    </font>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <img border="0" height="216" src="/images/whatkind1.jpg" width="216"/>
    <img border="0" height="216" src="/images/whatkind2.jpg" width="216"/>
    <img border="0" height="216" src="/images/whatkind3.jpg" width="216"/>
    <img border="0" height="216" src="/images/whatkind4.jpg" width="216"/>
    <img border="0" height="216" src="/images/whatkind5.jpg" width="216"/>
    <img border="0" height="216" src="/images/whatkind6.jpg" width="216"/>
    <img border="0" height="216" src="/images/whatkind7.jpg" width="216"/>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
   </p>
  </font>
 </span>
 <hr align="left" color="#000000" size="1" width="50%"/>
 <p style="margin-top: 0; margin-bottom: 0">
  <br/>
  Sample sentence: 
			"What kind of candy do you like?" = CANDY, YOU LIKE WHAT-KIND?
  <br/>
  <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/cAB-HL1ODZQ?rel=0" width="560">
  </iframe>
  <br/>
 </p>
 <font face="Arial">
  <hr align="left" color="#000000" size="1" width="50%"/>
  <p style="margin-top: 0; margin-bottom: 0">
   <br/>
   Notes:
   <br/>
   The sign for WHAT-KIND user furrowed eyebrows when used as a 
			question but you can do this sign without furrowed eyebrows to mean 
			"kind" or "type of." As in, "That is my favorite kind!"
   <br/>
   <br/>
   If you are looking for the sign "KIND" as in "Dr. Bill is a kind, 
			caring individual," see:
   <a href="../k/kind.htm">
    KIND
   </a>
  </p>
 </font>
 <p style="margin-top: 0; margin-bottom: 0">
 </p>
 <font face="Arial">
  <hr align="left" color="#000000" size="1"/>
  <p align="center" style="margin-top: 0; margin-bottom: 0">
   <font face="Arial" size="1">
    You can learn
    <a href="http://lifeprint.com" style="text-decoration: none">
     American Sign Language (ASL)
    </a>
    online at American Sign Language University ™
    <br/>
    <a href="http://asl.ms" style="text-decoration: none">
     ASL
    </a>
    resources by Lifeprint.com  ©  Dr. William Vicars
   </font>
  </p>
 </font>
</blockquote>
