<blockquote>
 <hr align="left" color="#000000" size="1" width="50%"/>
 <p style="margin-top: 0; margin-bottom: 0">
  To do the sign for "whisper"
  <font face="Arial">
   cup your passive hand at the side of your mouth and use your dominant hand 
	to do the sign for "
   <a href="../t/talk.htm">
    TALK
   </a>
   " 
	(The variation that uses a 4-hand at the mouth).
  </font>
  <p style="margin-top: 0; margin-bottom: 0">
   <p style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     <img border="0" height="320" src="/images/whisper.gif" width="320"/>
    </font>
    <font face="Arial">
     <hr align="left" color="#000000" size="1" width="50%"/>
    </font>
    <p style="margin-top: 0; margin-bottom: 0">
     <img border="0" height="320" src="/images/whisper-1.jpg" width="320"/>
     <img border="0" height="320" src="/images/whisper-2.jpg" width="320"/>
     <br/>
     <hr align="left" color="#000000" size="1" width="50%"/>
     <p style="margin-top: 0; margin-bottom: 0">
      <font face="Arial">
       <br/>
       Notes: Another way this sign is done is by leaning forward a bit, and cupping 
	your dominant hand at the side of your mouth (without needing to do the 
	"TALK" sign).
       <br/>
      </font>
     </p>
    </p>
   </p>
  </p>
 </p>
</blockquote>
