<blockquote>
 <hr align="left" color="#000000" size="1" width="50%"/>
 <p style="margin-top: 0; margin-bottom: 0">
  The sign for "who" as several variations.
  <br/>
  <font face="Arial">
   <p align="left" style="margin-top: 0; margin-bottom: 0">
    A good general variation is to place the tip of your thumb on your chin with 
	your index finger extended. Bend your index finger twice.
    <br/>
    <br/>
    Notice, some people do this sign without touching the chin.  They hold an 
"X" handshape in front of their chin/mouth and wiggle the index finger up and 
down (quickly changing it from an fully bent X to a partially bent X a couple 
times).  Personally I prefer the "touch chin with thumb" variation, but I 
	wouldn't consider it wrong if someone used the "non-contact" version. Also, 
	you will see people who do the movement from the large knuckle instead of 
	the small and middle knuckles -- that is okay too.
    <br/>
    <br/>
    WHO:
   </p>
   <p align="left" style="margin-top: 0; margin-bottom: 0">
    <img src="/images/who.gif" style="max-width: 100%; height: auto" width="480"/>
   </p>
   <p align="left" style="margin-top: 0; margin-bottom: 0">
    <iframe allow="autoplay; encrypted-media" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/wKl26BsEAoc?rel=0" width="560">
    </iframe>
    <br/>
    Memory aid: Imagine that the reason your finger is fluttering is because of the the air that flows from your 
mouth when you say "who."
   </p>
   <p align="left" style="margin-top: 0; margin-bottom: 0">
    <img border="0" height="480" src="/images/who-01.jpg" width="480"/>
    <img border="0" height="480" src="/images/who-02.jpg" width="480"/>
    <img border="0" height="480" src="/images/who-03.jpg" width="480"/>
    <img border="0" height="480" src="/images/who-04.jpg" width="480"/>
   </p>
   <center>
    <p align="left" style="margin-top: 0; margin-bottom: 0">
    </p>
    <hr align="left" color="#000000" size="1"/>
   </center>
   <p align="left" style="margin-top: 0; margin-bottom: 0">
   </p>
   <p align="left" style="margin-top: 0; margin-bottom: 0">
    Here is an
    <b>
     <i>
      old
     </i>
    </b>
    sign for WHO.  (
    <b>
     Not
    </b>
    recommended).
    <br/>
    This version isn't used by many people any more. 
It is made by putting your right index finger in front of your lips. Move your 
finger in a circular motion as if tracing an "O" around your mouth:
    <br/>
   </p>
   <p align="left" style="margin-top: 0; margin-bottom: 0">
    <iframe allow="autoplay; encrypted-media" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/_V31e361KV8?rel=0" width="560">
    </iframe>
    <img height="263" src="/images/who.gif" width="210"/>
   </p>
   <center>
    <center>
     <hr/>
    </center>
   </center>
   <hr color="#FF0000"/>
   <div>
    <br/>
    <div>
     <span style="background-color: #FFFF00">
      <font face="Arial" size="4">
       Optional (NOT required) reading:
      </font>
     </span>
    </div>
    <div>
    </div>
    <div>
     <div>
      In a message dated 1/18/2008 9:41:03 A.M. Pacific Standard Time, 
			wsisneros@ writes:
     </div>
     <blockquote style="PADDING-LEFT: 5px; MARGIN-LEFT: 5px; BORDER-LEFT: blue 2px solid">
      <font color="#000000" face="Book Antiqua" size="3" style="BACKGROUND-COLOR: transparent">
       <p>
        <span class="318233817-18012008">
         <font color="#000000" face="Book Antiqua" size="3">
          I was checking 
			signs on your website so I could refresh my memory and look up new 
			signs. I wanted to look up "Who" because I have seen a different 
			sign used, and I thought it was just a variant. I was unaware that 
			the sign I was using for "Who" was an
          <strong>
           <em>
            old
           </em>
          </strong>
          version. It was the one I learned when I was a little girl and have 
			been using ever since. No one has ever told me any different. Why is 
			it not recommended to use it? I'm just curious.
         </font>
        </span>
       </p>
       <p>
        <span class="318233817-18012008">
         <font color="#000000" face="Book Antiqua" size="3">
          Wendi Sisneros
         </font>
        </span>
       </p>
      </font>
     </blockquote>
    </div>
    <p>
     <br/>
     Hi Wendi,
     <br/>
     I recommend to my students that they use whatever sign is
     <i>
      most prevalent in 
	their region
     </i>
     .
     <br/>
     It has been my observation that the "straight index finger drawing a circle 
	in front of the lips" version of "WHO" is being used
     <i>
      less and less
     </i>
     throughout the Deaf Community as a whole.  There isn't anything "wrong" with 
	that sign, it is just becoming "outdated." Sort of like wearing clothing from 
	an earlier time period.  Personally, I think of it as a "cool" old sign with 
	a great history. I was teaching the newer sign the other day and one of my 
	students (in his fifties) showed me the "circle" version of WHO.  There 
	happened to be another Deaf person in the room and I asked her what she 
	thought about that sign. She replied "That is an English sign."  To which I 
	cocked an eyebrow to challenge her a bit.  She backed up a bit and 
	admitted that she 
	really didn't know if it was
     <i>
      Signed
     </i>
     <em>
      English
     </em>
     or just an older ASL sign but 
	that the
     <em>
      typical
     </em>
     ASL sign was the one done by bending and unbending 
	the index finger of the "L" hand with the thumb-tip touching the chin.  (She 
	is about 25 years old.)
     <br/>
     -- Dr. Bill
    </p>
   </div>
  </font>
  <p style="margin-top: 0; margin-bottom: 0">
   <hr align="left" color="#000000" size="1" width="50%"/>
   <p style="margin-top: 0; margin-bottom: 0">
    In a message dated 2/27/2013 
	6:33:43 P.M. Pacific Standard Time, ssastronomy writes:
    <br/>
    <br/>
    Dr. Bill,
    <br/>
    While signing with one of my friends, which also knows some sign language, I 
	noticed that she signed "who" by circling her mouth with her index finger. 
	This is different from the way I learned from you with the thumb under the 
	bottom lip and then wiggling the index finger. Which sign should I use?
    <br/>
    - Sam
    <br/>
    <br/>
    Sam,
    <br/>
    The version of WHO that circles the index finger around the mouth is a 
	wonderful old (classic) sign for "who." It likely originated from how speech 
	therapists used to circle their mouths to show Deaf students how to form 
	their lips to facilitate pronouncing the word "who." I would bet if you go 
	dig up an old copy of "The Joy of Signing" you will find that version in it.
    <br/>
    These days that classic sign isn't used very much and I don't recommend it 
	for new ASL students. It is nice that you know about it (in case you see 
	someone still using it) but I recommend you instead use the more 
	contemporary (current) version that touches the tip of the thumb to the chin 
	and then bends and unbends the index finger (of an "L" hand) in front of the 
	circled lips (as if saying who).
    <br/>
    Cordially,
    <br/>
    Dr. Bill
   </p>
   <hr/>
   <p style="margin-top: 0; margin-bottom: 0">
    <br/>
    Note: When doing the sign for WHO as part of a question normally you will be 
	"furrowing" your eyebrows when you do "WHO" sign. For example if you were 
	talking with a friend and someone new walked into the room (at a party or 
	similar situation) you might look at your friend, then glance at the 
	newcomer, point at the newcomer and then look back at your friend and sign 
	WHO while furrowing your eyebrows. (Since you are asking a "WH-type" 
	question.)
    <br/>
    <br/>
    However suppose you signed the statement:
    <br/>
    HE NOT TELL ME WHO (as in "He didn't tell me who." -- Since it is a 
	statement you would not furrow your eyebrows.
    <br/>
   </p>
  </p>
 </p>
</blockquote>
