<blockquote>
 <hr align="left" color="#000000" size="1" width="50%"/>
 <span style="font-weight: 400">
  <font face="Arial">
   <p style="margin-top: 0; margin-bottom: 0">
    <font size="+1">
     T
    </font>
    he sign for "why" is
made by touching (or coming near) your forehead with the fingers of your 
		dominant hand then while bringing your hand forward and down , change it to the letter "y," keeping
your palm facing you.
    <br/>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    WHY:
    <br/>
    <img src="/images/why.gif" style="max-width: 100%; height: auto" width="480"/>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <img border="0" height="480" src="/images/why-01.jpg" width="480"/>
    <img border="0" height="480" src="/images/why-02.jpg" width="480"/>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <img height="236" src="/images/why.gif" width="262"/>
    <br/>
   </p>
   <p align="left" style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1" width="50%"/>
   <p align="left" style="margin-top: 0; margin-bottom: 0">
    <img border="0" height="207" src="/images/why.ht1.jpg" width="240"/>
    <img border="0" height="207" src="/images/why.ht2.jpg" width="240"/>
   </p>
   <p align="left" style="margin-top: 0; margin-bottom: 0">
    <iframe allow="autoplay; encrypted-media" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/K0yp2v6Atxs?rel=0" width="560">
    </iframe>
   </p>
   <p align="left" style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1" width="50%"/>
   <p align="left" style="margin-top: 0; margin-bottom: 0">
    <br/>
    WHY (variation)
    <br/>
    Here is another version of the sign, "WHY."  Notice the ending 
handshape?  The index finger isn't bent.  The middle finger and 
sometimes both the middle finger and the ring finger "wiggle" a couple times.
    <br/>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <img border="0" height="200" src="/images/why2.jpg" width="180"/>
    <img border="0" height="200" src="/images/whyb1.jpg" width="180"/>
    <img border="0" height="200" src="/images/whyb3.jpg" width="180"/>
    <img border="0" height="200" src="/images/whyb4.jpg" width="180"/>
   </p>
  </font>
 </span>
</blockquote>
