<blockquote>
 <hr align="left" color="#000000" size="1"/>
 <p style="margin-top: 0; margin-bottom: 0">
  The sign for "worse" uses "K" handshapes.
  <br/>
  <font face="Arial">
   <br/>
   WORSE:
   <br/>
   <br/>
   <img border="0" height="215" src="/images/worse.gif" width="230"/>
  </font>
  <font face="Arial">
   <hr align="left" color="#000000" size="1" width="50%"/>
  </font>
  <p style="margin-top: 0; margin-bottom: 0">
   <font face="Arial">
    <img border="0" height="215" src="/images/worse.3.jpg" width="230"/>
    <img border="0" height="215" src="/images/worse.5.jpg" width="230"/>
    <img border="0" height="215" src="/images/worse.6.jpg" width="230"/>
   </font>
   <font face="Arial">
    <p style="margin-top: 0; margin-bottom: 0">
    </p>
    <hr align="left" color="#000000" size="1"/>
   </font>
   <p style="margin-top: 0; margin-bottom: 0">
    <br/>
    Sentence: What is your worst class?
    <br/>
    <br/>
    <object classid="CLSID:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=8,0,0,0" height="275" id="FVS" width="320">
     <param name="movie" value="../23/your-worst-class-what_player.swf?5617772"/>
     <param name="bgcolor" value="#ffffff"/>
     <param name="allowfullscreen" value="true"/>
     <embed allowfullscreen="true" bgcolor="#ffffff" height="275" name="FVS" pluginspage='http://www.macromedia.com/go/getflashplayer"' src="../23/your-worst-class-what_player.swf?5617772" type="application/x-shockwave-flash" width="320"/>
    </object>
    <br/>
    <font face="Arial">
     <hr align="left" color="#000000" size="1"/>
     <p style="margin-top: 0; margin-bottom: 0">
      <br/>
      Notes:
      <br/>
      <br/>
      MULTIPLY:  If you use a single movement and no facial expression the 
	sign "worse"can mean "times" or "multiply" as in 10
      <i>
       times
      </i>
      6 equals 60.
     </p>
     <p style="margin-top: 0; margin-bottom: 0">
     </p>
     <p style="margin-top: 0; margin-bottom: 0">
      FIGURE-OUT: 
	The sign worse can be modified even more to mean "figure out." 
	"Figure out" uses a double movement and it is usually smaller movement than 
	used for the sign "worse."  Also, the sign "figure out" uses a 
	"contemplative" and/or "thinking hard" type of facial expression.
     </p>
     <p style="margin-top: 0; margin-bottom: 0">
      <br/>
      FIGURE-out
     </p>
     <p style="margin-top: 0; margin-bottom: 0">
      <img border="0" height="215" src="/images/figure.gif" width="215"/>
     </p>
     <hr align="left" color="#000000" size="1" width="25%"/>
     <p style="margin-top: 0; margin-bottom: 0">
      <img border="0" height="215" src="/images/worse.7.jpg" width="215"/>
      <img border="0" height="215" src="/images/worse.8.jpg" width="215"/>
      <img border="0" height="215" src="/images/worse.9.jpg" width="215"/>
      <img border="0" height="215" src="/images/worse.10.jpg" width="215"/>
     </p>
     <p style="margin-top: 0; margin-bottom: 0">
     </p>
     <hr align="left" color="#000000" size="1"/>
    </font>
   </p>
  </p>
 </p>
</blockquote>