<blockquote>
 <hr align="left" color="#000000" size="1"/>
 <p style="margin-top: 0; margin-bottom: 0">
  The sign for "yes" uses an "S" hand.
  <p style="margin-top: 0; margin-bottom: 0">
   <br/>
   YES:
   <br/>
   <font face="Arial">
    <p style="margin-top: 0; margin-bottom: 0">
     <iframe allow="autoplay; encrypted-media" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/0usayvOXzHo?rel=0" width="560">
     </iframe>
    </p>
    <p>
     Memory aid:  Think of the fist hand as representing your head. When 
	you raise and lower your fist, bending at the wrist it represents your head 
	nodding "yes."
    </p>
    <p>
     <img border="0" height="230" src="/images/yes1.jpg" width="204"/>
     <img border="0" height="230" src="/images/yes2.jpg" width="204"/>
     <img border="0" height="230" src="/images/yes3.jpg" width="204"/>
     <img border="0" height="230" src="/images/yes4.jpg" width="204"/>
    </p>
    <hr align="left" color="#000000" size="1"/>
    Also see:
    <a href="../n/no.htm">
     NO
    </a>
    <hr align="left" color="#000000" size="1"/>
   </font>
  </p>
 </p>
</blockquote>
