<blockquote>
 <hr align="left" color="#000000" size="1"/>
 <div>
  <div>
   <br/>
   The majority of adult Deaf native signers tend to fingerspell "yogurt."
   <br/>
   <font face="Arial">
    <br/>
    YOGURT:
   </font>
   <br/>
   <font face="Arial">
    <img alt="y.gif (495978 bytes)" border="2" height="100" src="/images/y_small.gif" width="100" xthumbnail-orig-image="../../fingerspelling/abc-gifs/y.gif"/>
    <img alt="o.gif (401307 bytes)" border="2" height="100" src="/images/o_small.gif" width="100" xthumbnail-orig-image="../../fingerspelling/abc-gifs/o.gif"/>
    <img alt="g.gif (156913 bytes)" border="2" height="100" src="/images/g_small.gif" width="100" xthumbnail-orig-image="../../fingerspelling/abc-gifs/g.gif"/>
    <img alt="u.gif (225798 bytes)" border="2" height="100" src="/images/u_small.gif" width="100" xthumbnail-orig-image="../../fingerspelling/abc-gifs/u.gif"/>
    <img alt="r.gif (298585 bytes)" border="2" height="100" src="/images/r_small.gif" width="100" xthumbnail-orig-image="../../fingerspelling/abc-gifs/r.gif"/>
    <img alt="t.gif (209020 bytes)" border="2" height="100" src="/images/t_small.gif" width="100" xthumbnail-orig-image="../../fingerspelling/abc-gifs/t.gif"/>
   </font>
   <br/>
  </div>
  <div>
   <hr color="#000000"/>
   <p>
    <br/>
    Notes:
   </p>
   <p>
    A mother writes:
   </p>
  </div>
  <blockquote style="PADDING-LEFT: 5px; MARGIN-LEFT: 5px; BORDER-LEFT: blue 2px solid">
   <font color="#000000" face="Comic Sans MS" style="BACKGROUND-COLOR: transparent">
    <div>
     D
    </div>
   </font>
   <font color="#000000" face="Arial" style="BACKGROUND-COLOR: transparent">
    <font face="Comic Sans MS">
     ear 
			Dr. Bill,
     <br/>
     I'm teaching my 19 month old 
			twin boys how to sign...their cousin is Deaf...and i can't find the 
			sign for "yogurt"... my one son has made up his own by flapping his 
			arm like a chicken wing :) ... but i would like to teach him the
     <i>
      correct
     </i>
     ASL sign.
    </font>
   </font>
  </blockquote>
 </div>
</blockquote>