<blockquote>
 <font face="Arial">
  <hr align="left" color="#000000" size="1"/>
  <p>
  </p>
  <p>
   There is no widely established sign for "zebra" other than to simply sign 
  "horse" + "stripes."  I do my stripe movement by using bent five-hands, 
  but a "4" hand works well too.  When telling a story about a zebra, upon 
  first reference, I tend to sign HORSE  BLACK WHITE STRIPES STRIPES.  
  After which I shorten it to HORSE STRIPES.  The shortened version uses 
  only a single movement for "horse" and a single movement for "stripes."
  </p>
  <p>
   <br/>
   ZEBRA:
   <br/>
   <img border="0" height="237" src="/images/zebra.6.jpg" width="294"/>
   <img border="0" height="237" src="/images/zebra.7.jpg" width="294"/>
   <img border="0" height="237" src="/images/zebra.6.jpg" width="294"/>
   <img border="0" height="237" src="/images/zebra.7.jpg" width="294"/>
   <img border="0" height="237" src="/images/zebra.8.jpg" width="294"/>
   <img border="0" height="237" src="/images/zebra.9.jpg" width="294"/>
  </p>
  <p>
   <br/>
  </p>
  <hr align="left" color="#000000" size="1" width="50%"/>
  <p>
  </p>
  <hr align="left" color="#000000" size="1"/>
  <p align="center" style="margin-top: 0; margin-bottom: 0">
   <font face="Arial" size="1">
    You can learn American
    <a href="http://www.lifeprint.com" style="text-decoration: none">
     Sign 
		Language
    </a>
    (ASL) online at American Sign Language University ™
    <br/>
    <a href="http://asl.ms" style="text-decoration: none">
     ASL
    </a>
    resources 
		by Lifeprint.com  ©  Dr. William Vicars
   </font>
  </p>
 </font>
</blockquote>
