<blockquote>
 <font face="Arial">
  <hr align="left" color="#000000" size="1"/>
  <p>
   The sign for "zero" shows an "O" handshape and moves it 
			forward with a firm stop.
   <br/>
   <br/>
   ZERO:
   <br/>
   <img border="0" height="360" src="/images/zero.h3.jpg" width="377"/>
   <img border="0" height="360" src="/images/zero.h4.jpg" width="377"/>
   <br/>
  </p>
  <hr align="left" color="#000000" size="1"/>
  <p>
   <br/>
   The sign for "none" can be used for an emphatic "zero!"
   <br/>
   <br/>
   NONE:
   <br/>
   <img border="0" height="360" src="/images/zero.h1.jpg" width="403"/>
   <img border="0" height="360" src="/images/zero.h2.jpg" width="403"/>
   <br/>
   <br/>
  </p>
  <hr align="left" color="#000000" size="1" width="50%"/>
  <p>
   <br/>
   If for some reason you need to emphasize that the handshape you are 
			doing is a "zero" and not an "O" (as in the alphabet letter coming 
			after "n" and preceding the letter "P" then you can show the "zero" 
			against your palm.  If the context is clear, you don't need to 
			use this method, but if you are talking about both letters and 
			numbers (as in a password or some sort of product number that mixes 
			letters and numbers) then using the palm is a good way to 
			distinguish between letters and numbers. This version is also good 
			for talking about grades. For example, if a student got a "zero" on 
			an assigment.
   <br/>
   <br/>
   ZERO (palm version)
   <br/>
   <img border="0" height="360" src="/images/zero-v2a.jpg" width="307"/>
   <img border="0" height="360" src="/images/zero-v2b.jpg" width="307"/>
   <br/>
   <br/>
  </p>
  <hr align="left" color="#000000" size="1"/>
  <p>
   Also see:
   <a href="zilch.htm">
    ZILCH
   </a>
  </p>
  <hr align="left" color="#000000" size="1"/>
  <p align="center" style="margin-top: 0; margin-bottom: 0">
   <font face="Arial" size="1">
    You can learn American
    <a href="http://www.lifeprint.com" style="text-decoration: none">
     Sign 
		Language
    </a>
    (ASL) online at American Sign Language University ™
    <br/>
    <a href="http://asl.ms" style="text-decoration: none">
     ASL
    </a>
    resources 
		by Lifeprint.com  ©  Dr. William Vicars
   </font>
  </p>
 </font>
</blockquote>
