<blockquote>
 <hr align="left" color="#000000" size="1" width="50%"/>
 <p style="margin-top: 0; margin-bottom: 0">
  AT:
  <br/>
  To do the sign for "at" as in the symbol @ that is commonly used in email 
	addresses use an "A" handshape and circle it in the air as if drawing the 
	symbol:
  <br/>
  <font size="6">
   @
  </font>
  <br/>
  <br/>
  <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/1hDXCyZm1vA?rel=0&amp;autoplay=1" width="560">
  </iframe>
  <br/>
  It really isn't an issue if you do the movement clockwise or 
	counterclockwise.
  <br/>
  I've yet to see a consensus on that. But in general it is standard to draw 
	and show things from your own perspective, so that is the way I do it.
  <br/>
  <img border="0" height="240" src="images/at.htm5.jpg" width="272"/>
  <br/>
  <hr color="#000000"/>
  <font face="Arial">
   <hr color="#000000"/>
  </font>
  <p>
   <font color="#FF0000" size="4">
    Warning!
   </font>
   This next 
	version is
   <i>
    rarely
   </i>
   used in ASL.
   <br/>
   It is NOT used in phrases like "at least."
   <br/>
   <br/>
   Instead of signing "AT" in "
   <b>
    at
   </b>
   least you can" you would sign 
	something like, "YOU STILL CAN ..." or "MINIMUM (version)."
   <br/>
   <br/>
   Instead of signing "
   <b>
    at
   </b>
   last" you would sign "
   <a href="../s/succeed.htm" style="text-decoration: none">
    pah
   </a>
   " 
	(finally).
   <br/>
   <br/>
   Instead of signing "We will meet
   <b>
    at
   </b>
   my home tomorrow," you would 
	sign, TOMORROW MEET MY HOME.
   <br/>
   <br/>
   Instead of signing "Where
   <b>
    at
   </b>
   ?"  You would just sign "WHERE?" and 
	use an appropriate question facial expression.
   <br/>
   <br/>
   I'm showing the version below not so you will use it, but rather so you can
   <i>
    recognize
   </i>
   it if you see it.
  </p>
  <p>
   AT:
   <br/>
   <img border="0" height="219" src="images/at1.jpg" width="245"/>
   <img border="0" height="219" src="images/at2.jpg" width="245"/>
  </p>
  <hr align="left" color="#000000" size="1" width="50%"/>
  <p style="margin-top: 0; margin-bottom: 0">
  </p>
 </p>
</blockquote>
