---
import { SITE } from "~/config.mjs";

const getSigns = async function () {
  const sign_modules = await Astro.glob(
    "../../components/content/dictionary/**/*.astro"
  );

  const signs = sign_modules.map(async (sign) => {
    console.log(sign["file"]);
    const slug = sign["file"].split("/").pop().split(".").shift();
    return slug;
    // console.log(key);
    // console.log(sign_modules[key]);
    // return await {
    //   slug: key.split("/").pop().split(".").shift(),
    //   component: sign_modules[key],
    // };
    // });

    return await Promise.all(signs);
  });
};

const signs = getSigns();

export async function getStaticPaths() {
  const pages = [
    {
      slug: "products",
      title: "Astro products",
      text: "We have lots of products for you",
    },
    {
      slug: "astrohandbook",
      title: "The ultimative Astro handbook",
      text: "If you want to learn Astro, you must read this book.",
    },
  ];
  return pages.map((page) => {
    return {
      params: { slug: page["slug"] },
      props: { Sign: page["text"] },
    };
  });
}

const { slug } = Astro.props;
const { Sign } = Astro.props;

const meta = {
  title: `${SITE.org} | ${slug}`,
  description: `Dictionary page for ${slug}`,
  canonical: new URL("", Astro.site),
};

import SignLayout from "~/layouts/SignLayout.astro";
---

<SignLayout><span>test</span></SignLayout>
