<blockquote>
 <font face="Arial">
  <hr align="left" color="#000000" size="1"/>
 </font>
 <p style="margin-top: 0; margin-bottom: 0">
  <font face="Arial">
   This page discusses the concepts related to the word "about" including the 
	general sign for "about" as well related concepts such as: title, quote, approximately, 
	concerning, locale/area/thereabouts.
   <br/>
   <br/>
  </font>
  The right sign for "about" depends on your intended meaning.
  <font face="Arial">
   <hr align="left" color="#000000" size="1"/>
   <p>
    The general sign for "about," as in "Tell me
    <b>
     about
    </b>
    your family." 
	is typically done by using an index finger for the dominant hand and a "flattened O" handshape for the 
	non-dominant hand. (In ASL it would be very common to sign 
	"describe-(EXPLAIN) YOUR FAMILY) to mean "Tell me about your family" -- but 
	that isn't my point here. My point is that there are many signs that mean 
	"about" and I'm not going to show you that general sign:
    <br/>
    <br/>
    The dominant hand (right hand for most folks) draws a circle around the base 
	hand.
    <br/>
    <br/>
    ABOUT (general sign)
    <br/>
    <img border="0" src="images/about-o.gif" style="max-width: 100%; height: auto" width="480"/>
   </p>
   <p>
    <img border="0" height="219" src="images/about-b1.jpg" width="205"/>
    <img border="0" height="219" src="images/about-b2.jpg" width="205"/>
    <img border="0" height="219" src="images/about-b3.jpg" width="205"/>
    <img border="0" height="219" src="images/about-b4.jpg" width="205"/>
    <img border="0" height="219" src="images/about-b5.jpg" width="205"/>
    <br/>
    <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/wFkG56b4nuw?rel=0&amp;autoplay=1" width="560">
    </iframe>
    <br/>
    (For Windows Media Player format, see:
    <a href="../../topics/videos/aaa_wmv_videos/about.wmv">
     "ABOUT"
    </a>
    )
    <br/>
    <br/>
    However, I've seen 
  people using an index finger handshape on both hands.  I prefer to use the 
  "flattened O" handshape to make sure the sign isn't confused with the sign 
  "
    <a href="../w/when.htm">
     WHEN
    </a>
    ."  Some Deaf (including a 
	couple of my friends) do this sign with an index finger for the dominant 
	hand and an "H" handshape for the non-dominant hand. I don't particularly 
	like that variation, but it is used by enough people that I think it is 
	worth recognizing.
   </p>
   <p>
    I find very little use for the
  generic "about" sign. There is almost always a more 
	specific sign available.
    <br/>
    Instead of "about" I tend to use other signs like
  "
    <a href="../e/explain.htm">
     explain
    </a>
    /describe," "quote," or "what's up?"
    <br/>
    <br/>
    For example, I could sign, "YOUR TRIP, WHAT's-UP? " to mean "tell me
    <b>
     about
    </b>
    your trip.  Or I could sign, "DESCRIBE YOUR FAMILY" 
	to mean "tell me about your family."  Or to express the
  concept "Today we are going to talk about dogs," I could sign
  "TODAY WE DISCUSS QUOTE-(topic) DOGS."  To express the concept, 
	"I'm going to tell you about my dog." I could sign "MY DOG? I TELL YOU 
	STORY." (Or I could use the explain sign again.)
   </p>
   <p>
    The general sign "about" is indeed used in the Deaf Community and it is a 
	good sign to know.  It does pop up in
  conversation, as in, "Tell me about...(your boyfriend, your new house,
  your school...etc.)  But you will just as often see people say, "YOUR 
	BOYFRIEND LOOK-LIKE WHAT?"
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p>
    Please keep in mind that there are other signs and sign combinations that 
	might be more appropriate depending on the sentence.  
	Check out the 
	signs below.
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p>
    About as in "the subject of an article or book."  This book
  is "about" ...
    <br/>
    <br/>
    QUOTE / TOPIC / SUBJECT:
    <br/>
    <img border="0" height="221" src="images/about-quote1.jpg" width="212"/>
    <img border="0" height="221" src="images/about-quote2.jpg" width="212"/>
   </p>
   <p>
    <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/1yxJYAfanIM?rel=0" width="560">
    </iframe>
    <br/>
    The above sign can be used to mean:  Title, quote, subject, topic, ...and
  "about."
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p>
    About as in "
    <a href="approximately.htm">
     approximately
    </a>
    ":
   </p>
   <p>
    <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/U70SGZbZ3D8?rel=0" width="560">
    </iframe>
    <br/>
    <img border="0" height="223" src="images/about-approximately1.jpg" width="230"/>
    <img border="0" height="223" src="images/about-approximately2.jpg" width="230"/>
    <img border="0" height="223" src="images/about-approximately3.jpg" width="230"/>
    <br/>
    <img border="0" height="223" src="images/about-approximately4.jpg" width="230"/>
    <img border="0" height="223" src="images/about-approximately5.jpg" width="230"/>
    <img border="0" height="223" src="images/about-approximately6.jpg" width="230"/>
    <br/>
    The above sign can also mean:  In the area of, around, approximately,
  "or so," thereabouts, -ish...
    <br/>
    <img border="0" height="219" src="images/approximately.gif" width="243"/>
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p style="margin-top: 0; margin-bottom: 0">
    Note:  If you wanted to sign, "He just about made it..." you
  could sign, "He almost made it."
    <br/>
    See:
    <a href="almost.htm">
     ALMOST
    </a>
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p style="margin-top: 0; margin-bottom: 0">
    If you wanted to say, "I'm almost finished" you could sign,
  "I soon finish" or "I finish soon."
    <br/>
    See:
    <a href="../s/soon.htm">
     SOON
    </a>
   </p>
  </font>
 </p>
 <font face="Arial">
  <hr align="left" color="#000000" size="1"/>
 </font>
</blockquote>
