<blockquote>
 <hr align="left" color="#000000" size="1" width="50%"/>
 <span style="font-weight: 400">
  <font face="Arial">
   <p style="margin-top: 0; margin-bottom: 0">
    The right sign for "accident" depends 
on your meaning.
    <br/>
    If you are talking about a mishap or a mistake, then you might want to use a 
variation of the sign for "
    <a href="../m/mistake.htm">
     MISTAKE
    </a>
    ."
    <br/>
    If you are talking about two people bumping into each other then you might want 
to use a variation of the sign for "MEET."
    <br/>
    If you are talking about two cars crashing into each other you might want to use 
classifiers to demonstrate what happened.
    <br/>
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p style="margin-top: 0; margin-bottom: 0">
    <br/>
    Accident as in "two cars crashed" is done by using the "CRASH" sign.
    <br/>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    CRASH:
    <br/>
    This sign is "loosely" based on "CL:3" type handshapes.  But if you observe 
the sign done at high speed during signed conversations you'll notice that the 
handshape starts as a "modified 5" handshape that turns into an "S" shape.  
But again, it is easy to see the CL:3 roots of this sign.
    <br/>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    CRASH:
    <br/>
    <img border="0" height="261" src="images/crash.1.jpg" width="1042"/>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <br/>
    <iframe allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/G3z4RviEFLs?rel=0" width="560">
    </iframe>
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p style="margin-top: 0; margin-bottom: 0">
    <br/>
    Accident as in "I made a mistake" or "Whoops!"
    <br/>
    <br/>
    MISTAKE (error / wrong / "plans didn't work out")
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/UQakVMOT350?rel=0" width="560">
    </iframe>
    <br/>
    <img border="0" height="239" src="images/wrong-opps1.jpg" width="218"/>
    <img border="0" height="239" src="images/wrong-opps2.jpg" width="218"/>
    <img border="0" height="239" src="images/wrong-opps3.jpg" width="218"/>
    <br/>
   </p>
   <hr align="left" color="#000000" size="1"/>
   <hr align="left" color="#000000" size="1"/>
   <p style="margin-top: 0; margin-bottom: 0">
    <br/>
   </p>
  </font>
 </span>
 <font face="Arial">
 </font>
</blockquote>
