<blockquote>
 <font face="Arial">
  <hr align="left" color="#000000" size="1"/>
  <p>
   The sign for "Africa" has gone through a few political debates.  
			A long time ago it was an
  "A" circling the face.
   <br/>
  </p>
  <p>
   Then people started using a "loose C" handshape that uses a curved downward motion 
  while changing
  into an "AND" handshape. (Which was considered politically correct 
	and respectful since it was linked to the shape of the African continent and 
	not linked to people's faces).
  </p>
  <p>
   <br/>
   Some people go on a tirade if you don't sign things
   <i>
    their
   </i>
   way.  If people in your social circle sign it one particular 
			way, by all means adopt that method but as for me, I recommend you 
			do it the "newer way"
   <br/>
   <br/>
  </p>
  <hr align="left" color="#000000" size="1"/>
  <p>
  </p>
  <p>
   Africa:  (Newer, politically correct method) (recommended version)
  </p>
  <p>
   <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/ZyH7kuEa18Q?rel=0&amp;autoplay=1" width="560">
   </iframe>
  </p>
  <p>
   <img border="0" height="227" src="/images/africaa1.jpg" width="206"/>
   <img border="0" height="227" src="/images/africaa2.jpg" width="206"/>
   <img border="0" height="227" src="/images/africaa3.jpg" width="206"/>
   <img border="0" height="227" src="/images/africaa4.jpg" width="206"/>
  </p>
  <p>
  </p>
  <p>
  </p>
  <p>
   AFRICA (Old method) (not recommended)
  </p>
  <p>
   <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/qtVdE7tBGsU?rel=0" width="560">
   </iframe>
  </p>
  <p>
   <img border="0" height="231" src="/images/africab01.jpg" width="207"/>
   <img border="0" height="231" src="/images/africab02.jpg" width="207"/>
   <img border="0" height="231" src="/images/africab03.jpg" width="207"/>
   <img border="0" height="231" src="/images/africab04.jpg" width="207"/>
   <img border="0" height="231" src="/images/africab05.jpg" width="207"/>
   <img border="0" height="231" src="/images/africab06.jpg" width="207"/>
   <img border="0" height="231" src="/images/africab07.jpg" width="207"/>
   <img border="0" height="231" src="/images/africab08.jpg" width="207"/>
   <img border="0" height="231" src="/images/africab09.jpg" width="207"/>
   <img border="0" height="231" src="/images/africab10.jpg" width="207"/>
  </p>
  <hr align="left" color="#000000" size="1"/>
  <p>
  </p>
  <hr align="left" color="#000000" size="1"/>
  <p align="center" style="margin-top: 0; margin-bottom: 0">
   <font face="Arial" size="1">
    You can learn American
    <a href="http://www.lifeprint.com" style="text-decoration: none">
     Sign 
		Language
    </a>
    (ASL) online at American Sign Language University ™
    <br/>
    <a href="http://asl.ms" style="text-decoration: none">
     ASL
    </a>
    resources 
		by Lifeprint.com  ©  Dr. William Vicars
   </font>
  </p>
 </font>
</blockquote>
