<blockquote>
 <hr align="left" color="#000000" size="1"/>
 <p style="margin-top: 0; margin-bottom: 0">
  <br/>
  AGAINST (version)
 </p>
 <p style="margin-top: 0; margin-bottom: 0">
  <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/Oi6KM2rmbq4" width="560">
  </iframe>
  <br/>
 </p>
 <font face="Arial">
  <p style="margin-top: 0; margin-bottom: 0">
   You might see the non-dominant hand pointing upward during this 
			sign. It still means "against," it is simply another version of the 
			sign.
  </p>
  <p style="margin-top: 0; margin-bottom: 0">
   <img border="0" height="225" src="/images/against1.jpg" width="214"/>
   <img border="0" height="225" src="/images/against2.jpg" width="214"/>
   <img border="0" height="225" src="/images/against3.jpg" width="214"/>
  </p>
  <hr align="left" color="#000000" size="1" width="50%"/>
 </font>
 <p style="margin-top: 0; margin-bottom: 0">
  This sign can also be 
			used for the prefix "anti" and for the concept of "sue" as in, to 
			sue someone.
  <br/>
 </p>
 <font face="Arial">
  <hr align="left" color="#000000" size="1"/>
  <p align="center" style="margin-top: 0; margin-bottom: 0">
   <font face="Arial" size="1">
    You can learn
    <a href="http://lifeprint.com" style="text-decoration: none">
     American Sign Language (ASL)
    </a>
    online at American Sign Language University ™
    <br/>
    <a href="http://asl.ms" style="text-decoration: none">
     ASL
    </a>
    resources by Lifeprint.com  ©  Dr. William Vicars
   </font>
  </p>
 </font>
</blockquote>
