<blockquote>
 <hr align="left" color="#000000" size="1"/>
 <p style="margin-top: 0; margin-bottom: 0">
  The sign for "always" can also be used to mean forever and eternity.  
	(There are other variations for "forever" and "eternity" though. My point is 
	that all three concepts can be expressed by the sign for "ALWAYS."
  <font face="Arial">
   <hr align="left" color="#000000" size="1"/>
   <p style="margin-top: 0; margin-bottom: 0">
    <br/>
    To do the sign for "always" h
   </p>
  </font>
  old your index finger up in the air, palm back, and draw a 
couple of large circles. The movement is not small like the movement used for 
"single/someone/something" -- instead the movement is much larger--more like the 
size of a saucer (small dish).
All of the movement is in the elbow.  None of the 
movement is in the finger or wrist, they are kept straight.
 </p>
 <p style="margin-top: 0; margin-bottom: 0">
  <font face="Arial">
   <br/>
   ALWAYS:
   <br/>
  </font>
  <img border="0" src="/images/always2.gif" style="max-width: 100%; height: auto" width="480"/>
  <img border="0" height="418" src="/images/always.gif" width="300"/>
 </p>
 <p style="margin-top: 0; margin-bottom: 0">
  <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/byJAh12NbRM?rel=0" width="560">
  </iframe>
  <br/>
  Sample sentence: "Do you go to class on time always?"
  <br/>
  <br/>
  <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/ttUpOpqfc2g?rel=0" width="560">
  </iframe>
  <br/>
 </p>
 <p style="margin-top: 0; margin-bottom: 0">
  <img border="0" height="235" src="/images/always1.jpg" width="253"/>
  <img border="0" height="235" src="/images/always2.jpg" width="253"/>
  <img border="0" height="235" src="/images/always3.jpg" width="253"/>
  <img border="0" height="235" src="/images/always4.jpg" width="253"/>
  <img border="0" height="235" src="/images/always5.jpg" width="253"/>
  <img border="0" height="235" src="/images/always6.jpg" width="253"/>
  <img border="0" height="235" src="/images/always7.jpg" width="253"/>
  <img border="0" height="235" src="/images/always8.jpg" width="253"/>
  <img border="0" height="235" src="/images/always9.jpg" width="253"/>
  <img border="0" height="235" src="/images/always10.jpg" width="253"/>
  <img border="0" height="235" src="/images/always11.jpg" width="253"/>
  <img border="0" height="235" src="/images/always12.jpg" width="253"/>
  <br/>
 </p>
 <font face="Arial">
  <hr align="left" color="#000000" size="1"/>
 </font>
 <p style="margin-top: 0; margin-bottom: 0">
  Notes:
  <br/>
  For the concept of "eternity"
  <font face="Arial">
   some people make a palm-forward "Y" handshape at the end of ALWAYS and move the 
"Y" forward about six inches.
  </font>
  In some 
churches I've seen people initialize "eternity" using an E in a circle and 
ending with a "Y" moving forward -- but I don't 
recommend initializing  this sign.
 </p>
 <font face="Arial">
  <hr align="left" color="#000000" size="1"/>
 </font>
</blockquote>
