<blockquote>
 <hr align="left" color="#000000" size="1"/>
 <p>
  For the sign for "animal" see:
  <font face="Arial">
   <a href="animal.htm">
    ANIMAL
   </a>
  </font>
 </p>
 <font face="Arial">
  <hr align="left" color="#000000" size="1"/>
 </font>
 <p>
  <font face="Arial">
   <br/>
   Animals Lesson 01:
  </font>
 </p>
 <p>
  <a href="../b/bear.htm">
   BEAR
  </a>
  <br/>
  <a href="../b/bee.htm">
   BEE
  </a>
  <br/>
  <a href="../c/caribou.htm">
   CARIBOU
  </a>
  <br/>
  <a href="../c/chicken.htm">
   CHICKEN
  </a>
  <br/>
  <a href="../d/deer.htm">
   DEER
  </a>
  <br/>
  <a href="../d/donkey.htm">
   DONKEY
  </a>
  -[stubborn]
  <br/>
  <a href="../d/duck.htm">
   DUCK
  </a>
  <br/>
  <a href="../e/eagle.htm">
   EAGLE
  </a>
  <br/>
  <a href="../e/elephant.htm">
   ELEPHANT
  </a>
  <br/>
  <a href="../f/fly.htm">
   FLY
  </a>
  <br/>
  <a href="../f/fox.htm">
   FOX
  </a>
 </p>
 <p>
  <a href="../g/goat.htm">
   GOAT
  </a>
  <br/>
  <a href="../l/lion.htm">
   LION
  </a>
  <br/>
  <a href="../m/monkey.htm">
   MONKEY
  </a>
  <br/>
  <a href="../m/moose.htm">
   MOOSE
  </a>
 </p>
 <p>
  <a href="../m/mouse.htm">
   MOUSE
  </a>
  <br/>
  <a href="../p/pig.htm">
   PIG
  </a>
  <br/>
  <a href="../s/sheep.htm">
   SHEEP
  </a>
  <br/>
  <a href="../s/snake.htm">
   SNAKE
  </a>
  <br/>
  <a href="../t/tiger.htm">
   TIGER
  </a>
  <br/>
  <a href="../t/turtle.htm">
   TURTLE
  </a>
  <br/>
  <a href="../s/spider.htm">
   SPIDER
  </a>
  <br/>
  <a href="../w/wolf.htm">
   WOLF
  </a>
  <br/>
  <br/>
 </p>
 <hr align="left" color="#000000" size="1"/>
 <p>
  Practice sheet .A
  <br/>
  01.  BEAR SLEEP DURING WINTER?
  <br/>
  02.  DONKEY EASY PRACTICE-(train)-[initialized]?
  <br/>
  03.  ELEPHANT CAN REMEMBER MANY YEARS?
  <br/>
  04.  GOAT EAT ANY-THING?
  <br/>
  05.  LION LIVE IN OCEAN?
 </p>
 <p>
 </p>
 <p>
  Practice sheet .B
  <br/>
  06.  MONKEY CAN CLIMB TREE?
  <br/>
  07.  MOUSE CAN SCARE ELEPHANT?
  <br/>
  08.  PIG CAN CLIMB TREE?
  <br/>
  09.  SHEEP TASTE GOOD?
  <br/>
  10.  SNAKE CAN SWIM?
  <br/>
  <br/>
  Practice sheet .C
  <br/>
  11.  TIGER HAVE SPOTS?
  <br/>
  12.  TURTLE FAST, SLOW, WHICH?
  <br/>
  13.  SPIDER, YOU AFRAID YOU?
  <br/>
  14.  BEE STING YOU BEFORE?
  <br/>
  15.  ROAD, CHICKEN, CL :bent-v-"cross the road," WHY?
 </p>
 <p>
 </p>
 <p>
  Practice sheet .D
  <br/>
  16.  DEER LIVE CLUSTER, ALONE, WHICH?
  <br/>
  17.  DUCK CAN SWIM?
  <br/>
  18.  EAGLE EAT MOUSE?
  <br/>
  19.  FLY-(insect) FAST SLOW WHICH?
  <br/>
  20.  FOX  CAN FLY-(wings)?
 </p>
 <p>
 </p>
 <hr align="left" color="#000000" size="1"/>
 <p>
 </p>
 <p>
  Animals Lesson 02?
 </p>
 <a href="../g/giraffe.htm">
  GIRAFFE
 </a>
 <br/>
 <a href="../g/gorilla.htm">
  GORILLA
 </a>
 <br/>
 <a href="../h/hippopotamus.htm">
  HIPPOPOTAMUS
 </a>
 <br/>
 <a href="../m/mosquito.htm">
  MOSQUITO
 </a>
 <br/>
 <a href="../o/owl.htm">
  OWL
 </a>
 <br/>
 <a href="../r/rabbit.htm">
  RABBIT
 </a>
 <br/>
 <a href="../r/rat.htm">
  RAT
 </a>
 <br/>
 <a href="../s/squirrel.htm">
  SQUIRREL
 </a>
 <br/>
 <a href="../w/wolf.htm">
  WOLF
 </a>
 <br/>
 <a href="../w/worm.htm">
  WORM
 </a>
 <br/>
 <a href="../z/zebra.htm">
  ZEBRA
 </a>
 <br/>
 <a href="alligator.htm">
  ALLIGATOR
 </a>
 <br/>
 <a href="../b/butterfly.htm">
  BUTTERFLY
 </a>
 <br/>
 <a href="../d/dinosaur.htm">
  DINOSAUR
 </a>
 <br/>
 <a href="../f/frog.htm">
  FROG
 </a>
 <br/>
 <a href="../r/raccoon.htm">
  RACCOON
 </a>
 <br/>
 <a href="../s/skunk.htm">
  SKUNK
 </a>
 <br/>
 <br/>
 <hr align="left" color="#000000" size="1"/>
 <p>
  Practice sheet .A
  <br/>
  01.  GIRAFFE CAN HOW TALL?
  <br/>
  02.  GORILLA EAT GRASS?
  <br/>
  03.  HIPPOPOTAMUS WEIGH HOW MUCH?
  <br/>
  04.  MOSQUITO EAT WHAT?
  <br/>
  05.  OWL CAN SEE FAR?
 </p>
 <p>
 </p>
 <p>
  Practice sheet .
  <br/>
  06.   RACCOON THEY BORN EGG?
  <br/>
  07.  RAT SMART, DUMB, WHICH?
  <br/>
  08.  YOU THINK SQUIRREL CUTE?
  <br/>
  09.  WOLF SLEEP DURING WINTER?
  <br/>
  10.  WORM CAN SEE FAR?
  <br/>
  <br/>
  Practice sheet .C
  <br/>
  11.  ZEBRA HAVE SPOTS?
  <br/>
  12.  ALLIGATOR, YOU WANT FOR PET?
  <br/>
  13.  BUTTERFLY YOU COLLECT YOU?
  <br/>
  14.  DINOSAUR ALL DEAD?
  <br/>
  15.  FROG, CAN JUMP HOW FAR?
 </p>
 <p>
 </p>
 <p>
  Practice sheet .D
  <br/>
  16.  SKUNK SMELL BAD?
  <br/>
  17.  RABBIT TASTE GOOD?
  <br/>
  18.  COW EAT GRASS?
  <br/>
  19.  HORSE YOU BEFORE RIDE-ON?
  <br/>
  20.  KNOW DOG HAVE SPOTS? THAT DOG what-NAME?
 </p>
 <p>
 </p>
</blockquote>