<blockquote>
 <hr align="left" color="#000000" size="1"/>
 <p style="margin-top: 0; margin-bottom: 0">
  To do the sign for "any" hold an "A" hand in front of you.  
	If you are right handed the palm side should be facing toward he left, thumb-side up.
Turn your hand so that it is palm down, thumb-side left.
  <br/>
  <br/>
  ANY:
  <p style="margin-top: 0; margin-bottom: 0">
   <img border="0" src="/images/any.gif" style="max-width: 100%; height: auto" width="480"/>
   <img border="0" height="230" src="/images/any.gif" width="300"/>
  </p>
  <p style="margin-top: 0; margin-bottom: 0">
   <img border="0" height="238" src="/images/any1.jpg" width="238"/>
   <img border="0" height="238" src="/images/any2.jpg" width="238"/>
   <img border="0" height="238" src="/images/any3.jpg" width="238"/>
   <font face="Arial">
    <br/>
    <br/>
    Sample sentence: Is anyone in your family Deaf? - "ANY YOUR FAMILY DEAF?"
    <br/>
    <br/>
    <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/jI-T63VNnNg?rel=0" width="560">
    </iframe>
    <br/>
   </font>
  </p>
  <font face="Arial">
   <hr align="left" color="#000000" size="1"/>
   <p style="margin-top: 0; margin-bottom: 0">
    Also see:
    <a href="../o/other.htm">
     OTHER
    </a>
   </p>
   <hr align="left" color="#000000" size="1"/>
  </font>
 </p>
</blockquote>
