<blockquote>
 <hr align="left" color="#000000" size="1"/>
 As with many "very short" English words the concept of "ape" is 
			typically just fingerspelled.
 <br/>
 <font face="Arial">
  <img height="100" src="/images/a_small.gif" width="100"/>
  <img height="100" src="/images/p_small.gif" width="100"/>
  <img height="100" src="/images/e_small.gif" width="100"/>
 </font>
 <p style="margin-top: 0; margin-bottom: 0">
  <br/>
  If you are telling a story (particularly to children) you very well 
			may choose to thump on your chest a couple of times as if you were 
			an ape.
  <br/>
  <br/>
  The sign for "gorilla" tends to just use the chest thumping 
			movement.
  <br/>
  If you need to distinguish between an "ape" and a "gorilla" you have 
			a couple of options:
  <br/>
  1.  Fingerspell A-P-E and sign "gorilla" by thumping your 
			chest.
  <br/>
  2.  Thump your chest a couple times with "A" hands (palm-side 
			facing toward your chest) to mean "ape."  Thump your chest a 
			couple of times with "S" hands to mean "gorilla."
  <br/>
  <br/>
  <font face="Arial">
   GORILLA or APE:
   <p>
    <img border="0" height="238" src="/images/gorill1.jpg" width="315"/>
    <img border="0" height="238" src="/images/gorill2.jpg" width="315"/>
    <img border="0" height="238" src="/images/gorill3.jpg" width="315"/>
    <img border="0" height="238" src="/images/gorill2.jpg" width="315"/>
    <img border="0" height="238" src="/images/gorill3.jpg" width="315"/>
   </p>
  </font>
  <p style="margin-top: 0; margin-bottom: 0">
   <br/>
   Note: On first usage, if it is important to be specific about 
			whether your are signing "ape" or "gorilla" it is a good practice to 
			"fingerspell" either concept at least once for clarification.
   <br/>
   <hr align="left" color="#000000" size="1" width="50%"/>
   <p style="margin-top: 0; margin-bottom: 0">
    Also see:
    <a href="../m/monkey.htm">
     MONKEY
    </a>
    <br/>
    Also see:
    <a href="../g/gorilla.htm">
     GORILLA
    </a>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
    <p align="center" style="margin-top: 0; margin-bottom: 0">
     <font face="Arial" size="1">
      You can learn
      <a href="http://lifeprint.com" style="text-decoration: none">
       American Sign Language (ASL)
      </a>
      online at American Sign Language University ™
      <br/>
      <a href="http://asl.ms" style="text-decoration: none">
       ASL
      </a>
      resources by Lifeprint.com  ©  Dr. William Vicars
     </font>
    </p>
   </font>
  </p>
 </p>
</blockquote>
