<blockquote>
 <p align="right">
  <img alt="back.gif (1674 bytes)" border="0" height="28" onclick="history.go(-1)" src="/images/back.gif" width="54"/>
 </p>
 <h1 align="center">
  <i>
   assignment
  </i>
 </h1>
 <hr color="#800080"/>
 <p>
  ASSIGNMENT (version 1: uses the sign "
  <a href="appointment.htm">
   appointment
  </a>
  ")
 </p>
 This sign circles (horizontally, counterclockwise) the right "A"
  hand above the stationary left "A" hand then brings the right hand down on top
  of the left "A" hand.
 <br/>
 <p>
  <img border="0" height="220" src="/images/appointment-assignment1.jpg" width="223"/>
  <img border="0" height="220" src="/images/appointment-assignment2.jpg" width="223"/>
  <img border="0" height="220" src="/images/appointment-assignment3.jpg" width="223"/>
  <img border="0" height="220" src="/images/appointment-assignment4.jpg" width="223"/>
  <img border="0" height="220" src="/images/appointment-assignment5.jpg" width="223"/>
  <img border="0" height="220" src="/images/appointment-assignment7.jpg" width="223"/>
 </p>
 <p>
 </p>
 <hr color="#800080"/>
 <p>
  ASSIGNMENT (version 2)
  <br/>
  I don't know why, but I've seen quite a few people use the sign "NEGATIVE" to 
mean "assignment."
 </p>
 <p>
  <img border="0" height="237" src="/images/negative10.jpg" width="240"/>
  <img border="0" height="237" src="/images/negative11.jpg" width="240"/>
  <img border="0" height="237" src="/images/negative12.jpg" width="240"/>
  <br/>
 </p>
 <hr color="#800080"/>
 <hr color="#800080"/>
 <p align="right">
  <img alt="back.gif (1674 bytes)" border="0" height="28" onclick="history.go(-1)" src="/images/back.gif" width="54"/>
  <br/>
 </p>
</blockquote>
