<blockquote>
 <hr align="left" color="#000000" size="1"/>
 <p style="margin-top: 0; margin-bottom: 0">
  There are several ways to do The sign for "babysitter" .  One is to sign "baby" and
  a shortened form of the sign "take-care-of" +
  "agent." Which means "keep" or baby keeper."
  <br/>
  The other is to sign "baby" +
  "sit" + "agent."
  <hr align="left" color="#000000" size="1"/>
  <p>
   BABYSITTER (baby + keep + person)
  </p>
  <p>
   <iframe allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/1PsaWJIMdkQ?rel=0" width="560">
   </iframe>
   <br/>
   <img border="0" src="/images/babysitter-baby-keep.gif" style="max-width: 100%; height: auto" width="480"/>
  </p>
  <p>
   <img border="0" height="238" src="/images/babysitterb1.jpg" width="232"/>
   <img border="0" height="238" src="/images/babysitterb2.jpg" width="232"/>
   <img border="0" height="238" src="/images/babysitterb3.jpg" width="232"/>
   <img border="0" height="238" src="/images/babysitterb4.jpg" width="232"/>
   <img border="0" height="238" src="/images/babysitterb5.jpg" width="232"/>
   <img border="0" height="238" src="/images/babysitterb6.jpg" width="232"/>
   <img border="0" height="238" src="/images/babysitterb7.jpg" width="232"/>
  </p>
  <hr align="left" color="#000000" size="1"/>
  <p>
   Some people will try to tell you that the "baby" + "sit"
  version is not "ASL."  I think it is. Let's face it, many, many
  deaf people use the "sit" version.  Learn them both and don't
  worry about it.
   <br/>
  </p>
  <p>
   Babysitter:
  </p>
  <p>
   <font face="Arial" size="2">
    <img border="0" src="/images/babysitter-baby-sit.gif" style="max-width: 100%; height: auto" width="480"/>
   </font>
  </p>
  <p>
   <img border="0" height="239" src="/images/babysitter1.jpg" width="228"/>
   <img border="0" height="239" src="/images/babysitter2.jpg" width="228"/>
   <img border="0" height="239" src="/images/babysitter3.jpg" width="228"/>
   <img border="0" height="239" src="/images/babysitter4.jpg" width="228"/>
   <br/>
   <img border="0" height="239" src="/images/babysitter5.jpg" width="228"/>
   <img border="0" height="239" src="/images/babysitter6.jpg" width="228"/>
   <img border="0" height="239" src="/images/babysitter7.jpg" width="228"/>
   <br/>
  </p>
  <hr align="left" color="#000000" size="1"/>
  <p>
   "babysitter"
   <br/>
   Version:  BABY-WATCHER
   <br/>
   Sign "BABY" then use a two handed "LOOK-at" with a double movement, pointed 
	forward and downward as if looking at a baby in a crib.
  </p>
  <hr align="left" color="#000000" size="1"/>
  <p>
  </p>
  <p>
   <font size="5">
    Notes:
    <b>
     No need to read
    </b>
    below for your ASL class.
    <br/>
   </font>
  </p>
  <div>
   <div>
    In a message dated 10/21/2008 8:38:51 A.M. Pacific Daylight Time, 
			cornelia.loos@ writes:
   </div>
  </div>
  <div>
   <blockquote style="PADDING-LEFT: 5px; MARGIN-LEFT: 5px; BORDER-LEFT: blue 2px solid">
    <font color="#000000" face="Arial" size="2" style="BACKGROUND-COLOR: transparent">
     Hey Bill,
     <br/>
     <br/>
     Hope you had a great summer. I'm back from fieldwork and analyzing 
			my data - and there's this sign I'm wondering about. On your website 
			you give two translations for 'babysitter', and I encountered a 
			third version: BABY is followed by a sign that looks like : 'the two 
			A hands, palms towards the body, are brought down in neutral space a 
			little distance'. I'm wondering if this is an old sign for 'sit' 
			which got out of use, because my consultants said that they never 
			used this sign in any context other than BABY SIT. Maybe you know it 
			and know whether it is used anywhere else and has a meaning of its 
			own.
     <br/>
     Thanks a lot
     <br/>
     <br/>
     Cornelia
    </font>
   </blockquote>
  </div>
  <div>
   Corneilia,
   <br/>
   I haven't seen that version in Utah, California, Oregon, Indiana, or 
		Washington D.C.  (The areas where I have lived.)
   <br/>
   Of course I realize that doesn't mean it isn't used by people in those 
		areas, but for what it is worth, I haven't seen it.
   <br/>
   I will ask my colleagues to see if they've seen that variation and if 
		they have any thoughts as to its origin.
   <br/>
   I'm wondering if at some point it was intended as "BABY-WITH" and 
		mutated into the movement you describe.
  </div>
  <div>
   --Bill
  </div>
  <p>
   Note: Cornelia Loose is an undergrad from Germany working on her thesis 
	regarding compound formation in ASL.  One aspect of her thesis is 
	"headedness" in ASL nominal compounds.  She is investigating the extent 
	to which a head (the more prominent element of a compound, e.g. 'house' in 
	'greenhouse') takes plural marking.
  </p>
  <p style="margin-top: 0; margin-bottom: 0">
   <br/>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
  </p>
 </p>
</blockquote>
