<blockquote>
 <p align="right">
  <img alt="back.gif (1674 bytes)" border="0" height="28" onclick="history.go(-1)" src="/images/back.gif" width="54"/>
 </p>
 <h1 align="center">
  <i>
   bellybutton
  </i>
 </h1>
 <hr color="#800080"/>
 <p>
  BELLYBUTTON:
  <br/>
  Let's not make this complicated.  Just point to it.
  <br/>
  <img border="0" height="238" src="/images/bellyb22.jpg" width="195"/>
 </p>
 <hr/>
 <p>
  Okay, okay, if you must "clarify" feel free to use the "button" sign down 
near where your bellybutton is:
  <br/>
  <img border="0" height="239" src="/images/bellyb23.jpg" width="222"/>
 </p>
 <hr color="#800080"/>
 <p align="right">
  <img alt="back.gif (1674 bytes)" border="0" height="28" onclick="history.go(-1)" src="/images/back.gif" width="54"/>
  <br/>
  <br/>
 </p>
 <p>
 </p>
</blockquote>
