<blockquote>
 <hr align="left" color="#000000" size="1" width="50%"/>
 <span style="font-weight: 400">
  <font face="Arial">
   <p style="margin-top: 0; margin-bottom: 0">
    The sign for "better" starts in front 
of the mouth (not actually touching) and comes out to the right a bit. (Assuming you are right handed). 
The shape changes from a flat hand into an "A" hand with a loose thumb.
    <br/>
    <br/>
    BETTER:
    <br/>
    <br/>
    <object classid="CLSID:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=8,0,0,0" height="253" id="FVS0" width="320">
     <param name="movie" value="better_player.swf?3059312898"/>
     <param name="bgcolor" value="#ffffff"/>
     <param name="allowfullscreen" value="true"/>
     <embed allowfullscreen="true" bgcolor="#ffffff" height="253" name="FVS0" pluginspage='http://www.macromedia.com/go/getflashplayer"' src="better_player.swf?3059312898" type="application/x-shockwave-flash" width="320"/>
    </object>
    <br/>
    <br/>
    <img border="0" height="218" src="/images/better1b.jpg" width="230"/>
    <img border="0" height="218" src="/images/better2b.jpg" width="230"/>
    <img border="0" height="218" src="/images/better3b.jpg" width="230"/>
    <br/>
   </p>
   <hr align="left" color="#000000" size="1" width="50%"/>
   <p style="margin-top: 0; margin-bottom: 0">
    <br/>
    Notes:
    <br/>
   </p>
  </font>
  "BETTER" and "BEST" are actually versions of "
  <a href="../g/good.htm">
   GOOD
  </a>
  ."
  <br/>
  <br/>
  Memory Aid:  An interesting way to think of "BETTER" is as a combination of
"GOOD + ER," and "BEST" as a combination of "GOOD +
EST."
  <br/>
  <br/>
  <font face="Arial">
   <hr align="left" color="#000000" size="1" width="50%"/>
  </font>
  <p>
   GOOD:  (For more info, check out the "
   <a href="../g/good.htm">
    GOOD
   </a>
   "
page.)
  </p>
  <p>
   <img border="0" height="234" src="/images/good1.jpg" width="231"/>
   <img border="0" height="234" src="/images/good4.jpg" width="231"/>
   <br/>
  </p>
  <font face="Arial">
   <hr align="left" color="#000000" size="1" width="50%"/>
  </font>
  <p>
   The sign for BEST makes a much bigger movement, and moves up.   
The more you exaggerate this sign, the more your are emphasizing how much 
better something is than the others thus it may dip down a bit for emphasis 
prior to moving "way up."
   <br/>
   <br/>
   BEST:
   <br/>
   <br/>
   <font face="Arial">
    <object classid="CLSID:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=8,0,0,0" height="253" id="FVS" width="320">
     <param name="movie" value="best_player.swf?1893327764"/>
     <param name="bgcolor" value="#ffffff"/>
     <param name="allowfullscreen" value="true"/>
     <embed allowfullscreen="true" bgcolor="#ffffff" height="253" name="FVS" pluginspage='http://www.macromedia.com/go/getflashplayer"' src="best_player.swf?1893327764" type="application/x-shockwave-flash" width="320"/>
    </object>
    <br/>
    <br/>
   </font>
   <img border="0" height="236" src="/images/best1.jpg" width="273"/>
   <img border="0" height="236" src="/images/best2.jpg" width="273"/>
   <img border="0" height="236" src="/images/best3.jpg" width="273"/>
   <img border="0" height="236" src="/images/best4.jpg" width="273"/>
   <img border="0" height="236" src="/images/best5.jpg" width="273"/>
  </p>
 </span>
</blockquote>
