<blockquote>
 <hr align="left" color="#000000" size="1"/>
 <p style="margin-top: 0; margin-bottom: 0">
  The sign for "boss" taps a claw hand twice on the shoulder.
  <br/>
  <p>
   Memory aid: 
  The boss is the one with the weight on their shoulders.  (Or maybe a
  chip?)  Military generals have decorations on their shoulders indicating
  that they are the boss.
   <br/>
   <br/>
  </p>
  <p>
   BOSS:
  </p>
  <p>
   <img border="0" height="234" src="/images/boss1.jpg" width="273"/>
   <img border="0" height="234" src="/images/boss2.jpg" width="273"/>
   <img border="0" height="234" src="/images/boss3.jpg" width="273"/>
   <img border="0" height="234" src="/images/boss4.jpg" width="273"/>
  </p>
  <p>
   <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/wlhbw8q_5yU?rel=0" width="560">
   </iframe>
  </p>
  <p style="margin-top: 0; margin-bottom: 0">
   <br/>
  </p>
  <font face="Arial">
   <hr align="left" color="#000000" size="1"/>
  </font>
 </p>
</blockquote>
