<blockquote>
 <hr align="left" color="#000000" size="1"/>
 The right sign for branch is going to depend on what kind of branch 
			you are referring to.
 <font face="Arial">
  <hr align="left" color="#000000" size="1" width="50%"/>
  <p>
  </p>
  <p>
   BRANCH (Version: A branch extending from a tree.)
   <br/>
   One approach is to do the sign for "TREE" with your non-dominant 
			hand (and keep it in the air) as you hold the index finger of your 
			dominant hand alongside one of the fingers of the non-dominant hand 
			and move the dominant index finger outward from the tree as if 
			showing how the "branch" extends from the "tree."
   <br/>
  </p>
  <hr align="left" color="#000000" size="1" width="50%"/>
  <p>
  </p>
  <hr align="left" color="#000000" size="1" width="50%"/>
 </font>
 <p>
  <br/>
  BRANCH (Version: Use "C" hands to depict the size and shape of a 
			branch off of a tree: "A
  <font face="Arial">
   large tree branch."
  </font>
  )
  <br/>
  <img border="0" height="320" src="/images/branch-32.jpg" width="427"/>
  <img border="0" height="320" src="/images/branch-33.jpg" width="427"/>
  <img border="0" height="320" src="/images/branch-34.jpg" width="427"/>
 </p>
 <p style="margin-top: 0; margin-bottom: 0">
  <font face="Arial">
   <hr align="left" color="#000000" size="1" width="50%"/>
   <p style="margin-top: 0; margin-bottom: 0">
    <br/>
    BRANCH-off-from:
    <br/>
    English uses the word "branch" in various ways. If you use the 
			phrase "branch off of" or "branch off from" it means "diverge" or 
			split off.
    <br/>
    To sign DIVERGE, you hold both index fingers (palm down) in front of 
			you. Then slide your dominant index finger forward and veer it off 
			to the side (sort of like an "exit ramp" veering off from a highway. 
			(Keep the non-dominant hand still).
    <br/>
   </p>
   <hr align="left" color="#000000" size="1" width="50%"/>
  </font>
  <p style="margin-top: 0; margin-bottom: 0">
   Also see:
   <a href="../t/tree.htm">
    TREE
   </a>
  </p>
  <font face="Arial">
   <hr align="left" color="#000000" size="1"/>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
    <font face="Arial" size="1">
     You can learn
     <a href="http://lifeprint.com" style="text-decoration: none">
      American Sign Language (ASL)
     </a>
     online at American Sign Language University ™
     <br/>
     <a href="http://asl.ms" style="text-decoration: none">
      ASL
     </a>
     resources by Lifeprint.com  ©  Dr. William Vicars
    </font>
   </p>
  </font>
 </p>
</blockquote>
