<blockquote>
 <font face="Arial">
  <hr align="left" color="#000000" size="1"/>
  <p>
   The sign for "bruise" has a couple of variations. There 
			is a long form and a short form as well as just fingerspelling it.
   <br/>
   <br/>
   If you are giving a generic lecture (to bilingual people who already 
			know what the English word "bruise" means) and you don't know 
			anything about the specific type and nature of the bruise you are 
			better off just spelling B-R-U-I-S-E.
   <br/>
   <br/>
   The long version of "bruise" is to describe a "black and blue spot" 
			and indicate "where" that spot is.  The default location is on 
			the upper portion of your non-dominant arm.
   <br/>
   <br/>
   Sign, "BLACK" + "BLUE" + "spot on arm." 
			(Use a "painful" facial expression.)
   <br/>
  </p>
  <p>
   <br/>
   BRUISE (long form)
  </p>
  <p>
   <img border="0" height="213" src="/images/bruise01.jpg" width="232"/>
   <img border="0" height="213" src="/images/bruise02.jpg" width="232"/>
   <img border="0" height="213" src="/images/bruise03.jpg" width="232"/>
   <img border="0" height="213" src="/images/bruise04.jpg" width="232"/>
   <img border="0" height="213" src="/images/bruise05.jpg" width="232"/>
   <img border="0" height="213" src="/images/bruise06.jpg" width="232"/>
   <img border="0" height="213" src="/images/bruise07.jpg" width="232"/>
   <img border="0" height="213" src="/images/bruise08.jpg" width="232"/>
   <img border="0" height="213" src="/images/bruise09.jpg" width="232"/>
   <img border="0" height="213" src="/images/bruise10.jpg" width="232"/>
   <img border="0" height="213" src="/images/bruise11.jpg" width="232"/>
  </p>
  <p>
   Note: Since this is a compound sign you are going to end up 
			eliminating one of the movements of the sign "blue." (It is common 
			to abbreviate individual signs when they become part of a compound.)
  </p>
  <p>
   <br/>
  </p>
  <hr align="left" color="#000000" size="1" width="50%"/>
  <p>
   <br/>
   The short form of the sign for "bruise" can be used (and understood) 
			in context. For example, if you are telling a story about being hit 
			by a baseball hitting your arm and then you show a spot on your arm 
			the listener is going to assume that you are indicating that you got 
			a bruise.
   <br/>
   <br/>
   Use a painful expression as you show the location of the bruise.
   <br/>
   <br/>
   BRUISE (short form)
   <br/>
   <img border="0" height="213" src="/images/bruise10.jpg" width="232"/>
   <img border="0" height="213" src="/images/bruise11.jpg" width="232"/>
   <br/>
   <br/>
   You can adjust your hand shape and position to show the exact size 
			and location of the bruise. If it is a very large bruise you can use 
			two hands to show it (generally using the thumb and index fingers of 
			each hand to frame the size and location of the larger bruise).
   <br/>
  </p>
  <hr align="left" color="#000000" size="1" width="50%"/>
  <p>
   Also see:
   <a href="../c/clc.htm">
    Classifier "C"
   </a>
  </p>
  <hr align="left" color="#000000" size="1"/>
  <p align="center" style="margin-top: 0; margin-bottom: 0">
   <font face="Arial" size="1">
    You can learn American
    <a href="http://www.lifeprint.com" style="text-decoration: none">
     Sign 
		Language
    </a>
    (ASL) online at American Sign Language University ™
    <br/>
    <a href="http://asl.ms" style="text-decoration: none">
     ASL
    </a>
    resources 
		by Lifeprint.com  ©  Dr. William Vicars
   </font>
  </p>
 </font>
</blockquote>
