<blockquote>
 <hr align="left" color="#000000" size="1"/>
 <font face="Arial">
  You can use this sign to mean "build" or "building."
  <br/>
  You can use either all four fingers on each hand or just the index and middle
  finger of each hand.
  <p>
   I tend to use all four fingers on each hand when I'm signing a
  "building."   I tend to use just the index and middle
  fingers when I'm signing "build" or the process of
  "building."
  </p>
  <hr align="left" color="#000000" size="1"/>
  <p>
   building:
  </p>
  <p>
   <img border="0" height="210" src="/images/build1.jpg" width="241"/>
   <img border="0" height="210" src="/images/build2.jpg" width="241"/>
   <img border="0" height="210" src="/images/build3.jpg" width="241"/>
   <img border="0" height="210" src="/images/build4.jpg" width="241"/>
   <img border="0" height="210" src="/images/build5.jpg" width="241"/>
   <img border="0" height="210" src="/images/build6.jpg" width="241"/>
  </p>
  <hr align="left" color="#000000" size="1"/>
  <p>
   Building (version 2)
   <br/>
   <img border="0" height="227" src="/images/buildd1.jpg" width="246"/>
   <img border="0" height="227" src="/images/buildd2.jpg" width="246"/>
   <img border="0" height="227" src="/images/buildd3.jpg" width="246"/>
   <img border="0" height="227" src="/images/buildd4.jpg" width="246"/>
   <img border="0" height="227" src="/images/buildd5.jpg" width="246"/>
   <img border="0" height="227" src="/images/buildd6.jpg" width="246"/>
   <img border="0" height="227" src="/images/buildd7.jpg" width="246"/>
   <img border="0" height="227" src="/images/buildd8.jpg" width="246"/>
   <img border="0" height="227" src="/images/buildd9.jpg" width="246"/>
   <img border="0" height="227" src="/images/buildd10.jpg" width="246"/>
   <img border="0" height="227" src="/images/buildd11.jpg" width="246"/>
   <img border="0" height="227" src="/images/buildd12.jpg" width="246"/>
   <br/>
  </p>
  <hr align="left" color="#000000" size="1"/>
  <p>
   Also see:
   <a href="../s/skyscraper.htm">
    SKYSCRAPER
   </a>
   <br/>
   Also see:
   <a href="build.htm">
    BUILD
   </a>
  </p>
  <hr align="left" color="#000000" size="1"/>
  <p align="center" style="margin-top: 0; margin-bottom: 0">
   <font face="Arial" size="1">
    You can learn
    <a href="http://lifeprint.com" style="text-decoration: none">
     American Sign Language (ASL)
    </a>
    online at American Sign Language University ™
    <br/>
    <a href="http://asl.ms" style="text-decoration: none">
     ASL
    </a>
    resources by Lifeprint.com  ©  Dr. William Vicars
   </font>
  </p>
 </font>
</blockquote>
