<blockquote>
 <hr align="left" color="#000000" size="1"/>
 The
 <font face="Arial">
  sign for gold starts with a loose index-finger handshape pointing at 
			the earlobe and then you shake a "Y" handshape.
  <br/>
  <br/>
  But this is a
  "flexible" sign.  While most people use an index-finger or "L" 
			hand as the first
  handshape in the sign for California; some people use a "five
  handshape."
  <br/>
  <br/>
  CALIFORNIA:
  <br/>
  <img border="0" height="215" src="/images/gold1.jpg" width="211"/>
  <img border="0" height="215" src="/images/gold4.jpg" width="211"/>
  <img border="0" height="215" src="/images/gold5.jpg" width="211"/>
  <br/>
  <br/>
  I tend to just sign "
  <a href="../g/gold.htm">
   gold
  </a>
  " using
  the index finger and "y" handshape to mean, "California."
  <br/>
 </font>
 <font face="Arial">
  <hr align="left" color="#000000" size="1"/>
 </font>
 <p>
 </p>
 <p>
  CALIFORNIA:
 </p>
 <p style="margin-top: 0; margin-bottom: 0">
  <img border="0" height="296" src="/images/california-21.jpg" width="296"/>
  <img border="0" height="296" src="/images/california-22.jpg" width="296"/>
  <img border="0" height="296" src="/images/california-23.jpg" width="296"/>
  <br/>
  In everyday usage the sign CALIFORNIA "actually" starts with 
			somewhat of a loose "L" hand (rather than a "tight" "index hand").  
			Quite often it starts with an "ILY" (I love you) handshape!
  <br/>
  <object classid="CLSID:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=8,0,0,0" height="275" id="FVS" width="320">
   <param name="movie" value="../../signjpegs/c/california_player.swf?1978121491"/>
   <param name="bgcolor" value="#ffffff"/>
   <param name="allowfullscreen" value="true"/>
   <embed allowfullscreen="true" bgcolor="#ffffff" height="275" name="FVS" pluginspage='http://www.macromedia.com/go/getflashplayer"' src="../../signjpegs/c/california_player.swf?1978121491" type="application/x-shockwave-flash" width="320"/>
  </object>
  <font face="Arial">
   <img height="305" src="/images/gold.gif" width="184"/>
  </font>
  <br/>
 </p>
 <p style="margin-top: 0; margin-bottom: 0">
  <font face="Arial">
   Memory aid: California is the
   <a href="../g/gold.htm">
    Golden
   </a>
   State.
   <br/>
   The non-initialized sign for
   <a href="../g/gold.htm">
    GOLD
   </a>
   (the version 
			that uses a "Y" hand) is the basis of the sign for California.
   <br/>
   <br/>
   You will also see quite a few people starting the sign for 
			California with a "5" handshape rather than an "1" or "L" handshape.
  </font>
 </p>
 <p style="margin-top: 0; margin-bottom: 0">
 </p>
 <p>
  CALIFORNIA (version)
 </p>
 <p>
  <img border="0" height="215" src="/images/california1.jpg" width="211"/>
  <img border="0" height="215" src="/images/california2.jpg" width="211"/>
  <img border="0" height="215" src="/images/california3.jpg" width="211"/>
  <img border="0" height="215" src="/images/california4.jpg" width="211"/>
  <img border="0" height="215" src="/images/california5.jpg" width="211"/>
  <img border="0" height="215" src="/images/california6.jpg" width="211"/>
  <img border="0" height="215" src="/images/california7.jpg" width="211"/>
 </p>
 <p style="margin-top: 0; margin-bottom: 0">
 </p>
 <p style="margin-top: 0; margin-bottom: 0">
 </p>
 <font face="Arial">
  <hr align="left" color="#000000" size="1"/>
  <p align="center" style="margin-top: 0; margin-bottom: 0">
   <font face="Arial" size="1">
    You can learn
    <a href="http://www.lifeprint.com" style="text-decoration: none">
     American Sign Language (ASL)
    </a>
    online at American Sign Language University ™
    <br/>
    <a href="http://asl.ms" style="text-decoration: none">
     ASL
    </a>
    resources by Lifeprint.com  ©  Dr. William Vicars
   </font>
  </p>
 </font>
</blockquote>
