<blockquote>
 <font face="Arial">
  <hr align="left" color="#000000" size="1"/>
  <p>
   The sign for "camp" has a few variations but the 
			general concept is based around showing what a tent looks like.
   <br/>
  </p>
  <p>
   In the sign for "camp" you show a "tent" with your hands. Use a small double movement.
   <br/>
   The tips of the index finger, pinkie, and thumb touch, move 
  apart slightly, and touch again.
   <br/>
   <br/>
   CAMP / camping / tent:
   <br/>
   <img border="0" height="211" src="/images/camp.h9.jpg" width="208"/>
   <img border="0" height="211" src="/images/camp.h10.jpg" width="208"/>
   <img border="0" height="211" src="/images/camp.h11.jpg" width="208"/>
   <img border="0" height="211" src="/images/camp.h12.jpg" width="208"/>
   <br/>
   <br/>
   Notes:
  </p>
  There is quite a bit of variety in this sign, but the above variation is a 
  			good clear way to sign "camp."
  <hr align="left" color="#000000" size="1"/>
  <p>
   Also see:
   <a href="camper.htm">
    CAMPER
   </a>
  </p>
  <hr align="left" color="#000000" size="1"/>
  <p align="center" style="margin-top: 0; margin-bottom: 0">
   <font face="Arial" size="1">
    You can learn 
		American
    <a href="http://www.lifeprint.com" style="text-decoration: none">
     Sign 
		Language
    </a>
    (ASL) online at American Sign Language University ™
    <br/>
    <a href="http://asl.ms" style="text-decoration: none">
     ASL
    </a>
    resources by Lifeprint.com  ©  Dr. William Vicars
   </font>
  </p>
 </font>
</blockquote>
