<blockquote>
 <hr align="left" color="#000000" size="1"/>
 <p style="margin-top: 0; margin-bottom: 0">
  To do the sign for "Canada"
  <font face="Arial">
   thump (lightly) on your upper right chest area twice with the 
	palm-side of your right hand.  (Unless you are left handed, in which case the 
	location is on the left side of the chest.)
  </font>
  <p style="margin-top: 0; margin-bottom: 0">
   <br/>
   <font face="Arial">
    CANADA:
    <br/>
   </font>
   <object classid="CLSID:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=8,0,0,0" height="395" id="FVS" width="360">
    <param name="movie" value="canada_player.swf?3226220079"/>
    <param name="bgcolor" value="#ffffff"/>
    <param name="allowfullscreen" value="true"/>
    <embed allowfullscreen="true" bgcolor="#ffffff" height="395" name="FVS" pluginspage='http://www.macromedia.com/go/getflashplayer"' src="canada_player.swf?3226220079" type="application/x-shockwave-flash" width="360"/>
   </object>
   <font face="Arial">
    <br/>
   </font>
  </p>
  <p>
   <img border="0" height="360" src="/images/canada6.jpg" width="336"/>
   <img border="0" height="360" src="/images/canada7.jpg" width="336"/>
   <br/>
   <br/>
   Memory aid:  The Canadian Mounted Police always get their man.  
	The sign probably originated from the idea of a Mountie grabbing somebody's shirt. 
	(Remember, you don't actually grab the shirt--just tap twice with the "A" 
	hand.)
   <br/>
  </p>
  <p>
   <img border="0" height="214" src="/images/canada1.jpg" width="216"/>
   <img border="0" height="214" src="/images/canada2.jpg" width="216"/>
   <img border="0" height="214" src="/images/canada3.jpg" width="216"/>
   <img border="0" height="214" src="/images/canada4.jpg" width="216"/>
  </p>
  <hr align="left" color="#000000" size="1"/>
  <meta content="MSHTML 6.00.2900.2722" name="GENERATOR"/>
  <font color="#000000" face="Arial" id="role_document" size="2">
   <div>
    <div>
     In a message dated 8/18/2005 11:23:50 AM Pacific Daylight Time, 
			graciea@ writes:
    </div>
    <blockquote style="PADDING-LEFT: 5px; MARGIN-LEFT: 5px; BORDER-LEFT: blue 2px solid">
     <font color="#000000" face="Arial" size="2" style="BACKGROUND-COLOR: transparent">
      I want to ask about the sign for Canada.  I've been watching our 
			government channel (CPAC) where they have an ASL interpreter 
			translating the question period and it seems we have a very
			different sign for Canada up here in ... well... Canada.  I know 
			that the signs in ASL for various countries may vary from how it is 
			signed in that country but I'm very surprised that, with Canada so 
			close geographically, that we didn't end up having a common sign for 
			Canada.  The sign I keep
			seeing on TV looks like the opposite motion of the sign 'day', with 
			the right arm sweeping up instead of down and it is initialized, 
			with the right hand forming the letter 'C'.   Have you seen this?  
			Would it be labeled as signed English because of the 
			initialization?  Thanks again for sharing.
      <br/>
      -Aylene Gracie
      <br/>
      graciea@
      <br/>
     </font>
    </blockquote>
   </div>
   <div>
    <div>
     Aylene,
     <br/>
     Thanks for sharing that variation of the sign for Canada.  It 
			seems to me that somewhere in the recesses of my brain I can recall 
			having seen that sign
     <i>
      once
     </i>
     .  But then, I don't watch much 
			Canadian TV. I wouldn't label something as Signed English just 
			because it is "initialized."  Many people have that reaction, 
			but if every initialized sign were eliminated we would lose many very 
			common ASL signs like "FAMILY," "UNCLE," and "AUNT."  If I happen to come across a 
			sign for Canada or find out more information on signs for Canada 
			done by
     <i>
      Deaf Canadians
     </i>
     I'll post it to my website under "Canada."
    </div>
    <div>
     Cordially,
    </div>
    <div>
     Dr.
			Bill
     <br/>
    </div>
   </div>
  </font>
  <hr align="left" color="#000000" size="1"/>
  <div>
   <div>
    In a message dated 2/12/2006 10:29:24 P.M. Pacific Standard Time, alaidh@ 
		writes:
   </div>
   <blockquote style="PADDING-LEFT: 5px; MARGIN-LEFT: 5px; BORDER-LEFT: blue 2px solid">
    <font color="#000000" face="Arial" size="2" style="BACKGROUND-COLOR: transparent">
     <p>
      Dr. Vicars,
      <br/>
      I'm commenting on the post by Aylene Gracie on your site regarding the 
		sign for Canada.  I'm not sure what she is seeing, but the only sign 
		used for Canada is the one you have pictured, though we don't grab the 
		shirt at all.  The interpretation on CPAC is LSQ - Langue des Signes 
		Québécoise - and not ASL but, as far as I know, the sign for Canada is 
		the same.  I'm a sign language interpreter and have worked with Deaf 
		people for approximately 20 years and this is the only sign I've ever 
		seen for Canada.
      <br/>
      Thanks,
      <br/>
      Sharon
     </p>
    </font>
   </blockquote>
  </div>
  <div>
   Sharon,
   <br/>
   Thanks for the note.  Heh, you are
   <b>
    <em>
     right
    </em>
   </b>
   ...in everyday 
		conversation the sign "Canada"
   <strong>
    doesn't
   </strong>
   "grab" the 
		shirt. What a fascinating example of "motherese / teacher talk" in 
		action. When teaching Hearing students, we ASL teachers often 
		over-emphasize our signs to help the students recognize the salient 
		features and or to function as a mnemonic device (memory helper) to 
		sink it in.
   <br/>
   The phrase "The Canadian Mounted Police always get their man" comes to 
		mind.  The grabbing of the shirt is iconic of the "Mountie" grabbing the 
		criminal.
   <br/>
   That is sort of like when ASL teachers show the signs Monday, Tuesday, 
		Wednesday, etc. "palm forward" to their hearing classes, but do 
		those signs 
		palm up/back when chatting with their Deaf friends.
   <br/>
   Now I'll have to put that on my to do list to go back and
   <em>
    redo that 
		sign
   </em>
   .
  </div>
  <div>
   Take care,
  </div>
  <div>
   Dr.
		Bill
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
  </div>
  <font face="Arial">
   <p>
    <br/>
    In a message dated 4/30/2012 6:38:42 P.M. Pacific Daylight Time,Bianca 
	writes:
    <br/>
    I'm from Quebec, Canada, where both ASL and LSQ (Quebec Sign Language) are 
	used. I just want to reaffirm that the sign Aylene mentioned ("opposite 
	motion of the sign 'day', with the right arm sweeping up instead of down and 
	it is initialized, with the right hand forming the letter 'C'")[palm 
	forward] is indeed the LSQ version of Canada. ASL has the same sign, but it 
	is used to refer to the Montreal Canadians (our hockey team).
    <br/>
    Bianca
    <br/>
   </p>
   <hr align="left" color="#000000" size="1"/>
  </font>
 </p>
</blockquote>
