<blockquote>
 <hr align="left" color="#000000" size="1"/>
 The sign for "caribou" is based on the showing of "antlers."
 <br/>
 <br/>
 CARIBOU:
 <br/>
 <img border="0" height="320" src="/images/caribou.gif" width="523"/>
 <br/>
 <font face="Arial">
  My wife, Belinda, was nice enough to piece together that graphic 
			(above).
  <br/>
  <br/>
 </font>
 I'm sure you'll agree, that is one
 <b>
  <i>
   fine
  </i>
 </b>
 looking 
			graphic.
 <br/>
 <br/>
 What you won't get agreement on (in the Deaf Community) is exactly 
			how to sign the difference between "deer," "caribou," and "moose" -- 
			or if there is any difference at all!
 <br/>
 <br/>
 But since you are "here" I'm going to tell you my opinion.
 <br/>
 <br/>
 <font face="Arial">
  I do the sign "CARIBOU" with a fairly large forward curving 
			movement.  The sign for "caribou" looks a lot like the sign for
  <a href="../d/deer.htm">
   DEER
  </a>
  .  I personally tend to just 
			set my hands (each in a "5" shape) on my head for the sign DEER but 
			some people do the "deer" version a bit more "up and out."  
			Both of these signs look quite a bit like "
  <a href="../m/moose.htm">
   MOOSE
  </a>
  ." 
			I do the sign for "moose" going further to the sides and not very 
			much to the front.
  <br/>
  <br/>
  For those of you who are a bit like me and want to know the 
			"back-story" to things, I dug up the following graphic posted by
  <i>
   Allison Gober
  </i>
  :
 </font>
 <br/>
 <br/>
 <img border="0" height="285" src="/images/deer-differences.gif" width="828"/>
 <br/>
 <font size="1">
  Picture source: Gober, Allison, 2013, April 9, "Deer Differences," 
			Interactive Media 1 - Spring 2013.
  <br/>
  Retrieved 7/31/2014 from: "http://art341s13. wordpress 
			.com/2013/04/09/deer-differences/"
 </font>
 <font face="Arial">
  <hr align="left" color="#000000" size="1"/>
 </font>
 <p style="margin-top: 0; margin-bottom: 0">
  <br/>
 </p>
 <p style="margin-top: 0; margin-bottom: 0">
  <font face="Arial">
   DEER:
   <br/>
   <img border="0" height="320" src="/images/deer-version-01-small.gif" width="417"/>
   <br/>
  </font>
 </p>
 <font face="Arial">
  <hr align="left" color="#000000" size="1" width="50%"/>
 </font>
 <p style="margin-top: 0; margin-bottom: 0">
  <br/>
 </p>
 <font face="Arial">
  MOOSE:
  <br/>
  <p style="margin-top: 0; margin-bottom: 0">
   <img border="0" height="320" src="/images/moose.gif" width="550"/>
   <br/>
   <hr align="left" color="#000000" size="1"/>
   <p style="margin-top: 0; margin-bottom: 0">
    ELK:  I just 
			fingerspell "ELK."
    <hr align="left" color="#000000" size="1"/>
    <p style="margin-top: 0; margin-bottom: 0">
     Also see:
     <a href="../d/deer.htm">
      DEER
     </a>
    </p>
   </p>
  </p>
 </font>
 <font face="Arial">
  <hr align="left" color="#000000" size="1"/>
  <p align="center" style="margin-top: 0; margin-bottom: 0">
   <font face="Arial" size="1">
    You can learn
    <a href="http://lifeprint.com">
     American Sign Language (ASL)
    </a>
    online at American Sign Language University ™
    <br/>
    <a href="http://asl.ms" style="text-decoration: none">
     ASL
    </a>
    resources by Lifeprint.com  ©  Dr. William Vicars
   </font>
  </p>
 </font>
</blockquote>
