<blockquote>
 <p>
  <font face="Arial">
   The sign for "CHAIR/sit" is a classic "noun/verb" pair.
   <br/>
   The noun, CHAIR, has a smaller, double movement.
   <br/>
   The verb, SIT, has a larger, single movement.
  </font>
 </p>
 <hr align="left" color="#000000" size="1" width="50%"/>
 <p style="margin-top: 0; margin-bottom: 0">
  <br/>
  CHAIR: [noun--double movement]  (Do the sign "sit" twice.)
  <br/>
  <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/xNrwgoCz9SU" width="560">
  </iframe>
  <p align="left" style="margin-top: 0; margin-bottom: 0">
   <img border="0" height="320" src="/images/chair-01.jpg" width="320"/>
   <img border="0" height="320" src="/images/chair-02.jpg" width="320"/>
   <br/>
   <img border="0" height="320" src="/images/chair-03.jpg" width="320"/>
   <img border="0" height="320" src="/images/chair-04.jpg" width="320"/>
   <br/>
  </p>
  <font face="Arial">
   <hr align="left" color="#000000" size="1" width="50%"/>
   <hr align="left" color="#000000" size="1" width="50%"/>
  </font>
  <p>
   SIT:
   <br/>
   This sign is the "verb" form of the sign "CHAIR."  You just do the first 
	half of the sign "CHAIR."  One quick motion.
   <br/>
   <font face="Arial">
    <img border="0" height="320" src="/images/chair-03.jpg" width="320"/>
    <img border="0" height="320" src="/images/chair-04.jpg" width="320"/>
    <br/>
    Note: See the "
    <a href="../s/sit.htm">
     SIT
    </a>
    " page for advanced forms of 
	this sign.
   </font>
   <br/>
  </p>
  <font face="Arial">
   <hr align="left" color="#000000" size="1" width="50%"/>
   <hr align="left" color="#000000" size="1" width="50%"/>
  </font>
  <p>
   <a href="../b/bench.htm">
    BENCH
   </a>
   : One movement.  Modified form of  
	"CHAIR."
   <br/>
   This sign could also be used to indicate a row of people sitting.
  </p>
  <p>
   <img border="0" height="240" src="/images/bench1.jpg" width="231"/>
   <img border="0" height="240" src="/images/bench2.jpg" width="231"/>
   <img border="0" height="240" src="/images/bench3.jpg" width="231"/>
  </p>
  <font face="Arial">
   <hr align="left" color="#000000" size="1" width="50%"/>
  </font>
  <p>
   COUCH:
   <br/>
   This is a combination of "SIT" and "C" classifier handshapes to show the 
	shape of a couch.
   <br/>
   <img border="0" height="233" src="/images/couch1.jpg" width="256"/>
   <img border="0" height="233" src="/images/couch2.jpg" width="256"/>
   <br/>
   <img border="0" height="233" src="/images/couch3.jpg" width="256"/>
   <img border="0" height="233" src="/images/couch4.jpg" width="256"/>
  </p>
  <font face="Arial">
   <hr align="left" color="#000000" size="1" width="50%"/>
  </font>
  <p>
   ANXIOUS:
   <br/>
   The sign "SIT" can be modified to show someone squirming in their chair.  
	This can be used to mean "anxiety" and similar concepts.
  </p>
  <p>
   <img border="0" height="219" src="/images/chair.5.jpg" width="223"/>
   <img border="0" height="219" src="/images/chair.6.jpg" width="223"/>
   <img border="0" height="219" src="/images/chair.7.jpg" width="223"/>
   <img border="0" height="219" src="/images/chair.8.jpg" width="223"/>
  </p>
  <font face="Arial">
   <hr align="left" color="#000000" size="1"/>
  </font>
  <p>
   Notes:
  </p>
  <p style="margin-top: 0; margin-bottom: 0">
   A student asked me, "How do you 
	sign 'long time.'"
   <br/>
   My response involved the sign "sit" so I'm including it here:
   <br/>
   In general I just do the signs "LONG" and then "TIME."
   <i>
    <b>
     But
    </b>
   </i>
   if you are signing something like, "I
   <b>
    sat
   </b>
   for a long 
	time" you would modify the verb SIT with a "temporal inflection." What I 
	mean by that is...you would do the sign for "SIT"...then you would move both 
	hands up an inch, forward, down, and back (keeping your hands together--or 
	shall we say, "keeping your buns on the chair") using a circular motion. 
	This movement means that you have been "sitting for a long time"--so in that 
	case you would
   <b>
    not need
   </b>
   a separate sign for "long time." The concept 
	of "long time" would be shown by the way you move the sign.
   <br/>
   <br/>
  </p>
  <font face="Arial">
   <hr align="left" color="#000000" size="1" width="50%"/>
  </font>
  <p style="margin-top: 0; margin-bottom: 0">
   Also see:
   <a href="../s/swing.htm">
    SWING
   </a>
   <br/>
   Also see:
   <font face="Arial">
    <a href="../s/sit.htm">
     SIT
    </a>
   </font>
  </p>
  <font face="Arial">
   <hr align="left" color="#000000" size="1" width="50%"/>
  </font>
  <p style="margin-top: 0; margin-bottom: 0">
  </p>
 </p>
</blockquote>
