<blockquote>
 <font face="Arial">
  <hr align="left" color="#000000" size="1"/>
  <p>
   The sign for "cheap" uses "flat hands."
   <br/>
  </p>
  <p>
   <br/>
   CHEAP:
   <br/>
   <img border="0" height="217" src="/images/cheap.53.jpg" width="200"/>
   <img border="0" height="217" src="/images/cheap.54.jpg" width="200"/>
   <img border="0" height="217" src="/images/cheap.55.jpg" width="200"/>
   <img border="0" height="217" src="/images/cheap.56.jpg" width="200"/>
  </p>
  <hr align="left" color="#000000" size="1"/>
  Animation:  "cheap"
  <br/>
  <img border="0" height="217" src="/images/cheap.gif" width="200"/>
  <br/>
  <hr align="left" color="#000000" size="1"/>
  <p>
   Notes:
   <br/>
   If you use a "W"-handshape on the dominant hand this sign becomes 
			one of the two versions of the sign for "Wal-Mart." (For more 
			information on Wal-Mart, see the notes for the sign "
   <a href="cough.htm">
    COUGH
   </a>
   ")
  </p>
  <hr align="left" color="#000000" size="1"/>
  <p align="center" style="margin-top: 0; margin-bottom: 0">
   <font face="Arial" size="1">
    You can learn American
    <a href="http://www.lifeprint.com" style="text-decoration: none">
     Sign 
		Language
    </a>
    (ASL) online at American Sign Language University ™
    <br/>
    <a href="http://asl.ms" style="text-decoration: none">
     ASL
    </a>
    resources 
		by Lifeprint.com  ©  Dr. William Vicars
   </font>
  </p>
 </font>
</blockquote>
