<blockquote>
 <hr align="left" color="#000000" size="1"/>
 Use a double movement to show the size of a cigarette.
 <br/>
 The thumb of my right 
hand (I'm right handed) is wrapped around and touching my right hand's middle finger knuckle. 
			The right hand thumb doesn't make contact with the left hand.  
			The tip of the right index finger and the tip of the right pinkie 
			finger both touch the left index finger twice.
 <br/>
 The left hand doesn't move.
 <br/>
 <br/>
 <font face="Arial">
  CIGARETTE:
 </font>
 <br/>
 <img border="0" height="240" src="/images/cigare17.jpg" width="352"/>
 <img border="0" height="240" src="/images/cigare18.jpg" width="352"/>
 <img border="0" height="240" src="/images/cigare17.jpg" width="352"/>
 <img border="0" height="240" src="/images/cigare18.jpg" width="352"/>
 <img border="0" height="138" src="/images/cigarettesmall.gif" width="300"/>
 <p>
 </p>
 <font face="Arial">
  <hr align="left" color="#000000" size="1"/>
  <p align="center" style="margin-top: 0; margin-bottom: 0">
   <font face="Arial" size="1">
    You can learn
    <a href="http://lifeprint.com" style="text-decoration: none">
     American Sign Language (ASL)
    </a>
    online at American Sign Language University ™
    <br/>
    <a href="http://asl.ms" style="text-decoration: none">
     ASL
    </a>
    resources by Lifeprint.com  ©  Dr. William Vicars
   </font>
  </p>
 </font>
</blockquote>
