<blockquote>
 <hr align="left" color="#000000" size="1"/>
 <p style="margin-top: 0; margin-bottom: 0">
  To do the sign for "city" touch your hands together as if 
	showing a roof top. Separate them slightly as you move the hands to the side 
	and touch the hands together again.
  <br/>
  <p style="margin-top: 0; margin-bottom: 0">
   <font face="Arial">
    CITY / TOWN / COMMUNITY:
    <br/>
   </font>
   <img border="0" height="149" src="/images/city.gif" width="300"/>
  </p>
  <p style="margin-top: 0; margin-bottom: 0">
   Just show two quick roofs.
   <br/>
   <img border="0" src="/images/city.gif" style="max-width: 100%; height: auto" width="480"/>
  </p>
  <p style="margin-top: 0; margin-bottom: 0">
   <img border="0" height="230" src="/images/citya1.jpg" width="232"/>
   <img border="0" height="230" src="/images/citya2.jpg" width="232"/>
   <img border="0" height="230" src="/images/citya3.jpg" width="232"/>
   <img border="0" height="230" src="/images/citya4.jpg" width="232"/>
   <br/>
   <br/>
   "What city do you live (in)?"
   <br/>
   <iframe allow="autoplay; encrypted-media" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/uKAKaQG5FTI?rel=0" width="560">
   </iframe>
   <br/>
   <br/>
  </p>
  <font face="Arial">
   <hr align="left" color="#000000" size="1"/>
   <p style="margin-top: 0; margin-bottom: 0">
    <br/>
   </p>
  </font>
  <p style="margin-top: 0; margin-bottom: 0">
   There is another popular way to sign 
city.
   <font face="Arial">
    Some people put a slight twisting movement on this sign.
    <br/>
    <br/>
    City (version)
   </font>
   <br/>
   <img border="0" height="224" src="/images/cityb1.jpg" width="255"/>
   <img border="0" height="224" src="/images/cityb2.jpg" width="255"/>
   <img border="0" height="224" src="/images/cityb3.jpg" width="255"/>
   <br/>
  </p>
  <font face="Arial">
   <hr align="left" color="#000000" size="1"/>
  </font>
  <p style="margin-top: 0; margin-bottom: 0">
   Also see:
   <a href="../h/house.htm">
    HOUSE
   </a>
  </p>
  <font face="Arial">
   <hr align="left" color="#000000" size="1"/>
   <p style="margin-top: 0; margin-bottom: 0">
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    For more information:
    <br/>
    <br/>
    See:
    <a href="../../topics/seven-shaped-movement-path.htm">
     Seven-shaped 
	Movement Path
    </a>
    <br/>
    See: Under construction: 
	"
    <a href="../r/region-sacramento.htm">
     Sacramento Region
    </a>
    "
   </p>
  </font>
 </p>
</blockquote>
