<blockquote>
 <p>
  DISCUSSION:
  <br/>
  An interpreter from Michigan (Volleyjen0416) writes:
  <br/>
  I have a question for you.
  <br/>
  When you use the CL:4 Classifier for "line of people" where is the 
          front of the line? my index finger on my right hand or my pinky on my 
          left hand?
  <br/>
  Thanks,
  <br/>
  Jennifer
  <br/>
  <br/>
  Jennifer,
  <br/>
  It depends on how you set it up.
  <br/>
  If you hold up your left 4 hand and then move your right 4 hand 
          backward (toward your right shoulder) that means the front of the line 
          is your left pinkie.
  <br/>
  If you hold up your left 4 hand then put the right 4 hand on the 
          outside (away from you) and move the right 4 hand further away from 
          you then the left index finger is the head of the line.
  <br/>
  :)
  <br/>
  - Bill
  <br/>
  William G. Vicars, Ed.D.
  <br/>
  Asst. Professor of ASL and Deaf Studies
  <br/>
  California State University - Sacramento
 </p>
</blockquote>
