<blockquote>
 <font face="Arial">
  <hr align="left" color="#000000" size="1"/>
  <p>
   The sign for "climb" can vary widely depending on what 
			is being climbed and who (or what) is doing the climbing.
   <br/>
  </p>
  CLIMB (generic) As in "climb a tree."
  <p>
   <img border="0" height="234" src="/images/climb.33.jpg" width="265"/>
   <img border="0" height="234" src="/images/climb.34.jpg" width="265"/>
   <img border="0" height="234" src="/images/climb.35.jpg" width="265"/>
   <img border="0" height="234" src="/images/climb.36.jpg" width="265"/>
   <img border="0" height="234" src="/images/climb.37.jpg" width="265"/>
  </p>
  <p style="margin-top: 0; margin-bottom: 0">
   <br/>
   Animation: 
  CLIMB
   <br/>
   <img border="0" height="234" src="/images/climb.gif" width="265"/>
   <br/>
  </p>
  <hr align="left" color="#000000" size="1"/>
  <hr align="left" color="#000000" size="1"/>
  <p>
  </p>
  <p>
   CLIMB: as in "climb stairs" or "climb a mountain" or "hike."
  </p>
  <p>
   <br/>
   <img border="0" height="236" src="/images/climb.26.jpg" width="223"/>
   <img border="0" height="236" src="/images/climb.27.jpg" width="223"/>
   <img border="0" height="236" src="/images/climb.28.jpg" width="223"/>
   <img border="0" height="236" src="/images/climb.29.jpg" width="223"/>
   <img border="0" height="236" src="/images/climb.30.jpg" width="223"/>
   <img border="0" height="236" src="/images/climb.31.jpg" width="223"/>
   <img border="0" height="236" src="/images/climb.32.jpg" width="223"/>
   <br/>
   <br/>
  </p>
  <hr align="left" color="#000000" size="1" width="50%"/>
  <p>
  </p>
  <hr align="left" color="#000000" size="1"/>
  <p align="center" style="margin-top: 0; margin-bottom: 0">
   <font face="Arial" size="1">
    You can learn American
    <a href="http://www.lifeprint.com" style="text-decoration: none">
     Sign 
		Language
    </a>
    (ASL) online at American Sign Language University ™
    <br/>
    <a href="http://asl.ms" style="text-decoration: none">
     ASL
    </a>
    resources 
		by Lifeprint.com  ©  Dr. William Vicars
   </font>
  </p>
 </font>
</blockquote>
