<blockquote>
 <hr align="left" color="#000000" size="1" width="50%"/>
 <font face="Arial">
  <p style="margin-top: 0; margin-bottom: 0">
   <span style="font-weight: 400">
    CLOCK:
    <br/>
    The sign for "clock" is a combination of the sign for "time" and using a 
classifier to show the general size and shape of a clock.  You can modify 
the classifier to show different types of clocks.  For example I generally 
use "C" hands to show a typical desk clock. But if I'm referring specifically to 
a clock up on the wall I generally use modified (rounded) "L" hands since wall 
clocks tend to be much thinner than desk clocks. A "wall clock" is basically a 
"dish" on the wall. So you would sign "TIME"+"dish on the wall" to mean wall 
clock. :)
    <br/>
    <img border="0" height="320" src="/images/clock.gif" width="320"/>
   </span>
  </p>
  <p style="margin-top: 0; margin-bottom: 0">
  </p>
  <span style="font-weight: 400">
   <hr align="left" color="#000000" size="1" width="50%"/>
   <p style="margin-top: 0; margin-bottom: 0">
    See:
    <a href="../t/time.htm">
     TIME
    </a>
   </p>
   <hr align="left" color="#000000" size="1" width="50%"/>
  </span>
  <p style="margin-top: 0; margin-bottom: 0">
   Notes:
   <br/>
   <span style="font-weight: 400">
    Also see: "
    <a href="../../topics/asl-clocks.htm">
     ASL 
Wall Clocks
    </a>
    "
   </span>
  </p>
 </font>
</blockquote>
