<blockquote>
 <hr align="left" color="#000000" size="1"/>
 <font face="Arial">
  <p align="left" style="margin-top: 0; margin-bottom: 0">
   <font size="+1">
    T
   </font>
   he 
	sign for "coat" is made by forming both hands into the letter "A."  
	(Not an "S.")  
	Place both hands near your shoulders. Then move both hands 
	downward and inward as if putting on a coat.
   <br/>
   <br/>
   COAT:
   <br/>
   <img border="0" src="/images/coat.gif" style="max-width: 100%; height: auto" width="480"/>
   <img height="204" src="/images/coat.gif" width="215"/>
  </p>
  <p align="left" style="margin-top: 0; margin-bottom: 0">
   <img border="0" height="217" src="/images/coat1.jpg" width="269"/>
   <img border="0" height="217" src="/images/coat2.jpg" width="269"/>
   <img border="0" height="217" src="/images/coat3.jpg" width="269"/>
   <img border="0" height="217" src="/images/coat4.jpg" width="269"/>
  </p>
  <p align="left" style="margin-top: 0; margin-bottom: 0">
   <iframe allow="autoplay; encrypted-media" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/HWMc-nzJ2MQ?rel=0" width="560">
   </iframe>
  </p>
 </font>
</blockquote>