<blockquote>
 <hr align="left" color="#000000" size="1"/>
 <p style="margin-top: 0; margin-bottom: 0">
  The sign for "cold"
  <font face="Arial">
   means "cold 
	temperature."  It
   <b>
    doesn't
   </b>
   mean "to have a
   <a href="cold-sick.htm">
    head-cold
   </a>
   " or to be 
	sick.
  </font>
  Use your arms to represent shivering.
  <br/>
  <p style="margin-top: 0; margin-bottom: 0">
   COLD:
  </p>
  <p style="margin-top: 0; margin-bottom: 0">
   <img border="0" src="/images/cold-winter.gif" style="max-width: 100%; height: auto" width="480"/>
  </p>
  <p style="margin-top: 0; margin-bottom: 0">
   <img border="0" height="239" src="/images/cold-weather1.jpg" width="212"/>
   <img border="0" height="239" src="/images/cold-weather2.jpg" width="212"/>
   <img border="0" height="239" src="/images/cold-weather3.jpg" width="212"/>
   <img border="0" height="239" src="/images/cold-weather4.jpg" width="212"/>
   <img border="0" height="239" src="/images/cold-weather5.jpg" width="212"/>
   <br/>
   <br/>
   Sample sentence: "Do you like cold pizza?"
   <br/>
   <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/uu3sOp6uJVg?rel=0" width="560">
   </iframe>
   <br/>
   <br/>
   <br/>
  </p>
  <font face="Arial">
   <hr align="left" color="#000000" size="1"/>
  </font>
  <p style="margin-top: 0; margin-bottom: 0">
   <br/>
   To sign "very cold" use more facial expression, hunch your shoulders more, 
	and move the "shivering of your arms" faster and tighter.
   <br/>
   <br/>
   very-COLD:
   <br/>
   <img border="0" height="229" src="/images/cold1.jpg" width="216"/>
   <img border="0" height="229" src="/images/cold2.jpg" width="216"/>
   <img border="0" height="229" src="/images/cold3.jpg" width="216"/>
   <br/>
  </p>
  <font face="Arial">
   <hr align="left" color="#000000" size="1"/>
  </font>
  <p style="margin-top: 0; margin-bottom: 0">
   <br/>
   WINTER:
   <br/>
   Many people use the sign "COLD" to mean winter. This works well in 
  context but if there isn't much context I prefer to initialize the sign "winter" by using a "W" as the 
  handshape.
   <br/>
  </p>
  <font face="Arial">
   <hr align="left" color="#000000" size="1"/>
  </font>
  <p style="margin-top: 0; margin-bottom: 0">
   <font face="Arial">
    <br/>
    REFRIGERATOR:
    <br/>
    You could sign refrigerator by initializing this sign, but  I
  recommend you just spell "REF."
    <br/>
   </font>
   <b>
    <br/>
   </b>
   Here is a sign for refrigerator that initializes the sign COLD with "R" 
	handshapes to mean refrigerator:
   <br/>
   <b>
    <br/>
    <img border="0" height="240" src="/images/refrigerator1.jpg" width="240"/>
    <img border="0" height="240" src="/images/refrigerator2.jpg" width="240"/>
    <img border="0" height="240" src="/images/refrigerator3.jpg" width="240"/>
    <img border="0" height="240" src="/images/refrigerator4.jpg" width="240"/>
   </b>
   <font face="Arial">
    <br/>
    <br/>
    Remember, I recommend you just spell,
  R-E-F.
  Some people feel that the initialized form of the sign "refrigerator" is 
  signed English.  I disagree, but do the sign the way your local 
  instructor wants it just to be safe eh?
   </font>
   <b>
    <br/>
   </b>
  </p>
  <font face="Arial">
   <hr align="left" color="#000000" size="1" width="50%"/>
  </font>
  <p style="margin-top: 0; margin-bottom: 0">
   <font face="Arial">
    You could also initialize the sign for "
    <a href="../d/door.htm">
     DOOR
    </a>
    " to mean refrigerator.
   </font>
  </p>
  <hr align="left" color="#000000" size="1" width="50%"/>
  <p style="margin-top: 0; margin-bottom: 0">
   See:
   <a href="../r/refrigerator.htm">
    REFRIGERATOR
   </a>
  </p>
  <font face="Arial">
   <hr align="left" color="#000000" size="1"/>
  </font>
 </p>
</blockquote>
