<blockquote>
 <hr align="left" color="#000000" size="1"/>
 <p style="margin-top: 0; margin-bottom: 0">
  The sign for "college" means both "college" as well as 
	"university." However If you initialize this sign with a "U" handshape on the
dominant hand, it means specifically "university."
  <font face="Arial">
   <hr align="left" color="#000000" size="1"/>
   <p style="margin-top: 0; margin-bottom: 0">
    <br/>
    Both hands are in loose "flat" handshapes.  They are not "5" 
	handshapes, but then again they are not "B" handshapes either.  The 
	dominant hand starts from a couple inches above the base hand and does a 
	circling movement as it slaps downward and comes back up a few inches.
   </p>
  </font>
  <p style="margin-top: 0; margin-bottom: 0">
   <br/>
   Sample sentence: Did your dad go to college?
  </p>
  <p style="margin-top: 0; margin-bottom: 0">
   <object classid="CLSID:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=8,0,0,0" height="275" id="FVS" width="320">
    <param name="movie" value="../13/your-dad-college_player.swf?1479410787"/>
    <param name="bgcolor" value="#ffffff"/>
    <param name="allowfullscreen" value="true"/>
    <embed allowfullscreen="true" bgcolor="#ffffff" height="275" name="FVS" pluginspage='http://www.macromedia.com/go/getflashplayer"' src="../13/your-dad-college_player.swf?1479410787" type="application/x-shockwave-flash" width="320"/>
   </object>
   <font face="Arial">
    <img border="0" height="312" src="/images/college.gif" width="400"/>
   </font>
  </p>
  <hr color="#800080"/>
  <p style="margin-top: 0; margin-bottom: 0">
   COLLEGE:
   <br/>
   <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/hoSlRUAK9n0?rel=0" width="560">
   </iframe>
  </p>
  <p style="margin-top: 0; margin-bottom: 0">
   <img border="0" height="227" src="/images/college1.jpg" width="250"/>
   <img border="0" height="227" src="/images/college2.jpg" width="250"/>
   <img border="0" height="227" src="/images/college3.jpg" width="250"/>
   <img border="0" height="227" src="/images/college4.jpg" width="250"/>
   <img border="0" height="227" src="/images/college5.jpg" width="250"/>
   <br/>
  </p>
  <hr align="left" color="#000000" size="1" width="50%"/>
 </p>
</blockquote>