<blockquote>
 <font face="Arial">
  <hr align="left" color="#000000" size="1"/>
  <p style="margin-top: 0; margin-bottom: 0">
   <span style="font-weight: 400">
    <a href="../w/white.htm" style="text-decoration: none">
     WHITE
    </a>
    /
    <a href="../b/black.htm">
     BLACK
    </a>
    /
    <a href="../r/red.htm">
     RED
    </a>
    /
    <a href="../g/green.htm">
     GREEN
    </a>
    /
    <a href="../b/blue.htm">
     BLUE
    </a>
    /
    <a href="../b/brown.htm">
     BROWN
    </a>
    /
    <a href="../y/yellow.htm">
     YELLOW
    </a>
    / GRAY /
    <a href="../g/gold.htm">
     GOLD
    </a>
    /
    <a href="../p/pink.htm">
     PINK
    </a>
    /
    <a href="../o/orange.htm">
     ORANGE
    </a>
    /
    <a href="../p/purple.htm">
     PURPLE
    </a>
    /
   </span>
  </p>
 </font>
</blockquote>