<blockquote>
 <hr align="left" color="#000000" size="1"/>
 There are a number of ways to sign "computer."
 <br/>
 <span style="background-color: #FFFF00">
  Check with your local Deaf or your 
	local instructor before deciding which version to use.
 </span>
 <font face="Arial">
  <hr align="left" color="#000000" size="1"/>
 </font>
 <p>
  Some of the most popular ways are below. The pictures show large movements.  Remember that people who sign 
  fluently tend to do so quickly and in a very small signing space.
  <br/>
  <br/>
  Here is a very popular sign for computer that is recognized nationwide. T
  <font face="Arial">
   he 
	dominant "C" hand moves in a circle on the forearm or wrist of the palm-down 
	base hand.  The thumb of the dominant hand brushes against the surface 
	of the back of the base hand.
  </font>
  <br/>
 </p>
 <p style="margin-top: 0; margin-bottom: 0">
  COMPUTER:
  <br/>
  <img border="0" src="/images/computer.gif" style="max-width: 100%; height: auto" width="480"/>
  <br/>
  <br/>
  Note:  A while back this version of "computer" used to be done more
  on the left forearm.  Which is how I would sign it if I had to use the
  word "church" in the same sentence as "computer."  ("Church" just
  taps up and down on top of the base hand fist -- there is no circular movement 
	in the sign CHURCH.)  I don't do the sign COMPUTER on my forearm any 
	more unless I'm trying to be "very clear."  Instead I just do it on top 
	of the wrist.
  <br/>
  <br/>
  <img border="0" height="218" src="/images/computerb1.jpg" width="209"/>
  <img border="0" height="218" src="/images/computerb2.jpg" width="209"/>
  <img border="0" height="218" src="/images/computerb3.jpg" width="209"/>
  <img border="0" height="218" src="/images/computerb4.jpg" width="209"/>
  <img border="0" height="218" src="/images/computerb5.jpg" width="209"/>
  <iframe allow="autoplay; encrypted-media" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/lmb1qYJ8g3Y?rel=0" width="560">
  </iframe>
 </p>
 <p style="margin-top: 0; margin-bottom: 0">
 </p>
 <font face="Arial">
  <hr align="left" color="#000000" size="1"/>
 </font>
 <p style="margin-top: 0; margin-bottom: 0">
 </p>
 <p style="margin-top: 0; margin-bottom: 0">
  COMPUTER / COLUMBUS
  <br/>
  This version of the sign "computer" is common in
  <i>
   some
  </i>
  parts of the 
	country.
  The dominant hand "C" taps the forehead twice.
 </p>
 <p style="margin-top: 0; margin-bottom: 0">
  <br/>
  <iframe allow="autoplay; encrypted-media" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/vK4GwJaDcWU?rel=0" width="560">
  </iframe>
 </p>
 <p style="margin-top: 0; margin-bottom: 0">
  <img border="0" height="310" src="/images/comput1.jpg" width="300"/>
  <img border="0" height="178" src="/images/computerkelsey.gif" width="140"/>
  <br/>
  Note:  Yes, that is my daughter,
  <i>
   Kelsey
  </i>
  , (second of four 
	children).
 </p>
 <font face="Arial">
  <p style="margin-top: 0; margin-bottom: 0">
  </p>
  <hr align="left" color="#000000" size="1"/>
 </font>
 <p style="margin-top: 0; margin-bottom: 0">
  OPTIONAL DISCUSSION / ARCHIVED 
	SIGNS:
 </p>
 <font face="Arial">
  <hr align="left" color="#000000" size="1"/>
 </font>
 <p style="margin-top: 0; margin-bottom: 0">
  <br/>
  COMPUTER:
  <br/>
  "Tape reel" version. In this version each hand traces a circle in the air at the same
  time.  The movement is reminiscent of the huge memory tapes used in
  ancient mainframe computers. The hands move up, right, down, and left in a circle.  The hands do 
  not move forward or backward. Just up, right, down, left.
 </p>
 <p>
  COMPUTER (not recommended)
 </p>
 <p>
  <font face="Arial">
   <img border="0" height="300" src="/images/computer-03.gif" width="328"/>
  </font>
 </p>
 <p>
  Note:  You can do the "memory tape" version of
  Computer using "INDEX" fingers ("1" handshapes) instead of "C" handshapes.
  <br/>
 </p>
 <hr/>
 <p>
  Dear Dr. Bill,
  <br/>
  I had another question, being now on lesson 5 and looking at the sign for
  "computer". In the one version, the "memory tape" version, do the hands
  move away from the body at the top of the circle, or the bottom?
  <br/>
  Thanks!
  <br/>
  -
  Mikaela Bell
 </p>
 <p>
  Mikaela,
  <br/>
  In the "memory tape" version of computer, the hands do not move away from the body.  They stay the same distance 
  from the body but move in circles as if on a reel. See:
  <a href="/images/computer.gif">
   COMPUTER (.gif)
  </a>
  <br/>
  <font face="Arial">
   Actually, I'm going to move that version to the archives.  Just learn 
	the newer more common versions.
  </font>
  <br/>
  Dr.
  Bill
 </p>
 <hr/>
 <div>
  <div>
   In a message dated 4/25/2006 7:04:03 PM Pacific Daylight Time, Neo 
			writes:
  </div>
  <blockquote style="PADDING-LEFT: 5px; MARGIN-LEFT: 5px; BORDER-LEFT: blue 2px solid">
   <font color="#000000" face="Arial" size="2" style="BACKGROUND-COLOR: transparent">
    <div>
     Hey Bill! The other day I signed 'computer' to a deaf friend, 
				the 'computer' used on this website, and she looked at me funny. 
				So I signed it the different way, once again a blank stare. I 
				resorted to the third way, and... nothing (she's only 12 so she 
				might not know many variations of signs). So I just 
				fingerspelled it and she understood. But I asked the next day an 
				interpreter about how to sign it, and here we sign it like that 
				first set of pictures you have on the classifier c page. It's a 
				'c' going from the elbow to the back of the hand. Have you ever 
				seen it signed this way? Or is this what you mean when you say 
				on one of the variations that it was done on the forearm?
    </div>
   </font>
  </blockquote>
 </div>
 <div>
  Dear
		Neo,
  <br/>
  COMPUTER is one of those signs that has many, many variations.
  <br/>
  Hmmm, going from the elbow to the back of the hand you say?  Using 
		a single movement?  I can imagine how the older form of the "C" 
		circling above the forearm version could have mutated into a "C" jumping 
		from the elbow to the wrist version. (That sort of makes me think of a 
		version of the sign for McDonalds if done with a "C.")
  <br/>
  <br/>
  There are (as I've pointed out on my computer page) many variations all 
		over the country.
  <br/>
  <br/>
  <font face="Arial">
   Here in Sacramento we commonly us a "C" tapping on the forehead.
  </font>
  I personally don't like the version because that is also the sign for 
		"Columbus."
		But I'm not the one who decides.  (Consensus is a bugger eh?) In my 
		classes I tend to teach the "C" on forehead version because that is what 
		is used "here."
  <br/>
  <br/>
  But, really, the only variation that counts is the one that successfully gets your 
		message across to the person with whom you are conversing.  Then again, 
		if you are taking an ASL class, the variation that counts is the one 
		being used by your ASL teacher.  ;-)
  <br/>
  - Dr. Bill
  <br/>
  <br/>
  p.s. My wife looked over my shoulder as I typed the above (she does that 
		rather often -- nosey wench) and informed me that she
  <i>
   likes
  </i>
  the 
		"C" on the forehead version because it only takes "one hand" to do. 
		Ahem.
  <br/>
 </div>
 <hr/>
 <p>
  Update:  It's now May of 2009.  I continue to notice a shift here 
	in the Sacramento region. Quite a few people are starting to adopt the "C" on the back 
  of the wrist version.  Why? It seems to do with the use of video relay 
  interpreting services.  As the local interpreters spend more time terping 
  for a larger (nation wide) audience they are seeing the "nationally dominant" version of the 
  sign for computer more often than they are seeing the "locally" dominant 
  version. And that which you see "more often" is the one you tend to start 
  using.  But students should use the version their instructor uses -- at 
	least "in the classroom" and until the end of the semester.
  <br/>
  -- Dr. Bill
 </p>
 <font face="Arial">
  <hr align="left" color="#000000" size="1"/>
 </font>
</blockquote>
