<blockquote>
 <hr align="left" color="#000000" size="1"/>
 <br/>
 <font face="Arial">
  The sign for compliment is a modified version of the sign for SCHOOL 
			and/or CLAP.  The difference between the two signs is that the 
			sign for compliment is done a bit softer and the contact is more 
			from the finger area of the dominant hand to the palm area of the 
			non-dominant hand, (not so much palm to palm contact as in the 
			general sign for SCHOOL).
  <br/>
  <br/>
  Also the sign COMPLIMENT is sometimes held a bit more out from the 
			body -- especially if you are complimenting someone directly (done 
			slightly in the direction of the person receiving the compliment).
  <br/>
  <br/>
  COMPLIMENT:
  <br/>
  <img height="169" src="/images/school.gif" width="236"/>
  <br/>
  Also, you could express the concept of "compliment" via other 
			methods such as informing someone that someone else had said 
			something
  <a href="../p/plus.htm">
   POSITIVE
  </a>
  about them or
  <a href="../n/nice.htm">
   NICE
  </a>
  about them.
 </font>
 <br/>
 <br/>
 <font face="Arial">
  <hr align="left" color="#000000" size="1"/>
 </font>
 <p>
  See:
  <a href="../s/school.htm">
   SCHOOL
  </a>
 </p>
 <font face="Arial">
  <hr align="left" color="#000000" size="1"/>
  <p align="center" style="margin-top: 0; margin-bottom: 0">
   <font face="Arial" size="1">
    You can learn
    <a href="http://www.lifeprint.com" style="text-decoration: none">
     American Sign Language (ASL)
    </a>
    online at American Sign Language University ™
    <br/>
    <a href="http://asl.ms" style="text-decoration: none">
     ASL
    </a>
    resources by Lifeprint.com  ©  Dr. William Vicars
   </font>
  </p>
 </font>
</blockquote>
