<blockquote>
 <hr align="left" color="#000000" size="1"/>
 <p style="margin-top: 0; margin-bottom: 0">
  The right (or dominant) hand is in a
  <b>
   loose
  </b>
  "C" handshape. You bring the 
	right hand down onto the left hand, then you lift up the right hand rotate 
	it and bring it down again on the left hand. Twist your right hand as if 
	cutting out cookies from cookie dough.
  <br/>
  <br/>
  <img border="0" src="/images/cookie.gif" style="max-width: 100%; height: auto" width="480"/>
  <iframe allow="autoplay; encrypted-media" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/6JW3ODCZkBQ?rel=0" width="560">
  </iframe>
  <p style="margin-top: 0; margin-bottom: 0">
   <font face="Arial">
    <img border="0" height="320" src="/images/cookie5.jpg" width="320"/>
    <img border="0" height="320" src="/images/cookie6.jpg" width="320"/>
    <img border="0" height="320" src="/images/cookie7.jpg" width="320"/>
    <img border="0" height="320" src="/images/cookie8.jpg" width="320"/>
    <img height="195" src="/images/cookie.gif" width="236"/>
    <br/>
   </font>
   <br/>
   "What kind of cookies do you like?" = COOKIE, YOU LIKE WHAT-KIND?
   <br/>
   <br/>
   <iframe allow="autoplay; encrypted-media" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/-EHPkXc8aiE?rel=0" width="560">
   </iframe>
   <hr align="left" color="#000000" size="1" width="50%"/>
   <p style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     <br/>
     Notes: A student asks:
     <br/>
     Student: "Does COOKIE use a rotating letter C in the palm of the the opposite 
	hand?"
     <br/>
     Dr Bill: You
     <i>
      could
     </i>
     use the letter "C" but I use a more relaxed "claw type" 
	hand. There is no need to initialize the sign COOKIE with the English letter 
	"C." The handshape is based on the general size and shape of a cookie -- not 
	on the English word. Yes, the loose-C rotates but it also moves up and off 
	the palm as it rotates and then comes back down onto the palm to finish the 
	sign.
     <br/>
     <br/>
     Note: ASL and English are two distinct (different) languages. You should 
	avoid trying to force ASL to become more English-like by adding unnecessary 
	"letters" to signs that are already
     <i>
      clear and well established
     </i>
     in the 
	Deaf community.  Focus on learning to sign like native Deaf adults do.
    </font>
    <br/>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
  </p>
 </p>
</blockquote>
