<blockquote>
 <hr align="left" color="#000000" size="1"/>
 <font face="Arial">
  <font size="+1">
   T
  </font>
  he sign for "cost" is
made by extending your non-dominant hand in front of you in a "flat" handshape.
  <br/>
  Make the letter "X" with your dominant hand (palm back).  Strike the 
palm of your non-dominant hand with the top of your "x" finger using a 
downward
movement.
 </font>
 <br/>
 <br/>
 COST:
 <br/>
 <font face="Arial">
  <img height="175" src="/images/cost.gif" width="127"/>
 </font>
 <p>
  What 
costs 25 cents?
  <br/>
  <object classid="CLSID:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=8,0,0,0" height="275" id="FVS" width="320">
   <param name="movie" value="../22/what-costs-25-cents_player.swf?804412678"/>
   <param name="bgcolor" value="#ffffff"/>
   <param name="allowfullscreen" value="true"/>
   <embed allowfullscreen="true" bgcolor="#ffffff" height="275" name="FVS" pluginspage='http://www.macromedia.com/go/getflashplayer"' src="../22/what-costs-25-cents_player.swf?804412678" type="application/x-shockwave-flash" width="320"/>
  </object>
  <font face="Arial">
  </font>
 </p>
 <hr align="left" color="#000000" size="1"/>
</blockquote>