<blockquote>
 <img align="right" alt="back.gif (1674 bytes)" border="0" height="28" onclick="history.go(-1)" src="/images/back.gif" width="54"/>
 <br/>
 <h1 align="center">
  <i>
   create / creation
  </i>
 </h1>
 <hr color="#800080"/>
 <p>
  CREATE / CREATION:
 </p>
 <div>
  In a message dated 11/24/2007 3:40:05 P.M. Pacific Standard Time, 
		brandy.brown@_____.edu writes:
 </div>
 <blockquote style="PADDING-LEFT: 5px; MARGIN-LEFT: 5px; BORDER-LEFT: blue 2px solid">
  <font color="#000000" face="Arial" size="2" style="BACKGROUND-COLOR: transparent">
   <div>
    <font color="#000000" face="Arial" size="2">
     Hi Bill,
    </font>
   </div>
   <div>
   </div>
   <div>
    <font face="Arial" size="2">
     I was wondering how do you sign the word 
			"Create" or "Creation".  At church, some interpreters sign it like 
			the work "Make" or "GOD Make".  I am taking a sign language course 
			taught by a deaf woman and she signed "Create" with the number 4 
			hand from the side of your head going up similar to "dream".  This 
			is in Boston.
    </font>
   </div>
   <div>
   </div>
   <div>
    <font face="Arial" size="2">
     At home in Detroit, the interpreters 
			sign "create" by gradually making a fist ending in with the 
			letter "A" hand at the front of your forehead.
    </font>
   </div>
   <div>
   </div>
   <div>
    <font face="Arial" size="2">
     I'm so confused.  I am able to open 
			videos if you want to just send a video.  Thank you so much.
    </font>
   </div>
   <div>
   </div>
   <div>
    <font face="Arial" size="2">
     Brandy
    </font>
   </div>
  </font>
 </blockquote>
 <div>
  Hello Brandy,
  <br/>
 </div>
 <div>
  <strong>
   create
  </strong>
  as a verb:  sign "
  <a href="../m/make.htm">
   MAKE
  </a>
  "
  <br/>
  Notes:  Some people use a very deliberate "contact, separate, twist, 
		contact" movement for this sign, others simply make contact and twist 
		twice.  Both forms are correct.
  <br/>
  <br/>
  <strong>
   create
  </strong>
  as in "creativity" "invent" "come up with" sign 
		"INVENT/CREATIVE" (4 hand from side of forehead).
  <br/>
  Notes:  If you do the sign "CREATIVE" and inflect it with large circular 
		movements this sign can mean "fiction" or "fantastical" as in "made 
		up."  If you do the sign "FANTASTICAL"  while rolling your eyes with 
		disdain this sign can mean "far fetched" or "at it again with 
		unbelievable stories."
  <br/>
  <br/>
  <strong>
   creation
  </strong>
  as the result of what GOD made:  rounded "5" 
		handshapes encircling a globe (think of the sign for "FAMILY"  but 
		instead do it with slightly curved "5" hands as if you were sliding your 
		hands over the surface of a basketball."
  <br/>
  Notes: On first reference use an explanatory sentence to the effect of: 
		EVERYTHING GOD MAKE, CREATION-(globe shape)
  <br/>
  <br/>
  Discussion:
  <br/>
  Expect to see quite a bit of variety for the sign "creation."  Any time 
		you present an interpreter with a "multiple meaning" and/or little 
		understood English concept--you cannot expect much uniformity in the 
		interpretation.  What exactly is "creation?"  It has many different 
		meanings depending on the context.  For example, if our goal is 
		to express the idea that "woman is God's greatest creation" we might 
		want to sign it: "GOD MOST WONDERFUL MAKE WHAT? WOMAN!"
  <br/>
  Or to be even more clear we could even sign, "GOD MAKE DIFFERENT 
		DIFFERENT DIFFERENT, TOP WONDERFUL HE MAKE WHAT? WOMAN!"
  <br/>
  <br/>
  Additionally, just because some Ph.D. out in California says so, doesn't 
		make it right.  What makes a sign right or wrong is consensus.  Thus, 
		you can add my opinion to your stack of opinions about that particular 
		sign.
  <br/>
  <br/>
  Cordially,
  <br/>
  Dr. Bill
  <br/>
 </div>
 <font face="Arial">
  <hr align="left" color="#000000" size="1" width="25%"/>
 </font>
 <p>
  Also see:
  <a href="creator.htm">
   CREATOR
  </a>
 </p>
 <hr color="#800080"/>
 <center>
  <i>
   <font size="-1">
    <a href="http://www.lifeprint.com">
     www.lifeprint.com
    </a>
    All material copyright (c) 2004,
    <a href="../../pages-layout/contact.htm">
     William
  Vicars
    </a>
   </font>
  </i>
 </center>
 <br/>
 <img align="right" alt="back.gif (1674 bytes)" border="0" height="28" onclick="history.go(-1)" src="/images/back.gif" width="52"/>
 <br/>
 <br/>
</blockquote>
