<blockquote>
 <font face="Arial">
  <h2 style="margin-top: 0; margin-bottom: 0">
   <span style="font-weight: 400">
    American Sign Language:  "crush"
   </span>
  </h2>
  <blockquote>
   <p style="margin-top: 0; margin-bottom: 0">
    <span style="font-weight: 400">
    </span>
    <hr align="left" color="#000000" size="1" width="50%"/>
    <span style="font-weight: 400">
     <p style="margin-top: 0; margin-bottom: 0">
      4/2/2011 9:33:56 A.M. Pacific 
Daylight Time, yuji1 writes:
      <br/>
      <br/>
      Dr. Bill,
      <br/>
      I e-mailed you before about a typo on your site but this time I’m curious about 
how one might say they have a crush on someone. Specifically ‘crush’, in the 
young-love sorts. This isn’t for me though, a friend of mine, she’s young at 
heart and well…yeah. ;) ‘I have a crush on you’ is the phrase, just ‘crush’ 
though.
      <br/>
      Yuji
      <br/>
      <br/>
      Dear Yuji,
      <br/>
      There isn't one exact sign to match up to the concept of a (romantic) "crush" in 
English.
      <br/>
      However there are a number of signs that might be used to describe various 
aspects of "having a crush" on someone.
      <br/>
      I'll list a few of the more common.
      <br/>
      --Bill
      <br/>
     </p>
     <hr align="left" color="#000000" size="1" width="50%"/>
     <p style="margin-top: 0; margin-bottom: 0">
      "fall in love with"
      <br/>
      <img border="0" height="300" src="/images/fall-in-love-with-1.jpg" width="348"/>
      <img border="0" height="300" src="/images/fall-in-love-with-2.jpg" width="348"/>
     </p>
     <p style="margin-top: 0; margin-bottom: 0">
     </p>
     <hr align="left" color="#000000" size="1" width="50%"/>
     <hr align="left" color="#000000" size="1" width="50%"/>
     <p style="margin-top: 0; margin-bottom: 0">
     </p>
     <p style="margin-top: 0; margin-bottom: 0">
      TOUCHED-in-the-heart:
     </p>
     <p style="margin-top: 0; margin-bottom: 0">
      This sign can have many different 
interpretations depending on the facial expression and the context.  It can 
mean such things as "pierced my heart," "it really got to me," "I was touched," 
"I was smitten," etc.
      <br/>
      The middle finger is bent at the large knuckle and jabs the chest over the 
heart.
     </p>
     <p style="margin-top: 0; margin-bottom: 0">
      <img border="0" height="300" src="/images/touched-in-the-heart-01.jpg" width="348"/>
     </p>
     <hr align="left" color="#000000" size="1" width="50%"/>
     <hr align="left" color="#000000" size="1" width="50%"/>
     <p style="margin-top: 0; margin-bottom: 0">
      HEART-flutter:
      <br/>
      This sign can be used for such things as "he made my heart flutter," and "my 
heart leaped."  If you repeat the sign a couple of times quickly it can 
mean, "my heart was fluttering," and can be used to indicate someone feels 
strongly romantic about someone else.
      <br/>
      <img border="0" height="300" src="/images/heart-flutter-01.jpg" width="348"/>
      <img border="0" height="300" src="/images/heart-flutter-02.jpg" width="348"/>
      <img border="0" height="300" src="/images/heart-flutter-03.jpg" width="348"/>
     </p>
     <hr align="left" color="#000000" size="1" width="50%"/>
     <hr align="left" color="#000000" size="1" width="50%"/>
     <p style="margin-top: 0; margin-bottom: 0">
     </p>
     <p style="margin-top: 0; margin-bottom: 0">
      SWEETHEART:
      <br/>
      This is the sign for "romance" and/or "a sweetheart."  It can mean 
"lovebirds."
      <br/>
      <img border="0" height="300" src="/images/sweetheart-01.jpg" width="348"/>
      <img border="0" height="300" src="/images/sweetheart-02.jpg" width="348"/>
     </p>
     <p style="margin-top: 0; margin-bottom: 0">
     </p>
     <p style="margin-top: 0; margin-bottom: 0">
     </p>
     <hr align="left" color="#000000" size="1" width="50%"/>
     <hr align="left" color="#000000" size="1" width="50%"/>
    </span>
   </p>
  </blockquote>
  <hr align="left" color="#000000" size="1"/>
  <hr align="left" color="#000000" size="1"/>
  <p style="margin-top: 0; margin-bottom: 0">
   <br/>
   * 
Want to help support ASL University?  It's
   <i>
    easy
   </i>
   :
  </p>
 </font>
 <b>
  <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&amp;hosted_button_id=XHRNABERKJT4N" rel="nofollow" target="_blank">
   <u>
    DONATE
   </u>
  </a>
 </b>
 <font size="2">
  (
  <i>
   Thanks!
  </i>
  )
 </font>
 <br/>
 <br/>
 <font face="Arial">
  *
 </font>
 Another way to help is to buy something from Dr. Bill's "
 <b>
  <a href="../../../bookstore/bookstore.htm">
   <u>
    Bookstore
   </u>
  </a>
 </b>
 ."
 <p style="margin-top: 0; margin-bottom: 0">
  <br/>
  <font face="Arial">
   *
  </font>
  Want even more ASL resources?  Visit the "
  <b>
   <a href="http://www.asl.tc/landing/index.html" rel="nofollow" target="_blank">
    ASL Training Center
   </a>
   !
  </b>
  "  (Subscription 
Extension of ASLU)
  <br/>
  <br/>
  *  Also check out Dr. Bill's channel:
  <a href="http://www.youtube.com/billvicars">
   www.youtube.com/billvicars
  </a>
  <font size="2">
   <br/>
  </font>
 </p>
 <hr align="left" color="#000000" size="1"/>
 <p align="center" style="margin-top: 0; margin-bottom: 0">
  <font size="1">
   You can learn
   <a href="http://lifeprint.com">
    American Sign Language (ASL)
   </a>
   online at American Sign Language University ™
   <br/>
   <a href="http://asl.ms" style="text-decoration: none">
    ASL
   </a>
   resources by Lifeprint.com  ©  Dr. William Vicars
  </font>
 </p>
 <hr color="#000000" size="1"/>
 <p>
 </p>
</blockquote>
