<blockquote>
 <hr align="left" color="#000000" size="1"/>
 <font face="Arial">
  <span style="font-weight: 400">
   Make the sign for "father"
by the thumb of your "5-hand" against your forehead.
   <br/>
   <br/>
   DAD or FATHER:
   <br/>
  </span>
 </font>
 <img border="0" src="/images/dad-fast.gif" style="max-width: 100%; height: auto" width="480"/>
 <font face="Arial">
  <span style="font-weight: 400">
   <img height="225" src="/images/dad.gif" width="254"/>
  </span>
 </font>
 <p>
  <img border="0" height="480" src="/images/dad-01.jpg" width="480"/>
  <img border="0" height="480" src="/images/dad-02.jpg" width="480"/>
  <font face="Arial">
   <span style="font-weight: 400">
    <iframe allow="autoplay; encrypted-media" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/1Vllc4F5ic0?rel=0" width="560">
    </iframe>
    <br/>
    <br/>
    Notes:
    <br/>
    For the sign DAD you can use a slight "tapping" motion to
  touch the thumb to the forehead, move the hand out an inch, then touch the
  thumb to the forehead again.  You don't have to "tap" it. 
  You can just touch your thumb to the forehead for a moment. You don't even 
  need to make contact with the forehead as long as you get it relatively close.  
  Some people "wiggle" the fingers--it means the same either way, wiggle or no 
  wiggle.
    <br/>
    Note: Some people say that the 
"wiggle" makes the sign more intimate as in "papa" but that isn't widely 
established. Some people start with an
  "A" hand and open into the "5" hand.  I just stick a 
  "5" hand up there.
    <br/>
   </span>
  </font>
 </p>
 <hr align="left" color="#000000" size="1" width="50%"/>
 <p style="margin-top: 0; margin-bottom: 0">
  <br/>
  Sample sentence: 
			"How many sons does your dad have?" = YOUR FATHER, HOW MANY SON?
  <br/>
  <br/>
  <iframe allow="autoplay; encrypted-media" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/heVTW46m6YY?rel=0" width="560">
  </iframe>
 </p>
 <font face="Arial">
  <p style="margin-top: 0; margin-bottom: 0">
  </p>
  <span style="font-weight: 400">
   <hr align="left" color="#000000" size="1" width="50%"/>
   <p style="margin-top: 0; margin-bottom: 0">
    Also see: "
    <a href="../g/grandpa.htm">
     GRANDPA
    </a>
    "
   </p>
   <hr align="left" color="#000000" size="1" width="50%"/>
   <p style="margin-top: 0; margin-bottom: 0">
    Also see: "
    <a href="../m/mom.htm">
     MOM
    </a>
    ."
   </p>
   <hr align="left" color="#000000" size="1" width="50%"/>
   <p style="margin-top: 0; margin-bottom: 0">
    Signing tip: Some people do the sign 
DAD using a "double" tap to the forehead.  (Likewise for "MOM.")  That 
is "okay."  However, if you sign “MOM” and “DAD” one right after the other 
you don’t need to use double movements for each sign. Just use a single movement 
for MOM and a single movement for DAD and it ends up meaning PARENTS.  See: "
    <a href="../p/parents.htm">
     PARENTS
    </a>
    "
    <br/>
   </p>
  </span>
  <hr align="left" color="#000000" size="1"/>
  <p align="center" style="margin-top: 0; margin-bottom: 0">
   <font face="Arial" size="1">
    You can learn
    <a href="http://lifeprint.com">
     American Sign Language (ASL)
    </a>
    online at American Sign Language University ™
    <br/>
    <a href="http://asl.ms" style="text-decoration: none">
     ASL
    </a>
    resources by Lifeprint.com  ©  Dr. William Vicars
   </font>
  </p>
 </font>
</blockquote>
