<blockquote>
 <hr align="left" color="#000000" size="1"/>
 This sign can be used to mean such things as: "lose weight" or
  "the amount paid is going down."
 <br/>
 <p>
  Both hands are in "U" (or "H" handshapes). The left hand
  doesn't have to move downward, but you can.  The more repetition, and the
  larger the movements combined with facial expression can represent more and
  greater decreases.
 </p>
 <p>
  <br/>
  DECREASE / "lose weight" / "a cut in pay" / "go down"
  <br/>
  <img border="0" height="212" src="/images/decrease.gif" width="261"/>
 </p>
 <font face="Arial">
  <hr align="left" color="#000000" size="1" width="50%"/>
 </font>
 <p>
  <img border="0" height="218" src="/images/decrease1.jpg" width="292"/>
  <img border="0" height="218" src="/images/decrease2.jpg" width="292"/>
  <img border="0" height="218" src="/images/decrease3.jpg" width="292"/>
  <img border="0" height="218" src="/images/decrease4.jpg" width="292"/>
  <img border="0" height="218" src="/images/decrease5.jpg" width="292"/>
  <img border="0" height="218" src="/images/decrease6.jpg" width="292"/>
  <img border="0" height="218" src="/images/decrease7.jpg" width="292"/>
  <img border="0" height="218" src="/images/decrease8.jpg" width="292"/>
  <img border="0" height="218" src="/images/decrease9.jpg" width="292"/>
  <img border="0" height="218" src="/images/decrease10.jpg" width="292"/>
  <img border="0" height="218" src="/images/decrease11.jpg" width="292"/>
 </p>
 <p style="margin-top: 0; margin-bottom: 0">
  <br/>
 </p>
 <font face="Arial">
  <hr align="left" color="#000000" size="1"/>
  <p style="margin-top: 0; margin-bottom: 0">
   See:
   <a href="../i/increase.htm">
    INCREASE
   </a>
  </p>
  <hr align="left" color="#000000" size="1"/>
  <p align="center" style="margin-top: 0; margin-bottom: 0">
   <font face="Arial" size="1">
    You can learn
    <a href="http://lifeprint.com" style="text-decoration: none">
     American Sign Language (ASL)
    </a>
    online at American Sign Language University ™
    <br/>
    <a href="http://asl.ms" style="text-decoration: none">
     ASL
    </a>
    resources by Lifeprint.com  ©  Dr. William Vicars
   </font>
  </p>
 </font>
</blockquote>
