<blockquote>
 <hr align="left" color="#000000" size="1"/>
 <br/>
 DESSERT:
 <p>
  <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/ji-uuujQ4Y4" width="560">
  </iframe>
 </p>
 <p style="margin-top: 0; margin-bottom: 0">
  <hr align="left" color="#000000" size="1" width="50%"/>
  <p style="margin-top: 0; margin-bottom: 0">
   <br/>
   Notes:
   <br/>
  </p>
  <div dir="ltr">
   Dear Dr. Bill,
   <div>
    My name is Helen. I've been teaching myself sign language at 
					home from your website for the benefit of my babies. Already 
					my 15 month old daughter knows quite a few signs. :-)
    <br/>
    We are hearing people but the signs help my kids communicate before they 
					can even speak.
   </div>
   <div>
    So there are a few words that come up often but i didn't 
					find the signs for them on your website. These words are 
					SNACK and DESSERT. I was wondering if you could send me a 
					description of how to sign these if there is a particular 
					sign.
   </div>
   <div>
    Thank you for helping us learn,
   </div>
   <div>
    Sincerely ,
   </div>
   <div>
    Helen
   </div>
  </div>
  <p style="margin-top: 0; margin-bottom: 0">
  </p>
  <p style="margin-top: 0; margin-bottom: 0">
   Dear Helen,
  </p>
  <p style="margin-top: 0; margin-bottom: 0">
   Hello :)
   <br/>
   The sign for DESSERT holds two "D" hands in front of you. The hands 
			are horizontal, the index fingers pointing forward. Start with the 
			hands about 3 inches apart. Bring the "D's" together so and tap the 
			bellies of the D's twice.
   <br/>
   Cordially,
  </p>
  <p style="margin-top: 0; margin-bottom: 0">
   -- Dr. Bill
  </p>
  <p style="margin-top: 0; margin-bottom: 0">
   p.s. For "snack" see:
   <font face="Arial">
    <a href="../s/snack.htm">
     SNACK
    </a>
   </font>
  </p>
  <font face="Arial">
   <hr align="left" color="#000000" size="1"/>
  </font>
  <p style="margin-top: 0; margin-bottom: 0">
   <br/>
   <font face="Arial">
    In a message dated 1/31/2014 10:57:22 A.M. Pacific Standard Time, 
			Richard writes:
    <br/>
    <br/>
    Hello Dr Bill,
    <br/>
    I am in need of some clarification on two signs if you wouldn't mind 
			helping. In reviewing "DESSERT" it seems to be two D hands coming 
			together at the belly of the D. But, I have come across the phrase 
			"TO DATE" and it seems to be that same description. I am confused by 
			this and in context it may get a little weird.
    <br/>
    Thank you for your help,
    <br/>
    Richard Almager
   </font>
   <br/>
   <br/>
   Richard,
   <br/>
   Hello :)
   <br/>
   DATE is upright, DESSERT is horizontal.
   <br/>
   By that I mean, the index fingers of the "D" hands in the sign for 
			DATE are pointing upward. Whereas the index fingers of the "D" hands 
			in the sign DESERT are pointing (generally) forward.
   <br/>
   - Dr. Bill
   <br/>
  </p>
  <p style="margin-top: 0; margin-bottom: 0">
   See:
   <a href="date.htm">
    DATE
   </a>
  </p>
  <font face="Arial">
   <hr align="left" color="#000000" size="1"/>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
    <font face="Arial" size="1">
     You can learn
     <a href="http://lifeprint.com" style="text-decoration: none">
      American Sign Language (ASL)
     </a>
     online at American Sign Language University ™
     <br/>
     <a href="http://asl.ms" style="text-decoration: none">
      ASL
     </a>
     resources by Lifeprint.com  ©  Dr. William Vicars
    </font>
   </p>
  </font>
 </p>
</blockquote>
