<blockquote style="PADDING-LEFT: 5px; MARGIN-LEFT: 5px; BORDER-LEFT: blue 2px solid">
 <font color="#000000" face="Times New Roman" size="3" style="BACKGROUND-COLOR: transparent">
  <div style="FONT-SIZE: 12pt; FONT-FAMILY: times new roman, new york, times, serif">
   <div>
    Dr. Vicars:
   </div>
   <div>
   </div>
   <div>
    I am giving an informative speech to my class this Sunday, 
				November 11, 2007. It is going to be on a day in the life of a 
				deaf person. It will be taken from a compilation of sources, 
				including actual interviews. I know that deaf persons do not 
				consider themselves disabled. I'd like to sign the phrase, 
				"Don't call me disabled." I have been looking everywhere for the 
				sign for disabled. So far, I've found "disability" on [another 
				website] with first the letter d, then the letter a, being 
				signed in a circle similar to that of "alone". Is this the same 
				sign for disabled? Please help me, ASAP!
   </div>
   <div>
   </div>
   <div>
    Thank you, for your time and willingness to help. I look forward 
				to hearing from you soon.
   </div>
   <div>
   </div>
   <div>
    Sincerely,
   </div>
   <div>
    Rose Cotten
   </div>
  </div>
 </font>
</blockquote>
