<blockquote>
 <hr/>
 <span style="font-weight: 400">
  Also see:
  <a href="do.htm">
   DO
  </a>
 </span>
 <hr/>
 <p>
  <span style="font-weight: 400">
   The sign "DO-what?" or "what-DO" is sometimes listed as "#DO" because it is a 
	lexicalized form of spelling the letters "D" and "O."
   <br/>
   To do this sign, turn your hands palm up in "D" handshapes and hold them in
  front of you with your index fingers pointing out/forward.  Then
  keeping your hands in that position, spell the word "DO" twice.
  </span>
 </p>
 <p>
  <span style="font-weight: 400">
   More advanced signers tend to do the same thing except they have
  "mutated" the "D" handshapes into "G"
  handshapes.  The movement for this variation is to bring the pads of the
  index fingers and the thumbs together twice.
  </span>
 </p>
 <p>
  <span style="font-weight: 400">
   Make sure to use a "
   <a href="../../pages-layout/nonmanualmarkers.htm">
    Wh-q
   </a>
   "
  facial expression with this sign because it translates to "What are/is
  we/he/she/it doing?"  If you put a y/n-q facial expression on this
  sign it means, "What did I do?  Why are you on my
  case?"
  </span>
  <br/>
 </p>
 <p>
  DO-what?:
  <br/>
  <img border="0" src="/images/what-do.gif" style="max-width: 100%; height: auto" width="480"/>
  <span style="font-weight: 400">
   <font face="Arial">
   </font>
  </span>
 </p>
 <p style="margin-top: 0; margin-bottom: 0">
  <img border="0" height="317" src="/images/what-do1.jpg" width="320"/>
  <img border="0" height="317" src="/images/what-do2.jpg" width="320"/>
 </p>
 <p>
  <img border="0" height="212" src="/images/do-lex-front1.jpg" width="195"/>
  <img border="0" height="212" src="/images/do-lex-front2.jpg" width="195"/>
  <img border="0" height="212" src="/images/do-lex-front3.jpg" width="195"/>
  <img border="0" height="212" src="/images/do-lex-front4.jpg" width="195"/>
 </p>
 <p>
  <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/Jc-6r6jmTFI?rel=0" width="560">
  </iframe>
 </p>
 <hr color="#800080"/>
 <p>
  DO-what? (one handed version)
  <br/>
  (What are you doing!?)
  <br/>
  <img border="0" height="212" src="/images/do-lex-onehand1.jpg" width="210"/>
  <img border="0" height="212" src="/images/do-lex-onehand2.jpg" width="210"/>
  <img border="0" height="212" src="/images/do-lex-onehand3.jpg" width="210"/>
  <img border="0" height="212" src="/images/do-lex-onehand4.jpg" width="210"/>
 </p>
 <hr color="#800080"/>
 <p>
  Side view: (G hand version)
  <br/>
  <img border="0" height="215" src="/images/do-lex-side1.jpg" width="214"/>
  <img border="0" height="215" src="/images/do-lex-side2.jpg" width="214"/>
  <img border="0" height="215" src="/images/do-lex-side3.jpg" width="214"/>
  <img border="0" height="215" src="/images/do-lex-side4.jpg" width="214"/>
 </p>
 <hr color="#800080"/>
 <p>
  WHAT-DO? (D hand variation)
  <br/>
  Notice, you can use a "D" handshape instead of the "G"
  handshape.
  <br/>
  <br/>
  <img border="0" height="223" src="/images/do-lex-sideb1.jpg" width="212"/>
  <img border="0" height="223" src="/images/do-lex-sideb2.jpg" width="212"/>
  <img border="0" height="223" src="/images/do-lex-sideb3.jpg" width="212"/>
  <img border="0" height="223" src="/images/do-lex-sideb4.jpg" width="212"/>
 </p>
 <p>
  For more information on "DO" visit the
  <a href="do.htm">
   DO
  </a>
  page.
 </p>
 <p style="margin-top: 0; margin-bottom: 0">
  <font face="Arial">
  </font>
 </p>
</blockquote>
