<blockquote>
 <hr align="left" color="#000000" size="1"/>
 <p style="margin-top: 0; margin-bottom: 0">
  <font face="Arial">
   To sign DOG, just snap your fingers twice.
   <br/>
   <br/>
   This is an interesting sign because it is sort of based on the fingerspelled 
	word D-O-G as well as the common gesture of snapping your fingers to get a 
	dog's attention. Note: The snap always uses the middle finger, not the index 
	finger. The beginning handshape looks a bit like a modified "D" hand and the 
	ending handshape winds up looking like the letter "G." Thus the sign sort of 
	looks like you are spelling the letters "DG" which creates a "lexicalized" 
	version of the fingerspelled word "D-O-G."
  </font>
  <br/>
  <br/>
  DOG:
  <font face="Arial">
   <p align="left" style="margin-top: 0; margin-bottom: 0">
    <img border="0" src="/images/dog1.gif" style="max-width: 100%; height: auto" width="480"/>
    <img border="0" height="205" src="/images/d.jpg" width="183"/>
    <img border="0" height="136" src="/images/g.jpg" width="182"/>
    <br/>
   </p>
   <hr/>
   <p align="left" style="margin-top: 0; margin-bottom: 0">
    Notes:
    <img align="right" height="177" src="/images/dog.gif" width="246"/>
    <font size="+1">
     <br/>
    </font>
    There are several different "right" ways to 
do the sign for dog.
   </p>
   <p align="left" style="margin-top: 0; margin-bottom: 0">
    A popular sign for "dog" is
made by slapping your right flat hand against your leg, then snapping your fingers. Or you can snap your fingers 
	once  then slap your leg.
    <br/>
    <br/>
    Or you can slap your leg twice and not snap your fingers at all.
   </p>
   <p align="left" style="margin-top: 0; margin-bottom: 0">
    My recommendation just use "lexicalized fingerspelling" 
	method I describe above  To do this, you fingerspell the letters "D" 
	and "G" very quickly and "snap" the middle finger on the base of the thumb 
	as you change from a modified "D" to a "G."
    <br/>
    <hr align="left" color="#000000" size="1"/>
    <p style="margin-top: 0; margin-bottom: 0">
     OPTIONAL READING / ADVANCED DISCUSSION:
     <br/>
    </p>
    <div>
     <div>
      <p style="margin-top: 0; margin-bottom: 0">
       n a message dated 1/14/2007 7:00:38 P.M. Pacific Standard Time, brittdun@gmail.com writes:
      </p>
     </div>
     <blockquote style="PADDING-LEFT: 5px; MARGIN-LEFT: 5px; BORDER-LEFT: blue 2px solid">
      <font color="#000000" face="Arial" size="2" style="BACKGROUND-COLOR: transparent">
       <div>
        <p style="margin-top: 0; margin-bottom: 0">
         <font face="Arial" size="2">
          Good afternoon Dr. Bill,
         </font>
        </p>
       </div>
       <div>
       </div>
       <div>
        <p style="margin-top: 0; margin-bottom: 0">
         <font face="Arial" size="2">
          My name is Brittany Dunlap. I am a 
				hearing person who is dating a hearing impaired man named Roy. 
				He went to school at the Ohio School for the Deaf. I have known 
				him since May of 06, as friends, and we have been a couple since 
				December. He is about 90% deaf and is progressively becoming 
				more deaf as time passes. I am trying to learn ASL and he has 
				promised to teach me (starting tomorrow) but I have been going 
				through your lessons for the past few days now and have a 
				question about the word "dog".
         </font>
        </p>
       </div>
       <div>
       </div>
       <div>
        <p style="margin-top: 0; margin-bottom: 0">
         <font face="Arial" size="2">
          If you and a friend are sitting at a 
				table signing, and you want to communicate the word "dog?" The 
				leg slapping would be blocked by the table. Would you improvise 
				and slap your abdomen? Or would your friend be totally confused 
				by that? Or does that have a totally different meaning? Is there 
				any way around that situation, other than fingerspelling dog?
         </font>
        </p>
       </div>
       <div>
       </div>
       <div>
        <p style="margin-top: 0; margin-bottom: 0">
         <font face="Arial" size="2">
          Many thanks,
         </font>
        </p>
       </div>
       <div>
       </div>
       <div>
        <p style="margin-top: 0; margin-bottom: 0">
         <font face="Arial" size="2">
          Brittany D.
          <br/>
          Grove City, OH 43123-9084
         </font>
        </p>
       </div>
       <div>
        <p style="margin-top: 0; margin-bottom: 0">
         <font face="Arial" size="2">
          brittdun@
         </font>
        </p>
       </div>
      </font>
     </blockquote>
    </div>
    <div>
     <p style="margin-top: 0; margin-bottom: 0">
      Brittany,
      <br/>
      Hello :)
      <br/>
      The sign DOG actually has
      <i>
       five
      </i>
      variations.  Oh, sure, people will tell 
		you THEIR version is right.
      <br/>
      Just smile sweetly and nod.
      <br/>
      If the person is your sign instructor then do it his or her way for 
		however long your class is. (Heh.)
      <br/>
      The 
        main 
		versions of "DOG" are:
      <br/>
      <br/>
      1.  Snap your fingers twice.
      <br/>
      2.  Snap your fingers 
		once.
      <br/>
      3.  Slap your thigh twice.
      <br/>
      4.  Snap your fingers once and then slap your thigh once.
      <br/>
      5.  Slap your thigh once and then snap your fingers.
      <br/>
      <br/>
      In your situation due to the table, the obvious choice is to use the 
		version that doesn't require hitting your leg.
      <br/>
      If I were you, I'd use the snap" version 
		of #DOG.
      <br/>
      A cool thing I want to point out is that the snap in this case is actually 
		what we call "lexicalized" fingerspelling.  Start with a modified "D" handshape 
		(with just the middle finger touching the thumb and the index finger 
		extended) and snap your middle finger and end up in a "G" handshape.  
		(Lexicalization means "the process of becoming like a lexeme." The word 
		"lexeme" means basic root words. So, what we are saying is that the 
		fingerspelling no longer looks or functions like typical fingerspelling, 
		it has changed to become like a "word" or sign.)
      <br/>
     </p>
    </div>
    <div>
     <p style="margin-top: 0; margin-bottom: 0">
      As an adult communicating with other skilled adults I generally just sign 
	D-G (with a double snap). But on the other hand, when communicating with a young child I sometimes switch to the double-leg 
	pat.
      <br/>
      A Deaf coworker of mine has a pet peeve 
	regarding students (and instructors) who sign "DOG" in a redundant manner 
	(using both the snap and the pat). He doesn't like it a bit.
      <br/>
      I can 
		understand his point of view, but I also think it is important to be 
		flexible. For example, one of my daughters, Sarah, has no joints in her fingers and thus can't 
    really do fingerspelling or "snapping."  Guess which version of "dog" she 
		prefers?
      <br/>
      Cordially,
      <br/>
      -- Dr.
		Bill
     </p>
    </div>
   </p>
  </font>
  <hr/>
  <div>
   In a message dated 5/4/2012 8:26:30 A.M. Pacific Daylight Time, 
			johnsonrichelle@gmail.com writes:
  </div>
  <blockquote style="BORDER-LEFT: blue 2px solid; PADDING-LEFT: 5px; MARGIN-LEFT: 5px">
   <font color="#000000" face="Arial" size="2" style="BACKGROUND-COLOR: transparent">
    Hi Dr. Vicars--
    <br/>
    <br/>
    I am learning some ASL to sign with my (hearing) baby. Another 
			friend with an older child also signs with her (also hearing) baby. 
			She uses an alternate sign for "dog" instead of the snap and leg 
			tap, it's basically sticking her tongue out a bit and panting like a 
			dog. She swears this is a legit ASL alternative, but I can't find it 
			anywhere. Most baby sign language teachers encourage families to 
			modify signs as needed or even go with signs their babies make up 
			spontaneously, since the goal is for baby to be able to communicate 
			with caregivers and family, rather than the Deaf community. I'm 
			curious, though, for the "official" stance on this alternate for 
			"dog"? Thanks much!
    <br/>
    <br/>
    Richelle Johnson
   </font>
  </blockquote>
  <div>
   Richelle,
   <br/>
   It is likely that the
   <em>
    only
   </em>
   time you might see such a sign 
			used to mean "
   <em>
    dog
   </em>
   " in "ASL" would be during story-time for
   <em>
    very young children
   </em>
   .
   <br/>
   A skilled signer might mime and/or role-play being a dog as part of 
			an entertaining skit or storytelling event for
   <em>
    kids
   </em>
   .
   <br/>
   During a typical conversation between two adult Deaf signers you are
   <strong>
    <em>
     not
    </em>
   </strong>
   going to see one of them sticking 
			their tongue out and panting as a way of signing "dog." I suppose I 
			might use that sign to mean "panting" if I wanted to tell my wife 
			that our dog was "panting like crazy" after having taken her (the 
			dog, not the wife) out for a run. In such a situation I would be 
			actually be using the "PANTING" sign to mean "panting" and not to 
			mean "dog."
   <br/>
   Cordially,
   <br/>
   - Dr. Bill
   <font face="Arial">
    <br/>
    p.s.
    <br/>
    Taking the
    <i>
     wife
    </i>
    out for a run would involve other signs such 
			as HEART-ATTACK and AMBULANCE.
    <br/>
    Additionally,
    <i>
     if someday she reads this
    </i>
    - there will be signs 
			such as ASSAULT and DIVORCE.  Heh.
   </font>
  </div>
  <hr/>
 </p>
</blockquote>
