<blockquote>
 <hr align="left" color="#000000" size="1" width="50%"/>
 <span style="font-weight: 400">
  <font face="Arial">
   <p style="margin-top: 0; margin-bottom: 0">
    DOWN
    <br/>
    The direction "down."
    <br/>
    Signing note: "DOWN" can also mean "THIS."
    <br/>
    Signing note: If you use a double movement it can mean DOWNSTAIRS.
    <br/>
    <br/>
    <img border="0" height="234" src="/images/down1.jpg" width="253"/>
    <img border="0" height="234" src="/images/down2.jpg" width="253"/>
    <br/>
    <br/>
   </p>
   <hr align="left" color="#000000" size="1" width="50%"/>
   <p>
    DOWN: "demoted"
    <br/>
    To move "down" in the chain
  of command. To become of a lower priority.  To be the next one down on
  the list:
    <br/>
    <br/>
    <img border="0" height="231" src="/images/demote1.jpg" width="268"/>
    <img border="0" height="231" src="/images/demote2.jpg" width="268"/>
    <img border="0" height="231" src="/images/demote3.jpg" width="268"/>
   </p>
   <hr align="left" color="#000000" size="1" width="50%"/>
   <p>
    DOWN: "depressed" or "feeling down"
    <br/>
    <br/>
    <img border="0" height="235" src="/images/depressed1.jpg" width="199"/>
    <img border="0" height="235" src="/images/depressed2.jpg" width="199"/>
    <img border="0" height="235" src="/images/depressed3.jpg" width="199"/>
   </p>
   <hr align="left" color="#000000" size="1" width="50%"/>
   <p>
    CALM-DOWN:
    <br/>
    Push your hands downward twice.
    <br/>
    If you push downward then move the hands a bit to the side a bit and push 
	down again it can mean "Take it easy," "taking it easy," or "chillin."
    <br/>
    <br/>
    <img border="0" height="234" src="/images/calm-down1.jpg" width="246"/>
    <img border="0" height="234" src="/images/calm-down2.jpg" width="246"/>
    <br/>
    <img border="0" height="234" src="/images/calm-down3.jpg" width="246"/>
    <img border="0" height="234" src="/images/calm-down4.jpg" width="246"/>
   </p>
   <hr align="left" color="#000000" size="1" width="50%"/>
   <p>
    See:
    <a href="../u/up.htm">
     UP
    </a>
   </p>
  </font>
 </span>
</blockquote>
