<blockquote>
 <hr align="left" color="#000000" size="1"/>
 <p style="margin-top: 0; margin-bottom: 0">
  The sign for "earn" looks sort of like grabbing some money.
  <br/>
  <font face="Arial">
   The dominant hand starts in a "C" handshape and changes into an "S" 
	handshape as it moves back along the surface of the palm-up, flat, 
	non-dominant hand.
   <br/>
   <br/>
   EARN:
   <br/>
   <img border="0" height="238" src="/images/earn.h34.gif" width="221"/>
   <img border="0" height="238" src="/images/earn.h35.gif" width="221"/>
   <br/>
   <hr/>
   <p>
    side view of EARN:
   </p>
   <p>
    <img border="0" height="238" src="/images/earn.h36.jpg" width="216"/>
    <img border="0" height="238" src="/images/earn.h37.jpg" width="216"/>
    <img border="0" height="238" src="/images/earn.h38.jpg" width="216"/>
    <br/>
   </p>
   <hr/>
  </font>
  <p style="margin-top: 0; margin-bottom: 0">
   <br/>
   Sample sentence:  How do you earn money? = YOU EARN MONEY HOW?
   <br/>
   <br/>
   <iframe allow="autoplay; encrypted-media" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/cTmJgQT5O7c?rel=0" width="560">
   </iframe>
   <br/>
   <br/>
  </p>
  <font face="Arial">
   <hr align="left" color="#000000" size="1"/>
  </font>
 </p>
</blockquote>
