<blockquote>
 <p style="margin-top: 0; margin-bottom: 0">
  <span style="font-weight: 400">
   <font face="Arial">
   </font>
  </span>
  <hr align="left" color="#000000" size="1"/>
  <span style="font-weight: 400">
   <font face="Arial">
    <p style="margin-top: 0; margin-bottom: 0">
     To sign "electricity," use "X" handshapes. Tap 
(gently) the knuckles together twice.
     <br/>
     <br/>
     ELECTRICITY (or battery)
     <br/>
     <img border="0" height="225" src="/images/electricity1.jpg" width="228"/>
     <img border="0" height="225" src="/images/electricity2.jpg" width="228"/>
     <img border="0" height="225" src="/images/electricity3.jpg" width="228"/>
     <img border="0" height="225" src="/images/electricity4.jpg" width="228"/>
     <br/>
    </p>
    <hr align="left" color="#000000" size="1"/>
    <p style="margin-top: 0; margin-bottom: 0">
     <br/>
     BATTERY:
    </p>
    <p style="margin-top: 0; margin-bottom: 0">
     The sign for "electricity" can also 
be used (in context) to mean "battery" as in "I need a new hearing aid battery."
     <br/>
     <br/>
     Sample sentence: What kind of battery does your hearing aid use?
     <br/>
     = YOUR HEARING-AID BATTERY, WHAT-KIND?
     <br/>
     <br/>
     <object classid="CLSID:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,22,0" height="275" id="FVS" width="352">
      <param name="movie" value="../08/08.03_player.swf?1665527056"/>
      <param name="bgcolor" value="#ffffff"/>
      <embed bgcolor="#ffffff" height="275" name="FVS" pluginspage='http://www.macromedia.com/go/getflashplayer"' src="../08/08.03_player.swf?1665527056" type="application/x-shockwave-flash" width="352"/>
     </object>
     <br/>
    </p>
    <hr align="left" color="#000000" size="1"/>
    <p style="margin-top: 0; margin-bottom: 0">
     <br/>
    </p>
   </font>
  </span>
  <font face="Arial">
  </font>
 </p>
</blockquote>
