<blockquote>
 <font face="Arial">
  <hr align="left" color="#000000" size="1"/>
  <p>
   The sign for "elephant" uses a flat hand to show the trunk. 
			Start near your nose and then move downward and outward.
   <br/>
  </p>
  <p>
   <br/>
   ELEPHANT:
  </p>
  <p style="margin-top: 0; margin-bottom: 0">
   <img border="0" height="207" src="/images/elepha4.jpg" width="198"/>
   <img border="0" height="207" src="/images/elepha5.jpg" width="198"/>
   <img border="0" height="207" src="/images/elepha6.jpg" width="198"/>
   <img border="0" height="207" src="/images/elepha7.jpg" width="198"/>
   <img border="0" height="207" src="/images/elepha8.jpg" width="198"/>
   <br/>
  </p>
  <hr align="left" color="#000000" size="1"/>
  <p style="margin-top: 0; margin-bottom: 0">
   Elephant animation: (version 1)
   <br/>
   <img border="0" height="207" src="/images/elephant.gif" width="198"/>
   <br/>
  </p>
  <hr align="left" color="#000000" size="1"/>
  <p>
   <br/>
   There is another version of elephant that uses a "C" handshape to show the shape of the trunk.
   <br/>
   <br/>
   ELEPHANT (version 2)
  </p>
  <p>
   <img border="0" height="207" src="/images/elepha9.jpg" width="212"/>
   <img border="0" height="207" src="/images/elepha10.jpg" width="212"/>
   <img border="0" height="207" src="/images/elepha11.jpg" width="212"/>
   <img border="0" height="207" src="/images/elepha12.jpg" width="212"/>
   <img border="0" height="207" src="/images/elepha13.jpg" width="212"/>
  </p>
  <hr align="left" color="#000000" size="1"/>
  See:
  <a href="/images/elephantversion2.gif">
   Elephant animation (version 2)
  </a>
  <hr align="left" color="#000000" size="1"/>
  <p align="center" style="margin-top: 0; margin-bottom: 0">
   <font face="Arial" size="1">
    You can learn American
    <a href="http://www.lifeprint.com" style="text-decoration: none">
     Sign 
		Language
    </a>
    (ASL) online at American Sign Language University ™
    <br/>
    <a href="http://asl.ms" style="text-decoration: none">
     ASL
    </a>
    resources 
		by Lifeprint.com  ©  Dr. William Vicars
   </font>
  </p>
 </font>
</blockquote>
