<blockquote>
 <hr align="left" color="#000000" size="1"/>
 <p style="margin-top: 0; margin-bottom: 0">
  The sign for "embarrassed" has several versions.
  <br/>
  <p>
   <br/>
   <font face="Arial">
    To do the general sign for embarrassed, alternate moving your hands upward 
	alongside your head as if showing the blood rushing up into your face as you 
	are feeling embarrassed. Use a bit of a rotating movement for each hand (up, 
	forward a bit, down, back a bit).
    <br/>
    <br/>
   </font>
   EMBARRASSED (main version)
  </p>
  <p>
   <img border="0" height="238" src="/images/embarrasseda1.jpg" width="231"/>
   <img border="0" height="238" src="/images/embarrasseda2.jpg" width="231"/>
   <img border="0" height="238" src="/images/embarrasseda3.jpg" width="231"/>
   <img border="0" height="238" src="/images/embarrasseda4.jpg" width="231"/>
   <img border="0" height="238" src="/images/embarrasseda5.jpg" width="231"/>
   <img border="0" height="238" src="/images/embarrasseda6.jpg" width="231"/>
   <img border="0" height="238" src="/images/embarrasseda7.jpg" width="231"/>
   <img border="0" height="238" src="/images/embarrasseda8.jpg" width="231"/>
  </p>
  <p>
  </p>
  <p>
   <font face="Arial">
    Sample sentence:  "Do you embarrass easily?" = EMBARRASS EASY YOU?
    <br/>
    <br/>
    <object classid="CLSID:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=8,0,0,0" height="275" id="FVS" width="320">
     <param name="movie" value="../19/embarrass-easy-you_player.swf?129984136"/>
     <param name="bgcolor" value="#ffffff"/>
     <param name="allowfullscreen" value="true"/>
     <embed allowfullscreen="true" bgcolor="#ffffff" height="275" name="FVS" pluginspage='http://www.macromedia.com/go/getflashplayer"' src="../19/embarrass-easy-you_player.swf?129984136" type="application/x-shockwave-flash" width="320"/>
    </object>
    <br/>
   </font>
   <br/>
  </p>
  <hr align="left" color="#000000" size="1"/>
  <p>
   <br/>
   Another version of "embarrassed" is based on the concept of "going red in the face."
   <br/>
   This sign is a combination of "red" and "level rise up."
   <br/>
   <br/>
   <font face="Arial">
    "RED-FACE-RISE-UP" = "Go red in the face from 
	embarrassment."
    <br/>
   </font>
   <br/>
   <img border="0" height="231" src="/images/embarrassedc1.jpg" width="223"/>
   <img border="0" height="231" src="/images/embarrassedc2.jpg" width="223"/>
   <img border="0" height="231" src="/images/embarrassedc3.jpg" width="223"/>
   <img border="0" height="231" src="/images/embarrassedc4.jpg" width="223"/>
   <img border="0" height="231" src="/images/embarrassedc5.jpg" width="223"/>
   <img border="0" height="231" src="/images/embarrassedc6.jpg" width="223"/>
   <img border="0" height="231" src="/images/embarrassedc7.jpg" width="223"/>
   <br/>
  </p>
  <hr align="left" color="#000000" size="1"/>
  <p>
   <br/>
   There is another version that also means to go red in the face.  It means "blush."
  Some people precede this sign with the sign "red." (Like in the
  version above.)
   <br/>
   <br/>
   BLUSH:
   <br/>
   <img border="0" height="231" src="/images/embarrassedb1.jpg" width="247"/>
   <img border="0" height="231" src="/images/embarrassedb2.jpg" width="247"/>
   <img border="0" height="231" src="/images/embarrassedb3.jpg" width="247"/>
   <br/>
  </p>
  <font face="Arial">
   <hr align="left" color="#000000" size="1"/>
  </font>
 </p>
</blockquote>
