<blockquote>
 <hr align="left" color="#000000" size="1"/>
 <p style="margin-top: 0; margin-bottom: 0">
  The sign for "
  <font face="Arial">
   <b>
    <i>
     everyday
    </i>
   </b>
  </font>
  "  
	is variation of the sign "tomorrow"
  <br/>
  Do the sign "tomorrow" twice rapidly and it means "everyday."  
	See:
  <font face="Arial">
   "
   <a href="../t/tomorrow.htm">
    TOMORROW
   </a>
   "
   <br/>
  </font>
  <p style="margin-top: 0; margin-bottom: 0">
   This sign can also mean
   <font face="Arial">
    "daily," "common," or even "regularly."
    <br/>
   </font>
   <br/>
   EVERYDAY:
  </p>
  <p style="margin-top: 0; margin-bottom: 0">
   <img border="0" src="/images/everyday.gif" style="max-width: 100%; height: auto" width="480"/>
  </p>
  <p style="margin-top: 0; margin-bottom: 0">
   <img border="0" height="222" src="/images/everyday1.jpg" width="200"/>
   <img border="0" height="222" src="/images/everyday2.jpg" width="200"/>
   <img border="0" height="222" src="/images/everyday3.jpg" width="200"/>
   <img border="0" height="222" src="/images/everyday4.jpg" width="200"/>
   <img border="0" height="222" src="/images/everyday5.jpg" width="200"/>
   <img border="0" height="222" src="/images/everyday6.jpg" width="200"/>
   <img border="0" height="222" src="/images/everyday7.jpg" width="200"/>
   <img border="0" height="222" src="/images/everyday8.jpg" width="200"/>
   <img border="0" height="222" src="/images/everyday9.jpg" width="200"/>
   <img border="0" height="222" src="/images/everyday10.jpg" width="200"/>
   <br/>
  </p>
  <p style="margin-top: 0; margin-bottom: 0">
   Sample sentence: "Do you think 
	children should change their underwear daily?"
   <br/>
   <br/>
   <object classid="CLSID:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,22,0" height="275" id="FVS" width="352">
    <param name="movie" value="../08/08.17_player.swf?3137225296"/>
    <param name="bgcolor" value="#ffffff"/>
    <embed bgcolor="#ffffff" height="275" name="FVS" pluginspage='http://www.macromedia.com/go/getflashplayer"' src="../08/08.17_player.swf?3137225296" type="application/x-shockwave-flash" width="352"/>
   </object>
  </p>
  <p style="margin-top: 0; margin-bottom: 0">
  </p>
  <hr align="left" color="#000000" size="1" width="50%"/>
  <p style="margin-top: 0; margin-bottom: 0">
   <br/>
   <font face="Arial">
    EVERYDAY (side view)
   </font>
  </p>
  <p style="margin-top: 0; margin-bottom: 0">
   <img border="0" height="237" src="/images/everyday-sideview1.jpg" width="184"/>
   <img border="0" height="237" src="/images/everyday-sideview2.jpg" width="184"/>
   <img border="0" height="237" src="/images/everyday-sideview3.jpg" width="184"/>
   <img border="0" height="237" src="/images/everyday-sideview4.jpg" width="184"/>
  </p>
  <p style="margin-top: 0; margin-bottom: 0">
  </p>
  <hr align="left" color="#000000" size="1"/>
 </p>
</blockquote>