<blockquote>
 <hr align="left" color="#000000" size="1"/>
 <font face="Arial">
  The sign for "exact" uses "closed X" hands (as if holding a needle 
			between your thumb and index finger). The top hand makes a circle in the air, then 
			moves down to the bottom hand.  The tips of the dominant index finger and thumb make contact with 
			(or come very close to)
  the tips of the non-dominant index finger and thumb.  The left hand uses the same
  handshape as the right hand.  The front of the knuckles generally make 
			contact when you do this sign quickly.
  <br/>
  <br/>
  EXACT:
  <p>
   <img border="0" height="223" src="/images/exact1.jpg" width="223"/>
   <img border="0" height="223" src="/images/exact2.jpg" width="223"/>
   <img border="0" height="223" src="/images/exact3.jpg" width="223"/>
   <img border="0" height="223" src="/images/exact4.jpg" width="223"/>
   <img border="0" height="223" src="/images/exact5.jpg" width="223"/>
   <img border="0" height="223" src="/images/exact5.jpg" width="223"/>
   <img border="0" height="223" src="/images/exact7.jpg" width="223"/>
   <br/>
   Memory tip:
  Think of threading a needle.  You have to line up the thread exactly.
  </p>
  <p>
   <br/>
   EXACT
  </p>
  <p>
   <img border="0" height="93" src="/images/exact.gif" width="114"/>
   (animation)
  </p>
  <p>
  </p>
  <hr align="left" color="#000000" size="1"/>
  <p>
   <br/>
   The above sign for EXACT can also mean "perfect."
   <br/>
   Quite a few signers choose to initialize this sign with a "P" to mean 
	perfect.
   <br/>
   The tips of the middle fingers don't actually have to touch though (because 
	it is hard to do this sign
   <i>
    perfectly
   </i>
   - heh).
   <br/>
   <br/>
   PERFECT (initialized version)
   <br/>
   <img border="0" height="208" src="/images/perfect1.jpg" width="199"/>
   <img border="0" height="208" src="/images/perfect2.jpg" width="199"/>
   <img border="0" height="208" src="/images/perfect3.jpg" width="199"/>
   <img border="0" height="208" src="/images/perfect4.jpg" width="199"/>
   <img border="0" height="208" src="/images/perfect5.jpg" width="199"/>
   <img border="0" height="208" src="/images/perfect6.jpg" width="199"/>
   <img border="0" height="208" src="/images/perfect7.jpg" width="199"/>
   <img border="0" height="208" src="/images/perfect8.jpg" width="199"/>
   <img border="0" height="208" src="/images/perfect9.jpg" width="199"/>
   <img border="0" height="208" src="/images/perfect10.jpg" width="199"/>
  </p>
  <p>
  </p>
  <hr/>
  <p>
  </p>
  <p>
   Perfectamundo! / perfect / just right / Precisely the way it 
			should be!
   <br/>
   Hold up both "F"-hands and move them both forward and come to a 
			sudden, jarring stop.
   <br/>
   The palms of the hands face each other.  You might see it done 
			with one hand facing slightly backward and the other hand facing 
			slightly forward.
   <br/>
   <img border="0" height="360" src="/images/perfect-01.jpg" width="360"/>
   <img border="0" height="360" src="/images/perfect-02.jpg" width="360"/>
   <br/>
   <iframe allowfullscreen="" frameborder="0" height="480" src="https://www.youtube.com/embed/HGIYIPaoFAc" width="854">
   </iframe>
  </p>
  <hr align="left" color="#000000" size="1"/>
  <p align="center" style="margin-top: 0; margin-bottom: 0">
   <font face="Arial" size="1">
    You can learn
    <a href="http://lifeprint.com" style="text-decoration: none">
     American Sign Language (ASL)
    </a>
    online at American Sign Language University ™
    <br/>
    <a href="http://asl.ms" style="text-decoration: none">
     ASL
    </a>
    resources by Lifeprint.com  ©  Dr. William Vicars
   </font>
  </p>
 </font>
</blockquote>
