<blockquote>
 <hr align="left" color="#000000" size="1"/>
 <font face="Arial">
  To do the concept for "excited" (or "enthusiasm"), the right 
			and left hands with the middle finger bent at the large knuckle and 
			the other fingers extended move in alternating circles.  The 
			circular movement is up, out, down, and in -- repeat.
  <br/>
  <br/>
  <p>
   EXCITED:
  </p>
  <p>
   <img border="0" height="210" src="/images/excited1.jpg" width="255"/>
   <img border="0" height="210" src="/images/excited2.jpg" width="255"/>
   <img border="0" height="210" src="/images/excited3.jpg" width="255"/>
   <img border="0" height="210" src="/images/excited4.jpg" width="255"/>
   <img border="0" height="210" src="/images/excited5.jpg" width="255"/>
   <img border="0" height="210" src="/images/excited6.jpg" width="255"/>
   <img border="0" height="210" src="/images/excited7.jpg" width="255"/>
  </p>
  <p>
  </p>
  <hr align="left" color="#000000" size="1"/>
  <p>
   Also see:
   <a href="enthusiastic.htm" style="text-decoration: none">
    "ENTHUSIASM"
   </a>
  </p>
  <hr align="left" color="#000000" size="1"/>
  <p align="center" style="margin-top: 0; margin-bottom: 0">
   <font face="Arial" size="1">
    You can learn
    <a href="http://lifeprint.com" style="text-decoration: none">
     American Sign Language (ASL)
    </a>
    online at American Sign Language University ™
    <br/>
    <a href="http://asl.ms" style="text-decoration: none">
     ASL
    </a>
    resources by Lifeprint.com  ©  Dr. William Vicars
   </font>
  </p>
 </font>
</blockquote>
