<blockquote>
 <font face="Arial">
  <hr align="left" color="#000000" size="1"/>
  <p>
   The sign for "expensive" is a combination of a single movement of "MONEY" and "throw down. 
			(Think of "throwing money away.")
   <br/>
   <br/>
   Slap a flattened "O" hand onto the left palm, then lift it off and 
			throw it down as you open the hand into a loose handshape.
   <br/>
   <br/>
   EXPENSIVE:
  </p>
  <p>
   <img border="0" height="202" src="/images/expensivesmall.gif" width="300"/>
   <br/>
  </p>
  <hr align="left" color="#000000" size="1"/>
  <p>
   Note: If you
   <i>
    do
   </i>
   happen to feel like
   <i>
    throwing money away
   </i>
   , 
			might I recommend that you instead put your money to good use and 
			donate to Lifeprint.com? -- Just a suggestion.
  </p>
  <hr align="left" color="#000000" size="1"/>
  <p align="center" style="margin-top: 0; margin-bottom: 0">
   <font face="Arial" size="1">
    You can learn American
    <a href="http://www.lifeprint.com" style="text-decoration: none">
     Sign 
		Language
    </a>
    (ASL) online at American Sign Language University ™
    <br/>
    <a href="http://asl.ms" style="text-decoration: none">
     ASL
    </a>
    resources 
		by Lifeprint.com  ©  Dr. William Vicars
   </font>
  </p>
 </font>
</blockquote>
