<blockquote>
 <hr align="left" color="#000000" size="1"/>
 <p style="margin-top: 0; margin-bottom: 0">
  To do the sign for "false," or "fake" -- move your "Index finger" 
	past your nose. Your index finger doesn't touch the nose, it just 
	comes close.
  <br/>
  <font face="Arial">
   <span style="font-weight: 400">
    Your index finger doesn't touch the nose, it just comes close. The movement 
	can be in the wrist or it can be more in the elbow as I show here.  The 
	movement is NOT in the knuckle.
   </span>
  </font>
  <br/>
  <p style="margin-top: 0; margin-bottom: 0">
   <font face="Arial">
    FALSE:
    <br/>
   </font>
   <img border="0" src="/images/false.gif" style="max-width: 100%; height: auto" width="480"/>
  </p>
  <p style="margin-top: 0; margin-bottom: 0">
   <img border="0" height="234" src="/images/false1.jpg" width="208"/>
   <img border="0" height="234" src="/images/false2.jpg" width="208"/>
   <img border="0" height="234" src="/images/false3.jpg" width="208"/>
   <br/>
   <br/>
   Sample sentence: Do you like true/false tests?
   <br/>
   <br/>
   <font face="Arial">
    <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/QCuc-PwehGA?rel=0" width="560">
    </iframe>
    <br/>
    <img border="0" height="322" src="/images/false.gif" width="264"/>
   </font>
  </p>
  <font face="Arial">
   <hr align="left" color="#000000" size="1"/>
   <p style="margin-top: 0; margin-bottom: 0">
    Notes:
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    The sign "FALSE" is also used 
	used to mean "
    <a href="foster.htm">
     foster
    </a>
    " as in concepts like "foster parents."
   </p>
  </font>
  <font face="Arial">
   <hr align="left" color="#000000" size="1"/>
  </font>
 </p>
</blockquote>