<blockquote>
 <hr align="left" color="#000000" size="1"/>
 <p style="margin-top: 0; margin-bottom: 0">
  The sign for "family" is based on a general circle movement 
	that applies to similar signs such as: family, class, group, and team.  
	You show the difference between these signs by using initialization (use the 
	first letter of the represented word as the handshape for the sign).
  <font face="Arial">
   <hr align="left" color="#000000" size="1"/>
  </font>
  <p style="margin-top: 0; margin-bottom: 0">
   <br/>
   To sign "family" form "F" hands and use t
   <font face="Arial">
    he hands to trace 
the shape of a circle.  As if representing a family sitting around a dinner 
table.
    <br/>
   </font>
   <br/>
   FAMILY:
  </p>
  <p style="margin-top: 0; margin-bottom: 0">
   <img border="0" src="/images/family.gif" style="max-width: 100%; height: auto" width="480"/>
   <img border="0" height="375" src="/images/family1.gif" width="316"/>
   <img border="0" height="381" src="/images/familyb2.gif" width="300"/>
  </p>
  <p style="margin-top: 0; margin-bottom: 0">
   <iframe allow="autoplay; encrypted-media" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/SxrxUgeTt00?rel=0" width="560">
   </iframe>
  </p>
  <p style="margin-top: 0; margin-bottom: 0">
   <img border="0" height="231" src="/images/family1.jpg" width="239"/>
   <img border="0" height="231" src="/images/family2.jpg" width="239"/>
   <img border="0" height="231" src="/images/family3.jpg" width="239"/>
   <img border="0" height="231" src="/images/family4.jpg" width="239"/>
   <img border="0" height="231" src="/images/family5.jpg" width="239"/>
   <img border="0" height="231" src="/images/family6.jpg" width="239"/>
   <font face="Arial">
    <br/>
    <br/>
    FAMILY DEAF? = "Is anyone in your family Deaf?"
   </font>
  </p>
  <p style="margin-top: 0; margin-bottom: 0">
   <font face="Arial">
    <iframe allow="autoplay; encrypted-media" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/zEP7lFuRjC0?rel=0" width="560">
    </iframe>
    <br/>
   </font>
  </p>
  <hr color="#800080"/>
  <p style="margin-top: 0; margin-bottom: 0">
   <br/>
   CLASS:  As in, I can't wait to go to Dr. Bill's ASL class!"
   <br/>
   (Can also be used for "category.")
   <br/>
   <iframe allow="autoplay; encrypted-media" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/zYsmQgZRW0g?rel=0" width="560">
   </iframe>
  </p>
  <p style="margin-top: 0; margin-bottom: 0">
   <img border="0" height="201" src="/images/class1.jpg" width="264"/>
   <img border="0" height="201" src="/images/class2.jpg" width="264"/>
   <img border="0" height="201" src="/images/class3.jpg" width="264"/>
   <img border="0" height="201" src="/images/class4.jpg" width="264"/>
   <br/>
   <font face="Arial">
    Note:  If you do the sign CLASS with "looser" fingers, it can mean a 
"general group of things." I call this the "
    <a href="../c/cluster.htm">
     CLUSTER
    </a>
    " 
sign. It is often used to show  plurality or to 
show a "group of things."
    <br/>
   </font>
  </p>
  <hr color="#800080"/>
  <p style="margin-top: 0; margin-bottom: 0">
   <br/>
   GROUP:
  </p>
  <p style="margin-top: 0; margin-bottom: 0">
   <img border="0" height="200" src="/images/group1.jpg" width="229"/>
   <img border="0" height="200" src="/images/group2.jpg" width="229"/>
   <img border="0" height="200" src="/images/group3.jpg" width="229"/>
   <img border="0" height="200" src="/images/group4.jpg" width="229"/>
   <br/>
  </p>
  <font face="Arial">
   <hr align="left" color="#000000" size="1"/>
  </font>
  <p style="margin-top: 0; margin-bottom: 0">
   <br/>
   TEAM:
   <br/>
   <iframe allow="autoplay; encrypted-media" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/GIwg3-xBDpE?rel=0" width="560">
   </iframe>
  </p>
  <p style="margin-top: 0; margin-bottom: 0">
   <img border="0" height="198" src="/images/team1.jpg" width="250"/>
   <img border="0" height="198" src="/images/team2.jpg" width="250"/>
   <img border="0" height="198" src="/images/team3.jpg" width="250"/>
   <img border="0" height="198" src="/images/team4.jpg" width="250"/>
   <br/>
  </p>
  <font face="Arial">
   <hr align="left" color="#000000" size="1"/>
  </font>
 </p>
</blockquote>