<blockquote>
 <hr align="left" color="#000000" size="1"/>
 <font face="Arial">
  The dominant hand moves "far" from the non-dominant hand.
  <br/>
  Compare with the sign for:  "
  <a href="../w/with.htm">
   WITH
  </a>
  ."
  <br/>
  <hr align="left" color="#000000" size="1"/>
  <p>
   <br/>
   FAR (version 1)
  </p>
  <p>
   <img border="0" height="218" src="/images/far1.jpg" width="237"/>
   <img border="0" height="218" src="/images/far2.jpg" width="237"/>
   <img border="0" height="218" src="/images/far3.jpg" width="237"/>
   <img border="0" height="218" src="/images/far4.jpg" width="237"/>
   <img border="0" height="218" src="/images/far5.jpg" width="237"/>
   <br/>
   People sometimes ask me what the difference is between FAR done with the 
	(modified) "A" hands and FAR done with the index finger.  The 
	differences I notice are that the "A" hand version has its roots in the sign 
	for "
   <a href="../w/with.htm">
    WITH
   </a>
   " (together). The non-dominant hand 
	functions as a type of base or starting point and thus moving the dominant 
	hand away from it seems to convey the idea of "far away from here" or "far 
	away from this ____" (whatever you are using as the base). Sure, you can use 
	this sign for concepts involving "distance" but I also would tend to use the 
	"A" hand version if the concept didn't actually involve "distance" but 
	rather involved "progress." (For example, suppose two groups are trying to 
	design something and one group is "far" ahead of the other.)
   <br/>
  </p>
  <hr color="#800080"/>
  <p>
   The "index finger" version of FAR (see below) seems to 
			convey either "far away" in general or it can mean more of a "far in 
			that direction" type of idea.  You can do the FAR-(index_version) 
			sign in a specific direction to correspond with real life locations.
   <br/>
  </p>
  <p>
   FAR (version 2)
   <br/>
   <img border="0" height="229" src="/images/farindex1.jpg" width="262"/>
   <img border="0" height="229" src="/images/farindex2.jpg" width="262"/>
   <img border="0" height="229" src="/images/farindex3.jpg" width="262"/>
   <img border="0" height="229" src="/images/farindex4.jpg" width="262"/>
   <br/>
   <img border="0" height="229" src="/images/farindex5.jpg" width="262"/>
   <br/>
  </p>
  <hr align="left" color="#000000" size="1"/>
  <p>
   <br/>
   <b>
    The OPPOSITE
   </b>
   of FAR = NOT-FAR = CLOSE-by = very-NEAR:
   <br/>
   Form your right hand into an "F" handshape.  Touch the tip of your index 
  and thumb fingers to the tip of your nose.  Pull your hand out away from 
  your face then sharply downward.
   <br/>
   <br/>
   NOT-FAR:
   <br/>
   <img border="0" height="220" src="/images/far.ht47.jpg" width="197"/>
   <img border="0" height="220" src="/images/far.ht48.jpg" width="197"/>
   <img border="0" height="220" src="/images/far.ht49.jpg" width="197"/>
   <img border="0" height="220" src="/images/far.ht50.jpg" width="197"/>
   <br/>
  </p>
  <hr align="left" color="#000000" size="1" width="25%"/>
  <p>
  </p>
  <p>
   Animation:  "Not far"
   <br/>
   <img border="0" height="220" src="/images/farnotfar.gif" width="197"/>
   <br/>
  </p>
  <hr align="left" color="#000000" size="1"/>
  <p align="center" style="margin-top: 0; margin-bottom: 0">
   <font face="Arial" size="1">
    You can learn
    <a href="http://lifeprint.com" style="text-decoration: none">
     American Sign Language (ASL)
    </a>
    online at American Sign Language University ™
    <br/>
    <a href="http://asl.ms" style="text-decoration: none">
     ASL
    </a>
    resources by Lifeprint.com  ©  Dr. William Vicars
   </font>
  </p>
 </font>
</blockquote>
