<blockquote>
 <hr align="left" color="#000000" size="1"/>
 <p style="margin-top: 0; margin-bottom: 0">
  The sign for "FAT" (as in "a fat person) uses "claw" hands near 
	the face to show chubby cheeks. Start with a relatively normal face and then 
	puff out your cheeks as you move your hands out a couple inches.
  <br/>
  <br/>
  FAT:
  <br/>
  <img border="0" height="300" src="/images/fat.ht1.jpg" width="268"/>
  <img border="0" height="300" src="/images/fat.ht2.jpg" width="268"/>
  <p style="margin-top: 0; margin-bottom: 0">
  </p>
  <hr align="left" color="#000000" size="1" width="50%"/>
  <p style="margin-top: 0; margin-bottom: 0">
   <br/>
   Sample sentence:
	Is your sister fat?
   <br/>
   <br/>
   <object classid="CLSID:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=8,0,0,0" height="275" id="FVS" width="320">
    <param name="movie" value="../20/your-sister-fat_player.swf?3046131277"/>
    <param name="bgcolor" value="#ffffff"/>
    <param name="allowfullscreen" value="true"/>
    <embed allowfullscreen="true" bgcolor="#ffffff" height="275" name="FVS" pluginspage='http://www.macromedia.com/go/getflashplayer"' src="../20/your-sister-fat_player.swf?3046131277" type="application/x-shockwave-flash" width="320"/>
   </object>
   <br/>
  </p>
  <font face="Arial">
   <hr align="left" color="#000000" size="1"/>
  </font>
  <p style="margin-top: 0; margin-bottom: 0">
  </p>
  <p>
   Notes:
   <br/>
   If you mean fat as in the marbling on a steak just fingerspell F-A-T.
   <br/>
   <br/>
   You can indicate relative degrees of fatness by how far out you move your hands and 
	how much you puff out your cheeks.
   <br/>
  </p>
  <p>
   <img border="0" height="227" src="/images/fat1.jpg" width="257"/>
   <img border="0" height="227" src="/images/fat4.jpg" width="257"/>
  </p>
  <p>
   <br/>
   <font face="Arial">
    You can also show specific aspects of being fat. For 
	example suppose someone is pot bellied.
    <br/>
   </font>
  </p>
  <p>
   FAT  (variation) 
  "pot bellied"
  </p>
  <p>
   <img border="0" height="222" src="/images/fat.ht7.jpg" width="179"/>
   <img border="0" height="222" src="/images/fat.ht8.jpg" width="179"/>
   <img border="0" height="222" src="/images/fat.ht9.jpg" width="179"/>
   <br/>
  </p>
  <hr align="left" color="#000000" size="1"/>
  <p>
   Also see:
   <a href="../p/pregnant.htm">
    PREGNANT
   </a>
  </p>
  <font face="Arial">
   <hr align="left" color="#000000" size="1"/>
   <p>
    Also see:
    <a href="../w/waddle.htm">
     WADDLE
    </a>
   </p>
   <hr align="left" color="#000000" size="1"/>
  </font>
 </p>
</blockquote>
