<blockquote>
 <hr align="left" color="#000000" size="1"/>
 <p style="margin-top: 0; margin-bottom: 0">
  The sign for "favorite" can be used to mean: favorite, favor, 
	prefer, and similar meanings.
  <br/>
  I've seen it used to mean "type" in the sentence:  "She's not my type."
  <br/>
  If you do the sign a bit higher using a single movement on the lips it can 
	mean "taste."
  <font face="Arial">
   <hr align="left" color="#000000" size="1"/>
   <p style="margin-top: 0; margin-bottom: 0">
   </p>
  </font>
  <p style="margin-top: 0; margin-bottom: 0">
   FAVORITE:
   <br/>
   Use a light
   <b>
    <i>
     jabbing
    </i>
   </b>
   movement.
   <br/>
   <img border="0" src="/images/favorite.gif" style="max-width: 100%; height: auto" width="480"/>
  </p>
  <p style="margin-top: 0; margin-bottom: 0">
   <img border="0" height="233" src="/images/favori1.jpg" width="240"/>
   <img border="0" height="233" src="/images/favori2.jpg" width="240"/>
   <img border="0" height="233" src="/images/favori1.jpg" width="240"/>
   <img border="0" height="233" src="/images/favori2.jpg" width="240"/>
  </p>
  <p style="margin-top: 0; margin-bottom: 0">
   <iframe allow="autoplay; encrypted-media" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/fNKs28s0ONw?rel=0" width="560">
   </iframe>
  </p>
  <p style="margin-top: 0; margin-bottom: 0">
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
    <p style="margin-top: 0; margin-bottom: 0">
     See:
     <a href="../r/rather.htm">
      RATHER
     </a>
    </p>
    <hr align="left" color="#000000" size="1"/>
   </font>
  </p>
 </p>
</blockquote>
