<blockquote>
 <font face="Arial">
  <h2 style="margin-top: 0; margin-bottom: 0">
   <span style="font-weight: 400">
    American Sign Language:  "fight"
   </span>
  </h2>
  <blockquote>
   <p style="margin-top: 0; margin-bottom: 0">
    <span style="font-weight: 400">
    </span>
    <hr align="left" color="#000000" size="1" width="50%"/>
    <span style="font-weight: 400">
     <p style="margin-top: 0; margin-bottom: 0">
      The sign for: FIGHT
      <br/>
      <br/>
      <iframe allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/sduX9T02b_M?rel=0" width="560">
      </iframe>
     </p>
     <p style="margin-top: 0; margin-bottom: 0">
      <img border="0" height="225" src="/images/fight.5.jpg" width="313"/>
      <img border="0" height="225" src="/images/fight.6.jpg" width="313"/>
      <img border="0" height="222" src="/images/fight.7.jpg" width="310"/>
      <img border="0" height="222" src="/images/fight.8.jpg" width="310"/>
     </p>
     <p style="margin-top: 0; margin-bottom: 0">
     </p>
     <hr align="left" color="#000000" size="1" width="50%"/>
     <p style="margin-top: 0; margin-bottom: 0">
      Notes:
     </p>
     <p style="margin-top: 0; margin-bottom: 0">
      You might see the sign for FIGHT with 
a double movement. The double movement tends to mean fighting, or it becomes a 
noun instead of a verb.
     </p>
     <p style="margin-top: 0; margin-bottom: 0">
      <br/>
      ---------
      <br/>
      A teacher of the Deaf writes:
      <br/>
      <br/>
      I am working with Deaf students at school. Some students do not understand when 
I discuss with them. For example, I said, "fight against slavery." The students 
think that I mean to physically harm slavery. They think that I want to beat 
slavery up with my fists, but I do not mean that. I believe that slavery should 
not be continued and I am marching for people to be free from slavery. If you 
have experiences in working with children in the past, maybe you can share the 
phrases of how teachers should say to students when teaching them for your 
lifeprint website. The phrases depend on the context in reading.
      <br/>
      - Kasey
      <br/>
      -----------
      <br/>
     </p>
     <p style="margin-top: 0; margin-bottom: 0">
      Dear Kasey,
      <br/>
      The issue isn't in the sign for fight, but the fact that the Deaf students you 
teach have not yet learned that the sign "fight" can mean more than hitting with 
your fists.
      <br/>
      There is a myth going around out there that each ASL sign has only one meaning.  
Many signs have more than one meaning.
      <br/>
      For example: The sign "HEARING-culturally" can also mean "PUBLIC" when combined 
with the sign "school."
      <br/>
      The sign NICE can mean "clean."  The sign WORK can be used to mean 
"indeed," etc.
      <br/>
      So, teach your students that there are many ways to fight for something.
      <br/>
      You might want to explain to your students that in this instance you mean: 
STUBBORN, WORK WORK WORK, SUPPORT, DISSOLVE STOP SLAVE.
      <br/>
      Or you could also use a rhetorical question:  I MARCH WHY? I WANT SLAVERY 
STOP.
      <br/>
      Cordially,
      <br/>
      Dr. Bill
      <br/>
     </p>
     <hr align="left" color="#000000" size="1" width="50%"/>
    </span>
   </p>
  </blockquote>
  <hr align="left" color="#000000" size="1"/>
  <hr align="left" color="#000000" size="1"/>
  <p style="margin-top: 0; margin-bottom: 0">
   <br/>
   * 
Want to help support ASL University?  It's
   <i>
    easy
   </i>
   :
  </p>
 </font>
 <b>
  <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&amp;hosted_button_id=XHRNABERKJT4N" rel="nofollow" target="_blank">
   <u>
    DONATE
   </u>
  </a>
 </b>
 <font size="2">
  (
  <i>
   Thanks!
  </i>
  )
 </font>
 <br/>
 <br/>
 <font face="Arial">
  *
 </font>
 Another way to help is to buy something from Dr. Bill's "
 <b>
  <a href="../../../bookstore/bookstore.htm">
   <u>
    Bookstore
   </u>
  </a>
 </b>
 ."
 <p style="margin-top: 0; margin-bottom: 0">
  <br/>
  <font face="Arial">
   *
  </font>
  Want even more ASL resources?  Visit the "
  <b>
   <a href="http://www.asl.tc/landing/index.html" rel="nofollow" target="_blank">
    ASL Training Center
   </a>
   !
  </b>
  "  (Subscription 
Extension of ASLU)
  <br/>
  <br/>
  *  Also check out Dr. Bill's channel:
  <a href="http://www.youtube.com/billvicars">
   www.youtube.com/billvicars
  </a>
  <font size="2">
   <br/>
  </font>
 </p>
 <hr align="left" color="#000000" size="1"/>
 <p align="center" style="margin-top: 0; margin-bottom: 0">
  <font size="1">
   You can learn
   <a href="http://lifeprint.com">
    American Sign Language (ASL)
   </a>
   online at American Sign Language University ™
   <br/>
   <a href="http://asl.ms" style="text-decoration: none">
    ASL
   </a>
   resources by Lifeprint.com  ©  Dr. William Vicars
  </font>
 </p>
 <hr color="#000000" size="1"/>
 <p>
 </p>
</blockquote>
