<blockquote>
 <hr align="left" color="#000000" size="1"/>
 <div>
  <div>
   In a message dated 9/24/2014 10:20:27 A.M. Pacific Daylight 
					Time, Chad Fisher writes:
  </div>
  <blockquote style="PADDING-LEFT: 5px; MARGIN-LEFT: 5px; BORDER-LEFT: blue 2px solid">
   <font color="#000000" face="Arial" size="2" style="BACKGROUND-COLOR: transparent">
    Hi Dr. Bill,
    <br/>
    <br/>
    I've written to you, I think only twice before.  This time 
					my question may be a bit out of the ordinary.
    <br/>
    <br/>
    In linguistics in college we learned about various filler 
					words in other languages.  In English in particular these 
					are words that are like "Um" or "uh-huh" when its just to 
					show that you are at least pretending to be interested in 
					what the other person is saying.  Or like when my co-worker 
					says "Blah-blah-Blah etc." so fast that you can't get even 
					get a thought in and then says "well one day I went to blah 
					blah blah."  Filler words like "um", "well", and "so" can be 
					extremely common, but they don't necessarily mean anything 
					in the context of the dialogue (or in my co-workers case 
					monologue), and even the word "like" as I have used it in 
					this post is um like well just another filler word.  
					Anyways, I think you get the idea.
    <br/>
    ...
    <br/>
    My question is, what are some filler signs (with the English 
					gloss if you wouldn't mind) that are used in ASL.  I 
					recently read about a sign for "UM" than uses an 8 hand on 
					the chin somewhat like the "Light" sign... but I don't know 
					how common that usage actual is in the real world.
    <br/>
    <br/>
    Thank you,
    <br/>
    Chad A. Fisher
   </font>
  </blockquote>
 </div>
 <p style="margin-top: 0; margin-bottom: 0">
  <p style="margin-top: 0; margin-bottom: 0">
   Hello Chad,
   <br/>
   Yes, certainly ASL has filler signs.
   <br/>
   I personally don't think that "8"-on-the-chin version of "UM" will 
			gain any substantial traction in the Deaf Community. To me it just 
			seems very awkward and unnatural.
   <br/>
   I'll post a video below of myself doing some "filler" signs.
   <br/>
   Cordially,
   <br/>
   Dr. Bill
   <br/>
   <hr align="left" color="#000000" size="1" width="50%"/>
   <p style="margin-top: 0; margin-bottom: 0">
    <br/>
    Loosely translated:
    <br/>
    "Ah, give me a moment, um, trying to think of it, there was 
			something -- its on the tip of my brain,  oh-I-see, yes, that's 
			it!"
    <br/>
    xxx
    <br/>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
    <p align="center" style="margin-top: 0; margin-bottom: 0">
     <font face="Arial" size="1">
      You can learn
      <a href="http://lifeprint.com">
       American Sign Language (ASL)
      </a>
      online at American Sign Language University ™
      <br/>
      <a href="http://asl.ms" style="text-decoration: none">
       ASL
      </a>
      resources by Lifeprint.com  ©  Dr. William Vicars
     </font>
    </p>
   </font>
  </p>
 </p>
</blockquote>
