<blockquote>
 <p align="right" style="margin-top: 0; margin-bottom: 0">
  <font color="#330066" face="Arial" size="2">
   <a href="../../../index.htm" style="text-decoration: none" target="_top" title="American Sign Language (ASL)">
    ASL University ►
   </a>
  </font>
 </p>
 <hr color="#000000" size="6" style="border-style: ridge; border-width: 2; padding-left: 0; padding-right: 0; padding-top: 1; padding-bottom: 1"/>
 <table border="0" id="table1" width="100%">
  <tr>
   <th align="left" valign="top">
    <h2 style="margin-top: 0; margin-bottom: 0">
     <span style="font-weight: 400">
      <font face="Arial">
       American Sign Language:  "FIRE-flame" 
vs "FIRE-terminate"  (see below)
      </font>
     </span>
    </h2>
    <blockquote>
     <font face="Arial">
      <hr align="left" color="#000000" size="1"/>
     </font>
     <p style="margin-top: 0; margin-bottom: 0">
      <span style="font-weight: 400">
       <br/>
       First of all, 
what do you mean?  Do you mean "fire" as in "lose your job"? 
Or do you
mean fire as in "liar, liar, pants on
       <i>
        fire
       </i>
       "?
      </span>
     </p>
     <p style="margin-top: 0; margin-bottom: 0">
      <span style="font-weight: 400">
       <br/>
       If you mean "fired" as in "
      </span>
      lose your job
      <span style="font-weight: 400">
       " the 
do the "terminate from employment" sign.
       <br/>
      </span>
      <br/>
      <font face="Arial">
       <span style="font-weight: 400">
        FIRE-terminate:
       </span>
      </font>
      <br/>
      <img border="0" src="/images/fire-terminate-2.gif" style="max-width: 100%; height: auto" width="480"/>
     </p>
     <p style="margin-top: 0; margin-bottom: 0">
      <img border="0" height="222" src="/images/firefromjoba1.jpg" width="223"/>
      <img border="0" height="222" src="/images/firefromjoba2.jpg" width="223"/>
      <img border="0" height="222" src="/images/firefromjoba3.jpg" width="223"/>
      <br/>
      <br/>
      <font face="Arial">
       <span style="font-weight: 400">
        Memory Aid:  It is not hard to imagine that this sign is based on the idea 
of grabbing someone's
neck and chopping off their head.  (Hey, I didn't come up with this sign, 
I'm just showing it to you!)
        <br/>
       </span>
      </font>
     </p>
     <font face="Arial">
      <hr align="left" color="#000000" size="1"/>
     </font>
     <p style="margin-top: 0; margin-bottom: 0">
      <font face="Arial">
       <span style="font-weight: 400">
        Note: You might also see the above sign done with an "E" handshape (palm up) on 
the dominant hand to mean "
        <i>
         excommunicate
        </i>
        ."
       </span>
      </font>
     </p>
     <hr align="left" color="#000000" size="1"/>
     <p style="margin-top: 0; margin-bottom: 0">
      <span style="font-weight: 400">
       <br/>
      </span>
      <font face="Arial">
       <span style="font-weight: 400">
        Another version of "fire" as in "lose job"
       </span>
      </font>
      <span style="font-weight: 400">
       uses an index finger on the non-dominant hand (instead of a fist).
       <br/>
       <br/>
      </span>
      <font face="Arial">
       <span style="font-weight: 400">
        FIRE-terminate 
(version 2)
       </span>
      </font>
      <br/>
      <img border="0" src="/images/fire-terminante-1.gif" style="max-width: 100%; height: auto" width="480"/>
     </p>
     <p style="margin-top: 0; margin-bottom: 0">
      <img border="0" height="229" src="/images/fireemploymentb1.jpg" width="203"/>
      <img border="0" height="229" src="/images/fireemploymentb2.jpg" width="203"/>
      <img border="0" height="229" src="/images/fireemploymentb3.jpg" width="203"/>
      <br/>
     </p>
     <hr align="left" color="#000000" size="1"/>
     <p style="margin-top: 0; margin-bottom: 0">
      <span style="font-weight: 400">
       <br/>
       This is an "initialized version" that uses the letter "F."  While I don't 
recommend using it, you just might see this version from time to time.
       <br/>
       <br/>
      </span>
      <span style="font-weight: 400">
       <font face="Arial">
        FIRE-terminate (version) (
       </font>
      </span>
      not
      <span style="font-weight: 400">
       recommended)
      </span>
     </p>
    </blockquote>
   </th>
  </tr>
 </table>
</blockquote>