<blockquote>
 <font face="Arial">
  <hr align="left" color="#000000" size="1"/>
  <p>
   The sign for "fox" uses an "F" hand to show the nose of a fox.  Hold an "F" 
  hand in front of your nose.  Twist your hand twice.
   <br/>
   Your hand doesn't need to touch your nose but it can. No big 
  deal either way. (Unless you have a cold and plan on shaking my hand.)
   <br/>
  </p>
  <p>
   FOX:
  </p>
  <p>
   <img border="0" height="320" src="/images/fox.gif" width="302"/>
   <br/>
   <img border="0" height="227" src="/images/fox.ht8.jpg" width="214"/>
   <img border="0" height="227" src="/images/fox.ht9.jpg" width="214"/>
   <img border="0" height="227" src="/images/fox.ht8.jpg" width="214"/>
   <img border="0" height="227" src="/images/fox.ht9.jpg" width="214"/>
  </p>
  <p>
   <br/>
  </p>
  <hr align="left" color="#000000" size="1" width="50%"/>
  <p>
   Also see:
   <a href="../r/rabbit.htm">
    RABBIT
   </a>
  </p>
  <p>
   Also see:
   <a href="../d/deer.htm">
    DEER
   </a>
  </p>
  <p>
   Also see:
   <a href="../b/bear.htm">
    BEAR
   </a>
  </p>
  <hr align="left" color="#000000" size="1"/>
  <p align="center" style="margin-top: 0; margin-bottom: 0">
   <font face="Arial" size="1">
    You can learn American
    <a href="http://www.lifeprint.com" style="text-decoration: none">
     Sign 
		Language
    </a>
    (ASL) online at American Sign Language University ™
    <br/>
    <a href="http://asl.ms" style="text-decoration: none">
     ASL
    </a>
    resources 
		by Lifeprint.com  ©  Dr. William Vicars
   </font>
  </p>
 </font>
</blockquote>
