<blockquote>
 <hr align="left" color="#000000" size="1"/>
 <p style="margin-top: 0; margin-bottom: 0">
  The sign for "freeze" shows your fingers curl up from the "freezing temperature."
  <br/>
  <p>
   FREEZE:
   <br/>
   <br/>
   <img border="0" src="/images/freeze.gif" style="max-width: 100%; height: auto" width="480"/>
  </p>
  <p>
   <img border="0" height="236" src="/images/freeze1.jpg" width="265"/>
   <img border="0" height="236" src="/images/freeze2.jpg" width="265"/>
   <font face="Arial">
    <br/>
   </font>
  </p>
  <p>
   <font face="Arial">
    Sample sentence:
	"Do you think it will freeze tonight?"
    <br/>
    <br/>
   </font>
   <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/U10Opi9Sb9s?rel=0" width="560">
   </iframe>
  </p>
  <font face="Arial">
   <hr align="left" color="#000000" size="1"/>
  </font>
  <p>
   An interesting version on this sign is to sign "brain" plus "freeze." Which 
	means to be in a state of mental shock. To be flabbergasted.
   <br/>
   <br/>
   <font face="Arial">
    BRAIN-FREEZE:
    <br/>
   </font>
   <img border="0" height="238" src="/images/shocked1.jpg" width="303"/>
   <img border="0" height="238" src="/images/shocked2.jpg" width="303"/>
   <img border="0" height="238" src="/images/shocked3.jpg" width="303"/>
   <img border="0" height="238" src="/images/shocked4.jpg" width="303"/>
  </p>
  <font face="Arial">
   <hr align="left" color="#000000" size="1"/>
  </font>
 </p>
</blockquote>
