<blockquote>
 <font face="Arial">
  <hr align="left" color="#000000" size="1"/>
  <p>
   To do the sign for "frog," hold an "S"-hand (or a modified "S" hand) below your chin.  Flick the index 
  and middle fingers into a "V" hand.  Repeat.
   <br/>
   <br/>
   FROG:
  </p>
  <p>
   <img border="0" height="232" src="/images/frog.h8.jpg" width="258"/>
   <img border="0" height="232" src="/images/frog.h9.jpg" width="258"/>
   <img border="0" height="232" src="/images/frog.h10.jpg" width="258"/>
   <img border="0" height="232" src="/images/frog.h8.jpg" width="258"/>
   <img border="0" height="232" src="/images/frog.h9.jpg" width="258"/>
   <img border="0" height="232" src="/images/frog.h10.jpg" width="258"/>
  </p>
  <p>
   The hand looks like this
  </p>
  <p>
   <img border="0" height="147" src="/images/frog.h11.jpg" width="202"/>
   <img border="0" height="147" src="/images/frog.h12.jpg" width="202"/>
  </p>
  <p>
   <br/>
  </p>
  <hr align="left" color="#000000" size="1" width="50%"/>
  <p>
  </p>
  <hr align="left" color="#000000" size="1"/>
  <p align="center" style="margin-top: 0; margin-bottom: 0">
   <font face="Arial" size="1">
    You can learn American
    <a href="http://www.lifeprint.com" style="text-decoration: none">
     Sign 
		Language
    </a>
    (ASL) online at American Sign Language University ™
    <br/>
    <a href="http://asl.ms" style="text-decoration: none">
     ASL
    </a>
    resources 
		by Lifeprint.com  ©  Dr. William Vicars
   </font>
  </p>
 </font>
</blockquote>
