<blockquote>
 <hr align="left" color="#000000" size="1"/>
 <p style="margin-top: 0; margin-bottom: 0">
  <br/>
  To do the sign for "frustrated" smack the back of your hand into 
	your face.
  <font face="Arial">
   Do it twice.
  </font>
  <p>
   Tip:  Don't hurt yourself.  (Yes, you're 
	welcome for that
   <i>
    outstanding
   </i>
   bit of advice. No, that's alright -- no need to
   <font face="Arial">
    send money
   </font>
  </p>
 </p>
</blockquote>