<blockquote>
 <p>
  <font face="Arial">
   <br/>
   The sign for "full" depends on your meaning.
  </font>
 </p>
 <hr align="left" color="#000000" size="1" width="50%"/>
 <p style="margin-top: 0; margin-bottom: 0">
  FULL:
  <br/>
  <font size="+1">
   T
  </font>
  he general sign for "full" is made by extending the 
	left closed hand.  Open your right hand and move it over the top of 
	your left fist.
  <p align="left">
   <img border="0" src="/images/full-fill.gif" style="max-width: 100%; height: auto" width="480"/>
   <p align="left">
    <font face="Arial">
     <img height="95" src="/images/full.gif" width="218"/>
    </font>
    <br/>
    <img border="0" height="208" src="/images/full1.jpg" width="210"/>
    <img border="0" height="208" src="/images/full2.jpg" width="210"/>
    <img border="0" height="208" src="/images/full3.jpg" width="210"/>
    <font face="Arial">
     <br/>
     <hr align="left" color="#000000" size="1" width="50%"/>
     <font face="Arial">
      Note: if you reverse the motion and you move your hand forward (instead of 
	backward) instead of meaning "full" the meaning changes to "enough."
     </font>
     <hr align="left" color="#000000" size="1" width="50%"/>
     See:
     <font face="Arial">
      <a href="../e/enough.htm">
       ENOUGH
      </a>
     </font>
     <hr align="left" color="#000000" size="1" width="50%"/>
     <hr align="left" color="#000000" size="1"/>
     <p>
      FULL-of-food / "stuffed"
     </p>
     <p>
      <img border="0" src="/images/full-stuffed.gif" style="max-width: 100%; height: auto" width="480"/>
      <img border="0" height="220" src="/images/full-food1.jpg" width="228"/>
      <img border="0" height="220" src="/images/full-food2.jpg" width="228"/>
      <img border="0" height="220" src="/images/full-food3.jpg" width="228"/>
     </p>
     <hr align="left" color="#000000" size="1"/>
     <p style="margin-top: 0; margin-bottom: 0">
      FULL-fed-up:
     </p>
     <p style="margin-top: 0; margin-bottom: 0">
      "I'm
      <font size="5">
       fed up
      </font>
      with it!"
      <br/>
      "I've had it up to here with you!"
      <br/>
      <br/>
      <img border="0" height="220" src="/images/full-fedup1.jpg" width="228"/>
      <img border="0" height="220" src="/images/full-fedup2.jpg" width="228"/>
      <img border="0" height="220" src="/images/full-fedup3.jpg" width="228"/>
     </p>
     <p style="margin-top: 0; margin-bottom: 0">
     </p>
    </font>
   </p>
  </p>
 </p>
</blockquote>
