<blockquote>
 <hr align="left" color="#000000" size="1"/>
 <p style="margin-top: 0; margin-bottom: 0">
  Note:  Gallaudet
  <i>
   University
  </i>
  is a “Deaf” university in the northeast area of Washington D.C.  
It was named after
  <i>
   Thomas Hopkins Gallaudet
  </i>
  .
  <font face="Arial">
   <hr align="left" color="#000000" size="1"/>
  </font>
  <p>
   The sign for Gallaudet (both the University and the man) is the same as one 
of the versions of the sign for
"GLASSES."  Use a single motion. Start at the side of the eye 
with a "wide G handshape" and pull the hand backward about two inches into a 
"closed G handshape."
   <br/>
   <br/>
   <img border="0" height="225" src="/images/glasses3.jpg" width="203"/>
   <img border="0" height="225" src="/images/glasses4.jpg" width="203"/>
  </p>
  <p>
   <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/Z7mTRgU_Xqs?rel=0" width="560">
   </iframe>
  </p>
  <hr align="left" color="#000000" size="1" width="50%"/>
 </p>
</blockquote>