<blockquote>
 <h2 style="margin-top: 0; margin-bottom: 0">
  <span style="font-weight: 400">
   <font face="Arial">
    American Sign Language:  "gender"
   </font>
  </span>
 </h2>
 <blockquote>
  <hr align="left" color="#000000" size="1" width="50%"/>
  <span style="font-weight: 400">
   <font face="Arial">
    <p style="margin-top: 0; margin-bottom: 0">
     GENDER:
     <br/>
     Every once in a while someone asks me "How do you sign, 'gender?'"
     <br/>
     That is a tricky question because even though I know of "a" sign for "gender" 
that doesn't mean it is "
     <i>
      the
     </i>
     " sign for gender or that you should use ANY 
specific sign for "gender." Just because I use a particular sign myself and have 
seen a
     <i>
      number of other people
     </i>
     use it doesn't mean I should canonize* that 
sign in a dictionary.  Putting a sign in a dictionary such as this one 
tends to lend legitimacy to the sign and cause viewers to think that this is THE 
sign. That isn't the case with the sign "gender." Realistically there is no 
widely established sign for "gender" and many people would just "spell it" or 
use a combination of
     <a href="../m/male.htm" style="text-decoration: none">
      MALE
     </a>
     and
     <a href="../f/female.htm" style="text-decoration: none">
      FEMALE
     </a>
     .  But since I have seen this sign "out 
there" on occasion, I'll share it with you here in case you are an interpreter 
and need it for a biology class or something.
     <br/>
     <br/>
     <object classid="CLSID:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=8,0,0,0" height="355" id="FVS" width="320">
      <param name="movie" value="gender_player.swf?303054399"/>
      <param name="bgcolor" value="#ffffff"/>
      <param name="allowfullscreen" value="true"/>
      <embed allowfullscreen="true" bgcolor="#ffffff" height="355" name="FVS" pluginspage='http://www.macromedia.com/go/getflashplayer"' src="gender_player.swf?303054399" type="application/x-shockwave-flash" width="320"/>
     </object>
     <img border="0" height="320" src="/images/gender11.jpg" width="319"/>
     <img border="0" height="320" src="/images/gender12.jpg" width="319"/>
     <br/>
     An interesting note regarding this sign, is that the "X" handshape is likely due 
to the concept of the "X" chromosome as in "X" and "Y" chromosomes determining 
the gender of a baby.  The locations on the head are perhaps remnant of the 
concepts "cap" (as in a hat - traditionally worn by boys) and a bonnet (tied at 
the chin and traditionally worn by girls).
     <br/>
    </p>
    <hr align="left" color="#000000" size="1" width="50%"/>
    <hr align="left" color="#000000" size="1" width="50%"/>
    <p style="margin-top: 0; margin-bottom: 0">
     <br/>
     GENDER (version)  = MALE "or"-(bodyshift) FEMALE
     <br/>
     Note: In everyday use if I were expressing the concept of "gender" I would sign 
"MALE" OR-(bodyshift) FEMALE.
     <br/>
    </p>
    <p style="margin-top: 0; margin-bottom: 0">
     <img border="0" height="320" src="/images/gender13.jpg" width="317"/>
     <img border="0" height="320" src="/images/gender14.jpg" width="317"/>
    </p>
    <hr align="left" color="#000000" size="1" width="50%"/>
    <hr align="left" color="#000000" size="1" width="50%"/>
    <p style="margin-top: 0; margin-bottom: 0">
     Also see:
     <a href="../s/sex.htm" style="text-decoration: none">
      SEX
     </a>
    </p>
    <hr align="left" color="#000000" size="1" width="50%"/>
    <p style="margin-top: 0; margin-bottom: 0">
     Note: "canonize"
     <br/>
     For those of you who read the word "canonize" (above) and are still wondering 
what it means, (if you haven't already looked it up), here is the definition:
    </p>
    <p style="margin-top: 0; margin-bottom: 0">
     <font size="2">
      *
     </font>
     can·on·ize
     <font size="2">
      <br/>
      tr.v. can·on·ized, can·on·iz·ing, can·on·iz·es
      <br/>
      1. To declare (a deceased person) to be a saint and entitled to be fully honored 
as such.
      <br/>
      2. To include in the biblical canon.
      <br/>
      3. To include in a literary canon.
      <br/>
      4. To approve as being within canon law.
      <br/>
      5. To treat as sacred; glorify.
     </font>
     <br/>
     <font size="1">
      (source:  http://www.thefreedictionary.com/canonize)
     </font>
    </p>
    <hr align="left" color="#000000" size="1" width="50%"/>
   </font>
  </span>
 </blockquote>
 <font face="Arial">
  <hr align="left" color="#000000" size="1"/>
  <hr align="left" color="#000000" size="1"/>
  <p style="margin-top: 0; margin-bottom: 0">
   <br/>
   * 
Want to help support ASL University?  It's
   <i>
    easy
   </i>
   :
  </p>
 </font>
 <b>
  <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&amp;hosted_button_id=XHRNABERKJT4N" rel="nofollow" style="text-decoration: none" target="_blank">
   <u>
    DONATE
   </u>
  </a>
 </b>
 <font size="2">
  (
  <i>
   Thanks!
  </i>
  )
 </font>
 <br/>
 <br/>
 <font face="Arial">
  *
 </font>
 Another way to help is to buy something from Dr. Bill's "
 <b>
  <a href="../../../bookstore/bookstore.htm" style="text-decoration: none">
   <u>
    Bookstore
   </u>
  </a>
 </b>
 ."
 <p style="margin-top: 0; margin-bottom: 0">
  <br/>
  <font face="Arial">
   *
  </font>
  Want even more ASL resources?  Visit the "
  <b>
   <a href="http://www.asl.tc/landing/index.html" rel="nofollow" style="text-decoration: none" target="_blank">
    ASL Training Center
   </a>
   !
  </b>
  "  (Subscription 
Extension of ASLU)
  <br/>
  <br/>
  *  Also check out Dr. Bill's channel:
  <a href="http://www.youtube.com/billvicars" style="text-decoration: none">
   www.youtube.com/billvicars
  </a>
  <font size="2">
   <br/>
  </font>
 </p>
 <hr align="left" color="#000000" size="1"/>
 <p align="center" style="margin-top: 0; margin-bottom: 0">
  <font size="1">
   You can learn
   <a href="http://lifeprint.com" style="text-decoration: none">
    American Sign Language (ASL)
   </a>
   online at American Sign Language University ™
   <br/>
   <a href="http://asl.ms" style="text-decoration: none">
    ASL
   </a>
   resources by Lifeprint.com  ©  Dr. William Vicars
  </font>
 </p>
 <hr color="#000000" size="1"/>
 <p>
 </p>
</blockquote>
