<blockquote>
 <font face="Arial">
  <hr align="left" color="#000000" size="1"/>
  <p>
   The sign for "Germany" has a couple of versions. They 
			are both worth knowing.
  </p>
  <p>
   <br/>
  </p>
  <hr align="left" color="#000000" size="1" width="50%"/>
  <p>
   <br/>
   In this first version of Germany you cross your hands (in "5-handshapes") 
	and then flutter the fingers.
   <br/>
   <br/>
   GERMAN / GERMANY (Version 1)
  </p>
  <p>
   <img border="0" height="239" src="/images/german8.jpg" width="212"/>
   <img border="0" height="133" src="/images/german.gif" width="128"/>
  </p>
  <p>
  </p>
  <hr align="left" color="#000000" size="1"/>
  <p>
   <br/>
   There is another way to sign "Germany." This other way is based on the old 
	German military helmet with the pointy emblem on the top.
   <br/>
   <br/>
   This is a "real" sign, (I'm not making this up). I personally recommend you 
	stick with the version above, but some people prefer the "pointy helmet" 
	version.
   <br/>
   <br/>
   Tap the large knuckle of your right "index finger" on your upper forehead 
  twice.
   <br/>
   Note: That is an index finger NOT and "L" hand.  Tuck the thumb in.
   <br/>
   <br/>
   Germany / German: (Version 2)
  </p>
  <p>
   <img border="0" height="221" src="/images/german4.jpg" width="228"/>
   <img border="0" height="221" src="/images/german5.jpg" width="228"/>
   <img border="0" height="221" src="/images/german6.jpg" width="228"/>
   <img border="0" height="221" src="/images/german7.jpg" width="228"/>
  </p>
  <p>
  </p>
  <hr align="left" color="#000000" size="1"/>
  <p align="center" style="margin-top: 0; margin-bottom: 0">
   <font face="Arial" size="1">
    You can learn American
    <a href="http://www.lifeprint.com" style="text-decoration: none">
     Sign 
		Language
    </a>
    (ASL) online at American Sign Language University ™
    <br/>
    <a href="http://asl.ms" style="text-decoration: none">
     ASL
    </a>
    resources 
		by Lifeprint.com  ©  Dr. William Vicars
   </font>
  </p>
 </font>
</blockquote>
