<blockquote>
 <hr align="left" color="#000000" size="1" width="50%"/>
 <span style="font-weight: 400">
  <font face="Arial">
   <p style="margin-top: 0; margin-bottom: 0">
    GET-ALONG:
    <br/>
    "Get along" /
    <a href="../p/proceed.htm">
     PROCEED
    </a>
    / "Go ahead" / "Get on with it." 
  The bent hands move straight forward.
    <br/>
    <img border="0" height="228" src="/images/procee14.jpg" width="231"/>
    <img border="0" height="228" src="/images/procee15.jpg" width="231"/>
   </p>
  </font>
 </span>
</blockquote>
