<blockquote>
 <font face="Arial">
  <hr align="left" color="#000000" size="1"/>
  <p>
   The sign for "giraffe" uses a "G" hand starting at your neck.  Raise your hand up over your head 
  to represent the long neck of a giraffe.
   <br/>
   <br/>
   GIRAFFE:
   <br/>
   <img border="0" height="225" src="/images/giraff4.jpg" width="243"/>
   <img border="0" height="225" src="/images/giraff5.jpg" width="243"/>
   <img border="0" height="225" src="/images/giraff6.jpg" width="243"/>
   <img border="0" height="225" src="/images/giraff7.jpg" width="243"/>
  </p>
  <p>
  </p>
  <hr align="left" color="#000000" size="1"/>
  <p align="center" style="margin-top: 0; margin-bottom: 0">
   <font face="Arial" size="1">
    You can learn American
    <a href="http://www.lifeprint.com" style="text-decoration: none">
     Sign 
		Language
    </a>
    (ASL) online at American Sign Language University ™
    <br/>
    <a href="http://asl.ms" style="text-decoration: none">
     ASL
    </a>
    resources 
		by Lifeprint.com  ©  Dr. William Vicars
   </font>
  </p>
 </font>
</blockquote>
