<blockquote>
 <hr align="left" color="#000000" size="1"/>
 <p>
  The "GONE" sign can also mean "absent" as in "She is absent from class 
	today." The non-dominant hand starts as a "C" and closes into a 
	flattened "O" handshape as the dominant hand moves downward while changing 
	from a loose 5-handshape into a flattened "O" handshape.
  <br/>
  <br/>
  GONE / ABSENT:
 </p>
 <p>
  <img border="0" height="222" src="/images/gone.h46.jpg" width="201"/>
  <img border="0" height="222" src="/images/gone.h47.jpg" width="201"/>
  <img border="0" height="222" src="/images/gone.h48.jpg" width="201"/>
  <img border="0" height="222" src="/images/gone.h49.jpg" width="201"/>
 </p>
 <font face="Arial">
  <hr align="left" color="#000000" size="1"/>
 </font>
 <p>
  DEPLETE / RUN-OUT-OF:
  <br/>
  <br/>
  <img border="0" height="220" src="/images/gone.h41.jpg" width="223"/>
  <img border="0" height="220" src="/images/gone.h42.jpg" width="223"/>
  <img border="0" height="220" src="/images/gone.h43.jpg" width="223"/>
  <img border="0" height="220" src="/images/gone.h44.jpg" width="223"/>
  <img border="0" height="220" src="/images/gone.h45.jpg" width="223"/>
 </p>
 <font face="Arial">
  <hr align="left" color="#000000" size="1"/>
 </font>
 <a href="/images/deplete.gif">
  Animation (DEPLETE)
 </a>
 <font face="Arial">
  <hr align="left" color="#000000" size="1"/>
  <p>
  </p>
  <p>
   Notes:
   <br/>
   There are those who will tell you that if someone dies you "should" 
			sign "
   <a href="../d/dead.htm">
    DEAD
   </a>
   ." That however ignores the 
			fact that many, many Deaf sign things like: "YEAR-past MY MOM GONE" 
			to mean "I lost my mom last year."
   <br/>
   <br/>
   English uses euphemisms.
   <br/>
   ASL uses euphemisms.
   <br/>
   <br/>
   English speakers generally do not run around telling other English 
			speakers "No, you can't say you lost your mom last year. You have to 
			say 'Last year my mom died!'"
   <br/>
   <br/>
   Equal rights for ASL signers: We have the right to use euphemisms.
   <br/>
   <br/>
   The GONE sign is an "acceptable" euphemism for DEAD in ASL.
   <br/>
   <br/>
   However the sign "LOST / lose / unknown whereabouts" -- is
   <span style="background-color: #FFFF00">
    <b>
     not
    </b>
   </span>
   an ASL 
			euphemism for DEAD.
   <br/>
   GONE yes. (Can in context mean "dead.")
   <br/>
   LOST no. (Would seem odd or inappropriate if used to mean "dead.")
   <br/>
  </p>
  <p>
  </p>
  <p>
  </p>
  <p>
  </p>
  <p align="center" style="margin-top: 0; margin-bottom: 0">
   <font face="Arial" size="1">
    You can learn
    <a href="http://lifeprint.com" style="text-decoration: none">
     American Sign Language (ASL)
    </a>
    online at American Sign Language University ™
    <br/>
    <a href="http://asl.ms" style="text-decoration: none">
     ASL
    </a>
    resources by Lifeprint.com  ©  Dr. William Vicars
   </font>
  </p>
 </font>
</blockquote>
