<blockquote>
 <hr align="left" color="#000000" size="1"/>
 <br/>
 GOODBYE:
 <font color="#000000" face="Arial" id="role_document0" size="2">
  <div>
   <div>
    <object classid="CLSID:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=8,0,0,0" height="395" id="FVS" width="480">
     <param name="movie" value="goodbye_player.swf?73567570"/>
     <param name="bgcolor" value="#ffffff"/>
     <param name="allowfullscreen" value="true"/>
     <embed allowfullscreen="true" bgcolor="#ffffff" height="395" name="FVS" pluginspage='http://www.macromedia.com/go/getflashplayer"' src="goodbye_player.swf?73567570" type="application/x-shockwave-flash" width="480"/>
    </object>
    <br/>
    <font face="Arial">
     <hr align="left" color="#000000" size="1"/>
    </font>
    <p>
     In a message dated 9/28/2005 10:31:55 A.M. Pacific Daylight Time, 
			piercedtaco@.com writes:
    </p>
   </div>
   <blockquote style="border-left: 2px solid blue; margin-left: 5px; padding-left: 5px">
    <font color="#000000" face="Arial" size="2" style="background-color: transparent">
     <div>
      I was looking thru your dictionary and couldn't find the signs 
				for hello and goodbye. I'm sure they are universal like just 
				waving your hand or something. I have been using your dictionary 
				to teach my deaf dog signs so we can communicate. I don't know 
				what to do when I tell her goodbye so I just tell her good girl 
				then leave. Is goodbye and hello just as simple as the "quiet" 
				sign?
     </div>
     <div>
      Thanks,
     </div>
     <div>
      -
				Amy
     </div>
    </font>
   </blockquote>
  </div>
  <div>
   Amy,
  </div>
  <div>
   That is right.  Just use the same signs that you would in the "hearing 
		world." While there is no one specific type of "wave," in general you 
		wave hello with a side to side movement.  Wave good bye with a bending 
		of the large knuckles or at the wrist.
  </div>
  <div>
   - Dr.
		Bill
  </div>
 </font>
 <p style="margin-top: 0; margin-bottom: 0">
  <br/>
 </p>
 <font face="Arial">
  <hr align="left" color="#000000" size="1"/>
  <p align="center" style="margin-top: 0; margin-bottom: 0">
   <font face="Arial" size="1">
    You can learn
    <a href="http://lifeprint.com" style="text-decoration: none">
     American Sign Language (ASL)
    </a>
    online at American Sign Language University ™
    <br/>
    <a href="http://asl.ms" style="text-decoration: none">
     ASL
    </a>
    resources by Lifeprint.com  ©  Dr. William Vicars
   </font>
  </p>
 </font>
</blockquote>
