<blockquote>
 <font face="Arial">
  <hr align="left" color="#000000" size="1"/>
  <p>
   To do the sign for "gorilla" pound your chest a few times.
   <br/>
   I recommend you practice this sign while 
  grocery shopping in the produce section. (In front of the bananas.)
   <br/>
   <br/>
   GORILLA / APE:
  </p>
  <p>
   <img border="0" height="238" src="/images/gorill1.jpg" width="315"/>
   <img border="0" height="238" src="/images/gorill2.jpg" width="315"/>
   <img border="0" height="238" src="/images/gorill3.jpg" width="315"/>
   <img border="0" height="238" src="/images/gorill2.jpg" width="315"/>
   <img border="0" height="238" src="/images/gorill3.jpg" width="315"/>
   <br/>
  </p>
  <hr align="left" color="#000000" size="1"/>
  <p>
   Also see:
   <a href="../m/monkey.htm">
    MONKEY
   </a>
   <br/>
   Also see:
   <a href="../a/ape.htm">
    APE
   </a>
  </p>
  <hr align="left" color="#000000" size="1"/>
  <p align="center" style="margin-top: 0; margin-bottom: 0">
   <font face="Arial" size="1">
    You can learn American
    <a href="http://www.lifeprint.com" style="text-decoration: none">
     Sign 
		Language
    </a>
    (ASL) online at American Sign Language University ™
    <br/>
    <a href="http://asl.ms" style="text-decoration: none">
     ASL
    </a>
    resources 
		by Lifeprint.com  ©  Dr. William Vicars
   </font>
  </p>
 </font>
</blockquote>
