<blockquote>
 <hr align="left" color="#000000" size="1"/>
 <br/>
 In a message dated 4/12/2012 12:46:12 P.M. Pacific Daylight 
			Time, a student named Ty writes:
 <br/>
 <br/>
 Dr. Bill,
 <br/>
 I noticed your religion site has no sign for grace or (God's) mercy. 
			There are 2 sites with 2 different answers. Signing Savvy uses 2 
			hands. Deaf .Nation uses one, which is http://www.deafmissions.com/?PageID=18&amp;SubpageID=30. 
			Who is right?
 <br/>
 Thanks.
 <br/>
 Ty
 <br/>
 <br/>
 Dear Ty,
 <br/>
 The "right" sign for "GRACE" is going to depend on what is mostly 
			used
 <i>
  in your area
 </i>
 by local native Deaf church-going adults.
 <br/>
 I personally recommend you do the sign GRACE using only one hand 
			(unless you are performing a song in which the concept is used 
			repeatedly and you wish to vary the presentation of the sign for 
			poetic purposes).
 <br/>
 The version I recommend looks somewhat like the sign for SUN (below) 
			but comes down toward the head as if representing Gods grace 
			showering down upon you and/or the Light of God shining down upon 
			you.
 <br/>
 - Dr. Bill
 <br/>
 <br/>
 SUN [version]
 <br/>
 <font face="Arial">
  <img border="0" height="207" src="/images/sun.ht1.jpg" width="247"/>
  <img border="0" height="207" src="/images/sun-sunlight7.jpg" width="247"/>
  <img border="0" height="207" src="/images/sun-sunlight9.jpg" width="247"/>
  <br/>
  For other versions of the sign for SUN, see:
  <a href="../s/sun.htm">
   SUN
  </a>
 </font>
 <br/>
 <hr/>
 <p class="MsoNormal">
 </p>
 <p class="MsoNormal">
  Seakats99 writes:
  <br/>
 </p>
 <p class="MsoNormal">
  Hi Dr. Bill!
 </p>
 <p class="MsoNormal">
  I have some confusion over the word "grace".  I 
			typically use the "g" sign from over my shoulder to my chest, but my 
			Deaf friend says something different.  I am teaching how to sign 
			songs to my music and drama teens at my church.  My Deaf friend 
			insists that the correct sign, in regards to our Christian faith, is 
			both i-l-y hands (facing the body) coming towards you.  Is this an 
			old sign?  I'm not going to teach the kids the wrong sign; I only 
			speak pidgen and not asl, so I want to make sure that if they decide 
			to learn actual asl, they haven't picked up any habits/wrong words 
			along the way.  What do you know about it?  Thanks!
 </p>
 <p class="MsoNormal">
  <span style="font-size: 12.0pt; font-family: Arial">
   Katy 
			Turkell
  </span>
 </p>
 <p>
 </p>
 <font face="Arial">
  <hr align="left" color="#000000" size="1" width="25%"/>
  <p class="MsoNormal">
  </p>
  <p class="MsoNormal">
   Katy,
   <br/>
   Yes, I've seen that initialized "G" handshape version of GRACE 
			before. I suppose if that is what the local Deaf in your area are 
			using then you would do well to use their version.
   <br/>
   For what it is worth, the standard GRACE sign is based on one of 
			three concepts:
  </p>
  <p class="MsoNormal">
   1. SUNLIGHT and/or SHOWER
  </p>
  <p class="MsoNormal">
   2. KIND/kindness/grace
  </p>
  <p class="MsoNormal">
   3. PITY/compassion/grace
   <br/>
   In all cases the sign GRACE is done very gently and respectfully.
   <br/>
   <br/>
   The movement of the LY-toward-self version you mentioned is likely 
			based on the SHOWER version of GRACE.
  </p>
  <p class="MsoNormal">
   I can see a historical basis for the SHOWER or 
			SUNLIGHT version in Martin Sternberg's classic ASL dictionary in 
			which he shows GRACE as being:
  </p>
  <p class="MsoNormal">
   1. LIGHT-onto-head (using the classic beam of 
			light sign and bringing it to the head).
  </p>
  <p class="MsoNormal">
   2. HELP-[large-movement]
   <br/>
   I do not see the "HELP" sign used as a direct translation of GRACE 
			but rather if someone were interpreting the statement "By the grace 
			of God..." then using the sign HELP would make a lot of sense.
  </p>
  <p class="MsoNormal">
   The ILY-grace version you mention has a bit of 
			sophomoric charm (it is "cute") and could very well be a regional 
			variation -- so I'd hesitate to say it is "wrong."  I would though 
			say it is non-standard (as of this time) on a national level. 
			However, these days (with the internet and streaming video) "new" 
			signs can saturate the community and gain a foothold fairly 
			quickly.  My opinion is that the ILY-grace sign will not become the 
			predominant version of GRACE any time soon (if ever). I'm going to 
			cc this to a friend of mine who is quite familiar with religion 
			signs to see if she what she thinks.
  </p>
  <p class="MsoNormal">
   Cordially,
  </p>
  <p class="MsoNormal">
   - Bill
  </p>
 </font>
 <br/>
 <font face="Arial">
  <hr align="left" color="#000000" size="1" width="25%"/>
  <p class="MsoNormal">
  </p>
  <p class="MsoNormal">
   May 1, 2014, Dr. Lisalee Egbert from Sacramento 
			State writes:
  </p>
  <p class="MsoNormal">
   <br/>
   Hello Katy,
  </p>
  <p class="MsoNormal">
   <br/>
   I have a passion for studying religious and ecumenical signs in ASL.
  </p>
  <p class="MsoNormal">
  </p>
  <p class="MsoNormal">
   I agree with Dr. Vicars – depending on the 
			MEANING of grace it would be signed as kindness, big hearted, etc. 
			In the JW bible, I even saw it translated as “cool.”  Meaning  WITH 
			FAVOR I believe.  LDS has used: SAVE GIVE-OUT and GOOD PASS-FORWARD 
			for “grace."
  </p>
  <p class="MsoNormal">
  </p>
  <p class="MsoNormal">
   There is a sign for GRACE. The Catholic Deaf 
			Community still strongly uses the sign: on handed - light from God 
			(twisting your hand) twinkling down. (I am not as skilled as Dr. 
			Vicars in describing signs.) I have even seen this same sign down 
			double handed. It is very beautiful to me.  This the Holy Spirit 
			descending.
  </p>
  <p class="MsoNormal">
  </p>
  <p class="MsoNormal">
   I have see the G-hand shape for GRACE used from 
			hearing interpreter. I do not believe this is a largely accepted ASL 
			sign… it might have originate from SEE but it is not ASL and the 
			Deaf Church Community does not seem to use it.
  </p>
  <p class="MsoNormal">
  </p>
  <p class="MsoNormal">
   Many faith communities have wonderful websites 
			with ASL now: LDS, Catholic, JW, Hebrew, etc. It is fascinating to 
			me to compare and contrast the Hebrew signs with the Christian signs 
			– because again, it comes down to history and meaning. For example, 
			passover is signed very differently in the Jewish Faith compared to 
			the Catholic faith. I encourage you to investigate the more 
			established ASL religious websites; they all have a wealth of info!
  </p>
  <p class="MsoNormal">
  </p>
  <p class="MsoNormal">
   Hands waving (in and for A.S.L. :0) ~
  </p>
  <p class="MsoNormal">
   LLDE
  </p>
  <p class="MsoNormal">
  </p>
  <p class="MsoNormal">
   Dr. Lisalee D. Egbert
  </p>
  <p class="MsoNormal">
   California State University, Sacramento
  </p>
  <p class="MsoNormal">
   Deaf Studies Program
  </p>
  <p class="MsoNormal">
   6000 J Street, Sacramento, CA 95819-6079
  </p>
  <p class="MsoNormal">
  </p>
  <hr align="left" color="#000000" size="1" width="25%"/>
  <p class="MsoNormal">
   <br/>
   Thanks Dr. Egbert!
  </p>
  <p class="MsoNormal">
   The standard Catholic sign you mention (based 
			on "GOD's LIGHT" shining on us) is a classic and likely the most 
			defensible "standard." It is the first entry in Elaine Costello's 
			"Religious Signing" textbook.  Her second entry shows an initialized 
			"G" version coming down from God. (Which is considered by many to be 
			a Signed English version and not "ASL.") Her third related entry is 
			under the term GRACIOUS uses the same sign as KIND/kindness/grace.
  </p>
  <p class="MsoNormal">
   -- Bill
  </p>
  <p class="MsoNormal">
   <br/>
   p.s. Katy, for a very similar sign, see the first entry on my "sun.htm" 
			page at Lifeprint:
  </p>
  <p class="MsoNormal">
   <a href="../s/sun.htm">
    http://www.lifeprint.com/asl101/pages-signs/s/sun.htm
   </a>
  </p>
  <p class="MsoNormal">
   Some people modify the sign so that it comes 
			more down toward the head (rather than SUNLIGHT which comes down 
			onto the area in front of the signer) but some do GRACE the exact 
			same way as "SUN/SUNLIGHT."   Others "flutter" the fingers while 
			doing the downward movement (especially for poetry and/or stage 
			performance of hymns).  Fast interpreting will use much less 
			internal movement and a much smaller sign than performance signing.
  </p>
 </font>
 <p style="margin-top: 0; margin-bottom: 0">
  <br/>
 </p>
 <font face="Arial">
  <hr align="left" color="#000000" size="1"/>
  <p align="center" style="margin-top: 0; margin-bottom: 0">
   <font face="Arial" size="1">
    You can learn
    <a href="http://lifeprint.com" style="text-decoration: none">
     American Sign Language (ASL)
    </a>
    online at American Sign Language University ™
    <br/>
    <a href="http://asl.ms" style="text-decoration: none">
     ASL
    </a>
    resources by Lifeprint.com  ©  Dr. William Vicars
   </font>
  </p>
 </font>
</blockquote>
