<blockquote>
 <hr align="left" color="#000000" size="1"/>
 <br/>
 <font face="Arial">
  Drag the tips of the fingers of the dominant hand (in palm-forward 
			4-handshape) downward and then sideward in the air as if showing a 
			graph.
  <br/>
 </font>
 <br/>
 <font face="Arial">
  CHART or GRAPH:
 </font>
 <br/>
 <font face="Arial">
  <img border="0" height="320" src="/images/graph.1.jpg" width="272"/>
  <img border="0" height="320" src="/images/graph.2.jpg" width="272"/>
  <img border="0" height="320" src="/images/graph.3.jpg" width="272"/>
  <img border="0" height="320" src="/images/graph.4.jpg" width="272"/>
 </font>
 <p style="margin-top: 0; margin-bottom: 0">
  <hr align="left" color="#000000" size="1" width="50%"/>
  <p style="margin-top: 0; margin-bottom: 0">
   Also see:
   <a href="../s/schedule.htm">
    SCHEDULE
   </a>
  </p>
  <font face="Arial">
   <hr align="left" color="#000000" size="1"/>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
    <font face="Arial" size="1">
     You can learn
     <a href="http://lifeprint.com" style="text-decoration: none">
      American Sign Language (ASL)
     </a>
     online at American Sign Language University ™
     <br/>
     <a href="http://asl.ms" style="text-decoration: none">
      ASL
     </a>
     resources by Lifeprint.com  ©  Dr. William Vicars
    </font>
   </p>
  </font>
 </p>
</blockquote>
