<blockquote>
 <hr align="left" color="#000000" size="1" width="50%"/>
 <span style="font-weight: 400">
  <font face="Arial">
   <p style="margin-top: 0; margin-bottom: 0">
    GRAPES:
    <br/>
    <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/NZ68mfHiZa8" width="560">
    </iframe>
    <br/>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    The right hand makes contact, then 
lifts off and moves an inch or two then makes contact again.
    <br/>
    <img border="0" height="238" src="/images/grapes1.jpg" width="267"/>
    <img border="0" height="238" src="/images/grapes2.jpg" width="267"/>
    <img border="0" height="238" src="/images/grapes3.jpg" width="267"/>
    <br/>
   </p>
  </font>
  <font face="Arial">
   <hr align="left" color="#000000" size="1"/>
  </font>
  Notes: 
You may see GRAPES signed with three movements instead of two. In casual everyday signing, I see two movements being used more often than three. However, if you were to ask someone how to sign GRAPES, your are more likely to see three movements. Both versions are used and accepted.
 </span>
</blockquote>
