<blockquote>
 <font face="Arial">
  <hr align="left" color="#000000" size="1"/>
  <p>
  </p>
  <p>
   HANDS:
  </p>
  <p>
   This sign looks sort of as if you are cutting off your hands at the
  wrists.    Use the pinkie-edge of the right b hand to
  "slice off" the left hand.  Then use the left b-hand to slice
  off the right hand.  (I know that sounds gross, but at least you will
  remember the sign eh?)
   <br/>
   <br/>
   <img border="0" height="218" src="/images/hands1.jpg" width="205"/>
   <img border="0" height="218" src="/images/hands2.jpg" width="205"/>
   <img border="0" height="218" src="/images/hands3.jpg" width="205"/>
   <img border="0" height="218" src="/images/hands4.jpg" width="205"/>
   <img border="0" height="218" src="/images/hands5.jpg" width="205"/>
  </p>
  <p>
  </p>
  <hr align="left" color="#000000" size="1"/>
  <p align="center" style="margin-top: 0; margin-bottom: 0">
   <font face="Arial" size="1">
    You can learn 
		American
    <a href="http://www.lifeprint.com" style="text-decoration: none">
     Sign 
		Language
    </a>
    (ASL) online at American Sign Language University ™
    <br/>
    <a href="http://asl.ms" style="text-decoration: none">
     ASL
    </a>
    resources by Lifeprint.com  ©  Dr. William Vicars
   </font>
  </p>
 </font>
</blockquote>
