<blockquote>
 <hr align="left" color="#000000" size="1"/>
 <p>
  <br/>
  HAPPEN:  Hold "index fingers" out in front of you, palms up.  
  Then roll your hands over so they are both facing downward.
  <br/>
 </p>
 <p>
  <img border="0" height="223" src="/images/happen3.jpg" width="223"/>
  <img border="0" height="223" src="/images/happen4.jpg" width="223"/>
  <img border="0" height="223" src="/images/happen5.jpg" width="223"/>
 </p>
 <p style="margin-top: 0; margin-bottom: 0">
  <hr align="left" color="#000000" size="1" width="50%"/>
  <p style="margin-top: 0; margin-bottom: 0">
   Notes:
   <br/>
   <br/>
   Often this sign is used to mean the equivalent of the English 
			phrase, "and then..."
   <br/>
   Note: If you do this sign with a "WH-Q" (furrowed eyebrows) facial 
			expression, it can mean "What happened?!?"
   <br/>
   Also see: "
   <a href="../w/whats-up.htm">
    What's up?
   </a>
   "
   <br/>
   <br/>
   Further Reading:
   <br/>
   See
   <a href="../w/when2.htm">
    Advanced discussion contrasting the signs "WHEN" 
	and "HAPPEN"
   </a>
   (Useful but not needed for "Level-1" students.)
   <br/>
  </p>
  <font face="Arial">
   <hr align="left" color="#000000" size="1"/>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
    <font face="Arial" size="1">
     You can learn
     <a href="http://lifeprint.com" style="text-decoration: none">
      American Sign Language (ASL)
     </a>
     online at American Sign Language University ™
     <br/>
     <a href="http://asl.ms" style="text-decoration: none">
      ASL
     </a>
     resources by Lifeprint.com  ©  Dr. William Vicars
    </font>
   </p>
  </font>
 </p>
</blockquote>
