<blockquote>
 <hr align="left" color="#000000" size="1"/>
 <p style="margin-top: 0; margin-bottom: 0">
  The sign for "hard" uses "bent-V" hands.  The dominant 
	hand moves. The base hand does not move.  In the main version, both 
	hands are using "bent-V" hands.  There is another version in which the 
	base hand is a palm-down "S-hand."
  <br/>
  <br/>
  HARD:
  <p style="margin-top: 0; margin-bottom: 0">
   <img border="0" src="/images/hard.gif" style="max-width: 100%; height: auto" width="480"/>
  </p>
  <p style="margin-top: 0; margin-bottom: 0">
   <img border="0" height="236" src="/images/hard1.jpg" width="216"/>
   <img border="0" height="236" src="/images/hard2.jpg" width="216"/>
   <img border="0" height="236" src="/images/hard3.jpg" width="216"/>
   <br/>
  </p>
  <p style="margin-top: 0; margin-bottom: 0">
   Sample sentence: "Do you think this class is hard?"
   <br/>
   <br/>
   <object classid="CLSID:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=8,0,0,0" height="275" id="FVS" width="320">
    <param name="movie" value="../13/you-think-this-class-hard_player.swf?3222120051"/>
    <param name="bgcolor" value="#ffffff"/>
    <param name="allowfullscreen" value="true"/>
    <embed allowfullscreen="true" bgcolor="#ffffff" height="275" name="FVS" pluginspage='http://www.macromedia.com/go/getflashplayer"' src="../13/you-think-this-class-hard_player.swf?3222120051" type="application/x-shockwave-flash" width="320"/>
   </object>
   <br/>
  </p>
  <hr align="left" color="#000000" size="1"/>
  <p style="margin-top: 0; margin-bottom: 0">
   <br/>
   Here is an example of another non-dominant hand handshape that some people use with this
  sign. See how the left hand is in an "S" handshape?
   <br/>
   <br/>
   <img border="0" height="237" src="/images/hard-alternatehandshape1.jpg" width="230"/>
   <br/>
  </p>
  <hr align="left" color="#000000" size="1"/>
  <p style="margin-top: 0; margin-bottom: 0">
   <br/>
   "Really Hard"
   <br/>
   Use a larger motion and more facial expression than the normal sign for hard.
   <br/>
   <br/>
   <img border="0" height="240" src="/images/hard-reallyhard1.jpg" width="241"/>
   <img border="0" height="240" src="/images/hard-reallyhard2.jpg" width="241"/>
   <img border="0" height="240" src="/images/hard-reallyhard3.jpg" width="241"/>
   <img border="0" height="240" src="/images/hard-reallyhard4.jpg" width="241"/>
   <img border="0" height="240" src="/images/hard-reallyhard5.jpg" width="241"/>
  </p>
  <font face="Arial">
   <p style="margin-top: 0; margin-bottom: 0">
    <hr align="left" color="#000000" size="1"/>
    <p style="margin-top: 0; margin-bottom: 0">
     See:
     <a href="../t/tough.htm">
      TOUGH
     </a>
    </p>
    <hr align="left" color="#000000" size="1"/>
    <p style="margin-top: 0; margin-bottom: 0">
     See:
     <a href="../d/difficult.htm">
      DIFFICULT
     </a>
     <br/>
    </p>
    <hr align="left" color="#000000" size="1"/>
    <p style="margin-top: 0; margin-bottom: 0">
     See:
     <a href="../p/problem.htm">
      PROBLEM
     </a>
     <br/>
    </p>
    <hr align="left" color="#000000" size="1"/>
    <p style="margin-top: 0; margin-bottom: 0">
     See:
     <a href="../p/physics.htm">
      PHYSICS
     </a>
     <br/>
    </p>
    <hr align="left" color="#000000" size="1"/>
   </p>
  </font>
 </p>
</blockquote>
