<blockquote>
 <hr align="left" color="#000000" size="1"/>
 <p style="margin-top: 0; margin-bottom: 0">
  The right sign for "hearing" depends on whether you are discussing "a person 
	who can hear" or if you are referring to the physical ability to hear.
  <font face="Arial">
   <hr align="left" color="#000000" size="1" width="50%"/>
  </font>
  <p style="margin-top: 0; margin-bottom: 0">
   <p style="margin-top: 0; margin-bottom: 0">
    Most people who can hear use their voices for communication.
    <br/>
    People who can hear and speak are called "Hearing people," or "Hearing."
    <font face="Arial">
     <br/>
     Hearing people are "speakers."
    </font>
    <br/>
    Since Hearing people tend to "speak," Deaf people refer to "Hearing people" 
	by using a sign that looks like words tumbling from the mouth.
    <br/>
    <br/>
    The sign "HEARING-(culturally)" means to be a member of the Hearing community 
	or to be associated with the "talking world."  Thus when referring to a 
	"public school" you would sign "HEARING SCHOOL" using the sign that looks 
	like "words tumbling forth from the mouth" and then the sign for SCHOOL.  
	The "HEARING-(culturally) sign also means "speak," or "say."
    <p>
     HEARING-(culturally)
     <font face="Arial">
      "A person who can hear" or "The culture of Hearing people."
      <br/>
     </font>
     <br/>
     <img border="0" src="/images/hearing.gif" style="max-width: 100%; height: auto" width="480"/>
     <br/>
     <img border="0" height="480" src="/images/hearing-02s.jpg" width="480"/>
     <br/>
     <br/>
     Note: The movement is a small rotation. Up, forward, down, and back. Repeat 
	twice. Think of words tumbling forth from the mouth.
     <br/>
     <br/>
     HEARING (person)
     <br/>
     <img border="0" height="220" src="/images/speak1.jpg" width="212"/>
     <img border="0" height="220" src="/images/speak2.jpg" width="212"/>
     <img border="0" height="220" src="/images/speak3.jpg" width="212"/>
     <img border="0" height="220" src="/images/speak4.jpg" width="212"/>
     <img border="0" height="220" src="/images/speak5.jpg" width="212"/>
    </p>
    <p>
     <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/o8jWmf65mTQ?rel=0" width="560">
     </iframe>
    </p>
    <font face="Arial">
     <hr align="left" color="#000000" size="1"/>
    </font>
    <br/>
    If you want to discuss "physical" hearing, just tap your ear 
	twice.
    <br/>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    HEARING-(physical)
    <p style="margin-top: 0; margin-bottom: 0">
     <img border="0" height="320" src="/images/noise-01.jpg" width="320"/>
     <br/>
     <font face="Arial">
      <hr align="left" color="#000000" size="1"/>
     </font>
     <p style="margin-top: 0; margin-bottom: 0">
      <br/>
      <font face="Arial">
       Also see how to sign:  "
       <a href="hearing-losing.htm">
        I'm losing my 
hearing
       </a>
       ."
       <br/>
       <hr align="left" color="#000000" size="1"/>
      </font>
     </p>
    </p>
   </p>
  </p>
 </p>
</blockquote>