<blockquote>
 <hr align="left" color="#000000" size="1" width="50%"/>
 <span style="font-weight: 400">
  <font face="Arial">
   <p style="margin-top: 0; margin-bottom: 0">
    HEY:
    <br/>
    The sign "hey" is a good way to get someone's attention when you want to sign to 
them.  Do NOT do this sign close to somebody's face.  That would be rude. 
  Do it from at least several feet away.  The closer you are, the smaller
  the movement. The further away you are, the larger you can do the movement.
    <br/>
    <br/>
    <img border="0" src="/images/hey.gif" style="max-width: 100%; height: auto" width="480"/>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <img border="0" height="480" src="/images/hey-01.jpg" width="480"/>
    <img border="0" height="480" src="/images/hey-02.jpg" width="480"/>
    <img border="0" height="480" src="/images/hey-03.jpg" width="480"/>
    <img border="0" height="480" src="/images/hey-04.jpg" width="480"/>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <iframe allow="autoplay; encrypted-media" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/VE4ZBu9hWnM?rel=0" width="560">
    </iframe>
    <br/>
   </p>
   <hr align="left" color="#000000" size="1" width="50%"/>
   <p>
    SHOULDER-TAP
    <br/>
    You use this sign to tell someone to tap so-and-so on the shoulder so that 
  person will look at you so you can tell him something or ask him a question.
   </p>
   <p>
    <img border="0" height="218" src="/images/attention.1.jpg" width="219"/>
    <img border="0" height="218" src="/images/attention.2.jpg" width="219"/>
   </p>
  </font>
 </span>
</blockquote>
