<blockquote>
 <hr align="left" color="#000000" size="1"/>
 <font face="Arial">
  <p align="left">
   <font size="+1">
    T
   </font>
   he sign for "horse"
is made by forming the letter "u"  (or "h") with your right hand. Place your thumb on your right temple, or a little higher. 
Bend and unbend your first two fingers a couple times.
   <br/>
  </p>
 </font>
 <br/>
 HORSE:
 <br/>
 <img border="0" src="/images/horse.gif" style="max-width: 100%; height: auto" width="480"/>
 <font face="Arial">
  <img height="210" src="/images/horse.gif" width="176"/>
 </font>
 <br/>
 <font face="Arial">
  <img border="0" height="236" src="/images/horse.4.jpg" width="254"/>
  <img border="0" height="236" src="/images/horse.5.jpg" width="254"/>
  <img border="0" height="236" src="/images/horse.4.jpg" width="254"/>
  <img border="0" height="236" src="/images/horse.5.jpg" width="254"/>
 </font>
 <hr align="left" color="#000000" size="1" width="50%"/>
 <p style="margin-top: 0; margin-bottom: 0">
  <br/>
  Notes:
  <br/>
  <font face="Arial">
   If you use all the fingers instead of just the index and middle finger this
sign means "donkey."  If you sign "donkey" but only move the fingers from the upright
position to the bent position (one single, quick motion) and don't move them
back--then you have signed "
   <a href="../s/stubborn.htm">
    stubborn
   </a>
   ." 
	-- Think of how some animals
bend their ears down when they are behaving stubbornly.
   <br/>
   See:
   <a href="../d/donkey.htm">
    DONKEY
   </a>
   <br/>
  </font>
 </p>
 <font face="Arial">
  <hr align="left" color="#000000" size="1"/>
 </font>
</blockquote>
