<blockquote>
 <span style="font-weight: 400">
  <font face="Arial">
   <hr color="#000000" size="1"/>
   <p style="margin-top: 0; margin-bottom: 0">
    WHAT:
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <img src="/images/what.gif" style="max-width: 100%; height: auto" width="480"/>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <img border="0" height="480" src="/images/what-01.jpg" width="480"/>
    <img border="0" height="480" src="/images/what-02.jpg" width="480"/>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    HUH?
    <br/>
   </p>
   <p>
    <img border="0" height="204" src="/images/huh1.jpg" width="266"/>
    <img border="0" height="204" src="/images/huh2.jpg" width="266"/>
   </p>
   <p>
    <b>
     Handshape
    </b>
    : Both right and left hands in a "five"
  handshape.  Fingers and thumb spread, relaxed, (not straight)
    <br/>
    <b>
     Location
    </b>
    : Mid-torso, in front of you, a foot or so apart from each
  other.
    <br/>
    <b>
     Orientation
    </b>
    : You palms are facing up.
    <br/>
    <b>
     Movement
    </b>
    :  Each hand moves horizontally outward and back in a
  couple of times. The movement is only a couple of inches at most.
    <br/>
    Non-Manual Marker: "wh"  furrowed eyebrows.
   </p>
   <p>
    <b>
     Interpretations
    </b>
    :  Used for the general concept of
  "what."
    <br/>
    Example:  EAT HUH?  = "What do you want to eat?"
   </p>
   <p>
    <b>
     Inflections
    </b>
    :  A larger movement could indicate exasperation as
  in, "What now!?!?"
    <br/>
    Can be signed with one hand as a casual way of saying "hmmm?" As in,
  "What did you need?" or "What can I do for you?" --in
  response to someone's having gotten your attention.
   </p>
   <p>
    <iframe allow="autoplay; encrypted-media" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/1udGGPLkA-Q?rel=0" width="560">
    </iframe>
   </p>
   <center>
    <hr align="left" color="#000000" size="1"/>
   </center>
   <p align="left" style="margin-top: 0; margin-bottom: 0">
    Also see:  "
    <a href="../w/what.htm">
     WHAT?
    </a>
    "
    <br/>
    For more information, also see:
    <a href="../w/what2.htm" style="text-decoration: none">
     "Advanced discussion about the 
concept: WHAT."
    </a>
   </p>
   <p align="left" style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1" width="50%"/>
  </font>
 </span>
</blockquote>
