---
import { SITE } from "~/config.mjs";
import PageLayout from "~/layouts/PageLayout.astro";
import Lorem from "~/components/content/lorem.astro";

const meta = {
  title: `${SITE.org} | Dictionary`,
  description: `Dictionary page`,
  canonical: new URL("", Astro.site),
};
---

<PageLayout meta={meta}>
  <main></main>
</PageLayout>
