<blockquote>
 <font face="Arial">
  <hr align="left" color="#000000" size="1"/>
  <p>
   <br/>
   2ellamills@________ writes:
   <br/>
   Hello Dr. Vicars!
   <br/>
   i have a small question -
   <br/>
   can you please tell me how to sign "Israel" in ASL?
   <br/>
   Thank you so much!
   <br/>
   Ella
   <br/>
   <br/>
   Ella,
   <br/>
   I haven't seen the Israeli sign for Israel (which is what I'd prefer 
			to teach you) but here in the states at my local church we sign 
			Israel by touching the pinkie of an "i" hand to the corner of the 
			mouth and then moving it to the other corner. (Sort of like signing 
			"
   <a href="../r/restaurant.htm">
    restaurant
   </a>
   " but using an "i" 
			hand.)
   <br/>
   -- Dr. V
   <br/>
  </p>
  <hr align="left" color="#000000" size="1"/>
  <p align="center" style="margin-top: 0; margin-bottom: 0">
   <font face="Arial" size="1">
    You can learn American
    <a href="http://www.lifeprint.com" style="text-decoration: none">
     Sign 
		Language
    </a>
    (ASL) online at American Sign Language University ™
    <br/>
    <a href="http://asl.ms" style="text-decoration: none">
     ASL
    </a>
    resources 
		by Lifeprint.com  ©  Dr. William Vicars
   </font>
  </p>
 </font>
</blockquote>
