<blockquote>
 <p>
  There are several variations for this sign. Make sure to scroll 
			down and check 'em all out so you can do well on any quizzes you may 
			take.
  <br/>
 </p>
 <font face="Arial">
  <hr align="left" color="#000000" size="1"/>
 </font>
 <p>
  <br/>
  The main version is based on the "SWEEP" sign.
  <br/>
  Do a forward sweeping movement with your dominant hand as if 
			sweeping crumbs off of the palm of your non-dominant hand. Do this 
			twice then add the "PERSON" sign.
  <br/>
  <br/>
  JANITOR:
  <br/>
  <font face="Arial">
   <img border="0" height="320" src="/images/janitor-09.jpg" width="280"/>
  </font>
  <img border="0" height="320" src="/images/janitor-12.jpg" width="280"/>
  <font face="Arial">
   <img border="0" height="320" src="/images/janitor-09.jpg" width="280"/>
   <img border="0" height="320" src="/images/janitor-12.jpg" width="280"/>
   <br/>
   <img border="0" height="320" src="/images/person-01.jpg" width="310"/>
   <img border="0" height="320" src="/images/person-02.jpg" width="310"/>
  </font>
  <br/>
  <br/>
  JANITOR (version)
 </p>
 <p style="margin-top: 0; margin-bottom: 0">
  <object classid="CLSID:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=8,0,0,0" height="395" id="FVS2" width="480">
   <param name="movie" value="janitor-2_player.swf?23177640"/>
   <param name="bgcolor" value="#ffffff"/>
   <param name="allowfullscreen" value="true"/>
   <embed allowfullscreen="true" bgcolor="#ffffff" height="395" name="FVS2" pluginspage='http://www.macromedia.com/go/getflashplayer"' src="janitor-2_player.swf?23177640" type="application/x-shockwave-flash" width="480"/>
  </object>
  <font face="Arial">
   <br/>
   <br/>
   Sample sentence: 
			Do you know the name of the janitor for this building?
   <br/>
   <br/>
   <object classid="CLSID:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=8,0,0,0" height="395" id="FVS0" width="480">
    <param name="movie" value="../30/janitor-this-building-you-know-his-her-name-2_player.swf?941278"/>
    <param name="bgcolor" value="#ffffff"/>
    <param name="allowfullscreen" value="true"/>
    <embed allowfullscreen="true" bgcolor="#ffffff" height="395" name="FVS0" pluginspage='http://www.macromedia.com/go/getflashplayer"' src="../30/janitor-this-building-you-know-his-her-name-2_player.swf?941278" type="application/x-shockwave-flash" width="480"/>
   </object>
  </font>
  <p style="margin-top: 0; margin-bottom: 0">
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
   <p style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     <br/>
     In context you can often sign "SWEEP" (using a double movement) 
			without using the "person" sign and it will be understood to mean 
			"janitor."
     <br/>
     <br/>
     SWEEP/BROOM = JANITOR:
     <br/>
     <img border="0" height="320" src="/images/janitor-09.jpg" width="280"/>
     <img border="0" height="320" src="/images/janitor-12.jpg" width="280"/>
     <img border="0" height="320" src="/images/janitor-09.jpg" width="280"/>
     <img border="0" height="320" src="/images/janitor-12.jpg" width="280"/>
     <br/>
     <br/>
     See:
     <a href="../s/sweep.htm">
      SWEEP
     </a>
    </font>
    <br/>
    <font face="Arial">
     <hr align="left" color="#000000" size="1"/>
    </font>
    <p style="margin-top: 0; margin-bottom: 0">
     <br/>
     <font face="Arial">
      There is a variation of the sign for "janitor" that looks somewhat as if you are holding onto the handle of a mop 
	and you push it forward twice and then show the "person" sign.
      <br/>
      <br/>
      JANITOR-("mop version")
      <br/>
      <img border="0" height="240" src="/images/janitor1.jpg" width="273"/>
      <img border="0" height="240" src="/images/janitor2.jpg" width="273"/>
      <img border="0" height="239" src="/images/janitor3.jpg" width="259"/>
     </font>
     <br/>
     <br/>
     JANITOR-("mop version")
    </p>
    <object classid="CLSID:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=8,0,0,0" height="253" id="FVS" width="320">
     <param name="movie" value="janitor_player.swf?2154113811"/>
     <param name="bgcolor" value="#ffffff"/>
     <param name="allowfullscreen" value="true"/>
     <embed allowfullscreen="true" bgcolor="#ffffff" height="253" name="FVS" pluginspage='http://www.macromedia.com/go/getflashplayer"' src="janitor_player.swf?2154113811" type="application/x-shockwave-flash" width="320"/>
    </object>
    <br/>
    <font face="Arial">
     <hr align="left" color="#000000" size="1"/>
    </font>
    <p>
     <br/>
     There is another version of the JANITOR / "mopper" variation.
	This version combines the verb "mopping" with the "PERSON/agent" sign.
     <br/>
     <br/>
     <font face="Arial">
      JANITOR-("mop version 2")
     </font>
    </p>
    <p>
     <img border="0" height="224" src="/images/janito16.jpg" width="238"/>
     <img border="0" height="224" src="/images/janito17.jpg" width="238"/>
     <img border="0" height="224" src="/images/janito18.jpg" width="238"/>
     <img border="0" height="224" src="/images/janito19.jpg" width="238"/>
     <img border="0" height="224" src="/images/janito20.jpg" width="238"/>
     <img border="0" height="224" src="/images/janito21.jpg" width="238"/>
    </p>
    <p style="margin-top: 0; margin-bottom: 0">
     <br/>
    </p>
    <font face="Arial">
     <hr align="left" color="#000000" size="1"/>
     <p align="center" style="margin-top: 0; margin-bottom: 0">
      <font face="Arial" size="1">
       You can learn
       <a href="http://lifeprint.com" style="text-decoration: none">
        American Sign Language (ASL)
       </a>
       online at American Sign Language University ™
       <br/>
       <a href="http://asl.ms" style="text-decoration: none">
        ASL
       </a>
       resources by Lifeprint.com  ©  Dr. William Vicars
      </font>
     </p>
    </font>
   </p>
  </p>
 </p>
</blockquote>
