<blockquote>
 <h1 style="margin-top: 0; margin-bottom: 0">
  <font face="Arial">
   <span style="font-weight: 400">
    <font size="5">
     American Sign Language: "kiss"
    </font>
   </span>
   <br/>
  </font>
 </h1>
 <blockquote>
  <hr align="left" color="#000000" size="1"/>
  <p>
   Many variations on this sign.  (Lots of different ways to kiss I 
reckon.)
   <br/>
   Don't worry overmuch if someone doesn't kiss the way you do.  Er...I mean, 
doesn't do the sign "KISS" the way you do.
  </p>
  <p>
  </p>
  <p>
   In the main version of this sign you form each hand into 
			flattened "O" handshapes and then you bring the fingertips together 
			in front of you while puckering up your lips (as if kissing 
			someone).
   <br/>
  </p>
  <p>
   KISS:
  </p>
  <p>
   <iframe allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/TT0VsmSeuEw?rel=0" width="560">
   </iframe>
  </p>
 </blockquote>
 <blockquote>
  <p>
   <img border="0" height="172" src="/images/kiss-2.gif" width="203"/>
   <br/>
   Note: This version 
	of KISS looks a lot like the sign for MORE.  Except MORE is done a bit 
	lower and doesn't pucker up.
  </p>
 </blockquote>
 <hr align="left" color="#000000" size="1"/>
 <script type="text/javascript">
  <!--
google_ad_client = "ca-pub-2513564923850231";
/* 728x15_link_ads_adsense1_bottom */
google_ad_slot = "2289748297";
google_ad_width = 728;
google_ad_height = 15;
//-->
 </script>
 <script src="//pagead2.googlesyndication.com/pagead/show_ads.js" type="text/javascript">
 </script>
 <p align="center" style="margin-top: 0; margin-bottom: 0">
 </p>
 <script type="text/javascript">
  <!--
google_ad_client = "ca-pub-2513564923850231";
/* 728x15_link_ads_adsense1_bottom */
google_ad_slot = "2289748297";
google_ad_width = 728;
google_ad_height = 15;
//-->
 </script>
 <script src="//pagead2.googlesyndication.com/pagead/show_ads.js" type="text/javascript">
 </script>
 <p align="center" style="margin-top: 0; margin-bottom: 0">
 </p>
 <script type="text/javascript">
  <!--
google_ad_client = "ca-pub-2513564923850231";
/* 728x15_link_ads_adsense1_bottom */
google_ad_slot = "2289748297";
google_ad_width = 728;
google_ad_height = 15;
//-->
 </script>
 <script src="//pagead2.googlesyndication.com/pagead/show_ads.js" type="text/javascript">
 </script>
 <hr align="left" color="#000000" size="1"/>
 <blockquote>
  <p>
   This next version is also used by some people.
  </p>
  <p>
   KISS (version):
  </p>
  <p>
   <iframe allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/Bpbc7RhARRg?rel=0" width="560">
   </iframe>
  </p>
  <p>
   The graphic is a bit 
			off.  Instead the thumb is wrapped in a bit more and the tip or 
			pad of the thumb is pressed to the fingers.  This version is 
			almost the same as the sign for HOME except that the KISS handshape 
			is much more flattened (but not totally flat -- it is more like an 
			extremely squished "O" hand.)  Also for the sign HOME you don't 
			pucker up. But you do pucker up for all versions of KISS.
  </p>
  <p>
   <img border="0" height="441" src="/images/kiss.small.gif" width="350"/>
  </p>
 </blockquote>
 <hr align="left" color="#000000" size="1"/>
 <hr align="left" color="#000000" size="1"/>
 <p style="margin-top: 0; margin-bottom: 0">
  <br/>
  * 
Want to help support ASL University?  It's
  <i>
   easy
  </i>
  :
  <b>
   <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&amp;hosted_button_id=XHRNABERKJT4N" rel="nofollow" target="_blank">
    <u>
     DONATE
    </u>
   </a>
  </b>
  <font size="2">
   (
   <i>
    Thanks!
   </i>
   )
  </font>
  <br/>
  <br/>
  <font face="Arial">
   *
  </font>
  Another way to help is to buy something from Dr. Bill's "
  <b>
   <a href="../../../bookstore/bookstore.htm">
    <u>
     Bookstore
    </u>
   </a>
  </b>
  ."
 </p>
 <p style="margin-top: 0; margin-bottom: 0">
  <br/>
  <font face="Arial">
   *
  </font>
  Want even more ASL resources?  Visit the "
  <b>
   <a href="http://www.asl.tc/landing/index.html" rel="nofollow" target="_blank">
    ASL Training Center
   </a>
   !
  </b>
  "  (Subscription 
Extension of ASLU)
  <br/>
  <br/>
  *  Also check out Dr. Bill's channel:
  <a href="http://www.youtube.com/billvicars">
   www.youtube.com/billvicars
  </a>
  <font size="2">
   <br/>
  </font>
 </p>
 <hr align="left" color="#000000" size="1"/>
 <p align="center" style="margin-top: 0; margin-bottom: 0">
  <font size="1">
   You can learn
   <a href="http://lifeprint.com">
    American Sign Language (ASL)
   </a>
   online at American Sign Language University ™
   <br/>
   <a href="http://asl.ms" style="text-decoration: none">
    ASL
   </a>
   resources by Lifeprint.com  ©  Dr. William Vicars
  </font>
 </p>
 <hr color="#000000" size="1"/>
 <p>
 </p>
</blockquote>
