<blockquote>
 <hr align="left" color="#000000" size="1"/>
 <p style="margin-top: 0; margin-bottom: 0">
  The sign for "kitchen" has a couple of widely used 
	variations.
  <font face="Arial">
   <hr align="left" color="#000000" size="1"/>
  </font>
  <p style="margin-top: 0; margin-bottom: 0">
   <br/>
   You can sign "kitchen" by using a "K" handshape and making a small side to side movement.
   <font face="Arial">
    <br/>
    <br/>
    KITCHEN (one-handed version)
   </font>
  </p>
  <p style="margin-top: 0; margin-bottom: 0">
   <img border="0" src="/images/kitchen-2.gif" style="max-width: 100%; height: auto" width="480"/>
   <img border="0" height="240" src="/images/kitchena1.jpg" width="248"/>
   <img border="0" height="240" src="/images/kitchena2.jpg" width="248"/>
   <img border="0" height="240" src="/images/kitchena3.jpg" width="248"/>
   <img border="0" height="240" src="/images/kitchena4.jpg" width="248"/>
   <br/>
   <br/>
   For an animation, see:
   <font face="Arial">
    <a href="/images/kitchenaanimation.gif">
     KITCHEN (one-handed 
	version)
    </a>
   </font>
   <br/>
  </p>
  <font face="Arial">
   <p style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1"/>
  </font>
  <p style="margin-top: 0; margin-bottom: 0">
  </p>
  <p style="margin-top: 0; margin-bottom: 0">
   Another popular version of "kitchen" uses an
  "initialized" form of "cook."  You flip a "K" over on 
	your palm as if turning a piece of food.
   <br/>
   <br/>
   KITCHEN (two-handed version)
   <br/>
   <font face="Arial">
    <img border="0" src="/images/kitchen-1.gif" style="max-width: 100%; height: auto" width="480"/>
   </font>
   <img border="0" height="238" src="/images/kitchenb1.jpg" width="222"/>
   <img border="0" height="238" src="/images/kitchenb2.jpg" width="222"/>
   <img border="0" height="238" src="/images/kitchenb3.jpg" width="222"/>
   <img border="0" height="238" src="/images/kitchenb4.jpg" width="222"/>
  </p>
  <p style="margin-top: 0; margin-bottom: 0">
   <font face="Arial">
    <br/>
    For an animation, see:
   </font>
   <a href="/images/kitchenbanimation.gif">
    KITCHEN (one-handed 
	version)
   </a>
   <br/>
  </p>
  <hr align="left" color="#000000" size="1" width="50%"/>
  <p style="margin-top: 0; margin-bottom: 0">
   <br/>
   Sample sentence: "Why do Deaf people prefer the kitchen?" = WHY DEAF 
	FAVORITE KITCHEN?
   <br/>
   <br/>
   <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/JC_rj5vboN0?rel=0" width="560">
   </iframe>
   <br/>
   <br/>
   Notes:
   <br/>
   Good lighting is an important part of visual gestural communication.  
	Deaf people tend to gravitate to rooms and areas where there is good 
	lighting.  Kitchens are typically well lit. When my wife and I go to a 
	restaurant we tend to look around for a table with good lighting (but where 
	there isn't a bright window directly behind one of us - since it is hard to 
	see someone's face if they are in front of a window which is streaming 
	bright light).
   <br/>
  </p>
  <font face="Arial">
   <hr align="left" color="#000000" size="1"/>
  </font>
 </p>
</blockquote>
