<blockquote>
 <hr align="left" color="#000000" size="1"/>
 <p style="margin-top: 0; margin-bottom: 0">
  <br/>
  In the sign for "
  <b>
   KNIFE
  </b>
  " the right index finger starts with the palm 
  facing backward and moves down and contacts the second knuckle of the left 
  index finger then makes a small backward slicing movement as it continues its 
  downward path.
  <br/>
  <br/>
  <img border="0" height="214" src="/images/knife.9.jpg" width="223"/>
  <img border="0" height="214" src="/images/knife.10.jpg" width="223"/>
  <img border="0" height="214" src="/images/knife.11.jpg" width="223"/>
  <img border="0" height="214" src="/images/knife.12.jpg" width="223"/>
  <br/>
  <font face="Arial">
   <br/>
   The above version of "knife" looks a lot like the sign for "
   <a href="../c/cant.htm">
    CAN'T
   </a>
   " 
  but there are some important differences.
  In the sign for
   <b>
    "can't"
   </b>
   the right hand (if you are right 
	handed) starts palm down, moves downward 
  and whacks the
   <i>
    tip
   </i>
   of the left index finger very quickly.  
  The left index finger bends as the right index finger past in its downward 
  movement.
  </font>
  <br/>
 </p>
 <hr color="#000000" size="1"/>
 <p style="margin-top: 0; margin-bottom: 0">
  <a href="/images/knifeversion1.gif">
   Animation: KNIFE (version 1)
  </a>
 </p>
 <hr color="#000000" size="1"/>
 <p style="margin-top: 0; margin-bottom: 0">
  <br/>
  In this next version, the knife moves 
  down, contacts the "carrot" and the slices forward along and off of the 
  carrot. As if peeling a carrot.
  <br/>
  <br/>
  KNIFE (version)
  <br/>
  <img border="0" height="215" src="/images/knife.17.jpg" width="225"/>
  <img border="0" height="215" src="/images/knife.18.jpg" width="225"/>
  <img border="0" height="215" src="/images/knife.19.jpg" width="225"/>
  <img border="0" height="215" src="/images/knife.20.jpg" width="225"/>
  <br/>
 </p>
 <hr color="#000000" size="1"/>
 <p style="margin-top: 0; margin-bottom: 0">
  <a href="/images/knife.gif">
   Animation: "KNIFE"
  </a>
 </p>
 <hr color="#000000" size="1"/>
 <p style="margin-top: 0; margin-bottom: 0">
  <br/>
  "Cut with a knife"
  <br/>
  This sign looks like you are using your right index finger to saw  your 
  left index finger off.
  <br/>
  <br/>
  <img border="0" height="213" src="/images/knife.21.gif" width="214"/>
  <img border="0" height="213" src="/images/knife.22.gif" width="214"/>
  <img border="0" height="213" src="/images/knife.23.gif" width="214"/>
  <img border="0" height="213" src="/images/knife.21.gif" width="214"/>
  <img border="0" height="213" src="/images/knife.22.gif" width="214"/>
  <img border="0" height="213" src="/images/knife.23.gif" width="214"/>
 </p>
 <p style="margin-top: 0; margin-bottom: 0">
 </p>
 <font face="Arial">
  <hr color="#000000" size="1"/>
 </font>
 <p style="margin-top: 0; margin-bottom: 0">
  <a href="/images/knifecutwithknife.gif">
   Animation:  "Cut with 
  a knife"
  </a>
 </p>
 <hr color="#000000" size="1"/>
 <p style="margin-top: 0; margin-bottom: 0">
  <br/>
  Here is a version of knife that 
  uses an "H" handshape on the dominant hand instead of just an index finger.  
  This sign means "KNIFE" just the same as the other version, but I reckon if 
  you were talking about different types of knives, you could use the "H" 
  handshape to show a knife that is larger than a knife done with just the index 
  finger.
  <br/>
  <br/>
 </p>
 <p style="margin-top: 0; margin-bottom: 0">
  <img border="0" height="214" src="/images/knife.13.jpg" width="227"/>
  <img border="0" height="214" src="/images/knife.14.jpg" width="227"/>
  <img border="0" height="214" src="/images/knife.15.jpg" width="227"/>
  <img border="0" height="214" src="/images/knife.16.jpg" width="227"/>
  <br/>
  <br/>
  Note: The other day a fellow I know criticized this "H"-hand version of the 
	sign for "knife." He said it wasn't the "right" sign.
  <br/>
  <br/>
  Uh huh.  Gotcha. Thanks for sharing. I'm sure it is nice to be "right" 
	all the time.
 </p>
 <p style="margin-top: 0; margin-bottom: 0">
  <br/>
  Moving along, I might suggest that all you eager readers out there try a 
	little experiment.  Go ask your Deaf friends to show you how they would 
	sign the following sentence:
  <br/>
  "
  <b>
   Spread butter on a piece of bread with a knife
  </b>
  ."
  <br/>
  <br/>
  <i>
   Seriously,
  </i>
  try it.
  <br/>
  <br/>
  Chances are you are going to see the "knife" concept in that sentence 
	represented with an "H" handshape rather often by your language models. (And 
	the bread will be represented by a "flat hand.")
  <br/>
  <br/>
  My point in sharing several versions of certain signs isn't to claim that 
	any
  <i>
   one
  </i>
  sign is "right" but rather to emphasize that signing is 
	situational and that to be a skilled signer a person needs to know and 
	recognize
  <i>
   variations
  </i>
  of signs as well as how and when to use those 
	variations.
  <br/>
  <br/>
 </p>
 <font face="Arial">
  <hr align="left" color="#000000" size="1"/>
  <p align="center" style="margin-top: 0; margin-bottom: 0">
   <font face="Arial" size="1">
    You can learn
    <a href="http://lifeprint.com" style="text-decoration: none">
     American Sign Language (ASL)
    </a>
    online at American Sign Language University ™
    <br/>
    <a href="http://asl.ms" style="text-decoration: none">
     ASL
    </a>
    resources by Lifeprint.com  ©  Dr. William Vicars
   </font>
  </p>
 </font>
</blockquote>
