<blockquote>
 <hr align="left" color="#000000" size="1" width="50%"/>
 <span style="font-weight: 400">
  <font face="Arial">
   <p style="margin-top: 0; margin-bottom: 0">
    The sign for "LANGUAGE" often shows 
up as two "L" hands starting together and moving outward.
    <br/>
    <br/>
    In the old days the sign for LANGUAGE was done the same way as the sign for 
SENTENCE.
    <br/>
    <br/>
    Then it was initialized with "L"-hands.  And now it seems that the 
"classic" or legacy version is making somewhat of a comeback. As of this update 
(2012) I've seen the non-initialized version of "LANGUAGE" showing up in several 
blogs and on the hands of quite a few d/Deaf leaders.
    <br/>
    <br/>
    Will it stick? Will 
the non-initialized version spread? Time will tell.  Currently I still use 
the "L"-hand version since it provides a useful distinction between the words 
"sentence" and "language."
    <br/>
    <br/>
    In 2010 I noticed in a vlog (video blog) where a 
Deaf leader actually signed
    <i>
     both
    </i>
    versions. She used the non-initialized 
(trendy, new) version at the beginning of her presentation (when she was 
consciously thinking about it), Then later during her presentation she 
subconsciously switched back to the familiar "L"-hand version.
    <br/>
    <br/>
    Why do I point this out?  Because I want you to know that sign language
    <i>
     evolves and changes
    </i>
    . In the example above we see a person actively striving 
to incorporate an emerging (or re-emerging actually) signing trend into her 
presentation.  Thus the language 
choices of your peers will influence your own language usage.
    <br/>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    SENTENCE / LANGUAGE
    <br/>
    Version 1:  As in a group of words that expresses a thought.  Or 
	as in a spoken or signed language.
    <br/>
    To do this sign, hold your "F" hands together and pull them apart. 
	Use a slight twisting/shaking movement of the forearms as you pull the 
	"F"-hands apart.
    <br/>
    <p style="margin-top: 0; margin-bottom: 0">
     <img border="0" height="300" src="/images/senten1.jpg" width="323"/>
     <img border="0" height="300" src="/images/senten2.jpg" width="323"/>
     <img border="0" height="300" src="/images/senten3.jpg" width="323"/>
     <br/>
     <br/>
     <object classid="CLSID:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,22,0" height="275" id="FVS" width="320">
      <param name="movie" value="../s/sentence01_player.swf?2016818343"/>
      <param name="bgcolor" value="#ffffff"/>
      <embed bgcolor="#ffffff" height="275" name="FVS" pluginspage='http://www.macromedia.com/go/getflashplayer"' src="../s/sentence01_player.swf?2016818343" type="application/x-shockwave-flash" width="320"/>
     </object>
     <p style="margin-top: 0; margin-bottom: 0">
     </p>
     <hr align="left" color="#000000" size="1" width="50%"/>
     <p style="margin-top: 0; margin-bottom: 0">
      <br/>
      Language: Version 2:
      <br/>
      Do it the same way as above but do it with "L" handshapes.
      <br/>
     </p>
     <hr align="left" color="#000000" size="1" width="50%"/>
     <p style="margin-top: 0; margin-bottom: 0">
      <br/>
      Notes:
      <br/>
      Often I see ASL students signing:  "I'm learning sign
      <i>
       language
      </i>
      ," and they 
unnecessarily add the sign LANGUAGE to their sentence.
      <br/>
      <br/>
      They could instead just sign: "I LEARN SIGN."
      <br/>
      <br/>
      Or, "I LEARN LEARN SIGN." 
-- The second "LEARN" shows helps indicate more of a process rather than a 
completed event, that is: "learning" vs "learned."
      <br/>
      <br/>
      Anyway, my point is 
that you don't need to add the sign "LANGUAGE" because when you state that you 
are learning "SIGN" it means "sign language."   Comparison, you 
wouldn't say, "I eat food with my mouth." No, really? I thought you slid a tube 
down your nose.
      <br/>
      <br/>
      Okay, okay, -- a better comparison: You wouldn't (shouldn't) say, "I speak 
English
      <i>
       language
      </i>
      ."  Instead you should just say, "I speak English." 
Everyone knows what you mean.  If you add, "language" at the end of your 
sentence it basically means that you are a poor speaker of English because a 
native would know that English "is" a language and you don't need to add the 
word "language" to that sentence.
     </p>
    </p>
   </p>
  </font>
 </span>
</blockquote>
