<blockquote>
 <hr align="left" color="#000000" size="1" width="50%"/>
 <font face="Arial">
  <span style="font-weight: 400">
   <p style="margin-top: 0; margin-bottom: 0">
    LAST: last: 
  "final" 
  "end of a series" / least
    <br/>
    <a href="https://youtu.be/f8MfjdWKh24">
     https://youtu.be/f8MfjdWKh24
    </a>
    <br/>
    Both hands in "i" handshapes.  The left hand stays 
  stationary. The right pinkie makes contact with the left pinkie .
    <br/>
    Some people do this sign using an "index finger" on the dominant and a pinkie on 
the non-dominant hand.
   </p>
   <p>
    <img border="0" height="300" src="/images/last.h8.jpg" width="275"/>
    <img border="0" height="300" src="/images/last.h9.jpg" width="275"/>
    <img border="0" height="300" src="/images/last.h10.jpg" width="275"/>
    <video controls="" src="../../videos/last_player.mp4">
    </video>
    <br/>
   </p>
   <hr/>
   <p>
    Notice how the left hand doesn't move:
    <br/>
    <img border="0" height="234" src="/images/last-c1.jpg" width="253"/>
    <img border="0" height="234" src="/images/last-c2.jpg" width="253"/>
    <img border="0" height="234" src="/images/last-c3.jpg" width="253"/>
    <img border="0" height="234" src="/images/last-c4.jpg" width="253"/>
   </p>
   <p>
    Note:  This sign is also sometimes used to mean "
   </p>
  </span>
  least
  <span style="font-weight: 400">
   " 
	but instead you should probably use the sign "minimum" to mean "least.
   <br/>
   Note:  The sign LAST isn't used in such concepts as "last year, last
  week, and/or last month." 
	Those concepts incorporate some aspect of
  the sign
  "PAST" (over the shoulder) to indicate a
   <a href="../y/year.htm">
    previous year
   </a>
   , week, or month.
   <hr align="left" color="#000000" size="1" width="50%"/>
   <p style="margin-top: 0; margin-bottom: 0">
    Also see:
    <a href="../c/continue.htm">
     CONTINUE
    </a>
    <br/>
    The sign "continue" would be used for sentences like, "We don't have much left. 
We need to conserve what we have so we can make it
   </p>
  </span>
  last
  <span style="font-weight: 400">
   ."
  </span>
  <span style="font-weight: 400">
   <hr align="left" color="#000000" size="1" width="50%"/>
   <p style="margin-top: 0; margin-bottom: 0">
    Also see:
    <a href="last-year-2.htm">
     LAST-YEAR (2)
    </a>
    <br/>
   </p>
   <hr align="left" color="#000000" size="1" width="50%"/>
   <p style="margin-top: 0; margin-bottom: 0">
    Question: in English, people use 
"last" to mean "previous" (as in, "I was on vacation last week" or "The last 
time I played tennis was years ago!") and also to mean "final" (as in, "Who 
wants the last donut?" or "This is the last time I drive you to the airport!"); 
does the sign LAST have both meanings in ASL too, or is there a distinction?
    <br/>
    <br/>
    Answer:
    <br/>
    There is a distinction.  The sign LAST in ASL doesn't mean "previously."
    <br/>
    If you mean "last" as in the previous time you did something you can generally 
use the sign PAST.
    <br/>
    If it is important that you specify the most recent time you did something then 
use the signs MOST and RECENT. Or drop the sign MOST and inflect the sign RECENT 
with a shoulder raise (referred to as a "cs" or "cheek to shoulder" marker which 
means "very" when paired with "recent" -- as in very recent.
    <br/>
    <br/>
    Again though it is fairly common just to sign "PAST TIME" to mean "last time" 
(as in previously).
    <br/>
    <br/>
    Tip: Does that mean you will "never" see a Deaf person sign "LAST TIME" to mean 
"the previous time?"  --  You will see all kinds of signing done by 
people in the Deaf Community.  If you see a Deaf person use LAST to mean 
"the most recent previous time" --  then just think to yourself, "Gee, 
there's a vote for that particular usage.  Hmmm, I think I'll stick with 
using PAST to mean "previously" unless I see a whole lot more votes by skilled 
ASL signers."
   </p>
   <hr/>
   <p style="margin-top: 0; margin-bottom: 0">
    <br/>
    Also keep in mind that the concept of "last" is often incorporated into the 
movement, position, orientation, and hand shape changes of certain signs.
    <br/>
    I'll post some links to examples below.
    <br/>
    <br/>
    MONTH PAST / last month / a month ago / the previous month
    <br/>
    <a href="https://youtu.be/DRq7SMExZPk">
     https://youtu.be/DRq7SMExZPk
    </a>
    <br/>
    <br/>
    PAST MONTH / last month / the previous month / a month ago
    <br/>
    <a href="https://youtu.be/GPoafxiT_eQ">
     https://youtu.be/GPoafxiT_eQ
    </a>
    <br/>
    <br/>
    last-YEAR / this past year /
    <br/>
    <a href="https://youtu.be/uzKuS-RsvkA">
     https://youtu.be/uzKuS-RsvkA
    </a>
    <br/>
    <br/>
    last-YEAR [S-1 version] / a year ago / one year ago / past year
    <br/>
    <a href="https://youtu.be/r-ebTdkgpEQ">
     https://youtu.be/r-ebTdkgpEQ
    </a>
    <br/>
    <br/>
    last-WEEK SUNDAY / a week ago Sunday / Sunday of last week
    <br/>
    <a href="https://youtu.be/FC0avUOUxsc">
     https://youtu.be/FC0avUOUxsc
    </a>
    <br/>
    <br/>
    <br/>
    THREE-MONTHS AGO
    <br/>
    https://youtu.be/49UHXDjQwbo
    <br/>
   </p>
  </span>
 </font>
</blockquote>
