<blockquote>
 <p align="right">
  <img alt="back.gif (1674 bytes)" border="0" height="28" onclick="history.go(-1)" src="/images/back.gif" width="54"/>
 </p>
 <h1 align="center">
  <i>
   <font face="Times New Roman">
    Lebanon
   </font>
  </i>
 </h1>
 <hr color="#800080" size="6" style="border-style: ridge; border-width: 2; padding-left: 0; padding-right: 0; padding-top: 1; padding-bottom: 1"/>
 <p>
  In a message dated 8/17/2006 5:38:54 AM Pacific Daylight Time, 
	jeffrey_sylim@ writes:
  <br/>
  <br/>
  Dear Dr Bill
  <br/>
  Hi I found your website, and was hoping you could be of
  <br/>
  some help. I just want to know it's a sign the word
  <br/>
  "Lebanon" (Country) or do you just spell it out?
  <br/>
  Thank You
  <br/>
  --Jeff
  <br/>
  <br/>
  <br/>
  Jeff,
  <br/>
  A co-worker of mine is an expert on Middle-East signs. His name is Lyes 
	Bousseloub.  I will ask him next time I see him.  Plus I'll cc him on this 
	email.
  <br/>
  --Bill
  <br/>
  <br/>
  In a message dated 8/17/2006 3:30:16 PM Pacific Daylight Time, lbouss@ 
	writes:
  <br/>
  I believe there are 3 signs for Lebanon (to the best of my knowledge):
  <br/>
  1st is to move the L-handshape from the shoulder to the hip like "Lord".
  <br/>
  2nd is to make a tree-like hand-motion with elbow atop a flat palm-down 
	using the same L-handshape as if to say it is a "L" tree.
  <br/>
  the last but not the least is to reverse the sign for "meeting" in opposing 
	direction as to make a tree-shape from both hands and then move away from 
	each other to close down twice towards each thumb-this sign could be 
	difficult to describe here but it appears to be an old sign fading into 
	disuse now..
  <br/>
  thank you for asking and have a good day.
  <br/>
  --Lyes Bousseloub
  <br/>
  ASL Faculty-CSUS
  <br/>
  Eureka Hall 311
  <br/>
  6000 J street
  <br/>
  Sacramento, CA 95819
 </p>
 <hr color="#800080" size="6" style="border-style: ridge; border-width: 2; padding-left: 0; padding-right: 0; padding-top: 1; padding-bottom: 1"/>
 <p align="right">
  <img alt="back.gif (1674 bytes)" border="0" height="28" onclick="history.go(-1)" src="/images/back.gif" width="54"/>
  <br/>
 </p>
</blockquote>
