<blockquote>
 <font face="Arial">
  <hr align="left" color="#000000" size="1"/>
  <p>
   The sign for "lie" has several versions.  They all mean the same thing.
   <br/>
  </p>
  <p>
  </p>
  <p>
   LIE: (version 1)
   <br/>
   <img border="0" height="237" src="/images/lie.ht1.jpg" width="194"/>
   <img border="0" height="237" src="/images/lie.ht2.jpg" width="194"/>
   <img border="0" height="237" src="/images/lie.ht3.jpg" width="194"/>
  </p>
  <p>
  </p>
  <hr align="left" color="#000000" size="1"/>
  <br/>
  LIE: (version 2)
  <br/>
  <img border="0" height="223" src="/images/lie.ht4.jpg" width="186"/>
  <img border="0" height="223" src="/images/lie.ht5.jpg" width="186"/>
  <img border="0" height="223" src="/images/lie.ht6.jpg" width="186"/>
  <br/>
  <hr align="left" color="#000000" size="1"/>
  <p style="margin-top: 0; margin-bottom: 0">
   <br/>
   LIE:  (version 3)
   <br/>
   <img border="0" height="226" src="/images/lie.ht7.jpg" width="204"/>
   <img border="0" height="226" src="/images/lie.ht8.jpg" width="204"/>
   <img border="0" height="226" src="/images/lie.ht9.jpg" width="204"/>
   <img border="0" height="226" src="/images/lie.ht10.jpg" width="204"/>
   <img border="0" height="226" src="/images/lie.ht11.jpg" width="204"/>
  </p>
  <p style="margin-top: 0; margin-bottom: 0">
  </p>
  <hr align="left" color="#000000" size="1"/>
  <p style="margin-top: 0; margin-bottom: 0">
   <br/>
   Note:  You can add the "
   <a href="../a/agent.htm">
    agent
   </a>
   " 
  affix to this sign to mean "LIAR."
   <br/>
   <img border="0" height="223" src="/images/lie.ht4.jpg" width="186"/>
   <img border="0" height="223" src="/images/lie.ht6.jpg" width="186"/>
   <img border="0" height="238" src="/images/farmer5.jpg" width="235"/>
   <img border="0" height="238" src="/images/farmer6.jpg" width="235"/>
  </p>
  <hr align="left" color="#000000" size="1" width="50%"/>
  <p>
  </p>
  <hr align="left" color="#000000" size="1"/>
  <p align="center" style="margin-top: 0; margin-bottom: 0">
   <font face="Arial" size="1">
    You can learn 
		American
    <a href="http://www.lifeprint.com" style="text-decoration: none">
     Sign 
		Language
    </a>
    (ASL) online at American Sign Language University ™
    <br/>
    <a href="http://asl.ms" style="text-decoration: none">
     ASL
    </a>
    resources by Lifeprint.com  ©  Dr. William Vicars
   </font>
  </p>
 </font>
</blockquote>
