<blockquote>
 <hr align="left" color="#000000" size="1" width="50%"/>
 <span style="font-weight: 400">
  <font face="Arial">
   <p style="margin-top: 0; margin-bottom: 0">
    <br/>
    LIPREAD = "speechread"
    <br/>
    <br/>
    <img border="0" height="300" src="/images/lipread1.jpg" width="300"/>
    <img border="0" height="300" src="/images/lipread2.jpg" width="300"/>
    <img border="0" height="300" src="/images/lipread3.jpg" width="300"/>
    <img border="0" height="300" src="/images/lipread1.jpg" width="300"/>
    <img border="0" height="300" src="/images/lipread2.jpg" width="300"/>
    <img border="0" height="300" src="/images/lipread3.jpg" width="300"/>
   </p>
   <hr align="left" color="#000000" size="1" width="50%"/>
   <p style="margin-top: 0; margin-bottom: 0">
    <br/>
    Sentence: Do you lipread?
    <br/>
    <br/>
   </p>
  </font>
 </span>
 <font face="Arial">
 </font>
 <object classid="CLSID:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=8,0,0,0" height="395" id="FVS" width="360">
  <param name="movie" value="lipread-do-you-lipread_player.swf?2192024797"/>
  <param name="bgcolor" value="#ffffff"/>
  <param name="allowfullscreen" value="true"/>
  <embed allowfullscreen="true" bgcolor="#ffffff" height="395" name="FVS" pluginspage='http://www.macromedia.com/go/getflashplayer"' src="lipread-do-you-lipread_player.swf?2192024797" type="application/x-shockwave-flash" width="360"/>
 </object>
</blockquote>
