<blockquote>
 <hr align="left" color="#000000" size="1"/>
 <p style="margin-top: 0; margin-bottom: 0">
  The sign for "little" has quite a few variations.
  <br/>
  <p style="margin-top: 0; margin-bottom: 0">
   The general sign for "little" as in "small" uses "flat" hands to show the 
	size.
   <br/>
   <br/>
   LITTLE / small:
  </p>
  <p style="margin-top: 0; margin-bottom: 0">
  </p>
  <p style="margin-top: 0; margin-bottom: 0">
   <font face="Arial">
    <span style="font-weight: 400">
     <img border="0" height="320" src="/images/little.gif" width="320"/>
     <br/>
    </span>
   </font>
   <img border="0" height="234" src="/images/small1.jpg" width="192"/>
   <img border="0" height="234" src="/images/small2.jpg" width="192"/>
  </p>
  <p style="margin-top: 0; margin-bottom: 0">
   <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/EppPfgPx5rI?rel=0" width="560">
   </iframe>
   <br/>
  </p>
  <span style="font-weight: 400">
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
    <p align="left" style="margin-top: 0; margin-bottom: 0">
    </p>
   </font>
  </span>
  <p style="margin-top: 0; margin-bottom: 0">
   Little as in "a very small amount."
  </p>
  <p style="margin-top: 0; margin-bottom: 0">
   <img border="0" height="234" src="/images/small-b1.jpg" width="198"/>
   <img border="0" height="234" src="/images/small-b2.jpg" width="198"/>
   <br/>
   <br/>
  </p>
  <font face="Arial">
   <hr align="left" color="#000000" size="1"/>
  </font>
  <p style="margin-top: 0; margin-bottom: 0">
   <br/>
   Little as in "tiny."
   <br/>
   <img border="0" height="238" src="/images/small-c1.jpg" width="204"/>
   <img border="0" height="238" src="/images/small-c2.jpg" width="204"/>
  </p>
  <p style="margin-top: 0; margin-bottom: 0">
   <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/etDZh54TngU?rel=0" width="560">
   </iframe>
   <br/>
  </p>
  <p style="margin-top: 0; margin-bottom: 0">
  </p>
  <font face="Arial">
   <hr align="left" color="#000000" size="1"/>
  </font>
  <p style="margin-top: 0; margin-bottom: 0">
   <br/>
   Little as in "a little bit."
   <br/>
   <img border="0" height="237" src="/images/little-bit1.jpg" width="207"/>
   <img border="0" height="237" src="/images/little-bit2.jpg" width="207"/>
   <img border="0" height="237" src="/images/little-bit3.jpg" width="207"/>
   <img border="0" height="237" src="/images/little-bit4.jpg" width="207"/>
  </p>
  <p style="margin-top: 0; margin-bottom: 0">
   <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/_wbvHtct0kg?rel=0" width="560">
   </iframe>
   <br/>
   <br/>
   Sample sentence: Is your bedroom a little bit dirty?
  </p>
  <p style="margin-top: 0; margin-bottom: 0">
   <br/>
   <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/6MY8q8FcoNk?rel=0" width="560">
   </iframe>
   <br/>
  </p>
  <p style="margin-top: 0; margin-bottom: 0">
   Note:
   <br/>
   Actually, in that sentence (above) y
   <font face="Arial">
    ou don't really need 
	a separate sign for "little-bit" because
   </font>
   the concept of "little bit" could be incorporated into the sign "dirty" 
	by reducing the intensity of the sign "dirty."
   <br/>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
    <p style="margin-top: 0; margin-bottom: 0">
     Note: If you mean "little" as in 
	"little boy," you should use the sign "
     <a href="../s/short.htm">
      short-height
     </a>
     ."
    </p>
    <hr align="left" color="#000000" size="1"/>
   </font>
  </p>
 </p>
</blockquote>
