<blockquote>
 <p align="left" style="margin-top: 0; margin-bottom: 0">
  LLAMA-(animal, 
	Mexico Region, see discussion)
 </p>
 <p align="left" style="margin-top: 0; margin-bottom: 0">
 </p>
 <p align="left" style="margin-top: 0; margin-bottom: 0">
  <img border="0" height="300" src="/images/nature1.jpg" width="327"/>
  <img border="0" height="300" src="/images/nature2.jpg" width="327"/>
 </p>
 <p align="left" style="margin-top: 0; margin-bottom: 0">
  <br/>
  Robin DeLaRosa, a missionary serving in Cabo San Lucas Mexico, points out 
	that there are a couple different meanings for the word "llama." When 
	considering the correct sign for "llama" you have to know if you are 
	discussing "llama" the animal or "llama" the Spanish word for "call."
  <br/>
  <span style="font-size: 12.0pt; font-family: Arial">
   Regarding the sign for 
	"llama" (the
   <i>
    animal
   </i>
   ), in a message dated 6/4/04
  </span>
  David Peach, a 
	missionary serving in Mexico writes:
  <br/>
  "Touch the tips of your two middle fingers [the middle finger and the ring 
	finger] to the tip of your thumb on the same hand [your dominant hand]. Then 
	the index and pinkie fingers stick up to form the ears.  If using your 
	right hand, "walk" your llama to the left (or vice versa if you are left 
	handed). If done right, it kinda looks like a llama walking in front of you. 
	Your arm being the neck. You don't have to do this, but I think it looks 
	better. I don't put the tips of my fingers together, but rather the pads of 
	my fingers so that it looks more like the llama's nose. Interestingly, that 
	is also the sign for Bolivia."
  <br/>
  (Source: personal correspondence, 6/4/2010, Robin DeLaRosa, Apartado 640, 
	Cabo San Lucas, BCS, CP 23450 Mexico)
  <br/>
 </p>
</blockquote>
