<blockquote>
 <hr align="left" color="#000000" size="1"/>
 <p>
  Various locations
  <br/>
 </p>
 <hr color="#000000" size="1"/>
 <p>
  <br/>
  To sign "bottom" hold the dominant hand about six inches below the 
	non-dominant hand.
  <font face="Arial">
   The non-dominant hand doesn't move. The dominant hand does a down-up-down 
	patting movement. The movement is in the wrist.
  </font>
  Think of "patting the bottom of a box."
  <br/>
  <br/>
  Some people "circle" the dominant hand, but to me that means 
  "below/basic/beneath."
  <br/>
  <br/>
  BOTTOM:
 </p>
 <p>
  <img border="0" height="213" src="/images/bottom1.jpg" width="259"/>
  <img border="0" height="213" src="/images/bottom2.jpg" width="259"/>
  <img border="0" height="213" src="/images/bottom1.jpg" width="259"/>
  <img border="0" height="213" src="/images/bottom2.jpg" width="259"/>
  <br/>
 </p>
 <font face="Arial">
  <hr color="#000000" size="1"/>
 </font>
 <p>
  Compare
  <font face="Arial">
   :  "
   <a href="../b/basement.htm">
    BASEMENT
   </a>
   "
  </font>
 </p>
 <center>
  <hr color="#000000" size="1"/>
 </center>
 <p align="left">
  <br/>
  To sign "top," form both hands into flat hands.  Hold the non-dominant 
	hand (generally) vertical.  Then use the dominant hand to pat the "top" 
	of the non-dominant hand twice.  In my example below I wish I had held 
	my left hand a bit more vertical, but then again this might be a good time 
	to point out that there is a "citation" version of a sign (the full, pretty, 
	complete, carefully enunciated version) and the "casual" (sloppy, 
	half-formed, lazy) way that most of us Deaf actually do sign on a daily 
	basis.
 </p>
 <p align="left">
  <br/>
  TOP:
  <br/>
  <img border="0" height="214" src="/images/locati1.jpg" width="212"/>
  <img border="0" height="214" src="/images/locati2.jpg" width="212"/>
  <img border="0" height="214" src="/images/locati3.jpg" width="212"/>
  <img border="0" height="214" src="/images/locati2.jpg" width="212"/>
  <img border="0" height="214" src="/images/locati3.jpg" width="212"/>
  <br/>
 </p>
 <center>
  <hr color="#000000" size="1"/>
  <p align="left">
   <br/>
   "on the LEFT side"
   <br/>
   <br/>
   The movement for this sign is similar to patting a wall on your left. Pat it 
  twice with your fingers. The movement is in the wrist (not the arm).
   <br/>
   <img border="0" height="212" src="/images/locati4.jpg" width="197"/>
   <img border="0" height="212" src="/images/locati5.jpg" width="197"/>
   <img border="0" height="212" src="/images/locati6.jpg" width="197"/>
   <img border="0" height="212" src="/images/locati7.jpg" width="197"/>
  </p>
  <p align="left">
   <br/>
   Click for an for an animation of:
   <a href="/images/left-ontheleftside.gif">
    "on the left side"
   </a>
   <br/>
  </p>
  <hr color="#000000" size="1"/>
 </center>
 <p align="left">
  <br/>
  "on the right side"
  <br/>
  The movement for "on the right side" is as if you were patting a wall on 
	your right. It is an awkward little sign but it still the one we use.
  <br/>
  <img border="0" height="217" src="/images/locati8.jpg" width="217"/>
  <img border="0" height="217" src="/images/locati9.jpg" width="217"/>
  <img border="0" height="217" src="/images/locati10.jpg" width="217"/>
  <img border="0" height="217" src="/images/locati11.jpg" width="217"/>
  <br/>
 </p>
 <center>
  <p align="left">
   <a href="/images/right-ontherightside.gif">
    Animation: "on the right side"
   </a>
   <br/>
  </p>
 </center>
 <font face="Arial">
  <hr align="left" color="#000000" size="1"/>
  <p align="left">
   Also see:
   <a href="../r/right.htm">
    RIGHT
   </a>
  </p>
  <hr align="left" color="#000000" size="1"/>
  <p align="center" style="margin-top: 0; margin-bottom: 0">
   <font face="Arial" size="1">
    You can learn
    <a href="http://lifeprint.com" style="text-decoration: none">
     American Sign Language (ASL)
    </a>
    online at American Sign Language University ™
    <br/>
    <a href="http://asl.ms" style="text-decoration: none">
     ASL
    </a>
    resources by Lifeprint.com  ©  Dr. William Vicars
   </font>
  </p>
 </font>
</blockquote>
