<blockquote>
 <hr align="left" color="#000000" size="1"/>
 This page describes the type of mean that means ornery or cantankerous.
 <br/>
 If you are looking for the concept "mean" as in "What does that mean?" or as 
in: "purpose, sake,
explanation for, or intent" see the
 <a href="meaning.htm">
  meaning.htm
 </a>
 page.
 <hr align="left" color="#000000" size="1"/>
 <p>
  <br/>
  MEAN / cruel:
 </p>
 <p>
  <font face="Arial">
   <img border="0" height="237" src="/images/meancruel1.jpg" width="227"/>
   <img border="0" height="237" src="/images/meancruel2.jpg" width="227"/>
   <img border="0" height="237" src="/images/meancruel3.jpg" width="227"/>
   <img border="0" height="237" src="/images/meancruel4.jpg" width="227"/>
   <br/>
   <br/>
   Sample sentence: "Do you think most dogs are friendly or are they mean?" = 
YOU THINK MOST DOG FRIENDLY, MEAN, WHICH?
   <br/>
   <br/>
  </font>
  <object classid="CLSID:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=8,0,0,0" height="275" id="FVS0" width="320">
   <param name="movie" value="../19/you-think-most-dog-friendly-or-mean-which_player.swf?120988765"/>
   <param name="bgcolor" value="#ffffff"/>
   <param name="allowfullscreen" value="true"/>
   <embed allowfullscreen="true" bgcolor="#ffffff" height="275" name="FVS0" pluginspage='http://www.macromedia.com/go/getflashplayer"' src="../19/you-think-most-dog-friendly-or-mean-which_player.swf?120988765" type="application/x-shockwave-flash" width="320"/>
  </object>
 </p>
 <p>
 </p>
 <font face="Arial">
  <hr align="left" color="#000000" size="1"/>
 </font>
 <p>
 </p>
 <p>
  <font face="Arial">
   MEAN (alternate / regional version) (not recommended)
  </font>
 </p>
 <p>
  <br/>
  <img border="0" height="237" src="/images/meanc1.jpg" width="227"/>
  <img border="0" height="237" src="/images/meanc2.jpg" width="227"/>
  <img border="0" height="237" src="/images/meanc3.jpg" width="227"/>
  <br/>
 </p>
 <p>
  MEAN!
 </p>
 <p>
  <object classid="CLSID:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,22,0" height="275" id="FVS" width="352">
   <param name="movie" value="mean01_player.swf?611132732"/>
   <param name="bgcolor" value="#ffffff"/>
   <embed bgcolor="#ffffff" height="275" name="FVS" pluginspage='http://www.macromedia.com/go/getflashplayer"' src="mean01_player.swf?611132732" type="application/x-shockwave-flash" width="352"/>
  </object>
 </p>
 <p>
 </p>
 <hr align="left" color="#000000" size="1"/>
 <p style="margin-top: 0; margin-bottom: 0">
  Also see:
  <a href="meaning.htm">
   <font face="Arial">
    MEAN
   </font>
  </a>
  (As in: purpose, sake, explanation for, or intent).
 </p>
 <font face="Arial">
  <hr align="left" color="#000000" size="1"/>
 </font>
</blockquote>
