<blockquote>
 <hr align="left" color="#000000" size="1"/>
 <font face="Arial">
  <p style="margin-top: 0; margin-bottom: 0">
   The sign for "mistake" also means "wrong" and it has a couple of variations.
   <hr align="left" color="#000000" size="1"/>
   <p style="margin-top: 0; margin-bottom: 0">
    <br/>
    MISTAKE / inaccurate / "be wrong" / "an error"
    <br/>
    <img border="0" height="239" src="/images/wrong1.jpg" width="225"/>
    <img border="0" height="239" src="/images/wrong2.jpg" width="225"/>
    <br/>
    <br/>
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p>
    <br/>
    The sign for MISTAKE has a variation that can mean "make a mistake," "make an 
	error," or "have an accident."  The movement twists a 
	"Y-hand" across the chin. This version is often used as a type of 
	conjunction connecting parts of a story.
    <br/>
    <br/>
    MISTAKE / "make a mistake" / "have an accident" / "whoops"
    <br/>
    <img border="0" height="239" src="/images/wrong-opps1.jpg" width="218"/>
    <img border="0" height="239" src="/images/wrong-opps2.jpg" width="218"/>
    <img border="0" height="239" src="/images/wrong-opps3.jpg" width="218"/>
    <br/>
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p>
    <br/>
    Sample sentence:
    <br/>
    How many errors did you get on the last (previous) test you took in this 
	class?
    <br/>
    = PAST TEST THIS CLASS YOU WRONG how-MANY?
    <br/>
    <br/>
    <object classid="CLSID:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=8,0,0,0" height="275" id="FVS" width="320">
     <param name="movie" value="../13/past-test-this-class-you-how-many-wrong_player.swf?900119622"/>
     <param name="bgcolor" value="#ffffff"/>
     <param name="allowfullscreen" value="true"/>
     <embed allowfullscreen="true" bgcolor="#ffffff" height="275" name="FVS" pluginspage='http://www.macromedia.com/go/getflashplayer"' src="../13/past-test-this-class-you-how-many-wrong_player.swf?900119622" type="application/x-shockwave-flash" width="320"/>
    </object>
   </p>
  </p>
 </font>
 <p style="margin-top: 0; margin-bottom: 0">
  <font face="Arial">
   <hr align="left" color="#000000" size="1"/>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
    <font face="Arial" size="1">
     You can learn
     <a href="http://lifeprint.com" style="text-decoration: none">
      American Sign Language (ASL)
     </a>
     online at American Sign Language University ™
     <br/>
     <a href="http://asl.ms" style="text-decoration: none">
      ASL
     </a>
     resources by Lifeprint.com  ©  Dr. William Vicars
    </font>
   </p>
  </font>
 </p>
</blockquote>
