<blockquote style="PADDING-LEFT: 5px; MARGIN-LEFT: 5px; BORDER-LEFT: #0000ff 2px solid; MARGIN-RIGHT: 0px" type="CITE">
 <p>
  At my school we h
  <font ptsize="10">
   ave a pre-school class with students that use 
        sign.  We need the signs for Mole,  Badger,  &amp;  
        Hedgehog.    Also could you recommend a good sign 
        language dictionary (computer disk or book) for us to use.
        THANK YOU SO MUCH FOR ANY HELP YOU CAN GIVE ME
   <br/>
   Jolene S.
   <br/>
   Guthrie Center Elem. School
  </font>
 </p>
</blockquote>
