<blockquote>
 <font face="Arial">
  <hr align="left" color="#000000" size="1"/>
  <p>
   The sign for "monkey" is easy to do -- just act like 
			one. Scratch your sides twice.
   <br/>
   <br/>
  </p>
  <p>
   MONKEY:
  </p>
  <p>
   <img border="0" height="235" src="/images/monkey1.jpg" width="258"/>
   <img border="0" height="235" src="/images/monkey2.jpg" width="258"/>
   <img border="0" height="235" src="/images/monkey3.jpg" width="258"/>
   <img border="0" height="235" src="/images/monkey4.jpg" width="258"/>
   <img border="0" height="235" src="/images/monkey1.jpg" width="258"/>
   <img border="0" height="235" src="/images/monkey2.jpg" width="258"/>
   <img border="0" height="235" src="/images/monkey3.jpg" width="258"/>
   <img border="0" height="235" src="/images/monkey4.jpg" width="258"/>
  </p>
  <p>
  </p>
  <hr align="left" color="#000000" size="1"/>
  <p>
   For a discussion regarding how to sign specific types of 
			primates, see:
   <a href="monkey-advanced.htm">
    MONKEY (advanced)
   </a>
   <br/>
   Also see:
   <a href="../a/ape.htm">
    APE
   </a>
  </p>
  <hr align="left" color="#000000" size="1"/>
  <p align="center" style="margin-top: 0; margin-bottom: 0">
   <font face="Arial" size="1">
    You can learn American
    <a href="http://www.lifeprint.com" style="text-decoration: none">
     Sign 
		Language
    </a>
    (ASL) online at American Sign Language University ™
    <br/>
    <a href="http://asl.ms" style="text-decoration: none">
     ASL
    </a>
    resources 
		by Lifeprint.com  ©  Dr. William Vicars
   </font>
  </p>
 </font>
</blockquote>
