<blockquote>
 <hr align="left" color="#000000" size="1"/>
 <p style="margin-top: 0; margin-bottom: 0">
  The sign for "need" can be used to represent 
	a number of related concepts.
  <font face="Arial">
   <hr align="left" color="#000000" size="1"/>
  </font>
  <p style="margin-top: 0; margin-bottom: 0">
   <b>
    <br/>
    Sign
   </b>
   :  need / need to / must / should / ought-to / have-to
   <br/>
   <b>
    Handshape
   </b>
   :  "x"
   <br/>
   <b>
    Location
   </b>
   : In front of you, off to the right side a bit.
   <br/>
   <b>
    Orientation
   </b>
   : starts palm forward, ends palm down
   <br/>
   <b>
    Movement
   </b>
   :  "x" hand bends downward from the wrist
   <br/>
   <b>
    Non-Manual Marker
   </b>
   (Facial expressions and or body language): Use a 
	stronger facial expression to indicate a greater degree of imperative.
   <br/>
   <br/>
   The faster, "harsher," and more exaggerated you do this sign, the
  more of a "requirement" exists to "do something." 
	If you do this sign with a single, strong movement--it means
  need as in:  must, have-to, "not much choice in the
  matter." If you use a double motion it means need as in: ought-to, should,
  "some choice in the matter."
   <br/>
  </p>
  <p style="margin-top: 0; margin-bottom: 0">
   <iframe allow="autoplay; encrypted-media" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/Eo-vEE1gFxM?rel=0" width="560">
   </iframe>
   <br/>
  </p>
  <font face="Arial">
   <hr align="left" color="#000000" size="1"/>
  </font>
  <p style="margin-top: 0; margin-bottom: 0">
   <br/>
   "MUST or HAVE-TO" using a single motion:
   <br/>
   <font size="2">
    The m
   </font>
   <font face="Arial" size="2">
    ovement is downward.  Starts and ends in an "x" handshape. 
	The movement is 
	mainly in the wrist not the arm.
   </font>
   <br/>
   <img border="0" src="/images/need.gif" style="max-width: 100%; height: auto" width="480"/>
   <img border="0" height="223" src="/images/need1.jpg" width="236"/>
   <img border="0" height="223" src="/images/need2.jpg" width="236"/>
   <br/>
  </p>
  <hr color="#800080"/>
  <p align="left" style="margin-top: 0; margin-bottom: 0">
   <br/>
   "SHOULD, OUGHT-TO"
   <br/>
   Use a double movement:
  </p>
  <p align="left" style="margin-top: 0; margin-bottom: 0">
  </p>
  <p align="left" style="margin-top: 0; margin-bottom: 0">
   <font face="Arial">
    <img border="0" height="480" src="/images/need-double-movement.gif" width="480"/>
   </font>
   <iframe allow="autoplay; encrypted-media" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/B84UGJp2vg0?rel=0" width="560">
   </iframe>
  </p>
  <p align="left" style="margin-top: 0; margin-bottom: 0">
  </p>
  <p align="left" style="margin-top: 0; margin-bottom: 0">
   <img border="0" height="480" src="/images/need-01.jpg" width="480"/>
   <img border="0" height="480" src="/images/need-02.jpg" width="480"/>
   <img border="0" height="480" src="/images/need-03.jpg" width="480"/>
   <img border="0" height="480" src="/images/need-04.jpg" width="480"/>
  </p>
  <p align="left" style="margin-top: 0; margin-bottom: 0">
  </p>
  <p align="left" style="margin-top: 0; margin-bottom: 0">
   <font face="Arial">
    "SHOULD, OUGHT-TO" (side view):
   </font>
  </p>
  <p align="left" style="margin-top: 0; margin-bottom: 0">
  </p>
  <p align="left" style="margin-top: 0; margin-bottom: 0">
   <img border="0" height="480" src="/images/need-double-movement-side-view.gif" width="480"/>
  </p>
  <p align="left" style="margin-top: 0; margin-bottom: 0">
  </p>
  <p style="margin-top: 0; margin-bottom: 0">
   <img border="0" height="480" src="/images/need-side-view-01.jpg" width="480"/>
   <img border="0" height="480" src="/images/need-side-view-02.jpg" width="480"/>
   <img border="0" height="480" src="/images/need-side-view-03.jpg" width="480"/>
   <img border="0" height="480" src="/images/need-side-view-04.jpg" width="480"/>
  </p>
  <hr color="#800080"/>
  <p style="margin-top: 0; margin-bottom: 0">
   MUST/HAVE-TO:
   <br/>
   <br/>
   Let me give you an exaggerated example of this concept showing an extreme
  "HAVE-TO":
   <br/>
   <img border="0" height="225" src="/images/must1.jpg" width="269"/>
   <img border="0" height="225" src="/images/must2.jpg" width="269"/>
   <img border="0" height="225" src="/images/must3.jpg" width="269"/>
   <br/>
  </p>
  <font face="Arial">
   <hr align="left" color="#000000" size="1"/>
   <p style="margin-top: 0; margin-bottom: 0">
    <br/>
    Notes:
    <br/>
    &lt;&lt; In a message dated 5/10/2012 6:34:36 A.M. Pacific Daylight Time, Paul 
	Dunn writes:
    <br/>
    <br/>
    Dear
			Dr. Bill,
    <br/>
    Just wondering about the sign for "need to." I see the sign for 
			must/have-to, ought-to/should, and need....but what about 
			specifically "need to."
    <br/>
    For example, "i need to do my homework" and "i need money" use 
			"need" in slightly different ways. I supposed the homework sentence 
			is the
    <br/>
    same as saying "i must do my homework"....either way, I have Deaf 
			friends that all sign "need to" by using the sign for "need" and 
			then
			fingerspelling "to." They themselves are not sure if they are using 
			ESL or ASL when doing this.
    <br/>
    Thanks!!
    <br/>
    - Paul
    <br/>
    &gt;&gt;
    <br/>
    <br/>
    Dear Paul,
    <br/>
    In ASL the sign "NEED" automatically includes the concept of "to." 
			Thus you and your friends do not need to fingerspell nor sign "to" 
			when signing the concept of "need to."
    <br/>
    - Dr. Bill
    <br/>
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p style="margin-top: 0; margin-bottom: 0">
    <br/>
    In a message dated 7/7/2012 2:58:32 P.M. Pacific Daylight Time, a 12-year 
	old young lady from the east coast writes:
    <br/>
    <br/>
    "I wanted to know the difference between the ASK sign and the sign for 
	NEED."
    <br/>
    Thanks,
    <br/>
    - Devon
    <br/>
    <br/>
    Dear Devon,
    <br/>
    <a href="../a/ask.htm">
     ASK
    </a>
    : Starts as a straight index finger that turns 
	into an "X" as it moves toward the person being asked.
    <br/>
    NEED: Starts as an "X" and bends at the wrist.
    <br/>
    - Dr. Bill
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p style="margin-top: 0; margin-bottom: 0">
    In a message dated 8/4/2012 
	12:14:05 P.M. Pacific Daylight Time, sammydgp writes:
    <br/>
    <br/>
    I am learning ASL via your website. I showed my mother the sign for "need" 
	and she said that instead of moving my wrist, I should move my finger into a 
	bent position, so that my finger is in the "e" position ( with my other 
	fingers remaining still.) Is this an acceptable variation?
    <br/>
    -Sammy
    <br/>
    <br/>
    Dear Sammy,
    <br/>
    I recommend you start with an "X"-handshape (the fingerspelled letter "X") 
	and then bend it downward from the wrist.
    <br/>
    If you start with a straight index finger and just bend the finger into an 
	"X"-handshape then it looks a bit like the "qm-wig" (question mark wiggle) 
	sign and/or the "ASK-to" sign.
    <br/>
    So...at the risk of getting on your mom's crap list, I'm going to have to 
	suggest that I don't think you should do it "her" way.
    <i>
     Sorry
    </i>
    .
    <br/>
    - Dr. Bill
    <br/>
   </p>
   <hr align="left" color="#000000" size="1"/>
  </font>
 </p>
</blockquote>