<blockquote>
 <hr align="left" color="#000000" size="1"/>
 <p>
  <br/>
  Regarding a person who is nearby or it is the person who is next to you.
  <br/>
 </p>
 <p>
  <br/>
  NEIGHBOR:
 </p>
 <p>
  <img border="0" src="/images/neighbor-suffix.gif" style="max-width: 100%; height: auto" width="480"/>
 </p>
 <p>
  <img border="0" height="231" src="/images/neighbor1.jpg" width="262"/>
  <img border="0" height="231" src="/images/neighbor2.jpg" width="262"/>
  <img border="0" height="231" src="/images/neighbor3.jpg" width="262"/>
  <img border="0" height="231" src="/images/neighbor4.jpg" width="262"/>
  <br/>
 </p>
 <hr align="left" color="#000000" size="1"/>
 <p>
  <br/>
  NEIGHBOR (version 2)  (next one over + person)
  <br/>
  <font face="Arial" size="2">
   <img border="0" src="/images/neighbor-next-to-me.gif" style="max-width: 100%; height: auto" width="480"/>
  </font>
 </p>
 <p>
  <img border="0" height="236" src="/images/neighborb1.jpg" width="272"/>
  <img border="0" height="236" src="/images/neighborb2.jpg" width="272"/>
  <img border="0" height="236" src="/images/neighborb3.jpg" width="272"/>
  <br/>
 </p>
 <p style="margin-top: 0; margin-bottom: 0">
  <br/>
 </p>
 <font face="Arial">
  <hr align="left" color="#000000" size="1"/>
 </font>
</blockquote>
