<blockquote>
 <font face="Arial">
  <hr align="left" color="#000000" size="1"/>
  <p>
   The sign for "New York" is to slide a "Y" hand forward 
			and back on the palm of the non-dominant hand.
   <br/>
   If you need to specify "New York, city" vs "New York, state" you can 
			add the
   <a href="../c/city.htm" style="text-decoration: none">
    CITY
   </a>
   sign or the
   <a href="../s/state.htm" style="text-decoration: none">
    STATE
   </a>
   sign.
  </p>
  <p>
  </p>
  <p>
   NEW YORK:
  </p>
  <p>
   <img border="0" height="236" src="/images/newyor1.jpg" width="283"/>
   <img border="0" height="236" src="/images/newyor2.jpg" width="283"/>
   <img border="0" height="236" src="/images/newyor1.jpg" width="283"/>
   <img border="0" height="236" src="/images/newyor2.jpg" width="283"/>
  </p>
  <hr align="left" color="#000000" size="1"/>
  <p>
   Here's another view:
  </p>
  <p>
   .
   <img border="0" height="238" src="/images/newyor3.jpg" width="304"/>
   <img border="0" height="238" src="/images/newyor4.jpg" width="304"/>
   <img border="0" height="238" src="/images/newyor3.jpg" width="304"/>
  </p>
  <hr align="left" color="#000000" size="1"/>
  <p>
  </p>
  <p>
   You might see a version in which the right "Y" hand slides 
			forward and back one time:
   <br/>
   <img border="0" height="239" src="/images/newyor21.jpg" width="226"/>
   <img border="0" height="239" src="/images/newyor22.jpg" width="226"/>
   <img border="0" height="239" src="/images/newyor21.jpg" width="226"/>
  </p>
  <p>
  </p>
  <p>
   Animation: NEW-YORK
  </p>
  <p>
   <img border="0" height="129" src="/images/newyork.gif" width="303"/>
  </p>
  <p>
   <br/>
  </p>
  <p>
   NEW YORK CITY:
  </p>
  <p>
   <object classid="CLSID:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=8,0,0,0" height="275" id="FVS" width="320">
    <param name="movie" value="new-york-city_player.swf?2830822460"/>
    <param name="bgcolor" value="#ffffff"/>
    <param name="allowfullscreen" value="true"/>
    <embed allowfullscreen="true" bgcolor="#ffffff" height="275" name="FVS" pluginspage='http://www.macromedia.com/go/getflashplayer"' src="new-york-city_player.swf?2830822460" type="application/x-shockwave-flash" width="320"/>
   </object>
  </p>
  <p>
   <font face="Arial" size="1">
    (Model: Byron Cantrell)
   </font>
   <br/>
  </p>
  <hr align="left" color="#000000" size="1"/>
  <p align="center" style="margin-top: 0; margin-bottom: 0">
   <font face="Arial" size="1">
    You can learn
    <a href="http://www.lifeprint.com" style="text-decoration: none">
     American Sign Language (ASL)
    </a>
    online at American Sign Language University ™
    <br/>
    <a href="http://asl.ms" style="text-decoration: none">
     ASL
    </a>
    resources by Lifeprint.com  ©  Dr. William Vicars
   </font>
  </p>
 </font>
</blockquote>
