<blockquote>
 <hr align="left" color="#000000" size="1"/>
 <p>
  This sign can mean typical, ordinary, and "of course."
  <br/>
  While the movement can go either way, I'm going to recommend you do it with 
a clockwise movement that spirals up and then drops down. But of course you 
should do it however your local instructor or Deaf friends do it.
  <br/>
 </p>
 <p>
  NORMAL:
 </p>
 <p>
  <img border="0" height="220" src="/images/normal7.jpg" width="225"/>
  <img border="0" height="220" src="/images/normal8.jpg" width="225"/>
  <img border="0" height="220" src="/images/normal9.jpg" width="225"/>
  <img border="0" height="220" src="/images/normal10.jpg" width="225"/>
  <br/>
 </p>
 <p>
  <object classid="CLSID:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,22,0" height="275" id="FVS" width="352">
   <param name="movie" value="normal_flash_player.swf?2233812729"/>
   <param name="bgcolor" value="#000000"/>
   <embed bgcolor="#000000" height="275" name="FVS" pluginspage='http://www.macromedia.com/go/getflashplayer"' src="normal_flash_player.swf?2233812729" type="application/x-shockwave-flash" width="352"/>
  </object>
 </p>
 <p>
 </p>
 <hr align="left" color="#000000" size="1"/>
 <br/>
 Here's an example of the movement going the other direction.
 <br/>
 Again, you will see it both ways, but "today" I'm advocating you do it like 
the way I do in the first example above (use a clockwise movement).
 <br/>
 <br/>
 <img border="0" height="237" src="/images/normal14.jpg" width="265"/>
 <img border="0" height="237" src="/images/normal15.jpg" width="265"/>
 <img border="0" height="237" src="/images/normal16.jpg" width="265"/>
 <img border="0" height="237" src="/images/normal17.jpg" width="265"/>
 <img border="0" height="237" src="/images/normal18.jpg" width="265"/>
 <br/>
 <font face="Arial">
  <hr align="left" color="#000000" size="1"/>
 </font>
</blockquote>
