<blockquote>
 <hr align="left" color="#000000" size="1"/>
 The concept of "Nursing Home" can be expressed in a couple of 
			different ways.
 <br/>
 <br/>
 Some Deaf people are more "bilingual" than others and have adopted 
			the English word "nurse" and compounded it with "home" to mean 
			"nursing home."
 <br/>
 <br/>
 Some "ASL" instructors will tell you to spell "nursing" then 
			sign "HOME."   I suppose that is a "safe" answer.
 <br/>
 <font face="Arial">
  If the person with whom you are signing doesn't 
			understand what it means, sure, you can
  <i>
   explain
  </i>
  that it 
			means:  "HOME FOR 
			OLD PEOPLE."  Remember though, that is an explanation not a 
			"suggested sign."
  <br/>
  <br/>
  I'm going to go ahead and suggest that you sign
  <b>
   NURSE-HOME
  </b>
  but I'll caution you that not everyone will agree with that sign.
  <br/>
  Another option (see below) is to sign SENIOR-CITIZEN-HOME -- which I 
			think is a decent choice.
  <br/>
  Also TAKE-CARE-HOME (compound sign with reduced movements) seems to 
			work very well (see below).
  <br/>
  - Dr. Bill
  <br/>
 </font>
 <font face="Arial">
  <hr align="left" color="#000000" size="1"/>
 </font>
 <p>
  <font face="Arial">
   <br/>
   In a message dated 1/28/2014 9:00:18 A.M. Pacific Standard Time, 
			Kara Kruger writes:
   <br/>
   <br/>
   I love your site and recommend it to a lot of people. I work as a 
			case manager to deaf senior citizens and as they age, many are 
			needing to move to group homes and nursing homes where staff does 
			not know sign language. I would love to see a section like “First 
			100 signs” for this type of situation. The most important things 
			would be activity signs for basic senior games, feelings, pain, 
			injury signs, mealtime signs, medical basics, some basic safety 
			signs like fire drill.
   <br/>
   Just an idea for a great page that would be very helpful in my every 
			day work!
   <br/>
   Thanks.
   <br/>
   - Kara Kruger
   <br/>
   Family Care Case Manager
   <br/>
  </font>
 </p>
 <font face="Arial">
  <hr align="left" color="#000000" size="1"/>
 </font>
 <p>
 </p>
 <p>
  In a message dated 1/18/2017 7:32:14 A.M. Pacific Standard Time, 
			Lyn writes:
  <font face="Arial">
   <br/>
  </font>
 </p>
 <div dir="ltr">
  <div>
   I like your discussion of the various signs for nursing 
					home.  In this area and in Seattle I occasionally see:  
					senior-citizens, home (senior citizens as sign with an S at 
					dominant corner of the mouth and then moving hand to the 
					non-dominant corner of the mouth and signing C).
  </div>
  <div>
   A certified interpreter in Seattle told me that she was 
					taught that 'senior-citizens home' is less harsh (her words) 
					and more respectful than 'old persons' home.'  In her words, 
					"Just like when we speak by voice, referring to someone as a 
					'senior citizen' is more respectful than calling them an 
					 'old person.'
  </div>
  <div>
   As for me, I'm an 'old-person-senior-citizen' so either of 
					those terms/signs are okay with me :)
  </div>
  <div>
   Is the sign 'senior-citizen, home' acceptable for 'nursing 
					home' as well - or not?  Your thoughts?
  </div>
 </div>
 <p>
  <font face="Arial">
   - Lyn
   <br/>
   <br/>
   --------------------
   <br/>
   Dear Lyn,
   <br/>
   I think that "SENIOR-CITIZENS HOME" version is really neat.
   <br/>
   I also sort of like the idea of a "TAKE-CARE HOME" -- using the sign 
			that looks like KEEP.  Typically I do the sign TAKE-CARE-of 
			using a double movement but I find myself tending to using a single 
			contact of the K-hands followed by a single contact of the HOME 
			sign. (Thus it is expressed as a compound.)
   <br/>
   -- Bill
   <br/>
   --------------------
   <br/>
   <br/>
   <br/>
   In a message dated 1/18/2017 3:04:21 P.M. Pacific Standard Time, Lyn  
			writes:
   <br/>
   <br/>
   I LIKE your suggestion: take-care-of, home. I think it is respectful 
			and suitable - - because many people in nursing homes are relatively 
			or quite young and in the facilities because they require special 
			health care. I had a cousin who, in a drunken stupor at a party, 
			dove into an empty swimming pool (he was 32 years old) and was 
			paralyzed from the neck down. He was in a nursing home from his 
			thirties until he passed away in his 60s.
   <br/>
   So 'take-care-of, home' appeals to me. Thank you for that 
			suggestion.
   <br/>
   <br/>
   --------------------
   <br/>
   Lyn,
   <br/>
  </font>
  GOOD point! (About the fact that nursing homes are not just 
			for "old" people.) I think I'm going to bump up the TAKE-CARE-HOME 
			(compound sign with reduced movements) as a suggested version.  
			"NURSE-HOME" is still prevalent so it needs to stay on the page but 
			it is good to provide other options.
  <br/>
  Also, I'm sure there are a lot of "nurses" who would take offense at 
			the idea that the word "nursing" is "harsh."
  <font face="Arial">
   <br/>
   <br/>
  </font>
 </p>
 <font face="Arial">
  <hr align="left" color="#000000" size="1"/>
 </font>
 <p>
  <font face="Arial">
   <br/>
   <u>
    Nursing Home Signs
   </u>
   :
  </font>
  <br/>
  Games/Activities:  BINGO / CARDS / EXERCISE / DEAF CLUB
  <br/>
  People:  FAMILY / SON / DAUGHTER / GUARDIAN / SOCIAL WORKER
  <br/>
  Feelings:  FINE GOOD OKAY glad-HAPPY LONELY / CONFUSED / ANGRY
  <br/>
  Social:  MEET / WELCOME / GOOD-MORNING-AFTERNOON-NIGHT / VISIT 
			/ BIRTHDAY / TRANSPORTATION / LATE / CANCELED
  <font face="Arial">
   / WAIT
  </font>
  <br/>
  Safety: FIRE-DRILL / TORNADO-DRILL / EMERGENCY-TESTING
  <br/>
  Medical: PAIN-INJURY / BANDAGE / CHANGE / take-PILL / NURSE / DOCTOR 
			/ SICK / INJECTION / MEDICINE
  <font face="Arial">
   / FALL-down
  </font>
  <br/>
  Mealtime: EAT / DRINK / DON’T LIKE / HOT / COLD
  <br/>
  Hygiene: BATHROOM / SHOWER / BATH /
 </p>
 <p>
  <font face="Arial">
   Equipment:  WHEELCHAIR / WALKER / GLASSES / HEARING-AID
  </font>
  <br/>
 </p>
 <font face="Arial">
  <hr align="left" color="#000000" size="1"/>
  <p align="center" style="margin-top: 0; margin-bottom: 0">
   <font face="Arial" size="1">
    You can learn
    <a href="http://lifeprint.com" style="text-decoration: none">
     American Sign Language (ASL)
    </a>
    online at American Sign Language University ™
    <br/>
    <a href="http://asl.ms" style="text-decoration: none">
     ASL
    </a>
    resources by Lifeprint.com  ©  Dr. William Vicars
   </font>
  </p>
 </font>
</blockquote>
