<blockquote>
 <hr align="left" color="#000000" size="1"/>
 <p>
  Much of the time this concept is just fingerspelled.
  <br/>
  The fingerspelled form of "OFF" uses a strong quick movement. (
  <a href="../../topics/lexicalized_fingerspelling.htm">
   lexicalized
  </a>
  )
  <br/>
  This would be a good version to use in the sentence, "Take your shoes off," 
	which would be signed: "SHOES O-F-F."
  <br/>
  <br/>
  OFF:  (fingerspelled version)
  <br/>
  <img border="0" src="/images/off-fs.gif" style="max-width: 100%; height: auto" width="480"/>
  <img border="0" height="235" src="/images/offc1.jpg" width="237"/>
  <img border="0" height="235" src="/images/offc2.jpg" width="237"/>
  <img border="0" height="235" src="/images/offc2.jpg" width="237"/>
 </p>
 <p>
  <iframe allow="autoplay; encrypted-media" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/0NT8n6PZ4pI?rel=0" width="560">
  </iframe>
 </p>
 <font face="Arial">
  <hr align="left" color="#000000" size="1"/>
 </font>
 <p>
  You could use the fingerspelled version of "off" to turn off an appliance 
	or a computer, but another common and very clear sign is the sign for "power 
	off."  This is a good version for such concepts as "
  <b>
   shut down a 
	computer
  </b>
  ," "power outage," o
  <font face="Arial">
   r even "turn off your 
	headlights."
   <br/>
   <br/>
   POWER OFF:
  </font>
  <br/>
  <img border="0" height="228" src="/images/offb1.jpg" width="222"/>
  <img border="0" height="228" src="/images/offb2.jpg" width="222"/>
 </p>
 <p>
  <iframe allow="autoplay; encrypted-media" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/0aux6b4MDSQ?rel=0" width="560">
  </iframe>
 </p>
 <font face="Arial">
  <hr align="left" color="#000000" size="1"/>
 </font>
 <p>
  Here is a general sign for "OFF."  In "Signed English" this sign 
	means the same as the English word "off."
  <font face="Arial">
   Instead of using this sign, you should ask yourself, "Is there some more 
	appropriate way to communicate the concept "off?"
  </font>
  In ASL this sign is generally only used to show a flat object such as a blanket, tarp, piece 
	of paper, lid, etc. "blowing off," or "coming off."
  <br/>
  <br/>
  OFF:
  <br/>
  <font face="Arial">
   <img border="0" src="/images/off.gif" style="max-width: 100%; height: auto" width="480"/>
  </font>
  <img border="0" height="228" src="/images/off1.jpg" width="222"/>
  <img border="0" height="228" src="/images/off2.jpg" width="222"/>
  <br/>
  Sometimes you may see adult Deaf doing this sign with little kids. In those instances it is being used as "motherese." 
	(The specialized type of communication that takes place between adults and 
	small children.)
  <br/>
 </p>
 <font face="Arial">
  <hr align="left" color="#000000" size="1"/>
 </font>
 <p>
  OFF: "knob version."  Turn a gadget off.
  <br/>
  <img border="0" height="235" src="/images/offd1.jpg" width="235"/>
  <img border="0" height="235" src="/images/offd2.jpg" width="235"/>
  <br/>
 </p>
 <font face="Arial">
  <hr align="left" color="#000000" size="1"/>
 </font>
 <p>
  OFF:  "Switch version."  Flip a switch off.
  <br/>
  <img border="0" height="225" src="/images/offe1.jpg" width="252"/>
  <img border="0" height="225" src="/images/offe2.jpg" width="252"/>
 </p>
 <font face="Arial">
  <hr align="left" color="#000000" size="1"/>
 </font>
 <p>
  "Turn off the lights."
  <br/>
  <img border="0" height="210" src="/images/light-overhead3.jpg" width="298"/>
  <img border="0" height="210" src="/images/light-overhead1.jpg" width="298"/>
 </p>
 <p>
  <iframe allow="autoplay; encrypted-media" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/nh_PLvAkWpU?rel=0" width="560">
  </iframe>
 </p>
 <font face="Arial">
  <hr align="left" color="#000000" size="1"/>
 </font>
</blockquote>
