<blockquote>
 <hr align="left" color="#000000" size="1"/>
 The generally accepted sign for "office" uses an initialized form of 
the sign "box" or "room." (See:
 <a href="../r/room.htm">
  ROOM
 </a>
 )
 <br/>
 However, it is
 <i>
  very common
 </i>
 to see people spell the word 
O-F-F-I-C-E.
 <hr align="left" color="#000000" size="1"/>
 <p>
  <br/>
  If you are a good fingerspeller feel free to just spell office.  You 
should also learn the following sign so you will recognize it in case 
someone uses it while chatting with you.  As always, you should do this 
sign however it is done by your local teacher or
  <i>
   local Deaf community
  </i>
  .
  <br/>
  <br/>
  OFFICE:
 </p>
 <p>
  <img border="0" height="213" src="/images/office1.jpg" width="218"/>
  <img border="0" height="213" src="/images/office3.jpg" width="218"/>
  <img border="0" height="213" src="/images/office4.jpg" width="218"/>
 </p>
 <p>
 </p>
 <hr align="left" color="#000000" size="1" width="50%"/>
 <p style="margin-top: 0; margin-bottom: 0">
  <br/>
  Sample sentence:
"You have your own office?"  = YOU HAVE your-SELF OFFICE?"
  <br/>
  <br/>
  <object classid="CLSID:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=8,0,0,0" height="275" id="FVS" width="320">
   <param name="movie" value="../22/you-have-your-own-office_player.swf?2964113211"/>
   <param name="bgcolor" value="#ffffff"/>
   <param name="allowfullscreen" value="true"/>
   <embed allowfullscreen="true" bgcolor="#ffffff" height="275" name="FVS" pluginspage='http://www.macromedia.com/go/getflashplayer"' src="../22/you-have-your-own-office_player.swf?2964113211" type="application/x-shockwave-flash" width="320"/>
  </object>
 </p>
 <p style="margin-top: 0; margin-bottom: 0">
 </p>
 <font face="Arial">
  <hr align="left" color="#000000" size="1"/>
  <p style="margin-top: 0; margin-bottom: 0">
   Also see:
   <a href="../b/box.htm">
    BOX
   </a>
  </p>
  <hr align="left" color="#000000" size="1"/>
  <p style="margin-top: 0; margin-bottom: 0">
   <br/>
   Notes:
   <br/>
   The sign OFFICE uses two hands and involves repositioning and quite 
a bit of movement. Try
   <i>
    fingerspelling
   </i>
   the word office and 
you'll see why many prefer to just fingerspell O-F-F-I-C-E. The 
letters in "office" flow off the fingers very, very quickly and 
smoothly thus it is literally easier (for adult native Deaf) to 
spell office than it is to do the sign for OFFICE.
   <br/>
   Also, I've got a colleague who uses (or at least he used to) a 
compound of "WORK ROOM" to mean "office."  He does this by 
dropping one of the movements of WORK and using the non-initialized 
version of room/BOX.  I think it is an
   <i>
    interesting
   </i>
   approach and I can certainly understand the reasoning behind doing 
it that way but I'm not sure it it will catch on.
  </p>
 </font>
</blockquote>
