<blockquote>
 <hr align="left" color="#000000" size="1"/>
 <p>
  <font face="Arial">
   <br/>
   Version 1:
   <br/>
   Hold up an index finger in the neutral fingerspelling position. The finger 
	is pointing up, the palm-side of the hand is facing forward. Make a twisting 
	rotational movement and end up with the palm-side of the hand facing 
	backward towards yourself.  The movement is somewhat similar to running 
	your fingertip along the inside of an upside-down bowl of leftover frosting 
	so as to get some left-over frosting onto your fingertip (so you can stick 
	it in your mouth -- of course).
  </font>
 </p>
 <p>
  <font face="Arial">
   This version is commonly used to mean "just" 
			as in "there is just one left."
   <br/>
   <br/>
   JUST / ONLY:
   <br/>
   <img border="0" height="226" src="/images/single-c1.jpg" width="235"/>
   <img border="0" height="226" src="/images/single-c2.jpg" width="235"/>
   <img border="0" height="226" src="/images/single-c3.jpg" width="235"/>
   <img border="0" height="226" src="/images/single-c4.jpg" width="235"/>
   <img border="0" height="226" src="/images/single-c5.jpg" width="235"/>
   <br/>
   <br/>
  </font>
 </p>
 <font face="Arial">
  <hr align="left" color="#000000" size="1"/>
 </font>
 <p>
  <br/>
  Version 2:
 </p>
 <p>
  To sign this version of "only" hold an index-hand palm up (the 
			index finger is pointing up, the flat of the fingernail is toward 
			the viewer).  Move the hand in a small horizontal circle as if 
			drawing a circle the size of a quarter on the underside of a table.  
			This sign also means "someone / something / single."
  <br/>
  <br/>
  "ONLY"  = SOMEONE / SOMETHING / SINGLE:
  <br/>
  <img border="0" height="222" src="/images/single-b1.jpg" width="219"/>
  <img border="0" height="222" src="/images/single-b2.jpg" width="219"/>
  <img border="0" height="222" src="/images/single-b3.jpg" width="219"/>
  <img border="0" height="222" src="/images/single-b4.jpg" width="219"/>
  <img border="0" height="222" src="/images/single-b5.jpg" width="219"/>
  <img border="0" height="222" src="/images/single-b6.jpg" width="219"/>
  <img border="0" height="222" src="/images/single-b7.jpg" width="219"/>
  <img border="0" height="222" src="/images/single-b8.jpg" width="219"/>
  <img border="0" height="222" src="/images/single-b9.jpg" width="219"/>
  <br/>
  <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/7Bz982icGXQ?rel=0&amp;autoplay=1" width="560">
  </iframe>
 </p>
 <p>
  <br/>
 </p>
 <p>
 </p>
 <p style="margin-top: 0; margin-bottom: 0">
  See:
  <a href="../s/single.htm">
   SINGLE
  </a>
  <br/>
 </p>
 <font face="Arial">
  <hr align="left" color="#000000" size="1"/>
  <p align="center" style="margin-top: 0; margin-bottom: 0">
   <font face="Arial" size="1">
    You can learn
    <a href="http://lifeprint.com" style="text-decoration: none">
     American Sign Language (ASL)
    </a>
    online at American Sign Language University ™
    <br/>
    <a href="http://asl.ms" style="text-decoration: none">
     ASL
    </a>
    resources by Lifeprint.com  ©  Dr. William Vicars
   </font>
  </p>
 </font>
</blockquote>
