<blockquote>
 <hr align="left" color="#000000" size="1"/>
 <font face="Arial">
  <p style="margin-top: 0; margin-bottom: 0">
   <br/>
   OPEN:
   <br/>
  </p>
  <p style="margin-top: 0; margin-bottom: 0">
   <img border="0" height="205" src="/images/open1.jpg" width="203"/>
   <img border="0" height="204" src="/images/open2.jpg" width="204"/>
   <img border="0" height="205" src="/images/open3.jpg" width="217"/>
   <img border="0" height="206" src="/images/open4.jpg" width="222"/>
   <br/>
   <br/>
   Notes:
   <br/>
   ASL has a variety of very specific signs for the concept of "open" - depending on 
your exact meaning. Also it is common to mime the act of opening something 
specific.  For instance, to describe opening a can of caviar I might mime 
the act of turning the crank of  "can-opener" with my right hand while 
holding onto the can of caviar with my left hand.  Or I might mime 
placing the can into an electronic can opener and pressing the button on 
top.
   <br/>
  </p>
  <hr align="left" color="#000000" size="1" width="50%"/>
  <p style="margin-top: 0; margin-bottom: 0">
   See:
   <a href="../d/door.htm">
    DOOR
   </a>
   (and scroll to the "open-DOOR" section.
  </p>
  <hr align="left" color="#000000" size="1" width="50%"/>
 </font>
</blockquote>