<blockquote>
 <hr align="left" color="#000000" size="1"/>
 <p>
  To sign "parking lot," combine the sign for "CL3-Park-car" and the sign for 
			"FIELD."
  <br/>
 </p>
 <p>
  <br/>
  PARKING-LOT:
  <br/>
  <img border="0" height="221" src="/images/parkinglot1.jpg" width="254"/>
  <img border="0" height="221" src="/images/parkinglot2.jpg" width="254"/>
  <img border="0" height="221" src="/images/parkinglot3.jpg" width="254"/>
  <img border="0" height="221" src="/images/parkinglot4.jpg" width="254"/>
  <img border="0" height="221" src="/images/parkinglot5.jpg" width="254"/>
  <img border="0" height="221" src="/images/parkinglot6.jpg" width="254"/>
  <img border="0" height="221" src="/images/parkinglot7.jpg" width="254"/>
  <img border="0" height="221" src="/images/parkinglot8.jpg" width="254"/>
  <br/>
  <img border="0" height="221" src="/images/parkinglot9.jpg" width="254"/>
  <br/>
 </p>
 <hr align="left" color="#000000" size="1" width="50%"/>
 <p style="margin-top: 0; margin-bottom: 0">
  <br/>
  Sample sentence:
  <br/>
  <font face="Arial">
   <object classid="CLSID:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=8,0,0,0" height="275" id="FVS" width="320">
    <param name="movie" value="../25/parking-lot-supervisors-earn-a-lot_player.swf?1558910661"/>
    <param name="bgcolor" value="#ffffff"/>
    <param name="allowfullscreen" value="true"/>
    <embed allowfullscreen="true" bgcolor="#ffffff" height="275" name="FVS" pluginspage='http://www.macromedia.com/go/getflashplayer"' src="../25/parking-lot-supervisors-earn-a-lot_player.swf?1558910661" type="application/x-shockwave-flash" width="320"/>
   </object>
  </font>
 </p>
 <font face="Arial">
  <p style="margin-top: 0; margin-bottom: 0">
  </p>
  <hr align="left" color="#000000" size="1" width="50%"/>
  <p style="margin-top: 0; margin-bottom: 0">
   Also see:
   <a href="../f/field.htm">
    FIELD
   </a>
   <br/>
   Also see:
   <a href="park.htm">
    PARK
   </a>
   <br/>
   Also see:
   <a href="parking-permit.htm" style="text-decoration: none; font-weight: 400">
    PARKING-PERMIT
   </a>
   <br/>
   Also see:
   <a href="park-car.htm">
    PARK-a-car
   </a>
  </p>
  <hr align="left" color="#000000" size="1"/>
  <p align="center" style="margin-top: 0; margin-bottom: 0">
   <font face="Arial" size="1">
    You can learn
    <a href="http://lifeprint.com" style="text-decoration: none">
     American Sign Language (ASL)
    </a>
    online at American Sign Language University ™
    <br/>
    <a href="http://asl.ms" style="text-decoration: none">
     ASL
    </a>
    resources by Lifeprint.com  ©  Dr. William Vicars
   </font>
  </p>
 </font>
</blockquote>
