<blockquote>
 <hr align="left" color="#000000" size="1"/>
 <p>
  PRETTY:
  <br/>
  The handshape is a "relaxed five" that turns into the handshape you
get at the end of doing the "
  <a href="../a/and.htm">
   AND
  </a>
  " sign.
  <br/>
  <img border="0" height="237" src="/images/prettyb1.jpg" width="229"/>
  <img border="0" height="237" src="/images/prettyb2.jpg" width="229"/>
  <img border="0" height="237" src="/images/prettyb3.jpg" width="229"/>
  <img border="0" height="237" src="/images/prettyb4.jpg" width="229"/>
  <img border="0" height="237" src="/images/prettyb5.jpg" width="229"/>
  <br/>
 </p>
 <hr align="left" color="#000000" size="1"/>
 <p>
  <br/>
  PRETTY (version)
  <br/>
  The movement of this version of the sign travels a more rounded path.
  <br/>
  <img border="0" height="238" src="/images/pretty1.jpg" width="217"/>
  <img border="0" height="238" src="/images/pretty2.jpg" width="217"/>
  <img border="0" height="238" src="/images/pretty3.jpg" width="217"/>
  <img border="0" height="238" src="/images/pretty4.jpg" width="217"/>
  <img border="0" height="238" src="/images/pretty5.jpg" width="217"/>
  <img border="0" height="238" src="/images/pretty6.jpg" width="217"/>
  <img border="0" height="238" src="/images/pretty7.jpg" width="217"/>
  <img border="0" height="238" src="/images/pretty8.jpg" width="217"/>
  <br/>
 </p>
 <hr align="left" color="#000000" size="1"/>
 <p>
  <br/>
  The sign "BEAUTIFUL" opens up at the end of the sign.
  <br/>
  Memory aid:
Sort of like a flower blooming.
  <br/>
  <br/>
  <img border="0" height="239" src="/images/beautiful1.jpg" width="217"/>
  <img border="0" height="239" src="/images/beautiful2.jpg" width="217"/>
  <img border="0" height="239" src="/images/beautiful3.jpg" width="217"/>
  <img border="0" height="239" src="/images/beautiful4.jpg" width="217"/>
  <img border="0" height="239" src="/images/beautiful5.jpg" width="217"/>
  <img border="0" height="239" src="/images/beautiful6.jpg" width="217"/>
  <img border="0" height="239" src="/images/beautiful7.jpg" width="217"/>
  <img border="0" height="239" src="/images/beautiful8.jpg" width="217"/>
  <img border="0" height="239" src="/images/beautiful9.jpg" width="217"/>
  <img border="0" height="239" src="/images/beautiful10.jpg" width="217"/>
  <br/>
 </p>
 <font face="Arial">
  <hr align="left" color="#000000" size="1"/>
 </font>
</blockquote>
