<blockquote>
 <hr align="left" color="#000000" size="1"/>
 <br/>
 The sign for "prevent" can also be used to mean "block" or 
			"protect."
 <br/>
 You could even combine it with a sign like "INJECT" or "take-PILL" 
			to create the meaning "inoculate."
 <p style="margin-top: 0; margin-bottom: 0">
  <hr align="left" color="#000000" size="1" width="50%"/>
  <p style="margin-top: 0; margin-bottom: 0">
   <br/>
   PREVENT / BLOCK / PROTECT:
  </p>
  <p style="margin-top: 0; margin-bottom: 0">
   <a href="../../signjpegs/p/prevent-block-01.jpg">
    <img alt="prevent-block-01.jpg (94052 bytes)" border="0" height="320" src="/images/prevent-block-01_small.jpg" width="320" xthumbnail-orig-image="../../signjpegs/p/prevent-block-01.jpg"/>
   </a>
   <a href="../../signjpegs/p/prevent-block-02.jpg">
    <img alt="prevent-block-02.jpg (91961 bytes)" border="0" height="320" src="/images/prevent-block-02_small.jpg" width="320" xthumbnail-orig-image="../../signjpegs/p/prevent-block-02.jpg"/>
   </a>
   <a href="../../signjpegs/p/prevent-block-04.jpg">
    <img alt="prevent-block-04.jpg (100946 bytes)" border="0" height="320" src="/images/prevent-block-04_small.jpg" width="320" xthumbnail-orig-image="../../signjpegs/p/prevent-block-04.jpg"/>
   </a>
  </p>
  <font face="Arial">
   <hr align="left" color="#000000" size="1"/>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
    <font face="Arial" size="1">
     You can learn
     <a href="http://lifeprint.com" style="text-decoration: none">
      American Sign Language (ASL)
     </a>
     online at American Sign Language University ™
     <br/>
     <a href="http://asl.ms" style="text-decoration: none">
      ASL
     </a>
     resources by Lifeprint.com  ©  Dr. William Vicars
    </font>
   </p>
  </font>
 </p>
</blockquote>
