<blockquote>
 <font face="Arial">
  <hr align="left" color="#000000" size="1"/>
  <p>
   The sign for "promise" starts with an index finger to 
			the lips and then places a flat hand on top of the thumb-side of the 
			non-dominant "S"-hand.
   <br/>
  </p>
  <p style="margin-top: 0; margin-bottom: 0">
   PROMISE:
   <br/>
   <img border="0" height="238" src="/images/promis12.jpg" width="224"/>
   <img border="0" height="238" src="/images/promis13.jpg" width="224"/>
   <img border="0" height="238" src="/images/promis14.jpg" width="224"/>
  </p>
  <hr align="left" color="#000000" size="1"/>
  <a href="../c/covenant.htm">
   Covenant
   <font face="Times New Roman">
    ►
   </font>
  </a>
  <hr align="left" color="#000000" size="1" width="50%"/>
  <p>
  </p>
  <hr align="left" color="#000000" size="1"/>
  <p align="center" style="margin-top: 0; margin-bottom: 0">
   <font face="Arial" size="1">
    You can learn 
		American
    <a href="http://www.lifeprint.com" style="text-decoration: none">
     Sign 
		Language
    </a>
    (ASL) online at American Sign Language University ™
    <br/>
    <a href="http://asl.ms" style="text-decoration: none">
     ASL
    </a>
    resources by Lifeprint.com  ©  Dr. William Vicars
   </font>
  </p>
 </font>
</blockquote>
