<blockquote>
 <hr align="left" color="#000000" size="1"/>
 <p style="margin-top: 0; margin-bottom: 0">
  The sign for "put" has a lot of variations depending on what you 
	mean.
  <br/>
  <br/>
  The general sign for put uses what I call "flattened AND" hands.  Or 
	"flattened O" hands.  The pad of your thumb is pressed up against the 
	underside of the fingers as if you were holding onto a piece of cardboard 
	and "putting" it somewhere.
  <p style="margin-top: 0; margin-bottom: 0">
   <br/>
   PUT:
   <br/>
   <iframe allow="autoplay; encrypted-media" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/G3LICbWdIb8?rel=0" width="560">
   </iframe>
  </p>
  <p style="margin-top: 0; margin-bottom: 0">
   <img border="0" height="235" src="/images/putb1.jpg" width="239"/>
   <img border="0" height="235" src="/images/putb2.jpg" width="239"/>
   <br/>
  </p>
  <font face="Arial">
   <p style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1"/>
  </font>
  <p style="margin-top: 0; margin-bottom: 0">
   <br/>
   "Put things away."  Grab the items and quickly put them
  where they go.
   <br/>
   <iframe allow="autoplay; encrypted-media" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/weXM5pqwL3g?rel=0" width="560">
   </iframe>
  </p>
  <p style="margin-top: 0; margin-bottom: 0">
   <img border="0" height="239" src="/images/put-away1.jpg" width="321"/>
   <img border="0" height="239" src="/images/put-away2.jpg" width="321"/>
   <img border="0" height="239" src="/images/put-away3.jpg" width="321"/>
   <img border="0" height="239" src="/images/put-away4.jpg" width="321"/>
   <br/>
  </p>
  <font face="Arial">
   <p style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1"/>
  </font>
  <p style="margin-top: 0; margin-bottom: 0">
   <br/>
   "Put in a slot"  "Put on a certain shelf"
   <br/>
   <img border="0" height="232" src="/images/put-inslot1.jpg" width="236"/>
   <img border="0" height="232" src="/images/put-inslot2.jpg" width="236"/>
   <img border="0" height="232" src="/images/put-inslot3.jpg" width="236"/>
  </p>
  <font face="Arial">
   <p style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1"/>
  </font>
  <p style="margin-top: 0; margin-bottom: 0">
   <br/>
   "Put in a order in a file"  Pack
   <br/>
   <img border="0" height="237" src="/images/put-pack1.jpg" width="225"/>
   <img border="0" height="237" src="/images/put-pack2.jpg" width="225"/>
   <img border="0" height="237" src="/images/put-pack3.jpg" width="225"/>
   <img border="0" height="237" src="/images/put-pack4.jpg" width="225"/>
   <br/>
  </p>
  <font face="Arial">
   <p style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1"/>
  </font>
  <p style="margin-top: 0; margin-bottom: 0">
   <br/>
   "Sort out"
   <br/>
   <img border="0" height="238" src="/images/put-sortout1.jpg" width="332"/>
   <img border="0" height="238" src="/images/put-sortout2.jpg" width="332"/>
   <img border="0" height="238" src="/images/put-sortout3.jpg" width="332"/>
   <img border="0" height="238" src="/images/put-sortout4.jpg" width="332"/>
   <img border="0" height="238" src="/images/put-sortout5.jpg" width="332"/>
   <br/>
  </p>
  <font face="Arial">
   <p style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1"/>
  </font>
  <p style="margin-top: 0; margin-bottom: 0">
   <br/>
   "Put up with." Uses the sign for "patience" while using a bit of a 
	"suffering" type of facial expression.
   <br/>
   <br/>
   PATIENCE:
   <br/>
   <img border="0" height="238" src="/images/put-up-with1.jpg" width="199"/>
   <img border="0" height="238" src="/images/put-up-with2.jpg" width="199"/>
   <br/>
  </p>
  <font face="Arial">
   <hr align="left" color="#000000" size="1" width="50%"/>
  </font>
  <p style="margin-top: 0; margin-bottom: 0">
   Also see:
   <a href="../m/move.htm">
    MOVE
   </a>
  </p>
  <font face="Arial">
   <hr align="left" color="#000000" size="1" width="50%"/>
  </font>
  <p style="margin-top: 0; margin-bottom: 0">
   Also see:
   <a href="../t/throw.htm">
    THROW
   </a>
  </p>
  <hr align="left" color="#000000" size="1" width="50%"/>
 </p>
</blockquote>
