<blockquote>
 <hr align="left" color="#000000" size="1" width="50%"/>
 <p style="margin-top: 0; margin-bottom: 0">
  <font face="Arial">
   If you want to sign "quiet" as in, "The room was quiet" you would use a 
	version of the sign that combines the "shhh" gesture with the sign for 
	"PEACE."  (Remember than when you combine or "compound" signs you 
	reduce the movements of each sign as you create the new sign.)
   <br/>
   <br/>
   QUIET / SILENT:
   <br/>
   <img border="0" height="221" src="/images/quiet.8.jpg" width="227"/>
   <img border="0" height="221" src="/images/quiet.9.jpg" width="227"/>
   <img border="0" height="221" src="/images/quiet.10.jpg" width="227"/>
   <br/>
   <img border="0" height="221" src="/images/quiet.11.jpg" width="227"/>
   <img border="0" height="221" src="/images/quiet.12.jpg" width="227"/>
  </font>
  <p style="margin-top: 0; margin-bottom: 0">
   <font face="Arial">
    <hr align="left" color="#000000" size="1" width="50%"/>
    <p>
     QUIET [version]
     <br/>
     In this version of "quite" the dominant hand instead of using an "index" 
	finger actually anticipates the next handshape and simply starts off as a 
	"B" hand:
     <br/>
     <img border="0" height="320" src="/images/quiet-03.gif" width="320"/>
    </p>
    <hr align="left" color="#000000" size="1" width="50%"/>
   </font>
   <p style="margin-top: 0; margin-bottom: 0">
    <p style="margin-top: 0; margin-bottom: 0">
     The sign for "quiet"
     <font face="Arial">
      when done as a verb meaning "quiet down" is the same as the typical gesture 
	(American society) for "shhh."
      <br/>
      <br/>
      QUIET / SHHH /
     </font>
     "BE QUIET"
     <br/>
     If I'm telling someone to be quiet I just use the "shhhh" sign.
     <p>
      <span style="font-weight: 400">
       <font face="Arial">
        <img border="0" height="320" src="/images/shhh.jpg" width="320"/>
        <img border="0" height="320" src="/images/shh.jpg" width="320"/>
       </font>
      </span>
     </p>
     <font face="Arial">
      <hr align="left" color="#000000" size="1" width="50%"/>
     </font>
     <p align="left">
      <span style="font-weight: 400">
       <font face="Arial">
        <img border="0" height="320" src="/images/shhh.gif" width="320"/>
       </font>
      </span>
      <br/>
      <font face="Arial">
       <hr align="left" color="#000000" size="1" width="50%"/>
       <p align="left">
        "Keep quiet about." / "Keep it to yourself."
        <br/>
        There is an interesting variation of the "shhh" sign that can be used to 
	mean, "Uh, uh, uh, keep that information to yourself!" or "Keep it mum." 
	Normally while doing the "shhh" sign you move your upper body forward a bit.  
	To indicate "keep it mum" you can instead move your upper body
        <i>
         backward
        </i>
        a bit, purse your lips (hold your lips tight together) and bring the index 
	finger backward to the lips with a quick movement and a firm stop with a 
	slightly extended "hold."  Think of it as meaning "my lips are sealed."
        <br/>
        <br/>
        <img border="0" height="221" src="/images/quiet.8.jpg" width="227"/>
       </p>
       <hr align="left" color="#000000" size="1" width="50%"/>
      </font>
     </p>
    </p>
   </p>
  </p>
 </p>
</blockquote>
