<blockquote>
 <hr align="left" color="#000000" size="1"/>
 <p>
  QUOTE / TOPIC / SUBJECT:
  <br/>
  Please keep in mind that there are other signs and sign combinations that 
	might be more appropriate depending on the sentence.
  <br/>
  <br/>
  SUBJECT = "about" As in "the subject of an article or book."  
			"This book is about..."
  <br/>
  <img border="0" height="221" src="/images/about-quote1.jpg" width="212"/>
  <img border="0" height="221" src="/images/about-quote2.jpg" width="212"/>
  <br/>
  The above sign can be used to mean:  Title, quote, subject, 
			topic, ...and "about."
 </p>
 <p style="margin-top: 0; margin-bottom: 0">
  <hr align="left" color="#000000" size="1" width="50%"/>
  <p style="margin-top: 0; margin-bottom: 0">
   Also listed as:
   <a href="../t/topic.htm">
    TOPIC
   </a>
   <br/>
   Also see:
   <a href="../i/issues.htm">
    ISSUES
   </a>
   <br/>
  </p>
  <font face="Arial">
   <hr align="left" color="#000000" size="1"/>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
    <font face="Arial" size="1">
     You can learn
     <a href="http://lifeprint.com" style="text-decoration: none">
      American Sign Language (ASL)
     </a>
     online at American Sign Language University ™
     <br/>
     <a href="http://asl.ms" style="text-decoration: none">
      ASL
     </a>
     resources by Lifeprint.com  ©  Dr. William Vicars
    </font>
   </p>
  </font>
 </p>
</blockquote>
