<blockquote>
 <font face="Arial">
  <hr align="left" color="#000000" size="1"/>
  <p>
   The sign for "ready" has a few versions. They are all 
			right.
   <br/>
   <br/>
   The main version of "ready" holds the "R"-hands in front of the body 
			(you can overlap them or just have them close to each other) and 
			then moves them outward (to the sides) about 12 centimeters each.
   <br/>
  </p>
  <p>
   READY:
  </p>
  <p>
   <img border="0" height="230" src="/images/ready.20.jpg" width="268"/>
   <img border="0" height="230" src="/images/ready.21.jpg" width="268"/>
   <img border="0" height="230" src="/images/ready.22.jpg" width="268"/>
   <img border="0" height="230" src="/images/ready.23.jpg" width="268"/>
   <br/>
   Note: I get the feeling that at some point in the past this sign may have 
	been an "initialized" version of the sign for FINISH but has mutated to the 
	point where it now has a movement somewhat similar to that of a baseball 
	umpire signaling "Safe!"
   <br/>
  </p>
  <hr align="left" color="#000000" size="1"/>
  <p>
   <br/>
   Another version of "ready" uses a movement similar to one of the versions of 
	the sign "PLAN / prepare."  The "R" hands are both held in front of the 
	torso, off to one side a bit and then both are moved to the other side of 
	the torso using a somewhat quick, definite movement.
   <br/>
   <br/>
   READY (conveying the meaning of "We are prepared.")
   <br/>
   <img border="0" height="229" src="/images/ready.24.jpg" width="261"/>
   <img border="0" height="229" src="/images/ready.25.jpg" width="261"/>
   <img border="0" height="229" src="/images/ready.26.jpg" width="261"/>
   <br/>
  </p>
  <hr align="left" color="#000000" size="1"/>
  <p>
   <br/>
   "Is everybody ready?!"
   <br/>
   If you are with a group preparing to "head out" to go somewhere and you want 
	to ask if everyone is prepared to leave you can hold both "R" hands up above 
	your shoulders and shake them back and forth while raising your eyebrows and 
	looking at people.
   <br/>
   <br/>
   READY:  "Is everybody ready?!"
  </p>
  <p>
   <img border="0" height="223" src="/images/ready.27.jpg" width="313"/>
   <img border="0" height="223" src="/images/ready.28.jpg" width="313"/>
   <img border="0" height="223" src="/images/ready.27.jpg" width="313"/>
   <img border="0" height="223" src="/images/ready.28.jpg" width="313"/>
  </p>
  <hr align="left" color="#000000" size="1" width="50%"/>
  <p>
  </p>
  <hr align="left" color="#000000" size="1"/>
  <p align="center" style="margin-top: 0; margin-bottom: 0">
   <font face="Arial" size="1">
    You can learn 
		American
    <a href="http://www.lifeprint.com" style="text-decoration: none">
     Sign 
		Language
    </a>
    (ASL) online at American Sign Language University ™
    <br/>
    <a href="http://asl.ms" style="text-decoration: none">
     ASL
    </a>
    resources by Lifeprint.com  ©  Dr. William Vicars
   </font>
  </p>
 </font>
</blockquote>
