<blockquote>
 <hr align="left" color="#000000" size="1" width="50%"/>
 <p style="margin-top: 0; margin-bottom: 0">
  <font size="+1">
   T
  </font>
  he sign for "red" is made by making a 
	movement that looks like you are stroking 
your lips (one time) with the tip of your index finger.
  <br/>
  <br/>
  RED:
  <br/>
  <img border="0" src="/images/red.gif" style="max-width: 100%; height: auto" width="480"/>
  <font face="Arial">
   <img border="0" height="320" src="/images/red.gif" width="320"/>
  </font>
  <img height="265" src="/images/red.gif" width="179"/>
  <p align="left" style="margin-top: 0; margin-bottom: 0">
  </p>
  <p style="margin-top: 0; margin-bottom: 0">
   Notice that I tend to change the "index" finger into an
"x" hand as I move it downward. I also tend to only do the movement 
	one time but some people keep the finger straight.
You might also see this sign done with a double motion. But again, the way I do 
	it is by changing the index finger into an "X" handshape as I pull it down 
	an inch or two.  Also, I don't go out of my way to actually make 
	contact. If you do happen to touch your lips a bit, no big deal, but contact 
	is not needed for this sign.
   <br/>
   <br/>
   <img border="0" height="235" src="/images/red1.jpg" width="199"/>
   <img border="0" height="235" src="/images/red2.jpg" width="199"/>
   <img border="0" height="235" src="/images/red3.jpg" width="199"/>
   <br/>
   <hr align="left" color="#000000" size="1"/>
   <p style="margin-top: 0; margin-bottom: 0">
    <br/>
    RED (initialized version)
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     There is another version of RED can also be done with the letter "R."
     <br/>
     You can use the "R" handshape to sign the word RED, but why? The "index finger" version works just fine and means "red" without 
needing the more complex "R" hand shape.  The "initialized 
	version is generally considered "Signed English" and I don't recommend it 
	for "ASL classes."
     <br/>
    </font>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
   <p style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     <br/>
    </font>
    Optional Discussion (Not necessary for class).
    <br/>
    "Tracie" writes:
    <br/>
    <br/>
    Dear Dr. Bill,
    <br/>
    To answer a question you posed on your website:
    <br/>
    Question:  You can use the R-handshape to sign the word 'red', but 
		why?
    <br/>
    Answer: To distinguish it from the word "pink" which uses the same 
		motion with a P-handshape where the middle finger crosses the lips. 
		(???)
    <br/>
    --Tracie
    <br/>
    <br/>
    Dear Tracie,
    <br/>
    Think about it, we don't need to use an "R" for "RED" to 
		distinguish it from
    <i>
     PINK
    </i>
    .
    <a href="../p/pink.htm" style="text-decoration: none">
     PINK
    </a>
    does use a "P" hand and thus is different 
		from the non-initialized "index-finger" handshape used in RED.  
	So, I still recommend doing RED with an "index finger. It simply doesn't 
	need to be
    <i>
     initialized
    </i>
    . Putting an "R" hand on the sign for RED makes 
	it harder to do and serves only to link the sign to English.
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <br/>
    Suppose you had a blog and someone from England commented on your blog that 
	you should spell the word "color" with a "u" as in "colour" -- to make it 
	more distinguished from the word "colon?" (You've got to admit that color 
	and colon look a lot alike.)  Plus the chap from England likes the word 
	"colour" because that is how his Mum spelled it and doing so makes him feel 
	warm and fuzzy. He likes the spelling of colour with a "u" because it looks 
	more like that with which he is familiar. He doesn't mind or really even 
	notice the added complexity because he has a set of brain cells that due to 
	familiarity actually
    <i>
     prefer
    </i>
    the "u" version of "colour."  
	However to you "colour" looks weird and takes more work. Thus you resist 
	adding complexity to
    <i>
     your language
    </i>
    just to accommodate the wishes of 
	someone from a different language background.
    <br/>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    It is the same for us Deaf 
	people. We do not see a need to add an "R" to the sign for RED just because 
	Hearing people like to think in English.
    <br/>
    <br/>
    I do believe that the initialized version of RED is worth "knowing about" 
	(since you will probably see quite a few people using it).
    <font face="Arial">
     Interpreters for the Deaf should
     <i>
      certainly
     </i>
     know the initialized 
	version. But other than that I really can't recommend initializing RED since 
	it is
    </font>
    simply an unnecessary attempt to put English on the hands.
    <br/>
    Who knows? Maybe 20 years from now the vast majority of adult native Deaf 
	people might sign it that way and I'll have to change my stance on my 
	recommended version?  Time will tell, but for now you know my opinion 
	and reasons.
    <br/>
    Dr. Bill
   </p>
  </p>
 </p>
</blockquote>
