<blockquote>
 <hr align="left" color="#000000" size="1"/>
 <p style="margin-top: 0; margin-bottom: 0">
  The word "residential" means "having to do with living there."  So a 
good generally equivalent concept that can be used to mean "residential" 
would be "live there."
  <br/>
  <br/>
  See:
  <a href="../l/live.htm">
   LIVE / ADDRESS
  </a>
  <br/>
  See:
  <a href="../t/there.htm">
   THERE
  </a>
  <font face="Arial">
   <p style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1"/>
  </font>
  <p style="margin-top: 0; margin-bottom: 0">
   <br/>
   If you mean "residence" then you should probably sign "home" or "house."
   <br/>
   <br/>
   See:
   <a href="../h/home.htm">
    HOME
   </a>
   <br/>
   See:
   <a href="../h/house.htm">
    HOUSE
   </a>
   <br/>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
   <p style="margin-top: 0; margin-bottom: 0">
    <br/>
    If you mean residential school for the Deaf, then you should use sign for 
"Deaf School."
    <font face="Arial">
     <br/>
     To do the sign for "Deaf School" you do the sign for "school" but use "I" hands instead.
     <br/>
     (Memory aide:  In the "old days" people who did not "fit the norm" were 
placed in "institutions."  The word "institution" starts with the 
letter "I.")
The early Deaf schools were "institutions" for the Deaf.
     <br/>
     <br/>
     RESIDENTIAL-SCHOOL (Deaf School)
     <br/>
     <img border="0" height="372" src="/images/reside15.jpg" width="320"/>
     <img border="0" height="372" src="/images/reside16.jpg" width="320"/>
     <img border="0" height="372" src="/images/reside15.jpg" width="320"/>
     <img border="0" height="372" src="/images/reside16.jpg" width="320"/>
    </font>
    <br/>
    <hr align="left" color="#000000" size="1" width="50%"/>
    <p style="margin-top: 0; margin-bottom: 0">
     See:
     <a href="residential-school.htm">
      Residential School for the Deaf
     </a>
    </p>
    <font face="Arial">
     <hr align="left" color="#000000" size="1" width="50%"/>
    </font>
    <p style="margin-top: 0; margin-bottom: 0">
    </p>
    <font face="Arial">
     <hr align="left" color="#000000" size="1"/>
    </font>
   </p>
  </p>
 </p>
</blockquote>
