<blockquote>
 <hr align="left" color="#000000" size="1"/>
 <p>
  There are two main versions of the sign for "rock" (as in a stone).
	Both versions of stone/rock are interchangeable.
  <br/>
  (Sort of like saying "sofa" and "couch." 
	Or "pop" and "soda.")
  <br/>
  <br/>
  Both versions mean the same thing, but some people will prefer one or the 
	other. Personally, I prefer to use the "beat one rock with another" version 
	since it is related to the concept of "
  <a href="../m/mountain.htm">
   MOUNTAIN
  </a>
  " 
	as in "rocks that go up into the air).
  <br/>
  <br/>
 </p>
 <p>
  For this first version, whack the back of the palm-down non-dominant fist 
	(or slightly modified "A"-handshape) with the palm down dominant fist (or 
	slightly modified "A"-handshape).
  <font face="Arial">
   <br/>
   <br/>
   ROCK:
  </font>
 </p>
 <p>
  <img border="0" height="220" src="/images/rock1.jpg" width="288"/>
  <img border="0" height="220" src="/images/rock2.jpg" width="288"/>
  <img border="0" height="220" src="/images/rock3.jpg" width="288"/>
  <img border="0" height="220" src="/images/rock4.jpg" width="288"/>
  <br/>
  <br/>
 </p>
 <hr color="#000000" size="1"/>
 <p>
  <br/>
  Okay, I'm going to label this next version of "rock" as the sign "STONE" -- 
	but remember this sign can also be used to mean "rock."  
	Quite a few people use the STONE sign to mean "concrete." 
  Use an "S" hand.  Place it under the chin and bring it forward
  twice.  The front of your fist brushes up against the bottom of your chin 
  and slides forward an inch or two.
  <font face="Arial">
   The fact that you are doing it under your chin sort of ties it into the 
	concept of being a type of "building" material. The sign "
   <a href="../m/metal.htm">
    METAL
   </a>
   " 
	is also done under the chin.
   <br/>
   <br/>
   STONE:
  </font>
  <br/>
  <img border="0" height="231" src="/images/rockb1.jpg" width="186"/>
  <img border="0" height="231" src="/images/rockb2.jpg" width="186"/>
  <img border="0" height="231" src="/images/rockb3.jpg" width="186"/>
  <img border="0" height="231" src="/images/rockb4.jpg" width="186"/>
  <br/>
 </p>
 <font face="Arial">
  <hr color="#000000" size="1"/>
 </font>
 <p>
  Notes:
 </p>
 <p>
  <font face="Arial">
   The sign "
   <a href="../t/tooth.htm">
    TOOTH
   </a>
   " 
			can be used to mean cement, china, porcelain, glass, or ceramic.
   <br/>
  </font>
  <br/>
 </p>
 <hr color="#000000" size="1"/>
 For additional information, see
 <a href="../m/mountain.htm">
  MOUNTAIN
 </a>
 <br/>
 <font face="Arial">
  <hr align="left" color="#000000" size="1"/>
  <p align="center" style="margin-top: 0; margin-bottom: 0">
   <font face="Arial" size="1">
    You can learn
    <a href="http://lifeprint.com" style="text-decoration: none">
     American Sign Language (ASL)
    </a>
    online at American Sign Language University ™
    <br/>
    <a href="http://asl.ms" style="text-decoration: none">
     ASL
    </a>
    resources by Lifeprint.com  ©  Dr. William Vicars
   </font>
  </p>
 </font>
</blockquote>
