<blockquote>
 <hr align="left" color="#000000" size="1"/>
 The sign for rodeo looks like you are twirling a lasso above your 
			head a couple times (as if getting ready to rope a calf).
 <br/>
 <br/>
 RODEO or "Twirl lasso":
 <p>
  Hold your hand up above or to the side of 
			your head and move your arm in a circle twice as if twirling a 
			lasso.
  <br/>
 </p>
 <p style="margin-top: 0; margin-bottom: 0">
  <img border="0" height="240" src="/images/rodeo.gif" width="296"/>
  <br/>
  <font face="Arial">
   <hr align="left" color="#000000" size="1"/>
  </font>
  <p style="margin-top: 0; margin-bottom: 0">
   <br/>
   RODEO: Version 2
   <br/>
   Another version of this sign initializes the handshape with an "R" 
			hand.  I suppose this could be helpful if your sentence were 
			something to the effect of "At the rodeo the cowboy twirled his 
			lasso." (Thus you would be able to use the initialized RODEO sign to 
			specifically mean "rodeo" and use the more general sign to mean 
			"twirl a lasso.")
   <br/>
   <p style="margin-top: 0; margin-bottom: 0">
    <img border="0" height="240" src="/images/rodeo.jpg" width="267"/>
    <font face="Arial">
     <p>
     </p>
     <hr align="left" color="#000000" size="1"/>
     <p align="center" style="margin-top: 0; margin-bottom: 0">
      <font face="Arial" size="1">
       You can learn
       <a href="http://lifeprint.com">
        American Sign Language (ASL)
       </a>
       online at American Sign Language University ™
       <br/>
       <a href="http://asl.ms" style="text-decoration: none">
        ASL
       </a>
       resources by Lifeprint.com  ©  Dr. William Vicars
      </font>
     </p>
    </font>
   </p>
  </p>
 </p>
</blockquote>
