<blockquote>
 <hr align="left" color="#000000" size="1"/>
 <p>
  <br/>
  <font face="Arial">
   The sign for "rollerblading" uses "flat hands" to 
			represent the forward and back movement of your feet and the 
			roller-blade wheels. Hold your hands out in front of you with the 
			tips of your fingers pointing forward. I start with my dominant hand 
			forward (but I don't think which hand you start with is really and 
			issue).  Then I pull (glide?) my dominant hand back at the same 
			time as I I glide my non-dominant hand forward. Then I pull my 
			non-dominant hand back as I move my dominant hand forward and that's 
			it.  Basically a "one" "two" movement.  This is the same 
			movement that is used for signs like "skating" or "ice-skating."
  </font>
 </p>
 <p style="margin-top: 0; margin-bottom: 0">
  <br/>
  ROLLERBLADE (or "rollerblading")
  <br/>
  <img border="0" height="296" src="/images/roller-blade-3.jpg" width="296"/>
  <img border="0" height="296" src="/images/roller-blade-4.jpg" width="296"/>
  <img border="0" height="296" src="/images/roller-blade-5.jpg" width="296"/>
  <br/>
  <br/>
  See:
  <a href="../i/ice-skate.htm">
   ICE-SKATE
  </a>
  <br/>
  <font face="Arial">
   See: "
   <a href="../s/skating.htm">
    SKATING
   </a>
   "
  </font>
  <br/>
 </p>
 <font face="Arial">
  <hr align="left" color="#000000" size="1"/>
  <p align="center" style="margin-top: 0; margin-bottom: 0">
   <font face="Arial" size="1">
    You can learn
    <a href="http://www.lifeprint.com" style="text-decoration: none">
     American Sign Language (ASL)
    </a>
    online at American Sign Language University ™
    <br/>
    <a href="http://asl.ms" style="text-decoration: none">
     ASL
    </a>
    resources by Lifeprint.com  ©  Dr. William Vicars
   </font>
  </p>
 </font>
</blockquote>
