<blockquote>
 <h1 style="margin-top: 0; margin-bottom: 0">
  <span style="font-weight: 400">
   <font face="Arial" size="5">
    run: The 
		American Sign Language (ASL) sign for "run"
   </font>
  </span>
  <font face="Arial">
   <br/>
  </font>
 </h1>
 <hr align="left" color="#000000" size="1"/>
 <p>
  <span style="background-color: #FFFF00">
   WARNING: There are many 
			different meanings of the English word "run." The right ASL sign for "run" 
			depends on your
   <i>
    meaning.
   </i>
  </span>
 </p>
 <hr align="left" color="#000000" size="1"/>
 <p>
 </p>
 <p>
  RUN:  Version 1
  <br/>
  This version is a general sign for run that means to "move swiftly on foot so 
  that both feet leave the ground during each stride" (dictionary.com).
  <br/>
  <br/>
  Both hands use "L" handshapes.  The right index finger is laying up 
  against the left thumb. Both hands move forward as the index finger flex 
  twice.  As the index fingers flex, the right index finger wraps around 
  the left thumb.  If the thumbs bend a bit that is okay and simply a 
  byproduct of flexing the index fingers.
  <br/>
  <br/>
  <img border="0" height="215" src="/images/run.ht34.jpg" width="197"/>
  <img border="0" height="215" src="/images/run.ht35.jpg" width="197"/>
  <img border="0" height="215" src="/images/run.ht36.jpg" width="197"/>
  <img border="0" height="215" src="/images/run.ht37.jpg" width="197"/>
 </p>
 <p>
  <br/>
  Animation: "RUN"
  <br/>
  <img border="0" height="215" src="/images/run.gif" width="197"/>
  <br/>
 </p>
 <hr align="left" color="#000000" size="1"/>
 <p>
  <br/>
  This next version also means "run" as in ""move swiftly on foot so that both 
	feet leave the ground during each stride." 
  Both hands are in "L" shapes, palms down.  Hands touch at the tips of the 
  thumbs. Hands move forward as the index fingers flex twice.
  <br/>
  <br/>
  RUN (Version 2)
  <br/>
  <img border="0" height="214" src="/images/run.ht38.jpg" width="210"/>
  <img border="0" height="214" src="/images/run.ht39.jpg" width="210"/>
  <img border="0" height="214" src="/images/run.ht40.jpg" width="210"/>
  <img border="0" height="214" src="/images/run.ht41.jpg" width="210"/>
 </p>
 <p>
  <br/>
  Animation:  "RUN" (version 2)
  <br/>
  <img border="0" height="214" src="/images/run2.gif" width="210"/>
  <br/>
 </p>
 <hr align="left" color="#000000" size="1"/>
 <b>
  <i>
   <br/>
   Notes:
  </i>
 </b>
 <br/>
 In English the word "run" can be used to refer to a wide 
  variety of concepts which have nothing to do with using your legs and feet to 
  move swiftly:
 <br/>
 a car engine running
 <br/>
 run for office
 <br/>
 a run in your stocking
 <br/>
 a runny nose
 <br/>
 "the runs" (diarrhea)
 <br/>
 etc.
 <p>
  Each of these concepts would be signed differently and would
  <b>
   not
  </b>
  use either of the signs for "RUN" (shown above). Instead you would use ASL 
  signs that have closer meanings to the actual concept.  For example "run 
  for office" would be shown with the signs "volunteer"-APPLY COMPETE ______" 
  and the specific office being sought (governor, mayor etc.)
 </p>
 <p>
 </p>
 <p>
  <span style='color: rgb(20, 24, 35); font-family: "Helvetica Neue", Helvetica, "Lucida Grande", tahoma, verdana, arial, sans-serif; font-size: 16px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial; display: inline !important; float: none;'>
   Conceptual accuracy - various ways to sign RUN.
  </span>
  <br style='color: rgb(20, 24, 35); font-family: "Helvetica Neue", Helvetica, "Lucida Grande", tahoma, verdana, arial, sans-serif; font-size: 16px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial;'/>
  <span style='color: rgb(20, 24, 35); font-family: "Helvetica Neue", Helvetica, "Lucida Grande", tahoma, verdana, arial, sans-serif; font-size: 16px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial; display: inline !important; float: none;'>
   It depends on on what you mean.
  </span>
  <br style='color: rgb(20, 24, 35); font-family: "Helvetica Neue", Helvetica, "Lucida Grande", tahoma, verdana, arial, sans-serif; font-size: 16px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial;'/>
  <br style='color: rgb(20, 24, 35); font-family: "Helvetica Neue", Helvetica, "Lucida Grande", tahoma, verdana, arial, sans-serif; font-size: 16px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial;'/>
  <span style='color: rgb(20, 24, 35); font-family: "Helvetica Neue", Helvetica, "Lucida Grande", tahoma, verdana, arial, sans-serif; font-size: 16px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial; display: inline !important; float: none;'>
   Definition: To move at a speed faster than a walk
  </span>
  <br style='color: rgb(20, 24, 35); font-family: "Helvetica Neue", Helvetica, "Lucida Grande", tahoma, verdana, arial, sans-serif; font-size: 16px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial;'/>
  <span style='color: rgb(20, 24, 35); font-family: "Helvetica Neue", Helvetica, "Lucida Grande", tahoma, verdana, arial, sans-serif; font-size: 16px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial; display: inline !important; float: none;'>
   Example: She RAN home.
  </span>
  <br style='color: rgb(20, 24, 35); font-family: "Helvetica Neue", Helvetica, "Lucida Grande", tahoma, verdana, arial, sans-serif; font-size: 16px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial;'/>
  <span style='color: rgb(20, 24, 35); font-family: "Helvetica Neue", Helvetica, "Lucida Grande", tahoma, verdana, arial, sans-serif; font-size: 16px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial; display: inline !important; float: none;'>
   Version 1:
  </span>
  <a href="https://youtu.be/jPGs28X_O54" style='text-decoration: underline; color: blue; cursor: pointer; font-family: "Helvetica Neue", Helvetica, "Lucida Grande", tahoma, verdana, arial, sans-serif; font-size: 16px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255);' target="_blank">
   https://youtu.be/jPGs28X_O54
  </a>
  <span style='color: rgb(20, 24, 35); font-family: "Helvetica Neue", Helvetica, "Lucida Grande", tahoma, verdana, arial, sans-serif; font-size: 16px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial; display: inline !important; float: none;'>
  </span>
  <br style='color: rgb(20, 24, 35); font-family: "Helvetica Neue", Helvetica, "Lucida Grande", tahoma, verdana, arial, sans-serif; font-size: 16px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial;'/>
  <span style='color: rgb(20, 24, 35); font-family: "Helvetica Neue", Helvetica, "Lucida Grande", tahoma, verdana, arial, sans-serif; font-size: 16px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial; display: inline !important; float: none;'>
   Version 2:
  </span>
  <a href="https://youtu.be/0msTKdOaGG0" style='text-decoration: underline; color: blue; cursor: pointer; font-family: "Helvetica Neue", Helvetica, "Lucida Grande", tahoma, verdana, arial, sans-serif; font-size: 16px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255);' target="_blank">
   https://youtu.be/0msTKdOaGG0
  </a>
  <span style='color: rgb(20, 24, 35); font-family: "Helvetica Neue", Helvetica, "Lucida Grande", tahoma, verdana, arial, sans-serif; font-size: 16px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial; display: inline !important; float: none;'>
  </span>
  <br style='color: rgb(20, 24, 35); font-family: "Helvetica Neue", Helvetica, "Lucida Grande", tahoma, verdana, arial, sans-serif; font-size: 16px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial;'/>
  <br style='color: rgb(20, 24, 35); font-family: "Helvetica Neue", Helvetica, "Lucida Grande", tahoma, verdana, arial, sans-serif; font-size: 16px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial;'/>
  <span style='color: rgb(20, 24, 35); font-family: "Helvetica Neue", Helvetica, "Lucida Grande", tahoma, verdana, arial, sans-serif; font-size: 16px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial; display: inline !important; float: none;'>
   Definition: To flee, escape
  </span>
  <br style='color: rgb(20, 24, 35); font-family: "Helvetica Neue", Helvetica, "Lucida Grande", tahoma, verdana, arial, sans-serif; font-size: 16px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial;'/>
  <span style='color: rgb(20, 24, 35); font-family: "Helvetica Neue", Helvetica, "Lucida Grande", tahoma, verdana, arial, sans-serif; font-size: 16px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial; display: inline !important; float: none;'>
   Example: She RAN away from home
  </span>
  <br style='color: rgb(20, 24, 35); font-family: "Helvetica Neue", Helvetica, "Lucida Grande", tahoma, verdana, arial, sans-serif; font-size: 16px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial;'/>
  <span style='color: rgb(20, 24, 35); font-family: "Helvetica Neue", Helvetica, "Lucida Grande", tahoma, verdana, arial, sans-serif; font-size: 16px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial; display: inline !important; float: none;'>
   ESCAPE:
  </span>
  <a href="https://youtu.be/543xGhWIcE0" style='text-decoration: underline; color: blue; cursor: pointer; font-family: "Helvetica Neue", Helvetica, "Lucida Grande", tahoma, verdana, arial, sans-serif; font-size: 16px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255);' target="_blank">
   https://youtu.be/543xGhWIcE0
  </a>
  <span style='color: rgb(20, 24, 35); font-family: "Helvetica Neue", Helvetica, "Lucida Grande", tahoma, verdana, arial, sans-serif; font-size: 16px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial; display: inline !important; float: none;'>
  </span>
  <br style='color: rgb(20, 24, 35); font-family: "Helvetica Neue", Helvetica, "Lucida Grande", tahoma, verdana, arial, sans-serif; font-size: 16px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial;'/>
  <br style='color: rgb(20, 24, 35); font-family: "Helvetica Neue", Helvetica, "Lucida Grande", tahoma, verdana, arial, sans-serif; font-size: 16px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial;'/>
  <span style='color: rgb(20, 24, 35); font-family: "Helvetica Neue", Helvetica, "Lucida Grande", tahoma, verdana, arial, sans-serif; font-size: 16px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial; display: inline !important; float: none;'>
   Definition: To move about in a hurried and hectic way.
  </span>
  <br style='color: rgb(20, 24, 35); font-family: "Helvetica Neue", Helvetica, "Lucida Grande", tahoma, verdana, arial, sans-serif; font-size: 16px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial;'/>
  <span style='color: rgb(20, 24, 35); font-family: "Helvetica Neue", Helvetica, "Lucida Grande", tahoma, verdana, arial, sans-serif; font-size: 16px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial; display: inline !important; float: none;'>
   Example: She spent the whole day RUNNING errands
  </span>
  <br style='color: rgb(20, 24, 35); font-family: "Helvetica Neue", Helvetica, "Lucida Grande", tahoma, verdana, arial, sans-serif; font-size: 16px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial;'/>
  <span style='color: rgb(20, 24, 35); font-family: "Helvetica Neue", Helvetica, "Lucida Grande", tahoma, verdana, arial, sans-serif; font-size: 16px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial; display: inline !important; float: none;'>
   WHAT-DO:
  </span>
  <a href="https://youtu.be/Ps-rJ8KyKwE" style='text-decoration: underline; color: blue; cursor: pointer; font-family: "Helvetica Neue", Helvetica, "Lucida Grande", tahoma, verdana, arial, sans-serif; font-size: 16px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255);' target="_blank">
   https://youtu.be/Ps-rJ8KyKwE
  </a>
  <span style='color: rgb(20, 24, 35); font-family: "Helvetica Neue", Helvetica, "Lucida Grande", tahoma, verdana, arial, sans-serif; font-size: 16px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial; display: inline !important; float: none;'>
  </span>
  <br style='color: rgb(20, 24, 35); font-family: "Helvetica Neue", Helvetica, "Lucida Grande", tahoma, verdana, arial, sans-serif; font-size: 16px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial;'/>
  <br style='color: rgb(20, 24, 35); font-family: "Helvetica Neue", Helvetica, "Lucida Grande", tahoma, verdana, arial, sans-serif; font-size: 16px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial;'/>
  <span style='color: rgb(20, 24, 35); font-family: "Helvetica Neue", Helvetica, "Lucida Grande", tahoma, verdana, arial, sans-serif; font-size: 16px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial; display: inline !important; float: none;'>
   Definition: To run for office (an election contest).
  </span>
  <br style='color: rgb(20, 24, 35); font-family: "Helvetica Neue", Helvetica, "Lucida Grande", tahoma, verdana, arial, sans-serif; font-size: 16px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial;'/>
  <span style='color: rgb(20, 24, 35); font-family: "Helvetica Neue", Helvetica, "Lucida Grande", tahoma, verdana, arial, sans-serif; font-size: 16px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial; display: inline !important; float: none;'>
   Examples: She RAN for mayor and won.
  </span>
  <br style='color: rgb(20, 24, 35); font-family: "Helvetica Neue", Helvetica, "Lucida Grande", tahoma, verdana, arial, sans-serif; font-size: 16px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial;'/>
  <span style='color: rgb(20, 24, 35); font-family: "Helvetica Neue", Helvetica, "Lucida Grande", tahoma, verdana, arial, sans-serif; font-size: 16px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial; display: inline !important; float: none;'>
   COMPETE:
  </span>
  <a href="https://youtu.be/1lgIo5kdzKU" style='text-decoration: underline; color: blue; cursor: pointer; font-family: "Helvetica Neue", Helvetica, "Lucida Grande", tahoma, verdana, arial, sans-serif; font-size: 16px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255);' target="_blank">
   https://youtu.be/1lgIo5kdzKU
  </a>
  <span style='color: rgb(20, 24, 35); font-family: "Helvetica Neue", Helvetica, "Lucida Grande", tahoma, verdana, arial, sans-serif; font-size: 16px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial; display: inline !important; float: none;'>
  </span>
  <br style='color: rgb(20, 24, 35); font-family: "Helvetica Neue", Helvetica, "Lucida Grande", tahoma, verdana, arial, sans-serif; font-size: 16px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial;'/>
  <br style='color: rgb(20, 24, 35); font-family: "Helvetica Neue", Helvetica, "Lucida Grande", tahoma, verdana, arial, sans-serif; font-size: 16px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial;'/>
  <span style='color: rgb(20, 24, 35); font-family: "Helvetica Neue", Helvetica, "Lucida Grande", tahoma, verdana, arial, sans-serif; font-size: 16px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial; display: inline !important; float: none;'>
   Definition: To go back and forth.
  </span>
  <br style='color: rgb(20, 24, 35); font-family: "Helvetica Neue", Helvetica, "Lucida Grande", tahoma, verdana, arial, sans-serif; font-size: 16px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial;'/>
  <span style='color: rgb(20, 24, 35); font-family: "Helvetica Neue", Helvetica, "Lucida Grande", tahoma, verdana, arial, sans-serif; font-size: 16px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial; display: inline !important; float: none;'>
   Example: She RAN back and forth to the bathroom.
  </span>
  <br style='color: rgb(20, 24, 35); font-family: "Helvetica Neue", Helvetica, "Lucida Grande", tahoma, verdana, arial, sans-serif; font-size: 16px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial;'/>
  <span style='color: rgb(20, 24, 35); font-family: "Helvetica Neue", Helvetica, "Lucida Grande", tahoma, verdana, arial, sans-serif; font-size: 16px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial; display: inline !important; float: none;'>
   COMMUTE:
  </span>
  <a href="https://youtu.be/jxWEfoH288I" style='text-decoration: underline; color: blue; cursor: pointer; font-family: "Helvetica Neue", Helvetica, "Lucida Grande", tahoma, verdana, arial, sans-serif; font-size: 16px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255);' target="_blank">
   https://youtu.be/jxWEfoH288I
  </a>
  <span style='color: rgb(20, 24, 35); font-family: "Helvetica Neue", Helvetica, "Lucida Grande", tahoma, verdana, arial, sans-serif; font-size: 16px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial; display: inline !important; float: none;'>
  </span>
  <br style='color: rgb(20, 24, 35); font-family: "Helvetica Neue", Helvetica, "Lucida Grande", tahoma, verdana, arial, sans-serif; font-size: 16px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial;'/>
  <br style='color: rgb(20, 24, 35); font-family: "Helvetica Neue", Helvetica, "Lucida Grande", tahoma, verdana, arial, sans-serif; font-size: 16px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial;'/>
  <span style='color: rgb(20, 24, 35); font-family: "Helvetica Neue", Helvetica, "Lucida Grande", tahoma, verdana, arial, sans-serif; font-size: 16px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial; display: inline !important; float: none;'>
   Definition: to continue in force, operation, or production.
  </span>
  <br style='color: rgb(20, 24, 35); font-family: "Helvetica Neue", Helvetica, "Lucida Grande", tahoma, verdana, arial, sans-serif; font-size: 16px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial;'/>
  <span style='color: rgb(20, 24, 35); font-family: "Helvetica Neue", Helvetica, "Lucida Grande", tahoma, verdana, arial, sans-serif; font-size: 16px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial; display: inline !important; float: none;'>
   Example: The contract has two more years to RUN.
  </span>
  <br style='color: rgb(20, 24, 35); font-family: "Helvetica Neue", Helvetica, "Lucida Grande", tahoma, verdana, arial, sans-serif; font-size: 16px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial;'/>
  <span style='color: rgb(20, 24, 35); font-family: "Helvetica Neue", Helvetica, "Lucida Grande", tahoma, verdana, arial, sans-serif; font-size: 16px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial; display: inline !important; float: none;'>
   CONTINUE:
  </span>
  <a href="https://youtu.be/b8nlVMjXyx4" style='text-decoration: underline; color: blue; cursor: pointer; font-family: "Helvetica Neue", Helvetica, "Lucida Grande", tahoma, verdana, arial, sans-serif; font-size: 16px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255);' target="_blank">
   https://youtu.be/b8nlVMjXyx4
  </a>
  <span style='color: rgb(20, 24, 35); font-family: "Helvetica Neue", Helvetica, "Lucida Grande", tahoma, verdana, arial, sans-serif; font-size: 16px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial; display: inline !important; float: none;'>
  </span>
  <br style='color: rgb(20, 24, 35); font-family: "Helvetica Neue", Helvetica, "Lucida Grande", tahoma, verdana, arial, sans-serif; font-size: 16px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial;'/>
  <span style='color: rgb(20, 24, 35); font-family: "Helvetica Neue", Helvetica, "Lucida Grande", tahoma, verdana, arial, sans-serif; font-size: 16px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial; display: inline !important; float: none;'>
   or
  </span>
  <br style='color: rgb(20, 24, 35); font-family: "Helvetica Neue", Helvetica, "Lucida Grande", tahoma, verdana, arial, sans-serif; font-size: 16px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial;'/>
  <span style='color: rgb(20, 24, 35); font-family: "Helvetica Neue", Helvetica, "Lucida Grande", tahoma, verdana, arial, sans-serif; font-size: 16px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial; display: inline !important; float: none;'>
   REMAINING:
  </span>
  <a href="https://youtu.be/cef5ubfO9bk" style='text-decoration: underline; color: blue; cursor: pointer; font-family: "Helvetica Neue", Helvetica, "Lucida Grande", tahoma, verdana, arial, sans-serif; font-size: 16px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255);' target="_blank">
   https://youtu.be/cef5ubfO9bk
  </a>
  <span style='color: rgb(20, 24, 35); font-family: "Helvetica Neue", Helvetica, "Lucida Grande", tahoma, verdana, arial, sans-serif; font-size: 16px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial; display: inline !important; float: none;'>
  </span>
  <br style='color: rgb(20, 24, 35); font-family: "Helvetica Neue", Helvetica, "Lucida Grande", tahoma, verdana, arial, sans-serif; font-size: 16px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial;'/>
  <br style='color: rgb(20, 24, 35); font-family: "Helvetica Neue", Helvetica, "Lucida Grande", tahoma, verdana, arial, sans-serif; font-size: 16px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial;'/>
  <span style='color: rgb(20, 24, 35); font-family: "Helvetica Neue", Helvetica, "Lucida Grande", tahoma, verdana, arial, sans-serif; font-size: 16px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial; display: inline !important; float: none;'>
   Definition: to function or operate
  </span>
  <br style='color: rgb(20, 24, 35); font-family: "Helvetica Neue", Helvetica, "Lucida Grande", tahoma, verdana, arial, sans-serif; font-size: 16px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial;'/>
  <span style='color: rgb(20, 24, 35); font-family: "Helvetica Neue", Helvetica, "Lucida Grande", tahoma, verdana, arial, sans-serif; font-size: 16px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial; display: inline !important; float: none;'>
   Example: She RAN the business from her home.
  </span>
  <br style='color: rgb(20, 24, 35); font-family: "Helvetica Neue", Helvetica, "Lucida Grande", tahoma, verdana, arial, sans-serif; font-size: 16px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial;'/>
  <span style='color: rgb(20, 24, 35); font-family: "Helvetica Neue", Helvetica, "Lucida Grande", tahoma, verdana, arial, sans-serif; font-size: 16px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial; display: inline !important; float: none;'>
   PRODUCTION:
  </span>
  <a href="https://youtu.be/KlbuyMb3Vkw" style='text-decoration: underline; color: blue; cursor: pointer; font-family: "Helvetica Neue", Helvetica, "Lucida Grande", tahoma, verdana, arial, sans-serif; font-size: 16px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255);' target="_blank">
   https://youtu.be/KlbuyMb3Vkw
  </a>
  <span style='color: rgb(20, 24, 35); font-family: "Helvetica Neue", Helvetica, "Lucida Grande", tahoma, verdana, arial, sans-serif; font-size: 16px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial; display: inline !important; float: none;'>
  </span>
  <br style='color: rgb(20, 24, 35); font-family: "Helvetica Neue", Helvetica, "Lucida Grande", tahoma, verdana, arial, sans-serif; font-size: 16px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial;'/>
  <span style='color: rgb(20, 24, 35); font-family: "Helvetica Neue", Helvetica, "Lucida Grande", tahoma, verdana, arial, sans-serif; font-size: 16px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial; display: inline !important; float: none;'>
   CONTROL:
  </span>
  <a href="https://youtu.be/GYbHeF7kTac" style='text-decoration: underline; color: blue; cursor: pointer; font-family: "Helvetica Neue", Helvetica, "Lucida Grande", tahoma, verdana, arial, sans-serif; font-size: 16px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255);' target="_blank">
   https://youtu.be/GYbHeF7kTac
  </a>
  <span style='color: rgb(20, 24, 35); font-family: "Helvetica Neue", Helvetica, "Lucida Grande", tahoma, verdana, arial, sans-serif; font-size: 16px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial; display: inline !important; float: none;'>
  </span>
  <br style='color: rgb(20, 24, 35); font-family: "Helvetica Neue", Helvetica, "Lucida Grande", tahoma, verdana, arial, sans-serif; font-size: 16px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial;'/>
  <br style='color: rgb(20, 24, 35); font-family: "Helvetica Neue", Helvetica, "Lucida Grande", tahoma, verdana, arial, sans-serif; font-size: 16px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial;'/>
  <span style='color: rgb(20, 24, 35); font-family: "Helvetica Neue", Helvetica, "Lucida Grande", tahoma, verdana, arial, sans-serif; font-size: 16px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial; display: inline !important; float: none;'>
   Definition: to flow rapidly or under pressure
  </span>
  <br style='color: rgb(20, 24, 35); font-family: "Helvetica Neue", Helvetica, "Lucida Grande", tahoma, verdana, arial, sans-serif; font-size: 16px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial;'/>
  <span style='color: rgb(20, 24, 35); font-family: "Helvetica Neue", Helvetica, "Lucida Grande", tahoma, verdana, arial, sans-serif; font-size: 16px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial; display: inline !important; float: none;'>
   Example: She RAN the water in the bathtub.
  </span>
  <br style='color: rgb(20, 24, 35); font-family: "Helvetica Neue", Helvetica, "Lucida Grande", tahoma, verdana, arial, sans-serif; font-size: 16px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial;'/>
  <span style='color: rgb(20, 24, 35); font-family: "Helvetica Neue", Helvetica, "Lucida Grande", tahoma, verdana, arial, sans-serif; font-size: 16px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial; display: inline !important; float: none;'>
   LEAK:
  </span>
  <a href="https://youtu.be/oMaXlxmkLqs" style='text-decoration: underline; color: blue; cursor: pointer; font-family: "Helvetica Neue", Helvetica, "Lucida Grande", tahoma, verdana, arial, sans-serif; font-size: 16px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255);' target="_blank">
   https://youtu.be/oMaXlxmkLqs
  </a>
  <span style='color: rgb(20, 24, 35); font-family: "Helvetica Neue", Helvetica, "Lucida Grande", tahoma, verdana, arial, sans-serif; font-size: 16px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial; display: inline !important; float: none;'>
  </span>
  <br style='color: rgb(20, 24, 35); font-family: "Helvetica Neue", Helvetica, "Lucida Grande", tahoma, verdana, arial, sans-serif; font-size: 16px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial;'/>
  <br style='color: rgb(20, 24, 35); font-family: "Helvetica Neue", Helvetica, "Lucida Grande", tahoma, verdana, arial, sans-serif; font-size: 16px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial;'/>
  <span style='color: rgb(20, 24, 35); font-family: "Helvetica Neue", Helvetica, "Lucida Grande", tahoma, verdana, arial, sans-serif; font-size: 16px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial; display: inline !important; float: none;'>
   Definition: To pass from one state or condition to another
  </span>
  <br style='color: rgb(20, 24, 35); font-family: "Helvetica Neue", Helvetica, "Lucida Grande", tahoma, verdana, arial, sans-serif; font-size: 16px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial;'/>
  <span style='color: rgb(20, 24, 35); font-family: "Helvetica Neue", Helvetica, "Lucida Grande", tahoma, verdana, arial, sans-serif; font-size: 16px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial; display: inline !important; float: none;'>
   Example: She RAN up her level of debt.
  </span>
  <br style='color: rgb(20, 24, 35); font-family: "Helvetica Neue", Helvetica, "Lucida Grande", tahoma, verdana, arial, sans-serif; font-size: 16px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial;'/>
  <span style='color: rgb(20, 24, 35); font-family: "Helvetica Neue", Helvetica, "Lucida Grande", tahoma, verdana, arial, sans-serif; font-size: 16px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial; display: inline !important; float: none;'>
   INCREASE:
  </span>
  <a href="https://youtu.be/BVnja7mW_-Y" style='text-decoration: underline; color: blue; cursor: pointer; font-family: "Helvetica Neue", Helvetica, "Lucida Grande", tahoma, verdana, arial, sans-serif; font-size: 16px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255);' target="_blank">
   https://youtu.be/BVnja7mW_-Y
  </a>
 </p>
 <p>
  <br/>
 </p>
 <hr align="left" color="#000000" size="1" width="50%"/>
 <p>
 </p>
 <p>
  <iframe allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" height="315" name="I1" src="https://www.youtube.com/embed/JC6APFamWj0" title="YouTube video player" width="560">
  </iframe>
 </p>
 <p>
 </p>
 <p>
  Vocabulary and topics covered in this video:
 </p>
 <p>
  <br/>
  legs moving fast
  <br/>
  run against, COMPETE, RACE, sports
  <br/>
  run away, ESCAPE, elope, flee
  <br/>
  run back and forth, COMMUTE
  <br/>
  run after, CHASE
  <br/>
 </p>
 <p>
  The babysitter ran after the child.
  <br/>
  The delivery run takes about 4 hours.
  <br/>
  The cat ran out the door.
  <br/>
  The two sisters ran against each other in the pageant.
  <br/>
  The analyst kept running back and forth to the bathroom.
  <br/>
 </p>
 <p>
  run out of, ALL-GONE, used up
  <br/>
  run = control, MANAGE
  <br/>
  run = continue, persist, keep going
  <br/>
  run the figures = CALCULATE, ACCOUNTING, MULTIPLY
  <br/>
  figure out
  <br/>
 </p>
 <p>
  The meeting ran on and on.
  <br/>
  Yesterday, we ran out of soap.
  <br/>
  The auditor ran the figures twice.
  <br/>
  My father runs a computer repair store.
  <br/>
  I've run out of patience.
  <br/>
 </p>
 <p>
  runs in the, PASS-down GENERATION
  <br/>
  run four legs, RUNNING-animal
  <br/>
  run into, BUMP-into
  <br/>
  run a comb, COMB-hair
  <br/>
 </p>
 <p>
  The horse ran through the woods.
  <br/>
  I ran into an old student of mine yesterday
  <br/>
  She carefully ran a comb through the tangled hair.
  <br/>
  The blue eye gene runs in the family.
  <br/>
  The goat ran up to the fence.
  <br/>
 </p>
 <p>
  run errands, to-dos, run a line
  <br/>
  DRAW or WRITE-a-line
  <br/>
  run a machine, OPERATE-machine
  <br/>
  running
  <br/>
  ran down
  <br/>
  RUN-legs moving + context
  <br/>
 </p>
 <p>
  The engine runs smoothly
  <br/>
  The teacher ran a line down the board.
  <br/>
  She was constantly on the run all day.
  <br/>
  The man ran down the street to catch the bus.
  <br/>
  The scientist ran a series of tests.
  <br/>
 </p>
 <p>
  run through PIERCE
  <br/>
  run up, INCREASE
  <br/>
  RUNS-diarrhea
  <br/>
  run = path, road street way
  <br/>
 </p>
 <p>
  My brother ran a splinter into his toe.
  <br/>
  The contestants walked down the runway.
  <br/>
  Eating too many berries gave my daughter the runs.
  <br/>
  The hospital bill ran up into the thousands
  <br/>
  The ski run was very steep.
  <br/>
  run into or bleed into = MERGE or MIX
  <br/>
  run = tear, RIP-tear
  <br/>
  run a machine = OPERATE-machine
  <br/>
 </p>
 <p>
  The different colored paints run into each other.
  <br/>
  My kids love to run around in the back fields.
  <br/>
  Pulling a snag in the sweater caused a run.
  <br/>
  My boss did not know how to run the copy machine.
  <br/>
  Every morning, my husband runs 3 miles.
  <br/>
 </p>
 <p>
  run fingers through hair
  <br/>
  eyes ran down / over, LOOK-at or READ
  <br/>
 </p>
 <p>
  The thief ran out the store with the bag of money.
  <br/>
  The teacher ran over the list of names to see who was missing.
  <br/>
  The man was arrested due to a hit and run incident.
  <br/>
  The guy had a habit of running his fingers through his hair.
  <br/>
  The assistant makes frequent runs to the coffee shop next door.
  <br/>
 </p>
 <p>
  run down, DETERIORATE, retrogress, declining
  <br/>
  runny nose
  <br/>
  head cold (sick)
  <br/>
  CAR run off road
  <br/>
  RUNNING-water
  <br/>
 </p>
 <p>
  My daughter left the water running all night.
  <br/>
  The car ran off the road.
  <br/>
  The neighborhood was run-down.
  <br/>
  The little boy had a runny nose.
  <br/>
  You can see the water running from the radiator hose.
  <br/>
  The show in Las Vegas ran for two years.
  <br/>
  The girl ran as fast as she could to win the race.
  <br/>
  The business ran for another two years before it was shut down.
  <br/>
  The cat ran up the tree.
  <br/>
  The hitchhiker ran out of money half-way across the country.
  <br/>
 </p>
 <p>
  run down, CRITICIZE, berate, correct, critical of
  <br/>
  LEAVE
  <br/>
  TAKE-off (LEAVE)
  <br/>
  take off ESCAPE
  <br/>
 </p>
 <p>
  My mother ran off to go shopping
  <br/>
  My co-worker tends to gossip and run everybody down.
  <br/>
  The financial analyst ran the numbers and turned in the report.
  <br/>
  The building violations ran up and the place was closed down.
  <br/>
  The dog ran out the gate the moment it was opened.
  <br/>
 </p>
 <p>
  [The End -- for now.]
 </p>
 <p>
 </p>
 <p>
 </p>
 <p>
 </p>
 <p>
 </p>
 <p>
 </p>
 <hr align="left" color="#000000" size="1"/>
 <script type="text/javascript">
  <!--
google_ad_client = "ca-pub-2513564923850231";
/* 728x15_link_ads_adsense1_bottom */
google_ad_slot = "2289748297";
google_ad_width = 728;
google_ad_height = 15;
//-->
 </script>
 <script src="//pagead2.googlesyndication.com/pagead/show_ads.js" type="text/javascript">
 </script>
 <p align="center" style="margin-top: 0; margin-bottom: 0">
 </p>
 <script type="text/javascript">
  <!--
google_ad_client = "ca-pub-2513564923850231";
/* 728x15_link_ads_adsense1_bottom */
google_ad_slot = "2289748297";
google_ad_width = 728;
google_ad_height = 15;
//-->
 </script>
 <script src="//pagead2.googlesyndication.com/pagead/show_ads.js" type="text/javascript">
 </script>
 <p align="center" style="margin-top: 0; margin-bottom: 0">
 </p>
 <script type="text/javascript">
  <!--
google_ad_client = "ca-pub-2513564923850231";
/* 728x15_link_ads_adsense1_bottom */
google_ad_slot = "2289748297";
google_ad_width = 728;
google_ad_height = 15;
//-->
 </script>
 <script src="//pagead2.googlesyndication.com/pagead/show_ads.js" type="text/javascript">
 </script>
 <hr align="left" color="#000000" size="1"/>
 <p>
  Notes:
  <br/>
  <a href="../../../index-old.htm">
   index-old.htm
  </a>
 </p>
 <p>
 </p>
 <p style="margin-top: 0; margin-bottom: 0">
  <a href="../_matrix.htm">
   matrix-for-sign-pages (_matrix.htm)
  </a>
 </p>
 <hr align="left" color="#000000" size="1"/>
 <hr align="left" color="#000000" size="1"/>
 <p style="margin-top: 0; margin-bottom: 0">
  <br/>
  * 
Want to help support ASL University?  It's
  <i>
   easy
  </i>
  :
  <b>
   <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&amp;hosted_button_id=XHRNABERKJT4N" rel="nofollow" target="_blank">
    <u>
     DONATE
    </u>
   </a>
  </b>
  <font size="2">
   (
   <i>
    Thanks!
   </i>
   )
  </font>
  <br/>
  <br/>
  <font face="Arial">
   *
  </font>
  Another way to help is to buy something from Dr. Bill's "
  <b>
   <a href="../../../bookstore/bookstore.htm">
    <u>
     Bookstore
    </u>
   </a>
  </b>
  ."
 </p>
 <p style="margin-top: 0; margin-bottom: 0">
  <br/>
  <font face="Arial">
   *
  </font>
  Want even more ASL resources?  Visit the "
  <b>
   <a href="http://www.asl.tc/landing/index.html" rel="nofollow" target="_blank">
    ASL Training Center
   </a>
   !
  </b>
  "  (Subscription 
Extension of ASLU)
  <br/>
  <br/>
  *  Also check out Dr. Bill's channel:
  <a href="https://www.youtube.com/billvicars">
   www.youtube.com/billvicars
  </a>
  <font size="2">
   <br/>
  </font>
 </p>
 <hr align="left" color="#000000" size="1"/>
 <p align="center" style="margin-top: 0; margin-bottom: 0">
  <font size="1">
   You can learn
   <a href="http://lifeprint.com">
    American Sign Language (ASL)
   </a>
   online at American Sign Language University ™
   <br/>
   <a href="http://asl.ms" style="text-decoration: none">
    ASL
   </a>
   resources by Lifeprint.com  ©  Dr. William Vicars
  </font>
 </p>
 <hr color="#000000" size="1"/>
 <p>
 </p>
</blockquote>
