<blockquote>
 <hr align="left" color="#000000" size="1"/>
 <p>
  SALESPERSON / SELLER:
  <br/>
  This sign is a compound of the signs "sell" and "agent."  (Agent is also 
  known as the "person-affix.")  The sign for store normally uses a double 
  movement.  When done with a single movement this sign tends to mean 
  "sell."
  <br/>
  <br/>
  <img border="0" height="221" src="/images/salesp16.jpg" width="254"/>
  <img border="0" height="221" src="/images/salesp17.jpg" width="254"/>
  <img border="0" height="221" src="/images/salesp18.jpg" width="254"/>
  <img border="0" height="221" src="/images/salesp19.jpg" width="254"/>
 </p>
 <p style="margin-top: 0; margin-bottom: 0">
  <br/>
 </p>
 <font face="Arial">
  <hr align="left" color="#000000" size="1"/>
  <p align="center" style="margin-top: 0; margin-bottom: 0">
   <font face="Arial" size="1">
    You can learn
    <a href="http://lifeprint.com" style="text-decoration: none">
     American Sign Language (ASL)
    </a>
    online at American Sign Language University ™
    <br/>
    <a href="http://asl.ms" style="text-decoration: none">
     ASL
    </a>
    resources by Lifeprint.com  ©  Dr. William Vicars
   </font>
  </p>
 </font>
</blockquote>
