<blockquote>
 <font face="Arial">
  <hr align="left" color="#000000" size="1"/>
 </font>
 <p style="margin-top: 0; margin-bottom: 0">
  <br/>
  <b>
   Description
  </b>
  :  You tap your chin twice, just below the lower lip.
  <br/>
  NOTE:  As part of this sentence you use a "Wh?" facial
  expression.
  <br/>
  <br/>
  Phrase:  "What did he say?"
  <br/>
  <br/>
  <img border="0" height="221" src="/images/say-what-did-he-say1.jpg" width="208"/>
  <img border="0" height="221" src="/images/say-what-did-he-say2.jpg" width="208"/>
  <img border="0" height="221" src="/images/say-what-did-he-say3.jpg" width="208"/>
  <img border="0" height="221" src="/images/say-what-did-he-say4.jpg" width="208"/>
 </p>
 <p style="margin-top: 0; margin-bottom: 0">
 </p>
 <font face="Arial">
  <hr align="left" color="#000000" size="1"/>
  <p style="margin-top: 0; margin-bottom: 0">
   NOTE compare this sign with:
   <a href="speak.htm">
    SPEAK
   </a>
   <br/>
   Also see:
   <a href="../t/tell.htm">
    TELL
   </a>
  </p>
  <hr align="left" color="#000000" size="1"/>
  <hr align="left" color="#000000" size="1"/>
  <p align="center" style="margin-top: 0; margin-bottom: 0">
   <font face="Arial" size="1">
    You can learn
    <a href="http://lifeprint.com" style="text-decoration: none">
     American Sign Language (ASL)
    </a>
    online at American Sign Language University ™
    <br/>
    <a href="http://asl.ms" style="text-decoration: none">
     ASL
    </a>
    resources by Lifeprint.com  ©  Dr. William Vicars
   </font>
  </p>
 </font>
</blockquote>
