<blockquote>
 <hr align="left" color="#000000" size="1"/>
 <br/>
 If you wanted to show one of those futuristic full body scans 
			you see being done to secret agents just before they enter their 
			secret headquarters you can show it by using this sign.
 <br/>
 <br/>
 A "full body" scan:
 <font face="Arial">
  <br/>
  <img border="0" height="320" src="/images/scan.h15.jpg" width="285"/>
  <img border="0" height="320" src="/images/scan.h14.jpg" width="285"/>
 </font>
 <img border="0" height="320" src="/images/scan.h13.jpg" width="285"/>
 <img border="0" height="320" src="/images/scan.h14.jpg" width="285"/>
 <img border="0" height="320" src="/images/scan.h15.jpg" width="285"/>
 <p style="margin-top: 0; margin-bottom: 0">
  <hr align="left" color="#000000" size="1" width="50%"/>
  <p style="margin-top: 0; margin-bottom: 0">
  </p>
  <font face="Arial">
   <hr align="left" color="#000000" size="1"/>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
    <font face="Arial" size="1">
     You can learn
     <a href="http://lifeprint.com" style="text-decoration: none">
      American Sign Language (ASL)
     </a>
     online at American Sign Language University ™
     <br/>
     <a href="http://asl.ms" style="text-decoration: none">
      ASL
     </a>
     resources by Lifeprint.com  ©  Dr. William Vicars
    </font>
   </p>
  </font>
 </p>
</blockquote>
