<blockquote>
 <hr align="left" color="#000000" size="1"/>
 <br/>
 <div>
  <div>
   Stephanie from Houston Texas writes:
  </div>
  <blockquote style="PADDING-LEFT: 5px; MARGIN-LEFT: 5px; BORDER-LEFT: blue 2px solid">
   <font color="#000000" face="Arial" size="2" style="BACKGROUND-COLOR: transparent">
    Question: Is there a sign for scars?
   </font>
  </blockquote>
 </div>
 <div>
  Stephanie,
  <br/>
  In general you drag the fingertip of an index finger
  <font face="Arial">
   across the bodypart where the scar is located.
   <br/>
   In ASL the fingernail (or a thumbnail) is sometimes used to represent a 
		blade or scalpel.
   <br/>
   So, when signing "SCAR" make sure that as you drag the finger such a way 
		as that the fingernail (if sharpened up) would be cutting the skin.
   <br/>
  </font>
  <br/>
  If you drag the tip of the index finger of an "X" hand it means 
		"scratch."
  <br/>
  <br/>
  Typical usage would include:  PRO.3 HAVE SCAR-(location: "right cheek")
  <br/>
  This would be interpreted as "He (third person pronoun) has a scar on his right cheek."
  <br/>
  <br/>
  Multiple scars in the same area could be shown by dragging a "curved 5" handhape (claw) across the area where there are 
		multiple scars.
  <br/>
  <font face="Arial">
   <hr align="left" color="#000000" size="1"/>
  </font>
  <p>
   <br/>
   SCAR (general and/or on cheek) or "a cut on the cheek" / "it sliced the 
		cheek."
   <br/>
   <img border="0" height="320" src="/images/scar-01.jpg" width="251"/>
   <img border="0" height="320" src="/images/scar-02.jpg" width="251"/>
  </p>
  <p>
  </p>
  <p>
   SCRATCH  (a scratch on the cheek)
   <br/>
   <img border="0" height="320" src="/images/scratch-01.jpg" width="266"/>
   <img border="0" height="320" src="/images/scratch-02.jpg" width="266"/>
   <br/>
   Note: If you mean scratch in general, do it on the back of the 
		non-dominant hand.
  </p>
 </div>
 <p style="margin-top: 0; margin-bottom: 0">
  <br/>
 </p>
 <font face="Arial">
  <hr align="left" color="#000000" size="1"/>
  <p align="center" style="margin-top: 0; margin-bottom: 0">
   <font face="Arial" size="1">
    You can learn
    <a href="http://lifeprint.com" style="text-decoration: none">
     American Sign Language (ASL)
    </a>
    online at American Sign Language University ™
    <br/>
    <a href="http://asl.ms" style="text-decoration: none">
     ASL
    </a>
    resources by Lifeprint.com  ©  Dr. William Vicars
   </font>
  </p>
 </font>
</blockquote>
