<blockquote>
 <font face="Arial">
  <font size="2">
   <h1 style="margin-top: 0; margin-bottom: 0">
    <span style="font-weight: 400">
     <font size="5">
      American Sign Language: "scientist"
     </font>
    </span>
    <br/>
   </h1>
   <blockquote>
    <hr align="left" color="#000000" size="1"/>
    <p style="margin-top: 0; margin-bottom: 0">
     To remember the sign for "scientist," think of a person pouring chemicals from a test tube into a beaker.
     <p>
      <br/>
      Scientist = SCIENCE + PERSON:
     </p>
     <p>
     </p>
     <p>
      <img border="0" height="238" src="/images/scientist1.jpg" width="294"/>
      <img border="0" height="238" src="/images/scientist2.jpg" width="294"/>
      <img border="0" height="238" src="/images/scientist3.jpg" width="294"/>
      <img border="0" height="238" src="/images/scientist4.jpg" width="294"/>
      <img border="0" height="238" src="/images/scientist5.jpg" width="294"/>
      <img border="0" height="238" src="/images/scientist6.jpg" width="294"/>
      <img border="0" height="238" src="/images/scientist7.jpg" width="294"/>
      <br/>
     </p>
     <hr align="left" color="#000000" size="1"/>
     <p>
      <br/>
      My wife prefers to do the sign "SCIENCE" with "A" hands.  Meh. 
	Okay. Actually I like either
  ways.  The "A" hands do remind me of "beakers" that some
  scientists use to mix chemicals.
      <br/>
      <br/>
      SCIENCE + AGENT
      <br/>
      <br/>
      <font face="Arial" size="2">
       <img border="0" src="/images/scientist.gif" style="max-width: 100%; height: auto" width="480"/>
      </font>
     </p>
     <p>
      <img border="0" height="235" src="/images/scientistb1.jpg" width="239"/>
      <img border="0" height="235" src="/images/scientistb2.jpg" width="239"/>
      <img border="0" height="235" src="/images/scientistb3.jpg" width="239"/>
      <img border="0" height="235" src="/images/scientistb4.jpg" width="239"/>
      <img border="0" height="235" src="/images/scientistb5.jpg" width="239"/>
     </p>
    </p>
   </blockquote>
  </font>
 </font>
</blockquote>
