<blockquote>
 <hr align="left" color="#000000" size="1"/>
 <p>
  SCOOTER:
  <br/>
  I haven't see a
  <i>
   widespread
  </i>
  sign for SCOOTER--as in the type that are like a 
  skateboard with a steering wheel. I asked around quite a bit and a a couple of 
	people did "scooter" by showing how you hold one 
  and use "flat hands" to show how you keep your left foot on the scooter and 
  you push with your right foot, then you hold both hands out in-front of you as 
  if holding onto a scooter.  Move your hands forward, then backward, then 
  forward again. Or show a left right turning movement.  It will be 
  interesting to see what version of this sign eventually (if ever) becomes 
  popular.
  <br/>
 </p>
 <p>
  <img border="0" height="214" src="/images/scoote42.jpg" width="228"/>
  <img border="0" height="214" src="/images/scoote43.jpg" width="228"/>
  <img border="0" height="214" src="/images/scoote42.jpg" width="228"/>
  <img border="0" height="214" src="/images/scoote43.jpg" width="228"/>
 </p>
 <p>
  If you do this sign a little lower it could mean "shopping cart" or 
  "stroller."
 </p>
 <hr align="left" color="#000000" size="1"/>
 <a href="/images/scooter.gif">
  Animation:  SCOOTER
 </a>
 <hr align="left" color="#000000" size="1"/>
 <div>
  <div>
   In a message dated 7/7/2005 12:02:08 PM Pacific Daylight Time, 
		ryanmcquillan55423@_____.com writes:
  </div>
  <blockquote style="PADDING-LEFT: 5px; MARGIN-LEFT: 5px; BORDER-LEFT: blue 2px solid">
   <font color="#000000" face="Arial" size="2" style="BACKGROUND-COLOR: transparent">
    <div>
     Hi Dr. Bill,
    </div>
    <div>
     I've enjoyed browsing through your site. I noticed that you hadn't 
			seen a widespread sign for Scooter. We have a common sign for it in 
			Arizona, but perhaps it's regional I'm not sure. Anyway I thought 
			I'd share it with you.
    </div>
    <div>
     Your left hand is open and flat palm facing up. Form the letter P 
			with your right hand. Place the tip of your index finger in the palm 
			of your left hand. Now flick your middle finger (towards 
			yourself) against the palm of your left hand several times.
    </div>
    <div>
     Hopefully my explanation was clear, if not I can try to clarify.
    </div>
    <div>
     Thanks for creating such a great site.
    </div>
    <div>
     Take Care,
    </div>
    <div>
     ~Ryan
    </div>
   </font>
  </blockquote>
 </div>
 <div>
  Ryan,
 </div>
 <div>
  Thanks for sharing.  I used to use that sign (the one you describe) 
		as my sign for "skateboard" until my young Coda (Child of Deaf Adult) 
		friend showed me a sign for skateboard that I liked even better (see:
  <font face="Arial">
   <a href="skateboard.htm">
    skateboard
   </a>
   ).
  </font>
 </div>
 <div>
  I'll post your description to the "scooter page." Since (as you point 
		out) it is being commonly used in Arizona it seems to be a fairly safe 
		sign to recommend to others.
 </div>
 <div>
  Cordially,
 </div>
 <div>
  Dr.
		Bill
 </div>
 <p style="margin-top: 0; margin-bottom: 0">
  <br/>
 </p>
 <font face="Arial">
  <hr align="left" color="#000000" size="1"/>
  <p align="center" style="margin-top: 0; margin-bottom: 0">
   <font face="Arial" size="1">
    You can learn
    <a href="http://lifeprint.com" style="text-decoration: none">
     American Sign Language (ASL)
    </a>
    online at American Sign Language University ™
    <br/>
    <a href="http://asl.ms" style="text-decoration: none">
     ASL
    </a>
    resources by Lifeprint.com  ©  Dr. William Vicars
   </font>
  </p>
 </font>
</blockquote>
