<blockquote>
 <hr align="left" color="#000000" size="1"/>
 In a message dated 9/16/2014 11:05:11 A.M. Pacific Daylight Time, an 
			ASL teacher writes:
 <br/>
 <br/>
 Hi Dr. Bill,
 <br/>
 There is a current, popular song called "Sweet Serendipity" by Lee 
			DeWyze.
 <br/>
 One of my students wants to 'sign it in sign.'
 <br/>
 I have no idea how to sign 'serendipity.'
 <br/>
 Serendipity - definition: The occurrence, due to sheer happenstance, 
			of happy or beneficial events.
 <br/>
 Suggestions?
 <br/>
 [Name on File]
 <br/>
 <p style="margin-top: 0; margin-bottom: 0">
  Dear [Name on File],
  <br/>
  <font face="Arial">
   How about "LUCKY?"  ;-)
   <br/>
   I suppose a signer could preface LUCKY with "pop-up"-[appear] or 
			"happen."
   <br/>
   - Dr. Bill
   <br/>
  </font>
  <hr align="left" color="#000000" size="1" width="50%"/>
  <p style="margin-top: 0; margin-bottom: 0">
   See:
   <a href="../l/lucky.htm">
    LUCKY
   </a>
   <br/>
   See: POP-UP [
   <a href="../a/appear.htm">
    APPEAR
   </a>
   ]
   <br/>
   See:
   <a href="../h/happen.htm">
    HAPPEN
   </a>
  </p>
  <font face="Arial">
   <hr align="left" color="#000000" size="1"/>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
    <font face="Arial" size="1">
     You can learn
     <a href="http://lifeprint.com">
      American Sign Language (ASL)
     </a>
     online at American Sign Language University ™
     <br/>
     <a href="http://asl.ms" style="text-decoration: none">
      ASL
     </a>
     resources by Lifeprint.com  ©  Dr. William Vicars
    </font>
   </p>
  </font>
 </p>
</blockquote>
