<blockquote>
 <hr align="left" color="#000000" size="1"/>
 <p style="margin-top: 0; margin-bottom: 0">
  <font face="Arial">
   <img height="69" src="/images/shoes.gif" width="214"/>
   <font size="+1">
    <br/>
    T
   </font>
   he sign for "shoes"
is made by closing both hands and whacking them together twice:
   <br/>
   <br/>
  </font>
  <img border="0" src="/images/shoes.gif" style="max-width: 100%; height: auto" width="480"/>
  <p style="margin-top: 0; margin-bottom: 0">
   <font face="Arial">
    <img border="0" height="221" src="/images/shoes1.jpg" width="205"/>
    <img border="0" height="221" src="/images/shoes2.jpg" width="205"/>
    <img border="0" height="221" src="/images/shoes3.jpg" width="205"/>
    <img border="0" height="221" src="/images/shoes4.jpg" width="205"/>
   </font>
   <p style="margin-top: 0; margin-bottom: 0">
    <iframe allow="autoplay; encrypted-media" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/Yoi_OLX0IEs?rel=0" width="560">
    </iframe>
    <font face="Arial">
     <br/>
     <br/>
     Do it gently eh? No need to hurt yourself.
     <br/>
    </font>
    <font face="Arial">
     <hr align="left" color="#000000" size="1"/>
    </font>
   </p>
  </p>
 </p>
</blockquote>
