<blockquote>
 <hr align="left" color="#000000" size="1"/>
 <p>
  SINCE / HAVE-BEEN / UP-TILL-NOW
 </p>
 <p>
  <img border="0" height="222" src="/images/since.1.jpg" width="207"/>
  <img border="0" height="222" src="/images/since.2.jpg" width="207"/>
  <img border="0" height="222" src="/images/since.3.jpg" width="207"/>
 </p>
 <hr align="left" color="#000000" size="1"/>
 Since: (animation)
 <p>
  <img border="0" height="222" src="/images/since.gif" width="207"/>
 </p>
 <p style="margin-top: 0; margin-bottom: 0">
  <br/>
 </p>
 <font face="Arial">
  <hr align="left" color="#000000" size="1"/>
  <p align="center" style="margin-top: 0; margin-bottom: 0">
   <font face="Arial" size="1">
    You can learn
    <a href="http://lifeprint.com" style="text-decoration: none">
     American Sign Language (ASL)
    </a>
    online at American Sign Language University ™
    <br/>
    <a href="http://asl.ms" style="text-decoration: none">
     ASL
    </a>
    resources by Lifeprint.com  ©  Dr. William Vicars
   </font>
  </p>
 </font>
</blockquote>
