<blockquote>
 <hr align="left" color="#000000" size="1" width="50%"/>
 <span style="font-weight: 400">
  <font face="Arial">
   <p style="margin-top: 0; margin-bottom: 0">
    SINK:
    <br/>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <img border="0" src="/images/sink-version-fs.gif" style="max-width: 100%; height: auto" width="480"/>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/iZJAZYXj-Gw?rel=0" width="560">
    </iframe>
   </p>
  </font>
  Most of the time "sink" is just spelled out:  S-I-N-K
  <br/>
  <br/>
  <img border="0" height="240" src="/images/sink-s-i-n-k1.jpg" width="256"/>
  <img border="0" height="240" src="/images/sink-s-i-n-k2.jpg" width="256"/>
  <img border="0" height="240" src="/images/sink-s-i-n-k3.jpg" width="256"/>
  <br/>
  <img border="0" height="240" src="/images/sink-s-i-n-k4.jpg" width="256"/>
  <br/>
  <br/>
  <a href="/images/sink-s-i-n-kanimation.gif">
   animation
  </a>
  <br/>
  <br/>
  <hr align="left" color="#000000" size="1"/>
  <p>
   SINK (version):
  </p>
  <p>
  </p>
  <p>
   "SINK" or basin:  (version)
   <br/>
   <br/>
   You can sign "basin" and then mime out the turning of a two water faucets.
   <br/>
   <br/>
   <img border="0" height="240" src="/images/sink1.jpg" width="352"/>
   <img border="0" height="240" src="/images/sink2.jpg" width="352"/>
  </p>
  <p>
   <img border="0" height="240" src="/images/sink3.jpg" width="352"/>
   <img border="0" height="240" src="/images/sink4.jpg" width="352"/>
   <img border="0" height="240" src="/images/sink5.jpg" width="352"/>
   <br/>
   <br/>
   <a href="/images/sinkanimation.gif">
    animation
   </a>
  </p>
 </span>
</blockquote>
