<blockquote>
 <hr align="left" color="#000000" size="1"/>
 <p style="margin-top: 0; margin-bottom: 0">
  To sign "small" or "little," hold 
your hands in front of you, palms facing, and then bring them together using a 
relatively quick movement.
  <br/>
  <br/>
  SMALL or little:
  <br/>
  <img border="0" src="/images/small-1.gif" style="max-width: 100%; height: auto" width="480"/>
  <img border="0" height="234" src="/images/small1.jpg" width="192"/>
  <img border="0" height="234" src="/images/small2.jpg" width="192"/>
  <br/>
 </p>
 <hr/>
 <p style="margin-top: 0; margin-bottom: 0">
  <br/>
  You can add more facial expression to make this sign mean "very" small.
  <br/>
  <br/>
  very-SMALL:
 </p>
 <p style="margin-top: 0; margin-bottom: 0">
  <a href="../../signjpegs/s/small-very-small-1.jpg">
   <img alt="small-very-small-1.jpg (36593 bytes)" border="0" height="320" src="/images/small-very-small-1_small.jpg" width="320" xthumbnail-orig-image="../../signjpegs/s/small-very-small-1.jpg"/>
  </a>
  <a href="../../signjpegs/s/small-very-small-3.jpg">
   <img alt="small-very-small-3.jpg (35791 bytes)" border="0" height="320" src="/images/small-very-small-3_small.jpg" width="320" xthumbnail-orig-image="../../signjpegs/s/small-very-small-3.jpg"/>
  </a>
  <br/>
 </p>
 <font face="Arial">
  <hr align="left" color="#000000" size="1"/>
 </font>
 <p style="margin-top: 0; margin-bottom: 0">
  Animation: "very-SMALL"
  <br/>
  <img border="0" height="300" src="/images/small-very-small.gif" width="300"/>
 </p>
 <font face="Arial">
  <hr align="left" color="#000000" size="1"/>
 </font>
 <p style="margin-top: 0; margin-bottom: 0">
  <br/>
  A tiny amount:
  <br/>
  TINY:
 </p>
 <p style="margin-top: 0; margin-bottom: 0">
  <img border="0" height="210" src="/images/small.45.jpg" width="189"/>
  <img border="0" height="210" src="/images/small.46.jpg" width="189"/>
  <br/>
 </p>
 <font face="Arial">
  <hr align="left" color="#000000" size="1"/>
 </font>
 <p style="margin-top: 0; margin-bottom: 0">
  Notes:
  <br/>
  Which sign you use for 
small depends on what you are talking about. For example to indicate "small" as in a small 
child, you might want to use an exaggerated form of the sign "SHORT"-(in 
height).
 </p>
 <p style="margin-top: 0; margin-bottom: 0">
  <br/>
  See:
  <a href="short.htm">
   SHORT
  </a>
 </p>
 <p style="margin-top: 0; margin-bottom: 0">
  See:
  <a href="../t/tiny.htm">
   TINY
  </a>
 </p>
 <font face="Arial">
  <hr align="left" color="#000000" size="1"/>
 </font>
</blockquote>
