<blockquote>
 <hr align="left" color="#000000" size="1"/>
 The general sign for smoking is done by tapping your lips twice with 
			a "v" hand as if holding a cigarette.
 <br/>
 <br/>
 SMOKE or SMOKING:
 <p>
  <img border="0" height="232" src="/images/smoke.43.jpg" width="211"/>
  <img border="0" height="232" src="/images/smoke.44.jpg" width="211"/>
  <img border="0" height="232" src="/images/smoke.43.jpg" width="211"/>
  <img border="0" height="232" src="/images/smoke.44.jpg" width="211"/>
 </p>
 <font face="Arial">
  <hr align="left" color="#000000" size="1"/>
 </font>
 <br/>
 Cigarette:
 <p>
  <img border="0" height="226" src="/images/smoke.45.jpg" width="209"/>
  <img border="0" height="226" src="/images/smoke.46.jpg" width="209"/>
  <img border="0" height="226" src="/images/smoke.45.jpg" width="209"/>
  <img border="0" height="226" src="/images/smoke.46.jpg" width="209"/>
  <br/>
 </p>
 <font face="Arial">
  <hr align="left" color="#000000" size="1"/>
 </font>
 <p>
  <br/>
  SMOKE-RISING:  Use a swirling movement.
 </p>
 <p>
  <img border="0" height="232" src="/images/smoke.47.jpg" width="208"/>
  <img border="0" height="232" src="/images/smoke.48.jpg" width="208"/>
  <img border="0" height="232" src="/images/smoke.49.jpg" width="208"/>
  <img border="0" height="232" src="/images/smoke.50.jpg" width="208"/>
  <img border="0" height="232" src="/images/smoke.51.jpg" width="208"/>
 </p>
 <p style="margin-top: 0; margin-bottom: 0">
  <hr align="left" color="#000000" size="1" width="50%"/>
  <font face="Arial">
   <p style="margin-top: 0; margin-bottom: 0">
    Also see:
    <a href="smoke-airborne.htm">
     SMOKE-airborne
    </a>
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
    <font face="Arial" size="1">
     You can learn
     <a href="http://lifeprint.com" style="text-decoration: none">
      American Sign Language (ASL)
     </a>
     online at American Sign Language University ™
     <br/>
     <a href="http://asl.ms" style="text-decoration: none">
      ASL
     </a>
     resources by Lifeprint.com  ©  Dr. William Vicars
    </font>
   </p>
  </font>
 </p>
</blockquote>
