<blockquote>
 <hr align="left" color="#000000" size="1"/>
 <font face="Arial">
  <div dir="ltr">
   Dear Dr. Bill,
   <div>
    My name is Helen. I've been teaching myself sign language at 
					home from your website for the benefit of my babies. Already 
					my 15 month old daughter knows quite a few signs. :-)
    <br/>
    We are hearing people but the signs help my kids communicate before they 
					can even speak.
   </div>
   <div>
    So there are a few words that come up often but i didn't 
					find the signs for them on your website. These words are 
					SNACK and DESSERT. I was wondering if you could send me a 
					description of how to sign these if there is a particular 
					sign.
   </div>
   <div>
    Thank you for helping us learn,
   </div>
   <div>
    Sincerely ,
   </div>
   <div>
    Helen
   </div>
  </div>
  <p style="margin-top: 0; margin-bottom: 0">
  </p>
  <p style="margin-top: 0; margin-bottom: 0">
   Dear Helen,
  </p>
  <p style="margin-top: 0; margin-bottom: 0">
   Hello :)
   <br/>
   There is not a
   <i>
    common
   </i>
   sign in ASL that is
   <i>
    directly
   </i>
   equivalent to the English word "snack."  The word "snack" means 
			something to the effect of, "a small mount of food to tide you over 
			until the next meal."
			In ASL we convey the concept of SNACK by using the sign for EAT 
			and/or combining EAT with the sign small or "little-bit."
   <br/>
   <br/>
   SNACK:
   <br/>
   <img border="0" height="229" src="/images/eat1.jpg" width="198"/>
   <img border="0" height="229" src="/images/eat2.jpg" width="198"/>
   <img border="0" height="234" src="/images/small1.jpg" width="192"/>
   <img border="0" height="234" src="/images/small2.jpg" width="192"/>
   <br/>
   <br/>
   It is possible to convey the
   <i>
    concept
   </i>
   of a snack with just one 
			sign by doing the sign for EAT while doing the facial expression 
			and body language associated with the sign SMALL, (the cheek muscles 
			flexed slightly, the head jutted a bit forward, the shoulders 
			hunched a bit, the upper arms pressing inward on the ribs, etc.).
   <br/>
   <br/>
   If for "whatever" reason a person wanted to specifically make sure 
			that the word "snack" came to the mind of the conversation partner 
			then you would fingerspell SNACK. You may see some people partially 
			mouth the word "snack" (which is a result of language contact and 
			the influence of interaction between the Hearing and Deaf culture).
   <br/>
   <br/>
   My wife, Belinda was walking past and I asked her how
   <i>
    she
   </i>
   signed 
			snack.  She did one of the variations of the sign for "PICNIC."  
			I thought to myself, "Oh, that's pretty cool, I can see that." I asked 
			Belinda, "Where did you get that?" She replied that she had seen it 
			used by a Deaf colleague at work.
   <br/>
   <br/>
   I 
			don't think I would go so far as to "advocate" using (a version of) 
			the sign for PICNIC as the sign for SNACK, but I am totally okay using it or seeing it used. 
			Eventually I'll post that sign on my "picnic page."
   <br/>
   Cordially,
  </p>
  <p style="margin-top: 0; margin-bottom: 0">
   -- Dr. Bill
  </p>
  <p style="margin-top: 0; margin-bottom: 0">
   <br/>
   See:
   <a href="../e/eat.htm">
    EAT
   </a>
   <br/>
   See:
   <a href="small.htm">
    SMALL
   </a>
   <br/>
   Also see:
   <a href="../d/dessert.htm">
    DESSERT
   </a>
   <br/>
   Also see:
   <a href="../p/picnic.htm">
    PICNIC
   </a>
  </p>
 </font>
 <br/>
 <font face="Arial">
  <hr align="left" color="#000000" size="1"/>
  <p align="center" style="margin-top: 0; margin-bottom: 0">
   <font face="Arial" size="1">
    You can learn
    <a href="http://lifeprint.com">
     American Sign Language (ASL)
    </a>
    online at American Sign Language University ™
    <br/>
    <a href="http://asl.ms" style="text-decoration: none">
     ASL
    </a>
    resources by Lifeprint.com  ©  Dr. William Vicars
   </font>
  </p>
 </font>
</blockquote>
