<blockquote>
 <hr align="left" color="#000000" size="1"/>
 <font face="Arial">
  <i>
   Update:
   <br/>
   ASL is a "living language."  It evolves. 
			The sign "snowboarding" certainly evolves.  One of 
			the more recent and sensible versions I've seen is this "bent hand" 
			version.  The sign still moves forward and down as if 
			sliding down a mountain.  Special thanks to Misha (CODA, 
			Sacramento / Lake Tahoe region) for showing me this version. I'm a 
			geek but am fortunate &amp; grateful to have cool friends and students who 
			go out and do fun things and 
			tell me stories later so I can at least fantasize about someday 
	being like them. (It is good to have goals.)
   <br/>
   -- Dr. Bill
   <br/>
  </i>
  <p>
   <b>
    <i>
     SNOWBOARDING:
     <br/>
     <img border="0" height="360" src="/images/snowboard-s.gif" width="366"/>
     <br/>
    </i>
   </b>
   <img border="0" height="292" src="/images/snowboard-10.jpg" width="265"/>
   <b>
    <i>
     <img border="0" height="292" src="/images/snowboard-11.jpg" width="265"/>
    </i>
   </b>
   <img border="0" height="292" src="/images/snowboard-12.jpg" width="265"/>
   <img border="0" height="292" src="/images/snowboard-13.jpg" width="265"/>
   <br/>
   Actually, now that I look at the pics (above) I'm pretty sure Misha 
			does the sign about six inches lower.  Anyway, you get the 
			point. Do two quick movements forward and down (at an angle -- as if 
			you were going down a mountain eh?)
   <br/>
  </p>
  <hr color="#800080"/>
  <br/>
  SNOWBOARD (older version) (not recommended)
  <br/>
  This sign is done similar to the sign for "ski" but you use "flat hands" 
  instead of "x" handshapes.
  <br/>
  Hold your right and left hands out in front of you.  One hand in front of 
  the other both hands palms-down. The hands are pointing down at angle as if 
		representing feet on an imaginary board on a hill.
  <br/>
  <br/>
  Your fingertips are pointing down the hill as if they were your toes.    
		Using a quick movement, slide your hands "down the hill" a bit and 
		repeat, (bring them back up part way then forward and down 
  again).
  <br/>
  <br/>
  <img border="0" height="213" src="/images/snowboarding.jpg" width="199"/>
  <br/>
  <hr align="left" color="#000000" size="1"/>
  <p>
   <p>
    SNOWBOARDING (not recommended)
    <div>
     The "original" version of snowboarding was to sign "SNOW" and then 
		SURFING.
    </div>
    <p>
     <br/>
     SNOW: The fingers
     <b>
      <i>
       flutter
      </i>
     </b>
     as you move the hands down and to 
			the side (shorter method is better for compound concepts). (Or down 
			and side to side as I'm doing here.)
     <br/>
     <img border="0" height="224" src="/images/snow2.jpg" width="253"/>
     <img border="0" height="224" src="/images/snow3.jpg" width="253"/>
     <img border="0" height="224" src="/images/snow5.jpg" width="253"/>
     <img border="0" height="224" src="/images/snow6.jpg" width="253"/>
     <img border="0" height="224" src="/images/snow8.jpg" width="253"/>
     <img border="0" height="224" src="/images/snow10.jpg" width="253"/>
     <br/>
     <br/>
     Next, sign "surfing" downhill. If you are right handed 
		hold your left "flat-hand" (like a B-Hand) in front of you, palm down.  
		Put your right-upside-down-V-hand on top of the B-Hand (as if standing 
		on a snowboard). Then quickly move both hands forward-down a couple 
		inches, then back up and forward-down again as if showing a person going 
		down hill on a board.
     <br/>
    </p>
    SURFING:
    <br/>
    <img border="0" height="215" src="/images/snow.h44.jpg" width="217"/>
    <img border="0" height="215" src="/images/snow.h45.jpg" width="217"/>
    <img border="0" height="215" src="/images/snow.h46.jpg" width="217"/>
    <img border="0" height="215" src="/images/snow.h47.jpg" width="217"/>
    <br/>
    <hr align="left" color="#000000" size="1"/>
    <p>
     See:
     <a href="../r/roller-blade.htm">
      ROLLER-BLADE
     </a>
    </p>
    <p>
     See:
     <a href="../i/ice-skate.htm">
      ICE-SKATE
     </a>
     <br/>
     See: "
     <a href="../s/skating.htm">
      SKATING
     </a>
     "
    </p>
    <hr align="left" color="#000000" size="1"/>
    <p align="center" style="margin-top: 0; margin-bottom: 0">
     <font face="Arial" size="1">
      You can learn
      <a href="http://www.lifeprint.com" style="text-decoration: none">
       American Sign Language (ASL)
      </a>
      online at American Sign Language University ™
      <br/>
      <a href="http://asl.ms" style="text-decoration: none">
       ASL
      </a>
      resources by Lifeprint.com  ©  Dr. William Vicars
     </font>
    </p>
   </p>
  </p>
 </font>
</blockquote>
