<blockquote>
 <font face="Arial">
  <hr align="left" color="#000000" size="1"/>
  <p>
   The sign for "so-so" is
   <span style="font-weight: 400">
    the same sign as used in the general Hearing community to mean 
	"so so" or "sort of."
    <br/>
   </span>
  </p>
  <p>
   <span style="font-weight: 400">
    SO-SO or SORT-OF:
    <br/>
   </span>
   <img border="0" src="/images/so-so.gif" style="max-width: 100%; height: auto" width="480"/>
   <iframe allow="autoplay; encrypted-media" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/fhhBx_WQGAo?rel=0" width="560">
   </iframe>
  </p>
  <p>
   <img border="0" height="480" src="/images/so-so-01.jpg" width="480"/>
   <img border="0" height="480" src="/images/so-so-02.jpg" width="480"/>
   <img border="0" height="480" src="/images/so-so-03.jpg" width="480"/>
   <img border="0" height="480" src="/images/so-so-04.jpg" width="480"/>
  </p>
  <p>
  </p>
  <p>
  </p>
  <hr align="left" color="#000000" size="1" width="50%"/>
  <p>
   <span style="font-weight: 400">
    <b>
     Synonyms
    </b>
    :  "okay"  "fair" 
  "alright"  "passable"
    <br/>
    <b>
     Handshape
    </b>
    : "5" hand
    <br/>
    <b>
     Location
    </b>
    : Normal signing area in front of the body
   </span>
  </p>
  <hr align="left" color="#000000" size="1" width="50%"/>
  <p>
   Also see: "
   <a href="so.htm">
    SO
   </a>
   "
  </p>
  <hr align="left" color="#000000" size="1"/>
  <p align="center" style="margin-top: 0; margin-bottom: 0">
   <font face="Arial" size="1">
    You can learn 
		American
    <a href="http://www.lifeprint.com" style="text-decoration: none">
     Sign 
		Language
    </a>
    (ASL) online at American Sign Language University ™
    <br/>
    <a href="http://asl.ms" style="text-decoration: none">
     ASL
    </a>
    resources by Lifeprint.com  ©  Dr. William Vicars
   </font>
  </p>
 </font>
</blockquote>
