<blockquote>
 <hr align="left" color="#000000" size="1"/>
 <p style="margin-top: 0; margin-bottom: 0">
  The sign for "some" is used for such concepts as "I work '
  <b>
   part
  </b>
  ' time."
  <font face="Arial">
   Use a "slicing" movement for your dominant hand. The base hand doesn't move.
  </font>
  <p>
   SOME or PART:
   <br/>
   <img border="0" height="236" src="/images/some1.jpg" width="206"/>
   <img border="0" height="236" src="/images/some2.jpg" width="206"/>
  </p>
  <p style="margin-top: 0; margin-bottom: 0">
   <br/>
   Do some cats like water?
   <br/>
   <object classid="CLSID:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,115,0" height="275" id="FVS" width="320">
    <param name="movie" value="../10/some-cat-like-water_player.swf?90918997"/>
    <param name="bgcolor" value="#ffffff"/>
    <param name="allowfullscreen" value="true"/>
    <embed allowfullscreen="true" bgcolor="#ffffff" height="275" name="FVS" pluginspage='http://www.macromedia.com/go/getflashplayer"' src="../10/some-cat-like-water_player.swf?90918997" type="application/x-shockwave-flash" width="320"/>
   </object>
   <br/>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
  </p>
 </p>
</blockquote>
