<blockquote>
 <hr align="left" color="#000000" size="1"/>
 <p style="margin-top: 0; margin-bottom: 0">
  The sign we label as "SOMETHING"  is also commonly labeled as "SOMEONE" 
	or "SINGLE."  The "single/something/someone" sign has many 
	meanings (such as "alone" or "only") that depend on the rest of your 
	sentence.
  <br/>
  <br/>
  To do this sign, point your index finger up, have the palm pointing up and 
	somewhat back towards you. Move your hand in a small horizontal circle--as 
	if tracing a circle the size of a quarter on the underside of a table.
  <br/>
  <br/>
  SINGLE / SOMEONE / SOMETHING:
  <br/>
  <font face="Arial">
   <span style="font-weight: 400">
    <img height="148" src="/images/single.gif" width="149"/>
   </span>
  </font>
  <img border="0" height="222" src="/images/something10.jpg" width="219"/>
  <p style="margin-top: 0; margin-bottom: 0">
   <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/QVPcK3bcFo0?rel=0" width="560">
   </iframe>
   <br/>
   <font face="Arial">
    <hr align="left" color="#000000" size="1" width="50%"/>
   </font>
   <p style="margin-top: 0; margin-bottom: 0">
    <br/>
    <p style="margin-top: 0; margin-bottom: 0">
     Sample sentence: "Are you going steady with someone?"
     <p style="margin-top: 0; margin-bottom: 0">
      <br/>
      <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/lHKwVJ0S4Ec?rel=0" width="560">
      </iframe>
      <br/>
      <font face="Arial">
       <hr align="left" color="#000000" size="1"/>
       <p style="margin-top: 0; margin-bottom: 0">
        Also see:
        <a href="single.htm">
         SINGLE
        </a>
       </p>
       <hr align="left" color="#000000" size="1"/>
      </font>
     </p>
    </p>
   </p>
  </p>
 </p>
</blockquote>
