<blockquote>
 <hr align="left" color="#000000" size="1"/>
 <p style="margin-top: 0; margin-bottom: 0">
  Also see: "
  <a href="../t/throat.htm">
   THROAT
  </a>
  "
 </p>
 <hr align="left" color="#000000" size="1"/>
 <p>
  SORE THROAT:
  <br/>
  If I had a sore throat I'd use a loose "G" handshape and move it down the 
	throat twice while using a pained expression.
  <br/>
  Don't you feel sorry for me?  (Note: Some people just spell S-O-R-E and 
	sign throat.")
 </p>
 <p>
  <img border="0" height="239" src="/images/throat1.jpg" width="268"/>
  <img border="0" height="239" src="/images/throat2.jpg" width="268"/>
  <img border="0" height="239" src="/images/throat3.jpg" width="268"/>
 </p>
 <p>
  <object classid="CLSID:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,22,0" height="275" id="FVS" width="352">
   <param name="movie" value="../t/throat_sore01_flash_player.swf?1724930367"/>
   <param name="bgcolor" value="#ffffff"/>
   <embed bgcolor="#ffffff" height="275" name="FVS" pluginspage='http://www.macromedia.com/go/getflashplayer"' src="../t/throat_sore01_flash_player.swf?1724930367" type="application/x-shockwave-flash" width="352"/>
  </object>
 </p>
 <hr align="left" color="#000000" size="1"/>
 <p>
  You might also see this sign used to mean "my throat hurts."  Thus 
	is the sign for "pain/hurt" done near the throat.
 </p>
 <p>
  <img border="0" height="240" src="/images/throat20.jpg" width="318"/>
  <img border="0" height="240" src="/images/throat21.jpg" width="318"/>
 </p>
 <p>
  <object classid="CLSID:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,22,0" height="275" id="FVS" width="352">
   <param name="movie" value="../t/throat_hurt_player.swf?3062630137"/>
   <param name="bgcolor" value="#ffffff"/>
   <embed bgcolor="#ffffff" height="275" name="FVS" pluginspage='http://www.macromedia.com/go/getflashplayer"' src="../t/throat_hurt_player.swf?3062630137" type="application/x-shockwave-flash" width="352"/>
  </object>
 </p>
 <hr align="left" color="#000000" size="1"/>
 <p>
  Suppose someone is a "pain in the neck?"  That would be shown by 
	using a single hand twisted into the side of the neck.
  <br/>
  "He (or she) is a pain in the neck!"
 </p>
 <p>
  <img border="0" height="237" src="/images/throat22.jpg" width="322"/>
  <img border="0" height="237" src="/images/throat23.jpg" width="322"/>
  <img border="0" height="237" src="/images/throat24.jpg" width="322"/>
  <img border="0" height="237" src="/images/throat25.jpg" width="322"/>
 </p>
 <p>
  <object classid="CLSID:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,22,0" height="275" id="FVS" width="352">
   <param name="movie" value="../t/throat_pain_in_the_neck_flash_player.swf?784812388"/>
   <param name="bgcolor" value="#ffffff"/>
   <embed bgcolor="#ffffff" height="275" name="FVS" pluginspage='http://www.macromedia.com/go/getflashplayer"' src="../t/throat_pain_in_the_neck_flash_player.swf?784812388" type="application/x-shockwave-flash" width="352"/>
  </object>
 </p>
 <p style="margin-top: 0; margin-bottom: 0">
  <br/>
 </p>
 <font face="Arial">
  <hr align="left" color="#000000" size="1"/>
  <p align="center" style="margin-top: 0; margin-bottom: 0">
   <font face="Arial" size="1">
    You can learn
    <a href="http://lifeprint.com" style="text-decoration: none">
     American Sign Language (ASL)
    </a>
    online at American Sign Language University ™
    <br/>
    <a href="http://asl.ms" style="text-decoration: none">
     ASL
    </a>
    resources by Lifeprint.com  ©  Dr. William Vicars
   </font>
  </p>
 </font>
</blockquote>
