<blockquote>
 <hr align="left" color="#000000" size="1"/>
 <p>
  SPAGHETTI:
 </p>
 <p>
  <img border="0" height="224" src="/images/spaghetti1.jpg" width="296"/>
  <img border="0" height="224" src="/images/spaghetti2.jpg" width="296"/>
  <img border="0" height="224" src="/images/spaghetti3.jpg" width="296"/>
  <img border="0" height="224" src="/images/spaghetti4.jpg" width="296"/>
  <img border="0" height="224" src="/images/spaghetti5.jpg" width="296"/>
  <img border="0" height="224" src="/images/spaghetti6.jpg" width="296"/>
  <img border="0" height="224" src="/images/spaghetti7.jpg" width="296"/>
  <img border="0" height="224" src="/images/spaghetti8.jpg" width="296"/>
  <img border="0" height="224" src="/images/spaghetti9.jpg" width="296"/>
  <img border="0" height="224" src="/images/spaghetti10.jpg" width="296"/>
  <img border="0" height="224" src="/images/spaghetti11.jpg" width="296"/>
 </p>
 <p style="margin-top: 0; margin-bottom: 0">
  <br/>
 </p>
 <font face="Arial">
  <hr align="left" color="#000000" size="1"/>
  <p align="center" style="margin-top: 0; margin-bottom: 0">
   <font face="Arial" size="1">
    You can learn
    <a href="http://lifeprint.com" style="text-decoration: none">
     American Sign Language (ASL)
    </a>
    online at American Sign Language University ™
    <br/>
    <a href="http://asl.ms" style="text-decoration: none">
     ASL
    </a>
    resources by Lifeprint.com  ©  Dr. William Vicars
   </font>
  </p>
 </font>
</blockquote>
