<blockquote>
 <hr align="left" color="#000000" size="1"/>
 <p style="margin-top: 0; margin-bottom: 0">
  The sign for "square" can be used to indicate nearly anything 
	with a square perimeter such as a billboard.  This is a very "general" 
	sign good for referring to whatever
  is "square shaped."
  <font face="Arial">
   <hr align="left" color="#000000" size="1" width="50%"/>
  </font>
  <p>
   <font face="Arial">
    Draw a square in the air with your index fingers.
    <br/>
    <br/>
    SQUARE / BOARD / SIGN / BILLBOARD:
   </font>
  </p>
  <p>
   <img border="0" height="227" src="/images/square1.jpg" width="319"/>
   <img border="0" height="227" src="/images/square3.jpg" width="319"/>
   <img border="0" height="227" src="/images/square5.jpg" width="319"/>
   <img border="0" height="227" src="/images/square7.jpg" width="319"/>
   <br/>
  </p>
  <hr color="#800080"/>
  <p>
   <font face="Arial">
    Add black to the sign for "square" and you'll have a "blackboard."
    <br/>
    <br/>
    BLACK + BOARD = BLACKBOARD:
   </font>
   <br/>
   <img border="0" height="225" src="/images/blackboard1.jpg" width="300"/>
   <img border="0" height="225" src="/images/blackboard2.jpg" width="300"/>
   <img border="0" height="225" src="/images/blackboard3.jpg" width="300"/>
   <img border="0" height="225" src="/images/blackboard4.jpg" width="300"/>
   <img border="0" height="225" src="/images/blackboard5.jpg" width="300"/>
   <img border="0" height="225" src="/images/blackboard6.jpg" width="300"/>
  </p>
  <font face="Arial">
   <hr align="left" color="#000000" size="1"/>
  </font>
  <p style="margin-top: 0; margin-bottom: 0">
   <font face="Arial">
    <span style="font-weight: 400">
     Sample sentence:
     <br/>
     "Do you think the teacher should write on the board more often?"
     <br/>
     = SQUARE-[board], YOU THINK HE/SHE TEACHER SHOULD WRITE MORE?
     <br/>
    </span>
   </font>
   <p style="margin-top: 0; margin-bottom: 0">
    <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/MQ31Aep7wnM?rel=0" width="560">
    </iframe>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <br/>
    Notes:
    <br/>
    <font face="Arial">
     If you add "WHITE" to the sign "BOARD" you'll have "whiteboard."
     <br/>
     If you add "GREEN" to the sign "BOARD" you'll have "greenboard" (heh) okay 
	I'm just yanking your chain ... actually it will mean "
     <i>
      <b>
       green screen
      </b>
     </i>
     " 
	like they use in Hollywood for special effects in movies.
     <br/>
    </font>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1" width="50%"/>
   </font>
   <p style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     See:
     <a href="../w/white.htm">
      WHITE
     </a>
    </font>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1" width="50%"/>
   </font>
   <p style="margin-top: 0; margin-bottom: 0">
    <font face="Arial">
     See:
     <a href="../g/green.htm">
      GREEN
     </a>
    </font>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1" width="50%"/>
   </font>
   <p style="margin-top: 0; margin-bottom: 0">
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
  </p>
 </p>
</blockquote>
