<blockquote>
 <hr align="left" color="#000000" size="1"/>
 <p style="margin-top: 0; margin-bottom: 0">
  The sign for "stand" uses an upside down "V" hand.
  <p>
   <img border="0" src="/images/stand.gif" style="max-width: 100%; height: auto" width="480"/>
   <img border="0" height="287" src="/images/stand.gif" width="300"/>
  </p>
  <p>
   <iframe allow="autoplay; encrypted-media" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/KhhowNO7Ywk?rel=0" width="560">
   </iframe>
  </p>
  <hr/>
  <p>
   Note: When started from a
   <a href="../l/lay.htm">
    laying down
   </a>
   position, this sign can mean "get 
up
   <font face="Arial">
    ."
   </font>
  </p>
  <p>
   STAND
   <font face="Arial">
    -up:
    <br/>
    <img border="0" height="234" src="/images/stand-getup1.jpg" width="199"/>
    <img border="0" height="234" src="/images/stand-getup2.jpg" width="199"/>
   </font>
  </p>
  <font face="Arial">
   <hr align="left" color="#000000" size="1"/>
  </font>
 </p>
</blockquote>
