<blockquote>
 <hr align="left" color="#000000" size="1"/>
 <p style="margin-top: 0; margin-bottom: 0">
  The sign for "stay" uses a palm-down "Y" handshape.  The movement is more of a
  forward thrust than a downward slap.  You are shoving the knuckles
  forward and a bit down.
  <p>
   STAY:
   <br/>
   <iframe allow="autoplay; encrypted-media" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/QmbOr-8K_Kw?rel=0" width="560">
   </iframe>
   <br/>
   <img border="0" height="236" src="/images/stayb1.jpg" width="217"/>
   <img border="0" height="236" src="/images/stayb2.jpg" width="217"/>
   <img border="0" height="236" src="/images/stayb3.jpg" width="217"/>
   <font face="Arial">
    <br/>
    <br/>
    Memory aid: Think of telling a dog to "stay."
   </font>
  </p>
  <hr align="left" color="#000000" size="1" width="50%"/>
 </p>
</blockquote>