<blockquote>
 <hr align="left" color="#000000" size="1"/>
 <p style="margin-top: 0; margin-bottom: 0">
  Also see:
  <a href="stepfather.htm">
   STEP-FATHER
  </a>
  <br/>
  <hr align="left" color="#000000" size="1"/>
  STEP-MOTHER:
  <br/>
  <img border="0" height="240" src="/images/turn1.jpg" width="249"/>
  <img border="0" height="240" src="/images/turn2.jpg" width="249"/>
  <br/>
  <img border="0" height="240" src="/images/turn3.jpg" width="249"/>
  <img border="0" height="239" src="/images/mother-step4.jpg" width="202"/>
  <p>
   <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/ZtrTNwRoYk0?rel=0" width="560">
   </iframe>
   <br/>
  </p>
  <hr align="left" color="#000000" size="1"/>
  <p align="left">
   STEP
   <font face="Arial" size="2">
    -
   </font>
   MOTHER:  another version:
   <br/>
   <img border="0" height="239" src="/images/mother-step1.jpg" width="202"/>
   <img border="0" height="239" src="/images/mother-step2.jpg" width="202"/>
   <img border="0" height="239" src="/images/mother-step3.jpg" width="202"/>
   <img border="0" height="239" src="/images/mother-step4.jpg" width="202"/>
  </p>
  <hr align="left" color="#000000" size="1"/>
  <p>
   <br/>
   While I don't tend to use the "one finger" variation for STEP
   <font face="Arial" size="2">
    -
   </font>
   MOTHER, I 
	got an email from Dr. Lisalee Egbert mentioning that she uses the one-handed version for 
	both step
   <font face="Arial" size="2">
    -
   </font>
   mother and stepfather.
   <br/>
  </p>
  <p>
   <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/G45OnUVlnls?rel=0" width="560">
   </iframe>
   <br/>
   <br/>
   Notes from Dr. Bill regarding the "one finger variation" of STEP
   <font face="Arial" size="2">
    -
   </font>
   FATHER and 
	STEP
   <font face="Arial" size="2">
    -
   </font>
   MOTHER:
   <br/>
   A "one movement/one location" sign has an
   <b>
    advantage
   </b>
   over a "two movement/two 
	location" sign since the single movement sign has "economy" in its favor. 
	The "one finger" sign is a strong variation in some parts of the country and 
	I think it is actually increasing in popularity.  I can certainly see 
	why Dr. Egbert would use it and I think it is a terrific sign. For me 
	personally though I think I'll still stick with the "second hand" version of 
	"stepfather/stepmother" as the version I teach my own classes.  Also 
	remember the "safest" version will likely be to spell STEP when used  
	as part of the sign for "stepfather, stepmother, stepbrother, etc."
  </p>
 </p>
</blockquote>