<blockquote>
 <hr align="left" color="#000000" size="1"/>
 <p style="margin-top: 0; margin-bottom: 0">
  The sign for "strong" has a couple of variations. A good general 
version is to form fists and then pull them out away from your body a bit as 
if flexing your biceps.
  <br/>
  <p>
   <img border="0" height="232" src="/images/strong1.jpg" width="275"/>
   <img border="0" height="232" src="/images/strong2.jpg" width="275"/>
   <img border="0" height="232" src="/images/strong3.jpg" width="275"/>
  </p>
  <hr align="left" color="#000000" size="1"/>
  <p>
   <br/>
   Notes:
   <br/>
   The sign STRONG is related to the concepts of: brave, courageous, heal, 
healthy, robust, fit, and well.
   <br/>
   The difference between all these concepts and the concept of
"strong" is that STRONG starts with "fist" handshapes
whereas the other concepts tend to start with "relaxed five" handshapes.
   <br/>
   <br/>
   HEALTHY / BRAVE / ...
   <br/>
   <img border="0" height="232" src="/images/brave1.jpg" width="301"/>
   <img border="0" height="232" src="/images/brave3.jpg" width="301"/>
   <img border="0" height="232" src="/images/brave4.jpg" width="301"/>
  </p>
  <hr align="left" color="#000000" size="1" width="50%"/>
  <p style="margin-top: 0; margin-bottom: 0">
   <br/>
   Sample sentence:
"Are most farmers strong?"
   <br/>
   <br/>
   <object classid="CLSID:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=8,0,0,0" height="275" id="FVS" width="320">
    <param name="movie" value="../20/most-farmer-strong_player.swf?289523304"/>
    <param name="bgcolor" value="#ffffff"/>
    <param name="allowfullscreen" value="true"/>
    <embed allowfullscreen="true" bgcolor="#ffffff" height="275" name="FVS" pluginspage='http://www.macromedia.com/go/getflashplayer"' src="../20/most-farmer-strong_player.swf?289523304" type="application/x-shockwave-flash" width="320"/>
   </object>
  </p>
  <font face="Arial">
   <hr align="left" color="#000000" size="1"/>
  </font>
 </p>
</blockquote>
