<blockquote>
 <hr align="left" color="#000000" size="1"/>
 The sign for surprise is similar to "wake up" except that "surprise"
uses a much faster and bigger movement.  Plus surprise uses a
"surprised" facial expression.
 <br/>
 <p>
  <br/>
  SURPRISE:
 </p>
 <p>
  <img border="0" height="212" src="/images/surprise1.jpg" width="231"/>
  <img border="0" height="212" src="/images/surprise2.jpg" width="231"/>
  <img border="0" height="212" src="/images/surprise3.jpg" width="231"/>
 </p>
 <p style="margin-top: 0; margin-bottom: 0">
  <hr align="left" color="#000000" size="1" width="50%"/>
  <p style="margin-top: 0; margin-bottom: 0">
   <br/>
   Sample sentence:
SURPRISE TEST, YOU LIKE? (Do you like surprise tests?)
   <br/>
   <br/>
   <object classid="CLSID:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=8,0,0,0" height="275" id="FVS" width="320">
    <param name="movie" value="../19/surprise-test-you-like_player.swf?1722610108"/>
    <param name="bgcolor" value="#ffffff"/>
    <param name="allowfullscreen" value="true"/>
    <embed allowfullscreen="true" bgcolor="#ffffff" height="275" name="FVS" pluginspage='http://www.macromedia.com/go/getflashplayer"' src="../19/surprise-test-you-like_player.swf?1722610108" type="application/x-shockwave-flash" width="320"/>
   </object>
   <br/>
  </p>
  <font face="Arial">
   <hr align="left" color="#000000" size="1"/>
  </font>
 </p>
</blockquote>
