<blockquote>
 <hr align="left" color="#000000" size="1"/>
 <p>
  <font face="Arial">
   To sign "tablespoon" just spell T-B-S.
   <br/>
  </font>
  <br/>
  TABLESPOON:
 </p>
 <p>
  <img border="0" height="224" src="/images/tables9.jpg" width="221"/>
  <img border="0" height="224" src="/images/tables10.jpg" width="221"/>
  <img border="0" height="224" src="/images/tables11.jpg" width="221"/>
 </p>
 <p>
 </p>
 <hr align="left" color="#000000" size="1" width="50%"/>
 <p style="margin-top: 0; margin-bottom: 0">
  See:
  <a href="../s/spoon.htm">
   spoon
  </a>
  <br/>
  See:
  <a href="teaspoon.htm">
   teaspoon
  </a>
 </p>
 <font face="Arial">
  <hr align="left" color="#000000" size="1"/>
  <p align="center" style="margin-top: 0; margin-bottom: 0">
   <font face="Arial" size="1">
    You can learn
    <a href="http://lifeprint.com" style="text-decoration: none">
     American Sign Language (ASL)
    </a>
    online at American Sign Language University ™
    <br/>
    <a href="http://asl.ms" style="text-decoration: none">
     ASL
    </a>
    resources by Lifeprint.com  ©  Dr. William Vicars
   </font>
  </p>
 </font>
</blockquote>
