<blockquote>
 <hr align="left" color="#000000" size="1"/>
 The sign for "take turns" is a combination of "your turn" &amp; "my 
			turn."
 <br/>
 <br/>
 <font face="Arial">
  "Your turn"
  <br/>
  Roll an "L" hand forward the person to whom you are signing. (Do NOT 
			whack them in the chest. If you do, I don't know you. Find another 
			teacher.)
  <br/>
  <img border="0" height="300" src="/images/turn.h3.jpg" width="224"/>
  <img border="0" height="300" src="/images/turn.h4.jpg" width="224"/>
 </font>
 <br/>
 <font face="Arial">
  <hr color="#000000" size="1"/>
  <p>
   <br/>
   "My Turn"
   <br/>
   Roll an "L" hand back toward your chest.  You can actually 
			whack it up against your chest if you are adamant about it being 
			your turn. (Or if you just like whacking your chest.) (No comment.)
   <br/>
   <img border="0" height="300" src="/images/turn.h1.jpg" width="224"/>
   <img border="0" height="300" src="/images/turn.h2.jpg" width="224"/>
   <br/>
  </p>
  <hr color="#000000" size="1"/>
  <p style="margin-top: 0; margin-bottom: 0">
   "Take turns" (As in, "You 
			and I go back and forth.") (animation)
   <br/>
   <img border="0" height="300" src="/images/turn-take-turns.gif" width="224"/>
   <br/>
  </p>
  <hr align="left" color="#000000" size="1"/>
  <p style="margin-top: 0; margin-bottom: 0">
   Note: You can modify this 
			sign to mean "go around in a circle taking turns" by sweeping your 
			hand in a big horizontal arc while using that little "turn" 
			movement.
  </p>
  <hr align="left" color="#000000" size="1"/>
  <p style="margin-top: 0; margin-bottom: 0">
   Also see:
   <a href="../s/second-hand.htm">
    SECOND-HAND
   </a>
   <br/>
   Also see:
   <a href="../u/used.htm">
    USED
   </a>
   <br/>
   Also see:
   <a href="turn.htm">
    TURN
   </a>
   <br/>
   Also see:
   <a href="../s/second.htm">
    SECOND
   </a>
  </p>
  <hr align="left" color="#000000" size="1"/>
  <p align="center" style="margin-top: 0; margin-bottom: 0">
   <font face="Arial" size="1">
    You can learn
    <a href="http://lifeprint.com">
     American Sign Language (ASL)
    </a>
    online at American Sign Language University ™
    <br/>
    <a href="http://asl.ms" style="text-decoration: none">
     ASL
    </a>
    resources by Lifeprint.com  ©  Dr. William Vicars
   </font>
  </p>
 </font>
</blockquote>
