<blockquote>
 <hr align="left" color="#000000" size="1" width="50%"/>
 <p style="margin-top: 0; margin-bottom: 0">
  <font face="Arial">
   TEACH
   <span style="font-weight: 400">
    :
    <br/>
    The sign starts near your head and moves out.  Imagine taking 
  information from your head and putting it into someone else's head.
    <br/>
    <img border="0" height="188" src="/images/teach1.jpg" width="216"/>
    <img border="0" height="188" src="/images/teach2.jpg" width="216"/>
    <br/>
    Notes:
    <br/>
    This sign can use either a double movement or a single movement.  
    The more formal version of the sign is done up near your forehead.  A more
  casual version of the sign starts considerably lower (down near your 
    shoulders).   The double movement (forward, back, forward)
  	can mean "the process of teaching." 
    For example, I'd use the
  double movement to convey the concept of "teaching" in the phrase: I 
    ENJOY TEACH TEACH ("I enjoy teaching.")  If you use a single 
    movement you get a sentence such as: I LIKE TEACH CHILDREN. ("I like to 
    teach children.")
    <br/>
   </span>
  </font>
 </p>
 <p style="margin-top: 0; margin-bottom: 0">
  <font face="Arial">
   <span style="font-weight: 400">
    I'd do the single movement version of the sign in the phrase, "I TEACH
  ASL." There is a lot of variety and you will see people doing it either
  way and meaning the same thing--so don't stress about it.
   </span>
  </font>
 </p>
 <p style="margin-top: 0; margin-bottom: 0">
 </p>
 <hr align="left" color="#000000" size="1" width="50%"/>
 <p style="margin-top: 0; margin-bottom: 0">
  <font face="Arial">
   <span style="font-weight: 400">
    <br/>
   </span>
   TEACHER
   <span style="font-weight: 400">
    :  The sign for "teacher" 
	combines one quick movement for TEACH and then does the flat-handed version 
	of the "PERSON" sign.
    <br/>
    <br/>
    The sign TEACHER starts with both hands held up near the head in somewhat 
	"flattened O" handshapes.
    <br/>
    Then both hands move forward about six inches. Then they change into "flat 
	hands" (like "B" handshapes with the thumb alongside--not draped over the 
	palm) and move downward to show a version of the PERSON sign.  Thus you have 
	a combination of TEACH + PERSON = teacher.  Memory aid:  Take information 
	from your head and put it in the other person's head.
    <br/>
   </span>
  </font>
 </p>
 <p style="margin-top: 0; margin-bottom: 0">
  <font face="Arial">
   TEACHER
   <span style="font-weight: 400">
    :
   </span>
  </font>
 </p>
 <p style="margin-top: 0; margin-bottom: 0">
 </p>
 <p style="margin-top: 0; margin-bottom: 0">
  <img src="/images/teacher.gif" style="max-width: 100%; height: auto" width="480"/>
 </p>
 <p style="margin-top: 0; margin-bottom: 0">
  <img border="0" height="480" src="/images/teacher-01.jpg" width="480"/>
  <img border="0" height="480" src="/images/teacher-02.jpg" width="480"/>
  <img border="0" height="480" src="/images/teacher-03.jpg" width="480"/>
  <img border="0" height="480" src="/images/teacher-04.jpg" width="480"/>
  <font face="Arial">
   <span style="font-weight: 400">
    <br/>
    <img border="0" height="188" src="/images/teacher1.jpg" width="216"/>
    <img border="0" height="188" src="/images/teacher2.jpg" width="216"/>
    <img border="0" height="188" src="/images/teacher3.jpg" width="216"/>
    <img border="0" height="188" src="/images/teacher4.jpg" width="216"/>
    <img border="0" height="188" src="/images/teacher5.jpg" width="216"/>
   </span>
  </font>
 </p>
 <p style="margin-top: 0; margin-bottom: 0">
  <iframe allow="autoplay; encrypted-media" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/CrUCwJklAUA?rel=0" width="560">
  </iframe>
  <font face="Arial">
   <span style="font-weight: 400">
    <br/>
   </span>
  </font>
 </p>
 <p style="margin-top: 0; margin-bottom: 0">
  <font face="Arial">
   <span style="font-weight: 400">
    Note: The
   </span>
   casual
   <span style="font-weight: 400">
    version of the sign 
    "teacher" is done lower.
    Down closer to the chest and shoulders.
   </span>
  </font>
 </p>
 <p style="margin-top: 0; margin-bottom: 0">
  <span style="font-weight: 400">
   <font face="Arial">
    TEACHER (casual version):
   </font>
  </span>
 </p>
 <p style="margin-top: 0; margin-bottom: 0">
  <iframe allow="autoplay; encrypted-media" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/hJZhwVjk-eo?rel=0" width="560">
  </iframe>
 </p>
 <hr/>
</blockquote>
