<blockquote>
 <hr align="left" color="#000000" size="1"/>
 <p style="margin-top: 0; margin-bottom: 0">
 </p>
 <p>
  TEASE: use two "X" hands.  Put the dominant hand on top of the 
	non-dominant hand.  Slide the top hand forward twice. Keep the bottom 
	hand still (it doesn't move). Remember to use a double movement.  This 
	sign can mean either the noun (joke) or the verb (joking / teasing).  
	If you see J-O-K-E fingerspelled it means the noun "joke."
  <br/>
  Also see:
  <a href="../j/joke.htm">
   JOKE
  </a>
  <br/>
  <br/>
  TEASING / kidding / joking / joke  (depends on context)
  <br/>
  <img border="0" height="367" src="/images/tease.4.jpg" width="295"/>
  <img border="0" height="367" src="/images/tease.5.jpg" width="300"/>
  <br/>
 </p>
 <hr/>
 <p>
  Here is a side view of the "end" position of the sign "tease."
  <br/>
  <img border="0" height="293" src="/images/tease.6.jpg" width="300"/>
  <br/>
 </p>
 <hr align="left" color="#000000" size="1"/>
 <p>
  Here is a side version of the sign TEASE:  Notice how in his picture 
  it is good natured teasing. (See the facial expression). Use a double 
	movement.
 </p>
 <p>
  <img border="0" height="219" src="/images/ruin.h36.jpg" width="244"/>
  <img border="0" height="219" src="/images/ruin.h37.jpg" width="244"/>
  <img border="0" height="219" src="/images/ruin.h36.jpg" width="244"/>
  <img border="0" height="219" src="/images/ruin.h37.jpg" width="244"/>
 </p>
 <center>
  <hr align="left" color="#000000" size="1"/>
 </center>
 <p align="left">
  Note:  Someone asked me how to sign "Just joking."
  <br/>
  You could use the sign "tease" to mean you were / are "just joking.
  <br/>
  Another thing you could do would be to spell the letters JK to mean "just 
	kidding.
 </p>
 <p style="margin-top: 0; margin-bottom: 0">
  <hr align="left" color="#000000" size="1" width="50%"/>
  <p style="margin-top: 0; margin-bottom: 0">
   <font face="Arial">
    Also see:
    <a href="../r/ruin.htm">
     RUIN
    </a>
    / SPOIL:

If you do the movement of JOKE one time with an exaggerated twist at the end it 
can turn the meaning into "ruin" or "spoiled."
   </font>
   <br/>
  </p>
  <font face="Arial">
   <hr align="left" color="#000000" size="1"/>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
    <font face="Arial" size="1">
     You can learn
     <a href="http://lifeprint.com" style="text-decoration: none">
      American Sign Language (ASL)
     </a>
     online at American Sign Language University ™
     <br/>
     <a href="http://asl.ms" style="text-decoration: none">
      ASL
     </a>
     resources by Lifeprint.com  ©  Dr. William Vicars
    </font>
   </p>
  </font>
 </p>
</blockquote>
