<blockquote>
 <hr align="left" color="#000000" size="1"/>
 <br/>
 The sign for teenager is related to the signs for MAN, WOMAN, DAD, 
			MOM and similar signs.
			"Teenager" is done by touching a "T" handshape to the side of the 
			chin and then to the side of the forehead.
 <br/>
 <br/>
 TEENAGER:
 <br/>
 <img border="0" height="300" src="/images/teenager-01.jpg" width="300"/>
 <img border="0" height="300" src="/images/teenager-02.jpg" width="300"/>
 <br/>
 <br/>
 Note: There is a version of this sign that uses an "A" handshape and 
			is interpreted as "adult."  Some ASL teachers consider that 
			sign for "adult" to be Signed English rather than ASL and they 
			prefer to use the bent-hand non-inflected version of TALL to mean 
			"adult."  See:
 <a href="../a/adult.htm">
  ADULT
 </a>
 <br/>
 <br/>
 Also see:
 <a href="../y/young.htm">
  YOUNG
 </a>
 which is sometimes 
			interpreted as "youth" and can be used in the phrase "young people."
 <font face="Arial">
  <hr align="left" color="#000000" size="1"/>
  <p align="center" style="margin-top: 0; margin-bottom: 0">
   <font face="Arial" size="1">
    You can learn
    <a href="http://lifeprint.com" style="text-decoration: none">
     American Sign Language (ASL)
    </a>
    online at American Sign Language University ™
    <br/>
    <a href="http://asl.ms" style="text-decoration: none">
     ASL
    </a>
    resources by Lifeprint.com  ©  Dr. William Vicars
   </font>
  </p>
 </font>
</blockquote>
