<blockquote>
 <hr align="left" color="#000000" size="1"/>
 <p style="margin-top: 0; margin-bottom: 0">
  The sign for "than" is connected to quite a few other very similar 
	signs. 
	This page discusses:
  <br/>
  than
  <p style="margin-top: 0; margin-bottom: 0">
   less than
   <br/>
   less
   <br/>
   more-than
   <br/>
   limit
   <br/>
   equal
   <br/>
   maximum
   <br/>
   minimum
   <br/>
   too-much
   <br/>
   Also See:
   <a href="../e/equal.htm">
    EQUAL
   </a>
   <br/>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
   <p style="margin-top: 0; margin-bottom: 0">
    THAN:  Your dominant hand (which is the right hand for most people) moves down past 
	your non-dominant hand.  The dominant 
	hand whacks the tip of the non-dominant hand a bit while moving downward.  
	The non-dominant hand 
	doesn't move.
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    <img border="0" height="240" src="/images/than1.jpg" width="352"/>
    <img border="0" height="240" src="/images/than2.jpg" width="352"/>
    <img border="0" height="240" src="/images/than3.jpg" width="352"/>
    <img border="0" height="240" src="/images/than4.jpg" width="352"/>
    <br/>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
   <p style="margin-top: 0; margin-bottom: 0">
    (174)  LESS-THAN
    <br/>
    "below that amount" "from there on down"
    <br/>
    The left hand doesn't move.  The right hand starts under the left hand 
	and moves downward.
    <br/>
    <img border="0" height="240" src="/images/thanlessthan1.jpg" width="352"/>
    <img border="0" height="240" src="/images/thanlessthan2.jpg" width="352"/>
    <img border="0" height="240" src="/images/thanlessthan3.jpg" width="352"/>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
   <p style="margin-top: 0; margin-bottom: 0">
    (175)   LESS:
    <br/>
    The left hand doesn't move.  The right hand (dominant hand) moves 
	downward toward the left hand.
    <br/>
    The shape of the right hand can either be bent or flat.  The shape of 
	the left hand can be either flat or bent a little.
    <br/>
    <img border="0" height="240" src="/images/than.h9.jpg" width="320"/>
    <img border="0" height="240" src="/images/than.h10.jpg" width="320"/>
    <br/>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
   <p style="margin-top: 0; margin-bottom: 0">
    (176)   MORE-THAN
    <br/>
    "Over that amount" "above that amount"
  "exceeding" "above and beyond" "from that point
  up"
    <br/>
    The left hand doesn't move.  The right hand starts on top of the left 
	hand and moves upward.
    <br/>
    <img border="0" height="225" src="/images/thanmorethan1.jpg" width="246"/>
    <img border="0" height="225" src="/images/thanmorethan2.jpg" width="246"/>
    <img border="0" height="225" src="/images/thanmorethan3.jpg" width="246"/>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
   </font>
   <p style="margin-top: 0; margin-bottom: 0">
    (177)   LIMIT:
    <br/>
    Both hands pivot (slice) forward:
    <br/>
    <img border="0" height="235" src="/images/than.h1.jpg" width="206"/>
    <img border="0" height="235" src="/images/than.h2.jpg" width="206"/>
    <br/>
    <font face="Arial">
     Also see animation:
     <a href="../../topics/videos/aaa_wmv_videos/limit.wmv">
      LIMIT
     </a>
     (if you can view .wmv format)
    </font>
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p style="margin-top: 0; margin-bottom: 0">
    (178) EQUAL
    <br/>
    <img border="0" height="220" src="/images/equal3.jpg" width="194"/>
    <img border="0" height="220" src="/images/equal4.jpg" width="194"/>
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p style="margin-top: 0; margin-bottom: 0">
    (179)  MAXIMUM:
    <br/>
    Only the right hand moves.  Start with the right hand a bit above and 
	behind the left hand.  Then bring (or twist) the right hand forward 
	with a firm stop.
    <br/>
    <img border="0" height="235" src="/images/than.h5.jpg" width="206"/>
    <img border="0" height="235" src="/images/than.h6.jpg" width="206"/>
    <br/>
    NOTE: there is another version of this sign where the left hand is on top 
	and the right hand moves up and smacks the bottom of the left hand as if 
	showing "hitting a ceiling."
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p style="margin-top: 0; margin-bottom: 0">
    (180) 
  MINIMUM:
    <br/>
    Only the right hand moves.  Start with the right hand a bit
    <b>
     below
    </b>
    and behind the left hand.  Then bring (or twist) the right hand forward 
	with a firm stop.
    <br/>
    <img border="0" height="235" src="/images/than.h3.jpg" width="206"/>
    <img border="0" height="235" src="/images/than.h4.jpg" width="206"/>
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p style="margin-top: 0; margin-bottom: 0">
    (181)   TOO-MUCH!
    <br/>
    This sign is similar to "more than" but the nonmanual marker (body
  language) is one of a negative headshake, and "ooh" mouth morpheme,
  and squinted eyes.  Also, the right hand travels in a backward arc as it 
	moves upward.
    <br/>
    <img border="0" height="240" src="/images/muchtoomuch1.jpg" width="352"/>
    <img border="0" height="240" src="/images/muchtoomuch2.jpg" width="352"/>
    <img border="0" height="240" src="/images/muchtoomuch3.jpg" width="352"/>
    <img border="0" height="240" src="/images/muchtoomuch4.jpg" width="352"/>
    <img border="0" height="240" src="/images/muchtoomuch5.jpg" width="352"/>
    <img border="0" height="240" src="/images/muchtoomuch6.jpg" width="352"/>
    <img border="0" height="240" src="/images/muchtoomuch7.jpg" width="352"/>
    <br/>
   </p>
   <font face="Arial">
    <hr align="left" color="#000000" size="1"/>
    <p style="margin-top: 0; margin-bottom: 0">
     Also See:
     <a href="../e/equal.htm">
      EQUAL
     </a>
    </p>
    <hr align="left" color="#000000" size="1"/>
   </font>
  </p>
 </p>
</blockquote>
