<blockquote>
 <p align="right">
  <img alt="back.gif (1674 bytes)" border="0" height="28" onclick="history.go(-1)" src="/images/back.gif" width="54"/>
 </p>
 <h1 align="center">
  <i>
   there
  </i>
 </h1>
 <hr color="#800080"/>
 <p align="left">
  Both of the following versions are good general signs for THERE.
  <br/>
  <br/>
  The sign "there is made in the approximate direction of the place or thing you are talking about when you cannot see it.
  Point at the specific place or object if it is in view.  Glance briefly at the object or place while pointing at it if it is in
  view, (unless it is obvious or well established).
 </p>
 <hr color="#800080"/>
 <p>
  <img border="0" height="225" src="/images/there-c1.jpg" width="254"/>
  <img border="0" height="225" src="/images/there-c2.jpg" width="254"/>
  <br/>
  Of course, this sign is also great for saying things like "it" or
  "him."
 </p>
 <hr color="#800080"/>
 <p>
  <img border="0" height="225" src="/images/there-d1.jpg" width="276"/>
  <img border="0" height="225" src="/images/there-d2.jpg" width="276"/>
  <br/>
 </p>
 <hr color="#800080"/>
 <p align="right">
  <img alt="back.gif (1674 bytes)" border="0" height="28" onclick="history.go(-1)" src="/images/back.gif" width="54"/>
  <br/>
  <br/>
 </p>
 <p>
  <b>
   Sign
  </b>
  :  THERE
  <br/>
  <b>
   Synonyms
  </b>
  :
  <br/>
  <b>
   Handshape
  </b>
  :
  <br/>
  <b>
   Right Hand
  </b>
  :
  <br/>
  <b>
   Left Hand
  </b>
  :
  <br/>
  <b>
   Location
  </b>
  :
  <br/>
  <b>
   Orientation
  </b>
  :
  <br/>
  <b>
   Movement
  </b>
  :
  <br/>
  <b>
   Non-Manual Marker
  </b>
  (Facial expressions and or body language):
  <br/>
  <b>
   Description
  </b>
  :
  <br/>
  <b>
   Interpretations
  </b>
  :
  <br/>
  <b>
   Inflections
  </b>
  :
 </p>
</blockquote>
