<blockquote>
 <hr align="left" color="#000000" size="1" width="50%"/>
 <span style="font-weight: 400">
  <font face="Arial">
   <p style="margin-top: 0; margin-bottom: 0">
    THIS:
    <br/>
    <iframe allow="autoplay; encrypted-media" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/hfa0GQG-LYA?rel=0" width="560">
    </iframe>
    <br/>
   </p>
   <p align="left" style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1" width="50%"/>
  </font>
 </span>
 <p align="left" style="margin-top: 0; margin-bottom: 0">
  <span style="font-weight: 400">
   Also see:
   <a href="../i/indexing.htm">
    INDEXING
   </a>
  </span>
 </p>
 <font face="Arial">
  <span style="font-weight: 400">
   <hr align="left" color="#000000" size="1" width="50%"/>
   <p align="left" style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr/>
   <p align="left" style="margin-top: 0; margin-bottom: 0">
    <br/>
    Notes:
    <br/>
    A student asks:
    <br/>
    What is the difference between THIS and the second version of HERE that 
		points at the ground?
    <br/>
    <br/>
    Response:
    <br/>
    The one-handed version of HERE-[version-2]-[index-finger-handshape] 
		looks and moves very much like the one-handed sign for THIS. 
		Distinctions can include HERE-[version-2] will often tend to use a 
		slight double movement. THIS will often be used to mean IT and point at 
		an object if the object is in the signing space. Also, THIS sometimes 
		will (rarely and not recommended -- but it can) use the non-dominant 
		palm-up flat hand as a base for the dominant index finger.
    <br/>
    The above distinctions aside, the two signs are the same.
    <br/>
   </p>
   <hr/>
   <p align="left" style="margin-top: 0; margin-bottom: 0">
    <br/>
    An interesting note about those signs (HERE-vesion-2/THIS) is that most 
		signers "think" the handshape is an index finger but what often happens 
		during typical signing is when they bend their wrist to point downward 
		the index finger turns into a downward pointing "G" hand due to the 
		tendons in the wrist pulling on the thumb. Of course this handshape 
		change (or not) varies from person to person depending on the 
		flexibility of their hands.
   </p>
  </span>
 </font>
</blockquote>
