<blockquote>
 <hr align="left" color="#000000" size="1" width="50%"/>
 <span style="font-weight: 400">
  <font face="Arial">
   <p style="margin-top: 0; margin-bottom: 0">
    TICKET:
    <br/>
    Use a "bent V" handshape and a "flat" handshape.  Focus on moving the 
dominant hand. The other hand might move a bit but for the most part the 
non-dominant hand stays in place.
    <br/>
    <br/>
    <object classid="CLSID:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=8,0,0,0" height="275" id="FVS" width="320">
     <param name="movie" value="ticket_player.swf?3144713459"/>
     <param name="bgcolor" value="#ffffff"/>
     <param name="allowfullscreen" value="true"/>
     <embed allowfullscreen="true" bgcolor="#ffffff" height="275" name="FVS" pluginspage='http://www.macromedia.com/go/getflashplayer"' src="ticket_player.swf?3144713459" type="application/x-shockwave-flash" width="320"/>
    </object>
    <br/>
   </p>
   <p>
    Memory aid:
Think of "punching a ticket."
    <br/>
    <br/>
   </p>
   <p>
    <img border="0" height="224" src="/images/ticket1.jpg" width="238"/>
    <img border="0" height="224" src="/images/ticket2.jpg" width="238"/>
    <img border="0" height="224" src="/images/ticket3.jpg" width="238"/>
    <img border="0" height="224" src="/images/ticket4.jpg" width="238"/>
   </p>
   <p>
   </p>
   <p>
    Sample sentence: last-YEAR TICKET HOW-MANY YOU? (How many tickets did you get 
last year?)
    <br/>
    <object classid="CLSID:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=8,0,0,0" height="275" id="FVS" width="320">
     <param name="movie" value="../18/last-year-ticket-how-many-you_player.swf?1465622351"/>
     <param name="bgcolor" value="#ffffff"/>
     <param name="allowfullscreen" value="true"/>
     <embed allowfullscreen="true" bgcolor="#ffffff" height="275" name="FVS" pluginspage='http://www.macromedia.com/go/getflashplayer"' src="../18/last-year-ticket-how-many-you_player.swf?1465622351" type="application/x-shockwave-flash" width="320"/>
    </object>
    <br/>
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p>
    <br/>
    If you use a single, somewhat larger motion, it means "get a ticket" or "punch a 
ticket" or "get ticketed."
   </p>
   <p>
   </p>
   <p>
    <img border="0" height="224" src="/images/ticketverb1.jpg" width="238"/>
    <img border="0" height="224" src="/images/ticketverb2.jpg" width="238"/>
    <img border="0" height="224" src="/images/ticketverb3.jpg" width="238"/>
    <br/>
   </p>
   <hr align="left" color="#000000" size="1" width="50%"/>
  </font>
 </span>
</blockquote>
