<blockquote>
 <hr align="left" color="#000000" size="1" width="50%"/>
 <p style="margin-top: 0; margin-bottom: 0">
  <br/>
  The concept of "toy" is generally fingerspelled.
  <br/>
  Some people (mostly Hearing people, not familiar with native Deaf 
	households) think that little children wouldn't understand the fingerspelled 
	word "toy," but that isn't true. To young children the fingerspelled word 
	toy looks like any other sign.
  <font face="Arial">
   The child isn't "reading" the letters, T-O-Y, but rather he or she is 
	seeing a "sign." An 18 month old recognizes the fingerspelled word "toy" 
	using the same process he or she recognizes other signs.  The 
	fingerspelled concept of T-O-Y
  </font>
  has a beginning handshape, (a 
	transitionary middle handshape), an ending handshape, a particular movement, 
	and a regular location.
  <br/>
  <hr align="left" color="#000000" size="1"/>
  <p style="margin-top: 0; margin-bottom: 0">
   <br/>
   Some people choose to initialize the sign PLAY with the letter 'T."  
	While I don't recommend you sign "toy" that way, I think it is good to be 
	"aware" that some Deaf people do it that way. (For example, if you are an 
	Interpreter for the Deaf and one of your clients uses that sign you need to 
	recognize that they aren't doing a two handed "bathroom" sign, but rather 
	they are using the "Signed English version of "toy" by initializing the sign 
	PLAY with a "T" handshape.
   <br/>
   <br/>
   PLAY:
   <br/>
   <img border="0" height="320" src="/images/play-02.gif" width="320"/>
   <br/>
   <hr align="left" color="#000000" size="1" width="50%"/>
   <p style="margin-top: 0; margin-bottom: 0">
    Also see:
    <a href="../p/play.htm">
     PLAY
    </a>
    :
   </p>
  </p>
 </p>
</blockquote>
