<blockquote>
 <hr align="left" color="#000000" size="1"/>
 <p>
  The word "
  <b>
   treat
  </b>
  " is one of those English concepts that can mean many 
	different things and therefore has many different interpretations.
  <font face="Arial">
   There is single widespread sign equivalent to the English word "treat."
  </font>
  <br/>
  <br/>
  For 
	example, "My kids like treats" = (SWEET, CANDY, COOKIE, CAKE).
  <font face="Arial">
   <br/>
   <br/>
   If you mean "something sweet" then perhaps you should see the signs
   <a href="../c/candy.htm">
    CANDY
   </a>
   or
   <a href="../s/sweet.htm">
    SWEET
   </a>
   .
   <br/>
   <br/>
   If you mean "taken care of" see:
  </font>
  <a href="take-care-of.htm" style="text-decoration: none">
   TAKE-CARE-OF
  </a>
  <br/>
  <br/>
  If you mean "It is my treat" as in "I'll pay for it," See:
  <a href="../p/pay.htm">
   PAY
  </a>
  <br/>
  <br/>
  If you mean "He treats me well," you could sign, HE
  <a href="../n/nice.htm">
   NICE
  </a>
  ME. He-
  <a href="../h/help.htm">
   HELP
  </a>
  -me.  
			HE
  <a href="../p/polite.htm">
   POLITE
  </a>
  .
  <br/>
  <br/>
  If you mean, enjoyable as in, "The performance was a real treat!" 
			Then sign TRUE
  <a href="../e/enjoy.htm">
   ENJOY
  </a>
  .
  <br/>
  <br/>
  A student asked me how to sign the sentence:
  <br/>
  "Sometimes people are not treated fairly."
  <br/>
  That type of sentence may be challenging for some interpreters or 
			beginning-level students because the sentence is using passive 
			phraseology.
  <br/>
  Sort of like the sentence, "He 
	was shot."
  <br/>
  In ASL it helps to establish "who shot him."
  <br/>
  You have to establish who is doing the shooting.
  <br/>
  <br/>
  For example, you could sign "MAN, INDEX-left, SOMEONE-right (bodyshift 
	face-left) SHOOT-(toward left)"
  <br/>
  <br/>
  One way to interpret "Sometimes people are not treated fairly" would be to 
	sign:
  <br/>
  PEOPLE RIGHTS OPPORTUNITY EQUAL, EQUAL-(reposition) 
	EQUAL-(reposition) ALWAYS? NOT!
  <br/>
  <br/>
  That ASL construct would indicate that people do not always interact fairly 
	with each other.
  <br/>
  <br/>
  But if you by "not treated fairly" you mean a bunch of things like: taken 
	advantage of, discriminated against, prevented from progressing, given less 
	opportunity...etc. Then you will need to either sign all of that...or use 
	the rest of the discourse to make it clear. You don't just walk up to 
	another person and start signing about human rights issues...there must be a 
	context. To interpret a sentence like that out of context would require 
	several minutes of signing. You could have ten different interpretations and 
	any one of them might be more or less correct depending on the context.
  <br/>
 </p>
 <font face="Arial">
  <hr align="left" color="#000000" size="1"/>
  <p align="center" style="margin-top: 0; margin-bottom: 0">
   <font face="Arial" size="1">
    You can learn
    <a href="http://lifeprint.com" style="text-decoration: none">
     American Sign Language (ASL)
    </a>
    online at American Sign Language University ™
    <br/>
    <a href="http://asl.ms" style="text-decoration: none">
     ASL
    </a>
    resources by Lifeprint.com  ©  Dr. William Vicars
   </font>
  </p>
 </font>
</blockquote>
