<blockquote>
 <font face="Arial">
  <hr align="left" color="#000000" size="1"/>
  <p>
   The sign for "turkey" (as in, we eat "turkey" on
   <a href="thanksgiving.htm">
    Thanksgiving
   </a>
   ) is done by holding a "Q" under, on, or near your chin.
   <b>
    Wiggle it
   </b>
   a couple times as if it were a 
  "wattle." (And in case you were wondering, a wattle is the reddish thing that 
  hangs off a turkey's neck.)
  </p>
  <p>
   <br/>
   TURKEY-(bird)
   <br/>
   <img border="0" height="230" src="/images/turkey.gif" width="219"/>
   <br/>
  </p>
  <hr align="left" color="#000000" size="1"/>
  <div>
   <div>
    <br/>
    Notes:
   </div>
   <div>
    In a message dated 2/4/2007 8:07:59 P.M. Pacific Standard Time, Glopsey 
		writes:
   </div>
   <blockquote style="PADDING-LEFT: 5px; MARGIN-LEFT: 5px; BORDER-LEFT: blue 2px solid">
    <font color="#000000" face="Arial" size="2" style="background-color: transparent">
     <div>
      Small question:
     </div>
     <div>
     </div>
     <div>
      I know the "official" sign for turkey using the Q shaped hand. One 
			professor of mine used an alternative that all other deaf professors 
			say is more of a labeling sign. Make a 5 shape with your left. Make 
			an A with your right take the pinky side of your A hand and press it 
			to the palm of your left 5 shape. It looks like a turkey. I prefer 
			this sign, but the others (or as you said in your site, "Purists") 
			don't like it. I think it's cute! What's your take on it?
     </div>
     <div>
     </div>
     <div>
      Thanks much!
     </div>
     <div>
     </div>
     <div>
      Sara
     </div>
     <div>
      ASL student (not majoring, just for fun!!!)
     </div>
    </font>
   </blockquote>
  </div>
  Sara,
  <p>
   I love that sign!
   <br/>
   It is a clever, playful use of the language.  I wouldn't use it for 
			serious communication, but it is a lot of fun. I call such signs 
			"joke" signs -- meaning they are not actually used by native adult 
			Deaf people for conversation but rather they are used for "playing 
			around."
   <br/>
   Let me share with you another version of that "playful" sign for 
			"turkey": Form one of your hands (generally your dominant hand) into a "five" handshape, 
			and the other hand into an "i" 
	handshape.  You press the thumb side of the "I" handshape up against 
	the palm of the "5" hand.  The "5"-hand represents the tail feathers.  
	The pinkie of the "i"-hand represents the neck and head.
   <br/>
   -- Dr. Bill
   <br/>
  </p>
  <hr align="left" color="#000000" size="1"/>
  <div>
   <div>
    In a message dated 3/25/2007 10:41:38 A.M. Pacific Daylight Time, 
		thundertree@ writes:
   </div>
   <blockquote style="PADDING-LEFT: 5px; MARGIN-LEFT: 5px; BORDER-LEFT: blue 2px solid">
    <font color="#000000" face="Arial" size="2" style="BACKGROUND-COLOR: transparent">
     <div>
      Hi Bill,
     </div>
     <div>
      How are you doing so far? I hope you're doing well. I was asked what 
			the sign for a country named "Turkey"? I have seen it a few times 
			but forgotten. Do you know?
      <br/>
      <br/>
      ~*~RaVen~*~
     </div>
    </font>
   </blockquote>
  </div>
  <div>
   Hi RaVen,
   <br/>
   The version I've seen is a
   <i>
    <b>
     modified
    </b>
   </i>
   "C" hand on the middle of the forehead.  
		You make a "C" with
   <b>
    just the thumb and index
   </b>
   finger, sort of like 
		signing "moon" on your forehead.  It represents the crescent moon that 
		is on the Turkish flag.
   <br/>
   Cordially,
   <br/>
   Dr.
		Bill
  </div>
  <p>
  </p>
  <hr align="left" color="#000000" size="1"/>
  <p align="center" style="margin-top: 0; margin-bottom: 0">
   <font face="Arial" size="1">
    You can learn 
		American
    <a href="http://www.lifeprint.com" style="text-decoration: none">
     Sign 
		Language
    </a>
    (ASL) online at American Sign Language University ™
    <br/>
    <a href="http://asl.ms" style="text-decoration: none">
     ASL
    </a>
    resources by Lifeprint.com  ©  Dr. William Vicars
   </font>
  </p>
 </font>
</blockquote>
