<blockquote>
 <hr align="left" color="#000000" size="1"/>
 <br/>
 <div>
  <div>
   A fellow named "Aries" writes:
  </div>
  <blockquote style="PADDING-LEFT: 5px; MARGIN-LEFT: 5px; BORDER-LEFT: blue 2px solid">
   <font color="#000000" face="Arial" size="2" style="BACKGROUND-COLOR: transparent">
    Dr. Vicars,
    <br/>
    How would you sign
		"underestimate"?
    <br/>
    I have searched online in dictionaries and I cant find
		how you would sign this.
    <br/>
    Would it be one sign? A combo?
    <br/>
    Please advise.
    <br/>
    Thank you
    <br/>
    Aries (-=
   </font>
  </blockquote>
 </div>
 <div>
  Aries,
  <br/>
  The closest sign to "estimate" is going to be the sign for
  <a href="../g/guess.htm">
   GUESS
  </a>
  .
  <br/>
  Another close sign will be FIGURE-out. (Which I still need to post).
  <br/>
  In a mixed English / ASL environment filled with individuals who know 
		both languages you might see someone sign: "LESS-THAN GUESS" to mean 
		underestimate.
  <br/>
  <br/>
  How you express "underestimate" in ASL will depend on what is being 
		underestimated.
  <br/>
  <br/>
  For example, if I underestimated an opponent's physical strength, I 
		might sign:
  <br/>
  I THOUGHT HIM WEAK. WRONG! HE STRONG!
  <br/>
  <br/>
  If I have underestimated a test:
  <br/>
  I THOUGHT TEST "NOTHING-TO-IT."  HIT-(me in the face). 
		TEST HARD!
 </div>
 <div>
  <br/>
  If I have underestimated expenses or money:
  <br/>
  I FIGURED 50 DOLLAR.  not-ENOUGH.
  <br/>
  I THOUGHT I NEED 50 DOLLAR. NEED MORE.
 </div>
 <div>
  <br/>
  Thus there are many, many ways to express the concept of "underestimate" 
		(rather than one specific way).
  <br/>
  If it were to be used again and again in a spoken lecture I would not 
		mind if the interpreter signed "LESS-than ESTIMATE-(guess)"
 </div>
 <div>
  Cordially,
  <br/>
  Dr. Bill
 </div>
 <p style="margin-top: 0; margin-bottom: 0">
  <br/>
 </p>
 <font face="Arial">
  <hr align="left" color="#000000" size="1"/>
  <p align="center" style="margin-top: 0; margin-bottom: 0">
   <font face="Arial" size="1">
    You can learn
    <a href="http://lifeprint.com" style="text-decoration: none">
     American Sign Language (ASL)
    </a>
    online at American Sign Language University ™
    <br/>
    <a href="http://asl.ms" style="text-decoration: none">
     ASL
    </a>
    resources by Lifeprint.com  ©  Dr. William Vicars
   </font>
  </p>
 </font>
</blockquote>
