<blockquote>
 <hr align="left" color="#000000" size="1"/>
 <p>
  <br/>
  The general sign for UP (opposite of down) just points an index finger into 
	the air.
  <br/>
  If you use a double movement this sign can mean "upstairs."
 </p>
 <p>
  <br/>
  UP:
  <br/>
  <img border="0" height="231" src="/images/up1.jpg" width="234"/>
  <img border="0" height="231" src="/images/up2.jpg" width="234"/>
 </p>
 <hr align="left" color="#000000" size="1"/>
 <p>
  <br/>
  up till now, ever since, have been...
  <br/>
  <img border="0" height="224" src="/images/up-till-now-b1.jpg" width="188"/>
  <img border="0" height="224" src="/images/up-till-now-b2.jpg" width="188"/>
  <br/>
 </p>
 <hr align="left" color="#000000" size="1"/>
 <p>
  <br/>
  wake up:
  <br/>
  <img border="0" height="225" src="/images/up-wakeup1.jpg" width="229"/>
  <img border="0" height="225" src="/images/up-wakeup2.jpg" width="229"/>
  <br/>
 </p>
 <hr align="left" color="#000000" size="1"/>
 <p>
  <br/>
  Give up, surrender, sacrifice...
  <br/>
  <img border="0" height="231" src="/images/give-up1.jpg" width="290"/>
  <img border="0" height="231" src="/images/give-up2.jpg" width="290"/>
 </p>
 <hr align="left" color="#000000" size="1" width="50%"/>
 <p style="margin-top: 0; margin-bottom: 0">
  See:
  <a href="../d/down.htm">
   DOWN
  </a>
  <br/>
 </p>
 <font face="Arial">
  <hr align="left" color="#000000" size="1"/>
  <p align="center" style="margin-top: 0; margin-bottom: 0">
   <font face="Arial" size="1">
    You can learn
    <a href="http://lifeprint.com" style="text-decoration: none">
     American Sign Language (ASL)
    </a>
    online at American Sign Language University ™
    <br/>
    <a href="http://asl.ms" style="text-decoration: none">
     ASL
    </a>
    resources by Lifeprint.com  ©  Dr. William Vicars
   </font>
  </p>
 </font>
</blockquote>
