<blockquote>
 <hr align="left" color="#000000" size="1"/>
 If you mean "used" as in, "I've used that before," see:
 <a href="use.htm">
  USE
 </a>
 <br/>
 If you mean "used" as in "I used to live there,"
 <font face="Arial">
  See:
  <a href="../p/past.htm">
   PAST
  </a>
 </font>
 <br/>
 Sometimes you might want to use the sign for "old" to mean used.
 <br/>
 See:
 <a href="../o/old.htm">
  OLD
 </a>
 <p>
  If you mean "used" as in a 
			"used car" see the explanation below.
 </p>
 <font face="Arial">
  <hr align="left" color="#000000" size="1"/>
 </font>
 <p>
  <br/>
 </p>
 <div>
  <div>
   In a message dated 10/29/2006 1:23:31 PM Pacific Standard Time, rollendonner@ writes:
  </div>
  <blockquote style="PADDING-LEFT: 5px; MARGIN-LEFT: 5px; BORDER-LEFT: blue 2px solid">
   <font color="#000000" face="Arial" size="2" style="BACKGROUND-COLOR: transparent">
    I learned a "new" sign today that [my] 
		teacher hadn't known before: apparently the local slang for "used car" is signed with an "L" sign with the index finger 
		pointed away from you like a pistol (at about a 45 degree angle) and shaking it back and forth a few times--like prodding 
		someone with a gun to buy a car they don't really want? The person who had learned it from Deaf friends had no explanation 
		but swore that it was true.
   </font>
  </blockquote>
 </div>
 <div>
  Loren,
  <br/>
  Actually, that sign is based on a sign that means "second" as in "I second that motion," or "used / second-hand"
  <br/>
  When at a board meeting if we want to second something we will use the "L" hand pointed somewhat forward and up.  The 
		movement is a forward/sidewards roll with a quick ending.
  <br/>
  If you roll the sign toward a person that sign can also be used to mean, "
  <b>
   it's your turn
  </b>
  ."
  <br/>
  When this sign is used for cars it means "a second-hand car."
  <br/>
  -- Dr.
		Bill
 </div>
 <p style="margin-top: 0; margin-bottom: 0">
  <br/>
  SECOND-HAND / his-her-TURN / (used) / STEP-(as in step-mom or step 
			dad)
  <p style="margin-top: 0; margin-bottom: 0">
   <font face="Arial">
    <img border="0" height="240" src="/images/turn1.jpg" width="249"/>
    <img border="0" height="240" src="/images/turn2.jpg" width="249"/>
    <img border="0" height="240" src="/images/turn3.jpg" width="249"/>
   </font>
  </p>
  <p style="margin-top: 0; margin-bottom: 0">
   <br/>
  </p>
  <font face="Arial">
   <hr align="left" color="#000000" size="1"/>
   <p align="center" style="margin-top: 0; margin-bottom: 0">
    <font face="Arial" size="1">
     You can learn
     <a href="http://lifeprint.com" style="text-decoration: none">
      American Sign Language (ASL)
     </a>
     online at American Sign Language University ™
     <br/>
     <a href="http://asl.ms" style="text-decoration: none">
      ASL
     </a>
     resources by Lifeprint.com  ©  Dr. William Vicars
    </font>
   </p>
  </font>
 </p>
</blockquote>
