<blockquote>
 <font face="Arial">
  <span style="font-weight: 400">
   <hr align="left" color="#000000" size="1" width="50%"/>
  </span>
  <p style="margin-top: 0; margin-bottom: 0">
   <span style="font-weight: 400">
    There are several ways to indicate the video recording process.
    <br/>
    <br/>
    Here is a good general sign that shows a video camera in the action of 
recording.
   </span>
  </p>
 </font>
 <span style="font-weight: 400">
  <font face="Arial">
   I'm using my base hand as a form of "tripod" to emphasize that I'm in 
the act of officially recording something.
   <p style="margin-top: 0; margin-bottom: 0">
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    VIDEO-record:
    <br/>
    <img border="0" height="250" src="/images/video-record.jpg" width="207"/>
    <object classid="CLSID:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=8,0,0,0" height="275" id="FVS" width="320">
     <param name="movie" value="video-record_player.swf?164643872"/>
     <param name="bgcolor" value="#ffffff"/>
     <param name="allowfullscreen" value="true"/>
     <embed allowfullscreen="true" bgcolor="#ffffff" height="275" name="FVS" pluginspage='http://www.macromedia.com/go/getflashplayer"' src="video-record_player.swf?164643872" type="application/x-shockwave-flash" width="320"/>
    </object>
    <br/>
   </p>
   <hr align="left" color="#000000" size="1" width="50%"/>
   <p style="margin-top: 0; margin-bottom: 0">
    Also see:
    <a href="video-game.htm">
     VIDEO-GAME
    </a>
   </p>
   <hr align="left" color="#000000" size="1" width="50%"/>
   <p style="margin-top: 0; margin-bottom: 0">
    Also see:
    <a href="video-phone.htm">
     VIDEO-PHONE
    </a>
   </p>
   <hr align="left" color="#000000" size="1" width="50%"/>
   <p style="margin-top: 0; margin-bottom: 0">
    Also see:
    <a href="videotape.htm">
     VIDEO-TAPE
    </a>
   </p>
   <hr align="left" color="#000000" size="1" width="50%"/>
   <p style="margin-top: 0; margin-bottom: 0">
    Also see:
    <a href="../w/webcam.htm">
     WEBCAM
    </a>
   </p>
   <hr align="left" color="#000000" size="1" width="50%"/>
   <p style="margin-top: 0; margin-bottom: 0">
   </p>
   <p align="left" style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1"/>
  </font>
 </span>
 <p align="left" style="margin-top: 0; margin-bottom: 0">
  Optional Reading / 
Archives:
 </p>
 <span style="font-weight: 400">
  <font face="Arial">
   <p style="margin-top: 0; margin-bottom: 0">
    <br/>
    Now I'll show you a couple of older versions of this sign that I don't see 
much any more. There were about 5 ways to sign video record.  One 
common method was to use an "L" hand or a "3" hand so show a person using a 
"camcorder."
    <br/>
    <br/>
    CAMCORDER-(video record) (not recommended)
    <br/>
    <img border="0" height="238" src="/images/video-verb1.jpg" width="231"/>
    <img border="0" height="238" src="/images/video-verb2.jpg" width="231"/>
    <img border="0" height="238" src="/images/video-verb3.jpg" width="231"/>
    <img border="0" height="238" src="/images/video-verb4.jpg" width="231"/>
    <img border="0" height="238" src="/images/video-verb5.jpg" width="231"/>
    <img border="0" height="238" src="/images/video-verb6.jpg" width="231"/>
    <img border="0" height="238" src="/images/video-verb7.jpg" width="231"/>
    <br/>
   </p>
   <p style="margin-top: 0; margin-bottom: 0">
    The above sign was also often done with the thumb, index and middle
finger.
    <br/>
    From there it evolved into the more modern version done with all of the fingers in
sort of an "open-AND" type handshape.
    <br/>
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p style="margin-top: 0; margin-bottom: 0">
    <br/>
    Here is another old sign for video record. It is based on the "camcorder" 
concept as well.
I don't use this sign, but I thought it was worth passing along.  The
fingertips and thumb-tip actually touch your forehead and cheek.
    <br/>
    <br/>
    VIDEO-CAMCODER:
    <br/>
    <img border="0" height="238" src="/images/video-camcoder1.jpg" width="246"/>
    <img border="0" height="238" src="/images/video-camcoder2.jpg" width="246"/>
    <img border="0" height="238" src="/images/video-camcoder3.jpg" width="246"/>
    <img border="0" height="238" src="/images/video-camcoder4.jpg" width="246"/>
    <img border="0" height="238" src="/images/video-camcoder5.jpg" width="246"/>
    <img border="0" height="238" src="/images/video-camcoder6.jpg" width="246"/>
    <img border="0" height="238" src="/images/video-camcoder7.jpg" width="246"/>
    <img border="0" height="238" src="/images/video-camcoder8.jpg" width="246"/>
   </p>
  </font>
 </span>
</blockquote>
