<blockquote>
 <hr align="left" color="#000000" size="1"/>
 <p style="margin-top: 0; margin-bottom: 0">
  The sign for "wait" holds the hands up and off to the side a 
	bit. Wiggle the fingers.
  <p style="margin-top: 0; margin-bottom: 0">
   <br/>
   WAIT:
   <p style="margin-top: 0; margin-bottom: 0">
    <iframe allow="autoplay; encrypted-media" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/YfwgS9ZsBVw?rel=0" width="560">
    </iframe>
    <br/>
    <img border="0" height="235" src="/images/wait1.jpg" width="269"/>
    <img border="0" height="235" src="/images/wait2.jpg" width="269"/>
    <img border="0" height="235" src="/images/wait3.jpg" width="269"/>
    <img border="0" height="235" src="/images/wait4.jpg" width="269"/>
    <p style="margin-top: 0; margin-bottom: 0">
     <p style="margin-top: 0; margin-bottom: 0">
      WAIT-a-long-time:
      <br/>
      <font face="Arial">
       <iframe allow="autoplay; encrypted-media" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/El-hYok08Qk?rel=0" width="560">
       </iframe>
       <hr align="left" color="#000000" size="1"/>
      </font>
     </p>
    </p>
   </p>
  </p>
 </p>
</blockquote>
