<blockquote>
 <hr align="left" color="#000000" size="1"/>
 <p style="margin-top: 0; margin-bottom: 0">
  The sign for "week" has a couple of variations. The basic
  <font face="Arial">
   sign for "week" is
made by forming your dominant hand into an index-finger handshape and moving 
	your hand forward over the palm of your non-dominant hand.
  </font>
  <br/>
  <br/>
  WEEK:
  <br/>
  <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/N6giWOcMj2U?rel=0" width="560">
  </iframe>
  <p style="margin-top: 0; margin-bottom: 0">
   <font face="Arial">
    <img height="129" src="/images/week.gif" width="213"/>
    <img border="0" height="215" src="/images/week1.jpg" width="200"/>
    <img border="0" height="215" src="/images/week2.jpg" width="200"/>
    <img border="0" height="215" src="/images/week3.jpg" width="200"/>
   </font>
   <font face="Arial">
    <p style="margin-top: 0; margin-bottom: 0">
     <br/>
    </p>
    <hr align="left" color="#000000" size="1"/>
   </font>
   <p style="margin-top: 0; margin-bottom: 0">
    <br/>
    "One week has how many days?"
    <br/>
    <p style="margin-top: 0; margin-bottom: 0">
     <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/aBzsIHJ2L7g?rel=0" width="560">
     </iframe>
     <br/>
     <font face="Arial">
      <hr align="left" color="#000000" size="1"/>
     </font>
     <p style="margin-top: 0; margin-bottom: 0">
      <br/>
      Variation
      <font face="Arial">
       :
       <br/>
       The sign WEEK can also be done with the left
hand (or non-dominant hand) in an "index finger" handshape, palm facing right.  The
right hand slides outward over the top/side of the left hand and index finger. 
If you are holding a drink or a sandwich in your left hand you can even do this sign without
the left hand! (Like most signs actually). 
	See "
       <a href="weekadvanced.htm">
        week (advanced)
       </a>
       "
       <br/>
      </font>
     </p>
     <font face="Arial">
      <hr align="left" color="#000000" size="1"/>
     </font>
     <p style="margin-top: 0; margin-bottom: 0">
      <font face="Arial">
       Also see:  "
       <a href="weeknext.htm">
        next week
       </a>
       "
      </font>
     </p>
     <font face="Arial">
      <hr align="left" color="#000000" size="1"/>
     </font>
     <p style="margin-top: 0; margin-bottom: 0">
      <font face="Arial">
       Also see: "
       <a href="weekend.htm">
        weekend
       </a>
       "
      </font>
     </p>
     <font face="Arial">
      <hr align="left" color="#000000" size="1"/>
     </font>
    </p>
   </p>
  </p>
 </p>
</blockquote>
