<blockquote>
 <h1 style="margin-top: 0; margin-bottom: 0">
  <font face="Arial">
   <font size="5">
    <span style="font-weight: 400">
     American Sign Language: 
		"where"
    </span>
   </font>
   <br/>
  </font>
 </h1>
 <p>
  <hr align="left" color="#000000" size="1" width="50%"/>
  <span style="font-weight: 400">
   <p align="left" style="margin-top: 0; margin-bottom: 0">
    <font size="+1">
     T
    </font>
    he sign for "where"
is made using an INDEX-finger handshape. Hold your hand in front of you and
  "pivot" the hand side to side a couple of times. The movement 
is in the wrist and elbow NOT in the finger joint.
   </p>
   <p align="left" style="margin-top: 0; margin-bottom: 0">
   </p>
   <p align="left" style="margin-top: 0; margin-bottom: 0">
    WHERE?:
   </p>
   <p align="left" style="margin-top: 0; margin-bottom: 0">
    <img height="304" src="/images/where.gif" width="192"/>
    <img src="/images/where.gif" style="max-width: 100%; height: auto" width="480"/>
   </p>
   <p align="left" style="margin-top: 0; margin-bottom: 0">
    <iframe allowfullscreen="" frameborder="0" height="315" name="I1" src="https://www.youtube.com/embed/HS0SXS-GHYY?rel=0" width="560">
    </iframe>
   </p>
   <p align="left" style="margin-top: 0; margin-bottom: 0">
    Memory aid:
    <br/>
    In the days before GPS and electronic maps on phones people used to use 
paper-based maps.
    <br/>
    A very common way of using such a map would be to put your finger on the map and 
move your fingertip a bit to this side or that side as attempted to figure out "
    <b>
     where
    </b>
    " 
you were on the map.
    <br/>
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p align="left" style="margin-top: 0; margin-bottom: 0">
    WHERE?
   </p>
   <p align="left" style="margin-top: 0; margin-bottom: 0">
    <img border="0" height="480" src="/images/where-01.jpg" width="480"/>
    <img border="0" height="480" src="/images/where-02.jpg" width="480"/>
    <img border="0" height="480" src="/images/where-03.jpg" width="480"/>
    <img border="0" height="480" src="/images/where-04.jpg" width="480"/>
   </p>
   <p align="left" style="margin-top: 0; margin-bottom: 0">
   </p>
   <hr align="left" color="#000000" size="1"/>
   <p align="left" style="margin-top: 0; margin-bottom: 0">
    Notice the "furrowed eyebrows?"  They are part of the
sign.  When asking questions you use "furrowed eyebrows" for all of the "wh-"
question types:  WHO, WHEN, WHERE, WHY, WHICH, FOR-FOR=(what-for).  
	However, if you are asking a yes/no question (a question that can be 
	answered with a yes or no) your eyebrows should be up.
    <br/>
    Remember:
    <br/>
    Eyebrows up for "yes/no" questions.
    <br/>
    Eyebrows down for "wh" questions.
    <br/>
    (Unless it is a rhetorical question. But that is another lesson for a later 
	time).
    <br/>
    <br/>
    Also, consider the difference between a “D” handshape and a “1" or 
	"index-finger” handshape. You should do signs like “WHERE” and "
    <a href="../m/meet.htm">
     MEET
    </a>
    " 
	using the 1/index-finger handshape (not a “D” handshape).
   </p>
  </span>
  <hr align="left" color="#000000" size="1" width="50%"/>
  <hr align="left" color="#000000" size="1"/>
  <script type="text/javascript">
   <!--
google_ad_client = "ca-pub-2513564923850231";
/* 728x15_link_ads_adsense1_bottom */
google_ad_slot = "2289748297";
google_ad_width = 728;
google_ad_height = 15;
//-->
  </script>
  <script src="//pagead2.googlesyndication.com/pagead/show_ads.js" type="text/javascript">
  </script>
  <p align="center" style="margin-top: 0; margin-bottom: 0">
  </p>
  <script type="text/javascript">
   <!--
google_ad_client = "ca-pub-2513564923850231";
/* 728x15_link_ads_adsense1_bottom */
google_ad_slot = "2289748297";
google_ad_width = 728;
google_ad_height = 15;
//-->
  </script>
  <script src="//pagead2.googlesyndication.com/pagead/show_ads.js" type="text/javascript">
  </script>
  <p align="center" style="margin-top: 0; margin-bottom: 0">
  </p>
  <script type="text/javascript">
   <!--
google_ad_client = "ca-pub-2513564923850231";
/* 728x15_link_ads_adsense1_bottom */
google_ad_slot = "2289748297";
google_ad_width = 728;
google_ad_height = 15;
//-->
  </script>
  <script src="//pagead2.googlesyndication.com/pagead/show_ads.js" type="text/javascript">
  </script>
  <hr align="left" color="#000000" size="1"/>
  <p style="margin-top: 0; margin-bottom: 0">
   <br/>
   * 
Want to help support ASL University?  It's
   <i>
    easy
   </i>
   :
   <b>
    <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&amp;hosted_button_id=XHRNABERKJT4N" rel="nofollow" target="_blank">
     <u>
      DONATE
     </u>
    </a>
   </b>
   <font size="2">
    (
    <i>
     Thanks!
    </i>
    )
   </font>
   <br/>
   <br/>
   <font face="Arial">
    *
   </font>
   Another way to help is to buy something from Dr. Bill's "
   <b>
    <a href="../../../bookstore/bookstore.htm">
     <u>
      Bookstore
     </u>
    </a>
   </b>
   ."
  </p>
  <p style="margin-top: 0; margin-bottom: 0">
   <br/>
   <font face="Arial">
    *
   </font>
   Want even more ASL resources?  Visit the "
   <b>
    <a href="http://www.asl.tc/landing/index.html" rel="nofollow" target="_blank">
     ASL Training Center
    </a>
    !
   </b>
   "  (Subscription 
Extension of ASLU)
   <br/>
   <br/>
   *  Also check out Dr. Bill's channel:
   <a href="http://www.youtube.com/billvicars">
    www.youtube.com/billvicars
   </a>
   <font size="2">
    <br/>
   </font>
  </p>
  <hr align="left" color="#000000" size="1"/>
  <p align="center" style="margin-top: 0; margin-bottom: 0">
   <font size="1">
    You can learn
    <a href="http://lifeprint.com">
     American Sign Language (ASL)
    </a>
    online at American Sign Language University ™
    <br/>
    <a href="http://asl.ms" style="text-decoration: none">
     ASL
    </a>
    resources by Lifeprint.com  ©  Dr. William Vicars
   </font>
  </p>
  <hr color="#000000" size="1"/>
  <p>
  </p>
 </p>
</blockquote>
