<blockquote>
 <hr align="left" color="#000000" size="1"/>
 <font face="Arial">
  <font size="+1">
   T
  </font>
  he sign for "year" is made by forming both hands 
	into the letter "S."  If you are right handed, rotate your right hand 
	completely around the left. The right hand should come to rest on top of the 
	left.
  <br/>
  <br/>
  YEAR:
  <br/>
  <iframe allow="autoplay; encrypted-media" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/zTIJAgTai40?rel=0" width="560">
  </iframe>
  <br/>
  <img border="0" height="228" src="/images/year1.jpg" width="222"/>
  <img border="0" height="228" src="/images/year2.jpg" width="222"/>
  <img border="0" height="228" src="/images/year3.jpg" width="222"/>
  <img border="0" height="228" src="/images/year4.jpg" width="222"/>
  <img border="0" height="228" src="/images/year5.jpg" width="222"/>
  <img border="0" height="228" src="/images/year6.jpg" width="222"/>
  <p>
   <img border="0" src="/images/year-2.gif" style="max-width: 100%; height: auto" width="480"/>
   <img height="216" src="/images/year.gif" width="216"/>
  </p>
  <p>
   Memory aid: Think of the earth circling the sun in one
    year's time.
  </p>
 </font>
 <hr align="left" color="#000000" size="1" width="50%"/>
 <p style="margin-top: 0; margin-bottom: 0">
  <br/>
  DEAF SEIZE-[occupy] GALLAUDET WHICH YEAR?
  <br/>
  <iframe allow="autoplay; encrypted-media" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/kbY5t0-9z2E?rel=0" width="560">
  </iframe>
  <br/>
 </p>
 <font face="Arial">
  <hr align="left" color="#000000" size="1"/>
  <p style="margin-top: 0; margin-bottom: 0">
   Note: There is a "casual" way of 
doing the "YEAR" sign that holds the right hand (if you are right handed) above the left hand and does a very quick, small
    rotating movement. The difference is in the "casual version: the right hand stays above the left hand and doesn't actually circle
    the left hand. It comes to rest upon the top of the left hand.
   <br/>
   <br/>
   For more information:
   <br/>
   Also see:
   <a href="yearadvanced.htm">
    YEAR (advanced)
   </a>
   <br/>
   Also see:
   <a href="../a/annual.htm">
    ANNUAL
   </a>
   <br/>
   Also see:
   <a href="../l/last-year-2.htm">
    LAST-YEAR (version 2)
   </a>
   <br/>
   Also see:
   <a href="years.htm">
    YEARS
   </a>
   <br/>
  </p>
  <hr align="left" color="#000000" size="1"/>
  <p style="margin-top: 0; margin-bottom: 0">
   <br/>
   Notes:
   <br/>
   <br/>
   In a message dated 2/28/2012 4:00:38 P.M. Pacific Standard Time, Vicki (an 
	interpreter in Alaska) writes:
   <br/>
   <br/>
   How do we sign 2012 now?
   <br/>
   - Vicki
   <br/>
   <br/>
   Vicki,
   <br/>
   Hello :)
   <br/>
   You'll see it a couple ways out in the community, but personally, I do it 
	"20" "12" (each number having only one movement since it is a compound).
   <br/>
   -- Dr. Bill
  </p>
  <p style="margin-top: 0; margin-bottom: 0">
  </p>
  <hr/>
  <p style="margin-top: 0; margin-bottom: 0">
   In a message dated 4/20/2018 a 
	Youtuber asked:
   <br/>
   <br/>
   QUESTION:
  </p>
  <p style="margin-top: 0; margin-bottom: 0">
   "Since its been quite a while 
	since the original video was filmed, how would you sign 2018?﻿"
   <br/>
   <br/>
   RESPONSE:
   <br/>
   Signs for the years 2011-2019 still exhibit quite a bit of variety. If you 
	watch enough online videos ore chat with enough Deaf folks you will 
	certainly see them done more than one way. For what it is worth I tend to 
	sign 2018 by compounding the number 20 and then the number 18. The thing to 
	understand when making compounds is that you tend to reduce movement and/or 
	repetitions. For example, instead of doing "20" using a double movement you 
	instead reduce the movement to one contact of the pads of the thumb and 
	index finger and then you smoothly / quickly transition to an "8" hand and 
	twist it one time towards the outside (without repeating the twist). In 
	isolation those two numbers "20" and "18" both tend to use two movements 
	each -- but when compounded into the year 2018 the "20" and "18" use only 
	one movement each (though there is some leftover jitter in the 18 at the end 
	of the sign).
  </p>
  <p style="margin-top: 0; margin-bottom: 0">
  </p>
  <hr align="left" color="#000000" size="1"/>
 </font>
</blockquote>
