<blockquote>
 <p style="margin-top: 0; margin-bottom: 0">
  <span style="font-weight: 400">
   <font face="Arial">
   </font>
  </span>
  <hr align="left" color="#000000" size="1" width="50%"/>
  <span style="font-weight: 400">
   <font face="Arial">
    <p style="margin-top: 0; margin-bottom: 0">
     z:
     <br/>
     <br/>
     <a href="/images/z.gif">
      <img alt="z.gif (387759 bytes)" border="2" height="100" src="/images/z_small.gif" width="100" xthumbnail-orig-image="../../fingerspelling/abc-gifs/z.gif"/>
     </a>
     <br/>
    </p>
    <hr align="left" color="#000000" size="1" width="50%"/>
   </font>
  </span>
  <p style="margin-top: 0; margin-bottom: 0">
   <span style="font-weight: 400">
    See 
also: "
    <a href="zz.htm">
     Double Z
    </a>
    "
   </span>
  </p>
  <font face="Arial">
   <span style="font-weight: 400">
    <hr align="left" color="#000000" size="1" width="50%"/>
    <p style="margin-top: 0; margin-bottom: 0">
     <br/>
    </p>
   </span>
  </font>
  <font face="Arial">
  </font>
 </p>
</blockquote>
