---
import "~/scss/styles.scss";
import MetaTags from "~/components/MetaTags.astro";

const { meta } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <MetaTags meta={meta} />
  </head>

  <body>
    <slot />
  </body>
</html>
