---
import PageLayout from "~/layouts/PageLayout.astro";
const { frontmatter } = Astro.props;
---

<PageLayout>
    <h1>Some header here</h1>
    <!-- sign instructions go here -->
    <slot />
    <div class="embed-responsive embed-responsive-16by9">
        <iframe
            class="embed-responsive-item"
            src={frontmatter.videoURL}
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
    </div>
</PageLayout>
